<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */


     $info=$this->data;
     echo '<table border="1">';
     

    for($i=0;$i<count($info);$i++)
    {
      echo'<tr>';  
        echo '<td>';
        echo $info[$i];
        echo '</td>';
        echo '</tr>'; 
       
    }
    
  
    echo '<table>';
    
    echo '<pre>';
        print_r($this->pakagedatashow2);
    echo '</pre>';
