<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<?php
if($this->tracking_info)
{
	foreach ($this->tracking_info as $entry)
	{
		$tracking_number = $entry->tracking_number;
		break;
	}
}
if($this->tracking_info)
{
	$track_number = $tracking_number;
}	
else
{
	$track_number = ($this->track_number) ? $this->track_number : $this->trackerForm->tracking_number->getValue();
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array('edit_enable' => $this->allow('edit','backendtrack','Tracker'), 
				  		'publish_enable' => $this->allow('publish','backendtrack','Tracker'), 
				  		'delete_enable' => $this->allow('delete','backendtrack','Tracker'));
?>

<script type="text/javascript">

$(document).ready(function() {	
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendtrack', 'action' => 'list' ), 'adminrout',    true); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						no_browse_url: true,
						dataSource_filter : [
								<?php if(trim($this->posted_data['tracking_number'])) : ?>{field: 'tracking_number', operator: "eq", value: <?php echo trim($this->posted_data['tracking_number']); ?>}<?php endif; ?>
							],
						form_action : {
											form_id: 'editTrackform',
											hasTinyMCE: false,										
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',																			
											extra_field_for_reset: [],
											extra_function_for_reset: function(){}
									},						
						calendar:	{
										calendar_include_time: false,	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: ''
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendairwaybill', 'action'     => 'publish' ), 'adminrout',    true) ?>",
								publish_dest_data_field 	: 	['id', 'airwaybill_number', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendairwaybill', 'action'     => 'delete' ), 'adminrout',    true) ?>",
								delete_dest_data_field 		: 	['id', 'airwaybill_number'],
																
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendairwaybill', 'action'     => 'publishall' ), 'adminrout',    true) ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendairwaybill', 'action'     => 'deleteall' ), 'adminrout',    true) ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},						
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },						
						dataBound: function(e) {	
								var self = this;														                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
										airwaybill_number: { type: "string" },
                                        details: { type: "string" },
                                        status_date: { type: "date" },
                                        air_delivered: { type: "enums"}
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('tracker_list_page_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ field: "airwaybill_number", 		title: 	"<?php echo $this->translator->translator('tracker_list_track_no'); ?>", width: 130},
											{ 
												field: "details", 		
												title:	"<?php echo $this->translator->translator('tracker_list_page_description'); ?>"
											},
											{  
												field: "status_date", 
												format: "{0:dd MMMM, yyyy}",
											   	title:	"<?php echo $this->translator->translator('tracker_list_last_date_worked'); ?>" ,
												template: '#= kendo.toString(status_date,\'dd MMMM, yyyy\') # <?php echo html_entity_decode($this->translator->translator('tracker_status_at_title'), ENT_QUOTES, 'UTF-8'); ?> #= status_time_hour #:#= status_time_minute #'
											},
											{ 	
												field: "air_delivered", 
												optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",												
												title:	"<?php echo $this->translator->translator('tracker_status'); ?>", 
												width: 90,
												template: '<img src="#= (air_delivered == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (air_delivered == 1) ? \'<?php echo html_entity_decode($this->translator->translator('tracker_status'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('tracker_undelivered_selected'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (air_delivered == 1) ? \'<?php echo html_entity_decode($this->translator->translator('tracker_status'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('tracker_undelivered_selected'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" />',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({	
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("tracker_undelivered_selected"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("tracker_status"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",														
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<center><?php echo $this->translator->translator('common_action'); ?></center>", 
												width: 70, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'Tracker', 'controller' => 'backendtrack', 'action'  => 'edit', 'id' => '' ), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{ 
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("tracker_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("tracker_selected_err"); ?>"
									}
					};
	
	<?php if(!empty($this->tracking_info)) : ?>commonGrid(settingObj);<?php endif; ?>
	commonCalendar('status_date', settingObj, settingObj.calendar.calendar_include_time);
		
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
	});
	
	$('a.edit_track_btn').click(function() {			
			
		var formData =  commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);	
		<?php if(empty($this->tracking_number)) { ?>
			formData.id = '<?php echo $this->id; ?>';
		<?php } ?>
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Tracker','controller' => 'backendtrack', 'action'     => 'edit' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);
					try
					{					
						var json_arr = eval("("+response+")");					
						commonCloseLoaderDialog(settingObj);					
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));		
							document.location.href = "<?php echo $this->url(array('module' => 'Tracker','controller' => 'backendtrack', 'action'     => 'edit', 'tracking_number' =>  $track_number), 'adminrout',    true); ?>";						
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else
						{							
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);	
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});		
	
});
</script>
<div id="button_top_bar"></div>
<div class="title-container">
	<div class="status-edit"><h1><?php echo $this->translator->translator('tracker_status_edit_title'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Tracker','controller' => 'backendtrack', 'action'     => 'list'), 'adminrout',    true); ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_track_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_update_status'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    
	<div id="content-inner">
    	<form name="editTrackform" id="editTrackform" method="post">
        	<div id="actionMessage"></div>
        	<div id="generalInfo">
            	<fieldset class="fieldset last">
                    <legend class="legend"><?php echo $this->translator->translator('tracker_status_page_info'); ?></legend>
                    <div class="form">
                    	<div class="form-row">
                            <div class="label">
                                &nbsp;
                            </div>
                            
                            <div class="field">
                                <?php 
									if($this->delivered == '1')
									{
										echo $this->translator->translator('tracker_status_already_delivered');
									}
								?>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                                <?php echo $this->trackerForm->tracking_number->getLabel();  if($this->trackerForm->tracking_number->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php	
									if(!empty($tracking_number))
									{
										$this->trackerForm->tracking_number->setValue($tracking_number);
									}
									//if($this->delivered == '1')
									//{
										$this->trackerForm->tracking_number->setAttrib('readonly','readonly');
									//}
									echo $this->trackerForm->tracking_number;
									$tracking_no = $this->trackerForm->tracking_number->getValue();
								?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->trackerForm->tracking_number->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->trackerForm->tracking_number->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                                <?php echo $this->trackerForm->details->getLabel();  if($this->trackerForm->details->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php	
									if($this->delivered == '1')
									{
										$this->trackerForm->details->setAttrib('readonly','readonly');
									}
									echo $this->trackerForm->details; 
								?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->trackerForm->details->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->trackerForm->details->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                                <?php echo $this->trackerForm->location->getLabel();  if($this->trackerForm->location->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php	
									if($this->delivered == '1')
									{
										$this->trackerForm->location->setAttrib('readonly','readonly');
									}
									echo $this->trackerForm->location; 
								?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->trackerForm->location->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->trackerForm->location->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                                <?php echo $this->trackerForm->status_date->getLabel();  if($this->trackerForm->status_date->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php	
									if($this->delivered == '1')
									{
										$this->trackerForm->status_date->setAttrib('readonly','readonly');
									}
									echo $this->trackerForm->status_date; 
								?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->trackerForm->location->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->trackerForm->status_date->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                                <?php echo $this->trackerForm->status_time_hour->getLabel();  if($this->trackerForm->status_time_hour->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                            	<select name="status_time_hour">
                                	<option value="00">00</option>
									<?php	
                                    for($i = 1; $i < 25; $i++)
                                    {
                                        if(strlen($i) == 1)
                                        {
                                            $i = '0'.$i;
                                        }															
                                    ?>
									<option value="<?php echo $i; ?>" <?php if($this->trackerForm->status_time_hour->getValue() == $i) echo 'selected= "selected"'; ?>><?php echo $i; ?></option>
									<?php	
                                        }
                                    ?>
								</select>&nbsp;:
                                
                              	<select name="status_time_minute">
                                	<option value="00">00</option>
									<?php	
                                    for($i = 1; $i < 61; $i++)
                                    	{															
                                    ?>
                                	<option value="<?php if(strlen($i) == '1') {echo '0'.$i;} else {echo $i;} ?>" <?php if($this->trackerForm->status_time_minute->getValue() == $i) echo 'selected= "selected"'; ?>>
                                  		<?php if(strlen($i) == '1') {echo '0'.$i;} else {echo $i;} ?>
                                	</option>
                                	<?php	
                                		}
                              		?>
                              	</select>
                            </div>
                        </div>
                    </div>
             	</fieldset>
                
                <div class="clr">&nbsp;</div>
                
                <?php
				if(!empty($this->tracking_info))
				{
	  			?>
                <div class="chart">
                    <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                       <div id="grid"></div>  
                   </div> 	
                </div>
        		<?php
				}
				?>
         	</div>
       	</form>
  	</div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Tracker','controller' => 'backendtrack', 'action'     => 'list'), 'adminrout',    true); ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_track_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_update_status'); ?></span></a></span>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('tracker_status_edit_title')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('tracker_status_edit_title'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Tracker','controller' => 'backendtrack', 'action'     => 'list'), 'adminrout',    true); ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_track_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_update_status'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	
</div>