
/***** clearfix *****/
/*.clear {clear: both;height: 0;line-height: 0;}*/
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
	background-color:#0771DF;
	height:3px;
	position: relative;
    top: 0;
    z-index: 999;
	min-width:1010px;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 26px;
	width: auto;
	line-height: 26px;
	margin: 0;
  	color: white;
	text-align: center;
}

.tab ul.login li.left {
  	background: url(../images/tab_l.png) no-repeat left 0;
  	height: 26px;
	width: 35px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	background: url(../images/tab_r.png) no-repeat left 0;
  	height: 26px;
	width: 35px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 3px;
	display: block;
	float: left;
	height: 26px;
	background-color:#0771DF;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 22px;
	line-height: 20px !important;
	padding-left: 22px !important;
	cursor: pointer;
	display: inline-block;
	/*width: 100px;*/
	position: relative;
	/*top: 11px;*/
	font-size:14px;
	font-weight:normal;
	text-shadow:none;
	float:none;
	opacity:1;
}

.tab a.open {background: url(../images/open.png) no-repeat left center;}
.tab a.close {background: url(../images/close.png) no-repeat left center;}

/* panel */
#toppanel {
	height:0;
	color:#FFF;
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
}

#toppanel .tab .row,
#toppanel .tab .container{
	height:0;
}

#toppanel h3{
	color:#FFF
}

#toppanel a{
	/*color:#FFF;*/
}

#panel {
	width: 100%;
	/*height: 270px;*/
	padding-top:10px;
	background: rgba(7, 113, 223, 1.0);
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel .content{
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
}

#panel .content .left {
	width:40%;
	float: left;
	padding: 0 15px 0 15px;
	margin:0 15px 0 0;
	border-right: 1px solid #008DEC;
}

#panel .content .right{
	width:55%;
	float:right;
}
