<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$is_frontend = new Eicra_Model_DbTable_Frontend();
$auth = Zend_Auth::getInstance ();
$acount_link =  'Members-Dashboard';
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
//$booking_link = ($auth->hasIdentity ()) ? 'Hotel-Itinerary-List' : 'Frontend-Login';
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('hotel_header_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('hotel_header_signin','', '', $front_template['theme_folder']).'</a>';
$sign_in_out = ($auth->hasIdentity()) ? $this->translator->translator('hotel_header_signout','', '', $front_template['theme_folder']) : $this->translator->translator('hotel_header_signin','', '', $front_template['theme_folder']);
?>

<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<div class="top-bar">
	<?php if(!$is_frontend->isFrontend() && ($moduleName == 'hotels' || $moduleName == 'tours' || $moduleName == 'vacationrentals') && ($actionName != 'home')): ?>
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <?php endif; ?>
    <div class="container">
        <div class="row">    	
            <div class="col-xs-12 user-link">
            	<?php echo $this->translator->translator('common_front_header_welcome', '', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-links">
            	<a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a> | 
               	<a href="Site-Map"><?php echo $this->translator->translator('common_front_header_menu_sitemap','', '', $front_template['theme_folder']); ?></a> |
              	<a href="Contact-Us"><?php echo $this->translator->translator('common_front_header_menu_contact','', '', $front_template['theme_folder']); ?></a> &nbsp; 
                <div class="flags">
                    <?php echo $this->partial('blocks/header_language.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header">
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
            	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" height="83" border="0" title="<?php echo $this->escape($global_conf['site_title']); ?>" class="logo img-responsive"></a>
            </div>
        </div>
    </div>
</div>