<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 

<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />

<?php  echo $this->headMeta(); ?>

<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>

<?php
echo $this->partial('head/headscript.phtml');
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$menu_title = $frontController->getRequest()->getParam('menu_id');
?>

</head>
<body>
<?php
if($is_frontend->isFrontend())
{
?>
    <!-- PHP Holidays Main Template Start -->
    <?php echo $this->partial('phpholidays-home.phtml'); ?>
    <!-- PHP Holidays Main Template End -->
<?php
}
else if($menu_title == 'Hotels')
{	
?>
    <!-- Hotels Template Start -->
    <?php echo $this->partial('hotel-home.phtml'); ?>
    <!-- Hotels Template End -->
<?php	
}
else if($menu_title == 'Vacation-Rentals')
{
?>
    <!-- Vacation Rentals Template Start -->
    <?php echo $this->partial('vacationrental-home.phtml'); ?>
    <!-- Vacation Rentals Template End -->
<?php	
}
else if($menu_title == 'Tour-Packages')
{
?>
    <!-- Tours Template Start -->
    <?php echo $this->partial('tour-home.phtml'); ?>
    <!-- Tours Template End -->
<?php	
}
else
{
?>
	<!-- PHP Holidays Main Template Start -->
    <?php echo $this->partial('phpholidays-home.phtml'); ?>
    <!-- PHP Holidays Main Template End -->
<?php
}
?>
<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
<?php echo $this->escape($global_conf['analytics_code']); ?>
</body>
</html>