<?php
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend(); 
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
$this->translator = Zend_Registry::get('translator'); 
$version = new Eicra_License_Version();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard';

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');

?>
<div id="page">
	<div id="slide-in-content"> 
        <!-- Header Start -->
        <?php echo $this->layout()->render('header'); ?>
        <!-- Header End -->
        
        <!-- Top Navigation Start-->
        <nav class="top-nav">
            <div class="container"><?php echo $this->partial('blocks/top-menu.phtml'); ?></div>
        </nav>
        <!-- Top Navigation End-->
        <?php
        if($is_frontend->isFrontend())
            {
        ?>
        
        <!-- Home Search Start -->
        <?php echo $this->partial('blocks/phpholidays_home_search.phtml'); ?> 
        <!-- Home Search End -->
        
        <!-- Content Area Start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <?php echo $this->partial('blocks/hotels/hotels_topDestinations.phtml'); ?>
                    
                    <!-- Home Tab 1 Start -->
                    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
                    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                    <div id="demoTab">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('hotels_block_popular_list_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('vacationrentals_block_popular_list_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('tours_block_popular_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('tab_latest_flight_package','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_news_title','', '', $front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container">
                            <div><?php echo $this->partial('blocks/hotels/hotels_home_content_popular.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popular.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/tours/tours_home_content_popular.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/flights/flight_home_content_packages.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/news_content_latest.phtml'); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab").easyResponsiveTabs({
                            type: 'accordion', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any custom width
                            fit: true   // 100% fits in a container
                        });
                    </script>
                    <!-- Home Tab 1 End -->
                    
                    <!-- Home Tab 2 Start -->
                    <?php echo $this->partial('blocks/flights/flights_home_sidebar_fare.phtml'); ?>
                    
                    <div id="demoTab2">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('hotels_block_popular_list_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('vacationrentals_block_popular_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('tours_block_popular_destination_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('flight_front_page_home_world_wide_flight_title','', '', $front_template['theme_folder']); ?></li>                        
                        </ul>
                    
                        <div class="resp-tabs-container list-tab">
                            <div><?php echo $this->partial('blocks/hotels/hotels_home_content_recent_listview.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popularGateways.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/tours/tours_home_content_popularDestinations.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/flights/flights_home_content_worldDestinations.phtml'); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab2").easyResponsiveTabs({
                            type: 'accordion', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any custom width
                            fit: true   // 100% fits in a container
                        });
                    </script>
                    <!-- Home Tab 2 End -->
                </div>
            </div>
        </div>
        <!-- Content Area End -->
        <?php
            }
            else if(strtolower($frontController->getRequest()->getParam('menu_id')) == 'special-offers')
            {					
                $this->headTitle()->headTitle($frontController->getRequest()->getParam('menu_id'),'SET');
        ?>
        
        <!-- Special Offer Tab Start -->
        <div class="container">
            <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
            <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
            <div id="demoTab">          
                <ul class="resp-tabs-list">
                    <li><?php echo $this->translator->translator('vacationrentals_block_featured_list_title','','',$front_template['theme_folder']); ?></li>
                    <li><?php echo $this->translator->translator('tours_block_featured_list_title','','',$front_template['theme_folder']); ?></li>
                    <li><?php echo $this->translator->translator('flight_front_page_home_featured_flight_title','','',$front_template['theme_folder']); ?></li>
                </ul>
            
                <div class="resp-tabs-container">
                    <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_content_featuredSpecial.phtml');  ?></div>
                    <div><?php echo $this->partial('blocks/tours/tours_content_featuredSpecial.phtml');  ?></div>
                    <div><?php echo $this->partial('blocks/flights/flight_content_featuredSpecial.phtml');  ?></div>
                </div>
            </div>
            <script>
                $("#demoTab").easyResponsiveTabs({
                    type: 'accordion', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any custom width
                    fit: true   // 100% fits in a container
                });
            </script>
            <?php $this->ad(203); ?>
        </div>
        <!-- Special Offer Tab End -->
        <?php
            }
            else
            {		
        ?>
        <!-- Inner Page Layout Start -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>
        <!-- Inner Page Layout End -->
        
        
        <?php
            }
        ?>     
        <!-- Footer Start -->
        <?php echo $this->layout()->render('footer'); ?>
        <!-- Footer End --> 
    </div>
    <!-- Slide Search Panel Start -->
    <?php
	if($moduleName == 'hotels' || $moduleName == 'tours' || $moduleName == 'vacationrentals')
	{
	?>
    <nav id="menu">
        <ul>
            <li><?php echo $this->partial('blocks/'.$moduleName.'/'.$moduleName.'_inner_sidebar_search.phtml'); ?></li>
        </ul>
    </nav>
    <!-- Slide Search Panel End -->
    <?php
	}
	?>
</div>