<?php
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend(); 
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
$this->translator = Zend_Registry::get('translator'); 
$version = new Eicra_License_Version();
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link =  'Members-Dashboard';
$booking_link =  'Members-Invoice-Item-List';
$add_url = $this->url(array('module'=> 'Vacationrentals','controller'=>'members', 'action'=>'add'), 'Members-Vacationrental-Add/*', true) ;
$vacationrentals_DB 	= new Vacationrentals_Model_DbTable_Vacationrentals();
$num_vacationrentals	= $vacationrentals_DB->getNumOfProduct();
?>

<div id="page">
	<div id="slide-in-content"> 
    	<!-- Header Start -->
		<?php echo $this->layout()->render('header'); ?>
        <!-- Header End -->
        
        <!-- Top Navigation Start-->
        <nav class="top-nav">
            <div class="container"><?php echo $this->partial('blocks/top-menu.phtml'); ?></div>
        </nav>
        <!-- Top Navigation End-->
    	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_count.phtml'); ?>
        <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_search.phtml'); ?>
    	
        <!-- Content Area Start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_featured.phtml'); ?>
                    <?php echo $this->partial('blocks/vacationrentals/vacationrentals_mapView.phtml'); ?>
                    
                	<!-- Home Tab Start -->
                    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
                    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                    <div id="demoTab">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('vacationrentals_block_popular_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('vacationrentals_block_latest_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('vacationrentals_block_popular_title','', '', $front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container">
                            <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popular.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_recent.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popularGateways.phtml'); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab").easyResponsiveTabs({
                            type: 'accordion', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any custom width
                            fit: true   // 100% fits in a container
                        });
                    </script>
                    <!-- Home Tab End -->
                </div>
            </div>
        </div>
        <!-- Content Area End -->
        
        <!-- Footer Start -->
        <?php echo $this->layout()->render('footer'); ?>
        <!-- Footer End -->
	</div>
    
   
</div>