/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Hotel Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

body{
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	color: #555555;
	font-size: 14px;
	margin:0px;
	padding:0px;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0 !important;
	min-height:100% !important;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#0660B8;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
}

.btn.btn-global{
	background-color:#0088DD;
	color:#FFF;
	padding:10px 35px;
	border-radius:3px;
	border-bottom:3px solid #0062D9;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#0066DD;
	color:#FFF;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin-bottom:15px;
}

.inner-container{
	margin-top:15px;
	margin-bottom:15px;
	min-height:600px; /* ** */
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
}

#header .logo{
	margin: 22px 0;
}

#header .support{
	color: #FF8000;
    font-size: 22px;
    font-style: italic;
    letter-spacing: -1px;
	margin: 40px 0 10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Top Links ------------------------------------------------------------------------ */

.welcome{
	color:#FFF;
}

.user-link a{
	color:#FFF;
	text-decoration:underline;
}

.user-link a:hover{
	color:#FFF;
	text-decoration:none;
}

.top-links a{
	color: #555555;
	font-size:13px;
	border-radius:4px;
}

.top-links .flags{
	border-width:1px 1px 1px 0;
	border-style:solid;
	border-color:#CCC;
	border-radius:0 4px 4px 0;
	padding:2px;
}

/* ---------------------------------------------------------------------------------- */

/* Banner Slideshow ----------------------------------------------------------------- */

#banner{
	min-height:450px;
	margin-bottom:15px;
}

#slides {
	display: none;
}

#slides .slidesjs-navigation {
	margin-top:3px;
}

#slides .slidesjs-previous {
	margin-right: 5px;
	float: left;
}

#slides .slidesjs-next {
	margin-right: 5px;
	float: left;
}

.slidesjs-pagination {
	margin: 6px 0 0;
	float: right;
	list-style: none;
}

.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}

.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(../images/pagination.png);
  	background-position: 0 0;
  	float: left;
  	overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  	background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
  	background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
  	color: #333;
}

#slides a:hover,
#slides a:active {
  	color: #0771DF;
}

.navbar {
  	overflow: hidden;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	border-top:3px solid #FC0;
	background-color:#0669CC;
	margin:0;
	padding:20px 0;
	color:#FFF;
}

#footer .links ul li a{
	color:#FFF;
}

#footer .links ul li a:hover{
	color: #FFFF00;
}

#footer hr{
	margin:10px 0;
	border-top:0;
	border-bottom: 1px solid #055BB1;
}

#footer .social{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:15px;
	padding:8px 0px;
	text-align:center;
}

#footer .copyright{
	color: #CCCCCC;
}

#footer .copyright a{
	color: #CCCCCC;
	text-decoration:underline;
	line-height:20px;
}

#footer .copyright a:hover{
	color:#FFF;
}

.go-top a{
	font-size:18px;
	background:#00A7D7;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border	-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* BLOCKS STYLE ********************************************************************* */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 15px auto;
}

.block-body{
	background-color:#F7F7F9;
	padding:10px;
}

.block.mod-block .block-body{
	overflow:hidden;
}

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
}

.block h6{
}

.block h6 a{
	font-size:17px;
	color:#0099FF;
	letter-spacing:normal;
	display:block;
}

.block h6 a:hover{
	color:#F60;
}

.block figure{
	margin-bottom:15px;
	padding:10px;
}

.block figure:hover{
	background-color:#E6EDF6;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin: 2px 10px 10px 0;
	float:left;
}

.block figure img.img-thumbnail{
	padding:8px;
}

.block figure .label{
	font-size:13px;
	font-weight:normal;
}

.block figure .label a{
	color:#FF0;
}

.block figure .info{
	color:#F60;
}

.block figure .ratings{
	margin: 0 0 10px 0;
}

.block figure .price{
	color: #0099FF;
    font-size: 22px;
	font-weight:bold;
}

.block figure .previous{
	color: #999999;
    font-size: 17px;
	text-decoration:line-through;	
}

.block figure hr{
	margin:8px 0;
}

.block figure .thumb .photo-count-container{
	background-color: #FFAA02;
    line-height: 20px;
    text-align: center;
	padding:5px;
	width: 50px;
	height: 50px;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}

.block figure .photo-count-container .photo-count a{
	font-size:11px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
}

.block figure .photo-count-container .photo-count a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .photo-count-container .photo-count a span{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	display:block;
}

.block .date{
	color:#F60;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background-color: #F0A800;
	border-bottom: 3px solid #FF8000;
	color: #FFF;
	padding: 6px 22px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
}

.block .more a:hover{
	background-color:#FF8000;
}

/* ---------------------------------------------------------------------------------- */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:right;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:1px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
	position:relative; 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	/*color:#33ADFF;*/
}

.dropdown dt a{
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/
	color:#666;
	display:block; 
	padding-right:20px;
	/*width:220px;*/
}

.dropdown dt a span{
	cursor:pointer; 
	display:block;
	line-height:21px;
	padding:2px;
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	padding:5px 0px; 
	position:absolute; 
	top:1px;
	right:-3px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	margin-left:10px;
	float:right;
}

.dropdown span.flag img{
	display:block;
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#FFB500;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #0771DF;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  border:1px solid #E7E7E7;
  clear:left;
  overflow:hidden;
}

.usual-content .block .block-body{
	margin-bottom:0;
	border:0;
}

.usual-content .block .block-content{
	background-color:#FFF;
}

.usual div a {
	color: #000;
}	

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-top-destinations{
	margin-bottom:20px;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search{
	color:#FFF;
	width:350px;
	padding:10px;
	background-color: rgba(0, 95, 210, 0.9);
	position:absolute;
	top:11px;
	left:28px;
	z-index:99;
}

.block-search h3{
	color:#FFF;
}

.block-search a.btn,
.block-search input[type="submit"]{
	background-color: #FFDF13;
	color: #3C3C3C;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -1px;
	padding: 10px 45px;
	margin: 5px 0 15px 0;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	display: inline-block;
}

.block-search a.btn:hover,
.block-search input[type="submit"]:hover{
	background-color: #FFAA02;
}

.block-search input[type="text"].check-date{
	width:74%;
	display:inline-block;
}

.block-search img{
	float:right;
	margin:0;
}

.block-search a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search{
	padding:10px;
	background-color:#0088DD;
}

.block-sidebar-search .k-label,
.block-sidebar-search .form-group{
	color:#FFF;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	border-radius:0;
	border:1px solid #FFF;
}

.block-sidebar-search h1{
	color:#FFF;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	font-size:23px;
}

.block-sidebar-search input[type="text"].check-date,
.block-search input[type="text"].check-date{
	width:78%;
	display:inline-block;
}

.block-sidebar-search img.ui-datepicker-trigger,
.block-search img.ui-datepicker-trigger{
	float:right;
	margin-top:0;
}

.block-sidebar-search .btn{
	background-color:#FFB500;
	color:#FFF;
	font-size:17px;
	border-radius:0px;
	outline: 0 none;
	padding-top:10px;
	padding-bottom:10px;
}

.block-sidebar-search .btn:hover{
	background-color:#FB9700;
	color:#FFF;
}

.block-sidebar-search a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-content img{
	vertical-align:middle;
}

.block-search-filter label{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Why Book-------------------------------------------------------------------------- */

.block-why figure{
	background-color:#FFF;
}

.block-why p{
	display:block;
	font-size:17px;
	line-height:22px;
	margin-bottom:0;
	color:#F60;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Reviews -------------------------------------------------------------------- */

.block-reviews p{
	letter-spacing: -1px;
	font-size: 23px;
	color: #51B351;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Social --------------------------------------------------------------------------- */

.block-social .block-body p{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	font-style:italic;
	padding:0 0 15px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Block Count ---------------------------------------------------------------------- */

.block-count h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;
	font-size:22px;
}

.block-count .btn{
	background-color:#0088DD;
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
	font-size:17px;
    padding: 12px 35px;
    white-space: normal;
}

.block-count .btn:hover {
    background-color: #0066DD;
}

.block.block-count.mod-block h1{
	color: #FF0;
}

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-top-destinations figure{
	border: 1px solid #ddd;
	padding:8px;
	margin-bottom:20px;
	text-align:center;
	position:relative;
}

.block-top-destinations .country{
	background: rgba(51, 51, 51, 0.7);
    position: absolute;
	top:8px;
	left:8px;
	padding:8px;
	text-align:left;
}

.block-top-destinations .country a{
	color:#FFF;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.9);
}

.block-top-destinations .country p{
	font-size:20px;
}

.block-top-destinations .country p a{
	font-weight:bold;
	letter-spacing:-1px;
}

.block-top-destinations .country .count{
	font-size:16px;
	font-weight:bold;
}

.block-top-destinations .crop {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.block-top-destinations .crop img{
	min-width:100%;
}

/* ---------------------------------------------------------------------------------- */

/* Popular Hotels ------------------------------------------------------------------- */

.block-popular figure{
	background-color:#FFF;
}

.block-popular figure .photo-count-container{
	margin:10px auto 0 auto;
}

/* ---------------------------------------------------------------------------------- */

/* Featured & Recent Hotels --------------------------------------------------------- */

.block-featured figure,
.block-recent figure{
	min-height:410px;
}

.block.block-featured.mod-block figure{
	min-height:300px;
}

.block-featured figure .thumb,
.block-recent figure .thumb{
	float:none;
	display:block;
	position:relative;
}

.block-featured figure .thumb .photo-count-container,
.block-recent figure .thumb .photo-count-container{
	position:absolute;
	left:-8px;
	bottom:-25px;
}

/* ---------------------------------------------------------------------------------- */

/* Hotels Business Type ------------------------------------------------------------- */

.block-biztype a{
	background-repeat:no-repeat;
	background-position:center 0;
	display:inline-block;
	font-size:15px;
}

.block-biztype a:hover{
	color:#FFAA02;
}

.block-biztype a.apt{
	background-image:url(../images/icon-apt.png);
}

.block-biztype a.apt:hover{
	background-image:url(../images/icon-apt-hover.png);
}

.block-biztype a.motel{
	background-image:url(../images/icon-motel.png);
}

.block-biztype a.motel:hover{
	background-image:url(../images/icon-motel-hover.png);
}

.block-biztype a.residence{
	background-image:url(../images/icon-residence.png);
}

.block-biztype a.residence:hover{
	background-image:url(../images/icon-residence-hover.png);
}

.block-biztype a.resort{
	background-image:url(../images/icon-resort.png);
}

.block-biztype a.resort:hover{
	background-image:url(../images/icon-resort-hover.png);
}

.block-biztype a.convention{
	background-image:url(../images/icon-convention.png);
}

.block-biztype a.convention:hover{
	background-image:url(../images/icon-convention-hover.png);
}

.block-biztype .icon-nav{
	width: 100px;
    height: 100px;
	text-align:center;
}

.block-biztype .icon-nav p{
	padding:75px 0 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-left:0;
	padding-left:0;
}

.block-list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:0px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	line-height:24px;
	white-space:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map iframe{
	width:100%;
	height:285px;
}

.block-map input[type="text"],
.block-map input[type="textbox"]{
	width:60%;
	display:inline-block;
}

.block-map .btn{
	background-color:#0896FF;
	border:0;
	color:#FFF;
	border-radius:0;
	height:34px;
	vertical-align:top;
}

.block-map .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-map .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-map .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-map .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Login Info ----------------------------------------------------------------------- */

.block-login-info ul li{
	line-height:30px;
}

/* ---------------------------------------------------------------------------------- */

/* Article by ID -------------------------------------------------------------------- */

.block-article{
	text-align:justify;
	line-height:22px;
	word-spacing:1px;
}	

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe .block-body{
	background-image:url(../images/border.png);
	background-repeat:repeat-x;
	background-color:#FFF1D2;
}

.block-subscribe h1{
	padding: 0 0 10px 0;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
}

.block-subscribe .newsletter_arr{
	color:#F00;
	font-style:italic;
	line-height:22px;
	display:block;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad{
	height:145px;
	overflow:hidden;
}
	
.block-scrolling-ad img{
	margin:10px;
}

.block-scrolling-ad .simply-scroll{
	margin:0;
}

.block-scrolling-ad .panel{
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.block-login{
	width:80%;
}

.block-login .btn{
	background-color: #FFDF13;
	color: #2C2C2C;
	border-radius:3px;
	padding:8px 25px;
}

.block-login .btn:hover{
	background-color:#2DCB73;
	color:#FFF;
}

.block-login .btn-logout,
			 .btn-logout{
	background-color:#2DCB73;
	color:#FFF;
}

.block-login input[type="text"].captcha{
	width:80px;
	vertical-align:top;
	display:inline-block;
}

.block-login .form-group img{
	height:34px;
}

.block-login .signin_arr{
	font-style:italic;
	color:#FF3;
	line-height:25px;
}

.login-loader{
	text-align:center;
	margin:80px 0 0 0;
}

.login-loader img{
	vertical-align:middle;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .count{
	color:#C00;
}

.mod .call{
	color:#F90;
	font-size:20px;
	font-weight:bold;
}

.mod .ratings{
	margin:12px 0;
}

.mod .text-label{
	color:#0088DD;
}

.mod input[type="text"].check-date{
	width:74%;
	display:inline-block;
}

.mod figure .photo-count-container{
	background-color: #0896FF;
    line-height: 20px;
    position: absolute;
    text-align: center;
	left:5px;
	bottom:5px;
	padding: 0 10px;
}

.mod figure .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 0 10px 0 0;
	float:left;
}

.mod figure .thumb img{
	vertical-align: top;
}

.mod figure .photo-count-container .photo-count a{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}

.mod figure .photo-count-container .photo-count a:hover{
	color:#FF9;
	text-decoration:none;
}

.mod .panel .panel-heading .ratings{
	margin: 10px 0 0 0;
}

.mod .products-featured{
	background-color:#FFF7E1;
}

.mod .btn.btn-book{
	background-color:#0088DD;
	color:#FFF;
}

.mod .btn.btn-book:hover{
	background-color:#0066DD;
}

.mod .btn.btn-details{
	background-color:#F7A011;
	color:#FFF;
}

.mod .btn.btn-details:hover{
	background-color:#FF8A15;
}

.mod .hotel-icon{
    display: inline-block;
	width: 25px;
    height: 25px;
    margin-right: 4px;
    vertical-align: -5px;
	background-repeat:no-repeat;
	background-position:left center;
}

.mod .hotel-icon.icon-calendar{
    background-image: url("../images/mod_hotel_img/calendar-icon.png");
}

.mod .hotel-icon.icon-plane{
    background-image: url("../images/mod_hotel_img/plane.png");
}

.mod .hotel-icon.icon-swimming{
    background-image: url("../images/mod_hotel_img/swimming.png");
}

.mod .hotel-icon.icon-pet{
    background-image: url("../images/mod_hotel_img/pet.png");
}

.mod .hotel-icon.icon-internet{
    background-image: url("../images/mod_hotel_img/internet.png");
}

.mod .hotel-icon.icon-phone{
    background-image: url("../images/mod_hotel_img/phone.png");
}

.mod.details h1{
	display:inline;
}

.mod.details h3{
	font-size:22px;
	letter-spacing:-1px;
	font-weight:bold;
	margin:10px 0;
}

.mod.details h4{
	margin:4px 0;
}

.mod.details .address{
	font-size: 17px;
	color: #8C8C8C;
}

.mod.details .map iframe{
	width:100%;
	margin:auto;
	text-align:center;
}

.mod.details .photo-no{
	background-color: #FF9900;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #FFF;
	padding: 1px 3px;
}

.vote,
.vote > span{
	display:inline-block;
}

.vote span input[type="button"],
.vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 0px 0px !important;
	border:0;
	width:21px !important;
	/*float:left;*/
	vertical-align:middle;
}

.vote .result{
	line-height:normal !important;
	position:relative !important;
}

.vote .label{
	padding:5px;
}

.vote *,
.vote *:after,
.vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	background:url(../images/mod_img/write-review.gif) no-repeat 0 0;
	padding:0 0 2px 20px;
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

.ribbon {
	margin-top:15px;
	display:inline-block;
	clear:both;
}

.ribbon:after, .ribbon:before {
    border: 1.5em solid #C33333;
    content: "";
    float: left;
    margin-top: 0.5em;
}

.ribbon:after {
    border-right-color: rgba(0, 0, 0, 0);
}

.ribbon:before {
    /*border-left-color: rgba(0, 0, 0, 0);*/
}

.ribbon a:link, .ribbon a:visited {
    color: #FFFFFF;
    float: left;
    height: 3.5em;
    overflow: hidden;
    text-decoration: none;
	cursor:pointer;
}

.ribbon span {
    background: none repeat scroll 0 0 #C33333;
    display: inline-block;
    line-height: 3em;
    margin-top: 0.5em;
    position: relative;
    transition: background-color 0.2s ease 0s, margin-top 0.2s ease 0s;
}

.ribbon a span:hover {
	cursor:default;
}

.ribbon span:before {
    border-bottom: 0.5em solid #FFFFFF;
    border-right: 0.5em solid #9B8651;
    content: "";
    left: 0;
    position: absolute;
    top: 3em;
}

.ribbon span:after {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    content: "";
    position: absolute;
    right: 0;
    top: 3em;
}

.sticky{
	float:right;
	padding-top:38px;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart ---------------------------------------------------- */

.room-chart-container{
	margin-top:15px;
	clear:both;
	overflow:hidden;
}

.mod.details .room-chart-container{
	margin-bottom:15px;
}

.room-chart{
	width:100%;
	margin:auto;
	display:table;
    border-spacing:0;
	border:1px solid #0066CC;
}

.room-chart.details{
	width:76%;
	margin-left:0;
}

.room-chart-row{
	display:table-row;
	background-color:#0896FF;
}

.room-chart-header-col-1{
	width:42%;
	border-right: 1px solid #FFF;
	display:table-cell;
	line-height:30px;
	text-align:center;
	color:#FFF;	
}

.room-chart-header-col-1.room-chart-header-col-2{
	width:15%;
}

.room-chart-header-col-1.room-chart-header-col-3{
	width:18%;
}

.room-chart-header-col-1.room-chart-header-col-4{
	width:26%;
	border:none;
}

.room-chart-row2{
	display:table-row;
	background-color:#EDF1F8;
}

.room-chart-row2 .room-chart-c1{
	width:42%;
	border-right: 1px solid #FFF;
	display:table-cell;
	padding:6px 0 6px 5px;
	text-align:left;
}

.room-chart-row2 .room-chart-c1.room-chart-c2{
	width:15%;
}

.room-chart-row2 .room-chart-c1.room-chart-c3{
	width:20%;
	padding-right:2px;
	line-height:20px;
}

.room-chart-row2 .room-chart-c1.room-chart-c4{
	width:24%;
	text-align:right;
}

.room-chart-row2.room-chart-row3{
	background-color:#D9E2F0;
}

.room-chart-row3 .room-chart-c1.room-chart-c4{
	text-align:right;
}

.hotel-price-save{
	color: #339900;
	font-size:11px;
	vertical-align:super;
}

.hotel-available{
	color:#00AE00;
	background:url(../images/mod_hotel_img/available.png) no-repeat left center;
	padding-left:20px;
}

.hotel-not-available{
	color:#D00;
	background:url(../images/mod_hotel_img/not-available.png) no-repeat left center;
	padding-left:20px;
}

.hotel-booked{
	color: #F60;
	background: url(../images/mod_hotel_img/booked.png) no-repeat left center;
	padding-left: 20px;
}

.hotel-room-left{
	color:#06F;
	background:url(../images/mod_hotel_img/last.png) no-repeat left center;
	padding-left:20px;
}

.hotel-room-last{
	color:#F30;
	font-weight:bold;
	background:url(../images/mod_hotel_img/warning.png) no-repeat left center;
	padding-left:20px;
}

.hotel-room-booked{
	color: #FFFC00; 
	white-space: nowrap; 
	padding: 0 5px;
	margin: 0 0 0 5px;
	background-color:#C33333;
	border:3px solid #FFFFFF;
	border-radius:5px;
}

.hotel-price{
	background:#0562BB;
	color:#FFF;
	padding: 3px 5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-right:4px;
	display:inline-block;
}

.hotel-old-price{
	color:#797979;
	font-size:15px;
	text-decoration:line-through;
}

.person-count{	
	background:#0462AB;
	text-align:center;
	color:#FFFFFF;
	padding: 1px 4px;
	margin-left:4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart Details Page --------------------------------------- */

.room-chart.chart-border{
	border-top:0;
}

/* Details Page Chart Header Settings */

.room-chart-header-col-1.details-header-col-1{
	width:35%;
}

.room-chart-header-col-1.room-chart-header-col-3.details-header-col-3{
	width:20%;
}

.room-chart-header-col-1.room-chart-header-col-4.details-header-col-4{
	width:30%;
}

/* Details Page Chart Body Settings */

.room-chart-row2 .room-chart-c1.room-chart-c1.details-col-1{
	width:35%;
}

.room-chart-row2 .room-chart-c1.room-chart-c3.details-col-3{
	width:20%;
	text-align:right;
}

.room-chart-row2 .room-chart-c1.room-chart-c4.details-col-4{
	width:30%;
	text-indent:0;
	text-align:left;
}

.room-chart-row2 .details-col-1 img.plus{
	float:left;
	margin:0 4px 0 0;
}

.row-height{
	height:170px;
}

.room-chart-details{
	display:none;
	background-color:#FFFFE1;
	padding:10px;
}

/* Room Price Per Day Chart - Start */

.room-types{
	margin:0;
}

.room-types .price-container{
	border:1px solid #E5E5E5;
	border-bottom:0;
	margin:10px auto;
	text-align:center;
	overflow:hidden;
}

.room-types .price-container .room-per-day{
	width:40%;
	float:left;
	padding:4px 0;
	border-bottom:1px solid #E5E5E5;
}

.room-types .price-container .price-per-day{
	width:60%;
	float:right;
	padding:4px 0;
	border-bottom:1px solid #E5E5E5;
}

.room-types .price-container .seasonal-price{
	font-size:11px;
	color:#090;
	font-style:italic;
}

.room-types{
	/*border:1px solid #0896FF;*/
}

.room-types legend,
.room-types h6{
	font-weight:normal;
	font-size:17px;
	letter-spacing:0;
	margin:10px 0;
}

.room-types input:checked + label{
	background-color:#24A2FF;
	color:#FFF;
	border:0;
}

/* Room Price Per Day Chart - End */

a.chart-link{
	color:#09F;
	display:block;
}

a.chart-link:hover{
	text-decoration:underline;
	color:#999;
}

.room-chart.book-btn-area{
	text-align:center;
	padding: 15px 0;
	border:0;
}

/* ---------------------------------------------------------------------------------- */

/* Room Suggestion Chart Start ------------------------------------------------------ */

.room-suggestion{
	width:100%;
	margin:20px auto 2px auto;
	display:table;
    border-spacing:0;
	border:1px solid #FFB500;
	background-color:#FFF;
	clear:both;
}

.room-suggestion .chart-row{
	display:table-row;	
}

.room-suggestion .chart-row .col{
	display:table-cell;
	padding: 5px 3px;
}

.room-suggestion .chart-row .col-1{
	width:22%;
	display:table-cell;
	padding: 5px 3px;
	border-top:1px solid #FFF0C4;
}

.room-suggestion .chart-row .col-2{
	width:22%;
	display:table-cell;
	padding: 5px 3px;
	border-top:1px solid #FFF0C4;
}

.room-suggestion .chart-row .col-3{
	width:22%;
	display:table-cell;
	padding: 5px 3px;
	border-top:1px solid #FFF0C4;
	text-align:right;
	color:#F60;
	font-size:12px;
}

.room-suggestion .chart-row .col-4{
	width:22%;
	display:table-cell;
	padding: 5px 3px;
	border-top:1px solid #FFF0C4;
	text-align:right;
}

.room-suggestion .chart-row .total {
	color: #439C43;
	font-weight:bold;
	font-size:13px;
}

.room-suggestion .chart-row .more-info a{
	background-color:#70B74C;
	padding:3px 6px;
	border-radius:2px;
	color:#FFF;
	font-size:11px;
}

.room-suggestion .chart-row .more-info a:hover{
	background-color:#67AC46;
	text-decoration:none;
}

.room-suggestion .chart-row.right{
	text-align:right;
}

.room-suggestion .chart-row .details-total{
	color:#689900;
	font-size:17px;
}

.room-suggestion .chart-row .person-info{
	color:#F60;
	font-size:17px;
}

.mod.details .room-suggestion{
	margin-top:0;
	padding:10px;
}

.mod.details .room-suggestion .col-1,
.mod.details .room-suggestion .col-2,
.mod.details .room-suggestion .col-3,
.mod.details .room-suggestion .col-4{
	width:19%;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details Middle Tab -------------------------------------------------------- */

.products-middle-tab{
	color:#111;
	padding:20px 1px 0 1px;
}

.products-middle-tab li { 
	list-style:none; 
	float:left;
	margin-top:5px; 
}

.products-middle-tab ul a {
	margin:0 4px 0 -1px;
	border:1px solid #ddd;
	border-bottom:0;
	background-color:#F7F7F9;
	padding: 8px;
	color:#0087EA;
	display:inline-block;
	text-decoration:none;
}

.products-middle-tab ul a:hover {
  	color:#FFF;
 	background: #0771DF;
	border:1px solid #0771DF;
	border-bottom:0;
}

.products-middle-tab-area{
	border:1px solid #ddd;
	padding:5px;
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab-area .products-slideshow{
	background-color:#F3F3F3;
	border:1px solid #ddd;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container{
	border:1px solid #DDD;
	padding:5px;
	margin:15px auto;
}

.match-container:hover{
	background-color:#FFFEDF;
}

.match-container a.related{
	color:#0099FF;
}

.match-container ul{
	margin-left:0;
	padding-left:0;
}

.match-container ul li{
	list-style:disc;
}

.match-container img{
	border-radius:0;
}

.match-container hr{
	margin:10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow #gallery {
	background: #F3F3F3;
}

.products-slideshow .ad-gallery {
  	width:98%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 300px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #259DFE;
}

.products-slideshow .switch select{
	padding:3px;
	border:1px solid #DDD;
}

.products-slideshow .switch {
    padding: 16px 0 5px 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice-container{
	border:1px solid #D6D6D6;
	margin-bottom:15px;
}

.invoice .invoice-chart{
	width:100%;
	display:table;
	margin:auto;
	border-spacing:0;
}

.invoice .invoice-chart .div-head,
.invoice .invoice-chart .div-hr{
	display:table-row;
	background:#F4F4F4;
}

.invoice .invoice-chart .div-head{
	text-align:center;
	text-shadow:1px 1px 1px #FFF;
}

.invoice .invoice-chart .div-hr{
	background:none;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	display:table-cell;
	padding:10px;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2{
	border-bottom:1px solid #D6D6D6;
	padding:15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-1{
	width:65%;
}
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-2{
	width:35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr.amount-hr{
	text-align:right;
	background-color:#EFEFEF;
}

.invoice .item-title{
	font-size:17px;
	margin:10px auto 2px auto;
	padding:10px 0px 10px 5px;
	background-color:#FFC;
	border-top:1px solid #FC0;
	border-bottom:1px solid #FC0;
	overflow:hidden;
}

.invoice .product-title{
	color:#F60;
	font-style:italic;
	text-decoration:underline;
}

.invoice .amount-label,
.invoice .amount-total{
	line-height: 22px;
}

.invoice .amount-total{
	color:#F60;
}

.invoice .advance{
	background-color:#E7FFDA;
	color:#090;
}

.invoice .due-balance{
	font-size:13px;
	font-weight:bold;
	padding:10px 5px 10px 0px;
	background-color:#FDCEA4;
	border-top:1px solid #FF9900;
	border-bottom:1px solid #FF9900;
	text-align:right;
}

.invoice a.remove-btn{
	color:#C00;
	float:right;
	padding:1px 5px 0 18px;
	margin-top:10px;
	background: #FFECEC url(../images/mod_img/delete.png) no-repeat;
	background-position: 2px center;
	border:1px solid #FF6F6F;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-decoration:none;
}

.customer-details{
	width:95%;
	display:table;
	margin:10px auto 10px auto;
	border:1px solid #CCC;
	border-bottom:none;
}

.customer-details .chart-row{
	display:table-row;
}

.customer-details .chart-row .chart-label,
.customer-details .chart-row .chart-value{
	width:35%;
	padding:5px;
	display:table-cell;
	border-bottom: 1px solid #59ACFF;
	background-color:#E3E8F9;
}

.customer-details .chart-row .chart-value{
	width:65%;
	border-bottom:1px solid #D8D8D8;
	background-color:#F8F8F8;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	font-weight:bold;
	font-size:55px;
	text-align:left;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 20px;
	float:left;
}

h1.status-paid{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
}

h1.status-unpaid{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
}

h1.status-cancel{
	border:1px solid #E4D949;
	background-color:#FFFBCC;
}

.mod.create-invoice h1{
	font-size:40px !important;
	line-height:45px;
}

.mod.create-invoice select{
	width:160px;
}

.mod.mod-invoice .login-box a.btn,
.mod.mod-invoice .login-box input[type="button"].btn{
	padding:6px 15px;
	text-transform:uppercase;
	line-height:19px;
	font-size:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body{
	width:98%;
	margin:auto;
}

div.itinerary_main_body_block{		
	border:1px solid #0679D3;
	margin:25px 0;
	background-color:#FBFBFB;
}

div.itinerary_main_body_block_clild_header{
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
	background-color:#0087EA;
	padding: 8px 0 8px 0;
}

div.itinerary_main_body_block_clild_body{
	width:100%;
}

div.itinerary_main_body_block_clild_body_box1{
	width:100%;
	text-transform:uppercase;
	line-height:35px;
	text-align:center;
	border-top:1px solid #BBD1F2;
	background-color:#FFFFCA;
}

div.itinerary_main_body_block_clild_body_box2{
	width:100%;
	border-top:1px solid #BBD1F2;
	overflow:hidden;
	margin:auto;
	padding: 8px 0 8px 0px;				
}

div.itinerary_main_body_block_clild_body_box2_child1{
	padding-left: 10px;
}

div.itinerary_main_body_block_clild_body_box3{
	width:100%;
	border-top:1px solid #BBD1F2;
	overflow:hidden;
	margin:auto;
	padding: 8px 0 8px 0;
}				

.itinerary-header{
	width:98%;
	margin:auto;
	margin-left:5px;
	font-size:13px;
	text-align:center;
}

.itinerary-body-container{
	padding: 0px 10px 0px 10px;
	overflow:hidden;
}

.itinerary-price{
	text-align:right;
	padding-right:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Expedia -------------------------------------------------------------------------- */

.mod.expedia .room-no{
	font-size: 14px;
	margin-bottom: 15px;
}

.mod.expedia .expedia-search .btn-add{
	font-size:14px;
	background-color:#00B378;
	padding:5px 15px;
	margin-bottom:15px;
	color:#FFF;
}

.mod.expedia .expedia-search .btn-add:hover{
	background-color:#096;
}

.mod.expedia .expedia-search .btn{
	padding-top:10px;
	padding-bottom:10px;
}

.mod.expedia .callout{
	border-left:3px solid;
	border-color:#428BCA;
	background-color:#D9EDF7;
	margin:20px 0;
	padding:10px;
}

.mod.expedia .callout.blue{
	border-color:#428BCA;
	background-color:#D9EDF7;
}

.mod.expedia .callout.orange{
	border-color:#F0AD4E;
	background-color:#F9F0E3;
}

.mod.expedia .callout.green{
	border-color:#5CB85C;
	background-color:#DFF0D8;
}

.mod.expedia .callout.red{
	border-color:#D9534F;
	background-color:#F2DEDE;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

