/* ___________________________________________________________________________________
   
   CSS Framework for PHP Tours Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

body{
	background:url(../images/bg.jpg) no-repeat center top;
	background-color:#FDECCE;
	font-family:Arial, Helvetica, sans-serif;
	color: #555555;
	font-size: 14px;
	margin:0px;
	padding:0px;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0 !important;
	min-height:100% !important;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#0660B8;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
}

.btn.btn-global{
	background-color:#0088DD;
	color:#FFF;
	padding:10px 35px;
	border-radius:3px;
	border-bottom:3px solid #0062D9;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#0066DD;
	color:#FFF;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin-bottom:15px;
}

.body-container{
	background-color:#FFF;
	padding:10px;
}

.inner-container{
	min-height:600px; /* ** */
}

.inner-content{
	min-height:400px;
	background-color:#FFF;
	padding:10px;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* Header --------------------------------------------------------------------------- */

#header .logo{
	margin: 30px 0;
}

#header .support{
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	font-size: 22px;
	font-style: italic;
	color:#FFF;
	margin: 10px 0 10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Top Links ------------------------------------------------------------------------ */

.welcome{
	color:#FFF;
	margin:10px 0;
}

.user-link a{
	color:#FFF;
	text-decoration:underline;
}

.user-link a:hover{
	color:#FFF;
	text-decoration:none;
}

.top-links{
	margin-top:20px;
}

.top-links a{
	color: #555555;
	font-size:13px;
	border-radius:4px;
}

.top-links .flags{
	background-color:#FFF;
	border-width:1px 1px 1px 0;
	border-style:solid;
	border-color:#CCC;
	border-radius:0 4px 4px 0;
	padding:2px;
}

/* ---------------------------------------------------------------------------------- */

/* Banner Slideshow ----------------------------------------------------------------- */

#banner{
	min-height:400px;
	margin-bottom:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	background-image:url(../images/footer-bg.jpg);
	background-repeat:repeat;
	margin:0;
	padding:20px 0;
	color:#FFF;
}

#footer .links ul li a{
	color:#FFF;
}

#footer .links ul li a:hover{
	color: #FFFF00;
}

#footer hr{
	margin:10px 0;
	border-top:0;
	border-bottom: 1px solid #055BB1;
}

#footer .social{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:15px;
	padding:8px 0px;
	text-align:center;
}

#footer .copyright{
	color: #CCCCCC;
}

#footer .copyright a{
	color: #CCCCCC;
	text-decoration:underline;
	line-height:20px;
}

#footer .copyright a:hover{
	color:#FFF;
}

.go-top a{
	font-size:18px;
	background:#00A7D7;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border	-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* BLOCKS STYLE ********************************************************************* */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 15px auto;
}

.block-body{
	background-color:#F7F7F9;
	padding:10px;
}

.block.mod-block .block-body{
	overflow:hidden;
}

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
}

.block h6{
}

.block h6 a{
	font-size:17px;
	color:#0099FF;
	letter-spacing:normal;
	display:block;
}

.block h6 a:hover{
	color:#F60;
}

.block figure{
	margin-bottom:15px;
	padding:10px;
}

.block figure:hover{
	background-color:#E6EDF6;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin: 2px 10px 10px 0;
	float:left;
}

.block figure img.img-thumbnail{
	padding:8px;
}

.block figure .label{
	font-size:13px;
	font-weight:normal;
}

.block figure .label a{
	color:#FF0;
}

.block figure .info{
	color:#F60;
}

.block figure .ratings{
	margin: 0 0 10px 0;
}

.block figure .price{
	color: #0099FF;
    font-size: 22px;
	font-weight:bold;
}

.block figure hr{
	margin:8px 0;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
    background: rgba(16, 132, 248, 0.8);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
}

.block figure .photo-count-container .photo-count a,
	   figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover,
	   figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .type{
	color:#FFF;
	background-color:rgba(255, 181, 0, 0.8);
    position: absolute;
    text-align: center;
	top:9px;
	left:9px;
	padding: 4px 10px;
}

.block figure .thumb img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .duration{
	font-style:italic;
	color:#FFF;
	margin:8px 0;
}

.block .duration .day{
	background-color:#EFBC0E;
	border-radius:100px 0 0 100px;
	padding: 4px 8px 4px 12px;
}

.block .duration .night{
	background-color:#A8A8A8;
	border-radius:0 100px 100px 0;
	padding: 4px 12px 4px 8px;
}

.block .date{
	color:#F60;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background-color: #F0A800;
	border-bottom: 3px solid #FF8000;
	color: #FFF;
	padding: 6px 22px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
}

.block .more a:hover{
	background-color:#FF8000;
}

/* ---------------------------------------------------------------------------------- */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:right;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:1px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
	position:relative; 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	/*color:#33ADFF;*/
}

.dropdown dt a{
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/
	color:#666;
	display:block; 
	padding-right:20px;
	/*width:220px;*/
}

.dropdown dt a span{
	cursor:pointer; 
	display:block;
	line-height:21px;
	padding:2px;
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	padding:5px 0px; 
	position:absolute; 
	top:1px;
	right:-3px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	margin-left:10px;
	float:right;
}

.dropdown span.flag img{
	display:block;
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#FFB500;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #0771DF;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  border:1px solid #E7E7E7;
  clear:left;
  overflow:hidden;
}

.usual-content .block .block-body{
	margin-bottom:0;
	border:0;
}

.usual-content .block .block-content{
	background-color:#FFF;
}

.usual div a {
	color: #000;
}	

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-top-destinations ul li a{
	display:block;
	margin:5px 0;
	border-bottom:1px solid #DDD;
}

.block-top-destinations li a span{
	color: #419841;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search{
	color:#FFF;
	width:400px;
	padding:10px;
	background-color: rgba(0, 95, 210, 0.9);
	position:absolute;
	top:12px;
	left:55px;
	z-index:99;
}

.block-search h3{
	color:#FFF;
}

.block-search a.btn,
.block-search input[type="submit"]{
	background-color: #FFDF13;
	color: #3C3C3C;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -1px;
	padding: 10px 45px;
	margin: 5px 0 15px 0;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	display: inline-block;
}

.block-search a.btn:hover,
.block-search input[type="submit"]:hover{
	background-color: #FFAA02;
}

.block-search a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search .block-body{
	background-color:#0088DD;
	padding:10px;
}

.block-sidebar-search .k-label,
.block-sidebar-search .form-group{
	color:#FFF;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	border-radius:0;
	border:1px solid #FFF;
}

.block-sidebar-search h1{
	color:#FFF;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	font-size:23px;
}

.block-sidebar-search .btn{
	background-color:#FFB500;
	color:#FFF;
	font-size:17px;
	border-radius:0px;
	outline: 0 none;
	padding-top:10px;
	padding-bottom:10px;
}

.block-sidebar-search .btn:hover{
	background-color:#FB9700;
	color:#FFF;
}

.block-sidebar-search a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter{
	background-color:#FFF;
	overflow:hidden;
}

.block-search-filter h1{
	width:96%;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:center;
	font-size:23px;
	text-align:center;
	margin:10px auto 0 auto;
}

.block-search-filter label{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Car Hire Search Start ------------------------------------------------------------ */

.block-search.car-hire h3{
	color:#FFF;
}

.block-search.car-hire{
	color:#FFF;
	width:500px;
	padding:10px;
	background-color: rgba(78, 78, 80, 0.7);
	position:absolute;
	top:20px;
	left:35px;
	z-index:1;
}

.block-search.car-hire .block-body{
	background-color:transparent;
}

.block-search.car-hire a.btn{
	background-color: #FFF229;
	color: #3C3C3C;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -1px;
	padding: 10px 45px;
	margin: 5px 0 15px 0;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	border-radius:0;
	display: inline-block;
}

.block-search.car-hire a.btn:hover{
	background-color: #FEDC00;
}

.block-search.car-hire .input-errors,
.block-search.car-hire .star_class{
	color: #FF6;
}

/* ---------------------------------------------------------------------------------- */

/* Social --------------------------------------------------------------------------- */

.block-social .block-body p{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	font-style:italic;
	padding:0 0 15px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Block Count ---------------------------------------------------------------------- */

.block-count h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;
	font-size:22px;
}

.block-count .btn{
	background-color:#0088DD;
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
	font-size:17px;
    padding: 12px 35px;
    white-space: normal;
}

.block-count .btn:hover {
    background-color: #0066DD;
}

.block.block-count.mod-block h1{
	color: #FF0;
}

/* ---------------------------------------------------------------------------------- */

/* Popular & Recent Tours ----------------------------------------------------------- */

.block-popular figure,
.block-recent figure{
	background-color:#F5F5F5;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Tours ------------------------------------------------------------------- */

.block-featured figure{
	min-height:410px;
}

.block.block-featured.mod-block figure{
	min-height:300px;
}

/* ---------------------------------------------------------------------------------- */

/* Tours By Type -------------------------------------------------------------------- */

.block-type .item{
	width:220px;
	margin:50px auto 0 auto;
	position:relative;
}

.block-type .box-header{
	background:url(../images/box-header.png) no-repeat;
	width:253px;
	height:70px;
	position:absolute;
	top:-40px;
	left:-26px;
}

.block-type .box-header p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#FFF;
	padding:8px 0 0 35px;
}

.block-type img{
	float:right;
	border-radius:0 0 8px 0;
	-moz-border-radius:0 0 8px 0;
	-webkit-border-radius:0 0 8px 0;
}

.block-type .col-left{
	width:79px;
	height:120px;
	background-color:#EFEDE1;
	border-radius:0 0 0 8px;
	-moz-border-radius:0 0 8px 0;
	-webkit-border-radius:0 0 8px 0;
	text-align:center;
	float:left;
}

.block-type .col-left p{
	margin:10px 0 0 0;
	font-size:34px;
	font-weight:bold;
	color:#5D5D5D;
}

.block-type .col-left .pkg{
	font-size:13px;
	letter-spacing:-1px;
}

.block-type .col-left .btn{
	margin-top:5px;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-left:0;
	padding-left:0;
}

.block-list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:0px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	line-height:24px;
	white-space:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map iframe{
	width:100%;
	height:285px;
}

.block-map input[type="text"],
.block-map input[type="textbox"]{
	width:60%;
	display:inline-block;
}

.block-map .btn{
	background-color:#0896FF;
	border:0;
	color:#FFF;
	border-radius:0;
	height:34px;
	vertical-align:top;
}

.block-map .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-map .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-map .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-map .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe .block-body{
	background-image:url(../images/border.png);
	background-repeat:repeat-x;
	background-color:#FFF1D2;
}

.block-subscribe h1{
	padding: 0 0 10px 0;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
}

.block-subscribe .newsletter_arr{
	color:#F00;
	font-style:italic;
	line-height:22px;
	display:block;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .count{
	color:#C00;
}

.mod .price{
	font-size: 22px;
	font-weight: bold;
	color: #0099FF;
	letter-spacing: -1px;
	text-align: center;
	padding: 0 0 15px 0;
}

.mod .ratings{
	margin:12px 0;
}

.mod .text-label{
	color:#0088DD;
}

.mod input[type="text"].check-date{
	width:74%;
	display:inline-block;
}

.mod figure .photo-count-container{
	background-color: #0896FF;
    line-height: 20px;
    position: absolute;
    text-align: center;
	left:5px;
	bottom:5px;
	padding: 0 10px;
}

.mod figure .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 0 10px 0 0;
	float:left;
}

.mod figure .thumb img{
	vertical-align: top;
}

.mod figure .photo-count-container .photo-count a{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}

.mod figure .photo-count-container .photo-count a:hover{
	color:#FF9;
	text-decoration:none;
}

.mod .panel .panel-heading .ratings{
	margin: 10px 0 0 0;
}

.mod .products-featured{
	background-color:#E6F4FF;
}

.mod .btn.btn-book{
	background-color:#0088DD;
	color:#FFF;
}

.mod .btn.btn-book:hover{
	background-color:#0066DD;
}

.mod .btn.btn-details{
	background-color:#F7A011;
	color:#FFF;
}

.mod .btn.btn-details:hover{
	background-color:#FF8A15;
}

.mod .tours-icon{
    display: inline-block;
	width: 25px;
    height: 25px;
    margin-right: 4px;
    vertical-align: -5px;
	background-repeat:no-repeat;
	background-position:left center;
}

.mod .tours-icon.icon-calendar{
    background-image: url("../images/mod_tour_img/check-calendar.png");
}

.mod .tours-icon.icon-breakfast{
    background-image: url("../images/mod_tour_img/breakfast.png");
}

.mod .tours-icon.icon-cab{
    background-image: url("../images/mod_tour_img/cab.png");
}

.mod .tours-icon.icon-guides{
    background-image: url("../images/mod_tour_img/guides.png");
}

.mod .tours-icon.icon-snacks{
    background-image: url("../images/mod_tour_img/snacks.png");
}

.mod.details h1{
	display:inline;
}

.mod.details h3{
	font-size:22px;
	letter-spacing:-1px;
	font-weight:bold;
	margin:10px 0;
}

.mod.details h4{
}

.mod.details .address{
	font-size: 17px;
	color: #8C8C8C;
}

.mod.details .map iframe{
	width:100%;
	margin:auto;
	text-align:center;
}

.mod.details .photo-no{
	background-color: #FF9900;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #FFF;
	padding: 1px 3px;
}

.vote,
.vote > span{
	display:inline-block;
}

.vote span input[type="button"],
.vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 0px 0px !important;
	border:0;
	width:21px !important;
	/*float:left;*/
	vertical-align:middle;
}

.vote .result{
	line-height:normal !important;
	position:relative !important;
}

.vote .label{
	padding:5px;
}

.vote *,
.vote *:after,
.vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	background:url(../images/mod_img/write-review.gif) no-repeat 0 0;
	padding:0 0 2px 20px;
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

.ribbon {
	display:inline-block;
	clear:both;
}

.ribbon:after, .ribbon:before {
    border: 1.5em solid #C33333;
    content: "";
    float: left;
    margin-top: 0.5em;
}

.ribbon:after {
    border-right-color: rgba(0, 0, 0, 0);
}

.ribbon:before {
    /*border-left-color: rgba(0, 0, 0, 0);*/
}

.ribbon a:link, .ribbon a:visited {
    color: #FFFFFF;
    float: left;
    height: 3.5em;
    overflow: hidden;
    text-decoration: none;
	cursor:pointer;
}

.ribbon span {
    background: none repeat scroll 0 0 #C33333;
    display: inline-block;
    line-height: 3em;
    margin-top: 0.5em;
    position: relative;
    transition: background-color 0.2s ease 0s, margin-top 0.2s ease 0s;
}

.ribbon a span:hover {
	cursor:default;
}

.ribbon span:before {
    border-bottom: 0.5em solid #FFFFFF;
    border-right: 0.5em solid #9B8651;
    content: "";
    left: 0;
    position: absolute;
    top: 3em;
}

.ribbon span:after {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    content: "";
    position: absolute;
    right: 0;
    top: 3em;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details Middle Tab ------------------------------------------------------- */

.products-middle-tab{
	color:#111;
	padding:20px 1px 0 1px;
}

.products-middle-tab li { 
	list-style:none; 
	float:left;
	margin-top:5px; 
}

.products-middle-tab ul a {
	margin:0 4px 0 -1px;
	border:1px solid #ddd;
	border-bottom:0;
	background-color:#F7F7F9;
	padding: 8px;
	color:#0087EA;
	display:inline-block;
	text-decoration:none;
}

.products-middle-tab ul a:hover {
  	color:#FFF;
 	background: #0771DF;
	border:1px solid #0771DF;
	border-bottom:0;
}

.products-middle-tab-area{
	border:1px solid #ddd;
	padding:5px;
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab-area .products-slideshow{
	background-color:#F3F3F3;
	border:1px solid #ddd;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container{
	min-height:325px;
	border:1px solid #DDD;
	padding:5px;
	margin:15px auto;
}

.match-container:hover{
	background-color:#FFFEDF;
}

.match-container a.related{
	color:#0099FF;
}

.match-container ul{
	margin-left:0;
	padding-left:0;
}

.match-container ul li{
	list-style:disc;
}

.match-container img{
	border-radius:0;
}

.match-container hr{
	margin:10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow #gallery {
	background: #F3F3F3;
}

.products-slideshow .ad-gallery {
  	width:98%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 300px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #259DFE;
}

.products-slideshow .switch select{
	padding:3px;
	border:1px solid #DDD;
}

.products-slideshow .switch {
    padding: 16px 0 5px 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice-container{
	border:1px solid #D6D6D6;
	margin-bottom:15px;
}

.invoice .invoice-chart{
	width:100%;
	display:table;
	margin:auto;
	border-spacing:0;
}

.invoice .invoice-chart .div-head,
.invoice .invoice-chart .div-hr{
	display:table-row;
	background:#F4F4F4;
}

.invoice .invoice-chart .div-head{
	text-align:center;
	text-shadow:1px 1px 1px #FFF;
}

.invoice .invoice-chart .div-hr{
	background:none;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	display:table-cell;
	padding:10px;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2{
	border-bottom:1px solid #D6D6D6;
	padding:15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-1{
	width:65%;
}
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-2{
	width:35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr.amount-hr{
	text-align:right;
	background-color:#EFEFEF;
}

.invoice .item-title{
	font-size:17px;
	margin:10px auto 2px auto;
	padding:10px 0px 10px 5px;
	background-color:#FFC;
	border-top:1px solid #FC0;
	border-bottom:1px solid #FC0;
	overflow:hidden;
}

.invoice .product-title{
	color:#F60;
	font-style:italic;
	text-decoration:underline;
}

.invoice .amount-label,
.invoice .amount-total{
	line-height: 22px;
}

.invoice .amount-total{
	color:#F60;
}

.invoice .advance{
	background-color:#E7FFDA;
	color:#090;
}

.invoice .due-balance{
	font-size:13px;
	font-weight:bold;
	padding:10px 5px 10px 0px;
	background-color:#FDCEA4;
	border-top:1px solid #FF9900;
	border-bottom:1px solid #FF9900;
	text-align:right;
}

.invoice a.remove-btn{
	color:#C00;
	float:right;
	padding:1px 5px 0 18px;
	margin-top:10px;
	background: #FFECEC url(../images/mod_img/delete.png) no-repeat;
	background-position: 2px center;
	border:1px solid #FF6F6F;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-decoration:none;
}

.customer-details{
	width:95%;
	display:table;
	margin:10px auto 10px auto;
	border:1px solid #CCC;
	border-bottom:none;
}

.customer-details .chart-row{
	display:table-row;
}

.customer-details .chart-row .chart-label,
.customer-details .chart-row .chart-value{
	width:35%;
	padding:5px;
	display:table-cell;
	border-bottom: 1px solid #59ACFF;
	background-color:#E3E8F9;
}

.customer-details .chart-row .chart-value{
	width:65%;
	border-bottom:1px solid #D8D8D8;
	background-color:#F8F8F8;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	font-weight:bold;
	font-size:55px;
	text-align:left;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 20px;
	float:left;
}

h1.status-paid{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
}

h1.status-unpaid{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
}

h1.status-cancel{
	border:1px solid #E4D949;
	background-color:#FFFBCC;
}

.mod.create-invoice h1{
	font-size:40px !important;
	line-height:45px;
}

.mod.create-invoice select{
	width:160px;
}

.mod.mod-invoice .login-box a.btn,
.mod.mod-invoice .login-box input[type="button"].btn{
	padding:6px 15px;
	text-transform:uppercase;
	line-height:19px;
	font-size:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body{
	width:98%;
	margin:auto;
}

div.itinerary_main_body_block{		
	border:1px solid #0679D3;
	margin:25px 0;
	background-color:#FBFBFB;
}

div.itinerary_main_body_block_clild_header{
	width:100%;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	text-transform:uppercase;
	background-color:#0087EA;
	padding: 8px 0 8px 0;
}

div.itinerary_main_body_block_clild_body{
	width:100%;
}

div.itinerary_main_body_block_clild_body_box1{
	width:100%;
	text-transform:uppercase;
	line-height:35px;
	text-align:center;
	border-top:1px solid #BBD1F2;
	background-color:#FFFFCA;
	color:#333;
}

div.itinerary_main_body_block_clild_body_box2{
	width:100%;
	border-top:1px solid #BBD1F2;
	overflow:hidden;
	margin:auto;
	padding: 8px 0 8px 0px;				
}

div.itinerary_main_body_block_clild_body_box2_child1{
	padding-left: 10px;
}

div.itinerary_main_body_block_clild_body_box3{
	width:100%;
	border-top:1px solid #BBD1F2;
	overflow:hidden;
	margin:auto;
	padding: 8px 0 8px 0;
}				

.itinerary-header{
	width:98%;
	margin:auto;
	margin-left:5px;
	font-size:13px;
	text-align:center;
}

.itinerary-body-container{
	padding: 0px 10px 0px 10px;
	overflow:hidden;
}

.itinerary-price{
	text-transform:uppercase;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
	font-size:17px;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

