<?php
$modules_license = new Administrator_Controller_Helper_ModuleLoader();	
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License');
$validation_data = $license->license_data; 
$version = Zend_Registry::get('version');
$auth = Zend_Auth::getInstance ();
?>
<script type="text/javascript">
$(document).ready(function() {
	
	$('a.reset_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});
	function resetFields()
	{
		$( "form" )[ 0 ].reset();
	}
	
	function removeError()
	{		
		$('#actionMessage').html('');
					
		$.each($('form').serializeArray(), function(i, field) {				
				$('#'+field.name).removeClass('ui-state-error');
				$('#'+field.name+'_err').html('');									
		});				
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'fade',
					resizable: 'false',				
					open: function(event, ui)
						 {
						 	$("#progressbar").progressbar({
								value:100
				
							});							
						  }
				});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		$.each($('form').serializeArray(), function(i, field) {	
			fieldObj[field.name] = field.value;						
		});
		return fieldObj;
	}
	
	$('a.get_pass_btn').click(function() 
	{	
		var formData = getFormData();				  	
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Password','controller' => 'Backend', 'action'     => 'send' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){
					openLoaderDialog();
					removeError();
				 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					closeLoaderDialog();					
					if(json_arr.status == 'ok')
					{					
						$('#actionMessage').html(succMsgDesign(json_arr.msg));	
						resetFields();														
					}
					else if(json_arr.status == 'errV')
					{					
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				}
		});
	});	
});
</script>
<?php if ($auth->hasIdentity ()){ ?><?php } ?>

<div class="container">
	<div class="col-md-8 col-md-offset-2">
    	<div class="login-box">
        	<a href="" title="" target="_blank"><img src="<?php if(empty($global_conf['admin_header_logo'])){ echo $validation_data['vendor_logo']; }else{ echo $global_conf['admin_header_logo']; } ?>" class="center-block" height="70" alt=""/></a>
            <div class="row">
            	<div class="col-md-12">
                	<h3 class="text-center"><?php echo $this->translator->translator('password_page_name'); ?></h3>
                    <form name="formPassword" id="formPassword" method="post" class="form-horizontal" role="form">	
                    	<fieldset class="fieldset">
                            <div id="generalInfo"></div>
                            
                            <legend><?php echo $this->translator->translator('password_page_info'); ?></legend>
                            <div id="actionMessage"></div>
                            
                            <div class="form-group">
                            	<label for="<?php echo $this->PasswordForm->username->getName(); ?>" class="col-sm-3 col-xs-12 control-label"><?php echo $this->PasswordForm->username->getLabel(); if($this->PasswordForm->username->isRequired()){ ?><span class="required">*</span><?php } ?></label>
                                
                                <div class="col-sm-6 col-xs-12">                               
                                	<?php echo $this->PasswordForm->username; ?>
                                </div>
                                
                                <div class="col-sm-3 col-xs-12">
                               		<a href="javascript: void(0);" class="get_pass_btn btn btn-success"><i class="fa fa-share"></i> <?php echo $this->translator->translator('common_send'); ?></a>
                                </div>
                            </div>
                            
                            <div class="form-group">
                            	<div class="col-sm-offset-3 col-sm-9">
                                	<div id="username_err"></div>
                                </div>
                            </div>
                        </fieldset>        
                        <div class="clr form-button-container toggle-btn">
                            <a href="javascript: void(0);" class="reset_btn btn btn-primary"><i class="fa fa-refresh"></i> <?php echo $this->translator->translator('common_reset'); ?></a>
                            <a href="<?php echo $this->url(array('controller'=>'index', 'action'=>'index' , 'module'=>'Administrator'));?>" class="reset_btn btn btn-primary"><i class="fa fa-lock"></i> <?php echo $this->translator->translator('admin_header_login_link'); ?></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <p class="login-footer">
            <?php echo $this->translator->translator('common_footer_power'); ?></strong> <a href="http://www.<?php if(empty($global_conf['admin_footer_url'])){ echo $validation_data['vendor_domain']; }else{ echo $global_conf['admin_footer_url']; } ?>" target="_blank"><?php if(empty($global_conf['admin_footer'])){ echo $validation_data['footer_name']; }else{ echo $global_conf['admin_footer']; } ?></a>
            <?php echo $this->translator->translator('common_vesrion_label'); ?> <?php echo $this->numbers(Eicra_License_Version::getVersion()); ?><br>
            <?php echo $this->translator->translator('common_footer_copy_right'); ?><?php echo $this->numbers(date("Y")); ?> <?php echo $this->translator->translator('common_footer_all_right'); ?>
        </p>
    </div>
</div>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_processing_language'); ?>" style="display:none">
	<div class="progress progress-striped active">
    	<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
  	</div>
</div>
<?php if ($auth->hasIdentity ()){ ?><?php } ?>