<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
$maximum_stars_digit = $translator->translator('maximum_stars_digit');
$hotels_db = new Hotels_Model_DbTable_Hotels();	
$frontController = Zend_Controller_Front::getInstance();
$postValue = ($frontController->getRequest()->isPost()) ? $frontController->getRequest()->getPost() : Eicra_Global_Variable::getSession()->hotel_search_info;

echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.29473.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/accordion-sidebar.css');


if($postValue && $postValue['filter'] && $postValue['filter']['filters'])
{
	foreach($postValue['filter']['filters'] as $fieldObj)
	{
		$postValue[$fieldObj['field']]  = $fieldObj['value'];
	}
}
$hotel_form = new Hotels_Form_ProductForm();
$business_type_db = new Hotels_Model_DbTable_BusinessType();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;	
?>

<div class="block block-search-filter">
	<h1><?php echo $translator->translator('block_search_filter_title','','', $front_template['theme_folder']); ?></h1>
    <br>
    <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        <div class="form-group text-center">
        	<?php echo $translator->translator('block_search_filter_price_title','','', $front_template['theme_folder']).' ('.$currency->getSymbol().')'; ?><br>
            <div id="rangeslider_search_price">
                <input name="search_price-gte" id="search_price-gte" operator="gte" />
                <input name="search_price-lte" id="search_price-lte" operator="lte" />
            </div>
        </div>
        <br><br>
       	
        <div class="form-group text-center">
        	<?php echo $translator->translator('block_search_filter_distance_from_airport_title','','', $front_template['theme_folder']).' ('.$translator->translator('hotels_page_pre_unit', '', 'Hotels').')'; ?><br>
            
            <div id="rangeslider_feature_distance_from_airport">
            	<input name="feature_distance_from_airport-gte" id="feature_distance_from_airport-gte" operator="gte" />
               	<input name="feature_distance_from_airport-lte" id="feature_distance_from_airport-lte" operator="lte" />
            </div>
        </div>
        <br>
		
        <div class="form-group text-center">
        	<?php echo $translator->translator('block_search_filter_distance_from_city_market_title','','', $front_template['theme_folder']).' ('.$translator->translator('hotels_page_pre_unit', '', 'Hotels').')'; ?>
            
            <div id="rangeslider_feature_distance_from_city_market">
                <input name="feature_distance_from_city_market-gte" id="feature_distance_from_city_market-gte" operator="gte" />
                <input name="feature_distance_from_city_market-lte" id="feature_distance_from_city_market-lte" operator="lte" />
            </div>
        </div>
       	<br>
                  
        <section class="ac-container-sidebar">
            <div>
                <input id="ac-1" name="" type="checkbox" checked/>
                <label for="ac-1"><?php echo $translator->translator('block_search_filter_star_rating_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-small">
					<?php
                    $hotel_grade_post_arr = ($postValue['hotels_grade_arr'] && !is_array($postValue['hotels_grade_arr'])) ? explode(',', $postValue['hotels_grade_arr']) : ( (is_array($postValue['hotels_grade_arr'])) ? $postValue['hotels_grade_arr'] : array());
                    for($i = ($maximum_stars_digit - 1); $i > 0 ; $i--)
                    {
                        $h_num = $hotels_db->numOfHotels(array('field' => 'hotels_grade', 'operator' => '=', 'value' => $i), false);
                        $checked = (in_array($i, $hotel_grade_post_arr)) ? 'checked="checked"' : '';
                    ?>
                    <div class="checkbox">
                        <label for="hotels_grade_arr<?php echo $i; ?>"><input type="checkbox" name="hotels_grade_arr[]" id="hotels_grade_arr<?php echo $i; ?>" value="<?php echo $i; ?>" <?php echo $checked; ?>/>
                        <?php
                            for($j = 1; $j < $maximum_stars_digit; $j++)
                            {
                                $img_path = ($j > $i) ? 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/star-small-inactive.png' : 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/star-small-active.png';
                        ?>
                                <img src="<?php echo $img_path; ?>" />
                        <?php
                            }
                            echo  $this->numbers($i).' '.$translator->translator('block_search_filter_stars_title','','', $front_template['theme_folder']).' ('.$this->numbers($h_num).')';
                        ?>
                        </label>
                 	</div>
                    <?php				
                    }
                    ?>
                </article>              
            </div>
        
            <div>
                <input id="ac-2" name="" type="checkbox"/>
                <label for="ac-2"><?php echo $translator->translator('block_search_filter_facilities_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                    <div class="checkbox">
                    <?php
                        $hotel_form->feature_facilities->setSeparator('<br />');
                        if($postValue['feature_facilities'])
                        {
                            $postValue['feature_facilities'] = (is_array($postValue['feature_facilities'])) ? $postValue['feature_facilities'] : explode(',', $postValue['feature_facilities']);
                            $hotel_form->feature_facilities->setValue($postValue['feature_facilities']);
                        }
                        echo $hotel_form->feature_facilities;
                    ?>
                    </div>
                </article>              
            </div>
        
            <div>
                <input id="ac-3" name="" type="checkbox" />
                <label for="ac-3"><?php echo $translator->translator('block_search_filter_sports_recreation_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                    <div class="checkbox">
                    <?php
                        $hotel_form->feature_sports_recreations->setSeparator('<br />');
                        if($postValue['feature_sports_recreations'])
                        {
                            $postValue['feature_sports_recreations'] = (is_array($postValue['feature_sports_recreations'])) ? $postValue['feature_sports_recreations'] : explode(',', $postValue['feature_sports_recreations']);
                            $hotel_form->feature_sports_recreations->setValue($postValue['feature_sports_recreations']);
                        }
                        echo $hotel_form->feature_sports_recreations;
                    ?>
                    </div>
                </article>
            </div>
            
            <div>
                <input id="ac-4" name="" type="checkbox" />
                <label for="ac-4"><?php echo $translator->translator('block_search_filter_accomodation_type_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-medium">
                    <div class="radio">
                    <label><input type="radio" name="hotels_type" value="" <?php if(empty($postValue['hotels_type'])){ echo 'checked="checked"'; } ?>/> <?php echo $translator->translator('block_search_filter_accomodation_type_all_title','','', $front_template['theme_folder']); ?></label><br>
                    <?php
                        $business_type_info = $business_type_db->getAllBusinessType();
                        if($business_type_info)
                        {
                            foreach($business_type_info as $key => $value)
                            {
                    ?>
                    <label><input type="radio" name="hotels_type" value="<?php echo $key; ?>" <?php if($postValue['hotels_type'] == $key){ echo 'checked="checked"'; } ?> /><?php echo $this->escape($value); ?></label><br>
                    <?php
                            }
                        }
                    ?>
                    </div>
                </article>
            </div>
            
            <div>
                <input id="ac-5" name="" type="checkbox" />
                <label for="ac-5"><?php echo $translator->translator('hotels_front_page_hotels_pet_allow','','Hotels'); ?></label>
                <article class="ac-small">
                <div class="radio">
                    <label><input type="radio" name="feature_pet" value="" <?php if(empty($postValue['feature_pet'])){ echo 'checked="checked"'; } ?>/> <?php echo $translator->translator('block_search_filter_accomodation_type_all_title','','', $front_template['theme_folder']); ?></label><br>
                    <?php
                        $feature_pet_info = $hotel_form->feature_pet->getMultiOptions();
                        if($feature_pet_info)
                        {
                            foreach($feature_pet_info as $key => $value)
                            {
                                if(!empty($key)) 
                                {
                    ?>
                    <label><input type="radio" name="feature_pet" value="<?php echo $key; ?>" <?php if($postValue['feature_pet'] == $key){ echo 'checked="checked"'; } ?> /><?php echo $this->escape($value); ?></label><br />
                    <?php
                                }
                            }
                        }
                    ?>
                </div>
                </article>
            </div>
            
            <div>
                <input id="ac-6" name="" type="checkbox" />
                <label for="ac-6"><?php echo $translator->translator('hotels_status','','Hotels'); ?></label>
                <article class="ac-medium">
                    <?php
                        $hotels_status_post_arr = ($postValue['hotels_status_arr'] && !is_array($postValue['hotels_status_arr'])) ? explode(',', $postValue['hotels_status_arr']) : ( (is_array($postValue['hotels_status_arr'])) ? $postValue['hotels_status_arr'] : array());
                        $hotels_status_info = $hotel_form->hotels_status->getMultiOptions();
                        if($hotels_status_info)
                        {
                            foreach($hotels_status_info as $key => $value)
                            {
                                if(!empty($key)) 
                                {
                    ?>
                        <div class="checkbox">
                            <label for="hotels_status_arr<?php echo $key; ?>"><input type="checkbox" name="hotels_status_arr[]" id="hotels_status_arr<?php echo $key; ?>" value="<?php echo $key; ?>" <?php if(in_array($key, $hotels_status_post_arr)){ echo 'checked="checked"'; } ?>/>&nbsp;<?php echo $this->escape($value); ?></label><br>
                        </div>
                    <?php
                                }
                            }
                        }
                    ?>
                </article>
            </div>
        </section>
	</div>
</div>