<?php
class recent_hotels
{
	protected	$_group = 1;
	protected	$_limit = 6;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();		
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	
		$currency = new Zend_Currency($this->_global_conf['default_locale']);
		$currency_symbol = $currency->getSymbol();
		$translator = Zend_Registry::get('translator');	
		$review_helper = new Review_View_Helper_Review();
		$group_db =  new Hotels_Model_DbTable_HotelsGroup();
		$group_info = $group_db->getGroupName($this->_group);
		
		$select_latest = $this->_DBconn->select()
									->from(array('pp' => Zend_Registry::get('dbPrefix').'hotels_page'), array('*'))
									->where('pp.group_id = ?', $this->_group)
									->where('pp.active = ?', '1')
									->order($group_info['latest_file_sort']." ".$group_info['latest_file_order'])
									->limit($this->_limit)
									->joinLeft(array('bt' => Zend_Registry::get('dbPrefix').'hotels_business_type'), 'pp.hotels_type = bt.id', array('business_type' => 'bt.business_type'))
					   				->joinLeft(array('gp' => Zend_Registry::get('dbPrefix').'hotels_group'), 'gp.id = '. $this->_group, array('review_id' => 'gp.review_id'))
									->joinLeft(array('ct' => Zend_Registry::get('dbPrefix').'cities'), 'ct.city_id = pp.area_id');
		
		$hotels_info =  $select_latest->query()->fetchAll();
		
		$roomType_db = new Hotels_Model_DbTable_RoomType();		
?>

<div class="block block-recent">
    <!--<h2><?php //echo $translator->translator('hotels_block_latest_list_title','', '', $this->_front_template['theme_folder']); ?></h2>-->
    <?php
        if($hotels_info)
        {
            foreach($hotels_info as $partial_entry)
            {
                $link = $this->_view->url( array('module' => 'Hotels','controller' =>'frontend','action' => 'details','hotels_title' => $this->_view->escape($partial_entry['hotels_title']) ), 'Hotels-details/:hotels_title',    true);
                $hotels_image_val_arr = explode(',',$partial_entry['hotels_image']);
                $hotels_image_no = count($hotels_image_val_arr);					
                if($this->_view->escape($partial_entry['hotels_primary_image']))
                {
                    $thumb_image = 'data/frontImages/hotels/hotels_image/'.$this->_view->escape($partial_entry['hotels_primary_image']); 
                }
                else
                {
                    $hotels_image_val_arr = explode(',',$partial_entry['hotels_image']);
                    $thumb_image = 'data/frontImages/hotels/hotels_image/'.$this->_view->escape($hotels_image_val_arr[0]); 
                }
    ?>
		<div class="col-md-4">
        	<figure>
            	<h6><a href="<?php echo $link; ?>" class="preview" link="" title="<?php echo $this->_view->escape($partial_entry['hotels_name']); ?>"><?php echo $this->truncate($this->_view->escape($partial_entry['hotels_name']), 0, 3); ?></a></h6>
				<div class="ratings">
				<?php
                    for($i = 1; $i < 6; $i++)
                    {
                        $hotel_stars = ($i <= $this->_view->escape($partial_entry['hotels_grade'])) ? "<img src='application/layouts/scripts/".$this->_front_template['theme_folder']."/images/mod_hotel_img/star-small-active.png' border='0' />" : "<img src='application/layouts/scripts/".$this->_front_template['theme_folder']."/images/mod_hotel_img/star-small-inactive.png' border='0' />";
                        echo $hotel_stars.'&nbsp;';
                    }
                    
                    if(!empty($partial_entry['room_type_id']))
                    {
                        $room_type_id_arr = explode(',', $partial_entry['room_type_id']);
                        foreach($room_type_id_arr as $room_type_id_key => $room_type_id_value)
                        {
                            try
                            {
                                $search_params = array('filter' => array('logic' => 'AND','filters' => array(array('logic' => 'AND','filters' => array(array('field' => 'id', 'operator' => 'eq', 'value' => $room_type_id_value),array('field' => 'stop_temporary', 'operator' => 'eq', 'value' => '0'))))));
                                $roomType_info_obj = $roomType_db->getListInfo('1', $search_params, false);
                                if($roomType_info_obj)
                                {
                                    foreach($roomType_info_obj as $room_type_info_obj_arr)
                                    {
                                        $roomType_info	=		(!is_array($room_type_info_obj_arr)) ? $room_type_info_obj_arr->toArray() : $room_type_info_obj_arr;									
                                        $roomType_info['basic_price']		=	($roomType_info['price_per_night']) ? $roomType_info['price_per_night'] : 0;
                                        $roomType_info['descount_price']		=	(!empty($roomType_info['price_after_discount'])) ? $roomType_info['price_after_discount'] : $roomType_info['price_per_night'];
                                    }
                                    if(!empty($roomType_info['basic_price']))
                                    {
                                        break;
                                    }
                                }
                            }
                            catch(Exception $e)
                            { $roomType_info = null; }
                        }
                    }
                    else
                    {
                        $roomType_info = null;
                    }
                ?>
                </div>
                
                <div class="thumb">
                    <a href="<?php echo $link; ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->_view->escape($partial_entry['hotels_name']); ?>" width="300"><img src="<?php echo $thumb_image; ?>" height="100" border="0" class="img-rounded"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count">
                            <a href="<?php echo $this->_view->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->_view->escape($entry['hotels_title']),'tab' => 1 ),'Hotels-details/:hotels_title/:tab',true); ?>" title="<?php echo $translator->translator('hotels_front_page_hotels_click_view_listing','', 'Hotels'); ?>"><?php echo $translator->translator('hotels_front_page_hotels_photo_no' , '<span>'.$hotels_image_no.'</span>' ,'Hotels'); ?></a>
                        </div>
                    </div>
                </div>
                <div class="details">
                	<br>
                    <?php if($roomType_info){ ?>
                    <span class="previous"><?php echo $currency_symbol.$this->_view->escape($roomType_info['basic_price']); ?></span> &nbsp; 
                    <span class="price"><?php echo $currency_symbol.$this->_view->price($this->_view->escape($roomType_info['descount_price'])); ?></span><br />
                    <?php } ?>
                    <a href="<?php echo $link; ?>"><span class="glyphicon glyphicon-map-marker"></span>  <?php echo $this->_view->escape($partial_entry['location_for_search']); ?></a><br />
                    <span class="info"><?php if(!empty($partial_entry['feature_distance_from_airport'])){ echo $this->_view->escape($partial_entry['feature_distance_from_airport']).' '.$translator->translator('hotels_front_page_distance','','Hotels'); } ?></span><br />
                    <?php echo $this->truncate($this->_view->escape(strip_tags($partial_entry['hotels_desc'])), 0, 6); ?><br />
                    
                    <?php 
                        if(!empty($partial_entry['review_id'])){ 
                        $review_no = $review_helper->getNumOfReviews($partial_entry['id'], $this->_view->escape($partial_entry['review_id']));
                    ?>
                    <?php echo $translator->translator('block_score','', '', $this->_front_template['theme_folder']); ?><a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->_view->escape($partial_entry['hotels_title']),'tab' => 10 ),'Hotels-details/:hotels_title/:tab',true); ?>"><span class="glyphicon glyphicon-comment"></span> <?php echo $translator->translator('common_review_no',htmlentities($review_no), 'Hotels'); ?></a><?php } ?>
                    <hr>
                    <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up"></span> <?php  echo $this->_view->escape($partial_entry['hotels_status']); ?></span> <span class="label label-success"><?php  echo $this->_view->escape($partial_entry['business_type']); ?></span>
                </div>
            </figure>
        </div> 
  	<?php
        }
  	}
    ?>
    <div class="more"><a href="All-Hotel-List/group_id/<?php echo $this->_group; ?>"><?php echo $translator->translator('hotels_block_more_hotel_title','', '', $this->_front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
</div>
<?php
	}
}
try
{
	$recent_hotels_class = new recent_hotels($this);
	$recent_hotels_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>