<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$this->networkForm->setEditor($this->serverUrl().$this->baseUrl());
$this->networkForm->getEditor();
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
?>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
$(document).ready(function() {	
	floatingbar('#floatingbar',"#button_top_bar",null);
	var settingObj = {						
						form_action : {
											form_id: 'editNetworkform',
											hasTinyMCE: true,										
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',																			
											extra_field_for_reset: [],
											extra_function_for_reset: function(){}
									},					
						calendar:	{
										calendar_include_time: false,	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: ''
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
					};
					
	
		
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
	});
	
	$('a.edit_network_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
		formData.id = '<?php echo $this->id; ?>';
		//var state = $('select.state_id option:selected').attr('label');
		var country = $('select.country_id option:selected').attr('label');
		/*if(formData.state_id == '' || formData.country_id == '')
		{
			commonMsgDialog(settingObj, "<?php echo $this->translator->translator('tracker_network_country_state_err'); ?>");
			return;
		}*/
		var countryVal = formData.country_id;
		var oldcountry = '<?php echo $this->networkForm->country_id->getValue(); ?>';
		if(oldcountry != countryVal)
		{
			var address = country;
			geocoder = new google.maps.Geocoder();
			geocoder.geocode( { 'address': address}, function(results, status) 
			{
			  if (status == google.maps.GeocoderStatus.OK) 
			  {
				var center = results[0].geometry.location;
				var latitude = center.lat();
				var longitude = center.lng();
				formData.latitude = latitude;
				formData.longitude = longitude;
				sendRequest(formData);
			  } 
			  else 
			  {
				commonMsgDialog(settingObj, "<?php echo $this->translator->translator('tracker_network_country_latlng_err'); ?><strong>"+address+"</strong>"); // to view status +':'+ status);
			  }
			});		
		}
		else
		{
			sendRequest(formData);
		}
	});	
	
	function sendRequest(formData)
	{
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Tracker','controller' => 'backendnetwork', 'action'     => 'edit' ), 'adminrout',    true) ?>",
			type: 'POST',
			beforeSend: function(){						
					commonRemoveFormError(settingObj);
					commonOpenLoaderDialog(settingObj);					
				 },
			data: formData,
			success: function(response){
				//alert(response);
				try
				{	
					commonCloseLoaderDialog(settingObj);					
					var json_arr = eval("("+response+")");				
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				}
				catch(error)
				{
					commonCloseLoaderDialog(settingObj);	
					var error_arr = 	[error, response];
					var msg = commonErrMsgException(error_arr);				
					$('#actionMessage').html(errMsgDesign(msg));
				}
			},
			error: function(xhr, status, error){
				commonCloseLoaderDialog(settingObj);
				var msg = "Error! " + xhr.status + " " + error;
				$('#actionMessage').html(errMsgDesign(msg));
			}
		});
	}
});	
</script>
<div id="button_top_bar"></div>
<div class="title-container">
	<div class="network-edit"><h1><?php echo $this->translator->translator('tracker_network_edit_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array("module" => "Tracker","controller" => "backendnetwork", 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_network_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_network_edit_page_save'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('network_nav_menu.phtml');  ?>
    </div>
    
    <div id="content-inner">
    	<form name="editNetworkform" id="editNetworkform" method="post">
        	<div id="actionMessage"></div>
        	<div id="generalInfo">
            	<fieldset class="fieldset last">
                	<legend class="legend"><?php echo $this->translator->translator('tracker_network_page_info'); ?></legend>
                    <div class="form">
                    	<div class="form-row">
                            <div class="label label-small">
                                <?php echo $this->networkForm->country_id->getAttrib('title');  if($this->networkForm->country_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field field-big">
                                <?php echo $this->networkForm->country_id;?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->networkForm->country_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="country_id_err"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label label-small">
                                <?php echo $this->networkForm->description->getLabel();  if($this->networkForm->description->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                
                            <div class="field field-big">
                                <div class="left-float"><?php echo $this->networkForm->description; ?></div>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->networkForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <span id="loaderLink"><a href="javascript:void(0);" onClick="loadTinyMCE('description');"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif" border="0"  title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" /></a></span>
                                <div class="input-errors" id="description_err"></div>
                            </div>	
                        </div>
                 	</div>
              	</fieldset>
         	</div>
     	</form>
    </div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array("module" => "Tracker","controller" => "backendnetwork", 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_network_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_network_edit_page_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('tracker_network_edit_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array("module" => "Tracker","controller" => "backendnetwork", 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_network_btn"><span class="icon save"><?php echo $this->translator->translator('tracker_network_edit_page_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('tracker_network_add_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>