<?php
$version = Zend_Registry::get('version');  
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');


if(!empty($group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
if(!empty($this->group_datas['gallery_name'])) { $this->headTitle()->headTitle($this->group_datas['gallery_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }
$this->headTitle($this->translator->translator('gallery_simple_search_title'));


$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/colorbox/example1/colorbox.css');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/colorbox/jquery.colorbox.js', '');
?>
		
<script type="text/javascript">
	$(document).ready(function (){
	
	/****************************Sorting Table Start*********************/
	var oTable = $("#sortTable").dataTable({
				"bPaginate": true,
				"aLengthMenu" : [ 5, 10, 20, 50, 100 ],
				"sPaginationType": "full_numbers",
				"bLengthChange": true,
				"bSearchable": false,
				"bFilter": false,
				"bSort": false,
				"bInfo": false,
				"bAutoWidth": true,
				"bProcessing": false,
				"bSortClasses": true,
				"bStateSave": false,
				"bServerSide": false,				
				"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
				"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
			}); 	
	/****************************Sorting Table End*********************/
	
	$("a[rel='preview_btn'], a.pirobox").colorbox({width:"98%", height:"98%",slideshow:false, transition:"fade"});
	
	
});
function PopupCenter(pageURL, title,w,h) {
var left = (screen.width/2)-(w/2);
var top = (screen.height/2)-(h/2);
var targetWin = window.open (pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 
</script>

<div class="mod gallery search">
	<h1><?php echo $this->translator->translator('gallery_simple_search_title');?></h1>

    <div class="well">
        <form name="search_gallery_image" method="post" action="<?php echo $this->url( array('module' => 'Gallery','controller' => 'Gallerysearch', 'action'     => 'simplesearch' ), 'Gallery-Search',    true) ?>" role="form">
            <div class="input-group">
            	<?php echo $this->searchForm->search_text;?>
                
                <span class="input-group-btn">
                	<input type="submit" value="Submit" class="btn btn-success" />
                </span>
                <span id="search_text_err"></span>
            </div>
        </form>
    </div>
    <?php
    if($this->result)
    {
    ?>
    <div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> <?php echo $this->translator->translator('gallery_search_list_title'); ?>: <?php echo $this->translator->translator('gallery_search_list_found_title', count($this->result)); ?></div>
    
    <div class="gallery-container">
            <div class="row">
			<?php			
                $i =1 ;
                $col_num =  4;	
			
                if(null !== $this->result && count($this->result) > 0):
                foreach ($this->result as $entry=>$value):
                
                $group_datas = $this->viewHelper->_getGallery_info($value['group_id']);
                    
                $link = $this->url( array('module' => 'Gallery','controller' =>'Gallerysearch','action' => 'searchdetails','id' => $value['id']), 'Search-Details/:id',    true);
                $product_thumb_val_arr = explode(',',$value['product_thumb']);
                $product_file_val_arr = explode(',',$value['product_file']);
                if($value['featured'] == '1')
                {
                    $style = 'style="background: #FF0000;"';
                }
                else
                {
                    $style = "";
                }				
                if($this->escape($value['product_thumb_primary']))
                { 
                    $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($value['product_thumb_primary']); 
                }
                else
                { 
                    if($this->escape($value['product_thumb']))
                    {
                        
                        $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($product_thumb_val_arr[0]); 
                    }
                    else
                    {
                        if($this->escape($value['product_file_primary']))
                        {
                            $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($value['product_file_primary']); 
                        }
                        else
                        {
                            
                            $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($product_file_val_arr[0]); 
                        }
                    }		
                }
                 
                if($this->escape($value['product_file_primary']))
                {
                    $light_box_image = 'data/frontImages/gallery/product_image/'.$this->escape($value['product_file_primary']); 
                }
                else
                {
                    $product_file_val_arr = explode(',',$value['product_file']);
                    $light_box_image = 'data/frontImages/gallery/product_image/'.$this->escape($product_file_val_arr[0]); 
                }
                $img_title_desc = '<b>'.$this->translator->translator('gallery_common_name').'</b> '.$this->escape($value['product_name']);	
                $img_title_desc .=	($this->escape($value['product_code'])) ? '<br /><b>'.$this->translator->translator('gallery_common_code').'</b> '.$this->escape($value['product_code']) : '';
                $img_title_desc .=	($this->escape($value['product_price'])) ? '<br /><b>'.$this->translator->translator('gallery_common_price').'</b> '.$this->escape($value['product_price']).'&nbsp;'.$currency->getSymbol() : '';
                $img_title_desc .=	($this->escape($value['product_desc'])) ? '<br /><b>'.$this->translator->translator('gallery_common_desc').'</b> '.strip_tags($this->escape($value['product_desc'])) : '';
            ?>
            <div class="col-xs-12">
                <div class="image-box">
                    <div class="gallery-thumb">            	
                        <a <?php if($group_datas['light_box_on'] == '1'){ ?>class="preview" link="<?php echo $thumb_image; ?>" width="300px" <?php } ?> href="<?php echo $link; ?>" title="<?php echo $this->escape($value['product_title']); ?>" ><img src="<?php echo $thumb_image; ?>" width="120" border="0" class="thumb-img" /></a>
                    </div>
                    <div class="info-container clearfix">
                    	<div class="img-label"><?php echo $this->translator->translator('gallery_common_name'); ?></div> <div class="img-value"><a href="<?php echo $link; ?>"><?php echo $this->escape($value['product_name']); ?></a></div>
                        <div class="img-label"><?php echo $this->translator->translator('gallery_common_image_no'); ?></div> <div class="img-value"><?php echo count($product_file_val_arr); ?></div>
                        <?php if($value['product_code']){ ?>
                        <div class="img-label"><?php echo $this->translator->translator('gallery_common_code'); ?></div> <div class="img-value"><?php echo $this->escape($value['product_code']); ?></div>
                        <?php } ?>
                        <div class="img-label"><?php echo $this->translator->translator('gallery_common_price'); ?></div> <div class="img-value"><?php echo $this->escape($value['product_price']).'&nbsp;'.$currency->getSymbol(); ?></div>
                        <div class="img-label"><?php echo $this->translator->translator('gallery_common_cpyright'); ?></div> <div class="img-value"><?php echo $this->escape($global_conf['site_name']); ?></div>
                    </div>
                    
                    <div class="icon clearfix">
                        <div class="icon-bg"><span class="big-view"><a href="<?php echo $light_box_image; ?>" class="pirobox" title="<?php echo $this->escape($value['product_name']); ?>"></a></span></div>
                        <div class="icon-bg"><span class="img-details"><a href="<?php echo $link; ?>" title="Image Details"></a></span></div>
                    </div>
                </div>
            </div>
			<?php	
                $i++;
                endforeach;	
                else:
                    echo '<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> '.$this->translator->translator('gallery_no_picture_found_error').'</div>';
                endif;		
            ?>
        	</div>
	</div>
    <?php
    }
	else
	{
		echo '<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> '.$this->translator->translator('gallery_no_picture_found_error').'</div>';
	}
    ?>
</div>