<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php 
	else :  
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$permission_arr = array('add_enable' => $this->allow('add','backendprice','Hotels'), 'edit_enable' => $this->allow('edit','backendprice','Hotels'), 'delete_enable' => $this->allow('delete','backendprice','Hotels'), 'list_enable' => $this->allow('list','backendprice','Hotels'));	

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script type="text/javascript">

$(document).ready(function() {
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	var settingObj = {
						grid_id : 'room-grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',						
						dataSource_autoSync: false,
						groupable: {
						  messages: {
							empty: "<?php echo html_entity_decode($this->translator->translator("portfolio_groupable_messages_empty", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
						  }
						},
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						common_action : {
								permission_arr : {
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								delete_dest_btn				:	'a.delete_btn',
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendprice', 'action'  => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'plan_name'],							
								
								delete_multi_dest_btn		:	'a.delete_all',
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendprice', 'action'  => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('hotels_room_type_search_button'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
								search_form_id : 'roomSearchForm',
								search_form_btn : 'search_btn',
								hasTinyMCE 	: false,
								show_loader_on_search_button: true
							},						
						detailInit_action: {},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;													                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
										plan_name: { type: "string" },
										price_per_night: { type: "number" },
										price_after_discount: { type: "number" },                                        
										full_name: { type: "string" }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?>   />',	template: '<input type="checkbox" value="${id}" class="check_btn" <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 	
												template: '#= id_format #',	
												title: 	"<?php echo $this->translator->translator('common_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},											
											{ 
												field: "plan_name", 
												template: '#= plan_name #',
												title:	"<?php echo $this->translator->translator('hotels_price_plan_header_name'); ?>"
											},
											{ 
												field: "price_per_night", 
												template: '#= price_per_night #<?php echo ' '.$currency->getShortName(); ?>',
												title:	"<?php echo $this->translator->translator('hotels_price_plan_header_price'); ?>" ,
												attributes:{ 'title' : '<strong><?php echo html_entity_decode($this->translator->translator('common_entry_by'), ENT_QUOTES, 'UTF-8'); ?> :</strong> #= username #' }, 
												format: "{0:c}",												
												width: 150 
											},
											{ 	
												field: "price_after_discount", 	
												title:	"<?php echo $this->translator->translator('hotels_price_plan_header_price_discount'); ?>" ,
												template: '#= price_after_discount # <?php echo ' '.$currency->getShortName(); ?>',
												format: "{0:c}",												
												width: 150 												
											},
											{ 
												field: "full_name", 		
												title:	"<?php echo $this->translator->translator('common_entry_by'); ?>",												
												template: '#= full_name  #',
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 120, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ #<a href="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'backendprice', 'action'  => 'edit', 'id' => ''), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${publish_status_plan_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
		commonGrid(settingObj);
});
</script>

<div class="title-container">
	<div class="hotels-room"><h1><?php echo $this->translator->translator('hotels_price_plan_list_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendprice', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    <div id="content-inner">
    
        <div class="chart">
            <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="room-grid"></div>  
           </div>
		</div>
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('hotels_price_plan_list_page_name'); ?></h1>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendprice', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<?php endif; ?>
	<div id="dialog_calendar_loader" style="display:none;"><div id="dialog_calendar"></div></div>
	<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_price_plan_list_page_name')); ?>"></div>
	<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>	
	<div id="dialog_loader" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
		<div id="progressbar" ></div>	
	</div>
</div>