<?php
$this->headMeta()->setName('keywords', $this->escape($this->view_datas['highlights']));
$this->headMeta()->setName('description', $this->escape($this->view_datas['highlights'])); 
$this->headTitle()->headTitle( $this->escape($this->view_datas['highlights']),'SET'); 

function tours_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}
//echo '<pre>';
//print_r($this->view_datas);
//echo '</pre>';
?>

<div class="mod details wego">
	<h1><?php echo $this->escape($this->view_datas['headline']); ?></h1> &nbsp; 
	<span class="label label-success"><?php echo ucfirst($this->escape($this->view_datas['classification'])); ?></span>
    <br>
	<?php if($this->view_datas['image']){ ?>
    <br>
    <div class="text-center">
    	<a href="javascript:void(0);" class="preview" link="<?php echo $this->view_datas['image']; ?>" title="" ><img src="<?php echo $this->escape($this->view_datas['image']); ?>"  width="400" border="0" class="img-thumbnail img-responsive" /></a>
    </div>
	<?php } ?>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('tours_front_page_Title_detail'); ?></h4></div>
        <div class="panel-body">     
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <td><?php echo $this->translator->translator('tours_block_featured_label_price'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['currency']).' '.$this->escape($this->view_datas['price']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Sales From :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['sales_from']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Sales Till :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['sales_till']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Days :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['days']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Nights :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['nights']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Airlines :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['airlines']); ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translator->translator('Hotels :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['hotels']); ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translator->translator('Travel Agent :'); ?></td>
                    <td><?php echo $this->escape($this->view_datas['travel_agent']); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Dest Countries :'); ?></td>
                    <td><?php $dest_countries = implode(', ', $this->view_datas['dest_countries']); echo $this->escape($dest_countries); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('Dest Cities :'); ?></td>
                    <td><?php $dest_cities = implode(', ', $this->view_datas['dest_cities_attractions']); echo $this->escape($dest_cities); ?></td>
                </tr>
                
                <?php
					$remarks = nl2br($this->view_datas['remarks']); 
					$remarks_arr = explode('<br />', $remarks);
					foreach($remarks_arr as $remarks_value)
					{				
						$remarks_value_arr = explode(':', $remarks_value);
						if(!empty($remarks_value_arr[0]) && !empty($remarks_value_arr[1]))
						{
							echo '<tr><td>'.$remarks_value_arr[0].':</td>'. 'td>'.$remarks_value_arr[1].'</td></tr>';
						}
					}
				?>
                <tr>
                    <td><?php echo $this->translator->translator('Highlights :'); ?></td>
                    <td><?php  echo $this->escape($this->view_datas['highlights']);  ?></td>
                </tr>
            </table>
      	</div>
  	</div>
	<div class="text-center">
		<a href="http://www.wego.com/packages/api/redirect?id=<?php echo $this->view_datas['id']; ?>" class="btn btn-global"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translator->translator('tours_invoice_book_now'); ?></a>
    </div>
	<br><br>
    
    <fieldset>
		<legend><?php echo $this->translator->translator('Itineraries'); ?></legend>
        <div class="well">
			<?php echo $this->translator->translator('Headline'); ?> <?php echo $this->translator->translator('Message'); ?>
        </div>
        <div class="itinerary_main_body_block">
            <?php               	
                foreach($this->view_datas['itineraries'] as $itineraries_key => $itineraries)
                {
                    if($itineraries)
                    {
            ?>
            	<div class="itinerary_main_body_block_clild_header">
                	<div class="itinerary-header">
                   		<?php echo $this->translator->translator('Days :'); ?> <?php echo $this->escape($itineraries['days']); ?>
                  	</div>
              	</div>
                
                <div class="itinerary_main_body_block_clild_body">
                    <div class="itinerary_main_body_block_clild_body_box1">
                        <div class="col-md-12"><?php echo $this->translator->translator('Headline :'); ?> <?php echo nl2br($this->escape($itineraries['headline'])); ?></div>
                    </div>
                    
                    <div class="itinerary_main_body_block_clild_body_box3">
                    	<div class="col-md-12"><?php echo $this->escape($itineraries['message']); ?></div>
                    </div>
                </div>
            <?php
                    }
                }
            ?>
        </div>
    </fieldset>
</div>