<?php
$this->headMeta()->setName('keywords',$this->translator->translator('tours_front_page_api_search'));
$this->headMeta()->setName('description',$this->translator->translator('tours_front_page_api_search')); 
$this->headTitle()->headTitle($this->translator->translator('tours_front_page_api_search'),'SET'); 

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');
$version = Zend_Registry::get('version');
$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');

function tours_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}
?>
<script type="text/javascript">

$(document).ready(function() {

		calender('time_date');
		text_truncate();
		/****************************Sorting Table Start*********************/
		var oTable = $("#sortTable").dataTable({
					"bPaginate": true,
					"aLengthMenu" : [ 10, 25, 50, 100 ],
					"sPaginationType": "full_numbers",
					"bDestroy":true,
					"bLengthChange": true,
					"bSearchable": true,
					"bFilter": false,
					"bSort": false,
					"bInfo": false,
					"bAutoWidth": true,
					"bProcessing": false,
					"bSortClasses": true,
					"bStateSave": false,
					"bServerSide": false,
					"aaSorting": [[ 0, "asc" ]],				
					"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
					"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
				});			
				
		/****************************Sorting Table End*********************/
		
		function getFormData()
		{
			var fieldObj = {};
			var filename = '';
			var filevalue = '';
			$.each($('#formSearch').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];
					filevalue = $('#'+filename).val();
				}
				else
				{
					filename 	= 	field.name;
					filevalue 	= 	field.value;
				}			
				fieldObj[filename] =  filevalue;			
			});
			return fieldObj;
		}
		
		$('#country_id_H').change(function() {	
			if($('#country_id_H option:selected').val() == 'any' || $('#country_id_H option:selected').val() =='')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');	
				$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#country_id_H option:selected').val() },
					  beforeSend: function(){						
								$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');			
								$('#state_id_H_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" border="0" height="15" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('#state_id_H').html(option);
						}
						else
						{
							$('#state_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_H_err').html('');
					  }
				});
			}
		});
		
		$('#state_id_H').change(function() {		
					
			if($('#state_id_H option:selected').val() == 'any' || $('#state_id_H option:selected').val() == '')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');
			}
			else
			{
				$.ajax({
					  url: "<?php echo $this->url( array('module' => 'Tours', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#state_id_H option:selected').val() },
					  beforeSend: function(){						
							$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
							$('#area_id_H_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" border="0" height="15" />');	
							},
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.cities.length;i++)
							{
								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
							}
							$('#area_id_H').html(option);
						}
						else
						{
							$('#area_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#area_id_H_err').html('');
					  }
				});
			}
		});	
			
		$('input.search_btn').click(function(){
			var self = this;
			$('#formSearch').submit();
		});
});
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  70,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
function stripslashes(str) 
{
	str=str.replace(/\\'/g,'\'');
	str=str.replace(/\\"/g,'"');
	str=str.replace(/\\0/g,'\0');
	str=str.replace(/\\\\/g,'\\');
	return str;
}

function calender(id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_vacation_img/calendar.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	$("img[class='ui-datepicker-trigger']").each(function(){ 
			$(this).attr('style', '');
		 });
}
</script>

<?php 
$allow_obj = new Tours_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

?>

<div class="mod wego">
	<h1><?php echo $this->translator->translator('tours_front_page_api_search'); ?></h1>
    
    <div class="row">
    	<div class="col-md-5">
        	<div class="well well-lg">
                <form id="formSearch" name="formSearch" method="post" action="<?php echo $this->url( array('module' => 'Tours', 'controller' => 'wego', 'action'     => 'items' ), 'Search-Wego-Tour',    true) ?>" role="form">
                    <div class="form-group">
                        <label for="tours_name"><?php echo $this->translator->translator('tours_front_page_tours_location'); ?></label>
                        <p class="text-muted"><em><?php echo $this->translator->translator('( Examples: Asia, Thailand, Tokyo, or even an attraction such as Disney Land )'); ?></em></p>
                        <input type="text" name="tours_name_LIKE" id="tours_name" value="<?php if($this->postValue['tours_name_LIKE']){ echo $this->postValue['tours_name_LIKE']; }else{ echo 'Any'; } ?>" class="form-control" />
                	</div>
                  	<input type="button" name="Submit" class="search_btn btn btn-block btn-global" value="<?php echo $this->translator->translator('tours_front_page_wego_search_button'); ?>" />
                </form>
  			</div>
        </div>
        
        <div class="col-md-7">
        	<?php $this->ad(230); ?>
        </div>
    </div>
    
    
    <?php
	  if($this->errorMessage)
	  {
	?>
    	<?php if($this->errorMessage){	echo '<div class="infoMess">'.$this->errorMessage.'&nbsp;</div>';	} ?>
    <?php
	  }
	  if($this->view_datas)
	  {
	?>
   	<table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
        <tbody>
          <?php                    
            foreach($this->view_datas as $datas_arr)
            {
                if(!empty($datas_arr))
                {
                    foreach($datas_arr as $packages_arr)
                    {
                        if(!empty($packages_arr) && is_array($packages_arr))
                        {
                            foreach($packages_arr as $entry)
                            {	
                                if(!empty($entry))
                                {
                                    $details_link = $this->url(array('module'=> 'Tours','controller' => 'wego','action' => 'details','id' => $entry['id']), 'Details-Wego-Tour/:id', true); //'http://www.wego.com/packages/show/'.str_replace(' ','-', $entry['travel_agent']['name']).'/'.str_replace(' ','-', $entry['headline']).'/'.$entry['id'];						
                                    $redirect_link = 'http://www.wego.com/packages/api/redirect?id='.$entry['id'];
                        ?>
                                  <tr>
                                    <td>
                                        <div class="panel panel-default">
                                        	<div class="panel-heading">
                                            	<div class="row">
                                                	<div class="col-md-4">
                                                    	<a href="<?php echo $details_link; ?>" class="preview" link="" title="<?php echo $this->escape($entry['headline']); ?>"><?php echo tours_truncate($this->escape($entry['headline']), 0, 7); ?></a><br>
                                                        <div class="text-muted">
                                                            <em><?php if(!empty($entry['days'])){ echo (int)$this->escape($entry['days']).' '.$this->translator->translator('Day (s)').', ';} if(!empty($entry['nights'])){ echo (int)$this->escape($entry['nights']).' '.$this->translator->translator('Night (s)'); } ?></em>
                                                        </div>
                                                   	</div>
                                                    
                                                    <div class="col-md-4 text-center">
                                                        <?php echo $this->translator->translator('Teavel Agent :'); ?> <span class="label label-success"><?php echo $this->escape($entry['travel_agent']['name']); ?></span>
                                                    </div>
                                                    
                                                    <div class="col-md-4 text-right">
                                                    	<?php 
                                                            if(!empty($this->group_datas['review_id'])){ 
                                                            $review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($this->group_datas['review_id']));
                                                        ?><span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($this->group_datas['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 8 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span> <?php } ?>
                                                    </div>
                                              	</div>
                                            </div>
                                            
                                            <div class="panel-body <?php echo $featured_class; ?>">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <?php if($entry['image']){ ?>
                                                        <figure>
                                                            <div class="thumb">
                                                                <a href="<?php echo $details_link; ?>" class="preview" link="<?php echo $entry['image']; ?>" title="<?php echo $this->escape($entry['headline']); ?>" width="200"><img src="<?php echo $entry['image']; ?>" border="0" height="113" /></a>
                                                                <div class="photo-count-container">
                                                                    <div class="photo-count">
                                                                        <a href="<?php echo $details_link; ?>" title="<?php echo $this->translator->translator('tours_front_page_tours_click_view_listing'); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('tours_front_page_tours_photo_no',' '); ?></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </figure>
                                                        <?php } ?>
                                                        
                                                        <div class="details">
                                                            <h2><a href="<?php echo $details_link; ?>" class="preview" link="" title="<?php echo $this->escape($entry['headline']); ?>"><?php echo tours_truncate($this->escape($entry['headline']), 0, 5); ?></a></h2>
                                                            <span class="text-label"><?php echo $this->translator->translator('tours_front_page_tours_location'); ?></span> <?php  $location = implode(', ',$entry['broad_details']['dest_cities_attractions']); echo $this->escape($location); ?><br>
                                                            <span class="text-label"><?php echo $this->translator->translator('tours_front_page_tours_country'); ?></span> <?php  $countries = implode(', ',$entry['broad_details']['dest_countries']); echo $this->escape($countries); ?><br>
                                                            <span class="text-label"><?php echo $this->translator->translator('tours_front_page_tours_desc'); ?></span>
                                                            <span class="jTruncate"><?php echo strip_tags($entry['broad_details']['highlights']); ?></span>
                                                        </div>
                                                    </div>
                                            
                                                    <div class="col-md-4">
                                                    	<div class="text-center">	
                                                    		<div class="price"><?php  if(!empty($entry['price'])){ echo $this->translator->translator('Price : ').$this->escape($entry['currency']).''.round($this->escape($entry['price']), 2); } ?></div>
                                                        </div>
                                                       	
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><?php echo $entry['travel_agent']['name']; ?></li>
                                                            <?php 
                                                                $feature_facilities_arr = explode(',', $entry['feature_amenities']); 
                                                                if ($entry['sales_from']){
                                                            ?>	
                                                            <li class="list-group-item"><?php echo $this->translator->translator('Sales From : ').$entry['sales_from']; ?></li>
                                                            <?php }?>
                                                            
                                                            <?php 
                                                                if ($entry['sales_till']){
                                                            ?>	
                                                            
                                                            <li class="list-group-item"><?php echo $this->translator->translator('Sales Till : ').$entry['sales_till']; ?></li>
                    
                                                            <?php }
                                                                if (in_array ('Pets Allowed' , $feature_facilities_arr)){
                                                            ?>
                                                            
                                                            <li class="list-group-item"><?php echo $this->translator->translator('tours_front_page_list_pet_allow'); ?></li>
                    
                                                            <?php
                                                                } 
                                                                if (in_array ('Hot Tub Available' , $feature_facilities_arr)){
                                                            ?>
                                                            
                                                            <li class="list-group-item"><?php echo $this->translator->translator('tours_front_page_list_hot_tub_availability'); ?></li>
                                                        	<?php } ?>
                                                    	</ul>
                                                    </div>
                                                </div>
                							</div>
                                        	
                                            <div class="panel-footer">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                    </div>
                                                    
                                                    <div class="col-md-5 text-right">
                                                        <a href="<?php echo $redirect_link; ?>" class="btn btn-book"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translator->translator('tours_front_page_tours_book'); ?></a>
                                                    	<a href="<?php echo $details_link; ?>" class="btn btn-details"><?php echo $this->translator->translator('tours_front_page_tours_more'); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
                                                    </div>
                                                </div>
                                        	</div>
                                       	</div>
                                    </td>
                                  </tr>
                  <?php
                                }
                            }
                        }
                    }
                }
            }
          ?>
    
        		</tbody>
          </table>
          <?php
            }	
          ?>
</div>
<?php endif; ?>