<?php
$this->headMeta()->setName('keywords',$this->translator->translator('hotels_front_page_advanced_search'));
$this->headMeta()->setName('description',$this->translator->translator('hotels_front_page_advanced_search')); 
$this->headTitle()->headTitle($this->translator->translator('hotels_front_page_advanced_search'),'SET'); 

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');
$version = Zend_Registry::get('version');
$front_template = Zend_Registry::get('front_template');

$group_db = new Hotels_Model_DbTable_HotelsGroup();
$business_type_db = new Hotels_Model_DbTable_BusinessType();
$cat_Info = new Hotels_Model_DbTable_Category();
$state_db = new Hotels_Model_DbTable_State();
$area_db = new Hotels_Model_DbTable_Area();
$country_db = new Hotels_Model_DbTable_Country();
$hotels_db = new Hotels_Model_DbTable_Hotels();
$room_db = new Hotels_Model_DbTable_Room();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$review_helper = new Review_View_Helper_Review();
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','hotels_page' );

function hotels_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}


$this->postValue = (Eicra_Global_Variable::getSession()->hotel_search_info) ? Eicra_Global_Variable::getSession()->hotel_search_info : $this->postValue;

?>

<script type="text/javascript">

$(document).ready(function() {

		calender('check_in_search', 'check_out_search');
		calender('check_out_search', 'check_in_search');
		text_truncate();
		autoSugg();
		
		/****************************Sorting Table Start*********************/
		var oTable = $("#sortTable").dataTable({
					"bPaginate": true,
					"aLengthMenu" : [ 10, 25, 50, 100 ],
					"sPaginationType": "full_numbers",
					"bDestroy":true,
					"bLengthChange": true,
					"bSearchable": true,
					"bFilter": false,
					"bSort": false,
					"bInfo": false,
					"bAutoWidth": true,
					"bProcessing": false,
					"bSortClasses": true,
					"bStateSave": false,
					"bServerSide": false,
					"aaSorting": [[ 0, "asc" ]],				
					"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
					"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
				});					
				
		/****************************Sorting Table End*********************/
		
		
		$('#country_id').change(function() {	
			if($('#country_id option:selected').val() == 'any' || $('#country_id option:selected').val() =='')
			{
				$('#area_id').html('<option value="any"><?php echo $this->translator->translator("hotels_select_area"); ?></option>');	
				$('#state_id').html('<option value="any"><?php echo $this->translator->translator("hotels_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Hotels','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#country_id option:selected').val() },
					  beforeSend: function(){						
								$('#state_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('#area_id').html('<option value="any"><?php echo $this->translator->translator("hotels_select_area"); ?></option>');			
								$('#state_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("hotels_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('#state_id').html(option);
						}
						else
						{
							$('#state_id').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_err').html('');
					  },
					error: function(xhr, status, error){
						closeLoaderDialog();
						var msg = "Error! " + xhr.status + " " + error;						
						openMsgDialog(msg);
					}
				});
			}
		});
		
		$('#state_id').change(function() {		
					
			if($('#state_id option:selected').val() == 'any' || $('#state_id option:selected').val() == '')
			{
				$('#area_id').html('<option value="any"><?php echo $this->translator->translator("hotels_select_area"); ?></option>');
			}
			else
			{
				$.ajax({
					  url: "<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#state_id option:selected').val() },
					  beforeSend: function(){						
							$('#area_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
							$('#area_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');
							},
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("hotels_select_area"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.cities.length;i++)
							{
								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
							}
							$('#area_id').html(option);
						}
						else
						{
							$('#area_id').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#area_id_err').html('');
					  },
					error: function(xhr, status, error){
						closeLoaderDialog();
						var msg = "Error! " + xhr.status + " " + error;						
						openMsgDialog(msg);
					}
				});
			}
		});	
				
});
function text_truncate()
{
	$('div.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
function stripslashes(str) 
{
	str=str.replace(/\\'/g,'\'');
	str=str.replace(/\\"/g,'"');
	str=str.replace(/\\0/g,'\0');
	str=str.replace(/\\\\/g,'\\');
	return str;
}

function calender(id,second_id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/calendar.png',
		buttonImageOnly: true,		
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true,
		onSelect: function(dateText, inst) {
			var id_type_arr = id.split('_');
			var true_id = 		id_type_arr[0] + id_type_arr[1];			
			var currentTime = new Date();
			var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
			var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;				
			if(true_id == 'checkin')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) >= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{					
					var msg = "<?php echo $this->translator->translator('hotels_front_page_checkin_date_err'); ?>";
					openMsgDialog(msg);					
					$('#'+id).val('');
				}
				if(!is_30dayDiff(dateText, $('#'+second_id).val()))
				{
					var msg = "<?php echo $this->translator->translator('hotels_front_page_date_difference_err'); ?>";
					openMsgDialog(msg);					
					$('#'+id).val('');
				}
			}
			else if(true_id == 'checkout')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) <= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('hotels_front_page_checkout_date_err'); ?>";
					openMsgDialog(msg);
					$('#'+id).val('');
				}
				if(!is_30dayDiff($('#'+second_id).val(), dateText))
				{
					var msg = "<?php echo $this->translator->translator('hotels_front_page_date_difference_err'); ?>";
					openMsgDialog(msg);					
					$('#'+id).val('');
				}
			}
		}
	});
	$("img[class='ui-datepicker-trigger']").each(function(){
			$(this).attr('style', '');
		 });
}

function toTimestamp(strDate){
	 var datum = Date.parse(strDate);
	 return datum/1000;
}

function is_30dayDiff(checkin, checkout)
{
	if(checkin != '' && checkout != '')
	{
		var checkin_arr = checkin.split('-');
		var checkout_arr = checkout.split('-');
		var checkin_obj =new Date(checkin_arr[0], (checkin_arr[1] - 1), checkin_arr[2]);
		var checkout_obj =new Date(checkout_arr[0], (checkout_arr[1] - 1), checkout_arr[2]);		
		var one_day=1000*60*60*24;
		var diff = Math.ceil((checkout_obj.getTime()-checkin_obj.getTime())/(one_day));	
		if(diff > 30)
		{
			return false;
		}	
	}
	return true;	
}

function openMsgDialog(msg)
{
$('#dialog_container').html(msg).dialog({
			autoOpen: true,
			modal: false,
			show: 'fade',
			resizable: 'false',				
			buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							//$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
}

function autoSugg()
{
	autoSuggestion('location_for_search', "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'location_for_search': ''}, ['hotels_primary_image', 'hotels_image', 'hotels_name', 'location_for_search', 'owner_name', 'hotels_location'], 'data/frontImages/hotels/hotels_image', 2);
	autoSuggestion('post_code', "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['hotels_primary_image', 'hotels_image', 'hotels_name', 'post_code', 'owner_name','hotels_postcode', 'hotels_location'], 'data/frontImages/hotels/hotels_image', 2);			
}
</script>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_front_page_dialog_name')); ?>"></div>
<?php 
$allow_obj = new Hotels_View_Helper_Allow();
if (!$allow_obj->allowRule('items',null,null,$this->group_datas['role_id'])) : ?>

<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>

<?php else : ?>

<div class="mod">
	<div class="search-icon">
		<h1><?php echo $this->translator->translator('hotels_front_page_advanced_search'); ?></h1>
    </div>   
    
    <div class="social">
      	<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
		<!-- AddThis Button END -->
	</div>

	<div class="clear"></div>
   	
    <div class="mod-container mod-advance-search">
		<form id="form1" name="form1" method="post" action="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'search', 'action'     => 'items' ), 'Search-Hotels',    true); ?>">
			<div class="col clear">
              <p><?php echo $this->translator->translator('hotels_list_page_search_where'); ?></p>
              <input type="hidden" name="active_=" id="active" value="<?php if($this->postValue['active_='] != ''){ echo $this->postValue['active_=']; }else{ ?>1<?php } ?>" />
              <input name="location_for_search_LIKE" type="text" id="location_for_search" value="<?php if($this->postValue['location_for_search_LIKE']){ echo $this->postValue['location_for_search_LIKE']; }else{ echo $this->translator->translator("common_any_language"); }  ?>" class="location" />
          	</div>
          
          	<div class="col">
            	<p><?php echo $this->translator->translator('hotels_list_page_search_group'); ?></p>
              	<select name="group_id_=" id="group_id" class="country_id">					 	
					<?php
                    $group_list = $group_db->getGroupInfo();
                        foreach($group_list as $key => $value)
                        {
                            $selected = ($this->postValue['group_id_='] == $key) ? 'selected=""selected' : '';
                    ?>
                        <option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
                    <?php	
                        }
                    ?>
              	</select>
          	</div>
          
			<div class="col">
            	<p><?php echo $this->translator->translator('hotels_list_page_search_check_in'); ?></p>
            	<input name="<?php echo Eicra_File_Constants::HOTELS_CHECK_IN; ?>" type="text" id="check_in_search" value="<?php echo $this->postValue['check_in']; ?>" />
          	</div>
          
          	<div class="col">
            	<p><?php echo $this->translator->translator('hotels_list_page_search_check_out'); ?></p>
              	<input name="<?php echo Eicra_File_Constants::HOTELS_CHECK_OUT; ?>" type="text" id="check_out_search" value="<?php echo $this->postValue['check_out']; ?>" />
          	</div>
         
          	<div class="col">
              	<p><?php echo $this->translator->translator('hotels_list_page_search_postcode'); ?></p>
              	<input name="post_code_=" type="text" class="mod-field" id="post_code"  value="<?php if($this->postValue['post_code_=']){ echo $this->postValue['post_code_=']; }else{ echo $this->translator->translator("common_any_language"); } ?>" />
          	</div>
          
           	<div class="col">
              	<p><?php echo $this->translator->translator('hotels_list_page_search_country'); ?></p>
               	<?php						
                	$country_data = $country_db->getCountryInfo();
                ?>
                <select name="country_id_=" id="country_id" class="country_id" >
                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                <?php
                    
                    foreach($country_data as $key=>$value)
                    {
                        $selected = ($this->postValue['country_id_='] == $key) ? ' selected="selected" ' : '';
                ?>
                    <option value="<?php echo $key; ?>"<?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
                <?php
                    }
                ?>
                </select>
          	</div>
          
          	<div class="col">
              	<p><?php echo $this->translator->translator('hotels_list_page_search_state'); ?></p>
              	<select name="state_id_=" id="state_id" class="state_id">
                	<option value="any"><?php echo $this->translator->translator('hotels_select_state'); ?></option>																			
            	</select><span id="state_id_err"></span>
          	</div>
          
          	<div class="col">
            	<p><?php echo $this->translator->translator('hotels_list_page_search_area'); ?></p>
              	<select name="area_id_=" id="area_id" class="area_id">
                	<option value="any"><?php echo $this->translator->translator('hotels_select_area'); ?></option>																			
            	</select><span id="area_id_err"></span>
          	</div>
          
          	<div class="col">
           		<p><?php echo $this->translator->translator('hotels_list_page_search_category'); ?></p>
              	<?php
                    $cat_data = $cat_Info->getOptions($this->group_datas['id']);
                ?>
                <select name="category_id_=" id="category_id">
                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                <?php
                    
                    foreach($cat_data as $info)
                    {
                        $selected = ($this->postValue['category_id_='] == $info['id']) ? ' selected="selected" ' : '';
                ?>
                    <option value="<?php echo $info['id']; ?>"<?php echo $selected; ?>><?php echo $this->escape($info['category_name']); ?></option>
                <?php
                    }
                ?>
                </select>
          	</div>
          
          	<div class="col">
              	<p><?php echo $this->translator->translator('hotels_list_page_search_pro_type'); ?></p>
              	<?php
                    $type_info = $business_type_db->getOptions($this->group_datas['id']);
                ?>
                <select name="hotels_type_=" id="hotels_type">
                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                <?php
                    
                    foreach($type_info as $info)
                    {
                        $selected = ($this->postValue['hotels_type_='] == $info['id']) ? ' selected="selected" ' : '';
                ?>
                    <option value="<?php echo $info['id']; ?>"<?php echo $selected; ?>><?php echo $this->escape($info['business_type']); ?></option>
                <?php
                    }
                ?>
                </select>
          	</div>
         
          	<div class="clear btn-container">
          		<input type="submit" name="button" id="button" value="<?php echo $this->translator->translator('hotels_front_page_search_button'); ?>" />
          	</div>
        </form>
   	</div>

  	<?php  		
  		if($this->view_datas)
  		{
  	?>
    <table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="5">			
        <tbody>
          <?php
            if(!empty($this->view_datas))
            {
                foreach($this->view_datas as $entry)
                {						
                $hotels_image_val_arr = explode(',',$entry['hotels_image']);
                $hotels_image_no = (empty($hotels_image_val_arr[0])) ? '0' : count($hotels_image_val_arr);
                    
                    if($this->escape($entry['hotels_primary_image']))
                    { 
                        $thumb_image = 'data/frontImages/hotels/hotels_image/'.$this->escape($entry['hotels_primary_image']); 
                    }
                    else
                    { 
                        if($this->escape($entry['hotels_image']))
                        {
                            $hotels_image_val_arr = explode(',',$entry['hotels_image']);
                            $thumb_image = 'data/frontImages/hotels/hotels_image/'.$this->escape($hotels_image_val_arr[0]); 
                        }
                        else
                        {
                            $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/no_image.png'; 
                        }		
                    }
                    if($this->group_datas['file_thumb_width'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToWidth' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
                    { 
                        $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                    }
                    else
                    {
                        $width = '';
                    } 
                    if($this->group_datas['file_thumb_height'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToHeight' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
                    { 
                        $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                    } 
                    else
                    {
                        $height = '';
                    }
                    $featured_class = ($entry['featured'] == '1') ? 'products-featured' : '';
                    ?>                                
                      <tr>
                        <td>
							<div class="products-list">
                                <!-- list Header Start -->
                                <div class="list-header">
                                	<div class="header-row">
                                    	<div class="header-left">
                                            <span class="title-small"><?php echo hotels_truncate($this->escape($entry['hotels_name']), 0, 6); ?></span><br />
                                            <span class="info"><?php if(!empty($entry['feature_distance_from_airport'])){ echo $this->escape($entry['feature_distance_from_airport']).' '.$this->translator->translator('hotels_front_page_distance'); }  ?></span>  
                                        </div>
                                    
                                        <div class="header-middle">
                                            <span class="products-mark"><?php  echo $this->escape($entry['hotels_status']); ?></span>&nbsp;<span class="products-type"><?php $business_type_info = $business_type_db->getBusinessTypeInfo($entry['hotels_type']); echo $this->escape($business_type_info['business_type']); ?></span>
                                        </div>
                                        
                                        <div class="header-right">                                                
                                            <?php 
                                            if(!empty($this->group_datas['review_id'])){ 
                                            $review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($this->group_datas['review_id']));
                                            ?><span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($this->group_datas['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 10 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span> <?php } ?>
                                        </div>
                                    </div>
                                </div>
                                <!-- list Header End -->
                                
                                <!-- list Body Start -->
                               	<div class="body-container <?php echo $featured_class; ?>">
										<div class="left-content"> 
                                                <div class="img-wrapper">
                                                <a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']) ),'Hotels-details/:hotels_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['hotels_name']); ?>"><img src="<?php echo $thumb_image; ?>" border="0" <?php echo $width; ?> <?php echo $height; ?> class="thumb" /></a>
                                                    <div class="photo-count-container">
                                                        <div class="photo-count">
                                                            <a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 1 ),'Hotels-details/:hotels_title/:tab',true); ?>" title="<?php echo $this->translator->translator('hotels_front_page_hotels_click_view_listing'); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_photo_no',$hotels_image_no); ?></a>
                                                        </div>
                                                    </div>                                            
                                                </div>
                                                
                                                <h2>
                                                    <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']) ),'Hotels-details/:hotels_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['hotels_name']); ?>"><?php echo hotels_truncate($this->escape($entry['hotels_name']), 0, 5); ?></a>
                                                </h2>
                                                
                                                <div class="products-stars">
                                                <?php
                                                        for($i = 1; $i < $maximum_stars_digit; $i++)
                                                        {
                                                            $hotel_stars = ($i <= $this->escape($entry['hotels_grade'])) ? '<img src="application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/star-active.png" />' : '<img src="application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/star-inactive.png" />';
                                                            echo $hotel_stars.'&nbsp;';
                                                        }
                                                    ?>
                                                </div>
                                                
                                                <div class="products-desc jTruncate">
                                                    <?php echo $this->escape(strip_tags($entry['hotels_desc'])); ?>
                                                </div>
                                        </div>
                                         
                                        <div class="right-content">
                                         	<ul class="products-options">	
                                                <li class="availability"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 9 ),'Hotels-details/:hotels_title/:tab',true); ?>" title="Check Calendar for reservation"><?php echo $this->translator->translator('hotels_front_page_hotels_check_availability'); ?></a></li>
                                                <?php
                                                    $feature_facilities_arr = explode(',',$entry['feature_facilities']);															
                                                    if(in_array('airport transfer',$feature_facilities_arr))
                                                    {
                                                ?>
                                                
                                                <li class="airport-transfer"><?php echo $this->translator->translator('hotels_front_page_hotels_airport_transfer'); ?></li>
                                                
                                                <?php
                                                    }
                                                    $feature_sports_recreations_arr = explode(',',$entry['feature_sports_recreations']);															
                                                    if(in_array('indoor pool',$feature_sports_recreations_arr))
                                                    {
                                                ?>
                                                
                                                <li class="swimming"><?php echo $this->translator->translator('hotels_front_page_hotels_swwimming_pool_availability'); ?></li>
        
                                                <?php
                                                    }
                                                    if($entry['feature_pet'] == 'Pets are allowed')
                                                    {
                                                ?>
                                                
                                                <li class="pet"><?php echo $this->translator->translator('hotels_front_page_hotels_pet_allow'); ?></li>
    
                                                <?php
                                                    }																														
                                                    if(in_array('Internet Available',$feature_facilities_arr))
                                                    {
                                                ?>
                                                
                                                <li class="internet" title="<?php echo $this->translator->translator('hotels_front_page_hotels_internet_availability'); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_internet_availability'); ?></li>
                                                
                                                <?php
                                                    }
                                                   if(!empty($entry['hotels_phone'])){ 
                                                ?>
                                                
                                                <div>
                                                    <span class="products-call"><?php if(!empty($entry['hotels_phone'])){ ?><span><?php  echo $this->escape($entry['hotels_phone']); ?></span><?php } ?></span>
                                                </div>
                                                <?php } ?>
                                            </ul>
                                            
                                            <div class="products-vote">
                                                <p><?php echo $this->translator->translator('hotels_front_page_label_voting'); ?></p>
                                                <span><?php  $vote->showButton($entry['id'] , $this->escape($entry['hotels_name'])); ?></span>
                                            </div>                            
										</div>
                                         
                                        <!--  Availability Chart Start-->
                                        <div class="room-chart-container">
                                             <div class="room-chart">
                                                <!-- Header Start -->
                                                <div class="room-chart-row">
                                                    <div class="room-chart-header-col-1">
                                                        <?php echo $this->translator->translator('hotels_front_page_list_head_room_type'); ?>
                                                    </div>
                                                    
                                                    <div class="room-chart-header-col-1 room-chart-header-col-2">
                                                        <?php echo $this->translator->translator('hotels_front_page_list_head_people_per_room'); ?>
                                                    </div>
                                                    
                                                    <div class="room-chart-header-col-1 room-chart-header-col-3">
                                                        <?php echo $this->translator->translator('hotels_front_page_list_head_available_room'); ?>
                                                    </div>
                                                    
                                                    <div class="room-chart-header-col-1 room-chart-header-col-4">
                                                        <?php echo $this->translator->translator('hotels_front_page_list_head_price_per_room'); ?>
                                                    </div> 
                                                </div>
                                                <!-- Header End -->
                                                <?php
                                                    if(!empty($entry['room_type_id']) && !empty($entry['room_type_info']))
                                                    {
                                                        foreach($entry['room_type_info'] as $key=>$room_type_info)
                                                        {
                                                            $row_class = ( $key % 2 == 0) ? 'room-chart-row2' :  'room-chart-row2 room-chart-row3';
                                                            $save = ( ($this->escape($room_type_info['basic_price']) - $this->price($this->escape($room_type_info['descount_price']))) / $this->escape($room_type_info['basic_price']) ) * 100;
                                                            $save = round($save);
                                                            
                                                            $today = date('Y-m-d');	
                                                            $total_room_number = $room_db->getTotalRooms($room_type_info['id']);																														
                                                            $booked = ($room_db->isJustBooked($room_type_info['id'])) ? true : false;                                                   	
                                                ?>
                                                        <!-- Row-2 & Row-3 Start -->
                                                        <div class="<?php echo $row_class ?>">
                                                            <div class="room-chart-c1">
                                                                <a class="preview" link="" title="<?php echo $this->escape($room_type_info['room_condition']); ?>"><?php echo $this->escape($room_type_info['room_type']); ?></a> <?php if($save > 0){ echo $this->translator->translator('hotels_front_page_list_save_money',$save); } if($booked == true){ echo $this->translator->translator('hotels_front_page_list_booked_today'); } ?>
                                                            </div>
                                                            
                                                            <div class="room-chart-c1 room-chart-c2">
                                                                <a class="preview" link="" title="<?php echo $this->translator->translator('hotels_front_page_list_title_people',$this->escape($room_type_info['max_people'])); ?>">
                                                                <?php 
                                                                    if($this->escape($room_type_info['max_people']) <= 4)
                                                                    {
                                                                        for($i = 1; $i <= $this->escape($room_type_info['max_people']); $i++)
                                                                        {
                                                                            echo '<img src="application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/people.png" border="0" />';
                                                                        }
                                                                    } 
                                                                    else
                                                                    {
                                                                        for($i = 1; $i <= 3; $i++)
                                                                        {
                                                                            echo '<img src="application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_hotel_img/people.png" border="0" />';
                                                                        }
                                                                        echo '<span class="person-count">'.$this->escape($room_type_info['max_people']).'</span>';
                                                                    }
                                                                ?>
                                                                </a>
                                                            </div>
                                                            
                                                            <div class="room-chart-c1 room-chart-c3">
                                                                <?php 																		
                                                                    if((count($room_type_info['room_info']) == $total_room_number) && $total_room_number != '0')
                                                                    {
                                                                        echo $this->translator->translator('hotels_front_page_list_available_type_yes');
                                                                    }
                                                                    else if(count($room_type_info['room_info']) == '0' || $total_room_number == '0')
                                                                    {
                                                                        echo $this->translator->translator('hotels_front_page_list_available_type_no');
                                                                    }
                                                                    else if(count($room_type_info['room_info']) == '1')
                                                                    {
                                                                        echo '<a class="preview" link="" title="'.$this->translator->translator('hotels_front_page_list_available_type_last_desc', $currency->getShortName().'&nbsp;'.$this->price($this->escape($room_type_info['descount_price']))).'">'.$this->translator->translator('hotels_front_page_list_available_type_llast', count($room_type_info['room_info'])).'</a>';
                                                                    }
                                                                    else if(count($room_type_info['room_info']) > '1' && count($room_type_info['room_info']) <= $total_room_number)
                                                                    {
                                                                        echo $this->translator->translator('hotels_front_page_list_available_type_left', count($room_type_info['room_info']));
                                                                    }
                                                                 ?>
                                                            </div>
                                                            
                                                            <div class="room-chart-c1 room-chart-c4">
                                                                <span class="hotel-old-price"><?php echo $currency->getShortName().'&nbsp;'.$this->escape($room_type_info['basic_price']); ?></span>&nbsp;
                                                                <span class="hotel-price"><?php echo $currency->getShortName().'&nbsp;'.$this->price($this->escape($room_type_info['descount_price'])); ?></span>
                                                            </div>
                                                            
                                                        </div>
                                                        <!-- Row-2 & Row-3 End -->
                                                <?php
                                                        }
                                                    }
                                                ?>
                                                
                                             </div>
                                        </div>
                                        <!--  Availability Chart End-->
                                </div>
                                <!-- list Body End -->
                                
                                <!-- list footer start -->
                                    <div class="list-footer">
                                        <div class="footer-left">
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 0 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_summary_booking'); ?></a> |
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 1 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_photo'); ?></a> |
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 6 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo ucfirst(strtolower($this->translator->translator('hotels_front_page_hotels_map'))); ?></a> |
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 3 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_facilities_eatures'); ?></a> |
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 8 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_policies'); ?></a> |
                                            <a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']),'tab' => 4 ),'Hotels-details/:hotels_title/:tab',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_profile'); ?></a>
                                        </div>
                                    
                                        <div class="footer-right">
                                        	<?php
											if($global_conf['payment_system'] == 'On'){
											?>
                                            <span class="products-book-btn"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'book', 'action' => 'booking','hotels_title' => $this->escape($entry['hotels_title']) ),'Book-Hotel/:hotels_title',true) ?>"><?php echo $this->translator->translator('hotels_front_page_show_price'); ?></a></span>
                                            <?php } ?>
                                            <span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => $this->escape($entry['hotels_title']) ),'Hotels-details/:hotels_title',true); ?>"><?php echo $this->translator->translator('hotels_front_page_hotels_more'); ?></a></span>
                                        </div>
                                    </div>
                                <!-- list footer end -->
                            </div>
                        </td>
                     </tr>			  
          <?php
                }
            }
          ?>

        </tbody>
    </table>
  	<?php
  	}
		else
		{
	?>
    	<?php if($this->errorMessage){	echo '<div class="infoMess">'.$this->errorMessage.'&nbsp;</div>';	} ?>
    <?php	
	}
endif; ?>
</div>