<?php
$front_template = Zend_Registry::get('front_template');
$this->headMeta()->setName('keywords',$this->translator->translator('hotels_front_page_advanced_search'));
$this->headMeta()->setName('description',$this->translator->translator('hotels_front_page_advanced_search')); 
$this->headTitle()->headTitle($this->translator->translator('hotels_front_page_advanced_search'),'SET'); 

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/accordion.css');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','hotels_page' );

$global_conf = Zend_Registry::get('global_conf');

$allow_obj = new Hotels_View_Helper_Allow();


$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id', 'page');
?>
	
<script type="text/javascript">
    $(document).ready(function() {
        var settingSearchObj = {
                            grid_id : 'hotel-grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'search', 'action' => 'search' ), ($this->posted_data['menu_id']) ? $this->posted_data['menu_id'] : 'Search-Hotel-List/*',    true); ?>",
							pageSize : '5',
							height:		"38em",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['hotels_list_by_group_on_other_page']) ? $this->preferences_data['hotels_list_by_group_on_other_page'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_hotels_btn',
								server_url: "<?php echo $this->url( array('module' =>'Hotels','controller' => 'frontend', 'action' => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
							dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															$value = (is_array($value)) ? implode(',', $value) : $value;
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
														{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    $('input.p_button').attr('type', 'button_btn');
                                    //self.thead.remove();
                                    text_truncate();
                                    commonVoting();		
									itemSave(settingSearchObj);
									try
									{
										blokSearchFunction(settingSearchObj);
									}
									catch(e){ }													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingSearchObj);
    });
    function text_truncate()
    {
        $('div.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>

<script type="text/x-kendo-template" id="view_template">	
	# if(room_type_id && room_type_info && (room_type_info.length > 0)){  #
    	<div class="panel panel-default">
			<div class="panel-heading">
				<p>
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/${hotels_title}" class="preview" link="" title="#= hotels_name #">#= hotels_name_format #</a>
					&nbsp; <span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up"></span> #= hotels_status #</span> <span class="label label-success">#= business_type #</span>
				</p>
				<div class="text-muted">
					<em># if(feature_distance_from_airport){ # #= feature_distance_from_airport_format # #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_distance'), ENT_QUOTES, "UTF-8"); ?>" # #} #</em>
				</div>
			</div>
			
			<div class="panel-body">
				# if(featured == '1'){ #<div class="ribbons" id="ribbons"><div><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8"); ?></div></div># } #
				<figure>
					<div class="thumb">
						<a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/${hotels_title}" class="preview" link="#= hotels_image_format #" title="#= hotels_name #"><img src="#= hotels_image_format #" border="0" #= thumb_width # #= thumb_height # /></a>
						<div class="photo-count-container">
							<div class="photo-count">
								<a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/2" title="#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_click_view_listing'), ENT_QUOTES, "UTF-8"); ?>" #"><span class="glyphicon glyphicon-camera"></span> #= hotels_image_no_format #</a>
							</div>
						</div>
					</div>
				</figure>
				
				<div class="details">
					<div class="ratings">
						#= hotel_stars_format #
					</div>
								  
					<div class="jTruncate">
						#= hotels_desc_format #
					</div>
				</div>
				<br><br>
				
				<ul class="list-group">
				<li class="list-group-item">
					<i class="hotel-icon icon-calendar"></i>
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/10" title="Check Calendar for reservation">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_check_availability'), ENT_QUOTES, "UTF-8"); ?>" #</a>
				</li>
				#
				  var feature_facilities_arr = (feature_facilities) ? feature_facilities.split(',') : [];															
				  if($.inArray('airport transfer', feature_facilities_arr) != -1)
				  {
			  	#
				<li class="list-group-item">
					<i class="hotel-icon icon-plane"></i>
					#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_airport_transfer'), ENT_QUOTES, "UTF-8"); ?>" #
				</li>
				#
				  }
				  var feature_sports_recreations_arr = (feature_sports_recreations) ? feature_sports_recreations.split(',') : [];															
				  if($.inArray('indoor pool', feature_sports_recreations_arr) != -1)
				  {
			  	#
				<li class="list-group-item">
					<i class="hotel-icon icon-swimming"></i>
					#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_swwimming_pool_availability'), ENT_QUOTES, "UTF-8"); ?>" #
				</li>
				#
				  }
				  if(feature_pet == 'Pets are allowed')
				  {
			  	#
				<li class="list-group-item">
					<i class="hotel-icon icon-pet"></i>
					#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_pet_allow'), ENT_QUOTES, "UTF-8"); ?>" #
				</li>
				#
				  }															
				  if($.inArray('Internet Available', feature_facilities_arr) != -1)
				  {
			  	#
				<li class="list-group-item">
					<i class="hotel-icon icon-internet"></i>
					#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_internet_availability'), ENT_QUOTES, "UTF-8"); ?>" #
				</li>
				#
				  }
				 if(hotels_phone){ 
			  	#
				<li class="list-group-item">
					<i class="hotel-icon icon-phone"></i>
					<span class="call"># if(hotels_phone){ #<span>#= hotels_phone_format #</span># } #</span>
				</li>
				# } #
			</ul>
				
				# if(room_type_id && room_type_info){  #
					#
					  if(booking_suggestion && booking_suggestion[0])
					  {
					#
						<div class="room-suggestion">
							#										
								var total_price = 0;
								$.each(booking_suggestion, function(index, sugges_obj){
								total_price += ( sugges_obj.descount_price * sugges_obj.room_plus );
							#
							<div class="panel panel-default">
								<div class="panel-heading text-center">
									<strong>#= sugges_obj.room_plus # X</strong>
									<a class="preview" link="" title="#= sugges_obj.max_people_lang_format #">
										  # 
											  if(sugges_obj.max_people <= 4)
											  {
												  for(var i = 1; i <= sugges_obj.max_people; i++)
												  {
											#<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
												  }
											  } 
											  else
											  {
												  for(var i = 1; i <= 3; i++)
												  {
													  #<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
												  }
											  }
										  # <span class="badge">#= sugges_obj.max_people_format #</span>
									</a>
									
								</div>
							  	<div class="panel-body text-center">
									#= '' #
									#=sugges_obj.room_plus # X #= sugges_obj.room_type #
									
									<hr>
									#= '' #
									<span class="label label-success">#= sugges_obj.room_info_count_format3 #</span>
									
									#= ' ' #
									<strong>#= sugges_obj.room_plus # X 
									<?php echo ''.$this->currency->getShortName().''; ?>
									#= sugges_obj.descount_price_format #</strong>
							  	</div>
							</div>
							#												
							});										
							#									
					   
						    <div class="alert alert-info">
								<ul>
									<li>
										#  total_price *= total_nights #
										#= total_nights_format_lang # <strong><?php echo ''.$this->currency->getShortName().''; ?> #= total_price #</strong>
									</li>
									
									<li>
										#= '' #
										#= adult_info #<?php echo ' '.html_entity_decode($this->translator->translator("hotels_adult_with_child_1"), ENT_QUOTES, "UTF-8").' '; ?>#= child_info #<?php echo ' '.html_entity_decode($this->translator->translator("hotels_adult_with_child_2"), ENT_QUOTES, "UTF-8"); ?>
									</li>
								<ul>
							</div>
							
							<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/#= hotels_title #" class="btn btn-block btn-primary">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_more_info'), ENT_QUOTES, "UTF-8"); ?>" # <span class="glyphicon glyphicon-share-alt"></span></a>
							<br>
						</div>
					#
					  }
				   	#
				<!-- Price Table Start -->
				<section class="ac-container">				
					# if(room_type_id && room_type_info){  #
						#  
							var checked_data = 'checked="checked"';
							$.each(room_type_info, function(room_type_key, room_type_arr){ #									  
                    		# 
								if(room_type_arr.show_room_type == true) {								
							#
							<div>
								<input id="ac-#= room_type_key #-#= id #" name="accordion-#= id #" type="radio" #= checked_data # />
								<label for="ac-#= room_type_key #-#= id #"><a class="preview" link="" title="#= room_type_arr.room_condition #">#= room_type_arr.room_type #</a> # if(room_type_arr.save_price > 0){ # #= room_type_arr.save_format # # } # # if(room_type_arr.just_booked){ # <?php echo html_entity_decode($this->translator->translator('hotels_front_page_room_booked_today'), ENT_QUOTES, "UTF-8"); ?> # } #</label>
								<article class="ac-small">
									<ul class="list-group">								
										<li class="list-group-item text-center">
											<a class="preview person-count" link="" title="#= room_type_arr.max_people_lang_format #">
												# 
												  if(room_type_arr.max_people <= 4)
												  {
													  for(var i = 1; i <= room_type_arr.max_people; i++)
													  {
												#<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
													  }
												  } 
												  else
												  {
													  for(var i = 1; i <= 3; i++)
													  {
														  #<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
													  }
												  }
												#&nbsp; <span class="label label-success">#= room_type_arr.max_people_format #</span>
											</a>
										</li>
										
										<li class="list-group-item text-center">
											# if(room_type_arr.basic_price != room_type_arr.descount_price){ #<span class="previous"><?php echo $this->currency->getShortName().'&nbsp;'; ?>#= room_type_arr.basic_price_format #</span> &nbsp; # } #
											<span class="price"><?php echo $this->currency->getShortName().'&nbsp;'; ?>#= room_type_arr.descount_price_format #</span>
										</li>
										
										<li class="list-group-item text-center">
											#
											if(room_type_arr.room_info)
											{
											if((room_type_arr.room_info.length == room_type_arr.room_num) && room_type_arr.room_num != 0)
											{
											#	 
												<?php echo html_entity_decode($this->translator->translator('hotels_front_page_room_available_type_yes'), ENT_QUOTES, "UTF-8"); ?>
											#
											}
											else if(room_type_arr.room_info.length == 0 || room_type_arr.room_num == 0)
											{
											#	 
												<?php echo html_entity_decode($this->translator->translator('hotels_front_page_room_available_type_no'), ENT_QUOTES, "UTF-8"); ?>
											#
											}
											else if(room_type_arr.room_info.length == 1)
											{
											#	 
											  <a class="preview" link="" title="#= room_type_arr.room_info_count_format2 #">#= room_type_arr.room_info_count_format #</a>
											# 
											}
											else if(room_type_arr.room_info.length > 1 && room_type_arr.room_info.length <= room_type_arr.room_num)
											{
											# 
												#= room_type_arr.room_info_count_format1 #
											#
											}
											}
											else
											{
											#
											<?php echo html_entity_decode($this->translator->translator('hotels_front_page_room_available_type_no'), ENT_QUOTES, "UTF-8"); ?>
											#
											}
											#
										</li>
									</ul>
								</article>
							</div>
							# 
								checked_data = '';
							} 
							#
              			# }); #
					# } #
			</section>
				<!-- Price Table End -->
				# } #
				<div class="text-center">
					# if(review_id){ #                                         
					<span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<span class="glyphicon glyphicon-pencil"></span> <?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
					<span class="review-count"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/11">#= review_no_format #</a></span>
					# } #
				</div>
				<hr>
				
				<div class="vote text-center">
					<span class="label label-primary">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>" #</span>
					<span>#= vote_format #</span>
				</div>
			</div>
			
			<div class="panel-footer text-center">
				<a  href="javascript:void(0);" class="save_hotels_btn btn btn-block btn-primary save" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("hotels_front_page_save_hotels"), ENT_QUOTES, "UTF-8"); ?></a>
				<!--<?php //if($global_conf['payment_system'] == 'On') : ?><a href="<?php //echo $this->url(array('module' => 'Hotels','controller' =>'book', 'action' => 'booking','hotels_title' => '' ),'Book-Hotel/:hotels_title',true) ?>/#= hotels_title #" class="btn btn-block btn-warning book">#= '<span class="glyphicon glyphicon glyphicon-bookmark"></span> <?php //echo html_entity_decode($this->translator->translator('hotels_front_page_show_price'), ENT_QUOTES, "UTF-8"); ?>' #</a><?php //endif; ?>-->
				<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/#= hotels_title #" class="btn btn-block btn-success details">#= '<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_more'), ENT_QUOTES, "UTF-8"); ?> <span class="glyphicon glyphicon-chevron-right"></span>' #</a>
			</div>
		</div>
		#
			}
		#	
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('hotels_front_page_advanced_search'); ?></h1>
    <div class="grid-puller">
		<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        	<div id="hotel-grid"></div>  
		</div>
	</div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_front_page_list')); ?>"></div>