<?php
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$this->pageForm->setEditor($this->serverUrl().$this->baseUrl());
$this->pageForm->getEditor();	

$new_file_info = new Portfolio_Controller_Helper_File();
$frontController = Zend_Controller_Front::getInstance();
$param_group_id = $frontController->getRequest()->getParam('group_id');
?>

<script type="text/javascript">
var settingObj = {
						form_action : {
											form_id: 'formItem',
											hasTinyMCE: true,
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [
												{field_id : 'page_parent', field_value: '<?php echo $this->pageForm->category_id->getValue(); ?>' , field_type : 'val'},
												{field_id : 'page_thumb', field_value: '<?php echo $this->pageForm->page_thumb->getValue(); ?>' , field_type : 'val'},
												{field_id : 'selected_file_page_thumb', field_value: '<div class="upload-img box"><span><div class="thumb"><img src="data/frontImages/news/page_thumb/<?php echo $this->pageForm->page_thumb->getValue(); ?>" width="30" height="20" class="bdr"/></div><br /><a href="javascript:void(0)" class="delete_image_lnk" field_name="page_thumb" file_name="<?php echo $this->pageForm->page_thumb->getValue(); ?>" file_path="data/frontImages/gallery/page_thumb" rel="<?php echo $this->pageForm->page_thumb->getValue(); ?>">&nbsp;<?php echo $this->translator->translator('common_delete'); ?></a>&nbsp;&nbsp;</div></div>' , field_type : 'html'},
												{field_id : 'dataId', field_value: '<?php echo addslashes($this->category_name)." (".$this->pageForm->category_id->getValue().")"; ?>' , field_type : 'html'}
											],
											extra_function_for_reset: function(){
												$('a.back_btn_link').attr('href','<?php echo $this->url( array("module" => "News","controller" => "backendpro", "action"  => "list" ,"group_id" => $param_group_id), "adminrout",    true) ?>');
												deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
												refreshKendoTreeView($('#group_id').val(), $('#page_parent').val(), settingObj);
											},
											category_tree:{
												category_tree_id: 'categoryTree',
												category_tree_input_field_id : 'page_parent',
												category_tree_input_html_id : 	'dataId',
												category_tree_dest_url: "<?php echo $this->url( array('module' => 'News','controller' => 'backend', 'action'     => 'parent' ), 'adminrout',    true) ?>",
												tree_view: {
													refresh_action : function(group_id){},
													dragAndDrop : true,
													template: "<label><input type=\"radio\" name=\"radio\" #= (item.id == <?php echo $this->pageForm->category_id->getValue(); ?>)? 'checked' : '' # />#= item.text #</label>",
													dataBound	: function(obj){
																														
																var treeView = $("#"+settingObj.form_action.category_tree.category_tree_id).data('kendoTreeView');
																var getitem = treeView.dataSource.get("<?php echo ($this->pageForm->category_id->getValue()) ? $this->pageForm->category_id->getValue() : '0'; ?>");
																if(getitem)
																{
																	var selectitem = treeView.findByUid(getitem.uid);
																	treeView.select(selectitem);
																}
													},
													dataSource :  {
														transport: {
																read: {
																	url: "<?php echo $this->url( array('module' => 'News','controller' => 'backend', 'action'     => 'newsgroup' ), 'adminrout',    true) ?>",
																	dataType: "json",
																	type: "POST",
																	data : {grp_id : '<?php echo $this->pageForm->group_id->getValue(); ?>', expanded : null}, // true is enable null is disable
																	complete: function(e) {																		
																		var json = $.parseJSON(e.responseText);																								
																		if(json.status != 'ok')
																		{
																		   commonMsgDialog(settingObj, json.msg);
																		   <?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
																				uploadSettingsEnd();			
																			<?php } ?>
																		}
																		else
																		{
																		<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
																			uploadSettingsStart(json);
																		<?php } ?>
																		}
																	}
																}
															},
															schema: {
																data: 'TreeDataSource',
																model: {
																	id : 'id',
																	text : 'text' ,
																	hasChildren: 'hasChildren'  
																}
															}	
													}
												}
											}
									},
						calendar:	{	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: new Date('<?php echo date("Y", strtotime($this->pageForm->page_date->getValue())); ?>', '<?php echo (date("m", strtotime($this->pageForm->page_date->getValue())) - 1); ?>', '<?php echo date("d", strtotime($this->pageForm->page_date->getValue())); ?>', '<?php echo date("H", strtotime($this->pageForm->page_date->getValue())); ?>', '<?php echo date("i", strtotime($this->pageForm->page_date->getValue())); ?>', '<?php echo date("s", strtotime($this->pageForm->page_date->getValue())); ?>')
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
$(document).ready(function() {
	 commonKendoTreeGen(settingObj);
	 commonImageThumbnil();
	 floatingbar('#floatingbar',"#button_top_bar",null);
	 deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
	 commonCalendar('page_date', settingObj, settingObj.calendar.calendar_include_time);	
	 	
	$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		var self = this;
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		
		var group_id = $("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
		
		var rel = $(self).attr('rel');
		$('input[name="file_path_field"]').val('file_path_'+rel);
			
		var file_suffix =  rel;			
		var file_content = $('#'+file_suffix).val();		
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);	
		
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{
			msg = '<?php echo $this->translator->translator("group_id_selected_err"); ?>';
			commonMsgDialog(settingObj, msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {			
		var currentIFrame = $('#i-upload-form');
		var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
		var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
		var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
		var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
		if(selected_files_arr.length == '0')
		{
			var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
			commonMsgDialog(settingObj, msg);
		}
		else
		{
			var img_code = '';
			var file_name = '';
			for(var i=0;i < selected_files_arr.length;i++)
			{
				var img_path = commonFilePath(file_path, selected_files_arr[i]);				
				var checked = (i == 0)? ' checked="checked" ' : '';
				var img_type = 	''; 
				var fileObj = { extension : '.'+getCommonFileExtension(selected_files_arr[i]) };
				var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
				var primary = ''; 
										
				var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
				img_code += '<div class="upload-img box">'+img_type+'<span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />&nbsp;'+del_link+'&nbsp;&nbsp;&nbsp;</span></div>';
				file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];
				break;					
			}			
			var file_suffix = (primary_file_field == 'page_thumb') ? primary_file_field : 'page_file';		
			$('#selected_file_'+file_suffix).html(img_code);		
			$('#'+file_suffix).val(file_name);		
			$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
			$("#upload-form").dialog('option','hide','explode').dialog('close');				
			deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
			commonImageThumbnil();
		}
	});
	
	$('a.close_dialog_btn').click(function() {		 
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');  
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});
	
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
		 commonImageThumbnil();	
	});
		
	$('a.edit_page_btn').click(function() {			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
			formData.id  = '<?php echo $this->id ; ?>';				
	$.ajax({
		url: "<?php echo $this->url( array('module' => 'News','controller' => 'Backendpro', 'action'     => 'edit' ), 'adminrout',    true) ?>",
			type: 'POST',
			data: formData,
			beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
			success: function(response){
				//alert(response);					
				var json_arr = eval("("+response+")");										
				if(json_arr.status == 'ok')
				{
					$('#actionMessage').html(succMsgDesign(json_arr.msg));	
					refreshKendoTreeView($('#group_id').val(), $('#page_parent').val(), settingObj);										
				}
				else if(json_arr.status == 'errV')
				{
					$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
											
					for(var i= 0; i < json_arr.msg.length; i++)
					{
						focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
						commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
					}
				}
				else
				{
					$('#actionMessage').html(errMsgDesign(json_arr.msg));
				}
				commonCloseLoaderDialog(settingObj);
			},
			error: function(xhr, status, error){
				commonCloseLoaderDialog(settingObj);
				var msg = "Error! " + xhr.status + " " + error;
				$('#actionMessage').html(errMsgDesign(msg));
			}
	});
});
	

/***********************************Get News Group***************************************/
	$('select[name="group_id"]').change(function() {		
		var group_id = $('#group_id').val();
		$("#"+settingObj.form_action.category_tree.category_tree_input_html_id).html('<?php echo $this->translator->translator("common_tree_root"); ?> (0)');
		$("#"+settingObj.form_action.category_tree.category_tree_input_field_id).val('0');
		
		if(group_id != '')
		{
			settingObj.form_action.category_tree.tree_view.dataSource.transport.read.data['grp_id'] = group_id; 
			$('a.back_btn_link').attr('href','News/backendpro/list/group_id/'+group_id);
			commonKendoTreeGen(settingObj);
		}
		else
		{
			<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
				uploadSettingsEnd();			
			<?php } ?>	
			commonDestroyKendoTreeGen(settingObj);					
			$('a.back_btn_link').attr('href','News/backendpro/list');
		}		
		$('#group_id_err').html('');		
	});	
	
});

/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#page_thumb_block').prepend('<input type="file" name="page_thumb_upload" id="page_thumb_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	/*thumb_setting_param['file_path_field'] = 'file_path_page_thumb';
	thumb_setting_param['file_extension_field'] = 'img_type';*/
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('page_thumb_upload', 'page_thumb', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", false);
	
	$('#product_file_block').prepend('<input type="file" name="product_file_upload" id="product_file_upload" />');	
	var file_setting_param = json_arr.param_fields;
	file_setting_param['file_extension_field'] = 'file_type';
	switch(json_arr.group_info['gallery_type'])
	{
		case 'image':
		case 'chart':
			file_setting_param['file_path_field'] = 'file_path_product_image';
		break;
		case 'video':
			file_setting_param['file_path_field'] = 'file_path_product_video';
		break;
		case 'music':
			file_setting_param['file_path_field'] = 'file_path_product_audio';
		break;
		default:
			file_setting_param['file_path_field'] = 'file_path_product_image';
		break;
	}	
	var file_setting_info = getSettingInfo(json_arr.group_info, file_setting_param);							
	dynamicUploader('product_file_upload', 'product_file', file_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", false);
	
	$('#page_thumb_err').html("");
	$('#product_file_err').html("");
}

function uploadSettingsEnd()
{	
	$('#page_thumb_upload').parents('div.k-upload').remove();	
	$('#product_file_upload').parents('div.k-upload').remove();	
	$('#page_thumb_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
	$('#product_file_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}

function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);			
		
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';			
		switch(upload_value_field)
		{
			case 'page_thumb':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					img_type = ''; //	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = ''; //'<input class="radio_style" type="radio" name="page_thumb_primary" id="page_thumb_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
				break;
			case 'product_file':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="product_file_primary" id="product_file_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/


</script>
<div id="container">
<?php if (!$this->allow() || ($this->auth->getIdentity()->access_other_user_article != '1' && $this->auth->getIdentity()->user_id != $this->pageInfo['entry_by'])) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<div class="title-container">
	<div class="news-edit"><h1><?php echo $this->translator->translator('news_page_edit_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendpro', 'action'     => 'list','group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_page_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<div id="nav" class="<?php if($locale_direction == 'rtl'){ ?> k-rtl <?php } ?>">
    		<div class="nav-header"><div class="nav-title"><?php echo $this->translator->translator('news_tree'); ?></div></div>
    		<div id="categoryTree" class="nav-body treebody" >           		
            </div>
       	</div>
    </div>
    
    <div id="content-inner">
    	<div id="actionMessage"></div>
        <div id="button_top_bar"></div>
        <form name="formItem" id="formItem" method="post" >
        		<div id="generalInfo">
            	<fieldset class="fieldset">
                	<legend class="legend"><?php echo $this->translator->translator('news_page_page_info'); ?></legend>
                    <div class="form">
                    	<div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->page_name->getLabel();  if($this->pageForm->page_name->isRequired()){?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->pageForm->page_name;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->page_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="page_name_err"></div>
                            </div>
						</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->page_title->getLabel(); if($this->pageForm->page_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->pageForm->page_title; ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->page_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="page_title_err"></div>
                            </div>
						</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->page_date->getLabel();  if($this->pageForm->page_date->isRequired()){?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->pageForm->page_date; ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->page_date->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="page_date_err"></div>
                            </div>
						</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->group_id->getLabel(); if($this->pageForm->group_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<div class="left-float"><?php echo $this->pageForm->group_id; ?></div><span id="group_id_loader"></span>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->group_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="group_id_err"></div>
                            </div>
						</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->category_id->getLabel(); ?>
                          	</div>
                            
                          	<div class="field">
                            	<span id="dataId"><?php echo $this->escape($this->category_name)." (".$this->pageForm->category_id->getValue().")"; ?></span><?php echo $this->pageForm->category_id; ?>
                            </div>
						</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->page_thumb->getLabel(); if($this->pageForm->page_thumb->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<div class="upload-img">
                                	<?php	
									if($this->auth->getIdentity()->access_file_image_manager == '1')
									{
										$delete_lnk_class = 'delete_image_lnk';
									?>
                                	<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="page_thumb"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->page_thumb->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                	<?php
									}
									else
									{
										$delete_lnk_class = 'delete_uploaded_image_link';
								?>
                                	<script type="text/javascript">
                                    $(function(){
                                        /**************************FILE UPLOAD START******************************/																					
                                        dynamicUploader("page_thumb_upload", "page_thumb", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
										/**************************FILE UPLOAD END*********************************/
                                    });
                                    </script>
                                    <div id="page_thumb_block"><input type="file" name="page_thumb_upload" id="page_thumb_upload" /></div>
                                <?php
									}
								?>
                                </div>
                            	<?php echo $this->pageForm->page_thumb; ?>&nbsp;&nbsp;
                                <span id="selected_file_page_thumb">
                                     <?php
										if($this->pageForm->page_thumb->getValue())
										{
                                        $utility = new Eicra_File_Utility();
                                        $file['ext'] = $utility->GetExtension($this->pageForm->page_thumb->getValue());
                                        if($file['ext'] == 'jpg' || $file['ext'] == 'png' || $file['ext'] == 'gif' || $file['ext'] == 'bmp')
                                            {
                                     ?>
                                        <div class="upload-img box"><span><div class="thumb"><img src="data/frontImages/news/page_thumb/<?php echo $this->pageForm->page_thumb->getValue(); ?>" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="<?php echo $delete_lnk_class; ?>" field_name="page_thumb" file_name="<?php echo $this->pageForm->page_thumb->getValue(); ?>" file_path="data/frontImages/news/page_thumb" rel="<?php echo $this->pageForm->page_thumb->getValue(); ?>">&nbsp;<?php echo $this->translator->translator('common_delete'); ?></a>&nbsp;&nbsp;</span></div>									
                                     <?php
                                            }
                                        else
                                            {
												$down_link = '<br />&nbsp;<a href="'.$this->baseUrl().'/data/frontImages/news/page_thumb/'.$this->pageForm->page_thumb->getValue().'">'.$this->translator->translator("common_download", "", "Projects").'</a>';
                                     ?>
                                        <div class="upload-img box"><span><div class="thumb"><img src="<?php echo $this->baseUrl().'/'; ?>application/modules/Administrator/layouts/scripts/images/common/all_file_thumb.png" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="<?php echo $delete_lnk_class; ?>" field_name="page_thumb" file_name="<?php echo $this->pageForm->page_thumb->getValue(); ?>" file_path="data/frontImages/news/page_thumb" rel="<?php echo $this->pageForm->page_thumb->getValue(); ?>">&nbsp;<?php echo $this->translator->translator('common_delete'); ?></a><?php echo $down_link; ?>&nbsp;&nbsp;</span></div>	
                                     <?php
                                            }
										}
                                     ?>
                               	</span>
                                <div class="input-errors" id="page_thumb_err"></div>
                            </div>
                       	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->pageForm->page_desc->getLabel(); if($this->pageForm->page_desc->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<div class="editor"><?php echo $this->pageForm->page_desc; ?></div>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->page_desc->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <span id="loaderLink"><a href="javascript:void(0);" onClick="loadTinyMCE('page_desc');"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif" border="0" title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" /></a></span>
                                <div class="input-errors" id="page_desc_err"></div>
                            </div>
						</div>
                	</div>
					</fieldset>
				</div>
                
                	<fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_page_related_items'); ?></legend>
                        <div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->pageForm->related_items->getLabel();  if($this->pageForm->related_items->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php  echo $this->pageForm->related_items;  ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->meta_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="related_items_err"></div>
                                </div>
                            </div>
                        </div>
                   	</fieldset>
                    
                    <fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator('news_page_page_meta'); ?></legend>
                        <div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->pageForm->meta_title->getLabel(); if($this->pageForm->meta_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php  echo $this->pageForm->meta_title;  ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->meta_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="meta_title_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->pageForm->meta_keywords->getLabel(); if($this->pageForm->meta_keywords->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->pageForm->meta_keywords;  ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->meta_keywords->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="meta_keywords_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->pageForm->meta_desc->getLabel(); if($this->pageForm->meta_desc->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->pageForm->meta_desc; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pageForm->meta_desc->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="meta_desc_err"></div>
                                </div>
                            </div>
                            
                        </div>
                   	</fieldset>
                    
                    <?php									
						$staticGroupsObj = $this->pageForm->getDisplayGroups();
						if($staticGroupsObj)
						{
							foreach($staticGroupsObj as $staticGroup)
							{
								$elementsObj = $staticGroup->getElements();
					?>
                    
                    	
					<fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator($staticGroup->getAttrib('title')); ?></legend>
                        <div class="form">
                        	<?php																
								foreach($elementsObj as $element)
								{
									if($element->getAttrib('admin') == '1')
									{	
										if($element->getType() != 'Zend_Form_Element_File')
										{															
							?>
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="<?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php 										
											$id_f = $element->getAttrib('id');
											$id_arr = explode('_',$id_f);
											if(in_array('date',$id_arr))
											{
											?>
											<script type="text/javascript">
												$(function() {													
													settingObj.calendar.value = <?php if($element->getValue()){ ?> new Date('<?php echo date("Y", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))); ?>', '<?php echo (date("m", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))) - 1); ?>', '<?php echo date("d", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))); ?>', '<?php echo date("H", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))); ?>', '<?php echo date("i", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))); ?>', '<?php echo date("s", strtotime(preg_replace('/PM|AM/', '', $element->getValue()))); ?>') <?php } else{ echo "''"; } ?>;	
													commonCalendar('<?php echo $id_f; ?>', settingObj, settingObj.calendar.calendar_include_time);													
												});
											</script>
											<?php
											}
											echo $element;															
									?>
                                    <?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?>
                                    <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                                </div>
                            </div>
                            <?php
										}
									}
								}
							?>
						</div>
					</fieldset>
                    <?php
							}
						}
					?>
        </form>
	</div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendpro', 'action'     => 'list','group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_page_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('news_page_edit_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendpro', 'action'     => 'list','group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_page_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>

	<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('news_page_edit_page_name')); ?>"></div> 
	<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
		<div id="progressbar" ></div>	
	</div>

    <div id="upload-form" title="<?php echo $this->translator->translator('news_page_page_dialog'); ?>">
        <div>
        	<form id="popupForm" target="i-upload-form" method="post" action="" >
                <input type="hidden" name="table_name" value="news_group"/>
                <input type="hidden" name="primary_id_field" value="id"/>
                <input type="hidden" name="primary_id_field_value" value=""/>   
                <input type="hidden" name="primary_file_field" value="page_thumb"/> 
                <input type="hidden" name="file_content"  value=""/>       
                <input type="hidden" name="file_path_field" value="file_path_page_thumb"/>
                <input type="hidden" name="file_extension_field" value="img_type"/>
                <input type="hidden" name="file_max_size_field" value="file_size_max"/>
            </form>
            <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-article" align="middle"></iframe>
        </div>
        
        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('news_page_page_insert'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
        </div>
    </div>
</div>