/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Logistics Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 76%;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	margin:0 0 0 10px;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 0 5px 8px;
}

select option{
	padding:0 4px 0 0;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	float:right;
}

/* Top Links ------------------------------------------------------------------------ */

.user-link{
	float:left;
	margin:25px 0 0 30px;
}

.top-links ul{
	margin: 0 5px 0 0;
	float:left;
}

.top-links ul li{ 
	margin-right:0; 
	padding: 0 5px 0 1px;
	border-left:0;
	border-right:1px solid #FFF;
}
			
.top-links ul li.first{ 
	margin-right:0; 
	border-right: none; 
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header .logo{
	float:right;
}

#header .support{
	float:left;
	clear:left;
}

/* ---------------------------------------------------------------------------------- */

/* Side Bar ------------------------------------------------------------------------- */

#sidebar{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block .thumb{
	margin: 2px 0 2px 8px;
	float:right;
}

.block .img-wrapper,
	   .img-wrapper{
	float:right;
}

.block .more a {
	background-image: url(../images/arrow-rtl.png);
	background-position:99% 2px;
	padding: 0 12px 0 0;
	float:right;
	clear:right;
}

.left-float {
	float:right;
	margin: 0 0 5px 10px;
}

.right-float {
	float:left;
	margin: 0 10px 5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .social{
	float:right;
	clear:right;
}

#footer .links-container{
	float:right;
}

#footer .links{
	clear:right;
}

#footer .links ul li{
	padding: 0 5px 0 1px; 
	border-left:0;
	border-right: 1px solid #666;
}

#footer .links ul li.first{ 
	border-right:0;
}

#footer .map{
	float:left;
}

#footer .map-info{
	text-align:right;
	padding: 5px 8px 0 0;
}

.go-top a{
	right:0px;
	left:30px;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner{
	float:right;
}

#content-inner{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-position:left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown span.flag{
	margin-left:0;
	margin-right:10px;
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.dm-menu {
	float: right !important;
}

.dm-menu li {
	float:right !important;
}

.dm-menu a {
	border-right:	1px solid #660000 !important;
	border-left:	1px solid #CC0000; !important;
}

/* ---------------------------------------------------------------------------------- */

/* Shipment Tracker ----------------------------------------------------------------- */

.block-tracker p{
	background-image:url(../images/track-icon-rtl.png);
	background-position:right center;
	padding:0 20px 0 0;
	margin-right:0px;
	margin-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Recent Products ------------------------------------------------------------------ */

.block-recent-product img.thumb{
	float:right;
	margin:10px 28px 10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Content AD ----------------------------------------------------------------------- */

.block-ad-content .block-content .box{
	float:right;
	margin-right:0;
	margin-left:10px;
}

.block-ad-content .block-content .box.last{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad .block-content p{
	padding: 0 18px 20px 0;
	background-image:url(../images/arrow-2-rtl.png);
	background-position: right 8px;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe p{
	float:right;
	clear:right;
}

.block-subscribe input[type="text"]{
	float:left;
}

.block-subscribe input[type="button"]{
	float:left;
	clear:left;
}

.block-subscribe img.loader {
	padding:30px 115px 30px 0;
}


/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news .block-body .block-title a{
	background-image:url(../images/arrow-rtl.gif);
	background-position:100% 3px;
	padding: 0 20px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Quick Contact -------------------------------------------------------------------- */

.block-contact p{
	float:right;
	clear:right; 
}

.block-contact input[type="text"], .block-contact textarea{
	float:left;
}

.block-contact a{
	float:left;
	clear:left;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0px -1px 0 4px;
}

.usual-content{
  clear:right;
}			

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .col{
	padding: 0 0 3px 12px;
	float:right;
}

.mod .social{
	float:left;
	text-align:left;
}

.mod .list{
	margin:5px 10px 5px 0;
	float:right;
}

.mod .list ul li{
	background-image:url(../images/list-arrow-rtl.png);
	background-position:98% 10px;
	padding:0 20px 0 0;
}

.mod .thumb{
	margin: 0 0 0 10px;
	float:right;
}

.mod .more a {
	background-image: url(../images/arrow-rtl.png);
	background-position:right center;
	float:right;
	padding: 0 15px 0 0;
	clear:right;
}

.mod .chart .label{
	float:right;
	text-indent:8px;
	clear:left;
}

.mod .chart .value{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Advance Shipment Search ----------------------------------------------------------- */

.mod-tracker .tracker-status-col-1{
	border-right:0;
	border-left: 1px solid #FC0;
}

.mod-tracker .tracker-chart-header-col-1{
	border-right:0;
	border-left: 1px solid #FFF;
}

.mod-tracker .tracker-chart-row2 .row2-col{
	padding-left:0;
	padding-right:4px;
	margin-left:0px;
}

.mod-tracker .mod-label.tracking-label{
	float:right;
}

.mod-tracker .delivered,
.mod-tracker .undelivered{
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	float:left;
}

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */
