<?php
$version = Zend_Registry::get('version');
if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
if(!empty($this->group_datas['tours_name'])) { $this->headTitle()->headTitle($this->group_datas['tours_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }
$front_template = Zend_Registry::get('front_template'); 
$maximum_rating_digit = $this->translator->translator('maximum_rating_digit');
function tours_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}

$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
Eicra_Global_Variable::getSession()->returnLink = ($auth->hasIdentity ()) ? '' : $this->url(array('module'=> 'Tours','controller'=>'Backendpro', 'action'=>'add','group_id' => $this->group_datas['id']),'adminrout',true);
$url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Tours','controller'=>'Backendpro', 'action'=>'add','group_id' => $this->group_datas['id']),'adminrout',true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';

$tours_helper = new Tours_View_Helper_ToursGroup();
$num_tours = $tours_helper->getNumOfProduct($this->group_datas['id']);

$popular_tours = $tours_helper->getPopularTours($this->group_datas['id']); 
$business_type_db = new Tours_Model_DbTable_BusinessType();
$tours_types = $business_type_db->getBusinessTypeByGroup($this->group_datas['id']);
?>

<script type="text/javascript">
$(document).ready(function() {		
		autoSugg();
		
		$('#country_id_H').change(function() {	
			if($('#country_id_H option:selected').val() == 'any' || $('#country_id_H option:selected').val() =='')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');	
				$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#country_id_H option:selected').val() },
					  beforeSend: function(){						
								$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');			
								$('#state_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('#state_id_H').html(option);
						}
						else
						{
							$('#state_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_err').html('');
					  }
				});
			}
		});
		
		$('#state_id_H').change(function() {		
					
			if($('#state_id_H option:selected').val() == 'any' || $('#state_id_H option:selected').val() == '')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');
			}
			else
			{
				$.ajax({
					  url: "<?php echo $this->url( array('module' => 'Tours', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#state_id_H option:selected').val() },
					  beforeSend: function(){						
							$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
							$('#area_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
							},
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.cities.length;i++)
							{
								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
							}
							$('#area_id_H').html(option);
						}
						else
						{
							$('#area_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#area_id_err').html('');
					  }
				});
			}
		});	
			
		$('input.search_btn').click(function(){
			var self = this;
			$('#formSearch').submit();
		});
});

function openMsgDialog(msg)
{
$('#dialog_container').html(msg).dialog({
			autoOpen: true,
			modal: false,
			show: 'fade',
			resizable: 'false',				
			buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							//$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
}

function autoSugg()
{	
		autoSuggestion('post_code', "<?php echo $this->url( array('module'=> 'Tours', 'controller' => 'backendpro', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['tours_primary_image', 'tours_image', 'tours_name', 'post_code', 'owner_name', 'num_of_days','tours_postcode' ,'ending_city', 'tours_location'], 'data/frontImages/tours/tours_image', 2);	
}

function stripslashes(str) 
{
	str=str.replace(/\\'/g,'\'');
	str=str.replace(/\\"/g,'"');
	str=str.replace(/\\0/g,'\0');
	str=str.replace(/\\\\/g,'\\');
	return str;
}
</script>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('tours_front_page_dialog_name')); ?>"></div>

<!-- Banner Start -->
<div id="banner">
    <?php echo $this->partial('blocks/home_banner_slideshow.phtml'); ?>
    <?php echo $this->partial('blocks/tours_home_banner_search.phtml'); ?>
</div>
<!-- Banner End -->

<div class="row">
    <div class="col-md-3">
    	<!-- Top destination Start -->
    	<div class="block block-list block-top-destinations">
            <div class="panel panel-default">
                <div class="panel-heading">
                	<h3><span class="glyphicon glyphicon-plane"></span> <?php echo $this->translator->translator('tours_front_page_home_top_destination_title'); ?></h3>
                </div>
                
                <div class="panel-body">
                	<ul>
						<?php
                            if($popular_tours)
                            {
                                $city_arr = array();
                                foreach($popular_tours as $i => $entry)
                                {	
                                    if(!in_array($entry['city'], $city_arr))
                                    {							
                        ?>
                            	<li><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>"><?php echo $this->escape($entry['city']).', <span>'.$this->escape($entry['country_name']).'</span>'; ?></a></li>
                        <?php
                                    }
                                    $city_arr[$i] = $entry['city'];
                                    $i++;
                                }
                            }
                        ?>                            	
                    </ul>
                </div>
         	</div>
     	</div>
        <!-- Top destination End -->
        
       	<!--Tours By Type Start -->
    	<div class="block block-list block-top-destinations">
            <div class="panel panel-default">
                <div class="panel-heading">
                	<h3><span class="glyphicon glyphicon-briefcase"></span> <?php echo $this->translator->translator('tours_front_page_home_by_type_title'); ?></h3>
                </div>
                
                <div class="panel-body">
                	<ul>
						<?php
                        if($tours_types)
                        {
                            foreach($tours_types as $entry)
                            {
                        ?>
                                <li><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'view', 'type'  => $this->escape($entry['id']) ),'Tours-List-Type/*',true); ?>"><?php echo $this->escape($entry['business_type']); ?></a></li>
                        <?php
                            }
                        }
                        ?>
                    </ul>
                </div>
         	</div>
     	</div>
        <!--Tours By Type End -->
        
    </div>
    
    <div class="col-md-9">
    	<!-- Featured Tour Packages Start -->
        <?php if($this->group_datas['featured_file_on'] == '1'){ ?> 
		<div class="block block-featured">
        	<div class="panel panel-default">
                <div class="panel-heading">
                	<h3><span class="glyphicon glyphicon-plane"></span> <?php echo $this->translator->translator('tours_block_featured_list_title'); ?></h3>
                </div>
                
                <div id="featured_list" class="panel-body">
                	<?php						  
                        if($this->view_featured_datas)
                        {
                            $j = 1;	
                            foreach($this->view_featured_datas as $entry)
                            {
                                $tours_image_val_arr = explode(',',$entry['tours_image']);
                                $tours_image_no = count($tours_image_val_arr);
                                if($this->escape($entry['traveler_photos']))
                                { 
                                    $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($entry['traveler_photos']); 
                                }
                                else
                                { 
                                    if($this->escape($entry['tours_image']))
                                    {											
                                        $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($tours_image_val_arr[0]); 
                                    }
                                    else
                                    {
                                        $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/no_image.png';
                                    }		
                                }
                                if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                                { 
                                    $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                                }
                                else
                                {
                                    $width = '';
                                } 
                                if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                                { 
                                    $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                                } 
                                else
                                {
                                    $height = '';
                                }										
                   	?>
                	<div class="col-md-4">
                    	<figure>
                        	<h6><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['tours_name']); ?>"><?php echo tours_truncate($this->escape($entry['tours_name']), 0, 3); ?></a></h6>
                            <div class="ratings">
                            	<?php
                                    for($i = 1; $i < $maximum_rating_digit; $i++)
                                    {
                                        $tours_rating = ($i <= $this->escape($entry['rating'])) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_tour_img/star-small-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_tour_img/star-small-inactive.png' border='0' />";
                                        echo $tours_rating.'&nbsp;';
                                    }
                                ?>
                            </div>
                           	
                          	<div class="thumb">
                            	<span class="type"><?php //echo $this->_view->escape($entry['business_type']); ?>Tour Type</span>
                            	<a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>"  title="<?php echo $this->escape($entry['tours_name']); ?>" width="300"><img src="<?php echo $thumb_image; ?>" <?php echo $width." ".$height; ?> border="0" width="180" class="img-responsive"></a>
                                <div class="photo-count-container">
                                    <div class="photo-count">
                                        <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details',tours_title => $this->escape($entry['tours_title']),'tab' => 1 ),'Tours-details/:tours_title/:tab',true); ?>" title="<?php echo $this->translator->translator('tours_front_page_tours_click_view_listing'); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('tours_front_page_tours_photo_no',$tours_image_no); ?></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="details">
                            	<div class="price"><?php echo $this->translator->translator('tours_block_featured_label_price'); ?> <?php echo $this->price($this->escape($entry['tours_price'])).' '.$this->currency->getSymbol(); ?></div>
                                <span class="glyphicon glyphicon-map-marker"></span> <?php echo $this->translator->translator('tours_block_featured_label_location', '', 'Tours'); ?> <?php echo $this->escape($entry['state_name'].' / '.$entry['city']); ?><br>
                                <div class="duration"><span class="day"><?php if(!empty($entry['num_of_nights'])){ echo (int)$this->escape($entry['num_of_nights']);  echo ' '.$this->translator->translator('tours_num_of_days'); } ?></span><span class="night"><?php if(!empty($entry['num_of_days'])){ echo (int)$this->escape($entry['num_of_days']);  echo ' '.$this->translator->translator('tours_num_of_nights'); } ?></span></div><br>
								<?php if(!empty($entry['tours_desc'])){ echo $this->translator->translator('tours_block_featured_label_description', '', 'Tours'); ?> <?php echo tours_truncate($this->escape(strip_tags($entry['tours_desc'])), 0, 7); } ?><br>  
                           	</div>
                        </figure>
                    </div>
                    <?php
							$j++;
						}
					}
					?>
                </div>
          	</div>
        </div>	
    	<?php } ?>
        <!-- Featured Tour Packages Start -->
        
    	<!-- Recently Added Tours Start -->
    	<?php if($this->group_datas['latest_file_on'] == '1'){ ?> 
        <div class="block block-list block-recent">
        	<div class="panel panel-default">
    			<div class="panel-heading">
                	<h3><span class="glyphicon glyphicon-time"></span> <?php echo $this->translator->translator('tours_block_latest_list_title'); ?></h3>
             	</div>
                
                <div class="panel-body">
                    <ul>
                        <?php	
                            if($this->view_latest_datas)
                            {
                                $l =1;
                                foreach($this->view_latest_datas as $entry)						
                                {
                                
                                    if($this->escape($entry['traveler_photos']))
                                    { 
                                        $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($entry['traveler_photos']); 
                                    }
                                    else
                                    { 
                                        if($this->escape($entry['tours_image']))
                                        {
                                            $tours_image_val_arr = explode(',',$entry['tours_image']);
                                            $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($tours_image_val_arr[0]); 
                                        }
                                        else
                                        {
                                            $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/no_image.png'; 
                                        }		
                                    }
                                    if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                                    { 
                                        $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                                    }
                                    else
                                    {
                                        $width = '';
                                    } 
                                    if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                                    { 
                                        $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                                    } 
                                    else
                                    {
                                        $height = '';
                                    }
                            ?>
                            
                                    <div class="col-md-4"><li><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['tours_name']); ?>" width="300"><?php echo tours_truncate($this->escape($entry['tours_name']), 0, 3); ?></a></li></div>
                            
                            <?php
                                    /*if($l % 5 == 0)
                                    {
                                        echo '</ul><ul>';
                                    }
                                        $l++;*/
                                    }
                                }
                            ?>
                    </ul>
                </div>
         	</div>
        </div>
        <?php } ?> 
        <!-- Recently Added Tours End -->
        
        <!-- Popular Tour Packages Start -->
        <div class="block block-list block-recent">
        	<div class="panel panel-default">
    			<div class="panel-heading">
                	<h3><span class="glyphicon glyphicon-star"></span> <?php echo $this->translator->translator('tours_block_popular_list_title'); ?></h3>
             	</div>
                
                <div class="panel-body">
                    <ul>
						<?php	
                            if($popular_tours)
                            {
                                $l =1;
                                foreach($popular_tours as $entry)						
                                {
                                
                                    if($this->escape($entry['traveler_photos']))
                                    { 
                                        $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($entry['traveler_photos']); 
                                    }
                                    else
                                    { 
                                        if($this->escape($entry['tours_image']))
                                        {
                                            $tours_image_val_arr = explode(',',$entry['tours_image']);
                                            $thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($tours_image_val_arr[0]); 
                                        }
                                        else
                                        {
                                            $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/no_image.png'; 
                                        }		
                                    }
                                    if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                                    { 
                                        $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                                    }
                                    else
                                    {
                                        $width = '';
                                    } 
                                    if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                                    { 
                                        $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                                    } 
                                    else
                                    {
                                        $height = '';
                                    }
                        ?>
                        		<div class="col-md-4"><li><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['tours_name']); ?>" width="300"><?php echo tours_truncate($this->escape($entry['tours_name']), 0, 3); ?></a></li></div>
                        
                        <?php
                                /*if($l % 4 == 0)
                                {
                                    echo '</ul><ul>';
                                }
                                    $l++;*/
                                }
                            }
                        ?>
                    </ul>
                </div>
         	</div>
        </div>
        <!-- Popular Tour Packages End -->
    </div>
</div>