<?php  echo $this->doctype('XHTML1_TRANSITIONAL'); $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); ?> 

<html> 

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 <base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
  
<?php

$version = Zend_Registry::get('version');  

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/style_sheet.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/tours.css'); 

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/hotels.css'); 


$meta_Title = $this->tours_Form->meta_title->getValue();
$meta_keywords = $this->tours_Form->meta_keywords->getValue();
$meta_description = $this->tours_Form->meta_desc->getValue();
$property_name = $this->tours_Form->tours_name->getValue();

if(!empty($property_name)) { $this->headTitle()->headTitle($this->escape($property_name),'SET')->setSeparator(' - ')->headTitle($meta_Title); }
if(!empty($meta_keywords)){ $this->headMeta()->setName('keywords',$meta_keywords); }
if(!empty($meta_description)) { $this->headMeta()->setName('description',$meta_description); }


function isnot_int($tours_operator)
{
	$r = true;			
	if(is_numeric($tours_operator))
	{ 
		if(is_int((int)$tours_operator))
		{
			$r = false;
		}				
	}
	return $r;
}

$auth = Zend_Auth::getInstance ();
$hasIdentity = $auth->hasIdentity ();

$feature_facilities_arr = explode(',', $this->view_datas['inclusions']); 
$item_id = $this->tours_Form->id->getValue();
$group_id = $this->tours_Form->group_id->getValue();
$nextTours = $this->tours_database->getNextTours($item_id,$group_id, null);
$prevTours = $this->tours_database->getPrevTours($item_id,$group_id, null);
$country_id = $this->tours_Form->country_id->getValue();
$state_id = $this->tours_Form->state_id->getValue();
$area_id = $this->tours_Form->area_id->getValue();
$display_related_item_limit = 10 ;
$color_sign = ' ';
$maximum_rating_digit = 6;


if($area_id)
{												
	try
	{
		$area_db = new Tours_Model_DbTable_Area();
		$area_info = $area_db->getAreaInfo($area_id);		
	}
	catch(Exception $e)
	{
		echo $e->getMessage() ;
	}
}
if($state_id)
{
	try
	{
		$state_db = new Tours_Model_DbTable_State();
		$state_info = $state_db->getStateInfo($state_id);
	}
	catch(Exception $e)
	{
		echo $e->getMessage() ;
	}
}
if($country_id)
{
	try
	{
		$country_db = new Tours_Model_DbTable_Country();
		$country_info = $country_db->getCountryName($country_id);
	}
	catch(Exception $e)
	{
		echo $e->getMessage() ;
	}
} 
?>


<script type="text/javascript">
 $(function() {				
				var galleries = $('.ad-gallery').adGallery();
				$('#switch-effect').change(
				  function() {
					galleries[0].settings.effect = $(this).val();
					return false;
				  }
				);
				$('#toggle-slideshow').click(
				  function() {
					galleries[0].slideshow.toggle();
					return false;
				  }
				);
				$('#toggle-description').click(
				  function() {
					if(!galleries[0].settings.description_wrapper) {
					  galleries[0].settings.description_wrapper = $('#descriptions');
					} else {
					  galleries[0].settings.description_wrapper = false;
					}
					return false;
				  }
				);
			  });
$(function() {
		$('#slickbox').hide();
		$('a.slick-slidetoggle').click(function() {
			$('#slickbox').slideToggle(400);
			return false;
		  });
		$("#tabs").tabs({ selected: <?php echo $this->tab; ?> }).find(".ui-tabs-nav").sortable({axis:'xy'});
		$("#matchTabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
		$("a.change_img").click(function(){
			var self = this;
			var src = $(self).children("img:nth-child(1)").attr('src');
			$("div.ad-image").children("img:nth-child(1)").attr('src',src);
		});
		$("a.payment_btn").click(function(){
			$('#tabs').tabs({ selected: 6 });
		});
	});
	





$(document).ready(function() {
	function stripslashes(str) 
	{
		str=str.replace(/\\'/g,'\'');
		str=str.replace(/\\"/g,'"');
		str=str.replace(/\\0/g,'\0');
		str=str.replace(/\\\\/g,'\\');
		return str;
	}
	
	function openMsgDialog(msg)
	{
		$('#dialog_container').html(msg).dialog({
					autoOpen: true,
					modal: false,
					show: 'fade',
					resizable: 'false',				
					buttons: { "Ok": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
					open: function(event, ui)
						 {
							setTimeout(function() 
							{									
								if($('#' + event.target.id).dialog('isOpen'))
								{
									$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
								}
							}, 10000);
						  }
				});
	}
	
	$('a.save_tours_btn').click(function() {
		var self = this;
		var id = $(self).attr('rel');
		$.ajax({
			  url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
			  type: 'POST',
			  data: { id: id },
			  beforeSend: function(){						
						$(self).html('<img src="images/ajax_loader7.gif" border="0" width="20" height="20" />');	
					 },
			  success: function(response){
				//alert(response);
				var json_arr = eval("("+response+")");							
				if(json_arr.status == 'ok')
				{
					openMsgDialog(json_arr.msg);
				}
				else
				{
					openMsgDialog(json_arr.msg);
				}
				$(self).html('<?php echo $this->translator->translator("tours_front_page_save_tours"); ?>');
			  }
		});
	});
	
	$('select.country_id').change(function() {	
			if($('select.country_id option:selected').val() == 'any' || $('select.country_id option:selected').val() =='')
			{
				$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');	
				$('select.state_id').html('<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('select.country_id option:selected').val() },
					  beforeSend: function(){						
								$('select.state_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');			
								$('#state_id_err').html('<img src="images/ajax_loader7.gif" border="0" width="15" height="15" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('select.state_id').html(option);
						}
						else
						{
							$('select.state_id').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_err').html('');
					  }
				});
			}
		});
		
	$('select.state_id').change(function() {		
				
		if($('select.state_id option:selected').val() == 'any' || $('select.state_id option:selected').val() == '')
		{
			$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');
		}
		else
		{
			$.ajax({
				  url: "<?php echo $this->url( array('module' => 'Tours', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
				  type: 'POST',
				  data: { id: $('select.state_id option:selected').val() },
				  beforeSend: function(){						
						$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
						$('#area_id_err').html('<img src="images/ajax_loader7.gif" border="0" width="15" height="15" />');	
						},
				  success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					var option = '<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>';				
					if(json_arr.status == 'ok')
					{
						for(var i = 0;i<json_arr.cities.length;i++)
						{
							option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
						}
						$('select.area_id').html(option);
					}
					else
					{
						$('select.area_id').html('<option value="any">'+json_arr.msg+'</option>');
					}
					$('#area_id_err').html('');
				  }
			});
		}
	});	
});
</script>
<style type="text/css">	
	.ui-button { margin-left: -1px; }
	.ui-button-icon-only .ui-button-text { padding: 2px; } 

	 
	#post_code { width: 10em; }
	#tours_price { width: 7em; }
	#tours_name { width: 26em; }
	
	  #gallery {
				padding: 10px 5px 5px 5px;
				background: #F3F3F3;
			  }
			  .ad-gallery .ad-image-wrapper {
					
					height: 300px;

				  }
				.ad-gallery .ad-thumbs .ad-thumb-list {
					padding-left:2px;
										
				  }
			  #descriptions {
				position: relative;
				height: 50px;
				background: #EEE;
				margin-top: 10px;
				width: 400px;
				padding: 0px;
				overflow: hidden;
			  }
				#descriptions .ad-image-description {
				  position: absolute;
				}
				  #descriptions .ad-image-description .ad-description-title {
					display: block;
				  }


</style>

</head>
<body onLoad="javascript:print();">

<div class="main-container">
	<div class="main">
		<div class="inner-page-container"> 
			<div class="innter-page-content" style="width:100%;"> 

					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					  
					  <tr>
						<td height="45" align="center" valign="bottom"><span  class="hotel-book-btn"><a href="javascript:print();"  ><?php echo $this->translator->translator('common_print'); ?></a></span>
						</td>
					  </tr>
					  
					  
					  <tr>
						<td>
							<?php
											$tours_image_val_arr = explode(',',$this->tours_Form->tours_image->getValue());
											if($this->escape($this->tours_Form->traveler_photos->getValue()))
											{ 
												$thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($this->tours_Form->traveler_photos->getValue()); 
											}
											else
											{ 
												if($this->escape($this->tours_Form->tours_image->getValue()))
												{								
													$thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($tours_image_val_arr[0]); 
												}
												else
												{
													$thumb_image = 'data/frontImages/tours/design_images/no_image.jpg'; 
												}		
											}
											if($this->group_datas['img_big_width'] && ($this->group_datas['img_big_resize_func'] == 'resizeToWidth' || $this->group_datas['img_big_resize_func'] == 'resize' ))
											{ 
												$width = 'width="'.$this->escape($this->group_datas['img_big_width']).'"'; 
											}
											else
											{
												$width = '';
											} 
											if($this->group_datas['img_big_height'] && ( $this->group_datas['img_big_resize_func'] == 'resizeToHeight' || $this->group_datas['img_big_resize_func'] == 'resize' ))
											{ 
												$height = 'height="'.$this->escape($this->group_datas['img_big_height']).'"'; 
											} 
											else
											{
												$height = '';
											}
										?>
						
						</td>
					  </tr>
					  <tr>
						<td></td>
					  </tr>
					  
					  
					  
					  <tr>
						<td>&nbsp;</td>
					  </tr>
					 
					  
					  <tr>
						<td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">      
						  <tr>
							<td>
								<div id="tabs">
								
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-0">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
											<tr>
												<td>
													<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
														<tr>
														  <td height="40" align="left" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;padding-left:15px;"><span class="tours-title-3"><?php echo $this->escape($this->tours_Form->tours_name->getValue()); ?></span></td>
														</tr>
														<tr>
														  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; text-align:justify;">
															 
															  <tr>
																<td><?php echo stripslashes($this->tours_Form->tours_desc->getValue()); ?>
																
																</td>
															  </tr>
														  </table></td>
														</tr>
													  </table>
												</td>
											  </tr>
									  </table>
									</div>
									
									<br />
									<br />
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-1">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
										
										<tr>
										  <td width="56%" valign="top"><table width="96%" border="0" cellspacing="0" cellpadding="5">
											
											<tr>
											  <td width="56%" class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_detail'); ?></td>
											  <td width="44%">&nbsp;</td>
											</tr>
											<?php 
												$_tours_price = $this->escape($this->tours_Form->tours_price->getValue()); 
												if (!empty($_tours_price)) {	
											 ?>
											<tr>
											  <td><?php echo $this->tours_Form->tours_price->getAttrib('font_end_label'); ?></td>
											  <td><?php echo $this->price($_tours_price)  ?></td>
											</tr>
											<?php 
												}
												$_tours_name = $this->escape($this->tours_Form->tours_name->getValue()); 
												if (!empty($_tours_name)) {								
											?>
											<tr>
											  <td><?php echo $this->tours_Form->tours_name->getAttrib('font_end_label'); ?></td>
											  <td><?php echo $_tours_name; ?></td>
											</tr>
											<?php 
												}
												$_costs_of_children = $this->escape($this->tours_Form->costs_of_children->getValue()); 
												if (!empty($_costs_of_children)) {								
											?>
											
											<tr>
											  <td><?php echo $this->tours_Form->costs_of_children->getAttrib('font_end_label'); ?></td>
											  <td><?php echo $_costs_of_children; ?></td>
											</tr>
											<?php 
												}
												$_location_type = $this->escape($this->tours_Form->location_type->getValue()); 
												if (!empty($_location_type)) {								
											?>
											
											<tr>
											  <td><?php echo $this->tours_Form->location_type->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_location_type; ?></td>
											</tr>
					
											<?php 
												}
												$_scheduled_on = $this->escape($this->tours_Form->scheduled_on->getValue()); 
												if (!empty($_scheduled_on)) {								
											?>
					
											<tr>
											  <td><?php echo $this->tours_Form->scheduled_on->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_scheduled_on; ?></td>
											</tr>
											<?php 
												}
												$_sightseeing = $this->escape($this->tours_Form->sightseeing->getValue()); 
												if (!empty($_sightseeing)) {								
											?>
					
											<tr>
											  <td><?php echo $this->tours_Form->sightseeing->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_sightseeing; ?></td>
											</tr>
											
											<?php 
												}
												$_accommodates = $this->escape($this->tours_Form->accommodates->getValue()); 
												if (!empty($_accommodates)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->accommodates->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_accommodates; ?></td>
											</tr>
											<?php 
												}
												$_num_of_days = $this->escape($this->tours_Form->num_of_days->getValue()); 
												if (!empty($_num_of_days)) {								
											?>
											
											<tr>
											  <td><?php echo $this->tours_Form->num_of_days->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_num_of_days; ?></td>
											</tr>
											
											<?php 
												}
												$_visiting_cities = $this->escape($this->tours_Form->visiting_cities->getValue()); 
												if (!empty($_visiting_cities)) {								
											?>
											
											
											<tr>
											  <td><?php echo  $this->tours_Form->visiting_cities->getAttrib('font_end_label'); ?></td>
											  <td><?php echo  $_visiting_cities ; ?></td>
											</tr>
											<?php 
												}
												$_tours_code = $this->escape($this->tours_Form->tours_code->getValue()); 
												if (!empty($_tours_code)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->tours_code->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_tours_code; ?></td>
											</tr>
											<?php 
												}
												$_Pickup_service = $this->escape($this->tours_Form->Pickup_service->getValue()); 
												if (!empty($_Pickup_service)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->Pickup_service->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_Pickup_service; ?></td>
											</tr>
											<?php 
												}
												$_supplementary_room = $this->escape($this->tours_Form->supplementary_room->getValue()); 
												if (!empty($_supplementary_room)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->supplementary_room->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_supplementary_room; ?></td>
											</tr>
											<?php 
												}
												$_drop_off_service = $this->escape($this->tours_Form->drop_off_service->getValue()); 
												if (!empty($_drop_off_service)) {								
											?>
					
					
											<tr>
											  <td><?php echo $this->tours_Form->drop_off_service->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_drop_off_service; ?></td>
											</tr>
											<?php 
												}
												$_entertainments = $this->escape($this->tours_Form->entertainments->getValue()); 
												if (!empty($_entertainments)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->entertainments->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_entertainments; ?></td>
											</tr>
											<?php 
												}
												$_multilingual_guide = $this->escape($this->tours_Form->multilingual_guide->getValue()); 
												if (!empty($_multilingual_guide)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->multilingual_guide->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_multilingual_guide; ?></td>
											</tr>
											<?php 
												}
												$_starting_city = $this->escape($this->tours_Form->starting_city->getValue()); 
												if (!empty($_starting_city)) {								
											?>
											
											
											<tr>
											  <td><?php echo $this->tours_Form->starting_city->getAttrib('font_end_label');  ?></td>
											  <td><?php echo $_starting_city; ?></td>
											</tr>	
											
											<?php 
												}
											?>
																
										  </table></td>
										  <td width="44%" valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
											<tr>
											  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
												<tr>
												  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_summary'); ?></td>
												</tr>
												<tr>
												  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
													<tr>
													  <td width="23%"><?php echo $this->tours_Form->post_code->getAttrib('font_end_label') ;  ?></td>
													  <td width="26%"><?php echo $this->tours_Form->post_code->getValue()?></td>
													  <td width="37%"><?php echo $this->tours_Form->ending_city->getAttrib('font_end_label');  ?></td>
													  <td width="14%"><?php echo (int)$this->escape($this->tours_Form->ending_city->getValue()); ?></td>
													</tr>
													<tr>
													  <td><?php echo $this->tours_Form->area_id->getAttrib('font_end_label') ?></td>
													  <td><?php echo $this->escape( $area_info['city']); ?></td>
													  <td><?php echo $this->tours_Form->sightseeing->getAttrib('font_end_label') ; ?></td>
													  <td><?php echo $this->escape( $this->tours_Form->sightseeing->getValue() ); ?></td>
													</tr>
													<tr>
													  <td><?php echo $this->tours_Form->state_id->getAttrib('font_end_label');  ?></td>
													  <td><?php echo $this->escape( $state_info['state_name']); ?></td>
													  <td><?php echo $this->tours_Form->scheduled_on->getAttrib('font_end_label'); ?></td>
													  <td><?php echo $this->escape($this->tours_Form->scheduled_on->getValue()); ?></td>
													</tr>
					
													<tr>
													  <td><?php echo $this->tours_Form->country_id->getAttrib('font_end_label');  ?></td>
													  <td><?php echo $this->escape($country_info['value']); ?></td>
													  <td><?php echo $this->tours_Form->num_of_nights->getAttrib('font_end_label');  ?></td>
													  <td><?php echo $this->escape($this->tours_Form->num_of_nights->getValue()); ?></td>
													</tr>
					
													
												  </table></td>
												</tr>
												
											  </table></td>
											</tr>
											<tr>
											  <td>&nbsp;</td>
											</tr>
											<tr>
											  <td>&nbsp;</td>
											</tr>
											<?php
												//Checking Membership Package Option
												$packages = new Members_Controller_Helper_Packages();
												$general_db = new Members_Model_DbTable_General();
												$forms_db = new Members_Model_DbTable_Forms();
												$mem_info = $this->agent_list->getMemberInfo($this->view_datas['entry_by']);	
												$module = $this->module;
												$controller = $this->controller;
												$action = $this->action;
												if($packages->checkFormAvailable('Default Info'))
												{
													$default_form_id  = $forms_db->getFormId('Default Info');
													$default_form_info['form_id'] = 	$default_form_id[0]['id'];
													$default_general_info = $general_db->getAllValues($default_form_id[0]['id']);												
													$dynamic_valu_db = new Members_Model_DbTable_FieldsValue();	
													$default_form_info	=	$dynamic_valu_db->getFieldsValueInfo($default_form_info,$default_general_info[0]['id']);
												}
												else
												{
													$default_form_info = null;
												}
												if($packages->isPackageFrontend($mem_info['user_id'],$mem_info['role_id']))
												{								
													if($packages->isPackageFrontendField($module,$controller,$action,$mem_info['user_id'],$mem_info['role_id']))
													{
														$package_no = $packages->getPackageFrontendFieldValue($module,$controller,$action,$mem_info['user_id'],$mem_info['role_id']);				
													}
													else
													{
														$package_no = 'Off';
													}
												}
												else
												{
													$package_no = 'On';
												}
											if($package_no == 'On')
											{		
											?>
											<tr>
											  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
												<tr>
												  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_realtor'); ?></td>
												</tr>
												<tr>
												  <td><table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
													  <tr class="tours-title-4">
														<td width="30%"><?php echo $this->translator->translator('tours_front_page_label_presented'); ?></td>
														<td width="70%">
														<?php
														if($this->escape($this->view_datas['tours_operator']))
														{
															$this->agent_list = new Members_Model_DbTable_MemberList();
															$owner_info = (isnot_int($this->view_datas['tours_operator'])) ? $this->escape($this->view_datas['tours_operator']) : $this->agent_list->getMemberInfo($this->escape($this->view_datas['tours_operator']));
															$owner_name = (is_array($owner_info)) ? $owner_info['title'].' '.$owner_info['firstName'].' '.$owner_info['lastName'] : $owner_info;	
															echo $this->escape($owner_name);
															$mem_user_id = (is_array($owner_info)) ? $owner_info['user_id'] : $mem_info['user_id'];
															$mem_role_id = (is_array($owner_info)) ? $owner_info['role_id'] : $mem_info['role_id'];
															if(is_array($owner_info))
															{
																$role_db = new Members_Model_DbTable_Role();
																$role_info = $role_db->getRoleInfo($owner_info['role_id']);
																$owner_info['form_id'] = 	$role_info['form_id'];
																$dynamic_valu_db = new Members_Model_DbTable_FieldsValue();	
																$owner_info	=	$dynamic_valu_db->getFieldsValueInfo($owner_info,$owner_info['user_id']);
																foreach($owner_info as $key=>$value)
																{
																	$field_name_arr = explode('_',$key);
																	if(in_array('package',$field_name_arr))
																	{
																		$package_info = $packages->getFormAllDatas($value);
																	}
																}
															}
															else
															{
																$mem_user_id = $mem_info['user_id'];
																$mem_role_id = $mem_info['role_id'];
																$role_db = new Members_Model_DbTable_Role();
																$role_info = $role_db->getRoleInfo($mem_role_id);
																$mem_info['form_id'] = 	$role_info['form_id'];
																$dynamic_valu_db = new Members_Model_DbTable_FieldsValue();	
																$mem_info	=	$dynamic_valu_db->getFieldsValueInfo($mem_info,$mem_user_id);
																foreach($mem_info as $key=>$value)
																{
																	$field_name_arr = explode('_',$key);
																	if(in_array('package',$field_name_arr))
																	{
																		$package_info = $packages->getFormAllDatas($value);
																	}
																}
															}
														}
														else
														{
															$mem_user_id = $mem_info['user_id'];
															$mem_role_id = $mem_info['role_id'];
															$role_db = new Members_Model_DbTable_Role();
															$role_info = $role_db->getRoleInfo($mem_role_id);
															$mem_info['form_id'] = 	$role_info['form_id'];
															$dynamic_valu_db = new Members_Model_DbTable_FieldsValue();	
															$mem_info	=	$dynamic_valu_db->getFieldsValueInfo($mem_info,$mem_user_id);
															foreach($mem_info as $key=>$value)
															{
																$field_name_arr = explode('_',$key);
																if(in_array('package',$field_name_arr))
																{
																	$package_info = $packages->getFormAllDatas($value);
																}
															}
														}
														?>
														</td>
														</tr>
													  <tr>
														<td>
														<?php
															if(is_array($owner_info))
															{
																if($owner_info['member_photo'])
																{
																	$owner_forms_info = $forms_db->getFormsInfo($role_info['form_id']);
																	$member_photo_path = $owner_forms_info['attach_file_path'];
																	$member_photo = $member_photo_path.'/'.$owner_info['member_photo'];
																	$member_photo_width = 'width="'.$default_form_info['member_photo_width_default'].'"';
																	$member_photo_height = 'height="'.$default_form_info['member_photo_height_default'].'"';
																}
																else
																{												
																		if(!empty($default_form_info))
																		{
																				$member_photo = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['member_photo_default'];
																				$member_photo_width = 'width="'.$default_form_info['member_photo_width_default'].'"';
																				$member_photo_height = 'height="'.$default_form_info['member_photo_height_default'].'"';
																		}
																		else
																		{
																				$member_photo = 'data/frontImages/tours/design_images/no_user_image.gif';
																				$member_photo_width = 'width="75"';
																				$member_photo_height = 'height="87"';
																		}
																}
															}
															else
															{
																if(!empty($default_form_info))
																{
																		$member_photo = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['member_photo_default'];
																		$member_photo_width = 'width="'.$default_form_info['member_photo_width_default'].'"';
																		$member_photo_height = 'height="'.$default_form_info['member_photo_height_default'].'"';
																}
																else
																{
																		$member_photo = 'data/frontImages/tours/design_images/no_user_image.gif';
																		$member_photo_width = 'width="75"';
																		$member_photo_height = 'height="87"';
																}
															}
																									
														?>
														<img src="<?php echo $member_photo; ?>" <?php echo $member_photo_width.' '.$member_photo_height; ?> style="border:1px solid #CCCCCC;"/>
														</td>
														<td valign="top">									
															<table width="100%" border="0" cellspacing="0" cellpadding="3">
															  <tr>
																<td colspan="2" valign="top"><?php echo $this->translator->translator('tours_front_page_label_company'); ?></td>
																<td width="45%" valign="top" rowspan="3">
																<?php												
																	if($packages->isPackageFrontendField($module,$controller,$action.'_pic',$mem_user_id,$mem_role_id))
																	{		
																		$package_pic_info = $packages->getPackageFrontendFieldDetailsValue($module,$controller,$action.'_pic',$mem_user_id,$mem_role_id);				
																		if(!empty($package_pic_info))
																		{
																			$forms_info = $forms_db->getFormsInfo($package_pic_info['form_id']);
																			if(!empty($package_pic_info['field_value']))
																			{
																				$package_pic = $this->serverUrl().$this->baseUrl().'/'. $forms_info['attach_file_path'].'/'.$package_pic_info['field_value'];
																				$package_pic_width = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_pic_width',$mem_user_id,$mem_role_id);
																				$package_pic_height = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_pic_height',$mem_user_id,$mem_role_id);
																				$package_pic_width_field = ($package_pic_width) ? 'width="'.$package_pic_width.'"' : '';
																				$package_pic_height_field = ($package_pic_width) ? 'height="'.$package_pic_height.'"' : '';
																			}
																			else
																			{
																				$package_pic = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['tours_frontend_details_pic_default'];
																				$package_pic_width_field = (!empty($default_form_info['tours_frontend_details_pic_width_default'])) ? 'width="'.$default_form_info['tours_frontend_details_pic_width_default'].'"' : '';
																				$package_pic_height_field = (!empty($default_form_info['tours_frontend_details_pic_height_default'])) ? 'height="'.$default_form_info['tours_frontend_details_pic_height_default'].'"' : '';
																			}
																		}
																		else
																		{
																			$package_pic = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['tours_frontend_details_pic_default'];
																			$package_pic_width_field = (!empty($default_form_info['tours_frontend_details_pic_width_default'])) ? 'width="'.$default_form_info['tours_frontend_details_pic_width_default'].'"' : '';
																			$package_pic_height_field = (!empty($default_form_info['tours_frontend_details_pic_height_default'])) ? 'height="'.$default_form_info['tours_frontend_details_pic_height_default'].'"' : '';
																		}
																	}
																	else
																	{
																		$package_pic = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['tours_frontend_details_pic_default'];
																		$package_pic_width_field = (!empty($default_form_info['tours_frontend_details_pic_width_default'])) ? 'width="'.$default_form_info['tours_frontend_details_pic_width_default'].'"' : '';
																		$package_pic_height_field = (!empty($default_form_info['tours_frontend_details_pic_height_default'])) ? 'height="'.$default_form_info['tours_frontend_details_pic_height_default'].'"' : '';
																	}
																	if($package_pic)
																	{
																?>
																<img src="<?php echo $package_pic; ?>" <?php echo $package_pic_width_field.' '.$package_pic_height_field; ?> style="border:1px solid #CCCCCC;"/>
																<?php
																	}
																?>											
																</td>
															  </tr>
															  <tr>
																<td colspan="2" valign="top"><?php if(is_array($owner_info)){ echo $this->escape($owner_info['companyName']); } ?></td>
																
															  </tr>
															  <tr>
																<td colspan="2" valign="top"><?php if(($package_info[0]['field_value'])){ echo $this->translator->translator('common_package_name_title'); } ?></td>
															  </tr>
															  <tr>
																<td colspan="3" valign="top" class="box_link_URL"><?php echo $this->escape($package_info[0]['field_value']); ?></td>
															  </tr>
															</table>
														</td>
														</tr>
													  <tr>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														</tr>
													<?php
														if($packages->isPackageFrontendField($module,$controller,$action.'_contact_directly',$mem_user_id,$mem_role_id))
														{
															$contact_directly = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_contact_directly',$mem_user_id,$mem_role_id);				
														}
														else
														{
															$contact_directly = 'No';
														}
														if($contact_directly == 'Yes')
														{
													 ?>
													  <tr>
														<td  valign="top"><?php echo $this->translator->translator('tours_front_page_label_phone'); ?></td>
														<td width="70%" valign="top"><?php echo $this->escape($this->view_datas['house_phone']); ?></td>
													  </tr>
													  <tr>
														<td  valign="top"><?php echo $this->translator->translator('tours_front_page_label_fax'); ?></td>
														<td valign="top"><?php echo $this->escape($this->view_datas['house_fax']); ?></td>
													  </tr>
													  <tr>
														<td width="30%" valign="top"><?php echo $this->translator->translator('tours_front_page_label_email'); ?></td>
														<td>
															<table width="100%" border="0" cellpadding="0" cellspacing="0">
															 <tr>
																<td width="16%" align="center" valign="top"><img src="data/frontImages/tours/design_images/email.gif" width="21" height="18" /></td>
																<td valign="top" class="box_link"><a href="<?php if(is_array($owner_info)){ echo 'mailto:'.$this->escape($owner_info['username']); }else{ echo 'mailto:'.$this->escape($this->view_datas['house_email']) ;} ?>"><?php echo $this->translator->translator('tours_front_page_label_email_lang'); ?></a></td>
															 </tr>
															</table>
														</td>
													  </tr>
													  <tr>
														<td  valign="top"><?php echo $this->translator->translator('tours_front_page_label_web'); ?></td>
														<td  valign="top" class="box_link_URL"><a href="<?php if(is_array($owner_info)){ echo 'http://'.$this->escape($owner_info['website']); } ?>" target="_blank"><?php if(is_array($owner_info)){ echo $this->escape($owner_info['website']); } ?></a></td>
													  </tr>
													  <tr>
														<td><?php echo $this->translator->translator('tours_front_page_label_contact'); ?></td>
														<td>
															<?php echo $this->translator->translator('tours_front_page_label_duration'); ?> <?php echo $this->escape($this->view_datas['duration']); ?><br />
															<?php echo $this->translator->translator('tours_front_page_label_city'); 
																if($area_id)
																{												
																	echo " ".$this->escape($area_info['city']);
																}
															?><br />
															<?php echo $this->translator->translator('tours_front_page_label_state'); 
																if($state_id)
																{
																	echo " ".$this->escape($state_info['state_name']);
																}
															?><br />
															<?php echo $this->translator->translator('tours_front_page_label_country'); 
																if($country_id)
																{
																	echo " ".$this->escape($country_info['value']);
																}
															?><br />
															<?php echo $this->translator->translator('tours_front_page_label_postcode'); 
																echo " ".$this->escape($this->view_datas['post_code']);	
															?>								
														</td>
													  </tr>
													  <?php
														}
													  ?>
													  <tr>
														<td colspan="2" style="border-bottom:1px solid #CCCCCC;">&nbsp;</td>
														</tr>
														<tr>
															<td colspan="2">
																<?php
																if($packages->isPackageFrontendField($module,$controller,$action.'_certified',$mem_user_id,$mem_role_id))
																{
																	$allow_certified = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_certified',$mem_user_id,$mem_role_id);				
																}
																else
																{
																	$allow_certified = 'No';
																}
																if($packages->isPackageFrontendField($module,$controller,$action.'_allow_logo',$mem_user_id,$mem_role_id))
																{
																	$allow_logo = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_allow_logo',$mem_user_id,$mem_role_id);				
																}
																else
																{
																	$allow_logo = 'No';
																}
																?>
																<table width="100%" cellpadding="0" cellspacing="0">
																  <tr class="tours_details_title_9">
																	<td height="30" ><?php if($allow_logo == 'Yes') { echo $this->translator->translator('tours_front_page_label_company_logo'); } ?></td>
																	<td><?php if($allow_certified == 'Yes'){ echo $this->translator->translator('tours_front_page_label_verified'); } ?></td>
																  </tr>
																  
																  <tr>
																	<td>
																	<?php
																		
																		if($allow_logo == 'Yes')
																		{									
																			if(is_array($owner_info))
																			{
																				if($owner_info['company_logo'])
																				{
																					$company_logo_path = $owner_forms_info['attach_file_path'];
																					$company_logo = $member_photo_path.'/'.$owner_info['company_logo'];
																					$company_logo_width = ($default_form_info['company_logo_width_default']) ? 'width="'.$default_form_info['company_logo_width_default'].'"' : '';
																					$company_logo_height = ($default_form_info['company_logo_height_default']) ? 'height="'.$default_form_info['company_logo_height_default'].'"' : '';
																				}
																				else
																				{
																					if(!empty($default_form_info))
																					{
																						$company_logo = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['company_logo_default'];
																						$company_logo_width = ($default_form_info['company_logo_width_default']) ? 'width="'.$default_form_info['company_logo_width_default'].'"' : '';
																						$company_logo_height = ($default_form_info['company_logo_height_default']) ? 'height="'.$default_form_info['company_logo_height_default'].'"' : '';
																					}
																					else
																					{
																						$company_logo = 'data/frontImages/tours/design_images/no_company_logo.gif';
																						$company_logo_width = 'width="80"';
																						$company_logo_height = 'height="60"';
																					}
																				}
																			}
																			else
																			{
																				if(!empty($default_form_info))
																				{
																					$company_logo = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['company_logo_default'];
																					$company_logo_width = ($default_form_info['company_logo_width_default']) ? 'width="'.$default_form_info['company_logo_width_default'].'"' : '';
																					$company_logo_height = ($default_form_info['company_logo_height_default']) ? 'height="'.$default_form_info['company_logo_height_default'].'"' : '';
																				}
																				else
																				{
																					$company_logo = 'data/frontImages/tours/design_images/no_company_logo.gif';
																					$company_logo_width = 'width="80"';
																					$company_logo_height = 'height="60"';
																				}
																			}
																	?>
																	<img src="<?php echo $company_logo; ?>" <?php echo $company_logo_width.' '.$company_logo_height; ?> style="border:1px solid #CCCCCC;"/>
																	<?php
																		}
																	?>
																	</td>
																	<td>
																		<?php														
																			if($allow_certified == 'Yes')
																			{
																				if($packages->isPackageFrontendField($module,$controller,$action.'_pic_certi',$mem_user_id,$mem_role_id))
																				{
																					$package_pic_certi_info = $packages->getPackageFrontendFieldDetailsValue($module,$controller,$action.'_pic_certi',$mem_user_id,$mem_role_id);				
																					if(!empty($package_pic_certi_info))
																					{
																						$forms_info = $forms_db->getFormsInfo($package_pic_certi_info['form_id']);
																						if(!empty($package_pic_certi_info['field_value']))
																						{
																							$package_pic_certi = $this->serverUrl().$this->baseUrl().'/'. $forms_info['attach_file_path'].'/'.$package_pic_certi_info['field_value'];
																							$package_pic_certi_width = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_pic_certi_width',$mem_user_id,$mem_role_id);
																							$package_pic_certi_height = $packages->getPackageFrontendFieldValue($module,$controller,$action.'_pic_certi_height',$mem_user_id,$mem_role_id);
																							$package_pic_certi_width_field = ($package_pic_certi_width) ? 'width="'.$package_pic_certi_width.'"' : '';
																							$package_pic_certi_height_field = ($package_pic_certi_height) ? 'height="'.$package_pic_certi_height.'"' : '';
																						}
																						else
																						{
																							$package_pic_certi = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['tours_frontend_details_pic_certi_default'];
																							$package_pic_certi_width_field = ($default_form_info['tours_frontend_details_pic_certi_width_default']) ? 'width="'.$default_form_info['tours_frontend_details_pic_certi_width_default'].'"' : '';
																							$package_pic_certi_height_field = ($default_form_info['tours_frontend_details_pic_certi_height_default']) ? 'height="'.$default_form_info['tours_frontend_details_pic_certi_height_default'].'"' : '';
																						}
																					}
																					else
																					{
																						$package_pic_certi = $this->serverUrl().$this->baseUrl().'/'. $default_form_id[0]['attach_file_path'].'/'.$default_form_info['tours_frontend_details_pic_certi_default'];
																						$package_pic_certi_width_field = ($default_form_info['tours_frontend_details_pic_certi_width_default']) ? 'width="'.$default_form_info['tours_frontend_details_pic_certi_width_default'].'"' : '';
																						$package_pic_certi_height_field = ($default_form_info['tours_frontend_details_pic_certi_height_default']) ? 'height="'.$default_form_info['tours_frontend_details_pic_certi_height_default'].'"' : '';
																					}
																				}
																				else
																				{
																					$package_pic_certi = null;
																				}
																				if($package_pic_certi)
																				{
																		?>
																					<img src="<?php echo $package_pic_certi; ?>" <?php echo $package_pic_certi_width_field.' '.$package_pic_certi_height_field; ?> style="border:1px solid #CCCCCC;"/>
																		<?php
																				}
																			}
																		?>
																	</td>
																  </tr>
																 </table>
															</td>
													  </tr>
													 
													  
												  </table></td>
												</tr>
											  </table></td>
											</tr>
											<?php
											}
											?>
										  </table></td>
										</tr>
										
									  </table>
									</div>
									
									<br />
									<br />
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-2">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
										  <td class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_images'); ?></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
										<tr>
										  <td>
											<table width="100%" cellpadding="0" cellspacing="0">
												<tr>
													<?php
														if($this->group_datas['file_thumb_width'] && ($this->group_datas['file_thumb_resize_func'] != 'resizeToHeight' || $this->group_datas['file_thumb_resize_func'] != 'resize' ))
														{ 
															$width_img = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
														}
														else
														{
															$width_img = '';
														} 
														if($this->group_datas['file_thumb_height'] && ( $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth' || $this->group_datas['file_thumb_resize_func'] != 'resize' ))
														{ 
															$height_img = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
														} 
														else
														{
															$height_img = '';
														}
														$img_arr = explode(',',$this->tours_Form->tours_image->getValue());
														$i = 1;
														foreach($img_arr as $key => $value)
														{
													?>
													<td style="padding:1px;">
														<a href="javascript:void(0);" class="change_img"><img src="data/frontImages/tours/tours_image/<?php echo $value; ?>" <?php echo $width_img.' '.$height_img; ?> border="0" style="border:1px solid #CCCCCC; padding:4px;"/></a>
													</td>
													<?php
															if($i % $this->group_datas['file_col_num'] == 0){ echo '</tr><tr>'; }
															$i++;
														}
													?>
												</tr>
											</table>
										  </td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
									  </table>
									</div>
									
									<br />
									<br />
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-3">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
										  <td class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_floorplan'); ?></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
										<tr>
										  <td><table width="100%" cellpadding="0" cellspacing="0">
												<tr>
													<?php
														if($this->group_datas['file_thumb_width'] && ($this->group_datas['file_thumb_resize_func'] != 'resizeToHeight' || $this->group_datas['file_thumb_resize_func'] != 'resize' ))
														{ 
															$width_img = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
														}
														else
														{
															$width_img = '';
														} 
														if($this->group_datas['file_thumb_height'] && ( $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth' || $this->group_datas['file_thumb_resize_func'] != 'resize' ))
														{ 
															$height_img = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
														} 
														else
														{
															$height_img = '';
														}
														if($this->tours_Form->spots_photo_gallery->getValue())
														{
															$img_froor_arr = explode(',',$this->tours_Form->spots_photo_gallery->getValue());
															$i = 1;
															foreach($img_froor_arr as $key => $value)
															{
														?>
														<td style="padding:1px;">
															<a href="javascript:void(0);" class="change_img"><img src="data/frontImages/tours/other_images/<?php echo $value; ?>" <?php echo $width_img.' '.$height_img; ?> border="0" style="border:1px solid #CCCCCC; padding:4px;"/></a>
														</td>
														<?php
																if($i % $this->group_datas['file_col_num'] == 0){ echo '</tr><tr>'; }
																$i++;
															}
														}
													?>
												</tr>
											</table></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
									  </table>
									</div>
					
									<br />
									<br />
					
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-4">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
										  <td width="56%" valign="top">
											<table width="96%" border="0" cellspacing="0" cellpadding="5">						
												<tr>
												  <td width="43%" class="details_tab_header"><?php echo $this->translator->translator('tours_front_page_Title_payment_amenities'); ?></td>
												  </tr>
												
												<tr>
												  <td><?php 
															 
														foreach($feature_facilities_arr as $key=>$value)
														{
															echo '<div style="float:left;text-align:left;width:200px;">'.$this->escape($value).'</div>';
														}						  
												  ?></td>
												  </tr>						
											</table>
										  </td>
										</tr>
										
										<tr>
										  <td width="56%" valign="top">
											<table width="96%" border="0" cellspacing="0" cellpadding="5">						
												<tr>
												  <td width="43%" class="details_tab_header"><?php echo $this->translator->translator('tours_page_exclusions'); ?></td>
												  </tr>
												
												<tr>
												  <td><?php 
															$feature_sports_recreations_arr = explode(',', $this->view_datas['exclusions']); 
															foreach($feature_sports_recreations_arr as $key=>$value)
															{
																echo '<div style="float:left;text-align:left;width:200px;">'.$this->escape($value).'</div>';
															}						  
												  ?></td>
												</tr>						
											</table>
										  </td>
										</tr>
										
									  </table>
									</div>
									
									<br />
									<br />		  
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-5">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
										  <td class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_tours_available'); ?></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
										<tr>
										  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
											<tr>
											  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_available'); ?></td>
											</tr>
											<tr>
											  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
												 
														<?php 	$journey_start_date = $this->tours_Form->journey_start_date->getValue();
														if($journey_start_date != '0000-00-00' && !empty($journey_start_date)){ ?>
													<tr>
														<td><?php echo $this->translator->translator('tours_front_page_label_activation'); ?></td>
														<td><?php echo $this->escape($this->tours_Form->journey_start_date->getValue()); ?></td>
													</tr>
												<?php } ?>
											  </table></td>
											</tr>
										  </table></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
									  </table>						
									</div>		
									
									<br />
									<br />
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-6">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
										  <td class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_brochure_feature'); ?></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
											<?php 
											
												$_itinerary_desc = $this->escape( $this->tours_Form->itinerary_desc->getValue()); 
												if (!empty($_itinerary_desc)) {												
											?>
										
										
										<tr>
										  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
											<tr>
											  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_brochure'); ?></td>
											</tr>
											<tr>
											  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333;">
												  <tr>
													<td class="tours-title-2" width="21%"><?php echo $this->escape($this->tours_Form->itinerary_title->getValue());  ?></td>
												  </tr>
												  <tr>
													<td width="21%"><?php echo $_itinerary_desc ;  ?></td>
												  </tr>
											  </table></td>
											</tr>
										  </table></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
											<?php 
												}						
												$_tour_highlights = stripslashes($this->tours_Form->tour_highlights->getValue()); 
												if (!empty($_tour_highlights)) {												
											?>
					
										
										<tr>
										  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
											<tr>
											  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_features'); ?></td>
											</tr>
											<tr>
											  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
												  <tr>
													<td width="21%"><?php echo  $_tour_highlights; ?></td>
												  </tr>						
											  </table></td>
											</tr>
										  </table></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
											<?php 
												}
												$_transportation = stripslashes($this->tours_Form->transportation->getValue()); 
												if (!empty($_transportation)) {												
											?>
										
										
										<tr>
										  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
											<tr>
											  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->tours_Form->transportation->getAttrib('font_end_label'); ?> </td>
											</tr>
											<tr>
											  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
												  <tr>
													<td width="21%"><?php echo $_transportation; ?></td>
												  </tr>						
											  </table></td>
											</tr>
										  </table></td>
										</tr>
					
											<?php 
												}
											?>
										
										
									  </table>
									</div>
									
									<br />
									<br />
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-7">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
										  <td class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_payment'); ?></td>
										</tr>
										<tr>
										  <td>&nbsp;</td>
										</tr>
															
										<tr>
										  <td>&nbsp;</td>
										</tr>
											<?php 
												
												$_payment_desc =  stripslashes( $this->tours_Form->payment_desc->getValue()); 
												if (!empty($_payment_desc)) {												
											?>
										
										<tr>
										  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F9F9F9" style="border:1px solid #CCCCCC;">
											<tr>
											  <td height="40" align="center" class="topbar_1 tours-title-2" style="border-bottom:1px solid #E2E2E2;"><?php echo $this->translator->translator('tours_front_page_Title_payment_process'); ?></td>
										</tr>
										<tr>
											  <td style="padding:5px;"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
											<tr>
												<td width="21%"><?php echo $_payment_desc; ?></td>
											</tr>	
																	
											 </table></td>
										 </tr>
											
											
										  </table></td>
										</tr>
										<?php }?>  
										<tr>
										  <td>&nbsp;</td>
										</tr>
									  </table>
									</div>
					
					
									<br />
									<br />
									
									
									<div style="border:1px solid #CCCCCC; padding:5px;font-size:12px;" id="tabs-8">
									  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
										  <td width="56%" valign="top"><table width="96%" border="0" cellspacing="0" cellpadding="5">
											
											<tr>
											  <td width="43%" class="tours-title-2"><?php echo $this->translator->translator('tours_front_page_Title_map'); ?></td>
											</tr>
											<?php 
												$_single_Room = $this->escape($this->tours_Form->single_Room->getValue()); 
												if (!empty($_single_Room)) {												
											?>
											<tr>
												<td width="21%"><?php echo $this->tours_Form->single_Room->getAttrib('font_end_label');  ?></td>
												 <td width="79%"><?php echo $_single_Room ; ?></td>
											</tr>
											<?php
												}
												$_double_room = $this->escape($this->tours_Form->double_room->getValue()); 
												if (!empty($_double_room)) {																			
											?>
											
											<tr>
												<td><?php echo $this->tours_Form->double_room->getAttrib('font_end_label'); ?></td>
												<td><?php echo $_double_room; ?></td>
											</tr>
											<?php
												}
												$_triple_rooms = $this->escape($this->tours_Form->triple_rooms->getValue()); 
												if (!empty($_triple_rooms)) {																			
											?>
											
											
											<tr>
												<td><?php echo $this->tours_Form->triple_rooms->getAttrib('font_end_label'); ?></td>
												<td><?php echo $_triple_rooms; ?></td>
											</tr>
											<?php
												}
												$_extra_nights_per_person = $this->escape($this->tours_Form->extra_nights_per_person->getValue()); 
												if (!empty($_extra_nights_per_person)) {																			
											?>
											
											
											<tr>
												<td><?php echo $this->tours_Form->extra_nights_per_person->getAttrib('font_end_label'); ?></td>
												<td><?php echo $_extra_nights_per_person; ?></td>
											</tr>
											<?php
												}
												$_feature_google_map = $this->escape($this->tours_Form->feature_google_map->getValue()); 
												if (!empty($_feature_google_map)) {																			
											?>
																						
											<tr>
											  <td><?php echo $this->tours_Form->feature_google_map->getAttrib('font_end_label'); ?></td>
											  <td><?php echo $_feature_google_map; ?></td>
											</tr>
											<?php
												}																			
											?>
											
										  </table></td>
										</tr>
									  </table>
									</div>
									
									<br />
									<br />
									
									<?php
										if(!empty($staticGroupsObj))
										{
											$tab = 9;
											foreach($staticGroupsObj as $staticGroup)
											{
												$elementsObj = $staticGroup->getElements();
										?>
										<div id="tabs-<?php echo $tab; ?>">
											<table width="98%" border="0" align="center" cellpadding="5" cellspacing="0" style="font-size:13px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
												<?php																
													foreach($elementsObj as $element)
													{
														if($element->getAttrib('frontend') == '1')
														{	
															if($element->getType() != 'Zend_Form_Element_File')
															{	
																if($element->getValue())
																{														
												?>	
																<tr>
																  <td width="24%"   valign="top" style="padding-left:5px;"><?php echo $element->getAttrib('font_end_label');  ?></td>
																  <td width="76%" valign="top">
																	  <?php 										
																		$id_f = $element->getAttrib('id');
																		$id_arr = explode('_',$id_f);	
																		if(($element->getType() == 'Zend_Form_Element_MultiCheckbox') || ($element->getType() == 'Zend_Form_Element_Multiselect'))
																		{	
																			$val_arr = $element->getValue();														
																			echo implode(', ',$val_arr);
																		}
																		else
																		{													
																			echo stripslashes($element->getValue());	
																		}														
																	?>														
																  </td>
																</tr>
																<tr>
																  <td width="24%" valign="top"></td>
																  <td width="76%" valign="top"></td>
																</tr>	
												<?php
																}
															}
														}
													}
												?>													
											</table>
										</div>
									<?php
											$tab++;
										 }
									 }
									?>
								</div>	
								
								
								
								
										
							</td>
						  </tr>
						</table></td>
					  </tr>
					  <tr>
						<td>&nbsp;
							
						</td>
					  </tr>					  
					</table>
			</div>
		</div>
	</div>	
</div>
</body>
</html>
