/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Autos Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

*{
	margin: 0;
    padding: 0;
}

body{
	background-color:#F5F5F5;
	font-family:Arial, Helvetica, sans-serif;
	color: #272727;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

header, hgroup, nav, article, section, footer, aside, address{ 
	display:block;
}

a{
	color:#CC0000;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#CC0000;*/
}

a:hover, a:active, a:focus{ 
	outline: 0; 
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	border: 1px solid #C1C1C1;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#3C3C3C;
	padding:5px;
	margin:0 10px 0 0;
	width:auto;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 8px 5px 0;
	vertical-align:middle;
}

input,select,textarea,button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#C00;
	margin: 2px 0 10px 0;
	letter-spacing: -1px;
}

h1{font-size:23px;}

h2{font-size:20px;}

h3{font-size:18px;}

h4{font-size:16px;}

h5{font-size:14px;}

h6{font-size:12px;}

form{ 
	margin-bottom:0; 
}

fieldset{
	background:#FCFCFC;
	border:1px solid #960101;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#C10202;
	border:1px solid #960101;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

ul, ol{ 
	list-style:none; 
}

hr{
	padding:0;
	margin:10px 0;
	width: 100%;
	clear: both;
	border: none;
	border-top:1px solid #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	display:inline-block;
	position: relative;
}

hr.dashed{
	padding:5px 0 0 0;
	border-top:0;
	border-bottom:1px solid #CCC;
	border-bottom-style:dashed;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#wrapper{ 
	width:100%;
}

#main-container{
	background-color:#FFF;
	/*border:1px solid #D7D7D7;*/
	box-shadow:  -10px 0px 10px -10px rgba(0,0,0,0.5), 10px 0px 10px -10px rgba(0,0,0,0.5);
	width:995px;
	min-height:530px;
	padding:5px;
	margin:auto;
	overflow:hidden;
}

#content{
	width:74%;
	float:right;
	overflow:hidden;
}

.content-container{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:10px;
	overflow:hidden;
}

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#1A1A1A;
	height:32px;
	color:#FFF;
}

.user-link{
	margin:6px 0 0 0;
}

.user-link a{
	color:#FFF;
	text-decoration:underline;
}

.user-link a:hover{
	color:#D6DEE0;
	text-decoration:none;
}

.quick-access{
	padding: 0;
}

.top-links{
	text-align:right;
}

.top-links a{
	color:#FFF;
	margin: 6px 0 0 0;
	display:inline-block;
}

.top-links a:hover{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
}

#header .container{
}

#header .logo{
	padding: 8px 0;
	float:left;
}

#header .support{
	padding: 7px 0 0 0;
	float:right;
	text-align:right;
}

.listing-add{
	background-color:#F39B11;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 2px 15px;
	margin: 27px 0 0 0;
	display:inline-block;
	line-height:38px;
	text-align:center;
	font-size:14px;
	float:right;
}

.listing-add:hover{
	background-color:#63932F;
}

.listing-add a{
	color:#FFF;
	text-decoration:none;
}

.listing-add a:hover{
	color:#FF9;
	text-decoration:none;
}

#header .listing-count{
	background-color:#D4262C;
	padding: 2px 15px;
	color:#FFF;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin: 27px 10px 0 0;
	display:inline-block;
	line-height:38px;
	text-align:center;
	font-size:14px;
	float:right;
}

#header .listing-count span{
	margin:0;
}

/* ---------------------------------------------------------------------------------- */

/* Listing Bar ---------------------------------------------------------------------- */

.listing .btn a{
	background: #FFCC00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top,  #FFFF33,  #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFF00 inset;
	border: 1px solid #F90;
	color: #000;
	padding:8px 10px 6px 10px;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:0;
	display:inline-block;
	vertical-align:top;
}

.listing .btn a:hover{
	color: #FF3300;
	text-shadow: 1px 1px 1px #FF9;
}

.listing .btn a span.icon{
	background:url(../images/add-listing.png) 0 center no-repeat;
	width:20px;
	height:20px;
	margin:0 5px 0 0;
	display:inline-block;
	vertical-align:middle;
}

.listing .count{
	background: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#000000');
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000000));
	background: -moz-linear-gradient(top,  #404040,  #000000);
	box-shadow: 0 1px 1px #5B5B5B inset;
	border:1px solid #000;
	padding: 9px 15px;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin: 0 10px 0 15px;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Side Bar ------------------------------------------------------------------------- */

#sidebar{
	width:250px;
	float:left;
	overflow:hidden;
	margin:0 0 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	position:relative;
	margin-bottom:15px;
}

#banner-inner{
	background:url(../images/banner-inner.jpg) center;
	height:186px;
	margin-bottom:15px;
}

#banner-inner h1{
	background-color:rgba(0, 0, 0, 0.5);
	border:1px solid #000;
	color:#E8E8E8;
	font-weight:bold;
	display:inline-block;
	margin-top:65px;
	padding:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 0 auto;
}

.block .block-heading{
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	color:#292929;
	padding:0px 0;
	background-color:#E4E4E4;
}

.block .block-heading .symbol{
	background:url(../images/round-arrow.png);
	background-position: 8px center;
	background-repeat:no-repeat;
	padding:10px 0 10px 30px;
}

.block .block-body{
	margin:0 0 15px 0;
	padding:5px;
	background-color: #FFFFFF;
    border:1px solid #E7E7E7; 
    overflow: hidden;
}

.block .block-content{	
	margin:0 auto 5px auto;
	padding:5px;
	overflow:hidden;
}

.block .block-title{
	font-weight:bold;
	color:#0066CC;
}

.block .block-title a{
	font-weight:bold;
	cursor:pointer;
}

.block .block-title a:hover{
	font-weight:bold;
	color:#666;
	text-decoration:underline;
}

.block .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 2px 4px 2px 0px;
	float:left;
}

.block .price{
	font-size:15px;
	color:#C00;
	padding:5px 0;
	display:inline-block;
	width:auto;
}

.block .price-big{
	font-size:26px;
}

.block .rating{
	width:90px;
	text-align:center;
	border:1px solid #E1E1E1;
	background-color:#FFF;
	padding: 0 0 0 0;
	margin: 4px 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	overflow:hidden;
}

.block .rating img{
	padding-bottom:2px;
}

.block .info{
	color: #666666;
	font-style:italic;
}

.block .img-wrapper,
	   .img-wrapper{
	float:left;
	position:relative;
}

.block .img-wrapper .photo-count-container,
	   .img-wrapper .photo-count-container{
	background-color:#C00;
	border:1px solid #FFF;
    line-height: 20px;
    position: absolute;
    text-align: center;
	left:5px;
	top:74px;
	padding: 0 10px;
	width: 70px;
}

.block .photo-count-container .photo-count a,
	   .photo-count-container .photo-count a{
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

.block .photo-count-container .photo-count a:hover,
	   .photo-count-container .photo-count a:hover{
	color:#FF9;
	text-decoration:underline;
}

.block .date{
	color:#F60;
}

.block .link-btn a{
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	padding: 6px 10px 6px 10px;
	font-weight:bold;
	color:#FFF;
	box-shadow: 0 1px 1px #AFF420 inset;
	border:1px solid #719502;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	float:right;
}

.block .link-btn a:hover{	
	background: #EC8D00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#EC8D00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBA00), to(#EC8D00));
	background: -moz-linear-gradient(top, #FFBA00, #EC8D00);
	color:#FFF;
	box-shadow: 0 1px 1px #FEE849 inset;
	border:1px solid #F09100;
	text-decoration:none;
}

.block .seperator{
	background:url(../images/dot_border.gif) repeat-x;
	width:100%;
	display:block;
	padding:2px 0 0 0;
	margin:0 0 0 0;	
}

.block .more a {
	background: url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:4px 2px;
	color:#CC0000;
	font-weight:bold;
	padding: 0 0 0 15px;
	margin:8px 0;
	float:left;
	clear:left;
}

.block .more a:hover{
	color:#666;
}

.block .list{
	width:31%;
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.block .list ul{
	margin:0;
	padding:0;
}

.block .list ul li{
	background-image:url(../images/list-arrow.png);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.block .list a{
	color:#CC0000;
	text-decoration:none;
	width:100%;
}

.block .list a:hover{
	color:#333333;
	text-decoration: underline;
}

.clear{
	clear:both;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	width:100%;
	border-top:6px solid #121212;
	background-color:#212121;
	height:230px;
	margin: 10px 0 0 0;
	padding-top:10px;
	overflow:hidden;
}

#footer .container{
	margin:auto;
	color:#FFF;
}

#footer .social{
	padding:8px 0px;
	color:#FFF;
	font-weight:bold;
	height:60px;
	float:right;
}

#footer .links{
	border-bottom:1px solid #161616; 
	padding-bottom:2px;
	line-height:28px;
	clear:both;
}

#footer .links span{
	font-weight:bold;
}

#footer .links ul{
	margin:0 0 0 0;
	padding:3px 0 0 0; 
	display: inline;
}

#footer .links ul li {
	margin:0; 
	padding: 0 1px 0 5px; 
	border-left: 1px solid #666;
	list-style: none; 
	display: inline; 
}
			
#footer .links ul li.first{ 
	border-left:0;
	padding-left:0;
}

#footer .links ul li a{
	color:#FFF; 
}

#footer .links ul li a:hover{
	color:#FFF;
}

#footer .copyright{
	color:#999;
}

#footer .copyright a{
	color:#999;
	text-decoration:underline;
	font-weight:bold;
	line-height:20px;
}

#footer .copyright a:hover{
	color:#999;
}

.go-top a{
	background: url(../images/top.png) no-repeat;
	width:49px;
	height:49px;
	display:block;
	position:fixed;
	bottom:10px;
	right:30px;
	z-index:100;
	text-align:center;
	padding: 25px 0 0 0;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner{
	float:left;
	width:210px;
}

#content-inner{
	width:78%;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:right;
	margin:0 0 0 5px;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
	position:relative; 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#FFF;
}

.dropdown dt a{
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/
	color:#FFF;
	display:block; 
	padding-right:20px;
	/*width:220px;*/
}

.dropdown dt a span{
	cursor:pointer; 
	display:inline-block;
	line-height:19px;
	/*padding:2px;*/
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:0; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	margin-left:10px;
	float:right;
}

.dropdown span.flag img{
	/*display:block;*/
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Mini Search Block----------------------------------------------------------------- */

.block-mini-search{
	overflow:hidden;
	margin: 5px 0 5px 0;
}

.block-mini-search .icon{
	background: #FFF url(../images/search-bg.gif) 4px 0px no-repeat;
	border-color: #CCCCCC;
  	border-style: solid;
  	border-width: 3px 3px 3px 3px;
	margin:0 0 0 0;
	float:right;
}

.block-mini-search input[type="text"]{
	color:#5C5C5C;
	border:0;
	border-spacing:0;
	margin:0;
	background:none;
	width:210px;
	float:right;
	padding: 5px 5px 5px 25px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.block-mini-search input[type="submit"]{
	background: #800000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FE0000', endColorstr='#800000');
	background: -webkit-gradient(linear, left top, left bottom, from(#FE0000), to(#800000));
	background: -moz-linear-gradient(top,  #FE0000,  #800000);
	color:#FFF;
	padding:7px 10px;
	border:1px solid #C00;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.top-nav{
	background-color:#D4262C;
	height:40px;	
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px 1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	font-weight:bold;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#F39B11;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #D4262C;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  clear:left;
  background:#FBFBFB;
  border:1px solid #E7E7E7; 
  overflow:hidden;
}			

/* ---------------------------------------------------------------------------------- */

/* Banner Search -------------------------------------------------------------------- */

.block-search .block-content{
	padding:10px;
	position:absolute;
	top:42px;
	border:1px solid #000;
	background: rgba(0, 0, 0, 0.7);
	color:#FFF;
}

.block-search .block-content .type h2{
	color:#FFF;
	font-weight:bold;
	display:inline-block;
}

.block-search .block-content .type span{
	font-weight:bold;
}

.block-search .block-content .field-container{
	width:350px;
	margin:10px 0 0 0;
	overflow:hidden;
}

.block-search .block-content select,
.block-search .block-content input[type="text"]{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	background-color:#710404;
	border:1px solid #990000;
	color:#FFF;
	width:286px;
	margin: 3px 0;
}

.block-search .block-content select.small{
	width:138px;
	float:left;
	margin:3px 10px 3px 0;
}

.block-search .block-content input[type="text"]{
}

.block-search input[type="submit"]{
	background: #F39B11;
	color:#FFF;
	padding: 10px 45px;
	margin:5px 0;
	font-size:15px;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}

.block-search input[type="submit"]:hover{
	background: #E78F0C;
	color:#FFF;
}

.block-search a{
	color:#E60000;
	font-weight:bold;
	background:url(../images/arrow-2.png) no-repeat left center;
	padding:0 0 0 15px;
	margin:5px 0;
	display:block;
}

.block-search a:hover{
	color:#FFC000;
}

/* Car Hire Search Start */

.block-search.car-hire h3{
	color:#FFF;
}

.block-search.car-hire .block-body{
	color:#FFF;
	width:500px;
	padding:10px;
	background-color: rgba(78, 78, 80, 0.7);
	position:absolute;
	top:20px;
	left:20px;
	z-index:1;
	border:0;
}

.block-search.car-hire input[type="text"]{
	width:100%;
}

.block-search.car-hire a.btn{
	background:none;
	background-color: #FFF229;
	color: #3C3C3C;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: -1px;
	padding: 10px 45px;
	margin: 5px 0 15px 0;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	border-radius:0;
	display: inline-block;
}

.block-search.car-hire a.btn:hover{
	background-color: #FEDC00;
}

.block-search.car-hire .input-errors,
.block-search.car-hire .star_class{
	color: #FF6;
}

/* Car Hire Search End */

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search .block-body{
	width:210px;
	padding:0;
	border:0;
	box-shadow:none;
}

.block-sidebar-search .block-body select,
.block-sidebar-search .block-body input[type="text"]{
	border-radius:0;
	padding:4px;
}

.block-sidebar-search .block-heading {
	background-color:#1A1A1A;
	border-top:1px #000;

}

.block-sidebar-search .block-heading h1{
	color:#FFF;
	font-style:normal;
	text-shadow: 0 1px 0 #003;
	text-align:center;
	word-spacing:-2px;
	padding:13px 0;
	margin:0;
}

.block-sidebar-search a.advance{
	background-color:#EEA433;
	padding:10px;
	margin:10px 0;
	color:#FFF;
	display:block;
	font-weight:bold;
	text-decoration:none;
}

.block-sidebar-search a.advance:hover{
	background-color:#EC9717;
}

.block-sidebar-search .block-content-1,
.block-sidebar-search .block-content-2,
.block-sidebar-search .block-content-3{
	background-color:#C72327;
	border-top:1px  #FFFFFF;
	padding:8px;
	color:#FFF;
	overflow:hidden;
}

.block-sidebar-search .block-content-2{
	background-color:#DB3135;
}

.block-sidebar-search .block-content-2 .k-label{
	color:#FFF;
}

.block-sidebar-search .block-content-3{
	background-color:#E8E6E6;
}

.block-sidebar-search p{
	font-weight:bold;
	display:block;
	margin:4px 0;
	clear:left;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	margin:2px 0;
	width:100%;
	border: 1px solid #CC0000;
}

.block-sidebar-search .block-content-1 input[type="text"]{
	width:95%
}

.block-sidebar-search .block-content-1 select.left{
	width:49%;
	float:left;
}

.block-sidebar-search .block-content-1 select.right{
	width:49%;
	float:right;
}

.block-sidebar-search .block-content-3 select{
	border:1px solid #C1C1C1;
}

.block-sidebar-search .block-content-3 a{
	text-decoration:underline;
	display:block;
	margin:10px 0;
}

.block-sidebar-search input[type="submit"]{
	background-color: #FFCF03;
	border:0;
	color: #000;
	padding:8px 10px;
	font-size:15px;
	cursor:pointer;
	display:inline-block;
	white-space: normal;
	text-decoration:none;
	margin:8px 0;
	width:100%;
}

.block-sidebar-search input[type="submit"]:hover{
	background-color: #BF2226;
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-body{
	background-color: #F5F5F5;
}

.block-search-filter .block-content{
	display:block;
	color:#666;
	overflow:visible;
}

.block-search-filter .block-content .block-title{
	margin:5px 0;
}

.block-search-filter .block-content input[type="checkbox"]{
	margin:5px 4px 5px 0;
}

.block-search-filter .block-content input[type="radio"]{
	margin:3px 4px 5px 0;
}

.block-search-filter .block-content img{
	vertical-align:middle;
}

.block-search-filter label{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Blocks ----------------------------------------------------------------------- */

.block-tab .col{
	width:19%;
	min-height:280px;
	margin: 5px 0 4px 8px;
	padding: 5px;
	border:1px solid #E4E4E4;
	background-color:#F8F8F8;
	float:left;
}

.block-tab .block-title a{
	font-size:17px;
	font-weight:normal;
	margin:10px 0;
	display:inline-block;
}

.block-tab .block-title a:hover{
	font-weight:normal;
}

.block-tab .details{
	line-height:19px;
	overflow:hidden;
	clear:both;
}

.block-tab .details span{
	/*color:#0066CC;*/
	font-weight:bold;
}

.block-tab .details span.price{
	color:#F60;
}

.block-tab .make a{
	color:#06F;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Recently Added Car --------------------------------------------------------------- */

.block-recent .img-wrapper .photo-count-container{
	top:55px;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Gallery ----------------------------------------------------------------- */

.block-featured-gallery{
	width:38%;
	float:right;
}

.block-featured-gallery .block-body{
	background-color:#F4F4F4;
	padding:5px 0;
}

.block-featured-gallery .block-body  a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad .block-content .simply-scroll .simply-scroll-list li{
	width: 160px;						/* Scroll image width settings */
	/*height: 200px;*/
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe .block-content{
	padding: 5px 10px;
	min-height:307px;
	border:4px solid #690000;
	background-color:#870C0E;
	margin:0 0 15px 0;
}

.block-subscribe h1{
	padding: 0 0 10px 0;
	color:#FFF;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	color:#FFF;
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe p{
	width:45%;
	color:#FFF;
	padding:2px 0;
	font-weight:bold;
}

.block-subscribe input[type="text"]{
	border:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background: #990000;
    border: 1px solid #FF0000;
	color:#FFF;
	width:95%;
	margin:0 0 5px 0;
}

.block-subscribe input[type="button"]{
	text-transform:uppercase;
	padding: 7px 20px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #FFF;
	white-space:normal;
	cursor:pointer;
	text-decoration:none;
	background:#E9D234;
	border:0;
	text-shadow:none;
	color:#333;
}

.block-subscribe input[type="button"]:hover{
	color:#333;
	background-color:#D9C017;
	
}

.block-subscribe img.loader {
	padding:30px 0 30px 96px;
}

.block-subscribe .newsletter_arr{
	color:#FF6;
	font-size:11px;
	line-height:22px;
	display:block;
	clear:both;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error,
.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success{
	margin:0 0 10px 0;
	overflow:hidden;
}

.block-subscribe #actionMessage_newsletter .ui-widget p{
	width:100%;
	font-weight:normal;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success p{
	color:#009900;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error p{
	color:#C00;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news{
	/*width:60%;
	float:left;*/
}

.block-news .block-body{
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Video ---------------------------------------------------------------------------- */

.block-video{
	float:right;
}

.block-video .block-content{
	width:258px; /* keep same width for video block $_width */
	padding: 5px;
	margin:auto;
	text-align:center;
	background:#202020;
}

.block-video p{
	padding-top:5px;
	color:#CCC;
	font-weight:bold;
}

.block-video .media_box{
	background:#030303 !important;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar AD ----------------------------------------------------------------------- */

.block-ad-sidebar{
    margin: 0 0 15px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Footer AD ------------------------------------------------------------------------ */

.block-ad-footer{
	background-color:#1B1B1B;
	margin-bottom:20px;
	padding:7px;
	float:left;
	overflow:hidden;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .mod-container, .mod .mod-content{
	background-color:#FBFBFB;
    border: 1px solid #CCC;
	overflow:hidden;
    margin: 10px 0 20px 0;
    padding: 10px;
	text-align:justify;
}

.mod .mod-content{
	margin:0 auto;
}

.mod .col{
	padding: 0 12px 3px 0;
	float:left;
}

.mod form .col p{
	font-weight: bold;
	color: #CC0000;
}

.mod input[type="text"],
.mod input[type="password"],
.mod select,
.mod textarea{
	border:1px solid #CCC;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-size:13px;
	padding:6px;
	margin:0 0 2px 0;
	box-shadow: 1px 1px 2px #E6E6E6 inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.mod input[type="text"]:focus,
.mod input[type="password"]:focus,
.mod select:focus,
.mod textarea:focus{
	border:1px solid #4D90FE;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.mod input[type="text"]{
	padding:7px;
}

.mod .btn-container{
	margin:auto;
	padding:10px 0 5px 0;
	width:auto;
	text-align:center;
}

.mod input[type="submit"],
.mod input[type="button"],
.mod .form-button a,
.button a{
	background-color: #D4262C;
	border:0;
	border:0;
	padding:8px 45px;
	font-size:15px;
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	text-decoration:none;
	margin:8px 0;
}

.mod input[type="submit"]:hover,
.mod input[type="button"]:hover,
.mod .form-button a:hover,
.button a:hover{
	background-color: #BF2226;
	border:0;
	color: #FFF;
}

.mod .btn-global{
	margin-top:5px;
}

.mod .btn.btn-book,
.mod .btn-global{
	background-color:#d4262c;
	color:#FFF;
}

.mod .btn.btn-book:hover,
.mod .btn-global:hover{
	background-color:#bf2226;
}


.mod .img-wrapper{
}

.mod .img-wrapper .photo-count-container{
	top: 86px;
	left:5px;
}

.mod .social{
	float:right;
	text-align:right;
	margin: 12px 0 0 0;
}

.mod .list{
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.mod .list ul{
	margin:0;
	padding:0;
}

.mod .list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.mod .list a{
	color:#0066CC;
	text-decoration:none;
	width:100%;
}

.mod .list a:hover{
	color:#FF9900;
	text-decoration: underline;
}

.mod .form-desc{
	text-align:justify;
	margin:5px 0 30px 0;
}

.mod .mod-title{
	font-weight:bold;
	color:#CC0000;
}

.mod .mod-title a{
	font-weight:bold;
}

.mod .mod-title a:hover{
	color:#666;
}

.mod .date{
	color:#F60;
}

.mod .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 0 10px 0 0;
	float:left;
}

.mod .more a {
	background: url(../images/arrow-2.png);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:15px;
	float:left;
	color:#F60;
	margin: 10px 0 0  0;
	padding: 0 0 0 15px;
	clear:left;
}

.mod .chart{
	width:100%;
	margin:auto;
	overflow:hidden;
}

.mod .chart .label{
	width:50%;
	font-weight:bold;
	color:#CC0000;
	float:left;
	background-color:#FEDEDE;
	border-bottom:1px solid #FFA497;
	text-indent:8px;
	padding:8px 0;
	clear:right;
}

.mod .chart .value{
	width:50%;
	float:right;
	background:#F8F8F8;
	border-bottom:1px solid #D8D8D8;
	text-indent:8px;
	padding:8px 0;
}

.seo-link{
	float:right;
	font-weight:bold;
	margin-top:20px;
}

.seo-link a {
	background: #DFDFDF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #C1C1C1;
	font-weight:bold;
	color:#666;
	padding:5px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
}

/* ---------------------------------------------------------------------------------- */

/* Product Advance Search ----------------------------------------------------------- */

.mod-advance-search form p{
	margin:4px 0;
}

.mod-advance-search input[type="text"]{
	width:127px;
}

.mod-advance-search select{
	width:230px;
}

.mod-advance-search input[type="text"].big{
	width:456px;
}

.mod-advance-search input[type="button"]{
	width:50%;
}

.mod-advance-search .ui-combobox-input{
	padding: 0.63em;
	width:186px;
}

.mod-advance-search .ui-autocomplete-loading{
	background-image: url("../images/loader/ui-anim_basic_16x16.gif");
}

/* ---------------------------------------------------------------------------------- */

/* Product List --------------------------------------------------------------------- */

.products-list{
	background-color:#FFF;
	border:1px solid #D9DFE3; 
	margin:15px auto;
	overflow:hidden;
}

.products-list .list-header{
	width:100%;
	background-color:#FAF4F8;
	border-bottom:1px solid #D9DFE3;
	display:table;
	overflow:hidden;
	clear:both;
}

.products-list .list-header .header-row{
	display:table-row;
}

.products-list .list-header .header-row .header-left{
	width:35%;
	padding:2px 0 2px 5px;
	margin: 0 5px 0 5px;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-middle{
	width:28%;
	padding:2px 0 2px 0;
	margin:0;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-right{
	width:32%;
	padding:2px 5px 2px 0;
	text-align:right;
	margin: 0 5px 0 0;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-left .title-small{
	color:#0066CC;
	font-weight:bold;
}

.products-list .list-header .header-row .header-left .info{
	color:#616161;
}

.products-list .body-container{
	padding: 15px 5px;
	overflow:hidden;
}

.products-list .left-content{
	width:78%;
	float:left;
}

.products-list .right-content{
	width:20%;
	float:right;
}

.products-list .list-footer{
	background:#F3F3F3;
	padding:5px 0;
	overflow:hidden;
}

.products-list .list-footer .footer-left{
	margin: 12px 0 10px 5px;
	float:left;
}

.products-list .list-footer .footer-right{
	float:right;
	text-align:right;
	padding: 0 5px 0 10px;
	overflow:hidden;
}

.options-col-1,
.options-col-2{
	width:30%;
	text-align:left;
	margin:5px 0 0 0;
	padding:2px;
	line-height:20px;
	float:left;
}

.options-col-2{
	margin:5px 0 0 10px;
}

.products-call{
    background: url(../images/mod_autos_img/phone.png) no-repeat 4px center #FFFFCC;
    border: 1px solid #FFCC00;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    color: #FF6600;
    font-size: 16px;
    padding: 2px 4px 0px 26px;
	margin:20px 2px 20px 0;
	float:right;
}

.products-mark{
	color:#CC0000;
	font-weight:bold;
}

.products-type{
	color:#F60;
	font-weight:bold;
	background-color:#FFFFCC;
	border:1px solid #FFAA2B;
	padding: 2px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:inline-block;
}

.products-desc{
	color:#333;
	line-height:18px;
	padding:10px;
	text-align:justify;
}

.products-desc p{
	font-weight:bold;
	color:#333;
	display:inline;
}

.products-stars{
	padding: 5px 0 5px 0;
}

.products-featured{
	background:url(../images/mod_autos_img/featured.png) no-repeat;
	background-position:78% -1px;
	background-color:#FFFFE6;
	z-index:10;
}

.products-price,
.price-previous{
	background-color: #FFFF99;
    box-shadow: 1px 1px 5px #B7B7B7;
	font-size:16px;
	color:#333;
	font-weight:bold;
	padding: 3px 8px 2px 8px;
	display:inline-block;
	margin-bottom:15px;
	min-height:25px;
	border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
	text-align:center;
}

.price-previous{
	text-decoration:line-through;
	color:#999;
}

.products-vote{
	clear:both;
	margin:0 30px 0 0;
	float:right;
}

.products-vote p{
	padding:2px;
	margin:12px 0 0 0;
	font-size:13px;
	font-weight:bold;
	color:#0896FF;
	display:inline-block;
	border:1px solid #0896FF;
	background-color:#FFF;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.products-vote span{
	display:inline-block;
}

.products-vote span input[type="button"]{
	padding:5px;
	margin: 0 4px -5px 0;
	border:0;
	float:left;
}

.products-vote *,
.products-vote *:after,
.products-vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.products-book-btn a{
	background-color: #F39B11;
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}

.products-book-btn a:hover{
	background: #E08B0C;
	text-decoration:none;
}

.products-details-btn a{
	background-color: #D4262C;
	
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}

.products-details-btn a:hover{
	background: #BF2226;
	text-decoration:none;
}

.products-save-btn a{
	background-color:#FFF;
	border:1px solid #EAEAEA;
	color:#09C;
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	text-decoration:none;
}

.products-save-btn a:hover{	
	color:#47A447;
	background-color:#E4F3E4;
	border:1px solid #95D095;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	background:url(../images/mod_img/write-review.gif) no-repeat 0 0;
	padding:0 0 2px 20px;
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

.price-wrap {
    float: right;
	margin-right:3px;
	clear:both;
}

span.tag-head {
    background: url(../images/mod_autos_img/price-tag-head.png) no-repeat left top;
    float: left;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 33px;
}

p.post-price {
    background-color: #FFFF99;
    border-radius: 0 4px 4px 0;
    box-shadow: 1px 1px 5px #B7B7B7;
    float: left;
    font: bold 17px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 3px 8px 2px;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details ------------------------------------------------------------------ */

.mod-details .nav-bar{
	border:1px solid #D9DFE3;
	display:table;
	border-spacing:0;
	width:100%;
}

.mod-details .nav-bar .nav-row{
	background-color:#EEEEEE;
	display:table-row;
}

.mod-details .nav-bar .nav-row .nav-col{
	width:25%;
	padding:12px 3px;
	display:table-cell;
	text-align:center;
}

.mod-details .nav-bar .nav-row .nav-col.first{
	text-align:left;
}

.mod-details .nav-bar .nav-row .nav-col.last{
	text-align:right;
}

.mod-details .nav-bar.bottom{
	margin-top:20px;
}

.mod-details .nav-bar .no-link{
	font-weight:bold;
	color:#999;
	background:url(../images/mod_img/nolink.png);
	background-repeat:no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar a {
	font-weight:bold;
}

.mod-details .nav-bar .prev a{
	background:url(../images/mod_img/prev.png) no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar .next a{
	background:url(../images/mod_img/next.png) no-repeat right;
	padding-right:20px;		
}

.mod-details .nav-bar .search a{
	background:url(../images/mod_img/search-small.png) no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar .save a{
	background:url(../images/mod_img/save.png) no-repeat;
	padding-left:20px;		
}

.mod-details h1{
	float:left;
	margin: 10px 20px 10px 0;
	display:inline;
}

.mod-details .products-type{
	float:left;
	margin:15px 0 0 0;
}

.mod-details .products-info{
	float:left;
	width:49%;
	margin: 15px 0;
}

.mod-details .products-info.right{
	float:right;
	text-align:right;
}

.mod-details .products-info .products-status{
	border:1px solid #0896FF;
	background-color:#E9EFF8;
	padding: 5px 3px 5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin: 0 0 15px 0;
	float:right;
}

.mod-details .products-info.right .products-price{
	font-size:20px;
}

.mod-details .products-info.right .products-vote span{
	padding-right:18px;
}

.mod-details .price-wrap{
	margin-bottom:15px;
}

.mod-details .products-info.right .form-button a{
	margin:20px 0 0 0;
	padding: 12px 45px;
}

.mod-details .products-desc{
	padding:0;
	line-height:22px;
}

.mod-details .products-feature{
	width:49%;
	margin: 10px 0;
	float:left;
}

.mod-details .products-feature.summary{
	float:right;
}

.mod-details .products-details{
	border:1px solid #CCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	margin:0 0 15px 0;
	overflow:hidden;
	clear:both;
}

.mod-details .products-details .content{
	padding:10px;
}

.mod-details .products-details .content .details-info{
	 font-size:14px;
	 line-height:22px;
	 text-align:justify;
}

.mod-details .products-details .content .details-info li,
.mod-details .products-details .content .details-info ul li {
	list-style:disc;
	margin-left:10px !important;
	padding-left:10px !important;
}

.mod-details .products-details-header{
	background-color:#EEEEEE;
	border-bottom:1px solid #CCC;
	text-transform:uppercase;
}

.mod-details .products-details-header h4.icon{
	background:url(../images/mod_img/symbol.png) 8px center no-repeat;
	padding: 8px 0 8px 30px;
}

.mod-details .products-feature .content.feature-content{
	line-height:22px;
}

.mod-details .products-feature .label{
	width:46%;
	float:left;
	font-weight:bold;
	clear:both;
	margin-right:2px;
	margin-bottom:8px;
	font-size:12px;
	color:#222222;
	text-align:left;
}

.mod-details .products-feature .value{
	width:53%;
	float:left;
	margin-bottom:8px;
}

.mod-details .products-feature .summary-label{
	background-color:#C10202;
	font-weight:bold;
	color:#FFF;
	line-height:28px;
	text-indent:15px;
}

.mod-details .products-feature .summary-value{
	background-color:#E6EDF6;
	line-height:24px;
	padding-left:12px;
	margin-right:0px;
}

.mod-details .ui-tabs .ui-tabs-panel h2{
	margin: 5px 0 15px 0;
}

.mod-details .additional-thumb{
	margin: 0 0  18px 18px;
}

.mod-details .products-map iframe{
	width:100%;
	margin:auto;
	text-align:center;
}

.mod-details .products-legend{
	width:54%;
	float:right;
	overflow:hidden;
	margin:15px 0 0 0;
	padding:55px 0 0 0;
}

.mod-details .products-legend .legend-icon{
	float:left;
	padding:0 0 0 10px;
}

.mod-details .products-features{
	float:left;
	width:23%;
	margin-right:10px;
	line-height:20px;
	text-align:left;
}

.mod-details .tab-element,
.mod-details .tab-value{
	width:25%;
	float:left;
	line-height:22px;
	border-bottom:1px solid #CCC;
	border-bottom-style:dashed;
}

.mod-details .tab-value{
	width:73%;
	margin-left:10px;
}

.mod-details .photo-no{
    border:1px solid #FF0000;
	background-color:#CC0000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#FFF;
	font-weight:bold;
	padding: 1px 3px;
}

.mod-details .dialog-calendar{
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	margin: 20px auto 0 auto;
	clear:both;
}

.mod-details .options-col-1,
.mod-details .options-col-2{
	width:49%;
}

/* Box Chart Start -- */

.products-chart{
	width:100%;
	margin: 10px 0 5px 0;	
}

.products-chart .chart-desc{
	line-height:25px;
	margin:auto;
	overflow:hidden;
}

.products-chart .chart-desc .label{
	width:50%;
	float:left;
	text-align:left;
	font-weight:bold;
	background-color:#C10202;
	color:#FFF;
	padding:inherit;
	line-height:inherit;
	text-indent:5px;
	border-bottom:1px solid #FFF;
	clear:both;
	border-radius:0;
	font-size:12px;
}

.products-chart .chart-desc .value{
	width:50%;
	float:right;
	background-color:#F0F0F0;
	text-indent:5px;
}

/* Box Chart End -- */

/* Box Chart Settings for Other Chart -- */

.products-chart.summary-chart{
	width:49%;
	float:right;
}

.products-chart.products-availability{
	width:45%;
	float:left;
}

.products-availability .chart-desc .label{
	width:68%;
}

.products-availability .chart-desc .value{
	width:32%;
	text-align:center;
}

/* Agent Box Start -- */

.products-agent{
	width:49%;
	margin: 0 0 5px 0;
	float:right;
	clear:right;
}

.products-agent .avatar{
	border:1px solid #CCC;
	padding:5px;
	margin-right:15px;
	float:left;
}

.products-agent .label,
.products-agent .value{
	font-weight:bold;
	color:#CC0000;
	line-height:25px;
}

.products-agent .value{
	color:#F90;
}

.products-agent .pkg-title {
	color:#F90;
	font-size:15px;
	font-weight:bold;
	font-family:Tahoma, Genea, sans-serif;
	text-transform:uppercase;
}

.products-agent .pkg-img{
	float:right;
}

.products-agent .company-logo{
	float:left;
	border:1px solid #CCC;
	padding:5px;
	width:75px;
	margin:6px 15px 0 0;
}

.products-agent .certificate{
	margin:15px 0;
	text-align:center
}

.products-agent .certificate p{
	font-weight:bold;
}

.products-agent .company-info{
	float:left;	
}

.products-agent a.agent-email{
	font-weight:bold;
	color:#0099FF;
	background:url(../images/mod_img/email.png) no-repeat 0 4px;
	padding-left:25px;
	line-height:25px;
	display:inline-block;
}

.products-agent a.agent-email:hover{
	text-decoration:underline;
}

.products-agent a.agent-web{
	font-weight:bold;
	color:#0099FF;
}

.products-agent a.agent-web:hover{
	text-decoration:underline;
}

/* Agent Box End -- */

/* ----------------------------------------------------------------------------------- */

/* Product Details Middle Tab -------------------------------------------------------- */

.products-middle-tab{
	color:#111;
	padding:20px 1px 0 1px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab li { 
	list-style:none; 
	float:left; 
}

.products-middle-tab ul a {
	margin:0 4px 0 -1px;
	border:1px solid #D9DFE3;
	border-bottom:0;
  	background-color: #F0F0F0;
	padding: 8px;
	font-weight:bold;
	color:#CC0000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0; 
	display:inline-block;
  	text-decoration:none!important;
}

.products-middle-tab ul a:hover {
  	background-color: #D4262C;
	border-bottom:0;
	color:#FFF;
}

.products-middle-tab-area{
	border:1px solid #CCC;
	padding:5px;
	margin-bottom:20px;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab-area .products-slideshow{
	background-color:#F3F3F3;
	border:1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
}

.products-middle-tab-area .match-container{
	overflow:hidden;
}

.products-middle-tab-area .match-container .match-tab-container{
	height:384px; 
	font-size:12px; 
	overflow:auto;
}

.match-container{
	margin:15px auto;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.products-match{
	margin: 10px 0 0 8px;
	padding: 5px;
	border:1px solid #E4E4E4;
	width:49%;
	min-height:130px;
	float:left;
}

.products-match:hover{
	background-color:#FFFEDF;
}

.products-match span a{
	font-weight:bold;
	color:#CC0000;
	border:0;
}

.products-match .products-star{
	margin:6px 0;
}

.products-match .products-desc{
	width:38%;
	font-size:11px;
	line-height:normal;
	padding:0;
	margin: 8px 0 0 0;
	overflow:hidden;
	display:block;
}

.products-match .products-review{
	width:32%;
	float:right;
	text-align:right;
}

.products-match .products-review .products-write-review{
	text-align:right;
	margin: 4px 2px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow #gallery {
	background: #F3F3F3;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 300px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #CC0000;
}

.products-slideshow .switch select{
	padding:3px;
	font-size:11px;
}

.products-slideshow .switch {
    padding: 16px 0 5px 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body{
	width:98%;
	margin:auto;
}
	div.itinerary_main_body_block{		
		width:100%;
		border:1px solid #CC0000;
		margin-bottom:25px;
		background-color:#FBFBFB;
	}
		div.itinerary_main_body_block_clild_header{
			width:100%;
			text-align:center;
			font-weight:bold;
			color:#FFF;
			text-transform:uppercase;
			background-color:#C10202;
			padding: 8px 0 8px 0;
		}
		
		div.itinerary_main_body_block_clild_body{
			width:100%;
		}
			div.itinerary_main_body_block_clild_body_box1{
				width:100%;
				text-transform:uppercase;
				line-height:35px;
				text-align:center;
				border-top:1px solid #CCCCCC;
				background-color:#FFFFCA;
				font-weight:bold;				
			}
			
			div.itinerary_main_body_block_clild_body_box2{
				width:100%;
				border-top:1px solid #CCCCCC;
				overflow:hidden;
				margin:auto;
				padding: 8px 0 8px 0px;				
			}
			
				div.itinerary_main_body_block_clild_body_box2_child1{
					padding-left: 10px;
				}
			
			div.itinerary_main_body_block_clild_body_box3{
				width:100%;
				border-top:1px solid #CCCCCC;
				overflow:hidden;
				margin:auto;
				padding: 8px 0 8px 0;
			}				
				.itinerary-header{
					width:98%;
					margin:auto;
					margin-left:5px;
					font-size:13px;
					text-align:center;
				}
				.itinerary-body-container{
					padding: 0px 10px 0px 10px;
					overflow:hidden;
				}
				
				.itinerary-price{
					text-align:right;
					padding-right:10px;
				}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

div.review-box{
	width:100%;			
	overflow:hidden;
	margin:auto;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#F5F5F5;
}

div.review-box-img{
	float:left;
	margin:5px 12px 5px 5px;
	border: 4px solid #FFFFFF;
	box-shadow: 1px 1px 2px #666666;
}

div.review-box-title{
	width:18%;
	float:left;
	margin: 10px 0;
}

div.review-box-title span{
	font:1.6em/1.2em Georgia,'Times New Roman',serif;
	letter-spacing:-1px;
	color:#CC0000;
	text-transform:capitalize;
}

div.review-box-rate{
	font: italic 1.3em/1.2em Georgia,'Times New Roman',serif;
	line-height:30px;
	color:#F60;
}

div.review-box-star{
	padding:5px 0px;
}

div.review-box-desc{
	font: italic 1.3em/1.2em Georgia,'Times New Roman',serif;
	width:55%;
	overflow:hidden;
	margin:10px 5px;
	float:right;
	border:1px solid #FFA497;
	background-color:#FEDEDE;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:4px;
}

div.review-box-date{
	font-size:12px;
	color:#666;
	font-style:italic;
}

div.review-box2 span{
	width:100%;			
	overflow:hidden;
	margin:auto;
	background:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice-container{
	border:1px solid #D6D6D6;
}

.invoice .invoice-chart{
	width:100%;
	display:table;
	margin:auto;
	border-spacing:0;
}

.invoice .invoice-chart .div-head,
.invoice .invoice-chart .div-hr{
	display:table-row;
	background:#F4F4F4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#E5E5E5');
	background: -moz-linear-gradient(top, #F4F4F4, #E5E5E5);
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E5E5E5));
	box-shadow: 0 1px 1px #FFFFFF inset;
}

.invoice .invoice-chart .div-head{
	text-align:center;
	font-weight:bold;
	font-size:13px;
	color:#272727;
	text-shadow:1px 1px 1px #FFF;
}

.invoice .invoice-chart .div-hr{
	background:none;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	display:table-cell;
	padding:10px;
}


.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2{
	border-bottom:1px solid #D6D6D6;
	padding:15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-1{
	width:65%;
}
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-2{
	width:35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr.amount-hr{
	text-align:right;
	background-color:#EFEFEF;
	font-size:13px;
}

.invoice .item-title{
	font-size:17px;
	margin:10px auto 2px auto;
	padding:10px 0px 10px 5px;
	background-color:#FFC;
	border-top:1px solid #FC0;
	border-bottom:1px solid #FC0;
	overflow:hidden;
}

.invoice .product-title{
	color:#F60;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

.invoice .amount-label,
.invoice .amount-total{
	font-weight:bold;
	line-height:22px;
}

.invoice .amount-total{
	color:#F60;
}

.invoice .advance{
	background-color:#E7FFDA;
	color:#090;
	font-weight:bold;
}

.invoice .due-balance{
	font-weight:bold;
	padding:10px 5px 10px 0px;
	background-color:#FDCEA4;
	border-top:1px solid #FF9900;
	border-bottom:1px solid #FF9900;
	text-align:right;
}

.invoice a.remove-btn{
	color:#C00;
	float:right;
	padding:1px 5px 0 18px;
	margin-top:10px;
	background: #FFECEC url(../images/mod_img/delete.png) no-repeat;
	background-position: 2px center;
	border:1px solid #FF6F6F;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-decoration:none;
}

.customer-details{
	width:95%;
	display:table;
	margin:10px auto 10px auto;
	border:1px solid #CCC;
	border-bottom:none;
}

.customer-details .chart-row{
	display:table-row;
}

.customer-details .chart-row .chart-label,
.customer-details .chart-row .chart-value{
	width:35%;
	padding:5px;
	display:table-cell;
	border-bottom: 1px solid #FF9191;
	background-color:#FFD7D7;
}

.customer-details .chart-row .chart-value{
	width:65%;
	border-bottom:1px solid #D8D8D8;
	background-color:#F8F8F8;
}

.invoice-login-area{
	margin: 20px 0 0 20px;
}

.invoice-btn-container{
	padding:10px 0 5px 15px;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	font-weight:bold;
	font-size:55px;
	text-align:left;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 20px;
	float:left;
}

h1.status-paid{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
}

h1.status-unpaid{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
}

h1.status-cancel{
	border:1px solid #E4D949;
	background-color:#FFFBCC;
}

.invoice-section{
	width:48%; 
	float:right;
}

.invoice-tab-section{
	width:48%; 
	float:left;
}

.invoice-tab-section .login-box{
	width:90% !important;
}

.invoice-tab-section .field-area{
	width:50% !important;
}

.invoice-tab-section.ui-corner-all{
	border-radius:0;
}

/* ---------------------------------------------------------------------------------- */

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	background: #F49610;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC106', endColorstr='#F49610');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC106), to(#F49610));
	background: -moz-linear-gradient(top,  #FFC106, #F49610);
	border:1px solid #FF6600;
	box-shadow: 0 1px 1px #FEEB81 inset;
	padding: 5px 25px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	float:right;
}

.other-btn a:hover{	
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	border:1px solid #6B8C23;
	box-shadow: 0 1px 1px #C7FF1C inset;
	color:#FFF;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


a.btn-danger,
a.btn-success{
	color:#FFF;
}

@media (min-width: 1025x) { 
	#content-inner{
		width:75%;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
	#content-inner{
		width:65%;
	}
	
	#sidebar-inner{
	width:200px;
	}
}
