<?php
$version = Zend_Registry::get('version');
$global_conf = Zend_Registry::get('global_conf');
$x_currency_code = new Zend_Currency($global_conf['default_locale']);
?>

<script type="text/javascript">
    var settingObj = {
        form_action: {
            form_id: 'formGateway',
            hasTinyMCE: false,
            common_msg_field_id: 'actionMessage',
            dialog_container_id: 'dialog_container',
            dialog_progressbar_id: 'progressbar',
            field_toggle_action: [
            ],
            extra_field_for_reset: [],
            extra_function_for_reset: function() {

            }
        },
        messages: {
            common_msg_dialog_id: 'dialog_msg',
            common_confirn_dialog_id: 'dialog-confirm',
            common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
            common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
            common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
            common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
            common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
            common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
            common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
            common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>"
        }
    };
    $(document).ready(function() {
        //floatingbar('#floatingbar',"#button_top_bar",null);

        $("#upload-form").dialog({
            autoOpen: false,
            width: 860,
            height: 600,
            show: 'fade',
            modal: true
        });

        $('a.upload_btn').click(function() {
            var self = this;

            $("#i-upload-form").attr("src", "<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'backendgateway', 'action' => 'uploadfile'), 'adminrout', true) ?>");
            $('#upload-form').dialog('open');
        });

        $('a.select_file_btn').click(function() {
            var currentIFrame = $('#i-upload-form');
            var v = currentIFrame.contents().find("#file_name").val();
            if (v == '' || v == null)
            {
                var msg = "<?php echo $this->translator->translator('insert_selected_file_err'); ?>";
                commonMsgDialog(settingObj, msg);
            }
            else
            {
                var file_arr = v.split(',');
                var img_code = '<div class="thumb"><img src="' + file_arr[0] + '/' + file_arr[1] + '" width="45" height="35" /></div>';
                $('#selected_file').html(img_code);
                $('#logo').val(file_arr[1]);
                $("#upload-form").dialog('option', 'hide', 'explode').dialog('close');
                commonImageThumbnil();
            }
        });

        $('a.close_dialog_btn').click(function() {
            $("#upload-form").dialog('option', 'hide', 'explode').dialog('close');
        });

        $('a.reset_btn').click(function() {
            commonResetFormFields(settingObj);
            commonRemoveFormError(settingObj);
        });



        $('a.add_gateway_btn').click(function() {

            var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);

            $.ajax({
                url: "<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'backendgateway', 'action' => 'add'), 'adminrout', true) ?>",
                type: 'POST',
                beforeSend: function() {
                    commonRemoveFormError(settingObj);
                    commonOpenLoaderDialog(settingObj);
                },
                data: formData,
                success: function(response) {
                    //alert(response);
                    try
                    {
                        var json_arr = eval("(" + response + ")");
                        commonCloseLoaderDialog(settingObj);
                        if (json_arr.status == 'ok')
                        {
                            $('#actionMessage').html(succMsgDesign(json_arr.msg));
                        }
                        else if (json_arr.status == 'errV')
                        {
                            $('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));

                            for (var i = 0; i < json_arr.msg.length; i++)
                            {
                                commonAddFormError(json_arr.msg[i].key, json_arr.msg[i].value);
                            }
                        }
                        else
                        {
                            $('#actionMessage').html(errMsgDesign(json_arr.msg));
                        }
                    }
                    catch (error)
                    {
                        var error_arr = [error, response];
                        var msg = commonErrMsgException(error_arr);
                        $('#actionMessage').html(errMsgDesign(msg));
                    }
                },
                error: function(xhr, status, error) {
                    commonCloseLoaderDialog(settingObj);
                    var msg = "Error! " + xhr.status + " " + error;
                    $('#actionMessage').html(errMsgDesign(msg));
                }
            });
        });


    });
</script>

<div class="mod form-element">
    <?php if (!$this->allow()) : ?>
        <?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
    <?php else : ?>

        <div class="list-icon">
            <h1><?php echo $this->translator->translator('payment_gateway_authorizenet_setting'); ?></h1>
        </div>

        <div class="clr">&nbsp;</div> 

        <div class="button-container right">
            <span class="form-button ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'members', 'action' => 'list'), 'Members-Payment-Gateway-List/*', true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="add_gateway_btn"><span class="icon save"><?php echo $this->translator->translator('gateway_add_page_save'); ?></span></a></span>
        </div>

        <div class="clr">&nbsp;</div>

        <div id="actionMessage"></div>
        <form name="formGateway" id="formGateway" method="post">
            <div id="generalInfo">
                <fieldset class="fieldsets">
                    <legend class="legend"><?php echo $this->translator->translator('gateway_add_page_info'); ?></legend>
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->gwname->getLabel();
                            if ($this->gatewayForm->gwname->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->gwname; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->gwname->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="gwname_err"></span>
                        </div>
                    </div>
                    
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->name->getLabel();
                            if ($this->gatewayForm->name->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->name; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->name->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="name_err"></span>
                        </div>
                    </div>
                    
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->test_secret_key->getLabel();
                            if ($this->gatewayForm->test_secret_key->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->test_secret_key; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->test_secret_key->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="test_secret_key_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->test_publishable_key->getLabel();
                            if ($this->gatewayForm->test_publishable_key->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->test_publishable_key; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->test_publishable_key->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="test_publishable_key_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->live_secret_key->getLabel();
                            if ($this->gatewayForm->live_secret_key->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->live_secret_key; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->live_secret_key->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="live_secret_key_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->live_publishable_key->getLabel();
                            if ($this->gatewayForm->live_publishable_key->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->live_publishable_key; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->live_publishable_key->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="live_publishable_key_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label>
                            <?php echo $this->gatewayForm->test_mode->getLabel();
                            if ($this->gatewayForm->test_mode->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                        </label>

                        <div class="control-element">
    <?php echo $this->gatewayForm->test_mode; ?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->gatewayForm->test_mode->getAttrib('title'); ?> " ><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="test_mode_err"></span>
                        </div>
                    </div>

                    
                    <div class="group">
                        <label>
    <?php echo $this->gatewayForm->gateway_id; ?>
                        </label>
                    </div>

                    <div class="group">
                        <label>
    <?php echo $this->gatewayForm->user_id; ?>
                        </label>
                    </div>
                </fieldset>

                <div class="button-container right">
                    <span class="form-button ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'members', 'action' => 'list'), 'Members-Payment-Gateway-List/*', true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="add_gateway_btn"><span class="icon save"><?php echo $this->translator->translator('gateway_add_page_save'); ?></span></a></span>
                </div>
            </div>
        </form>

<?php endif; ?>

    <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('payment_gateway_authorizenet_setting')); ?>"></div>
    <div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
        <div id="progressbar" ></div>
    </div>
    <div id="upload-form" title="<?php echo $this->translator->translator('gateway_page_dialog_upload'); ?>">
        <div>
            <iframe id="i-upload-form" src="" class="iframe-img-upload"></iframe>

            <div class="button-container">
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('gateway_page_insert_upload'); ?></span></a></span>
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
            </div>
        </div>
    </div>
</div>