<?php
class show_small_network
{
	protected	$_front_template;
	protected	$_view;
	protected 	$translator;
	protected	$_res_value;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;		
		$this->translator = Zend_Registry::get('translator');	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$version = new Eicra_License_Version();
		$lang = $this->translator->getLangFile();
		$lang = explode('_',$lang);
		echo $this->_view->headScript()->setFile("http://maps.google.com/maps/api/js?sensor=false&language=".$lang[0]);
		
		$networkDbObj = new Tracker_Model_DbTable_Network();
		$networkInfo = $networkDbObj->getAllActiveNetwork();
		$countries = new Eicra_Model_DbTable_Country();
		$this->_res_value = '';	
		if($networkInfo)
		{
			foreach($networkInfo as $network)
			{
				$countryOptions = $countries->fetchRow($countries->select()->where('id = ?',$network['country_id']));
				if($countryOptions)
				{
					$network['description'] = ($network['description'] != '') ? $network['description']:' ';
					$this->_res_value .= ';;;'.$countryOptions['value'].';;'.$network['description'].';;'.$network['latitude'].';;'.$network['longitude'];
				}
			}
		}
	?>
		
		<script type="text/javascript">
		$(document).ready(function() {		
			
			function stripslashes_small_network(str) 
			{
				str=str.replace(/\\'/g,'\'');
				str=str.replace(/\\"/g,'"');
				str=str.replace(/\\0/g,'\0');
				str=str.replace(/\\\\/g,'\\');
				return str;
			}
			var canvas = $('#map_canvas')[0];			
			var map = new google.maps.Map(canvas, {
									  zoom: 1,
									  center: new google.maps.LatLng(22.2,28.083), // for centering the map
									  mapTypeId: google.maps.MapTypeId.TERRAIN
									});	
			var ev = '<?php echo $this->_res_value; ?>';
			ev = ev.split(';;;');
			var ev2;
			var infowindow;	
			/*infowindow = new google.maps.InfoWindow({
					maxWidth: 30
				});*/
			for(var i = 0; i < ev.length; i++)
			{
				if(ev[i] == null || ev[i] == '')
				{	
					continue;
				}
				ev2 = ev[i].split(';;');
				//alert(ev[i]);
				marker = new google.maps.Marker({
					position: new google.maps.LatLng(ev2[2],ev2[3]),
					map: map,
					title: ev2[0],
					html: '<p><strong>'+ev2[0]+'</strong></p>'
					//icon:image
				  });		
				/*google.maps.event.addListener(marker, 'mouseover', function() {
				  infowindow.setContent(this.html);
				  infowindow.open(map,this);
				});*/
			}				
		});
		</script>		
        <div id="map_canvas" class="block-network"></div>
	<?php
	}
}
try
{
	$show_small_network_class = new show_small_network($this);
	$show_small_network_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>