<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
if(!empty($this->group_datas['gallery_name'])) { $this->headTitle()->headTitle($this->group_datas['gallery_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>

<div class="mod">
	<?php //echo $this->partial('blocks/global/ad_category_banner.phtml'); ?>

    <div id="breadcrumb">
        <ul class="crumbs">
            <li class="first"><a href="#" style="z-index:9;"><span></span>Home</a></li>
            <li><a href="#" style="z-index:8;">All Categories</a></li>
            <li><a href="#" style="z-index:7;">Electronics</a></li>
            <li class="last"><a href="javascript:void(0);" style="z-index:6;">Cell Phones <span>187,321 Results</span></a></li>
        </ul>
    </div>

    <div class="cat-container">
        <div class="list-icon">
        	<h1>Browse by Category (Cell Phones)</h1>
		</div>
        <div class="clear"></div>
        <div class="cat-columns">
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Cell Phones</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Samsung</a> <span>(69)</span></li>
                            <li><a href="#">iPhone</a> <span>(69)</span></li>
                            <li><a href="#">Nokia</a> <span>(35)</span></li>
                            <li><a href="#">HTC</a> <span>(28)</span></li>
                            <li><a href="#">Motorolla</a> <span>(15)</span></li>
                            <li><a href="#">Symphony</a> <span>(10)</span></li>
                            <li><a href="#">LG</a> <span>(3)</span></li>
                            <li><a href="#">Sharp</a> <span>(3)</span></li>
                            <li><a href="#">Panasonic</a> <span>(2)</span></li>
                            <li><a href="3">Sprint</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
      
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>