<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
?>

<div class="mod account-setting form-element">
	<div class="list-icon">
    	<h1>Account Settings</h1>
	</div>
    <div class="clear"></div>
    
    <div class="mod-container">
        <ul type="disc">
            <li>You can build your social network with EC21 members or visitors by adding Facebook and Twitter links to your homepage.</li>
            <li>Please enter URL address of your Twitter or Facebook accounts in the blank boxes of address fields.</li>
            <li>Select the Display Options.</li>
            <li>Make sure to click "Submit" to complete the process.</li>
        </ul>
    </div>
    
    <div class="preference-list facebook-view">
        <form action="" method="get">
        	<div class="head facebook"></div>
			<table width="70%" border="0" cellpadding="0" cellspacing="0">
            	<tr>
                	<td>
                   	  <table width="100%" cellspacing="1" cellpadding="8">
                        	<tr>
                            	<td width="30%" class="setting-head">Facebook Address</td>
                            	<td width="70%">http://www.facebook.com/ <input id="" name="" value="" type="text" /></td>
                          	</tr>
                          	<tr>
                            	<td class="setting-head">Display Options</td>
                            	<td><input name="" type="checkbox" value="" />Facebook Link Button (<span class="star_class">*</span> Only Link button is avaliable.)</td>
                          	</tr>
                       	</table>
                  </td>
              	</tr>
              	<tr>
                	<td height="50" align="center">
                    	<input name="" type="button" value="Submit" />
                    </td>
              	</tr>
			</table>
        </form>
    </div>
    
    <div class="preference-list twitter-view">
        <form action="" method="get">
        	<div class="head twitter"></div>
			<table width="70%" border="0" cellpadding="0" cellspacing="0">
            	<tr>
                	<td>
                   	  <table width="100%" cellspacing="1" cellpadding="8">
                        	<tr>
                            	<td width="30%" class="setting-head">Twitter Address</td>
                            	<td width="70%">http://www.twitter.com/ <input id="" name="" value="" type="text" /></td>
                          	</tr>
                          	<tr>
                            	<td class="setting-head">Display Options</td>
                            	<td><input name="" type="checkbox" value="" />'Follow Us' Like Button &nbsp; <input name="" type="checkbox" value="" />Widget Box</td>
                          	</tr>
                       	</table>
                  </td>
              	</tr>
              	<tr>
                	<td height="50" align="center">
                    	<input name="" type="button" value="Submit" />
                    </td>
              	</tr>
			</table>
        </form>
    </div>
    
    <div class="preference-list paypal-view">
        <form action="" method="get">
        	<div class="head paypal"></div>
			<table width="70%" border="0" cellpadding="0" cellspacing="0">
            	<tr>
                	<td>
                   	  <table width="100%" cellspacing="1" cellpadding="8">
                        	<tr>
                            	<td width="30%" class="setting-head">Paypal Address</td>
                            	<td width="70%">http://www.paypal.com/ <input id="" name="" value="" type="text" /></td>
                          	</tr>
                          	<tr>
                            	<td class="setting-head">Display Options</td>
                            	<td><input name="" type="checkbox" value="" />Buy Button</td>
                          	</tr>
                       	</table>
                  </td>
              	</tr>
              	<tr>
                	<td height="50" align="center">
                    	<input name="" type="button" value="Submit" />
                    </td>
              	</tr>
			</table>
        </form>
    </div>
</div>