<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
?>

<div class="mod">
    <div id="breadcrumb">
        <ul class="crumbs">
            <li class="first"><a href="#" style="z-index:9;"><span></span>Home</a></li>
            <li><a href="#" style="z-index:8;">All Categories</a></li>
            <li><a href="#" style="z-index:7;">Electronics</a></li>
            <li><a href="#" style="z-index:6;">Cell Phones</a></li>
          <li class="last"><a href="javascript:void(0);" style="z-index:5;">Samsung <span>187,321 Results</span></a></li>
        </ul>
    </div>

    <div class="cat-container">
        <div class="list-icon">
        	<h1>Browse Products by Category (Samsung)</h1>
        </div>
        <div class="clear"></div>
        <hr/>
        <div class="cat-columns sub-cat">
            <p><a href="#">Samsung Galaxy S3</a> <span>(1369)</span>
            <p><a href="#">Samsung Tab</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Note</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy S</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Y</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy S3</a> <span>(1369)</span>
            <p><a href="#">Samsung Tab</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Note</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy S</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Y</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Note</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy S</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy Y</a> <span>(69)</span></p>
            <p><a href="#">Samsung Galaxy S3</a> <span>(1369)</span></p>
        <p><a href="#">Samsung Tab</a> <span>(69)</span></p>
        </div>
    </div>

    <div class="list-view">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/samsung.jpg" border="0" class="thumb" /></a>
            <div class="photo-count-container">
                <div class="photo-count">
                    <a href="#" title="">10 Photos</a>
                </div>
            </div>
        </div>
        <div class="details">
            <h3><a href="#">GPS Tracker, TK-102, Mini Global Real Time 4 bands...</a></h3>
            
            <div class="products-stars">
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0"/>
            </div>
            
            2012 NEW arrival HD 7 inch GPS navigation with Sirf 800MHZ + Microsoft Windows CE 6.0+ Bluetooth+ AV-IN+4GB flashroom...<br />
            <div class="price">Price: US $ 700</div>
            <span>Offer ID:</span> 154782<br />
            <span>Post Date:</span> Oct 04, 2012<br />
            <span>Min Order :</span> 1000 Piece<br />
            <span>Payment Type:</span> T/T, Western Union, Money Gram<br />
            <span>Keywords :</span> TRACTOR,USED AGRICULTURAL MACHINERY<br />
        </div>
        
        <div class="info">
            <span>Seller Details :</span><br /><a href="#">RUBBERTECK INTERNATIONAL INC</a><br /> <span>Origin :</span> <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/US.gif" border="0" /> &nbsp;USA<br />
            <div class="membership"><a href="#" class="gold">Gold Member</a> for 10 Years</div>
            <span>Business Type :</span> Manufacturer<br />
            <div class="call">+971-50-9504933</div>
            <div class="inquire"><a href="#"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
            <span class="contact"><a href="#">Contact Seller</a></span>
        </div>
        <hr />
        
        <span class="review-count"><a href=""><span>10</span> reviews</a></span> &nbsp; <span class="write-review"><a href="#">Write a review</a></span> &nbsp; | <a href="#">More Photos</a> | <a href="#">Download Brochure</a> | <a href="#">Email To a Friend</a> | <a href="#">More Details</a>
    </div>
    
    <div class="list-view">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/samsung.jpg" border="0" class="thumb" /></a>
            <div class="photo-count-container">
                <div class="photo-count">
                    <a href="#" title="">10 Photos</a>
                </div>
            </div>
        </div>
        <div class="details">
            <h3><a href="#">GPS Tracker, TK-102, Mini Global Real Time 4 bands...</a></h3>
            
            <div class="products-stars">
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0"/>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0"/>
            </div>
            
            2012 NEW arrival HD 7 inch GPS navigation with Sirf 800MHZ + Microsoft Windows CE 6.0+ Bluetooth+ AV-IN+4GB flashroom...<br />
            <div class="price">Price: US $ 700</div>
            <span>Offer ID:</span> 154782<br />
            <span>Post Date:</span> Oct 04, 2012<br />
            <span>Min Order :</span> 1000 Piece<br />
            <span>Payment Type:</span> T/T, Western Union, Money Gram<br />
            <span>Keywords :</span> TRACTOR,USED AGRICULTURAL MACHINERY<br />
        </div>
        
        <div class="info">
            <span>Seller Details :</span><br /><a href="#">RUBBERTECK INTERNATIONAL INC</a><br /> <span>Origin :</span> <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/US.gif" border="0" /> &nbsp;USA<br />
            <div class="membership"><a href="#" class="gold">Gold Member</a> for 10 Years</div>
            <span>Business Type :</span> Manufacturer<br />
            <div class="call">+971-50-9504933</div>
            <div class="inquire"><a href="#"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
            <span class="contact"><a href="#">Contact Seller</a></span>
        </div>
        <hr />
        
        <span class="review-count"><a href=""><span>10</span> reviews</a></span> &nbsp; <span class="write-review"><a href="#">Write a review</a></span> &nbsp; | <a href="#">More Photos</a> | <a href="#">Download Brochure</a> | <a href="#">Email To a Friend</a> | <a href="#">More Details</a>
    </div>
</div>