<?php
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod">
	<div class="list-icon">
    	<h1>Send Message</h1>
    </div>
    <div class="clear"></div>
    <div class="mod-container form-element">
		<div class="member-signin non-member">
        	<p>Non Member?</p>
            <div class="body-container">
            Non-members can send FREE inquiries.<br />
			<br />
			Just complete the form below.
            </div>
        </div>
        
        <div class="member-signin existing-member">
        	<p>Already a Member? SIGN IN</p>
            <div class="body-container">
           		<div class="form-content">
                	<form action="" method="post">
                        <label for="user_id">Email Address or Member ID</label>
                        <input name="user_id" id="user_id" type="text" class="input-xlarge" placeholder="Enter Your User Name"/>
                        
                        <label for="login_pass">Password</label>
                        <input name="login_pass" id="login_pass" type="password" class="input-xlarge" placeholder="Enter Your Account Password"/>
                        <a href="" class="forgot">Forgot Your Password?</a>
                        <input name="" type="submit" value="Sign In" class="clear"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="warning">
    	<p>Reminder for Buyers:</p>
		Be cautious with pre-payment by T/T or Western Union.  Do not make pre-payment to any sellers unless you can fully trust the sellers. <a href="">More...</a>
    </div>
    
	<div class="clear">&nbsp;</div> 
	<div id="actionMessage"></div>
    <form name="inquiryForm" id="inquirytForm" method="post" enctype="multipart/form-data" class="form-element">
    	<div class="group">
            <label>
            	To :
            </label>
            <div class="control-element">
            	Contact Person Name (Company Name)
            </div>
        </div>
        
        <div class="group">
            <label>
            	Source :
            </label>
            <div class="control-element">
            	Homepage - Company Info
            </div>
        </div>
        
       	<div class="group">
            <label for="subject">
                Subject : <span class="star_class">*</span>
            </label>
            <div class="control-element">
                <input name="subject" id="subject" type="text" class="input-xxlarge" />
                <div class="form-field-info">
                    <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                </div>
                <span class="input-errors" id="company_name_err"></span>
            </div>
        </div>
        
        <div class="group">
            <label for="message">
                Message : <span class="star_class">*</span>
            </label>
            <div class="control-element">
                <textarea name="message" id="message" cols="" rows="5" class="input-xxlarge"></textarea>
                <div class="form-field-info">
                    <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                </div>
                <span class="input-errors" id="company_name_err"></span>
            </div>
        </div>
        
        <div class="group">
            <label for="attach">
               Attach File :
            </label>
            <div class="control-element">
                <input name="attach" id="attach" type="text" class="input-large" />
                <div class="form-field-info">
                    <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                </div>
                <span class="input-errors" id="company_name_err"></span>
            </div>
        </div>
        
        <div class="group">
            <label>
               I want to receive :
            </label>
            <div class="control-element">
                <label>
                    <input name="" type="checkbox" id="" value=""/>FOB prices (for minimum order)
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>Delivery time
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>Minimum order quantity
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>Reference customers
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>Certification met
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>Country of origin
                </label>
                <label>
                    <input name="" type="checkbox" id="" value=""/>FOB prices (for minimum order)
                </label>
                <hr />
                <label>
                    <input name="" type="checkbox" id="" value=""/>Request the recipient to send me a reply by <span style="color:#F00">(Kendo UI Date)</span>
                </label>
                <div class="form-field-info">
                    <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                </div>
                <span class="input-errors" id="company_name_err"></span>
            </div>
        </div>
        
        <fieldset>
			<legend>My Contact Info</legend>
           	<div class="group">
                <label for="name">
                	Contact Name : <span class="star_class">*</span> 
                </label>
                <div class="control-element">
                    <input name="name" id="name" type="text" class="input-xlarge" placeholder="First and Last Name"/>
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
                <label for="company">
               		Company Name : <span class="star_class">*</span> 
                </label>
                <div class="control-element">
                    <input name="company" id="company" type="text" class="input-xlarge" />
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
                <label for="street">
               		Street : <span class="star_class">*</span> 
                </label>
                <div class="control-element">
                    <input name="street" id="street" type="text" class="input-xlarge" />
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
                <label for="city">
               		City : <span class="star_class">*</span> 
                </label>
                <div class="control-element">
                    <input name="city" id="city" type="text" class="input-xlarge" />
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
                <label for="country">
               		Country : <span class="star_class">*</span> 
                </label>
                <div class="control-element">
                    <input name="country" id="country" type="text" class="input-xlarge" />
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
                <label for="phone_part1">
                    Phone Number
                </label>
                <div class="control-element">
                    <input name="mobile" id="phone_part1" type="text" class="input-mini" /> - 
                    <input name="mobile" id="phone_part2" type="text" class="input-mini" /> - 
                    <input name="mobile" id="phone_part3" type="text" class="input-medium" />
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Country Code - Area Code - Number"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <hr />
            <div class="group">
                <label for="email">
                    Your E-mail <span class="star_class">*</span>
                </label>
                <div class="control-element">
                    <input name="email" id="email" type="text" class="input-large" placeholder="Write E-mail in correct format"/>
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="This email will be used to sign in to AzuwaB2B.com"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
            </div>
            
            <div class="group">
              	<label for="password">
                	Password <span class="star_class">*</span>
                </label>
                <div class="control-element">
                    <input name="password" id="password" type="password" class="input-large"/>
                    <div class="form-field-info">
                   		<div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Your password must be 6 to 20 characters long (a-z, 0-9 only)"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
              		</div>
              		<span class="input-errors" id="company_name_err"></span>
              	</div>
			</div>
            
            <div class="group">
              	<label for="confirm">
                	Re-type Password : <span class="star_class">*</span>
                </label>
                <div class="control-element">
                    <input name="confirm" id="confirm" type="password" class="input-large"/>
                    <div class="form-field-info">
                   		<div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title=""><p><span class="ui-icon ui-icon-info"></span></p></div></div>
              		</div>
              		<span class="input-errors" id="company_name_err"></span>
              	</div>
			</div>
            
            <div class="group">
                <label for="">
                    I am a :
                </label>
                <div class="control-element">
                    <label class="inline">
                        <input name="" type="checkbox" id="" value=""/>Buyer
                    </label>
                    <label class="inline">
                        <input name="" type="checkbox" id="" value=""/>Seller
                    </label>
                    <div class="form-field-info">
                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                    </div>
                    <span class="input-errors" id="company_name_err"></span>
                </div>
        	</div>
            
            <div class="field-highlighter">
                <label>
                    <input name="" type="checkbox" id="" value=""/> I allow AzuwaB2B Consultants to inform suitable suppliers (if any) about my sourcing needs.
                </label>
            </div>
		</fieldset>
    </form>
    <div class="clear btn-container">
        <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>      
    </div>
    
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="infoMess">
    	<p>By clicking the button above, I agree to create an AzuwaB2B.com account and accept :</p><br />
        <ul>
			<li>-The <a href="">Terms of Services</a> and <a href="">Privacy Policy</a> of AzuwaB2B.com</li>
			<li>-To receive emails relating to events, membership and services from AzuwaB2B.com</li>
        </ul>
    </div>
</div>