<?php
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod">
	<div class="list-icon">
    	<h1>Success Story List</h1>
    </div>
    <div class="clear"></div>
    <div class="list-view company-list featured">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="100" border="0" class="thumb" /></a>
        </div>
        <div class="details">
           	<div class="story"><a href="#">Awalnya saya hanya iseng2 memasukan produk saya di indonetwork secara gratis, ternyata responnya sangat baik, dalam tiga bulan saya langsung meningkatkan layanan prioritas karena saya berfikir, dalam tiga bulan saya langsung meningkatkan....</a></div>
            <p class="company"><a href="#">Company Name</a> [City, Country]</p>
        </div>
        
        <div class="info">
            <div class="membership">
            	<a class="gold" href="#">Gold Member</a>
                <p>for 10 Years</p>
            </div>
        </div>
        <hr />
        <span class="write-review"><a href="#">Post Your Story</a></span>
    </div>
    
    <div class="list-view company-list">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="100" border="0" class="thumb" /></a>
        </div>
        <div class="details">
           	<div class="story"><a href="#">Awalnya saya hanya iseng2 memasukan produk saya di indonetwork secara gratis, ternyata responnya sangat baik, dalam tiga bulan saya langsung meningkatkan layanan prioritas karena saya berfikir, dalam tiga bulan saya langsung meningkatkan....</a></div>
            <p class="company"><a href="#">Company Name</a> [City, Country]</p>
        </div>
        
        <div class="info">
            <div class="membership">
            	<a class="gold" href="#">Gold Member</a>
                <p>for 10 Years</p>
            </div>
        </div>
        <hr />
        <span class="write-review"><a href="#">Post Your Story</a></span>
    </div>
</div>