<?php
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod">
	<div class="list-icon">
    	<h1>Full Story</h1>
    </div>
    <div class="clear"></div>
    <div class="story-details">
        <h2><a href="#">Company Name</a></h2>
        <hr />
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="150" border="0" class="thumb" /></a>
        </div>
        
        <div class="info">
        	<p class="mod-title">Person Name / Designation</p><br />
            [City, Country]
            <div class="membership">
            	<a class="gold" href="#">Gold Member</a>
                <p>for 10 Years</p>
            </div>
            <div>&nbsp;</div>
            <strong>Categories:</strong> Electric Power Tools, Electrical Product Agent, Wires, Cables, Cable Assemblies, Capacitors, Electrical Outlets, Generators, Insulation, Relays, Transformers, Sensors
        </div>
        <hr/>
        <div class="desc">
        	<strong>PERMATA ELEKTRINDO</strong><br />
        	Salam Dahsyat Salam Kenal kepada semua member Indonetwork.co.id, pertama-tama saya pribadi dan perusahaan kami PERMATA ELEKTRINDO ingin mengucapkan banyak terima kasih khususnya Indonetwork.co.id yang telah membantu saya dalam mengenalkan perusahaan dan product-product saya yang dimana sebelumnya dari member gratis sampai sekarang member Prioritas Indonetwork.co.id. Dan melalui Indonetwork.co.id lah perusahaan dan product-product elektrical dan accesories electrical kami bisa dikenal oleh perusahaan industri, toko, panelmaker, hotel, dan apartemant di jakarta maupun diluar jakarta, disamping itu juga saya juga berterimakasih kepada custumer kami yang sudah menjadi partner bisnis kami dan kepercayaan mitra bisnis kami yang dipelopori oleh mitra partner bisnis kami yakni Indonetwork.co.id. Dengan member prioritas Indonetwork.co.id membuat tingkat kepercayaan dan service kami memberikan nilai plus buat semua cusrtumer kami di jakarta dan diluar jakarta, dan dengan adanya Indonetwork.co.id inilah lebih 			memudahkan kami dalam hal promotion product-product electrical kami diseluruh indonesia dan internasional, so jangan menunda lagi untuk bermitra bisnis dengan PERMATA ELEKTRINDO melalui Mitra Partner kami tentunya Indonetwork.co.id segeralah Take Action Now. Salam Mantab Salam Dahsyat...
    	</div>
        <hr />
        <span class="link">
        	<a href="">View this member’s products</a> &nbsp; <a href="">View this member’s selling Leads</a>
		</span>
        <hr />
        <ul class="pager">
        	<li class="all"><a href="">View all success stories </a></li>
            <li class="next"><a href="">Next story in success stories &raquo;</a></li>
		</ul>
	</div>
</div>