<?php
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod tradeshows tradeshows-details">
	<div class="list-icon">
    	<h1>Tradeshow Details</h1>
    </div>
    <div class="clear"></div>
    
    <h2>Company Name</h2>
    <hr />
    
	<div class="img-wrapper">
   		<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/supplier.jpg" width="65" border="0" class="thumb" />
    </div>
    <ul>
        <li><span>Show Organizer (s):</span>ABC</li>
        <li><span>Event Date (s):</span><strong class="date">21 MAR 2013 - 21 MAR 2014</strong></li>
        <li><span>Hours:</span>9:00 AM - 9:00 PM</li>
        <li><span>Venue:</span>USA [New York]</li>
        <li><span>Address:</span>210 Wood Hill, New York, USA</li>
        <li><span>No. of Exhibitors:</span>25, History Record: 5 (in 2005)</li>
        <li><span>No. of Attendees:</span>25, History Record: 10 (in 2008)</li>
        <li><span>Exhibition Floor:</span>552 History Record: 32 (in 2000)</li>
        <li><span>Size:</span>50,000 (sqm)</li>
        <li><span>Phone</span>0092 - 051 - 5553101</li>
        <li><span>Fax</span>0092 - 051 - 5553101</li>
        <li><span>Website:</span><a href="" target="_blank">http://www.google.com</a></li>
    </ul>
    <hr />
    <p>Indistry Focus:</p>
    Home & Garden
    
    <p>Produt & Services Focus:</p>
    Kitchenware Glassware and Enemalware
    
    <p>General Information:</p>
    Since 2004, AzuwaB2B has participated in world's leading Trade Shows with an aim to promote quality products of its clients and helped them find new business partners in offline marketing. On each occasion, AzuwaB2B has garnered a number of important new buying leads with success. Following are the Trade Shows that AzuwaB2B participates in.
    
    <p>Attendee Information</p>
    USA [New York]
    
    <p>Exhibitor Information</p>
    No Exhibition
</div>