<?php
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod tradeshows">
	<div class="list-icon">
    	<h1>Azuwa B2B at Tradeshows</h1>
    </div>
    <div class="clear"></div>
    <div class="mod-container">
		Since 2004, AzuwaB2B has participated in world's leading Trade Shows with an aim to promote quality products of its clients and helped them find new business partners in offline marketing. On each occasion, AzuwaB2B has garnered a number of important new buying leads with success. Following are the Trade Shows that AzuwaB2B participates in.
    </div>
    <form action="" method="get">
    	<select name="">
        	<option value="">Please Select </option>
    	  	<option value="2013">2013</option>
    	  	<option value="2012">2012</option>
    	  	<option value="2011">2011</option>
    	  	<option value="2010">2010</option>
        </select>
    </form>
    <div class="clear"></div>
    <div class="list-view">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/supplier.jpg" width="65" border="0" class="thumb" /></a>
        </div>
        <ul>
        	<li class="trade-title">Company Name [Year]</li>
            <li><span>Event Profile:</span><a href="">LED/OLED Lighting Products & Systems, Materials / Components, Manufacturing / Testing Equipments, Application, Digital Signage, KIOSK</a></li>
            <li><span>Venue:</span><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/US.gif" border="0" /> &nbsp; USA [New York]</li>
            <li><span>Date:</span><strong class="date">Nov. 22-25, 2013</strong></li>
            <li><span>Website:</span><a href="" target="_blank">http://www.google.com</a></li>
        </ul>
    </div>
    
    <div class="list-view featured">
        <div class="img-wrapper">
            <a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/supplier.jpg" width="65" border="0" class="thumb" /></a>
        </div>
        <ul>
        	<li class="trade-title">Company Name [Year]</li>
            <li><span>Event Profile:</span><a href="">LED/OLED Lighting Products & Systems, Materials / Components, Manufacturing / Testing Equipments, Application, Digital Signage, KIOSK</a></li>
            <li><span>Venue:</span><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/US.gif" border="0" /> &nbsp; USA [New York]</li>
            <li><span>Date:</span><strong class="date">Nov. 22-25, 2013</strong></li>
            <li><span>Website:</span><a href="" target="_blank">http://www.google.com</a></li>
        </ul>
    </div>
    
    <div class="cat-container">
        <div class="list-icon">
        	<h1>Trade Shows by Industry</h1>
        </div>
        <div class="clear"></div>
        <hr/>
        <div class="cat-columns sub-cat">
            <p><a href="#">Samsung Galaxy S3</a>
            <p><a href="#">Samsung Tab</a></p>
            <p><a href="#">Samsung Galaxy Note</a></p>
            <p><a href="#">Samsung Galaxy S</a></p>
            <p><a href="#">Samsung Galaxy Y</a></p>
            <p><a href="#">Samsung Galaxy S3</a></span>
            <p><a href="#">Samsung Tab</a></p>
            <p><a href="#">Samsung Galaxy Note</a></p>
            <p><a href="#">Samsung Galaxy S</a></p>
            <p><a href="#">Samsung Galaxy Y</a></p>
            <p><a href="#">Samsung Galaxy Note</a></p>
            <p><a href="#">Samsung Galaxy S</a></p>
            <p><a href="#">Samsung Galaxy Y</a></p>
            <p><a href="#">Samsung Galaxy S3</a></p>
        	<p><a href="#">Samsung Tab</a></p>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    
	<div class="cat-container"> 
        <div class="list-icon">
            <h1>Trade Shows by Month</h1>
        </div>
        <hr />
    
        <div class="by-month">
            <p>2013:</p>
            <ul>
                <li><a href="#">FEB</a></li>
                <li><a href="#">MAR</a></li>
                <li><a href="#">APR</a></li>
                <li><a href="#">MAY</a></li>
                <li><a href="#">JUN</a></li>
                <li><a href="#">JUL</a></li>
                <li><a href="#">AUG</a></li>
                <li><a href="#">SEP</a></li>
                <li><a href="#">OCT</a></li>
                <li><a href="#">NOV</a></li>
                <li><a href="#">DEC</a></li>
            </ul>
            <hr />
            <p>2014:</p>
            <ul>
                <li><a href="#">JAN</a></li>
                <li><a href="#">FEB</a></li>
                <li><a href="#">MAR</a></li>
                <li><a href="#">APR</a></li>
                <li><a href="#">MAY</a></li>
                <li><a href="#">JUN</a></li>
                <li><a href="#">JUL</a></li>
                <li><a href="#">AUG</a></li>
                <li><a href="#">SEP</a></li>
                <li><a href="#">OCT</a></li>
                <li><a href="#">NOV</a></li>
                <li><a href="#">DEC</a></li>
            </ul>
            <hr />
        </div>
    </div>
    
    <div class="clear">&nbsp;</div>
    <div class="cat-container">
    	<div class="list-icon">
        	<h1>Trade Shows by Location</h1>
        </div>
        <div class="clear"></div>
        <hr/>
    	<div class="by-location">
            <div class="col">
                <span>America</span>
                <ul>
                    <li><a href="#">USA</a></li>
                    <li><a href="#">Mexico</a></li>
                    <li><a href="#">Agrentina</a></li>
                    <li><a href="#">Brazil</a></li>
                    <li><a href="#">Colombia</a></li>
                </ul>
            </div>
        
            <div class="col">
                <span>Europe</span>
                <ul>
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">Italy</a></li>
                    <li><a href="#">France</a></li>
                    <li><a href="#">United Kingdom</a></li>
                    <li><a href="#">Switzerland</a></li>
                </ul>
            </div>
        
            <div class="col">
                <span>Asia</span>
                <ul>
                    <li><a href="#">China (Mainland)</a></li>
                    <li><a href="#">Hong Kong</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Japan</a></li>
                    <li><a href="#">South Koria</a></li>
                    <li><a href="#">Taiwan</a></li>
                </ul>
            </div>
            
            <div class="col">
                <span>Middle East</span>
                <ul>
                    <li><a href="#">Saudi Arabia</a></li>
                    <li><a href="#">UAE</a></li>
                    <li><a href="#">Iran</a></li>
                    <li><a href="#">Qatar</a></li>
                    <li><a href="#">Isreal</a></li>
                </ul>
            </div>
        
            <div class="col">
                <span>Africa</span>
                <ul>
                    <li><a href="#">Egypt</a></li>
                    <li><a href="#">South Africa</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Jordan</a></li>
                    <li><a href="#">Zambia</a></li>
                </ul>
            </div>
            
            <div class="col last">
                <span>Australasia</span>
                <ul>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">New Zealand</a></li>
                </ul>
            </div>
    	</div>
    </div>
</div>