<?php 

	$version = Zend_Registry::get('version');
	$headTitle = $this->translator->translator('menu_b2b_add_package'); 
	$this->headTitle()->headTitle($headTitle,'SET');
	//Loading CSS Files. 
	$front_template = Zend_Registry::get('front_template'); 

	
	$image_value = $this->packageForm->b2b_images->getValue();
	if($image_value)
	{
		$image_arr = explode(',',$image_value);
		foreach($image_arr as $key=>$value)
		{
			$checked = ($value == $this->packageForm->b2b_images->getValue()) ? ' checked="checked" ' : '';
			$img_type = ($value == $this->packageForm->b2b_images->getValue()) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
			$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
			if($value)
			{
				$assign_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/b2b/b2b_images/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="others_images" file_name="'.$value.'" file_path="data/frontImages/b2b/b2b_images" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('buying_images_primary').'" />&nbsp;</span></div>';
			}
		}
	} 

 ?>

<script type="text/javascript">

$(document).ready(function() {
	
	var settingObj = {
						form_action : {
											form_id: 'formPackage',
											hasTinyMCE: false,
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [
												{field_id : 'categoryTree', field_value: '' , field_type : 'html'}, 
												{field_id : 'parent_id', field_value: '0' , field_type : 'val'},
												{field_id : 'page_thumb', field_value: '' , field_type : 'val'},
												{field_id : 'dataId', field_value: '<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?> (0)' , field_type : 'html'}
											],
											extra_function_for_reset: function(){
												$('a.back_btn_link').attr('href','<?php echo $this->url( array("module" => "B2b","controller" => "backendpackage", "action"  => "list" ,"group_id" => $param_group_id), "adminrout",    true) ?>');
											},
											
									},
						
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
	
	
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	commonImageThumbnil();
	deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
 
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);		
		 commonRemoveFormError(settingObj);	
	});
	
	$('a.save_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);			
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpackage', 'action'     => 'add' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response); 					
					var json_arr = eval("("+response+")");					
					commonCloseLoaderDialog(settingObj);					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));													
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
	
	
	

/***********************************************************************Upload Action Start*********************************************************/

$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", '');
		
		var file_path_field = 'data/frontImages/b2b/b2b_images'
		var rel = $(self).attr('rel');		
		var file_suffix = rel;	
		var file_content = $('#'+file_suffix).val();
		
		$('input[name="file_path_field"]').val('file_path_'+rel);
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);		
		
		$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
		$('#upload-form').dialog('open');
		$('#popupForm').submit();
	
	});	
	
	$('a.select_file_btn').click(function() {		 
		
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				commonMsgDialog(settingObj, msg);
			}
			else
			{
				var img_code = '';
				var file_name = '';
				for(var i=0;i < selected_files_arr.length;i++)
				{
					//var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
					var ext = getCommonFileExtension(selected_files_arr[i]);
					var img_path = commonFilePath(file_path, selected_files_arr[i]);					
					var checked = (i == 0)? ' checked="checked" ' : '';
					var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
																
					var fileObj = { extension : '.' + ext };
					var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
					var primary = '' ; //'<input class="radio_style" type="radio" name="'+primary_file_field+'_primary" id="'+primary_file_field+'_primary" '+checked+' value="'+selected_files_arr[i]+'" title="<?php //echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
											
					var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
					img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
					file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];					
					break; 
				}			
				var file_suffix = primary_file_field;		
				$('#selected_file_'+file_suffix).html(img_code);		
				$('#'+file_suffix).val(file_name);		
				$("#i-upload-form").attr("src", ''); 						
				$("#upload-form").dialog('option','hide','explode').dialog('close');				
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				commonImageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {				
		$("#i-upload-form").attr("src", ''); 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});

/******************************************Upload Action End****************************************************/

	
});



/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#b2b_images_block').prepend('<input type="file" name="b2b_images_upload" id="b2b_images_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	thumb_setting_param['file_path_field'] = 'file_path_b2b_images';	
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('b2b_images_upload', 'b2b_images', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#b2b_images_err').html("");
}

function uploadSettingsEnd()
{	
	$('#b2b_images_upload').parents('div.k-upload').remove();	
	$('#b2b_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);		
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="20" height="10" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		 
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';	
		var primary_file_field_radio = '';		
		switch(upload_value_field)
		{
			case 'b2b_images':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					primary_file_field_radio =	 'b2b_images';						
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("b2b_images_primary"); ?>" />';
				break;
			case 'feature_floor_plan_image':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					primary_file_field_radio =	'feature_primary_floor_image';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("b2b_images_primary"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br /><br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br /><br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
	
</script>

<div id="container">
<?php  if (!$this->allow()) : ?>
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>
<div id="button_top_bar"></div>
<div class="title-container">
	<div class="b2b-pkgs-edit"><h1><?php echo $this->translator->translator('menu_b2b_edit_package'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpackage', 'action'     => 'list' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div> 

<div class="content-container">
	<div id="actionMessage"></div>
    
    <div id="sidebar-inner">
       <?php echo $this->partial('nav_menu.phtml');  ?>
    </div>    
    
    <div id="content-inner">   
        <form name="formPackage" id="formPackage" method="post">    	
            <div id="generalInfo">
                <div id="tabs">
                        <fieldset class="fieldset">
                            <legend class="legend"><?php echo $this->translator->translator('menu_b2b_edit_package'); ?></legend>
                            
                            <div class="form">
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->name->getLabel(); if($this->packageForm->name->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->name; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="name_err"></div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->description->getLabel(); if($this->packageForm->description->isRequired()){ ?><span class="required">*</span><?php } ?> 
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->description; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="description_err"></div>
                                    </div>
                                </div>
                               
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->products->getLabel(); if($this->packageForm->products->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->products; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->products->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="products_err"></div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->buying->getLabel(); if($this->packageForm->buying->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->buying; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->buying->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="buying_err"></div>
                                    </div>
                                </div>
                                
                                 <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->selling->getLabel(); if($this->packageForm->selling->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->selling; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->selling->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="selling_err"></div>
                                    </div>
                                </div>  
                                
                               
                                <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->packageForm->b2b_images->getLabel(); if($this->packageForm->b2b_images->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php	
                                                if($this->auth->getIdentity()->access_file_image_manager == '1')
                                                {
                                            ?>
                                                  <div class="left-float">
                                                      <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="b2b_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                                  </div>
                                            <?php
                                                  }
                                                  else
                                                  {	 						
                                            ?>
                                                    <script type="text/javascript">
                                                      $(function(){
                                                          /**************************FILE UPLOAD START******************************/																					
                                                          dynamicUploader("b2b_images_upload", "b2b_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", true);
                                                          /**************************FILE UPLOAD END*********************************/
                                                      });
                                                     </script>
                                            <?php							  
                                                  }
                                              ?>                                         
                                            <div id="b2b_images_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="b2b_images_upload" id="b2b_images_upload" /><?php } echo $this->packageForm->b2b_images ; ?></div>                                        
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->b2b_images->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="b2b_images_err"></div>
    
                                            <div class="upload-img">
                                                <span id="selected_file_b2b_images"> <?php echo	$assign_image  ?> </span>
                                            </div>                                        
                                                                                    
                                        </div>
                                    </div>
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->price->getLabel(); if($this->packageForm->price->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->price; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="price_err"></div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->strikethrough_price->getLabel(); if($this->packageForm->strikethrough_price->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->strikethrough_price; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->strikethrough_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="strikethrough_price_err"></div>
                                    </div>
                                </div>
                                
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->renewable->getLabel(); if($this->packageForm->renewable->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->renewable; ?>  &nbsp;<?php echo $this->translator->translator('b2b_days'); ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->renewable->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="renewable_err"></div>
                                    </div>
                                </div>
                                
    
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->priority_flag->getLabel(); if($this->packageForm->priority_flag->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->priority_flag; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->priority_flag->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="priority_flag_err"></div>
                                    </div>
                                </div>                            
                                
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->preapproval->getLabel(); if($this->packageForm->preapproval->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->preapproval; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->preapproval->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="preapproval_err"></div>
                                    </div>
                                </div>                           
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->profile->getLabel(); if($this->packageForm->profile->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->profile; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->profile->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="profile_err"></div>
                                    </div>
                                </div>             
    
    
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->priority->getLabel(); if($this->packageForm->priority->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->priority; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->priority->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="priority_err"></div>
                                    </div>
                                </div>                            
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->feedback->getLabel(); if($this->packageForm->feedback->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->feedback; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->feedback->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="feedback_err"></div>
                                    </div>
                                </div>                            
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->voting->getLabel(); if($this->packageForm->voting->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->voting; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->voting->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="voting_err"></div>
                                    </div>
                                </div>                            
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->spotlight->getLabel(); if($this->packageForm->spotlight->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->spotlight; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->spotlight->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="spotlight_err"></div>
                                    </div>
                                </div>                            
                                
    
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->tradeshow->getLabel(); if($this->packageForm->tradeshow->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->tradeshow; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->tradeshow->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="tradeshow_err"></div>
                                    </div>
                                </div>                            
                                
                                <!--<div class="form-row">
                                    <div class="label">
                                        <?php //echo $this->packageForm->buyers_profile->getLabel(); if($this->packageForm->buyers_profile->isRequired()){ ?><span class="required">*</span><?php //} ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php //echo $this->packageForm->buyers_profile; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php //echo $this->escape($this->packageForm->buyers_profile->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="buyers_profile_err"></div>
                                    </div>
                                </div>-->   
                                          
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->massage->getLabel(); if($this->packageForm->massage->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->massage; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->massage->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="massage_err"></div>
                                    </div>
                                </div>                            
                                
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->social_network->getLabel(); if($this->packageForm->social_network->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->social_network; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->social_network->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="social_network_err"></div>
                                    </div>
                                </div>                            
                                           
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->directory->getLabel(); if($this->packageForm->directory->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->directory; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->directory->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="directory_err"></div>
                                    </div>
                                </div>                            
                                
                                   
                                 <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->gallery->getLabel(); if($this->packageForm->gallery->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->gallery; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->gallery->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="gallery_err"></div>
                                    </div>
                                </div>       
                                                                       
                                            
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->telephone->getLabel(); if($this->packageForm->telephone->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->telephone; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->telephone->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="telephone_err"></div>
                                    </div>
                                </div>        
                                

                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->eCommerce->getLabel(); if($this->packageForm->eCommerce->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->eCommerce; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->eCommerce->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="eCommerce_err"></div>
                                    </div>
                                </div>        
                                                                            
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->packageForm->website->getLabel(); if($this->packageForm->website->isRequired()){ ?><span class="required">*</span><?php } ?>
                                    </div>
                                    
                                    <div class="field">
                                        <?php echo $this->packageForm->website; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->packageForm->website->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="website_err"></div>
                                    </div>
                                </div>  
                                
                                <div class="form-row">
                                	<div class="label">
                                    </div>
                                    <div class="field">
                                        <?php echo $this->packageForm->id; ?>
                                    </div>
                                    
                                     <div class="field">
                                        <?php echo $this->packageForm->active; ?>
                                    </div>
                                                                                                            
                                     <div class="field">
                                        <?php echo $this->packageForm->displayable; ?>
                                    </div>
                                </div>      
                            </div>
                        </fieldset>
                    
                </div>
            </div>
        </form>
    </div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpackage', 'action'     => 'list' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
    
    <div id="upload-form" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('b2b_package_premium_package')); ?>">
        <div>
            <form id="popupForm" target="i-upload-form" method="post" action="" >
                <input type="hidden" name="table_name" value="b2b_group"/>
                <input type="hidden" name="primary_id_field" value="id"/>
                <input type="hidden" name="primary_id_field_value" value="<?php echo ($this->packageForm->group_id->getValue()) ? $this->packageForm->group_id->getValue() : '1'; ?>"/>   
                <input type="hidden" name="primary_file_field" value=""/> 
                <input type="hidden" name="file_content"  value=""/>       
                <input type="hidden" name="file_path_field" value="data/frontImages/b2b/b2b_images"/>
                <input type="hidden" name="file_extension_field" value="file_type"/>
                <input type="hidden" name="file_max_size_field" value="file_size_max"/>
            </form>
            <iframe id="i-upload-form" name="i-upload-form" src="" class="iframe-img-upload"></iframe>       
        </div>
        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
        </div> 
    </div>
        
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('menu_b2b_edit_package'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpackage', 'action'     => 'list' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>