<?php
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
$version = Zend_Registry::get('version'); 
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/BookingCalendar/js/jquery.dop.BookingCalendar.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/js/jquery/BookingCalendar/css/jquery.dop.BookingCalendar.css');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/gallery/jquery.ad-gallery.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/raty/js/jquery.raty.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/gallery/jquery.ad-gallery.css');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jquery.scrollTo.js');

if(!empty($this->view_datas['hotel']['name'])){ $this->headMeta()->setName('keywords',$this->view_datas['hotel']['name']); }
if(!empty($this->view_datas['hotel']['name'])) { $this->headMeta()->setName('description',$this->view_datas['hotel']['name']); }
if(!empty($this->view_datas['hotel']['name'])) { $this->headTitle()->headTitle($this->escape($this->view_datas['hotel']['name']),'SET'); }

function isnot_int($hotels_agent)
{
	$r = true;			
	if(is_numeric($hotels_agent))
	{ 
		if(is_int((int)$hotels_agent))
		{
			$r = false;
		}				
	}
	return $r;
}

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$front_template = Zend_Registry::get('front_template');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','hotels_page' );
$business_type_db = new Hotels_Model_DbTable_BusinessType();
$mem_db = new Members_Model_DbTable_MemberList();
$room_db = new Hotels_Model_DbTable_Room();
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$hasIdentity = $auth->hasIdentity ();



if($this->view_datas['hotel']['area_id'])
{												
	try
	{
		$area_db = new Hotels_Model_DbTable_Area();
		$area_info = $area_db->getAreaInfo($this->view_datas['hotel']['area_id']);		
	}
	catch(Exception $e)
	{
		
	}
}
if($this->view_datas['hotel']['state_id'])
{
	try
	{
		$state_db = new Hotels_Model_DbTable_State();
		$state_info = $state_db->getStateInfo($this->view_datas['hotel']['state_id']);
	}
	catch(Exception $e)
	{
		
	}
}
if($this->view_datas['hotel']['country_id'])
{
	try
	{
		$country_db = new Hotels_Model_DbTable_Country();
		$country_info = $country_db->getCountryName($this->view_datas['hotel']['country_id']);
	}
	catch(Exception $e)
	{
	}
} 
?>
<style type="text/css">
.dialogPosition{position:fixed;}	
</style>
<script type="text/javascript">
function scrolling(class_name)
{
	$.easing.elasout = function(x, t, b, c, d) {
		var s=1.70158;var p=0;var a=c;
		if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		if (a < Math.abs(c)) { a=c; var s=p/4; }
		else var s = p/(2*Math.PI) * Math.asin (c/a);
		return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	};
	$('a.'+class_name).click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		var rel = $(this).attr('rel');
		var id_arr = rel.split('-');
		var id_no = parseInt(id_arr[1]);
		$('#tabs').tabs({ active: --id_no });
		$.scrollTo( rel , 1500, { easing:'swing' });		
		return false;
	});
}

function bookScrolling()
{
	$.easing.elasout = function(x, t, b, c, d) {
		var s=1.70158;var p=0;var a=c;
		if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		if (a < Math.abs(c)) { a=c; var s=p/4; }
		else var s = p/(2*Math.PI) * Math.asin (c/a);
		return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	};
	
	$('a.book_btn').click(function() {
	 	
		var tmp  = false;
		$.each($('#bookHotel').serializeArray(), function(i, field) {	
			if(field.name.match(/\[\]$/))
			{
				if($('select[name="'+field.name+'"]').attr('class') == 'apartments_no')
				{
					if(field.value != '0' && field.value != '')
					{
						tmp = true;
					}
				}				
			}			
		});
		if(tmp == true)
		{
			$('#bookHotel').submit();
		}
		else
		{	
			var msg = "<?php echo $this->translator->translator('hotels_selected_err'); ?>";
			openMsgDialog(msg);	
							
			var self = this;			
			var rel = $(self).attr('rel');
			var id_arr = rel.split('-');
			var id_no = parseInt(id_arr[1]);
			$('#tabs').tabs({ active: --id_no });
			$.scrollTo( rel , 1500, { easing:'swing' });			
			return false;			
		}
	 });
}

function changeImageScrolling()
{
	$.easing.elasout = function(x, t, b, c, d) {
		var s=1.70158;var p=0;var a=c;
		if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		if (a < Math.abs(c)) { a=c; var s=p/4; }
		else var s = p/(2*Math.PI) * Math.asin (c/a);
		return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	};
	
	 
	 $("a.change_img").click(function(){
			var self = this;
			var src = $(self).children("img:nth-child(1)").attr('src');			
			$("div.ad-image").children("img:nth-child(1)").attr('src',src);							
			$.scrollTo( '#gallery' , 1500, { easing:'swing' });			
			return false;
		});
}

 $(function() {				
	var galleries = $('.ad-gallery').adGallery({
					slideshow: {
                       enable: true,
                       autostart: true,
                       speed: 5000,
                       start_label: 'Start',
                       stop_label: 'Stop',
                       stop_on_scroll: true,
                       countdown_prefix: '(',
                       countdown_sufix: ')',
                       onStart: false,
                       onStop: false
                     }
					 });
	$('#switch-effect').change(
	  function() {
		galleries[0].settings.effect = $(this).val();
		return false;
	  }
	);
	$('#toggle-slideshow').click(
	  function() {
		galleries[0].slideshow.toggle();
		return false;
	  }
	);
	$('#toggle-description').click(
	  function() {
		if(!galleries[0].settings.description_wrapper) {
		  galleries[0].settings.description_wrapper = $('#descriptions');
		} else {
		  galleries[0].settings.description_wrapper = false;
		}
		return false;
	  }
	);
  });
$(function() {		
		
		$("#tabs").tabs({ 
				active: <?php echo $this->tab; ?>, 
				select: function(event, ui) { 
				
				} 		
		}).find(".ui-tabs-nav").sortable({axis:'xy'});
		
		$("#matchTabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
		
		openBookingCalendar();
		
		changeImageScrolling();
				
		
			
	});
	
function openBookingCalendar()
{
	$('select.dialog_calendar_select').change(function() {
		var self = this;
		var id = $(self).val();	
		var room_type = $(self).parents('div:first').attr('title');
		$('select.dialog_calendar_select').val('0');
		$(self).val(id);
		if(id == '0' || id == 0 || id == null || id == '')
		{
			$('#dialog_calendar').html('');
			$('#dialog_calendar').css('background', "none");
			$('#dialog_calendar_title').text('');
		}
		else
		{
			$('#dialog_calendar_title').text(room_type);	
			$('#dialog_calendar').html('');
			$('#dialog_calendar').css('background', "url('js/jquery/BookingCalendar/images/loader-big.gif') no-repeat center center");
			$('#dialog_calendar').DOPBookingCalendar({'Type':'FrontEnd', 'DataURL':'<?php echo $this->url( array("module"=> "Hotels", "controller" => "frontend", "action"     => "load", "id" => '' ), "adminrout",    true) ?>'+id,'Currency':''});
		}
	});
}	

function openMsgDialog(msg)
{
	$('#dialog_container').html(msg).dialog({
		autoOpen: true,
		modal: false,
		show: 'explode',
		resizable: true,	
		dialogClass: 'dialogPosition',			
		buttons: [{ text: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>", click: function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } } ],
		open: function(event, ui)
			 {
				setTimeout(function() 
				{									
					if($('#' + event.target.id).dialog('isOpen'))
					{
						$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
					}
				}, 10000);
			  }
	});
}


$(document).ready(function() {
	function stripslashes(str) 
	{
		str=str.replace(/\\'/g,'\'');
		str=str.replace(/\\"/g,'"');
		str=str.replace(/\\0/g,'\0');
		str=str.replace(/\\\\/g,'\\');
		return str;
	}
	
	$('a.toggle_desc').click(function() {
		var self = this;
		var id = $(self).attr('rel');
		
		$('#room_type_desc'+id).slideToggle(500,function () {
			
		});
		return false;
	  });
	  
	 bookScrolling();	
	
	$('a.save_hotels_btn').click(function() {
		var self = this;
		var id = $(self).attr('rel');
		$.ajax({
			  url: "<?php echo $this->url( array('module' =>'Hotels','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
			  type: 'POST',
			  data: { id: id },
			  beforeSend: function(){						
						$(self).html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" border="0" height="15" />');	
					 },
			  success: function(response){
				//alert(response);
				var json_arr = eval("("+response+")");							
				if(json_arr.status == 'ok')
				{
					openMsgDialog(json_arr.msg);
				}
				else
				{
					openMsgDialog(json_arr.msg);
				}
				$(self).html('<?php echo $this->translator->translator("hotels_front_page_save_hotels"); ?>');
			  }
		});
	});	
	
	$('a.print_btn').click(function (event){
	
			var width = 1200;
    		var height = 700;
			var left = parseInt((screen.availWidth/2) - (width/2));
   			var top = parseInt((screen.availHeight/2) - (height/2));
			var windowSizeArray = [ "width="+width+",height="+height+",left="+left+",top="+top+"screenX=" + left + ",screenY=" + top + ",scrollbars=yes",
									"width="+width+",height="+height+",scrollbars=yes" ];
			var url = "<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'print','hotels_title' => $this->escape($this->view_datas['hotel']['hotels_title']) ),'Hotels-print/:hotels_title',true); ?>";
			var windowName = "popUp";
			var windowSize = windowSizeArray[$(this).attr("rel")];

			window.open(url, windowName, windowSize);

			event.preventDefault();

		});
	
});
function raty (id, start_point)
{
	$('#'+id+'_star').raty({
	  path: 'js/jquery/raty/img/',						  
	  hintList:		<?php echo $this->translator->translator('common_rating_hintList'); ?>,
	  number:     <?php $hint_arr = explode(', ',str_replace('[', '', str_replace(']', '', $this->translator->translator('common_rating_hintList')))); echo count($hint_arr); ?>,
	  start: start_point,
	  readOnly:   true					 
	});
}
</script>
<?php 
$allow_obj = new Hotels_View_Helper_Allow();
if (!$allow_obj->allowRule('details',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

if($this->view_datas['hotel'])
{	
?>

<div class="mod details wego">
	<h1><?php echo $this->escape($this->view_datas['hotel']['name']); ?></h1>
    
    <!-- Hotel Info Start -->
	<div class="ratings">
    	<?php
			for($i = 1; $i < $maximum_stars_digit; $i++)
			{
				$hotel_stars = ($i <= $this->escape($this->escape($this->view_datas['hotel']['stars']))) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_hotel_img/star-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_hotel_img/star-inactive.png' border='0' />";
				echo $hotel_stars.'&nbsp;';
			}
		?>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item"><?php echo $this->translator->translator('Satisfaction : ').$this->escape($this->view_datas['hotel']['satisfaction']); ?></li>
        <li class="list-group-item"><?php echo $this->translator->translator('Longitude :').$this->escape($this->view_datas['hotel']['longitude']); ?></li>
        <li class="list-group-item"><?php echo $this->translator->translator('Latitude :').$this->escape($this->view_datas['hotel']['latitude']); ?></li>
        <?php if(!empty($this->view_datas['hotel']['recent_snippet'])) { ?>
        <li class="list-group-item"><?php echo $this->translator->translator('Recent Snippet :').$this->escape($this->view_datas['hotel']['recent_snippet']); ?></li>
        <?php } ?>   
        <?php if(!empty($this->view_datas['hotel']['reservation_phone'])){ ?>
        <li class="list-group-item"><span class="call"><span class="glyphicon glyphicon-phone"></span> <?php if(!empty($this->view_datas['hotel']['reservation_phone'])){ ?><?php  echo $this->escape($this->view_datas['hotel']['reservation_phone']); ?><?php } ?></span></li>
        <?php } ?>
        <li class="list-group-item">
        	<span class="label label-primary"><?php  echo $this->translator->translator('Neutral'); ?></span> <span class="label label-success"><?php echo $this->escape($this->view_datas['hotel']['neutral']); ?></span>
        </li>
        <?php if(!empty($this->view_datas['hotel']['total_reviews'])){ $review_no = $this->view_datas['hotel']['total_reviews']; ?>
        <li class="list-group-item">
        	<span class="review-count"><a href="javascript:void(0);"><?php echo $this->translator->translator('common_review_no',$review_no); ?></a></span>
        </li>
        <?php } ?>
        <li class="list-group-item">
        	<span class="label label-primary"><?php if($this->view_datas['hotel']['positive']){ echo '+'.$this->view_datas['hotel']['positive']; } if($this->view_datas['hotel']['negative']){ echo ' | -'.$this->view_datas['hotel']['negative']; } ?> <?php echo $this->translator->translator('hotels_front_page_label_voting'); ?></span>
        </li>
 	</ul>
	<!-- Hotel Info End -->
    
    <!-- Slide Show Start -->
    <div class="products-slideshow">
        <div id="container">
            <div id="gallery" class="ad-gallery">
              <div class="ad-image-wrapper"></div>
              <div class="ad-controls"></div>
                <div class="ad-nav">
                    <div class="ad-thumbs">
                      <ul class="ad-thumb-list">
                        <li>
                          <a href="<?php echo $this->view_datas['hotel']['images'][0]['url']; ?>">
                            <img src="<?php echo $this->view_datas['hotel']['image']; ?>"   width="70" height="50" title="<?php echo $this->escape($this->view_datas['hotel']['name']); ?>" alt="<?php echo $this->escape($this->view_datas['hotel']['name']); ?>"  class="image0">
                            </a>
                          </li>
                        <?php	
                            $image_no  = 0;                                                                                
                            foreach($this->view_datas['hotel']['images'] as $key=>$value)
                            {	
                                if($key != 0)
                                {									                                
                          ?>
                          <li>
                          <a href="<?php echo $value['url']; ?>">
                            <img src="<?php echo $value['url']; ?>"  width="70" height="50" title="<?php echo $this->escape($this->view_datas['hotel']['name']); ?>" alt="<?php echo $this->escape($this->view_datas['hotel']['name']); ?>"  class="image0">
                            </a>
                          </li>
                        <?php  
                                }
                                $image_no++;                                 
                            }
                        ?>					
                        </ul>
                    </div>
                </div>
            </div>
        	<!--
            <div class="switch">
              <select id="switch-effect">
                <option value="slide-hori">Slide horizontal</option>
                <option value="slide-vert">Slide vertical</option>
                <option value="resize">Shrink/grow</option>
                <option value="fade">Fade</option>
                <option value="">None</option>
                </select> <a href="#" id="toggle-slideshow">Toggle slideshow</a> |
              <a href="#" id="toggle-description">Toggle description outside image</a>
            </div>
            -->
        </div>
    </div>
	<!-- Slide Show End -->
   	<br>
    <!-- Top Tab Start -->
    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
   	<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
    <div id="demoTab2">
    	<ul class="resp-tabs-list">
       		<li><?php echo $this->translator->translator('Property Amenities'); ?></li>
           	<li><?php echo $this->translator->translator('Room Rate Summery'); ?></li>
        </ul>
        
        <div class="resp-tabs-container match-tab">
        	<!-- Match Tab Container 1 Start -->
            <div>
            	<ul class="list-group">
				<?php							
						if($this->view_datas['hotel']['property_amenities'])
						{							
							foreach($this->view_datas['hotel']['property_amenities'] as $match_info)
							{								
				?>
								
							<li class="list-group-item"><?php echo $this->escape($match_info); ?></li>
								
				<?php
							}
							
						}
				?>
                </ul>
            </div>
            <!-- Match Tab Container 1 End -->
            
            <!-- Match Tab Container 2 Start -->
            <div>
            	<table class="table table-striped table-hover">
				<?php							
						if($this->view_datas['hotel']['summary_room_rates'])
						{							
							foreach($this->view_datas['hotel']['summary_room_rates'] as $match_info)
							{														
				?>
								<tr>
									<td><?php echo $this->escape($match_info['provider_name']); ?></td>
									<td><p class="text-success"><?php echo $this->escape($match_info['currency_sym'].' '.$match_info['price_str']); ?></p></td>
                                </tr>
				<?php
							}
							
						}
				?>
                </table>
            </div>
            <!-- Match Tab Container 2 End -->
        </div>
    </div>
    <script>
		$("#demoTab2").easyResponsiveTabs({
			type: 'accordion', //Types: default, vertical, accordion           
			width: 'auto', //auto or any custom width
			fit: true   // 100% fits in a container
		});
	</script>
	<!-- Top Tab End -->
   
	<div class="panel panel-default">
        <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('hotels_front_page_hotels_details'); ?></h4></div>
        <div class="panel-body">
        	<div class="details">
				<?php echo $this->escape($this->view_datas['hotel']['desc']); ?>
            </div>
        </div>
 	</div>
   
	<!-- Details Tab Start -->
   	<div id="demoTab">
   		<ul class="resp-tabs-list">
        	<li><?php echo $this->translator->translator('hotels_front_page_hotels_details'); ?></li>
            <li><?php echo $this->translator->translator('hotels_front_page_hotels_photo'); ?> <?php //echo $image_no; ?></li>
            <li><?php echo $this->translator->translator('Room Amenities'); ?></li>
            <li><?php echo $this->translator->translator('Concepts'); ?></li>
            <li><?php echo $this->translator->translator('Direct Providers'); ?></li>
            <li><?php echo $this->translator->translator('Cancellation Policy'); ?></li>
       	</ul>
        
        <div class="resp-tabs-container">
        	<!-- Tab Content 1 Start -->
            <div>
            	<!-- Summary Start -->
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('hotels_front_page_Title_summary'); ?></h4></div>
                    <div class="panel-body">
                    	<table class="table table-striped table-hover">
                        	<?php							 						 
							if($this->view_datas['hotel']['room_rates_count'])
							{
							?>
                            <tr>
                                <td><?php echo $this->translator->translator('Room Rates :'); ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['room_rates_count']); ?></td>
                            </tr>
                            <?php
							}							 
							if($this->view_datas['hotel']['rooms_count'])
							{
							?>
                            <tr>
                                <td><?php echo $this->translator->translator('Total Room :'); ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['rooms_count']); ?></td>
                            </tr>
                            <?php
							}							 
							if($this->view_datas['hotel']['fax'])
							{
							?>
                            <tr>
                                <td><?php echo $this->translator->translator('Fax :'); ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['fax']); ?></td>
                            </tr>
                            <?php
							}							 
							if($this->view_datas['hotel']['postal_code'])
							{
							?>
                            <tr>
                                <td><?php  echo $this->translator->translator('Post Code :'); ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['postal_code']); ?></td>
                            </tr>
                            <?php
							}							 
							if($this->view_datas['hotel']['check_in'])
							{
							?>
                            <tr>
                                <td><?php echo $this->translator->translator('Check In :'); ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['check_in']); ?></td>
                            </tr>
                            <?php
							}
							if($this->view_datas['hotel']['check_out'])
							{
							?>
                            <tr>
                                <td><?php echo $this->translator->translator('check Out :');  ?></td>
                                <td><?php echo $this->escape($this->view_datas['hotel']['check_out']); ?></td>
                            </tr>
                            <?php
							}
							if($this->view_datas['hotel']['address'])
							{
							?>
                            <tr>
                                <td colspan="2">
									<?php echo $this->translator->translator('Address :');  ?><br>
                                	<?php echo $this->escape($this->view_datas['hotel']['address']); ?>
                              	</td>
                            </tr>
                            <?php
							}							 
							?>
                        </table>
                    </div>
              	</div>
                <!-- Summary End -->
                <?php
				if($this->view_datas['hotel']['room_rates'][0])
					{
				?>
                <form name="bookHotel" id="bookHotel" action="<?php echo $this->url(array('module' => 'Hotels','controller' =>'book', 'action' => 'booking','hotels_title' => $this->escape($this->view_datas['hotel']['hotels_title']) ),'Book-Hotel/:hotels_title',true) ?>" method="post">
                	<table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translator->translator('Provider Name'); ?></th>
                                <th class="text-center"><?php echo $this->translator->translator('hotels_front_page_list_head_price_per_room'); ?></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        	<?php
															
								$room_type_name_arr = array();	
								$count = 0;																
								foreach($this->view_datas['hotel']['room_rates'] as $key=>$room_rates)
								{																							
									//$row_class = ($key % 2 == 0) ? 'room-chart-row2' : 'room-chart-row2 room-chart-row3';	
									//$height_style =  '';	
									$book_link  =  'http://www.wego.com/hotels/api/search/redirect/'.$this->search_id.'?hotel_id='.$this->hotel_id.'&room_rate_id='.$room_rates['id'].'&key='.$this->apiKey;																				
							?>
                            <tr>
                                <td style="vertical-align:middle"><a href="javascript: void(0);" class="toggle_desc preview chart-link" rel="<?php echo $this->escape($room_rates['id']); ?>" link=""  title="<?php echo $this->escape($room_rates['provider_name']); ?>"><?php echo $this->escape($room_rates['provider_name']); ?></a></td>
                                <td class="text-center">
									<p class="text-success">
										<?php echo $this->escape($room_rates['currency_sym'].' '.$room_rates['price_str']); ?>
                                    </p>
                                    <?php
									if($global_conf['payment_system'] == 'On'){
									?>
										<a href="<?php echo $book_link; ?>" class="btn btn-sm btn-success"><?php echo $this->translator->translator('hotels_front_page_show_price'); ?></a>
									<?php } ?>
                                </td>
                            </tr>
                            <?php
							if(!empty($room_type_info['id'])){
							?>
                            <tr>
                                <td colspan="2">
                                	<div id="room_type_desc<?php echo $room_type_info['id']; ?>"></div>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php														
									$count++;
								}
							?>
                        </tbody>
                    </table>
                </form>
                <?php
					}
				?>
            </div>
            <!-- Tab Content 1 End -->
            
            <!-- Tab Content 2 Start -->
            <div>
            	<div class="panel panel-default gallery">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-picture"></span> <?php echo $this->translator->translator('hotels_front_page_Title_images'); ?></h4></div>
                    <div class="panel-body">
                    	<?php
							foreach($this->view_datas['hotel']['images'] as $key => $value)
							{
						?>              
						<div class="col-xs-6 text-center">
							<a href="javascript:void(0);" class="change_img preview" link="<?php echo $value['url']; ?>"  title="<?php echo $this->escape($this->view_datas['hotel']['name']); ?>" width="250"><img src="<?php echo $value['url']; ?>"  height="115" border="0" class="img-thumbnail img-responsive" /></a>  
						</div>
						<?php                                   
							 $i++;
						  }
						?>
                    </div>
              	</div>
            </div>
            <!-- Tab Content 2 End -->
            
            <!-- Tab Content 3 Start -->
            <div>
            	<div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('Room Amenities'); ?></h4></div>
                    <div class="panel-body">
                    	<?php							
						if($this->view_datas['hotel']['property_amenities'])
						{	
							echo '<ul>';
							foreach($this->view_datas['hotel']['property_amenities'] as $property_amenities)
							{								
						?>
							<li><?php echo $this->escape($property_amenities); ?></li>
						<?php
							}
							
							echo'</ul>';
						}
						?>
                   	</div>
              	</div>
            </div>
            <!-- Tab Content 3 End -->
            
            <!-- Tab Content 4 Start -->
            <div>
            	<div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('Concepts'); ?></h4></div>
                    <div class="panel-body">
                    	<?php							
						if($this->view_datas['hotel']['concepts'])
						{	
							echo '<ul>';
							foreach($this->view_datas['hotel']['concepts'] as $concepts)
							{	
								if($concepts['store'])
								{							
						?>
									<li><?php echo $this->escape($concepts['store']); ?></li>
						<?php
								}
							}
							
							echo '</ul>';
						}
						?>
                   	</div>
              	</div>
            </div>
            <!-- Tab Content 4 End -->
            
            <!-- Tab Content 5 Start -->
            <div>
            	<div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('Direct Providers'); ?></h4></div>
                    <div class="panel-body">
                    	<?php							
						if($this->view_datas['hotel']['direct_providers'])
						{	
						echo '<ul>';
							foreach($this->view_datas['hotel']['direct_providers'] as $direct_providers)
							{	
								if($direct_providers)
								{							
						?>                   
								<li><?php echo $this->escape($direct_providers); ?></li>
						<?php
								}
							}
						echo '</ul>';
						}
						?>
                   	</div>
              	</div>
            </div>
            <!-- Tab Content 5 End -->
            
            <!-- Tab Content 6 Start -->
            <div>
            	<div class="panel panel-default">
                    <div class="panel-heading"><h4><span class="glyphicon glyphicon-th"></span> <?php echo $this->translator->translator('Cancellation Policy'); ?></h4></div>
                    <div class="panel-body">
                    	<?php							
						if($this->view_datas['hotel']['cancellation_policy'])
						{	
							echo '<ul>';
							foreach($this->view_datas['hotel']['cancellation_policy'] as $cancellation_policy)
							{	
								if($cancellation_policy)
								{							
						?>
								  
								<li><?php echo $this->escape($cancellation_policy); ?></li>
						<?php
								}
							}
							echo '</ul>';
						}
						?>
                   	</div>
              	</div>
            </div>
            <!-- Tab Content 6 End -->
		</div>
	</div>
    <script>
		$("#demoTab").easyResponsiveTabs({
			type: 'accordion', //Types: default, vertical, accordion           
			width: 'auto', //auto or any custom width
			fit: true   // 100% fits in a container
		});
	</script>
    <!-- Details Tab End --> 
</div>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<?php
}
endif; ?>	