/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Logistics Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}


input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	margin:0 0 0 10px;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 0 5px 8px;
}

select option{
	padding:0 4px 0 0;
}

hr{
	margin:10px 0;
	border-top:1px solid #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

/* Header --------------------------------------------------------------------------- */

#header .right {
	text-align:left;
}

/* ---------------------------------------------------------------------------------- */

/* Top Bar -------------------------------------------------------------------------- */

.top-links {
	text-align:left;
}

.top-links ul li {
	margin-right: 0;
	padding: 0 2px 0 5px;
	border-right: 0;
	border-left: 1px solid #B4B4B4;
}

.top-links ul li.first {
	margin-right: 0;
	border-right: none;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner .content h2{
	margin-left: 0;
	margin-right: 70px;
}

#banner img{
	float:left;
}

#banner-inner .btn-group{
	float:left;
	text-align:left;
}

#banner-inner .btn-group a{
	margin-left:0;
	margin-right:4px;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block .thumb{
	margin: 2px 0 2px 4px;
	float:right;
}

.block .more{
	text-align:left;
}

.left-float {
	float:right;
	margin: 0 0 5px 10px;
}

.right-float {
	float:left;
	margin: 0 10px 5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .social a{
	margin-right:0px;
	margin-left:2px;
}

#footer .links ul li {
	padding: 0 5px 0 1px; 
	border-left: 0;
	border-right: 1px solid #A8AAAC;
}
			
#footer .links ul li.first{ 
	border-right:0;
	padding-right:0;
}

.go-top a{
	right:0;
	left:30px;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.dm-menu li:hover ul,
.dm-menu li.sfHover ul {
	top:			4.42em !important;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-repeat:no-repeat;
	background-position: left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown dt a span{
	line-height:15px;
}

.dropdown dd ul{ 
	right:0px;
}

.dropdown span.flag{
	margin-left:0;
	margin-right:10px;
	float:left;
}

.dropdown dd ul li{
	border-left:0;
}

.dropdown dd ul li a{
	display: inline-block;
	width:100%;
}

/* ---------------------------------------------------------------------------------- */

/* Shipment Tracker ----------------------------------------------------------------- */

.block-tracker{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Recent Products ------------------------------------------------------------------ */

.block-recent-product img.thumb{
	float:right;
	margin:10px 28px 10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Content AD ----------------------------------------------------------------------- */

.block-ad-content .block-content .box{
	float:right;
	margin-right:0;
	margin-left:10px;
}

.block-ad-content .block-content .box.last{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad .block-body .simply-scroll .simply-scroll-list li{
	margin:0 0 0 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe p{
	float:right;
	clear:right;
}

.block-subscribe input[type="text"]{
	float:left;
}

.block-subscribe input[type="button"]{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Quick Contact -------------------------------------------------------------------- */

.block-contact p{
	float:right;
	clear:right;
}

.block-contact input[type="text"], .block-contact textarea{
	float:left;
}

.block-contact a{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0px -1px 0 4px;
}

.usual-content{
  clear:right;
  border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
}		

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .col{
	padding: 0 0 3px 12px;
	float:right;
}

.mod .social{
	float:left;
	text-align:left;
}

.mod .list{
	margin:5px 10px 5px 0;
	float:right;
}

.mod .list ul li{
	background-image:url(../images/list-arrow-rtl.png);
	background-position:98% 10px;
	padding:0 20px 0 0;
}

.mod .thumb{
	margin: 0 0 0 10px;
	float:right;
}

.mod .more a {
	background-image: url(../images/arrow-rtl.png);
	background-position:right center;
	float:right;
	padding: 0 15px 0 0;
	clear:right;
}

.mod .chart .label{
	float:right;
	text-indent:8px;
	clear:left;
}

.mod .chart .value{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Advance Shipment Search ----------------------------------------------------------- */

.mod-tracker .tracker-status-col-1{
	border-right:0;
	border-left: 1px solid #FC0;
}

.mod-tracker .tracker-chart-header-col-1{
	border-right:0;
	border-left: 1px solid #FFF;
}

.mod-tracker .tracker-chart-row2 .row2-col{
	padding-left:0;
	padding-right:4px;
	margin-left:0px;
}

.mod-tracker .mod-label.tracking-label{
	float:right;
}

.mod-tracker .delivered,
.mod-tracker .undelivered{
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	float:left;
}

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */
