<div id="container">
<?php if (!$this->allow()) : ?>
	<h1><?php echo $this->translator->translator('Member_profile_redirection'); ?></h1>
    <script>
		document.location.href = "<?php echo $this->serverUrl().$this->baseUrl().'/Members-Profile-Update'; ?>"
	</script>
<?php else : 
	 
    $this->headTitle()->headTitle($this->translator->translator('members_dashboard_block_header_title', '', 'Members'),'SET');
    ?>
    <!-- Content Start-->
    <article class="member-dashboard">	
        <h1><?php echo $this->translator->translator('members_my_dashboard_block_header_title', '', 'Members'); ?></h1>
        <br />
        <?php echo $this->partial('blocks/members_content_info.phtml'); ?>
        <?php echo $this->partial('blocks/members_content_controlPanel.phtml'); ?>
        
        <div class="clear"></div>
        <?php echo $this->partial('blocks/news_content_latest.phtml'); ?>
    </article>
    <!-- Content End -->
   <?php endif; ?>
</div>