<?php
if (!$this->allow()) : 
?>
<h1><?php echo $this->translator->translator('Member_Access_deny_desc'); ?></h1>
<?php else : 
$this->headTitle()->headTitle($this->translator->translator('members_frontend_list_page_name'),'SET');
$front_template = Zend_Registry::get('front_template');
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$permission_arr = array('edit_enable' => $this->allow('edit','members','Members'), 'publish_enable' => $this->allow('ajaxactivedeactiveusers','index','Members'), 'delete_enable' => $this->allow('ajaxdeleteusers','index','Members'), 'search_enable' => $this->allow('ajaxsearchusers','index','Members'));	
?>
<script type="text/javascript">
$(document).ready(function() {
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url( array('module' => 'Members','controller' => 'members', 'action'     => 'list'), 'Members-Frontend-List',    true) ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('Member_list_page_search_button'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
							search_form_id : 'formUserSearch',
							search_form_btn : 'user_search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Members', 'controller' => 'index', 'action' => 'ajaxactivedeactiveusers' ), 'adminrout',    true) ?>",
								publish_dest_data_field 	: 	['user_id', 'username', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/user-active.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/user-deactivate.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Members', 'controller' => 'index', 'action' => 'ajaxdeleteusers' ), 'adminrout',    true) ?>",
								delete_dest_data_field 		: 	['user_id', 'username'],
								
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Members', 'controller' => 'index', 'action'     => 'publishall' ), 'adminrout',    true) ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Members', 'controller' => 'index', 'action'     => 'deleteall' ), 'adminrout',    true) ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: { virtual: false },
						detailInit:	false,
						dataBound: false,
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        user_id: { type: "number" },
                                        username: { type: "string" },
                                        full_name: { type: "string" },
                                        last_access: { type: "date" },
                                        role_name: { type: "string" },
                                        register_date: { type: "date" }
                                    }
                                },	
						<?php if ($permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>					
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${user_id}" class="check_btn" />', width: 25, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "user_id", 		
												title: 	"<?php echo $this->translator->translator('Member_list_page_user_id'); ?>", 
												width: 40 , 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ field: "username", 		title: 	"<?php echo stripslashes($this->translator->translator('Member_list_page_username')); ?>", width: 130},
											{ field: "full_name", 		title:	"<?php echo $this->translator->translator('members_frontend_list_page_user_full_name'); ?>" },
											{ field: "role_name", 		title:	"<?php echo $this->translator->translator('Member_menu_user_group'); ?>", width: 110 },
											{ 
												field: "last_access", 	
												title:	"<?php echo $this->translator->translator('members_frontend_list_page_user_last_access'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												attributes:{ 'align' : 'center' },
												template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${last_access_format}">#= kendo.toString(last_access,\'dd/MM/yyyy\') #</div>',
												width: 85, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											{ 
												field: "register_date", 	
												title:	"<?php echo $this->translator->translator('Member_list_page_user_register_date'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												attributes:{ 'align' : 'center' },
												template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${register_date_format}">#= kendo.toString(register_date,\'dd/MM/yyyy\') #</div>',
												width: 110, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('Member_list_page_user_action'); ?>", 
												width: 85, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module' => 'Members','controller' => 'members', 'action'  => 'edit','user_id' => '' ), 'Members-Profile-Edit/:user_id',    true) ?>/${user_id}" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/user-edit.gif" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															' <a href="javascript:void(0);" class="publish_btn"  rel="${user_id}_${publish_status_username}_#= (status == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (status == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/user-active.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/user-deactivate.gif\' #" border="0" title="#= (status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a>'+ 
															'<?php if ($permission_arr['delete_enable']) : ?> <a href="javascript:void(0);" class="delete_btn"  rel="${user_id}_${publish_status_username}"><img src="application/modules/Administrator/layouts/scripts/images/tools/user-delete.gif"  border="0" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
											//{ command: { text: "View Details", click: gridPublish }, title: " ", width: "140px" }
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("member_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("member_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);	
});
</script>
<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['publish_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('common_publish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('common_unpublish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		
			<?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		</div>
	</div>
</script>

<!-- Content Start-->
<article class="member-dashboard">	
  	<h1><?php echo $this->translator->translator('members_frontend_list_page_name'); ?></h1>
    <br />
    <div class="member-block block-control-panel">
        <div class="block-heading">
            <div class="symbol"><?php echo $this->translator->translator('members_dashboard_block_user_list_header_title', '', 'Members'); ?></div>
        </div>        
        <div class="block-body">
        		 
             <?php if ($permission_arr['search_enable']) : ?>
        	<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="user-icon"><?php echo $this->translator->translator('Member_list_page_search_user'); ?></a></div>
            <div id="slickbox" class="toggle-container">
                <form id="formUserSearch" name="formUserSearch" onsubmit="return false">
                	<div class="toggle-search">
                    	<div class="toggle-row">
                        	<div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_in'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                            	<select  name="search_by" id="search_by">
                                    <option value=""><?php echo $this->translator->translator('Member_list_page_any'); ?></option>
                                    <option value="user_id"><?php echo $this->translator->translator('Member_list_page_search_by_user_id'); ?></option>
                                    <option value="full_name"><?php echo $this->translator->translator('members_frontend_list_page_search_by_user_name'); ?></option>
                                    <option value="username"><?php echo $this->translator->translator('Member_list_page_search_by_email'); ?></option>
						  		</select>
                            </div>
                            
                            <div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_for'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                            	<input type="text" name="SearchKey" id="SearchKey" />
                            </div>
                            
                            <div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_in_group'); ?></span>
                          	</div>
                            
                            <div class="toggle-field">
                                <select name="role_id" id="role_id">
                                  <option value=""><?php echo $this->translator->translator('Member_list_page_any'); ?></option>
                                  <?php
                                  foreach ($this->roleList as $roles)
                                  {							  	
                                    if($roles->role_lock == '1')
                                    {
                                  ?>
                                    <option value="<?php echo $roles->role_id; ?>"><?php echo $this->escape($roles->role_name); ?></option>
                                  <?php
                                    }
                                  }
                                  ?>							  
                                </select>
                           	</div>
                        </div>
                        
                        <div class="toggle-row">
                        	<div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_by'); ?> 
                                &nbsp; <?php echo $this->translator->translator('Member_list_page_search_by_year'); ?></span>
                          	</div>
                            
                            <div class="toggle-field">
                            	<select  name="search_year" id="search_year">
                                  	<option value=""><?php echo $this->translator->translator('Member_list_page_any'); ?></option>
                                    <?php
                                    for($y = date("Y");$y >= date("Y")-70; $y--)
                                    {
                                    ?>
                                    <option value="<?php echo $y; ?>"><?php echo $y; ?></option>
                                    <?php
                                    }
                                    ?>
                              	</select>
                            </div>
                            
                            <div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_by_month'); ?></span>
                          	</div>
                            
                            <div class="toggle-field">
                            	<select  name="search_month" id="search_month">
                                <option value=""><?php echo $this->translator->translator('Member_list_page_any'); ?></option>	
                                <?php 
								$month_arr = explode(', ', $this->translator->translator('common_calender_monthNames')); 
								foreach($month_arr as $month_key => $month_value)
								{
									$month_value = str_replace("]", "", str_replace("[", "", str_replace("'", "", $this->escape($month_value))));
								?>					  	
                                <option value="<?php echo $month_value ?>"><?php echo $month_value ?></option>
                                <?php
								}
								?>												
                              	</select>
                            </div>
                            
                            <div class="toggle-label">
                            	<span class="label"><?php echo $this->translator->translator('Member_list_page_search_by_day'); ?></span>
                          	</div>
                            
                            <div class="toggle-field">
                            <select name="search_day" id="search_day">
							  	<option value=""><?php echo $this->translator->translator('Member_list_page_any'); ?></option>
							    <?php
								for($d = 1;$d <= 31; $d++)
								{
								?>
								<option value="<?php if($d > 0 && $d < 10) { echo '0'.$d; }else{ echo $d; } ?>"><?php if($d > 0 && $d < 10) { echo '0'.$d; }else{ echo $d; } ?></option>
								<?php
								}
								?>							  
							</select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="clr form-button-container">
                    	<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="user_search_btn"><span class="icon search"><?php echo $this->translator->translator('Member_list_page_search_button'); ?></span></a></span>
                    </div>
				</form>
        	</div>					
        <?php endif; ?> 
                        	  
        	 <div id="example">
             	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
   					 <div id="grid"></div>  
                 </div> 
             </div> 
             
             
                          
        </div>
    </div>    
</article>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('members_frontend_list_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<!-- Content End -->
<?php endif; ?>