<?php
if($this->translator->translator('property_front_page_advanced_search')) { $this->headMeta()->setName('keywords',$this->translator->translator('property_front_page_advanced_search'));}
if($this->translator->translator('property_front_page_advanced_search')) { $this->headMeta()->setName('description',$this->translator->translator('property_front_page_advanced_search')); }
if($this->translator->translator('property_front_page_advanced_search')) { $this->headTitle()->headTitle($this->translator->translator('property_front_page_advanced_search'),'SET'); }

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','property_page' );

$global_conf = Zend_Registry::get('global_conf');

$allow_obj = new Property_View_Helper_Allow();


$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id', 'page');
?>
	
	<script type="text/javascript">
    $(document).ready(function() {
        var settingSearchObj = {
                            grid_id : 'property-grid',
                            dest_url : "<?php echo $this->url( array('module' => 'Property', 'controller' => 'search', 'action' => 'search', 'group_id' =>  $this->posted_data['group_id']), ($this->posted_data['menu_id']) ? $this->posted_data['menu_id'] : 'Search-Property-List/*',    true); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_property_btn',
								server_url: "<?php echo $this->url( array('module' =>'Property','controller' => 'frontend', 'action' => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
							dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															$value = (is_array($value)) ? implode(',', $value) : $value;
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
														{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    text_truncate();
                                    commonVoting();		
									itemSave(settingSearchObj);
									try
									{
										blokSearchFunction(settingSearchObj);
									}
									catch(e){ }													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("property_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("property_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingSearchObj);
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
    </script>
    <script type="text/x-kendo-template" id="view_template">
		  <div class="products-list">
			  <!-- List Header Start -->
			  <div class="list-header">
				  <div class="header-row">
					  <div class="header-left">
						  <span class="title-small"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" title="#= property_name #">#= property_name_format #</a></span><br />
						  <span class="info">
							  # if(feature_room_no){ # #= feature_room_no # #= '<?php echo html_entity_decode($this->translator->translator('property_front_page_room'), ENT_QUOTES, "UTF-8"); ?>' # #} #
							  # if(feature_bedroom){ # #= ', ' # #= feature_bedroom # #= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_bedroom_no'), ENT_QUOTES, "UTF-8"); ?>' # #} #
						  </span>  
					  </div>
				  
					  <div class="header-middle">
						  <span class="products-mark">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_for'), ENT_QUOTES, "UTF-8"); ?>' #</span>&nbsp;<span class="products-type">#= business_type #</span>
					  </div>
				  
					  <div class="header-right"> 
						  # if(review_id){ #                                         
						  <span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
						  <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/7">#= review_no_format #</a></span>
						  # } #
					  </div>
				  </div>
			  </div>
			  <!-- List Header End -->
			  
			  <!-- List Body Start -->
				<div class="body-container #= (featured == '1') ? 'products-featured' : '' #">
					 <div class="left-content">
							<div class="img-wrapper">
								<a href="<?php echo $this->url(array('module' => 'property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" link="#= property_image_format #" title="#= property_name #"><img src="#= property_image_format #" border="0" #= thumb_width # #= thumb_height # class="thumb" /></a>
								<div class="photo-count-container">
									<div class="photo-count">
										<a href="<?php echo $this->url(array('module' => 'property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/1" title="#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_click_view_photos'), ENT_QUOTES, "UTF-8"); ?>" #">#= property_image_no_format #</a>
									</div>
								</div>                                            
							</div>
							
							<h2>
								<a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" link="" title="#= property_name #">#= property_name_format #</a>
							</h2>
							
							<div class="products-stars">
								#= list_stars_format #
							</div>
							
							<div class="products-desc">
								  <p><?php echo html_entity_decode($this->translator->translator('property_front_page_property_country'), ENT_QUOTES, "UTF-8"); ?></p> #= country_name #<br />
								  <p><?php echo html_entity_decode($this->translator->translator('property_front_page_property_location'), ENT_QUOTES, "UTF-8"); ?></p> #= state_name # # if(city){ # #= ', ' + city # # } #<br />
								  <p><?php echo html_entity_decode($this->translator->translator('property_front_page_property_desc'), ENT_QUOTES, "UTF-8"); ?></p>
								<span class="jTruncate">#= property_desc_format #</span>
							</div>
							
					 </div>
					 
					 <div class="right-content">
					  <span class="products-price"># if(property_price){ # #= '<?php  echo html_entity_decode($this->translator->translator('property_front_page_price'), ENT_QUOTES, "UTF-8").$this->currency->getSymbol().' '; ?>' # #= property_price # # } #</span>
						<ul class="products-options">	
							#
							  if( book_calendar_enable ) 
							  {
							#
							<li class="availability"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/4" title="Check Calendar for reservation">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_label_check-availability'), ENT_QUOTES, "UTF-8"); ?>' #</a></li>
							#
							  }													  															
							  if(feature_bathroom)
							  {
							#						  
							<li class="bathroom">#= feature_bathroom #&nbsp;#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_bathroom'), ENT_QUOTES, "UTF-8"); ?>' #</li>						  
							#
							  }							 
							#						  
							<li class="kitchen">#= (feature_kitchen) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_kitchen'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_kitchen'), ENT_QUOTES, "UTF-8"); ?>' #</li>						  
												
							<li class="garden">#= (feature_garden) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_garden'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_garden'), ENT_QUOTES, "UTF-8"); ?>' #</li>						  
												
							<li class="garage">#= (feature_garage) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_garage'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_garage'), ENT_QUOTES, "UTF-8"); ?>' #</li>						  
							
						</ul>
						
						<div class="products-vote">
							<p>#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
							<span>#= vote_format #</span>
						</div>
					 </div>				   				   
			  </div>
			  <!-- List Body End -->
			   
		  
		  <!-- List footer start -->
			  <div class="list-footer">
				  <div class="footer-left">
					  <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/5">#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_property_f_b'), ENT_QUOTES, "UTF-8"); ?>" #</a> | 
					  <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/2">#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_property_fpan'), ENT_QUOTES, "UTF-8"); ?>" #</a> |
					  <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/3">#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_property_map'), ENT_QUOTES, "UTF-8"); ?>" #</a>  | 											 
					  <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/1">#= "<?php echo html_entity_decode(ucfirst(strtolower($this->translator->translator('property_front_page_property_photo'))), ENT_QUOTES, "UTF-8"); ?>" #</a>  |
					  <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '', 'form_id' => '' ),'Email-To-Friend/:property_title/:form_id',true); ?>/#= property_title #/<?php echo $this->translator->translator('email_to_friend_form_id'); ?>">#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_property_email_friend'), ENT_QUOTES, "UTF-8"); ?>" #</a>
				  </div>
			  
				  <div class="footer-right">
					  <span class="products-save-btn"><a  href="javascript:void(0);" class="save_property_btn" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("property_front_page_save_property"), ENT_QUOTES, "UTF-8"); ?></a></span>&nbsp;
					  <?php if($global_conf['payment_system'] == 'On') : ?><span class="products-book-btn"># if( book_calendar_enable ) { #<a href="<?php echo $this->url(array('module' => 'Property','controller' =>'book', 'action' => 'booking','property_title' => '' ),'Book-Property/:property_title',true) ?>/#= property_title #">#= "<?php echo html_entity_decode($this->translator->translator('property_front_page_property_book'), ENT_QUOTES, "UTF-8"); ?>" #</a># } #</span><?php endif; ?>
					  <span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/#= property_title #">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_more'), ENT_QUOTES, "UTF-8"); ?>' #</a></span>
				  </div>                                
			  </div>
		  <!-- List footer end -->
		  </div>	
  </script>
    <div class="mod">
        <div class="list-icon property">
            <h1><?php echo $this->translator->translator('property_front_page_advanced_search'); ?></h1>
        </div>   
        
        <div class="social">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
            <!-- AddThis Button END -->
        </div>
        <div class="clear"></div>
        
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                   <div id="property-grid"></div>  
         </div>
        
    </div>	
	<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('property_front_page_list')); ?>"></div>
