<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
$headTitle = $this->translator->translator('b2b_success_stories_list');
$this->headTitle()->headTitle($headTitle,'SET'); 

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;


?>
<script type="text/javascript">
    $(document).ready(function() {
		text_truncate();
    });
	
	
	
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>
<div class="mod">
	<h1><?php echo  $this->translator->translator('b2b_success_stories_list')?></h1>
    <div class="search">
		<a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontend','action' => $this->getAction),'Success-Stories/*',true); ?>" class="btn btn-block btn-seo"><span class="glyphicon glyphicon glyphicon-link"></span> <?php echo $this->translator->translator('common_user_friendly_link'); ?></a>
    </div>            
    <br>       
    <div id="slickbox" class="well category-list">
        <?php
        if($this->category_info)
        {
        ?>
        <ul class="list-unstyled">
            <?php
                $i = 1;
                foreach($this->category_info as $info)
                {
                    $link = $this->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'sellist', 'category' => $this->escape($info['url_portion'])), 'All-b2b-Seo-Selling-list/*', true);
                    $thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
                ?>						
                    <li>
                    	<span class="glyphicon glyphicon-folder-open"></span> <a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span class="count">(<?php echo $this->numbers($this->escape($info['selling_leads_num'])); ?>)</span>
                    </li>							
                <?php
					/*
                    if($i % 2 == 0)
                    {
                        echo '</ul><ul>';
                    }
                    $i++;
					*/
                }
            ?>
		</ul>
        <?php
        }
        ?>
    </div>
    
	<?php			
        if($this->json_arr && $this->json_arr['status'] == 'ok')
        {
            if($this->json_arr['data_result'])
            {
    ?>
			<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/storylist-pagination-flickr.phtml'); ?>
    <?php
	foreach($this->json_arr['data_result'] as $key => $entry)
	{
		if($entry['seo_title']) {													
  	?>                          
            <div class="panel panel-default">
            	<div class="panel-body">
                	<h4 class="text-center"><a href="Story-Details/<?php echo $entry['seo_title']; ?>"><?php echo $this->escape($entry['title']); ?></a></h4>
                    
                    <figure>
                        <div class="thumb">
                            <a href="Story-Details/<?php echo $entry['seo_title']; ?>/">  
							<?php if ($entry['profile_image_primary_format'] != 0) { ?>
                                <img src="<?php echo $entry['profile_image_primary_format']; ?>" width="150" border="0"/> 
                            <?php
                            } 
                            else {  
                            ?>
                            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="150"/>
                            <?php	
                                }
                            ?>				
                            </a>
                        </div>
                    </figure>
                    <br>
                    <div class="details">
                    	<?php
                        if($entry['description']){ 
						?>
			
							<span class="text-title"><?php  echo $this->translator->translator('b2b_fontend_short_description') ?></span> : <span class="jTruncate"><?php echo $this->escape($entry['description']); ?></span><br> 
						<?php 
							} 
							if($entry['full_name']){
						?>
							<span class="text-title"><?php  echo $this->translator->translator('b2b_fontend_posted_by') ?> </span>  : <?php echo $this->escape($entry['full_name']); ?><br>
			
						<?php 
							} 
							if($entry['main_products']){
						?>
							<span class="text-title"><?php  echo $this->translator->translator('b2b_keywords_main_products') ?> </span>  :   <?php echo $this->escape($entry['main_products']); ?><br>
							
						<?php
							} 
						   
							if($entry['trade_type']){
											
								switch ($entry['trade_type']){						
									case '1' :	echo '<br /> <span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_sellers') . ' <br /> ';						
											break;
									case '2' :	echo ' <span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_buyers') . ' <br /> ';	
											break;
									case '3' :	echo ' <span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_both') . ' <br /> ';
									
									default:	break;							 
								}
							}
			
							if($entry['company_name']){
						?>
							<span class="text-title"><?php  echo $this->translator->translator('b2b_front_company_profile_name') ?> </span> : <a href="Company-Details/<?php echo $this->escape($entry['company_title']); ?>"> <?php echo $this->escape($entry['company_name']); ?>  </a><br>
						<?php
							}
						?>				
                    </div>
                	<br>
                   	<ul class="list-group">
                    	<li class="list-group-item">
                       		<?php  echo  $this->translator->translator('b2b_front_company_get_involved')?> :
        				</li>                            
						<?php  
                            if($entry['package_name']){
                        ?>
                        <li class="list-group-item">
                            <span class="label label-primary"><a href="Premium-Membership"> <?php echo $this->escape($entry['package_name']); ?></a></span>
                      	</li>
                        <?php  
                            } 
                        ?>
                        
						<?php 
                            if($entry['establishing_year']){
                        ?>
                       	<li class="list-group-item">
							<?php  echo $this->translator->translator('b2b_front_company_profile_since') ?> :   <?php echo $this->escape($entry['establishing_year']); ?>
                      	</li>
                        <?php
                            } 
                            if($entry['country_code']){
                        ?>
                      	<li class="list-group-item">
							<?php  echo  $this->translator->translator('b2b_fontend_country_of_orgin')?>:   
                            <img src="data/adminImages/flagsImage/<?php echo $this->escape($entry['country_code']); ?>.gif" border="0" /> &nbsp; ( <?php echo $this->escape($entry['state']).' '.$this->escape($entry['city']); ?> )
            			</li>
                        <?php
                            }
                            if ($this->preferences_data['show_inquiry_btn']) {
                                if($entry['is_feedback'] === 'YES'){
                        ?>
                        <li class="list-group-item">
                       		<a href="Inquiry/<?php echo $this->escape($entry['company_title']); ?>" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> <?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a>
                     	</li>
                        <?php
                            } 
							} if ($this->preferences_data['show_contact_btn']) {
							if($entry['is_profile'] === 'YES'){
                        ?>
                        <li class="list-group-item">
                        	<a href="Company-AboutUs/<?php echo $this->escape($entry['company_title']); ?>" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> <?php  echo  html_entity_decode($this->translator->translator('menu_members_view_business_profile'), ENT_QUOTES, "UTF-8")?></a>
                      	</li>
                        <?php
                        	}
                      	} 
                        ?>
                    </ul>
                </div>
            </div>                        
	<?php
         } 
    }
    ?>
			<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/storylist-pagination-flickr.phtml'); ?>
    <?php
            }
        }
        else
        {
            echo $this->json_arr['msg'];
        }
    ?>
</div>

<div id="dialog_msg"></div>