/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Flight Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */


@charset "utf-8";

/* LAYOUT STYLES ******************************************************************** */

#content{
	float:left;
}

/* Side Bar ------------------------------------------------------------------------- */

#sidebar.flight{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* Block Box Model ------------------------------------------------------------------ */

.block .block-heading .symbol{
	background:url(../images/round-arrow-rtl.png);
	background-position: 98% center;
	background-repeat:no-repeat;
	padding:10px 35px 10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Sidebar Search ------------------------------------------------------------ */

.block-sidebar-search .icon{
	background-repeat:no-repeat;
	background-position: 99% center;
	padding: 12px 45px 12px 0;
}

.route-add{
	background-repeat:no-repeat;
	background-position:right center;
	padding:0 15px 0 0;
}

.route-delete{
	background-repeat:no-repeat;
	background-position:right center;
	padding:0 18px 5px 0;
}

/* Dynamic Field Start */

div.dynamic_fields{
	float:right;
}

div.radio_fields{
	float:right;
}

div.radio_button{
	float:right;
	width:96px;
}

div.route_fields{
	float:right;
}	

div.route_box_first_row{
	float:right;
}

span.flight_route_departure_box{
	float:right;
	margin:0 5px 0 0;
}

span.flight_route_arrival_box{
	float:right;
	margin:0 5px 0 0;
}

div.route_box_second_row{
	float:right;
}

div.route_box_delete_row{			
	float:left;
}

span.flight_route_departure_date_box{					
	float:right;
	margin:0 5px 0 0;
}

span.flight_route_arrival_date_box{
	float:right;
	margin:0 5px 0 0;
}

div.static_fields{
	float:right;
}

span.adult_box{
	float:right;
	padding:0 5px 0 10px;
}	

span.child_box{
	float:right;
	padding:0 25px 0 0;
}

span.infant_box{
	float:right;
	padding:0 35px 0 0;
}

span.class_type_box{
	float:right;
	padding:0 5px 0 0;
}

/* Dynamic Field End */

/* ---------------------------------------------------------------------------------- */

/* Flight API AD -------------------------------------------------------------------- */

.block-api-ad{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Add ----------------------------------------------------------------------- */

.listing.flight-add{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Flight News ---------------------------------------------------------------------- */

.more-link.flight-more{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Destination ------------------------------------------------------------- */

.block-featured .block-body{
	padding: 10px 8px 10px 0;
}

.block-featured .col{
	min-height:220px;
	margin: 5px 8px 12px 0 !important;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Chart --------------------------------------------------------------------- */

.flight-chart-header-col-1{
	border-right: 0;
	border-left: 1px solid #FFF;
}

.flight-chart-row2 .row2-col{
	padding:0 4px 0 0;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Booking & Request a Quote ------------------------------------------------- */

.flight-booking-header-col-1{
	border-right: 0;
	border-left: 1px solid #FFF;
}

.booking-details .flight-img{
	float:right;
	margin: 4px 25px 0 15px;
}

.booking-details .flight-info{
	margin-right:0;
	margin-left:10px;
}

.payment-details .item-label{
	float:right;
}

.payment-details .item-value{
	float:left;
	text-align:left;
}

.payment-details .quote-item-label{
	float:right;
}

.payment-details .quote-item-value{
	float:left;
	text-align:left;
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Itinerary List ------------------------------------------------------------ */

div.itinerary_main_body_block_clild_body_box2_row1_column1{
	float:right;
}

div.itinerary_main_body_block_clild_body_box2_row1_column2{
	float:right;
}

div.itinerary_main_body_block_clild_body_box2_row1_column3{
	float:right;
}

div.itinerary_main_body_block_clild_body_box2_row1_column4{
	float:left;
}

.itinerary-header{
	margin-left:0;
	margin-right:5px;
}

/* ---------------------------------------------------------------------------------- */

/* Flight API ----------------------------------------------------------------------- */

.flight-api-search{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Table Sorter --------------------------------------------------------------------- */

.dataTables_processing{
	right: 50%;
}

.dataTables_length{
	float:left;
	text-align:left;
}

.dataTables_filter{
	text-align:right;
}

.dataTables_info{
	float:right;
}

.dataTables_paginate{
	float:left;
	text-align:left;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next{
	margin-left: 0;
	margin-right: 3px;
	float:right;
}

.sorting_asc{
	background-position: left center;
	background-repeat:no-repeat;
}

.sorting_desc{
	background-position: left center;
	background-repeat:no-repeat;
}

.sorting{
	background-position: left center;
	background-repeat:no-repeat;
}

.sorting_asc_disabled{
	background-position: left center;
	background-repeat:no-repeat;
}

.sorting_desc_disabled{
	background-position: left center;
	background-repeat:no-repeat;
}

div.table_column_box_1 .thumbnail img{
	margin:10px -30px 0 0 ;
}

div.table_column_box_5{
	text-align:right;
	padding-left:0;
	padding-right:10px;
}

div.table_column_box_6{
	border-right:0;
	border-left:1px solid #E8E8E8;
}

div.details_main_going_title{
	padding-left:0;
	padding-right:10px;
}

div.details_main_going_body_column_1{
	float:right;
	padding-right:5px;
	padding-left:15px;
}

div.details_main_going_body_column_2{
	float:right;
	padding-right:0;
	padding-left:10px;
}

div.details_main_going_body_column_3{
	float:right;
	padding-right:0;
	padding-left:10px;
}

div.details_main_going_body_column_4{
	float:right;
	padding-right:0;
	padding-left:10px;
}

#sortTable tr td.right{
	text-align:left;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Details ------------------------------------------------------------------- */

.flight-details-header{
	width:70%;
	float:right;
}

.flight-vote{
	float:left;
}

.flight-fair-label{
	float:right;
}

.flight-fair-value{
	float:right;
	text-align:left;
	padding-right:0;
	padding-left:5px;
	margin-right:0px;
}

.route_box_head_column1{
	float:right;
}
		
.route_box_head_column2{	
	float:right;
}

.route_box_body_column1{
	float:right;
	border-width:0 0 0 1px ;
}
		
.route_box_body_column1 p{
	padding: 5px 10px 5px 5px;
	text-align:right;
}

.route_box_body_column2{
	float:right;
}

.route_box_body_column2 p{
	padding: 5px 10px 5px 0;
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Flight Schedule Search ----------------------------------------------------------- */

.result-header th{
	border-left:0;
	border-right:1px solid #9BB9F7;
}

th.first{
	border-left:0;
	border-right:1px solid #0066CC !important;
}

th.last{
	border-right:0;
	border-left:1px solid #0066CC !important;
}

.mod .mod-container .flight_route_arrival_date_box{
	margin:7px 5px 0px 0;
}

.mod .mod-container div.route_box_delete_row,
.mod .mod-container delete_route_fields_btn{		
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   Developer's New and customized CSS
   ___________________________________________________________________________________ */

