.futurico-theme.slider-wrapper {
	position: relative;
	width: 240px;
	height: 180px;
	padding: 5px;
	background:#DFDFDF;
	margin:0 0 0 17px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
}

.futurico-theme .nivoSlider {
	position: relative;
	width: 240px;
	height: 180px;
}

.futurico-theme .nivoSlider img {
	display: none;
	position: absolute;
	width: 240px;
	height: 180px !important;
	top: 0;
	left: 0;
}

.futurico-theme .nivo-controlNav {
	position: absolute;
	bottom: -23px;
	left: 36%; /* Change this to center the navigation */
}

.futurico-theme .nivo-controlNav a {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	text-indent: -9999px;
	
	background:#CCC;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
	box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
}


.futurico-theme .nivo-controlNav a.active,
.futurico-theme .nivo-caption span {
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);

	-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
	box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 0px 0px rgba(0,0,0, .3);
}

.futurico-theme .nivo-directionNav a {
	display: block;
	top: 60px;
	font-family: 'Consolas', sans-serif;
	font-size: 40px;
	color: #AEAEAE;
	text-shadow: 0px 1px 1px rgba(255,255,255, .05);
}

.futurico-theme .nivo-directionNav a {
	text-decoration:none;
}

.futurico-theme a.nivo-prevNav { left: -25px; }

.futurico-theme a.nivo-nextNav { right: -25px; }

.futurico-theme .nivo-caption {
	padding: 5px 0;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #e1e1e1;
	text-align:center;
	background: #000000;
	/*-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;*/
}

.futurico-theme .nivo-caption span {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 5px 1px 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.futurico-theme .nivo-caption {
	color:#FFF;
	font-size:13px;
	font-style:italic;
}