/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Hotel Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

@charset "utf-8";

/* LAYOUT STYLES ******************************************************************** */

#sidebar{
	float:right;
}

#content{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* Block Count ---------------------------------------------------------------------- */

.block-hotel-count h1{
	text-shadow: -1px 1px 1px #FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Banner Search -------------------------------------------------------------------- */

.block-search{
	left:20px;
}

.block-search .col{
	padding: 0 0 3px 12px;
	float:right;
}

.block-search p{
	padding: 4px 0 4px 8px;
}

.block-search a{
	background:url(../images/arrow-white-rtl.png) no-repeat right center;
	padding:0 15px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search p{
	clear:right;
}

.block-sidebar-search .block-content-2 p.col{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Product Advance Search ----------------------------------------------------------- */

.mod-advance-search .ui-widget .ui-button{ 
	margin-left: 0px;
	margin-right: -1px;
}

/* ---------------------------------------------------------------------------------- */

/* Product List --------------------------------------------------------------------- */

.products-call{
	background-position: 99% 4px;
	background-repeat:no-repeat;
    padding: 2px 26px 0px 4px;
	float:right;
}

.products-featured{
	background-position:30% 40px;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart ---------------------------------------------------- */

.room-chart.details{
	margin-right:0;
}

.room-chart-header-col-1{
	border-right:0;
	border-left: 1px solid #FFF;
}

.room-chart-row2 .room-chart-c1{
	border-right:0;
	border-left: 1px solid #FFF;
	padding:6px 5px 6px 0;
	text-align:right;
}

.room-chart-row2 .room-chart-c1.room-chart-c4{
	text-align:left;
}

.room-chart-row3 .room-chart-c1.room-chart-c4{
	text-align:left;
}

.hotel-available{
	background-repeat:no-repeat;
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

.hotel-not-available{
	background-repeat:no-repeat;
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

.hotel-room-left{
	background-repeat:no-repeat;
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

.hotel-room-last{
	background-repeat:no-repeat;
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

.person-count{	
	margin-left:0;
	margin-right:4px;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart Details Page --------------------------------------- */

/* Details Page Chart Body Settings */

.room-chart-row2 .room-chart-c1.room-chart-c3.details-col-3{
	text-align:left;
}

.room-chart-row2 .room-chart-c1.room-chart-c4.details-col-4{
	text-align:right;
}

select.multi-hotel-room{
	margin-right:0px;
}

/* Room Price Per Day Chart - Start */

.room-types .price-container .room-per-day{
	float:right;
}

.room-types .price-container .price-per-day{
	float:left;
}

/* Room Price Per Day Chart - End */


/* Suggestion Chart Start -*/

.room-suggestion .chart-row .col-3{
	text-align:left;
}

.room-suggestion .chart-row .col-4{
	text-align:left;
}

.room-suggestion .chart-row.right{
	text-align:left;
}

/* Suggestion Chart End -*/

/* ---------------------------------------------------------------------------------- */

/* Wego API ------------------------------------------------------------------------- */

.mod-wego .room-chart-container{
	float:right;
}

.mod-wego .products-feature{
	float:left;
}

.mod-wego .products-info .products-options li{
	margin:0 15px 0 0;	
}

/* ---------------------------------------------------------------------------------- */

/* Expedia API ---------------------------------------------------------------------- */

#travel-now .search{
	float:right;
}

#travel-now .home-ad{
	float:left;
}

#travel-now .left-spacer{
	float:right;
}

#travel-now .adults,
#travel-now .children,
#travel-now .age{
	padding:0 12px 0 0;
	float:right;
}

#travel-now .search a,
.travelnow-search a{
	background-position:right center;
	padding:2px 20px 0 0;
}

#travel-now .age-list{
	margin:0 0 0 5px;
}

.travelnow-content{
	margin-right:0;
	margin-left:6px;
}

.mod-container .add-room a{
	background-position:right center;
	padding:2px 20px 0 0;
}

.list-features ul{
	margin:20px 10px 0 0;
}

.travelnow-container .promo-offer{
	background-position:98% center;
	right:auto;
	left:-12px;
	padding:5px 25px 5px 5px;
	border-radius:4px 4px 4px 0;
	-webkit-border-radius:4px 4px 4px 0;
	-moz-border-radius:4px 4px 4px 0;
}

.travelnow-container .corner:before {
   	border-right: 10px;
	border-left: 10px solid transparent;
	right:auto; 
	left: -10px;
}

.travelnow-container .room-chart-container .room-chart-c1{
	padding:5px 2px 5px 0;
}

.travelnow-details-review{
	margin:2px 15px 2px 2px;
	float:left;
}

.checkin{
	background-position:100% 5px;
	padding:2px 28px 0 0;
}

.checkout{
	background-position:100% 5px;
	padding:2px 28px 0 0;
}

.floor{
	background-position:100% 5px;
	padding:3px 28px 0 0;
}

.room{
	background-position:100% 5px;
	padding:2px 28px 0 0;
}

.check-label{
	float:right;
}

.check-value{
	float:right;
	text-align:left;
	padding-right:0;
	padding-left:5px;
	margin-right:0px;
}

.invoice .item-title .travelnow-title{
	float:right;
}

.invoice .item-title .guest{
	float:left;
}

.invoice .item-title .guest ul{
	margin:0 10px 0 0;
	padding:0 10px 0 0;
}

.invoice-section{
	float:left;
}

.invoice-tab-section{
	float:right;
}

.sticky.form-button{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

