<?php
class home_banner_slideshow
{
	protected	$_group = 5;
	protected	$_category = 81;
	protected	$_active =	1;
	protected	$_front_template;
	protected	$_translator;
	protected	$_view;
	protected	$postValue;
	protected 	$_vacationrentals_db;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$frontController = Zend_Controller_Front::getInstance();
		$this->postValue = $frontController->getRequest()->getPost();
		$this->_banner_db = new News_Model_DbTable_Page();
	}
	
	public function class_body()
	{
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.min.js');
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.wmuslider.js');
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/banner-slideshow.css');

		$search_params['filter']['filters'][0] = array('field' => 'group_id', 'operator' => 'eq', 'value' => $this->_group);
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
		$search_params['filter']['filters'][1] = array('field' => 'category_id', 'operator' => 'eq', 'value' => $this->_category);
			
		$list_info = $this->_banner_db->getListInfo($this->_active, $search_params, false) ;
		
?>
		<div class="wmuSlider">
            <div class="wmuSliderWrapper">
            <?php
				if($list_info)
				{					
					foreach($list_info as $entry)
					{
			?>
                <article>
                    <img width="" height="" src="data/frontImages/news/page_thumb/<?php echo $entry['page_thumb']; ?>"/>
                </article>
            <?php
					}
				}
			?>                
            </div>
        </div>
        <script>$('.wmuSlider').wmuSlider();</script>
<?php	
	}
}
try
{
	$home_banner_slideshow_class = new home_banner_slideshow($this);
	$home_banner_slideshow_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>