<?php
$datas_meta = ($this->view_datas) ?  $this->view_datas->getCurrentItems() : '';
if(!empty($datas_meta[0]['firstName'])) { $this->headMeta()->setName('keywords',$datas_meta[0]['title'].' '.$datas_meta[0]['firstName'].' '.$datas_meta[0]['lastName']);}
if(!empty($datas_meta[0]['firstName'])) { $this->headMeta()->setName('description',$datas_meta[0]['title'].' '.$datas_meta[0]['firstName'].' '.$datas_meta[0]['lastName']); }
if(!empty($datas_meta[0]['firstName'])) { $this->headTitle()->headTitle($datas_meta[0]['title'].' '.$datas_meta[0]['firstName'].' '.$datas_meta[0]['lastName'],'SET')->setSeparator(' - ')->headTitle($this->translator->translator('property_front_page_agent_metatitle')); }

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');
$version = Zend_Registry::get('version');
$front_template = Zend_Registry::get('front_template');

$review_helper = new Review_View_Helper_Review();
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','property_page' );

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$property_type_arr = explode(',', $this->translator->translator('property_front_page_rent_id'));
function property_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}

?>
<script type="text/javascript">
$(document).ready(function() {

		/****************************Sorting Table Start*********************/
		var oTable = $("#sortTable").dataTable({
					"bPaginate": false,
					"bDestroy":true,
					"bLengthChange": true,
					"bSearchable": true,
					"bFilter": false,
					"bSort": false,
					"bInfo": false,
					"bAutoWidth": true,
					"bProcessing": false,
					"bSortClasses": true,
					"bStateSave": false,
					"bServerSide": false,
					"aaSorting": [[ 0, "asc" ]],				
					"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
					"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
				}); 	
				
		/****************************Sorting Table End*********************/
		text_truncate();
		function getFormData()
		{
			var fieldObj = {};
			var filename = '';
			var filevalue = '';
			$.each($('#formSearch').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];
					filevalue = $('#'+filename).val();
				}
				else
				{
					filename 	= 	field.name;
					filevalue 	= 	field.value;
				}			
				fieldObj[filename] =  filevalue;			
			});
			return fieldObj;
		}
		
		$('select.country_id').change(function() {	
			if($('select.country_id option:selected').val() == 'any' || $('select.country_id option:selected').val() =='')
			{
				$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("property_select_area"); ?></option>');	
				$('select.state_id').html('<option value="any"><?php echo $this->translator->translator("property_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Property','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('select.country_id option:selected').val() },
					  beforeSend: function(){						
								$('select.state_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("property_select_area"); ?></option>');			
								$('#state_id_err').html('<img src="images/ajax_loader7.gif" border="0" width="15" height="15" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("property_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('select.state_id').html(option);
						}
						else
						{
							$('select.state_id').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_err').html('');
					  }
				});
			}
		});
		
		$('select.state_id').change(function() {		
					
			if($('select.state_id option:selected').val() == 'any' || $('select.state_id option:selected').val() == '')
			{
				$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("property_select_area"); ?></option>');
			}
			else
			{
				$.ajax({
					  url: "<?php echo $this->url( array('module' => 'Property', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('select.state_id option:selected').val() },
					  beforeSend: function(){						
							$('select.area_id').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
							$('#area_id_err').html('<img src="images/ajax_loader7.gif" border="0" width="15" height="15" />');	
							},
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("property_select_area"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.cities.length;i++)
							{
								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
							}
							$('select.area_id').html(option);
						}
						else
						{
							$('select.area_id').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#area_id_err').html('');
					  }
				});
			}
		});	
			
		$('input.search_btn').click(function(){
			var self = this;
			var formData = getFormData();
			
			$.ajax({
					 url: "<?php echo $this->url( array('module'=> 'Property', 'controller' => 'frontend', 'action'     => 'search' ), 'adminrout',    true) ?>",
					 type: 'POST',
					 data: formData,
					 beforeSend: function(){				 	
						$('#loader_img').html('<img src="images/ajax_loader7.gif" width="12" height="12" border="0" />');
					 },
					 success: function(response) 
					 {
						//alert(response);
						var json_arr = eval("("+response+")");						
						if(json_arr.status == 'ok')
						{						
							putSearchResult(oTable,json_arr.search_data);						
						}
						else
						{
							oTable.fnClearTable();
							//openMsgDialog(json_arr.msg);
						}
						$('#loader_img').html('');
					 }				
			});
		});
});
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
function stripslashes(str) 
{
	str=str.replace(/\\'/g,'\'');
	str=str.replace(/\\"/g,'"');
	str=str.replace(/\\0/g,'\0');
	str=str.replace(/\\\\/g,'\\');
	return str;
}
function putSearchResult(oTable,search_data)
{	
	oTable.fnDestroy();	
	oTable = $("#sortTable").dataTable({
				"bPaginate": true,
				"bDestroy":true,
				"bLengthChange": true,
				"bSearchable": true,
				"bFilter": false,
				"bSort": true,
				"bInfo": true,
				"sPaginationType": "full_numbers",
				"bAutoWidth": true,
				"bProcessing": false,
				"bSortClasses": true,
				"bStateSave": false,
				"bServerSide": false,				
				"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
				"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
			});
	
	oTable.fnClearTable();
	
	$('#bottomPagination').css('display','none');		
	for(var i =0; i < search_data.length; i++)
	{	
		var property_name = search_data[i].property_name;
		property_name	= property_name.replace('_',' ');		
		
		var column = '<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #CCCCCC;">'+
						  '<tr>'+
							'<td height="40" class="topbar_1" style="border-bottom:1px solid #D7D7D7"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">'+
							  '<tr>'+
								'<td width="47%"><span class="property_details_title_2">'+stripslashes(property_name)+'</span><br />';
								if(search_data[i].feature_room_no)
								{
									column += '<span class="unit_desc">'+search_data[i].feature_room_no+'<?php echo " ".$this->translator->translator("property_front_page_room").", ";?>';
								}
								if(search_data[i].feature_bathroom)
								{
									column += search_data[i].feature_bathroom+'<?php echo " ".$this->translator->translator("property_front_page_bathroom"); ?> </span></td>';
								}
								column += '<td width="33%"><span class="property_details_title_3"><?php echo $this->translator->translator("property_front_page_property_for"); ?>'+stripslashes(search_data[i].business_type)+'</span></td>'+
								'<td width="20%" align="right"><span class="property_details"><?php echo $this->translator->translator("property_front_page_price").$currency->getSymbol()." "; ?>'+search_data[i].price+'</span></td>'+
							  '</tr>'+
							'</table></td>'+
						  '</tr>'+
						  '<tr>'+
							'<td>&nbsp;</td>'+
						  '</tr>'+
						  '<tr>'+
							'<td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">'+
							  '<tr>'+
								'<td><img src="'+search_data[i].thumb_image+'" '+search_data[i].width+' '+search_data[i].height+' style="border:1px solid #E8E8E8; padding:4px;" class="left_float"/>'+
									'<div class="property_details_title_4">'+stripslashes(property_name)+'</div><br />'+
									'<strong><?php echo $this->translator->translator("property_front_page_property_location"); ?></strong> '+stripslashes(search_data[i].state_name)+', '+stripslashes(search_data[i].city)+', '+stripslashes(search_data[i].post_code)+'.<br />'+
									'<strong><?php echo $this->translator->translator("property_front_page_property_country"); ?></strong> '+stripslashes(search_data[i].country_name)+'<br />'+
									'<strong><?php echo $this->translator->translator("property_front_page_property_desc"); ?></strong><span class="jTruncate">'+stripslashes(search_data[i].property_desc)+'</span></td>'+
							  '</tr>'+
							'</table></td>'+
						  '</tr>'+
						  '<tr>'+
							'<td>&nbsp;</td>'+
						  '</tr>'+						  
						  '<tr>'+
							'<td height="40" bgcolor="#F7F7F7"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">'+
							  '<tr>'+
								'<td width="67%" class="property_details_opt"><a href="Property-details/'+stripslashes(search_data[i].property_title)+'/5"><?php echo $this->translator->translator("property_front_page_property_f_b"); ?></a> | <a href="Property-details/'+stripslashes(search_data[i].property_title)+'/2"><?php echo $this->translator->translator("property_front_page_property_fpan"); ?></a>  | <a href="Property-details/'+stripslashes(search_data[i].property_title)+'/3"><?php echo ucfirst(strtolower($this->translator->translator("property_front_page_property_map"))); ?></a>  | <a href="Property-details/'+stripslashes(search_data[i].property_title)+'/1"><?php echo $this->translator->translator("property_front_page_property_photo"); ?></a> | <a href="Email-To-Friend/'+stripslashes(search_data[i].property_title)+'/<?php echo $this->translator->translator("email_to_friend_form_id"); ?>"><?php echo $this->translator->translator("property_front_page_property_email_friend"); ?></a></td>'+
								'<td width="17%">&nbsp;</td>'+
								'<td width="16%"><table width="102" height="25" border="0" align="right" cellpadding="0" cellspacing="0">'+
								  '<tr>'+
									'<td class="property_more_btn"><a href="<?php echo $this->url(array("module" => "Property","controller" =>"frontend", "action" => "details","property_title" => "" ),"Property-details/:property_title",true); ?>/'+stripslashes(search_data[i].property_title)+'"><?php echo $this->translator->translator("property_front_page_property_more"); ?></a></td>'+
								  '</tr>'+
								'</table></td>'+
							  '</tr>'+
							'</table></td>'+
						  '</tr>'+
						'</table><br />';
		oTable.fnAddData([
					column
					 ]);			
	}	
	text_truncate();	
}
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('property_front_page_list').' ('.$this->escape($datas_meta[0]['title'].' '.$datas_meta[0]['firstName'].' '.$datas_meta[0]['lastName']).')'; ?></h1>
       
	<table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
			<tbody>
			  <?php
				foreach($this->view_datas as $entry)
				{
					$property_image_val_arr = explode(',',$entry['property_image']);
					$property_image_no = (empty($property_image_val_arr[0])) ? '0' : count($property_image_val_arr);					
					if($this->escape($entry['property_primary_image']))
					{ 
						$thumb_image = 'data/frontImages/property/property_image/'.$this->escape($entry['property_primary_image']); 
					}
					else
					{ 
						if($this->escape($entry['property_image']))
						{
							$thumb_image = 'data/frontImages/property/property_image/'.$this->escape($property_image_val_arr[0]); 
						}
						else
						{
							$thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_property_img/no_image.png'; 
						}		
					}
					if($entry['file_thumb_width'] && ($entry['file_thumb_resize_func'] == 'resizeToWidth' || $entry['file_thumb_resize_func'] == 'resize'))
					{ 
						$width = 'width="'.$this->escape($entry['file_thumb_width']).'"'; 
					}
					else
					{
						$width = '';
					} 
					if($entry['file_thumb_height'] && ($entry['file_thumb_resize_func'] == 'resizeToHeight' || $entry['file_thumb_resize_func'] == 'resize'))
					{ 
						$height = 'height="'.$this->escape($entry['file_thumb_height']).'"'; 
					} 
					else
					{
						$height = '';
					}
						$featured_class = ($entry['featured'] == '1') ? 'products-featured' : '' ;
					?>
					  <tr>
						<td>
                        	<div class="panel panel-default">
								<div class="panel-heading">
                                	<p>
                                        <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="preview" title="<?php echo $this->escape($entry['property_name']); ?>" link=""><?php echo $this->escape($entry['property_name']); ?></a>
                                        <?php //echo $this->translator->translator('property_front_page_property_for'); ?>&nbsp;<span class="label label-success"><?php echo $this->escape($entry['business_type']); ?></span>
                                    </p>
                                    
                                    <span class="text-muted">
                                        <em>
                                        	<?php if(!empty($entry['feature_room_no'])){ echo (int)$this->escape($entry['feature_room_no']).' '.$this->translator->translator('property_front_page_room'); } if(!empty($entry['feature_bedroom'])){ echo ', '.(int)$this->escape($entry['feature_bedroom']).' '.$this->translator->translator('property_front_page_property_bedroom_no'); } ?>
                                        </em>
                                    </span>
                                </div>
                                
                                <div class="panel-body <?php echo $featured_class; ?>">
                                	<div class="price"><?php  echo $this->translator->translator('property_front_page_price').$currency->getSymbol().' '.$this->price($this->escape($entry['property_price']));  ?></div>
                                    <figure>
                                        <div class="thumb">
                                            <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" width="350" title="<?php echo $this->escape($entry['property_name']); ?>"><img src="<?php echo $thumb_image; ?>" <?php echo $width; ?> <?php echo $height; ?> border="0" /></a>
                                            <div class="photo-count-container">
                                                <div class="photo-count">
                                                    <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 2 ),'Property-details/:property_title/:tab',true); ?>" title="<?php echo $this->translator->translator('property_front_page_click_view_photos'); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('property_front_page_property_photo_no', $property_image_no); ?></a>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                    
                                    <div class="details">
                                        <div class="ratings">
											<?php
                                                for($i = 1; $i < $maximum_stars_digit; $i++)
                                                {
                                                    $property_stars = ($i <= $this->escape($entry['stars'])) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_property_img/star-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_property_img/star-inactive.png' border='0'/>";
                                                    echo $property_stars.'&nbsp;';
                                                }
                                            ?>
                                        </div>
                                        
                                        <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_location'); ?></span> <?php  echo $this->escape($entry['city']).', '.$this->escape($entry['state_name']).', '.$this->escape($entry['post_code']).'.'; ?><br />
                                        <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_country'); ?></span> <?php echo $this->escape($entry['value']); ?><br />

                                        <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_desc'); ?></span>
                                        <span class="jTruncate"><?php echo $this->escape(strip_tags($entry['property_desc'])); ?></span>                                    
                                	</div>
                                    <br>
                                    <ul class="list-group">
										<?php
                                        if(!empty($property_type_arr[0]) && in_array($entry['property_type'], $property_type_arr))
                                          //{
                                        ?>
                                        <!-- <li class="list-group-item"><span class="glyphicon glyphicon-calendar calendar "></span> <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 4 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo $this->translator->translator('property_front_page_label_check-availability'); ?></a></li> -->
                                        <?php
                                          //}
                                          if(!empty($entry['feature_bathroom']))
                                          {
                                        ?>	
                                        <li class="list-group-item"><i class="property-icon icon-bath"></i><?php  echo (int)$this->escape($entry['feature_bathroom']).' '.$this->translator->translator('property_front_page_bathroom'); ?></li>
                                        <?php
                                          }
                                        ?>
                                        
                                        <li class="list-group-item"><i class="property-icon icon-kitchen"></i><?php echo ($entry['feature_kitchen']) ? $this->translator->translator('property_front_page_property_has_kitchen') : $this->translator->translator('property_front_page_property_no_kitchen') ; ?></li>
                                        
                                        <li class="list-group-item"><i class="property-icon icon-garden"></i><?php echo ($entry['feature_garden']) ? $this->translator->translator('property_front_page_property_has_garden') : $this->translator->translator('property_front_page_property_no_garden') ; ?></li>
 
                                        <li class="list-group-item"><i class="property-icon icon-garage"></i><?php echo ($entry['feature_garage']) ? $this->translator->translator('property_front_page_property_has_garage') : $this->translator->translator('property_front_page_property_no_garage') ; ?></li>
                                    </ul>
                              
                                	<div class="text-center">
										<?php 
											if(!empty($entry['review_id'])){ 
											$review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($entry['review_id']));
										?><span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($entry['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><span class="glyphicon glyphicon-pencil"></span> <?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 7 ),'Property-details/:property_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span> 
										<?php } ?>
                                       
                                    	<hr>
                                    	<div class="products-vote text-center">
                                        	<span class="label label-primary"><?php echo $this->translator->translator('property_front_page_label_voting'); ?></span>
                                        	<span><?php  $vote->showButton($entry['id'] , $this->escape($entry['property_name'])); ?></span>
                                     	</div>
                                    </div>
                                </div>
                                
                                <div class="panel-footer text-center">          
                                    <!--
                                    <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 5 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_f_b'), ENT_QUOTES, "UTF-8"); ?></a> | 
                                    <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 2 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_fpan'), ENT_QUOTES, "UTF-8"); ?></a> |
                                    <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 3 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_map'), ENT_QUOTES, "UTF-8"); ?></a>  | 											 
                                    <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 1 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode(ucfirst(strtolower($this->translator->translator('property_front_page_property_photo'))), ENT_QUOTES, "UTF-8"); ?></a>  |
                                    <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']), 'form_id' => $this->translator->translator('email_to_friend_form_id') ),'Email-To-Friend/:property_title/:form_id',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_email_friend'), ENT_QUOTES, "UTF-8"); ?></a>
                                    -->
                                    <a href="javascript:void(0);" class="save_property_btn btn btn-block btn-primary save" rel="<?php echo $this->escape($entry['id']); ?>"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo $this->translator->translator("property_front_page_save_property"); ?></a>
                                    <!--<?php //if($global_conf['payment_system'] == 'On') : ?><span class="products-book-btn"><?php if($entry['book_calendar_enable']) //{ ?><a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'book', 'action' => 'booking','property_title' => $this->escape($entry['property_title']) ),'Book-Property/:property_title',true) ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_book'), ENT_QUOTES, "UTF-8"); ?></a><?php //} ?></span><?php //endif; ?>-->
                                    <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="btn btn-block btn-success details"><?php echo $this->translator->translator('property_front_page_property_more'); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
                                </div>
                         	</div>
                        </td>
					  </tr>
				  <?php
                    }
                  ?>
			</tbody>
		</table>
        
        <div id="bottomPagination">
            <?php
                echo $this->paginationControl($this->view_datas, 'Sliding', 'frontend/agents-pagination-flickr.phtml'); 	 
            ?>
        </div>
</div>