<?php
if($this->category_info)
{
if(!empty($this->category_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->category_info['meta_keywords']);}
if(!empty($this->category_info['meta_desc'])) { $this->headMeta()->setName('description',$this->category_info['meta_desc']); }
if(!empty($this->category_info['category_name'])) { $this->headTitle()->headTitle($this->category_info['category_name'],'SET')->setSeparator(' - ')->headTitle($this->category_info['meta_title']); }

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get('global_conf');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','property_page' );

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
 
$allow_obj = new Property_View_Helper_Allow();
if (!$allow_obj->allowRule('category',null,null,$this->group_datas['role_id'])) : ?>
<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

$property_title_name = ($this->menu_info) ? $this->escape($this->menu_info['menu_name']) : $this->escape($this->category_info['category_name']);
?>
<script type="text/javascript">
$(document).ready(function() {
	var settingObj = {
                            grid_id : 'grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url(); ?>",
                            pageSize : '5',
							height:		"38em",
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_property_btn',
								server_url: "<?php echo $this->url( array('module' =>'Property','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    $('input.p_button').attr('type', 'button_btn');
									//self.thead.remove();
                                    text_truncate();
                                    commonVoting();	
									itemSave(settingObj);												                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("property_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("property_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
});

function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<script type="text/x-kendo-template" id="view_template">
<div class="panel panel-default">
	<div class="panel-heading">
		<p>
		<a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" title="#= property_name #">#= property_name_format #</a>
		#= '<?php //echo html_entity_decode($this->translator->translator('property_front_page_property_for'), ENT_QUOTES, "UTF-8"); ?>' #<span class="label label-success">#= business_type #</span>
		</p>
		<span class="text-muted">
			<em>
			# if(feature_room_no){ # #= feature_room_no # #= '<?php echo html_entity_decode($this->translator->translator('property_front_page_room'), ENT_QUOTES, "UTF-8"); ?>' # #} #
			# if(feature_bedroom){ # #= ', ' # #= feature_bedroom # #= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_bedroom_no'), ENT_QUOTES, "UTF-8"); ?>' # #} #
			</em>
		</span>  
	</div>
	
	<div class="panel-body #= (featured == '1') ? 'products-featured' : '' #">
		# if(featured == '1'){ #<div class="ribbons" id="ribbons"><div><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8"); ?></div></div># } #
		<!--<h2><a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" link="" title="#= property_name #">#= property_name_format #</a></h2> -->
		<div class="price"># if(property_price){ # #= '<?php  echo html_entity_decode($this->translator->translator('property_front_page_price'), ENT_QUOTES, "UTF-8").$this->currency->getSymbol().' '; ?>' # #= property_price # # } #</div>
		<figure>
			<div class="thumb">
				<a href="<?php echo $this->url(array('module' => 'property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/${property_title}" class="preview" link="#= property_image_format #" title="#= property_name #"><img src="#= property_image_format #" border="0" #= thumb_width # #= thumb_height # /></a>
				<div class="photo-count-container">
					<div class="photo-count">
						<a href="<?php echo $this->url(array('module' => 'property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/2" title="#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_click_view_photos'), ENT_QUOTES, "UTF-8"); ?>' #"><span class="glyphicon glyphicon-camera"></span> #= property_image_no_format #</a>
				  	</div>
			  	</div>
			</div>
		</figure>
		<div class="details">
			<div class="ratings">
				#= list_stars_format #
			</div>
			
			<span class="text-title"><?php echo html_entity_decode($this->translator->translator('property_front_page_property_country'), ENT_QUOTES, "UTF-8"); ?></span> #= country_name #<br />
			<span class="text-title"><?php echo html_entity_decode($this->translator->translator('property_front_page_property_location'), ENT_QUOTES, "UTF-8"); ?></span> #= state_name # # if(city){ # #= ', ' + city # # } #<br />
			<span class="text-title"><?php echo html_entity_decode($this->translator->translator('property_front_page_property_desc'), ENT_QUOTES, "UTF-8"); ?></span>
			<span class="jTruncate">#= property_desc_format #</span>			
			<br><br>
			<ul class="list-group">
				#
					//if( book_calendar_enable ) 
					//{
				#
				<!--<li class="list-group-item"><span class="glyphicon glyphicon-calendar calendar "></span> <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/4" title="Check Calendar for reservation">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_label_check-availability'), ENT_QUOTES, "UTF-8"); ?>' #</a></li> -->
				#
					//}													  															
					if(feature_bathroom)
					{
				#
				<li class="list-group-item"><i class="property-icon icon-bath"></i> #= feature_bathroom #&nbsp;#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_bathroom'), ENT_QUOTES, "UTF-8"); ?>' #</li>
				#
					}							 
				#	
				<li class="list-group-item"><i class="property-icon icon-kitchen"></i> #= (feature_kitchen) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_kitchen'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_kitchen'), ENT_QUOTES, "UTF-8"); ?>' #</li>
				<li class="list-group-item"><i class="property-icon icon-garden"></i>  #= (feature_garden) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_garden'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_garden'), ENT_QUOTES, "UTF-8"); ?>' #</li>
				<li class="list-group-item"><i class="property-icon icon-garage"></i>  #= (feature_garage) ? '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_has_garage'), ENT_QUOTES, "UTF-8"); ?>' : '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_no_garage'), ENT_QUOTES, "UTF-8"); ?>' #</li>
			</ul>
			
			<div class="text-center">	
				# if(review_id){ #                                         
				<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<span class="glyphicon glyphicon-pencil"></span> <?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
				<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/${property_title}/7">#= review_no_format #</a></span>
				# } #
			</div>
			<hr>
			<div class="products-vote text-center">
				<span class="label label-primary">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>' #</span>
				<span>#= vote_format #</span>						  
			</div>
		</div>
	</div>
	
	<div class="panel-footer text-center">
		<!--<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/5">#= '<?php //echo html_entity_decode($this->translator->translator('property_front_page_property_f_b'), ENT_QUOTES, "UTF-8"); ?>' #</a> |--> 
		<!--<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/2">#= '<?php //echo html_entity_decode($this->translator->translator('property_front_page_property_fpan'), ENT_QUOTES, "UTF-8"); ?>' #</a> |-->
		<!--<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/3">#= '<?php //echo html_entity_decode($this->translator->translator('property_front_page_property_map'), ENT_QUOTES, "UTF-8"); ?>' #</a>  |--> 											 
		<!--<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '','tab' => '' ),'Property-details/:property_title/:tab',true); ?>/#= property_title #/1">#= '<?php //echo html_entity_decode(ucfirst(strtolower($this->translator->translator('property_front_page_property_photo'))), ENT_QUOTES, "UTF-8"); ?>' #</a>  |-->
		<!--<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '', 'form_id' => '' ),'Email-To-Friend/:property_title/:form_id',true); ?>/#= property_title #/<?php //echo $this->translator->translator('email_to_friend_form_id'); ?>">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_email_friend'), ENT_QUOTES, "UTF-8"); ?>' #</a>-->
		
		<a href="javascript:void(0);" class="save_property_btn btn btn-block btn-primary save" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("property_front_page_save_property"), ENT_QUOTES, "UTF-8"); ?></a>
		<!--<?php //if($global_conf['payment_system'] == 'On') : ?><span class="products-book-btn"># if( book_calendar_enable ) { #<a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'book', 'action' => 'booking','property_title' => '' ),'Book-Property/:property_title',true) ?>/#= property_title #">#= '<?php //echo html_entity_decode($this->translator->translator('property_front_page_property_book'), ENT_QUOTES, "UTF-8"); ?>' #</a># } #</span><?php //endif; ?>-->
		<a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => '' ),'Property-details/:property_title',true); ?>/#= property_title #" class="btn btn-block btn-success details">#= '<?php echo html_entity_decode($this->translator->translator('property_front_page_property_more'), ENT_QUOTES, "UTF-8"); ?>' # <span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('property_front_page_list').' ('.$property_title_name.')'; ?></h1>
    
    <div class="grid-puller">
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
            <div id="grid"></div>  
        </div>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<?php endif;
}
else
{
?>
<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
    <?php echo $this->translator->translator('property_front_page_category_not_found'); ?>
</div>
<?php	
}
?>