<?php
$this->headMeta()->setName('keywords',$this->translator->translator('property_front_page_agent_search'));
$this->headMeta()->setName('description',$this->translator->translator('property_front_page_agent_search'));
$this->headTitle()->headTitle( $this->translator->translator('property_front_page_agent_search'),'SET');

$property_front_page_agent_id = $this->translator->translator('property_front_page_agent_id');
$property_front_page_agent_id_arr = explode(',', $property_front_page_agent_id);

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script type="text/javascript">
$(function() {			
	autoSuggestion('area_id_mod', "<?php echo $this->url( array('module'=> 'Property', 'controller' => 'frontend', 'action'     => 'city' ), 'adminrout',    true) ?>", {'city': '', 'limit': '10', 'order' : 'ASC', 'order_sort' : 'city'}, ['city_id', 'city_id', 'city', 'city_value'], '', 1);
});
</script>

<?php 
$allow_obj = new Property_View_Helper_Allow();
if (!$allow_obj->allowRule('owners',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<div class="mod">
	<h1><?php echo $this->translator->translator('property_front_page_agent_search'); ?></h1>
    
    <div class="well">
    	<form id="formSearch" name="formSearch" method="post" action="<?php echo $this->url( array('module' => 'Property', 'controller' => 'Frontend', 'action'     => 'owners' ), 'Property-Agent-Search',    true) ?>" role="form"> 
			<h3><?php echo $this->translator->translator('property_front_page_agent_search_label'); ?></h3>
            <div class="row">
			<?php
              foreach($property_front_page_agent_id_arr as $property_front_page_agent_id_key => $agents)
              {
                $agent_arr = explode(';;', $agents);
                $checked = (($property_front_page_agent_id_key == '0') || ($agent_arr[0] == $this->role_id)) ? 'checked="checked"' : '';
              ?>
              	
                <div class="col-xs-6">
                    <div class="radio">
                        <label>
                            <input type="radio" name="role_id" id="role_id_mod" <?php echo $checked; ?> value="<?php echo $agent_arr[0]; ?>"/>
                            <?php echo $agent_arr[1]; ?>
                        </label>
                    </div>
                </div>
                
           	<?php
             }
           	?>
            </div>
            
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <div class="form-group">
                        <label for="area_id_mod"><?php echo $this->translator->translator('property_front_page_agent_search_city_label'); ?></label>
                        <input type="text" name="city" id="area_id_mod" value="<?php echo $this->city; ?>" class="form-control"/>
                    </div>
                </div>
                
                 <div class="col-xs-12">
                    <div class="form-group">
                        <input type="submit" name="button" id="button" value="<?php echo $this->translator->translator('property_front_page_agent_search_btn_label'); ?>" class="btn btn-block btn-global"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
	<?php
		if($this->errorMessage)
		{
	?>
    <div class="errMess"><?php 	echo $this->errorMessage;  ?></div>
    <?php
		}
		if($this->view_datas)
		{  
			$dynamic_value_db = new Members_Model_DbTable_FieldsValue();	
	?>
	<div class="mod-agent-search-result">
			<?php
                foreach($this->view_datas as $entry)
                {
					if(!empty($entry['form_id']))
					{
						$entry	=	$dynamic_value_db->getFieldsValueInfo($entry, $entry['user_id']);					
					}
            ?>
            
            <ul class="list-unstyled">
            	<li><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'agents','property_owner' => $this->escape($entry['user_id']) ),'Agent-Property-List/:property_owner',true); ?>" class="preview" link="" title="<?php echo $this->translator->translator('property_front_page_agent_search_property_no', $entry['property_num']); ?>"><span class="glyphicon glyphicon-chevron-right"></span> <?php echo $this->escape($entry['title'].' '.$entry['firstName'].' '.$entry['lastName']).' ('.$entry['property_num'].')'; ?></a><br />
                <?php if($entry['companyName']){ echo $this->escape($entry['companyName']).'<br />'; } ?>
                <?php if($entry['phone'] || $entry['mobile'] || $entry['fax']){ echo $this->escape($entry['phone']).', '.$this->escape($entry['mobile']).', '.$this->escape($entry['fax']).'<br />'; } ?>
                <?php if($entry['address']){ echo $this->escape($entry['address']).'<br /><hr>'; } ?>
                </li>
            </ul>
            
            <?php
                }
            ?>		
  	</div>
    <?php
  	}	
  	?>
</div>
<?php endif; ?>	