<?php
if($this->last > 1)
{

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');
$category = $frontController->getRequest()->getParam('category');
$type_id = $frontController->getRequest()->getParam('type_id');
$translator = Zend_Registry::get('translator');
$routing_url = ($menu_id) ? $menu_id.'/:page' : 'Classified-Property-Category-List/*';
?>
<div class="text-center">
    <ul class="pagination">
    	<!-- First page link -->
		<!--
		<?php //if (isset($this->previous)): ?>
              <li class="previous"><a href="<?php //echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category, 'type_id' => $type_id,'page' => $this->first),$routing_url,true); ?>"><?php //echo $translator->translator('pagination_start'); ?></a></li>
        <?php //else: ?>
                <li class="previous-off"><?php //echo $translator->translator('pagination_start'); ?></li> 
        <?php //endif; ?>
    	-->
    
    	<!-- Previous page link -->		
		<?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category, 'type_id' => $type_id,'page' => $this->previous),$routing_url,true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
            
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category, 'type_id' => $type_id,'page' => $page),$routing_url,true); ?>"><?php echo $this->numbers($page); ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $this->numbers($page); ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>    
        
        <!-- Next page link -->
		<?php if (isset($this->next)): ?>
            <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category, 'type_id' => $type_id,'page' => $this->next),$routing_url,true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
        
        <!-- Last page link -->
        <!--
		<?php //if (isset($this->next)): ?>
              <li class="next"><a href="<?php //echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category, 'type_id' => $type_id,'page' => $this->last),$routing_url,true); ?>"><?php //echo $translator->translator('pagination_end'); ?></a></li>
        <?php //else: ?>
            <li class="next-off"><?php //echo $translator->translator('pagination_end'); ?></li>
        <?php //endif; ?>
            <li>&nbsp; <span class="current_page"><?php //echo $translator->translator('pagination_Page'); ?> <?php //echo $this->numbers($this->current); ?> <?php //echo $translator->translator('pagination_of'); ?> <?php //echo $this->numbers($this->last); ?></span></li>
      	-->
    </ul>
</div>
<?php
}
?>