<?php 
if($this->view_datas['meta_keywords']){ $this->headMeta()->setName('keywords',$this->view_datas['meta_keywords']);	}
if($this->view_datas['meta_desc']){ $this->headMeta()->setName('description',$this->view_datas['meta_desc']); }
$this->headTitle()->headTitle($this->view_datas['page_title'],'SET')->setSeparator(' - ')->headTitle($this->view_datas['meta_title']); 

$allow_obj = new News_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<div class="mod news">
	<!--<h1><?php //echo $this->escape($this->view_datas['page_name']); ?></h1>-->
    
    <div class="calendar">
        <div class="month"><?php echo date("M",strtotime($this->view_datas['page_date'])); ?></div>
        <h1><?php echo $this->numbers(date("d",strtotime($this->view_datas['page_date']))); ?></h1>
        <div class="year"><?php echo $this->numbers(date("Y",strtotime($this->view_datas['page_date']))); ?></div>
    </div>   		
                
	<h1><?php echo $this->escape($this->view_datas['page_name']); ?></h1>
	<div class="date"><?php echo $this->numbers($this->escape($this->view_datas['page_date'])); ?> <?php echo $this->translator->translator('news_frontend_posted_by_title'); ?> <?php echo $this->escape($this->view_datas['title'].' '.$this->view_datas['firstName'].' '.$this->view_datas['lastName']); ?></div>
    <br>
    <div class="desc"><?php echo stripslashes($this->view_datas['page_desc']); ?></div>
    
    <!-- News Right Category Start -->
    <?php
        if($this->groupInfo['category_panel'] == '1')
        {
            $categoryPanel = new News_View_Helper_CategoryPanel();				
    ?>
    	<hr>
        <h1><span class="glyphicon glyphicon-calendar"></span> <?php echo $this->escape($this->menu_id).' Category'; ?></h1>
        <div class="clearfix"></div>
        <div class="well"><?php echo $categoryPanel->getCategories('0',$this,$this->groupInfo['id'],null,$this->menu_id, $this->translator); ?></div>
    <?php
        }
    ?>
    <!-- News Right Category End -->
      
    <div class="clearfix">
        <!-- Getting All Comments from Comment Module and Add Comment Form -->
        <?php 
            $allCommentObj = new Comment_View_Helper_RepliedCommentMobile($this);
            echo $allCommentObj->getAllActiveComments('news_page',$this->escape($this->view_datas['id']));		
        ?>
        <!-- End of Getting All Comments from Comment Module Add Comment Form -->
    </div>
</div>
<?php endif; ?>
