<?php
if($this->last > 1)
{

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');
$pickup_location = $frontController->getRequest()->getParam('pickup_location');
$return_car = $frontController->getRequest()->getParam('return_car');
$return_location = $frontController->getRequest()->getParam('return_location');
$pickup_date_time = $frontController->getRequest()->getParam('pickup_date_time');
$return_date_time = $frontController->getRequest()->getParam('return_date_time');
$rental_car_type = $frontController->getRequest()->getParam('rental_car_type');
$translator = Zend_Registry::get('translator');
$routing_url = 'Search-Vehicle-List/*';
?>
 <div class="text-center">
    <ul class="pagination">
        <!-- Previous page link -->
        <?php  if (isset($this->previous)): ?>
            <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'pickup_location' => $pickup_location, 'return_car' => $return_car, 'return_location' => $return_location, 'pickup_date_time' => $pickup_date_time, 'return_date_time' => $return_date_time, 'rental_car_type' => $rental_car_type,'page' => $this->previous),$routing_url,true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'pickup_location' => $pickup_location, 'return_car' => $return_car, 'return_location' => $return_location, 'pickup_date_time' => $pickup_date_time, 'return_date_time' => $return_date_time, 'rental_car_type' => $rental_car_type,'page' => $page),$routing_url,true); ?>"><?php echo $this->numbers($page); ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $this->numbers($page); ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
              <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'pickup_location' => $pickup_location, 'return_car' => $return_car, 'return_location' => $return_location, 'pickup_date_time' => $pickup_date_time, 'return_date_time' => $return_date_time, 'rental_car_type' => $rental_car_type, 'page' => $this->next),$routing_url,true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>        
</div>
<?php
}
?>