<?php
$version = new Eicra_License_Version();

$global_conf = Zend_Registry::get('global_conf');
$front_template = Zend_Registry::get('front_template');

$countryDbObj = new Eicra_Model_DbTable_Country();
//$countryInfo = $countryDbObj->getInfo($global_conf['default_country']) ;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$package_db = new Costcalculator_Model_DbTable_Package();

$this->headMeta()->setName('keywords',$this->translator->translator('cost_calculator_meta_keywords'));	
$this->headMeta()->setName('description',$this->translator->translator('cost_calculator_meta_description'));
$this->headTitle()->headTitle($this->translator->translator('cost_calculator_meta_title'),'SET');

?>

<script type="text/javascript">

$(document).ready(function() {
		<?php if( $this->json_arr['posted_data']['return_car'] != 'on' ){ ?>
		$('#return_box').hide();
		<?php } ?>
		var settingObj = {
						form_action:{ form_id : 'formSearch', common_msg_field_id: '' },
						search_action:{
								/*search_form_id: 'formSearch',
								search_validator : true,
								search_validator_function : function()
								{
									var r = true;
									if($('#pickup_location').val() == null || $('#pickup_location').val() == '')
									{											
										commonAddFormError('pickup_location',"<?php echo html_entity_decode($this->translator->translator('cost_pickup_location_err'), ENT_QUOTES, 'UTF-8'); ?>");
										r = false;
									}
									if($('#return_car').is(':checked'))
									{					
										if($('#return_location').val() == null || $('#return_location').val() == '')
										{											
											commonAddFormError('return_location',"<?php echo html_entity_decode($this->translator->translator('cost_return_location_err'), ENT_QUOTES, 'UTF-8'); ?>");
											r = false;
										}
									}
									if($('#pickup_date_time').val() == null || $('#pickup_date_time').val() == '')
									{											
										commonAddFormError('pickup_date_time',"<?php echo html_entity_decode($this->translator->translator('cost_pickup_date_time_err'), ENT_QUOTES, 'UTF-8'); ?>");
										r = false;
									}
									if($('#return_date_time').val() == null || $('#return_date_time').val() == '')
									{											
										commonAddFormError('return_date_time',"<?php echo html_entity_decode($this->translator->translator('cost_return_date_time_err'), ENT_QUOTES, 'UTF-8'); ?>");
										r = false;
									}
									if($('#rental_car_type').val() == null || $('#rental_car_type').val() == '')
									{											
										commonAddFormError('rental_car_type',"<?php echo html_entity_decode($this->translator->translator('cost_rental_car_type_err'), ENT_QUOTES, 'UTF-8'); ?>");
										r = false;
									}
									return r;
								}*/
							},	
						calendar: {
							calendar_include_time: true,
							calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
							monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
							monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
							dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
							buttonText:		'calendar',
							dateFormat:		'yy-mm-dd',
							dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						combobox: {
							combobox_id : '#rental_car_type',
							combobox_settings: {
									autoBind: true,
								 	dataTextField: "car_type_format",
									dataValueField: "car_type",
									optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",
									headerTemplate: '<div class="container-fluid"><div class="row text-center" style="background-color:#FCF8E3; border-bottom:1px solid #BBB; box-shadow: 0 1px 2px #CCC; padding-bottom:6px;"><div class="dropdown-header">' +
														'<div class="col-md-4"><span class="k-widget k-header" style="padding:2px 5px;">'+"<?php echo html_entity_decode($this->translator->translator("cost_page_list_page_thumb"), ENT_QUOTES, 'UTF-8'); ?>"+'</span></div>' +
														'<div class="col-md-8"><span class="k-widget k-header" style="padding:2px 5px;">'+"<?php echo html_entity_decode($this->translator->translator("cost_list_page_description"), ENT_QUOTES, 'UTF-8'); ?>"+'</span></div>' +
													'</div></div></div>',
									valueTemplate: '# if(data.vehicle_image_format){ #<img class="selected-value" src=\"#= data.vehicle_image_format #\" alt=\"#:data.vehicle_name#\" height="30" class="img-responsive" /># } #  #if(data.car_type_format){ #<span>#:data.car_type_format#</span># } #',
									template: 	'# if(data.vehicle_image_format){ #<div class="container-fluid desc"><div class="row"><div class="col-md-4"><span class="k-state-default"><img src=\"#= data.vehicle_image_format #\" alt=\"#:data.vehicle_name#\" class="img-responsive img-thumbnail car-img"/></span></div># } #' +
                                  				'# if(data.description){ # <div class="col-md-8"><span class="k-state-default"><span class="label label-success">#: data.car_type_format # </span><br> <span class="label label-warning">#: data.vehicle_name #</span><p>#: data.description #</p></span></div></div># }else{ #'+"<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"+'# } #',
									dataSource: {
												type: "json",
												schema: {
													  data:	'data_result'
												  },  
												transport: {
														read:{
															type: "POST",
							  								dataType: "json",
															url: "<?php echo $this->url( array('module'=> 'Costcalculator', 'controller' => 'search', 'action' => 'vehicles' ), 'adminrout',    true); ?>"
														}
													}
									},
									value: "<?php echo $this->json_arr['posted_data']['rental_car_type']; ?>",
									change: function(e) {}
							}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("cost_list_delete_all"); ?>",
										common_save_btn_text		:	"<?php echo html_entity_decode($this->translator->translator("autos_date_add_page_save"), ENT_QUOTES, 'UTF-8'); ?>",
										common_field_must_not_empty	:	"<?php echo html_entity_decode($this->translator->translator("common_field_must_not_empty"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("cost_selected_err"); ?>"
									}
					};
			commonCalendar('pickup_date_time', settingObj, settingObj.calendar.calendar_include_time );
			commonCalendar('return_date_time', settingObj, settingObj.calendar.calendar_include_time );
			kendoComboBox(settingObj);
			
			$('a.calculate_cost_btn').click(function(){
				  var r = true;
				  commonRemoveFormError(settingObj);
				  if($('#pickup_location').val() == null || $('#pickup_location').val() == '')
				  {											
					  commonAddFormError('pickup_location',"<?php echo html_entity_decode($this->translator->translator('cost_pickup_location_err'), ENT_QUOTES, 'UTF-8'); ?>");
				 	  	r = false;
				  }
				  if($('#return_car').is(':checked'))
				  {					
					  if($('#return_location').val() == null || $('#return_location').val() == '')
					  {											
						  commonAddFormError('return_location',"<?php echo html_entity_decode($this->translator->translator('cost_return_location_err'), ENT_QUOTES, 'UTF-8'); ?>");
					  	 	r = false;	
					  }
				  }
				  if($('#pickup_date_time').val() == null || $('#pickup_date_time').val() == '')
				  {											
					  commonAddFormError('pickup_date_time',"<?php echo html_entity_decode($this->translator->translator('cost_pickup_date_time_err'), ENT_QUOTES, 'UTF-8'); ?>");
				  		r = false;
				  }
				  if($('#return_date_time').val() == null || $('#return_date_time').val() == '')
				  {											
					  commonAddFormError('return_date_time',"<?php echo html_entity_decode($this->translator->translator('cost_return_date_time_err'), ENT_QUOTES, 'UTF-8'); ?>");
				 		r = false;
				  }
				  if($('#rental_car_type').val() == null || $('#rental_car_type').val() == '')
				  {											
					  commonAddFormError('rental_car_type',"<?php echo html_entity_decode($this->translator->translator('cost_rental_car_type_err'), ENT_QUOTES, 'UTF-8'); ?>");
				  		r = false;
				  }
				  if($('#service_type').val() == null || $('#service_type').val() == '')
				  {											
					  commonAddFormError('service_type',"<?php echo html_entity_decode($this->translator->translator('cost_rental_service_type_err'), ENT_QUOTES, 'UTF-8'); ?>");
				  		r = false;
				  }
				  
				  if($('#passengers').val() == null || $('#passengers').val() == '')
				  {											
					  commonAddFormError('passengers',"<?php echo html_entity_decode($this->translator->translator('cost_rental_passengers_err'), ENT_QUOTES, 'UTF-8'); ?>");
				  		r = false;
				  }
				  if($('#luggage').val() == null || $('#luggage').val() == '')
				  {											
					  commonAddFormError('luggage',"<?php echo html_entity_decode($this->translator->translator('cost_rental_luggage_err'), ENT_QUOTES, 'UTF-8'); ?>");
				  		r = false;
				  }
				  if(r === true)
				  {
					  $('#'+settingObj.form_action.form_id).submit();
				  }
			});
			
			$('#return_car').click(function(){
				if($(this).is(':checked'))
				{
					$('#return_box').slideDown();
				}
				else
				{
					$('#return_box').slideUp();		
				}
			});
	});
</script>

<div class="mod calculator">
	<div id="banner">
        <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/carhire-banner.jpg" alt="" class="img-responsive">
        <div class="block block-search car-hire">
        	<div class="block-body">
                <form name="formSearch" id="formSearch" method="post" role="form" action="<?php echo $this->url(array('module' =>'Costcalculator','controller' => 'search', 'action'     => 'search' ), 'Search-Vehicle-List/*',    true); ?>">
                	<div id="actionMessage"></div>
                    <div id="generalInfo">
                   		<h3><span class="glyphicon glyphicon-send"></span> <?php echo $this->translator->translator('cost_calculate_journey_details'); ?></h3>
                        <div class="form-group">
                            <label for="pickup_location"><?php echo $this->translator->translator('cost_pickup_location_label'); ?> <span class="star_class">*</span></label>
                            <input type="text" name="pickup_location" id="pickup_location" value="<?php echo $this->json_arr['posted_data']['pickup_location']; ?>" class="form-control"/>
                           	<span class="input-errors" id="pickup_location_err"></span>
                        </div>
                                
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="return_car" id="return_car" <?php if( $this->json_arr['posted_data']['return_car'] == 'on' ){ echo 'checked="checked"'; } ?>  /> <?php echo $this->translator->translator('cost_return_car_label');?>
                            </label>
                            <span class="input-errors" id="return_car_err"></span>
                        </div>
                        
                        <div class="form-group" id="return_box">
                            <label for="return_location"><?php echo $this->translator->translator('cost_return_location_label'); ?> <span class="star_class">*</span></label>
                            <input type="text" name="return_location" id="return_location" value="<?php echo $this->json_arr['posted_data']['return_location']; ?>"  class="form-control" />
                            <span class="input-errors" id="return_location_err"></span>                     
                        </div>
                        
                        <div class="row">
                        	<div class="col-md-6">
                            	<div class="form-group">
                                    <label for="pickup_date_time"><?php echo $this->translator->translator('cost_pickup_date_time_label'); ?> <span class="star_class">*</span></label>
                                    <input type="text" name="pickup_date_time" id="pickup_date_time"  value="<?php echo $this->json_arr['posted_data']['pickup_date_time']; ?>" />
                                    <span class="input-errors" id="pickup_date_time_err"></span>                     
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	<div class="form-group">
                                    <label for="return_date_time"><?php echo $this->translator->translator('cost_return_date_time_label'); ?> <span class="star_class">*</span></label>
                                    <input type="text" name="return_date_time" id="return_date_time" value="<?php echo $this->json_arr['posted_data']['return_date_time']; ?>" />
                                    <span class="input-errors" id="return_date_time_err"></span>                     
                                </div>  
                            </div>
                        </div>
                        
                        <div class="row">
                        	<div class="col-md-6">
                            	<div class="form-group">
                                    <label for="service_type"><?php echo $this->translator->translator('cost_rental_service_type_label'); ?> <span class="star_class">*</span></label>
                                    <?php
                                        if($this->json_arr['posted_data']['service_type'])
                                        {
                                            $this->packageForm->service_type->setValue($this->json_arr['posted_data']['service_type']);
                                        }
                                        $this->packageForm->service_type->setAttrib('class', 'form-control');
                                        echo $this->packageForm->service_type;
                                    ?>
                                    <span class="input-errors" id="service_type_err"></span>                     
                                </div>
                            </div>
                            
                        	<div class="col-md-3">
                            	<div class="form-group">
                                    <label for="passengers"><?php echo $this->translator->translator('cost_passengers_label'); ?> <span class="star_class">*</span></label>
                                    <?php
										$high_p = $package_db->getBorderItems('feature_passenger',  'DESC', 'feature_passenger') ;
									?>
                                    <select name="passengers" id="passengers" class="form-control">
										<option value=""><?php echo $this->translator->translator('common_select'); ?></option>
										<?php
											for($i = 1; $i <= $high_p; $i++)
											{
												$selected = ($this->json_arr['posted_data']['passengers'] == $i) ? 'selected="selected"' : '';
												echo '<option value="'.$i.'" '.$selected.'>'.$i.'</option>';
											}
                                        ?>
                                    </select>
                                    <span class="input-errors" id="passengers_err"></span>                     
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                            	<div class="form-group">
                                    <label for="luggage"><?php echo $this->translator->translator('cost_luggage_label'); ?> <span class="star_class">*</span></label>
                                    <?php
										$high_l = $package_db->getBorderItems('(feature_suitcase_large + feature_suitcase_small)',  'DESC', 'luggage') ;
									?>
                                    <select name="luggage" id="luggage" class="form-control">
										<option value=""><?php echo $this->translator->translator('common_select'); ?></option>
										<?php
											for($i = 1; $i <= $high_l; $i++)
											{
												$selected = ($this->json_arr['posted_data']['luggage'] == $i) ? 'selected="selected"' : '';
												echo '<option value="'.$i.'" '.$selected.'>'.$i.'</option>';
											}
                                        ?>
                                    </select>
                                    <span class="input-errors" id="luggage_err"></span>                     
                                </div>  
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="rental_car_type"><?php echo $this->translator->translator('cost_rental_car_type_label'); ?> <span class="star_class">*</span></label>
                            <input name="rental_car_type" id="rental_car_type" value="<?php echo $this->json_arr['posted_data']['rental_car_type']; ?>" />
                            <span class="input-errors" id="rental_car_type_err"></span>                     
                        </div>                        
               		</div>
                                            
                    <div class="text-center">
                        <a href="javascript: void(0);" class="calculate_cost_btn btn"><?php echo $this->translator->translator('cost_calculate_title'); ?></a>
                    </div>
            	</form>
    		</div>
     	</div>
    </div>
	
   	<?php
   	if($this->json_arr['status'] == 'ok'):
   	?>
    <br>
    <h1><?php echo $this->translator->translator('cost_calculate_page_name'); ?></h1>

	<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'search/pagination-flickr.phtml'); ?>

    <?php
		  foreach($this->json_arr['data_result'] as $key => $entry)
		  {		
	?>	
      		<div class="panel panel-default">
            	<div class="panel-heading">
                	<div class="row">
                        <div class="col-md-4">
                            <div class="text-muted">
                                <em><?php echo $this->escape($entry['vehicle_name']); ?></em>
                            </div>
                        </div>
                        
                        <div class="col-md-4 text-center">
                            <span class="label label-success"><?php echo $this->escape($entry['car_type_format']); ?></span>
                        </div>
                        
                        <div class="col-md-4 text-right"> 
                        </div>
                    </div>
                </div>
                
                <div class="panel-body <?php echo ($entry['featured'] == '1') ? 'featured-content' : '' ?>">
                	<div class="row">
                        <div class="col-md-8">
                            <figure>
                                <div class="thumb">
                                	<a class="preview" link="<?php echo $entry['vehicle_image_format']; ?>" title="<?php echo $this->escape($entry['vehicle_name']); ?>"><img src="<?php echo $entry['vehicle_image_format']; ?>" border="0" width="150" /></a>
                                   	<div class="photo-count-container">
                                    	<div class="photo-count">
                                        	<a><span class="glyphicon glyphicon-camera"></span> <?php echo $this->escape($entry['vehicle_image_no_format']); ?> </a>
                                      	</div>
                                   	</div>
                                </div>
                            </figure>
                            
                            <div class="details">
                            	<h2><a  class="preview" link="" title="<?php echo $this->escape($entry['vehicle_name']); ?>"><?php echo $this->escape($entry['vehicle_name']); ?></a></h2>
                                <div class="details">
                               		<?php echo $this->escape(nl2br(strip_tags($entry['description']))); ?> 
                                </div>
                            </div>
                        </div>
				
                        <div class="col-md-4">
                        	<div class="text-center">	
                                <div class="price"><?php if($entry['price']){ echo $this->currency->getSymbol().' '.$entry['price_format']; } ?></div>
                            </div>
                            <ul class="list-group">                               
                                <li class="list-group-item">
                                    &bull; <?php echo html_entity_decode($this->translator->translator('cost_front_page_passengers', $this->numbers($this->escape($entry['feature_passenger']))), ENT_QUOTES, "UTF-8"); ?>
                                </li>
                                <li class="list-group-item">
                                    &bull; <?php echo html_entity_decode($this->translator->translator('cost_front_page_suitcase_l', $this->numbers($this->escape($entry['feature_suitcase_large']))), ENT_QUOTES, "UTF-8"); ?>, <?php echo html_entity_decode($this->translator->translator('cost_front_page_suitcase_s', $this->numbers($this->escape($entry['feature_suitcase_small']))), ENT_QUOTES, "UTF-8"); ?>
                                </li>
                                <?php
                                 if($entry['feature_amenities'])
                                 {
                                     $feature_amenities_arr = explode(',', $entry['feature_amenities']);
                                     foreach($feature_amenities_arr as $feature_amenities_key => $feature_amenities_value)
                                     {
                                ?>
                                        <li class="list-group-item">&bull; <?php echo $this->escape($feature_amenities_value); ?></li>
                                <?php
                                     }
                                 }
                                ?>                                    
                            </ul>
                        </div>
					</div>
				</div>
                
                <div class="panel-footer">
					<div class="row">
                        <div class="col-md-7">
                        </div>
                        
                        <div class="col-md-5 text-right">
                            <a href="<?php echo $this->url(array('module' => 'Costcalculator','controller' =>'search', 'action' => 'invoice','id' => $entry['id']),'Create-Reservation/*',true) ?>" class="btn btn-book"><span class="glyphicon glyphicon-bookmark"></span> <?php echo $this->translator->translator('cost_make_reservation'); ?></a>
                        </div>
                    </div>
				</div>
            </div>           
            	
	<?php
		  }
	?>
   
    <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'search/pagination-flickr.phtml'); ?>
    
    <?php endif; ?>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('cost_calculate_page_name')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div class="alert alert-success"><?php echo $this->translator->translator('cost_calculate_google_and_costing');?></div>
    <div class="progress progress-striped active">
		<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
	</div>
</div>
<div id="dialog_container_remove" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div class="alert alert-success"><?php echo $this->translator->translator('cost_calculate_remove_costing');?></div>
	<div class="progress progress-striped active">
		<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
	</div>
</div>
<div id="dialog_not_calculate" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div class="alert alert-success"><?php echo $this->translator->translator('cost_not_calculating');?></div>
	<div class="progress progress-striped active">
		<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
	</div>
</div>