<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
?>
<script type="text/javascript">
var settingObj = {
					tab_base_link: '<?php echo $tab_base_link; ?>',
					form_action : {
										form_id: 'formSettings',
										hasTinyMCE: false,
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',
										field_toggle_action: [],										
										extra_field_for_reset: [],
										extra_function_for_reset: function(){}
								},
					calendar:	{
									calendar_include_time: true,	
									calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
									monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
									monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
									dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
									buttonText:		'calendar',
									dateFormat:		'yy-mm-dd',
									dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
									culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
									value: ''
					},
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};
$(document).ready(function() {
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	$(function() {
		$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
	});

	

	$('a.reset_btn').click(function() {
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
	});
	

	$('a.save_data_btn').click(function() {

		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);	
			
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Tours','controller' => 'preferences', 'action'     => 'settings' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);	
					 },
				success: function(response){
					//alert(response);
					try
					{
						commonCloseLoaderDialog(settingObj);	
						var json_arr = eval("("+response+")");
						
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
	
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);
							}
							openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});

});
</script>


<div class="title-container">
	<div class="settings"><h1><?php echo $this->translator->translator('admin_title_preferences'); ?></h1></div>

    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php $staticGroupsObj = $this->preferencesForm->getDisplayGroups();  ?>
<div class="content-container">
	<form name="formSettings" id="formSettings" method="post" >
        <div id="actionMessage"></div>
            <div id="button_top_bar"></div>
          	<div id="generalInfo">
            	<div id="generalInfo">
					<div id="tabs">
                    <ul>
                    	<?php
						foreach($staticGroupsObj as $group_key => $staticGroup)
            			{
						?>
                        <li><a href="<?php echo $tab_base_link; ?>#tabs-<?php echo $group_key; ?>"><?php echo $this->translator->translator($staticGroup->getName());  ?></a></li>
                        <?php
						}
						?>
                    </ul>
                    <?php
						foreach($staticGroupsObj as $group_key => $staticGroup)
            			{
						?>
                    <div id="tabs-<?php echo $group_key; ?>">

                        <fieldset class="fieldset">
                		<legend class="legend"><?php echo $this->translator->translator($staticGroup->getLegend());  ?></legend>

                       	<div class="form">
                        	<?php
							$elementsObj = $staticGroup->getElements();
							foreach($elementsObj as $element)
							{
							?>
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $element->getLabel(); if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>

                                <div class="field">
                                    <?php echo $element; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="<?php echo $element->getName(); ?>_err"></div>
                                </div>
                            </div>
                            <?php
							}
							?>
                     	</div>
                        </fieldset>
                    </div>
                    <?php
						}
					?>



					</div>
                </div>
            </div>
    </form>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('admin_title_preferences'); ?></h1>

    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('admin_title_preferences')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>"><div id="progressbar" style="height:22px;margin-top:30px;"></div></div>

<?php endif; ?>

</div>