<div id="container">
<?php  if (!$this->allow('itinerary')) : 

	?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php 
	else :  
$version = Zend_Registry::get('version');	
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/BookingCalendar/js/jquery.dop.BookingCalendar.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/js/jquery/BookingCalendar/css/jquery.dop.BookingCalendar.css');
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

function type_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}

$mem_db = new Members_Model_DbTable_MemberList();
?>
<script type="text/javascript">
$(document).ready(function() {

	floatingbar('#floatingbar',"#button_top_bar",null);
	/****************************Sorting Table Start*********************/
	var oTable = $("#sortTable").dataTable({
				"bPaginate": false,
				"bLengthChange": true,
				"bSearchable": true,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"bProcessing": false,
				"bSortClasses": true,
				"bStateSave": false,
				"bServerSide": false,
				"aaSorting": [[ 1, "asc" ]],				
				"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
				"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
			}); 	
	
	$('td', oTable.fnGetNodes()).hover( function() {		
		$(this).parents("tr:first").children('td').addClass( 'highlighted' );
	}, function() {
		$('td.highlighted').removeClass('highlighted');
	} );
	
	/****************************Sorting Table End*********************/
	
		$('a.calendar_btn').click(function(){
		 	var self = this;
			var id = $(self).attr('rel');
			openCalendarDialog(id);
		 });
		 
		function openCalendarDialog(id)
		{
			$('#dialog_calendar_loader').dialog({
						autoOpen: true,
						width: 880,
						height:480,
						modal: false,
						show: 'fade',
						resizable: 'false',				
						open: function(event, ui)
							 {
							 	$('#dialog_calendar').html('');
								$('#dialog_calendar').DOPBookingCalendar({'Type':'BackEnd', 'DataURL':'<?php echo $this->url( array("module"=> "Hotels", "controller" => "backendroom", "action"     => "load", "id" => "" ), "adminrout",    true) ?>'+id, 'SaveURL':'<?php echo $this->url( array("module"=> "Hotels", "controller" => "backendroom", "action"     => "update", "id" => "" ), "adminrout",    true) ?>'+id,'Currency':'<?php echo $currency->getSymbol(); ?>'});						
							 },
						beforeClose: function(event, ui) { 
								$('#dialog_calendar').html('');
							 }
					});
		}
		 		
		function openLoaderDialog()
		{
			$('#dialog_loader').dialog({
						autoOpen: true,
						modal: true,
						show: 'fade',
						resizable: 'false',				
						open: function(event, ui)
							 {
								$("#progressbar").progressbar({
									value:100
					
								});							
							  }
					});
		}
		
		function closeLoaderDialog()
		{
			$('#dialog_loader').dialog('option','hide','explode').dialog('close');
		}
			
	
	$('input.checkAll_btn').click(function() {
		var self = this;
		if($(self).is(':checked'))
		{		
			$('input.check_btn').prop('checked', true);
		}
		else
		{
			$('input.check_btn').attr('checked', false);
		}
	});
	
	$('a.delete_all').click(function() {
		var self = this;
		if($('input.check_btn:checked').length > 0)
		{
			$("#dialog-confirm").html("<?php echo addslashes($this->translator->translator('hotels_list_delete_confirm')); ?>").dialog({
					resizable: false,
					width:400,
					height:170,
					modal: true,

					show: 'fade',
					hide: 'explode',
					buttons: {
							'<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?>': function() {
							deleteAll(self);
							$(this).dialog('close');
						},
					'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
							$(this).dialog('close');
						}
					}
				});		
		}
		else
		{
			var msg = "<?php echo $this->translator->translator('hotels_selected_err'); ?>";
			openMsgDialog(msg);
		}
	});
	
	allFunctions();
});



function openMsgDialog(msg)
{
	$('#dialog_container').html(msg).dialog({
		autoOpen: true,
		modal: false,
		width: '450px',
		show: 'fade',
		resizable: 'false',				
		buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, "UTF-8"); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
		open: function(event, ui)
		 {
			setTimeout(function() 
			{									
				if($('#' + event.target.id).dialog('isOpen'))
				{
					$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
				}
			}, 10000);
		  }
	});
}

/* Get the rows which are currently selected */
function fnGetSelected( oTableLocal )
{
	var aReturn = new Array();
	var aTrs = oTableLocal.fnGetNodes();
	
	for ( var i=0 ; i<aTrs.length ; i++ )
	{
		if ( $(aTrs[i]).hasClass('row_selected') )
		{
			aReturn.push( aTrs[i] );
		}
	}
	return aReturn;
}

function checkNonDeletedId(id,id_arr)
{
	var tmp = false;
	for(var i = 0;i < id_arr.length;i++)
	{
		if(id_arr[i] == id)
		{
			tmp = true;
			break;
		}
	}
	return tmp;
}

function cancelThis(self)
{
	var arr = $(self).attr('rel').split('_');
	$.ajax({
		 url: "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendexpedia', 'action'     => 'cancel' ), 'adminrout',    true) ?>",
		 type: 'POST',
		 data: { id: arr[0]},
		 beforeSend: function(){
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
			 },
		 success: function(response) 
		 {
			//alert(response);
			var json_arr = eval("("+response+")");
			if(json_arr.status == 'ok')
			{
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/inactive.png" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>"  border="0" />');
				$(self).unbind('click');
				$(self).removeAttr('href');
				$(self).removeAttr('rel');
			}
			else
			{
				openMsgDialog('<span style="color:red">'+json_arr.msg+'</span>');
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/active.png" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>"  border="0" />');
			}
		 },
		 error: function(xhr, status, error){
			var msg = "Error! " + xhr.status + " " + error;
			$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/active.png" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>"  border="0" />');
			openMsgDialog('<span style="color:red">'+msg+'</span>');
		 }
	});
}

function deleteThis(self)
{
	var arr = $(self).attr('rel').split('_');
	$.ajax({
		 url: "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendexpedia', 'action'     => 'delete' ), 'adminrout',    true) ?>",
		 type: 'POST',
		 data: { id: arr[0]},
		 beforeSend: function(){
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
			 },
		 success: function(response) 
		 {
			//alert(response);
			var json_arr = eval("("+response+")");
			if(json_arr.status == 'ok')
			{
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").addClass('row_selected');
				var oTables = $('#sortTable').dataTable();
				var anSelected = fnGetSelected( oTables );
				oTables.fnDeleteRow( anSelected[0] );
			}
			else
			{
				openMsgDialog(json_arr.msg);
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo $this->translator->translator("common_delete_title"); ?>" border="0" />');
			}
		 },
		 error: function(xhr, status, error){
			var msg = "Error! " + xhr.status + " " + error;
			openMsgDialog(msg);
		 }
	});
}

function deleteAll(self)
{
	var id_str = '';
	for(var i=0;i < $('input.check_btn:checked').length;i++)
	{
		if(i == 0)
		{
			 id_str += $('input.check_btn:checked:eq('+i+')').val();
		}
		else
		{
			id_str += ','+$('input.check_btn:checked:eq('+i+')').val();
		}
	}
	
	$.ajax({
			url: "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendexpedia', 'action'     => 'deleteall' ), 'adminrout',    true) ?>",
			type: 'POST',
			data: { id_st: id_str},
			beforeSend: function(){
				$(self).html('<span class="icon loader"></span>');
			 },
			success: function(response) 
			{
				//alert(response);
				var json_arr = eval("("+response+")");
				if(json_arr.status == 'ok')
				{
					for(var i= ($('input.check_btn:checked').length-1);i >= 0;i--)
					{								
						$('input.check_btn:checked:eq('+i+')').parents("td:first").parents("tr:first").addClass('row_selected');									
					}
					var oTabled = $('#sortTable').dataTable();
					var anSelected = fnGetSelected( oTabled );
					for(var k = 0; k < anSelected.length; k++)
					{
						oTabled.fnDeleteRow( anSelected[k] );
					}
				}
				else
				{							
					openMsgDialog(json_arr.msg);
				}	
				$(self).html('<span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span>');
			},
			error: function(xhr, status, error){
				var msg = "Error! " + xhr.status + " " + error;
				openMsgDialog(msg);
			}
	});	
}
		
function allFunctions()
{
		imageThumbnil();
		$('a.delete_btn').unbind('click');	
		$('a.delete_btn').click(function() {
			var self = this;
			$("#dialog-confirm").html("<?php echo addslashes($this->translator->translator('hotels_list_delete_confirm')); ?>").dialog({
				resizable: false,
				width:400,
				height:170,
				modal: true,
				show: 'fade',
				hide: 'explode',
				buttons: {
						'<?php echo html_entity_decode($this->translator->translator("hotels_delete"), ENT_QUOTES, "UTF-8"); ?>': function() {
						deleteThis(self);
						$(this).dialog('close');
					},
				'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
						$(this).dialog('close');
					}
				}
			});
			
		});		
		
		$('a.cancel_btn').unbind('click');	
		$('a.cancel_btn').click(function() {
			var self = this;
			$("#dialog-confirm").html("<?php echo addslashes($this->translator->translator('hotels_list_cancel_confirm')); ?>").dialog({
				resizable: false,
				width:400,
				height:170,
				modal: true,
				show: 'fade',
				hide: 'explode',
				buttons: {
						'<?php echo html_entity_decode($this->translator->translator("common_ok"), ENT_QUOTES, "UTF-8"); ?>': function() {
						cancelThis(self);
						$(this).dialog('close');
					},
				'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
						$(this).dialog('close');
					}
				}
			});
			
		});
}

/************************************************IMAGE THUMBNIL************************************************/
function imageThumbnil()
{	
	$("span.thumb").hover(function() {
		$(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
		$(this).find('img').addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
			.animate({
				marginTop: '-110px', /* The next 4 lines will vertically align this image */ 
				marginLeft: '-110px',
				top: '50%',
				left: '50%',
				width: '174px', /* Set new width */
				height: '174px', /* Set new height */
				padding: '20px'
			}, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
	
		} , function() {
		$(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
		$(this).find('img').removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
			.animate({
				marginTop: '-4px', /* Set alignment back to default */
				marginLeft: '0',
				top: '0',
				left: '0',
				width: '30px', /* Set width back to default */
				height: '20px', /* Set height back to default */
				padding: '5px'
			}, 400);
	});
}
</script>

<div class="title-container">
	<div class="hotels-itinerary"><h1><?php echo $this->translator->translator('hotels_expedia_itinerery_list_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($this->allow('add','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendroom', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo $this->translator->translator('hotels_room_type_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($this->allow('delete','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    <div id="content-inner">
    	<div class="pagination">
        	<?php echo $this->paginationControl($this->datas, 'Sliding', 'top_pagination.phtml'); ?>
        </div>
        
        <div class="chart">
            <div class="data-table">
            	<table id="sortTable" width="100%" align="center" cellpadding="0" cellspacing="0">
                    <thead>
                    	<tr>
              				<th width="2%" class="center"><input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn" /></th>
                     		<th width="5%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_ld'); ?></th>
                   		  	<th width="15%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_itineraryId'); ?> </th>
       		  	      		<th width="25%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_email'); ?> </th>
                      		<th width="12%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_arrival'); ?> </th>                      
                   		  	<th width="12%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_departure'); ?> </th>
                   		  	<th width="12%"><?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_price'); ?> </th> 
                      		<th width="15%"><?php echo $this->translator->translator('common_action'); ?></th>
                    	</tr>
                  	</thead>
                    <tbody>
                    <?php 	
                                                            
                    $j = 1;
                    foreach ($this->datas as $entry): 
                        if($j % 2 == 0)
                        {
                            $onmouseout = "this.bgColor='#FFFFFF';";
                            $background = '#FFFFFF';
                        }
                        else
                        {
                            $onmouseout = "this.bgColor='#F7F7F7';";
                            $background = '#F7F7F7';
                        }
                    ?>
                   		<tr bgcolor="<?php echo $background; ?>" onmouseover="this.bgColor='#FCF5DD';" onmouseout="<?php echo $onmouseout; ?>">
                     		<td class="center checkbox"><input type="checkbox" name="checkbtn" id="checkbtn" value="<?php echo $this->escape($entry->id); ?>" class="check_btn" /></td>
                      		<td class="center"><?php echo $this->escape($entry->id); ?></td>
                            
                      		<td class="center"><?php  ?>  <?php echo $entry->itineraryId; ?> </td>
                            
                            
                            <td>
                      			<?php 	
                                		
                                        echo '<span>'.$entry->email.'</span>';
                                																 
                      			?>
                      		</td>	
                            
                            
                      		<td class="center">
                      			<?php 	
                                		
                                        echo '<span>'.$entry->arrivalDate.'</span>';
                                																 
                      			?>
                      		</td>	
                            

                      		<td class="center">
                      			<?php 	
                                		
                                        echo '<span>'.$entry->departureDate.'</span>';
                                																 
                      			?>
                      		</td>	
                            
                            
                      		 

							<td class="center">
                      			<?php 	
                                		
                                        echo '<span>'.$entry->rateCurrencyCode . ' ' .	round($entry->price ,2) .'</span>';
                                																	 
                      			?>
                      		</td>	   
                            								  
                      											  
                      		<td class="center tools-list">
                            	<ul>
                                	<li>
                               		<?php if ($this->allow('view','backendexpedia','Hotels')) : ?>
                                	<a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendexpedia', 'action'     => 'view', 'id' => $this->escape($entry->id)), 'adminrout',    true) ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/view.gif" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_view_more'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_itinerary_view_more'); ?>"  border="0" /></a>
                                	<?php endif; ?>
                                    </li>
                              
                                	<li >
									<?php 
									if ($this->allow('cancel','backendexpedia','Hotels')) : 
									
										if ($entry->cancel){
									?>
                                    		<a><img src="application/modules/Administrator/layouts/scripts/images/tools/inactive.png" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>"  border="0" /> </a>
                                	<?php 
										}
										
										else {
									?>
                           			        <a href="javascript:void(0);" rel="<?php echo $this->escape($entry->id); ?>" class="cancel_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/active.png" title="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>" alt="<?php echo $this->translator->translator('hotels_api_expedia_backend_cancel_itinerary'); ?>"  border="0" /></a>

                                	<?php 
										}
									
									endif; 
									
									?>
                                    </li>

                                	<li>
									<?php if ($this->allow('delete','backendexpedia','Hotels')) : ?>
                                	<a href="javascript:void(0);" class="delete_btn"  rel="<?php echo $this->escape($entry->id); ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo $this->translator->translator('common_delete_title'); ?>" border="0" /></a>
                                	<?php endif; ?>
                                  	</li>
                            	</ul>
                         	</td>
                    	</tr>
                   	<?php 													
                        $j++;
                        endforeach;	
                        
                 	?>
                   </tbody>
				</table>
         	</div>
     	</div>
        
        <div class="pagination">
        	<?php echo $this->paginationControl($this->datas, 'Sliding', 'pagination.phtml'); ?>
        </div>        
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('hotels_expedia_itinerery_list_page_name'); ?></h1>
    
    <div class="button-container">
        <?php if ($this->allow('add','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendroom', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo $this->translator->translator('hotels_room_type_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($this->allow('delete','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>

<div id="dialog_calendar_loader" style="display:none;"><div id="dialog_calendar"></div></div>
<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_expedia_itinerery_list_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>	
<div id="dialog_loader" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" style="height:22px;margin-top:40px;"></div>	
</div>
</div>