<?php
if($this->last > 1)
{

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');
$category_id = $frontController->getRequest()->getParam('category_id');
$translator = Zend_Registry::get('translator');
?>
<div class="text-center">
    <ul class="pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
        	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'category_id' => $category_id,'page' => $this->previous),'News-Section/:menu_id/:category_id/:page',true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'category_id' => $category_id,'page' => $page),'News-Section/:menu_id/:category_id/:page',true); ?>"><?php echo $this->numbers($page); ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $this->numbers($page); ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
        	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'category_id' => $category_id,'page' => $this->next),'News-Section/:menu_id/:category_id/:page',true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>
</div>
<?php
}
?>