.packages .ac-container{
	/*width: 400px;*/
	margin: 10px auto 15px auto;
	/*text-align: left;*/
}

.packages .ac-container label{
	padding: 5px 25px;
	position: relative;
	z-index: 20;
	display: block;
	/*height: 30px;*/
	cursor: pointer;
	color: #777;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
	line-height: 28px;
	font-size: 15px;
	background:#F0F0F4;
	background-image: url(../../mobile/images/inactive-header.png);
	background-repeat: no-repeat;
	background-position: 4px 13px;
	/*box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);*/
}

.packages .ac-container input:checked + label a{
	color:#FFF;
}
	
.packages .ac-container label:hover{
	/*background-color: #D9EDF7;*/
}
.packages .ac-container input:checked + label,
.packages .ac-container input:checked + label:hover{
	/*background: #0896FF;*/
	background-image: url(../../mobile/images/active-header.png);
	background-repeat: no-repeat;
	background-position: 4px 13px;
	color:#FFF;
	/*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);*/
	/*box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);*/
}
.packages .ac-container label:hover:after,
.packages .ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 6px;
	top: 7px;
	background: transparent url(../../mobile/images/arrow_down.png) no-repeat center center;
}
.packages .ac-container input:checked + label:hover:after{
	background-image: url(../../mobile/images/arrow_up.png);
}

.packages .ac-container input:checked + label sup{
	color:#FF0 !important;
}

.packages .ac-container input{
	display: none;
}
.packages .ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.packages .ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.packages .ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, /*box-shadow 0.1s linear*/;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	/*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
}
.packages .ac-container input:checked ~ article.ac-small{
	height: 135px;
}

.packages .ac-container input:checked ~ article.ac-medium{
	height: 200px;
}

.packages .ac-container input:checked ~ article.ac-auto{
	height:100%;
}

.packages .ac-container input:checked ~ article.ac-large{
	height:auto;
}