/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Logistics Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #B30D15;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background-color:#D30F19;
	border:1px solid #B30D15;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* Global Block Style --------------------------------------------------------------- */

.block .thumb{
	margin-right:0;
	margin-left:8px;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags .dropdown dl{ 
	float:left;
}

.dropdown dd ul{ 
	right:-155px; 
}

.dropdown dd ul li{
	border-left:0;
	text-align:left;
}

.dropdown span.flag{
	float:left;
}

.dropdown span.flag span.glyphicon{
	margin-right:10px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* PRODUCT MODULES ****************************************************************** */

/* Shipment Tracker Module ---------------------------------------------------------- */

.mod.tracker .tracker-chart-row2 .row2-col{
	padding-right:4px;
	padding-left:0px;
	margin-left:0px;
}

.mod.tracker .tracking-label{
	float:right;
}

.mod.tracker .delivered,
.mod.tracker .undelivered{
	background-position:right center;
	padding-right:20px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* Others --------------------------------------------------------------------------- */

.jetmenu .indicator{
	right:5px !important;
	left:0 !important;
}

.resp-arrow{
	float:left !important;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


