/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Logistics Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#D70000;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#D70000;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#CC0000;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #B30D15;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background-color:#D30F19;
	border:1px solid #B30D15;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color: #D5131B;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #A40F16;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#BB111A;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#3B3B3B;
	min-height:29px;
	padding:10px 0;
	color:#D6DEE0;
	text-align:center;
}

.user-link{
	border-bottom:1px solid #313131;
	padding-bottom:8px;
	margin-bottom:5px;
}

.user-link a{
	color: #B4B4B4;
	text-decoration:underline;
}

.user-link a:hover{
	color:#EFEFEF;
	text-decoration:none;
}

.top-links a{
	color: #B4B4B4;
	display:inline-block;
}

.top-links a:hover{
	color: #EFEFEF;
}

/* ---------------------------------------------------------------------------------- */

/* Middle Bar ----------------------------------------------------------------------- */

#middle-bar{
	background-color:#0088DD;
	margin-top:1px;
	padding:20px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#D30F19;
	padding-top:15px;
	padding-bottom:15px;
}

#header .logo img{
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	background:url(../../images/map-bg.png) center center no-repeat;
	background-color:#1A1A1A;
	padding-top:50px;
	padding-bottom:25px;
}

#banner-inner{
	background-color:#1A1A1A;
	padding-top:10px;
	margin-bottom:20px;
	text-align:center;
	overflow:hidden;
}

#banner-inner h1{
	font-size:23px;
	font-weight:bold;
	color:#FFF;
	margin-top:75px;
	text-transform:uppercase;
	display:inline-block;
}

#banner-inner a{
	font-size:17px;
	color:#FFF;
	padding:12px 20px;
	margin-bottom:10px;
	white-space:normal;
	display:inline-block;
	border:0;
}

#banner-inner a:hover{
	text-decoration:none;
}

#banner-inner a.btn-1{
	background:#D5131B;
}

#banner-inner a.btn-1:hover{
	background:#C2121B;
}

#banner-inner a.btn-2{
	background:#3B5997;
}

#banner-inner a.btn-2:hover{
	background:#35518A;
}

#banner-inner a.btn-3{
	background:#FF8D06;
}

#banner-inner a.btn-3:hover{
	background:#F28000;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block{
	margin:0 auto 25px auto;
}

.block h3{
	margin:0;
	text-transform:uppercase;
	font-size:17px;
	color:#394041;
	display:block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:15px;
	color:#0660B8;
	letter-spacing:normal;
}

.block h6 a:hover{
	color:#999;
}

.block .date{
	color:#FFA317;
	font-size:13px;
	font-style:italic;
}

.block .btn{
	border-radius:0;
}

.block .panel{
	border-radius:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
	border-radius:0;
}

.block figure img,
	   figure img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 2px 8px 2px 0;
	float:left;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background:#D5131B;
	border-bottom:3px solid #A40F16;
	color:#FFF;
	padding: 6px 22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
	display:inline-block;
}

.block .more a:hover{
	background-color:#BB111A;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	border-top:2px solid #D5131B;
	background-color:#F2F2F2;
	padding:20px 0;
	margin-top:15px;
}

#footer hr{
	margin-top:8px;
	margin-bottom:8px;
	border-top:0px;
	border-bottom: 1px solid #CCC;
}

#footer .links span{
	color: #161616;
}

#footer .links a{
	color: #525252;
}

#footer .links a:hover{
	color: #D5131B;
}

#footer .copyright{
	color: #525252;
}

#footer .copyright a{
	color: #525252;
	text-decoration:underline;
	margin-bottom:10px;
}

#footer .copyright a:hover{
	color: #D5131B;
}

#footer .social{
	text-align: center;
	color: #3B5997;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

.go-top a{
	font-size:18px;
	background:#3B3B3B;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#D5131B;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
	border-bottom:1px solid #E9E9E9;
}

.block-news h4 a{
	font-size: 17px;
	color: #CC0000;
	text-transform: none;
	letter-spacing:normal;
}

.block-news .date{
	padding: 2px 4px;
	color: #F60;
	margin: 6px 0;
	display: inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe label{
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
}

.block-subscribe .newsletter_arr{
	color:#C00;
	font-style:italic;
	line-height:22px;
	display:block;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* Shipment Tracker ----------------------------------------------------------------- */

.block-tracker{
	background-color: rgba(0, 0, 0, 0.3);
	padding:15px;
}

.block-tracker p{
	font-size:17px;
	color:#FFF;
}

.block-tracker span.info{
	color: #CCC;
	font-size:14px;
	margin-bottom:10px;
	display:inline-block;
}

.block-tracker select,
.block-tracker input[type="text"]{
	font-size:15px;
	border:1px solid #FFF;
}

.block-tracker input[type="submit"]{
	font-size:17px;
	color:#FFF;
	padding:12px 25px;
	background:#D5131B;
	white-space:normal;
	border:0;
}

.block-tracker input[type="submit"]:hover{
	background-color:#BB111A;
}

/* ---------------------------------------------------------------------------------- */

/* Network Map ---------------------------------------------------------------------- */

.block-network{
	width:100%;
	height:240px;
}

/* ---------------------------------------------------------------------------------- */

/* Recent Products ------------------------------------------------------------------ */

.block-recent-product{
	overflow:hidden;
}

.block-recent-product img{
	margin:10px auto;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad{
	height:140px;
	overflow:hidden;
}
	
.block-scrolling-ad img{
	margin:10px;
	border:1px solid #EDEDED;
	background-color:#F9F9F9;
}

.block-scrolling-ad .block-title{
	text-align:center;
}

.block-scrolling-ad .simply-scroll{
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Article by ID -------------------------------------------------------------------- */

.block-article{
	text-align:justify;
	line-height:22px;
	word-spacing:1px;
	color:#555555;
}	

/* ---------------------------------------------------------------------------------- */

/* Middle Bar ----------------------------------------------------------------------- */

#middle-bar{
	background-color:#FFF;
	padding:20px 0;
}

#middle-bar .block-service{
	border:1px solid #E8E8E8;
	padding:8px;
	text-align:center;
}

#middle-bar .block-service.last{
	margin-bottom:0;
}

#middle-bar .block-service img{
	display:inline-block;
}

#middle-bar .block-service h2{
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#D5131B;
	text-align:center;
	margin:15px 0 8px 0;
}

#middle-bar .block-service h2 span.second{
	color:#3B3B3B;
}

#middle-bar .block-service .map{
	background-color:#FFF;
	height:140px;
	text-align:center;
}

#middle-bar .block-service .map img{
	margin-top:22px;
}

#middle-bar .block-service .more{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod figure .thumb{
	margin-bottom:0;
	position:relative;
}

/* ---------------------------------------------------------------------------------- */

/* Shipment Tracker Module ---------------------------------------------------------- */

.mod.tracker .container{
	background:#D30F19;
    margin-bottom:15px;
    padding: 10px;
}

.mod.tracker .container p{
	color:#FFF;
	font-size:17px;
}

.mod.tracker .container .star_class{
	color:#FF0;
}

.mod.tracker input[type="text"],
.mod.tracker select{
	border-radius:0;
	border:1px solid #FFF; 
}

.mod.tracker .btn{
	background-color:#FB9700;
	color:#FFF;
	font-size:17px;
	border-radius:0px;
	outline: 0 none;
}

.mod.tracker .btn:hover{
	background-color:#F28000;
}

.mod.tracker .tracking-msg{
	color:#FF0;
	font-style:italic;
	display:block;
	margin-bottom:15px;
}

/* Shipment Status Start */

.mod.tracker .tracker-status{
	width:100%;
	margin:auto;
	display:table;
    border-spacing:0;
	border:1px solid #FC0;
	background-color:#FFC;
}

.mod.tracker .tracker-status-row{
	display:table-row;
}

.mod.tracker .tracker-status-col-1{
	width:40%;
	border-right: 1px solid #FC0;
	display:table-cell;
	padding:8px;
}

.mod.tracker .tracker-status-col-1.col-2{
	width:60%;
	border:none;
}

.mod.tracker .tracker-chart{
	width:100%;
	margin:auto;
	display:table;
    border-spacing:0;
	border:1px solid #990000;
	background-color:#FFF9DF;
}

.mod.tracker .tracker-chart-row{
	display:table-row;
	background-color:#FFCC00;
}

.mod.tracker .tracker-chart-header-col-1{
	width:5%;
	padding:5px;
	border-right: 1px solid #FFF;
	display:table-cell;
	line-height:30px;
	text-align:center;
	color:#000;
}

.mod.tracker .tracker-chart-header-col-1.col-2{
	width:48%;
}

.mod.tracker .tracker-chart-header-col-1.col-3{
	width:36%;
}

.mod.tracker .tracker-chart-header-col-1.col-4{
	width:10%;
	border:none;
}

.mod.tracker .tracker-chart-row2{
	display:table-row;
	height:28px;
}

.mod.tracker .tracker-chart-row2 .row2-col{
	display:table-cell;
	line-height:30px;
	margin-right:0px;
}

.mod.tracker .row2-col.sl{
	text-align:center;
}

.mod.tracker .row2-col.time{
	text-align:center;
}

.mod.tracker .tracking-no{
	color:#FF0;
	background-color:#C00;
	padding:2px 5px;
}

.mod.tracker .tracking-label{
	color:#C00;
	float:left;
}

.mod.tracker .delivered,
.mod.tracker .undelivered{
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:20px;
}

.mod.tracker .delivered{
	color:#00AE00;
	background-image:url(../../images/mod_logistics_img/delivered.png);
}

.mod.tracker .undelivered{
	color:#D00;
	background-image:url(../../images/mod_logistics_img/undelivered.png);
}

/* Shipment Status End */

/* ---------------------------------------------------------------------------------- */

/* Network or Location Finder ------------------------------------------------------- */

.mod.network{ 
	height:500px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */



