<?php
$modules_license = new Administrator_Controller_Helper_ModuleLoader();	
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License');
$validation_data = $license->license_data; 
$err_desc = $this->logindetails->getDescription();
?>

<div class="container">
    <div class="col-md-6 col-md-offset-3">
    	<div class="login-box">
        	<a href="" title="" target="_blank"><img src="<?php if(empty($global_conf['admin_header_logo'])){ echo $validation_data['vendor_logo']; }else{ echo $global_conf['admin_header_logo']; } ?>" class="center-block" height="70" alt=""/></a>
            <div class="row">
            	<div class="col-md-10 col-md-offset-1">
                	<h3 class="text-center"><?php echo $this->translator->translator('administrator_login_page_title'); ?></h3>
                    <?php if(!empty($err_desc)){ echo '<div class="ui-widget"><div class="ui-state-error ui-corner-all"><p><span class="ui-icon ui-icon-alert"></span>'.$err_desc.'</p></div></div>'; } ?>
                    
                    <form id="AdminLogin" name="AdminLogin" method="post" action="<?php echo $this->url( array('module'=> 'Administrator', 'controller' => 'login', 'action'     => 'auth' ), 'adminrout',    true); ?>" role="form">
                    	<div class="form-group">
                        	<!--<label for="<?php //echo $this->logindetails->username->getAttrib('id'); ?>"><?php  //echo $this->logindetails->username->getLabel();	?></label>-->
                        	<div class="input-group">
                            	<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <?php  echo $this->logindetails->username;?>
                            </div>
                            <?php
                            $errMsg = $this->logindetails->getMessages();
								  if(is_array($errMsg))
								  {
									if($errMsg['username'])
									{
										echo '<div class="alert alert-danger"><i class="fa  fa-times-circle"></i> ';
										 foreach($errMsg['username'] as $value)
										 {
											echo $value;
										 }
										 echo '</div>';
									 }
								}
							?>
                        </div>
                        
                        <div class="form-group">
                        	<!--<label for="<?php //echo $this->logindetails->password->getAttrib('id'); ?>"><?php //echo $this->logindetails->password->getLabel();	?></label>-->
                        	<div class="input-group">
                        		<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <?php  echo $this->logindetails->password; ?>
                          	</div>
                            
                            <?php
                            if(is_array($errMsg))
                                {
                                     if($errMsg['password'])
                                     {
                                     echo '<div class="alert alert-danger"><i class="fa  fa-times-circle"></i> ';
                                        foreach($errMsg['password'] as $value)
                                         {
                                            echo $value;
                                         }
                                     echo '</div>';	
                                     }
                                }
							?>
                        </div>
                        
                        <div class="form-group">
                        	<?php
							if($this->logindetails->login_captcha)
							{
							?>
								<label for="<?php echo $this->logindetails->login_captcha->getName(); ?>-input"  class="control-label"><?php  echo $this->logindetails->login_captcha->getLabel();?></label>
								
								<?php echo ''.$this->logindetails->login_captcha.''; ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->logindetails->login_captcha->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
								
								<?php
									if(is_array($errMsg))
									{
										 if(!empty($errMsg['login_captcha']))
										 {
										 echo '<div class="alert alert-danger"><i class="fa  fa-times-circle"></i> ';
											foreach($errMsg['login_captcha'] as $value)
											 {
												echo $value;
											 }
										 echo '</div>';	
										 }
									}
								}
								?>
							
								<?php 
								if(is_array($errMsg))
								{
									if($errMsg['token'])
									 {
										echo '<div class="alert alert-danger"><i class="fa  fa-times-circle"></i> ';
										foreach($errMsg['token'] as $value)
										 {
											echo $value;
										 }
										echo '</div>';	
									}
								}
								?>
                        </div>
                        
                        <?php echo $this->logindetails->token; ?>
                       	<input type="submit" name="login" value="<?php echo $this->translator->translator('administrator_login_button'); ?>" class="btn btn-primary btn-block" />
                      	<a class="btn btn-default btn-sm" href="<?php echo $this->url(array('module'=>'Password','controller'=>'Backend','action' =>'send'),'adminrout',true); ?>"><?php echo $this->translator->translator('administrator_forget_password'); ?></a>
                	</form>
                </div>
			</div>
        </div>
        
        <p class="login-footer">
            <?php echo $this->translator->translator('common_footer_power'); ?></strong> <a href="http://www.<?php if(empty($global_conf['admin_footer_url'])){ echo $validation_data['vendor_domain']; }else{ echo $global_conf['admin_footer_url']; } ?>" target="_blank"><?php if(empty($global_conf['admin_footer'])){ echo $validation_data['footer_name']; }else{ echo $global_conf['admin_footer']; } ?></a>
            <?php echo $this->translator->translator('common_vesrion_label'); ?> <?php echo $this->numbers(Eicra_License_Version::getVersion()); ?><br>
            <?php echo $this->translator->translator('common_footer_copy_right'); ?><?php echo $this->numbers(date("Y")); ?> <?php echo $this->translator->translator('common_footer_all_right'); ?>
        </p>
    </div>
</div>