<?php
class recent_vacationrentals
{
	protected	$_group = 1;
	protected	$_limit = 3;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->_global_conf = Zend_Registry::get('global_conf');
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$currency = new Zend_Currency($this->_global_conf['default_locale']);
		$currency_symbol = $currency->getSymbol();
		$translator = Zend_Registry::get('translator');	
		$review_helper = new Review_View_Helper_Review();
		$group_db =  new Vacationrentals_Model_DbTable_VacationrentalsGroup();
		$group_info = $group_db->getGroupName($this->_group);
		
		$select_latest = $this->_DBconn->select()
									->from(array('pp' => Zend_Registry::get('dbPrefix').'vacationrentals_page'), array('*'))
									->where('pp.group_id = ?', $this->_group)
									->where('pp.active = ?', '1')
									->order($group_info['latest_file_sort']." ".$group_info['latest_file_order'])
									->limit($this->_limit)				   	
									->joinLeft(array('bt' => Zend_Registry::get('dbPrefix').'vacationrentals_business_type'), 'pp.vacationrentals_type = bt.id', array('business_type' => 'bt.business_type'))
					   				->joinLeft(array('gp' => Zend_Registry::get('dbPrefix').'vacationrentals_group'), 'gp.id = '. $this->_group, array('review_id' => 'gp.review_id'))
									->joinLeft(array('ct' => Zend_Registry::get('dbPrefix').'cities'), 'ct.city_id = pp.area_id');
		
		$vacationrentals_info =  $select_latest->query()->fetchAll();	
?>
<div class="block block-recent">
	<div class="block-body">
        <h3><?php echo $translator->translator('vacationrentals_block_latest_list_title','', '', $this->_front_template['theme_folder']); ?></h3>
        <?php
        if($vacationrentals_info)
        {
            foreach($vacationrentals_info as $partial_entry)
            {
                $link = $this->_view->url( array('module' => 'Vacationrentals','controller' =>'frontend','action' => 'details','vacationrentals_title' => $this->_view->escape($partial_entry['vacationrentals_title']) ), 'Vacationrentals-details/:vacationrentals_title',    true);
                $vacationrentals_image_val_arr = explode(',',$partial_entry['vacationrentals_image']);
                $vacationrentals_image_no = ($vacationrentals_image_val_arr[0]) ? count($vacationrentals_image_val_arr) : 0;                    
                if($this->_view->escape($partial_entry['vacationrentals_primary_image']))
                {
                    $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($partial_entry['vacationrentals_primary_image']); 
                }
                else
                {
                    $vacationrentals_image_val_arr = explode(',',$partial_entry['vacationrentals_image']);
                    $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($vacationrentals_image_val_arr[0]); 
                }
        ?>
            <figure>
                <div class="row">
                    <div class="col-md-12">                        	
                        <div class="thumb">
                            <span class="type"><?php  echo $this->_view->escape($partial_entry['business_type']); ?></span>
                            <a href="<?php echo $link; ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->_view->escape($partial_entry['vacationrentals_name']); ?>" width="300"><img src="<?php echo $thumb_image; ?>" width="180" border="0" class="img-responsive" /></a>
                            <div class="photo-count-container">
                                <div class="photo-count">
                                    <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details', 'vacationrentals_title' => $this->_view->escape($partial_entry['vacationrentals_title']),'tab' => 1 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>" title="<?php echo $translator->translator('vacationrentals_front_page_vacationrentals_click_view_listing','', '', $this->_front_template['theme_folder']); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $translator->translator('vacationrentals_front_page_vacationrentals_photo_no','<span>'.$vacationrentals_image_no.'</span>','', $this->_front_template['theme_folder']); ?></a>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <h6><a href="<?php echo $link; ?>" class="preview" link="" title="<?php echo $this->_view->escape($partial_entry['vacationrentals_name']); ?>"><?php echo $this->truncate($this->_view->escape($partial_entry['vacationrentals_name']),0, 4); ?></a></h6>
                            <div class="ratings">
                                <?php
                                    $maximum_stars_digit = $translator->translator('maximum_stars_digit','', 'Vacationrentals');
                                    for($i = 1; $i < $maximum_stars_digit; $i++)
                                    {
                                        $hotel_stars = ($i <= $this->_view->escape($partial_entry['stars'])) ? "<img src='application/layouts/scripts/".$this->_front_template['theme_folder']."/images/mod_vacation_img/star-small-active.png' border='0' />" : "<img src='application/layouts/scripts/".$this->_front_template['theme_folder']."/images/mod_vacation_img/star-small-inactive.png' border='0' />";
                                        echo $hotel_stars.'&nbsp;';
                                    }	
                                ?>
                            </div>
                            <span class="glyphicon glyphicon-map-marker"></span> <a href="<?php echo $link; ?>"><?php echo $this->_view->escape($partial_entry['city']); ?></a><br>
                            <div class="room-info">
                                <span class="glyphicon glyphicon-th-large"></span> <?php if(!empty($partial_entry['feature_room_no'])){ echo $this->_view->escape($partial_entry['feature_room_no']). ' '.$translator->translator('vacationrentals_room','', '', $this->_front_template['theme_folder']); } ?>
                                <span class="glyphicon glyphicon-stop"></span> <?php echo $this->_view->escape($partial_entry['property_size']).$translator->translator('vacationrentals_list_page_search_property_size_sqf','', '', $this->_front_template['theme_folder']); ?>
                            </div>
                            <div class="price"><?php echo $translator->translator('vacationrentals_block_featured_label_price','', '', $this->_front_template['theme_folder']); ?> <?php echo $currency_symbol.$this->_view->price($this->_view->escape($partial_entry['vacationrentals_price'])); ?></div>
                            <?php echo $this->truncate($this->_view->escape(strip_tags($partial_entry['vacationrentals_desc'])), 0, 20); ?>
            
							<?php 
                                if(!empty($partial_entry['review_id'])){ 
                                $review_no = $review_helper->getNumOfReviews($partial_entry['id'], $this->_view->escape($partial_entry['review_id']));
                            ?><hr>
                            <?php echo $translator->translator('block_score','', '', $this->_front_template['theme_folder']); ?>&nbsp;<span class="label label-success"><span class="glyphicon glyphicon-comment"></span>  <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($partial_entry['vacationrentals_title']),'tab' => 9 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>"><?php echo $translator->translator('common_review_no',htmlentities($review_no), 'Vacationrentals'); ?></a></span><?php } ?>
                        </div>
                    </div>                    
                </div>
            </figure>
        <?php
            }
        }
        ?>
        <div class="more"><a href="All-Vacation-List/group_id/<?php echo $this->_group; ?>"><?php echo $translator->translator('vacationrentals_frontend_login_link','', '', $this->_front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
    </div>
</div>

<?php
	}
}
try
{
	$recent_vacationrentals_class = new recent_vacationrentals($this);
	$recent_vacationrentals_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>