
#wrapper .k-listview {
	border: 0;
}
/*#wrapper{

    margin: 60px auto 0;

    width: 1000px;

    height: auto;

}*/



/*header section*/



/*h1.logo{

  display: inline-block;

  width: 140px;

  height: 32px;

  background: url('images/logo.png') 0 0 no-repeat;

}



h1 a{

    display: inline-block;

    width: 100%;

    height: 100%;

}



#header{

    padding-bottom: 40px;

    border-bottom: 1px solid #535353;

}



#logo-pic{

    float:left;

}

*/



#cart-info {
/*
    float:right;

    height: 28px;

    line-height: 28px;

    vertical-align: middle;

    font-size: 10px;

    text-transform: uppercase;

    color: #bababa;

    background-color: #000000;

    padding-left: 10px;

    letter-spacing: 1px;
*/
}
#cart-info > span {
	display: inline-block;
	background: rgb(148,201,95);
	background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
	position: relative;
	padding: 0 26px 0 28px;
}

#cart-info > span:hover {
	background: rgb(148,201,95);
	background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
}
#cart-info span {
	color: #fff;
}
#cart-info span span {
	line-height: 26px;
	font-size: 14px;
}
#cart-info span:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	/*border-top: 14px solid #000;
	  border-left: 14px solid #000;*/
	border-right: 14px solid transparent;
	border-bottom: 14px solid transparent;
}
#cart-info span:after {
	content: "";
	display: block;
	width: 8px;
	height: 6px;
	position: absolute;
	right: 10px;
	top: 12px;
}

#arrow {
	position: absolute;
	content: " ";
	display: block;
	background: url('images/arrow-reverse.png') no-repeat right top;
	top: 8px;
	right: 10px;
	width: 20px;
	height: 20px;
}
#add-list {
	overflow-y: auto;
	overflow-x: hidden;
	width: 820px;
	height: 210px;
	float: left;
}
#shop-list {
	background-color:#82C241;
	width: 800px;
	float: left;
	text-align: center;
	font-size: 10px;
	overflow: auto;
	padding: 10px;
}
#shop-list li {
	float: left;
	width: 100px;
	padding: 4px;
	border:0px solid #CCC;
	background-color:#FFF;
	margin: 0 4px 4px 0;
}
#shop-info {
	height: 208px;
	background-color:#82C241;
	margin-top: -90px;
	overflow: hidden;
	-webkit-transition: all 200ms ease-out;
}
#shop-info.empty {
	height: 208px;
	backgroung-color: #000;
}
.smallImage {
	background: url('images/smallImage.jpg') no-repeat;
	position: relative;
	width: 100px;
	height: 100px;
}
.selected-image-price {
	color:#000;
	font-size: 11px;
	line-height: 20px;
	vertical-align: middle;
}
.button {
	color: #ffffff;
	text-transform: uppercase;
}
#shopping-cart {
	position: relative;
	text-align: right;
	float: right;
	width: 200px;
	background-color: #0184DC;
	height: 100%;
}
#shopping-cart h3, #shopping-cart p {
	text-align: left;
}
#shopping-cart h3 {
	color:#FFF;
	font-size: 11px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-left: 14px;
	margin-bottom: 7px;
}
#shopping-cart div {
	display: inline-block;
}
#empty-cart {
	display: inline-block;
	width: 89px;
	height: 28px;
	margin-top: 93px;
	line-height: 28px;
	vertical-align: middle;
	font-size: 10px;
	text-transform: uppercase;
	color:#FFF;
	background-color: #0069B7;
	letter-spacing: 1px;
}
#empty-cart:hover {
	text-decoration: underline;
}
#checkout {
	display: inline-block;
	background-color: #7AB73E;
	/*background: -moz-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122,183,62,1)), color-stop(100%, rgba(122,183,62,1)));
	background: -webkit-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -o-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: linear-gradient(to bottom, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AB73E', endColorstr='#7AB73E', GradientType=0 );*/
	position: relative;
	padding: 0 18px 0 10px;
	color: #ffffff;
	height: 28px;
	width: 83px;
	margin-top: 93px;
	line-height: 28px;
	vertical-align: middle;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#checkout:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 14px solid #0069B7;
	border-right: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #0069B7;
}
#checkout:hover {
	background-color: #94C95F;
	/*background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );*/
	color: #ffffff;
}
.selected-products-list {
	position: relative;
	width: 100px;
}
.view-selected-items, .view-selected-items:hover {
	display: block;
	position: relative;
}
.view-selected-items, .view-selected-items:hover {
	display: block;
	position: relative;
}
.view-selected-items:after {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
}
.view-selected-items:hover:after {
	background-color: rgba(0,0,0,0.75);
	background-image: url('images/remove-icon.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/*#main-section ul li {

    float: left;

}*/



.products {
	position: relative;
	width: 200px;
	margin-bottom: 20px;
	padding-bottom: 62px;
	background: #fff url('images/item-separator.png') repeat-y right top;
	text-align: center;
}
.view-details, .view-details:hover {
	display: block;
	position: relative;
}
.view-details:after {
	content: "";
	display: block;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0);
}
.view-details:hover strong {
	color: #2e2e2e;
}
.view-details:hover:after {
	background-color: rgba(0,0,0,0.75);
	background-image: url('images/arrow-right.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.main-image {
	position: relative;
	width: 200px;
	height: 200px;
}
.products h2 {
	color: #ab7829;
	font-size: 21px;
	font-weight: normal;
	padding-top: 25px;
}
.products strong {
	display: inline-block;
	color: #ab7829;
	font-size: 21px;
	font-weight: normal;
	padding-top: 25px;
	padding-bottom: 5px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.add-to-cart {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 37px;
	width: 200px;
	padding-bottom: 3px;
	color: #d60041;
	font-size: 12px;
	text-transform: uppercase;
	background-color: transparent;
	border-top: 1px dotted #a6a6a6;
}
.add-to-cart:before {
	content: "+ ";
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.add-to-cart span {
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}
.add-to-cart:hover {
	background-color: #d60041;
	color: #fff;
}
.add-to-cart, .add-to-cart:hover {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}
.total-price {
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 9px;
	position: relative;
	padding-left: 14px;
	padding-right: 20px;
	line-height: .9em;
	overflow: hidden;
}
.total-price span {
	font-size: 14px;
	vertical-align: text-top;
}
.price {
	font-size: 17px;
	color: #9e9e9e;
	width: 100%;
	position: relative;
	display: inline-block;
	line-height: 1em;
}
.icon_plus {
	width: 8px;
	height: 8px;
	background: url('images/icon_plus.png') no-repeat;
	display: inline-block;
	padding-right: 6px;
}
#details {
	background-color: #fff;
	height: 200px;
}
#detail-info {
	width: 600px;
	height: 200px;
	display: inline-block;
	background: #fff url('images/item-separator.png') repeat-y right top;
}
#navigate-prev {
	display: inline-block;
	height: 200px;
	width: 100px;
	background: #000 url('images/nav-prev.png') no-repeat center;
}
#navigate-prev:hover {
	background: #d60041 url('images/nav-prev.png') no-repeat center;
}
/*#description{

    display: inline-block;

    position: relative;

    height: 200px;

    vertical-align: top;

    color: #2e2e2e;

}*/



.main-image {
	width: 200px;
	height: 200px;
}
#description h1 {
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-size: 36px;
	line-height: 27px;
	font-weight: normal;
	display: inline-block;
}
#description p {
	max-width: 300px;
	padding-left: 30px;
	padding-bottom: 18px;
	font-size: 12px;
	z-index: 9999;
}
#description p input {
	border: 1px solid #dadada;
	width: 50px;
	padding-left: 9px;
	color: #2e2e2e;
}
p#price-quantity {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: #787878;
}
#details-total {
	position: absolute;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 20px 30px;
	border-top: 1px dotted #a6a6a6;
	width: 339px;
}
p#details-total-price {
	font-size: 30px;
	color: #2e2e2e;
	padding-top: 27px;
	display: inline-block;
	line-height: .8em;
	text-transform: uppercase;
}
p#details-total-price em {
	color: #787878;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	padding-right: 13px;
}
p#details-total-price span {
	font-size: 14px;
	display: inline-block;
	vertical-align: text-top;
	color: #2e2e2e;
	padding-right: 5px;
}
.buy {
	float: right;
	height: 30px;
	width: 111px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	background: rgb(148,201,95);
	background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
}
.buy span {
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
}
.buy:before {
	content: "+ ";
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.buy:hover {
	color: #fff;
	background: rgb(148,201,95);
	background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
}
.buy, .buy:hover {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}
#nutrition-info {
	display: inline-block;
	width: 200px;
	height: 200px;
	font-size: 13px;
	vertical-align: top;
}
#nutrition-info h2 {
	color: #3c3c3c;
	padding: 30px 20px 20px;
	font-size: 13px;
}
#nutrition-info dl dt {
	color: #787878;
	padding-left: 20px;
	float: left;
	width: 100px;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
}
#nutrition-info dl dd {
	color: #2e2e2e;
	font-size: 12px;
	float: left;
	margin-left: 12px;
	line-height: 16px;
	text-align: right;
	width: 45px;
}
#navigate-next {
	display: inline-block;
	height: 200px;
	width: 100px;
	background: #000 url('images/nav-next.png') no-repeat center;
}
#navigate-next:hover {
	background: #d60041 url('images/nav-next.png') no-repeat center;
}
/*#details-top-image{

    background: url('images/sushi-preview.png') no-repeat top left;

    height: 200px;

}





#checkout-top-image{

    background: url('images/sushi-preview.png') no-repeat top left;

    height: 50px;

}



#checkout-bottom-image{

    background: url('images/sushi-preview.png') no-repeat bottom left;

    height: 53px;

    margin-bottom: 20px;

}



#details-bottom-image{

    background: url('images/sushi-preview.png') no-repeat bottom left;

    height: 200px;

    margin-bottom: 20px;

}*/



#checkout-content {
	width: 100%;
}
#details-checkout {
	background: #fff;
	border: 1px solid #cccccc;
	text-align: right;
	position: relative;
	width: 90%;
	min-height: 100%;
	z-index: 9999;
	margin: auto;
	box-shadow: 0 0 10px #999999;
}
#details-checkout h1 {
	font-size: 36px;
	color: #2e2e2e;
	padding-top: 40px;
	padding-left: 100px;
	padding-bottom: 40px;
	text-align: left;
}
#table-div {
	width: 99%;
	height: 260px;
	overflow: auto;
	overflow-x: hidden;
}

#cart_window *, 
#cart_window *:before, 
#table-div *:after {
    -moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
	-o-box-sizing:border-box !important;
	-khtml-box-sizing:border-box !important;
}

#table-div table {
	text-align: left;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	border-spacing: 0;
	border-collapse:inherit;
}
#table-div img {
	vertical-align: middle;
	height: 65px;
	margin: 8px 20px 8px 0;
	padding: 5px;
	border: 1px solid #cccccc;
}

#table-div p{
	margin-bottom:0;
}

#table-div .k-textbox, #table-div .k-input {
	height: auto;
}
.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox {
	width: auto;
}
/*table{

    width: 100%;

    padding-left: 100px;

    padding-right: 100px;

    border-spacing: 0;

}*/



#table-div thead {
	font-size: 13px;
	color: #4a4a4a;
	text-transform: uppercase;
}
#table-div thead th {
	font-size: 13px;
	border-bottom: 1px solid #dadada;
}
#table-div table tbody tr td {
	border-bottom: 1px solid #dadada;
	padding: 0;
}
#table-div table tbody tr {
	padding: 0;
}
#table-div table thead th:first-child {
	text-align: left;
	color: #4a4a4a;
	font-size: 13px;
}
#table-div table tbody td:first-child + th {
	text-align: center;
}
#table-div table thead th:first-child + th + th {
	font-size: 13px;
	text-align: right;
}
#table-div table tbody input {
	width: 100px;
	border: 1px solid #dadada;
	font-size: 17px;
	color: #2e2e2e;
}
#table-div table tbody td:first-child {
	font-size: 21px;
	color: #2e2e2e;
	width: 530px;
}
#table-div table tbody td:first-child + td {
	text-align: left;
	width: 70px;
}
#table-div table tbody td img {
	display: inline-block;
}
#table-div table tbody td span.product-name {
	display: inline-block;
	max-width: 350px;
	/*height: 100px;*/
	line-height: 30px;
	margin-top:10px;
}
#table-div table tbody td:first-child + td + td {
	font-size: 21px;
	text-align: right;
	width: 200px;
}
#table-div table tbody td:first-child + td + td p {
}
.table-price {
	font-size: 21px;
	color: #2e2e2e;
	padding-left: 20px;
	display: inline-block;
	line-height: 1em;
	text-transform: uppercase;
}
.table-price span {
	font-size: 10px;
	display: inline-block;
	vertical-align: text-top;
	padding-right: 3px;
}
#total-checkout {
	font-size: 36px;
	color: #2e2e2e;
	padding-right: 100px;
	padding-top: 27px;
	text-align: right;
	line-height: 1em;
	text-transform: uppercase;
}
#total-checkout span {
	display: inline-block;
	color: #2e2e2e;
}
#total-checkout em {
	color: #787878;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	padding-right: 13px;
}
.cancel-order {
	height: 48px;
	width: 131px;
	display: inline-block;
	color: #d60041;
	font-size: 13px;
	line-height: 48px;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #fff;
	text-align: center;
	margin-bottom: 49px;
	margin-top: 54px;
}
.cancel-order:hover {
	text-decoration: underline;
	color: #d60041;
}
.cancel-order, .cancel-order:hover {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}
.close {
	position: absolute;
	content: " ";
	display: block;
	background: url('images/close-icon.png') no-repeat;
	top: 32px;
	right: 32px;
	width: 38px;
	height: 38px;
}
.details-checkout p {
	float: right;
}
.order-now {
	height: 48px;
	width: 131px;
	display: inline-block;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-top: 55px;
	color: #fff;
	font-size: 13px;
	line-height: 48px;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	border:1px solid #428510;
	background: rgb(148,201,95);
	background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(61,143,3,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(61,143,3,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(61,143,3,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(61,143,3,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(61,143,3,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(61,143,3,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
}
.order-now span {
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}

.order-now:hover {
	color: #fff;
	background: rgb(111,166,55,1);
	background: -moz-linear-gradient(top, rgba(115,172,57,1) 0%, rgba(111,166,55,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(115,172,57,1)), color-stop(100%, rgba(111,166,55,1)));
	background: -webkit-linear-gradient(top, rgba(115,172,57,1) 0%, rgba(111,166,55,1) 100%);
	background: -o-linear-gradient(top, rgba(115,172,57,1) 0%, rgba(111,166,55,1) 100%);
	background: -ms-linear-gradient(top, rgba(115,172,57,1) 0%, rgba(111,166,55,1) 100%);
	background: linear-gradient(to bottom, rgba(115,172,57,1) 0%, rgba(111,166,55,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );
}
.order-now, .order-now:hover {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}
/*footer section*/

/*#footer{

    position: relative;

    border-top: 1px solid #535353;

    font-size: 12px;

    padding-bottom: 60px;

}



#copyright{

    float: left;

    color: #ffffff;

}



#footer span{

    padding-top: 40px;

}*/



/*clear floats*/

/*#header:after,*/

#shop-list:after, /*#header:after,*/

#shop-info:after, #cartList:after, #shopping-cart:after, /*#main-section:after,

#footer:after,*/

#table-div table tbody td:after {
	content: "";
	clear: both;
	display: block;
}
.cart-image-wrapper {
	display: inline-block;
	float: left;
	overflow: hidden;
}
/***********************************************************Slide Cart****************************************************************/

#slide-in-content {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#cart_window {
	position: fixed;
	width: 100%;
	top: 0;
	left : 0;
	border: solid #e9e9e9;
	border-width: 0px 0px 0px 0;
	z-index: 999;
}

#shopping-cart,
#slide-in-handle{
	direction:ltr !important;
}

#slide-in-share {
	position: fixed;
	top: 47%;
	left: 0;
	width: 1024px;
	margin-left: -1024px;
	z-index: 9999;
}
#slide-in-handle {
	position: absolute;
	left: 100%;
	float: right;
	/*margin-top: 30px;*/		

        /*height: 31px;*/

       /* background: #1b7458 url(../../content/web/fx/share-handle.png) no-repeat 50% 50%;*/        

	width: 198px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	text-transform: uppercase;
	color:#FFF;
	background-color: #0069B7;
	padding-left: 10px;
	margin: 0 0 0 -90px;
	z-index: 10000;
	/* Safari */

	-webkit-transform: rotate(90deg);
	/* Firefox */

	-moz-transform: rotate(90deg);
	/* IE */

	-ms-transform: rotate(90deg);
	/* Opera */

	-o-transform: rotate(90deg);

		

		/* Internet Explorer */

		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#slide-in-handle > span {
	display: inline-block;
	background-color:#7AB73E;
	/*background: -moz-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122,183,62,1)), color-stop(100%, rgba(122,183,62,1)));
	background: -webkit-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -o-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
	background: linear-gradient(to bottom, rgba(122,183,62,1) 0%, rgba(122,183,62,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AB73E', endColorstr='#7AB73E', GradientType=0 );*/
	position: absolute;
	padding: 0 18px 0 28px;
	min-width: 54px;
}
#slide-in-handle > span:hover {
	background-color:#94C95F;
	/*background: -moz-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(148,201,95,1)), color-stop(100%, rgba(148,201,95,1)));
	background: -webkit-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -o-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
	background: linear-gradient(to bottom, rgba(148,201,95,1) 0%, rgba(148,201,95,1) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0 );*/
}
#slide-in-handle span {
	color: #fff;
}
#slide-in-handle span span {
	line-height: 26px;
	font-size: 14px;
}
#slide-in-handle span:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 14px solid #0069B7;
	border-right: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #0069B7;
	
}
#slide-in-handle span:after {
	content: "";
	display: block;
	width: 8px;
	height: 6px;
	position: absolute;
	right: 10px;
	top: 12px;
}
.share-button {
	background: #fff url(../../content/web/fx/social-buttons.png) no-repeat 50% 50%;
	border: 4px solid #a6a6a6;
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-top: 17px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	text-indent: -999em;
	color: #a6a6a6;
}
.share-button:hover {
	border-color: #333;
}

a.remove{
	background-image:url(../../images/b2b_img/delete.png);
	background-repeat:no-repeat;
	width:22px;
	height:22px;
	display:inline-block;
	text-decoration:none;
	float:left;
	cursor:pointer;
}

#wrapper *, 
#wrapper *:before, 
#wrapper *:after {
    -moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	-khtml-box-sizing:content-box !important;
}

#wrapper #details-checkout *, 
#wrapper #details-checkout *:before, 
#wrapper #details-checkout *:after {
    -moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
	-o-box-sizing:border-box !important;
	-khtml-box-sizing:border-box !important;
}

