<?php
$GroupsObj = $this->generalForm->getDisplayGroups(); 
$short_details_arr 	= 	array();
$more_details_arr	=	array();
$short_page_fields_arr = explode(',', $this->settingInfo['short_page_fields']);
$details_page_fields_arr = explode(',', $this->settingInfo['details_page_fields']);
$front_template = Zend_Registry::get('front_template');

foreach($GroupsObj as $groups)
{	
	$elementsObj = $groups->getElements();
	foreach($elementsObj as $element)
	{
		if(in_array($element->getName(), $short_page_fields_arr))
		{
			if(($element->getType() == 'Zend_Form_Element_MultiCheckbox') || ($element->getType() == 'Zend_Form_Element_Multiselect'))
			{	
				$val_arr = $element->getValue();														
				$short_details_arr[$element->getName()] = array('label' => $element->getLabel(), 'value' => implode(', ',$val_arr));
			}
			else
			{
				$short_details_arr[$element->getName()] = array('label' => $element->getLabel(), 'value' => $element->getValue());
			}
		}
		if(in_array($element->getName(), $details_page_fields_arr))
		{
			if(($element->getType() == 'Zend_Form_Element_MultiCheckbox') || ($element->getType() == 'Zend_Form_Element_Multiselect'))
			{	
				$val_arr = $element->getValue();														
				$more_details_arr[$element->getName()] = array('label' => $element->getLabel(), 'value' => implode(', ',$val_arr));
			}
			else
			{
				$more_details_arr[$element->getName()] = array('label' => $element->getLabel(), 'value' => $element->getValue());
			}
		}		
	}
}

$name_title_field = $this->data_info[$this->settingInfo['name_title_field']];
$primary_image_field = $this->data_info[$this->settingInfo['primary_image_field']];
$secondary_image_field =$this->data_info[$this->settingInfo['secondary_image_field']];
$short_desc_field =$this->data_info[$this->settingInfo['short_desc_field']];
$broad_desc_field = $this->data_info[$this->settingInfo['broad_desc_field']];
	

if(!empty($name_title_field)) { $this->headTitle()->headTitle($this->escape($name_title_field),'SET'); }
if(!empty($name_title_field)) { $this->headMeta()->setName('keywords',$this->escape($name_title_field));}
if(!empty($name_title_field)) { $this->headMeta()->setName('description',$this->escape($name_title_field)); }
?>

<div class="mod">
	<h1><?php echo $this->escape($name_title_field); ?></h1>
    <?php
        if(empty($primary_image_field))
        {
            $img_path = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_img/avatar.png';
        }
        else
        {
            $files_arr = explode(',',$primary_image_field);
            $img_path = $this->escape($this->form_info['attach_file_path']).'/'.$this->escape($files_arr[0]);
        }
    ?>
    <div class="text-center">
    	<img src= "<?php echo $img_path ?>" border="0" class="img-thumbnail img-responsive"/>
    </div>
   	<br>
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<h4 class="icon"><span class="glyphicon glyphicon-th-large"></span> <?php echo $this->translator->translator('review_frontend_details_short'); ?></h4>
      	</div>
        <div class="panel-body">
        	<table class="table table-hover table-striped">
				<?php
                    foreach($short_details_arr as $entry)
                    {
                ?>
                <tr>
                	<td class="title"><?php echo $entry['label']; ?></td>
                	<td><?php echo stripslashes($entry['value']); ?></td>
                </tr>
                <?php
                    }
                ?>
            </table>
  		</div>
    </div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4 class="icon"><span class="glyphicon glyphicon-th-large"></span> <?php echo $this->translator->translator('review_frontend_details_more'); ?></h4>
      	</div>
        
        <div class="panel-body">
        	<table class="table table-hover table-striped">
            	<?php
                foreach($more_details_arr as $entry)
                {
				?>
                <tr>
					<td class="title"><?php echo $entry['label']; ?></td>
					<td><?php echo $entry['value']; ?></td>
                </tr>
				<?php
					}
				?>
       		</table>
      	</div>
  	</div>
	
    <?php
        if(!empty($secondary_image_field))
        {
            $secondary_image_arr = explode(',',$secondary_image_field);
    ?>
    <div class="panel panel-default gallery">
    	<div class="panel-heading">
        	<h4 class="icon"><span class="glyphicon glyphicon-th-large"></span> <?php echo $this->translator->translator('review_frontend_additional_images'); ?></h4>
      	</div>
        
        <div class="panel-body">
        	<?php
                foreach($secondary_image_arr as $key => $value)
                {
                    $secondary_img_path = $this->escape($this->form_info['attach_file_path']).'/'.$value;
            ?>
            <div class="col-xs-6 text-center">
            	<img src="<?php echo $secondary_img_path; ?>" border="0" class="img-thumbnail img-responsive" />
            </div>
            <?php } ?>
        </div>
  	</div>    
	<?php
        }
    ?>
</div>