<?php
if(!empty($this->form_info['meta_keywords'])) { $this->headTitle()->headTitle($this->form_info['meta_title'],'SET'); }
if(!empty($this->form_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->form_info['meta_keywords']);}
if(!empty($this->form_info['meta_desc'])) { $this->headMeta()->setName('description',$this->form_info['meta_desc']); }

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/raty/js/jquery.raty.js');

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>

<?php
if($this->form_info)
{
?>

<div class="mod">
	<h1><?php echo $this->escape($this->form_info['form_name']); ?></h1>
    
<script type="text/javascript">
	var settingObj = {
						form_action : {
											form_id: 'GeneralForm',
											hasTinyMCE: <?php if($this->generalForm && !empty($this->settingInfo['broad_desc_field'])){ ?>true<?php }else{ ?>false<?php } ?>,
											go_message_id		: 'actionMessage',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},
						calendar:	{	
										calendar_include_time: true,
										calendar_img_link: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>"
						},	
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("product_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("product_selected_err"); ?>"
									}
					};
	$(document).ready(function() {					
			
		
		$('a.reset_btn').click(function() {			
			 commonResetFormFields(settingObj);	
		 	 commonRemoveFormError(settingObj);	
		});
		
		
		$('a.add_user_btn').click(function() {
				var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);			
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->group_id), 'adminrout',    true) ?>",
					type: 'POST',
					data: formData,
					beforeSend: function(){
						commonOpenLoaderDialog(settingObj);
						commonRemoveFormError(settingObj);	
					 },
					success: function(response){
						try
						{
							//alert(response);					
							var json_arr = eval("("+response+")");
							commonRefreshCaptcha(json_arr, 'span')	;					
							commonCloseLoaderDialog(settingObj);					
							if(json_arr.status == 'ok')
							{
								$('#actionMessage').html(succMsgDesign(json_arr.msg));						
								commonResetFormFields(settingObj);		
								commonGoMessage(settingObj);						
							}
							else if(json_arr.status == 'errV')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
									commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
								}
							}
							else if(json_arr.status == 'errP')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
								commonAddFormError('confirmPassword',json_arr.msg);
							}
							else
							{
								$('#actionMessage').html(errMsgDesign(json_arr.msg));	
								commonGoMessage(settingObj);
							}
						}
						catch(error)
						{
							commonCloseLoaderDialog(settingObj);
							var error_arr = 	[error, response];
							var msg = commonErrMsgException(error_arr);				
							$('#actionMessage').html(errMsgDesign(msg));	
							commonGoMessage(settingObj);
						}
					},
					error: function(xhr, status, error){
						commonCloseLoaderDialog(settingObj);
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));	
							commonGoMessage(settingObj);
					}
			});
		});	
	});
	

	
	
	function calender(id)
	{
		$("#"+id).datepicker({
			showOn: 'button',
			buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
			buttonImageOnly: true,
			monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
			monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
			dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
			showAnim: 'slide',
			buttonText: 'Calender',
			dateFormat:'yy-mm-dd',
			autoSize:false,
			showButtonPanel:false,
			changeMonth: true,
			changeYear: true
		});
		
		$("img[class='ui-datepicker-trigger']").each(function()
		 { 
			$(this).attr('style', '');
		 });
	}
	
	
	
	
	function raty (id)
	{
		$('#'+id+'_star').raty({
		  path: 'js/jquery/raty/img/',						  
		  hintList:		<?php echo $this->translator->translator('common_rating_hintList'); ?>,
		  number:     <?php $hint_arr = explode(', ',$this->translator->translator('common_rating_hintList')); echo count($hint_arr); ?>,
		  click: function(score, evt) {
			//alert('ID: ' + this.attr('id') + '\nscore: ' + score + '\nevent: ' + evt.hint);
			$('#'+id).val(score);
		  }						 
		});
	}
/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);
			
		var img_code =  '<img src="'+img_path+'" title="'+fileObj.name+'" width="50" height="40" />'
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		var checked = '';
		var primary = '';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';			
		switch(upload_value_field)
		{
			case 'product_thumb':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="product_thumb_primary" id="product_thumb_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
			case 'product_file':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="product_file_primary" id="product_file_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><span class="glyphicon glyphicon-remove-circle"></span><?php //echo $this->translator->translator("common_delete_title"); ?></a>'+primary+down_link;
				
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />'+del_link+'</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />'+del_link+'</span></div>');				 
			var file_val = fileObj.name;	
		}		
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/

</script>

<div id="number"></div>
<?php
if(!empty($this->form_info['front_desc']))
{
?>

	<div class="well"><?php echo stripslashes($this->form_info['front_desc']); ?></div>

<?php
}
?>

	<div id="actionMessage"></div>
    <form name="GeneralForm" id="GeneralForm" role="form">
        <?php
            $file_type_arr = explode(',',$this->form_info['attach_file_type']);
            $j= 0;
            foreach($file_type_arr as $key => $value)
            {
                $file_type_arr[$j] = '*.'.$value;
                $j++;
            } 
            $file_format = implode(';',$file_type_arr);									
            $staticGroupsObj = $this->generalForm->getDisplayGroups(); 
            $i=1;									
            foreach($staticGroupsObj as $staticGroup)
            {
                $elementsObj = $staticGroup->getElements();
        ?>
        <fieldset>
            <legend><?php echo $this->translator->translator($staticGroup->getAttrib('title')); ?></legend>
				  <?php	
                      $new_file_info = new Portfolio_Controller_Helper_File();															
                      foreach($elementsObj as $element)
                      {
                          if($element->getAttrib('frontend') == '1')
                          {							  	  
                              $e_name_arr = explode('_',$element->getName());																				
                              $sumbol = (in_array(Eicra_File_Constants::PRICE,$e_name_arr,true)) ? '&nbsp;'.$currency->getSymbol() : '';
							  if($element->getName() == $this->settingInfo['broad_desc_field']){ $element->getAttrib('cols', '40'); $this->generalForm->setEditorMobile($this->serverUrl().$this->baseUrl(),$element->getName()); $this->generalForm->getEditor(); }							  
                              
							  switch($element->getType())
                              {
                                  case 'Zend_Form_Element_File':                                                    
                                              $image_file_arr = array();                                                                                                
				?>
                                              <div class="form-group">
                                                  	<label for="<?php echo $element->getAttrib('id'); ?>" class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                    	<?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  	</label>
                                                  	
                                                 	<script type="text/javascript">
                                                      $(function(){
                                                          /**************************FILE UPLOAD START******************************/																					
                                                          dynamicUploader("<?php echo $element->getName().'_upload'; ?>", "<?php echo $element->getName(); ?>", <?php echo $this->settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
                                                          /**************************FILE UPLOAD END*********************************/
                                                      });
                                                	</script>
                                                    
                                                  	<span class="ui-widget"><input type="file" name="<?php echo $element->getName(); ?>_upload" id="<?php echo $element->getName(); ?>_upload" /><input type="hidden" name="<?php echo $element->getName(); ?>" id="<?php echo $element->getName(); ?>" class="<?php echo $element->getName(); ?>_class empty_class" value="<?php echo $this->productInfo[$element->getName()]; ?>" /></span>
                                                   	<br />
                                                    <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                   	<!--
                                                   	<div class="form-field-info">
                                                      <?php //if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php //} ?>
                                                   	</div>                                                      								
                                                    -->
                                               </div>
                                               
                                               <div class="form-group">
                                               		<div class="clearfix">
                                                        <span id="selected_file_<?php echo $element->getName(); ?>">
                                                              <?php
                                                                  $dynamic_image_view = '';
                                                                  if(!empty($image_file_arr[0]))
                                                                  {													
                                                                      foreach($image_file_arr as $key => $value)
                                                                      {	
                                                                          $show_file_path  =		$new_file_info->getFilePath($value, $this->settings_info);																												
                                                                          $img_code = '<img src="'.$show_file_path.'" title="'.$value.'" width="50" height="40" />';
                                                                          $down_link = (!$new_file_info->isImage($value)) ? '<br /><a href="'.$this->settings_info[$this->settings_info['file_path_field']].'/'.$value.'">'.$this->translator->translator("common_download", "", "Projects").'</a>' : '';
                                                                          $del_link	=	'<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'.$element->getName().'" file_name="'.$value.'" file_path="'.$this->settings_info[$this->settings_info['file_path_field']].'"><span class="glyphicon glyphicon-remove-circle"></span></a>'.$down_link;
                                                                          $dynamic_image_view .= '<div class="upload-img box"><span>'.$img_code.'<br /><br />'.$del_link.'</span></div>';
                                                                      }															
                                                                  }
                                                                  echo $dynamic_image_view;
                                                              ?>
                                                        </span>
                                                    </div> 									
                                               </div>
                                        	<?php	
                                                    break;
                                                    case 'Zend_Form_Element_MultiCheckbox':
                                                    ?>
                                                  	<div class="form-group">
                                                          <label class="<?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                              <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                          </label>
                                                          
                                                          <div class="checkbox clearfix">
                                                          <?php
                                                                
                                                                $element->setAttrib('class', 'checkbox clearfix');
                                                                $element->setSeparator('</div><div class="col-xs-6">');
                                                          ?>
                                                          
                                                           <?php echo '<div class="col-xs-6">'.$element.'</div>'; ?>
            
                                                          <!--<div class="form-field-info"><?php //if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php //} ?></div>-->
                                                          </div>
                                                          <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                  	</div>
                                                    
													<?php
													break;
												 	case 'Zend_Form_Element_Radio':  
												  	?>
                                                    <div class="form-group">
                                                    	<label class="<?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                          <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                      	</label>
                                                      
                                                      	<div class="radio clearfix">
                                                      	<?php
                                                            
                                                            $element->setAttrib('class', 'radio clearfix');
                                                            $element->setSeparator('</div><div class="col-xs-6">');
                                                      	?>
                                                      
                                                       	<?php echo '<div class="col-xs-6">'.$element.'</div>'; ?>
                                                      	<!--<div class="form-field-info"><?php //if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php //echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php //} ?></div>-->
                                                      	</div>
                                                      	<span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                  	</div>
                                                    
                                                    <?php                                         
													break;	
													case 'Zend_Form_Element_Checkbox':	  
													?>
                                                    <div class="form-group">
                                                    	<label class="<?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                        	<?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                      	</label>
                                                        
                                                        <div class="col-xs-12">
                                                            <div class="checkbox clearfix">
                                                                <label>
																	<?php echo $element; ?>
                                                                    <?php //echo $this->escape($element->getAttrib('info')); ?>
                                                                </label>
                                                          	</div>
                                                        </div>
                                                      	<span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>                                          
                                                  	</div>
                                                 	
											<?php                                         
                                      		break;									
                                  			case 'Zend_Form_Element_Captcha':
											$element->setAttrib('class', 'form-control');
								  	  		?>
                                      		<div class="form-group">
                                                  <label for="<?php echo $element->getName(); ?>-input" class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </label>
                                                  
                                                  <span class="ui-widget"><?php  echo $element; ?></span>
                                                  <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                  <!--<div class="form-field-info"><?php //if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php //} ?></div>-->
                                      		</div>
                                            
										  	<?php	
                                          		break;
                                      			default:  
												//$element->setAttrib('class', 'form-control');                                                            
                                          	?>
                                      
                                          	<div class="form-group">
                                                <label for="<?php echo $element->getAttrib('id'); ?>" class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>" >
                                                    <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                </label>
                                                
                                                <?php 										
                                                      $id_f = $element->getAttrib('id');
                                                      $id_arr = explode('_',$id_f);
                                                      if(in_array(Eicra_File_Constants::DATE,$id_arr))
                                                      {
                                                      ?>
                                                      <script type="text/javascript">
                                                              $(function() {
                                                                  commonCalendar('<?php echo $id_f; ?>', settingObj, settingObj.calendar.calendar_include_time);
                                                              });
                                                          </script>
                                                      <?php
                                                      }
													  else
													  {
														$element->setAttrib('class', 'form-control');
													  }
													  if($element->getName() == Eicra_File_Constants::ITEM_ID)
													  {
														  $element->setValue($this->item_id);																					
														  if($this->item_info)
														  {
															  if(!empty($this->settingInfo['item_name_field']))
															  {
																  if($this->item_info[$this->settingInfo['item_name_field']])
																  {
																	  echo $this->escape($this->item_info[$this->settingInfo['item_name_field']]);
																  }
															  }
														  }
													  }
													  if(($element->getType() == 'Zend_Form_Element_Hidden') && in_array(Eicra_File_Constants::RATE,$id_arr))
                        							  {
															echo '<div id="'.$id_f.'_star"></div>';
													?>
															<script type="text/javascript">
															$(function() {
																raty ('<?php echo $id_f; ?>');
															});
														</script>
                                                    <?php
													  }
                                                      if($element->getType() == 'Zend_Form_Element_MultiCheckbox')
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }
                                                      else
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }															
                                              	?>
                                              	<!--<div class="form-field-info"><?php //if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php //} ?></div>-->
                                                <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                          	</div>
										  
										  	<?php                                                 
                                          	break;										
                              }
                          }
                      }
                  ?>
        </fieldset>
        <?php
            $group_no = ($this->escape($this->form_info['group_no'])) ? (int)$this->escape($this->form_info['group_no']) : 2;
            }
        ?>
    </form>
    
    <div class="text-center">
        <a href="javascript:  void(0);" class="reset_btn btn btn-global"><?php echo $this->translator->translator('common_reset'); ?></a>
        <a href="javascript: void(0);" class="add_user_btn btn btn-global"><?php echo $this->translator->translator('common_submit'); ?></a>
    </div>
</div>

<?php
}
else
{
	echo $this->translator->translator('review_settings_invalid');
}
?>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" title="<?php echo $this->translator->translator('common_processing_language'); ?>" style="display:none">
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
	</div>
</div>