<?php
if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else :

$allConfig  = Zend_Registry::get('allConfig');
$DB_HOST = $allConfig->dbConfig->eicra->params->host;
$DB_USER =	$allConfig->dbConfig->eicra->params->username;
$DB_PASS =	$allConfig->dbConfig->eicra->params->password;
$DB_NAME =	$allConfig->dbConfig->eicra->params->dbname;

$mem_db 	= 	new Members_Model_DbTable_MemberList();
$tableLists = 	$mem_db->getAdapter()->listTables();
$form_db 	= 	new Members_Model_DbTable_Forms();
$formLists	=	$form_db->getAllForms();
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$permission_arr = array('export_enable' => $this->allow('export','csv','Database'), 'import_enable' => $this->allow('import','csv','Database'), 'delete_enable' => $this->allow('delete','csv','Database'));
?>
<script type="text/javascript">
var settingObj = {};

$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	settingObj = {
						grid_id : 'grid',
						page_refresh : 1,
						form_action : { form_id: 'formItem' },
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',						
						search_action: {},
						common_action : {
								permission_arr : {										
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Database', 'controller' => 'csv', 'action'     => 'delete' ), 'adminrout',    true) ?>",
								delete_dest_data_field 		: 	['name'],
																
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Database', 'controller' => 'csv', 'action'     => 'deleteall' ), 'adminrout',    true) ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: []
						},						
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;
								allFunction();							                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        name: { type: "string" },
										common_action: { editable: false }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn" <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?>  />',	template: '<input type="checkbox" value="${name}" class="check_btn" <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "name", 
												title: "<?php echo $this->translator->translator('database_csv_list'); ?>",
												template: '<a href="<?php echo $this->serverUrl().$this->baseUrl().'/'; ?>${path}/${name}" >#= name #</a>'
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 140, 
												template:	'<?php if ($permission_arr['import_enable']) : ?><a href="javascript:void(0);" class="import_btn"  rel="${name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/restore.png" title="<?php echo html_entity_decode($this->translator->translator('common_restore'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_restore'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?><a href="javascript:void(0);" class="delete_btn"  rel="${name_format}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												attributes:{ 'align' : 'center' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("database_file_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("common_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);	
	
	
	$('a.export_btn').click(function() {
		var self = this;
		var post_type = $(self).attr('rel');
		var table_name = $(self).parents("span:first").parents("div:first").parents("div:first").children("div:nth-child(2)").children("select:first").val();		
		
		$.ajax({
					url: "<?php echo $this->url( array('module'=> 'Database', 'controller' => 'csv', 'action'     => 'export' ), 'adminrout',    true) ?>",
					type: 'POST',
					data: {post_type : post_type, table_name : table_name},
					beforeSend: function(){
						$(self).html('<span class="icon loader"></span>');
					 },
					success: function(response) 
					{
						try
						{
							//alert(response);
							var json_arr = eval("("+response+")");
							if(json_arr.status == 'ok')
							{							
								commonRefreshKendoGrid(settingObj);
								commonMsgDialog(settingObj, succMsgDesign(json_arr.msg));
							}
							else
							{							
								commonMsgDialog(settingObj, errMsgDesign(json_arr.msg));
							}
							$(self).html("<span class='icon submit'><?php echo $this->translator->translator('common_export'); ?></span>");	
						}
						catch(error)
						{
							$(self).html("<span class='icon submit'><?php echo $this->translator->translator('common_export'); ?></span>");
							var error_arr = 	[error, response];
							var msg = commonErrMsgException(error_arr);				
							commonMsgDialog(settingObj, errMsgDesign(msg));
						}						
					},
					error: function(xhr, status, error){
						$(self).html("<span class='icon submit'><?php echo $this->translator->translator('common_export'); ?></span>");
						var msg = "Error! " + xhr.status + " " + error;
						commonMsgDialog(settingObj, errMsgDesign(msg));
					}
			});
	});	
});

function allFunction()
{
	$('a.import_btn').unbind('click');
	$('a.import_btn').click(function() {
		var self = this;
		var inputHtml = inputRestore();				
		$("#restore-confirm").html(inputHtml).dialog({
			resizable: true,
			width:500,
			//height:225,
			modal: true,
			show: 'fade',
			hide: 'explode',
			buttons: {
						"<?php echo $this->translator->translator("common_import_csv_to_db_btn"); ?>": function() {
									var file_name = $(self).attr('rel');
									var host_name = $('#host_name').val();
									var user_name = $('#user_name').val();
									var user_password = $('#user_password').val();
									var db_name = $('#db_name').val();
									var table_name_field = $('input[name="table_name_field"]').val();
									commonRemoveFormError(settingObj);
									if(host_name != '' && user_name != '' && db_name != '' && file_name != '' && table_name_field != '')
									{
										$(this).dialog('close');
										$.ajax({
												url: "<?php echo $this->url( array('module'=> 'Database', 'controller' => 'csv', 'action'     => 'import' ), 'adminrout',    true) ?>",
												type: 'POST',
												data: { file_name: file_name, host_name: host_name, user_name: user_name, user_password: user_password, db_name: db_name, table_name: table_name_field },
												beforeSend: function(){
													$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
												 },
												success: function(response) 
												{
													try
													{
														//alert(response);
														var json_arr = eval("("+response+")");
														if(json_arr.status == 'ok')
														{	
															commonMsgDialog(settingObj, succMsgDesign(json_arr.msg));
														}
														else
														{							
															commonMsgDialog(settingObj, errMsgDesign(json_arr.msg));
														}
													}
													catch(error)
													{						
														var error_arr = 	[error, response];
														var msg = commonErrMsgException(error_arr);				
														commonMsgDialog(settingObj, errMsgDesign(msg));
													}
													$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/restore.png" title="<?php echo $this->translator->translator("common_restore"); ?>" border="0" />');
												},
												error: function(xhr, status, error){
													$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/restore.png" title="<?php echo $this->translator->translator("common_restore"); ?>" border="0" />');
													var msg = "Error! " + xhr.status + " " + error;
													commonMsgDialog(settingObj, errMsgDesign(msg));
												}
										});
									}
									else
									{
										if(host_name == '')
										{
											commonAddFormError('host_name', "<?php echo $this->translator->translator("database_host_name_err"); ?>");	
										}
										if(user_name == '')
										{
											commonAddFormError('user_name', "<?php echo $this->translator->translator("database_user_name_err"); ?>");	
										}
										if(db_name == '')
										{
											commonAddFormError('db_name', "<?php echo $this->translator->translator("database_db_name_err"); ?>");	
										}
										if(file_name == '')
										{
											commonAddFormError('main', "<?php echo $this->translator->translator("database_file_name_err"); ?>");	
										}
										if(table_name_field == '')
										{
											commonAddFormError('table_name_field', "<?php echo $this->translator->translator("database_table_name_err"); ?>");	
										}
									}									
								},
						'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
								$(this).dialog('close');
								}
					}
		});
		check();
		$('input[name="info_radio"]:first').prop("checked", true).trigger("click");
	});
}

function inputRestore()
{	
	var input = '<form name="formItem" id="formItem"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="5">'+
					'<tr>'+
						'<td colspan="2" id="main_err" align="center"></td>'+
					'</tr>'+
					'<tr>'+
					  '<td width="50%" height="22"><?php echo addslashes($this->translator->translator("database_current_db")); ?><span class="required">*</span></td>'+
					  '<td width="50%">'+
					  '<input type="radio" name="info_radio" id="info_radio" value="1" />Yes&nbsp;<input type="radio" name="info_radio" id="info_radio" value="0" checked="checked" />No'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td width="50%" height="22"><?php echo addslashes($this->translator->translator("database_host_name")); ?><span class="required">*</span></td>'+
					  '<td width="50%">'+
					  '<input type="text" size="20" name="host_name" id="host_name" />&nbsp;<br /><span id="host_name_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td height="22"><?php echo addslashes($this->translator->translator("database_user_name")); ?><span class="required">*</span></td>'+
					  '<td>'+
					  '<input type="text" size="20" name="user_name" id="user_name" />&nbsp;<br /><span id="user_name_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td><?php echo addslashes($this->translator->translator("database_user_password")); ?></td>'+
					  '<td>'+
					  '<input type="text" size="20"  name="user_password" id="user_password" />&nbsp;<br /><span id="user_password_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td><?php echo addslashes($this->translator->translator("database_db_name")); ?><span class="required">*</span></td>'+
					  '<td>'+
					  '<input type="text" size="20"  name="db_name" id="db_name" />&nbsp;<br /><span id="db_name_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td><?php echo addslashes($this->translator->translator("database_table_name")); ?><span class="required">*</span></td>'+
					  '<td>'+
					  '<input type="text" size="20"  name="table_name_field" id="table_name_field" value="<?php echo ($this->table_name) ? Zend_Registry::get('dbPrefix').$this->table_name : ''; ?>" />&nbsp;<br /><span id="table_name_field_err"></span>'+					  
					  '</td>'+
					'</tr>'+
				  '</table></form>';
				  
	
	return input;
}

function check()
{
	$('input[name="info_radio"]').click(function(){
		var self = this;
		if($(self).val() == '1')
		{
			var db_host			=	"<?php echo $allConfig->dbConfig->eicra->params->host; ?>";
			var db_username		=	"<?php echo $allConfig->dbConfig->eicra->params->username; ?>";
			var db_password		=	"<?php echo $allConfig->dbConfig->eicra->params->password; ?>";
			var db_dbname		=	"<?php echo $allConfig->dbConfig->eicra->params->dbname; ?>";
			$('#host_name').val(db_host);
			$('#user_name').val(db_username);
			$('#user_password').val(db_password);
			$('#db_name').val(db_dbname);
		}
		else
		{
			$('#host_name').val('');
			$('#user_name').val('');
			$('#user_password').val('');
			$('#db_name').val('');
		}
	});
}
</script>

<div id="container">
<div class="title-container">
	<div class="database-export-import"><h1><?php echo $this->translator->translator('database_csv_page_name'); ?></h1></div>
    
    <div class="button-container">
    	
        
        <?php  if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    
    <div id="content-inner">
    
    	<div class="toggle-container">         	
                <div class="toggle-search">
                
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('database_list_page_export_db'); ?></span>
                        </div>
                        
                        <div class="toggle-field" style="vertical-align:middle;">
                           <select name="table_name" id="table_name" class="table_name db-export">
								<?php foreach($tableLists as $table){ ?>
                                <option value="<?php echo $table; ?>" <?php if(preg_match("/".$this->table_name."$/", $table)){ ?>selected="selected"<?php } ?>><?php echo $table; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php //echo $this->translator->translator('hotels_list_page_search_postcode'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <?php  if ($permission_arr['export_enable']) : ?>
                            <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="db" class="export_btn"><span class="icon submit"><?php echo $this->translator->translator('common_export'); ?></span></a></span>
                            <?php endif; ?>
                        </div>
                 	</div>
                    <!-- Row 1 End -->
                    
                    <?php if(!$this->table_name){ ?>
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('database_list_page_export_dynamic_form'); ?></span>
                        </div>
                        
                        <div class="toggle-field" style="vertical-align:middle;">
                           <select name="table_name" id="table_name" class="table_name db-export">
								<?php 
								if($formLists)
								{
									foreach($formLists as $key => $value)
									{ 
								?>
										<option value="<?php echo $key; ?>" <?php if($key < 2) { ?>selected="selected" <?php } ?>><?php echo $value; ?></option>
								<?php 
									}
								}
								?>
                            </select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"></span>
                        </div>
                        
                        <div class="toggle-field">
                            <?php  if ($permission_arr['export_enable']) : ?>
                            <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="form" class="export_btn"><span class="icon submit"><?php echo $this->translator->translator('common_export'); ?></span></a></span>
                            <?php endif; ?>
                        </div>
                 	</div>
                    <!-- Row 2 End -->
                    <?php } ?>                   
                    
                    
				</div>
                <!--<hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php //echo $this->translator->translator('prperty_list_page_search_button'); ?></span></a></span>
                </div>   -->     	
     	</div>
        
    	<div class="chart">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
      	</div>
        
  	</div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('database_csv_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>	
<div id="restore-confirm" title="<?php echo $this->translator->translator('database_import_confirm_title'); ?>"></div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('database_csv_page_name'); ?></h1>
    
    <div class="button-container">    	
        <?php  if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
</div>
<?php endif; ?>