<div id="container">
<?php if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$version = Zend_Registry::get('version');	
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');

function type_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}
$group_info = new B2b_Model_DbTable_Group();
$permission_arr = array('add_enable' => $this->allow('add','backendtype','B2b'), 'edit_enable' => $this->allow('edit','backendtype','B2b'), 'delete_enable' => $this->allow('delete','backendtype','B2b'));
?>
<script type="text/javascript">
$(document).ready(function() {

	floatingbar('#floatingbar',"#button_top_bar",null);
	/****************************Sorting Table Start*********************/
	var oTable = $("#sortTable").dataTable({
				"bPaginate": false,
				"bLengthChange": true,
				"bSearchable": true,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"bProcessing": false,
				"bSortClasses": true,
				"bStateSave": false,
				"bServerSide": false,
				"aaSorting": [[ 1, "asc" ]],				
				"aoColumnDefs": [ 
						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }
					],
				"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }
			}); 	
	
	$('td', oTable.fnGetNodes()).hover( function() {		
		$(this).parents("tr:first").children('td').addClass( 'highlighted' );
	}, function() {
		$('td.highlighted').removeClass('highlighted');
	} );
	
	/****************************Sorting Table End*********************/
		
		$('a.reset_btn').click(function() {			
			 resetFields();	
			 removeError();	
		});
		
		function resetFields()
		{
			$( "#formType" )[ 0 ].reset();
		}
		
		function removeError()
		{
			$('#actionMessage').html('');
						
			$.each($('form').serializeArray(), function(i, field) {				
					$('#'+field.name).removeClass('ui-state-error');
					$('input[name="'+field.name+'"]').removeClass('ui-state-error');
					$('#'+field.name+'_err').html('');									
			});				
		}
		
		function addError(key,errMsg)
		{
			var err_id = key+'_err';
			var field_name = key;
			$('input[name="'+field_name+'"]').addClass('ui-state-error');
			$('#'+err_id).append(errMsg);
		}
		
		function openLoaderDialog()
		{
			$('#dialog_loader').dialog({
						autoOpen: true,
						modal: true,
						show: 'fade',
						resizable: 'false',				
						open: function(event, ui)
							 {
								$("#progressbar").progressbar({
									value:100
					
								});							
							  }
					});
		}
		
		function closeLoaderDialog()
		{
			$('#dialog_loader').dialog('option','hide','explode').dialog('close');
		}
		
		function getFormData()
		{
			var fieldObj = {};
			$.each($('#formType').serializeArray(), function(i, field) {			
								
				fieldObj[field.name] = field.value;			
										
			});
			return fieldObj;
		}
		
		$("#add-type-form").dialog({
			autoOpen: false,
			width: 850,
			height: 'auto',
			show: 'fade',			
			modal: true
		});	
		
		$('a.add_new_dialog_btn').click(function() {
				resetFields();
			 	removeError();	
				$('#add-type-form').dialog('open');				
		});
		
		<?php 
			if($this->create == 'new')
			{
		?>
				resetFields();
			 	removeError();	
				$('#add-type-form').dialog('open');	
		<?php
			}
		?>
		
		$('a.close_dialog_btn').click(function() {			
			 resetFields();
			 removeError();	
			 $("#add-type-form").dialog('option','hide','explode').dialog('close');		
		});		
		
		$('a.add_type_btn').click(function() 
		{	
			var formData = getFormData();		
					
			$.ajax({
				url: "<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendtype', 'action'     => 'add' ), 'adminrout',    true) ?>",
					type: 'POST',
					data: formData,
					beforeSend: function(){						
						removeError();
						openLoaderDialog();					
					 },
					success: function(response){
						//alert(response);					
						var json_arr = eval("("+response+")");					
						closeLoaderDialog();					
						if(json_arr.status == 'ok')
						{
							generateNewRow(json_arr.datas,oTable);	
							$('#actionMessage').html(succMsgDesign(json_arr.msg));	
							resetFields();												
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								addError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					},
					error: function(xhr, status, error){
						closeLoaderDialog();
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));
					}
			});
		});		
	
	$('input.checkAll_btn').click(function() {
		var self = this;
		if($(self).is(':checked'))
		{		
			$('input.check_btn').attr('checked', true);
		}
		else
		{
			$('input.check_btn').attr('checked', false);
		}
	});
	
	$('a.delete_all').click(function() {
		var self = this;
		if($('input.check_btn:checked').length > 0)
		{
			$("#dialog-confirm").html("<?php echo addslashes($this->translator->translator('b2b_list_delete_confirm')); ?>").dialog({
					resizable: false,
					width:400,
					height:170,
					modal: true,
					show: 'fade',
					hide: 'explode',
					buttons: {
							'<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?>': function() {
							deleteAll(self);
							$(this).dialog('close');
						},
					'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
							$(this).dialog('close');
						}
					}
				});		
		}
		else
		{
			var msg = "<?php echo $this->translator->translator('b2b_selected_err'); ?>";
			openMsgDialog(msg);
		}
	});
	
	allFunctions();
});

function generateNewRow(datas,oTable)
{	
	var row =	'<ul>'+
					'<li>'+
							<?php if ($permission_arr['edit_enable']) : ?>
							'<a href="javascript:void(0);" class="edit_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo $this->translator->translator("common_edit_title"); ?>" alt="<?php echo $this->translator->translator("common_edit_title"); ?>" border="0" /></a>'+
							'<a href="javascript:void(0);" class="save_btn"  style="display:none;" rel="'+datas.id+'"><img src="application/modules/Administrator/layouts/scripts/images/tools/save.gif" alt="<?php echo $this->translator->translator("common_save_title"); ?>" title="<?php echo $this->translator->translator("common_save_title"); ?>" border="0"/></a><a href="javascript:void(0);" class="cancel_btn"  style="display:none;" rel="'+datas.id+'"><img src="application/modules/Administrator/layouts/scripts/images/tools/cancel.gif" alt="<?php echo $this->translator->translator("common_cancel_title"); ?>" title="<?php echo $this->translator->translator("common_cancel_title"); ?>" border="0"/></a>'+
							<?php endif; ?>
					 '</li>'+													
					'<li>'+
							<?php if ($permission_arr['delete_enable']) : ?>
							'<a href="javascript:void(0);" class="delete_btn"  rel="'+datas.id+'"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo $this->translator->translator("common_delete_title"); ?>" alt="<?php echo $this->translator->translator("common_delete_title"); ?>" border="0" /></a>'+
							<?php endif; ?>	
					'</li>'+
				'</ul>';	
				  
		var group_name = $("#formType select[name=group_id] option[value='"+datas.group_id+"']").text();
		$("#formType select[name=group_id] option[selected]").removeAttr("selected");				
		var group_object = $("#formType select[name=group_id]");		
		var group_id = '<span>'+group_name+'</span><select name="group_id" id="group_id'+datas.id+'" size="1" class="<?php echo $this->b2bTypeForm->group_id->getAttrib("class"); ?>" title="<?php echo $this->b2bTypeForm->group_id->getAttrib("title"); ?>" style="display:none;">'+group_object.html()+'</select><span style="display:none"><img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" /></span>';	
		var business_type	=  '<span>'+datas.business_type+'</span><input type="text" name="business_type" id="business_type" value="'+datas.business_type+'" size="50" title="<?php echo $this->b2bTypeForm->business_type->getAttrib("title"); ?>" style="display:none" /><span style="display:none"><img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" /></span>';	
		
		oTable.fnAddData([
					'<input type="checkbox" name="checkbtn" id="checkbtn" value="'+datas.id+'" class="check_btn" />',
					datas.id,
					group_id,
					business_type,
					row
					 ]);
		$('td', oTable.fnGetNodes()).hover( function() {		
			$(this).parents("tr:first").children('td').addClass( 'highlighted' );
		}, function() {
			$('td.highlighted').removeClass('highlighted');
		} );
		$("select#group_id"+datas.id+" option[value='"+datas.group_id+"']").attr("selected","selected");
		
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(1)').addClass('center');
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(1)').addClass('checkbox');
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(2)').addClass('center');
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(3)').addClass('center');
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(4)').addClass('center');	
		$('td', oTable.fnGetNodes()).parents("tr:first").parents("tbody:first").children('tr:last-child').children('td:nth-child(5)').addClass('tools-list');	
		allFunctions();
}

function openMsgDialog(msg)
{
	$('#dialog_container').html(msg).dialog({
		autoOpen: true,
		modal: false,
		show: 'fade',
		resizable: 'false',				
		buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
		open: function(event, ui)
		 {
			setTimeout(function() 
			{									
				if($('#' + event.target.id).dialog('isOpen'))
				{
					$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
				}
			}, 5000);
		  }
	});
}

/* Get the rows which are currently selected */
function fnGetSelected( oTableLocal )
{
	var aReturn = new Array();
	var aTrs = oTableLocal.fnGetNodes();
	
	for ( var i=0 ; i<aTrs.length ; i++ )
	{
		if ( $(aTrs[i]).hasClass('row_selected') )
		{
			aReturn.push( aTrs[i] );
		}
	}
	return aReturn;
}

function checkNonDeletedId(id,id_arr)
{
	var tmp = false;
	for(var i = 0;i < id_arr.length;i++)
	{
		if(id_arr[i] == id)
		{
			tmp = true;
			break;
		}
	}
	return tmp;
}

function deleteThis(self)
{
	var arr = $(self).attr('rel').split('_');
	$.ajax({
		 url: "<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendtype', 'action'     => 'delete' ), 'adminrout',    true) ?>",
		 type: 'POST',
		 data: { id: arr[0]},
		 beforeSend: function(){
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
			 },
		 success: function(response) 
		 {
			//alert(response);
			var json_arr = eval("("+response+")");
			if(json_arr.status == 'ok')
			{
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").addClass('row_selected');
				var oTables = $('#sortTable').dataTable();
				var anSelected = fnGetSelected( oTables );
				oTables.fnDeleteRow( anSelected[0] );
			}
			else
			{
				openMsgDialog(json_arr.msg);
				$(self).html('<img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo $this->translator->translator("common_delete_title"); ?>" width="24" height="24" border="0" />');
			}
		 },
		error: function(xhr, status, error){
			var msg = "Error! " + xhr.status + " " + error;
			openMsgDialog(msg);
		}
	});
}

function deleteAll(self)
{
	var id_str = '';
	for(var i=0;i < $('input.check_btn:checked').length;i++)
	{
		if(i == 0)
		{
			 id_str += $('input.check_btn:checked:eq('+i+')').val();
		}
		else
		{
			id_str += ','+$('input.check_btn:checked:eq('+i+')').val();
		}
	}
	
	$.ajax({
			url: "<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendtype', 'action'     => 'deleteall' ), 'adminrout',    true) ?>",
			type: 'POST',
			data: { id_st: id_str},
			beforeSend: function(){
				$(self).html('<span class="icon loader"></span>');
			 },
			success: function(response) 
			{
				//alert(response);
				var json_arr = eval("("+response+")");
				if(json_arr.status == 'ok')
				{
					for(var i= ($('input.check_btn:checked').length-1);i >= 0;i--)
					{	
						if(!checkNonDeletedId($('input.check_btn:checked:eq('+i+')').val(),json_arr.non_del_arr))
						{							
							$('input.check_btn:checked:eq('+i+')').parents("td:first").parents("tr:first").addClass('row_selected');							
						var oTabled = $('#sortTable').dataTable();
						var anSelected = fnGetSelected( oTabled );
						oTabled.fnDeleteRow( anSelected[0] );								
						}
					}
					var oTabled = $('#sortTable').dataTable();
					var anSelected = fnGetSelected( oTabled );
					for(var k = 0; k < anSelected.length; k++)
					{
						oTabled.fnDeleteRow( anSelected[k] );
					}
				}
				else
				{							
					openMsgDialog(json_arr.msg);
				}	
				$(self).html('<span class="icon delete"><?php echo html_entity_decode($this->translator->translator("b2b_delete_all"), ENT_QUOTES, "UTF-8"); ?></span>');
			},
			error: function(xhr, status, error){
				var msg = "Error! " + xhr.status + " " + error;
				openMsgDialog(msg);
			}
	});	
}
		
function allFunctions()
{
	$('a.edit_btn').unbind('click');
	$('a.edit_btn').click(function() {
		var self = this;
		
		if($(self).is(":visible"))
		{
			$(self).hide();	
			$(self).parents("li:first").children("a:nth-child(2)").show();
			$(self).parents("li:first").children("a:nth-child(3)").show();
			var group_id = $(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").val();			
			var business_type = $(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").val();			
			$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(1)").hide();
			$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").show();
			$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(1)").hide();
			$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").show();
		}
	});
	
	$('a.cancel_btn').unbind('click');
	$('a.cancel_btn').click(function() {
			var self = this;
			if($(self).is(":visible"))
			{
				$(self).hide();	
				$(self).parents("li:first").children("a:nth-child(2)").hide();
				$(self).parents("li:first").children("a:nth-child(1)").show();				
							
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(1)").show();
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").hide();
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(1)").show();
				$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").hide();
				
			}
		});
	
	$('a.save_btn').unbind('click');	
	$('a.save_btn').click(function() {
			var self = this;
			var rel = $(self).attr('rel');
			
			if($(self).is(":visible"))
			{
				var group_id = $(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").val();
				var group_name = $(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").children("option:selected").text();
				var business_type   = $(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").val();
				
				$.ajax({
						url: "<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendtype', 'action'     => 'edit' ), 'adminrout',    true) ?>",
						type: 'POST',
						data: { id: rel, group_id: group_id, business_type: business_type},
						beforeSend: function(){						
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(1)").hide();
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").hide();
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(3)").show();
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(1)").hide();
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").hide();
							$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(3)").show();
							$(self).hide();	
							$(self).parents("li:first").children("a:nth-child(3)").hide();
							$(self).parents("li:first").children("a:nth-child(1)").show();					
						 },
						success: function(response) 
						{
							//alert(response);
							var json_arr = eval("("+response+")");
							if(json_arr.status == 'ok')
							{								
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(1)").html(group_name);
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(1)").html(business_type);
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(1)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(1)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(3)").hide();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(3)").hide();
							}
							else if(json_arr.status == 'errV')
							{
								//$('#actionMessage').attr('class','errMess');
								//$('#actionMessage').html("<?php echo $this->translator->translator('common_err'); ?>");
								$(self).show();	
								$(self).parents("li:first").children("a:nth-child(3)").show();
								$(self).parents("li:first").children("a:nth-child(1)").hide();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(3)").hide();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(3)").hide();
								var msg = '';
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									msg += json_arr.msg[i].key +' '+json_arr.msg[i].value + '</br>';							
								}
								openMsgDialog(msg);
							}
							else
							{
								$(self).show();	
								$(self).parents("li:first").children("a:nth-child(3)").show();
								$(self).parents("li:first").children("a:nth-child(1)").hide();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("select:nth-child(2)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("input:nth-child(2)").show();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(3)").children("span:nth-child(3)").hide();
								$(self).parents("li:first").parents("ul:first").parents("td:first").parents("tr:first").children("td:nth-child(4)").children("span:nth-child(3)").hide();
								openMsgDialog(json_arr.msg);
							}						
						}
					});
			}
		});
			
		
	
		$('a.delete_btn').unbind('click');	
		$('a.delete_btn').click(function() {
			var self = this;
			$("#dialog-confirm").html("<?php echo addslashes($this->translator->translator('b2b_list_delete_confirm')); ?>").dialog({
				resizable: false,
				width:400,
				height:170,
				modal: true,
				show: 'fade',
				hide: 'explode',
				buttons: {
						'<?php echo html_entity_decode($this->translator->translator("b2b_delete"), ENT_QUOTES, "UTF-8"); ?>': function() {
						deleteThis(self);
						$(this).dialog('close');
					},
				'<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, "UTF-8"); ?>': function() {
						$(this).dialog('close');
					}
				}
			});
			
		});		
}
</script>
<div id="button_top_bar"></div>
<div class="title-container">
	<div class="b2b-type"><h1><?php echo $this->translator->translator('b2b_type_list_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('b2b_type_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    
    <div id="content-inner">
    	<div class="pagination">
        	<?php echo $this->paginationControl($this->datas, 'Sliding', 'top_pagination.phtml'); ?>
        </div>
        
        <div class="chart">
			<div class="data-table">
            	<table id="sortTable" width="100%" align="center" cellpadding="0" cellspacing="0">
                    <thead>
                    	<tr>
                     		<th width="3%"><input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn" /></th>
                     		<th width="5%"><?php echo $this->translator->translator('b2b_type_list_page_id'); ?></th>
                      		<th width="33%"><?php echo $this->translator->translator('b2b_type_list_group_name'); ?> </th>
                      		<th width="42%"><?php echo $this->translator->translator('b2b_type_list_type_name'); ?> </th>
                      		<th width="17%"><?php echo $this->translator->translator('common_action'); ?></th>
                    	</tr>
                 	</thead>
                    <tbody>
                    <?php 	
                                                            
                    $j = 1;
                    foreach ($this->datas as $entry): 
                        if($j % 2 == 0)
                        {
                            $onmouseout = "this.bgColor='#FFFFFF';";
                            $background = '#FFFFFF';
                        }
                        else
                        {
                            $onmouseout = "this.bgColor='#F7F7F7';";
                            $background = '#F7F7F7';
                        }
                    ?>
                   		<tr bgcolor="<?php echo $background; ?>" onmouseover="this.bgColor='#FCF5DD';" onmouseout="<?php echo $onmouseout; ?>">
                     		<td class="center checkbox"><input type="checkbox" name="checkbtn" id="checkbtn" value="<?php echo $this->escape($entry->id); ?>" class="check_btn" /></td>
                      		<td class="center"><?php echo $this->escape($entry->id); ?></td>
                      		<td class="center">
                      			<?php 	
									if(!empty($entry->group_id))
									{											  					 
											$grp_name = $group_info->getGroupName($this->escape($entry->group_id));
											echo '<span>'.$this->escape($grp_name['group_name']).'</span>';
									}
									$this->b2bTypeForm->group_id->setValue($entry->group_id);
									$this->b2bTypeForm->group_id->setAttribs(array('style' => 'display:none;'));
									echo $this->b2bTypeForm->group_id;  
                      			?>
                      			<span style="display:none"><img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" /></span></td>												  
                      		<td class="center">
								<?php  echo '<span>'.$this->escape($entry->business_type).'</span>'; 
                            		$this->b2bTypeForm->business_type->setValue($this->escape($entry->business_type));
                            		$this->b2bTypeForm->business_type->setAttribs(array('style' => 'display:none;'));
                        			echo $this->b2bTypeForm->business_type; ?><span style="display:none"><img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" /></span>
							</td>											  
                      		<td class="tools-list">
                            	<ul>
                                	<li>
									<?php if ($permission_arr['edit_enable']) : ?>
                                    <a href="javascript:void(0);" class="edit_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo $this->translator->translator('common_edit_title'); ?>"  border="0" /></a>
                                    <a href="javascript:void(0);" class="save_btn"  style="display:none;" rel="<?php echo $this->escape($entry->id); ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/save.gif" alt="<?php echo $this->translator->translator('common_save_title'); ?>" title="<?php echo $this->translator->translator('common_save_title'); ?>"  border="0"/></a><a href="javascript:void(0);" class="cancel_btn"  style="display:none;" rel="<?php echo $this->escape($entry->id); ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/cancel.gif" alt="<?php echo $this->translator->translator('common_cancel_title'); ?>" title="<?php echo $this->translator->translator('common_cancel_title'); ?>"  border="0"/></a>
                                    <?php endif; ?>
                                 	</li>
                                    
                                    <li>
									<?php if ($permission_arr['delete_enable']) : ?>
                                    <a href="javascript:void(0);" class="delete_btn"  rel="<?php echo $this->escape($entry->id); ?>>"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo $this->translator->translator('common_delete_title'); ?>" border="0" /></a>
                                    <?php endif; ?>
                                    </li>
                            	</ul>
                          </td>
                    	</tr>
                    <?php 													
                        $j++;
                        endforeach;	
                        
                  	?>
                   </tbody>
				</table>
            </div>
       	</div>
        
        <div class="pagination">
        	<?php echo $this->paginationControl($this->datas, 'Sliding', 'pagination.phtml'); ?>
        </div>
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('b2b_type_list_page_name'); ?></h1>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('b2b_type_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg','B2b Message'); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation','Delete'); ?>"></div>	
<div id="dialog_loader" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="add-type-form" title="<?php echo $this->translator->translator('b2b_type_add_page_name'); ?>">

	<div class="dialog-container">
        <div class="title-container">
            <div class="b2b-type-add"><h1><?php echo $this->translator->translator('b2b_type_add_page_name'); ?></h1></div>
        
            <div class="button-container">
                <span class="button  ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
                <span class="button  ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
                <span class="button  ui-widget-content-1" id="add_btn"><a href="javascript: void(0);" class="add_type_btn"><span class="icon save"><?php echo $this->translator->translator('b2b_type_add_page_save'); ?></span></a></span>
            </div>
        </div>
        <div class="clr"></div>
        
        <div class="content-container">
        	<div id="actionMessage"></div>
            <div id="generalInfo">
           		<fieldset class="fieldset">
                	<legend class="legend"><?php echo $this->translator->translator('b2b_type_add_page_info'); ?></legend>
                    <form id="formType" name="formType" method="post">
                    	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->b2bTypeForm->group_id->getLabel(); if($this->b2bTypeForm->group_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
									<?php $this->b2bTypeForm->group_id->setValue('');
									$this->b2bTypeForm->group_id->setAttribs(array('style' => 'display:inline;'));
									echo $this->b2bTypeForm->group_id; ?>
                                    <div class="input-errors" id="group_id_err"></div>
                                </div>
                        	</div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->b2bTypeForm->business_type->getLabel(); if($this->b2bTypeForm->business_type->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
									<?php  $this->b2bTypeForm->business_type->setValue('');
									$this->b2bTypeForm->business_type->setAttribs(array('style' => 'display:inline;'));
									echo $this->b2bTypeForm->business_type; ?>
                                    <div class="input-errors" id="business_type_err"></div>
                                </div>
                        	</div>
                      	</div>
                 	</form>
             	</fieldset>
         	</div>
       	</div>
 	</div>
</div>
<?php endif; ?>
</div>