<?php
$version = Zend_Registry::get('version');
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();

$ckLicense = true;
if($ckLicense == true)
{
	$license = new Zend_Session_Namespace('License');
	$validation_data = $license->license_data;
}
$this->preferencesForm->setEditor($this->serverUrl().$this->baseUrl());
$this->preferencesForm->getEditor();
?>
<script type="text/javascript">
$(document).ready(function() {
	$('#site_url').val("<?php echo str_replace('http://', '', $this->serverUrl()); ?>");
	floatingbar('#floatingbar',"#button_top_bar",null);
	$(function() {
		$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
	});
	
	imageThumbnil();
	/********************************POPUP IMAGE MANAGER****************************************/
	function openMsgDialog(msg)
	{
		$('#dialog_msg').html(msg).dialog({
			autoOpen: true,
			modal: true,
			show: 'fade',
			resizable: 'false',
			buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
			open: function(event, ui)
				 {
					setTimeout(function()
					{
						if($('#' + event.target.id).dialog('isOpen'))
						{
							$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');
						}
					}, 5000);
				  }
		});
	}
	
	$("#upload-form").dialog({
		autoOpen: false,
		width: 750,
		height: 600,
		show: 'fade',
		modal: true
	});

	$('a.upload_btn').click(function() {
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpreferences', 'action'     => 'uploadfile' ,'type' => 'admin_header_logo' ), 'adminrout',    true) ?>");
		$('#upload-form').dialog('open');
		
	});
	
	$('a.no_img_btn').click(function() {
		$("#admin_header_logo").val('');
		$("#admin_header_logo_selected_file").html('');
		
	});
	
	$('a.no_img_admin_favicon_btn').click(function() {
		$("#admin_favicon").val('');
		$("#admin_favicon_selected_file").html('');
		
	});
	
	$('a.no_img_frontend_favicon_btn').click(function() {
		$("#frontend_favicon").val('');
		$("#frontend_favicon_selected_file").html('');
		
	});
	
	$('a.select_file_btn').click(function() {
		
			var currentIFrame = $('#i-upload-form');
			var v = currentIFrame.contents().find("#file_name").val();
			var vf = currentIFrame.contents().find("#type").val();
			if(v == '' || v == null)
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';
				openMsgDialog(msg);
			}
			else
			{
				var file_arr =  v.split(',');
				var img_code = '<span class="thumb"><span class="top"><img src="'+file_arr[0]+'/'+file_arr[1]+'" width="45" height="35" class="bdr"/></span></span>';
				$('#'+vf+'_selected_file').html(img_code);
				$('#'+vf).val('<?php echo $this->serverUrl().$this->baseUrl(); ?>'+'/'+file_arr[0]+'/'+file_arr[1]);
				$("#upload-form").dialog('option','hide','explode').dialog('close');
				imageThumbnil();
			}
		});
	
	$('a.upload_admin_fav_btn').click(function() {
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpreferences', 'action'  => 'uploadfile','type' => 'admin_favicon' ), 'adminrout',    true) ?>");
		$('#upload-form').dialog('open');
	});
		
	$('a.upload_frontend_fav_btn').click(function() {
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpreferences', 'action'  => 'uploadfile','type' => 'frontend_favicon' ), 'adminrout',    true) ?>");
		$('#upload-form').dialog('open');
	});
	
	$('a.close_dialog_btn').click(function() {
		$("#upload-form").dialog('option','hide','explode').dialog('close');
	});
	
	/************************************POPUP IMAGE MANAGER******************************************/
	
	$('a.reset_btn').click(function() {
		 resetFields();
		 removeError();
	});
	function resetFields()
	{
		$( "form" )[ 0 ].reset();
		$("#admin_header_logo").val('<?php echo $this->escape($this->admin_header_logo); ?>');
		$("#admin_header_logo_selected_file").html('<span class="thumb"><img src="<?php echo $this->escape($this->admin_header_logo); ?>" width="45" height="35" /></span>');
		$("#admin_favicon").val('<?php echo $this->escape($this->admin_header_logo); ?>');
		$("#admin_favicon_selected_file").html('<span class="thumb"><img src="<?php echo $this->escape($this->admin_favicon); ?>" width="45" height="35" /></span>');
		$("#frontend_favicon").val('<?php echo $this->escape($this->admin_header_logo); ?>');
		$("#frontend_favicon_selected_file").html('<span class="thumb"><img src="<?php echo $this->escape($this->frontend_favicon); ?>" width="45" height="35" /></span>');
		imageThumbnil();
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
		var filename = '';
		var filevalue = '';
		$.each($('form').serializeArray(), function(i, field) {
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];
				}
				else
				{
					filename 	= 	field.name;
				}
				$('#'+filename).removeClass('ui-state-error');
				$('#'+filename+'_err').html('');
		});
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function openPerfectTab(key_arr)
	{
		var err_id = '';
		var sel = null;
		var getTab = false;
		
		for(var i = 1; i <= $('#tabs').children('ul:first').children('li').length ; i++)
		{
			for(var j= 0; j < key_arr.length; j++)
			{
				err_id = '#'+key_arr[j].key+'_err';
				if($('#tabs-'+i+':has('+err_id+')').html())
				{
					sel = (i - 1);
					$("#tabs").tabs({ selected: sel }).find(".ui-tabs-nav").sortable({axis:'xy'});
					$('#'+key_arr[j].key).focus();
					getTab = true;
					break;
				}
			}
			if(getTab == true)
			{
				break;
			}
		}
	}
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'fade',
					resizable: 'false',
					open: function(event, ui)
						 {
						 	$("#progressbar").progressbar({
								value:100
				
							});
						  }
				});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		var filename = '';
		var filevalue = '';
		$.each($('form').serializeArray(), function(i, field) {
			if(field.name.match(/\[\]$/))
			{
				var filearr = field.name.split('[]');
				filename = filearr[0];
				filevalue = $('#'+filename).val();
				if($('input[name="'+filename+'[]"]').is(':checkbox'))
				{
					var val_arr = [];
					$('input[name="'+filename+'[]"]:checkbox:checked').each(function(i){
					 val_arr[i] = $(this).val();
					});
					filevalue = (val_arr[0] != null) ? val_arr.join(',') : null;
				}
			}
			else
			{
				filename 	= 	field.name;
				filevalue 	= 	field.value;
			}
			fieldObj[filename] = (tinyMCE.get(filename)) ? tinyMCE.get(filename).getContent() : filevalue;
		});
		return fieldObj;
	}
	
	$('a.save_data_btn').click(function() {
			
		var formData = getFormData();
			formData.id  = '<?php echo '1'; ?>';
			
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendpreferences', 'action'     => 'preferences' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){
						removeError();
						openLoaderDialog();
					 },
				success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					closeLoaderDialog();
					if(json_arr.status == 'ok')
					{
						//$('#actionMessage').attr('class','seccMess');
						$('#actionMessage').html(succMsgDesign(json_arr.msg));
					}
					else if(json_arr.status == 'errV')
					{
						//$('#actionMessage').attr('class','errMess');
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);
						}
						openPerfectTab(json_arr.msg);
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					closeLoaderDialog();
					var msg = "Error! " + xhr.status + " " + error;
					//$('#actionMessage').attr('class','errMess');
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
});


/************************************************IMAGE THUMBNIL************************************************/
function imageThumbnil()
{
	$("span.thumb").hover(function() {
		$(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/
		$(this).find('img').addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
			.animate({
				marginTop: '-110px', /* The next 4 lines will vertically align this image */
				marginLeft: '-110px',
				top: '50%',
				left: '50%',
				width: '174px', /* Set new width */
				height: '174px', /* Set new height */
				padding: '20px'
			}, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
	
		} , function() {
		$(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
		$(this).find('img').removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
			.animate({
				marginTop: '0', /* Set alignment back to default */
				marginLeft: '0',
				top: '-3px',
				left: '0',
				width: '35px', /* Set width back to default */
				height: '25px', /* Set height back to default */
				padding: '2px'
			}, 400);
	});
}
</script>
<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<div class="title-container">
	<div class="settings"><h1><?php echo $this->translator->translator('menu_b2b_admin_preferences'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php $staticGroupsObj = $this->preferencesForm->getDisplayGroups();  ?>
<div class="content-container">
	<form name="formSettings" id="formSettings" method="post" >
        <div id="actionMessage"></div>
            <div id="button_top_bar"></div>
          	<div id="generalInfo">
            	<div id="generalInfo">
					<div id="tabs">
                    <ul>
                    	<?php
						foreach($staticGroupsObj as $group_key => $staticGroup)
            			{
						?>
                        <li><a href="<?php echo $tab_base_link; ?>#tabs-<?php echo $group_key; ?>"><?php echo $this->translator->translator($staticGroup->getName());  ?></a></li>
                        <?php
						}
						?>
                    </ul>
                    <?php
						foreach($staticGroupsObj as $group_key => $staticGroup)
            			{
						?>
                    <div id="tabs-<?php echo $group_key; ?>">
                    	
                        <fieldset class="fieldset">
                		<legend class="legend"><?php echo $this->translator->translator($staticGroup->getLegend());  ?></legend>
                        
                       	<div class="form">
                        	<?php
							$elementsObj = $staticGroup->getElements();
							foreach($elementsObj as $element)
							{
							?>
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $element->getLabel(); if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $element; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="<?php echo $element->getName(); ?>_err"></div>
                                </div>
                            </div>                 
                            <?php
							}
							?>
                     	</div>
                        </fieldset>
                    </div>
                    <?php
						}
					?>

					
                    
					</div>
                </div>
            </div>
    </form>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('menu_b2b_admin_preferences'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_data_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('menu_b2b_admin_preferences')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>"><div id="progressbar" style="height:22px;margin-top:30px;"></div></div>
<div id="upload-form" title="<?php echo $this->translator->translator('settings_page_dialog'); ?>">
	<div>
		<iframe id="i-upload-form" src="" class="iframe-article"></iframe>
        
        <div class="button-container">
            <span class="button  ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('settings_page_insert'); ?></span></a></span>
            <span class="button  ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
        </div>
	</div>
</div>
</div>