/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Autos Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #B30D15;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background-color:#D30F19;
	border:1px solid #B30D15;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

/* ********************************************************************************** */

/* Banner --------------------------------------------------------------------------- */

#banner-inner{
	background-position:left center;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block figure .photo-count-container,
	   figure .photo-count-container{
	left:inherit;
	right:9px;
}

.block figure .type{
	left:inherit;
	right:9px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags .dropdown dl{ 
	float:left;
}

.dropdown dd ul{ 
	right:-195px; 
}

.dropdown dd ul li{
	border-left:0;
	text-align:left;
}

.dropdown span.flag{
	float:left;
}

.dropdown span.flag span.glyphicon{
	margin-right:10px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search .ui-combobox-input,
.block-sidebar-search .ui-combobox-input{
	padding: 0.68em;
}

.block-search .ui-combobox-toggle,
.block-sidebar-search .ui-combobox-toggle{
	right:inherit;
	left: 0px;
}

.block-search .ui-button,
.block-sidebar-search .ui-button{
	float:left;
}

.block-search-filter .ac-container article .checkbox,
.block-search-filter .ac-container article .radio{
	padding-right: 0;
	padding-left: 10px;
}

.block-search-filter .ac-container .checkbox input[type="checkbox"],
.block-search-filter .ac-container .radio input[type="radio"]{
	margin-right:0;
	margin-left:4px;
	padding-right:10px;
	padding-left:0px;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-right:0;
	padding-right:0;
}

.block-list ul li{
	background-image:url(../../images/list-arrow-rtl.png);
	background-position:right;
	padding-right:10px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.products-vote span input[type="button_btn"]{
	margin-right:0 !important;
	margin-left:2px !important;
	float:right;
}

#ribbons {
	right:-78%;
	left:0;
	line-height:3px !important;
}

#ribbons div{
	margin-top:8px;
}

#ribbons::after{
	right: 0;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container ul{
	margin-right:0;
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* Cost Calculator ------------------------------------------------------------------ */

.mod.calculator .checkbox,
.mod.calculator .radio{
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* Accordion ------------------------------------------------------------------------ */

.ac-container label,
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background-position: 100% 13px !important;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	background-image:none !important;
}

.ac-container-sidebar > div > label,
.ac-container-sidebar input:checked + label,
.ac-container-sidebar input:checked + label:hover{
	background-image: url(../../images/list-arrow-rtl.png) !important;
	background-position: 98% center !important;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */
   

