/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Autos Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#CC0000;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#CC0000;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#C00;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #B30D15;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background-color:#D30F19;
	border:1px solid #B30D15;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color: #D4262C;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #A40F16;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color: #BF2226;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#3B3B3B;
	min-height:29px;
	padding:10px 0;
	color:#D6DEE0;
	text-align:center;
}

.user-link{
	border-bottom:1px solid #313131;
	padding-bottom:8px;
	margin-bottom:5px;
}

.user-link a{
	color: #B4B4B4;
	text-decoration:underline;
}

.user-link a:hover{
	color:#EFEFEF;
	text-decoration:none;
}

.top-links a{
	color: #B4B4B4;
	display:inline-block;
}

.top-links a:hover{
	color: #EFEFEF;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
	padding-top:15px;
	padding-bottom:15px;
}

#header .logo img{
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	background-color:#3B3B3B;
	color:#D6DEE0;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
	overflow:hidden;
}

#banner-inner{
	background-image:url(../../images/banner-inner.jpg);
	background-position:left center;
	background-color:#1A1A1A;
	padding-top:10px;
	margin-bottom:20px;
	text-align:center;
}

#banner-inner h1{
	font-size:23px;
	font-weight:bold;
	color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
	display:inline-block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:17px;
	color:#4B5252;
	letter-spacing:normal;
	display:block;
	text-align:center;
}

.block h6 a:hover{
	color:#C00;
}

.block .btn{
}

.block .panel{
	border-radius:0;
	margin-bottom:15px;
}

.block .panel .panel-heading h3{
	margin-bottom:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
}

.block .panel .price{
	color: #F60;
	font-size: 17px;
	text-align:center;
}

.block figure{
	margin-top:10px;
	text-align:center;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin-bottom:15px;
	display:inline-block;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
	position:absolute;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
    background: rgba(191, 34, 38, 0.8);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
}

.block figure .photo-count-container .photo-count a,
	   figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover,
	   figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .type{
	font-size:12px;
	color:#FFF;
	background-color:rgba(37, 42, 43, 0.8);
    position: absolute;
    text-align: center;
	top:9px;
	left:9px;
	padding: 4px 10px;
}

.block figure img,
	   figure img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .details{
	color: #788081;
}

.block .details .ratings{
	margin: 5px 0 10px 0;
	text-align:center;
}

.block .details p{
	margin: 12px 0;
}

.block .details .brand{
	font-size:12px;
	border-radius:3px;
	background-color:#F90;
	color:#FFF;
	display:inline-block;
	padding:2px 5px;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background:#D5131B;
	border-bottom:3px solid #A40F16;
	color:#FFF;
	padding: 6px 22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
	display:inline-block;
}

.block .more a:hover{
	background-color:#BB111A;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	border-top:6px solid #121212;
	background-color:#212121;
	padding:20px 0;
	margin-top:15px;
}

#footer hr{
	margin-top:8px;
	margin-bottom:8px;
	border-top:0px;
	border-bottom: 1px solid #171717;
}

#footer .links span{
	color: #CCCC99;
}

#footer .links a{
	color: #A8A8A8;
}

#footer .links a:hover{
	color: #D6DEE0;
}

#footer .copyright{
	color: #A8A8A8;
}

#footer .copyright a{
	color: #A8A8A8;
	text-decoration:underline;
	margin-bottom:10px;
}

#footer .copyright a:hover{
	color: #D5131B;
}

#footer .social{
	text-align: center;
	color: #DA2E32;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

.go-top a{
	font-size:18px;
	background:#3B3B3B;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#D5131B;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
	border-bottom:1px solid #E9E9E9;
	text-align:left;
}

.block-news h4 a{
	font-size: 17px;
	color: #CC0000;
	text-transform: none;
	letter-spacing:normal;
}

.block-news .date{
	padding: 2px 4px;
	color: #F60;
	margin: 6px 0;
	display: inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe .block-content{
	padding: 10px;
	border:4px solid #690000;
	background-color:#870C0E;
	color:#FFF;
	margin-bottom:15px;
}

.block-subscribe h3{
	color:#FFF;
}

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe label{
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
	background-color:#F39B11;
	border-bottom:0;
	border-radius:0;
}

.block-subscribe input[type="button"]:hover{
	background-color:#F08E0B;
}

.block-subscribe .newsletter_arr{
	color:#FC3;
	font-style:italic;
	line-height:22px;
	display:block;
}

/* ---------------------------------------------------------------------------------- */

/* Banner Search -------------------------------------------------------------------- */

.block-search a.btn{
	background-color: #D4262C;
	color:#FFF;
	padding: 10px 45px;
	margin:5px 0 10px 0;
	font-size:15px;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}

.block-search a.btn:hover{
	background: #BF2226;
	color:#FFF;
}

.block-search a{
	color:#D6DEE0;
}

.block-search a:hover{
	color:#FFC000;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search{
	padding:10px;
}

.block-sidebar-search .k-label,
.block-sidebar-search .form-group{
	color:#FFF;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	border-radius:0;
	border:1px solid #FFF;
}

.block-sidebar-search h1{
	color:#FFF;
	font-weight:bold;
	letter-spacing:-2px;
	text-align:center;
	font-size:23px;
}

.block-sidebar-search .btn{
	background-color:#FB9700;
	color:#FFF;
	font-size:17px;
	padding-left:35px;
	padding-right:35px;
	border-radius:0px;
	border-bottom:0px solid #D78100;
	outline: 0 none;
}

.block-sidebar-search .btn:hover{
	background-color: #F18200;
	color:#FFF;
}

.block-search .ui-combobox-input,
.block-sidebar-search .ui-combobox-input{
	padding: 0.70em;
	border-radius:0;
	position:absolute;
	width:90%;
}

.block-search .ui-combobox-toggle,
.block-sidebar-search .ui-combobox-toggle{
	padding: 0.9em;
    right: -2px;
    vertical-align: top;
	/*support: IE7 */
	*height: 1.7em;
}

.block-search .ui-button,
.block-sidebar-search .ui-button{
	border-radius:0;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-body{
	border:0;
}

.block-search-filter .block-content{
	display:block;
	overflow:visible;
}

.block-search-filter .block-content img{
	vertical-align:middle;
}

.block-search-filter label{
	font-weight:normal;
}

.block-search-filter .ac-container article{
	background:#FFF !important;
	padding:0 10px;
	color:#777777;
}

.block-search-filter .ac-container article p{
	padding-top:5px;
}

.block-search-filter .ac-container article .checkbox,
.block-search-filter .ac-container article .radio{
	padding:0 10px 0 0;
}

.block-search-filter .ac-container .checkbox input[type="checkbox"],
.block-search-filter .ac-container .radio input[type="radio"]{
	margin:3px 4px 0 0;
	padding-left:10px;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad{
	height:165px;
	overflow:hidden;
}
	
.block-scrolling-ad img{
	margin:10px;
}

.block-scrolling-ad .simply-scroll{
	margin:0;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-left:0;
	padding-left:0;
}

.block-list ul li{
	background-image:url(../../images/list-arrow.png);
	list-style:none;
	background-position:0px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	line-height:24px;
	white-space:normal;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .ratings{
	text-align:center;
	margin:12px 0;
}

.mod .price,
.mod .price.previous{
	font-size: 22px;
	font-weight: bold;
	color: #FF9900;
	letter-spacing: -1px;
	text-align: center;
	padding: 0 0 5px 0;
}

.mod .price.previous{
	color: #ADADAD;
	text-decoration: line-through;
}

.mod .count{
	color: #419641;
}

.mod .call{
	color:#373737;
	background-color:#FFD700;
	padding:10px;
	margin:auto;
	text-align:center;
	font-size:20px;
}

.mod .grid-puller{
	/*margin:0 0 0 0px*/
}

.mod .grid-puller .km-pane-wrapper{
	position:relative;
}

.mod figure{
	text-align:center;
}

.mod figure .thumb{
	margin-bottom:0;
	position:relative;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading p{
	margin:0 0 8px 0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-footer .btn{
	font-size:17px;
	border-radius:0;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:3px solid;
}

.mod .panel .panel-footer .btn.save{
	border-bottom-color:#2F6DA6;
}

.mod .panel .panel-footer .btn.cart{
	color:#FFF;
	background-color:#D4262C;
	border-bottom-color:#A40F16;
}

.mod .panel .panel-footer .btn.cart:hover{
	background-color:#BF2226;
}

.mod .panel .panel-footer .btn.details{
	border-bottom-color:#46A446;
}

.mod .list-group{
	font-size:14px;
}

.mod .list-group li,
.mod .list-group a{
	border-radius:0;
}

.mod .text-title{
	color:#F60;
}

.mod .k-pager-wrap{
	/*margin-bottom:15px;*/
}

.mod.details h1{
	display:inline;
}

.mod.details .btn{
	white-space:normal;
	border-radius:0;
}

.mod.details h4{
	margin:4px 0;
}

.mod.details .gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.mod.details dl dt{
	font-weight:normal;
	color:#F60;
}

.mod.details .agent-info dl{
	margin-top:0;
}

.products-vote > span{
	display:inline-block;
}

.products-vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 2px 0px !important;
	border:0;
	width:21px !important;
	float:left;
}

.products-vote .result{
	line-height:normal !important;
	position:relative !important;
}

.products-vote .label{
	padding:5px;
}

.products-vote *,
.products-vote *:after,
.products-vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.ribbons {
	margin-left: auto;
	margin-right: auto;
}

#ribbons {
	font-size:13px;
	color:#FFF;
	text-align: center;
	text-transform:uppercase;
	width: 34px;
	height:46px;
	line-height: 69px;
	padding:15px 0;
	background-color: rgba(204, 0, 0, 0.9);
	z-index:1;
	left:12px;
	top:0;
	position:absolute;
}

#ribbons::after{
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 17px solid rgba(204, 0, 0, 0.9);;
	left: 0;
	border-bottom-color: transparent;
}

#ribbons, 
#ribbons:before, 
#ribbons:after{
	box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	-khtml-box-sizing:content-box !important;
}

#ribbons div{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top:10px;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow{
	background-color:#F9F9F9;
	border:1px solid #DDDDDD;
	padding:15px;
}

.products-slideshow #gallery {
	background: #F9F9F9;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 200px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #D30F19;
}

.products-slideshow .ad-gallery .ad-image-wrapper{
	height:200px;
}

.products-slideshow .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{
	width:100% !important;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container{
	border:1px solid #DDD;
	padding:5px;
	margin:15px auto;
}

.match-container:hover{
	background-color:#FFFEDF;
}

.match-container ul{
	margin-left:0;
	padding-left:0;
}

.match-container ul li{
	list-style:disc;
}

.match-container img{
	border-radius:0;
}

.match-container hr{
	margin:10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Cost Calculator ------------------------------------------------------------------ */

.mod.calculator h4{
	font-size:17px;
	margin-bottom:0;
}

.mod.calculator .map-container{
	display:none;
	height:400px; 
	margin:15px auto;
}

.mod.calculator .invoicve-container{
	width:100%;
	overflow:auto;
}

.mod.calculator .checkbox,
.mod.calculator .radio{
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */
   
