<?php
class autos_home_content_model
{
	protected	$_group = 1;
	protected	$_limit = 10;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
	}
	
	public function truncate($phrase, $start_words, $max_words, $char = false, $charset = 'UTF-8')
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');			
		$selectModel = $this->_DBconn->select()
						->from(array('ap' => Zend_Registry::get('dbPrefix').'autos_page'), array('id' => 'ap.id', 'brand_id' => 'ap.brand_id', 'autos_model_name' => 'ap.autos_model_name', 'autos_model_title' => 'ap.autos_model_title' ))					   						   
					   	->order('ap.autos_model_name ASC')						
						->where('ap.group_id = ?',$this->_group)
					   	->limit($this->_limit);
		
		$autos_info =  $selectModel->query()->fetchAll();
?>

<div class="block block-list">
	<div class="panel panel-default">
		<div class="panel-heading"><h3><span class="glyphicon glyphicon-bookmark"></span> <?php echo $translator->translator('autos_model_title','','', $this->_front_template['theme_folder']); ?></h3></div>
        <div class="panel-body">
        	<div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    	<ul>
							<?php
                                if($autos_info)
                                {
                                    foreach($autos_info as $key => $entry)
                                    {
                            ?>
                                        <li><a href="<?php echo $this->_view->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->_view->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" title="<?php echo $this->_view->escape($entry['autos_model_name']); ?>" link="" class="preview"><?php echo $this->truncate($this->_view->escape($entry['autos_model_name']), 0, 50, true); ?> </a></li>
                            <?php
                                        if(($key + 1) % 5 == 0)
                                        {
                                            echo '</ul></div><div class="col-xs-12 col-sm-6"><ul>';
                                        }
                                    }
                                }
                            ?>
						</ul>
                    </div>
             	</div>
         	</div>
     	</div> 
	</div>            
</div>

<?php
	}
}
try
{
	$autos_home_content_model_class = new autos_home_content_model($this);
	$autos_home_content_model_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>