<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
$maximum_stars_digit = $translator->translator('maximum_stars_digit', '', 'Autos');
$autos_db = new Autos_Model_DbTable_Autos();	
$frontController = Zend_Controller_Front::getInstance();
$postValue = ($frontController->getRequest()->isPost()) ? $frontController->getRequest()->getPost() : Eicra_Global_Variable::getSession()->autos_search_info;

echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.29473.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/accordion-sidebar.css');


if($postValue && $postValue['filter'] && $postValue['filter']['filters'])
{
	foreach($postValue['filter']['filters'] as $fieldObj)
	{
		$postValue[$fieldObj['field']]  = $fieldObj['value'];
	}
}
$autos_form = new Autos_Form_ProductForm();
$business_type_db = new Autos_Model_DbTable_BusinessType();
$category_db = new Autos_Model_DbTable_Category();
$group_db = new Autos_Model_DbTable_AutosGroup();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;	
?>

<div class="block block-search-filter">
	<div class="block-body">
    		<h1><?php echo $translator->translator('block_search_filter_title','','', $front_template['theme_folder']); ?></h1>
        	<br>
            <div class="block-content">
            	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                    <div class="form-group text-center">
                    	<?php echo $translator->translator('block_search_filter_price_title','','', $front_template['theme_folder']).' ('.$currency->getSymbol().')'; ?><br>
                        <div id="rangeslider_autos_price">
                            <input name="autos_price-gte" id="autos_price-gte" operator="gte" />
                            <input name="autos_price-lte" id="autos_price-lte" operator="lte" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                    	<?php echo $translator->translator('block_search_filter_mileage_title','','', $front_template['theme_folder']).' ('.$translator->translator('autos_spare_milage', '', 'Autos').')'; ?><br>
                    	<div id="rangeslider_feature_mileage">
                            <input name="feature_mileage-gte" id="feature_mileage-gte" operator="gte" />
                            <input name="feature_mileage-lte" id="feature_mileage-lte" operator="lte" />
                    	</div>
                    </div>
                   	<br>
                    <div class="form-group text-center">
                    	<?php echo $translator->translator('block_search_filter_door_no_title','','', $front_template['theme_folder']); ?><br>
                        <div id="rangeslider_feature_doors">
                            <input name="feature_doors-gte" id="feature_doors-gte" operator="gte" />
                            <input name="feature_doors-lte" id="feature_doors-lte" operator="lte" />
                        </div>
                    </div>
                    <br>
              	</div>
            </div>
            <section class="ac-container-sidebar">
            <div>
            	<input id="ac-1" name="" type="checkbox" checked/>
                <label for="ac-1"><?php echo $translator->translator('block_search_filter_star_rating_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-small">
                    
                    <?php
                    $stars_post_arr = ($postValue['stars_arr'] && !is_array($postValue['stars_arr'])) ? explode(',', $postValue['stars_arr']) : ( (is_array($postValue['stars_arr'])) ? $postValue['stars_arr'] : array());
                    for($i = ($maximum_stars_digit - 1); $i > 0 ; $i--)
                    {
                        $h_num = $autos_db->numOfAutos(array('field' => 'stars', 'operator' => '=', 'value' => $i), false);
                        $checked = (in_array($i, $stars_post_arr)) ? 'checked="checked"' : '';
                    ?>
                    <div class="checkbox">
                    	<label for="stars_arr<?php echo $i; ?>"><input type="checkbox" name="stars_arr[]" id="stars_arr<?php echo $i; ?>" value="<?php echo $i; ?>" <?php echo $checked; ?>/>
							<?php
                                for($j = 1; $j < $maximum_stars_digit; $j++)
                                {
                                    $img_path = ($j > $i) ? 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_autos_img/star-small-inactive.png' : 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_autos_img/star-small-active.png';
                            ?>
                                    <img src="<?php echo $img_path; ?>" />
                            <?php
                                }
                                echo  $this->numbers($i).' '.$translator->translator('block_search_filter_stars_title','','', $front_template['theme_folder']).' ('.$this->numbers($h_num).')';
                            ?>
                    	</label>
                    </div>
                    <?php				
                    }
                    ?>
                 
                </article>              
            </div>
            
            <div>
            	<input id="ac-2" name="" type="checkbox"/>
                <label for="ac-2"><?php echo $translator->translator('block_search_filter_equipment_installed_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                
                <div class="checkbox">
				<?php
					$autos_form->equipment_installed->setSeparator('<br />');
					if($postValue['equipment_installed'])
					{
						$postValue['equipment_installed'] = (is_array($postValue['equipment_installed'])) ? $postValue['equipment_installed'] : explode(',', $postValue['equipment_installed']);
						$autos_form->equipment_installed->setValue($postValue['equipment_installed']);
					}
					$autos_form->equipment_installed->setSeparator('</div><div class="checkbox">');
					echo $autos_form->equipment_installed;
				?>
                </div>
                
                </article>              
            </div>
            
            <div>
            	<input id="ac-3" name="" type="checkbox" />
                <label for="ac-3"><?php echo $translator->translator('block_search_filter_equipment_options_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                
                <div class="checkbox">
				<?php
					$autos_form->equipment_options->setSeparator('<br />');
					if($postValue['equipment_options'])
					{
						$postValue['equipment_options'] = (is_array($postValue['equipment_options'])) ? $postValue['equipment_options'] : explode(',', $postValue['equipment_options']);
						$autos_form->equipment_options->setValue($postValue['equipment_options']);
					}
					$autos_form->equipment_options->setSeparator('</div><div class="checkbox">');
					echo $autos_form->equipment_options;
				?>
                </div>
                </article>
            </div>
            
            <div>
            	<input id="ac-4" name="" type="checkbox" />
                <label for="ac-4"><?php echo $translator->translator('block_search_filter_accomodation_type_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-medium">
                
                <div class="radio">
                	<label><input type="radio" name="autos_type" value="" <?php if(empty($postValue['autos_type'])){ echo 'checked="checked"'; } ?>/> <?php echo $translator->translator('block_search_filter_accomodation_type_all_title','','', $front_template['theme_folder']); ?></label><br />
                </div>
				<?php
					$business_type_info = $business_type_db->getAllBusinessType();
					if($business_type_info)
					{
						foreach($business_type_info as $key => $value)
						{
				?>
                <div class="radio">
                	<label><input type="radio" name="autos_type" value="<?php echo $key; ?>" <?php if($postValue['autos_type'] == $key){ echo 'checked="checked"'; } ?> /><?php echo $this->escape($value); ?></label><br />
                </div>
                <?php
						}
					}
				?>
           
                </article>
            </div>
            <div>
            	<input id="ac-5" name="" type="checkbox" />
                <label for="ac-5"><?php echo $translator->translator('autos_category_list_page_name','','Autos'); ?></label>
                <article class="ac-small">
              
                <?php
					$category_id_post_arr = ($postValue['category_id_arr'] && !is_array($postValue['category_id_arr'])) ? explode(',', $postValue['category_id_arr']) : ( (is_array($postValue['category_id_arr'])) ? $postValue['category_id_arr'] : array());
					$category_id_info = $category_db->getOptions();
					if($category_id_info)
					{
						foreach($category_id_info as $key => $value)
						{
							if(!empty($value)) 
							{
				?>
                	<div class="checkbox">
                    	<label for="category_id_arr<?php echo $key; ?>"><input type="checkbox" name="category_id_arr[]" id="category_id_arr<?php echo $key; ?>" value="<?php echo $value['id']; ?>" <?php if(in_array($value['id'], $category_id_post_arr)){ echo 'checked="checked"'; } ?>/>&nbsp;<?php echo $this->escape($value['category_name']); ?></label><br />
                    </div>
                <?php
							}
						}
					}
				?>
                
                </article>
            </div> 
            <div>
            	<input id="ac-6" name="" type="checkbox" />
                <label for="ac-6"><?php echo str_replace('&nbsp;', '', $translator->translator('autos_group_list','','Autos')); ?></label>
                <article class="ac-small">
               
                <?php
					$group_id_post_arr = ($postValue['group_id_arr'] && !is_array($postValue['group_id_arr'])) ? explode(',', $postValue['group_id_arr']) : ( (is_array($postValue['group_id_arr'])) ? $postValue['group_id_arr'] : array());
					$group_id_info = $group_db->getGroupInfo();
					if($group_id_info)
					{
						foreach($group_id_info as $key => $value)
						{
							if(!empty($key)) 
							{
				?>
                	<div class="checkbox">
                    	<label for="group_id_arr<?php echo $key; ?>"><input type="checkbox" name="group_id_arr[]" id="group_id_arr<?php echo $key; ?>" value="<?php echo $key; ?>" <?php if(in_array($key, $group_id_post_arr)){ echo 'checked="checked"'; } ?>/>&nbsp;<?php echo $this->escape($value); ?></label><br />
                    </div>
                <?php
							}
						}
					}
				?>
            
                </article>
            </div>            
            </section>
    </div>
</div>