<?php
class banner_slideshow
{
	protected	$_translator;
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');			
	}
	
	public function class_body()
	{
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.slides.min.js');

?>
  
<script>
    $(function() {
      $('#slides').slidesjs({
        width: 1140,
        height: 400,
        navigation: {
          effect: "fade"
        },
        pagination: {
          effect: "fade"
        },
		play: {
          active: true,
          auto: true,
          interval: 7000,
          swap: true,
		  effect: "fade",
          pauseOnHover: false,
          restartDelay: 2500
        },
        effect: {
          fade: {
            speed: 500
          }
        }
      });
    });
</script>

<div id="slides">
	<img src="application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/banner-1.jpg" alt="">
  	<img src="application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/banner-2.jpg" alt="">

  	<a href="#" class="slidesjs-previous slidesjs-navigation"><span class="glyphicon glyphicon-chevron-left"></span></a>
  	<a href="#" class="slidesjs-next slidesjs-navigation"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>   

<?php
	}
}
try
{
	$banner_slideshow_class = new banner_slideshow($this);
	$banner_slideshow_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>