<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
?>

<div class="block block-travel-pkgs">
	<div class="block-body">
    	<div class="row">
        	<div class="col-md-3">
            	<figure class="text-center">
                    <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/hotels.png">
                    <p><?php echo $translator->translator('block_pkg_title_info_hotels','','', $front_template['theme_folder']); ?></p>
                    <div class="more"><a href="Hotels"><?php echo $translator->translator('block_pkg_btn','','', $front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
                </figure>
            </div>
            
            <div class="col-md-3">
            	<figure class="text-center">
                    <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/flights.png">
                    
                    <p><?php echo $translator->translator('block_pkg_title_info_flights','','', $front_template['theme_folder']); ?></p>
                    <div class="more"><a href="Flights"><?php echo $translator->translator('block_pkg_btn','','', $front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
                </figure>
            </div>
            
            <div class="col-md-3">
            	<figure class="text-center">
                    <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/vacationrentals.png">
                    
                    <p><?php echo $translator->translator('block_pkg_title_info_vacations','','', $front_template['theme_folder']); ?></p>
                    <div class="more"><a href="Vacation-Rentals"><?php echo $translator->translator('block_pkg_btn','','', $front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
                </figure>
            </div>
            
            <div class="col-md-3">
            	<figure class="text-center">
                    <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/tours.png">
                    
                    <p><?php echo $translator->translator('block_pkg_title_info_tours','','', $front_template['theme_folder']); ?></p>
                    <div class="more"><a href="Tour-Packages"><?php echo $translator->translator('block_pkg_btn','','', $front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a></div>
                </figure>
            </div>
        </div>
    </div>
</div>