<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
$maximum_stars_digit = $translator->translator('maximum_rating_digit');
$tours_db = new Tours_Model_DbTable_Tours();	
$frontController = Zend_Controller_Front::getInstance();
$postValue = ($frontController->getRequest()->isPost()) ? $frontController->getRequest()->getPost() : Eicra_Global_Variable::getSession()->tour_search_info;

echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.29473.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/accordion.css');


if($postValue && $postValue['filter'] && $postValue['filter']['filters'])
{
	foreach($postValue['filter']['filters'] as $fieldObj)
	{
		$postValue[$fieldObj['field']]  = $fieldObj['value'];
	}
}
$tour_form = new Tours_Form_ToursForm();
$business_type_db = new Tours_Model_DbTable_BusinessType();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;	
?>

<div class="block block-search-filter">
	<div class="block-body">
    		<h2><?php echo $translator->translator('block_search_tour_filter_title','','', $front_template['theme_folder']); ?></h2>
        
            <div class="block-content">
            	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                    <div class="block-title"><?php echo $translator->translator('block_search_filter_price_title','','', $front_template['theme_folder']).' ('.$currency->getSymbol().')'; ?></div>
                    <div id="rangeslider_tours_price" style="width:99%">
                        <input name="tours_price-gte" id="tours_price-gte" operator="gte" />
                        <input name="tours_price-lte" id="tours_price-lte" operator="lte" />
                    </div>
                    <div class="clear"></div>
                    <div class="block-title"><?php echo $translator->translator('block_search_filter_number_of_days_title','','', $front_template['theme_folder']); ?></div>
                    <div id="rangeslider_num_of_days" style="width:99%">
                        <input name="num_of_days-gte" id="num_of_days-gte" operator="gte" />
                        <input name="num_of_days-lte" id="num_of_days-lte" operator="lte" />
                    </div>
                    <div class="clear"></div>
                    <div class="block-title"><?php echo $translator->translator('block_search_filter_number_of_nights_title','','', $front_template['theme_folder']); ?></div>
                    <div id="rangeslider_num_of_nights" style="width:99%">
                        <input name="num_of_nights-gte" id="num_of_nights-gte" operator="gte" />
                        <input name="num_of_nights-lte" id="num_of_nights-lte" operator="lte" />
                    </div>
                    <div class="clear"></div>
                  </div>
            </div>
            <section class="ac-container">
            <div>
            	<input id="ac-1" name="" type="checkbox" checked/>
                <label for="ac-1"><?php echo $translator->translator('block_search_filter_star_rating_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-small">
                <p>
				<?php
				$rating_post_arr = ($postValue['rating_arr'] && !is_array($postValue['rating_arr'])) ? explode(',', $postValue['rating_arr']) : ( (is_array($postValue['rating_arr'])) ? $postValue['rating_arr'] : array());
				
				for($i = ($maximum_stars_digit - 1); $i > 0 ; $i--)
				{
					$t_num = $tours_db->numOfTours(array('field' => 'rating', 'operator' => '=', 'value' => $i), false); 
					$checked = (in_array($i, $rating_post_arr)) ? 'checked="checked"' : '';
				?>
                <label for="rating_arr<?php echo $i; ?>"><input type="checkbox" name="rating_arr[]" id="rating_arr<?php echo $i; ?>" value="<?php echo $i; ?>" <?php echo $checked; ?>/>
                <?php
					for($j = 1; $j < $maximum_stars_digit; $j++)
					{
						$img_path = ($j > $i) ? 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/star-small-inactive.png' : 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/star-small-active.png';
				?>
                		<img src="<?php echo $img_path; ?>" />
                <?php
					}
					echo  $this->numbers($i).' '.$translator->translator('block_search_filter_stars_title','','', $front_template['theme_folder']).' ('.$this->numbers($t_num).')';
				?>
                </label><br />
                <?php				
				}
				?>
                
                </p>
                </article>              
            </div>
            
            
            <div>
            	<input id="ac-2" name="" type="checkbox"/>
                <label for="ac-2"><?php echo $translator->translator('block_search_filter_facilities_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                <p>
				<?php
					$tour_form->inclusions->setSeparator('<br />');
					if($postValue['inclusions'])
					{
						$postValue['inclusions'] = (is_array($postValue['inclusions'])) ? $postValue['inclusions'] : explode(',', $postValue['inclusions']);
						$tour_form->inclusions->setValue($postValue['inclusions']);
					}
					echo $tour_form->inclusions;
				?>
                </p>
                </article>              
            </div>
            
            <div>
            	<input id="ac-3" name="" type="checkbox" />
                <label for="ac-3"><?php echo $translator->translator('block_search_filter_sports_recreation_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-xl-large">
                <p>
				<?php
					$tour_form->exclusions->setSeparator('<br />');
					if($postValue['exclusions'])
					{
						$postValue['exclusions'] = (is_array($postValue['exclusions'])) ? $postValue['exclusions'] : explode(',', $postValue['exclusions']);
						$tour_form->exclusions->setValue($postValue['exclusions']);
					}
					echo $tour_form->exclusions;
				?>
                </p>
                </article>
            </div>
            
            <div>
            	<input id="ac-4" name="" type="checkbox" />
                <label for="ac-4"><?php echo $translator->translator('block_search_filter_accomodation_type_title','','', $front_template['theme_folder']); ?></label>
                <article class="ac-medium">
                <p>
                <label><input type="radio" name="tours_type" value="" <?php if(empty($postValue['tours_type'])){ echo 'checked=""checked'; } ?>/> <?php echo $translator->translator('block_search_filter_accomodation_type_all_title','','', $front_template['theme_folder']); ?></label><br />
				<?php
					$business_type_info = $business_type_db->getListInfo('1', null, false) ;
					if($business_type_info)
					{
						foreach($business_type_info as $key => $obj)
						{
				?>
                <label><input type="radio" name="tours_type" value="<?php echo $obj['id']; ?>" <?php if($postValue['tours_type'] == $obj['id']){ echo 'checked=""checked'; } ?> /><?php echo $this->escape($obj['business_type']).' ('.$this->escape($obj['group_name']).')'; ?></label><br />
                <?php
						}
					}
				?>
                </p>
                </article>
            </div>
            <div>
            	<input id="ac-6" name="" type="checkbox" />
                <label for="ac-6"><?php echo $translator->translator('tours_block_advanced_search_label_tour_code','','Tours'); ?></label>
                <article class="ac-medium">
                <p>
                <?php
					$tours_code_post_arr = ($postValue['tours_code_arr'] && !is_array($postValue['tours_code_arr'])) ? explode(',', $postValue['tours_code_arr']) : ( (is_array($postValue['tours_code_arr'])) ? $postValue['tours_code_arr'] : array());
					$tours_code_info = $tours_db->getListInfo('1', null, array('tours_page' => array('tours_code'), 'userChecking' => false));
					if($tours_code_info)
					{
						foreach($tours_code_info as $key => $value)
						{
							if(!empty($value)) 
							{
				?>
                	<label for="tours_code_arr<?php echo $key; ?>"><input type="checkbox" name="tours_code_arr[]" id="tours_code_arr<?php echo $key; ?>" value="<?php echo $value['tours_code']; ?>" <?php if(in_array($value['tours_code'], $tours_code_post_arr)){ echo 'checked=""checked'; } ?>/>&nbsp;<?php echo $this->escape($value['tours_code']); ?></label><br />
                <?php
							}
						}
					}
				?>
                </p>
                </article>
            </div>
            </section>
    </div>
</div>