<?php
if(!empty($this->state)) { $this->headMeta()->setName('keywords',$this->translator->translator('property_front_page_list').' ('.$this->state.')');}
if(!empty($this->state)) { $this->headMeta()->setName('description',$this->translator->translator('property_front_page_list').' ('.$this->state.')'); }
if(!empty($this->state)) { $this->headTitle()->headTitle($this->translator->translator('property_front_page_list').' ('.$this->state.')','SET'); }

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');

$business_type_db = new Property_Model_DbTable_BusinessType();
$state_db = new Property_Model_DbTable_State();
$area_db = new Property_Model_DbTable_Area();
$country_db = new Property_Model_DbTable_Country();
$review_helper = new Review_View_Helper_Review();
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','hotels_page' );
$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

function property_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}
?>

<?php 
$allow_obj = new Property_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

$property_title_name = ($this->menu_info) ? $this->escape($this->menu_info['menu_name']) : $this->escape($this->businessTypeInfo['business_type']);
?>
<script>
$(document).ready(function() {		
       	text_truncate();
    });
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<div class="mod">
	<h1><?php echo $this->translator->translator('property_front_page_list').' ('.$this->state.')'; ?></h1>
    
	<table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
        <tbody>
          <?php
            foreach($this->view_datas as $entry)
            {
                $property_image_val_arr = explode(',',$entry['property_image']);
                $property_image_no = (empty($property_image_val_arr[0])) ? '0' : count($property_image_val_arr);
                $businessTypeInfo = $business_type_db->getBusinessTypeInfo($entry['property_type']);
                if($this->escape($entry['property_primary_image']))
                { 
                    $thumb_image = 'data/frontImages/property/property_image/'.$this->escape($entry['property_primary_image']); 
                }
                else
                { 
                    if($this->escape($entry['property_image']))
                    {
                        $thumb_image = 'data/frontImages/property/property_image/'.$this->escape($property_image_val_arr[0]); 
                    }
                    else
                    {
                        $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_property_img/no_image.png'; 
                    }		
                }
                if($this->group_datas['file_thumb_width'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToWidth' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
                { 
                    $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                }
                else
                {
                    $width = '';
                } 
                if($this->group_datas['file_thumb_height'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToHeight' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
                { 
                    $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                } 
                else
                {
                    $height = '';
                }
				$featured_class = ($entry['featured'] == '1') ? 'products-featured' : '' ;
                ?>
                  <tr>
                    <td>
                    	<div class="panel panel-default">
							<div class="panel-heading">
                            	<p>
                                    <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="preview" title="<?php echo $this->escape($entry['property_name']); ?>" link=""><?php echo $this->escape(property_truncate($entry['property_name'], 0, 5)); ?></a>
                                    <?php $type_infos = $business_type_db->getBusinessTypeInfo($entry['property_type']); //echo $this->translator->translator('property_front_page_property_for'); ?>&nbsp;<span class="label label-success"><?php echo $this->escape($type_infos['business_type']); ?></span>
                                </p>
                                
                                <span class="text-muted">
                                    <em>
                                        <?php if(!empty($entry['feature_room_no'])){ echo (int)$this->escape($entry['feature_room_no']).' '.$this->translator->translator('property_front_page_room'); } if(!empty($entry['feature_bedroom'])){ echo ', '.(int)$this->escape($entry['feature_bedroom']).' '.$this->translator->translator('property_front_page_property_bedroom_no'); } ?>
                                    </em>
                                </span>
                            </div>
                            
                            <div class="panel-body <?php echo $featured_class; ?>">
                                <div class="price"><?php  echo $this->translator->translator('property_front_page_price').$currency->getSymbol().' '.$this->price($this->escape($entry['property_price']));  ?></div>
                                <figure>
                                    <div class="thumb">
                                        <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" width="350" title="<?php echo $this->escape($entry['property_name']); ?>"><img src="<?php echo $thumb_image; ?>" <?php echo $width; ?> <?php echo $height; ?> border="0" /></a>
                                        <div class="photo-count-container">
                                            <div class="photo-count">
                                                <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 2 ),'Property-details/:property_title/:tab',true); ?>" title="<?php echo $this->translator->translator('property_front_page_click_view_photos'); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('property_front_page_property_photo_no', $property_image_no); ?></a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            
                                <div class="details">
                                    <div class="ratings">
                                        <?php
                                            for($i = 1; $i < $maximum_stars_digit; $i++)
                                            {
                                                $property_stars = ($i <= $this->escape($entry['stars'])) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_property_img/star-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_property_img/star-inactive.png' border='0'/>";
                                                echo $property_stars.'&nbsp;';
                                            }
                                        ?>
                                    </div>
                                    
                                    <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_location'); ?></span> <?php $states = $state_db->getStateInfo($entry['state_id']); $areas = $area_db->getAreaInfo($entry['area_id']); echo $this->escape($areas['city']).', '.$this->escape($states['state_name']).', '.$this->escape($entry['post_code']).'.'; ?><br />
                                    <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_country'); ?></span> <?php $countries = $country_db->getCountryName($entry['country_id']); echo $this->escape($countries['value']); ?><br />
    
                                    <span class="text-title"><?php echo $this->translator->translator('property_front_page_property_desc'); ?></span>
                                    <span class="jTruncate"><?php echo $this->escape(strip_tags($entry['property_desc'])); ?></span>
                                </div>
                            	<br>
                            
                                <ul class="list-group">
                                    <?php
                                    if(!empty($property_type_arr[0]) && in_array($entry['property_type'], $property_type_arr))
                                      //{
                                    ?>
                                    <!--<li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 4 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo $this->translator->translator('property_front_page_label_check-availability'); ?></a></li>-->
                                    <?php
                                      //}
                                      if(!empty($entry['feature_bathroom']))
                                      {
                                    ?>	
                                    <li class="list-group-item"><i class="property-icon icon-bath"></i> <?php  echo (int)$this->escape($entry['feature_bathroom']).' '.$this->translator->translator('property_front_page_bathroom'); ?></li>
                                    <?php
                                      }
                                    ?>
                                    
                                    <li class="list-group-item"><i class="property-icon icon-kitchen"></i> <?php echo ($entry['feature_kitchen']) ? $this->translator->translator('property_front_page_property_has_kitchen') : $this->translator->translator('property_front_page_property_no_kitchen') ; ?></li>
                                    
                                    <li class="list-group-item"><i class="property-icon icon-garden"></i> <?php echo ($entry['feature_garden']) ? $this->translator->translator('property_front_page_property_has_garden') : $this->translator->translator('property_front_page_property_no_garden') ; ?></li>
    
                                    <li class="list-group-item"><i class="property-icon icon-garage"></i> <?php echo ($entry['feature_garage']) ? $this->translator->translator('property_front_page_property_has_garage') : $this->translator->translator('property_front_page_property_no_garage') ; ?></li>
                                </ul>
                            
                                <div class="text-center">
                                    <?php 
									if(!empty($this->group_datas['review_id'])){ 
									$review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($this->group_datas['review_id']));
									?>
									<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($this->group_datas['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><span class="glyphicon glyphicon-pencil"></span> <?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),'tab' => 7 ),'Property-details/:property_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span>
									<?php } ?>
                                
                                	<hr>
                                    <div class="products-vote text-center">
                                        <span class="label label-primary"><?php echo $this->translator->translator('property_front_page_label_voting'); ?></span>
                                        <span><?php  $vote->showButton($entry['id'] , $this->escape($entry['property_name'])); ?></span>
                                    </div>
                                </div>
                        	</div>
                            
                            <div class="panel-footer text-center">          
                                <!--
                                <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 5 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_f_b'), ENT_QUOTES, "UTF-8"); ?></a> | 
                                <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 2 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_fpan'), ENT_QUOTES, "UTF-8"); ?></a> |
                                <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 3 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_map'), ENT_QUOTES, "UTF-8"); ?></a>  | 											 
                                <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']),	'tab' => 1 ),'Property-details/:property_title/:tab',true); ?>"><?php //echo html_entity_decode(ucfirst(strtolower($this->translator->translator('property_front_page_property_photo'))), ENT_QUOTES, "UTF-8"); ?></a>  |
                                <a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']), 'form_id' => $this->translator->translator('email_to_friend_form_id') ),'Email-To-Friend/:property_title/:form_id',true); ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_email_friend'), ENT_QUOTES, "UTF-8"); ?></a>
                                -->
                                <a href="javascript:void(0);" class="save_property_btn btn btn-block btn-primary save" rel="<?php echo $this->escape($entry['id']); ?>"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo $this->translator->translator("property_front_page_save_property"); ?></a>
                                <!--<?php //if($global_conf['payment_system'] == 'On') : ?><span class="products-book-btn"><?php if($entry['book_calendar_enable']) //{ ?><a href="<?php //echo $this->url(array('module' => 'Property','controller' =>'book', 'action' => 'booking','property_title' => $this->escape($entry['property_title']) ),'Book-Property/:property_title',true) ?>"><?php //echo html_entity_decode($this->translator->translator('property_front_page_property_book'), ENT_QUOTES, "UTF-8"); ?></a><?php //} ?></span><?php //endif; ?>-->
                                <a href="<?php echo $this->url(array('module' => 'Property','controller' =>'frontend', 'action' => 'details','property_title' => $this->escape($entry['property_title']) ),'Property-details/:property_title',true); ?>" class="btn btn-block btn-success details"><?php echo html_entity_decode($this->translator->translator('property_front_page_property_more'), ENT_QUOTES, "UTF-8"); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                      	</div>
                    </td>
                  </tr>
          <?php
            }
          ?>
        </tbody>
    </table>
	<!-- Pagination Section -->
  	<div id="bottomPagination">
		<?php
			if(!empty($this->view_datas))
			{
				echo $this->paginationControl($this->view_datas, 'Sliding', 'regionlist/view-state-pagination-flickr.phtml'); 	 
			}
		?>
	</div>
</div>
<?php endif; ?>	