<div id="container">
    <?php // if (!$this->allow()) : ?>
    <div class="grid_12 t_a_bottom">
        <?php // echo $this->translator->translator('Member_Access_deny_desc'); ?>
    </div>
    <?php // else :
    ?>

    <script type="text/javascript">
        var settingObj = {            
            form_action: {
                form_id: 'formItem',
                hasTinyMCE: false,
               // currency_symbol: "<?php //echo $currency->getSymbol(); ?>",
                common_msg_field_id: 'actionMessage',
                dialog_container_id: 'dialog_container',
                dialog_progressbar_id: 'progressbar',                
                extra_field_for_reset: [
//                    {field_id: 'categoryTree', field_value: '', field_type: 'html'},
//                    {field_id: 'selected_file_hotels_image', field_value: '', field_type: 'html'},
//                    {field_id: 'selected_file_feature_interior_plan_image', field_value: '', field_type: 'html'},
//                    {field_id: 'hotels_parent', field_value: '0', field_type: 'val'},
//                    {field_id: 'hotels_image', field_value: '', field_type: 'val'},
//                    {field_id: 'feature_interior_plan_image', field_value: '', field_type: 'val'},
//                    {field_id: 'dataId', field_value: '<?php //echo $this->translator->translator("hotels_tree_root"); ?> (0)', field_type: 'html'}
                ],
                extra_function_for_reset: function() {
//                    if (tinyMCE.get('hotels_desc'))
//                    {
//                        tinyMCE.get('hotels_desc').setContent('');
//                    }
//                    
                   
                    $('a.back_btn_link').attr('href', '<?php echo $this->url(array("module" => "Hotels", "controller" => "backendpro", "action" => "list", "group_id" => $param_group_id), "adminrout", true) ?>');
                   // commonRemoveTabs(settingObj);
                }
            },
//            dynamic_list_action: [
//                {
//                    list_id: 'country_id',
//                    sub_list: {
//                        list_id: 'state_id',
//                        list_dest_url: '<?php echo $this->url(array('module' => 'Hotels', 'controller' => 'backendpro', 'action' => 'states'), 'adminrout', true) ?>',
//                        list_any_value: '<?php echo html_entity_decode($this->translator->translator("hotels_select_state"), ENT_QUOTES, 'UTF-8'); ?>',
//                        list_input_value_field: 'state_id',
//                        list_input_option_field: 'state_name',
//                        list_return_field: 'states',
//                        list_loader_info: {
//                            loader_id: 'state_id_loader',
//                            loader_img: 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
//                            on_loading: [
//                                {id: 'state_id', type: 'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("hotels_select_state"), ENT_QUOTES, 'UTF-8'); ?>'},
//                                {id: 'area_id', type: 'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("hotels_select_area"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("hotels_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
//                            ]
//                        },
//                        sub_list: {
//                            list_id: 'area_id',
//                            list_dest_url: '<?php echo $this->url(array('module' => 'Hotels', 'controller' => 'backendpro', 'action' => 'areas'), 'adminrout', true) ?>',
//                            list_any_value: '<?php echo html_entity_decode($this->translator->translator("hotels_select_area"), ENT_QUOTES, 'UTF-8'); ?>',
//                            list_input_value_field: 'city_id',
//                            list_input_option_field: 'city',
//                            list_return_field: 'cities',
//                            list_loader_info: {
//                                loader_id: 'area_id_loader',
//                                loader_img: 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
//                                on_loading: [
//                                    {id: 'area_id', type: 'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("hotels_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
//                                ]
//                            }
//                        }
//                    }
//                }
//            ],
            calendar: {
                calendar_include_time: true,
                calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
                monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
                monthNames: <?php echo $this->translator->translator("common_calender_monthNames"); ?>,
                dayNamesMin: <?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
                buttonText: 'calendar',
                dateFormat: 'yy-mm-dd',
                dateTimeFormat: "yyyy-MM-dd HH:mm:ss tt",
                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                value: ''
            },
            messages: {
                display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                common_msg_dialog_id: 'dialog_msg',
                common_confirn_dialog_id: 'dialog-confirm',
                common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>"
            }
        };
        
   $(document).ready(function() {	
        $('a.add_manage_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Userinfo','controller' => 'backendpro', 'action'     => 'assignmanager' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);	
					try
					{	
						commonCloseLoaderDialog(settingObj);			
						var json_arr = eval("("+response+")");			
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));						
							commonResetFormFields(settingObj);	
							<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
								//uploadSettingsEnd();			
							<?php } ?>							
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
							//openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
    });
    </script>
    <div id="button_top_bar"></div>
    <div class="title-container" id="topGo">
        <div class="autos-add"><h1><?php echo "Assign Account Manager"; ?></h1></div>

        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_manage_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
        </div>
    </div>

    <div class="content-container">
        <div id="sidebar-inner">
            <div id="nav">
                <div class="nav-header"><div class="nav-title"><?php echo $this->translator->translator('autos_tree'); ?></div></div>
                <div id="categoryTree" class="nav-body treebody">
                    &nbsp;	
                </div>
            </div>
        </div>

        <div id="content-inner">
            <div id="actionMessage"></div>        
            <form name="formItem" id="formItem" method="post">
                <div id="generalInfo">
                    <div id="tabs-1">
                        <fieldset class="fieldset last">
                            <legend class="legend"><?php echo "Assign Account Manager"; ?></legend>
                            <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                            <div class="form">
                                <div class="form-row">
                                    <div class="label">
                                        <?php echo $this->assignManagerForm->Select_user->getLabel(); ?>
                                        <?php if ($this->assignManagerForm->Select_user->isRequired()): ?>
                                            <span class="required">*</span>
<?php endif; ?>
                                    </div>

                                    <div class="field">
<?php echo $this->assignManagerForm->Select_user; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->assignManagerForm->Select_user->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="Select_user_err"></div>
                                    </div>
                                </div>

                                <div class="form-row">    
                                    <div class="label">
                                        <?php echo $this->assignManagerForm->Select_manager->getLabel(); ?>
                                        <?php if ($this->assignManagerForm->Select_manager->isRequired()): ?>
                                            <span class="required">*</span>
<?php endif; ?>
                                    </div>

                                    <div class="field">
<?php echo $this->assignManagerForm->Select_manager; ?>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->assignManagerForm->Select_manager->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        <div class="input-errors" id="Select_manager_err"></div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
        </div>
        </form>
    </div>

    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Autos', 'controller' => 'Backendpro', 'action' => 'list', 'group_id' => $param_group_id), 'adminrout', true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_manage_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
    <h1><?php echo $this->translator->translator('autos_page_add_page_name'); ?></h1>

    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Autos', 'controller' => 'Backendpro', 'action' => 'list', 'group_id' => $param_group_id), 'adminrout', true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_manage_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php // endif;  ?>	

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('autos_page_edit_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
    <div id="progressbar" ></div>	
</div>
<!--<div id="upload-form" title="<?php //echo $this->translator->translator('autos_page_page_dialog'); ?>">
    <div>
        <form id="popupForm" target="i-upload-form" method="post" action="" >
            <input type="hidden" name="table_name" value="autos_group"/>
            <input type="hidden" name="primary_id_field" value="id"/>
            <input type="hidden" name="primary_id_field_value" value=""/>   
            <input type="hidden" name="primary_file_field" value=""/> 
            <input type="hidden" name="file_content"  value=""/>       
            <input type="hidden" name="file_path_field" value=""/>
            <input type="hidden" name="file_extension_field" value="file_type"/>
            <input type="hidden" name="file_max_size_field" value="file_size_max"/>
        </form>
        <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe> 
    </div>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('autos_page_page_insert'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
    </div>
</div>-->
