<div id="container">
    <?php
//    if (!$this->allow('list')) :
    ?>
    <div class="grid_12 t_a_bottom">
        <?php // echo $this->translator->translator('Member_Access_deny_desc'); ?>
    </div>
    <?php
//    else :
    $locale_direction = Eicra_Global_Variable::getSession()->site_direction;
    $locale = Eicra_Global_Variable::getSession()->sess_lang;
    $param_group_id = ($this->group_id) ? ($this->group_id) : null;
    $permission_arr = array('add_enable' => $this->allow('add', 'backend', 'Autos'), 'edit_enable' => $this->allow('edit', 'backend', 'Autos'), 'publish_enable' => $this->allow('publish', 'backend', 'Autos'), 'delete_enable' => $this->allow('delete', 'backend', 'Autos'), 'featured_enable' => $this->allow('featured', 'backend', 'Autos'), 'view_enable' => $this->allow('list', 'backendpro', 'Tours'));
    ?>

    <script type="text/javascript">
        $(document).ready(function() {
            floatingbar('#floatingbar', "#button_top_bar", null);
            /****************************Sorting Table Start*********************/
            var settingObj = {
                grid_id: 'grid',
                dest_url: "<?php echo $this->url(); ?>",
                pageSize: '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
                toggle_btn: ['a.expand_btn'],
                calendar: {
                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                    value: ''
                },
                common_action: {
//                        permission_arr: {
//                            publish_enable: '<?php echo $permission_arr['publish_enable']; ?>',
//                            delete_enable: '<?php echo $permission_arr['delete_enable']; ?>',
//                            featured_enable: '<?php echo $permission_arr['featured_enable']; ?>'
//                        },
                        publish_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'publish'), 'adminrout', true); ?>",
                        publish_dest_data_field: ['id', 'category_name', 'paction'],
                        publish_active_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/published.gif",
                        publish_deactive_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
//                        delete_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'delete'), 'adminrout', true); ?>",
//                        delete_dest_data_field: ['id', 'category_name'],
//                        publish_multi_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'publishall'), 'adminrout', true); ?>",
//                        delete_multi_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'deleteall'), 'adminrout', true); ?>",
//                        toolbar_button_loader: '<span class="icon loader"></span>',
//                        ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
//                        multi_action: [
//                            {
//                                multi_action_caller_id: "a.featured_btn",
//                                multi_action_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'featured'), 'adminrout', true) ?>",
//                                multi_action_dest_data_field: ['id', 'category_name', 'paction'],
//                                multi_action_data_return_field: ['featured'],
//                                multi_action_data_permission_field: ['featured_enable'],
//                                multi_action_dest_data_paction: [
//                                    {'paction': 'featured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
//                                    {'paction': 'unfeatured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
//                                ]
//                            }
//                        ]
                },
//                    order_action: {
//                        order_dest_data_field: ['id', 'category_order'],
//                        order_up_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'up'), 'adminrout', true) ?>",
//                        order_up_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
//                        order_down_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'down'), 'adminrout', true) ?>",
//                        order_down_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
//                        order_all_dest_data_field: ['id_arr', 'category_order_arr'],
//                        order_all_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'orderall'), 'adminrout', true) ?>",
//                        order_all_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
//                    },
//                    detailInit_action: {
//                        detailInit_dest_url: "<?php echo $this->url(); ?>",
//                        detailInit_filter_field_name: "parent",
//                        detailInit_filter_field_id: "id"
//                    },
                search_data: {},
                batch: false,
                editable: false,
                scrollable: false, //{ virtual: false },
//                detailInit: function(e) {
//                    detailInit(e, settingObj);
//                },
                dataBound: function(e) {
                    var self = this;
                    self.tbody.find("tr").children('td:nth-child(5)').css({'overflow': 'visible'});
                    toggleKendoGridRow(self, settingObj);
                    commonImageThumbnil();
                    //Get All grid rows
                    var model = self.dataSource.data();
                    $.each(model, function(i, obj) {
                        if (obj.has_child == false)
                        {
                            self.tbody.find("tr.k-master-row[data-uid='" + obj.uid + "']>.k-hierarchy-cell>a").remove();
                        }
                    });
                    self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');
<?php if ($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
                        self.thead.find("th[data-field='category_order']").unbind('click');
                        self.thead.find("th[data-field='category_order']>a").attr('href', 'javascript:void(0)');
<?php endif; ?>
                },
                filterable: {
                    extra: true,
                    messages: {
                        info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
                        filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
                        clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
                        isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
                        or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
                    },
                    operators: {
                        string: {
                            startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
                            contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
                            doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
                            endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
                        },
                        number: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
                            gte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
                            gt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
                            lte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
                            lt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
                        },
                        enums: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
                        }
                    }
                },
                model: {
                    fields: {
                        user_id: {type: "number"},
                        user_name: {type: "string"},
                        user_type: {type: "enums"},
                        username: {type: "string"},
                        status: {type: "enums"},
                        common_action: {editable: false}
                    }
                },
                column_fields: [
                    {
                        field: "checkAll",
                        headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        template: '<input type="checkbox" value="${user_id}" class="check_btn" <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        width: 28,
                        filterable: false,
                        sortable: false,
                        columnMenu: false}, // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
                    {
                        field: "user_id",
                        template: '#= id_format #',
                        title: "User ID",
                        width: 48,
                        filterable: {
                            ui: function(element) {
                                element.kendoNumericTextBox({
                                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                    format: "0",
                                    min: 1,
                                    placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                                });
                            }
                        }
                    },
                    {
                        field: "user_name",
                        title: "User Name",
                        width: 150},
                    {
                        field: "user_type",                       
                        width: 100,
                        filterable: {
                                    ui: function(element) {
                                        element.kendoDropDownList({
                                            dataSource: [{Id: 'admin', Title: "admin"}, {Id: 'client', Title: "client"}],
                                            dataTextField: "Title",
                                            dataValueField: "Id",
                                            optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
                                        });
                                    }
                                },                       
                        sortable: true,
                        title: "User Type",
                        columnMenu: true
                    },
                    {
                        field: "username",
                        width: 100,
                        filterable: false,
                        sortable: false,
                        title: "User Email",
                        columnMenu: false
                    },
                    {
                        field: "status",
                        template: '# if(status == 1){ # Active # } else { # Inactive # } # ',
                        width: 100,
                        filterable: false,
                        sortable: false,
                        title: "User Status",
                        columnMenu: false
                    },
                    {
                        field: "common_action",
                        title: "<?php echo $this->translator->translator('common_action'); ?>",
                        width: 100,
                        template: '<a href="<?php echo $this->url(array('module' => 'Userinfo', 'controller' => 'backendpro', 'action' => 'transaction', 'user_id' => ''), 'adminrout', true); ?>${user_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/ajax_add.png" title="Add Transaction" alt="Add Transaction" border="0" /></a>&nbsp&nbsp&nbsp\n\
                                    <a href="<?php echo $this->url(array('module' => 'Userinfo', 'controller' => 'backendpro', 'action' => 'translist', 'user_id' => ''), 'adminrout', true); ?>${user_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/more.png" title="View Transactions" alt="View Transactions" border="0" /></a>',
                                                                        attributes: {'align': 'center'},
                                                                        filterable: false,
                                                                        sortable: false,
                                                                        columnMenu: false
                                                                    }
                ],
                columnMenu: {
                    columns: true,
                    messages: {
                        sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                    }
                },
                messages: {
                    display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                    empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                    page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                    of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                    itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                    first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                    previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                    next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                    last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                    refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                    common_msg_dialog_id: 'dialog_msg',
                    common_confirn_dialog_id: 'dialog-confirm',
                    common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_title: "<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_confirm: "<?php echo $this->translator->translator("category_list_delete_confirm"); ?>",
                    common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                    common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                    common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                    common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                    common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>",
                    common_perm_err: "<?php echo $this->translator->translator("common_perm_err"); ?>",
                    common_selected_err: "<?php echo $this->translator->translator("category_selected_err"); ?>"
                }
            };
            commonGrid(settingObj);
        });
    </script>

    <div class="title-container">
        <div class="autos-cat"><h1><?php // echo $this->translator->translator('autos_category_list_page_name'); ?> <?php
//                if (!empty($this->group_id)) {
//                    echo ' (' . $this->escape($this->group_info['autos_name']) . ')';
//                }
                ?></h1></div>

        <div class="button-container">
            <?php if ($permission_arr['add_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Userinfo', 'controller' => 'backendpro', 'action' => 'addmanager'), 'adminrout', true); ?>"><span class="icon add"><?php echo 'Add Manager'; ?></span></a></span>
            <?php endif; ?>
            <?php if ($permission_arr['publish_enable']) : ?>
                <!--<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>-->
            <?php endif; ?>
            <?php if ($permission_arr['publish_enable']) : ?>
                <!--<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>-->
            <?php endif; ?>
            <?php if ($permission_arr['delete_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
            <?php endif; ?>
        </div>
    </div>
    <div id="button_top_bar"></div>
    <div class="content-container">
        <div id="sidebar-inner">
            <?php //  echo $this->partial('nav_menu.phtml'); ?>
        </div>


        <div id="content-inner">
            <div class="chart">
                <div <?php if ($locale_direction == 'rtl') { ?> class="k-rtl" <?php } ?>>
                    <div id="grid"></div>  
                </div> 	
            </div>   
        </div>
    </div>

    <div id="floatingbar">
        <h1><?php echo $this->translator->translator('autos_category_list_page_name'); ?> <?php
            if (!empty($this->group_id)) {
                echo ' (' . $this->escape($this->group_info['autos_name']) . ')';
            }
            ?></h1>

        <div class="button-container">
            <?php if ($permission_arr['add_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'add', 'group_id' => $param_group_id), 'adminrout', true); ?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
            <?php endif; ?>
            <?php if ($permission_arr['publish_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>
            <?php endif; ?>
            <?php if ($permission_arr['publish_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>
            <?php endif; ?>
            <?php if ($permission_arr['delete_enable']) : ?>
                <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
            <?php endif; ?>
        </div>
    </div>
    <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('autos_category_list_page_name')); ?>"></div>
    <div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>
    <?php // endif;  ?>
</div>	