<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php 
	else :  
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$permission_arr = array('add_enable' => $this->allow('add','backendroom','Hotels'), 'edit_enable' => $this->allow('edit','backendroom','Hotels'), 'delete_enable' => $this->allow('delete','backendroom','Hotels'), 'link_hotels_enable' => $this->allow('linkhotels','backendroom','Hotels'), 'room_add_enable' => $this->allow('add','backendrooms','Hotels'), 'room_edit_enable' => $this->allow('edit','backendrooms','Hotels'), 'room_delete_enable' => $this->allow('delete','backendrooms','Hotels'), 'room_list_enable' => $this->allow('list','backendrooms','Hotels'), 'room_sechduler_enable' => $this->allow('scheduler','backendrooms','Hotels'), 'export_enable' => ( $this->allow('export','csv','Database') && $this->allow('list','csv','Database') ), 'import_enable' => ( $this->allow('import','csv','Database') && $this->allow('upload','csv','Database') ));	

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script type="text/javascript">
<?php
if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
{
?>
$(function() {
	$( "#entry_by" ).combobox();	
})
<?php
}
?>
$(document).ready(function() {
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	var roomSettingObj = {
						grid_id : 'room-grid',
						dest_url : "<?php echo $this->url(array('module'=> 'Hotels', 'controller' => 'backendrooms', 'action'     => 'list', 'browser_url' => 'no' ), 'adminrout',    true); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						dataSource_autoSync: false,
						groupable: {
						  messages: {
							empty: "<?php echo html_entity_decode($this->translator->translator("portfolio_groupable_messages_empty", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
						  }
						},					
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						common_action : {
								permission_arr : {
										delete_enable	:	'<?php echo $permission_arr['room_delete_enable']; ?>'
								},
								delete_dest_btn				:	'a.room_delete_btn',
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendrooms', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'room_name'],							
								
								delete_multi_dest_btn		:	'a.room_delete_all',
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendrooms', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},
						search_action: {},						
						detailInit_action: {},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						toolbar: [
									<?php if ($permission_arr['room_add_enable']) : ?>{ template: '<span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendrooms', 'action'     => 'add' ), 'adminrout',    true) ?>"><span class="icon add"><?php echo html_entity_decode($this->translator->translator("common_add"), ENT_QUOTES, "UTF-8"); ?></span></a></span>&nbsp;' },<?php endif; ?>
									<?php if ($permission_arr['room_delete_enable']) : ?>{ template: '<span class="button  ui-widget-content-1"><a href="javascript:void(0);" class="room_delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>' }<?php endif; ?>
								  ],
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;
								//bookingCalendar();						                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
										full_name: { type: "string" },
										room_type: { type: "string" },
										room_name: { type: "string" },                                       
										room_num: { type: "number" },                                        
                                        room_entry_date: { type: "date" },                                        
                                        available_num: { type: "enums" }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if(!$permission_arr['room_delete_enable']) : ?>disabled="disabled"<?php endif; ?>   />',	template: '<input type="checkbox" value="${id}" class="check_btn" <?php if(!$permission_arr['room_delete_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 	
												template: '#= id_format #',	
												title: 	"<?php echo $this->translator->translator('common_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "full_name", 		
												title:	"<?php echo $this->translator->translator('common_entry_by'); ?>",
												width: 150,
												template: '#= full_name  #',
											},
											{ 
												field: "room_name", 
												template: '#= room_name #',
												title:	"<?php echo $this->translator->translator('hotels_room_list_room_name'); ?>" ,
												attributes:{ 'title' : '<strong><?php echo html_entity_decode($this->translator->translator('common_entry_by'), ENT_QUOTES, 'UTF-8'); ?> :</strong> #= username #' }
											},
											{ 	
												field: "available_num", 	
												title:	"<?php echo $this->translator->translator('hotels_room_list_available_today'); ?>", 
												width: 110,
												template: '# if(available_num == 1){ # #= \'<span class="hotel-available"><?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_yes")), ENT_QUOTES, 'UTF-8'); ?></span>\' # # }else if(available_num == 2){ # #= \'<span class="hotel-booked"><?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_book")), ENT_QUOTES, 'UTF-8'); ?></span>\' # # }else{ # #= \'<span class="hotel-not-available"><?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_no")), ENT_QUOTES, 'UTF-8'); ?></span>\' # #  } #',
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: [ { Id: 1, Title: "<?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_yes")), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 2, Title: "<?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_book")), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 3, Title: "<?php echo html_entity_decode(strip_tags($this->translator->translator("hotels_front_page_list_available_type_no")), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "room_entry_date", 	
												title:	"<?php echo $this->translator->translator('common_entry_date'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												template: '#= kendo.toString(room_entry_date,\'dd/MM/yyyy\') #',
												attributes:{ 'align' : 'center', 'title' : "<strong><?php echo html_entity_decode($this->translator->translator('common_entry_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${room_entry_date_format}" },
												width: 110, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, roomSettingObj);
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 100, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['room_edit_enable']) : ?># if(edit_enable){ #<a href="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'backendrooms', 'action'  => 'edit', 'id' => ''), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['room_sechduler_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'backendrooms', 'action'  => 'scheduler', 'id' => ''), 'adminrout',    true) ?>${id}" ><img src="application/modules/Administrator/layouts/scripts/images/tools/calendar.png" title="<?php echo html_entity_decode($this->translator->translator('hotels_page_scheduler_page_name'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('hotels_page_scheduler_page_name'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['room_delete_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="room_delete_btn"  rel="${id}_${publish_status_room_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
	
	var roomTypeSettingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						dataSource_autoSync: false,
						groupable: {
						  messages: {
							empty: "<?php echo html_entity_decode($this->translator->translator("portfolio_groupable_messages_empty", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
						  }
						},
						toggle_btn: ['a.expand_btn'],					
						common_action : {
								permission_arr : {
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendroom', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'room_type'],							
								
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendroom', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+roomTypeSettingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('hotels_room_type_search_button'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
							search_form_id : 'roomTypeSearchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true
						},						
						detailInit_action: {},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						detailTemplate: kendo.template($("#detail_template").html()),
						detailInit:	function(e){
								var detailRow = e.detailRow;
								detailRow.find(".tabstrip").kendoTabStrip({
									animation: {
										open: { effects: "fadeIn" }
									}
								});
								<?php if($permission_arr['room_list_enable']) : ?>
								roomSettingObj.grid_id = 'room-grid-'+e.data['id'];
								roomSettingObj.dataSource_filter = {field: 'room_type_id', operator: "eq", value: e.data['id']};
								roomSettingObj.checkbox_id	= e.data.uid;
								roomSettingObj.column_fields[0].headerTemplate = '<input type="checkbox" name="checkAll" id="checkAll'+e.data.uid+'" class="checkAll_btn'+e.data.uid+'" <?php if(!$permission_arr['room_delete_enable']) : ?>disabled="disabled"<?php endif; ?> />';
								commonGrid(roomSettingObj);
								<?php endif; ?>
							},
						dataBound: function(e) {									
								var self = this;		
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');															
								self.tbody.find("tr").children('td:nth-child(4)').css({'overflow' : 'visible'});
								self.expandRow(self.tbody.find("tr.k-master-row").first());
								toggleKendoGridRow(self, roomTypeSettingObj);
								commonImageThumbnil();							                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
										room_type_image: { type: "string" },
                                        max_people: { type: "number" },
                                        price_per_night: { type: "number" },
                                        price_after_discount: { type: "number" },
										room_num: { type: "number" },
                                        full_name: { type: "string" },
                                        room_type_image_format: { type: "string" },
                                        form_data_view_title_format: { type: "string" }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" collapse="collapse" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?>   />',	template: '<input type="checkbox" value="${id}" class="check_btn" <?php if(!$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('common_id'); ?>", 
												template: '#= id_format #',
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "room_type_image", 		
												title:	"<?php echo $this->translator->translator('hotels_category_list_page_thumb'); ?>",
												width: 50,
												template: '# if(room_type_image_format){ # <div class="thumb"><img src="${room_type_image_format}" width="30" height="20" /></div> # } #',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 	
												field: "max_people", 		
												title: 	"<?php echo $this->translator->translator('hotels_front_page_list_head_people_per_room'); ?>", 
												template: '#= max_people_format #',
												attributes:{ 'align' : 'center' }, 
												width: 70,
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},
											{ 
												field: "room_type", 
												template: '<a href="javascript: void(0)" class="expand_btn">#= room_type #</a>',
												title:	"<?php echo $this->translator->translator('hotels_room_type_list_room_type_name'); ?>" ,
												attributes:{ 'title' : '<strong><?php echo html_entity_decode($this->translator->translator('common_entry_by'), ENT_QUOTES, 'UTF-8'); ?> :</strong> #= full_name #' }
											},	
											{ 	
												field: "room_num", 		
												title: 	"<?php echo $this->translator->translator('hotels_room_type_room_no'); ?>", 
												template: '#= room_num_format #',
												attributes:{ 'align' : 'center' }, 
												width: 80,
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},										
											{ 
												field: "price_per_night", 	
												title:	"<?php echo $this->translator->translator('hotels_room_type_list_basic_price'); ?>",												
												template: '# if(price_per_night){ #<?php echo $currency->getSymbol(); ?> #= price_per_night_format # # } #',												
												width: 100,
												attributes:{ 'align' : 'center' }, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $global_conf['default_locale']); ?>",
															format: "c",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 	
												field: "price_after_discount", 	
												title:	"<?php echo $this->translator->translator('hotels_room_type_list_discount_price'); ?>", 
												width: 115,
												template: '# if(price_after_discount){ #<?php echo $currency->getSymbol(); ?> #= price_after_discount_format # # } #',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "c",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 150, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['room_list_enable']) : ?><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendrooms', 'action'     => 'list', 'room_type_id' => ''), 'adminrout',    true); ?>${id}" title="#= form_data_view_title_format #"><img src="application/modules/Administrator/layouts/scripts/images/tools/view.gif"  alt="#= form_data_view_title_format #"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ #&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'backendroom', 'action'  => 'edit', 'id' => ''), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['link_hotels_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url( array('module' => 'Hotels', 'controller' => 'backendroom', 'action' => 'linkhotels', 'id' => ''), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/hotels/link.png" title="<?php echo html_entity_decode($this->translator->translator('hotels_link_to_hotel_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('hotels_link_to_hotel_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${publish_status_room_type_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
	commonGrid(roomTypeSettingObj);
	
});
</script>
<script type="text/x-kendo-template" id="detail_template">
	<div class='tabstrip'>
		<ul>
			<?php if($permission_arr['room_list_enable']){ ?>
			<li class='k-state-active'>
			   <strong><u>#= room_num_format # &nbsp;<?php echo html_entity_decode($this->translator->translator("hotels_room_type_room_no"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
			<?php  } ?>
			<li <?php if(!$permission_arr['room_list_enable']){ ?>class='k-state-active'<?php } ?>>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("hotels_room_type_details_title"), ENT_QUOTES, "UTF-8"); ?>&nbsp;#= '"' ##= room_type ##= '"' #</u></strong>
			</li>
			<li>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("hotels_room_type_price_details_title"), ENT_QUOTES, "UTF-8"); ?>&nbsp;#= '"' ##= plan_name ##= '"' #</u></strong>
			</li>
		</ul>
		<?php if($permission_arr['room_list_enable']){ ?>
		<div>	
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="room-grid-#= id #"></div>  
		   </div>	   
		</div>
		<?php  } ?>
		<div class="row-details">	
			<div class="">
				# 
					var room_type_image_arr = room_type_image.split(',');
					$.each(room_type_image_arr, function(key, value){ 
				#
						<img src="data/frontImages/hotels/room_type_image/#= value #"  height="70" class="thumb" />
				#
					});
				#
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_invoice_room_condition'), ENT_QUOTES, "UTF-8"); ?>:</strong> #= room_condition # </p>
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_invoice_desc_title'), ENT_QUOTES, "UTF-8"); ?>:</strong> #= room_desc # </p>
			</div>		
		</div>
		<div class="row-details">	
			<div class="">
				<br />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_per_night_title'), ENT_QUOTES, "UTF-8"); ?></strong> <?php echo $currency->getSymbol(); ?> #= price_per_night # <?php echo $currency->getShortName(); ?></p>
				# if(price_after_discount && price_after_discount != 0) { #
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_discount_title'), ENT_QUOTES, "UTF-8"); ?></strong> <?php echo $currency->getSymbol(); ?> #= price_after_discount # <?php echo $currency->getShortName(); ?></p>
				# } if(room_tax && room_tax != 0) { #
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_tax_title'), ENT_QUOTES, "UTF-8"); ?></strong> #= room_tax # #= ((room_tax_type == '1') ? "<?php echo $currency->getShortName(); ?>" : '%') # </p>
				# } if(seasonal_price_per_night && seasonal_price_per_night != 0) { #
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_season_title'), ENT_QUOTES, "UTF-8"); ?></strong> <?php echo $currency->getSymbol(); ?> #= seasonal_price_per_night # <?php echo $currency->getShortName(); ?></p>
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_season_start_title'), ENT_QUOTES, "UTF-8"); ?></strong> #= season_start_date #</p>
				<hr />
				<p><strong><?php echo html_entity_decode($this->translator->translator('hotels_room_type_price_details_season_end_title'), ENT_QUOTES, "UTF-8"); ?></strong> #= season_end_date #</p>
				# } #
			</div>		
		</div>
	</div>
</script>
<div class="title-container">
	<div class="hotels-room-type"><h1><?php echo $this->translator->translator('hotels_room_type_list_page_name'); ?></h1></div>
    
    <div class="button-container">
		<?php if ($permission_arr['export_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'hotels_room_type'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['import_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'hotels_room_type', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($this->allow('add','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendroom', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($this->allow('delete','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    <div id="content-inner">
    	
        <div class="toggle-container">
         	<form name="roomTypeSearchForm" id="roomTypeSearchForm" action="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendroom', 'action'     => 'list' ), 'adminrout',    true) ?>" method="get">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('hotels_list_page_search_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="room_type" id="room_type" operator="contains" value="<?php echo $this->postData['room_type']; ?>" size="50" />
                        </div>
                         <?php
						if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
						{
						?>
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('hotels_room_type_search_agent_list'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
                            <select name="entry_by" id="entry_by" operator="eq" class="ui-widget-content ui-corner-all">
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php 
								if($this->user_list)
								{
									foreach($this->user_list as $key=>$value)
                                    {
										$selected = ($this->postData['entry_by'] == $key) ? 'selected="selected"' : '';
                                ?>
                                    <option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
                                <?php
                                    }
								}
                                ?>
                            </select>
                        </div>
                        <?php
						}
						?>
                 	</div>
                    <!-- Row 1 End -->
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('hotels_room_type_search_hotel_list'); ?></span>
                        </div>
                       
                        <div class="toggle-field">
                            <select name="hotel_id" id="hotel_id" class="ui-widget-content ui-corner-all">
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php $selected = ($this->postData['hotel_id'] == '0') ? 'selected="selected"' : ''; ?>
                                <option value="0" <?php echo $selected; ?>><?php echo $this->translator->translator('hotels_room_type_search_hotel_unlinked'); ?></option>
                               <?php
							   if($this->hotel_list)
							   { 
							   		foreach($this->hotel_list as $key=>$value)
                                    {
										$selected = ($this->postData['hotel_id'] == $value['id']) ? 'selected="selected"' : '';
                                ?>
                                    <option value="<?php echo $value['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($value['hotels_name']); ?></option>
                                <?php
                                    }
							   }
                                ?>
                            </select>                  
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('hotels_list_page_search_people_max'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
							<select name="max_people" id="max_people" operator="lte" class="ui-widget-content ui-corner-all">
							<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							<?php
							if($this->people_list)
							{								
								foreach($this->people_list as $key=>$value)
								{
									$selected = ($this->postData['max_people'] == $value['max_people']) ? 'selected="selected"' : '';
							?>
								<option value="<?php echo $value['max_people']; ?>" <?php echo $selected; ?>><?php echo $this->escape($value['max_people']); ?></option>
							<?php
								}
							}
							?>
							</select>
                        </div>
                        
                 	</div>
                    <!-- Row 2 End -->  
                    
                     <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('hotels_room_type_price_details_title'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
							<select name="price_plan_id" id="price_plan_id" operator="eq" class="ui-widget-content ui-corner-all">
							<option value=""><?php echo $this->translator->translator('common_any_language'); ?></option>
							<?php
							if($this->price_options)
							{								
								foreach($this->price_options as $key=>$value)
								{
									$selected = ($this->postData['price_plan_id'] == $key) ? 'selected="selected"' : '';
							?>
								<option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
							<?php
								}
							}
							?>
							</select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php //echo $this->translator->translator('hotels_list_page_search_price_max'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<!--<select name="descount_price_max" id="descount_price_max" operator="lte" class="ui-widget-content ui-corner-all">
							<option value="any"><?php //echo $this->translator->translator('common_any_language'); ?></option>
							
							</select>-->
                       	</div>
                 	</div>
                    <!-- Row 3 End -->                 
                   
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('hotels_room_type_search_button'); ?></span></a></span>
                </div>
        	</form>
     	</div>
        
        <div class="chart">
            <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
     	</div> 
              
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('hotels_room_type_list_page_name'); ?></h1>
    
    <div class="button-container">
		<?php if ($permission_arr['export_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'hotels_room_type'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['import_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'hotels_room_type', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($this->allow('add','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'backendroom', 'action'     => 'add' ), 'adminrout',    true) ?>" ><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($this->allow('delete','backendroom','Hotels')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
<!--<div id="dialog_calendar_loader" style="display:none;"><div id="dialog_calendar"></div></div>-->
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_room_type_list_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>	
<div id="dialog_loader" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>