<?php
if($this->translator->translator('autos_front_page_advanced_search')) { $this->headMeta()->setName('keywords',$this->translator->translator('autos_front_page_advanced_search'));}
if($this->translator->translator('autos_front_page_advanced_search')) { $this->headMeta()->setName('description',$this->translator->translator('autos_front_page_advanced_search')); }
if($this->translator->translator('autos_front_page_advanced_search')) { $this->headTitle()->headTitle($this->translator->translator('autos_front_page_advanced_search'),'SET'); }

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','autos_page' );

$global_conf = Zend_Registry::get('global_conf');

$allow_obj = new Autos_View_Helper_Allow();


$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id', 'page');
?>
	
<script type="text/javascript">	
    $(document).ready(function() {
        var settingSearchObj = {
                            grid_id : 'autos-grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url( array('module' => 'Autos', 'controller' => 'search', 'action'  => 'search', 'group_id' =>  $this->posted_data['group_id']), ($this->posted_data['menu_id']) ? $this->posted_data['menu_id'] : 'Search-Autos-List/*',    true); ?>",
							pageSize : '5',
							height:		"38em",
                            //pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
							pageable: {									
									buttonCount: 2,									
									messages: this.messages
								 },	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_autos_btn',
								server_url: "<?php echo $this->url( array('module' =>'Autos','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
							dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															$value = (is_array($value)) ? implode(',', $value) : $value;
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
														{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    $('input.p_button').attr('type', 'button_btn');
									//self.thead.remove();
                                    text_truncate();
                                    commonVoting();		
									itemSave(settingSearchObj);
									try
									{
										blokSearchFunction(settingSearchObj);
									}
									catch(e){ }													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("autos_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("autos_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingSearchObj);
		try { kendo.bind($("#grid-autos"), indexModel); } catch(e){};			
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>
<script type="text/x-kendo-template" id="view_template">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>
				<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/${autos_model_title}">#= autos_model_name_format #</a>
				&nbsp; <span class="label label-success">#= business_type #</span>
			</p>
			
			<span class="text-muted">
				<em>
					# if(feature_mileage){ # #= feature_mileage_format # #= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_mileage'), ENT_QUOTES, "UTF-8"); ?>' # #} #
					# if(feature_doors){ # #= ', ' # #= feature_doors_format # #= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_doors'), ENT_QUOTES, "UTF-8"); ?>' # #} #
				</em>
			</span>
		</div>
		
		<div class="panel-body">
			# if(featured == '1'){ #
			<div class="ribbons" id="ribbons"><div><?php echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8"); ?></div></div>
			# } #
			<div class="price"># if(autos_price){ # # if(autos_strickthrow_price && autos_strickthrow_price != 0){ # <div class="price previous">#= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= autos_strickthrow_price_format #</div> # } # #= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= autos_price_format # # } #</div>
			
			<figure>
            	<div class="thumb">
					<a href="<?php echo $this->url(array('module' => 'autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/${autos_model_title}" class="preview" link="#= autos_image_format #" title="#= autos_model_name #"><img src="#= autos_image_format #" border="0" #= thumb_width # #= thumb_height # class="thumb" /></a>
					<div class="photo-count-container">
						<div class="photo-count">
							<a href="<?php echo $this->url(array('module' => 'autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/${autos_model_title}/2" title="#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_click_view_photos'), ENT_QUOTES, "UTF-8"); ?>' #"><span class="glyphicon glyphicon-camera"></span> #= autos_image_no_format #</a>
						</div>
					</div>
				</div>
			</figure>
			
			<div class="details">
				<div class="ratings">
					#= list_stars_format #
				</div>
				
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_mileage'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_mileage_format #<br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_exterior_color'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_exterior_color #<br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_drive_type'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_drive_type # <br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_transmission'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_transmission #<br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_engine'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_engine #<br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_interior_color'), ENT_QUOTES, "UTF-8"); ?></span> #= feature_interior_color #<br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_fuel_type'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_fuel_type # <br />
				<span class="text-title"><?php echo html_entity_decode($this->translator->translator('autos_front_page_bodystyle'), ENT_QUOTES, "UTF-8"); ?>: </span> #= feature_bodystyle #<br />
			</div>
			<hr>
			# if(showroom_phone){ #
			<div class="call">
				<span class="glyphicon glyphicon-phone"></span> #= showroom_phone #
			</div>
			# } #
			<hr>
			<div class="text-center">
				# if(review_id){ #                                         
				<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<span class="glyphicon glyphicon-pencil"></span> <?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
				<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/${autos_model_title}/9">#= review_no_format #</a></span>
				# } #						
			</div>
			<hr>
			<div class="products-vote text-center">
				<span class="label label-primary">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>' #</span>
				<span>#= vote_format #</span>
			</div>
		</div>
		
		<div class="panel-footer text-center">
			<!--<a href="<?php //echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/5">#= '<?php //echo html_entity_decode($this->translator->translator('autos_page_equipment'), ENT_QUOTES, "UTF-8"); ?>' #</a> | -->
			<!--<a href="<?php //echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/2">#= '<?php //echo html_entity_decode($this->translator->translator('autos_front_page_autos_fpan'), ENT_QUOTES, "UTF-8"); ?>' #</a> |-->
			<!--<a href="<?php //echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/3">#= '<?php //echo html_entity_decode($this->translator->translator('autos_page_body'), ENT_QUOTES, "UTF-8"); ?>' #</a>  |-->							 
			<!--<a href="<?php //echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/1">#= '<?php //echo html_entity_decode(ucfirst(strtolower($this->translator->translator('autos_front_page_autos_photo'))), ENT_QUOTES, "UTF-8"); ?>' #</a>  |-->
			<!--<a href="<?php //echo $this->url(array('module' => 'Autos','controller' =>'emails', 'action' => 'details','autos_model_title' => '', 'form_id' => '' ),'Autos-Email-Your-Friend/:autos_model_title/:form_id',true); ?>/#= autos_model_title #/<?php //echo $this->translator->translator('email_to_friend_form_id'); ?>">#= '<?php //echo html_entity_decode($this->translator->translator('autos_front_page_autos_email_friend'), ENT_QUOTES, "UTF-8"); ?>' #</a>-->
			
			<a  href="javascript:void(0);" class="save_autos_btn btn btn-block btn-primary save" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("autos_front_page_save_autos"), ENT_QUOTES, "UTF-8"); ?></a>
			# shopping_cart_enable = false; if(shopping_cart_enable){ #<span id="productlist-cart-info-#= id #"><a  href="javascript:void(0)" data-bind="click: addToCart" class="btn btn-block cart" style="margin-top:5px; margin-bottom:5px;">#= '<span class="glyphicon glyphicon-shopping-cart"></span> <?php echo html_entity_decode($this->translator->translator('autos_front_page_add_to_cart'), ENT_QUOTES, "UTF-8"); ?>' #</a></span># } #
			<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/#= autos_model_title #" class="btn btn-block btn-success details">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_more'), ENT_QUOTES, "UTF-8"); ?>' #</a>
		</div>
	</div>
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('autos_front_page_advanced_search'); ?></h1>
    <div class="grid-puller"> 
    	<div id="grid-autos" <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        	<div id="autos-grid" data-bind="source: autos"></div>  
       	</div>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('autos_front_page_list')); ?>"></div>