<?php
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array( 
				  'edit_enable' => $this->allow('edit','companies','B2b'), 
				  'publish_enable' => $this->allow('publish','companies','B2b'), 
				  'delete_enable' => $this->allow('delete','companies','B2b'), 
				  'add_enable' => $this->allow('add','companies','B2b'), 'export_enable' => ( $this->allow('export','csv','Database') && $this->allow('list','csv','Database') ), 'import_enable' => ( $this->allow('import','csv','Database') && $this->allow('upload','csv','Database') ));

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$headTitle = $this->translator->translator('menu_b2b_manage_companies'); 
?>

<script type="text/javascript">
$(document).ready(function() {
	extraFunctions ();
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',						
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},

						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true,
							setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
										var filters = [];										
										var i = 0;
										$.each(form_data, function(key,value){		
											var stringObj = {};																				
											if($.trim(value) != "" && value.toLowerCase() != "any")
											{												
												var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
												switch(key)
												{
												  case 'advkeywords':		
														  if(form_data.advword)
														  {												
															  switch(form_data.advword)
															  {
																  case 'and':
																  case 'or':
																		  var filter_value_arr = value.split(' ');
																		  var filter_name_arr = [];
																		  var filter_keyword_arr = [];																			
																		  var filter_keyword_1_arr = [];																			
																		  var filter_keyword_2_arr = [];																			
																		  var filter_keyword_3_arr = [];
																		  var key_count = 0;
																		  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																			  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																			  {
																				  filter_name_arr[key_count] 		= { field: 'company_name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_arr[key_count] 	= { field: 'keywords', 	operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_1_arr[key_count] = { field: 'main_products', operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_2_arr[key_count] = { field: 'main_products_part1', operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_3_arr[key_count] = { field: 'other_products', operator: operator, value: $.trim(filter_value_arr_value) };
																				  key_count++;
																			  }
																		  });
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  { logic: form_data.advword, filters: filter_name_arr },
																									  { logic: form_data.advword, filters: filter_keyword_arr },
																									  { logic: form_data.advword, filters: filter_keyword_1_arr },
																									  { logic: form_data.advword, filters: filter_keyword_2_arr },
																									  { logic: form_data.advword, filters: filter_keyword_3_arr }
																								  ]
																					  };																
																	  break;
																  case 'exact':
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  {field: 'company_name', 	operator: operator, value: $.trim(value) },
																									  {field: 'keywords', 	operator: operator, value: $.trim(value) },
																									  {field: 'main_products',operator: operator, value: $.trim(value) },
																									  {field: 'main_products_part1',operator: operator, value: $.trim(value) },
																									  {field: 'other_products',operator: operator, value: $.trim(value) }
																								  ]
																					  };																		
																	  break;
															  }
														  }
														  else
														  {
															  stringObj = {
																				logic: 'or',
																				filters: [
																							{field: 'company_name', 		operator: operator, value: $.trim(value) },
																							{field: 'keywords', 	operator: operator, value: $.trim(value) },
																							{field: 'main_products', 	operator: operator, value: $.trim(value) },
																							{field: 'main_products_part1', 	operator: operator, value: $.trim(value) },
																							{field: 'other_products', 	operator: operator, value: $.trim(value) }
																						]
																			};
														  }
													  break;	
													 case 'description':		
														  if(form_data.advword)
														  {												
															  switch(form_data.advword)
															  {
																  case 'and':
																  case 'or':
																		  var filter_value_arr = value.split(' ');
																		  var filter_name_arr = [];
																		  var filter_keyword_arr = [];
																		  var key_count = 0;
																		  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																			  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																			  {
																				  filter_name_arr[key_count] 		= { field: 'company_information', 		operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_arr[key_count] 	= { field: 'meta_desc', 	operator: operator, value: $.trim(filter_value_arr_value) };
																				  
																				  key_count++;
																			  }
																		  });
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  { logic: form_data.advword, filters: filter_name_arr },
																									  { logic: form_data.advword, filters: filter_keyword_arr }
																								  ]
																					  };																
																	  break;
																  case 'exact':
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  {field: 'company_information', 	operator: operator, value: $.trim(value) },
																									  {field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																								  ]
																					  };																		
																	  break;
															  }
														  }
														  else
														  {
															  stringObj = {
																				logic: 'or',
																				filters: [
																							{field: 'company_information', 		operator: operator, value: $.trim(value) },
																							{field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																						]
																			};
														  }
													  break; 	
													case 'advcategory_input':
														break;
													case 'advcategory':													
															var combobox = $("#advcategory").data("kendoComboBox");	
															if(combobox)
															{
																var category_id_val = combobox.value();																
																stringObj = {
																				logic: 'or',
																				filters: [
																							{ field: 'category_id', operator: operator, value: category_id_val },
																							{ field: 'category_name', operator: 'contains', value: category_id_val }
																						]
																	 };
															}
															else 
															{
																stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
															}
														break;
													case 'advcountry_input':
														break;	
														
													case 'advcountry':
															var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
															if(advcountry_combobox)
															{
																var advcountry_id_val = advcountry_combobox.value();
																stringObj = {
																				logic: 'or',
																				filters: [
																							{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																							{  field: 'country', operator: 'contains', value: advcountry_id_val }
																						]
																	 };
															}
															else
															{
																stringObj = {field: 'country', operator: 'contains', value: $("#advcountry").val() };																
															}															
														break;
													case 'advtype_input':
													case 'advtype':
															var advtype_combobox = $("#advtype").data("kendoComboBox");	
															if(advtype_combobox)
															{
																var advtype_id_val = advtype_combobox.value();
																stringObj = {field: 'advtype_input', operator: operator, value: advtype_id_val };
															}
															else
															{
																stringObj = {field: 'advtype_input', operator: operator, value: $("#advtype").val() };
															}
														break;
													case 'advpremium':
															stringObj = {field: 'priority', operator: operator, value: "YES" };
														break;
													case 'priceopt':
														break;	
													case 'price':
															operator = $('#priceopt').val();
															stringObj = {field: 'price', operator: operator, value: $.trim(value) };
														break;	
													default:
														stringObj = {field: key, operator: operator, value: $.trim(value) };	
													 break;								
												}
												filters[i] = stringObj;												
												i++;
											}
										});
										//alert(filters.toSource());
										return filters;
									}
						},
																				
						common_action : {
								permission_arr : {
										edit_enable		:	'<?php echo $permission_arr['edit_enable']; ?>',
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',
										add_enable		:	'<?php echo $permission_arr['add_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/user-active.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/user-deactivate.gif",
								 
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'name'],
								
								default_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'primary' ), 'adminrout',    true); ?>",
								default_dest_data_field 	: 	['id', 'name'],
								default_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/default.gif",
								default_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/undefault.gif",
								
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: [
														{
															multi_action_caller_id				:	"a.displayable_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'displayable' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'name', 'paction'],
															multi_action_data_return_field 		: 	['displayable'],
															multi_action_data_permission_field 	: 	['displayable_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_show_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/block.png"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_hide_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/activate.png"}
																									]															
														}
														
													]
						},
						
						
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						//detailInit:	function(e) { detailInit(e, settingObj); },
						dataBound: function(e) {	
								var self = this;
								self.tbody.find("tr").children('td:nth-child(5)').css({'overflow' : 'visible'});	
								commonImageThumbnil();						
								//Get All grid rows
								var model = self.dataSource.data();	
								$.each( model, function(i, obj){
									if(obj.has_child == false)
									{										
										self.tbody.find("tr.k-master-row[data-uid='"+obj.uid+"']>.k-hierarchy-cell>a").remove();
									}
								});	
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');  
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								self.thead.find("th[data-field='order']").unbind('click');
								self.thead.find("th[data-field='order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>",
							  
							  selectValue: "<?php echo $this->translator->translator("common_select"); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
                                        full_name: { type: "string" },
										company_name: { type: "string" },
										country: { type: "string" },
										package_name: { type: "string" },
										trade_type: { type: "string" },
										added_on: { type: "date" },
                                        active: { type: "enums"},
										common_action: { editable: false }
                                    }
                                },		

						<?php if ($permission_arr['add_enable'] || $permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>	
																	
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('b2b_id'); ?>", 
												template: "#= id_format #",
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ field: "full_name", 		title: 	"<?php echo $this->translator->translator('story_list_page_fullname'); ?>", width: 150},
											
											{  field: "company_name", title:	"<?php echo $this->translator->translator('b2b_manage_list_companies' ); ?>" },											
											
											{  field: "country", 
											    title:	"<?php echo $this->translator->translator('b2b_fontend_country_of_orgin'); ?>",
												template: '# if(country){ # <img src="data/adminImages/flagsImage/${code}.gif"  width="20" height="15" />  # } #  (${state} / ${city})' ,
												filterable: false, 
												sortable: false,
												columnMenu: false 
												 
											},										
											
											{  field: "package_name", title:	"<?php echo $this->translator->translator('b2b_manage_list_package_name'); ?>", width: 140	 },																					
											
											{  
												field: "trade_type", 
												values: [ 
															{	text: "<?php echo html_entity_decode($this->translator->translator("b2b_keywords_buyers"), ENT_QUOTES, 'UTF-8'); ?>", value: 1	},
															{	text: "<?php echo html_entity_decode($this->translator->translator("b2b_keywords_sellers"), ENT_QUOTES, 'UTF-8'); ?>", value: 2	},
															{	text: "<?php echo html_entity_decode($this->translator->translator("b2b_keywords_both"), ENT_QUOTES, 'UTF-8'); ?>", value: 3	}
														],
												title:	"<?php echo $this->translator->translator('b2b_keywords_business_type'); ?>",
												width: 110	 	
											},																					
											
											{  field: "added_on", 
											    
											   title:	"<?php echo $this->translator->translator('list_page_added_on'); ?>",  
											   format: "{0:MM/dd/yyyy}", 
											   template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${added_on_format_lang}<br /><strong><?php echo html_entity_decode($this->translator->translator('common_entry'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${username}">#= kendo.toString(added_on,\'dd/MM/yyyy\')  #</div>',
											   attributes:{ 'align' : 'center' },
											   width: 80, 
											   filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											{ 
												field: "common_action",
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 110, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ #  <a href="B2b/companies/edit/user_id/${user_id}/id/${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['publish_enable']) : ?> &nbsp;  <a href="javascript:void(0);" class="publish_btn"  rel="${id}_${id}_#= (active == 1) ?  \'unpublish\' : \'publish\' #"><img src="#= (active == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/user-active.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/user-deactivate.gif\' #" border="0" title="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a> <?php endif; ?>'+ 												
															'<?php if ($permission_arr['delete_enable']) : ?>  &nbsp; <a href="javascript:void(0);" class="delete_btn"  rel="${id}_${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true, 
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_delete_item"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("b2b_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);	
	
	
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});
		
		$("#advtype").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "business_type",
			dataValueField: "id",
			filter: "contains",
			autoBind: false,
			minLength: 1,		
			dataSource: {
				type: "json",
				schema: {
					  data:	'type_arr'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'businesstype'),'adminrout', true); ?>",
					}
				}
			}
		});		
	}	
	
	
});
</script>

<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<div class="title-container">
	<div class="b2b-company"><h1><?php echo $this->translator->translator('b2b_registered_company_profile'); ?></h1></div>
</div> 

<script type="text/x-kendo-template" id="detail_template"> 
	<div class='tabstrip'>            
		<ul>
			<li class='k-state-active'>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
		</ul>

		<div class="row-details">
			# if(primary_file_field_format){ # <img src="${code}" width="80" /> # } #
			<div class="col1">
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_name"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= name #<br />
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= full_name #<br />
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= name #<br />
			</div>
			
			<div class="col2">
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_price"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= price # #= price_currency #<br />
			</div>

			<div class="col3">
				<img src="application/modules/Administrator/layouts/scripts/images/tools/product-details.png" border="0" alt="<?php echo $this->translator->translator('common_product_details'); ?>" title="<?php echo $this->translator->translator('common_product_details'); ?>" />
				<img src="application/modules/Administrator/layouts/scripts/images/tools/membership.png" border="0" alt="<?php echo $this->translator->translator('common_membership_details'); ?>" title="<?php echo $this->translator->translator('common_membership_details'); ?>" />
			</div>
		</div>

	</div>
</script>

<div id="button_top_bar"></div>

<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['export_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'b2b_company_profile'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
			<?php endif; ?>
			
			<?php if ($permission_arr['import_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'b2b_company_profile', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
			<?php endif; ?>
			
			<?php if ($permission_arr['add_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'B2b','controller'=>'companies', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			<?php if ($permission_arr['publish_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('common_publish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('common_unpublish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		
			<?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		</div>
	</div>
</script>


<!-- Content Start-->
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>

    <div id="content-inner">
    
        <br /> 
        <div id="product_wise_search">
        	<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="hotel-icon"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        </div>
        
        <div id="slickbox" class="toggle-container">
         	<form name="searchForm" id="searchForm">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('front_company_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="company_name" id="company_name" operator="contains" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_user_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
	                        <input type="text" name="full_name" id="full_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                       	</div>

                 	</div>
                    <!-- Row 1 End -->
                    
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
	                        <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input type="text" name="description" id="description" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_active_inactive_company'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="active" id="active" class="ui-widget-content ui-corner-all" operator="eq" <?php if($this->active != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->active == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_active_listing_only'); ?></option>
                                <option value="0" <?php if($this->active == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_inactive_listing_only'); ?></option>
                          	</select>
                            
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_fontend_buying_trade_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="trade_type" id="trade_type" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->trade_type == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_buyers'); ?></option>
                                <option value="2" <?php if($this->trade_type == '2'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_sellers'); ?></option>
                                <option value="3" <?php if($this->trade_type == '3'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_both'); ?></option>
						 	</select>
                        </div>
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_company_package_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
	                        <input type="text" name="package_name" id="package_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_search_company_email'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	
	                        <input type="text" name="username" id="username" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                           
                       	</div>
                 	</div>
                    <!-- Row 4 End -->
                    
                    <!-- Row 5 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_category_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input name="advcategory" id="advcategory" operator="eq" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input name="advcountry" id="advcountry" operator="eq" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 5 End -->
                    
                    <!-- Row 6 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_company_business_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input name="advtype" id="advtype" operator="eq" style="width:300px" />  
                        </div>
                        
                        
                        <div class="toggle-label">
                            
                        </div>
                        
                        <div class="toggle-field">
                        
                          
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 6 End -->
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                </div>
        	</form>
     	</div>
        
        <div id="member_list" >
        	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                 <div id="grid"></div>
            </div>
     	</div>
	</div>
</div>



<!-- Content End -->
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
</div>
