<!DOCTYPE html>
<?php  $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" />
<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$menu_title	=	$frontController->getRequest()->getParam('menu_id');
?>
</head>
<body>
<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->

<!-- Top Navigation Start-->
<div class="top-nav">
    <div class="container">
        <?php echo $this->partial('blocks/top-menu.phtml'); ?>
    </div>
</div>
<!-- Top Navigation End-->

<!-- Banner Start-->
<?php  
	if($is_frontend->isFrontend()) 
	{
?>
<div id="banner">
    <div class="col-md-12">
        <?php echo $this->partial('blocks/tracker_home.phtml'); ?>
    </div>
</div>
<?php
	}
	else{
?>
<div id="banner-inner">
	<!--<h1><?php //echo str_replace('-', ' ', $menu_title); ?></h1>-->
    <div class="col-xs-12 col-sm-4">
		<a href="Track-Shipment" class="btn-1 btn-block"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('block_inner_track_shipment_btn_title', '', '', $front_template['theme_folder']); ?></a> 
	</div>
    <div class="col-xs-12 col-sm-4">
        <a href="Request-a-Quote" class="btn-2 btn-block"><span class="glyphicon glyphicon-time"></span> <?php echo $this->translator->translator('block_inner_quote_btn_title', '', '', $front_template['theme_folder']); ?></a> 
	</div>
    <div class="col-xs-12 col-sm-4">
        <a href="Our-Network" class="btn-3 btn-block"><span class="glyphicon glyphicon-map-marker"></span> <?php echo $this->translator->translator('block_inner_location_btn_title', '', '', $front_template['theme_folder']); ?></a>
    </div>
</div>
<?php  
	}
?>
<!-- Banner End -->

<!-- Middle Bar Start -->
<?php if($is_frontend->isFrontend()){ ?>
<div id="middle-bar" class="clearfix">
    <div class="col-xs-12 col-sm-6">
        <div class="block block-service">
            <?php $this->ad(226); ?>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="block block-service">
            <?php $this->ad(227); ?>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="block block-service">
            <?php $this->ad(228); ?>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
        <div class="block block-service last">
            <div class="map">
                <a href="Our-Network"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/worldmap.png" alt="Worldwide Logistics Services" class="img-responsive" border="0"></a>
            </div>
            <h2><?php echo $this->translator->translator('footer_find_logistics', '', '', $front_template['theme_folder']); ?></h2>
            
            <?php echo $this->translator->translator('footer_customer_served', '', '', $front_template['theme_folder']); ?>
            <div class="more"><a href="Our-Network"><?php echo $this->translator->translator('footer_find_locations', '', '', $front_template['theme_folder']); ?></a></div>
        </div>
    </div>
</div>
<?php } ?>
<!-- Middle Bar End -->

<!-- Content Area Start-->
<div id="content" class="col-xs-12">
	<?php echo $this->layout()->content ?>
</div>
<!-- Content Area End-->

<?php if($is_frontend->isFrontend()){ ?>
<!-- Home Tab Start-->
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
<div id="demoTab" class="col-xs-12">          
	<ul class="resp-tabs-list">
		<li><?php echo $this->translator->translator('block_global_network_title', '', '', $front_template['theme_folder']); ?></li>
       	<li><?php echo $this->translator->translator('block_cargo_airlines_title', '', '', $front_template['theme_folder']); ?></li>
        <li><?php echo $this->translator->translator('block_gallery_title', '', '', $front_template['theme_folder']); ?></li>
        <li><?php echo $this->translator->translator('block_news_title', '', '', $front_template['theme_folder']); ?></li>
        <li><?php echo $this->translator->translator('block_upcoming_event_title', '', '', $front_template['theme_folder']); ?></li>
	</ul>

	<div class="resp-tabs-container">                                                        
    	<div><?php echo $this->partial('blocks/tracker_home_content_network.phtml'); ?></div>
       	<div><?php echo $this->partial('blocks/article_home_content_byId.phtml'); ?></div>
       	<div><?php echo $this->partial('blocks/gallery_home_content_recentProduct.phtml'); ?></div>
        <div><?php echo $this->partial('blocks/news_latest.phtml'); ?></div>
       	<div><?php echo $this->partial('blocks/news_home_content_upcomingEvent.phtml'); ?></div>
	</div>
</div>
<script>
	$("#demoTab").easyResponsiveTabs({
		type: 'accordion', //Types: default, vertical, accordion           
		width: 'auto', //auto or any custom width
		fit: true   // 100% fits in a container
	});
</script>
<!-- Home Tab End-->
<?php } ?>
<?php if($is_frontend->isFrontend()){ ?>
<div class="col-xs-12">
	<?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
    <?php echo $this->partial('blocks/newsletter.phtml'); ?>
</div>
<?php } ?>
        
<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End -->
    
<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>