<?php
$frontController = Zend_Controller_Front::getInstance();	
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$translator = Zend_Registry::get('translator');  
?>

<div id="nav">
	<div class="nav-header"><div class="nav-title"><?php echo $translator->translator('vacationrentals_menu_title'); ?></div></div>
    <div class="nav-body">
    	<ul>
        	<?php if ($this->allow('update','api','Vacationrentals')) : ?>
			<li <?php if($getAction == 'update' && strtolower($getController) == 'api'){ ?> class="vacationrental-api selected"<?php }else{ ?>class="vacationrental-api"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller'=>'api', 'action'=>'update'),'adminrout',true);?>" ><?php echo $translator->translator('vacationrentals_menu15'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('listgrp','backendgrp','Vacationrentals')) : ?>
			<li <?php if($getAction == 'listgrp' && strtolower($getController) == 'backendgrp'){ ?> class="vacationrental-group selected"<?php }else{ ?>class="vacationrental-group"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller'=>'backendgrp', 'action'=>'listgrp'),'adminrout',true);?>" ><?php echo $translator->translator('vacationrentals_menu1'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('list','backend','Vacationrentals')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backend'){ ?> class="vacationrental-cat selected"<?php }else{ ?>class="vacationrental-cat"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller'=>'backend', 'action'=>'list'),'adminrout',true);?>"><?php echo $translator->translator('vacationrentals_menu2'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('list','backendpro','Vacationrentals')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendpro'){ ?> class="vacationrental selected"<?php }else{ ?>class="vacationrental"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vacationrentals', 'controller' => 'backendpro', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu3'); ?></a>
			</li> 
			<?php endif; ?>
            
            <?php if ($this->allow('saved','backendpro','Vacationrentals')) : ?>
			<li <?php if($getAction == 'saved' && strtolower($getController) == 'backendpro'){ ?> class="vacationrental-save selected"<?php }else{ ?>class="vacationrental-save"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vacationrentals', 'controller' => 'backendpro', 'action'     => 'saved' ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu7'); ?></a>
			</li> 
			<?php endif; ?>
                    
			<?php if ($this->allow('list','backendtype','Vacationrentals')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendtype'){ ?> class="vacationrental-type selected"<?php }else{ ?>class="vacationrental-type"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vacationrentals', 'controller' => 'backendtype', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu4'); ?></a>
			</li> 
			<?php endif; ?>
            
            <?php if ($this->allow('list','state','Geo')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'state'){ ?> class="vacationrental-state selected"<?php }else{ ?>class="vacationrental-state"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'state', 'action' => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu5'); ?></a>
			</li> 
			<?php endif; ?>
            
            <?php if ($this->allow('list','city','Geo')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'city'){ ?> class="vacationrental-area selected"<?php }else{ ?>class="vacationrental-area"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu6'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('list','backendvote','Vote')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected last"<?php }else{ ?>class="vote last"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'vacationrentals_page'  ),'adminrout',true) ?>"><?php echo $translator->translator('vacationrentals_menu8'); ?></a>
			</li>
			<?php endif; ?>     
        </ul>
	</div>
</div>