<?php
$this->headMeta()->setName('keywords',$this->translator->translator('tours_list_page_invoice_details_title'));
$this->headMeta()->setName('description',$this->translator->translator('tours_list_page_invoice_details_title'));
$this->headTitle()->headTitle($this->translator->translator('tours_list_page_invoice_details_title'),'SET');

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$global_conf = Zend_Registry::get('global_conf');
$front_template = Zend_Registry::get('front_template');
$currency = new Zend_Currency($global_conf['default_locale']);
$currencySymbol = $currency->getSymbol(); 
$currencyShortName = $currency->getShortName();
?>
<script type="text/javascript">
$(document).ready(function() {
	text_truncate();
	$('a.remove_btn').click(function() {
			var self = this;			
				var cart_arr = $(self).attr('rel');	
				
				$.ajax({
					 url: "<?php echo $this->url( array('module'=> 'Tours', 'controller' => 'book', 'action'     => 'remove' ), 'adminrout',    true) ?>",
					 type: 'POST',
					 data: { cart_id: cart_arr },
					 beforeSend: function(){						
						$(self).html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" border="0" height="17" />');
					 },
					 success: function(response) 
					 {
						//alert(response);
						var json_arr = eval("("+response+")");
						if(json_arr.status == 'ok')
						{
							document.location.href = '<?php echo $this->url(); ?>';
						}
						else
						{
							openMsgDialog(json_arr.msg);
						}
					 }
				});				
		});	
		function openMsgDialog(msg)
		{
		$('#dialog_container').html(msg).dialog({
					autoOpen: true,
					modal: false,
					show: 'fade',
					resizable: 'false',				
					buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
					open: function(event, ui)
						 {
							setTimeout(function() 
							{									
								if($('#' + event.target.id).dialog('isOpen'))
								{
									//$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
								}
							}, 10000);
						  }
				});
		}

});

function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  700,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<?php
if($global_conf['payment_system'] != 'On')
{	
?>

<div class="mod">
	<h1><?php echo $this->translator->translator('tours_invoice_cart_details_title'); ?></h1>
   
    <?php
        echo '<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> '.$this->translator->translator('common_payment_system_disable').'</div>';
    ?>
</div>

<?php
}
else
{
if($this->invoice_arr['status'] == 'ok' && !empty($this->invoice_arr))
{
?>

<div class="mod">
	<h1><?php echo $this->translator->translator('tours_invoice_cart_details_title'); ?></h1>
    
	<?php
    if($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT])
    {
    ?>
        <div id="invoiceitemstable" class="invoice-container">
            <div class="invoice">
                <div class="invoice-chart">
                    <div class="div-head">
                        <div id="invoiceitemsheading" class="div-vr-1">
                            <?php echo $this->translator->translator("tours_invoice_desc_title"); ?>
                        </div>
                        <div id="invoiceitemsheading" class="div-vr-2">
                            <?php echo $this->translator->translator("tours_invoice_amount_title"); ?>
                        </div>
                    </div>
                </div>
                
                <?php
                if($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT])
                {		
							
                    foreach($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT] as $object_key => $dataInfo)
                    {																		
                ?>
                        <div class="item-title">
                            <?php echo $this->escape($dataInfo['inv']['tours_name']); ?>
                        </div>  
                        <?php
                            $sub_total = $this->price(Tours_Controller_Helper_Price::price($dataInfo['inv']['invPost'], $dataInfo['inv']));
                        ?>
                        <div class="invoice-chart">
                            <div class="div-hr">
                                <div id="invoiceitemsrow" class="div-vr-1">
                                    <figure><div class="thumb"><img src="<?php echo $this->serverUrl().$this->baseUrl(); ?>/data/frontImages/tours/tours_image/<?php echo $this->escape($dataInfo['inv']['tours_primary_image']); ?>" height="60" title="<?php echo $this->escape($dataInfo['inv']['tours_name']); ?>" /></div></figure>
                                    <span class="product-title">
                                        <?php 
                                            if(!empty($dataInfo['inv']['duration']))	{ 	echo $this->numbers($dataInfo['inv']['duration']).' '. $this->translator->translator('duration'); } 
                                            if(!empty($dataInfo['inv']['num_of_days'])){ 	echo  ' / ' . $this->numbers($dataInfo['inv']['num_of_days']).' '.$this->translator->translator('tours_num_of_days' ); } 
                                            if(!empty($dataInfo['inv']['num_of_nights']))	{ 	echo   ' / ' . $this->numbers($dataInfo['inv']['num_of_nights']).' '.$this->translator->translator('tours_num_of_nights'); }
                                        ?>
                                    </span>
                                    <br />
                                    <span class="text-label"><?php echo $this->translator->translator("tours_invoice_page_book_infant_travel_date_start"); ?></span> <span><?php echo $this->numbers($dataInfo['inv']['invPost']['check_in']); ?></span><br />
                                    <span class="text-label"><?php echo $this->translator->translator("tours_front_page_tours_desc"); ?> </span> <span class="jTruncate"><?php echo $this->escape(strip_tags($dataInfo['inv']['tours_desc'])); ?></span>
                                    <a href="javascript:void(0);" class="remove_btn remove-btn" rel="<?php echo $this->escape($dataInfo['inv']['session_key']); ?>"><?php echo $this->translator->translator("tours_invoice_room_remove"); ?></a>
                                </div>
                                <div id="invoiceitemsrow" class="div-vr-2">
                                    <span class="amount-label"><?php echo $this->translator->translator("tours_invoice_total_night"); ?> : </span> <?php echo $this->escape($dataInfo['inv']['total_night']); ?><br />	
                                    <?php echo Tours_Controller_Helper_Price::showPrice($dataInfo['inv']['invPost'], $dataInfo['inv'], $this->translator, $currency, false); ?><hr />									
                                    <?php
										if($dataInfo['inv'][Eicra_File_Constants::INVOICE_PRICE_MARGINE_EXISTS_1])
										{	
									?>
                                    <span class="amount-label"><?php echo $this->translator->translator("tours_invoice_room_cost"); ?> : </span> <?php echo $currencySymbol.' '.number_format($this->escape($sub_total), 2, '.', ',').' '.$currencyShortName; ?>
                                    <?php
											echo '<span style="color: #00B200;">('.$this->translator->translator("common_invoice_include_price_margine").Settings_Service_Price::getMargine('1', $global_conf).')</span>';
										} 
									?>
                                    <br />
                                    <?php
                                        if(Settings_Service_Price::is_exists('3', $global_conf, $sub_total))
                                        {
                                    ?>
                                            <div>
                                                <span class="amount-label"><?php echo $this->translator->translator("tours_invoice_booking_fee"); ?> : </span> <?php echo $this->escape($dataInfo['inv'][Eicra_File_Constants::INVOICE_BOOK_FEE_SHOW]); ?><br />
                                                <span class="amount-label"><?php echo $this->translator->translator("tours_invoice_total_title"); ?> : </span> <span class="amount-total"><?php echo $currencySymbol.' '.number_format($dataInfo['inv']['sub_total'], 2, '.', ',').' '.$currencyShortName	; ?></span>
                                            </div>
                                    <?php
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>					
                <?php
                    }
                }
                ?>				
                
            </div>
            
            <div class="invoice">
                <div id="invoiceitemsheading" class="invoice-chart">
                    <div class="div-hr amount-hr">
                        <div class="div-vr-1">
                            <span class="text-label"><?php echo $this->translator->translator("tours_invoice_total_title").'&nbsp;'; ?></span>
                        </div>
                        
                        <div class="div-vr-2">
                            <span class="amount-label"><?php echo "$currencySymbol ".number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT], 2, '.', ',')." $currencyShortName"; ?></span>
                        </div>
                    </div>						
                    <?php							
                        if(Settings_Service_Price::is_exists('4', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
                        {	
                            $services_charge_margine = Settings_Service_Price::getMargine('4');
                            $services_charge_margine_show	=	(preg_match("/%/i", $services_charge_margine)) ? $currencySymbol.' '.number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE], 2, '.', ',').' '.$services_charge_margine : $services_charge_margine;								
                    ?>                
                            <div class="div-hr amount-hr">
                                <div class="div-vr-1">
                                    <span class="text-label"><?php echo $this->translator->translator("tours_invoice_service_charge").'&nbsp;'; ?></span>
                                </div>
                                
                                <div class="div-vr-2">
                                    <span class="amount-label"><?php echo $services_charge_margine_show; ?></span>
                                </div>
                            </div>
                    <?php
                        }
                        if(Settings_Service_Price::is_exists('5', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
                        {
                    ?>
                            <div class="div-hr amount-hr">
                                <div class="div-vr-1">
                                    <span class="text-label"><?php echo $this->translator->translator("tours_invoice_deposit_charge", Settings_Service_Price::getMargine('5')).'&nbsp;'; ?></span>
                                </div>
                                
                                <div class="div-vr-2">
                                    <span class="amount-label"><?php echo $currencySymbol.' '.$this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_DEPOSIT_CHARGE].' '.$currencyShortName; ?></span>
                                </div>
                            </div>
                            
                            <div class="div-hr amount-hr">
                                <div class="div-vr-1 advance">
                                    <?php echo $this->translator->translator("tours_invoice_deposit_payable").'&nbsp;'; ?>
                                </div>
                                
                                <div class="div-vr-2 advance">
                                    <span class="amount-label"><?php echo $currencySymbol.' '.number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE], 2, '.', ',').' '.$currencyShortName; ?></span>
                                </div>
                            </div>
                    <?php
                        }							
                        if(Settings_Service_Price::is_exists('4', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
                        {								
                    ?>                
                            <div class="div-hr amount-hr">
                                <div class="div-vr-1">
                                    <span class="text-label"><?php echo $this->translator->translator("tours_invoice_grand_total").'&nbsp;'; ?></span>
                                </div>
                                
                                <div class="div-vr-2">
                                    <span class="amount-label"><?php echo $currencySymbol.' '.number_format(($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]+$this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE]), 2, '.', ',').' '.$currencyShortName; ?></span>
                                </div>
                            </div>                
                    <?php
                        }
                    ?>						
                </div>					
                <?php
                    if(Settings_Service_Price::is_exists('5', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]) && !empty($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE]))
                    {
                ?>            
                <div class="due-balance">
                    <?php echo $this->translator->translator("tours_invoice_later_payable", $currencySymbol.' '.number_format((($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]+$this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE]) - $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE]), 2, '.', ',').' '.$currencyShortName); ?>
                </div>
                <?php
                    }
                ?>					
            </div>
        </div>
    <?php
    }
    ?>
     <div class="text-center">
        <a href="Search-Tour-List" class="btn btn-global"><span class="glyphicon glyphicon-share-alt"></span> <?php echo $this->translator->translator('tours_continue_cart'); ?></a>
        <a href="Tours-Invoice-Confirm" class="btn btn-global"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translator->translator('invoice_payment', '', 'Invoice'); ?></a>
    </div>
</div>
	
<?php
}
else
{
?>

<div class="mod">
	<h1><?php echo $this->translator->translator('tours_invoice_cart_details_title'); ?></h1>
    
    <?php
        echo '<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> '.$this->translator->translator('tours_invoice_cart_empty').'</div>';
    ?>
</div>

<?php
	}
}
?>
<div id="dialog_container"></div>