<?php
$version = Zend_Registry::get('version');
if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
if(!empty($this->group_datas['vacationrentals_name'])) { $this->headTitle()->headTitle($this->group_datas['vacationrentals_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }
$front_template = Zend_Registry::get('front_template'); 

$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
function vacationrentals_truncate($phrase,$start_words, $max_words, $char = false, $charset = 'UTF-8')
{
	if($char)
	{
		if(mb_strlen($phrase, $charset) > $length) {
			  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
			  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
			}
	}
	else
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	}
   return $phrase;
}

$group_db = new Vacationrentals_Model_DbTable_VacationrentalsGroup();
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
Eicra_Global_Variable::getSession()->returnLink = ($auth->hasIdentity ()) ? '' : $this->url(array('module'=> 'Vacationrentals','controller'=>'Backendpro', 'action'=>'add','group_id' => $this->group_datas['id']),'adminrout',true);
$url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Vacationrentals','controller'=>'Backendpro', 'action'=>'add','group_id' => $this->group_datas['id']),'adminrout',true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';

$vacationrentals_helper = new Vacationrentals_View_Helper_VacationrentalsGroup();
$num_vacationrentals = $vacationrentals_helper->getNumOfProduct($this->group_datas['id']);
?>
<script type="text/javascript">
$(document).ready(function() {		
		$('a.searchVacationButton').click(function() {	
			$('#formVacationBlockSearch').submit();
		});	
		autoSugg();
		
		$('#searchtoggle').hide();
		$('a.slick-searchtoggle').click(function() {
			$('#searchtoggle').slideToggle(400);
			return false;
		});
		
		$('#country_id_H').change(function() {	
			if($('#country_id_H option:selected').val() == 'any' || $('#country_id_H option:selected').val() =='')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("vacationrentals_select_area"); ?></option>');	
				$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("vacationrentals_select_state"); ?></option>');
			}
			else
			{	
				$.ajax({
					  url: "<?php echo $this->url( array('module' =>'Vacationrentals','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#country_id_H option:selected').val() },
					  beforeSend: function(){						
								$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
								$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("vacationrentals_select_area"); ?></option>');			
								$('#state_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
							 },
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("vacationrentals_select_state"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.states.length;i++)
							{
								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';
							}
							$('#state_id_H').html(option);
						}
						else
						{
							$('#state_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#state_id_err').html('');
					  }
				});
			}
		});
		
		$('#state_id_H').change(function() {		
					
			if($('#state_id_H option:selected').val() == 'any' || $('#state_id_H option:selected').val() == '')
			{
				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("vacationrentals_select_area"); ?></option>');
			}
			else
			{
				$.ajax({
					  url: "<?php echo $this->url( array('module' => 'Vacationrentals', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
					  type: 'POST',
					  data: { id: $('#state_id_H option:selected').val() },
					  beforeSend: function(){						
							$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');
							$('#area_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
							},
					  success: function(response){
						//alert(response);
						var json_arr = eval("("+response+")");
						var option = '<option value="any"><?php echo $this->translator->translator("vacationrentals_select_area"); ?></option>';				
						if(json_arr.status == 'ok')
						{
							for(var i = 0;i<json_arr.cities.length;i++)
							{
								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';
							}
							$('#area_id_H').html(option);
						}
						else
						{
							$('#area_id_H').html('<option value="any">'+json_arr.msg+'</option>');
						}
						$('#area_id_err').html('');
					  }
				});
			}
		});	
			
		$('input.search_btn').click(function(){
			var self = this;
			$('#formSearch').submit();
		});
});

function openMsgDialog(msg)
{
$('#dialog_container').html(msg).dialog({
			autoOpen: true,
			modal: false,
			show: 'explode',
			resizable: true,				
			buttons: [{ text: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>", click: function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } } ],
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
}

function autoSugg()
{
	autoSuggestion('post_code', "<?php echo $this->url( array('module'=> 'Vacationrentals', 'controller' => 'backendpro', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['vacationrentals_primary_image', 'vacationrentals_image', 'vacationrentals_name', 'post_code', 'owner_name','vacationrentals_postcode' ,'vacationrentals_room', 'vacationrentals_location'], 'data/frontImages/vacationrentals/vacationrentals_image', 2);	
}

function stripslashes(str) 
{
	str=str.replace(/\\'/g,'\'');
	str=str.replace(/\\"/g,'"');
	str=str.replace(/\\0/g,'\0');
	str=str.replace(/\\\\/g,'\\');
	return str;
}
</script>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('vacationrentals_front_page_dialog_name')); ?>"></div>

<!-- Home Search Start -->
<div class="block block-search"> 
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="slick-searchtoggle"><h2><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('vacationrentals_front_page_Title_search'); ?></h2></a>
            <div id="searchtoggle">
                <form id="formVacationBlockSearch" name="formVacationBlockSearch" method="post" action="<?php echo $this->url( array('module' => 'Vacationrentals', 'controller' => 'search', 'action'     => 'search', 'block_search' => 'search' ), 'Search-Vacationrental-List/*',    true); ?>" role="form">
                    <div class="form-group">
                        <label for="group_id"><?php echo $this->translator->translator('vacationrentals_list_page_search_group','','Vacationrentals'); ?></label>
                        <select name="group_id" id="group_id" class="form-control">
                            <?php
                            $group_list = $group_db->getGroupInfo();
                                foreach($group_list as $key => $value)
                                {	
                                    $selected = ($this->group_datas['id'] == $key) ? 'selected="selected"' : '';							
                            ?>
                                <option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $this->escape($value); ?></option>
                            <?php	
                                }
                            ?>
                        </select>
                    </div>
              
                    <div class="form-group">
                        <label for="post_code"><?php echo $this->translator->translator('vacationrentals_list_page_search_postcode','','Vacationrentals'); ?></label>
                        <input name="post_code" type="text" id="post_code" placeholder="<?php echo $this->translator->translator('common_any_language', '', ''); ?>" class="form-control"/>
                        <input type="hidden" name="active" id="active" value="1" />
                    </div>
              
                    <div class="form-group">
                        <label for="country_id_H"><?php echo $this->translator->translator('vacationrentals_list_page_search_country','','Vacationrentals'); ?></label>
                        <?php $country_info = $this->country_db->getCountryInfo (); ?>
                        <select name="country_id" id="country_id_H" class="form-control">
                        <option value=""><?php echo $this->translator->translator('common_select'); ?></option>
                        <?php
                            $selected_country_id = $global_conf['default_country'];
                            foreach($country_info as $key=>$value)
                            {
                                $selected = ($selected_country_id == $key) ? 'selected="selected"' : '';
                                echo '<option value="'.$key.'" '.$selected.'>'.$value.'</option>';
                            }
                        ?>
                        </select>
                    </div> 
                
                    <div class="form-group">
                        <label for="state_id_H"><?php echo $this->translator->translator('vacationrentals_list_page_search_state','','Vacationrentals'); ?></label>                    
                        <select name="state_id" id="state_id_H" class="form-control">
                            <option value=""><?php echo $this->translator->translator('vacationrentals_select_state'); ?></option>
                            <?php
                                $state_info = $this->state_db->getAllStateInfo($selected_country_id);
                                foreach($state_info as $key=>$value)
                                {
                                    echo '<option value="'.$this->escape($value['state_id']).'">'.$this->escape($value['state_name']).'</option>';
                                }
                            ?>
                        </select><span id="state_id_err"></span>
                    </div>
                
                    <div class="form-group">
                        <label for="area_id_H"><?php echo $this->translator->translator('vacationrentals_list_page_search_area','','Vacationrentals'); ?></label>
              
                        <select name="area_id" id="area_id_H" class="form-control">
                            <option value=""><?php echo $this->translator->translator('vacationrentals_select_area','','Vacationrentals'); ?></option>
                        </select><span id="area_id_err"></span>
                    </div>
              
                    <div class="form-group">
                        <label for="vacationrentals_type"><?php echo $this->translator->translator('vacationrentals_block_advanced_search_label_types_name','','Vacationrentals'); ?></label>
                        <select name="vacationrentals_type" id="vacationrentals_type" class="form-control">
                            <option value=""><?php echo $this->translator->translator('vacationrentals_block_advanced_search_label_types','','Vacationrentals'); ?></option>
                            <?php
                            
                                foreach($this->type_info as $types)
                                {	
                            ?>
                                <option value="<?php echo $types['id']; ?>"><?php echo $this->escape($types['business_type']); ?></option>
                            <?php
                                }
                            ?>
                        </select>
                    </div>
              
                    <div class="form-group">
                        <label for="feature_bedroom"><?php echo $this->translator->translator('vacationrentals_list_page_search_room','','Vacationrentals'); ?></label>
                    
                        <select name="feature_bedroom" id="feature_bedroom" class="form-control">
                            <option value=""><?php echo $this->translator->translator('vacationrentals_block_advanced_search_label_bed_rooms','','Vacationrentals'); ?></option>
                            <?php
                                $bedrooms = $this->vacationrentals_db->getNumberOfBedsRooms();
                                foreach($bedrooms as $key=>$value)
                                {
                                    if(!empty($value['feature_bedroom']))
                                    {
                                  
                            ?>
                                <option value="<?php echo $value['feature_bedroom']; ?>"><?php echo $value['feature_bedroom']; ?></option>
                            <?php
                                    }
                                }
                            ?>
                        </select>
                    </div>
                
                    <a href="javascript:void(0);" class="searchVacationButton btn btn-block btn-global"><?php echo $this->translator->translator('vacationrentals_front_page_search_button'); ?></a>
                    <span class="glyphicon glyphicon-search"></span> <a href="Search-Vacationrental-List"><?php echo $this->translator->translator('vacationrentals_block_simple_search_link_advance_search'); ?></a><br>
                    <span class="glyphicon glyphicon-globe"></span> <a href="All-Vacationrentals/<?php echo $this->group_datas['id']; ?>"><?php echo $this->translator->translator('vacationrentals_block_simple_search_link_view_all', $this->group_datas['vacationrentals_name']); ?></a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Home Search End -->

<div class="row">
    <div class="col-xs-12">
    	<!-- Featured Rental Start -->
    	<?php if($this->group_datas['featured_file_on'] == '1'){ ?> 
        <div class="block block-featured mod-featured-block">
        	<h3><?php echo $this->translator->translator('vacationrentals_block_featured_list_title'); ?></h3>
            <div id="featured_list">
                    <?php						  
                    if($this->view_featured_datas)
                    {
                        $j = 1;	
                        foreach($this->view_featured_datas as $entry)
                        {
                            $vacationrentals_image_val_arr = explode(',',$entry['vacationrentals_image']);
                            $vacationrentals_image_no = count($vacationrentals_image_val_arr);
                            if($this->escape($entry['vacationrentals_primary_image']))
                            { 
                                $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($entry['vacationrentals_primary_image']); 
                            }
                            else
                            { 
                                if($this->escape($entry['vacationrentals_image']))
                                {											
                                    $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($vacationrentals_image_val_arr[0]); 
                                }
                                else
                                {
                                    $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_vacation_img/no_image.png'; 
                                }		
                            }
                            if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                            { 
                                $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                            }
                            else
                            {
                                $width = '';
                            } 
                            if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                            { 
                                $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                            } 
                            else
                            {
                                $height = '';
                            }									
                    ?>
                   	<div class="panel panel-default">
        				<div class="panel-body">
                        	<h6><a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['vacationrentals_name']); ?>"><?php echo vacationrentals_truncate($this->escape($entry['vacationrentals_name']), 0, 20, true); ?></a></h6>
                            <div class="ratings text-center">
								<?php
                                    for($i = 1; $i < $maximum_stars_digit; $i++)
                                    {
                                        $vacationrentals_stars = ($i <= $this->escape($entry['stars'])) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_vacation_img/star-small-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_vacation_img/star-small-inactive.png' border='0' />";
                                        echo $vacationrentals_stars.'&nbsp;';
                                    }
                                ?>
                            </div>
                            <figure>
                                <div class="thumb">
                                	<a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>"  title="<?php echo $this->escape($entry['vacationrentals_name']); ?>" width="300"><img src="<?php echo $thumb_image; ?>" <?php echo $width." ".$height; ?> border="0" width="200" class="img-responsive"/></a>
                                    <div class="type"><?php echo $this->escape($entry['business_type']); ?></div>
                                    <div class="photo-count-container">
                                        <div class="photo-count">
                                            <a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->escape($entry['vacationrentals_title']),'tab' => 1 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>" title="<?php echo $this->translator->translator('vacationrentals_front_page_vacationrentals_click_view_listing'); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('vacationrentals_front_page_vacationrentals_photo_no',''.$vacationrentals_image_no.''); ?></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <div class="details text-center">
                                <div class="price"><?php echo $this->translator->translator('vacationrentals_block_featured_label_price'); ?> <?php echo $this->price($this->escape($entry['vacationrentals_price'])).' '.$this->currency->getSymbol(); ?></div>
                            </div>
                            <span class="glyphicon glyphicon-map-marker"></span> <?php echo $this->translator->translator('vacationrentals_block_featured_label_location', '', 'Vacationrentals'); ?> <?php echo $this->escape($entry['state_name'].' / '.$entry['city']); ?><br>
                            <?php if(!empty($entry['feature_bedroom'])){ echo (int)$this->escape($entry['feature_bedroom']);  echo ' '.$this->translator->translator('vacationrentals_front_page_bedroom'); } ?> <?php if(!empty($entry['feature_bathroom'])){ echo (int)$this->escape($entry['feature_bathroom']);  echo ' '.$this->translator->translator('vacationrentals_front_page_bathroom'); } ?><br>
                            <?php if(!empty($entry['vacationrentals_desc'])){ echo $this->translator->translator('vacationrentals_block_featured_label_description', '', 'Vacationrentals'); ?> <?php echo vacationrentals_truncate($this->escape(strip_tags($entry['vacationrentals_desc'])), 0, 20, true); } ?>
                            
                            
                        </div>
                   	</div>
                    
                    <div class="col">
                            <span class="block-title"></span>                     
                            <div class="clear">
                                
                            </div>
                            <div class="img-wrapper">
                                
                            </div>
                        
                            <div class="details">
                                
                            </div>
                    </div>
                    <?php
                            $j++;
                        }
                    }
                    ?>
            </div>
        </div>
 		<?php } ?>
       	<!-- Featured Rental End -->
        
        <!-- Home Tab Start -->
        <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
        <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
        <div id="demoTab">          
            <ul class="resp-tabs-list">
                <li><?php echo $this->translator->translator('vacationrentals_block_popular_list_title'); ?></li>
                <li><?php echo $this->translator->translator('vacationrentals_block_latest_list_title'); ?></li>
            </ul>
        
            <div class="resp-tabs-container">
                <!-- Tab 1 Start -->
                <div>
                    <div class="block block-list">    
                        <?php  
                            $popular_vacationrentals = $vacationrentals_helper->getPopularVacationrentals($this->group_datas['id']); 			
                        ?>
                        <!--<h3><?php echo $this->translator->translator('vacationrentals_block_popular_list_title'); ?></h3>-->
                
                        <ul>
                            <?php	
                            if($this->view_latest_datas)
                            {
                                $l =1;
                                foreach($popular_vacationrentals as $entry)						
                                {
                                
                                    if($this->escape($entry['vacationrentals_primary_image']))
                                    { 
                                        $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($entry['vacationrentals_primary_image']); 
                                    }
                                    else
                                    { 
                                        if($this->escape($entry['vacationrentals_image']))
                                        {
                                            $vacationrentals_image_val_arr = explode(',',$entry['vacationrentals_image']);
                                            $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($vacationrentals_image_val_arr[0]); 
                                        }
                                        else
                                        {
                                            $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_vacation_img/no_image.png'; 
                                        }		
                                    }
                                    if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                                    { 
                                        $width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
                                    }
                                    else
                                    {
                                        $width = '';
                                    } 
                                    if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                                    { 
                                        $height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
                                    } 
                                    else
                                    {
                                        $height = '';
                                    }
                            ?>						
                                    <li><a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['vacationrentals_name']); ?>" width="300"><?php echo vacationrentals_truncate($this->escape($entry['vacationrentals_name']), 0, 20, true); ?></a></li>                                         
                            <?php
                                /*
                                if($l % 4 == 0)
                                {
                                    echo '</ul><ul>';
                                }
                                    $l++;*/
                                }
                            }
                            ?>
                        </ul>
                    </div>
                </div>
                <!-- Tab 1 End -->
                
                <!-- Tab 2 Start -->
                <div>
                	<?php if($this->group_datas['latest_file_on'] == '1'){ ?>
                    <div class="block block-list">
                    	<!--<h3><?php echo $this->translator->translator('vacationrentals_block_latest_list_title'); ?></h3>-->
						<ul>
						<?php	
						if($this->view_latest_datas)
						{
							$l =1;
							foreach($this->view_latest_datas as $entry)						
							{
							
								if($this->escape($entry['vacationrentals_primary_image']))
								{ 
									$thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($entry['vacationrentals_primary_image']); 
								}
								else
								{ 
									if($this->escape($entry['vacationrentals_image']))
									{
										$vacationrentals_image_val_arr = explode(',',$entry['vacationrentals_image']);
										$thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->escape($vacationrentals_image_val_arr[0]); 
									}
									else
									{
										$thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_vacation_img/no_image.png'; 
									}		
								}
								if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
								{ 
									$width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
								}
								else
								{
									$width = '';
								} 
								if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
								{ 
									$height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
								} 
								else
								{
									$height = '';
								}
                        ?>						
                            <li><a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['vacationrentals_name']); ?>" width="300"><?php echo vacationrentals_truncate($this->escape($entry['vacationrentals_name']), 0, 20, true); ?></a></li>
                                                                            
                        <?php
                            /*
                            if($l % 5 == 0)
                            {
                                echo '</ul><ul>';
                            }
                                $l++;*/
                            }
                        }
                        ?>
                        </ul>
                  	</div>
					<?php } ?>
                </div>
                <!-- Tab 2 End -->
            </div>
       	</div>
        <script>
            $("#demoTab").easyResponsiveTabs({
                type: 'accordion', //Types: default, vertical, accordion           
                width: 'auto', //auto or any custom width
                fit: true   // 100% fits in a container
            });
        </script>
        <!-- Home Tab End -->
	</div>
</div>