<?php
$this->headMeta()->setName('keywords',$this->translator->translator('vacationrentals_itinerarylist_page_meta_keywords'));
$this->headMeta()->setName('description',$this->translator->translator('vacationrentals_itinerarylist_page_meta_desc'));
$this->headTitle()->headTitle($this->translator->translator('vacationrentals_itinerarylist_page_meta_title'),'SET');
$front_template = Zend_Registry::get('front_template');  
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;  
?>
<script type="text/javascript">
var it = 0;
$(document).ready(function() {
	var settingObj = {
						grid_id : 'grid',
						mobile: 'phone',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '5',
						height:		"38em",
						//pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						pageable : { buttonCount: 2 },
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						search_action: {},
						common_action : {
								permission_arr : {},
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: []
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: true,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;
								self.element.css("border", "none");
                               	self.element.height("").find(".k-grid-header").remove();
								self.element.height("").find(".k-grid-content").css("height", "442px");
                                self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
								//self.thead.remove();
								//text_truncate();													                      
						},
						filterable: false,
						rowTemplate: kendo.template($("#view_template").html()),
						//model: {},					
						column_fields: ['group_id'],
						columnMenu:	false,
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("vacationrentals_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("vacationrentals_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);
});
function text_truncate()
{
	$('div.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<script type="text/x-kendo-template" id="view_template">
	<div class="itinerary_main_body_block">
		<div class="itinerary_main_body_block_clild_header">
			<div class="itinerary-header">			
			#= ++it #.&nbsp;#= full_name #
			</div>
		</div>
		#
			if(invoice_items)
			{
				$.each(invoice_items, function(index, obj){
		#
						<div class="itinerary_main_body_block_clild_body">
                        <div class="itinerary_main_body_block_clild_body_box1">
                            #= invoice_status_format # &nbsp;&nbsp; #= obj.vacationrentals_info.vacationrentals_name #
                        </div>
						<div class="itinerary_main_body_block_clild_body_box2">
							<div class="col-xs-12">
								<ul class="list-group">
									<li class="list-group-item"><span class="glyphicon glyphicon-import"></span> <?php echo html_entity_decode($this->translator->translator('vacationrentals_list_page_search_check_in'), ENT_QUOTES, "UTF-8"); ?> #= obj.check_in #</li>
									<li class="list-group-item"><span class="glyphicon glyphicon-export"></span> <?php echo html_entity_decode($this->translator->translator('vacationrentals_list_page_search_check_out'), ENT_QUOTES, "UTF-8"); ?> #= obj.check_out #</li>
									<li class="list-group-item"><span class="glyphicon glyphicon-adjust"></span> <?php echo html_entity_decode($this->translator->translator('vacationrentals_invoice_total_night'), ENT_QUOTES, "UTF-8"); ?> : #= obj.total_night #</li>
								</ul>
							</div>				
                        </div>
                        <div class="itinerary_main_body_block_clild_body_box3">
                        	<h4 class="itinerary-price"><?php echo html_entity_decode($this->translator->translator('vacationrentals_invoice_total_title'), ENT_QUOTES, "UTF-8").' : '.$this->currency->getShortName().'&nbsp;'; ?><?php echo $this->currency->getSymbol(); ?>#= total_amount #</h4>
                        </div>
                      </div>
		#
					});
			}
		#
	</div>
</script>
<div class="mod">
	<h1><?php echo $this->translator->translator('vacationrentals_itinerarylist_page_meta_title'); ?></h1>
    
	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
    	<div class="grid-puller">
        	<div id="grid"></div>  
      	</div>
   	</div>
</div>