<?php
$front_template = Zend_Registry::get('front_template');


if($this->category_info)
{
	function subCategory($view, $parent_id)
	{
		$search_params['filter']['filters'][0] = array('field' => 'parent_id', 'operator' => 'eq', 'value' => $parent_id);
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
				
		$search_params['filter']['filters'][2] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
		
		$category_info = $view->category_db->getListInfo ('1', $search_params, false);
		
		if($category_info)
		{
			echo '<ul class="list-unstyled">';
			foreach($category_info as $info)
			{
				$link = $view->url(array('module'=> 'B2b', 'controller' => 'frontend','action' => 'classifieds', 'category' => $view->escape($info['url_portion'])), 'All-Classified-list/*', true);
				$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$view->escape($info['b2b_images']) : '';
				if($info['login'] == '0' || ($info['login'] == '1' && $view->auth->hasIdentity()))
				{
					echo '<li>';
						if($view->category_db->checkSubCategory ($info['id']))
						{
							echo '<span class="glyphicon glyphicon-folder-open"></span> <a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).' <span class="count">('.$view->numbers($view->escape($info['company_num'])).')</span></a>';
							subCategory($view, $info['id']);
						}
						else
						{
							echo '<span class="glyphicon glyphicon-tag"></span> <a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).' <span class="count">('.$view->numbers($view->escape($info['company_num'])).')</span></a> ';
						}
					echo '</li>';
				}
			}
			echo '</ul>';
		}
	}
	
	if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
	if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
	if(!empty($this->group_datas['gallery_name'])) { $this->headTitle()->headTitle($this->group_datas['gallery_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }
	
	$global_conf = Zend_Registry::get('global_conf');
	$currency = new Zend_Currency($global_conf['default_locale']);
?>
<div class="mod">
	<h1><?php if($this->parent_category_info){ echo $this->translator->translator('b2b_category_list_title', $this->escape($this->parent_category_info['name'])); }else{ echo $this->translator->translator('b2b_category_list_all_title'); } ?></h1>
    
	<?php
    foreach($this->category_info as $info)
    {
        $link = $this->url(array('module'=> 'B2b', 'controller' => 'frontend','action' => 'classifieds', 'category' => $this->escape($info['url_portion'])), 'All-Classified-list/*', true);
        $thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
    ?>
        <div class="well category-list">
            <ul class="list-unstyled">
                <?php
                if($info['login'] == '0' || ($info['login'] == '1' && $this->auth->hasIdentity()))
                {
                ?>
                <li>
                    <span class="glyphicon glyphicon-folder-open"></span> <a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?> <span class="count">(<?php echo $this->numbers($this->escape($info['company_num'])); ?>)</span></a>
                    <?php subCategory($this, $info['id']); ?>                          
                </li>
                <?php
                }
                ?>
            </ul>
        </div>
    <?php
    }
    ?>
	<?php echo $this->paginationControl($this->category_info, 'Sliding', 'frontend/categorylist-pagination-flickr.phtml'); ?>
</div>
<?php
}
else
{
?>
<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>	
	<?php echo $this->err_msg; ?>
</div>
<?php	
}
?>