<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

$this->headMeta()->setName('keywords', $this->translator->translator('front_trad_leads_meta_key','', '', $front_template['theme_folder']));
$this->headMeta()->setName('description', $this->translator->translator('front_trad_leads_meta_desc','', '', $front_template['theme_folder'])); 
$this->headTitle()->setSeparator(' - ')->headTitle($this->translator->translator('front_trad_leads_title','', '', $front_template['theme_folder'])); 

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );

$product_sort_arr = ($this->preferences_data['products_sortby'] && $this->preferences_data['products_sortby'] != '_') ? explode('-', $this->preferences_data['products_sortby']) : null;
$selling_sort_arr = ($this->preferences_data['selling_leads_sortby'] && $this->preferences_data['selling_leads_sortby'] != '_') ? explode('-', $this->preferences_data['selling_leads_sortby']) : null;
$buying_sort_arr = ($this->preferences_data['buying_leads_sortby'] && $this->preferences_data['buying_leads_sortby'] != '_') ? explode('-', $this->preferences_data['buying_leads_sortby']) : null;
$company_sort_arr = ($this->preferences_data['companies_sortby'] && $this->preferences_data['companies_sortby'] != '_') ? explode('-', $this->preferences_data['companies_sortby']) : null;
?>
<script type="text/javascript">
    $(document).ready(function() {
		
		function onActivate(e) {
                    alert("Activated: " + $(e.item).find("> .k-link").html());
               		//commonGrid(buyingLeadsSettingObj);
					//text_truncate();
			    }
				
		$("div.tabClassifieds").kendoTabStrip({
									//activate: onActivate,
									animation: {
										open: { effects: "fadeIn" }
									}
								});
        var companySettingObj = {
                            grid_id : 'company-grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url(array('module' => $this->getModule, 'controller' => $this->getController, 'action' => 'companylist'), 'adminrout', true); ?>",
							pageSize : '5',
							height:		"38em",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['companies']) ? $this->preferences_data['companies'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
                            no_browse_url: true,							
							dataSource_filter : [
													<?php if($this->posted_data['category_id']) : ?>{field: 'category_id', operator: "eq", value: <?php echo $this->posted_data['category_id']; ?>},<?php endif; ?>
													{field: 'category_displayble', operator: "eq", value: '1'}
												],
							dataSource_sort: [
													<?php if($company_sort_arr && $company_sort_arr[0]): ?>{field: '<?php echo $company_sort_arr[0]; ?>',  dir: '<?php echo $company_sort_arr[1]; ?>'}<?php endif; ?>
												],
							calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    //self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#companies_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(companySettingObj);
		
		
		
		var buyingLeadsSettingObj = {
                            grid_id : 'buying-leads-grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url(array('module' => $this->getModule, 'controller' => $this->getController, 'action' => 'buylist'), 'adminrout', true); ?>",
							pageSize : '5',
							height:		"38em",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['companies']) ? $this->preferences_data['companies'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',		
							pageable : { buttonCount: 2 },
                            no_browse_url: true,							
							dataSource_filter : [
													<?php if($this->posted_data['category_id']) : ?>{field: 'category', operator: "eq", value: <?php echo $this->posted_data['category_id']; ?>},<?php endif; ?>
													{field: 'category_displayble', operator: "eq", value: '1'}
												],
							dataSource_sort: [
													<?php if($buying_sort_arr && $buying_sort_arr[0]): ?>{field: '<?php echo $buying_sort_arr[0]; ?>',  dir: '<?php echo $buying_sort_arr[1]; ?>'}<?php endif; ?>
												],							
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    //self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#buying_leads_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
			commonGrid(buyingLeadsSettingObj);
			
			
			var sellingLeadsSettingObj = {
                            grid_id : 'selling-leads-grid',
							mobile: 'phone',
							pageSize : '5',
							height:		"38em",
                            dest_url : "<?php echo $this->url(array('module' => $this->getModule, 'controller' => $this->getController, 'action' => 'sellist'), 'adminrout', true); ?>",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['companies']) ? $this->preferences_data['companies'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
                            no_browse_url: true,							
							dataSource_filter : [
													<?php if($this->posted_data['category_id']) : ?>{field: 'category', operator: "eq", value: <?php echo $this->posted_data['category_id']; ?>},<?php endif; ?>
													{field: 'category_displayble', operator: "eq", value: '1'}
												],
							dataSource_sort: [
													<?php if($selling_sort_arr && $selling_sort_arr[0]): ?>{field: '<?php echo $selling_sort_arr[0]; ?>',  dir: '<?php echo $selling_sort_arr[1]; ?>'}<?php endif; ?>
												],							
						    calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    //self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#selling_leads_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        	commonGrid(sellingLeadsSettingObj);
			
			
			var productSettingObj = {
                            grid_id : 'product-grid',
							mobile: 'phone',
							pageSize : '5',
							height:		"38em",
                            dest_url : "<?php echo $this->url(array('module' => $this->getModule, 'controller' => $this->getController, 'action' => 'productslist'), 'adminrout', true); ?>",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['companies']) ? $this->preferences_data['companies'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
							no_browse_url: true,							
							dataSource_filter : [
													<?php if($this->posted_data['category_id']) : ?>{field: 'category_id', operator: "eq", value: <?php echo $this->posted_data['category_id']; ?>},<?php endif; ?>
													{field: 'category_displayble', operator: "eq", value: '1'}
												],
							dataSource_sort: [
													<?php if($product_sort_arr && $product_sort_arr[0]): ?>{field: '<?php echo $product_sort_arr[0]; ?>',  dir: '<?php echo $product_sort_arr[1]; ?>'}<?php endif; ?>
												],
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    //self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#product_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        	commonGrid(productSettingObj);
        
    });
    function text_truncate()
    {
		$('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>
<script type="text/x-kendo-template" id="companies_template">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center"><a href="Company-Homepage/#= seo_title #">#= company_name #</a></h4>
			
			<figure>
				<div class="thumb">
					<a href="Company-Homepage/#= seo_title #"><img src="#= profile_image_primary_format #" border="0" width="150"/></a>
				</div>
			</figure>
			<br>
			<div class="details">
				# if(business_type){ #<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8"); ?> :</span> <span class="label label-success">#= business_type #</span><br><br># } #
				# if(company_information){ #<span class="jTruncate"> #=  commonStripslashes (company_information) # </span># } #
				#
					if(establishing_year)
					{
						var today = new Date();
						var yyyy = today.getFullYear();					
						var year_of_est  = establishing_year;
						var company_age = parseInt(yyyy) - year_of_est;
						var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
					}
				#		   	
				
				# 
					if(keywords)
					{
				#
				<br><span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keywords #<br />
				#
					}
				#
			</div>
			
			<br>
			<ul class="list-group">
				# if(package_name){ #
				<li class="list-group-item">
					<span class="label label-primary"><a href="Company-Homepage/#= seo_title #">#= package_name #</a></span> 
				</li>
				# } #
				
				# if(number_of_years){ #
				<li class="list-group-item">
					for #= number_of_years #
					<?php  echo  html_entity_decode($this->translator->translator('b2b_years'), ENT_QUOTES, "UTF-8"); ?>
				</li>
				# } #
				
				# if(category_isShowProfile == 1 || category_id == 0){ #
				<li class="list-group-item">
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp;#= country_name #
				</li>
				
				<li class="list-group-item">
					<a href="Company-Contact/#= seo_title #" class="btn btn-success"><span class="glyphicon glyphicon-phone-alt"></span> <?php  echo  html_entity_decode($this->translator->translator('b2b_contact_btn_title'), ENT_QUOTES, "UTF-8"); ?></a>
				</li>
				# } #
			</ul>
		</div>
    </div>
</script>

<script type="text/x-kendo-template" id="buying_leads_template">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center"><a href="Buyoffer-Details/#=company_title#/#=seo_title#">#= name #</a></h4>
			
			<figure>
				<div class="thumb">
					<a href="Buyoffer-Details/#=company_title#/#=seo_title#"> <img src="#= primary_file_field_format #" border="0" width="150"/></a>
				</div>
			</figure>
			<br>
			<div class="details">
				# if(business_type){ #<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8"); ?> :</span> <span class="label label-success">#= business_type #</span><br><br># } #
				# if(description){ #<span class="jTruncate"> #=  commonStripslashes (description) # </span># } #<br>
				#
					if(establishing_year)
					{
						var today = new Date();
						var yyyy = today.getFullYear();					
						var year_of_est  = establishing_year;
						var company_age = parseInt(yyyy) - year_of_est;
						var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
					}
					if(keyword || keyword_1 || keyword_2 || keyword_3)
					{
				#
				<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keyword # # if(keyword_1){ #, ${keyword_1} # } # # if(keyword_2){ #, ${keyword_2} # } # # if(keyword_3){ #, ${keyword_3} # } # <br>
				#
					}
				#
			</div>
			
			<br>
			<ul class="list-group">
				# if(package_name){ #
				<li class="list-group-item">
					<span class="label label-primary"><a href="Buyoffer-Details/#=company_title#/#=seo_title#">#= package_name #</a></span>
				</li>
				# } #
				
				# if(number_of_years){ #
				<li class="list-group-item">
					for #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years'), ENT_QUOTES, "UTF-8"); ?>
				</li>
				# } #
				
				# if(category_isShowProfile == 1 || category == 0){ #
				<li class="list-group-item">
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp;#= country_name #
				</li>
				
				<li class="list-group-item">
					<a href="Company-Contact/#=company_title#" class="btn btn-success"><span class="glyphicon glyphicon-phone-alt"></span> <?php  echo  html_entity_decode($this->translator->translator('b2b_contact_btn_title'), ENT_QUOTES, "UTF-8"); ?></a>
				</li>
				# } #
			</ul>
		</div>
    </div>
</script>

<script type="text/x-kendo-template" id="selling_leads_template">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center"><a href="Selloffer-Details/#=company_title#/#=seo_title#">#= name #</a></h4>
			
			<figure>
				<div class="thumb">
					<a href="Selloffer-Details/#=company_title#/#=seo_title#"><img src="#= primary_file_field_format #" border="0" width="150"/></a>
				</div>
			</figure>
			<br>
			<div class="details">
				# if(business_type){ #<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8"); ?> :</span> <span class="label label-success">#= business_type #</span><br><br># } #
				# if(description){ #<span class="jTruncate"> #=  commonStripslashes (description) # </span># } #
				#
					if(establishing_year)
					{
						var today = new Date();
						var yyyy = today.getFullYear();					
						var year_of_est  = establishing_year;
						var company_age = parseInt(yyyy) - year_of_est;
						var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
					}
					if(keyword || keyword_1 || keyword_2 || keyword_3)
					{
				#           
				<br>
				<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keyword # # if(keyword_1){ #, ${keyword_1} # } # # if(keyword_2){ #, ${keyword_2} # } # # if(keyword_3){ #, ${keyword_3} # } #<br>
				#
					}
				#
			</div>
			
			<br>
			<ul class="list-group">
				# if(package_name){ #
				<li class="list-group-item">
					<span class="label label-primary"><a href="Selloffer-Details/#=company_title#/#=seo_title#">#= package_name #</a></span>
				</li>
				# } #
				
				# if(number_of_years){ #
				<li class="list-group-item">
					for #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years'), ENT_QUOTES, "UTF-8"); ?>
				</li>
				# } #
				
				# if(category_isShowProfile == 1 || category == 0){ #
				<li class="list-group-item">
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp;#= country_name #
				</li>
				
				<li class="list-group-item">
					<a href="Company-Contact/#=company_title#" class="btn btn-success"><span class="glyphicon glyphicon-phone-alt"></span> <?php  echo  html_entity_decode($this->translator->translator('b2b_contact_btn_title'), ENT_QUOTES, "UTF-8"); ?></a>
				</li>
				# } #
			</ul>
		</div>
    </div>
</script>

<script type="text/x-kendo-template" id="product_template">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center"><a href="Product-Details/#=company_title#/#=seo_title#">#= name #</a></h4>
			
			<figure>
				<div class="thumb">
					<a href="Product-Details/#=company_title#/#=seo_title#"/><img src="#= primary_file_field_format #" border="0" width="150"/></a>
				</div>
			</figure>
			<br>
			
			<div class="details">				
				# if(business_type){ #<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8"); ?> :</span> <span class="label label-success"> #= business_type #</span><br><br># } #
				# if(short_description){ #<span class="jTruncate"> #=  commonStripslashes (short_description) # </span># } #
				#
					if(establishing_year)
					{
						var today = new Date();
						var yyyy = today.getFullYear();					
						var year_of_est  = establishing_year;
						var company_age = parseInt(yyyy) - year_of_est;
						var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
					}
					if(keyword || keyword_1 || keyword_2 || keyword_3)
					{
				#
				<br>
				<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keyword # # if(keyword_1){ #, ${keyword_1} # } # # if(keyword_2){ #, ${keyword_2} # } # # if(keyword_3){ #, ${keyword_3} # } #
				#
					}
				#
			</div>
			
			<br>
			<ul class="list-group">
				# if(package_name){ #
				<li class="list-group-item">
					<span class="label label-primary"><a href="Product-Details/#=company_title#/#=seo_title#">#= package_name #</a></span>
				</li>
				# } #
				
				# if(number_of_years){ #
				<li class="list-group-item">
					for #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years'), ENT_QUOTES, "UTF-8"); ?>
				</li>
				# } #
				
				# if(category_isShowProfile == 1 || category_id == 0){ #
				<li class="list-group-item">
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp;#= country_name #
				</li>
				
				<li class="list-group-item">
					<a href="Company-Contact/#=company_title#" class="btn btn-success"><span class="glyphicon glyphicon-phone-alt"></span> <?php  echo  html_entity_decode($this->translator->translator('b2b_contact_btn_title'), ENT_QUOTES, "UTF-8"); ?></a>
				</li>
				# } #
			</ul>
		</div>
    </div>
</script>

<div class="mod">
	<div class="tabClassifieds">
        <ul>			
            <li class="k-state-active" rel="company"><?php echo html_entity_decode($this->translator->translator("b2b_front_company_list"), ENT_QUOTES, "UTF-8"); ?></li>
            <li><?php echo html_entity_decode($this->translator->translator("b2b_fontend_buying_ist"), ENT_QUOTES, "UTF-8"); ?></li>
            <li><?php echo html_entity_decode($this->translator->translator("b2b_fontend_selling_ist"), ENT_QUOTES, "UTF-8"); ?></li>
            <li><?php echo html_entity_decode($this->translator->translator("b2b_fontend_product_ist"), ENT_QUOTES, "UTF-8"); ?></li>
        </ul>
		
		<div class="grid-puller">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="company-grid" rel="buy"></div>  
		   </div>	   
		</div>
		
		<div class="grid-puller">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="buying-leads-grid"></div>  
		   </div>	
		</div>
		
		<div class="grid-puller">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="selling-leads-grid"></div>  
		   </div>	
		</div>
		
		<div class="grid-puller">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="product-grid"></div>  
		   </div>	
		</div>
	</div>   
</div>

<div id="dialog_msg"></div>