<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
$headTitle = $this->translator->translator('b2b_success_stories_list');
$this->headTitle()->headTitle($headTitle,'SET'); 

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$story_sort_arr = ($this->preferences_data['story_sort_by'] && $this->preferences_data['story_sort_by'] != '_') ? explode('-', $this->preferences_data['story_sort_by']) : null;

?> 
<script type="text/javascript">
    $(document).ready(function() {
		extraFunctions();
        var settingObj = {
                            grid_id : 'grid',
							mobile: 'phone',
							pageSize : '5',
							height:		"38em",
							pageable : { buttonCount: 2 },
                            dest_url : "<?php echo $this->url(); ?>",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['story_per_page']) ? $this->preferences_data['story_per_page'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							dataSource_sort: [
													<?php if($story_sort_arr && $story_sort_arr[0]): ?>{field: '<?php echo $story_sort_arr[0]; ?>',  dir: '<?php echo $story_sort_arr[1]; ?>'}<?php endif; ?>
												],
                            dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},
                            search_action: {
									search_form_id : 'searchForm',
									search_form_btn : 'search_btn',
									hasTinyMCE 	: false,
									show_loader_on_search_button: true,
									setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
												var filters = [];										
												var i = 0;
												$.each(form_data, function(key,value){		
													var stringObj = {};																				
													if($.trim(value) != "" && value.toLowerCase() != "any")
													{												
														var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
														switch(key)
														{														  
															case 'advcountry_input':
																break;	
																
															case 'advcountry':
																	var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
																	if(advcountry_combobox)
																	{
																		var advcountry_id_val = advcountry_combobox.value();
																		stringObj = {
																						logic: 'or',
																						filters: [
																									{ field: 'user_country_id', operator: operator, value: advcountry_id_val },																									
																									{  field: 'user_country_name', operator: 'contains', value: advcountry_id_val }
																								]
																			 };
																	}
																	else
																	{
																		stringObj = {field: 'country', operator: 'contains', value: $("#advcountry").val() };																
																	}															
																break;
															case 'start_date':																	
																	stringObj = {field: 'start_date', operator: operator, value: kendo.parseDate($.trim(value), settingObj.calendar.format) };
																break;
															case 'end_date':																	
																	stringObj = {field: 'end_date', operator: operator, value: kendo.parseDate($.trim(value), settingObj.calendar.format) };
																break;	
															default:
																stringObj = {field: key, operator: operator, value: $.trim(value) };	
															 break;								
														}
														filters[i] = stringObj;												
														i++;
													}
												});
												//alert(filters.toSource());
												return filters;
											}
								},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    //self.thead.remove();
                                    text_truncate();
                                    //commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
    });
	
	function extraFunctions()
	{
		/*$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	*/
		
		$("#timepicker").kendoTimePicker()
                     .closest(".k-widget")
                     .attr("id", "timepicker_wrapper");
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});
		
		/*$("#advtype").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "business_type",
			dataValueField: "id",
			filter: "contains",
			autoBind: false,
			minLength: 1,		
			dataSource: {
				type: "json",
				schema: {
					  data:	'type_arr'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'businesstype'),'adminrout', true); ?>",
					}
				}
			}
		});*/	
	}
	
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>

<script type="text/x-kendo-template" id="view_template">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center"><a href="Story-Details/#= seo_title #/">#= title #</a></h4>
			
			<figure>
				<div class="thumb">
					<a href="Story-Details/#= seo_title #/">  
						#if (profile_image_primary_format != 0) {# 
							<img src="#= profile_image_primary_format #" border="0" width="150" /> 
						#
						} 
						else {  
						#
						<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" border="0" width="150" />
						#	
							}
						#				
					</a>
				</div>
			</figure>
			<br>
			<div class="details">
				#
					if(description){ 
				#
	
					<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <span class="jTruncate"> #=  commonStripslashes (description) # </span><br>
				# 
					} 
					if(full_name){
				#
					<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_posted_by'), ENT_QUOTES, "UTF-8") ?> </span>  : #= full_name # <br>
				# 
					} 
					if(main_products){
				#
					<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_keywords_main_products'), ENT_QUOTES, "UTF-8") ?> </span>  :   #= main_products #  <br>					
				# 
					} 
					if(full_name){
				#
					<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_posted_by'), ENT_QUOTES, "UTF-8") ?> </span>  : #= full_name # <br>
				# 
					} 
					if(trade_type){
									
						switch (trade_type){						
						case '1' :	"<?php  echo '<br /> <span> '. html_entity_decode($this->translator->translator('b2b_keywords_business_type'), ENT_QUOTES, "UTF-8") . '</span> : ' .  html_entity_decode($this->translator->translator('b2b_keywords_sellers'), ENT_QUOTES, "UTF-8") . ' <br /> ';?>"						
									break;
						case '2' :	"<?php echo ' <span> '. html_entity_decode($this->translator->translator('b2b_keywords_business_type'), ENT_QUOTES, "UTF-8") . '</span> : ' .  html_entity_decode($this->translator->translator('b2b_keywords_buyers'), ENT_QUOTES, "UTF-8") . ' <br /> ';?>"	
									break;
						case '3' :	"<?php echo ' <span> '. html_entity_decode($this->translator->translator('b2b_keywords_business_type'), ENT_QUOTES, "UTF-8") . '</span> : ' .  html_entity_decode($this->translator->translator('b2b_keywords_both'), ENT_QUOTES, "UTF-8") . ' <br /> ';?>"
						 default:	break;							 
						}
					}

					if(company_name){
				#
					<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_front_company_profile_name'), ENT_QUOTES, "UTF-8") ?> </span> : <a href="Company-Details/#= company_title #"> #= company_name #</a><br>
				#
					}
				#
			</div>
			<br>
			
			<ul class="list-group">
				<li class="list-group-item">
					<?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, "UTF-8") ?> :
				</li>
				
				# 
					if(package_name){
				#
				<li class="list-group-item">
					<span class="label label-primary"><a href="Premium-Membership"><a href="Premium-Membership"> #= package_name #  </a></span>
				</li>
				# 
					} 
				#
				
				# 
					if(establishing_year){
				#
				<li class="list-group-item">
					<?php  echo html_entity_decode($this->translator->translator('b2b_front_company_profile_since'), ENT_QUOTES, "UTF-8") ?> :   #= establishing_year #
				</li>
				# 
					} 
					if(country_code){
				#
				<li class="list-group-item">
					<?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8") ?> :   
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp; (#= state #  #= city# )
				</li>

				#
					}
					<?php if ($this->preferences_data['show_inquiry_btn']) {?>
						if(is_feedback === 'YES'){
				#
				<li class="list-group-item">
					<a href="Inquiry/#= company_title #" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> <?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a>
				</li>
				#
					} 
					<?php } if ($this->preferences_data['show_contact_btn']) {?>
					if(is_profile === 'YES'){
				#
				<li class="list-group-item">
                	<a href="Company-AboutUs/#= company_title #" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> <?php echo html_entity_decode($this->translator->translator('menu_members_view_business_profile'), ENT_QUOTES, "UTF-8")?></a>
				</li>
				#
					}
					<?php } ?>
				#
			</ul>
		</div>	
	</div>			
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('b2b_success_stories_list') ; ?></h1>
    <div class="search">
    	<a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontendseo','action' => $this->getAction),'Classified-Story-List/*',true); ?>" class="btn btn-block btn-seo"><span class="glyphicon glyphicon glyphicon-link"></span> <?php echo $this->translator->translator('common_classified_link'); ?></a>
		<a href="#" id="slick-slidetoggle" class="btn btn-block btn-search"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        
        <div id="slickbox" class="well">
         	<form name="searchForm" id="searchForm" role="form">
            	<div class="form-group">
                	<label for="name"><?php echo $this->translator->translator('front_tradeshow_name'); ?></label>
                    <input type="text" class="form-control" name="name" id="name" operator="contains" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="advcountry"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></label>
                    <input name="advcountry" id="advcountry" operator="eq" />
                </div>
                
                <div class="form-group">
                	<label for="package_name"><?php echo $this->translator->translator('b2b_list_company_package_name'); ?></label>
                    <input type="text" name="package_name" id="package_name" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="username"><?php echo $this->translator->translator('b2b_list_search_company_email'); ?></label>
                    <input type="text" name="username" id="username" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <a href="javascript: void(0);" class="search_btn btn btn-block btn-global"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        	</form>
     	</div>
    </div>
    
    <div class="grid-puller"> 
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
            <div id="grid"></div>  
        </div>
    </div>
</div>

<div id="dialog_msg"></div>