<?php
$front_template = Zend_Registry::get('front_template');

?>

<div class="mod details">
	<h1><?php echo $this->translator->translator('front_tradeshow_details');?></h1>
    <br><br>
    <?php
	$tradeShow = $this->tradeshow;
	if (is_array($tradeShow) && !empty($tradeShow)){
		
	?>
    <h3><?php echo $tradeShow['title']?></h3>
    <br>
    <figure>
        <div class="thumb">
        	<img src="<?php echo $tradeShow['images_path'].'/'.$tradeShow['b2b_images']?>" width="150" border="0" />
        </div>
  	</figure>
  	<br>
	<div class="well">
    	<?php echo $this->escape($tradeShow['description']); ?>
    </div>
    
    <table class="table table-striped table-hover table-bordered">
    
      <?php if($tradeShow['name']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_name'); ?></td>
        <td><?php echo $this->escape($tradeShow['name']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['start_date']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_start_date'); ?></td>
        <td><?php echo $this->escape($tradeShow['start_date']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['timepicker']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_time'); ?></td>
        <td><?php echo $this->escape($tradeShow['timepicker']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['end_date']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_end_date'); ?></td>
        <td><?php echo $this->escape($tradeShow['end_date']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['venue']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_venue'); ?></td>
        <td><?php echo $this->escape($tradeShow['venue']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['address']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_address'); ?></td>
        <td><?php echo $this->escape($tradeShow['address']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['country']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('b2b_front_company_profile_country'); ?></td>
        <td><?php echo $this->escape($tradeShow['country_name']); ?> ( <img src="data/adminImages/flagsImage/<?php echo $tradeShow['country_code']?>.gif" border="0" /> )</td>
      </tr>
      <?php endif; ?>
      
      
      <?php if($tradeShow['size']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_size'); ?></td>
        <td><?php echo $this->escape($tradeShow['size']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['exhibitors']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_exhibitors'); ?></td>
        <td><?php echo $this->escape($tradeShow['exhibitors']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['attendees']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_attendees'); ?></td>
        <td><?php echo $this->escape($tradeShow['attendees']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['floor']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_floor'); ?></td>
        <td><?php echo $this->escape($tradeShow['floor']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['phone']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_phone'); ?></td>
        <td><?php echo $this->escape($tradeShow['phone'] .'-'. $tradeShow['phone_part2'] . '-' .$tradeShow['phone_part3']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['fax']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_fax'); ?></td>
        <td><?php echo $this->escape($tradeShow['fax'] .'-'. $tradeShow['fax_part2'] . '-' .$tradeShow['fax_part3']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['website']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('b2b_front_tradeshow_website'); ?></td>
        <td><a href="<?php echo $this->escape($tradeShow['website']); ?>"><?php echo $this->escape($tradeShow['website']); ?> </a></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['focus']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_focus'); ?></td>
        <td><?php echo $this->escape($tradeShow['focus']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['product_service']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_product_service'); ?></td>
        <td><?php echo $this->escape($tradeShow['product_service']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['attendee_info']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_attendee_info'); ?></td>
        <td><?php echo $this->escape($tradeShow['attendee_info']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['exhibitor_info']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_exhibitor_info'); ?></td>
        <td><?php echo $this->escape($tradeShow['exhibitor_info']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['description']) : ?>
      <tr>
        <td><?php echo $this->translator->translator('front_tradeshow_description'); ?></td>
        <td><?php echo $this->escape($tradeShow['description']); ?></td>
      </tr>
      <?php endif; ?>
    </table>
   	<hr>
	<h1><?php echo $this->translator->translator('front_tradeshow_organizer_contact_info');?></h1>
	<br><br>
    <table class="table table-striped table-hover table-bordered">
		  <?php if($tradeShow['logo']) : ?>
          <tr>
            <td><?php echo $this->translator->translator('front_tradeshow_logo'); ?></td>
            <td><img src="<?php echo $this->escape($tradeShow['logo']); ?>"> </td>
          </tr>
          <?php endif; ?>
      
          <?php if($tradeShow['organizer']) : ?>
          <tr>
            <td><?php echo $this->translator->translator('front_tradeshow_organizer'); ?></td>
            <td><?php echo $this->escape($tradeShow['organizer']); ?></td>
          </tr>
          <?php endif; ?>
                    
          <?php if($tradeShow['theme']) : ?>
          <tr>
            <td><?php echo $this->translator->translator('front_tradeshow_theme'); ?></td>
            <td><?php echo $this->escape($tradeShow['theme']); ?></td>
          </tr>
          <?php endif; ?>
    
          <?php if($tradeShow['homepage']) : ?>
          <tr>
            <td><?php echo $this->translator->translator('front_tradeshow_description'); ?></td>
            <td><a href="<?php echo $this->escape($tradeShow['homepage']); ?>"><?php echo $this->escape($tradeShow['homepage']); ?></a></td>
          </tr>
          <?php endif; ?>       
    </table>
    <?php 
 	}
	else {	
		echo '<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span> '.$this->translator->translator('b2b_front_404_not_found').'</div>';
	}
	?>
</div>