<?php
$frontController = Zend_Controller_Front::getInstance();	
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$translator = Zend_Registry::get('translator'); 
?>

<div id="nav">
    <div class="nav-header"><div class="nav-title"><?php echo $translator->translator('autos_menu_title'); ?></div></div>
    <div class="nav-body">
    	<ul>
            <?php if ($this->allow('listgrp','backendgrp','Autos')) : ?>
            <li <?php if($getAction == 'listgrp' && strtolower($getController) == 'backendgrp'){ ?> class="auto-group selected"<?php }else{ ?>class="auto-group"<?php } ?>>
            <a href="<?php echo $this->url(array('module' => 'Autos','controller'=>'backendgrp', 'action'=>'listgrp'),'adminrout',true);?>" ><?php echo $translator->translator('autos_menu1'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','backendbrand','Autos')) : ?>
            <li <?php if($getAction == 'list' && strtolower($getController) == 'backendbrand'){ ?> class="auto-brand selected"<?php }else{ ?>class="auto-brand"<?php } ?>>
            <a href="<?php echo $this->url(array('module' => 'Autos','controller'=>'backendbrand', 'action'=>'list'),'adminrout',true);?>"><?php echo $translator->translator('autos_menu8'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','backend','Autos')) : ?>
            <li <?php if($getAction == 'list' && strtolower($getController) == 'backend'){ ?> class="auto-cat selected"<?php }else{ ?>class="auto-cat"<?php } ?>>
            <a href="<?php echo $this->url(array('module' => 'Autos','controller'=>'backend', 'action'=>'list'),'adminrout',true);?>"><?php echo $translator->translator('autos_menu2'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','backendpro','Autos')) : ?>
            <li <?php if($getAction == 'list' && strtolower($getController) == 'backendpro'){ ?> class="auto selected"<?php }else{ ?>class="auto"<?php } ?>>
            <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendpro', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu3'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('saved','backendpro','Autos')) : ?>
            <li <?php if($getAction == 'saved' && strtolower($getController) == 'backendpro'){ ?> class="auto-saved selected"<?php }else{ ?>class="auto-saved"<?php } ?>>
            <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendpro', 'action'     => 'saved' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu7'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','backendtype','Autos')) : ?>
            <li <?php if($getAction == 'list' && strtolower($getController) == 'backendtype'){ ?> class="auto-type selected"<?php }else{ ?>class="auto-type"<?php } ?>>
            <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendtype', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu4'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','backendspareparts','Autos')) : ?>
            <li <?php if($getAction == 'list' && strtolower($getController) == 'backendspareparts'){ ?> class="auto-type selected"<?php }else{ ?>class="auto-type"<?php } ?>>
            <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu15'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('saved','backendspareparts','Autos')) : ?>
            <li <?php if($getAction == 'saved' && strtolower($getController) == 'backendspareparts'){ ?> class="auto-saved selected"<?php }else{ ?>class="auto-saved"<?php } ?>>
            <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'saved' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu16'); ?></a>
            </li>
            <?php endif; ?>
            
            <?php if ($this->allow('list','state','Geo')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'state'){ ?> class="property-state selected"<?php }else{ ?>class="property-state"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'state', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu5'); ?></a>
           	</li>
			<?php endif; ?>
            
            <?php if ($this->allow('list','city','Geo')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'city'){ ?> class="property-area selected"<?php }else{ ?>class="property-area"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('autos_menu6'); ?></a>
           	</li>
			<?php endif; ?>
			
			<?php if ($this->allow('list','backendvote','Vote')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected last"<?php }else{ ?>class="vote last"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'autos_page'  ),'adminrout',true) ?>"><?php echo $translator->translator('vote_menu_title','' , 'Vote'); ?></a>
            </li>
			<?php endif; ?>
		</ul>
	</div>
</div>