<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$my_account = 'Members-Dashboard' ;
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('front_topbar_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('front_topbar_signin','', '', $front_template['theme_folder']).'</a>';
?>

<script type="text/javascript">

$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '&nbsp;', '<?php echo $this->translator->translator('front_topbar_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<header>
	<div id="top-bar">
        <div class="col-xs-12 user-link">
            <?php echo $this->translator->translator('front_topbar_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?> <?php if(!$auth->hasIdentity()){ ?>| <a href="Registration/104"><?php echo $this->translator->translator('front_topbar_register','', '', $front_template['theme_folder']); ?></a><?php } ?>
        </div>
        <div class="col-xs-12 top-links">
        	<!--<a href="<?php //echo $my_account; ?>"><?php //echo $this->translator->translator('front_topbar_myaccount','', '', $front_template['theme_folder']); ?></a>
          	<a href="Register"><?php //echo $this->translator->translator('front_topbar_registration','', '', $front_template['theme_folder']); ?></a> |-->
            <a href="Feedback"><?php echo $this->translator->translator('front_topbar_feedback','', '', $front_template['theme_folder']); ?></a> |
            <a href="Sitemap"><?php echo $this->translator->translator('front_topbar_sitemap','', '', $front_template['theme_folder']); ?></a> |
            <a href="Contact-Us"><?php echo $this->translator->translator('front_topbar_contact','', '', $front_template['theme_folder']); ?></a> &nbsp;
            <div class="flags">
                <?php echo $this->partial('blocks/header_language.phtml'); ?>
            </div>
        </div>
    </div>
    
    <div id="header" class="listing-btn">
		<div class="col-xs-12 logo text-center">
        	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" height="60" border="0" class="img-responsive" /></a>
      	</div>
    </div>
</header>