<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link = 'Members-Dashboard' ;
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('header_logout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('header_login','', '', $front_template['theme_folder']).'</a>';
?>

<!-- Top Bar Start -->
<div id="top-bar">
    <div class="container">
        <div class="col-md-5 welcome user-link">
        	<?php echo $this->translator->translator('header_welcome', '', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?>| <?php echo $sugnIn_link; ?> | <a href="Registration/104"><?php echo $this->translator->translator('header_register', '', '', $front_template['theme_folder']); ?></a>
        </div>
        
        <div class="col-md-7 top-links">
            <ul>
                <li class="first"><a href="<?php echo $acount_link; ?>" ><?php echo $this->translator->translator('common_front_account', '', '', $front_template['theme_folder']) ?></a></li>
                <li><a href="<?php echo $this->url(); ?>"  rel="sidebar" title="<?php echo $this->translator->translator('header_favorites', '', '', $front_template['theme_folder']); ?>"><?php echo $this->translator->translator('header_favorites', '', '', $front_template['theme_folder']); ?></a></li>
                <li><?php echo $sugnIn_link; ?></li>
                <li><a href="Register"><?php echo $this->translator->translator('header_registration', '', '', $front_template['theme_folder']); ?></a></li>
            </ul>
            
            <div class="flags">
                <?php echo $this->partial('blocks/header_language.phtml'); ?>
            </div>
        </div>    
    </div>
</div>
<!-- Top Bar End -->

<header id="header">
	<div class="container">  
        <div class="col-md-6">
            <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" height="61" border="0"></a>
        </div>
        
        <div class="col-md-6 right">
       		<script type="text/javascript" src="http://localhost/main-cms-21-12-13/News/advertise/ad/id/229"></script>
        </div>
    </div>
</header>