/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Vacationrental Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 76%;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	margin:0 0 0 10px;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 0 5px 8px;
}

select option{
	padding:0 4px 0 0;
}

/* ********************************************************************************** */


/* LAYOUT STYLES ******************************************************************** */

#content{
	float:right;
}

/* Header --------------------------------------------------------------------------- */

#header .logo{
	float:right;
}

#header .quick-access{
	text-align:left;
	float:left;
}

#header .support{
	clear:left;
}

/* ---------------------------------------------------------------------------------- */

/* Top Links ------------------------------------------------------------------------ */

.top-links ul{
	float:right;
}

.top-links ul li{ 
	margin-right:0; 
	border-right:0;
	border-left:1px solid #C0C0C0;
}

/* ---------------------------------------------------------------------------------- */

/* Side Bar ------------------------------------------------------------------------- */

#sidebar{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */


.block .thumb{
	margin: 2px 0 2px 4px;
	float:right;
}

.block .img-wrapper,
	   .img-wrapper{
	float:right;
}

.block .img-wrapper .photo-count-container{
	left:130px;
}

.block .img-wrapper .type{
	left:9px;
}

.block .link-btn a{
	float:left;
}

.block .more a {
	background-image: url(../images/arrow-2-rtl.gif);
	background-position:99% 2px;
	padding: 0 15px 0 0;
	float:right;
	clear:right;
}

.left-float {
	float:right;
	margin: 0 0 5px 10px;
}

.right-float {
	float:left;
	margin: 0 10px 5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .social{
	float:left;
}

#footer .links{
	float:right;
}

#footer .links ul li {
	padding: 0 5px 0 1px; 
	border-left: 0;
	border-right: 1px solid #CCC;
}
			
#footer .links ul li.first{ 
	border-right:0;
	padding-left:0;
}

.go-top a{
	right:0;
	left:30px;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner{
	float:right;
}

#content-inner{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
	margin:0 5px 0 0;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown dd ul{ 
	left:0px;
	right:-17px;
}

.dropdown dd ul li{
	border-left:0;
}

.dropdown span.flag{
	margin-left:0;
	margin-right:10px;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.dm-menu {
	float: right !important;
}

.dm-menu li {
	float:right !important;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0px -1px 0 4px;
}

.usual-content{
  clear:right;
  border-radius: 6px 0 6px 6px;
}	

.usual-content .block-body{
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Banner Search -------------------------------------------------------------------- */

.block-search .col{
	padding: 0 0 10px 12px;
	float:right;
}

.block-search p{
	padding: 4px 0 4px 8px;
}

.block-search a{
	background:url(../images/arrow-2-rtl.gif) no-repeat right center;
	padding:2px 15px 2px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search p{
	clear:right;
}

.block-sidebar-search .block-content-2 select.left{
	float:right;
}

.block-sidebar-search .block-content-2 select.right{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-content input[type="checkbox"]{
	margin:5px 0 5px 4px;
}

.block-search-filter .block-content input[type="radio"]{
	margin:3px 0 5px 4px;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Vacationrentals --------------------------------------------------------- */

.block-featured{
	text-align:right;	
}

.block-featured .col{
	margin: 5px 30px 5px 0;
	float:right;
}

.mod-home .block-featured .col{
    float:right;
    margin: 4px 12px 12px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Popular & Recent Vacationrentals List View --------------------------------------- */

.block-list .block-content .img-wrapper .thumb{
	margin: 2px 0 2px 8px;
}

.block-list .block-content .img-wrapper .photo-count-container{
	left:0px;
	right:12px;
}

.block-list .block-content .details{
	float:right;
}

.block-list .block-content .right-col{
	float:left;
	text-align:left;
}

/* ---------------------------------------------------------------------------------- */

/* Listing View --------------------------------------------------------------------- */

.block-listing .col{
	margin:5px 5px 5px 0;
	float:right;
}

.block-listing ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position:98% 7px;
	padding:0 20px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe p{
	float:right;
	clear:right;
}

.block-subscribe input[type="text"]{
	float:left;
}

.block-subscribe input[type="button"]{
	float:left;
	clear:left;
}

.block-subscribe img.loader {
	padding:30px 125px 30px 0;
}

/* ----------------------------------------------------------------------------------- */

/* Social ---------------------------------------------------------------------------- */

.block-social .block-body h1{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .col{
	padding: 0 0 3px 12px;
	float:right;
}

.mod .img-wrapper .photo-count-container{
	left:0;
	right:5px;
}

.mod .social{
	float:left;
	text-align:left;
}

.mod .list{
	margin:5px 10px 5px 0;
	float:left;
}

.mod .list ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position:98% 7px;
	background-repeat:no-repeat;
	padding:0 20px 0 0;
}

.mod .thumb{
	margin: 0 0 0 10px;
	float:right;
}

.mod .more a {
	background: url(../images/arrow-2-rtl.gif);
	background-repeat:no-repeat;
	background-position:right center;
	float:right;
	padding: 0 15px 0 0;
	clear:right;
}

.mod .chart .label{
	float:right;
	clear:left;
}

.mod .chart .value{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Product Advance Search ----------------------------------------------------------- */

.mod-advance-search .ui-widget .ui-autocomplete-input{
	float:right;
}

.mod-advance-search .ui-widget .ui-button{ 
	margin-left: 0px;
	margin-right: -1px;
}

.mod-advance-search .ui-combobox-input{
	width:353px;
}

/* ---------------------------------------------------------------------------------- */

/* Product List --------------------------------------------------------------------- */

.products-list .list-header .header-row .header-left{
	padding:2px 5px 2px 0;
}

.products-list .list-header .header-row .header-right{
	padding:2px 0 2px 5px;
	text-align:left;
	margin: 0 0 0 5px;
}

.products-list .left-content{
	float:right;
}

.products-list .right-content{
	float:left;
}

.products-list .list-footer .footer-left{
	margin: 12px 5px 10px 0;
	float:right;
}

.products-list .list-footer .footer-right{
	float:left;
	text-align:left;
	padding: 0 10px 0 5px;
}

.products-options li{
	background-position: 99% 4px;
	background-repeat:no-repeat;
	padding:7px 27px 2px 0;
}

.products-featured{
	background-position:30% 40px;
}

.products-available,
.products-not-available{
	background-position: 99% center;
	padding-left:0;
	padding-right:20px;
}

.products-vote span{
	margin-right:5px;
}

.products-vote span input[type="button"]{
	margin: 0 0 -5px 4px;
	border:0;
	float:right;
}

.products-write-review a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding:0 20px 2px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details ------------------------------------------------------------------ */

.mod-details .nav-bar .nav-row .nav-col.first{
	text-align:right;
}

.mod-details .nav-bar .nav-row .nav-col.last{
	text-align:left;
}

.mod-details .nav-bar .no-link{
	background-repeat:no-repeat;
	background-position:right center;
	padding-left:0;
	padding-right:20px;
}

.mod-details .nav-bar .prev a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding-left:0;
	padding-right:20px;
}

.mod-details .nav-bar .next a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding-left:0;
	padding-right:20px;		
}

.mod-details .nav-bar .search a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding-left:0;
	padding-right:20px;		
}

.mod-details .nav-bar .save a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding-left:0;
	padding-right:20px;			
}

.mod-details h1{
	float:right;
	margin: 10px 0 10px 20px;
}

.mod-details .products-type{
	float:right;
}

.mod-details .products-info{
	float:right;
}

.mod-details .products-info.right{
	float:left;
	text-align:left;
}

.mod-details .products-info .products-status{
	padding: 5px 10px 5px 3px;
	float:left;
}

.mod-details .products-info.right .products-vote span{
	padding-right:0;
	padding-left:18px;
}

.mod-details .products-feature{
	float:right;
}

.mod-details .products-feature.summary{
	float:left;
}

.mod-details .products-details .content .details-info li,
.mod-details .products-details .content .details-info ul li {
	margin-left:0 !important;
	margin-right:10px !important;
	padding-left:0px !important;
	padding-right:10px !important;
}

.mod-details .products-details-header h4.icon{
	background-repeat:no-repeat;
	background-position: 99% center;
	padding: 8px 30px 8px 0;
}

.mod-details .products-feature .label{
	float:right;
	margin-right:0;
	margin-left:2px;
}

.mod-details .products-feature .value{
	float:right;
}

.mod-details .products-feature .summary-value{
	padding-left:0;
	padding-right:12px;
	margin-left:0;
}

.mod-details .additional-thumb{
	margin: 0 18px 18px 0;
}

.mod-details .products-legend{
	float:left;
}

.mod-details .products-legend .legend-icon{
	float:right;
	padding:0 10px 0 0;
}

.mod-details .products-features{
	float:right;
	margin-right:0;
	margin-left:10px;
	text-align:right;
}

.mod-details .tab-element,
.mod-details .tab-value{
	float:right;
}

.mod-details .tab-value{
	margin-left:0;
	margin-right:10px;
}

/* Box Chart Start -- */

.products-chart .chart-desc .label{
	float:right;
}

.products-chart .chart-desc .value{
	float:left;
}

/* Box Chart End -- */

/* Box Chart Settings for Other Chart -- */

.products-chart.summary-chart{
	float:left;
}

.products-chart.products-availability{
	float:right;
}

/* Agent Box Start -- */

.products-agent{
	float:left;
	clear:left;
}

.products-agent .avatar{
	margin-right:0;
	margin-left:15px;
	float:right;
}

.products-agent .pkg-img{
	float:left;
}

.products-agent .company-logo{
	float:right;
	margin:6px 0 0 15px;
}

.products-agent .company-info{
	float:right;
}

.products-agent a.agent-email{
	background-repeat:no-repeat;
	background-position: right 4px;
	padding-left:0;
	padding-right:25px;
}

/* Agent Box End -- */

/* ----------------------------------------------------------------------------------- */

/* Product Details Middle Tab -------------------------------------------------------- */

.products-middle-tab li { 
	float:right;
}

.products-middle-tab ul a {
	margin:0 -1px 0 4px;
}

.products-middle-tab-area{
	border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
}

.products-middle-tab-area .products-slideshow{
}

.products-middle-tab-area .match-container{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.products-match{
	margin: 10px 8px 0 0;
	float:right;
}

.products-match .products-review{
	float:left;
	text-align:left;
}

.products-match .products-review .products-write-review{
	text-align:left;
	margin: 4px 0 0 2px;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow .switch {
    padding: 16px 5px 5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */
			
div.itinerary_main_body_block_clild_body_box2_child1{
	padding-left: 0;
	padding-right: 10px;
}
			
.itinerary-header{
	margin-left:0;
	margin-right:5px;
}
				
.itinerary-price{
	text-align:left;
	padding-right:0;
	padding-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

div.review-box-img{
	float:right;
	margin:5px 5px 5px 12px;
}

div.review-box-title{
	float:right;
}

div.review-box-desc{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:0;
	border-right:1px solid #D6D6D6;
}

.invoice .item-title{
	padding:10px 5px 10px 0;
}

.invoice .due-balance{
	padding:10px 0 10px 5px;
	text-align:left;
}

.invoice a.remove-btn{
	float:left;
	padding:1px 18px 0 5px;
	background-repeat:no-repeat;
	background-position: right center;
}

.invoice-login-area{
	margin: 20px 20px 0 0;
}

.invoice-btn-container{
	padding:10px 15px 5px 0;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	text-align:right;
	float:right;
}

.invoice-section{
	float:left;
}

.invoice-tab-section{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Wego API ------------------------------------------------------------------------- */

.mod-wego .mod-advance-search p span{
	text-align:right;
}

.mod-wego .products-chart .value{
	padding: 0 5px 0 2px;
}

.mod-wego .itinerary_main_body_block_clild_body_box1{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

