<?php
$frontController = Zend_Controller_Front::getInstance();
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$user_type = $frontController->getRequest()->getParam('user_type');
$translator = Zend_Registry::get('translator');
?>

<div id="nav">
    <div class="nav-header"><div class="nav-title"><?php echo $translator->translator('autos_menu_title'); ?></div></div>
    <div class="nav-body">
        <ul>
            <?php //if ($this->allow('list', 'backendpro', 'Userinfo')) : ?>
                <li <?php if ($getAction == 'list' && strtolower($getController) == 'backendpro' && $user_type == 'manager') { ?> class="auto-group selected"<?php } else { ?>class="auto-group"<?php } ?>>
                    <a href="<?php echo $this->url(array('module' => 'Userinfo', 'controller' => 'backendpro', 'action' => 'list', 'user_type' => 'manager'), 'adminrout', true); ?>" ><?php echo $translator->translator('Manger'); ?></a>
                </li>
            <?php //endif; ?>    
                
                <?php //if ($this->allow('list', 'backendpro', 'Userinfo')) : ?>
                <li <?php if ($getAction == 'list' && strtolower($getController) == 'backendpro'&& strtolower($getController) == 'backendpro' && $user_type == 'vendor') { ?> class="auto-group selected"<?php } else { ?>class="auto-group"<?php } ?>>
                    <a href="<?php echo $this->url(array('module' => 'Userinfo', 'controller' => 'backendpro', 'action' => 'list', 'user_type' => 'vendor'), 'adminrout', true); ?>" ><?php echo $translator->translator('Vendor'); ?></a>
                </li>
            <?php //endif; ?> 
        </ul>
    </div>
</div>