/* ___________________________________________________________________________________
   
   CSS Framework for Hotel Reservation Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#0660B8;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color:#0088DD;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #0062D9;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#0066DD;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

.top-bar{
	background-color:#1084F8;
	text-align:center;
	color:#EFEFEF;
}

.user-link{
	border-bottom:1px solid #06C;	
}

.user-link a{
	color:#EFEFEF;
	text-decoration:underline;
}

.user-link a:hover{
	text-decoration:underline;
}

.top-links a{
	color:#EFEFEF;
	display:inline-block;
}

.top-links a:hover{
	color: #EFEFEF;
}

.user-link,
.top-links{
	padding-top:10px;
	padding-bottom:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
	padding:10px;
	text-align:center;
}

#header img.logo{
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	margin-bottom:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
	display:inline-block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:17px;
	color:#0099FF;
	letter-spacing:normal;
	display:block;
	text-align:center;
}

.block h6 a:hover{
	color:#F60;
}

.block .btn{
}

.block .panel{
	border-radius:0;
	margin-bottom:15px;
}

.block .panel .panel-heading h3{
	margin-bottom:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
}

.block .panel .price,
	   .panel .price,
	       li .price{
	color: #0099FF;
    font-size: 20px;
	font-weight:bold;
    padding: 8px 0;
}

.block .panel .previous,
	   .panel .previous,
	       li .previous{
	color: #999999;
    font-size: 17px;
    padding: 5px 0;
	text-decoration:line-through;	
}

.block .panel .label{
	font-size:13px;
	font-weight:normal;
}

.block .panel .label a{
	color:#FF0;
}

.block .panel .info{
	color:#F60;
}

.block figure{
	margin-top:10px;
	text-align:center;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin-bottom:10px;
	display:inline-block;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
	position:absolute;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
    background: rgba(16, 132, 248, 0.8);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
}

.block figure .photo-count-container .photo-count a,
	   figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover,
	   figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure img,
	   figure img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .details{
	color: #788081
}

.block .details .ratings{
	margin: 5px 0 10px 0;
	text-align:center;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 6px 22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
}

.block .more a:hover{
	background-color:#258DD3;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	color:#FFF;
	border-top:3px solid #FC0;
	background-color:#0465C6;
	padding:20px 0;
	margin-top:15px;
}

#footer hr{
	margin-top:10px;
	margin-bottom:10px;
	border-top:0px;
	border-bottom: 1px solid #0354A5;
}

#footer span{
	color:#FFF;
}

#footer ul li a{
	color:#FFF;
	line-height:30px;
}

#footer ul li a:hover{
	text-decoration:underline;
}

#footer .copyright a{
	color:#FFF;
	text-decoration:underline;
	margin-bottom:10px;
}

#footer .copyright a:hover{
	text-decoration:underline;
}

#footer .social{
	text-align: center;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

.go-top a{
	font-size:18px;
	background:#00A7D7;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe h1{
	padding: 0 0 10px 0;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
}

.block-subscribe .newsletter_arr{
	color:#F00;
	font-style:italic;
	line-height:22px;
	display:block;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-type{
	margin-bottom:15px;
}

.block-type img.flag{
	border:1px solid #DDDDDD;
	padding:4px;
}

.block-type .label{
	font-size:13px;
	font-weight:normal;
	padding:5px;
	border-radius:0;
	vertical-align:middle;
}

.block-type .label a{
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search{
	margin-bottom:15px;
}

.block-search h2{
	margin:0;
	padding:12px 2px;
	margin-bottom:8px;
	font-size:16px;
	background-color:#FD9B09;
	color:#FFF;
	text-align:center;
}

.block-search h2:hover{
	background-color:#F49300;
}

.block-search h2.active{
	background-color:#FD9B09;
}

.block-search a.slick-searchtoggle{
	text-decoration:none;
}

.block-search #searchtoggle{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding-bottom:15px;
	margin-bottom:15px;
}

.block-search a.btn,
.block-search input[type="submit"],
.block-search input[type="button"]{
	background-color:#0088DD;
	color:#FFF;
	padding: 10px 45px;
	margin:5px 0 15px 0;
	font-size:15px;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}

.block-search a.btn:hover,
.block-search input[type="submit"]:hover,
.block-search input[type="button"]:hover{
	background-color:#0066DD;
	color:#FFF;
}

.block-search input[type="text"].check-date{
	width:74%;
	display:inline-block;
}

.block-search img{
	float:right;
	margin:0;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search{
	padding:10px;
}

.block-sidebar-search .k-label,
.block-sidebar-search .form-group{
	color:#FFF;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	border-radius:0;
	border:1px solid #FFF;
}

.block-sidebar-search h1{
	color:#FFF;
	font-weight:bold;
	letter-spacing:-2px;
	text-align:center;
	font-size:23px;
}

.block-sidebar-search input[type="text"].check-date,
.block-search input[type="text"].check-date{
	width:78%;
	display:inline-block;
}

.block-sidebar-search img.ui-datepicker-trigger,
.block-search img.ui-datepicker-trigger{
	float:right;
	margin-top:0;
}

.block-sidebar-search .btn{
	background-color:#FFB500;
	color:#FFF;
	font-size:17px;
	border-radius:0px;
	outline: 0 none;
	padding-top:10px;
	padding-bottom:10px;
}

.block-sidebar-search .btn:hover{
	background-color:#FB9700;
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-body{
	border:0;
}

.block-search-filter .block-content{
	display:block;
	overflow:visible;
}

.block-search-filter .block-content img{
	vertical-align:middle;
}

.block-search-filter label{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Hotels Business Type ------------------------------------------------------------- */

.block-biztype{
	margin-top:25px;
	margin-bottom:15px;
}

.block-biztype a{
	background-repeat:no-repeat;
	background-position:center 0;
	display:block;
	font-size:15px;
	color:#FFF;
}

.block-biztype a.apt{
	background-image:url(../../images/icon-apt.png);
}

.block-biztype a.apt:hover{
	background-image:url(../../images/icon-apt-hover.png);
}

.block-biztype a.motel{
	background-image:url(../../images/icon-motel.png);
}

.block-biztype a.motel:hover{
	background-image:url(../../images/icon-motel-hover.png);
}

.block-biztype a.residence{
	background-image:url(../../images/icon-residence.png);
}

.block-biztype a.residence:hover{
	background-image:url(../../images/icon-residence-hover.png);
}

.block-biztype a.resort{
	background-image:url(../../images/icon-resort.png);
}

.block-biztype a.resort:hover{
	background-image:url(../../images/icon-resort-hover.png);
}

.block-biztype a.convention{
	background-image:url(../../images/icon-convention.png);
}

.block-biztype a.convention:hover{
	background-image:url(../../images/icon-convention-hover.png);
}

.block-biztype .icon-nav{
	width:100%;
	text-align:center;
}

.block-biztype .icon-nav p{
	padding:75px 0 0 0;
}

.block-biztype .box{
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.block-biztype .box.box-1{
	background-color:#00A4EF;
}

.block-biztype .box.box-2{
	background-color:#7FBA01;
}

.block-biztype .box.box-3{
	background-color:#FFB900;
}

.block-biztype .box.box-4{
	background-color:#F25022;
}

.block-biztype .box.box-5{
	background-color:#5C3AAC;
}

.block-biztype .box:hover{
	background-color:#0072C6;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-left:0;
	padding-left:0;
}

.block-list ul li{
	background-image:url(../../images/list-arrow.gif);
	list-style:none;
	background-position:0px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 10px;
	line-height:24px;
	white-space:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Block Count ---------------------------------------------------------------------- */

.block-count h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;
	font-size:22px;
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map{
	margin-bottom:15px;
}

.block-map .btn{
	background-color:#0896FF;
	border:0;
	color:#FFF;
	padding:6px;
}

.block-map .btn:hover{
	color:#FFF;
}

.block-map .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-map .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-map .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-map .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad{
	height:165px;
	overflow:hidden;
}
	
.block-scrolling-ad img{
	margin:10px;
}

.block-scrolling-ad .simply-scroll{
	margin:0;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
	border-bottom:1px solid #E9E9E9;
	text-align:left;
}

.block-news h4 a{
	font-size: 17px;
	
	text-transform: none;
	letter-spacing:normal;
}

.block-news .date{
	padding: 2px 4px;
	color: #F60;
	margin: 6px 0;
	display: inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .ratings{
	text-align:center;
	margin:12px 0;
}

.mod .ratings span{
	font-size:20px;
	color:#F7BA0A;
}

.mod .count{
	color:#C00;
}

.mod .call{
	color:#F90;
	font-size:20px;
	font-weight:bold;
}

.mod .hotel-icon{
    display: inline-block;
	width: 25px;
    height: 25px;
    margin-right: 4px;
    vertical-align: -5px;
	background-repeat:no-repeat;
	background-position:left center;
}

.mod .hotel-icon.icon-calendar{
    background-image: url("../../mobile/images/calendar.png");
}

.mod .hotel-icon.icon-plane{
    background-image: url("../../mobile/images/plane.png");
}

.mod .hotel-icon.icon-swimming{
    background-image: url("../../mobile/images/swimming.png");
}

.mod .hotel-icon.icon-pet{
    background-image: url("../../mobile/images/pet.png");
}

.mod .hotel-icon.icon-internet{
    background-image: url("../../mobile/images/internet.png");
}

.mod .hotel-icon.icon-phone{
    background-image: url("../../mobile/images/phone.png");
}

.mod .panel .label,
.mod.details .label{
	font-size:13px;
	font-weight:normal;
}

.mod .grid-puller{
	/*margin:0 0 0 0px*/
}

.mod .grid-puller .km-pane-wrapper,
.mod .grid-puller .k-content{
	position:relative;
}

.mod .grid-puller .k-scheduler-phone .k-scheduler-monthview .k-scheduler-table td span{
	font-size:8px;
}

.mod .k-pager-wrap{
	/*margin-bottom:15px;*/
}

.mod figure{
	text-align:center;
}

.mod figure .thumb{
	margin-bottom:0;
	position:relative;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading p{
	margin:0 0 8px 0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-body a.person-count,
.mod .panel .panel-body a.preview{
	text-decoration:none !important;
}

.mod .panel .panel-footer .btn{
	font-size:15px;
	border-radius:0;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:3px solid;
}

.mod .panel .panel-footer .btn.save{
	border-bottom-color:#2F6DA6;
}

.mod .panel .panel-footer .btn.book{
	color:#FFF;
	border-bottom-color:#EA8C00;
}

.mod .panel .panel-footer .btn.details{
	border-bottom-color:#3F8F3F;
}

.mod .list-group{
	font-size:14px;
}

.mod .list-group li,
.mod .list-group a{
	border-radius:0;
}

.mod .room-suggestion hr{
	margin:12px 0;
}

.mod.details h1{
	display:inline;
}

.mod.details .btn{
	white-space:normal;
	border-radius:0;
}

.mod.details h4{
	margin:4px 0;
}

.mod.details .gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.mod.details dl dt{
	font-weight:normal;
	color:#F60;
}

.mod.details .agent-info dl{
	margin-top:0;
}

.vote > span{
	display:inline-block;
}

.vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 2px 0px !important;
	border:0;
	width:21px !important;
	float:left;
}

.vote .result{
	line-height:normal !important;
	position:relative !important;
}

.vote .label{
	padding:5px;
}

.vote *,
.vote *:after,
.vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.ribbons {
	margin-left: auto;
	margin-right: auto;
}

#ribbons {
	font-size:13px;
	color:#FFF;
	text-align: center;
	text-transform:uppercase;
	width: 34px;
	height:46px;
	line-height: 69px;
	padding:15px 0;
	background-color: rgba(204, 0, 0, 0.9);
	z-index:1;
	left:12px;
	top:0;
	position:absolute;
}

#ribbons::after{
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 17px solid rgba(204, 0, 0, 0.9);;
	left: 0;
	border-bottom-color: transparent;
}

#ribbons, 
#ribbons:before, 
#ribbons:after{
	box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	-khtml-box-sizing:content-box !important;
}

#ribbons div{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top:10px;
}

.review-count a span{
	color:#FF0;
	font-size:17px;
}

.review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.write-review a{
	color:#F60;
	text-decoration:underline;
}

.write-review a:hover{
	color:#999;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow{
	background-color:#F9F9F9;
	border:1px solid #DDDDDD;
	padding:15px;
}

.products-slideshow #gallery {
	background: #F9F9F9;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 200px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #1084F8;
}

.products-slideshow .ad-gallery .ad-image-wrapper{
	height:200px;
}

.products-slideshow .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{
	width:100% !important;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* Expedia -------------------------------------------------------------------------- */

.mod.expedia .room-no,
.mod.hotelspro .room-no{
	font-size: 14px;
	margin-bottom: 15px;
}

.mod.expedia .block-search .btn-add,
.mod.hotelspro .block-search .btn-add{
	font-size:14px;
	background-color:#00B378;
	padding:5px 15px;
	border-radius:0;
}

.mod.expedia .block-search .btn-add:hover,
.mod.hotelspro .block-search .btn-add:hover{
	background-color:#096;
}

.mod.expedia .callout,
.mod.hotelspro .callout{
	border-left:3px solid;
	border-color:#428BCA;
	background-color:#D9EDF7;
	margin:20px 0;
	padding:10px;
}

.mod.expedia .callout.blue,
.mod.hotelspro .callout.blue{
	border-color:#428BCA;
	background-color:#D9EDF7;
}

.mod.expedia .callout.orange,
.mod.hotelspro .callout.orange{
	border-color:#F0AD4E;
	background-color:#F9F0E3;
}

.mod.expedia .callout.green,
.mod.hotelspro .callout.green{
	border-color:#5CB85C;
	background-color:#DFF0D8;
}

.mod.expedia .callout.red,
.mod.hotelspro .callout.red{
	border-color:#D9534F;
	background-color:#F2DEDE;
}

.mod.expedia .panel-heading{
	position:relative;
}

.mod.expedia .promo-offer{
	position:absolute;
	top:5px;
	right:-10px;
	padding:5px;
	color:#F30;
	background-color:#FFFFEC;
	border:1px solid #FF7200;
	border-radius:4px 4px 0 4px;
	-webkit-border-radius:4px 4px 0 4px;
	-moz-border-radius:4px 4px 0 4px;
	z-index:1;
}

.mod.expedia .promo-offer .glyphicon{
	color: #093;
}

.mod.expedia .corner:before {
    border-top: 10px solid #FF7200;
    border-bottom: medium none;
    border-right: 10px solid transparent;
    content: " ";
    position: absolute;
	top:37px;
	right: -10px;
	z-index:0;
}

.mod.expedia .gallery .img-thumbnail{
	margin-bottom:20px;
}

.promotional{
	color: #F60;
}

.payable{
	color: #093;
}

.non-refundable{
	color:#F00;
}

.promotional,
.payable,
.non-refundable{
	font-size:13px;
	font-style:italic;
	padding:4px 0;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container{
	border:1px solid #DDD;
	padding:5px;
	margin:15px auto;
}

.match-container:hover{
	background-color:#FFFEDF;
}

.match-container ul{
	margin-left:0;
	padding-left:0;
}

.match-container ul li{
	list-style:disc;
}

.match-container img{
	border-radius:0;
}

.match-container hr{
	margin:10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */





