<?php
if(!empty($this->form_info['meta_keywords'])) { $this->headTitle()->headTitle($this->form_info['meta_title'],'SET'); }
if(!empty($this->form_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->form_info['meta_keywords']);}
if(!empty($this->form_info['meta_desc'])) { $this->headMeta()->setName('description',$this->form_info['meta_desc']); }


$version = Zend_Registry::get('version');  
$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>

<?php
if($this->form_info)
{
?>

<?php
	function review_truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	$form_db = new Members_Model_DbTable_Forms();
	$field_db = new Members_Model_DbTable_Fields();
	$fields_db = new Members_Model_DbTable_FieldsValue();  
	$form_info = $form_db->getFormsInfo($this->form_id);								
?>

<?php																						
foreach($this->datas as $entry)
{				
	$fieldsInfo = $field_db->getFieldsInfo($this->form_id);									
	foreach($fieldsInfo as $fields)		
	{
		$value_info = $fields_db->getFieldsValue($this->escape($entry->id),$this->escape($entry->form_id),$this->escape($fields->id));
		
		switch($fields->field_name)
		{
			case $this->settingInfo['name_title_field'] :
					$name_title_field = $value_info[0]['field_value'];
				break;
			case $this->settingInfo['primary_image_field'] :
					$primary_image_field = $value_info[0]['field_value'];
				break;
			case $this->settingInfo['secondary_image_field'] :
					$secondary_image_field = $value_info[0]['field_value'];
				break;
			case $this->settingInfo['short_desc_field'] :													
					$short_desc_field = $value_info[0]['field_value'];
				break;
			case $this->settingInfo['broad_desc_field'] :
					$broad_desc_field = $value_info[0]['field_value'];
				break;												
		}
	}	
				
?>

<div class="mod">
<div class="mod-container">
    <?php
        if(empty($primary_image_field))
        {
            $img_path = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_img/avatar.png';
        }
        else
        {
            $files_arr = explode(',',$primary_image_field);
            $img_path = $this->escape($form_info['attach_file_path']).'/'.$this->escape($files_arr[0]);
        }
    ?>
    <img src="<?php echo $img_path; ?>" width="90" border="0" class="thumb" />
    <span class="mod-title"><a title="<?php echo $this->escape($name_title_field); ?>" href="<?php echo $this->url(array('module'=> 'Members', 'controller' => 'frontend', 'action'     => 'details', 'general_id' => $entry->id, 'group_id' => $this->group_id), 'Review-Details/:general_id/:group_id',    true); ?>"><?php echo $this->escape($name_title_field); ?></a></span><br />
    <?php $desc = strip_tags($short_desc_field,'img');
    echo review_truncate($desc,0,300);  ?><br />        
    <span class="date"><?php echo $this->translator->translator('common_posted_date_title'); ?> <?php echo $this->escape($entry['g_date']); ?></span>
</div>
</div>
<?php
}
?>

<div class="clear">
	<?php echo $this->paginationControl($this->datas, 'Sliding', 'frontend/pagination-flickr.phtml');?>
</div>

<script type="text/javascript">
var settingObj = {
						form_action : {
											form_id: 'GeneralForm',
											hasTinyMCE: <?php if($this->generalForm && !empty($this->settingInfo['broad_desc_field'])){ ?>true<?php }else{ ?>false<?php } ?>,
											go_message_id		: 'actionMessage',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},
						calendar:	{	
										calendar_include_time: true,
										calendar_img_link: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>"
						},
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("product_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("product_selected_err"); ?>"
									}
					};
	$(document).ready(function() {					
		
		$('a.reset_btn').click(function() {			
			 commonResetFormFields(settingObj);	
		 	 commonRemoveFormError(settingObj);
		});
		
		
		$('a.add_user_btn').click(function() {
			var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);		
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'review', 'group_id' => $this->group_id), 'adminrout',    true) ?>",
					type: 'POST',
					data: formData,
					beforeSend: function(){
						commonOpenLoaderDialog(settingObj);
						commonRemoveFormError(settingObj);
					 },
					success: function(response){
						//alert(response);	
						try
						{				
							var json_arr = eval("("+response+")");	
							commonRefreshCaptcha(json_arr, 'span')	;					
							commonCloseLoaderDialog(settingObj);				
							if(json_arr.status == 'ok')
							{
								$('#actionMessage').html(succMsgDesign(json_arr.msg));						
								commonResetFormFields(settingObj);	
									commonGoMessage(settingObj);							
							}
							else if(json_arr.status == 'errV')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
									commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
								}
							}
							else if(json_arr.status == 'errP')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
								commonAddFormError('confirmPassword',json_arr.msg);
							}
							else
							{
								$('#actionMessage').html(errMsgDesign(json_arr.msg));
									commonGoMessage(settingObj);
							}
						}
						catch(error)
						{
							commonCloseLoaderDialog(settingObj);
							var error_arr = 	[error, response];
							var msg = commonErrMsgException(error_arr);				
							$('#actionMessage').html(errMsgDesign(msg));	
							commonGoMessage(settingObj);
						}
					},
					error: function(xhr, status, error){
						commonCloseLoaderDialog(settingObj);
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));
						commonGoMessage(settingObj);
					}
			});
		});	
	});
	

	function calender(id)
	{
		$("#"+id).datepicker({
			showOn: 'button',
			buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
			buttonImageOnly: true,
			monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
			monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
			dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
			showAnim: 'slide',
			buttonText: 'Calender',
			dateFormat:'yy-mm-dd',
			autoSize:false,
			showButtonPanel:false,
			changeMonth: true,
			changeYear: true
		});
		
		$("img[class='ui-datepicker-trigger']").each(function()
		 { 
			$(this).attr('style', '');
		 });
	}
	
	

/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);
		
		var img_code =  '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>'
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';			
		switch(upload_value_field)
		{
			case 'product_thumb':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="product_thumb_primary" id="product_thumb_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
			case 'product_file':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="product_file_primary" id="product_file_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary+down_link;
				
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'</span></div>');				 
			var file_val = fileObj.name;	
		}		
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
</script>

<div class="clear">&nbsp;</div>

<div class="send-feedback-icon">
	<h1><?php echo $this->escape($this->form_info['form_name']); ?></h1>
</div>

<div class="clear">&nbsp;</div>
<?php
if(!empty($this->form_info['front_desc']))
{
?>
<div class="mod">
	<div class="form-desc"><?php echo stripslashes($this->form_info['front_desc']); ?></div>
</div>
<?php
}
?>
<div class="mod mod-form">
	<div id="actionMessage">&nbsp;</div>
	<form name="GeneralForm" id="GeneralForm">
	<?php
		$file_type_arr = explode(',',$this->form_info['attach_file_type']);
		$j= 0;
		foreach($file_type_arr as $key => $value)
		{
			$file_type_arr[$j] = '*.'.$value;
			$j++;
		} 
		$file_format = implode(';',$file_type_arr);									
		$staticGroupsObj = $this->generalForm->getDisplayGroups(); 
		$i=1;									
		foreach($staticGroupsObj as $staticGroup)
		{
			$elementsObj = $staticGroup->getElements();
	?>
    <fieldset>
		<legend><?php echo $this->translator->translator($staticGroup->getAttrib('title')); ?></legend>
        
        <div>
				  <?php	
                      $new_file_info = new Portfolio_Controller_Helper_File();															
                      foreach($elementsObj as $element)
                      {
                          if($element->getAttrib('frontend') == '1')
                          {	
                              $e_name_arr = explode('_',$element->getName());																				
                              $sumbol = (in_array(Eicra_File_Constants::PRICE,$e_name_arr,true)) ? '&nbsp;'.$currency->getSymbol() : '';
							  if($element->getName() == $this->settingInfo['broad_desc_field']){ $this->generalForm->setEditor($this->serverUrl().$this->baseUrl(),$element->getName()); $this->generalForm->getEditor(); }							  
                              switch($element->getType())
                              {
                                  case 'Zend_Form_Element_File':                                                    
                                              $image_file_arr = array();                                                                                                
                                          ?>
                                          
                                              <div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                               </div>
                                      
                                               <div class="form-field-container">
                                                  <div class="form-field">
                                                      <script type="text/javascript">
                                                      $(function(){
                                                          /**************************FILE UPLOAD START******************************/																					
                                                          dynamicUploader("<?php echo $element->getName().'_upload'; ?>", "<?php echo $element->getName(); ?>", <?php echo $this->settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
                                                          /**************************FILE UPLOAD END*********************************/
                                                      });
                                                      </script>
                                                      <span class="ui-widget"><input type="file" name="<?php echo $element->getName(); ?>_upload" id="<?php echo $element->getName(); ?>_upload" /><input type="hidden" name="<?php echo $element->getName(); ?>" id="<?php echo $element->getName(); ?>" class="<?php echo $element->getName(); ?>_class empty_class" value="<?php echo $this->productInfo[$element->getName()]; ?>" /></span>
                                                      <br /><span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                   </div>
                                                   <div class="form-field-info">
                                                      <?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?>
                                                   </div>                                                      									
                                               </div>
                                          
                                          		<div class="form-label-container">
                                                  <div class="label_class">&nbsp;</div>
                                                </div>
                                               
                                               <div class="form-field-container">
                                                  <div class="form-field">
                                                      <span id="selected_file_<?php echo $element->getName(); ?>">
                                                              <?php
                                                                  $dynamic_image_view = '';
                                                                  if(!empty($image_file_arr[0]))
                                                                  {													
                                                                      foreach($image_file_arr as $key => $value)
                                                                      {	
                                                                          $show_file_path  =		$new_file_info->getFilePath($value, $this->settings_info);																												
                                                                          $img_code = '<div class="thumb"><img src="'.$show_file_path.'" title="'.$value.'" width="20" height="10" /></div>';
                                                                          $down_link = (!$new_file_info->isImage($value)) ? '<br /><a href="'.$this->settings_info[$this->settings_info['file_path_field']].'/'.$value.'">'.$this->translator->translator("common_download", "", "Projects").'</a>' : '';
                                                                          $del_link	=	'<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'.$element->getName().'" file_name="'.$value.'" file_path="'.$this->settings_info[$this->settings_info['file_path_field']].'">'.$this->translator->translator("common_delete_title").'</a>'.$down_link;
                                                                          $dynamic_image_view .= '<div class="upload-img box"><span>'.$img_code.'<br /><br />&nbsp;&nbsp;'.$del_link.'&nbsp;&nbsp;&nbsp;</span></div>';
                                                                      }															
                                                                  }
                                                                  echo $dynamic_image_view;
                                                              ?>
                                                          </span>&nbsp;
                                                   </div>                                                     									
                                               </div>
                                          <?php	
                                      break;
                                  case 'Zend_Form_Element_MultiCheckbox':
                                  case 'Zend_Form_Element_Radio':
                                          
                                      ?>
                                              <div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                      		  </div>
                                              
                                              <div class="form-field-container">
                                                  <div class="form-field">
                                                      <span class="ui-widget"><div class="autos-features property-features vacationrental-features tours-features"><?php  echo $element; ?></div></span>
                                                      <br /><span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                  </div>
                                                  <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>
                                              </div>
                                              
                                      <?php                                         
                                      break;									
                                  case 'Zend_Form_Element_Captcha':
								  	  ?>
                                      		<div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                      		  </div>
                                              
                                              <div class="form-field-container">
                                                  <div class="form-field">
                                                      <div class="captcha">
                                                          <span class="ui-widget"><?php  echo $element; ?></span><br />
                                                          <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                      </div>
                                                  </div>
                                                  <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>
                                              </div>
                                      <?php	
								  	  break;
                                  default:
                                                                                                      
                                      ?>
                                      
                                      <div class="form-label-container">
                                          <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>" >
                                              <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>&nbsp;
                                          </div>
                                      </div>
                              
                              		  <div class="form-field-container">
                                          <div class="form-field">
                                              <?php 										
                                                      $id_f = $element->getAttrib('id');
                                                      $id_arr = explode('_',$id_f);
                                                      if(in_array(Eicra_File_Constants::DATE,$id_arr))
                                                      {
                                                    ?>
                                                      <script type="text/javascript">
                                                          $(function() {
                                                              calender('<?php echo $id_f; ?>');
                                                          });
                                                      </script>
                                                     <?php
                                                      }
													  if($element->getName() == Eicra_File_Constants::ITEM_ID)
													  {
														  $element->setValue($this->item_id);																					
														  if($this->item_info)
														  {
															  if(!empty($this->settingInfo['item_name_field']))
															  {
																  if($this->item_info[$this->settingInfo['item_name_field']])
																  {
																	  echo $this->escape($this->item_info[$this->settingInfo['item_name_field']]);
																  }
															  }
														  }
													  }
													  if(($element->getType() == 'Zend_Form_Element_Hidden') && in_array(Eicra_File_Constants::RATE,$id_arr))
                        							  {
															echo '<div id="'.$id_f.'_star"></div>';
													?>
															<script type="text/javascript">
															$(function() {
																raty ('<?php echo $id_f; ?>');
															});
														</script>
                                                    <?php
													  }
                                                      if($element->getType() == 'Zend_Form_Element_MultiCheckbox')
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }
                                                      else
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }															
                                              ?><br />
                                          	  <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>                                              
                                          </div>
                                          <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>                                              
                                       </div>                                     
                                      <?php                                                 
                                      break;										
                              }
                          }
                      }
                  ?>
                  </div>
    </fieldset>
    <?php
        $group_no = ($this->escape($this->form_info['group_no'])) ? (int)$this->escape($this->form_info['group_no']) : 2;
        }
    ?>
	</form>

    <div class="clear btn-container">
        <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><?php echo $this->translator->translator('common_reset'); ?></a></span>
        <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="add_user_btn"><?php echo $this->translator->translator('common_submit'); ?></a></span>
    </div>
</div>
<?php
}
else
{
	echo $this->translator->translator('review_settings_invalid');
}
?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>