<?php
class home_banner_slideshow
{
	protected	$_group = 5;
	protected	$_category = 81;
	protected	$_active =	1;
	protected	$_front_template;
	protected	$_translator;
	protected	$_view;
	protected	$postValue;
	protected 	$_vacationrentals_db;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$frontController = Zend_Controller_Front::getInstance();
		$this->postValue = $frontController->getRequest()->getPost();
		$this->_banner_db = new News_Model_DbTable_Page();
	}
	
	public function class_body()
	{
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/unslider.min.js');
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/unslider.css');
		$search_params['filter']['filters'][0] = array('field' => 'group_id', 'operator' => 'eq', 'value' => $this->_group);
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
		$search_params['filter']['filters'][1] = array('field' => 'category_id', 'operator' => 'eq', 'value' => $this->_category);
			
		$list_info = $this->_banner_db->getListInfo($this->_active, $search_params, false) ;
		
?>

		<div class="banner">
            <ul>
                <li class="slide-1">
                	<div class="container">
                	<h1><?php echo $this->_translator->translator('banner_dialog_1','', '', $this->_front_template['theme_folder']); ?>
                    	<p><?php echo $this->_translator->translator('banner_slogan_1','', '', $this->_front_template['theme_folder']); ?></p>
                    </h1>
                    </div>
                </li>
                <li class="slide-2">
                	<div class="container">
                	<h1><?php echo $this->_translator->translator('banner_dialog_2','', '', $this->_front_template['theme_folder']); ?>
                    	<p><?php echo $this->_translator->translator('banner_slogan_2','', '', $this->_front_template['theme_folder']); ?></p>
                    </h1>
                    </div>
                </li>
                <li class="slide-3">
                	<div class="container">
                	<h1><?php echo $this->_translator->translator('banner_dialog_3','', '', $this->_front_template['theme_folder']); ?>
                    	<p><?php echo $this->_translator->translator('banner_slogan_3','', '', $this->_front_template['theme_folder']); ?></p>
                    </h1>
                    </div>
                </li>
            </ul>
        </div>
        <script>
			if(window.chrome) {
				$('.banner li').css('background-size', '100% 100%');
			}
			
			$('.banner').unslider({
				fluid: true,
				dots: true,
				keys: true,
				complete: function() {},
				delay: 5000,
				speed: 500
			});
		
			//  Find any element starting with a # in the URL
			//  And listen to any click events it fires
			$('a[href^="#"]').click(function() {
				//  Find the target element
				var target = $($(this).attr('href'));
				
				//  And get its position
				var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};
				
				//  jQuery will return false if there's no element
				//  and your code will throw errors if it tries to do .offset().left;
				if(pos) {
					//  Scroll the page
					$('html, body').animate({
						scrollTop: pos.top,
						scrollLeft: pos.left
					}, 1000);
				}
				
				//  Don't let them visit the url, we'll scroll you there
				return false;
			});
			
			var GoSquared = {acct: 'GSN-396664-U'};
		</script>
<?php	
	}
}
try
{
	$home_banner_slideshow_class = new home_banner_slideshow($this);
	$home_banner_slideshow_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>