<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$is_frontend = new Eicra_Model_DbTable_Frontend();
$auth = Zend_Auth::getInstance ();
$acount_link =  'Members-Dashboard';
$booking_link = 'Members-Invoice-Item-List';

$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());

echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/slide.js');
$sign_in_out = ($auth->hasIdentity()) ? $this->translator->translator('common_front_header_signout','', '', $front_template['theme_folder']) : $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']);
?>
<div class="top-bar">
	<?php if(!$is_frontend->isFrontend()): 
			if($actionName != 'confirm' && strtolower($controllerName) != 'wego' && strtolower($controllerName) != 'expedia')
			{
				if($actionName != 'index' && !(strtolower($controllerName) == 'expedia' && strtolower($controllerName) == 'wego' && $actionName == 'details'))
				{	
					if( strtolower($controllerName) != 'expedia' && strtolower($controllerName) != 'wego' )
					{
	?>
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <?php 
					}
				}
			}
	endif; ?>
    <div class="container">
        <div class="row">    	
            <div class="col-xs-12 user-link">
                <?php echo $this->translator->translator('common_front_header_welcome', '', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?>
                <?php if(!$auth->hasIdentity()) : ?>
                    <a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a>
                <?php endif; ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-links">
                <a href="Register"><?php echo $this->translator->translator('hotel_front_header_menu_registration','', '', $front_template['theme_folder']); ?></a> | 
                <a href="Site-Map"><?php echo $this->translator->translator('common_front_header_menu_sitemap','', '', $front_template['theme_folder']); ?></a> &nbsp; 
                <div class="flags">
                    <?php echo $this->partial('blocks/header_language.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
        <div class="col-xs-12 text-center">
            <div id="header">
                <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" height="95" border="0" title="<?php echo $this->escape($global_conf['site_title']); ?>" class="logo img-responsive"/></a>
            </div>
        </div>
    </div>
</div>