<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php echo $global_conf['frontend_favicon']; ?>" type="image/x-icon" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$add_url =  $this->url(array('module'=> 'Hotels','controller'=>'members', 'action'=>'add'), 'Members-Hotel-Add/*', true);
?>
</head>
<body>
<div id="page">
	<div id="slide-in-content"> 
        <!-- Header Start -->
        <?php echo $this->layout()->render('header'); ?>
        <!-- Header End -->

        <!-- Top Navigation Start-->
        <nav class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo $this->partial('blocks/top-menu.phtml'); ?>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Top Navigation End-->

		<?php  
            if($is_frontend->isFrontend()) 
            {
        ?>
        <!-- Home Search Start -->
        <?php echo $this->partial('blocks/hotels_home_search.phtml'); ?>
        <!-- Home Search End -->

    	<!-- Content Area Start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <?php echo $this->partial('blocks/hotels_topDestinations.phtml'); ?>
                    <?php echo $this->partial('blocks/hotels_mapView.phtml'); ?>
                    <!-- Featured Tab Starts-->
                    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
                    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                    <div id="demoTab">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('hotels_block_popular_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('hotels_block_featured_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('hotels_block_latest_list_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('tab_news_title','', '', $front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container">                                                        
                            <div><?php echo $this->partial('blocks/hotels_home_content_popular.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/hotels_home_content_featured.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/hotels_home_content_recent.phtml'); ?></div>
                            <div><?php echo $this->partial('blocks/news_content_latest.phtml'); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab").easyResponsiveTabs({
                            type: 'accordion', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any custom width
                            fit: true   // 100% fits in a container
                        });
                    </script>
                    <!-- Featured Tab Ends-->
                    <?php echo $this->partial('blocks/hotels_home_businessType.phtml'); ?>
                    <?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
                    <?php echo $this->partial('blocks/newsletter.phtml'); ?>
                </div>
            </div>
        </div>
    	<!-- Content Area End-->
		<?php
            }
            else
            {
        ?>
    	<!-- Inner Content Start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>
    	<!-- Inner Content End-->  
		<?php
            }
        ?>
        <!-- Footer Start -->
        <?php echo $this->layout()->render('footer'); ?>
        <!-- Footer End -->
    </div>
    <?php if(!$is_frontend->isFrontend()): 
			if($actionName != 'confirm' && strtolower($controllerName) != 'wego' && strtolower($controllerName) != 'expedia')
			{
				if($actionName != 'index' && !(strtolower($controllerName) == 'expedia' && strtolower($controllerName) == 'wego' && $actionName == 'details'))
				{	
					if( strtolower($controllerName) != 'expedia' && strtolower($controllerName) != 'wego' )
					{
	?>
    <!-- Slide Search Panel Start -->
    <nav id="menu">
    	<ul>
    		<li><?php echo $this->partial('blocks/hotels_inner_sidebar_search.phtml'); ?></li>
        </ul>
	</nav>
    <!-- Slide Search Panel End -->
    <?php 	
					}
				}
			}
	endif; ?>
</div>
<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>