<?php
$version = Zend_Registry::get('version');
$this->headTitle()->headTitle(strip_tags($this->translator->translator('password_page_name')),'SET');
?>
<script type="text/javascript">
$(document).ready(function() {
	
	$('a.reset_forget_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});
	function resetFields()
	{
		$( "#formPassword" )[ 0 ].reset();
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
					
		$.each($('#formPassword').serializeArray(), function(i, field) {				
				$('#'+field.name).removeClass('ui-state-error');
				$('#'+field.name+'_err').html('');									
		});				
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'fade',
					resizable: 'false',				
					open: function(event, ui)
						 {
						 	$("#progressbar").progressbar({
								value:100
				
							});							
						  }
				});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		$.each($('#formPassword').serializeArray(), function(i, field) {	
			fieldObj[field.name] = field.value;						
		});
		return fieldObj;
	}
	
	$('a.get_pass_btn').click(function() 
	{				
			var formData = getFormData();			  	
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Password','controller' => 'Backend', 'action'     => 'send' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){
					openLoaderDialog();
					removeError();
				 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					closeLoaderDialog();					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));	
						resetFields();														
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					closeLoaderDialog();
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
	
});

</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('password_page_name'); ?></h1>

    <form name="formPassword" id="formPassword" method="post" role="form">
		<fieldset>	
        	<legend><?php echo $this->translator->translator('password_page_info'); ?></legend>
            <div id="actionMessage"></div>
            
            <div id="generalInfo">
                <div class="form-group">
                    <label for="<?php echo $this->PasswordForm->username->getId(); ?>"><?php echo $this->PasswordForm->username->getLabel(); if($this->PasswordForm->username->isRequired()){ ?><span class="star_class">*</span><?php } ?></label>
                    <?php echo $this->PasswordForm->username; ?>
                	<span class="input-errors" id="username_err"></span>
                </div>
            </div>
            <a href="javascript: void(0);" class="get_pass_btn btn btn-block btn-global"><?php echo $this->translator->translator('common_send'); ?> <span class="glyphicon glyphicon-share-alt"></span></a>
		</fieldset>
       	<!--<a href="javascript:  void(0);" class="reset_forget_btn btn btn-success"><?php //echo $this->translator->translator('common_reset'); ?></a>-->
    </form>
</div>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_processing_language'); ?>" style="display:none">
	<div class="progress progress-striped active">
		<div class="progress-bar progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        	<span class="sr-only">100% Complete</span>
        </div>
	</div>
</div>