<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<?php
$version = new Eicra_License_Version();
?>

<script type="text/javascript">

$(document).ready(function() {	
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	function stripslashes(str) 
	{
		str=str.replace(/\\'/g,'\'');
		str=str.replace(/\\"/g,'"');
		str=str.replace(/\\0/g,'\0');
		str=str.replace(/\\\\/g,'\\');
		return str;
	}
	
	
	function openMsgDialog(msg)
	{
		$('#dialog_msg').html(msg).dialog({
			autoOpen: true,
			modal: true,
			show: 'fade',
			resizable: 'false',				
			buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
	}
		
	$('a.close_dialog_btn').click(function() {		 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});
		
	$('a.reset_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});
	
	function resetFields()
	{
		$( "form" )[ 0 ].reset();					
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
		
		var filename = '';
		var filevalue = '';		
		$.each($('form').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];					
				}
				else
				{
					filename 	= 	field.name;
				} 			
				$('#'+filename).removeClass('ui-state-error');
				$('#'+filename+'_err').html('');									
		});				
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
			autoOpen: true,
			modal: true,
			show: 'fade',
			resizable: 'false',				
			open: function(event, ui)
				 {
					$("#progressbar").progressbar({
						value:100
		
					});							
				  }
		});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		var filename = '';
		var filevalue = '';
		$.each($('form').serializeArray(), function(i, field) {	
			if(field.name.match(/\[\]$/))
			{
				var filearr = field.name.split('[]');
				filename = filearr[0];
				filevalue = $('#'+filename).val();
			}
			else
			{
				filename 	= 	field.name;
				filevalue 	= 	field.value;
			}			
			fieldObj[filename] = filevalue;			
		});		
		return fieldObj;
	}
	
	$('a.update_settings_btn').click(function() {			
			
		var formData = getFormData();
		formData.id = '<?php echo $this->id; ?>';
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Costcalculator','controller' => 'backendsettings', 'action'     => 'update' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						removeError();
						openLoaderDialog();				
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					closeLoaderDialog();					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));									
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function (xhr,status,msg)
				{
					closeLoaderDialog();
					var msg = "Error! " + xhr.status + " " + error;					
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});		
	
});
</script>

<div class="title-container">
	<div class="calculator-settings"><h1><?php echo $this->translator->translator('cost_settings_title'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    
    <div id="content-inner">
    	<form name="form" id="form" method="post">
        	<div id="actionMessage"></div>
        	<div id="generalInfo">
            	<fieldset class="fieldset last">
                	<legend class="legend"><?php echo $this->translator->translator('cost_settings_info'); ?></legend>
                    <div class="form">
                    	<div class="form-row">
                            <div class="label">
                                <?php echo $this->settingsForm->google_api_client_id->getLabel();  if($this->settingsForm->google_api_client_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php echo $this->settingsForm->google_api_client_id; ?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->settingsForm->google_api_client_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->settingsForm->google_api_client_id->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="label">
                               	<?php echo $this->settingsForm->newsletter_template->getLabel();  if($this->settingsForm->newsletter_template->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php echo $this->settingsForm->newsletter_template; ?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->settingsForm->newsletter_template->getLabel()); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $this->settingsForm->newsletter_template->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                   	</div>
             	</fieldset>
         	</div>
     	</form>
		<div class="button-container">
			<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
			<span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
		</div>
	</div>    
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('cost_settings_title')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('cost_settings_title'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	
</div>