<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/raty/js/jquery.raty.js');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/gallery/jquery.ad-gallery.js'); 
echo $this->headLink()->setStylesheet($this->baseUrl().'/js/jquery/gallery/jquery.ad-gallery.css');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jquery.scrollTo.js');

$singleSpace = ' ';
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
$per = $singleSpace . $this->translator->translator('b2b_product_per_unit') . $singleSpace;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_buying_leads' );

if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }

if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title = $this->companyDetails['company_name'] . ' - ' . $this->buying['name']  . ' '.  $this->translator->translator('b2b_with') . ' '. $site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	


?>

<script>
$(document).ready(function() {
	changeImageScrolling();
	$("#usual ul").idTabs();
	try{ 
		var item_array = <?php echo Zend_Json_Encoder::encode($this->buying); ?>;		
		var indexCartModel = kendo.observable({  			
			addToCart: function(e) {					
				$.each(item_array, function(key, value){
						e.data[key] = value;
					});						
				cart.add(e.data);
			}
		});
		kendo.bind($("#cart-info"), indexCartModel); 
	}catch(e){};			
	var galleries = $('.ad-gallery').adGallery({
					slideshow: {
                       enable: true,
                       autostart: true,
                       speed: 5000,
                       start_label: 'Start',
                       stop_label: 'Stop',
                       stop_on_scroll: true,
                       countdown_prefix: '(',
                       countdown_sufix: ')',
                       onStart: false,
                       onStop: false
                     }
					 });
	$('#switch-effect').change(
	  function() {
		galleries[0].settings.effect = $(this).val();
		return false;
	  }
	);
	$('#toggle-slideshow').click(
	  function() {
		galleries[0].slideshow.toggle();
		return false;
	  }
	);
	$('#toggle-description').click(
	  function() {
		if(!galleries[0].settings.description_wrapper) {
		  galleries[0].settings.description_wrapper = $('#descriptions');
		} else {
		  galleries[0].settings.description_wrapper = false;
		}
		return false;
	  }
	);
  
	function changeImageScrolling()
	{
		$.easing.elasout = function(x, t, b, c, d) {
			var s=1.70158;var p=0;var a=c;
			if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
			if (a < Math.abs(c)) { a=c; var s=p/4; }
			else var s = p/(2*Math.PI) * Math.asin (c/a);
			return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
		};
		
		 
		 $("a.change_img").click(function(){
				var self = this;
				var src = $(self).children("img:nth-child(1)").attr('src');			
				$("div.ad-image").children("img:nth-child(1)").attr('src',src);							
				$.scrollTo( '#gallery' , 1500, { easing:'swing' });			
				return false;
			});
	}
	

		
	function text_truncate()
	{
		$('span.jTruncate').jTruncate({  
			length:  300,  
			minTrail: 0,  
			moreText: "common_see_all",  
			lessText: "common_hide",  
			ellipsisText: "",  
			moreAni: "fast",  
			lessAni: 2000  
		});
	}

 });
function raty (id, start_point)
{
	$('#'+id+'_star').raty({
	  path: 'js/jquery/raty/img/',						  
	  hintList:		<?php echo html_entity_decode($this->translator->translator("common_rating_hintList"), ENT_QUOTES, 'UTF-8'); ?>,
	  number:     <?php $hint_arr = explode(', ',str_replace('[', '', str_replace(']', '', $this->translator->translator('common_rating_hintList')))); echo count($hint_arr); ?>,
	  start: start_point,
	  readOnly:   true					 
	});
}
</script>

<div class="mod">

	<div class="clear"></div>

<?php if($this->buying['active'] == '1') : ?>
    <div class="product-details">
        <h1><?php echo $this->escape(($this->buying['subject'])  ? $this->buying['subject'] : $this->buying['name'] ) ?></h1>
        <br />  
        <?php echo $this->escape( $this->buying['description'] ) ?><br />
        <div class="clear"></div>
        <div class="slideshow-container">
            <!-- Slideshow Start -->
                <div class="slideshow">
                    <?php	 	  
                        $image_array = explode(',', $this->buying['others_images']);
						$buying_img_path = $this->companyDetails['buying_img_path'] . '/';
                        if($this->escape($this->buying['primary_file_field']))
                        { 
                            $thumb_image = $buying_img_path . $this->escape($this->buying['primary_file_field']); 
                        }
                        else
                        { 
                            if($this->escape($this->buying['others_images']))
                            {					
                                $thumb_image = $buying_img_path.$this->escape($image_array[0]); 
                            }
                            else
                            {
                                $thumb_image = 'data/frontImages/b2b/b2b_images/no-product.png'; 
                            }		
                        }
                        if($this->companyDetails['img_big_width'] && ($this->companyDetails['img_big_resize_func'] == 'resizeToWidth' || $this->companyDetails['img_big_resize_func'] == 'resize' ))
                        { 
                            $width = 'width="'.$this->escape($this->companyDetails['img_big_width']).'"'; 
                        }
                        else
                        {
                            $width = '';
                        } 
                        if($this->companyDetails['img_big_height'] && ( $this->companyDetails['img_big_resize_func'] == 'resizeToHeight' || $this->companyDetails['img_big_resize_func'] == 'resize' ))
                        { 
                            $height = 'height="'.$this->escape($this->companyDetails['img_big_height']).'"'; 
                        } 
                        else
                        {
                            $height = '';
                        }
                        
                    ?> 
                
                    <div id="container">
                        <div id="gallery" class="ad-gallery">
                          <div class="ad-image-wrapper"></div>
                          <div class="ad-controls"></div>
                            <div class="ad-nav">
                                <div class="ad-thumbs">
                                  <ul class="ad-thumb-list" style="min-width:100%;">
                                    <li>
                                      <a href="<?php echo $thumb_image; ?>">
                                        <img src="<?php echo $thumb_image; ?>"  width="70" height="50" title="<?php echo $this->escape($this->buying['name']); ?>" alt="<?php echo $this->escape($this->companyDetails['city']).', '.$this->escape($this->companyDetails['company_country_name']); ?>"  class="image0">
                                        </a>
                                      </li>
                                    <?php		
                                                                                        
                                        foreach($image_array as $key=>$value)
                                        {									
                                            if($thumb_image != $buying_img_path.$value && !empty ($value))
                                            {
                                      ?>
                                    <li>
                                      <a href="<?php echo $buying_img_path . $value; ?>">
                                        <img src="<?php echo $buying_img_path.$value; ?>"  width="70" height="50" title="<?php echo $this->escape($this->buying['name']); ?>" alt="<?php echo $this->escape($this->companyDetails['city']).', '.$this->escape($this->companyDetails['company_country_name']); ?>"  class="image0">
                                        </a>
                                      </li>
                                    <?php
                                            }
                                        }
                                    ?>					
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="switch">
                          <select id="switch-effect">
                            <option value="slide-hori">Slide horizontal</option>
                            <option value="slide-vert">Slide vertical</option>
                            <option value="resize">Shrink/grow</option>
                            <option value="fade">Fade</option>
                            <option value="">None</option>
                            </select> <a href="#" id="toggle-slideshow">Toggle slideshow</a> |
                          <a href="#" id="toggle-description">Toggle description outside image</a>
                        </div>
                    </div>
                </div>

            <!-- Slideshow End -->
        
        </div>
        
        <div class="details">
        	<?php if ($this->buying['price']) :
				$price_currency_array = explode('-', $this->buying['price_currency']);
				$currency = trim($price_currency_array[0]);
			?>
            <div>
				<h3><?php echo $this->translator->translator('b2b_fontend_buying_price') ?> </h3>
            </div>
                        
            <div class="price"><?php echo $currency .$singleSpace. $this->buying['price']. $per .$this->buying['price_per_unit'] ;?></div> &nbsp;&nbsp;             
			<?php endif ?>            
            
			<?php if ($this->buying['delivery']) : ?>
            	 <div >
	            	<span><?php echo $this->translator->translator('b2b_company_profile_delivery_terms') ?></span> :  <?php echo $this->buying['delivery'].$singleSpace . $this->buying['delivery_leadtime']?>            	
                 </div>
            <?php endif ;?>   
            
            <div class="product-catalog">
                <ul><?php if ($this->buying['shipping']) : ?>
                	<li class="first">
                    	<p><?php echo $this->translator->translator('members_area_product_tbl_shipping') ?></p>
                        <span><?php echo $this->buying['shipping'] ?></span>
                    </li>
                     <?php endif ;
					 	if ($this->buying['shipping_price']) :
					 ?>
                    <li class="middle">
                    	<p><?php echo $this->translator->translator('b2b_shipping_mode') ?></p>
                        <span><?php echo $this->buying['shipping_price'] ?></span>
					</li>
                     <?php endif ;
					 	if ($this->buying['country']) :
					 ?>
                    <li class="last">
                    	<p><?php echo $this->translator->translator('b2b_ship_to_point') ?></p>
                        <span><?php echo $this->buying['country'] ?></span>
                    </li>
                    <?php elseif ($this->companyDetails['country']) : 
					
					?>
                    <li class="last">
                    	<p><?php echo $this->translator->translator('b2b_ship_to_point') ?></p>
                        <span><img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['country_code']?>.gif" border="0"  title = "<?php echo $this->companyDetails['company_country_name']?>" /> ( <?php echo $this->companyDetails['state']?> )</span>
                    </li>
                    
                    <?php endif ;?>
                </ul>
            </div>
            
            <div class="certificate">

            	  <div class="products-vote">
					  <p><?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?> </p> &nbsp; &nbsp; 
					  <span> <?php  echo $this->vote_format ?> </span>
				  </div>  
                  
                              	
                <ul>
                	<li> <?php echo $this->translator->translator('category_list_page_cat_name') ?>  :   <?php echo $this->buying['category_name'] ?> </a> </li>
                    </br>
                    <li> <?php echo $this->translator->translator('b2b_manage_list_package_name') ?>  : <a href="Premium-Membership"> <?php echo $this->companyDetails['package_name'] ?></a>  </li>
					<br />
                    <li> <?php echo $this->translator->translator('b2b_fontend_buying_offer_capacity') ?>  :  <?php echo $this->buying['buying_capacity'] ?>  <?php echo $this->buying['max_buying_unit'] ?>   </li>
                    <br />
                     <?php if ( !empty ($this->preferences_data['show_inquiry_btn']) && !empty ( $this->buying['address'] ) ) {?>
        	            <li> <?php echo $this->translator->translator('b2b_message_sender_address') ?>  :  <?php echo $this->buying['address'] ?>   </li>
                         <br />
                    <?php } if ( !empty ($this->preferences_data['show_inquiry_btn'])&& !empty ( $this->buying['email'] ) ) {?>
    	                <li> <?php echo $this->translator->translator('b2b_message_sender_email') ?>  : <?php echo $this->buying['email'] ?>   </li>
                         <br />
                    <?php } if ( !empty ($this->preferences_data['show_buyer_website']) && !empty ( $this->buying['website'] )) {?>
	                    <li> <?php echo $this->translator->translator('b2b_company_profile_website') ?>  :  <?php echo $this->buying['website'] ?>   </li>
                         <br />
                    <?php } ?>
                </ul>
                <?php if ( !empty ($this->preferences_data['show_contact_btn']) &&  $this->companyDetails ['is_feedback'] === 'YES' ) {?>
               <span class="contact"><a href="<?php echo 'Company-Contact'.'/' .$this->companyDetails['seo_title'] ?>"><?php echo $this->translator->translator('menu_members_add_buyers_contact') ?></a></span> &nbsp; 
 	           <?php } if ( !empty ($this->preferences_data['show_inquiry_btn']) &&   $this->companyDetails ['is_profile'] === 'YES'  ) {?>
               <span class="inquire"><a href="<?php echo 'Inquiry'.'/' .$this->companyDetails['seo_title'] ?>"><span class="icon"><?php echo $this->translator->translator('b2b_company_profile_send_inquiry') ?></span></a></span>
                <?php } ?>
                
            </div>
           
            <!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5178ebc55086e7f7"></script>
			<!-- AddThis Button END -->
             
            <hr />
            <?php  if ($this->buying['name']) :?> <span><?php echo $this->translator->translator('b2b_name_of_buying_product') ?></span> :<?php echo $this->buying['name'] ?><br /><?php endif ;?>
            <!--<?php  //if ($this->buying['added_on']) :?> <span><?php //echo $this->translator->translator('members_area_product_tbl_shipping') ?></span> :<?php //echo $this->buying['added_on'] ?><br /><?php //endif ;?>-->
            <?php  if ($this->buying['id']) :?><span><?php echo $this->translator->translator('b2b_listing_buying_id') ?> </span> : <?php echo $this->buying['id'] ?><br /><?php endif ;?>
            <?php  if ($this->buying['validity']) :?><span><?php echo $this->translator->translator('b2b_fontend_buying_offer_validity') ?> </span> : <?php echo $this->buying['validity'] ?><br /><?php endif ;?>
			<?php  if ($this->buying['quantity']) :?><span><?php echo $this->translator->translator('b2b_fontend_buying_offer_quantity') ?> </span> : <?php echo $this->buying['quantity'] . $per . $this->buying['qty_per_unit']   ?><br /><?php endif ;?>            
            <?php  if ($this->buying['buying_capacity']) :?><span><?php echo $this->translator->translator('b2b_fontend_buying_offer_capacity') ?></span> : <?php echo $this->buying['buying_capacity'] . $per . $this->buying['max_buying_unit']  ?>   <br /><?php endif ;?>
            <?php  if ($this->buying['packaging']) :?><span><?php echo $this->translator->translator('b2b_fontend_buying_offer_packaging') ?></span> : <?php echo $this->buying['packaging'] ?><br /><?php endif ;?>
            <?php  if ($this->buying['payment_type']) :?><span><?php echo $this->translator->translator('b2b_company_profile_payment_type') ?></span> : <?php echo str_replace(',', ', ', $this->buying['payment_type']) ?><br /><?php endif ;?>
            <?php  if ($this->buying['specifications']) :?><span><?php echo $this->translator->translator('b2b_front_product_specifications') ?></span> : <?php echo str_replace(',', ', ', $this->buying['specifications']) ?><br /><?php endif ;?>

        </div>
        
        
        <!-- Tab Start-->	          
        <div id="usual" class="usual">
            <ul>
                <li><a <?php if($this->tab == '1' || empty($this->tab)){ ?> class="selected" <?php } ?> href="<?php echo $tab_base_link; ?>#tabs-1"><?php echo $this->translator->translator('b2b_fontend_tab_more_details'); ?></a></li>
                <li><a <?php if($this->tab == '2'){ ?> class="selected" <?php } ?> class="" href="<?php echo $tab_base_link; ?>#tabs-2"><?php echo $this->translator->translator('b2b_fontend_tab_more_photos'); ?> <span class="label label-warning">(<?php echo count($image_array); ?>)</span></a></li>
                
                <?php
                    if(!empty($this->preferences_data['buying_review_id']))
                    {
						$selected = ($this->tab == '3') ? 'class="selected"'  : ''; 
                        echo '<li><a '.$selected.' href="'.$tab_base_link.'#tabs-3">'.$this->translator->translator('b2b_fontend_tab_more_reviews').'</a></li>';
                    }                    
                ?>
            </ul>
        </div>
        <br>
        <div class="usual-content">
        	<div style="display: block;" id="tabs-1">     
            	   <?php echo $this->buying['description'] ?>
			</div>
           
            <div style="display: block;" id="tabs-2">
           		<h2>More Photos </h2>
                <hr />
                
                <?php
                    if($this->companyDetails['file_thumb_width'] && ($this->companyDetails['file_thumb_resize_func'] != 'resizeToHeight' || $this->companyDetails['file_thumb_resize_func'] != 'resize' ))
                    { 
                        $width_img = 'width="'.$this->escape($this->companyDetails['file_thumb_width']).'"'; 
                    }
                    else
                    {
                        $width_img = '';
                    } 
                    if($this->companyDetails['file_thumb_height'] && ( $this->companyDetails['file_thumb_resize_func'] != 'resizeToWidth' || $this->companyDetails['file_thumb_resize_func'] != 'resize' ))
                    { 
                        $height_img = 'height="'.$this->escape($this->companyDetails['file_thumb_height']).'"'; 
                    } 
                    else
                    {
                        $height_img = '';
                    }
                    $i = 1;
                    foreach($image_array as $key => $value)
                    {
                ?>                 
                <div>
                    <a href="javascript:void(0);" class="change_img preview" link="<?php echo $buying_img_path . $value; ?>" <?php echo $width; ?> <?php echo $height; ?> title="<?php echo $this->escape(($this->buying['subject'])  ? $this->buying['subject'] : $this->buying['name'] ) ; ?>"><img src="<?php echo $buying_img_path . $value; ?>" <?php echo $width_img.' '.$height_img; ?> border="0" class="thumb additional-thumb"/></a>  
                </div>
                <?php                                   
                     $i++;
                  }
                ?>
               	
            </div>
            
            <div style="display: block;" id="tabs-3">     
            	   <?php				   
                    if(!empty($this->review_datas['review_info']))
                    {							
                        foreach($this->review_datas['review_info'] as $key => $infos)
                        {		
                            $div_class = ($key % 2 == 0) ? 'review-box' : 'review-box2';						
                    ?> 
                    <div class="<?php echo $div_class; ?>">
                        <div class="review-box-img">
                            <?php										
                                $primary_image_field = (!empty($this->review_datas['review_settings_info']['primary_image_field'])) ? $this->review_datas['review_settings_info']['primary_image_field'] : '';
                              	$primary_images = (!empty($primary_image_field) && !empty($infos[$primary_image_field])) ? $infos[$primary_image_field] : '' ;
                                if(empty($primary_images))
                                {
                                    $img_path = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_img/avatar.png';
                                }
                                else
                                {
                                    $files_arr = explode(',',$primary_images);
                                    $img_path = $this->escape($this->review_datas['form_info']['attach_file_path']).'/'.$this->escape($files_arr[0]);
                                }
                            ?>
                            <img src= "<?php echo $img_path ?>" width="80" />
                        
                        </div>
                        
                        <div>
                            <div class="review-box-title">
                                        <span>
                                        <?php 
                                            if(!empty($this->review_datas['review_settings_info']['name_title_field']))
                                            { 
                                                $name_title_field  = $this->review_datas['review_settings_info']['name_title_field'];
                                                if(!empty($infos[$name_title_field]))
                                                {
                                                    echo $this->escape($infos[$name_title_field]); 
                                                }
                                            } 
                                        ?>
                                        </span>
                                        
                                        <div>
                                        
                                            <?php 
                                                if(!empty($this->review_datas['review_settings_info']['rating_fields']))
                                                { 												
                                                    $rating_fields_arr  = explode(',',$this->review_datas['review_settings_info']['rating_fields']);
                                                    if(!empty($infos[$rating_fields_arr[0]]))
                                                    {	
                                                        $cnt = $this->escape($infos[$rating_fields_arr[0]]) - 1;                                                    											
                                                        
                                            ?>                                        
                                            <div class="review-box-rate"><?php echo str_replace("'",'',$hint_arr[$cnt]); ?></div>
                                            <div class="review-box-star">
                                                        <div id="<?php echo $this->escape($rating_fields_arr[0]).$infos['id']; ?>_star"  class="review-box-rate-star"></div>
                                                        <script type="text/javascript">
                                                            $(function() {
                                                                raty ('<?php echo $this->escape($rating_fields_arr[0]).$infos["id"]; ?>','<?php echo $this->escape($infos[$rating_fields_arr[0]]); ?>');
                                                            });
                                                        </script>
                                            </div>
                                           
                                            <?php 
                                                    }
                                                } 
                                            ?>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="review-box-desc">
                                        <?php 
                                            if(!empty($this->review_datas['review_settings_info']['short_desc_field']))
                                            { 
                                                $short_desc_field  = $this->review_datas['review_settings_info']['short_desc_field'];
                                                if(!empty($infos[$short_desc_field]))
                                                {
                                                    echo '"'.$this->escape($infos[$short_desc_field]).'"'; 
                                                }
                                            } 
                                        ?>
                                        
                                            <div class="review-box-date">
                                                <?php 											
                                                    if(!empty($infos['g_date']))
                                                    {
                                                        echo $this->escape($infos['g_date']); 
                                                    }											
                                                ?>
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <?php 								
                            }							
                        }
                        ?>
			</div>
            
        </div>

    </div>
    
    <?php else : ?>
	<h2><?php echo $this->translator->translator('common_not_approved'); ?></h2>
    
<?php endif; ?>	    
</div>