<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
?>

<script>
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

 });
 
</script>

<div class="mod">
    
	<div class="clear"></div>

    <div class="invalid">
        <div class="not-found"> <?php echo html_entity_decode($this->translator->translator('b2b_inactive_listing_page_title'), ENT_QUOTES, "UTF-8"); ?></div>
        <br />
        
        <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/not-found.png" border="0" class="thumb"/>
        <strong><ins><?php echo html_entity_decode($this->translator->translator('b2b_invalid_inactive_page_option'), ENT_QUOTES, "UTF-8"); ?></ins></strong>
        <br /><br />
        <ul>
            <?php echo html_entity_decode($this->translator->translator('b2b_inactive_listing_page_points'), ENT_QUOTES, "UTF-8"); ?>
        </ul>
    </div>
    
</div>