<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard' ;
$add_url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Property','controller'=>'Backendpro', 'action'=>'add'), 'adminrout', true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';
?>
</head> 
<body>
<div id="page">
	<!-- Header Start -->
    <?php echo $this->layout()->render('header'); ?>
    <!-- Header End -->
    
    <!-- Top Navigation Start-->
    <div class="top-nav">
        <div class="container">
            <?php echo $this->partial('blocks/top-menu.phtml'); ?>
        </div>
    </div>
    <!-- Top Navigation End-->
    
    <!-- Body Start-->
    <div class="container">
        <?php  
            if($is_frontend->isFrontend()) 
            {
        ?>
        <?php echo $this->partial('blocks/property_home_search.phtml'); ?>
        
        <?php echo $this->partial('blocks/property_home_featured.phtml'); ?>
        <?php  
            }
        ?>
        
        <?php
            if($is_frontend->isFrontend())
            {
                //echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/jquery.idTabs.min.js', '');
        ?>
        <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
        <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
        <!-- Featured Tab Starts-->
        <div id="demoTab">          
            <ul class="resp-tabs-list">
                <li><?php echo $this->translator->translator('block_recent_title','', '', $front_template['theme_folder']); ?></li>
                <li><?php echo $this->translator->translator('tab_residential_title','', '', $front_template['theme_folder']); ?></li>
                <li><?php echo $this->translator->translator('tab_commercial_title','', '', $front_template['theme_folder']); ?></li>
                <li><?php echo $this->translator->translator('tab_land_title','', '', $front_template['theme_folder']); ?></li>
                <li><?php echo $this->translator->translator('tab_rent_title','', '', $front_template['theme_folder']); ?></li>
                <li><?php echo $this->translator->translator('tab_rural_title','', '', $front_template['theme_folder']); ?></li>
            </ul> 
        
            <div class="resp-tabs-container">                                                        
                <div><?php echo $this->partial('blocks/property_content_recent.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/property_content_residential.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/property_home_content_commercial.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/property_home_content_land.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/property_home_content_rent.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/property_home_content_rural.phtml'); ?></div>
            </div>
        </div>
        
        <script>
            $("#demoTab").easyResponsiveTabs({
                type: 'accordion', //Types: default, vertical, accordion           
                width: 'auto', //auto or any custom width
                fit: true   // 100% fits in a container
            });
        </script>
        <!-- Featured Tab Ends-->
        
        <?php echo $this->partial('blocks/property_home_content_region.phtml'); ?>
        <?php echo $this->partial('blocks/property_home_content_state.phtml'); ?>
        
        <?php
            }
            else
            {  
                if(!empty($moduleName) && $actionName != 'home')
                {
                    switch($moduleName)
                    {
                        case 'property':
                        if($actionName != 'confirm')
                        {					
        ?>	
            <!-- Inner Sidebar Start-->			
            <?php //echo $this->partial('blocks/property_inner_sidebar_search.phtml'); ?>
            <!-- Inner Sidebar End -->	
        <?php
                    
                        }
                    break;
                }
            }                  
        ?>
        
        <!-- Content Start-->
        <div class="clearfix">
        <?php echo $this->layout()->content; ?>
        </div>
        <!-- Content End-->
        <?php
            }
        ?>   
    </div>
    <!-- Body End-->
    
    <!--Footer Start-->
    <?php echo $this->layout()->render('footer'); ?>
    <!--Footer End-->

	<!-- Slide Search Panel Start -->
    <nav id="menu">
    	<ul>
    		<li><?php echo $this->partial('blocks/property_inner_sidebar_search.phtml'); ?></li>
        </ul>
	</nav>
    <!-- Slide Search Panel End -->
</div>

<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>

</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>