<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
?>
<style type="text/css">
#fair_round{
	<?php if($this->routeForm->flight_journey_type->getValue() != 'Round'){ ?> 
	display:none;
	<?php }else{ ?>
	display:inline;
	<?php } ?>
}
</style>

<script type="text/javascript">
var settingObj = {					
					form_action : {
										form_id: 'formFlightRoute',
										hasTinyMCE: false,											
										currency_symbol:	"<?php echo $currency->getSymbol(); ?>",
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',																			
										extra_field_for_reset: [
											{field_id : 'selected_file', field_value: '' , field_type : 'html'},
											{field_id : 'flight_route', field_value: '' , field_type : 'val'}
										],
										extra_function_for_reset: function(){
											$('#fair_round').css('display','none');	
										}
								},					
					calendar:	{
									calendar_include_time: true,	
									calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
									monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
									monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
									dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
									buttonText:		'calendar',
									dateFormat:		'yy-mm-dd',
									dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
									culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
									value: ''
					},
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};
$(document).ready(function() {	

	var route_field = <?php echo $this->route_no; ?>;
	var route_field_round = <?php echo $this->route_no_round; ?>;
	
	floatingbar('#floatingbar',"#button_top_bar",null);
	for(var k =0; k <= route_field; k++ )
	{
		checkSameData('flight_route_departure', 'flight_route_arrival', k);
	}
	<?php if($this->routeForm->flight_journey_type->getValue() == 'Round'){ ?>
	for(var l =0; l <= route_field_round; l++ )
	{
		checkSameData('flight_route_departure_round', 'flight_route_arrival_round', l);
	}
	roundFunction(route_field_round);
	<?php } ?>
	
	$("input[name='flight_journey_type']").click(function() {		
			var val = $(this).val();			
			switch(val)
			{
				case 'One way':
					$('#fair_round').css('display','none');					
				 break;
				 case 'Round':
					$('#fair_round').css('display','inline');
				 break;
				 case 'Multi City':
				 	$('#fair_round').css('display','none');
				 break;
			}
		});
	
	$('a.flight_route_add_more_btn').click(function() {
		route_field++;
		var hr = '';
		var mn = '';
		var field_html = generateDynamicFields(route_field, '');
			$('#route_fields').append(field_html);
			checkSameData('flight_route_departure', 'flight_route_arrival', route_field);
	});
	
	$("input[name='flight_journey_type']").click(function() {
		if($(this).val() == 'Round')
		{
			checkSameData('flight_route_departure_round', 'flight_route_arrival_round', route_field_round);
			roundFunction(route_field_round);
		}
	});
		
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);
	});
		
	$('a.edit_flight_route_btn').click(function() {			
		
		checkRouteFieldValue('');
		if($("input[name='flight_journey_type']:checked").val() == 'Round')
		{
			checkRouteFieldValue('_round');			
		}
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);	
		formData.route_field = route_field;	
		formData.route_field_round = ($('#route_fields_round').children().length - 1) ;	
		
		$.ajax({
				url: "<?php echo $this->url( array('module' => 'Flight','controller' => 'route', 'action'     => 'edit', 'id' => $this->id ), 'adminrout',    true) ?>",
			  	type: 'POST',
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);					
					 },
			  	data: formData,
				success: function(response){
					//alert(response);	
					try
					{
						commonCloseLoaderDialog(settingObj);					
						var json_arr = eval("("+response+")");					
										
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));	
							commonGoMessage(settingObj);												
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);								
							}
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));	
							commonGoMessage(settingObj);
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));	
						commonGoMessage(settingObj);
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));	
					commonGoMessage(settingObj);
				}
		});
	});
	
});

function roundFunction(route_field_round)
{
	$('a.flight_route_add_more_btn_round').unbind('click');
	$('a.flight_route_add_more_btn_round').click(function() {
		route_field_round++;
		var hr = '';
		var mn = '';
		var field_html = generateDynamicFields(route_field_round, '_round');
			$('#route_fields_round').append(field_html);
			checkSameData('flight_route_departure_round', 'flight_route_arrival_round', route_field_round);
	});	
}

function generateDynamicFields(route_field, round_value )
{
	var field_html = '<div class="route_box">'+
							'<div class="route_box_first_row">'+
							  '<?php echo $this->translator->translator("flight_route_departure_label"); ?>&nbsp;'+
								'<input name="flight_route_departure'+round_value+route_field+'" id="flight_route_departure'+round_value+route_field+'" class="flight_route_departure'+round_value+'" value="" />'+							
									'&nbsp;&nbsp;&nbsp;&nbsp;'+	
								'<?php echo $this->translator->translator("flight_route_departure_hour_label"); ?>&nbsp;'+	
								'<select name="flight_route_departure_date_hh'+round_value+route_field+'" id="flight_route_departure_date_hh'+round_value+route_field+'" class="flight_route_departure_date_hh'+round_value+'">'+	
									'<option value="00"><?php echo $this->translator->translator("flight_route_departure_hour_label"); ?></option>';	
									for(var i = 0; i <= 24; i++)
									{ 
										hr = (i < 10 ) ? '0'+i : i;
						field_html += '<option value="'+hr+'">'+hr+'</option>';
									} 
				field_html += 	'</select>'+	
								'&nbsp;&nbsp;&nbsp;&nbsp;'+	
								'<?php echo $this->translator->translator("flight_route_departure_min_label"); ?>&nbsp;'+	
								'<select name="flight_route_departure_date_mn'+round_value+route_field+'" id="flight_route_departure_date_mn'+round_value+route_field+'" class="flight_route_departure_date_mn'+round_value+'">'+	
								'<option value="00"><?php echo $this->translator->translator("flight_route_departure_min_label"); ?></option>';
								for(var i = 0; i <= 60; i++)
									{ 
										mn = (i < 10 ) ? '0'+i : i;
						field_html += '<option value="'+mn+'">'+mn+'</option>';
									}							
				field_html += 	'</select>'+
								'<br />'+
								  '<?php echo $this->translator->translator("flight_route_departure_date_label"); ?>&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Sun" />Sun&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Mon" />Mon&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Tue" />Tue&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Wed" />Wed&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Thu" />Thu&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Fri" />Fri&nbsp;&nbsp;'+
								  '<input type="checkbox" name="flight_route_departure_date'+round_value+route_field+'[]" id="flight_route_departure_date'+round_value+route_field+'" class="flight_route_departure_date'+round_value+'" value="Sat" />Sat&nbsp;&nbsp;'+
							'</div>'+
							'<div class="route_box_delete_row">'+
							 	'<a href="javascript:void(0)" class="delete_route_fields_btn"><img src="application/modules/Administrator/layouts/scripts/images/common/delete.png" title="<?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?>" alt="<?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?>" border="0" /></a>'+
							 '</div>'+
							'<div class="route_box_second_row">'+
							  '<?php echo $this->translator->translator("flight_route_arrival_label"); ?>&nbsp;'+
							  '<input name="flight_route_arrival'+round_value+route_field+'" id="flight_route_arrival'+round_value+route_field+'" class="flight_route_arrival'+round_value+'" value="" />'+
									'&nbsp;&nbsp;&nbsp;&nbsp;'+
							  '<?php echo $this->translator->translator("flight_route_arrival_hour_label"); ?>&nbsp;'+
							  '<select name="flight_route_arrival_date_hh'+round_value+route_field+'" id="flight_route_arrival_date_hh'+round_value+route_field+'" class="flight_route_arrival_date_hh'+round_value+'">'+
								'<option value="00"><?php echo $this->translator->translator("flight_route_arrival_hour_label"); ?></option>';
								for(var i = 0; i <= 24; i++)
									{ 
										hr = (i < 10 ) ? '0'+i : i;
						field_html += '<option value="'+hr+'">'+hr+'</option>';
									} 
				field_html += '</select>'+
								'&nbsp;&nbsp;&nbsp;&nbsp;'+
							  '<?php echo $this->translator->translator("flight_route_arrival_min_label"); ?>&nbsp;'+
							  '<select name="flight_route_arrival_date_mn'+round_value+route_field+'" id="flight_route_arrival_date_mn'+round_value+route_field+'" class="flight_route_arrival_date_mn'+round_value+'">'+
								'<option value="00"><?php echo $this->translator->translator("flight_route_arrival_min_label"); ?></option>';
								for(var i = 0; i <= 60; i++)
									{ 
										mn = (i < 10 ) ? '0'+i : i;
						field_html += '<option value="'+mn+'">'+mn+'</option>';
									}
				field_html += '</select>'+	
							  '<br />'+
							  '<?php echo $this->translator->translator("flight_route_arrival_date_label"); ?>&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Sun" />Sun&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Mon" />Mon&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Tue" />Tue&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Wed" />Wed&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Thu" />Thu&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Fri" />Fri&nbsp;&nbsp;'+
							  '<input type="checkbox" name="flight_route_arrival_date'+round_value+route_field+'[]" id="flight_route_arrival_date'+round_value+route_field+'" class="flight_route_arrival_date'+round_value+'" value="Sat" />Sat&nbsp;&nbsp;'+											  
							 '</div>'+							 
						   '</div>';
		return field_html;
}

function isCheckBoxValue(id,filename)
{
	var val_arr = [];
	var filevalue = false;
	$('input[name="'+filename+id+'[]"]:checkbox:checked').each(function(i){
	 val_arr[i] = $(this).val();
	});
	filevalue = (val_arr[0] != null) ? true : false;
	return filevalue;
}

function checkRouteFieldValue(round_value)
{
	var check = false;
	var attr_id = '';
	var id_no_arr = [];
	for(var i=0; i < $('input.flight_route_departure'+round_value).length; i++)
	{	
		attr_id  =	$('input.flight_route_departure'+round_value+':eq('+i+')').attr('id');
		id_no_arr = attr_id.split('flight_route_departure'+round_value);		
		if(jQuery.trim($('input.flight_route_departure'+round_value+':eq('+i+')').val()) != '' && jQuery.trim($('input.flight_route_arrival'+round_value+':eq('+i+')').val()) != '' && isCheckBoxValue(id_no_arr[1], 'flight_route_departure_date'+round_value) == true && isCheckBoxValue(id_no_arr[1], 'flight_route_arrival_date'+round_value)  == true  )
		{			
			check = true;
		}
	}	
	if(check == true)
	{
		$('#flight_route'+round_value).val(check);
	}
	else
	{
		$('#flight_route'+round_value).val('');
	}	
}

function checkSameData(from_id, to_id, id_no)
{
	$('#'+from_id+id_no).blur(function() {		
		if( ($('#'+from_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+from_id+id_no).val('');
			$('#'+from_id+id_no).focus();
		}
	});
	
	$('#'+to_id+id_no).blur(function() {		
		if( ($('#'+to_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+to_id+id_no).val('');
			$('#'+to_id+id_no).focus();
		}
	});	
	
	//calendar(from_id+'_date'+id_no, to_id+'_date'+id_no);
	//calendar(to_id+'_date'+id_no, from_id+'_date'+id_no);
	autoList(from_id+id_no);
	autoList(to_id+id_no);
	deleteRouteFields();
}

function deleteRouteFields()
{
	$('a.delete_route_fields_btn').click(function() {
		var self = this;
		$(self).parents('div:first').parents('div:first').remove();
	});
}

function autoList(id)
{
	autoSuggestion(id, "<?php echo $this->url( array('module'=> 'Flight', 'controller' => 'frontend', 'action'     => 'iata' ), 'adminrout',    true) ?>", {'datas': ''}, ['iata_code', 'iata_code', 'flight_label', 'iata_code', 'flight_location'], '', 3);
}

function toTimestamp(strDate){
	 var datum = Date.parse(strDate);
	 return datum/1000;
}

function calendar(id, second_id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		onSelect: function(dateText, inst) {
			var id_type_arr = id.split('_');			
			var currentTime = new Date()
			var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
			var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;				
			if(id_type_arr[2] == 'departure')
			{				
				if( (dateText != '') && ( (toTimestamp(dateText) >= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) <= toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_departure_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
			else if(id_type_arr[2] == 'arrival')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) <= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) <= toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_arrival_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
		},
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}
</script>


<div class="title-container">
	<div class="flight-edit"><h1><?php echo $this->translator->translator('flight_route_edit_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'route', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_flight_route_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<form name="formFlightRoute" id="formFlightRoute" method="post" >
    	<div id="button_top_bar"></div>
    	<div id="actionMessage"></div>
        <?php	
			$groupsObj = $this->routeForm->getDisplayGroups();
			 
			 foreach($groupsObj as $elementGroup)
			 {		
		?>
       	<div id="<?php echo $elementGroup->getName(); ?>">
        	<fieldset class="fieldset">
                <legend class="legend"><?php echo $elementGroup->getLegend ();  ?></legend>
                <div class="form">
                	<?php						 									
						$elements = $elementGroup->getElements();
						foreach($elements as $element)
						{
							if($element->getName() == 'airlines_logo')
							{
					?>
                	<div class="form-row">
                        <div class="label">
                        	<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                        	<div class="upload-img">
                                <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <?php echo $element; ?>&nbsp;&nbsp;<span id="selected_file"></span>
                            <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                        </div>
                    </div>
                    <?php
						}								
						else if($element->getName() == 'flight_route')
						{
					?>
                    <div class="form-row">
                        <div class="label">
                        	<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?><?php echo $element; ?>
                        </div>
                        
                        <div class="field">
                        	<div id="route_fields" class="route_fields">
								<?php
                                if($this->route_info)
                                {
                                    $fst = 0;
                                    foreach($this->route_info as $key => $routeInfo)
                                    {																																			
                                        if($routeInfo['route_way_type'] == 'One way')
                                        {
                                ?>
                                        <div class="route_box">
                                        	<div class="route_box_first_row">
                                            	<?php echo $this->translator->translator('flight_route_departure_label'); ?>
                                              	<input name="flight_route_departure<?php echo $fst; ?>" id="flight_route_departure<?php echo $fst; ?>" class="flight_route_departure" value="<?php echo $this->escape($routeInfo['departure_iata']); ?>" />													  	
                                              
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_departure_hour_label'); ?>
                                              	<select name="flight_route_departure_date_hh<?php echo $fst; ?>" id="flight_route_departure_date_hh<?php echo $fst; ?>" class="flight_route_departure_date_hh">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_departure_hour_label'); ?></option>
													<?php $hr = 0; 
                                                        $selected = '';
                                                        $flight_route_departure_date_arr = explode(':',$routeInfo['departure_time']);
                                                        for($i = 0; $i <= 24; $i++){ 
                                                        $hr = ($i < 10 ) ? '0'.$i : $i;
                                                        $selected = ($flight_route_departure_date_arr[0] == $hr) ? $selected = 'selected="selected"' : '';
                                                    ?> 
                                                	<option value="<?php echo $hr; ?>" <?php echo $selected ?>><?php echo $hr; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_departure_min_label'); ?>
                                              	<select name="flight_route_departure_date_mn<?php echo $fst; ?>" id="flight_route_departure_date_mn<?php echo $fst; ?>" class="flight_route_departure_date_mn">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_departure_min_label'); ?></option>
                                                	<?php $mn = 0; 
														$selected = '';
														for($i = 0; $i <= 60; $i++){ 
															$mn = ($i < 10 ) ? '0'.$i : $i; 
															$selected = ($flight_route_departure_date_arr[1] == $mn) ? $selected = 'selected="selected"' : '';
                                               		?> 
                                                	<option value="<?php echo $mn; ?>" <?php echo $selected ?>><?php echo $mn; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	<br />
                                              	<?php 
                                                	echo $this->translator->translator('flight_route_departure_date_label'); 
                                                	$departure_date_arr = explode(',',$routeInfo['departure_date']);
                                              	?>
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Sun', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Sun" />Sun&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Mon', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Mon" />Mon&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Tue', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Tue" />Tue&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Wed', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Wed" />Wed&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Thu', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Thu" />Thu&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Fri', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Fri" />Fri&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date<?php echo $fst; ?>[]" id="flight_route_departure_date<?php echo $fst; ?>" class="flight_route_departure_date" <?php if(in_array('Sat', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Sat" />Sat&nbsp;
                                            </div>
                                            <div class="route_box_delete_row">
                                                <?php if($fst == '0'){ ?>
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <?php }else{ ?>
                                                <a href="javascript:void(0)" class="delete_route_fields_btn"><img src="application/modules/Administrator/layouts/scripts/images/common/delete.png" title="<?php echo $this->translator->translator('common_delete'); ?>" alt="<?php echo $this->translator->translator('common_delete'); ?>" border="0" /></a>
                                                <?php } ?>
                                           	</div>
                                      		<div class="route_box_second_row">
                                        		<?php echo $this->translator->translator('flight_route_arrival_label'); ?>
                                             	<input name="flight_route_arrival<?php echo $fst; ?>" id="flight_route_arrival<?php echo $fst; ?>" class="flight_route_arrival" value="<?php echo $this->escape($routeInfo['arrival_iata']); ?>" />
                                              
                                             	&nbsp;&nbsp;
                                             	<?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?>
                                             	<select name="flight_route_arrival_date_hh<?php echo $fst; ?>" id="flight_route_arrival_date_hh<?php echo $fst; ?>" class="flight_route_arrival_date_hh">
                                              		<option value="00"><?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?></option>
                                                	<?php $hr = 0; 
														$selected = '';
														$flight_route_arrival_date_arr = explode(':',$routeInfo['arrival_time']);
														for($i = 0; $i <= 24; $i++){ 
														$hr = ($i < 10 ) ? '0'.$i : $i; 
														$selected = ($flight_route_arrival_date_arr[0] == $hr) ? $selected = 'selected="selected"' : '';
                                              		?>
                                                	<option value="<?php echo $hr; ?>" <?php echo $selected ?>><?php echo $hr; ?></option>
                                             		<?php } ?>
                                             	</select>
                                             	&nbsp;&nbsp;
                                             	<?php echo $this->translator->translator('flight_route_arrival_min_label'); ?>
                                            	<select name="flight_route_arrival_date_mn<?php echo $fst; ?>" id="flight_route_arrival_date_mn<?php echo $fst; ?>" class="flight_route_arrival_date_mn">
                                             		<option value="00"><?php echo $this->translator->translator('flight_route_arrival_min_label'); ?></option>
                                                	<?php $mn = 0; 
                                                    	$selected = '';
                                                    	for($i = 0; $i <= 60; $i++){ 
                                                        $mn = ($i < 10 ) ? '0'.$i : $i;
                                                        $selected = ($flight_route_arrival_date_arr[1] == $mn) ? $selected = 'selected="selected"' : ''; 
                                                	?> 
                                                	<option value="<?php echo $mn; ?>" <?php echo $selected ?>><?php echo $mn; ?></option>
                                                	<?php } ?>
                                             	</select>
                                              	<br />
                                              	<?php echo $this->translator->translator('flight_route_arrival_date_label'); 
                                                    $arrival_date_arr = explode(',',$routeInfo['arrival_date']);
                                              	?>
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Sun', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Sun" />Sun&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Mon', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Mon" />Mon&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Tue', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Tue" />Tue&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Wed', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Wed" />Wed&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Thu', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Thu" />Thu&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Fri', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Fri" />Fri&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date<?php echo $fst; ?>[]" id="flight_route_arrival_date<?php echo $fst; ?>" class="flight_route_arrival_date" <?php if(in_array('Sat', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Sat" />Sat&nbsp;												  
                                           	</div>																	 
                                        </div>
                                <?php
                                            $fst++;
                                        }
                                    }
                                }
                                ?>
							</div>
                        	<div class="left-float">
                                <span class="select-btn ui-widget-content-1"><a href="javascript: void(0);" class="flight_route_add_more_btn"><span class="icon add"><?php echo $this->translator->translator('flight_route_add_more'); ?></span></a></span>
                            </div>
                            <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                        </div>
                    </div>
                    <?php
						}
						else if($element->getName() == 'flight_route_round')
						{
					?>
                    <div class="form-row">
                        <div class="label">
                        	<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?><?php echo $element; ?>
                        </div>
                        
                        <div class="field">
                       		<div id="route_fields_round" class="route_fields">
								<?php
                                if($this->route_info)
                                {
                                    $sec = 0;
                                    foreach($this->route_info as $key => $routeInfo)
                                    {
                                        if($routeInfo['route_way_type'] == 'Round')
                                        {
                                ?>
                                       	<div class="route_box">
                                        	<div class="route_box_first_row">
                                            	<?php echo $this->translator->translator('flight_route_departure_label'); ?>
                                              	<input name="flight_route_departure_round<?php echo $sec; ?>" id="flight_route_departure_round<?php echo $sec; ?>" class="flight_route_departure_round" value="<?php echo $this->escape($routeInfo['departure_iata']); ?>" />													  	
                                              
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_departure_hour_label'); ?>
                                              	<select name="flight_route_departure_date_hh_round<?php echo $sec; ?>" id="flight_route_departure_date_hh_round<?php echo $sec; ?>" class="flight_route_departure_date_hh_round">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_departure_hour_label'); ?></option>
                                                	<?php $hr = 0; 
														$selected = '';
														$flight_route_departure_date_arr = explode(':',$routeInfo['departure_time']);
														for($i = 0; $i <= 24; $i++){ 
														$hr = ($i < 10 ) ? '0'.$i : $i;
														$selected = ($flight_route_departure_date_arr[0] == $hr) ? $selected = 'selected="selected"' : '';
                                                	?> 
                                                	<option value="<?php echo $hr; ?>" <?php echo $selected ?>><?php echo $hr; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_departure_min_label'); ?>
                                              	<select name="flight_route_departure_date_mn_round<?php echo $sec; ?>" id="flight_route_departure_date_mn_round<?php echo $sec; ?>" class="flight_route_departure_date_mn_round">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_departure_min_label'); ?></option>
                                                	<?php $mn = 0; 
														$selected = '';
														for($i = 0; $i <= 60; $i++){ 
															$mn = ($i < 10 ) ? '0'.$i : $i; 
															$selected = ($flight_route_departure_date_arr[1] == $mn) ? $selected = 'selected="selected"' : '';
                                                    ?>
                                                	<option value="<?php echo $mn; ?>" <?php echo $selected ?>><?php echo $mn; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	<br />
                                              	<?php 
                                                	echo $this->translator->translator('flight_route_departure_date_label'); 
                                                	$departure_date_arr = explode(',',$routeInfo['departure_date']);
                                              	?>
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Sun', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Sun" />Sun&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Mon', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Mon" />Mon&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Tue', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Tue" />Tue&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Wed', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Wed" />Wed&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Thu', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Thu" />Thu&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Fri', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Fri" />Fri&nbsp;
                                              	<input type="checkbox" name="flight_route_departure_date_round<?php echo $sec; ?>[]" id="flight_route_departure_date_round<?php echo $sec; ?>" class="flight_route_departure_date_round" <?php if(in_array('Sat', $departure_date_arr)){ ?>checked="checked"<?php } ?> value="Sat" />Sat&nbsp;
                                           	</div>
                                            <div class="route_box_delete_row">
                                              	<?php if($sec == '0'){ ?>
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <?php }else{ ?>
                                                <a href="javascript:void(0)" class="delete_route_fields_btn"><img src="application/modules/Administrator/layouts/scripts/images/common/delete.png" title="<?php echo $this->translator->translator('common_delete'); ?>" alt="<?php echo $this->translator->translator('common_delete'); ?>" border="0" /></a>
                                                <?php } ?>
                                            </div>
                                         	<div class="route_box_second_row">
                                            	<?php echo $this->translator->translator('flight_route_arrival_label'); ?>
                                              	<input name="flight_route_arrival_round<?php echo $sec; ?>" id="flight_route_arrival_round<?php echo $sec; ?>" class="flight_route_arrival_round" value="<?php echo $this->escape($routeInfo['arrival_iata']); ?>" />
                                              
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?>
                                              	<select name="flight_route_arrival_date_hh_round<?php echo $sec; ?>" id="flight_route_arrival_date_hh_round<?php echo $sec; ?>" class="flight_route_arrival_date_hh_round">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?></option>
                                                	<?php $hr = 0; 
														$selected = '';
														$flight_route_arrival_date_arr = explode(':',$routeInfo['arrival_time']);
														for($i = 0; $i <= 24; $i++){ 
														$hr = ($i < 10 ) ? '0'.$i : $i; 
														$selected = ($flight_route_arrival_date_arr[0] == $hr) ? $selected = 'selected="selected"' : '';
                                                  	?>
                                                	<option value="<?php echo $hr; ?>" <?php echo $selected ?>><?php echo $hr; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	&nbsp;&nbsp;
                                              	<?php echo $this->translator->translator('flight_route_arrival_min_label'); ?>
                                              	<select name="flight_route_arrival_date_mn_round<?php echo $sec; ?>" id="flight_route_arrival_date_mn_round<?php echo $sec; ?>" class="flight_route_arrival_date_mn_round">
                                                	<option value="00"><?php echo $this->translator->translator('flight_route_arrival_min_label'); ?></option>
                                                	<?php $mn = 0; 
                                                    	$selected = '';
                                                    	for($i = 0; $i <= 60; $i++){ 
                                                        $mn = ($i < 10 ) ? '0'.$i : $i;
                                                        $selected = ($flight_route_arrival_date_arr[1] == $mn) ? $selected = 'selected="selected"' : ''; 
                                                	?> 
                                                	<option value="<?php echo $mn; ?>" <?php echo $selected ?>><?php echo $mn; ?></option>
                                                	<?php } ?>
                                              	</select>
                                              	<br />
                                              	<?php echo $this->translator->translator('flight_route_arrival_date_label'); 
                                                	$arrival_date_arr = explode(',',$routeInfo['arrival_date']);
                                              	?>
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Sun', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Sun" />Sun&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Mon', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Mon" />Mon&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Tue', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Tue" />Tue&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Wed', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Wed" />Wed&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Thu', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Thu" />Thu&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Fri', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Fri" />Fri&nbsp;
                                              	<input type="checkbox" name="flight_route_arrival_date_round<?php echo $sec; ?>[]" id="flight_route_arrival_date_round<?php echo $sec; ?>" class="flight_route_arrival_date_round" <?php if(in_array('Sat', $arrival_date_arr)){ ?>checked="checked"<?php } ?> value="Sat" />Sat&nbsp;												  
                                          	</div>																	 
                                       	</div>
                                <?php
                                            $sec++;
                                        }
                                    }
                                }
                                if($sec == 0)
                                {																
                                ?>																	
                                   		<div class="route_box">
                                        	<div class="route_box_first_row">
                                          		<?php echo $this->translator->translator('flight_route_departure_label'); ?>
                                          		<input name="flight_route_departure_round0" id="flight_route_departure_round0" class="flight_route_departure_round" value="" />													  	
                                          
                                          		&nbsp;&nbsp;
                                          		<?php echo $this->translator->translator('flight_route_departure_hour_label'); ?>
                                          		<select name="flight_route_departure_date_hh_round0" id="flight_route_departure_date_hh_round0" class="flight_route_departure_date_hh_round">
                                            		<option value="00"><?php echo $this->translator->translator('flight_route_departure_hour_label'); ?></option>
                                            		<?php $hr = 0; for($i = 0; $i <= 24; $i++){ $hr = ($i < 10 ) ? '0'.$i : $i; ?> 
                                            		<option value="<?php echo $hr; ?>"><?php echo $hr; ?></option>
                                            		<?php } ?>
                                          		</select>
                                          		&nbsp;&nbsp;
                                          		<?php echo $this->translator->translator('flight_route_departure_min_label'); ?>
                                          		<select name="flight_route_departure_date_mn_round0" id="flight_route_departure_date_mn_round0" class="flight_route_departure_date_mn_round">
                                            		<option value="00"><?php echo $this->translator->translator('flight_route_departure_min_label'); ?></option>
                                            		<?php $mn = 0; for($i = 0; $i <= 60; $i++){ $mn = ($i < 10 ) ? '0'.$i : $i; ?> 
                                            		<option value="<?php echo $mn; ?>"><?php echo $mn; ?></option>
                                            		<?php } ?>
                                          		</select>
                                          		<br />
                                          		<?php echo $this->translator->translator('flight_route_departure_date_label'); ?>
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Sun" />Sun&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Mon" />Mon&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Tue" />Tue&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Wed" />Wed&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Thu" />Thu&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Fri" />Fri&nbsp;
                                          		<input type="checkbox" name="flight_route_departure_date_round0[]" id="flight_route_departure_date_round0" class="flight_route_departure_date_round" value="Sat" />Sat&nbsp;
                                        	</div>
                                        	<div class="route_box_delete_row">
                                            	<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                         	</div>
                                        	<div class="route_box_second_row">
												<?php echo $this->translator->translator('flight_route_arrival_label'); ?>
                                                <input name="flight_route_arrival_round0" id="flight_route_arrival_round0" class="flight_route_arrival_round" value="" />
                                              
                                                &nbsp;&nbsp;
                                                <?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?>
                                                <select name="flight_route_arrival_date_hh_round0" id="flight_route_arrival_date_hh_round0" class="flight_route_arrival_date_hh_round">
                                                    <option value="00"><?php echo $this->translator->translator('flight_route_arrival_hour_label'); ?></option>
                                                    <?php $hr = 0; for($i = 0; $i <= 24; $i++){ $hr = ($i < 10 ) ? '0'.$i : $i; ?> 
                                                    <option value="<?php echo $hr; ?>"><?php echo $hr; ?></option>
                                                    <?php } ?>
                                                </select>
                                                &nbsp;&nbsp;
                                                <?php echo $this->translator->translator('flight_route_arrival_min_label'); ?>
                                                <select name="flight_route_arrival_date_mn_round0" id="flight_route_arrival_date_mn_round0" class="flight_route_arrival_date_mn_round">
                                                    <option value="00"><?php echo $this->translator->translator('flight_route_arrival_min_label'); ?></option>
                                                    <?php $mn = 0; for($i = 0; $i <= 60; $i++){ $mn = ($i < 10 ) ? '0'.$i : $i; ?> 
                                                    <option value="<?php echo $mn; ?>"><?php echo $mn; ?></option>
                                                    <?php } ?>
                                                </select>
                                                <br />
                                                <?php echo $this->translator->translator('flight_route_arrival_date_label'); ?>
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Sun" />Sun&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Mon" />Mon&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Tue" />Tue&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Wed" />Wed&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Thu" />Thu&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Fri" />Fri&nbsp;
                                                <input type="checkbox" name="flight_route_arrival_date_round0[]" id="flight_route_arrival_date_round0" class="flight_route_arrival_date_round" value="Sat" />Sat&nbsp;												  
                                      		</div>																	 
                                    	</div>																	 
                                <?php
                                }
                                ?>
                       		</div>
                        	<div class="left-float">
                                <span class="select-btn ui-widget-content-1"><a href="javascript: void(0);" class="flight_route_add_more_btn_round"><span class="icon add"><?php echo $this->translator->translator('flight_route_add_more'); ?></span></a></span>
                            </div>
                            <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                        </div>
                    </div>
                    <?php
						}
						else
						{
					?>
                    <div class="form-row">
                        <div class="label">
                        	<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                        	<?php echo $element; if($element->getName() == 'flight_adult_fair' || $element->getName() == 'flight_child_fair' || $element->getName() == 'flight_infant_fair' || $element->getName() == 'flight_adult_fair_round' || $element->getName() == 'flight_child_fair_round' || $element->getName() == 'flight_infant_fair_round') { echo '&nbsp;'.$currency->getSymbol(); } if($element->getName() == 'flight_tax' || $element->getName() == 'flight_tax_round'){ echo '&nbsp;%'; } ?>
                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                        </div>
                    </div>
                    <?php
						}
					}
					?>
                </div>
			</fieldset>
		</div>
        <?php
			 }
		?>
	</form>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'route', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_flight_route_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('flight_route_edit_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'route', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_flight_route_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('flight_route_edit_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>