<?php
$frontController = Zend_Controller_Front::getInstance();	
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$translator = Zend_Registry::get('translator'); 
?>

<div id="nav">
	<div class="nav-header"><div class="nav-title"><?php echo $translator->translator('tracker_menu_title'); ?></div></div>
    <div class="nav-body">
    	<ul>
        	<?php if ($this->allow('list','backendairwaybill','Tracker')) : ?>
           	<li <?php if($getAction == 'list' && strtolower($getController) == 'backendairwaybill'){ ?> class="awb selected"<?php }else{ ?>class="awb"<?php } ?>>
           	<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendairwaybill', 'action'=>'list'),'adminrout',true);?>" ><?php echo $translator->translator('track_menu1'); ?></a>
           	</li>
			<?php endif; ?>
            
            <?php if ($this->allow('add','backendairwaybill','Tracker')) : ?>
			<li <?php if($getAction == 'add' && strtolower($getController) == 'backendairwaybill'){ ?> class="awb-add selected"<?php }else{ ?>class="awb-add"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendairwaybill', 'action'=>'add'),'adminrout',true);?>" ><?php echo $translator->translator('track_menu2'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('add','backendtrack','Tracker')) : ?>
			<li <?php if($getAction == 'add' && strtolower($getController) == 'backendtrack'){ ?> class="status-list-add selected"<?php }else{ ?>class="status-list-add"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendtrack', 'action'=>'add'),'adminrout',true);?>" ><?php echo $translator->translator('tracker_status_add_title'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('list','backendtrack','Tracker')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendtrack'){ ?> class="status-list selected last"<?php }else{ ?>class="status-list last"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendtrack', 'action'=>'list'),'adminrout',true);?>" ><?php echo $translator->translator('track_menu3'); ?></a>
			</li>
			<?php endif; ?>
            
            
            <?php if ($this->allow('list','backendnetwork','Tracker')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendnetwork'){ ?> class="network-list selected"<?php }else{ ?>class="network-list"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendnetwork', 'action'=>'list'),'adminrout',true);?>" ><?php echo $translator->translator('tracker_network_list_page_name'); ?></a>
			</li>
			<?php endif; ?>
            
          	<?php if ($this->allow('add','backendnetwork','Tracker')) : ?>
			<li <?php if($getAction == 'add' && strtolower($getController) == 'backendnetwork'){ ?> class="network-list-add selected last"<?php }else{ ?>class="network-list-add last"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendnetwork', 'action'=>'add'),'adminrout',true);?>" ><?php echo $translator->translator('tracker_network_add_page_name'); ?></a>
			</li>
			<?php endif; ?> 
        </ul>
 	</div>
</div>