<?php 
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');

class tours_content_toursByType
{
	protected	$_group = 1;
	protected	$_limit = 10;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		$this->translator = Zend_Registry::get('translator');	
		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	

		/***********************************NEW CHANGE START*****************************************/
		$selectBT = $this->_DBconn->select()
						->from(array('tbt' => Zend_Registry::get('dbPrefix').'tours_business_type'), array('tbt.*', '(SELECT COUNT(tp.id) FROM '.Zend_Registry::get('dbPrefix').'tours_page as tp WHERE tbt.id = tp.tours_type) AS tours_num', '(SELECT tps.traveler_photos  FROM '.Zend_Registry::get('dbPrefix').'tours_page as tps WHERE tbt.id = tps.tours_type ORDER BY tps.id DESC LIMIT 1) AS traveler_photos'))
						->limit($this->_limit);						
						
		/***********************************NEW CHANGE END*****************************************/
		$tours_info =  $selectBT->query()->fetchAll();
?>

<style>
#owl-demo .item{
	margin: 3px;
}

#owl-demo .item a > img{
	display: block;
	width: 100%;
	height:250px;
	margin-bottom:15px;
}
</style>

<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 4000,
		stopOnHover: true,
		autoHeight: true,
        items : 2,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>

<div class="block block-type">
	<h3><?php echo $this->translator->translator('tours_front_page_home_by_type_title','','',$this->_front_template['theme_folder']); ?></h3>
   	<div id="owl-demo">
        <?php
            if($tours_info)
            {
                foreach($tours_info as $key => $info)
                {
                    if($info['tours_num'] > '0')
                    {
      	?>
        	<figure>
           		<div class="thumb">
                  	<div class="item">
                        <div class="text-center">
                        	<img src="data/frontImages/tours/tours_image/<?php echo $this->_view->escape($info['traveler_photos']); ?>" border="0" class="img-responsive" />
                            <br> 
                            <span class="label label-success"><?php echo $this->_view->escape($info['business_type']); ?></span>
                            <span class="label label-primary">
								<?php echo $this->_view->numbers($this->_view->escape($info['tours_num'])); ?>
                            	<?php echo $this->translator->translator('tours_block_package','','',$this->_front_template['theme_folder']); ?>
                            </span>
                           	<br><br>	
                            <a href="<?php echo $this->_view->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'view', 'type'  => $this->_view->escape($info['id']) ),'Tours-List-Type/*',true); ?>" class="btn btn-global"><span class="glyphicon glyphicon-th-large"></span> <?php echo $this->translator->translator('tours_front_page_view_all','','',$this->_front_template['theme_folder']); ?></a>
                        </div>
					</div>
              	</div>
           	</figure>
       	<?php
                    }
                }
            }
		?>                     
	</div>
</div>

<?php
	}
}
try
{
	$tours_content_toursByType_class = new tours_content_toursByType($this);
	$tours_content_toursByType_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>