<div id="container">
    <?php
//    if (!$this->allow('list')) :
    ?>
    <div class="grid_12 t_a_bottom">
        <?php // echo $this->translator->translator('Member_Access_deny_desc'); ?>
    </div>
    <?php
//    else :
    $locale_direction = Eicra_Global_Variable::getSession()->site_direction;
    $locale = Eicra_Global_Variable::getSession()->sess_lang;
    $param_group_id = ($this->group_id) ? ($this->group_id) : null;
    $permission_arr = array('add_enable' => $this->allow('add', 'backend', 'Autos'), 'edit_enable' => $this->allow('edit', 'backend', 'Autos'), 'publish_enable' => $this->allow('publish', 'backend', 'Autos'), 'delete_enable' => $this->allow('delete', 'backend', 'Autos'), 'featured_enable' => $this->allow('featured', 'backend', 'Autos'), 'view_enable' => $this->allow('list', 'backendpro', 'Tours'));
    ?>


    
    <div id="button_top_bar"></div>
    

    <div id="floatingbar">
        <h1>Account Manager Info <?php
            if (!empty($this->group_id)) {
                echo ' (' . $this->escape($this->group_info['autos_name']) . ')';
            }
            ?></h1>

        
    </div>
    
    <div class="content-container">
        <div id="sidebar-inner">
            <h4>Manager Name: </h4> <h6><?php echo $this->showManager[0]['title'] . " " . $this->showManager[0]['firstName'] . " " . $this->showManager[0]['lastName']; ?></h6>
            <h4>Manager Email: </h4> <h6><?php echo $this->showManager[0]['username']; ?></h6>
            <h4>Manager Phone: </h4> <h6><?php if($this->showManager[0]['phone'] == ""){ echo "Not Provided"; } else { echo $this->showManager[0]['phone']; } ?></h6>
            <h4>Manager Skype: </h4> <h6><?php if($this->showManager[0]['phone'] == ""){ echo "Not Provided"; } else { echo $this->showManager[0]['phone']; } ?></h6>
            <?php
//    print_r($this->showManager);
    ?>
        </div>


        <div id="content-inner">
            <div class="chart">
                <div <?php if ($locale_direction == 'rtl') { ?> class="k-rtl" <?php } ?>>
                    <div id="grid"></div>  
                </div> 	
            </div>   
        </div>
    </div>
    
    <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('autos_category_list_page_name')); ?>"></div>
    <div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>
    <?php // endif;  ?>
</div>	