<div id="container">
    <?php
//    if (!$this->allow('list')) :
    ?>
    <div class="grid_12 t_a_bottom">
        <?php // echo $this->translator->translator('Member_Access_deny_desc'); ?>
    </div>
    <?php
//    else :
    $locale_direction = Eicra_Global_Variable::getSession()->site_direction;
    $locale = Eicra_Global_Variable::getSession()->sess_lang;
    $param_group_id = ($this->group_id) ? ($this->group_id) : null;
    $permission_arr = array('add_enable' => $this->allow('add', 'backend', 'Autos'), 'edit_enable' => $this->allow('edit', 'backend', 'Autos'), 'publish_enable' => $this->allow('publish', 'backend', 'Autos'), 'delete_enable' => $this->allow('delete', 'backend', 'Autos'), 'featured_enable' => $this->allow('featured', 'backend', 'Autos'), 'view_enable' => $this->allow('list', 'backendpro', 'Tours'));
    ?>

    <script type="text/javascript">
        $(document).ready(function() {
//            floatingbar('#floatingbar', "#button_top_bar", null);
            /****************************Sorting Table Start*********************/
            var settingObj = {
                grid_id: 'grid',
                dest_url: "<?php echo $this->url(); ?>",
                pageSize: '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
                toggle_btn: ['a.expand_btn'],
                calendar: {
                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                    value: ''
                },
                common_action: {
//                        permission_arr: {
//                            publish_enable: '<?php echo $permission_arr['publish_enable']; ?>',
//                            delete_enable: '<?php echo $permission_arr['delete_enable']; ?>',
//                            featured_enable: '<?php echo $permission_arr['featured_enable']; ?>'
//                        },
                        publish_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'publish'), 'adminrout', true); ?>",
                        publish_dest_data_field: ['id', 'category_name', 'paction'],
                        publish_active_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/published.gif",
                        publish_deactive_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
//                        delete_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'delete'), 'adminrout', true); ?>",
//                        delete_dest_data_field: ['id', 'category_name'],
//                        publish_multi_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'publishall'), 'adminrout', true); ?>",
//                        delete_multi_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'deleteall'), 'adminrout', true); ?>",
//                        toolbar_button_loader: '<span class="icon loader"></span>',
//                        ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
//                        multi_action: [
//                            {
//                                multi_action_caller_id: "a.featured_btn",
//                                multi_action_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'featured'), 'adminrout', true) ?>",
//                                multi_action_dest_data_field: ['id', 'category_name', 'paction'],
//                                multi_action_data_return_field: ['featured'],
//                                multi_action_data_permission_field: ['featured_enable'],
//                                multi_action_dest_data_paction: [
//                                    {'paction': 'featured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
//                                    {'paction': 'unfeatured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
//                                ]
//                            }
//                        ]
                },
//                    order_action: {
//                        order_dest_data_field: ['id', 'category_order'],
//                        order_up_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'up'), 'adminrout', true) ?>",
//                        order_up_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
//                        order_down_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'down'), 'adminrout', true) ?>",
//                        order_down_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
//                        order_all_dest_data_field: ['id_arr', 'category_order_arr'],
//                        order_all_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'orderall'), 'adminrout', true) ?>",
//                        order_all_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
//                    },
//                    detailInit_action: {
//                        detailInit_dest_url: "<?php echo $this->url(); ?>",
//                        detailInit_filter_field_name: "parent",
//                        detailInit_filter_field_id: "id"
//                    },
                search_data: {},
                batch: false,
                editable: false,
                scrollable: false, //{ virtual: false },
//                detailInit: function(e) {
//                    detailInit(e, settingObj);
//                },
                dataBound: function(e) {
                    var self = this;
                    self.tbody.find("tr").children('td:nth-child(5)').css({'overflow': 'visible'});
                    toggleKendoGridRow(self, settingObj);
                    commonImageThumbnil();
                    //Get All grid rows
                    var model = self.dataSource.data();
                    $.each(model, function(i, obj) {
                        if (obj.has_child == false)
                        {
                            self.tbody.find("tr.k-master-row[data-uid='" + obj.uid + "']>.k-hierarchy-cell>a").remove();
                        }
                    });
                    self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');
<?php if ($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
                        self.thead.find("th[data-field='category_order']").unbind('click');
                        self.thead.find("th[data-field='category_order']>a").attr('href', 'javascript:void(0)');
<?php endif; ?>
                },
                filterable: {
                    extra: true,
                    messages: {
                        info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
                        filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
                        clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
                        isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
                        or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
                    },
                    operators: {
                        string: {
                            startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
                            contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
                            doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
                            endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
                        },
                        date: {
                            gte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
                            gt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
                            lte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
                            lt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
                        },
                        number: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
                            gte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
                            gt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
                            lte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
                            lt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
                        },
                        enums: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
                        }
                    }
                },
                model: {
                    fields: {
                        UT_id: {type: "number"},
                        UT_transaction_date: {type: "date"},
                        UT_invoice_no: {type: "string"},
                        UT_purchase_amount: {type: "number"},
                        UT_dispute_amount: {type: "number"},
                        UT_paid_amount: {type: "number"},
                        UT_due_amount: {type: "number"}
                    }
                },
                column_fields: [
                    {
                        field: "checkAll",
                        headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        template: '<input type="checkbox" value="${UT_id}" class="check_btn" <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        width: 28,
                        filterable: false,
                        sortable: false,
                        columnMenu: false}, // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
                    {
                        field: "UT_id",
                        template: '#= id_format #',
                        title: "Transaction ID",
                        width: 48,
                        filterable: {
                            ui: function(element) {
                                element.kendoNumericTextBox({
                                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                    format: "0",
                                    min: 1,
                                    placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                                });
                            }
                        }
                    },
                    {
                        field: "UT_invoice_no",
                        title: "Invoice No",
                        width: 150},
                    {
                        field: "UT_transaction_date",
                        title: "<?php echo $this->translator->translator('common_date'); ?>",
                        format: "{0:MM/dd/yyyy}",
                        template: '#= UT_transaction_date_lang_format #',
                        width: 80,
                        attributes: {
                                                'align': 'center',
                                                'title': '<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${UT_transaction_date_format}'
                                            },
                        filterable: {
                            ui: function(element) {
                                kendoDateTimeCalendar(element, settingObj);
                            }
                        }
                    },
                    {
                        field: "UT_purchase_amount",
                        title: "Purchase Amount",
                        width: 100},
                    {
                        field: "UT_dispute_amount",
                        title: "Dispute Amount",
                        width: 100},
                    {
                        field: "UT_paid_amount",
                        title: "Paid Amount",
                        width: 100},
                    {
                        field: "UT_due_amount",
                        title: "Due Amount",
                        width: 100},
                ],
                columnMenu: {
                    columns: true,
                    messages: {
                        sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                    }
                },
                messages: {
                    display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                    empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                    page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                    of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                    itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                    first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                    previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                    next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                    last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                    refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                    common_msg_dialog_id: 'dialog_msg',
                    common_confirn_dialog_id: 'dialog-confirm',
                    common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_title: "<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_confirm: "<?php echo $this->translator->translator("category_list_delete_confirm"); ?>",
                    common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                    common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                    common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                    common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                    common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>",
                    common_perm_err: "<?php echo $this->translator->translator("common_perm_err"); ?>",
                    common_selected_err: "<?php echo $this->translator->translator("category_selected_err"); ?>"
                }
            };
            commonGrid(settingObj);
        });
    </script>

  <!-- Content Start-->
<article class="member-dashboard">	
  	<h1><?php echo $headTitle; ?></h1>
    <br />
    <div class="member-block block-control-panel">
        <div class="block-heading">
            <div class="symbol"><?php echo $this->translator->translator('Transaction List'); ?></div>
        </div>        
        <div class="block-body">       		 
            <?php if ($permission_arr['search_enable']) : ?>
            <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="autos-icon"><?php echo $this->translator->translator('autos_list_page_search'); ?></a></div>
            <div id="slickbox" class="toggle-container">
                <form name="autosSearchForm" id="autosSearchForm">
            	<div class="toggle-search">
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<input type="text" name="autos_model_name" id="autos_model_name" value="" size="57" operator="contains" class="ui-widget-content ui-corner-all" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_brand'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<span class="ui-widget">
                        	<select name="brand_id" id="brand_id" class="ui-widget-content ui-corner-all">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php 
								if($this->brand_info)
								{                                  
                                    foreach($this->brand_info as $key=>$value)
                                    {
                                        echo '<option value="'.$key.'">'.$value.'</option>';
                                    }
								}
                                ?>
                            </select>
                          	</span>
                        </div>  
                 	</div>
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_price'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<input type="text" name="autos_price" id="autos_price" value="" class="ui-widget-content ui-corner-all" /><span class="label"><?php echo $currency->getSymbol(); ?></span>&nbsp;&nbsp;&nbsp;
                        	<span class="label"><?php echo $this->translator->translator('autos_list_page_search_mileage'); ?></span>                       	
                            <select name="feature_mileage" id="feature_mileage" class="ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                            <?php
                              if($this->mileage_info)
							  {  
                                foreach($this->mileage_info as $key=>$value)
                                {
                            ?>
                                <option value="<?php echo $value['feature_mileage']; ?>"><?php echo $this->escape($value['feature_mileage']); ?></option>
                            <?php
                                }
							  }
                            ?>
                            </select>  
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_pro_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="autos_type" id="autos_type" class="ui-widget-content ui-corner-all">
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							  	<?php
									if($this->type_info)
									{	
										foreach($this->type_info as $info)
										{
								?>
							  	<option value="<?php echo $info['id']; ?>"><?php echo $this->escape($info['business_type']); ?></option>
							  	<?php
										}
									}
							  	?>
							</select>
                        </div>
                 	</div>
                    
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_country'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="country_id" id="country_id" class="country_id ui-widget-content ui-corner-all">
							<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							<?php
							if($this->country_data)
							{	
								foreach($this->country_data as $key=>$value)
								{
							?>
								<option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
							<?php
								}
							}
							?>
							</select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_status'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<select name="active" id="active" class="ui-widget-content ui-corner-all" operator="eq" <?php if($this->approve != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                            	<option value="1" <?php if($this->approve == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_published_language'); ?></option>
                            	<option value="0" <?php if($this->approve == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_unpublished_language'); ?></option>
                            </select>  
                            
                                                     
                        </div>   
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                     <div class="toggle-row">
					 	
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_state'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="state_id" id="state_id" class="state_id ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('autos_select_state'); ?></option>																			
                            </select><span id="state_id_err"></span>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_category'); ?></span>
                        </div>
                        
                        <div class="toggle-field"> 
                        	<select name="category_id" id="category_id" class="ui-widget-content ui-corner-all" operator="eq" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							  	<?php
									if($this->cat_data)
									{	
										foreach($this->cat_data as $info)
										{
											$selected = ($this->category_id == $info['id']) ? 'selected="selected"' : '';
								?>
							  <option value="<?php echo $info['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($info['category_name']); ?></option>
							  <?php
										}
									}
							  ?>
							</select>                      
                        </div>
                  	</div>
                    <!-- Row 4 Start -->
                    
                    <!-- Row 5 Start  -->
                     <div class="toggle-row">                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_area'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
                           <select name="area_id" id="area_id" class="area_id ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('autos_select_area'); ?></option>																			
                            </select><span id="area_id_err"></span> 
                            <span id="loader_img"></span>                      
                        </div>
                        
					 	<?php
						if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
						{
						?>
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_agent'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<span class="ui-widget">
                            <select name="autos_agent" id="autos_agent">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
                                if($this->mem_data)
                                {	
                                    foreach($this->mem_data as $key=>$value)
                                    {
                                ?>
                                    <option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
                                <?php
                                    }	
                                }
                                ?>
							</select>
                            </span>
                        </div>
                        <?php
						}
						?>                        
                  	</div>                    	
                    <!-- Row 5 End -->
             	</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="autos_search_btn"><span class="icon search"><?php echo $this->translator->translator('prperty_list_page_search_button'); ?></span></a></span>
                </div>
            </form>
        	</div>	         	  
        	<?php endif; ?> 
             
             <div id="example">
             	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
   					 <div id="grid"></div>  
                 </div> 
             </div> 
             
             
                          
        </div>
    </div>    
</article>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<div id="add-date-confirm" title="<?php echo $this->translator->translator('autos_add_available_date'); ?>"></div>
<!-- Content End -->
    <?php // endif;  ?>
</div>	