<?php
$this->headMeta()->setName('keywords',$this->translator->translator('hotels_list_page_invoice_details_title'));
$this->headMeta()->setName('description',$this->translator->translator('hotels_list_page_invoice_details_title'));
$this->headTitle()->headTitle($this->translator->translator('hotels_list_page_invoice_details_title'),'SET');

$global_conf = Zend_Registry::get('global_conf');
$front_template = Zend_Registry::get('front_template');
$currency = new Zend_Currency($global_conf['default_locale']);
$currencySymbol = $currency->getSymbol(); 
$currencyShortName = $currency->getShortName();

echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/accordion-panel/accordion.css');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/accordion-panel/accordion.js');

?>
<script type="text/javascript">
$(document).ready(function() {
	$('a.remove_btn').click(function() {
			var self = this;			
				var cart_arr = $(self).attr('rel').split('-');	
				
				$.ajax({
					 url: "<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'book', 'action'     => 'remove' ), 'adminrout',    true) ?>",
					 type: 'POST',
					 data: { cart_id: cart_arr[0], sub_cart_id: cart_arr[1] },
					 beforeSend: function(){						
						$(self).html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" border="0" height="17" />');
					 },
					 success: function(response) 
					 {
						//alert(response);
						var json_arr = eval("("+response+")");
						if(json_arr.status == 'ok')
						{
							document.location.href = '<?php echo $this->url(); ?>';
						}
						else
						{
							openMsgDialog(json_arr.msg);
						}
					 }
				});				
		});	
		function openMsgDialog(msg)
		{
		$('#dialog_container').html(msg).dialog({
					autoOpen: true,
					modal: false,
					show: 'fade',
					resizable: 'false',				
					buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
					open: function(event, ui)
						 {
							setTimeout(function() 
							{									
								if($('#' + event.target.id).dialog('isOpen'))
								{
									//$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
								}
							}, 10000);
						  }
				});
		}

});
</script>
<?php
if($global_conf['payment_system'] != 'On')
{	
?>
	<div class="mod">
		<h1><?php echo $this->translator->translator('hotels_invoice_cart_details_title'); ?></h1>
		
		<?php
			echo '<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> '.$this->translator->translator('common_payment_system_disable').'</div>';
		?>
	</div>
<?php
}
else
{
	if($this->invoice_arr['status'] == 'ok' && !empty($this->invoice_arr))
	{
		//echo $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TABLE];
	?>
		<div class="mod">
			<h1><?php echo $this->translator->translator('hotels_invoice_cart_details_title'); ?></h1>
            
			<?php			   		
					if($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT])
					{					
			?>
						<div id="invoiceitemstable" class="invoice-container">
							<div class="invoice">
								<div class="invoice-chart">
									<div class="div-head">
										<div id="invoiceitemsheading" class="div-vr-1">
											<?php echo $this->translator->translator("hotels_invoice_desc_title"); ?>
										</div>
										<div id="invoiceitemsheading" class="div-vr-2">
											<?php echo $this->translator->translator("hotels_invoice_amount_title"); ?>
										</div>
									</div>
								</div>
								<?php
								if($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT])
								{
									$cnt = 1;
									foreach($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_ITEM_OBJECT] as $object_key => $dataInfo)
									{												
								?>
										<div class="item-title">
											<?php echo $this->escape($dataInfo['inv']['hotels_name']); ?>
										</div>        
								<?php
										if($dataInfo['inv']['hotels_room'])
										{
											foreach($dataInfo['inv']['hotels_room'] as $key=>$value)
											{
												if(!empty($value))
												{													
													$room_price_list_by_date = '';
													if($value['roomCalendar_info'])
													{													
														$totalDays = $value['total_night'] + 1;
														$sub_total	=	0;
														$room_price_list_by_date .= '<div id="accordion-container">';
														
														foreach($value['roomCalendar_info'] as $room_infos_key => $room_infos_arr)
														{				
															  $room_price_list_by_date .= '<div class="room-types">
																							  <h2 class="accordion-header">'.$this->numbers($this->escape($room_infos_arr['room_name'])).' - ('.$currencyShortName.'&nbsp;'.$this->numbers(number_format($this->price($value['descount_price']), 2, '.', ',')).'&nbsp;'.$currencySymbol.' / '.$this->translator->translator("hotels_front_page_list_head_no_apartments_per_night").' )</h2>
																							  <div class="accordion-content" style="display: none;">
																								  <div class="price-container">';
																								  if($room_infos_arr['per_book_date'])
																								  {																										
																									  foreach($room_infos_arr['per_book_date']	as $roomCalendar_info_key	=> $roomCalendar_info_arr)
																									  {
																										  $sub_total += $roomCalendar_info_arr['per_night_price'];
																										  $room_price_list_by_date .= '<div class="room-per-day"><span class="text-label">'.$this->numbers($roomCalendar_info_arr['per_night']).'</span></div><div class="price-per-day"><span class="text-label">'.$currencySymbol.'&nbsp;'.$this->numbers(number_format($roomCalendar_info_arr['per_night_price'], 2, '.', ',')).'&nbsp;'.$this->translator->translator("hotels_front_page_list_head_no_apartments_per_night").'</span>'.(($roomCalendar_info_arr['is_seasonal_price'] === true) ? ' <span class="seasonal-price">('.$roomCalendar_info_arr['plan_name'].')</span>' : '').'</div>';
																									  }
																								  }
															  $room_price_list_by_date .= 		'</div>
																							  </div>
																						   </div>';														
															$cnt++;
														}
														if(!empty($value['room_tax']))
														{
															$sub_total += $value['room_tax'];
															$room_price_list_by_date .= '<div class="room-types">
																								<h2 class="accordion-header">'.$this->translator->translator("hotels_room_type_price_details_tax_title").' '.$currencySymbol.'&nbsp;'.$this->numbers(number_format($value['room_tax'], 2, '.', ',')).'&nbsp;'.$currencyShortName.'  '.(($value['room_tax_type'] == '2') ?  ' ('.$this->numbers($value['room_tax_original']).'%)' : '').'</h2>
																								<div class="accordion-content" style="display: none;">
																									<div class="price-container">';
																			$room_price_list_by_date .= '<div class="room-per-day"><span class="text-label">'.$this->translator->translator("hotels_invoice_total_title").' :</span></div><div class="price-per-day"><span class="text-label">'.$currencySymbol.'&nbsp;'.$this->numbers(number_format($sub_total, 2, '.', ',')).'</div>';
																									
															$room_price_list_by_date .= 		'</div>
																							</div>
																						</div>';
														}
														$room_price_list_by_date .= '</div>';
													}
													
														
													
										?>
													<div class="invoice-chart">
														<div class="div-hr">
															<div id="invoiceitemsrow" class="div-vr-1">
																<figure><div class="thumb"><img src="<?php echo $this->serverUrl().$this->baseUrl(); ?>/data/frontImages/hotels/room_type_image/<?php echo $this->escape($value['room_type_image']); ?>" height="60" title="<?php echo $this->escape($value['room_type']); ?>" /></div></figure>
																<span class="product-title"><?php echo $this->escape($value['room_type']); ?></span>
																<br />
																<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_check_in"); ?> : </span> <?php echo $this->numbers($value[Eicra_File_Constants::HOTELS_CHECK_IN]); ?>
																<br  />
																<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_check_out"); ?> : </span> <?php echo $this->numbers($value[Eicra_File_Constants::HOTELS_CHECK_OUT]); ?>
																<br  />
																<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_room_condition"); ?> :</span> <?php echo $this->escape($value['room_condition']); ?>
																<br />
																
																<?php echo $room_price_list_by_date; ?>
																<br />                                                           
																<a href="javascript:void(0);" class="remove_btn remove-btn" rel="<?php echo $this->escape($value['session_key']); ?>"><?php echo $this->translator->translator("hotels_invoice_room_remove"); ?></a>
																															
															</div>
															<div id="invoiceitemsrow" class="div-vr-2">
																<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_total_night"); ?> : </span> <?php echo $this->numbers($this->escape($value['total_night'])); ?><br />
																<?php //if($value['price_setting_type'] == '2') { ?>
																<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_total_day"); ?> : </span> <?php echo $this->numbers($this->escape($totalDays)); ?><br />
																<?php //} ?>
																<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_room_no_chose"); ?> : </span>  <?php echo $this->numbers($this->escape($value['apartments_no'])); ?><br />
																<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_room_cost"); ?> : </span> <?php echo $currencySymbol.' '.$this->numbers(number_format($this->escape($sub_total), 2, '.', ',')).' '.$currencyShortName; ?><br />
																<?php
																	if(Settings_Service_Price::is_exists('3', $global_conf, $sub_total))
																	{
																?>
																		<div>
																			<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_booking_fee"); ?> : </span> <?php echo $this->numbers($this->escape($value[Eicra_File_Constants::INVOICE_BOOK_FEE_SHOW])); ?><br />
																			<span class="amount-label"><?php echo $this->translator->translator("hotels_invoice_total_book_fee_title"); ?> : </span> <span class="amount-total"><?php echo $currencySymbol.' '.$this->numbers(number_format($value['sub_total'], 2, '.', ',')).' '.$currencyShortName	; ?></span>
																		</div>
																<?php
																	}
																?>
															</div>
														</div>
													</div>
										<?php														
												  }
											}
										}						
									}
								}
								?>
							</div>
						
							<div class="invoice">
								<div id="invoiceitemsheading" class="invoice-chart">
									<div class="div-hr amount-hr">
										<div class="div-vr-1">
											<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_total_title").'&nbsp;'; ?></span>
										</div>
										
										<div class="div-vr-2">
											<span class="amount-label"><?php echo "$currencySymbol ".$this->numbers(number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT], 2, '.', ','))." $currencyShortName"; ?></span>
										</div>
									</div>
									<?php							
										if(Settings_Service_Price::is_exists('4', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
										{	
											$services_charge_margine = Settings_Service_Price::getMargine('4');
											$services_charge_margine_show	=	(preg_match("/%/i", $services_charge_margine)) ? $currencySymbol.' '.number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE], 2, '.', ',').' '.$services_charge_margine : $services_charge_margine;								
									?>                
											<div class="div-hr amount-hr">
												<div class="div-vr-1">
													<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_service_charge").'&nbsp;'; ?></span>
												</div>
												
												<div class="div-vr-2">
													<span class="amount-label"><?php echo $this->numbers($services_charge_margine_show); ?></span>
												</div>
											</div>
									<?php
										}
										if(Settings_Service_Price::is_exists('5', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
										{
									?>
											<div class="div-hr amount-hr">
												<div class="div-vr-1">
													<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_deposit_charge", $this->numbers(Settings_Service_Price::getMargine('5'))).'&nbsp;'; ?></span>
												</div>
												
												<div class="div-vr-2">
													<span class="amount-label"><?php echo $currencySymbol.' '.$this->numbers($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_DEPOSIT_CHARGE]).' '.$currencyShortName; ?></span>
												</div>
											</div>
											
											<div class="div-hr amount-hr">
												<div class="div-vr-1 advance">
													<?php echo $this->translator->translator("hotels_invoice_deposit_payable").'&nbsp;'; ?>
												</div>
												
												<div class="div-vr-2 advance">
													<span class="amount-label"><?php echo $currencySymbol.' '.$this->numbers(number_format($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE], 2, '.', ',')).' '.$currencyShortName; ?></span>
												</div>
											</div>
									<?php
										}							
										if(Settings_Service_Price::is_exists('4', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]))
										{								
									?>                
											<div class="div-hr amount-hr">
												<div class="div-vr-1">
													<span class="text-label"><?php echo $this->translator->translator("hotels_invoice_grand_total").'&nbsp;'; ?></span>
												</div>
												
												<div class="div-vr-2">
													<span class="amount-label"><?php echo $currencySymbol.' '.$this->numbers(number_format(($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]+$this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE]), 2, '.', ',')).' '.$currencyShortName; ?></span>
												</div>
											</div>                
									<?php
										}
									?>
								</div>
								<?php
									if(Settings_Service_Price::is_exists('5', $global_conf, $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]) && !empty($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE]))
									{
								?>            
								<div class="due-balance">
									<?php echo $this->translator->translator("hotels_invoice_later_payable", $currencySymbol.' '.$this->numbers(number_format((($this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_TOTAL_AMOUNT]+$this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_SERVICE_CHARGE]) - $this->invoice_arr['invoice_arr'][Eicra_File_Constants::INVOICE_NOW_PAYABLE]), 2, '.', ',')).' '.$currencyShortName); ?>
								</div>
								<?php
									}
								?>
							</div>
						</div>
			<?php
					}
			?>
            <div class="text-center">
                <a href="Search-Hotel-List" class="btn btn-global"><span class="glyphicon glyphicon-share-alt"></span> <?php echo $this->translator->translator('hotels_continue_cart'); ?></a>
                <a href="Hotel-Invoice-Confirm" class="btn btn-global"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translator->translator('invoice_payment', '', 'Invoice'); ?></a>
            </div>
		</div>
	<?php
	}
	else
	{
?>
	<div class="mod">
		<h1><?php echo $this->translator->translator('hotels_invoice_cart_details_title'); ?></h1>
		
		<?php
			echo '<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> '.$this->translator->translator('hotels_invoice_cart_empty').'</div>';
		?>
	</div>
<?php
	}
}
?>
<div id="dialog_container"></div>