<?php
try
{	
	$translator = Zend_Registry::get('translator');
	$front_template = Zend_Registry::get('front_template'); 
	$review_db = new Review_Model_DbTable_Setting();
	$review_no = $review_db->getReviewNo(2);
}
catch(Exception $e)
{
	$review_no = 0;
}
?>

<div class="block block-reviews">
	<div class="block-body">
    	<h3><span class="glyphicon glyphicon-comment"></span> <?php echo $translator->translator('block_reviews_title','','', $front_template['theme_folder']); ?></h3>
        <p><?php echo $translator->translator('block_reviews_total','','', $front_template['theme_folder']); ?> <?php echo $this->numbers(number_format($review_no)); ?> <?php echo $translator->translator('block_reviews_info','','', $front_template['theme_folder']); ?></p>
    </div>
</div>