<?php
class hotels_top_destination
{
	protected	$_group = 1;
	protected	$_limit = 5;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$area_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->area_db = new Hotels_Model_DbTable_Area();	
		$group_db =  new Hotels_Model_DbTable_HotelsGroup();
		$this->group_datas = $group_db->getGroupName($this->_group);	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');			
		
		
		$selectTD = $this->_DBconn->select()
						->from(array('cut' => Zend_Registry::get('dbPrefix').'countries'), array('cut.*','(SELECT hps.hotels_primary_image FROM '.Zend_Registry::get('dbPrefix').'hotels_page as hps WHERE hps.country_id = cut.id AND hps.active = "1" ORDER BY RAND() LIMIT 1) AS primary_image'))					   	
						->joinLeft(array('hp' => Zend_Registry::get('dbPrefix').'hotels_page'), 'hp.country_id = cut.id', array('hotel_num' => 'COUNT(hp.id)'))
					   	->group('cut.id')
						->where('hp.active = ?', '1')
					   	->limit($this->_limit)
						->order(new Zend_Db_Expr("RAND()"));
		
		$info =  $selectTD->query()->fetchAll();
?>
<div class="block block-top-destinations">
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<h3><span class="glyphicon glyphicon-plane"></span> <?php echo $translator->translator('block_top_destinations_title','','', $this->_front_template['theme_folder']); ?></h3>
        </div>
    	<div class="panel-body">
        	<?php
        if($info)
        {
            foreach($info as $key => $entry)
            {
        ?>
            <figure>
            	<div class="crop">
            		<a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>"><img src="data/frontImages/hotels/hotels_image/<?php echo $entry['primary_image']; ?>" class="img-responsive"></a>
                </div>
                
                <div class="country">
                	<p><a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>"><?php echo $this->_view->escape($entry['value']); ?></a> <img src="data/adminImages/flagsImage/<?php echo $entry['code']; ?>.gif"></p>
                    <span class="count"><a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>"><?php echo $this->_view->numbers($entry['hotel_num']); ?> <?php echo $translator->translator('block_top_destinations_hotel','','', $this->_front_template['theme_folder']); ?></a></span>
                </div>
            </figure>
        <?php
            }
        }
        ?> 
        </div>
    </div>
</div>
<?php			
	}
}

try
{
	$hotels_top_destination_class = new hotels_top_destination($this);
	$hotels_top_destination_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>