<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link =  'Members-Dashboard';
$booking_link =  'Members-Invoice-Item-List';
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('common_front_header_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']).'</a>';
?>
<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '&nbsp;', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<header id="header">
	<div class="container">
    	<div class="row">
        	<div class="col-md-5">
            	<div class="logo">
                	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" height="90" border="0" /></a>
                </div>
            </div>
            
            <div class="col-md-7 text-right">                
                <div class="btn-group top-links">
                    <a href="<?php echo $acount_link ?>" class="btn btn-default" role="button"><?php echo $this->translator->translator('common_front_account','', '', $front_template['theme_folder']); ?></a>
                    <a href="Register" class="btn btn-default" role="button"><?php echo $this->translator->translator('vacationrental_front_header_menu_registration','', '', $front_template['theme_folder']); ?></a>
                    <a href="<?php echo $booking_link ?>" class="btn btn-default" role="button"><?php echo $this->translator->translator('common_front_booking','', '', $front_template['theme_folder']); ?></a>
                    <a href="Site-Map" class="btn btn-default" role="button"><?php echo $this->translator->translator('common_front_header_menu_sitemap','', '', $front_template['theme_folder']); ?></a>
                    <div class="flags">
                        <?php echo $this->partial('blocks/header_language.phtml'); ?>
                    </div>
                </div>
                
                <div class="support">
                   <?php $this->ad(180); ?>
                </div>                
                <div class="welcome user-link"><?php echo $this->translator->translator('common_front_header_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?> <?php if(!$auth->hasIdentity()){ ?>| <a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a><?php } ?></div>
            </div>   
     	</div>
	</div>
</header>