<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
?>

<!-- Top Navigation Start-->
<nav class="top-nav">
	<div class="container">
		<div class="col-md-12">
        	<?php echo $this->partial('blocks/global/menu_header.phtml'); ?>
		</div>
	</div>
</nav>
<!-- Top Navigation End-->
        
<!-- Search Bar Start-->
<?php echo $this->partial('blocks/global/top_search.phtml'); ?>
<!-- Search Bar End -->