<?php
if($this->json_arr['status'] == 'ok'):	
	if($this->json_arr['data_result'] && $this->json_arr['data_result'][0]):
	
		if(!empty($this->json_arr['data_result'][0]['group_meta_keywords'])) : $this->headMeta()->setName('keywords',$this->json_arr['data_result'][0]['group_meta_keywords']); endif;
		if(!empty($this->json_arr['data_result'][0]['group_meta_desc'])) : $this->headMeta()->setName('description',$this->json_arr['data_result'][0]['group_meta_desc']); endif;
		if(!empty($this->json_arr['data_result'][0]['business_type'])) : $this->headTitle()->headTitle($this->json_arr['data_result'][0]['group_meta_title'],'SET')->setSeparator(' - ')->headTitle($this->json_arr['data_result'][0]['business_type']); endif;
		
		echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
		$front_template = Zend_Registry::get('front_template');		
		$global_conf = Zend_Registry::get('global_conf');
		
		// 1ist param options are : like, inline, plus_minus, horizontal, triangle
		$vote = new Vote_Controller_Helper_ShowVoteButton('inline','vacationrentals_page' );	
?>
<script type="text/javascript">
    $(document).ready(function() {
		var settingObj = {  
							saveItem: {
								link_id : 'a.save_vacationrentals_btn',
								server_url: "<?php echo $this->url( array('module' =>'Vacationrentals','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},                          
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>"
                                        }
                        };
		itemSave(settingObj);
       text_truncate();
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('vacationrentals_front_page_list'); if(count($this->page_id_arr) < 2){ echo ' ('.$this->escape($this->json_arr['data_result'][0]['business_type']).')'; } ?></h1>
	<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendbiz/pagination-flickr.phtml'); ?>
    
	<?php
        foreach($this->json_arr['data_result'] as $key => $entry)
        {
    ?>
    	<div class="panel panel-default">
            <div class="panel-heading">
                <p>
                    <a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'] ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['vacationrentals_name']); ?>"><?php echo $this->escape($entry['vacationrentals_name_format']); ?></a>
                    &nbsp; <span class="label label-success"><?php echo $this->escape($entry['business_type']); ?></span>
                </p>
                <div class="text-muted">
                    <em>
                        <?php if($entry['feature_room_no']){ echo $this->escape($entry['feature_room_no']).' '. html_entity_decode($this->translator->translator('vacationrentals_front_page_room'), ENT_QUOTES, "UTF-8"); } 
                       	if($entry['feature_bathroom']){ echo  ', ' . $this->escape($entry['feature_bathroom']).' '. html_entity_decode($this->translator->translator('vacationrentals_front_page_bathroom'), ENT_QUOTES, "UTF-8"); } 
                      	if($entry['feature_bedroom']){ echo  ', ' . $this->escape($entry['feature_bedroom']).' '.html_entity_decode($this->translator->translator('vacationrentals_front_page_bedroom'), ENT_QUOTES, "UTF-8"); } ?>
                    </em>
                </div>
            </div>
            
            <div class="panel-body <?php echo ($entry['featured'] == '1') ? 'featured-content' : ''; ?>">
                <?php if($entry['featured'] == '1'): ?><div class="ribbons" id="ribbons"><div><?php echo $this->translator->translator('common_featured_language'); ?></div></div><?php endif; ?>
                <figure>
                    <div class="thumb">
                        <a href="<?php echo $this->url(array('module' => 'vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'] ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $this->escape($entry['vacationrentals_image_format']); ?>" title="<?php echo $this->escape($entry['vacationrentals_name']); ?>"><img src="<?php echo $this->escape($entry['vacationrentals_image_format']); ?>" border="0" <?php echo $this->escape($entry['thumb_width']).' '.$this->escape($entry['thumb_height']); ?> /></a>
                       	<div class="photo-count-container">
                        	<div class="photo-count">
                            	<a href="<?php echo $this->url(array('module' => 'vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'],'tab' => 1 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>" title="<?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_click_view_listing'), ENT_QUOTES, "UTF-8"); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->escape($entry['vacationrentals_image_no_format']); ?></a>
                           	</div>
                      	</div>
                    </div>
                </figure>
                
                <div class="details">
                    <div class="ratings">
                        <?php echo $this->escape($entry['list_stars_format']); ?>
                    </div>
                    <div class="text-center">	
                   		<?php if($entry['vacationrentals_price']){ echo '<span class="price">'.html_entity_decode($this->translator->translator('vacationrentals_front_page_price'), ENT_QUOTES, "UTF-8"); echo $this->currency->getSymbol().''.$entry['vacationrentals_price'].'</span>'; if($entry['vacationrentals_strickthrow_price'] && $entry['vacationrentals_strickthrow_price'] != 0){ echo ' &nbsp; <span class="price-previous">'.$this->currency->getSymbol().''.$entry['vacationrentals_strickthrow_price'].'</span>';  } }  ?>
                    </div>
                    
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="vacation-icon icon-calendar"></i>
                            <a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'],'tab' => 4 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>" title="Check Calendar for reservation"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_label_check-availability'), ENT_QUOTES, "UTF-8"); ?></a>
                        </li>
                        <?php
                          $feature_facilities_arr = ($entry['feature_amenities']) ? explode(',', $entry['feature_amenities']) : array();															
                          if(in_array('Smoking Allowed', $feature_facilities_arr))
                          {
                        ?>						  
                        <li class="list-group-item">
                            <i class="vacation-icon icon-smoking"></i>
                            <?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_list_allow_smoking'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                          }
                          if(in_array('Swimming Pool', $feature_facilities_arr))
                          {
                        ?>						  
                        <li class="list-group-item">
                            <i class="vacation-icon icon-swimming"></i>
                            <?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_list_swwimming_pool_availability'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                          }
                          if(in_array('Pets Allowed', $feature_facilities_arr))
                          {
                        ?>						  
                        <li class="list-group-item">
                            <i class="vacation-icon icon-pet"></i>
                            <?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_list_pet_allow'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                        }
                        if(in_array('Hot Tub Available', $feature_facilities_arr))
                        {
                        ?>					  
                        <li class="list-group-item">
                            <i class="vacation-icon icon-tub"></i>
                            <?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_list_hot_tub_availability'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php } ?>
                    </ul>
                
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_country'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $this->escape($entry['country_name']); ?><br>
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_location'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $this->escape($entry['state_name']); if($entry['city']){ echo ', ' . $this->escape($entry['city']); } ?><br>
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_desc'), ENT_QUOTES, "UTF-8"); ?></span>
                    <span class="jTruncate"><?php echo $this->escape($entry['vacationrentals_desc_format']); ?></span>                              
        		</div>
            
                <hr>
                <div class="text-center">
                    <?php if($entry['review_id']){ ?>                                         
                    <span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $entry['review_id'], Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><span class="glyphicon glyphicon-pencil"></span> <?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; 
                    <span class="review-count"><a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'],'tab' => 8 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>"><?php echo $this->escape($entry['review_no_format']); ?></a></span>
                    <?php } ?>
                </div>
            
                <hr>
                <div class="vote text-center">
                    <span class="label label-primary"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?></span>
                    <span><?php echo $this->escape($entry['vote_format']); ?></span>
                </div>
     		</div>
        
        	<div class="panel-footer text-center">
            	<a href="javascript:void(0);" class="save_vacationrentals_btn btn btn-block btn-primary save" rel="<?php echo $entry['id']; ?>"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("vacationrentals_front_page_save_vacationrentals"), ENT_QUOTES, "UTF-8"); ?></a>
              	<?php /*if($entry['shopping_cart_enable'] === true) : ?><a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'book', 'action' => 'booking','vacationrentals_title' => $entry['vacationrentals_title'] ),'Book-Vacationrentals/:vacationrentals_title',true) ?>" class="btn btn-block btn-warning book"><span class="glyphicon glyphicon glyphicon-bookmark"></span> <?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_book'), ENT_QUOTES, "UTF-8"); ?></a><?php endif;*/ ?>
              	<a href="<?php echo $this->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $entry['vacationrentals_title'] ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="btn btn-block btn-success details"><?php echo html_entity_decode($this->translator->translator('vacationrentals_front_page_vacationrentals_more'), ENT_QUOTES, "UTF-8"); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
      	</div>
	<?php
        }
    ?>

	<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendbiz/pagination-flickr.phtml'); ?>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('vacationrentals_front_page_list')); ?>"></div>
<?php	
	else:
	?>
    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
    	<?php echo $this->translator->translator('vacationrentals_front_page_business_type_not_found'); ?>
  	</div>
    <?php
	endif;
else:
?>
<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
	<?php echo $this->json_arr['msg'] ; ?>
</div>
<?php
endif;
?>