<?php
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
$version = Zend_Registry::get('version');
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
echo $this->headScript()->setFile('application/modules/Hotels/js/travelstart/jquery.ba-postmessage.min.js', '');


// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$front_template = Zend_Registry::get('front_template');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline', 'hotels_page');
$business_type_db = new Hotels_Model_DbTable_BusinessType();
$mem_db = new Members_Model_DbTable_MemberList();
$room_db = new Hotels_Model_DbTable_Room();
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance();
$hasIdentity = $auth->hasIdentity();
?>
<style type="text/css">
    .dialogPosition{position:fixed;}	
</style>

<?php
$allow_obj = new Hotels_View_Helper_Allow();
if (!$allow_obj->allowRule('frontshow', null, null, $this->group_datas['role_id'])) :
    ?>
    <?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else :
    ?>
    
    <div class="mod travelstart">
        <div class="text-center">
            <iframe id='travelstartIframe-506722ed-82ce-439e-9bde-2e9393f6b058' 
                    frameBorder='0' 
                    scrolling='no' 
                    src='https://www.travelstart.com.ng?affId=<?php echo $this->affID; ?>&isiframe=true'> 
            <!-- :-) --> 
            </iframe>
        </div>
        <script type="text/javascript">// these variables can be configured 
            var travelstartIframeId = 'travelstartIframe-506722ed-82ce-439e-9bde-2e9393f6b058';
            var iframeUrl = 'https://www.travelstart.com.ng';
            var logMessages = false;
            var showBanners = false;
            var affId = '<?php echo $this->affID; ?>';
            var affCampaign = '';
            var affCurrency = 'Default'; // ZAR / USD / NAD / ... 
            var height = '0px';
            var width = '100%';

            // do not change these 
            var iframe = $('#' + travelstartIframeId);
            var iframeVersion = '08';
            var autoSearch = false;
            var affiliateIdExist = false;
            var urlParams = {};
            var alreadyExist = [];
            var iframeParams = [];
            var match,
                    pl = /\+/g,
                    search = /([^&=]+)=?([^&]*)/g,
                    decode = function(s) {
                        return decodeURIComponent(s.replace(pl, " "));
                    },
                    query = window.location.search.substring(1);
            while (match = search.exec(query)) {
                urlParams[decode(match[1])] = decode(match[2]);
            }
            for (var key in urlParams) {
                if (urlParams.hasOwnProperty(key)) {
                    if (key == 'search' && urlParams[key] == 'true') {
                        autoSearch = true;
                    }
                    if (key == 'affId' || key == 'affid' || key == 'aff_id') {
                        affiliateIdExist = true;
                    }
                    iframeParams.push(key + '=' + urlParams[key]);
                    alreadyExist.push(key);
                }
            }
            if (!('show_banners' in alreadyExist)) {
                iframeParams.push('show_banners=' + showBanners);
            }
            if (!('log' in alreadyExist)) {
                iframeParams.push('log=' + logMessages);
            }
            if (!affiliateIdExist) {
                iframeParams.push('affId=' + affId);
            }
            if (!('affCampaign' in alreadyExist)) {
                iframeParams.push('affCampaign=' + affCampaign);
            }
            if (!('utm_source' in alreadyExist)) {
                iframeParams.push('utm_source=affiliate');
            }
            if (!('utm_medium' in alreadyExist)) {
                iframeParams.push('utm_medium=' + affId);
            }
            if (!('isiframe' in alreadyExist)) {
                iframeParams.push('isiframe=true');
            }
            if (!('landing_page' in alreadyExist)) {
                iframeParams.push('landing_page=false');
            }
            if (affCurrency.length == 3) {
                iframeParams.push('currency=' + affCurrency);
            }
            if (!('iframeVersion' in alreadyExist)) {
                iframeParams.push('iframeVersion=' + iframeVersion);
            }
            if (!('host' in alreadyExist)) {
                iframeParams.push('host=' + window.location.href.split('?')[0]);
            }
            var newIframeUrl = iframeUrl + (autoSearch ? '/search-on-index?search=true' : '/search-on-index?search=false') + '&' + iframeParams.join('&');
            iframe.attr('src', newIframeUrl);
            function setIframeSize(newWidth, newHeight) {
                iframe.css('width', newWidth);
                iframe.width(newWidth);
                iframe.css('height', newHeight);
                iframe.height(newHeight);
            }
            setIframeSize(width, height);
            $.receiveMessage(function(e, host) {
                if (logMessages) {
                    $('#logs').text('RECEIVED *** ' + new Date() + ' *** ' + 'message=' + e.data + ' *** iframeUrl=' + newIframeUrl);
                }
                var dataElements = e.data.split('&');
                if (dataElements && dataElements.length === 1) {
                    setIframeSize(width, e.data + 'px');
                } else {
                    var elementKey = dataElements[0].split('=');
                    var elementValue = dataElements[1].split('=');
                    if (elementKey[1] === 'resize') {
                        setIframeSize(width, elementValue[1] + 'px');
                    }
                    if (elementKey[1] === 'deeplink') {
                        window.location.replace(unescape(elementValue[1]));
                    }
                }
            }, iframeUrl);
        </script>
    </div>

    <div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg', 'Message'); ?>"></div>
<?php endif; ?>	