/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Hotel Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* Top Links ------------------------------------------------------------------------ */

.top-links .flags{
	border-right-width:0;
	border-left-width:1px;
	border-radius:4px 0 0 4px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* BLOCKS STYLE ********************************************************************* */

/* Block Box Model ------------------------------------------------------------------ */

.block figure .thumb,
	   figure .thumb{
	margin-right:0;
	margin-left:10px;
	float:right;
}

.block figure .label{
	unicode-bidi:embed;
}

/* ---------------------------------------------------------------------------------- */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
	margin:0 0 0 0;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown dd ul{ 
	left:-3px;
	right:-17px;
}

.dropdown dd ul li{
	border-left:0;
}

.dropdown span.flag{
	margin-left:0px;
	margin-right:10px;
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0 -1px 0 4px;
}

.usual-content{
  	clear:right;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search{
	right:28px;
	left:inherit;
}

.block-search img{
	float:left;
}

.block-search .btn{
	border-radius:0;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search img.ui-datepicker-trigger,
.block-search img.ui-datepicker-trigger{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-top-destinations .country{
	left:inherit;
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* Featured & Recent Hotels --------------------------------------------------------- */

.block-featured figure .thumb .photo-count-container,
.block-recent figure .thumb .photo-count-container{
	right:-8px;
	left:0;
}

.block-featured figure .thumb,
.block-recent figure .thumb{
	float:none;
}

/* ---------------------------------------------------------------------------------- */

/* Hotels Business Type ------------------------------------------------------------- */

.block-biztype .col-md-offset-1{
	margin:auto;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-right:0;
	padding-right:0;
}

.block-list ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position: right 10px;
	padding-right:10px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .panel .label,
.mod.details .label{
	unicode-bidi:embed;
}

.mod.details .col-md-offset-3{
	float:left;
	margin-left:0;
}
	
.mod figure .photo-count-container{
	left:inherit;
}

.mod figure .thumb{
	margin-right:0;
	margin-left:10px;
	float:right;
}

.mod .hotel-icon{
    margin-right: 0;
	margin-left: 4px;
}

.products-vote span{
	margin-right:5px;
}

.products-vote span input[type="button"]{
	margin: 0 0 -5px 4px;
	border:0;
	float:right;
}

.products-write-review a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding:0 20px 2px 0;
}

.ribbon:after, .ribbon:before {
    border: 1.5em solid #C33333;
    float:right;
}

.ribbon:after {
    border-left-color: rgba(0, 0, 0, 0);
}

.ribbon a:link, .ribbon a:visited {
    float:right;
}

.ribbon span:before {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    right: 0;
}

.ribbon span:after {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    left: 0;
}

.sticky{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart ---------------------------------------------------- */

.room-chart.details{
	margin-right:0;
}

.room-chart-header-col-1{
	border-right: 0;
	border-left: 1px solid #FFF;
}

.room-chart-row2 .room-chart-c1{
	border-right:0;
	border-left: 1px solid #FFF;
	padding-right:5px;
	padding-left:0;
	text-align:right;
}

.room-chart-row2 .room-chart-c1.room-chart-c4{
	text-align:left;
}

.room-chart-row3 .room-chart-c1.room-chart-c4{
	text-align:left;
}

.products-available,
.products-not-available{
	background-position: 99% center;
	padding-left:0;
	padding-right:20px;
}

.hotel-available,
.hotel-not-available,
.hotel-booked,
.hotel-room-left,
.hotel-room-last{
	background-position: right center;
	padding-right: 20px;
	padding-left: 0;
}

.hotel-room-booked{
	margin-right:5px;
	margin-left:0;
}

.hotel-price{
	margin-right:0;
	margin-left:4px;
}

.person-count{	
	margin-right:4px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Hotel Room Availability Chart Details Page --------------------------------------- */

.room-chart-row2 .room-chart-c1.room-chart-c3.details-col-3{
	text-align:left;
}

.room-chart-row2 .room-chart-c1.room-chart-c4.details-col-4{
	text-align:right;
}

.room-chart-row2 .details-col-1 img.plus{
	float:right;
	margin-right:0;
	margin-left:4px;
}

.room-types .price-container .room-per-day{
	float:right;
}

.room-types .price-container .price-per-day{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Room Suggestion Chart Start ------------------------------------------------------ */

.room-suggestion .chart-row .col-4{
	text-align:left;
}

.room-suggestion .chart-row.right{
	text-align:left;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details Middle Tab -------------------------------------------------------- */

.products-middle-tab li { 
	float:right;
}

.products-middle-tab ul a {
	margin:0 -1px 0 4px;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container ul{
	margin-right:0;
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow .switch {
	padding-right:5px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:0;
	border-right:1px solid #D6D6D6;
}

.invoice .item-title{
	padding:10px 5px 10px 0;
}

.invoice .due-balance{
	padding:10px 0 10px 5px;
	text-align:left;
}

.invoice a.remove-btn{
	float:left;
	padding:1px 18px 0 5px;
	background-repeat:no-repeat;
	background-position: 94% center;
}

.invoice-login-area{
	margin: 20px 20px 0 0;
}

.invoice-btn-container{
	padding:10px 15px 5px 0;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	text-align:right;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body_block_clild_body_box2_child1{
	padding-left: 0;
	padding-right: 10px;
}
			
.itinerary-header{
	margin-left:0;
	margin-right:5px;
}
				
.itinerary-price{
	text-align:left;
	padding-right:0;
	padding-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Expedia -------------------------------------------------------------------------- */

.mod.expedia .callout{
	border-right:3px solid;
	border-left:0;
}

.mod.expedia .promo-offer{
	right:auto;
	left:-12px;
	border-radius:4px 4px 4px 0;
	-webkit-border-radius:4px 4px 4px 0;
	-moz-border-radius:4px 4px 4px 0;
}

.mod.expedia .corner:before {
   	border-right: 10px;
	border-left: 10px solid transparent;
	right:auto; 
	left: -11px;
}

.mod.expedia .col-md-5.col-md-offset-2{
	margin-left:0;
	float:left;
}

.block-biztype .col-md-offset-1{
	margin:auto;
}

/* ---------------------------------------------------------------------------------- */

/* Top Nav -------------------------------------------------------------------------- */

.jetmenu li{float:right !important;}

.jetmenu > li.right{float:left !important;}

.jetmenu .megamenu .col2{float:right !important;}

.jetmenu .indicator{ left:0; right:5px}

.jetmenu ul li .indicator{right:10px; left:0;}

.jetmenu li > .megamenu ul{float:right !important;}

.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6{ float:right !important};

/* ---------------------------------------------------------------------------------- */

/* Accordion ------------------------------------------------------------------------ */

.ac-container label,
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background-position: 100% 13px !important;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	background-image:none !important;
}

.ac-container-sidebar > div > label,
.ac-container-sidebar input:checked + label,
.ac-container-sidebar input:checked + label:hover{
	background-image: url(../images/list-arrow-rtl.gif) !important;
	background-position: 98% center !important;
}

.ac-container-sidebar .checkbox, .ac-container-sidebar .radio{
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


/* ********************************************************************************** */


