<?php 
$is_frontend = new Eicra_Model_DbTable_Frontend();
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link = 'Members-Dashboard' ;
$booking_link =  'Members-Invoice-Item-List';
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('common_front_header_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']).'</a>';
?>
<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<div class="top-bar">
	<?php if(!$is_frontend->isFrontend()){ ?>
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <?php } ?>
    <div class="container">
        <div class="row">    	
            <div class="col-xs-12 user-link">
            	<?php echo $this->translator->translator('common_front_header_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-links">
            	<?php if(!$auth->hasIdentity()){ ?>
            	<a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a> | 
               	<?php } ?>
                <a href="Site-Map"><?php echo $this->translator->translator('common_front_header_menu_sitemap','', '', $front_template['theme_folder']); ?></a> |
              	<a href="Contact-Us"><?php echo $this->translator->translator('common_front_header_menu_contact','', '', $front_template['theme_folder']); ?></a> &nbsp; 
                <div class="flags">
                    <?php echo $this->partial('blocks/header_language.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header">
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" height="75" border="0" title="<?php echo $this->escape($global_conf['site_title']); ?>" class="logo img-responsive"></a>
            </div>
        </div>
    </div>
</div>