<?php
$frontController = Zend_Controller_Front::getInstance();	
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$translator = Zend_Registry::get('translator'); 
?>
<div id="nav">
	<div class="nav-header"><div class="nav-title"><?php echo $translator->translator('tracker_network_menu_title1'); ?></div></div>
    <div class="nav-body">
    	<ul>
        	<?php if ($this->allow('list','backendnetwork','Tracker')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendnetwork'){ ?> class="network-list selected"<?php }else{ ?>class="network-list"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendnetwork', 'action'=>'list'),'adminrout',true);?>" ><?php echo $translator->translator('tracker_network_list_page_name'); ?></a>
			</li>
			<?php endif; ?>
            
          	<?php if ($this->allow('add','backendnetwork','Tracker')) : ?>
			<li <?php if($getAction == 'add' && strtolower($getController) == 'backendnetwork'){ ?> class="network-list-add selected last"<?php }else{ ?>class="network-list-add last"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'Tracker','controller'=>'backendnetwork', 'action'=>'add'),'adminrout',true);?>" ><?php echo $translator->translator('tracker_network_add_page_name'); ?></a>
			</li>
			<?php endif; ?>   
        </ul>
  	</div>
</div>