<?php
if(!empty($this->brand_info['brand_name'])) { $this->headMeta()->setName('keywords',$this->brand_info['brand_name']);}
if(!empty($this->brand_info['brand_name'])) { $this->headMeta()->setName('description',$this->brand_info['brand_name']); }
if(!empty($this->brand_info['brand_name'])) { $this->headTitle()->headTitle($this->brand_info['brand_name'],'SET'); }

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');
$version = Zend_Registry::get('version');  
$front_template = Zend_Registry::get('front_template');

$business_type_db = new Autos_Model_DbTable_BusinessType();
$cat_Info = new Autos_Model_DbTable_Category();
$mem_db = new Members_Model_DbTable_MemberList();
$state_db = new Autos_Model_DbTable_State();
$area_db = new Autos_Model_DbTable_Area();
$country_db = new Autos_Model_DbTable_Country();
$group_db =  new Autos_Model_DbTable_AutosGroup();				
$review_helper = new Review_View_Helper_Review();
$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','autos_page' );


$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>

<div class="mod">
	<div class="list-icon">
        <h1><?php echo $this->translator->translator('autos_front_page_list').' ('.$this->escape($this->brand_info['brand_name']).')'; ?></h1>
    </div>
    
	<div class="social">
      	<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
    	<!-- AddThis Button END -->
    </div>
    
    <div class="clear"></div>

    <table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" > 
        <tbody>
          <?php
            foreach($this->view_datas as $entry)
            {
                $group_info = $group_db->getGroupName($entry['group_id']); 
                $autos_image_val_arr = explode(',',$entry['autos_image']);
                $autos_image_no = (empty($autos_image_val_arr[0])) ? '0' : count($autos_image_val_arr);
                if($this->escape($entry['autos_primary_image']))
                { 
                    $thumb_image = 'data/frontImages/autos/autos_image/'.$this->escape($entry['autos_primary_image']); 
                }
                else
                { 
                    if($this->escape($entry['autos_image']))
                    {							
                        $thumb_image = 'data/frontImages/autos/autos_image/'.$this->escape($autos_image_val_arr[0]); 
                    }
                    else
                    {
                        $thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_autos_img/no_image.png'; 
                    }		
                }
                if($group_info['file_thumb_width'] && ($group_info['file_thumb_resize_func'] == 'resizeToWidth' || $group_info['file_thumb_resize_func'] == 'resize'))
                { 
                    $width = 'width="'.$this->escape($group_info['file_thumb_width']).'"'; 
                }
                else
                {
                    $width = '';
                } 
                if($group_info['file_thumb_height'] && ($group_info['file_thumb_resize_func'] == 'resizeToHeight' || $group_info['file_thumb_resize_func'] == 'resize'))
                { 
                    $height = 'height="'.$this->escape($group_info['file_thumb_height']).'"'; 
                } 
                else
                {
                    $height = '';
                }
					$featured_class = ($entry['featured'] == '1') ? 'products-featured' : '' ;
                ?>
                  <tr>
                    <td>
                    	<div class="products-list">
                        		<!-- list Header Start -->
                                <div class="list-header">
                                	<div class="header-row">
                                        <div class="header-left">
                                            <span class="title-small"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['autos_model_name']); ?>"><?php echo $this->escape($entry['autos_model_name']); ?></a></span><br />
                                            <span class="info"><?php if(!empty($entry['feature_mileage'])){ echo $this->escape($entry['feature_mileage']).' '.$this->translator->translator('autos_front_page_mileage').', '; } if(!empty($entry['feature_doors'])){ echo $this->escape($entry['feature_doors']).' '.$this->translator->translator('autos_front_page_doors'); } ?></span>
                                        </div>
                                    
                                        <div class="header-middle">
                                            <span class="products-mark"><?php $business_type_info = $business_type_db->getBusinessTypeInfo($entry['autos_type']); ?></span>&nbsp;<span class="products-type"><?php echo $this->escape($business_type_info['business_type']); ?></span>
                                        </div>
                                    
                                        <div class="header-right">                                                
                                            <?php 
                                                if(!empty($group_info['review_id'])){ 
                                                $review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($group_info['review_id']));
                                            ?><span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($group_info['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']),'tab' => 8 ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span> <?php } ?>
                                        </div>
                                    </div>
                                </div>
                                <!-- list Header End -->
                                
                                <!-- list Body Start --> 
                                <div class="body-container <?php echo $featured_class; ?>">
                                     <div class="left-content">
                                            <div class="img-wrapper">
                                                <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['autos_model_name']); ?>" width="300"><img src="<?php echo $thumb_image; ?>" <?php echo $width; ?> <?php echo $height; ?> border="0" class="thumb"/></a>
                                                <div class="photo-count-container">
                                                    <div class="photo-count">
                                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']),'tab' => 1 ),'Autos-details/:autos_model_title/:tab',true); ?>" title="<?php echo $this->translator->translator('autos_front_page_click_view_photos'); ?>"><?php echo $this->translator->translator('autos_front_page_autos_photo_no', $autos_image_no); ?></a>
                                                    </div>
                                                </div>                                            
                                            </div>
                                            
                                            <h2>
                                                <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['autos_model_name']); ?>"><?php echo $this->escape($entry['autos_model_name']); ?></a>
                                            </h2>
                                            
                                            <div class="products-stars">
                                                <?php
                                                    for($i = 1; $i < $maximum_stars_digit; $i++)
                                                    {
                                                        $autos_stars = ($i <= $this->escape($entry['stars'])) ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_autos_img/star-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_autos_img/star-inactive.png' border='0'/>";
                                                        echo $autos_stars.'&nbsp;';
                                                    }
                                                ?>
                                            </div>
                                            
                                            <div class="products-desc">
                                                <div class="options-col-1">
                                                    <p><?php echo $this->translator->translator('autos_front_page_mileage'); ?>: </p><?php echo $this->escape($entry['feature_mileage']); ?><br />        
                                                    <p><?php echo $this->translator->translator('autos_front_page_exterior_color'); ?>: </p><?php echo $this->escape($entry['feature_exterior_color']); ?><br />
                                                    <p><?php echo $this->translator->translator('autos_front_page_drive_type'); ?>: </p><?php echo $this->escape($entry['feature_drive_type']); ?><br />
                                                    <p><?php echo $this->translator->translator('autos_front_page_transmission'); ?>: </p><?php echo $this->escape($entry['feature_transmission']); ?><br />
                                                </div>
                                            
                                                <div class="options-col-2">
                                                    <p><?php echo $this->translator->translator('autos_front_page_autos_engine'); ?>: </p><?php echo $this->escape($entry['feature_engine']); ?><br />
                                                    <p><?php echo $this->translator->translator('autos_front_page_interior_color'); ?>: </p><?php echo $this->escape($entry['feature_interior_color']); ?><br />
                                                    <p><?php echo $this->translator->translator('autos_front_page_fuel_type'); ?>: </p><?php echo $this->escape($entry['feature_fuel_type']); ?><br />
                                                    <p><?php echo $this->translator->translator('autos_front_page_bodystyle'); ?>: </p><?php echo $this->escape($entry['feature_bodystyle']); ?><br />
                                                </div>
                                         	</div>
                                     </div>
                                     
                                     <div class="right-content">
                                         <div class="price-wrap"> <span class="tag-head">&nbsp;</span>
                                          <p class="post-price">
                                            <?php if(!empty($entry['autos_price'])){ echo $currency->getSymbol().' '.$this->numbers(number_format($this->price($this->escape($entry['autos_price'])))); } ?>
                                          </p>
                                        </div>
                                        
                                        <div class="products-call">
                                            <?php if(!empty($entry['showroom_phone'])){ echo $this->escape($entry['showroom_phone']); } ?>
                                        </div>
                                        
                                        <div class="products-vote">
                                            <p><?php echo $this->translator->translator('autos_front_page_label_voting'); ?></p>
                                            <span><?php  $vote->showButton($entry['id'] , $this->escape($entry['autos_model_name'])); ?></span>
                                        </div>                                    
                                     </div>    
                                </div>
                                <!-- list Body End -->
                                
                                <!-- list footer start -->
                                <div class="list-footer">
                                    <div class="footer-left">
                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']),'tab' => 5 ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo $this->translator->translator('autos_page_equipment'); ?></a> |
                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details',autos_model_title => $this->escape($entry['autos_model_title']),'tab' => 2 ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo $this->translator->translator('autos_front_page_autos_fpan'); ?></a>  |
                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']),'tab' => 3 ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo ucfirst(strtolower($this->translator->translator('autos_page_body'))); ?></a>  |
                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']),'tab' => 1 ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo $this->translator->translator('autos_front_page_autos_photo'); ?></a> |
                                        <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'emails', 'action' => 'friend','autos_model_title' => $this->escape($entry['autos_model_title']), 'form_id' => $this->translator->translator('email_to_friend_form_id') ),'Autos-Email-Your-Friend/:autos_model_title/:form_id',true); ?>"><?php echo $this->translator->translator('autos_front_page_autos_email_friend'); ?></a>
                                    </div>
                                
                                    <div class="footer-right">
                                    	<?php if($global_conf['payment_system'] == 'On'){ ?>
                                        <span class="products-book-btn"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'book', 'action' => 'booking','autos_model_title' => $this->escape($entry['autos_model_title']) ),'Book-Autos/:autos_model_title',true); ?>"><?php echo $this->translator->translator('autos_front_page_book_btn'); ?></a></span>
                                        <?php } ?>
                                        <span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>"><?php echo $this->translator->translator('autos_front_page_autos_more'); ?></a></span>
                                    </div>
                                </div>
                                <!-- list footer end -->
                        </div>
                    </td>
                  </tr>
          <?php
            }
          ?>
        </tbody>
    </table>
	
  	<div id="bottomPagination">
		<?php
			echo $this->paginationControl($this->view_datas, 'Sliding', 'frontend/brand-pagination-flickr.phtml'); 	 
		?>
	</div>
</div>