<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$is_frontend = new Eicra_Model_DbTable_Frontend();
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link = 'Members-Dashboard' ;
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('common_front_header_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']).'</a>';
$add_url =  $this->url(array('module'=> 'Autos','controller'=>'members', 'action'=>'add'), 'Members-Auto-Add/*', true);
$autos_db = new Autos_Model_DbTable_Autos();
?>

<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '&nbsp;', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<header>
	<?php if(!$is_frontend->isFrontend()){ ?>
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <?php } ?>
	<div id="top-bar">
        <div class="col-xs-12 user-link">
            <?php echo $this->translator->translator('common_front_header_welcome', '', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php  echo $sugnIn_link; ?> <?php if(!$auth->hasIdentity()){ ?>| <a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register', '', '', $front_template['theme_folder']) ?></a><?php } ?> 
        </div>
        <div class="col-xs-12 top-links">
        	<!--<a href="<?php //echo $acount_link; ?>" ><?php //echo $this->translator->translator('common_front_account', '', '', $front_template['theme_folder']) ?></a> |-->
            <!--<a href="Register"><?php echo $this->translator->translator('autos_front_header_menu_registration','', '', $front_template['theme_folder']); ?></a> | -->
            <!--<a href="Contact-Us"><?php echo $this->translator->translator('common_front_header_menu_contact', '', '', $front_template['theme_folder']) ?></a>
            <a href="Feedback"><?php echo $this->translator->translator('common_front_header_menu_feedback', '', '', $front_template['theme_folder']) ?></a>
            <a href="Sitemap"><?php echo $this->translator->translator('common_front_header_menu_sitemap', '', '', $front_template['theme_folder']) ?></a> |
            -->
            <?php
				$autos = new Autos_Model_DbTable_Autos();
				$listings = $autos->numOfAutos();
			?>
			<?php echo $this->translator->translator('autos_listing_no', number_format($listings), '', $front_template['theme_folder']); ?> &nbsp; 
            <div class="flags">
                <?php echo $this->partial('blocks/header_language.phtml'); ?>
            </div>
        </div>
    </div>
    
    <div id="header" class="listing-btn">
		<div class="col-xs-12 logo text-center">
        	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" border="0" class="img-responsive"></a>
      	</div>
    </div>
</header>