<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard' ;
$my_account = 'Members-Dashboard' ;
$add_url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Autos','controller'=>'Backendpro', 'action'=>'add'), 'adminrout', true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';
?>
</head>
<body>
<div id="page">
    <div id="slide-in-content"> 
    <!-- Header Start -->
    <?php echo $this->layout()->render('header'); ?>
    <!-- Header End -->

    <!-- Top Navigation Start-->
    <div class="top-nav clearfix">
        <div class="col-xs-12">
            <?php echo $this->partial('blocks/top-menu.phtml'); ?>
        </div>
    </div>
    <!-- Top Navigation End-->

    <!-- Banner Start-->
    <?php  
        if($is_frontend->isFrontend()) 
        {
    ?>
    <div id="banner">
        <div class="col-xs-12">
            <?php echo $this->partial('blocks/autos_home_banner_search.phtml'); ?>
        </div>
    </div>
    <?php
        }
        else
        {
    ?>
    
    <div id="banner-inner">
        <div class="container">            
            <h1><?php echo $this->translator->translator('banner_inner_slogan','', '', $front_template['theme_folder']); ?></h1>
        </div>
    </div>
    
    <?php  
    }
    ?>
    <!-- Banner End-->

	<?php if($is_frontend->isFrontend()){ ?>
    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>

    <div class="col-xs-12">          
        <!-- Home Tab Start-->
        <div id="demoTab">
            <ul class="resp-tabs-list">
                <li><?php echo $this->translator->translator('autos_front_page_block_tab1', '', '', $front_template['theme_folder']) ?></li>
                <li><?php echo $this->translator->translator('autos_front_page_block_tab2', '', '', $front_template['theme_folder']) ?></li>
                <li><?php echo $this->translator->translator('autos_front_page_block_tab3', '', '', $front_template['theme_folder']) ?></li>
                <li><?php echo $this->translator->translator('autos_recently_added', '', '', $front_template['theme_folder']) ?></li>
                <li><?php echo $this->translator->translator('autos_front_page_block_tab4', '', '', $front_template['theme_folder']) ?></li>
                <li><?php echo $this->translator->translator('autos_front_page_block_tab5', '', '', $front_template['theme_folder']) ?></li> 
            </ul>
    
            <div class="resp-tabs-container">                                                        
                <div><?php echo $this->partial('blocks/autos_home_content_featured.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/autos_home_content_latest.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/autos_home_content_popular_brand.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/autos_home_content_recent.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/autos_home_content_used_car.phtml'); ?></div>
                <div><?php echo $this->partial('blocks/autos_home_content_new_car.phtml'); ?></div>
            </div>
        </div>
        <script>
        $("#demoTab").easyResponsiveTabs({
            type: 'accordion', //Types: default, vertical, accordion           
            width: 'auto', //auto or any custom width
            fit: true   // 100% fits in a container
        });
        </script>
        <!-- Home Tab End-->
        
        <?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
        <?php echo $this->partial('blocks/autos_home_content_byBrand.phtml'); ?>
        <?php echo $this->partial('blocks/autos_home_content_byModel.phtml'); ?>
        <?php echo $this->partial('blocks/news_latest.phtml'); ?>
        <?php echo $this->partial('blocks/newsletter.phtml'); ?>
    </div>
	<?php
        }
        else
        {
    ?>
    <!-- Content Start-->
    <div class="col-xs-12">
        <?php echo $this->layout()->content; ?>
    </div>
    <!-- Content End-->   
    <?php } ?>

    <!-- Footer Start -->
    <?php echo $this->layout()->render('footer'); ?>
    <!-- Footer End -->
	<?php //if($global_conf['payment_system'] == 'On' && $global_conf['marchent_payment_system'] == 'On'){ echo $this->partial('shopping-cart.phtml'); } ?>
	</div>
    
    <!-- Slide Search Panel Start -->
    <?php if(!$is_frontend->isFrontend()){ ?>
    <nav id="menu">
    	<ul>
    		<li><?php echo (strtolower($controllerName) == 'frontendspareparts') ? $this->partial('blocks/autos_spare_parts_inner_sidebar_search.phtml') : $this->partial('blocks/autos_inner_sidebar_search.phtml'); ?></li>
        </ul>
	</nav>
    <?php } ?>
    <!-- Slide Search Panel End -->
</div>
<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>