<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
?>
<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>
<div id="top-bar">    	
    <div class="container">
        <div class="user-link">
            <span class="welcome"></span>
        </div>
            
        <div class="quick-access">
            <div class="flags">
                <?php echo $this->partial('blocks/header_language.phtml'); ?>
            </div>
    
            <div class="top-links">
                
             </div>
        </div>       
    </div>
</div>