<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<?php
$version = new Eicra_License_Version();
?>

<script type="text/javascript">
var settingObj = {
						form_action : {
											form_id: 'formSettings',
											hasTinyMCE: false,
											go_message_id		: 'actionMessage',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("product_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("product_selected_err"); ?>"
									}
					};
$(document).ready(function() {	
	
	floatingbar('#floatingbar',"#button_top_bar",null);
			
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
		 commonGoMessage(settingObj);	
	});	
		
	$('a.update_settings_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
		formData.id = '<?php echo $this->id; ?>';
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Costcalculator','controller' => 'backendsettings', 'action'     => 'update' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonOpenLoaderDialog(settingObj);
						commonRemoveFormError(settingObj);				
					 },
				success: function(response){
					try
					{											
						var json_arr = eval("("+response+")");					
						commonCloseLoaderDialog(settingObj);					
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));									
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else
						{
							commonCloseLoaderDialog(settingObj);
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
							commonGoMessage(settingObj);
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));	
						commonGoMessage(settingObj);
					}
				},
				error: function (xhr,status,msg)
				{
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;					
					$('#actionMessage').html(errMsgDesign(msg));	
					commonGoMessage(settingObj);
				}
		});
	});		
	
});
</script>

<div class="title-container">
	<div class="calculator-settings"><h1><?php echo $this->translator->translator('cost_settings_title'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    
    
    
    <div id="content-inner">
    	<form name="formSettings" id="formSettings" method="post">
        	<div id="actionMessage"></div>
        	<div id="generalInfo">
            	<fieldset class="fieldset last">
                	<legend class="legend"><?php echo $this->translator->translator('cost_settings_info'); ?></legend>
                  	<div class="form">
                    <?php
						$elementsObj = $this->settingsForm->getElements();
						foreach($elementsObj as $element)
						{
					?>
                    
                    	<div class="form-row">
                            <div class="label">
                                <?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                            </div>
                            
                            <div class="field">
                                <?php echo $element; ?>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                            </div>
                        </div>
                     <?php
						}
					 ?>  
                        
                   	</div>
             	</fieldset>
         	</div>
     	</form>
		<div class="button-container">
			<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
			<span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
		</div>
	</div>    
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('cost_settings_title')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('cost_settings_title'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="update_settings_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	
</div>