<?php $version = Zend_Registry::get('version'); ?>

<script type="text/javascript">

$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);
	$('a.reset_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});
	function resetFields()
	{
		$( "form" )[ 0 ].reset();		
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
		var filename = '';
		var filevalue = '';		
		$.each($('form').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];					
				}
				else
				{
					filename 	= 	field.name;
				} 			
				$('#'+filename).removeClass('ui-state-error');
				$('#'+filename+'_err').html('');									
		});				
	}
		
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'fade',
					resizable: 'false',				
					open: function(event, ui)
						 {
						 	$("#progressbar").progressbar({
								value:100
				
							});							
						  }
				});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		var filename = '';
		var filevalue = '';
		$.each($('form').serializeArray(), function(i, field) {	
			if(field.name.match(/\[\]$/))
			{
				var filearr = field.name.split('[]');
				filename = filearr[0];
				filevalue = $('#'+filename).val();
			}
			else
			{
				filename 	= 	field.name;
				filevalue 	= 	field.value;
			} 		
			fieldObj[filename] = filevalue;
		});
		return fieldObj;
	}
	
	$('a.save_btn').click(function() {			
			
		var formData = getFormData();			
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'messageboards', 'action'     => 'add' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						removeError();
						openLoaderDialog();				
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					closeLoaderDialog();					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));						
						resetFields();							
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
						openPerfectTab(json_arr.msg);
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					closeLoaderDialog();
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});		
	
});


</script>

<div id="container">
<?php  if (!$this->allow()) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>
<div id="button_top_bar"></div>
<div class="title-container">
	<div class="b2b-messages-add"><h1><?php echo $this->translator->translator('menu_b2b_add_message'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'messageboards', 'action'     => 'list' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div> 

<div class="content-container">
	<div id="actionMessage"></div>
	<form name="formTradeShow" id="formTradeShow" method="post">    	
        <div id="generalInfo">
        	<div id="tabs">
                	<fieldset class="fieldset">
                		<legend class="legend"><?php echo $this->translator->translator('b2b_messageboards'); ?></legend>                        
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->name->getLabel(); if($this->tradeshowForm->name->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->name; ?>
									<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="name_err"></div>
                                </div>
                            </div>
                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->title->getLabel(); if($this->tradeshowForm->title->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->title; ?>   
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="title_err"></div>
                                </div>
                            </div> 
                            
                            
                             <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->date->getLabel(); if($this->tradeshowForm->date->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->date; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->date->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="date_err"></div>
                                </div>
                            </div>  
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->time->getLabel(); if($this->tradeshowForm->time->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->time; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->time->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="time_err"></div>
                                </div>
                            </div>
                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->organizer->getLabel(); if($this->tradeshowForm->organizer->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->organizer; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->organizer->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="organizer_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->logo->getLabel(); if($this->tradeshowForm->logo->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->logo; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->logo->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="logo_err"></div>
                                </div>
                            </div>
                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->phone->getLabel(); if($this->tradeshowForm->phone->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->phone; ?>  &nbsp; <?php echo $this->tradeshowForm->phone_part2; ?> &nbsp;  <?php echo $this->tradeshowForm->phone_part3; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->phone->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="phone_err"></div>
                                </div>
                            </div>
                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->fax->getLabel(); if($this->tradeshowForm->fax->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->fax; ?>  &nbsp;  <?php echo $this->tradeshowForm->fax_part2; ?>  &nbsp; <?php echo $this->tradeshowForm->fax_part3; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->fax->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="fax_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->website->getLabel(); if($this->tradeshowForm->website->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->website; ?>   
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->website->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="website_err"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->address->getLabel(); if($this->tradeshowForm->address->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->address; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->address->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="address_err"></div>
                                </div>
                            </div>                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->venue->getLabel(); if($this->tradeshowForm->venue->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->venue; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->venue->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="venue_err"></div>
                                </div>
                            </div>                            
                            
                            

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->image->getLabel(); if($this->tradeshowForm->image->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->image; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->image->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="image_err"></div>
                                </div>
                            </div>             

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->exhibitors->getLabel(); if($this->tradeshowForm->exhibitors->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->exhibitors; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->exhibitors->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="exhibitors_err"></div>
                                </div>
                            </div>                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->attendees->getLabel(); if($this->tradeshowForm->attendees->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->attendees; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->attendees->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="attendees_err"></div>
                                </div>
                            </div>                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->floor->getLabel(); if($this->tradeshowForm->floor->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->floor; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->floor->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="floor_err"></div>
                                </div>
                            </div>                            
                            

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->size->getLabel(); if($this->tradeshowForm->size->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->size; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->size->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="size_err"></div>
                                </div>
                            </div>                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->focus->getLabel(); if($this->tradeshowForm->focus->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->focus; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->focus->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="focus_err"></div>
                                </div>
                            </div>   
                                                        
                             <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->product_service->getLabel(); if($this->tradeshowForm->product_service->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->product_service; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->product_service->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="product_service_err"></div>
                                </div>
                            </div>           
                            
                            
                             <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->theme->getLabel(); if($this->tradeshowForm->theme->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->theme; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->theme->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="theme_err"></div>
                                </div>
                            </div>             

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->homepage->getLabel(); if($this->tradeshowForm->homepage->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->homepage; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->homepage->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="homepage_err"></div>
                                </div>
                            </div>                            
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->summary->getLabel(); if($this->tradeshowForm->summary->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->summary; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->summary->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="summary_err"></div>
                                </div>
                            </div>                            


                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->description->getLabel(); if($this->tradeshowForm->description->isRequired()){ ?><span class="required">*</span><?php } ?> 
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->description; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="description_err"></div>
                                </div>
                            </div>
                            

                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->attendee_info->getLabel(); if($this->tradeshowForm->attendee_info->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->attendee_info; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->attendee_info->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="attendee_info_err"></div>
                                </div>
                            </div>                            
 							
                               
                             <div class="form-row">
                                <div class="label">
                                    <?php echo $this->tradeshowForm->exhibitor_info->getLabel(); if($this->tradeshowForm->exhibitor_info->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->tradeshowForm->exhibitor_info; ?>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->tradeshowForm->exhibitor_info->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="exhibitor_info_err"></div>
                                </div>
                            </div>       
                   
                                    
                      	</div>
                	</fieldset>
                
            </div>
      	</div>
  	</form>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'messageboards', 'action'     => 'list' ), 'adminrout',    true) ?>">
        <span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('b2b_add'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'messageboards', 'action'     => 'list' ), 'adminrout',    true) ?>">
        <span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>	
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>