<?php
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend(); 
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
$this->translator = Zend_Registry::get('translator'); 
$version = new Eicra_License_Version();
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link =  'Members-Dashboard';
$booking_link =  'Members-Invoice-Item-List';
$add_url = $this->url(array('module'=> 'Vacationrentals','controller'=>'members', 'action'=>'add'), 'Members-Vacationrental-Add/*', true) ;
$vacationrentals_DB 	= new Vacationrentals_Model_DbTable_Vacationrentals();
$num_vacationrentals	= $vacationrentals_DB->getNumOfProduct();
?>
<div id="wrapper">
	<!-- Header Start -->
	<?php echo $this->layout()->render('header'); ?>
	<!-- Header End -->
    
    <!-- Top Navigation Start-->
    <nav class="top-nav">
        <div class="container"><?php echo $this->partial('blocks/menu_header.phtml'); ?></div>
    </nav>
    <!-- Top Navigation End-->
    
    <!-- Main Body Start -->
    <section id="main">
        <!-- Banner Start -->
        <div id="banner">
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/vacationrentals-banner.jpg" alt="">
            <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_banner_search.phtml'); ?>
        </div>
        <!-- Banner End -->    
        
        <div class="main-container">
        	<div class="add-btn"><span class="icon"></span><a href="<?php echo $add_url; ?>"><?php echo $this->translator->translator('vacationrentals_front_page_home_add_btn_link','', '', $front_template['theme_folder']); ?> <?php echo $this->translator->translator('vacationrentals_front_page_home_add_btn_link_extra_label', $num_vacationrentals, '', $front_template['theme_folder']); ?></a></div>
        	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popular.phtml'); ?>
            <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_recent.phtml'); ?>
            
            <div class="clear"></div>            
            <?php $this->ad(203); ?>
            <?php echo $this->partial('blocks/sidebar_social.phtml'); ?>
            <div class="clear"></div>  
            <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popularGateways.phtml'); ?>
            <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_featured.phtml'); ?>
            
            
             
        </div>
        <?php echo $this->partial('blocks/vacationrentals/vacationrentals_mapView.phtml'); ?>
    </section>
    <!-- Main Body End -->
    
    <!-- Footer Start -->
    <?php echo $this->layout()->render('footer'); ?>
    <!-- Footer End -->
</div>