<?php
class tours_count
{
	protected	$_id;
	protected	$_order = '1';
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected   $_image_on = '0';
	protected   $_group = '1';
	protected 	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->translator = Zend_Registry::get('translator');
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	
		$tours_helper = new Tours_View_Helper_ToursGroup();
		$num_tours = $tours_helper->getNumOfProduct();
		$num_country = $tours_helper->getNumOfProductCountry();
		$add_url = $this->_view->url(array('module' => 'Tours','controller'=>'members', 'action'=>'add'),'Members-Tour-Add/*',true);
?>
    
    <div class="block block-count">
    	<div class="block-body text-center">
			<h1><?php echo $this->_view->numbers($num_tours) . ' ' . $this->translator->translator('tours_front_page_label_world_wide', $this->_view->numbers($num_country), '', $this->_front_template['theme_folder']); ?></h1>
            <hr>
            <a href="<?php echo $add_url; ?>" class="btn"><span class="glyphicon glyphicon-plus-sign"></span> <?php echo $this->translator->translator('tours_front_page_home_add_btn_link','', '', $this->_front_template['theme_folder']); ?></a>
        </div>
	</div>

<?php
	}
}

$tours_count_class = new tours_count($this);
try
{
	$tours_count_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>