<?php 
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');
class tours_content_toursByType
{
	protected	$_group = 1;
	protected	$_limit = 15;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		$this->translator = Zend_Registry::get('translator');	
		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	
		/***********************************NEW CHANGE START*****************************************/
		$selectBT = $this->_DBconn->select()
						->from(array('tbt' => Zend_Registry::get('dbPrefix').'tours_business_type'), array('tbt.*', '(SELECT COUNT(tp.id) FROM '.Zend_Registry::get('dbPrefix').'tours_page as tp WHERE tbt.id = tp.tours_type) AS tours_num', '(SELECT tps.traveler_photos  FROM '.Zend_Registry::get('dbPrefix').'tours_page as tps WHERE tbt.id = tps.tours_type ORDER BY tps.id DESC LIMIT 1) AS traveler_photos'));						
						
		/***********************************NEW CHANGE END*****************************************/
		$tours_info =  $selectBT->query()->fetchAll();
		?>
        <style>
		
		#owl-demo .owl-wrapper{
			margin-bottom:15px;
		}
		
		#owl-demo .item{
			/*margin: 3px;*/
		}
		
		#owl-demo .item a > img{
			display: block;
			width: 100%;
			height:250px;
			margin-bottom:15px;
		}
		</style>

		<script>
            $(document).ready(function() {
              $("#owl-demo").owlCarousel({
                autoPlay: 4000,
                stopOnHover: true,
                autoHeight: false,
                items : 4,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3]
              });
        
            });
        </script>

        <div class="block block-type">
       		<h3><?php echo $this->translator->translator('tours_front_page_home_by_type_title','','',$this->_front_template['theme_folder']); ?></h3>
            <div id="owl-demo">
            	<?php
                if($tours_info)
                {
                    foreach($tours_info as $key => $info)
                    {
                        if($info['tours_num'] > '0')
                        {
                ?>
                    <div class="item">
                        <div class="box-header"><p><?php echo $this->_view->escape($info['business_type']); ?></p></div>
                        <div class="col-left">
                            <p><?php echo $this->_view->numbers($this->_view->escape($info['tours_num'])); ?></p>
                            <div class="pkg"><?php echo $this->translator->translator('tours_block_package','','',$this->_front_template['theme_folder']); ?></div>
                            <a href="<?php echo $this->_view->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'view', 'type'  => $this->_view->escape($info['id']) ),'Tours-List-Type/*',true); ?>" class="btn btn-success btn-xs"><?php echo $this->translator->translator('tours_front_page_view_all','','',$this->_front_template['theme_folder']); ?></a>
                        </div>
                        <img src="data/frontImages/tours/tours_image/<?php echo $this->_view->escape($info['traveler_photos']); ?>" border="0" width="140" height="120"/>
                    </div>
              	<?php
                        }
                    }
                }
              	?>                     
            </div>
        </div>
<?php
	}
}
try
{
	$tours_content_toursByType_class = new tours_content_toursByType($this);
	$tours_content_toursByType_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>