<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data; ?>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php try{ $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; }catch(Exception $e){ } ?>" />
<?php echo $this->headMeta(); ?>
<?php $this->headTitle()->headTitle('404','SET'); echo $this->headTitle(); ?>
<?php 
	$version = Zend_Registry::get('version');
	echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/jquery/jquery-1-9-1/jquery.js', '');
	echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/jui/jui-1-10-2/red/jquery-ui.custom.js', '');

	
	echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/bootstrap/css/bootstrap.min.css');
	echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/jui/jui-1-10-2/red/jquery-ui.custom.css');
	echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/template.css');
	echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/general.css');
?>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<div class="container">
    <div class="error-page">
        <h1>404 ERROR</h1>
       	<div class="alert alert-danger text-center"><span class="glyphicon glyphicon-remove-circle"></span><br>OOOPS! The site encountered an error! Check below error</div>
       	<a href="#" class="btn btn-block btn-success"><span class="glyphicon glyphicon-home"></span> Back To Home Page</a>
        <br>
        <div class="well">
			<?php echo $this->layout()->content ?>
       	</div>
    </div>
</div>
</body>
</html>