<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
?>

<footer id="footer">
    <div class="col-xs-12 links">
        <span><?php echo $this->translator->translator('footer_about_script', '', '', $front_template['theme_folder']); ?></span>
        <a href="Logistics-Home"><?php echo $this->translator->translator('footer_home', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Logistics-About-Us"><?php echo $this->translator->translator('footer_about_us', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Track-Shipment"><?php echo $this->translator->translator('footer_shipment_tracking', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Air-Freight"><?php echo $this->translator->translator('footer_air_freight', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Sea-Freight"><?php echo $this->translator->translator('footer_ocean_freight', '', '', $front_template['theme_folder']); ?></a> |
        <a href="LCL-Truck-Load"><?php echo $this->translator->translator('footer_trucking_delivery', '', '', $front_template['theme_folder']); ?></a>
        
        <hr>
        
        <span><?php echo $this->translator->translator('footer_important_links', '', '', $front_template['theme_folder']); ?></span> 
        <a href="News"><?php echo $this->translator->translator('footer_news_events', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Our-Locations"><?php echo $this->translator->translator('footer_global_locations', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Feedback"><?php echo $this->translator->translator('footer_write_review', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Gallery"><?php echo $this->translator->translator('footer_gallery', '', '', $front_template['theme_folder']); ?></a>
        
        <hr>
        
        <span><?php echo $this->translator->translator('footer_support', '', '', $front_template['theme_folder']); ?></span> 
        <a href="Packages"><?php echo $this->translator->translator('footer_membership', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Request-a-Quote"><?php echo $this->translator->translator('footer_request_for_quote', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Shipment-Booking"><?php echo $this->translator->translator('footer_online_booking', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Feedback"><?php echo $this->translator->translator('footer_feedback', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Sitemap-30"><?php echo $this->translator->translator('footer_site_map', '', '', $front_template['theme_folder']); ?></a> |
        <a href="Contact-40"><?php echo $this->translator->translator('footer_contact_us', '', '', $front_template['theme_folder']); ?></a>
        
        <hr>
        
        <div class="copyright">
            <?php echo $this->translator->translator('footer_copyright','', '', $front_template['theme_folder']); ?> <?php echo date("Y"); ?> <?php echo $this->translator->translator('footer_all_rights','', '', $front_template['theme_folder']); ?> &nbsp;<a href="http://www.<?php if(!empty($global_conf['frontend_footer_url'])){ echo $global_conf['frontend_footer_url']; }else if(!empty($validation_data['vendor_domain'])){  echo $validation_data['vendor_domain']; }else{ echo 'eicra.com'; } ?>" target="_blank" title="<?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>"><?php echo $this->translator->translator('footer_develop_by','', '', $front_template['theme_folder']); ?></a>
                                  
            <?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>
                                  
            <?php echo $this->translator->translator('footer_version','', '', $front_template['theme_folder']); ?><?php echo Eicra_License_Version::getVersion(); ?>
        </div>
        <hr>
    </div>
    
    <div class="col-xs-12 social">
        <?php echo $this->translator->translator('footer_stay_connected', '', '', $front_template['theme_folder']); ?> <br><br>
        <a href="http://www.facebook.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/facebook.png" border="0" title="Facebook"></a>
        <a href="http://www.twitter.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/twitter.png" border="0" title="Twitter"></a>
        <a href="https://plus.google.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/google-plus.png" border="0" title="Google Plus"></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/linkedin.png" border="0" title="Linked In"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/youtube.png" border="0" title="YouTube"></a>
    </div>
</footer>