<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
?>

<div id="footer">
	<div class="top-row"> 
        <div class="col-xs-12">
            <?php echo $this->partial('blocks/gallery_featured.phtml'); ?>
        </div>
    </div>
    
    <div class="bottom-row">
        <div class="col-xs-12 copyright">
            <?php echo $this->translator->translator('footer_copyright','', '', $front_template['theme_folder']); ?> <?php echo date("Y"); ?> <?php echo $this->translator->translator('footer_all_rights','', '', $front_template['theme_folder']); ?> &nbsp;<a href="http://www.<?php if(!empty($global_conf['frontend_footer_url'])){ echo $global_conf['frontend_footer_url']; }else if(!empty($validation_data['vendor_domain'])){  echo $validation_data['vendor_domain']; }else{ echo 'eicra.com'; } ?>" target="_blank" title="<?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>"><?php echo $this->translator->translator('footer_develop_by','', '', $front_template['theme_folder']); ?></a>            
            <?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>                                          
            <?php echo $this->translator->translator('footer_version','', '', $front_template['theme_folder']); ?> <?php echo Eicra_License_Version::getVersion(); ?>
        </div>
        
        <div class="col-xs-12">
            <div class="social">
                <a href="http://www.facebook.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/facebook.png" border="0" title="Facebook"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/twitter.png" border="0" title="Twitter"></a>
                <a href="https://plus.google.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/google-plus.png" border="0" title="Google Plus"></a>
            </div>
        </div>
    </div>
</div>
