<?php 
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend();
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link = 'Members-Dashboard' ;
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('header_logout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('header_login','', '', $front_template['theme_folder']).'</a>';
$add_url =  $this->url(array('module'=> 'Property','controller'=>'members', 'action'=>'add'), 'Members-Property-Add/*', true)  ;
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); 
?>

<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<header>
	<?php if(!$is_frontend->isFrontend()){ ?>
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <?php } ?>
	<div id="top-bar">
        <div class="col-xs-12 user-link">
            <?php echo $this->translator->translator('header_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> <!--| <?php //echo $sugnIn_link; ?> |-->
        </div>
        <div class="col-xs-12 top-links">
            <!--<a href="<?php echo $acount_link; ?>"><?php //echo $this->translator->translator('header_account','', '', $front_template['theme_folder']); ?></a> |-->
            <a href="Registration/104"><?php echo $this->translator->translator('header_register','', '', $front_template['theme_folder']); ?></a> | 
            <?php echo $sugnIn_link; ?> <!--|-->
            <!--<a href="Register"><?php //echo $this->translator->translator('header_agent_registration','', '', $front_template['theme_folder']); ?></a> |-->
            <!--<a href="Feedback"><?php //echo $this->translator->translator('header_feedback','', '', $front_template['theme_folder']); ?></a> |
            <a href="Site-Map"><?php //echo $this->translator->translator('header_sitemap','', '', $front_template['theme_folder']); ?></a> | -->
            <!--<a href="Contact-Us"><?php //echo $this->translator->translator('header_contact','', '', $front_template['theme_folder']); ?></a> |-->
            <div class="flags">
                <?php echo $this->partial('blocks/header_language.phtml'); ?>
            </div>
        </div>
    </div>
    <div id="header" class="listing-btn">
		<div class="col-xs-12 logo text-center">
                <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="Best Realestate script &amp; Online Property rental management script" title="Property Listing script | Property Buy | Property Sell | Property letting" border="0" class="img-responsive"></a>
      	</div>
       	<!--
        <div class="col-xs-12">
            <?php
                //$properties = new Property_Model_DbTable_Properties();
                //$listings = $properties->numOfProperty();
            ?>
            <a href="<?php //echo $add_url; ?>" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus-sign"></span> <?php //echo $this->translator->translator('header_add_btn','', '', $front_template['theme_folder']); ?></a>
        </div>
        <div class="col-xs-12">
            <span class="btn btn-block btn-warning"><span class="glyphicon glyphicon-th"></span> <?php //echo $this->translator->translator('header_listings_total','', '', $front_template['theme_folder']); ?> <?php //echo $listings; ?> <?php //echo $this->translator->translator('header_listings','', '', $front_template['theme_folder']); ?></span>
        </div>
        -->
    </div>
</header>