<?php	
	if (!$this->allow() ) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

if ($this->resource_exceeded) :
?> 

        
	<div class="error"><strong><?php echo $this->resource_exceeded;?></strong></div>



<?php
else :	


$image_value = $this->productForm->product_images->getValue();
if($image_value)
{
	$image_arr = explode(',',$image_value);
	foreach($image_arr as $key=>$value)
	{
		$checked = ($value == $this->productForm->product_images_primary->getValue()) ? ' checked="checked" ' : '';
		$img_type = ($value == $this->productForm->product_images_primary->getValue()) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
		$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
		if($value)
		{
			$assign_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/b2b/product_images/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="product_images" file_name="'.$value.'" file_path="data/frontImages/b2b/product_images" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="product_images_primary" id="product_images_primary" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('product_images_primary').'" />&nbsp;</span></div>';
		}
	}
}

$new_file_info = new Portfolio_Controller_Helper_File();
$brochures_value = $this->productForm->brochures->getValue();
if($brochures_value)
{
	$brochures_arr = explode(',',$brochures_value);
	foreach($brochures_arr as $key=>$value)
	{
		$ext = Eicra_File_Utility::GetExtension($value);		
		$img_path = ($new_file_info->isImage($value)) ? $this->baseUrl().'/data/frontImages/b2b/brochures/'.$value : 'application/modules/Administrator/layouts/scripts/images/common/'.strtolower($ext).'.png';
		$checked = ($value == $this->productForm->brochures_primary->getValue()) ? ' checked="checked" ' : '';
		$img_type = ($value == $this->productForm->brochures_primary->getValue()) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
		$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
		if($value)
		{
			$down_link = (!$new_file_info->isImage($value)) ? '<br /><a href="data/frontImages/b2b/brochures/'.$value.'">'.$this->translator->translator("common_download", "", "Projects").'</a>' : '';
			$assign_brochures .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="'.$img_path.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="brochures" file_name="'.$value.'" file_path="data/frontImages/b2b/brochures" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="brochures_primary" id="brochures_primary" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('product_images_primary').'" />&nbsp;'.$down_link.'</span></div>';
		}
	}
}

?>

<script language="javascript">
var totalNavigation = '';
var lineNum = '';
var settingObj = {
						form_action : {
											form_id: 'productForm',
											hasTinyMCE: false,
											go_message_id		: 'navigation',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [],
											extra_function_for_reset: function(){
												//$('#productForm').find('select option:selected').removeAttr('selected');
												//$('input:checkbox, input:radio').removeAttr('checked');
												//$(":input").val(""); 
												kendoComboBox(settingObj);
											},
											category_tree:{
												category_tree_id: 'categoryTree',
												category_tree_input_field_id : 'category_id',
												category_tree_input_html_id : 'dataId',
												category_tree_dest_url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backend', 'action'     => 'parent' ), 'adminrout',    true) ?>",
												tree_view: {
													dragAndDrop : false,
													dataBound	: function(obj){
																														
																var treeView = $("#"+settingObj.form_action.category_tree.category_tree_id).data('kendoTreeView');
																var getitem = treeView.dataSource.get("<?php echo (!empty($this->category_info['id'])) ? $this->category_info['id'] : '0'; ?>");
																if(getitem)
																{
																	var selectitem = treeView.findByUid(getitem.uid);
																	treeView.select(selectitem);
																}
													},
													dataSource :  {
														transport: {
																read: {
																	url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendcategory', 'action'     => 'group' ), 'adminrout',    true) ?>",
																	dataType: "json",
																	type: "POST",
																	data : { grp_id : "<?php echo $this->productForm->group_id->getValue(); ?>" <?php if($this->category_info && $this->category_info['id']){ ?>, 'selected_id' : "<?php echo $this->category_info['id']; ?>" <?php } ?>},
																	complete: function(e) {																		
																		var json = $.parseJSON(e.responseText);																								
																		if(json.status != 'ok')
																		{
																		   commonMsgDialog(settingObj, json.msg);
																		}
																	}
																}
															},
															schema: {
																data: 'TreeDataSource',
																model: {
																	id : 'id',
																	text : 'text' ,
																	hasChildren: 'hasChildren'  
																}
															}	
													}
												}
											}
									},
						calendar:	{	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'dddd, MMMM dd, yyyy',
										dateTimeFormat:     "dddd, MMMM dd, yyyy HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: '<?php if($this->productForm->time_of_expiry->getValue()){ echo $this->productForm->time_of_expiry->getValue(); } ?>'
									},
						combobox: {
							combobox_id: '#price_currency_locale',
							combobox_settings:{
									autoBind: <?php if($this->productForm->id->getValue() == null || $this->productForm->id->getValue() == ''){ ?>false<?php }else{ ?>true<?php } ?>,
								 	dataTextField: "target_currency_name",
									dataValueField: "target_currency_id",
									optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",
									//template: '',
									dataSource: {
												type: "json",
												schema: {
													  data:	'data_result'
												  },  
												transport: {
														read:{
															type: "POST",
							  								dataType: "json",
															url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action' => 'local' ), 'adminrout',    true); ?>"
														}
													}
									},
									value: '<?php if($this->productForm->id->getValue() != null && $this->productForm->id->getValue() != ''){ echo $this->productForm->price_currency_locale->getValue(); }  ?>',
									change: function(e) {
											var currency_locale	= 	e.sender.element.val();
											if(currency_locale && currency_locale != null)
											{
												$.ajax({
														url: "<?php echo $this->url( array('module' => 'Paymentgateway', 'controller' => 'currency', 'action' => 'localetocurrency' ), 'adminrout',    true) ?>",
															type: 'POST',
															data: {currency_locale : currency_locale},
															beforeSend: function(){						
																		$('#price_currency').val('<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>');			
																 },
															success: function(response){
																try
																{
																	//alert(response);			
																	var json_arr = eval("("+response+")");					
																						
																	if(json_arr.status == 'ok')
																	{
																		var currency_format = 	(json_arr.data_result && json_arr.data_result.currency_short_name) ? json_arr.data_result.currency_short_name : '';	
																			if(json_arr.data_result && json_arr.data_result.currency_name)
																			{
																				currency_format += 	' - ';
																				currency_format += 	(json_arr.data_result && json_arr.data_result.currency_name) ? json_arr.data_result.currency_name : '';	
																			}
																			$('#price_currency').val(currency_format);						
																	}
																	else
																	{
																		$('#actionMessage').html(errMsgDesign(json_arr.msg));	
																		$('#price_currency').val('');																
																	}
																	
																}
																catch(error)
																{
																	var error_arr = 	[error, response];
																	var msg = commonErrMsgException(error_arr);				
																	$('#actionMessage').html(errMsgDesign(msg));
																	$('#price_currency_err').html('');
																}
															},
															error: function(xhr, status, error){															
																var msg = "Error! " + xhr.status + " " + error;
																$('#actionMessage').html(errMsgDesign(msg));
																$('#price_currency').val('');
															}
													});
											}
											else
											{
												$('#price_currency').val('');
											}
									}
							}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
						


$(document).ready(function() { 

 commonKendoTreeGen(settingObj);
 commonImageThumbnil();
 kendoComboBox(settingObj);
 deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
 
 totalNavigation = $("#navigation li").length;
 lineNum = $("#navigation li.active").length;
	commonCalendar('time_of_expiry', settingObj, true); 
	dataInit('1');
	 <?php  
		$customValue = $this->productForm->addtional_value->getValue('addtional_value');
		
		if ($customValue){
			echo "var customFieldValue  =  \"". $customValue . "\" ; \n";
		 }
		else {
			echo "var customFieldValue  = '' ; \n";   
		}
		
	?>
	initLoad (customFieldValue);
	
	/*********************************** Adding Event for "Next Button"  ***************************************/
	
	$('a.next_btn').click(function() {	
		// next 
		if (totalNavigation > lineNum){			
			$("#navigation li").eq(lineNum).addClass('first active');
			var num_id = $("#navigation li").eq(lineNum).attr('rel');
			dataInit(num_id);			 
            lineNum++;
			commonGoMessage(settingObj);
		}		
	});
	/*********************************** Adding Event for "Back Button"  ***************************************/
	$('a.back_btn').click(function() {		 
		// previous					  
		   if(lineNum > 1){
               	lineNum--;						
                $("#navigation li").eq(lineNum).removeClass('first active')
				var num_id = $("#navigation li").eq( (lineNum -1) ).attr('rel');
				dataInit(num_id);				
            } 	
			
			commonGoMessage(settingObj);          
	});
	
	/*********************************** Adding Event for "Reset Button"  ***************************************/
	$('a.reset_btn').click(function() {		 
		// Reset Button				  
		  commonResetFormFields(settingObj); 
		  commonRemoveFormError(settingObj);
		  commonGoMessage(settingObj);
     
	});
	
	/*********************************** Loading Date Time  Object  ***************************************/
	
	

/*********************************** Start of Form Submission ***************************************/
	$('a.submit_btn').click(function() {			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);		
		formData['addtional_value'] =  $('#customRowSet :input').serialize();		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'members', 'action'     => 'addproduct' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);			
					var json_arr = eval("("+response+")");					
					commonCloseLoaderDialog(settingObj);					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));	
						<?php if($this->productForm->id->getValue() == null || $this->productForm->id->getValue() == ''){ ?>
						commonResetFormFields(settingObj);
						<?php } ?>	
						commonGoMessage(settingObj);											
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
						openPerfectTab(json_arr.msg);
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
						commonGoMessage(settingObj);	
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
		
	});
	
/*********************************** End of Form Submission ***************************************/

/*********************************** Appending More Custom Field(s) ***************************************/

	
	$('a.addmore_btn').click(function() {
		var intId = $("#customFields div").length + 1;
        var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\">");
        var fName = $(  "<input type=text class=fieldname name=key" + intId   + " id=\"key"+ intId +"\" />");
        var fType = $(  "<input type=text class=fieldname  name=value" + intId  +" id=\"value" +  intId +"\" />");
        var removeButton = $("<input type=button class=remove /> </div>");

        removeButton.click(function() {

            $(this).parent().remove();

        });  

        fieldWrapper.append(fName);
        fieldWrapper.append(fType);
        fieldWrapper.append(removeButton);
        $("#customFields").append(fieldWrapper);
		

	 });		

/*********************************** Appending More Custom Field(s) ***************************************/

/******************************************Upload Action Start************************************************/

$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		
		var group_id = $("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
		
		var rel = $(self).attr('rel');		
		var file_suffix = rel;	
		var file_content = $('#'+file_suffix).val();
		
		$('input[name="file_path_field"]').val('file_path_'+rel);
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);		
		
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{
			msg = "<?php echo $this->translator->translator('group_id_selected_err'); ?>";
			commonMsgDialog(settingObj, msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {		 
		
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				commonMsgDialog(settingObj, msg);
			}
			else
			{
				var img_code = '';
				var file_name = '';
				for(var i=0;i < selected_files_arr.length;i++)
				{
					//var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
					var ext = getCommonFileExtension(selected_files_arr[i]);
					var img_path = commonFilePath(file_path, selected_files_arr[i]);					
					var checked = (i == 0)? ' checked="checked" ' : '';
					var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
																
					var fileObj = { extension : '.' + ext };
					var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
					var primary = '<input class="radio_style" type="radio" name="'+primary_file_field+'_primary" id="'+primary_file_field+'_primary" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
											
					var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
					img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
					file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];					
				}			
				var file_suffix = primary_file_field;		
				$('#selected_file_'+file_suffix).html(img_code);		
				$('#'+file_suffix).val(file_name);		
				$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
				$("#upload-form").dialog('option','hide','explode').dialog('close');				
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				commonImageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {				
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});

/******************************************Upload Action End****************************************************/

});
	
	function dataInit(init_num)
	{
		$("#navigation li").each(function(index) {
			var num_id = $(this).attr("rel");
			if( init_num == num_id)
			{
				$('#tab-'+num_id).show();
			}
			else
			{
				$('#tab-'+num_id).hide();
			}
		});	
	}



	
	
	
/*********************************** Error Management Starts ***************************************/
	
	function openPerfectTab(key_arr)
	{
		var err_id = '';
		var sel = null;
		var getTab = false;
		
		for(var i = 1; i <= $('ul#navigation').children('li').length ; i++)
		{				
			for(var j= 0; j < key_arr.length; j++)
			{	
				err_id = '#'+key_arr[j].key+'_err';		
					
				if($('#tab-'+i+':has('+err_id+')').html())
				{		
								
					sel = i;	
					dataInit(sel);
					$("ul#navigation li").removeClass('active');
					$("ul#navigation li").removeClass('first');
					lineNum = sel;				
					for(var k = 0; k < sel; k++)
					{
						$("ul#navigation li").eq(k).addClass('first active');
					}
					//$("#tabs").tabs({ selected: sel }).find(".ui-tabs-nav").sortable({axis:'xy'});	
					if($('#'+key_arr[j].key)[0])
					{	
						$('#'+key_arr[j].key)[0].focus();
					}
					else
					{	
						$('#'+key_arr[j].key).focus();
					}
					getTab = true;
					break;							
				}
			}
			if(getTab == true)
			{
				break;
			}
		}
	}
	
/*********************************** Error Management Ends ***************************************/

	
		
/***********************************Loading Custome Fields ***************************************/

	function initLoad (data){
		if (data){
			
			var numbersArray = data.split('&');
			$.each(numbersArray, function(index, value) { 
			  var next = index + 1;			  
			  
			  if (isEven( index) ){
				    var keyArray = value.split('=');	
					var valueArray = '';
					if (typeof(numbersArray[next]) === 'undefined') {
    					return;
					}						
				    valueArray = numbersArray[next].split('=');
			        var fieldWrapper = $("<div class=fieldwrapper id=field" + index + ">");			
					var fName = $("<input type=text class=fieldname  name=" + keyArray[0]   + " id=\""+ keyArray[0] +  "\" value=\""  + keyArray[1].replace(/\+/g, ' ') +"\" >");	  	
					var fType = $("<input type=text class=fieldname  name=" + valueArray[0]  +" id=\"" + valueArray[0] + "\" value=\""  +  valueArray[1].replace(/\+/g, ' ') +"\" >");
					var removeButton = $("<input type=button class=remove /> </div>");


					removeButton.click(function() {
						$(this).parent().remove();
					});  

					fieldWrapper.append(fName);				
					fieldWrapper.append(fType);
					fieldWrapper.append(removeButton);
					$("#customFields").append(fieldWrapper);
		  	   }	
			});
		}
		
		else {
					var intId = $("#customFields div").length + 1;
					var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\">");
					var fName = $(  "<input type=text class=fieldname name=key" + intId   + " id=\"key"+ intId +"\" />");
					var fType = $(  "<input type=text class=fieldname  name=value" + intId  +" id=\"value" +  intId +"\" />");
					var removeButton = $("<input type=button class=remove /> </div>");



					removeButton.click(function() {
						$(this).parent().remove();
					});  

					fieldWrapper.append(fName);				
					fieldWrapper.append(fType);
					fieldWrapper.append(removeButton);
					$("#customFields").append(fieldWrapper);			
				
		}
	}

	
	function isEven(num) {

		if (num == 0)
		{
		  return true;
		}
		else if ( (num % 2) == 0)
		{
			return true;
		}
		else
		{
			return false;
		}
	  }


	
	
	function getMysqlTimeStampToDate(timestamp)
	{			
		//function parses mysql datetime string and returns javascript Date object
		//input has to be in this format: 2007-06-05 15:26:02
		var regex=/^([0-9]{2,4})-([0-1][0-9])-([0-3][0-9]) (?:([0-2][0-9]):([0-5][0-9]):([0-5][0-9]))?$/;
		var parts=timestamp.replace(regex,"$1 $2 $3 $4 $5 $6").split(' ');
		return new Date(parts[0],parts[1]-1,parts[2],parts[3],parts[4],parts[5]);		
	}

/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#product_images_block').prepend('<input type="file" name="product_images_upload" id="product_images_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	thumb_setting_param['file_path_field'] = 'file_path_product_images';	
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('product_images_upload', 'product_images', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#product_images_err').html("");
	
	$('#brochures_block').prepend('<input type="file" name="brochures_upload" id="brochures_upload" />');	
	var brochures_setting_param = json_arr.param_fields;
	brochures_setting_param['file_path_field'] = 'file_path_brochures';	
	var brochures_setting_info = getSettingInfo(json_arr.group_info, brochures_setting_param);							
	dynamicUploader('brochures_upload', 'brochures_images', brochures_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#brochures_err').html("");
}

function uploadSettingsEnd()
{	
	$('#product_images_upload').parents('div.k-upload').remove();	
	$('#product_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
	$('#brochures_upload').parents('div.k-upload').remove();	
	$('#brochures_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);		
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';	
		var primary_file_field_radio = '';		
		switch(upload_value_field)
		{
			case 'product_images':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					primary_file_field_radio =	 'product_images_primary';						
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("product_images_primary"); ?>" />';
				break;
			case 'feature_floor_plan_image':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					primary_file_field_radio =	'feature_primary_floor_image';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("product_images_primary"); ?>" />';
				break;
			case 'brochures':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					primary_file_field_radio =	 'brochures_primary';						
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("product_images_primary"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
	
</script>


<div class="form-element">
    <div class="mod">
        <div class="list-icon">
            <?php
                $is_edit = $this->productForm->id->getValue('id') ;                
				$headTitle = (!empty($is_edit)) ? $this->translator->translator('members_control_product_form_edit' ,  $this->productForm->name->getValue('name')) : $this->translator->translator('members_control_product_form_add_product');
                echo '<h1>' .$headTitle . '</h1>'; 
				$this->headTitle()->headTitle($headTitle,'SET');          
            ?>
        </div>
        
        <div class="clr">&nbsp;</div> 
        
        <div id="breadcrumb">
            <ul class="crumbs" id="navigation">
                <li style="z-index:9;" class="first active" rel="1"><div><?php echo $this->numbers(1); ?></div><?php  echo  $this->translator->translator('members_control_product_form_categories'); ?></li>
                <li style="z-index:8;" class="" rel="2"><div><?php echo $this->numbers(2); ?></div><?php  echo  $this->translator->translator('members_control_product_form_order_payment'); ?></li>
                <li style="z-index:7;" class="" rel="3"><div><?php echo $this->numbers(3); ?></div><?php  echo  $this->translator->translator('members_control_product_form_pictorial'); ?></li>
                <li style="z-index:6;" class="" rel="4"><div><?php echo $this->numbers(4); ?></div><?php  echo  $this->translator->translator('members_control_product_form_product_details'); ?></li>
                <li style="z-index:5;" class="" rel="5"><div><?php echo $this->numbers(5); ?></div><?php  echo  $this->translator->translator('members_control_product_form_packaging_shipment'); ?></li>
                <li style="z-index:4;" class="" rel="6"><div><?php echo $this->numbers(6); ?></div><?php  echo  $this->translator->translator('members_control_product_form_addtional'); ?></li>            
            </ul>
        </div>
    
        <div class="clr">&nbsp;</div> 	 
        <div id="actionMessage"></div>
    
        <div class="btn-container right">
            <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="back_btn"><?php  echo  $this->translator->translator('b2b_type_list_page_back'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="next_btn"><?php  echo  $this->translator->translator('b2b_type_list_page_next'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>                
        </div>
    
        
        <form name="productForm" id="productForm" method="post" enctype="multipart/form-data">
        <div id="tab-1">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step1'); ?></legend>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->category_id->getId(); ?>">
                        <?php echo $this->productForm->category_id->getLabel();  if($this->productForm->category_id->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <span id="dataId"><?php if($this->productForm->category_id->getValue() == null || $this->productForm->category_id->getValue() == '' || $this->productForm->category_id->getValue() == '0'){ echo $this->translator->translator("common_tree_root").' (0)'; }else{ echo $this->escape($this->category_info['name']).' ('.$this->category_info['id'].')'; } ?></span><?php echo $this->productForm->category_id; ?><input type="hidden" name="group_id" id="group_id" value="<?php echo $this->productForm->group_id->getValue(); ?>" /><input type="hidden" name="user_id" id="user_id" value="<?php echo $this->productForm->user_id->getValue(); ?>" />
                        
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div> 
                        <div id="categoryTree"></div>
                        <span class="input-errors" id="category_id_err"></span><span class="input-errors" id="group_id_err"></span>
                     </div>
                </div>
                
                <?php 			
				if($this->auth->getIdentity()->allow_to_change_ownership == '1' && ($this->productForm->id->getValue() != null && $this->productForm->id->getValue() != '' && $this->productForm->id->getValue() != '0'))
				{
				?>
				<div class="group">
					<label for="<?php echo $this->productForm->user_id->getId(); ?>">
						<?php echo $this->productForm->user_id->getLabel(); if($this->productForm->user_id->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
					</label>
					<div class="control-element">
						<?php echo $this->productForm->user_id; ?>
						<div class="form-field-info">
							<div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->user_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
						</div>
						<span class="input-errors" id="user_id_err"></span>
					</div>
				</div>
				<?php
				}
				?>
            </fieldset>
        </div>
        
        <div id="tab-2">                            
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step2'); ?></legend>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->category_id->getId(); ?>">
                        <?php  echo  $this->translator->translator('members_control_page_product_table_price'); ?> :<span class="star_class">*</span>
                    </label>
                    <div class="control-element">
                        <label for="<?php echo $this->productForm->price_currency_locale->getId(); ?>" class="child-label">
                            <?php echo $this->productForm->price_currency_locale->getLabel();  if($this->productForm->price_currency_locale->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <?php echo $this->productForm->price_currency_locale ; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->price_currency_locale->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="price_currency_locale_err"></span>
                    </div>
                    <div class="control-element">
                        <label for="<?php echo $this->productForm->price_currency->getId(); ?>" class="child-label">
                            <?php echo $this->productForm->price_currency->getLabel();  if($this->productForm->price_currency->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <?php echo $this->productForm->price_currency ; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->price_currency->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="price_currency_err"></span>
                    </div>
                    
                    <div class="control-element">
                        <label for="<?php echo $this->productForm->price->getId(); ?>" class="child-label">
                            <?php echo $this->productForm->price->getLabel();  if($this->productForm->price->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <?php  echo $this->productForm->price; ?> 
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="price_err"></span>
                    </div>
                    
                    <div class="control-element">
                        <label for="<?php echo $this->productForm->strikethrough_price->getId(); ?>" class="child-label">
                            <?php echo $this->productForm->strikethrough_price->getLabel();  if($this->productForm->strikethrough_price->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <?php echo $this->productForm->strikethrough_price ; ?> 
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->strikethrough_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="strikethrough_price_err"></span>
                    </div>
                    
                    <div class="control-element">
                        <label for="<?php echo $this->productForm->price_per_unit->getId(); ?>" class="child-label">
                            <?php echo $this->productForm->price_per_unit->getLabel();  if($this->productForm->price_per_unit->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <?php echo $this->productForm->price_per_unit ; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->price_per_unit->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="price_per_unit_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->min_bidding_price->getId(); ?>">
                        <?php echo $this->productForm->min_bidding_price->getLabel();  if($this->productForm->min_bidding_price->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->min_bidding_price;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->min_bidding_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="min_bidding_price_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->negotiable->getId(); ?>">
                        <?php echo $this->productForm->negotiable->getLabel();  if($this->productForm->negotiable->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->negotiable; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->negotiable->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="negotiable_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->type->getId(); ?>">
                        <?php echo $this->productForm->type->getLabel();  if($this->productForm->type->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->type; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="type_err"></span>
                    </div>
                </div>
            </fieldset>
                                 
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step3'); ?></legend>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->size->getId(); ?>">
                        <?php echo $this->productForm->size->getLabel();  if($this->productForm->size->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->size; ?>    <?php echo $this->productForm->unit_size ;?>   
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->size->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="size_err"></span>
                        <span class="input-errors" id="unit_size_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->payment_terms->getId(); ?>">
                        <?php echo $this->productForm->payment_terms->getLabel();  if($this->productForm->payment_terms->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->payment_terms; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->payment_terms->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="payment_terms_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->min_quantity->getId(); ?>">
                        <?php echo $this->productForm->min_quantity->getLabel();  if($this->productForm->min_quantity->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->min_quantity   ;?> - <?php echo $this->productForm->min_unit_type   ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->min_quantity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="min_quantity_err"></span>
                        <span class="input-errors" id="min_unit_type_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->time_of_expiry->getId(); ?>">
                        <?php echo $this->productForm->time_of_expiry->getLabel();  if($this->productForm->time_of_expiry->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">					
                        <?php echo $this->productForm->time_of_expiry; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->time_of_expiry->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>                   	
                        <span class="input-errors" id="time_of_expiry_err"></span>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <div id="tab-3">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step4'); ?></legend>
                            
                <div class="group">
                    <label for="<?php echo $this->productForm->product_images->getId(); ?>">
                        <?php echo $this->productForm->product_images->getLabel();  if($this->productForm->product_images->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php	
                            if($this->auth->getIdentity()->access_file_image_manager == '1')
                            {
                        ?>
                              <div class="left-float">
                                  <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="product_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                              </div>
                        <?php
                              }
                              else
                              {	 						
                        ?>
                                <script type="text/javascript">
                                  $(function(){
                                      /**************************FILE UPLOAD START******************************/																					
                                      dynamicUploader("product_images_upload", "product_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", true);
                                      /**************************FILE UPLOAD END*********************************/
                                  });
                                 </script>
                        <?php							  
                              }
                          ?>
                        <div id="product_images_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="product_images_upload" id="product_images_upload" /><?php } echo $this->productForm->product_images ; ?></div>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->product_images->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="product_images_err"></span><span class="input-errors" id="product_images_primary_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <div class="control-element">
                        <span id="selected_file_product_images"><?php echo $assign_image; ?></span>
                    </div>
                </div>
                
                <div class="group clr">
                    <label for="<?php echo $this->productForm->video->getId(); ?>">
                        <?php echo $this->productForm->video->getLabel();  if($this->productForm->video->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->video;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->video->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="video_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->brochures->getId(); ?>">
                        <?php echo $this->productForm->brochures->getLabel();  if($this->productForm->brochures->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php	
                            if($this->auth->getIdentity()->access_file_image_manager == '1')
                            {
                        ?>
                              <div class="left-float">
                                  <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="brochures"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                              </div>
                        <?php
                              }
                              else
                              {	 						
                        ?>
                                <script type="text/javascript">
                                  $(function(){
                                      /**************************FILE UPLOAD START******************************/																					
                                      dynamicUploader("brochures_upload", "brochures", <?php echo $this->brochures_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", true);
                                      /**************************FILE UPLOAD END*********************************/
                                  });
                                 </script>
                        <?php							  
                              }
                          ?>
                        <div id="brochures_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="brochures_upload" id="brochures_upload" /><?php } echo $this->productForm->brochures ; ?></div>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->brochures->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="brochures_err"></span><span class="input-errors" id="brochures_primary_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <div class="control-element">
                        <span id="selected_file_brochures"><?php echo $assign_brochures; ?></span>
                    </div>
                </div>
               
                <div class="group clr">
                    <label for="<?php echo $this->productForm->related_items->getId(); ?>">
                        <?php echo $this->productForm->related_items->getLabel();  if($this->productForm->related_items->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php  echo $this->productForm->related_items ;   ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->related_items->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="related_items_err"></span>
                    </div>
                </div>
                
              
                
                <div class="group clr">
                    <label for="<?php echo $this->productForm->colour->getId(); ?>">
                        <?php echo $this->productForm->colour->getLabel();  if($this->productForm->colour->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->colour; ?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->colour->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="colour_err"></span>
                    </div>
                </div>
            </fieldset>  
        </div>    
     
        <div id="tab-4">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step5'); ?></legend>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->name->getId(); ?>">
                        <?php echo $this->productForm->name->getLabel();  if($this->productForm->name->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->name ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="name_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->displayble->getId(); ?>">
                        <?php echo $this->productForm->displayble->getLabel();  if($this->productForm->displayble->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->displayble ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->displayble->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="displayble_err"></span>
                    </div>
                </div>
               
                <div class="group">
                    <label for="<?php echo $this->productForm->keyword->getId(); ?>">
                        <?php echo $this->productForm->keyword->getLabel();  if($this->productForm->keyword->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->keyword  . ' - ' .  $this->productForm->keyword_1; ?> - 
                        <?php echo $this->productForm->keyword_2  . ' - ' .  $this->productForm->keyword_3; ?> 
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->keyword->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="keyword_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->short_description->getId(); ?>">
                        <?php echo $this->productForm->short_description->getLabel();  if($this->productForm->short_description->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->short_description ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->short_description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="short_description_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->detail_description->getId(); ?>">
                        <?php echo $this->productForm->detail_description->getLabel();  if($this->productForm->detail_description->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->detail_description ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->detail_description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="detail_description_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->place_of_origin->getId(); ?>">
                        <?php echo $this->productForm->place_of_origin->getLabel();  if($this->productForm->place_of_origin->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->place_of_origin ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->place_of_origin->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="place_of_origin_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->specifications->getId(); ?>">
                        <?php echo $this->productForm->specifications->getLabel();  if($this->productForm->specifications->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->specifications ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->specifications->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="specifications_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->certificates->getId(); ?>">
                        <?php echo $this->productForm->certificates->getLabel();  if($this->productForm->certificates->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->certificates ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->certificates->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="certificates_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->brand_name->getId(); ?>">
                        <?php echo $this->productForm->brand_name->getLabel();  if($this->productForm->brand_name->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->brand_name ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->brand_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="brand_name_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->materials->getId(); ?>">
                        <?php echo $this->productForm->materials->getLabel();  if($this->productForm->materials->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->materials ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->materials->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="materials_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->hs_code->getId(); ?>">
                        <?php echo $this->productForm->hs_code->getLabel();  if($this->productForm->hs_code->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->hs_code ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->hs_code->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="hs_code_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->model_num->getId(); ?>">
                        <?php echo $this->productForm->model_num->getLabel();  if($this->productForm->model_num->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->model_num ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->model_num->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="model_num_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->manufacturers->getId(); ?>">
                        <?php echo $this->productForm->manufacturers->getLabel();  if($this->productForm->manufacturers->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->manufacturers ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->manufacturers->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="manufacturers_err"></span>
                    </div>
                </div>             
            </fieldset>
        </div> 
            
        <div id="tab-5">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step6'); ?></legend>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->max_supply->getId(); ?>">
                        <?php echo $this->productForm->max_supply->getLabel();  if($this->productForm->max_supply->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->max_supply . ' ' .$this->productForm->max_unit_type .' '. $this->productForm->delivery_leadtime->getLabel()  .  $this->productForm->delivery_leadtime ;?> 
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->max_supply->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="max_supply_err"></span>
                        <span class="input-errors" id="max_unit_type_err"></span>
                        <span class="input-errors" id="delivery_leadtime_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->fob_price->getId(); ?>">
                        <?php echo $this->productForm->fob_price->getLabel();  if($this->productForm->fob_price->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->fob_price ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->fob_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="fob_price_err"></span>
                    </div>
                </div>
                
                <div class="group">
                    <label for="<?php echo $this->productForm->packaging->getId(); ?>">
                        <?php echo $this->productForm->packaging->getLabel();  if($this->productForm->packaging->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->packaging ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->packaging->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="packaging_err"></span>
                    </div>
                </div>
                
                
                <div class="group">
                    <label for="<?php echo $this->productForm->shipment->getId(); ?>">
                        <?php echo $this->productForm->shipment->getLabel();  if($this->productForm->shipment->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                    </label>
                    <div class="control-element">
                        <?php echo $this->productForm->shipment ;?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->shipment->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div>
                        <span class="input-errors" id="shipment_err"></span>
                    </div>
                </div>
            </fieldset>
        </div>
         
        <div id="tab-6">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('member_company_product_step7'); ?></legend>
                    <div class="group">
                        <label for="<?php echo $this->productForm->addtional_value->getId(); ?>">
                             <?php echo $this->productForm->addtional_value->getLabel();  if($this->productForm->addtional_value->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <div class="control-element">
                            <div id="customRowSet">
                                <fieldset id="customFields">
                                    <legend> <?php echo $this->translator->translator('add_custom_fields'); ?> </legend>
                                </fieldset>
                                <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="addmore_btn">Add Row (+)</a></span>
                            </div>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->addtional_value->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="addtional_value_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label for="<?php echo $this->productForm->contract_period->getId(); ?>">
                            <?php echo $this->productForm->contract_period->getLabel();  if($this->productForm->contract_period->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <div class="control-element">
                            <?php echo $this->productForm->contract_period ;?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->contract_period->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="contract_period_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label for="<?php echo $this->productForm->terms_policy->getId(); ?>">
                            <?php echo $this->productForm->terms_policy->getLabel();  if($this->productForm->terms_policy->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <div class="control-element">
                            <?php echo $this->productForm->terms_policy ;?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->terms_policy->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="terms_policy_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label for="<?php echo $this->productForm->warranty->getId(); ?>">
                            <?php echo $this->productForm->warranty->getLabel();  if($this->productForm->warranty->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <div class="control-element">
                            <?php echo $this->productForm->warranty ;?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->warranty->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="warranty_err"></span>
                        </div>
                    </div>
                    
                    <div class="group">
                        <label for="<?php echo $this->productForm->guarantee->getId(); ?>">
                            <?php echo $this->productForm->guarantee->getLabel();  if($this->productForm->guarantee->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                        </label>
                        <div class="control-element">
                            <?php echo $this->productForm->guarantee ;?>
                            <div class="form-field-info">
                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->productForm->guarantee->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <span class="input-errors" id="guarantee_err"></span>
                        </div>
                    </div>
                     
                    <div class="group">
                        <div class="control-element">
                            <?php echo $this->productForm->id ;?>
                        </div>
                    </div>
            </fieldset>
        </div>
        </form>
    
        <div class="btn-container right">
            <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="back_btn"><?php  echo  $this->translator->translator('b2b_type_list_page_back'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="next_btn"><?php  echo  $this->translator->translator('b2b_type_list_page_next'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
        </div>
        <div id="upload-form" title="<?php echo $this->translator->translator('common_dialog_msg' , $this->translator->translator("b2b_product_images_dialog")); ?>">
            <div>
                <form id="popupForm" target="i-upload-form" method="post" action="" >
                    <input type="hidden" name="table_name" value="b2b_group"/>
                    <input type="hidden" name="primary_id_field" value="id"/>
                    <input type="hidden" name="primary_id_field_value" value="<?php echo ($this->productForm->group_id->getValue()) ? $this->productForm->group_id->getValue() : '1'; ?>"/>   
                    <input type="hidden" name="primary_file_field" value=""/> 
                    <input type="hidden" name="file_content"  value=""/>       
                    <input type="hidden" name="file_path_field" value=""/>
                    <input type="hidden" name="file_extension_field" value="file_type"/>
                    <input type="hidden" name="file_max_size_field" value="file_size_max"/>
                </form>
                <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>       
            </div>
            <div class="button-container">
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
            </div> 
        </div>
    </div>
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<?php endif; ?>
<?php endif; ?>