<?php
$headTitle = $this->translator->translator('members_frontend_b2b_trade_edit_page_name'); 	
$this->headTitle()->headTitle($headTitle,'SET'); 

$image_value = $this->tradeshowForm->b2b_images->getValue();
if($image_value)
{
	$image_arr = explode(',',$image_value);
	foreach($image_arr as $key=>$value)
	{
		$checked = ($value == $this->tradeshowForm->b2b_images->getValue()) ? ' checked="checked" ' : '';
		$img_type = ($value == $this->tradeshowForm->b2b_images->getValue()) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
		$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
		if($value)
		{
			$assign_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/b2b/b2b_images/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="b2b_images" file_name="'.$value.'" file_path="data/frontImages/b2b/b2b_images" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('buying_images_primary').'" />&nbsp;</span></div>';
		}
	}
}  
?>

<script language="javascript">	
$(function() {
	$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
});

var settingObj = {	
					calendar: {
						culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
						value: '',
						format: "yyyy/MM/dd",
						parseFormats: ["MMMM yyyy"]
					},
					form_action : {
										form_id: 'formTradeShow',
										hasTinyMCE: false,
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',
										extra_field_for_reset: [
										{field_id : 'b2b_images', field_value: '' , field_type : 'val'}, 
										{field_id : 'dataId', field_value: '<?php echo $this->translator->translator("common_tree_root"); ?> (0)' , field_type : 'html'}
										 
										],
										extra_function_for_reset: function(){
											//refreshKendoTreeView($('#group_id').val(), $('#'+settingObj.form_action.category_tree.category_tree_input_field_id).val(), settingObj);
											$('#formStory').find('select option:selected').removeAttr('selected');
											$('input:checkbox, input:radio').removeAttr('checked');
											$(":input").val(""); 
											$('#primary_file_field_err').html('');
											$('#selected_file_others_images').html('');
										},
										
								},
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
						};				
						
$(document).ready(function() { 

	
	
	
	commonImageThumbnil();
	deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
  

	 settingObj.calendar.value = <?php if($this->tradeshowForm->start_date->getValue()){ ?> new Date('<?php echo date("Y", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))); ?>', '<?php echo (date("m", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))) - 1); ?>', '<?php echo date("d", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))); ?>', '<?php echo date("H", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))); ?>', '<?php echo date("i", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))); ?>', '<?php echo date("s", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->start_date->getValue()))); ?>') <?php } else{ echo "''"; } ?>;
	$("#start_date").kendoDatePicker(settingObj.calendar);
 
 	settingObj.calendar.value = <?php if($this->tradeshowForm->end_date->getValue()){ ?> new Date('<?php echo date("Y", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))); ?>', '<?php echo (date("m", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))) - 1); ?>', '<?php echo date("d", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))); ?>', '<?php echo date("H", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))); ?>', '<?php echo date("i", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))); ?>', '<?php echo date("s", strtotime(preg_replace('/PM|AM/', '', $this->tradeshowForm->end_date->getValue()))); ?>') <?php } else{ echo "''"; } ?>;
	$("#end_date").kendoDatePicker(settingObj.calendar);
										
	 $("#timepicker").kendoTimePicker()
                     .closest(".k-widget")
                     .attr("id", "timepicker_wrapper");

     var timepicker = $("#timepicker").data("kendoTimePicker");
	 timepicker.value("<?php echo $this->tradeshowForm->timepicker->getValue(); ?>");
	
	
/******************************************Upload Action Start************************************************/

	$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		
		var group_id = '1'//$("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
		
		var rel = $(self).attr('rel');		
		var file_suffix = rel;	
		var file_content = $('#'+file_suffix).val();
		
		//$('input[name="file_path_field"]').val('file_path_'+rel);
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);		
		
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{			
			var msg = "<?php echo $this->translator->translator('group_id_selected_err'); ?>";
			//$(“:input:text:visible:first”).focus();	
			$("input[id='group_id']").focus()
			commonMsgDialog(settingObj, msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {		 
		
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				commonMsgDialog(settingObj, msg);
			}
			else
			{
				var img_code = '';
				var file_name = '';
				for(var i=0;i < selected_files_arr.length;i++)
				{
					//var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
					var ext = getCommonFileExtension(selected_files_arr[i]);
					var img_path = commonFilePath(file_path, selected_files_arr[i]);					
					var checked = (i == 0)? ' checked="checked" ' : '';
					var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
																
					var fileObj = { extension : '.' + ext };
					var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
					var primary = '<input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
					var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
					img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
					file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];	
					break; 				
				}			
				var file_suffix = primary_file_field;		
				$('#selected_file_'+file_suffix).html(img_code);		
				$('#'+file_suffix).val(file_name);		
				$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
				$("#upload-form").dialog('option','hide','explode').dialog('close');				
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				commonImageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {				
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});

/******************************************Upload Action End****************************************************/



/*********************************** Start of Form Submission ***************************************/
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);			 
	});
	
	$('a.submit_btn').click(function() {
					
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
		//alert(formData.toSource());
		formData['addtional_value'] =  $('#customRowSet :input').serialize();		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'members', 'action'     => 'edittradeshow' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);	
					try
					{
						commonCloseLoaderDialog(settingObj);		
						var json_arr = eval("("+response+")");					
											
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));							
																		
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
							 
						}
					}
					catch(error)
					{
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
					 
				}
		});
		
		
	});
		

});


/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#b2b_images_block').prepend('<input type="file" name="b2b_images_upload" id="b2b_images_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	thumb_setting_param['file_path_field'] = 'file_path_b2b_images';	
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('b2b_images_upload', 'b2b_images', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#b2b_images_err').html("");
}

function uploadSettingsEnd()
{	
	$('#b2b_images_upload').parents('div.k-upload').remove();	
	$('#b2b_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);		
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		 
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';	
		var primary_file_field_radio = '';		
		switch(upload_value_field)
		{
			case 'b2b_images':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					primary_file_field_radio =	 'b2b_images';						
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("b2b_images_primary"); ?>" />';
				break;
			case 'feature_floor_plan_image':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					primary_file_field_radio =	'feature_primary_floor_image';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("b2b_images_primary"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi) 
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br /><br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
		
	function onComplete(e) {
				
	}
	
	function onCancel(e) {
		
	}
	
	function onProgress(e) {
						
	}
	
</script>

<div id="startOfForm">&nbsp;</div>

<div class="mod form-element">

    <div class="list-icon">
        <h1><?php  echo html_entity_decode($this->translator->translator('members_frontend_b2b_trade_edit_page_name'), ENT_QUOTES, "UTF-8") ?></h1>
    </div>
	
	<div class="clr">&nbsp;</div> 
    <div class="clear">&nbsp;</div> 
    
    <form name="formTradeShow" id="formTradeShow" method="post" enctype="multipart/form-data"> 
        <div class="mod account-setting form-element">
            
            <div id="actionMessage"></div>

            <div id=navigation class="btn-container right">
                <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
                <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
            </div>
            
                	<div class="clear">&nbsp;</div> 
                    
                     <div id="tab-1">
                        <fieldset>
                            <legend><?php  echo  $this->translator->translator('b2b_tradeshow'); ?></legend>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->name->getId(); ?>">
                                    <?php echo $this->tradeshowForm->name->getLabel();  if($this->tradeshowForm->name->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->name; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="name_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->title->getId(); ?>">
                                    <?php echo $this->tradeshowForm->title->getLabel();  if($this->tradeshowForm->title->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->title; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="title_err"></span>
                                </div>
                            </div>
                            <?php  
                            if($this->auth->getIdentity()->allow_to_change_ownership == '1')
                                {
                            ?> 
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->user_id->getId(); ?>">
                                    <?php echo $this->tradeshowForm->user_id->getLabel();  if($this->tradeshowForm->user_id->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->user_id; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->user_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="user_id_err"></span>
                                </div>
                            </div>
                            <?php
                                }
								else
								{
							?>
                            	<input type="hidden" name="user_id" id="user_id" value="<?php echo $this->tradeshowForm->user_id->getValue(); ?>" />
                            <?php
								}
                            ?>
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->start_date->getId(); ?>">
                                    <?php echo $this->tradeshowForm->start_date->getLabel();  if($this->tradeshowForm->start_date->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->start_date; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->start_date->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="start_date_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->end_date->getId(); ?>">
                                    <?php echo $this->tradeshowForm->end_date->getLabel();  if($this->tradeshowForm->end_date->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->end_date; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->end_date->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="end_date_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->timepicker->getId(); ?>">
                                    <?php echo $this->tradeshowForm->timepicker->getLabel();  if($this->tradeshowForm->timepicker->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->timepicker; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->timepicker->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="timepicker_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->street->getId(); ?>">
                                    <?php echo $this->tradeshowForm->street->getLabel();  if($this->tradeshowForm->street->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->street; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->street->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="street_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->state->getId(); ?>">
                                    <?php echo $this->tradeshowForm->state->getLabel();  if($this->tradeshowForm->state->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->state; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->state->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="state_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->city->getId(); ?>">
                                    <?php echo $this->tradeshowForm->city->getLabel();  if($this->tradeshowForm->city->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->city; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->city->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="city_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->postal_code->getId(); ?>">
                                    <?php echo $this->tradeshowForm->postal_code->getLabel();  if($this->tradeshowForm->postal_code->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->postal_code; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->postal_code->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="postal_code_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->country->getId(); ?>">
                                    <?php echo $this->tradeshowForm->country->getLabel();  if($this->tradeshowForm->country->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->country; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->country->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="country_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->organizer->getId(); ?>">
                                    <?php echo $this->tradeshowForm->organizer->getLabel();  if($this->tradeshowForm->organizer->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->organizer; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->organizer->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="organizer_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->logo->getId(); ?>">
                                    <?php echo $this->tradeshowForm->logo->getLabel();  if($this->tradeshowForm->logo->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->logo; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->logo->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="logo_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->phone->getId(); ?>">
                                    <?php echo $this->tradeshowForm->phone->getLabel();  if($this->tradeshowForm->phone->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->phone; ?>  &nbsp; <?php echo $this->tradeshowForm->phone_part2; ?> &nbsp;  <?php echo $this->tradeshowForm->phone_part3; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->phone->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="phone_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->fax->getId(); ?>">
                                    <?php echo $this->tradeshowForm->fax->getLabel();  if($this->tradeshowForm->fax->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->fax; ?>  &nbsp;  <?php echo $this->tradeshowForm->fax_part2; ?>  &nbsp; <?php echo $this->tradeshowForm->fax_part3; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->fax->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="fax_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->website->getId(); ?>">
                                    <?php echo $this->tradeshowForm->website->getLabel();  if($this->tradeshowForm->website->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->website; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->website->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="website_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->address->getId(); ?>">
                                    <?php echo $this->tradeshowForm->address->getLabel();  if($this->tradeshowForm->address->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->address; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->address->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="address_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->venue->getId(); ?>">
                                    <?php echo $this->tradeshowForm->venue->getLabel();  if($this->tradeshowForm->venue->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->venue; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->venue->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="venue_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->b2b_images->getId(); ?>">
                                    <?php echo $this->tradeshowForm->b2b_images->getLabel();  if($this->tradeshowForm->b2b_images->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                
									<?php	
                                        if($this->auth->getIdentity()->access_file_image_manager == '1')
                                        {
                                    ?>
                                          <div class="left-float">
                                              <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="b2b_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                          </div>
                                    <?php
                                          }
                                          else
                                          {	 						
                                    ?>
                                            <script type="text/javascript">
                                              $(function(){
                                                  /**************************FILE UPLOAD START******************************/																					
                                                  dynamicUploader("b2b_images_upload", "b2b_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", false);
                                                  /**************************FILE UPLOAD END*********************************/
                                              });
                                             </script>
                                    <?php							  
                                          }
                                      ?>

                       				<div id="b2b_images_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="b2b_images_upload" id="b2b_images_upload" /><?php } echo $this->tradeshowForm->b2b_images ; ?></div>
                                    
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->b2b_images->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="b2b_images_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <div class="control-element">
                                    <span id="selected_file_b2b_images"><?php echo $assign_image; ?></span>
                                </div>
                            </div>
                            
                            <div class="clear">&nbsp;</div> 

                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->exhibitors->getId(); ?>">
                                    <?php echo $this->tradeshowForm->exhibitors->getLabel();  if($this->tradeshowForm->exhibitors->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->exhibitors; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->exhibitors->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="exhibitors_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->attendees->getId(); ?>">
                                    <?php echo $this->tradeshowForm->attendees->getLabel();  if($this->tradeshowForm->attendees->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->attendees; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->attendees->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="attendees_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->floor->getId(); ?>">
                                    <?php echo $this->tradeshowForm->floor->getLabel();  if($this->tradeshowForm->floor->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->floor; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->floor->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="floor_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->size->getId(); ?>">
                                    <?php echo $this->tradeshowForm->size->getLabel();  if($this->tradeshowForm->size->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->size; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->size->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="size_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->focus->getId(); ?>">
                                    <?php echo $this->tradeshowForm->focus->getLabel();  if($this->tradeshowForm->focus->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->focus; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->focus->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="focus_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->product_service->getId(); ?>">
                                    <?php echo $this->tradeshowForm->product_service->getLabel();  if($this->tradeshowForm->product_service->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->product_service; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->product_service->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="product_service_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->theme->getId(); ?>">
                                    <?php echo $this->tradeshowForm->theme->getLabel();  if($this->tradeshowForm->theme->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->theme; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->theme->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="theme_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->homepage->getId(); ?>">
                                    <?php echo $this->tradeshowForm->homepage->getLabel();  if($this->tradeshowForm->homepage->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->homepage; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->homepage->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="homepage_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->summary->getId(); ?>">
                                    <?php echo $this->tradeshowForm->summary->getLabel();  if($this->tradeshowForm->summary->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->summary; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->summary->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="summary_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->description->getId(); ?>">
                                    <?php echo $this->tradeshowForm->description->getLabel();  if($this->tradeshowForm->description->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->description; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="description_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->attendee_info->getId(); ?>">
                                    <?php echo $this->tradeshowForm->attendee_info->getLabel();  if($this->tradeshowForm->attendee_info->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->attendee_info; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->attendee_info->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="attendee_info_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->exhibitor_info->getId(); ?>">
                                    <?php echo $this->tradeshowForm->exhibitor_info->getLabel();  if($this->tradeshowForm->exhibitor_info->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->exhibitor_info; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->exhibitor_info->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="exhibitor_info_err"></span>
                                </div>
                            </div>
                            <?php	
									if($this->allow('publish','tradeshow','B2b'))
									{
								?>
                            
                            <div class="group">
                                <label for="<?php echo $this->tradeshowForm->status->getId(); ?>">
                                    <?php echo $this->tradeshowForm->status->getLabel();  if($this->tradeshowForm->status->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->tradeshowForm->status; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->tradeshowForm->status->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="status_err"></span>
                                </div>
                            </div>
                            
                            <?php
									}
							?>
                        </fieldset>
                    </div>
                    
                    
            <div class="clear">&nbsp;</div> 
            <div class="group" > <?php echo $this->tradeshowForm->id; ?> </div>
		</div>
    </form>

	<div class="btn-container right">
		<span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
        <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
    </div>
     
    <div id="upload-form" title="<?php echo $this->translator->translator('common_dialog_msg' , $this->translator->translator("member_account_preferences")); ?>">
            <div>
                <form id="popupForm" target="i-upload-form" method="post" action="" >
                    <input type="hidden" name="table_name" value="b2b_group"/>
                    <input type="hidden" name="primary_id_field" value="id"/>
                    <input type="hidden" name="primary_id_field_value" value="1"/>
                    <input type="hidden" name="primary_file_field" value=""/>
                    <input type="hidden" name="file_content"  value=""/>
                    <input type="hidden" name="file_path_field" value="file_path_b2b_images"/>
                    <input type="hidden" name="file_extension_field" value="file_type"/>
                    <input type="hidden" name="file_max_size_field" value="file_size_max"/>
                </form>
                <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>       
            </div>
            <div class="button-container">
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
            </div> 
        </div>
</div>    

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
