<?php 

$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link = 'Members-Dashboard' ;
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('header_logout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('header_login','', '', $front_template['theme_folder']).'</a>';
$add_url =  $this->url(array('module'=> 'Property','controller'=>'members', 'action'=>'add'), 'Members-Property-Add/*', true)  ;
?>

<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<header>
	<div id="top-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-xs-5 user-link">
                	<?php echo $this->translator->translator('header_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?> <?php if(!$auth->hasIdentity()){ ?>| <a href="Registration/104"><?php echo $this->translator->translator('header_register','', '', $front_template['theme_folder']); ?></a><?php } ?>
                </div>
                
                <div class="col-xs-7 top-links">
                    <a href="<?php echo $acount_link; ?>"><?php echo $this->translator->translator('header_account','', '', $front_template['theme_folder']); ?></a> |
                    <!--<?php //echo $sugnIn_link; ?> |-->
                    <a href="Register"><?php echo $this->translator->translator('header_agent_registration','', '', $front_template['theme_folder']); ?></a> |
                    <!--<a href="Feedback"><?php //echo $this->translator->translator('header_feedback','', '', $front_template['theme_folder']); ?></a> |
                    <a href="Site-Map"><?php //echo $this->translator->translator('header_sitemap','', '', $front_template['theme_folder']); ?></a> | -->
                    <!--<a href="Contact-Us"><?php //echo $this->translator->translator('header_contact','', '', $front_template['theme_folder']); ?></a> |-->
                    <div class="flags">
						<?php echo $this->partial('blocks/header_language.phtml'); ?>
                	</div>
                </div>
           	</div>
        </div>
    </div>
    <div id="header">
    	<div class="container">
        	<div class="row">
            	 <div class="col-md-7">
                 	<div class="logo">
                        <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" border="0"></a>
                    </div>
                 </div>
                 
                 <div class="col-md-5">
                 	<?php
						$properties = new Property_Model_DbTable_Properties();
						$listings = $properties->numOfProperty();
					?>
                    <span class="listing-add"><a href="<?php echo $add_url; ?>"><span class="glyphicon glyphicon-plus-sign"></span><br><?php echo $this->translator->translator('header_add_btn','', '', $front_template['theme_folder']); ?></a></span>
                    <span class="listing-count"><span class="no"><?php echo $listings; ?></span> <?php echo $this->translator->translator('header_listings','', '', $front_template['theme_folder']); ?></span>
                 </div>
            </div>
        </div>
    </div>
</header>