<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard' ;
$add_url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Property','controller'=>'Backendpro', 'action'=>'add'), 'adminrout', true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';
?>
</head> 
<body>
<!-- Header Start -->
	<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->

<!-- Top Navigation Start-->
    <nav class="top-nav">
    	<div class="container">
        	<?php echo $this->partial('blocks/menu_header.phtml'); ?>
        </div>
    </nav>
<!-- Top Navigation End-->
        
<!-- Banner Start-->
	<?php  
		if($is_frontend->isFrontend()) 
		{
	?>
    
	<!--<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/slide.jpg" alt="" title="" border="0" class="img-responsive">-->
    <?php echo $this->partial('blocks/home_banner_slideshow.phtml'); ?>
    <?php
		}
		else{
	?>
    <div id="banner-inner">
    	<div class="container">            
            <h1><?php echo $this->translator->translator('banner_inner_slogan','', '', $front_template['theme_folder']); ?></h1>
        </div>
    </div>
    <?php  
	}
	?>
    
<!-- Banner End-->

<!-- Body Start-->
<section class="container">
		<?php  
			if($is_frontend->isFrontend()) 
			{
		?>
    	<?php echo $this->partial('blocks/property_home_search.phtml'); ?>
        <?php  
			}
		?>
        
        <div class="content-container">
        	<?php  
                if($is_frontend->isFrontend()) 
                {
            ?>
        	<div class="row">
            	<div class="col-md-12">
                    <!-- Featured Tab Start-->	
                    <div id="usual1" class="usual">
                    	<ul>
                        	<li><a class="selected" href="#tab1"><?php echo $this->translator->translator('block_recent_title','', '', $front_template['theme_folder']); ?></a></li>
                          	<li><a class="" href="#tab2"><?php echo $this->translator->translator('tab_residential_title','', '', $front_template['theme_folder']); ?></a></li>
                          	<li><a class="" href="#tab3"><?php echo $this->translator->translator('tab_commercial_title','', '', $front_template['theme_folder']); ?></a></li>
                          	<li><a class="" href="#tab4"><?php echo $this->translator->translator('tab_land_title','', '', $front_template['theme_folder']); ?></a></li>
                          	<li><a class="" href="#tab5"><?php echo $this->translator->translator('tab_rent_title','', '', $front_template['theme_folder']); ?></a></li>
                          	<li><a class="" href="#tab6"><?php echo $this->translator->translator('tab_rural_title','', '', $front_template['theme_folder']); ?></a></li>
                        </ul>
                    </div>
                    <div class="usual-content">
                    	<div style="display:block;" id="tab1"><?php echo $this->partial('blocks/property_content_recent.phtml'); ?></div>
                        <div style="display: none;" id="tab2"><?php echo $this->partial('blocks/property_content_residential.phtml'); ?></div>
                        <div style="display: none;" id="tab3"><?php echo $this->partial('blocks/property_home_content_commercial.phtml'); ?></div>
                        <div style="display: none;" id="tab4"><?php echo $this->partial('blocks/property_home_content_land.phtml'); ?></div>
                        <div style="display: none;" id="tab5"><?php echo $this->partial('blocks/property_home_content_rent.phtml'); ?></div>
                        <div style="display: none;" id="tab6"><?php echo $this->partial('blocks/property_home_content_rural.phtml'); ?></div>
                    </div>
                        
                    <script type="text/javascript">
                    $("#usual1 ul").idTabs();
                    </script>
                    <!-- Featured Tab End-->
                </div>
                
      		</div>
            
            <div class="row">
            	<div class="col-md-12">
            		<?php echo $this->partial('blocks/property_mapView.phtml'); ?>
                </div>
            </div>
            
            <br>
            <div class="row block-property-feature">
            	<div class="col-md-4">
                	<figure class="first">
                    	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/buy-home.png">
                    	<strong><?php echo $this->translator->translator('property_buy','', '', $front_template['theme_folder']); ?></strong><br>
                        <p><a href="WANTED"><?php echo $this->translator->translator('property_buy_desc','', '', $front_template['theme_folder']); ?></a></p>
                    </figure>
                </div>
                
                <div class="col-md-4">
                	<figure class="second">
                    	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/sell-home.png">
                        <strong><?php echo $this->translator->translator('property_sell','', '', $front_template['theme_folder']); ?></strong><br>
                        <p><a href="SELL"><?php echo $this->translator->translator('property_sell_desc','', '', $front_template['theme_folder']); ?></a></p>
                    </figure>
                </div>
                
                <div class="col-md-4">
                	<figure class="third">
                    	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/rent-home.png">
                    	<strong><?php echo $this->translator->translator('property_rent','', '', $front_template['theme_folder']); ?></strong><br>
                        <p><a href="LETTING"><?php echo $this->translator->translator('property_rent_desc','', '', $front_template['theme_folder']); ?></a></p>
                    </figure>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-md-12">
            	<?php echo $this->partial('blocks/property_home_featured.phtml'); ?>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                	<?php echo $this->partial('blocks/property_home_content_region.phtml'); ?>
                </div>
                
                <div class="col-md-6">
                	<?php echo $this->partial('blocks/property_home_content_state.phtml'); ?>
                </div>
      		</div>
            
            <div class="row">
                <div class="col-md-12">
                	<?php echo $this->partial('blocks/property_home_content_agents.phtml'); ?>
                </div>
      		</div>
            
            <div class="row">
                <div class="col-md-8">
                	<?php echo $this->partial('blocks/newsletter.phtml'); ?>
                    <?php echo $this->partial('blocks/social.phtml'); ?>
                </div>
                
                <div class="col-md-4">
                	<div class="block-ad home-content-ad">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- 24-12-2013realestate-ad -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:336px;height:280px"
                             data-ad-client="ca-pub-9052681341488812"
                             data-ad-slot="8994342539"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
      		</div>
            
            <!-- Inner Layout Start -->
            <?php
                }
                else
                {
                    $body_content_class = '';
                    if(!empty($moduleName) && $actionName != 'home')
                    {
                        switch($moduleName)
                        {
                            case 'property':
							if($actionName != 'confirm')
							{
                                $body_content_class = 'content-inner';
            ?>	
                <!-- Inner Side Bar Start-->
                	<div id="sidebar-inner">
                    	<?php echo $this->partial('blocks/property_inner_sidebar_search.phtml'); ?>
                    	<?php echo $this->partial('blocks/ad_inner_leftsidebar.phtml'); ?>
                    </div>
                
                <!-- Inner Side Bar End -->	
            <?php
						
							}
                        break;
                    }
                }
            ?>
            
            <!-- Inner Layout End -->
                    
            <!-- Content Start-->
                <div id="<?php echo $body_content_class; ?>"> 
                    <?php echo $this->layout()->content; ?>
                </div>
            <!-- Content End-->
            <?php
                }
            ?> 
        </div>
</section>
<!-- Body End-->

<!--Footer Start-->
	<?php echo $this->layout()->render('footer'); ?>
<!--Footer End-->

<div class="go-top"><a href="#top" id="scroll-top"><?php echo $this->translator->translator('footer_top','', '', $front_template['theme_folder']); ?></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>