<?php
class vacationrentals_count
{
	protected	$_id;
	protected	$_order = '1';
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected   $_image_on = '0';
	protected   $_group = '1';
	protected 	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->translator = Zend_Registry::get('translator');
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	
		$group_db = new vacationrentals_Model_DbTable_vacationrentalsGroup();
		$vacationrentals_helper = new vacationrentals_View_Helper_vacationrentalsGroup();
		$num_vacationrentals = $vacationrentals_helper->getNumOfProduct($this->_group);
		//$num_country = $vacationrentals_helper->getNumOfProductCountry($this->_group);
		//$add_url = $this->url(array('module'=> 'Vacationrentals','controller'=>'members', 'action'=>'add'), 'Members-Vacationrental-Add/*', true) ;
?>
    
<div class="container">
    <div class="block block-count">
    	<div class="panel panel-default">
            <div class="panel-body text-center">
                <h1><?php echo $this->translator->translator('vacationrentals_front_page_home_add_btn_link_extra_label', $num_vacationrentals, '', $this->_front_template['theme_folder']); ?></h1>
                <!--
                <hr>
                <a href="<?php //echo $add_url; ?>"><?php //echo $this->translator->translator('vacationrentals_front_page_home_add_btn_link','', '', $front_template['theme_folder']); ?></a>-->
            </div>
        </div>
	</div>
</div>

<?php
	}
}

$vacationrentals_count_class = new vacationrentals_count($this);
try
{
	$vacationrentals_count_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>