<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
$maximum_stars_digit = $translator->translator('maximum_stars_digit');
$vacationrentals_db = new Vacationrentals_Model_DbTable_Vacationrentals();	
$frontController = Zend_Controller_Front::getInstance();
$postValue = ($frontController->getRequest()->isPost()) ? $frontController->getRequest()->getPost() : Eicra_Global_Variable::getSession()->vacationrental_search_info;

echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.29473.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/accordion-sidebar.css');


if($postValue && $postValue['filter'] && $postValue['filter']['filters'])
{
	foreach($postValue['filter']['filters'] as $fieldObj)
	{
		$postValue[$fieldObj['field']]  = $fieldObj['value'];
	}
}
$vacationrental_form = new Vacationrentals_Form_VacationrentalsForm();
$business_type_db = new Vacationrentals_Model_DbTable_BusinessType();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;	
?>

<div class="block block-search-filter">
	<h1><?php echo $translator->translator('block_search_filter_vacation_title','','', $front_template['theme_folder']); ?></h1>
    <br>
    <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
    	<div class="form-group text-center">
			<?php echo $translator->translator('block_search_filter_price_title','','', $front_template['theme_folder']).' ('.$currency->getSymbol().')'; ?><br>
        	<div id="rangeslider_vacationrentals_price">
            	<input name="vacationrentals_price-gte" id="vacationrentals_price-gte" operator="gte" />
            	<input name="vacationrentals_price-lte" id="vacationrentals_price-lte" operator="lte" />
         	</div>
        </div>
        <br>
        <div class="form-group text-center">
			<?php echo $translator->translator('block_search_filter_distance_from_airport_title', '', '', $front_template['theme_folder']).' ('.$translator->translator('vacationrentals_page_km_pre_unit', '','', $front_template['theme_folder']).')'; ?><br>
        	<div id="rangeslider_feature_distance_from_airport">
            	<input name="feature_distance_from_airport-gte" id="feature_distance_from_airport-gte" operator="gte" />
            	<input name="feature_distance_from_airport-lte" id="feature_distance_from_airport-lte" operator="lte" />
        	</div>
        </div>
        <br>
        <div class="form-group text-center">
        	<?php echo $translator->translator('vacationrentals_property_size', '', 'Vacationrentals').' '.$translator->translator('vacationrentals_list_page_search_property_size_sqf', '', 'Vacationrentals'); ?><br>
        	<div id="rangeslider_property_size">
            	<input name="property_size-gte" id="property_size-gte" operator="gte" />
            	<input name="property_size-lte" id="property_size-lte" operator="lte" />
         	</div>
        </div>
        <br>
        <div class="form-group text-center">
			<?php echo $translator->translator('block_search_filter_room_title','','', $front_template['theme_folder']); ?><br>
            <div id="rangeslider_feature_room_no">
                <input name="feature_room_no-gte" id="feature_room_no-gte" operator="gte" />
                <input name="feature_room_no-lte" id="feature_room_no-lte" operator="lte" />
            </div>
      	</div>
        <br>
        <div class="form-group text-center">
			<?php echo $translator->translator('vacationrentals_front_page_bedroom','','', $front_template['theme_folder']); ?><br>
            <div id="rangeslider_feature_bedroom">
                <input name="feature_bedroom-gte" id="feature_bedroom-gte" operator="gte" />
                <input name="feature_bedroom-lte" id="feature_bedroom-lte" operator="lte" />
            </div>
    	</div>
        <br>
        <div class="form-group text-center">
			<?php echo $translator->translator('vacationrentals_front_page_bathroom','','', $front_template['theme_folder']); ?><br>
        	<div id="rangeslider_feature_bathroom">
            	<input name="feature_bathroom-gte" id="feature_bathroom-gte" operator="gte" />
            	<input name="feature_bathroom-lte" id="feature_bathroom-lte" operator="lte" />
            </div>
      	</div>
	</div> 
    <br>          
    <section class="ac-container-sidebar">
    	<div>
            <input id="ac-1" name="" type="checkbox" checked/>
            <label for="ac-1"><?php echo $translator->translator('block_search_filter_star_rating_title','','', $front_template['theme_folder']); ?></label>
            <article class="ac-small"> 
				<?php
                $vacationrental_stars_post_arr = ($postValue['stars_arr'] && !is_array($postValue['stars_arr'])) ? explode(',', $postValue['stars_arr']) : ( (is_array($postValue['stars_arr'])) ? $postValue['stars_arr'] : array());
                for($i = ($maximum_stars_digit - 1); $i > 0 ; $i--)
                {
                    $h_num = $vacationrentals_db->numOfVacationrentals(array('field' => 'stars', 'operator' => '=', 'value' => $i), false);
                    $checked = (in_array($i, $vacationrental_stars_post_arr)) ? 'checked="checked"' : '';
                ?>
                <div class="checkbox">
                    <label for="stars_arr<?php echo $i; ?>"><input type="checkbox" name="stars_arr[]" id="stars_arr<?php echo $i; ?>" value="<?php echo $i; ?>" <?php echo $checked; ?>/>
                    <?php
                        for($j = 1; $j < $maximum_stars_digit; $j++)
                        {
                            $img_path = ($j > $i) ? 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_vacation_img/star-small-inactive.png' : 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_vacation_img/star-small-active.png';
                    ?>
                            <img src="<?php echo $img_path; ?>" />
                    <?php
                        }
                        echo  $this->numbers($i).' '.$translator->translator('block_search_filter_stars_title','','', $front_template['theme_folder']).' ('.$this->numbers($h_num).')';
                    ?>
                    </label>
                </div>
                <?php				
                }
                ?>
            </article>              
      	</div>
        
        <div>
            <input id="ac-2" name="" type="checkbox"/>
            <label for="ac-2"><?php echo $translator->translator('block_search_filter_amenities_title','','', $front_template['theme_folder']); ?></label>
            <article class="ac-xl-large">
            	<div class="checkbox">
					<?php
                        $vacationrental_form->feature_amenities->setSeparator('<br />');
                        if($postValue['feature_amenities'])
                        {
                            $postValue['feature_amenities'] = (is_array($postValue['feature_amenities'])) ? $postValue['feature_amenities'] : explode(',', $postValue['feature_amenities']);
                            $vacationrental_form->feature_amenities->setValue($postValue['feature_amenities']);
                        }
                        echo $vacationrental_form->feature_amenities;
                    ?>
                </div>
            </article>              
        </div>
        
        <div>
            <input id="ac-3" name="" type="checkbox" />
            <label for="ac-3"><?php echo $translator->translator('block_search_filter_sports_recreation_title','','', $front_template['theme_folder']); ?></label>
            <article class="ac-xl-large">
            	<div class="checkbox">
					<?php
                        $vacationrental_form->feature_other_facilities->setSeparator('<br />');
                        if($postValue['feature_other_facilities'])
                        {
                            $postValue['feature_other_facilities'] = (is_array($postValue['feature_other_facilities'])) ? $postValue['feature_other_facilities'] : explode(',', $postValue['feature_other_facilities']);
                            $vacationrental_form->feature_other_facilities->setValue($postValue['feature_other_facilities']);
                        }
                        echo $vacationrental_form->feature_other_facilities;
                    ?>
                </div>
            </article>
        </div>
        
        <div>
            <input id="ac-4" name="" type="checkbox" />
            <label for="ac-4"><?php echo $translator->translator('block_search_filter_accomodation_type_title','','', $front_template['theme_folder']); ?></label>
            <article class="ac-medium">
                <div class="radio">
                    <label><input type="radio" name="vacationrentals_type" value="" <?php if(empty($postValue['vacationrentals_type'])){ echo 'checked="checked"'; } ?>/> <?php echo $translator->translator('block_search_filter_accomodation_type_all_title','','', $front_template['theme_folder']); ?></label>
                </div>
                <?php
                    $business_type_info = $business_type_db->getAllBusinessType();
                    if($business_type_info)
                    {
                        foreach($business_type_info as $key => $value)
                        {
                ?>
                <div class="radio">
                    <label><input type="radio" name="vacationrentals_type" value="<?php echo $key; ?>" <?php if($postValue['vacationrentals_type'] == $key){ echo 'checked="checked"'; } ?> /><?php echo $this->escape($value); ?></label>
                </div>
                <?php
                        }
                    }
                ?>
            </article>
        </div>
	</section>
</div>