<?php

$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');

class featured_vacationrentals_special
{
	protected	$_group = 1;
	protected	$_limit = 8;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$area_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->area_db = new Vacationrentals_Model_DbTable_Area();	
		$group_db =  new Vacationrentals_Model_DbTable_VacationrentalsGroup();
		$this->group_datas = $group_db->getGroupName($this->_group);		
	}
	
	public function truncate($phrase, $start_words, $max_words, $char = false, $charset = 'UTF-8')
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{		
		$currency = new Zend_Currency($this->_global_conf['default_locale']);
		$currency_symbol = $currency->getSymbol();
		$translator = Zend_Registry::get('translator');	
		$review_helper = new Review_View_Helper_Review();
		$maximum_stars_digit = $translator->translator('maximum_stars_digit','', '', $this->_front_template['theme_folder']);
		
		$selectGP = $this->_DBconn->select()
						->from(array('hp' => Zend_Registry::get('dbPrefix').'vacationrentals_page'), array('*'))
					   	->where('hp.group_id = ?',$this->_group)
						->where('hp.featured  = ?','1')
					   	->where('hp.active  = ?','1')
						->joinLeft(array('bt' => Zend_Registry::get('dbPrefix').'vacationrentals_business_type'), 'hp.vacationrentals_type = bt.id', array('business_type' => 'bt.business_type'))
					   	->joinLeft(array('gp' => Zend_Registry::get('dbPrefix').'vacationrentals_group'), 'gp.id = '. $this->_group, array('review_id' => 'gp.review_id'))
					   	->limit($this->_limit);
		
		$vacationrentals_info =  $selectGP->query()->fetchAll();
		
		//echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.bxslider.js');
		//echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.fitvids.js');
		//echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.easing.1.3.js');
		//echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/jquery.bxslider.css');	
?>

<style>
#owl-demo .item{
	margin: 3px;
}

#owl-demo .item a > img{
	display: block;
	/*width: 95%;*/
	height:180px;
	/*margin-bottom:15px;*/
}
</style>

<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 4000,
		stopOnHover: true,
		autoHeight: true,
        items : 2,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>

<div class="block block-featured">
	<h3><?php echo $translator->translator('vacationrentals_block_featured_list_title','', '', $this->_front_template['theme_folder']); ?></h3>
   	<div class="panel panel-default">
    <div id="featured_list">        		
            <?php						  
                if($vacationrentals_info)
                {
            ?>
            <div id="owl-demo">    
                <?php
                        $j = 1;	
                        foreach($vacationrentals_info as $entry)
                        {
                            $vacationrentals_image_val_arr = explode(',',$entry['vacationrentals_image']);
                            $vacationrentals_image_no = ($vacationrentals_image_val_arr[0]) ? count($vacationrentals_image_val_arr) : 0;
                            if($this->_view->escape($entry['vacationrentals_primary_image']))
                            { 
                                $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($entry['vacationrentals_primary_image']); 
                            }
                            else
                            { 
                                if($this->_view->escape($entry['vacationrentals_image']))
                                {											
                                    $thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($vacationrentals_image_val_arr[0]); 
                                }
                                else
                                {
                                    $thumb_image = 'application/layouts/scripts/'.$this->_front_template['theme_folder'].'/images/mod_vacation_img/no_image.png'; 
                                }		
                            }
                            if($this->group_datas['file_thumb_width'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToHeight')
                            { 
                                $width = 'width="'.$this->_view->escape($this->group_datas['file_thumb_width']).'"'; 
                            }
                            else
                            {
                                $width = '';
                            } 
                            if($this->group_datas['file_thumb_height'] && $this->group_datas['file_thumb_resize_func'] != 'resizeToWidth')
                            { 
                                $height = 'height="'.$this->_view->escape($this->group_datas['file_thumb_height']).'"'; 
                            } 
                            else
                            {
                                $height = '';
                            }						
                            $lication_info = ($entry['area_id'])? $this->area_db->getAreaInfo($entry['area_id']) : '';
                ?>
                        <div class="item">
                            <figure>
                                <h6><a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="" title="<?php echo $this->_view->escape($entry['vacationrentals_name']); ?>"><?php echo $this->truncate($this->_view->escape($entry['vacationrentals_name']), 0, 6, true); ?></a></h6>
                                <br>
                                <div class="text-center">
                                    <div class="thumb">
                                        <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>"  title="<?php echo $this->_view->escape($entry['vacationrentals_name']); ?>"  width="300"><img src="<?php echo $thumb_image; ?>" border="0" class="img-responsive" <?php echo $width." ".$height; ?>></a>
                                        <div class="type"><?php  echo $this->_view->escape($entry['business_type']); ?></div>
                                        <div class="photo-count-container">
                                            <div class="photo-count">
                                                <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details', 'vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']),'tab' => 1 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>" title="<?php echo $translator->translator('vacationrentals_front_page_vacationrentals_click_view_listing','', '', $this->_front_template['theme_folder']); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $translator->translator('vacationrentals_front_page_vacationrentals_photo_no','<span>'.$vacationrentals_image_no.'</span>','', $this->_front_template['theme_folder']); ?></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="details text-center">
                                    <div class="ratings">
                                        <?php
                                        for($i = 1; $i < $maximum_stars_digit; $i++)
                                            {
                                                $vacationrentals_stars = ($i <= $this->_view->escape($entry['stars'])) ? '<img src="application/layouts/scripts/'.$this->_front_template["theme_folder"].'/images/mod_vacation_img/star-small-active.png" />' : '<img src="application/layouts/scripts/'.$this->_front_template["theme_folder"].'/images/mod_vacation_img/star-small-inactive.png" />';
                                                echo $vacationrentals_stars.'&nbsp;';
                                            }
                                        ?>
                                    </div>
                                    
                                    <div class="room-info">
                                        <span class="glyphicon glyphicon-th-large"></span> <?php if(!empty($entry['feature_bedroom'])){ echo (int)$this->_view->escape($entry['feature_bedroom']);  echo ' '.$translator->translator('vacationrentals_front_page_bedroom','', '', $this->_front_template['theme_folder']); } ?> <?php if(!empty($entry['feature_bathroom'])){ echo (int)$this->_view->escape($entry['feature_bathroom']);  echo ' '.$translator->translator('vacationrentals_front_page_bathroom','', '', $this->_front_template['theme_folder']); } ?><br>
                                        <span class="glyphicon glyphicon-resize-full"></span> <?php echo $this->_view->escape($entry['property_size']).$translator->translator('vacationrentals_list_page_search_property_size_sqf','', '', $this->_front_template['theme_folder']); ?>
                                    </div>
                                    
                                    <div class="price"><?php echo $translator->translator('vacationrentals_block_featured_label_price','', '', $this->_front_template['theme_folder']); ?> <?php echo $currency->getSymbol().''.$this->_view->escape($entry['vacationrentals_price']); ?></div>
                                    <span class="glyphicon glyphicon-map-marker"></span> <?php echo $translator->translator('vacationrentals_block_featured_label_location','', '', $this->_front_template['theme_folder']); ?> 
                                    <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>"><?php echo $this->_view->escape($lication_info['city']); ?></a><br />
                                    
                                    <?php if(!empty($entry['vacationrentals_desc'])){ echo $translator->translator('vacationrentals_block_featured_label_description','', '', $this->_front_template['theme_folder']); ?> <?php echo $this->truncate($this->_view->escape(strip_tags($entry['vacationrentals_desc'])), 0, 15, true); } ?><br />
                                    <hr>
                                    <?php 
                                        if(!empty($entry['review_id'])){ 
                                        $review_no = $review_helper->getNumOfReviews($entry['id'], $this->_view->escape($entry['review_id']));
                                    ?>
                                    <?php echo $translator->translator('block_score','', '', $this->_front_template['theme_folder']); ?>&nbsp;<span class="label label-success"><span class="glyphicon glyphicon-comment"></span> <a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']),'tab' => 9 ),'Vacationrentals-details/:vacationrentals_title/:tab',true); ?>"><?php echo $translator->translator('common_review_no',htmlentities($review_no), 'Vacationrentals'); ?></a></span> <?php } ?>
                                    <hr>
                                </div>
                            </figure>
                        </div>
                <?php                   
                        $j++;
                        }
                ?>
            </div>	
            <?php
                }
            ?>
    </div>
    </div>
</div>

<?php
	}
}
try
{
	$featured_vacationrentals_special_class = new featured_vacationrentals_special($this);
	$featured_vacationrentals_special_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>