<?php
class vacationrentals_mapView
{
	protected	$_group = 1;
	protected	$_limit = 5;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$vacationrentals_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		$this->_limit = ($this->_global_conf['googlemaps_maxmarker']) ? $this->_global_conf['googlemaps_maxmarker'] : $this->_limit;
				
		$this->vacationrentals_db = new Vacationrentals_Model_DbTable_Vacationrentals();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');	
		$mem_db = new Members_Model_DbTable_MemberList();
		if(!empty($this->_global_conf['payment_user_id']))
		{
			$mem_info = $mem_db->getMemberInfo($this->_global_conf['payment_user_id']) ;
			$mem_address = $this->_view->escape(strip_tags($mem_info['address']));
		}
		$search_params['sort'][0] = array('field' => 'RAND()', 'dir' => 'exp');		
		$vacationrentals_info = $this->vacationrentals_db->getListInfo('1', $search_params,  array('vacationrentals_page' => array( 'vacationrentals_name', 'vacationrentals_title', 'post_code', 'vacationrentals_primary_image', 'vacationrentals_address' ), 'dataLimit' => $this->_limit,'userChecking' => false)); 
		$vacationrentals_info_array = ($vacationrentals_info) ? $vacationrentals_info->toArray() : array();
		
?>
<style>
     #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }	 
    </style>
<?php 	
	if ($this->_global_conf['googlemaps_api_key']) :
		echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$this->_global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false');
	 else  :
	 	echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
	 endif; 
?>


<script>
	// This example adds a marker to indicate the position 
	var mapSettingObj = {
							googleMap : {
										canvas_id			: 'map-canvas',
										address_id			: 'address',
										propertyAddress		: true,
										propertyAddressField:	['post_code', 'vacationrentals_address', 'city', 'state_name', 'country_name'],
										pin_img_url 		: '<?php echo $this->_global_conf['googlemaps_pin_logo'];?>',
										loader_id			: 'map_loader',
										loader_img_url		: 'application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/loader/search-loader.gif',
										loader_language		: "<?php echo $translator->translator("partial_quick_contact_loader"); ?>",
										allAddresses 		: <?php echo Zend_Json_Encoder::encode($vacationrentals_info_array); ?>,
										initializeOptions : {
																zoom: <?php echo $this->_global_conf['googlemaps_zoom'];?>,
																mapTypeId: google.maps.MapTypeId.<?php echo $this->_global_conf['googlemaps_maptypes'];?>,
																center: new google.maps.LatLng(<?php echo $this->_global_conf['googlemaps_latitude'];?>, <?php echo $this->_global_conf['googlemaps_longitude'];?>),	
										},
										pin_template: function(address,lat,lng, obj_arr){
														  var html = "<div class='desc-container'>" 
																		  +"<div class='block-title'> " + obj_arr.vacationrentals_name + "</div>" 
																		  +'<a href="Vacationrentals-details/' + obj_arr.vacationrentals_title + '" class="preview" link="data/frontImages/vacationrentals/vacationrentals_image/'+obj_arr.vacationrentals_primary_image+'" title="'+obj_arr.vacationrentals_name+'"><img src="data/frontImages/vacationrentals/vacationrentals_image/'+obj_arr.vacationrentals_primary_image+'" height="80" class="thumb"/></a>'
																		  + "<?php echo $translator->translator('global_invoice_customer_address'); ?> "+obj_arr.vacationrentals_address+"<br/>"
																		  + "<a href='Vacationrentals-details/" + obj_arr.vacationrentals_title + "' class='details'><?php echo $translator->translator("common_click_here_language"); ?></a> <br/>"
																		  + "<br/> <br/><span class='add'>" + address + "</span><br/>" 
																		  + "</div>";
														  return html;
													  },
										title_template: function(address,lat,lng, obj_arr){
															var html = obj_arr.vacationrentals_name + " ( " + obj_arr.address + " ) ";
															return html;
														}
								}
	};  
  
  	runGoogleMap(mapSettingObj);
</script>
<div class="block block-map">
	<div class="block-body">
    	<h2><?php echo $translator->translator('block_map_view_title','','', $this->_front_template['theme_folder']); ?>&nbsp;&nbsp;<span id="map_loader"></span></h2>
        <div style="width:983px;height:600px;"><div id="map-canvas"></div></div>        
        <div class="form-element">
            <input id="address" type="textbox" value="<?php echo $mem_address; ?>">
            <input type="button" value="<?php echo $translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(mapSettingObj)">
    		<input type="button" value="<?php echo $translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(mapSettingObj)">
          </div>
    </div>
</div>
<?php
	}
}
try
{
	$vacationrentals_mapView_class = new vacationrentals_mapView($this);
	$vacationrentals_mapView_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>