<?php
class vacation_rental_search
{
	protected	$_group = 1;
	protected	$_group_name = 'Vacation Rentals';
	protected	$_active =	1;
	protected	$_front_template;
	protected	$_translator;
	protected	$_view;
	protected	$postValue;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$frontController = Zend_Controller_Front::getInstance();
		$this->postValue = $frontController->getRequest()->getPost();
	}
	
	public function class_body()
	{
		$version = new Eicra_License_Version();  
		$front_template = Zend_Registry::get('front_template');
		$vacationrentals_Country_DB = new Vacationrentals_Model_DbTable_Country();
		$vacationrentals_State_DB = new Vacationrentals_Model_DbTable_State();
		$vacationrentals_Area_DB = new Vacationrentals_Model_DbTable_Area();
		$vacationrentals_DB = new Vacationrentals_Model_DbTable_Vacationrentals();
		$businessType_BD = new Vacationrentals_Model_DbTable_BusinessType();
		$group_db = new Vacationrentals_Model_DbTable_VacationrentalsGroup();
		


		$global_conf = Zend_Registry::get('global_conf');
		$currency = new Zend_Currency($global_conf['default_locale']);
		
		
		$price_info_min = $vacationrentals_DB->getPrice('ASC');
		$price_info_max = $vacationrentals_DB->getPrice('DESC');
		
		$number_of_rooms_min = $vacationrentals_DB->getRoomNumber('ASC');
		$number_of_rooms_max = $vacationrentals_DB->getRoomNumber('DESC');
		
		$vacationrentals_type_ID = $vacationrentals_DB->getVacationrentalsType();
		$stars = $vacationrentals_DB->getStars();
		$bedrooms = $vacationrentals_DB->getNumberOfBedsRooms();
		$bathrooms = $vacationrentals_DB->getNumberOfBathRooms();
		$propertySize = $vacationrentals_DB->getPropertySize();		
		$minimumStay = $vacationrentals_DB->getMinimumStay();
		$countries = $vacationrentals_Country_DB->getCountryInfo ();
		$num_vacationrentals= $vacationrentals_DB->getNumOfProduct();
		$num_country = $vacationrentals_DB->getNumOfProductCountry();
		
?>
<script type="text/javascript">
$(function() {
	autoSuggestion('post_code_advance_box', "<?php echo $this->_view->url( array('module'=> 'Vacationrentals', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['vacationrentals_primary_image', 'vacationrentals_image', 'vacationrentals_name', 'post_code', 'owner_name','vacationrentals_postcode' ,'vacationrentals_room', 'vacationrentals_location'], 'data/frontImages/vacationrentals/vacationrentals_image', 2);	
		
	$('a.clear_search').click(function() {		
		$.each($('#formBlockSearch').serializeArray(), function(i, field) {					
			$('input[name="'+field.name+'"]').val('');		
			$('select[name="'+field.name+'"]').val('');		
		});	
	});	
	
	$('a.searchButton').click(function() {	
		$('#formBlockSearch').submit();
	});
	
	$('select.country_id').change(function() {	
		if($('select.country_id option:selected').val() == 'any' || $('select.country_id option:selected').val() =='')
		{
			$('select.area_id').html('<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_area','', '', $this->_front_template['theme_folder']); ?></option>');	
			$('select.state_id').html('<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_state','', '', $this->_front_template['theme_folder']); ?></option>');
		}
		else
		{	
			$.ajax({
				  url: "<?php echo $this->_view->url( array('module' =>'Vacationrentals','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",
				  type: 'POST',
				  data: { id: $('select.country_id option:selected').val() },
				  beforeSend: function(){						
							$('select.state_id').html('<option value="any"><?php echo $this->_translator->translator('common_loading_language','', '', $this->_front_template['theme_folder']); ?></option>');
							$('select.area_id').html('<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_area','', '', $this->_front_template['theme_folder']); ?></option>');			
							$('#state_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
						 },
				  success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					var option = '<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_state','', '', $this->_front_template['theme_folder']); ?></option>';				
					if(json_arr.status == 'ok')
					{
						for(var i = 0;i<json_arr.states.length;i++)
						{
							option += '<option value="'+json_arr.states[i].state_id+'" >'+json_arr.states[i].state_name+'</option>';
						}
						$('select.state_id').html(option);
					}
					else
					{
						$('select.state_id').html('<option value="any">'+json_arr.msg+'</option>');
					}
					$('#state_id_err').html('');
				  }
			});
		}
	});
	
	$('select.state_id').change(function() {		
				
		if($('select.state_id option:selected').val() == 'any' || $('select.state_id option:selected').val() == '')
		{
			$('select.area_id').html('<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_area','', '', $this->_front_template['theme_folder']); ?></option>');
		}
		else
		{
			$.ajax({
				  url: "<?php echo $this->_view->url( array('module' => 'Vacationrentals', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",
				  type: 'POST',
				  data: { id: $('select.state_id option:selected').val() },
				  beforeSend: function(){						
						$('select.area_id').html('<option value="any"><?php echo $this->_translator->translator('common_loading_language','', '', $this->_front_template['theme_folder']); ?></option>');
						$('#area_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	
						},
				  success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					var option = '<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_area','', '', $this->_front_template['theme_folder']); ?></option>';				
					if(json_arr.status == 'ok')
					{
						for(var i = 0;i<json_arr.cities.length;i++)
						{
							option += '<option value="'+json_arr.cities[i].city_id+'" >'+json_arr.cities[i].city+'</option>';
						}
						$('select.area_id').html(option);
					}
					else
					{
						$('select.area_id').html('<option value="any">'+json_arr.msg+'</option>');
					}
					$('#area_id_err').html('');
				  }
			});
		}
	});	
		
	
				
});
</script>

<form name="formBlockSearch" id="formBlockSearch" method="post" action="<?php echo $this->_view->url( array('module' => 'Vacationrentals', 'controller' => 'search', 'action' => 'search', 'block_search' => 'search'  ), 'Search-Vacationrental-List/*',    true); ?>">
	<div class="block-search">
		<div class="block-content">
        	<h1><?php echo $this->_translator->translator('vacationrentals_front_page_Title_search','', '', $this->_front_template['theme_folder']); ?></h1>
            <p class="total-count"><?php echo $this->_translator->translator('vacationrentals_block_count_item',  number_format($num_vacationrentals), '', $this->_front_template['theme_folder']).$this->_translator->translator('vacationrentals_block_count_country',  number_format($num_country), '', $this->_front_template['theme_folder']); ?></p>
			<div class="col">
				<p><?php echo $this->_translator->translator('vacationrentals_list_page_search_group','', '', $this->_front_template['theme_folder']); ?></p>
                <select name="group_id" id="group_id">
                    <option value="any" <?php echo $selected; ?>><?php echo $this->_translator->translator('common_any_language'); ?></option>
					<?php
                    $group_list = $group_db->getGroupInfo();
                    foreach($group_list as $key => $value)
                    {
                            $selected = ($this->postValue['group_id'] == $key || $this->_group == $key) ? 'selected=""selected' : '';
                            $this->_group	= ($this->postValue['group_id'] == $key) ? $this->postValue['group_id'] : $this->_group;
                            $this->_group_name = ($this->postValue['group_id'] == $key) ? $value : $this->_group_name;
                    ?>
                        <option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $this->_view->escape($value); ?></option>
                    <?php	
                    }
                    ?>
                </select>
			</div>
             
			<div class="col">
                <p><?php echo $this->_translator->translator('vacationrentals_list_page_search_postcode','', '', $this->_front_template['theme_folder']); ?></p>
                <input type="text" name="post_code" id="post_code_advance_box" placeholder="<?php echo $this->_translator->translator('common_any_language', '', ''); ?>" value="<?php  if(!empty($this->postValue['post_code'])){ echo $this->postValue['post_code']; } ?>">
        	</div>            
          
            <div class="col">
				<p><?php echo $this->_translator->translator('vacationrentals_list_page_search_country','', '', $this->_front_template['theme_folder']); ?></p>   
                <select name="country_id"  id="country_id" class="country_id country">						
					<option value="any"><?php echo $this->_translator->translator('vacationrentals_select_country','', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
                        $selected_country_id = (empty($this->postValue['country_id'])) ? $global_conf['default_country'] : $this->postValue['country_id'];
                        foreach($countries as $key=>$value)
                        {
                            $selected = ($selected_country_id == $key) ? ' selected="selected" ' : '';

                    ?>
                        <option value="<?php echo $key; ?>"<?php echo $selected; ?>><?php echo $value; ?></option>					
                    <?php
                        }
                    ?>
                </select>
            </div>
            
            <div class="col">
				<p><?php echo $this->_translator->translator('vacationrentals_list_page_search_state','', '', $this->_front_template['theme_folder']); ?></p>
                <select name="state_id" id="state_id" class="state_id">
                    <option value="any"><?php echo $this->_translator->translator('vacationrentals_select_state','', '', $this->_front_template['theme_folder']); ?></option>	
                    <?php
                        $state_info = $vacationrentals_State_DB->getAllStateInfo($selected_country_id); 
                        foreach($state_info as $key=>$value)
                        {
                            $selected = ($value['state_id'] == $this->postValue['state_id']) ? ' selected="selected" ' : '';
                            echo '<option value="'.$this->_view->escape($value['state_id']).'"'.$selected.'>'.$this->_view->escape($value['state_name']).'</option>';
                        }
                     ?>																		
                </select>
                <span id="state_id_err"></span>                
            </div>
             
            <div class="col">
				<p><?php echo $this->_translator->translator('vacationrentals_list_page_search_area','', '', $this->_front_template['theme_folder']); ?></p>                            
                <select name="area_id" id="area_id" class="area_id">
                    <option value="any"><?php echo $this->_translator->translator('vacationrentals_select_area','', '', $this->_front_template['theme_folder']); ?></option>	
                    <?php
						$selected_state_id = (empty($this->postValue['state_id']) || strtolower($this->postValue['state_id']) == 'any') ? '' : $this->postValue['state_id'];
						if(!empty($selected_state_id ))
						{
							$area_info = $vacationrentals_Area_DB->getAllAreaInfo($selected_state_id); 
							foreach($area_info as $key=>$value)
							{
								$selected = ($value['city_id'] == $this->postValue['area_id']) ? ' selected="selected" ' : '';
								echo '<option value="'.$this->_view->escape($value['city_id']).'"'.$selected.'>'.$this->_view->escape($value['city']).'</option>';
							}
						}
					 ?>																		
                </select><span id="area_id_err"></span>	                   
            </div>            
                
            <div class="col">						
				<p><?php echo $this->_translator->translator('vacationrentals_block_advanced_search_label_types_name','', '', $this->_front_template['theme_folder']); ?></p>
                <select name="vacationrentals_type" id="vacationrentals_type" class="mod-list">
					<option value=""><?php echo $this->_translator->translator('vacationrentals_select_businessType','', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
                    
                        foreach($vacationrentals_type_ID as $key => $value)
                        {											
                            
                            $vacationrentals_type = $businessType_BD->getBusinessTypeInfo($value['vacationrentals_type']);
                            $selected = ($this->postValue['vacationrentals_type'] == $value['vacationrentals_type']) ? ' selected="selected" ' : '';
                    ?>
                        <option value="<?php echo $value['vacationrentals_type']; ?>" <?php echo $selected; ?>><?php echo $this->_view->escape($vacationrentals_type['business_type']); ?></option>
                    <?php
                        }
                    ?>
                </select>
            </div>  
                    
            <div class="col">
				<p><?php echo $this->_translator->translator('vacationrentals_list_page_search_room','', '', $this->_front_template['theme_folder']); ?></p>
                <select name="feature_bedroom" id="feature_bedroom">
                	<option value=""><?php echo $this->_translator->translator('vacationrentals_block_advanced_search_label_bed_rooms','', '', $this->_front_template['theme_folder']); ?></option>
					<?php
    
                            foreach($bedrooms as $key=>$value)
                            {
                                if(!empty($value['feature_bedroom']))
                                {
                                $selected = ($this->postValue['feature_bedroom'] == $value['feature_bedroom']) ? ' selected="selected" ' : '';
                        ?>
                            <option value="<?php echo $value['feature_bedroom']; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value['feature_bedroom']); ?></option>
					<?php
                            }
                        }
                    ?>
               	</select>
            </div>
            
            <div class="btn-container clear">
            	<div class="clr form-button-container">				
            	 	<span class="button ui-widget-content-1"><a href="javascript:void(0);" class="searchButton btn"><?php echo $this->_translator->translator('vacationrental_front_search_btn','','', $this->_front_template['theme_folder']); ?></a></span><br />
            	</div>
            </div>
            
			<div class="clear">
				<a href="Search-Vacationrental-List"><?php echo $this->_translator->translator('vacationrentals_block_simple_search_link_advance_search','', '', $this->_front_template['theme_folder']); ?></a> &nbsp;&nbsp; 
            	<a href="All-Vacation-List/group_id/<?php echo $this->_group; ?>"><?php echo $this->_translator->translator('vacationrentals_block_simple_search_link_view_all', $this->_group_name, '', $this->_front_template['theme_folder']); ?></a>
			</div>
    	</div>
	</div>
</form>
<?php
	}
}
	
	try
	{
		$advanced_search_class = new vacation_rental_search($this);
		$advanced_search_class->class_body();
	}
	catch(Exception $e)
	{
		echo $e->getMessage();
	}	
?>