<?php
class popular_vacationrentals_listview
{
	protected	$_group = 1;
	protected	$_limit = 16;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected	$_d_num  = 4;
	protected 	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->translator = Zend_Registry::get('translator');	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{		
		$group_db =  new Vacationrentals_Model_DbTable_VacationrentalsGroup();
		$group_info = $group_db->getGroupName($this->_group);
		
		$select_latest = $this->_DBconn->select()
						->from(array('vv' => Zend_Registry::get('dbPrefix').'vote_voting'), array('item_id' => 'DISTINCT(vv.table_id)', 'votes' => 'SUM(vv.vote_value)'))
					   	->where('hp.group_id = ?',$this->_group)
					   	->where('vv.table_name = ?','vacationrentals_page')
						->where('hp.active = ?', '1')
					   	->group('vv.table_id')
					   	->order('votes DESC')
					   	->joinLeft(array('hp' => Zend_Registry::get('dbPrefix').'vacationrentals_page'), 'vv.table_id = hp.id')
					   	->limit($this->_limit);
										
		$view_latest_datas =  $select_latest->query()->fetchAll();	
		
		//print_r($view_latest_datas);
		
?>

<div class="block">
	<div class="block-body">
		<h2><?php echo $this->translator->translator('vacationrentals_block_popular_list_title','', '', $this->_front_template['theme_folder']); ?></h2>
        
		<?php	
            if($view_latest_datas)
            {				
        ?>
		<div class="list">
			<ul>
                <?php
						$l =1;
						$box = 1;
						foreach($view_latest_datas as $entry)						
						{
						
							if($this->_view->escape($entry['vacationrentals_primary_image']))
							{ 
								$thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($entry['vacationrentals_primary_image']); 
							}
							else
							{ 
								if($this->_view->escape($entry['vacationrentals_image']))
								{
									$vacationrentals_image_val_arr = explode(',',$entry['vacationrentals_image']);
									$thumb_image = 'data/frontImages/vacationrentals/vacationrentals_image/'.$this->_view->escape($vacationrentals_image_val_arr[0]); 
								}
								else
								{
									$thumb_image = 'application/layouts/scripts/'.$this->_front_template['theme_folder'].'/images/mod_vacation_img/no_image.png'; 
								}		
							}
							if($group_info['file_thumb_width'] && $group_info['file_thumb_resize_func'] != 'resizeToHeight')
							{ 
								$width = 'width="'.$this->_view->escape($group_info['file_thumb_width']).'"'; 
							}
							else
							{
								$width = '';
							} 
							if($group_info['file_thumb_height'] && $group_info['file_thumb_resize_func'] != 'resizeToWidth')
							{ 
								$height = 'height="'.$this->_view->escape($group_info['file_thumb_height']).'"'; 
							} 
							else
							{
								$height = '';
							}
				?>						
						<li><a href="<?php echo $this->_view->url(array('module' => 'Vacationrentals','controller' =>'frontend', 'action' => 'details','vacationrentals_title' => $this->_view->escape($entry['vacationrentals_title']) ),'Vacationrentals-details/:vacationrentals_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->_view->escape($entry['vacationrentals_name']); ?>" width="300"><?php echo $this->truncate($this->_view->escape($entry['vacationrentals_name']), 0, 3); ?></a></li>
																
				<?php
					$total_box = ceil(count($view_latest_datas) / $this->_d_num);
					if($total_box > $box)
					{
						if($l % $this->_d_num == 0)
						{
							
							$devider =  '</ul></div><div class="list"><ul>';
							echo $devider;
							$box++;
						}
					}
						$l++;
					}
				?>
			</ul>	
		</div>
        <?php
			}
		?>
	</div>
</div>

<?php		
	}
}
try
{
	$popular_vacationrentals_listview_class = new popular_vacationrentals_listview($this);
	$popular_vacationrentals_listview_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>