<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
?>

<div class="block block-top-rated">
	<div class="block-heading">
		<div class="symbol"><?php echo $translator->translator('block_toprated_title','','', $front_template['theme_folder']); ?></div>
	</div>
    <div class="block-body">
        <div class="block-content">
        	<a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/cellphone.jpg" border="0" class="thumb"/></a>
            <span class="block-title"><a href="#">Samsung Galaxy S3</a></span>
            Eastridge International (HK) Limited-EIL is a ...
            <span class="price">US $820</span>
            
            <div class="rating">
            	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0" />
            </div>
        </div>
        
        <div class="block-content even">
        	<a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/cellphone.jpg" border="0" class="thumb"/></a>
            <span class="block-title"><a href="#">Samsung Galaxy S3</a></span>
            Eastridge International (HK) Limited-EIL is a ...
            <span class="price">US $820</span>
            
            <div class="rating">
            	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0" />
            </div>
        </div>
        
        <div class="block-content">
        	<a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/cellphone.jpg" border="0" class="thumb"/></a>
            <span class="block-title"><a href="#">Samsung Galaxy S3</a></span>
            Eastridge International (HK) Limited-EIL is a ...
            <span class="price">US $820</span>
            
            <div class="rating">
            	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0" />
            </div>
        </div>
        
        <div class="block-content even">
        	<a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/cellphone.jpg" border="0" class="thumb"/></a>
            <span class="block-title"><a href="#">Samsung Galaxy S3</a></span>
            Eastridge International (HK) Limited-EIL is a ...
            <span class="price">US $820</span>
            
            <div class="rating">
            	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0" />
            </div>
        </div>
        
        <div class="block-content last">
        	<a href="#"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/test/cellphone.jpg" border="0" class="thumb"/></a>
            <span class="block-title"><a href="#">Samsung Galaxy S3</a></span>
            Eastridge International (HK) Limited-EIL is a ...
            <span class="price">US $820</span>
            
            <div class="rating">
            	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-active.png" border="0" />
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-small-inactive.png" border="0" />
            </div>
        </div>
    </div>
</div>