<?php
class home_banner_slideshow
{
	protected	$_group = 5;
	protected	$_category = 87;
	protected	$_active =	1;
	protected	$_front_template;
	protected	$_translator;
	protected	$_view;
	//protected	$postValue;
	//protected 	$_vacationrentals_db;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		//$frontController = Zend_Controller_Front::getInstance();
		//$this->postValue = $frontController->getRequest()->getPost();
		$this->_banner_db = new News_Model_DbTable_Page();
	}
	
	public function class_body()
	{
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/responsiveslides.css');
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/responsiveslides-2.css');
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/responsiveslides.js');
		$search_params['filter']['filters'][0] = array('field' => 'group_id', 'operator' => 'eq', 'value' => $this->_group);
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
		$search_params['filter']['filters'][1] = array('field' => 'category_id', 'operator' => 'eq', 'value' => $this->_category);
			
		$list_info = $this->_banner_db->getListInfo($this->_active, $search_params, false) ;
		
?>
        
<div class="callbacks_container">
	<ul class="rslides" id="slider4">
    	<?php
		if($list_info)
		{
			foreach($list_info as $key => $entry)
			{
				if(!empty($entry['page_thumb']) && file_exists("data/frontImages/news/page_thumb/".$this->_view->escape($entry['page_thumb'])))
				{
		?>
    	<li>
        	<img src="data/frontImages/news/page_thumb/<?php echo $this->_view->escape($entry['page_thumb']); ?>">
      		<p class="caption"><?php echo $this->_view->escape(strip_tags($entry['page_desc'])); ?></p>
    	</li>
        <?php
				}
			}
		}
		?>
  	</ul>
</div>
    
<script>
// You can also use "$(window).load(function() {"
$(function () {
  $("#slider4").responsiveSlides({
	auto: true,
	pager: false,
	nav: true,
	speed: 500,
	namespace: "callbacks",
	/*before: function () {
	  $('.events').append("<li>before event fired.</li>");
	},
	after: function () {
	  $('.events').append("<li>after event fired.</li>");
	}*/
  });

});
</script>

<?php	
	}
}
try
{
	$home_banner_slideshow_class = new home_banner_slideshow($this);
	$home_banner_slideshow_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>