<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
$frontController = Zend_Controller_Front::getInstance();
$params = $frontController->getRequest()->getParams();

$product_db = new B2b_Model_DbTable_Products();
$tableColumns = array(
                'b2b_products' => array( 'product_num' =>  'COUNT(pro.id)', 'user_num' =>  'COUNT(DISTINCT pro.user_id)'),
				'userChecking' => false
				);
$product_info = $product_db->getListInfo('1', null, $tableColumns);
if($product_info)
{
	$product_info = (is_array($product_info)) ? $product_info->toArray() : $product_info;
	if($product_info[0])
	{
		$product_num	=	$this->numbers(number_format($product_info[0]['product_num']));
		$user_num	=	$this->numbers(number_format($product_info[0]['user_num']));
	}
}

?>
<script>
	$(document).ready(function() {
		$("#categories").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($params['category_id'] && $params['categories_input']) ? $params['categories_input'] : ''; ?>",
			value: "<?php echo ($params['category_id'] && $params['categories_input']) ? $params['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"float:left; border:1px solid \\#cccccc;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});		
	});
	function checkData()
	{
		var combobox = $("#categories").data("kendoComboBox");		
		if(combobox)
		{
			$('#category_id').val(combobox.value());				
		}
		return true;
	}
</script>
<div class="block-search">
	<div class="container">
    	<div class="col-md-8">
            <form id="shortSearchform" name="shortSearchform" method="post" action="Search-Results" onsubmit="return checkData();">
                <!--<span class="label"><?php //echo $translator->translator('block_search_title','','', $front_template['theme_folder']); ?></span>-->
                <input name="categories" id="categories" style="vertical-align:moddle;"/><input type="hidden" name="category_id" id="category_id" value="<?php echo ($params['category_id'] && $params['categories_input']) ? $params['category_id'] : ''; ?>" />
                <input name="keywords" type="text" class="keywords" id="keywords" value="<?php echo $params['keywords']; ?>" placeholder="<?php echo $translator->translator('block_search_placeholder','','', $front_template['theme_folder']); ?>"/>
                <input type="submit" name="short_search_btn" id="short_search_btn" value="<?php echo $translator->translator('permisson_b2b_front_search', '', 'B2b'); ?>" />
            </form>
            <span class="adv-search-btn"><a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=>'search'),'Search-Results/*', true); ?>"><span class="glyphicon glyphicon-search"></span> <?php echo $translator->translator('block_search_advanced','','', $front_template['theme_folder']); ?></a></span>
     	</div>
        
        <div class="col-md-4 leads-btn">
        	<a href="Trade-Leads" class="trade"><span class="glyphicon glyphicon-tags"></span> <?php echo $translator->translator('front_trad_leads_btn','', '', $front_template['theme_folder']); ?></a>
           	<a href="Want-To-Buy" class="buying"><span class="glyphicon glyphicon-link"></span> <?php echo $translator->translator('front_post_leads','', '', $front_template['theme_folder']); ?></a>
        </div>
        
        <!--<div class="col-md-12 clearfix">
            <p><?php //echo $translator->translator('block_header_product_count', $product_num, '', $front_template['theme_folder']). ' '. $translator->translator('block_header_user_count', $user_num, '', $front_template['theme_folder']); ?></p>
        </div>-->
    </div>
</div>