<?php
$version = Zend_Registry::get('version'); 

$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/accordion-pkgs.css');
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); 
if($this->pageInfo['meta_key']){ $this->headMeta()->setName('keywords',$this->form_info['meta_key']);}
if($this->pageInfo['meta_desc']){ $this->headMeta()->setName('description',$this->form_info['meta_desc']); }
$this->headTitle()->headTitle($this->form_info['meta_title'],'SET');

$auth = Zend_Auth::getInstance ();
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$symbol = $currency->getSymbol();
$field_db = new Members_Model_DbTable_Fields();
?>

<div class="mod packages">
	<h1><?php echo $this->translator->translator('package_form_name'); ?></h1>
   
    <div class="well">
        <?php if(!empty($this->form_info['front_desc'])){ echo stripslashes($this->form_info['front_desc']); } ?>
    </div>
    
    <section class="ac-container">
    	<?php
			foreach($this->packages_info as $package_list_key => $package_list)
			{
		?>
    	<div>
        	<input id="mpk-<?php echo $package_list_key; ?>" name="ampk-1" type="radio"/>
			<label for="mpk-<?php echo $package_list_key; ?>"><?php echo $this->escape($package_list['package_name']).' <span class="label label-success pull-right">'.$symbol.$this->escape($package_list['package_price']).'</span>'; ?></label>
            <article class="ac-large">
            	<table class="table table-hover table-striped table-bordered">
				  <?php
                      $cnt= 0;
                      foreach($package_list as $key=>$value)
                      {	
                          if($key != 'g_id' && $key != 'form_id' && !empty($value))
                          {					
                              if($key == 'package_name')
                              {
                                  //echo '<h2>'.$value.'</h2><br />';
                              }
                              else if($key == 'package_price')
                              {
                                      $field_info = $field_db->getFieldIdByFieldName($package_list['form_id'],$key) ;
                                      if($field_info[0]['display_frontend'] == '1')
                                      {
                                          echo '<tr><td>'.$field_info[0]['field_label'].'</td><td class="text-center price">'.$symbol.$value.'</td></tr>';
                                      }
                              }                                
                          }
                          $cnt++;
                      }
                  ?>
                  
                  <?php
                      $cnt= 0;
                      foreach($package_list as $key=>$value)
                      {	
                          if($key != 'g_id' && $key != 'form_id' && $key != 'package_price' && ($value != '') && !empty($key))
                          {					
                              
                              $field_info = $field_db->getFieldIdByFieldName($package_list['form_id'],$key) ;
                              if($field_info[0]['display_frontend'] == '1')
                              {
                                  if($field_info[0]['field_type'] == 'file')
                                  {
                                      echo '<tr><td>'.$field_info[0]['field_label'].'</td><td class="text-center"><img src="'.$this->form_info['attach_file_path'].'/'.$value.'" width="80" height="60" class="img-thumbnail img-responsive"/></td></tr>';
                                  }
                                  else
                                  {								
                                      echo '<tr><td>'.$field_info[0]['field_label'].'</td><td class="text-center">'.$value.'</td></tr>';
                                  }					
                              }
                          }
                          $cnt++;
                      }
                  ?>
                  </table>
                  <?php
                  if(!empty($package_list['package_price']) && $package_list['package_price'] != '0.00')
                  {
                      if($global_conf['payment_system'] == 'On')
                      {
                          if ($auth->hasIdentity ())
                          {
                              $gateway_db = new Paymentgateway_Model_DbTable_GatewaySettings();
                              $gateway_infos = $gateway_db->getInfo(1);
                              if($gateway_infos)
                              {
                                  $gateway_info = array();	
                                  foreach($gateway_infos as $key => $arr)
                                  {
                                      $gateway_info[$arr['setting']] = $arr['value'];
                                  }
                              }
                              else
                              {
                                  $gateway_info = null;
                              }
                              //print_r($gateway_info);
                  ?>
                              <div class="well text-center">	   
                              		<a href="Upgrade-Membership-Packages/form_id/9/package_id/<?php echo $package_list['g_id']; ?>"  target="_blank" class="btn btn-global"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo $this->translator->translator('Member_Buy_Now_btn'); ?></a>
                              </div>
                  <?php
                              
                          }
                          else
                          {
                  ?>
                          <div class="well text-center">
                          		<a href="Register" class="btn btn-global"><span class="glyphicon glyphicon-user"></span> <?php echo $this->translator->translator('Member_Register_now_btn'); ?></a>
                          </div>
                  <?php
                          }
                      }
                  }
                  else
                  {
                  ?>
                      <div class="well text-center">
                      		<a href="Register" class="btn btn-global"><span class="glyphicon glyphicon-user"></span> <?php echo $this->translator->translator('Member_Register_now_btn'); ?></a>
                      </div>
                  <?php
                  }
                  ?>
            </article>
        </div>
        <?php
		  	}
		?>
   	</section>
</div>