<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );
function subCategory($view, $parent_id)
{
	$search_params['filter']['filters'][0] = array('field' => 'parent_id', 'operator' => 'eq', 'value' => $parent_id);
	$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
			
	$search_params['filter']['filters'][2] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
	
	$category_info = $view->category_db->getListInfo ('1', $search_params, false);
	
	if($category_info)
	{
		echo '<ul>';
		foreach($category_info as $info)
		{
			$link = $view->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'companylist', 'category' => $view->escape($info['url_portion'])), 'All-b2b-Seo-Company-list/*', true);
			$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$view->escape($info['b2b_images']) : '';
			echo '<li>';
				if($view->category_db->checkSubCategory ($info['id']))
				{
					echo '<span class="k-sprite image"></span><a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.$view->numbers($view->escape($info['company_num'])).')</span>';
					subCategory($view, $info['id']);
				}
				else
				{
					echo '<span class="k-sprite image"></span><a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.$view->numbers($view->escape($info['company_num'])).')</span>';
				}
			echo '</li>';
		}
		echo '</ul>';
	}
}
?>	
<script>
$(document).ready(function() {
	text_truncate();
	$("#treeview").kendoTreeView();
	
	$( "#radio" ).buttonset();	
	
	$("#radio :radio").click(function() {
			var self = this;
			var value = $(self).val();	
			window.location.href=value;		 
		});  	
});
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script> 

<div class="mod">
    <div class="cart-container">
        <div class="list-icon">
            <h1> <?php echo $this->translator->translator('b2b_front_company_list') ; ?></h1>
        </div>
        <span  class="seo-link"><a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontend','action' => $this->getAction),'All-Company-List/*',true); ?>"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('common_user_friendly_link'); ?></a></span>
        <div class="clear">&nbsp;</div> 
        <br />       
        <div id="radio" style="text-align:center;">
          <input type="radio" id="radio1" name="radio" value="Company-Directories" checked="checked" /><label for="radio1"><?php echo $this->translator->translator('b2b_front_company_list'); ?></label>
          <input type="radio" id="radio2" name="radio" value="Product-Directories" /><label for="radio2"><?php echo $this->translator->translator('b2b_fontend_product_ist'); ?></label>
          <input type="radio" id="radio3" name="radio" value="Buying-Leads-Directories" /><label for="radio3"><?php echo $this->translator->translator('b2b_fontend_buying_ist'); ?></label>
          <input type="radio" id="radio4" name="radio" value="Selling-Leads-Directories" /><label for="radio4"><?php echo $this->translator->translator('b2b_fontend_selling_ist'); ?></label>
        </div>
    </div>
    
    <div class="clear">&nbsp;</div>
    <br />
    <div id="example" class="k-content ">
            <div class="demo-section <?php if($locale_direction == 'rtl'){ ?>k-rtl<?php } ?> left-float">
                <ul id="treeview">
                	
                    <li data-expanded="true">
                        <span class="k-sprite rootfolder"></span>
                        <?php echo $this->translator->translator('common_tree_root'); ?>
                        
                        <?php
							if($this->category_info)
                			{
						?>
                        		<ul>
                        <?php								
								foreach($this->category_info as $info)
								{
									$link = $this->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'companylist', 'category' => $this->escape($info['url_portion'])), 'All-b2b-Seo-Company-list/*', true);
									$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
								?>						
									<li data-expanded="true">
                                    	<span class="k-sprite image"></span>
                                    	<a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span>(<?php echo $this->numbers($this->escape($info['company_num'])); ?>)</span>
										<?php subCategory($this, $info['id']); ?> 						  
									</li>							
								<?php									
								}
								?>
                                </ul>
						<?php
							}
						?>                        
                    </li>
                </ul>
            </div>
    
    
    <div class="right-float" style="width:77%;">
            <?php			
                if($this->json_arr && $this->json_arr['status'] == 'ok')
                {
                    if($this->json_arr['data_result'])
                    {
            ?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'directory/companylist-pagination-flickr.phtml'); ?>
                        </div>
            <?php
                        foreach($this->json_arr['data_result'] as $key => $entry)
                        {
                             
                            $featured_class = ($entry['priority'] == 'YES' || $entry['featured'] == '1') ? 'featured' : '';
							$featured_spacer_class  = (!empty($featured_class)) ? 'spacer' : '';
                ?>					 		
                            <div class="list-view <?php echo $featured_class; ?>" >
                            	<?php
									if(!empty($featured_spacer_class))
									{
								?>
                            	  <div class="ribbon-container">
                                    <span id="ribbon"><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></span>
                                  </div>
                                 <?php
									}
								 ?>
                                  <div class="img-wrapper">
                                        <a href="Company-Homepage/<?php echo $entry['seo_title']; ?>" link="<?php echo $entry['profile_image_primary_format']; ?>" title="<?php echo $this->escape($entry['company_name']); ?>"><img src="<?php echo $entry['profile_image_primary_format']; ?>" border="0" class="thumb"  height="100" width="100"/></a>
                                        <div class="photo-count-container">
                                            <div class="photo-count">
                                                <a href="Company-Homepage/<?php echo $entry['seo_title']; ?>" title="<?php echo $this->escape($entry['company_name']); ?>"><?php echo $entry['profile_image_num_format']; ?></a>
                                            </div>
                                        </div>
                                        <?php if($entry['package_name']){ ?> <img src="<?php echo $entry['file_path_b2b_images'].'/'.$entry['package_logo']; ?>" border="0" width="40" class="pkg"/> <?php } ?>
                                        
                                        <?php if($entry['package_name']){ ?><div class="membership"><a href="Company-Homepage/<?php echo $entry['seo_title']; ?>" class="gold"><?php echo $entry['package_name']; ?></a></div><?php } ?>
                                        <div class="separator"></div>
                                        <?php if($entry['package_name'] && $entry['priority_flag']){ ?> <br /><br /><div class="trusted"><?php echo $entry['priority_flag']; ?><br /><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="50"/></div> <?php } ?>
                                    </div>
                                    <div class="details">
                                        <h3><a href="Company-Homepage/<?php echo $entry['seo_title']; ?>"><?php echo $this->escape($entry['company_name']); ?></a></h3>
                            
                                        <?php
                                            if($entry['company_information']){ 
                                        ?>
                            
                                            <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, 'UTF-8') ?></span> : <span class="jTruncate"><?php echo $this->escape($entry['company_information']); ?> </span><br /> 
                            
                                        <?php 
                                            } 
                                            if($entry['company_name']){
                                        ?>
                                            <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, 'UTF-8') ?> </span> :  <?php echo $this->escape($entry['company_name']); ?> <br />
                                        
                                        
                                        <?php 
                                            } 
                                            if($entry['business_type']){
                                        ?>
                                                    
                                              <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, 'UTF-8') ?>  </span>  : <?php echo $this->escape($entry['business_type']); ?> <br />
                                        <?php 
                                            } 
                                            if($entry['trade_type']){
                                                $trade  = '';
                                                
                                                switch ($entry['trade_type']){
                                                    case '1': 
                                                            $trade =  html_entity_decode($this->translator->translator('b2b_keywords_buyers'), ENT_QUOTES, 'UTF-8');
                                                         break;
                                                    case '2': 
                                                            $trade = html_entity_decode($this->translator->translator('b2b_keywords_sellers'), ENT_QUOTES, 'UTF-8');
                                                         break;
                                                    case '3': 
                                                            $trade = html_entity_decode($this->translator->translator('b2b_keywords_both'), ENT_QUOTES, 'UTF-8');
                                                         break;                                                        
                                                }
                                        ?>
                            
                                            <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_trade_type'), ENT_QUOTES, 'UTF-8') ?> </span> :  <?php echo $trade; ?> <br />
                                        
                                        
                                        <?php 
                                            } 
                                            if($entry['establishing_year']){
                                        ?>		
                                            <span><?php  echo html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, 'UTF-8') ?> </span> :  <?php echo $entry['establishing_year']; ?>	
                                        <?php 
                                            }
                                            if($entry['keywords'])
                                            {
                                        ?>
                                            <br /><span><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $entry['keywords']; ?>
                                        <?php
                                            }
                                       ?>
                                            <br /><br />
                                        <?php 					
                                            if ($entry['compliance_name']){
                                                $compliance = explode(",", $entry['compliance_name']);
                                                $compliance_image = explode(",", $entry['compliance_img']);
                                                foreach($compliance as $key => $value)
                                                {
                                                    
                                                    if (trim($compliance_image[key]) != 0) {
                                        ?>	
                                                        <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']?>/images/b2b_img/<?php echo trim($compliance_image[key]); ?>" width='36' height='36' border='0' title='<?php echo trim($value); ?>' > &nbsp;  
                                                                         
                                        <?php 
                                                    }
                                                }
                                            }                                            
                                        ?>	
                                </div>
                                
                                <div class="info <?php echo $featured_spacer_class; ?>">
                                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, 'UTF-8')?> :</span><hr />
                        
                                      <div class="header-right"> 				
                                        <div class="products-vote">
                                          <p><?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?></p>
                                          &nbsp; <span><?php echo $entry['profile_vote_format']; ?></span> <br />
                                        </div>
                                    </div>
                                        
                                        <?php
                                        if($entry['category_isShowProfile'] == 1 || $entry['category_id'] == 0){
                                            if($entry['country_code']){
                                        ?>
                                            <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, 'UTF-8')?> </span> :   
                                            <img src="data/adminImages/flagsImage/<?php echo $entry['country_code']; ?>.gif" border="0" /> &nbsp; <?php echo '('.$this->escape($entry['state']); ?>  <?php echo $this->escape($entry['city']).')'; ?> <br /><br />
                        
                                        <?php
                                            } 
                                            
                                            if(!empty($entry['profile_image'])){
                                        ?>
                                                <hr><br /><span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_company_certification'), ENT_QUOTES, 'UTF-8')?> </span> <br /> <hr />
                                        <?php		
                                                $certificates_arr = explode(",", $entry['profile_image']);
                                                foreach($certificates_arr as $key => $value)
                                                {
                                                    if ((trim($value)) != trim($entry['profile_image_primary'])) {
                                                    
                                        ?>
                                                        <img src="<?php echo $entry['images_path'].'/'.trim($value); ?>"  width='40' height='40' border='0' class="thumb" />
                                        <?php 
                                                    }
                                                }
                                            } 
                                        }                                           
                                        ?>
                        
                                        <hr />
                                        
                                        <?php
                                          if($entry['establishing_year'])
                                          {
                                              $yyyy = date("Y");					
                                              $year_of_est  = $entry['establishing_year'];
                                              $company_age = (int)$yyyy - $year_of_est;
                                              $number_of_years = ( $company_age >= 1 ) ?  $company_age : null;	
                                          }
                                          else
                                          {
                                              $number_of_years =  null;	
                                          }
                                     
                                     if($number_of_years){  echo  html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, 'UTF-8') .' '. $number_of_years  .' '.  html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8");  } ?>
                                        
                                </div>	
                                
                                <hr /> 
                                <span class="review-count"><a href="Company-Homepage/<?php echo $entry['seo_title']; ?>"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_homepage') , ENT_QUOTES, "UTF-8")?></a> </span>
                                &nbsp;  
                                <a href="Company-AboutUs/<?php echo $entry['seo_title']; ?>"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_profile') , ENT_QUOTES, "UTF-8")?></a> | 
                                <a href="Company-Selloffers/<?php echo $entry['seo_title']; ?>/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_sell_offers') , ENT_QUOTES, "UTF-8")?></a> | 
                                <a href="Company-Products/<?php echo $entry['seo_title']; ?>/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_products') , ENT_QUOTES, "UTF-8")?></a> | 
                                <a href="Company-Store/<?php echo $entry['seo_title']; ?>/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_store_page') , ENT_QUOTES, "UTF-8")?></a>
                              </div>
                            <?php
                             
                        }
            ?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'directory/companylist-pagination-flickr.phtml'); ?>
                        </div>
            <?php
                    }
                }
            ?>
        </div>
	</div>
</div>
    
<div id="dialog_msg"></div>