/* ___________________________________________________________________________________
   
   CSS Framework for Hotel Reservation Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

/* ********************************************************************************** */

/* Global Block Style --------------------------------------------------------------- */

.block figure .photo-count-container,
	   figure .photo-count-container{
	left:inherit;
	right:9px;
}

.block figure .type{
	left:inherit;
	right:9px;
}

.block .panel .label{
	unicode-bidi:embed;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags .dropdown dl{ 
	float:left;
}

.dropdown dd ul{ 
	right:-175px; 
}

.dropdown dd ul li{
	border-left:0;
	text-align:left;
}

.dropdown span.flag{
	float:left;
}

.dropdown span.flag span.glyphicon{
	margin-right:10px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .k-slider-track{
	width:180px;
}

/* ---------------------------------------------------------------------------------- */

/* Top Destinations ----------------------------------------------------------------- */

.block-top-destinations #owl-demo{
	direction:ltr;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search img{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar Search ------------------------------------------------------------------- */

.block-sidebar-search img.ui-datepicker-trigger,
.block-search img.ui-datepicker-trigger{
	float:left;
	margin:0;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-right:0;
	padding-right:0;
}

.block-list ul li{
	background-image:url(../../images/list-arrow-rtl.gif);
	background-position: right 10px;
	padding-right:10px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .hotel-icon{
	margin-right: 0;
    margin-left: 4px;
	background-position:right center;
}

.mod .ratings .label,
.mod.details .label{
	unicode-bidi:embed;
}

.products-vote span input[type="button_btn"]{
	margin-right:0 !important;
	margin-left:2px !important;
	float:right;
}

#ribbons {
	right:-78%;
	left:0;
	line-height:3px !important;
}

#ribbons div{
	margin-top:8px;
}

#ribbons::after{
	right: 0;
}

/* ---------------------------------------------------------------------------------- */

/* Expedia -------------------------------------------------------------------------- */

.mod.expedia .callout{
	border-left:0;
	border-right:3px solid;
}

.mod.expedia .promo-offer{
	right:auto;
	left:-12px;
	border-radius:4px 4px 4px 0;
	-webkit-border-radius:4px 4px 4px 0;
	-moz-border-radius:4px 4px 4px 0;
}

.mod.expedia .corner:before {
   	border-right: 10px;
	border-left: 10px solid transparent;
	right:auto; 
	left: -11px;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container ul{
	margin-left:0;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Accordion ------------------------------------------------------------------------ */

.ac-container label,
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background-position: 100% 13px !important;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	background-image:none !important;
}

.ac-container-sidebar > div > label,
.ac-container-sidebar input:checked + label,
.ac-container-sidebar input:checked + label:hover{
	background-image: url(../../images/list-arrow-rtl.gif) !important;
	background-position: 98% center !important;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

