<?php 
$front_template = Zend_Registry::get('front_template');
$translator = Zend_Registry::get('translator');
?>

<div class="member-block block-account-overview">
	<div class="block-heading">
    	<div class="symbol">ACCOUNT OVERVIEW</div>
	</div>
    <div class="block-body">
		<ul>
        	<li><a href="#"><div>Number of Products</div> <span>10</span></a></li>
        	<li><a href="#"><div>Customers Reviews</div> <span>0</span></a></li>
        	<li><a href="#"><div>Articles</div> <span>0</span></a></li>
			<li><a href="#"><div>Photo Gallery</div> <span>20</span></a></li>
        	<li><a href="#"><div>Published News</div> <span>100</span></a></li>
            <li><a href="#"><div>Email Newsletter</div> <span>100</span></a></li>
            <li class="last"><a href="#"><div>Pending Invoice(s)</div> <span>100</span></a></li>
        </ul>
    </div>
</div>