<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 

echo $this->headLink()->appendStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/top-nav.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/top-nav.js');
?>

<nav>
    <ul class="jetmenu blue">
        <!--<li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon"><em></em><em></em><em></em><em></em></span></li>-->
        <li class="active" style="display: block;"><a href="#" title=""><span class="glyphicon glyphicon-home"></span></a></li>
        <li style="display: block;"><a href="#" title="">Panel Menu <span class="indicator glyphicon glyphicon-chevron-down"></span></a>
            <div class="megamenu full-width" style="display: none;">
                <div class="row">
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                    
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                    
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                    
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                    
                    <div class="col1">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                    
                    <div class="col1 left">
                    	<h5 class="title"><span class="glyphicon glyphicon-th-large"></span> Level 2</h5>
                        <ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        
        <li style="display: block;"><a href="#" title="">Dropdown Menu <span class="indicator glyphicon glyphicon-chevron-down"></span></a>
            <ul class="dropdown" style="display: none;">
                <li><a href="#" title="">Level 2</a></li>
                <li><a href="#" title="">Level 2</a></li>
                <li><a href="#" title="">Level 2 <span class="indicator glyphicon glyphicon-chevron-right"></span></a>
                    <ul class="dropdown" style="display: none;">
                        <li><a href="#" title="">Level 3</a></li>
                        <li><a href="#" title="">Level 3</a></li>
                        <li><a href="#" title="">Level 3 <span class="indicator glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="dropdown" style="display: none;">
                                <li><a href="#" title="">Level 4</a></li>
                                <li><a href="#" title="">Level 4</a></li>
                                <li><a href="#" title="">Level 4</a></li>
                                <li><a href="#" title="">Level 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="">Level 3</a></li>
                    </ul>
                </li>
                <li><a href="#" title="">Level 3</a></li>
            </ul>
        </li>
        
        <li style="display: block;"><a href="#" title="">Content Menu <span class="indicator glyphicon glyphicon-chevron-down"></span></a>
            <div class="megamenu half-width" style="display: none;">
                <div class="row">
                    <div class="col2"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/1.jpg" /></div>
                    <div class="col4">
                    	<h5 class="title">Level 2</h5>
                    	<ul>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                            <li><a href="#" title=""><span class="glyphicon glyphicon-chevron-right"></span> Level 3</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col2"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/2.jpg" /></div>
                    <div class="col4 content">
                    	<h5 class="title">Level 2 Title</h5>
                    	Aliquam erat volutpat. Nulla nec justo dui. Aeneanoi atet accumsan egestas tortor at lacinia. Pellentesque netus habitant morbi tristique senectus et netus etor egestasio malesuada fames ac turpis egestas. Utilo pellentesquetii laoreet leo eget pretium.<br>
                       	<a href="#" title="">Read More &raquo;</a>
					</div>
              	</div>
                
                <div class="row">
                	<div class="col2"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/3.jpg" /></div>
                    <div class="col4 content">
                    	<h5 class="title">Level 2 Title</h5>
                    	Aliquam erat volutpat. Nulla nec justo dui. Aeneanoi atet accumsan egestas tortor at lacinia. Pellentesque netus habitant morbi tristique senectus et netus etor egestasio malesuada fames ac turpis egestas. Utilo pellentesquetii laoreet leo eget pretium.<br>
                       	<a href="#" title="">Read More &raquo;</a>
					</div>
                </div>
            </div>
        </li>
        
        <li class="right" style="display: block;"><a href="#" title="">Right Menu</a>
           
        </li>
    </ul>
</nav>