<?php
$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$search_field = ($frontController->getRequest()->getPost('search_field'))? $frontController->getRequest()->getPost('search_field') : $frontController->getRequest()->getParam('search_field');

if($this->last > 1)
{
$translator = Zend_Registry::get('translator');
?>
<div class="text-center">
	<ul class="pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
           	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'search_field' => $search_field,'page' => $this->previous),'Search/:search_field/:page',false); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'search_field' => $search_field,'page' => $page),'Search/:search_field/:page',false); ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $page; ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
           	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'search_field' => $search_field,'page' => $this->next),'Search/:search_field/:page',false); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>
</div>
<?php
}
?>