/* ___________________________________________________________________________________
   
   CSS Framework for Eicra CMS Script [Templates, Blocks & Modules]
   ___________________________________________________________________________________ */
   
html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

/* ********************************************************************************** */

/* Global Block Style --------------------------------------------------------------- */


.block .thumb{
	margin-right:0;
	margin-left:8px;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags .dropdown dl{ 
	float:left;
}

.dropdown dd ul{ 
	right:-195px; 
}

.dropdown dd ul li{
	border-left:0;
	text-align:left;
}

.dropdown span.flag{
	float:left;
}

.dropdown span.flag span.glyphicon{
	margin-right:10px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Clients Review ------------------------------------------------------------------- */

.block-review .desc :after {
    right: 20px;
}

.block-review .cbp-qtrotator .cbp-qtcontent img{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Mini Search Block----------------------------------------------------------------- */

.block-mini-search input[type="text"]{
	background-position: right center;
	padding-right:25px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


