/* ___________________________________________________________________________________
   
   CSS Framework for Eicra CMS Script [Templates, Blocks & Modules]
   ___________________________________________________________________________________ */
   
@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#0660B8;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	border:1px solid #0074CA;
	background-color:#0088DD;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color:#0088DD;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #0062D9;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#0066DD;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#21262E;
	min-height:29px;
	padding:10px 0;
	color:#D6DEE0;
	text-align:center;
}

.user-link{
	border-bottom:1px solid #34393A;
	padding-bottom:8px;
	margin-bottom:5px;
}

.user-link a{
	color:#B4B4B4;
	text-decoration:underline;
}

.user-link a:hover{
	color:#EFEFEF;
	text-decoration:none;
}

.top-links a{
	color:#D6DEE0;
	display:inline-block;
}

.top-links a:hover{
	color:#D6DEE0;
}

/* ---------------------------------------------------------------------------------- */

/* Middle Bar ----------------------------------------------------------------------- */

#middle-bar{
	background-color:#0088DD;
	margin-top:1px;
	margin-bottom:15px;
	padding:20px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
	padding-top:15px;
	padding-bottom:15px;
}

#header .logo img{
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	background:url(../../images/bg.jpg) top center no-repeat;
	padding:20px 0;
}

#banner h1{
	font-size:25px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:-1px;
}

#banner .content{
	color:#FFF;
	font-size:17px;
}

#banner img{
	margin:auto;
}
	
#banner a.btn{
	font-size:17px;
	color:#FFF;
	text-transform:uppercase;
	background-color:#2DCB73;
	padding:10px 35px;
	margin-top:20px;
	text-decoration:none;
	display:inline-block;
	border-bottom:3px solid #239E5A;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#banner a.btn:hover{
	background-color:#2BBB6B;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block h3{
	margin:0;
	text-transform:uppercase;
	font-size:17px;
	color:#394041;
	display:block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:15px;
	color:#0660B8;
	letter-spacing:normal;
}

.block h6 a:hover{
	color:#999;
}

.block .date{
	color:#FFA317;
	font-size:13px;
	font-style:italic;
}

.block .btn{
	border-radius:0;
}

.block .panel{
	border-radius:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
	border-radius:0;
}

.block figure img,
	   figure img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 2px 8px 2px 0;
	float:left;
}

.block .link-btn a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 6px 22px;
	border-radius:27.5px;
	-moz-border-radius:27.5px;
	-webkit-border-radius:27.5px;
	text-decoration:none;
	display:inline;
	margin-bottom:10px;
}

.block .link-btn a:hover{
	background-color:#258DD3;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 8px 22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
	display:inline;
}

.block .more a:hover{
	background-color:#258DD3;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .top-row{
	background-color:#363F4B;
	margin: 10px 0 0 0;
	padding:10px 0;
}

#footer .bottom-row{
	background-color: #21262E;
	padding:10px 0;
	text-align:center;
}

#footer .bottom-row hr{
	border-top:0;
	border-bottom:1px solid #34393A;
}

#footer .block{
	margin-bottom:0;
}

#footer .block h3{
	color: #CCC;
	font-size: 17px;
	text-transform: uppercase;
	padding-bottom:5px;
	margin-bottom:15px;
}

#footer .block .btn{
	background:#2DCB73;
	border-bottom:0;
}

#footer .block .btn:hover{
	background:#2BBB6B;
}

#footer .block h4{
	color: #CCC;
}

#footer .block-body{
	color:#EFEFEF;
	background-color:transparent;
	background:none;
	border-radius:0;
	border:0;
	box-shadow:none;
	padding:0;
	margin-bottom:35px;
}

#footer ul{
	margin-left:25px;
	padding-left:25px;
}

#footer ul li {
	margin:0;
	line-height:22px; 
	list-style:disc;
}

#footer ul li a{
	color:#FFF; 
}

#footer ul li a:hover{
	color:#FF9;
}

#footer .social{
	color:#A8AAAC;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

#footer .links span{
	color:#A8AAAC;
}

#footer .links a{
	color:#A8AAAC;
}

#footer .copyright{
	color: #797979;
	margin-bottom:10px;
}

#footer .copyright a{
	color: #797979;
	text-decoration:underline;
	line-height:20px;
}

#footer .copyright a:hover{
	color: #797979;
}

.go-top a{
	font-size:18px;
	background:#00A7D7;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
}

.block-news h4 a{
	font-size: 17px;
	color: #47B1E4;
	text-transform: none;
	letter-spacing:normal;
}

.block-news .date{
	padding: 2px 4px;
	color: #FFCC00;
	margin: 6px 0;
	display: inline-block;
	font-style: italic;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Gallery ----------------------------------------------------------------- */

.block-featured-gallery .block-body{
	padding:5px 0;
	border:0;
}

.block-featured-gallery figure{
	text-align:center;
	min-height:130px;
	margin-top:0;
}

.block-featured-gallery figure h3{
	display:block;
	font-size:12px !important;
	padding-bottom:0;
	margin-bottom:0;
}

.block-featured-gallery figure h3 a{
	color:#FFF;
	font-size:12px;
	letter-spacing:normal;
}

.block-featured-gallery figure img{
	border:0;
	padding:6px;
	margin-bottom:10px;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Recent Products ------------------------------------------------------------------ */

.block-recent-product{
	height:135px;
	overflow:hidden;
}
	
.block-recent-product img{
	margin:10px;
	padding:8px;
	border:1px solid #EDEDED;
	background-color:#F9F9F9;
}

.block-recent-product .block-title{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Polls ---------------------------------------------------------------------------- */

.block-polls .polls-bg{
	background:#FFFFA6;
}

.block-polls .block-title{
	font-weight:normal;
	font-size:15px;
	color:#FFF;
	background-color:#7CC46A;
	padding:5px;
	margin-bottom:10px;
}

.block-polls .poll-options{
	border:1px solid #CCC;
	overflow:hidden;
	background:#F4F4F4;
	margin: 0 0 10px 0;
	padding: 10px;
}

.block-polls .result-block{
	border:1px solid #0088DD;
	margin: 0 0 10px 0;	
}

.block-polls .result-block h5{
	background-color:#0088DD;
	color:#FFF;
	text-align:center;
	line-height:30px;
	margin:0;	
}

.block-polls .result-block .total{
	background-color:#0088DD;
	color:#FFF;
	line-height:20px;
}

.block-polls .link-btn a{
	background-color:#DD6262;
	border-bottom:3px solid #D33232;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:inline;
}

.block-polls .link-btn a:hover{
	background-color:#DA5252;
}

.block-polls .more{
	text-align:center;
}

.block-polls input[type="checkbox"],
.block-polls input[type="radio"]{
	margin:0;
	display:inline-block;
}

.block-polls ul li{
	line-height:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Clients Review ------------------------------------------------------------------- */

.block-review .block-body{
	min-height:270px;
}

.block-review .block-title{
	margin-top:16px;
	display:inline-block;
}

.block-review .desc{
	padding:15px;
	margin-bottom:1px;
	text-align:justify;
	border-radius:5px;
	background-color:#3498DB;
	position: relative;
	margin-bottom:30px;
}

.block-review a{
	font-style:italic;
	font-size:13px;
	color:#FFF;
	line-height:20px;
}

.block-review a:hover{
	text-decoration:none;
}

.block-review .desc :after {
    border-style: solid dotted;
	border-color: rgba(0, 0, 0, 0) #3498DB rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 25px ;
    bottom: -12px;
    content: " ";
    height: 0;
    left: 20px;
    position: absolute;
    width: 0;
	z-index:-1;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe h1{
	padding: 0 0 10px 0;
	color:#FFF;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	color:#FFF;
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe label{
	color:#FFF;
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
}

.block-subscribe .newsletter_arr{
	color:#FC6;
	font-style:italic;
	line-height:22px;
	display:block;
}

/* ---------------------------------------------------------------------------------- */

/* Breadcrumb ----------------------------------------------------------------------- */

.block-breadcrumb{
	display:inline-block;
	margin: 0 0 0 10px;
}

.block-breadcrumb{
	color:#FFF;
	display:inline-block;
}

.block-breadcrumb a{
	color:#FFF;
	text-decoration:none;
}

.block-breadcrumb a:hover{
	text-decoration:underline;
}

.block-breadcrumb .arrow{
	color:#0CF;
}

/* ---------------------------------------------------------------------------------- */

/* Mini Search Block----------------------------------------------------------------- */

.block-mini-search input[type="text"]{
	border:1px solid #FFF;
	background-image: url(../../images/search-bg.gif);
	background-color:#FFF;
	background-position: 4px center;
	background-repeat:no-repeat;
	padding-left:25px;
	height:35px;
}

.block-mini-search input[type="submit"]{
	background: #2DCB73;
	border:0;
	color:#FFF;
	padding:9px 12px;
	color:#FFF;
	cursor:pointer;
	margin:0;
}

.block-mini-search input[type="submit"]:hover{
	background-color:#28B969;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


