<?php
$this->headMeta()->setName('keywords', $this->translator->translator('autos_spare_part_list_page_title'));
$this->headMeta()->setName('description', $this->translator->translator('autos_spare_part_list_page_title')); 
$this->headTitle()->headTitle($this->translator->translator('autos_spare_part_list_page_title'),'SET'); 

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get('global_conf');

$maximum_stars_digit = $this->translator->translator('maximum_stars_digit');
// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','autos_spare_parts' );

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id');
?>
<script type="text/javascript">
$(document).ready(function() {
	var	settingSearchObj = {
                            grid_id : 'spare-grid',
                            dest_url : "<?php echo $this->url( array('module' => 'Autos', 'controller' => 'frontendspareparts', 'action'  => 'list' ), ($this->posted_data['menu_id']) ? $this->posted_data['menu_id'] : 'Spare-Parts-List/*',    true); ?>",
                            pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : $this->preferences_data['autos_spare_parts_list_on_other_page']; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_autos_spare_parts_btn',
								server_url: "<?php echo $this->url( array('module' =>'Autos','controller' => 'frontendspareparts', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
							dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
														{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    text_truncate();
                                    commonVoting();	
									itemSave(settingSearchObj);
									<?php if($global_conf['payment_system'] == 'On' && $global_conf['marchent_payment_system'] == 'On'){ ?>	
									commonCartButtonFunction(self, 'productlist-cart-info-'); 
									<?php } ?>	
									try
									{
										blokSearchFunction(settingSearchObj);
									}
									catch(e){ }									
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("autos_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("autos_selected_err"); ?>"
                                        }
                        };				
        commonGrid(settingSearchObj);
		//try { kendo.bind($("#grid-spare"), indexModel); } catch(e){};		
});

function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  90,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

</script>
<script type="text/x-kendo-template" id="view_template">
		<div class="products-list">
			<!-- List Header Start -->
			<div class="list-header">
				<div class="header-row">
					<div class="header-left">
						<span class="title-small"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/${spare_parts_title}">#= spare_parts_name_format #</a></span><br />
						<span class="info">
							# if(spare_parts_number){ # #= '<?php echo html_entity_decode($this->translator->translator('autos_spare_parts_part_no_title'), ENT_QUOTES, "UTF-8").' :'; ?>' # #= spare_parts_number_format # #} #
							# if(spare_parts_manufacturer_number){ # #= ', ' # #= '<?php echo html_entity_decode($this->translator->translator('autos_spare_parts_manufacturer_no_title'), ENT_QUOTES, "UTF-8").' :'; ?>' # #= spare_parts_manufacturer_number_format # #} #
						</span>  
					</div>
				
					<div class="header-middle">
						<span class="products-mark"></span>&nbsp;<span class="products-type">#= spare_parts_item_condition #</span>
					</div>
				
					<div class="header-right"> 
						# if(review_id){ #                                         
						<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
						<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/${spare_parts_title}/tab/2">#= review_no_format #</a></span>
						# } #
					</div>
				</div>
			</div>
			<!-- List Header End -->
			
			<!-- List Body Start -->
			  <div class="body-container #= (featured == '1') ? 'products-featured' : '' #">
				   <div class="left-content">
						  <div class="img-wrapper">
							  <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/${spare_parts_title}" class="preview" link="#= spare_parts_image_format #" title="#= spare_parts_name #"><img src="#= spare_parts_image_format #" border="0" #= thumb_width # #= thumb_height # class="thumb" /></a>
							  <div class="photo-count-container">
								  <div class="photo-count">
									  <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/${spare_parts_title}/tab/1" title="#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_click_view_photos'), ENT_QUOTES, "UTF-8"); ?>' #">#= spare_parts_image_no_format #</a>
								  </div>
							  </div>                                            
						  </div>
						  
						  <h2>
							  <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/${spare_parts_title}" class="preview" link="" title="#= spare_parts_name #">#= spare_parts_name_format #</a>
						  </h2>						  
						  
						  
						  <div class="products-desc">
						  		<div class="options-col-1">
									# if(spare_parts_mechine_type){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_mechine_type_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_mechine_type #<br /># } #
									# if(spare_parts_payment_method){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_payment_method_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_payment_method #<br /># } #
									# if(spare_parts_returns_refund){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_returns_refund_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_returns_refund # <br /># } #
									# if(spare_parts_origin){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_origin_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_origin #<br /># } #
								</div>
								
								<div class="options-col-2">																		
									# if(spare_parts_brand_name){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_parts_brand_name_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_brand_name #<br /># } #
									# if(spare_parts_material){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_parts_material_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_material # <br /># } #
									# if(spare_parts_delivery){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_parts_delivery_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_delivery #<br /># } #									
								</div>
								# if(spare_parts_type){ #<p><?php echo html_entity_decode($this->translator->translator('autos_spare_parts_type_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_type #<br /># } #	
								<div class="clear">&nbsp;</div>
								<span class="jTruncate"># if(spare_parts_protection_guarantee){ # <p><?php echo html_entity_decode($this->translator->translator('autos_spare_protection_guarantee_title'), ENT_QUOTES, "UTF-8").' :'; ?></p> #= spare_parts_protection_guarantee # # } #</span><br />
								<span class="jTruncate">#= spare_parts_specifications #</span>
								# if(spare_parts_terms_condition){ #<br /><span class="jTruncate">#= spare_parts_terms_condition #</span># } #		
						  </div>
						  
				   </div>
				   
				   <div class="right-content">
				   	<div class="price-wrap"> <span class="tag-head">&nbsp;</span>
				   		<span class="products-price"># if(price){ # #= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= price_format # # } #</span>						
					</div>	
					# if(spare_parts_base_price && spare_parts_promotion_price){ #
					<div class="price-wrap">
						<span class="tag-head">&nbsp;</span><span class="products-price price-previous">#= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= spare_parts_base_price_format # </span>
					</div>
					# } #
						  
					<span class="products-call">	
						  <?php echo html_entity_decode($this->translator->translator('autos_block_spare_parts_advanced_search_min_qty'), ENT_QUOTES, "UTF-8").' :'; ?> #= spare_parts_order_qty_min_format #		  	
					</span>
						  
					<div class="products-vote">
						<p>#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
						<span>#= vote_format #</span>
					</div>
				   </div>				   				   
		  	</div>
		  	<!-- List Body End -->
			 
		
		<!-- List footer start -->
			<div class="list-footer">
				<div class="footer-left">
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/#= spare_parts_title #/tab/2">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_reviews'), ENT_QUOTES, "UTF-8"); ?>' #</a> | 					 											 
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/#= spare_parts_title #/tab/1">#= '<?php echo html_entity_decode(ucfirst(strtolower($this->translator->translator('autos_front_page_autos_photo'))), ENT_QUOTES, "UTF-8"); ?>' #</a>					
				</div>
			
				<div class="footer-right">
					<span class="products-save-btn"><a  href="javascript:void(0);" class="save_autos_spare_parts_btn" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("autos_spare_front_page_save_autos"), ENT_QUOTES, "UTF-8"); ?></a></span>&nbsp;
					# if(shopping_cart_enable){ #<span class="products-book-btn" id="productlist-cart-info-#= id #"><a href="javascript:void(0)" data-bind="click: addToCart"><span class="icon"></span>#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_add_to_cart'), ENT_QUOTES, "UTF-8"); ?>' #</a></span># } #
					
					<span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontendspareparts', 'action' => 'details','spare_parts_title' => '' ),'Spare-Parts-Details/:spare_parts_title/*', true); ?>/#= spare_parts_title #">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_more'), ENT_QUOTES, "UTF-8"); ?>' #</a></span>
				</div>                                
			</div>
		<!-- List footer end -->
		</div>	
</script>


<div class="mod">
	<div class="cat-container">
        <div class="list-icon">
            <h1><?php echo $this->translator->translator('autos_spare_part_list_page_title'); ?></h1>
        </div>
        <span  class="seo-link"><a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => $this->getController ,'action' => 'classifieds'),'Classified-Auto-Spare-Parts-List/*',true); ?>"><?php echo $this->translator->translator('common_seo_link'); ?></a></span>
        <div class="clear"></div>
                <br  />
        <div class="social">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
    <div class="clear"></div>

    <div id="grid-spare" <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
          <div id="spare-grid" data-bind="source: spare"></div>  
     </div> 	
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('autos_spare_part_list_page_title')); ?>"></div>

	