<?php
$this->headMeta()->setName('keywords',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_keywords'));
$this->headMeta()->setName('description',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_desc'));
$this->headTitle()->headTitle($this->translator->translator('flight_AirlineFlightSchedules_page_meta_title'),'SET');

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$front_template = Zend_Registry::get('front_template');

$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id', 'page');
?>
<script type="text/javascript">
var settingObj = {};
$(document).ready(function() {
	
		 settingObj = {
						grid_id : 'grid',						
						dest_url : "<?php echo $this->url( array('module' => 'Flight', 'controller' => 'frontend', 'action'     => 'airlineflightschedules'), 'AirlineFlightSchedules/*',    true); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						pageable : { buttonCount: 2 },
						dataSource_autoSync: false,	
						common_action: {
								toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                 ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            		
							},					
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},						
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="glyphicon glyphicon-search"></span> <?php echo html_entity_decode($this->translator->translator('flight_front_page_search_btn'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true,
							search_validator: true,
							search_validator_function : function(){
								return 	checkRouteFieldValue();
							}
						},	
						dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															$value = (is_array($value)) ? implode(',', $value) : $value;
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
														{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],										
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;		
								self.element.css("border", "none");
								self.element.height("").find(".k-grid-header").remove();
								self.element.height("").find(".k-grid-content").css("height", "442px");
								self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");															
								self.tbody.find("tr").children('td:nth-child(1)').css({'overflow' : 'visible'});
								showDetails();
								$('div.table_column_box_6_details').hide();
								//commonImageThumbnil();
								//imageThumbnil();							                      
                        },

						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        flight_id: { type: "number" },
                                        airlines_name: { type: "string" },
                                        flight_adult_fair: { type: "number" },
                                        flight_route_departure_date: { type: "string" },
										flight_route_arrival_date: { type: "string", editable: false },
										flight_route_way_type: { editable: false }
                                    }
                                },					
						column_fields: [											
											{ 
												field: "airlines_name", 
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_airline'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_airline'); ?>",
												width: 150,
												template: 	'<div class="table_column_box_1 text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_1_5_6 : \'\' #>#= airline_logo #<span><br><br>#= airlines #</span></div>',
												attributes: { style: 'padding-right:0px'},
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "flight_id", 
												width: 150,		
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_stop'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_stop'); ?>",
												template: '<div class="table_column_box_2 text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_2_3_4 : \'\' #>'+
																'<div class="table_column_box_2_first_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="border-bottom:none;height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ #&nbsp;&nbsp;&nbsp;&nbsp;#= route_arr.route_show # #= flight_journey_type_lang # # } #</div>'+
																'# if(posted_trip_type == "Multi City"){ #'+
																	'# $.each(search_result, function(search_result_key, search_result_arr){ #'+																
																		'# var style = (search_result_key == 0) ? \'style="border-top:none;"\' : \'\' #'+
																		'<div class="table_column_box_2_middle_row text-center" #= style #>'+
																			'#= search_result_arr.flight_route_departure # => #= search_result_arr.flight_route_arrival #'+
																		'</div>'+
																	'# }); #'+
																'# } #'+
																'<div class="table_column_box_2_second_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ #&nbsp;&nbsp;&nbsp;&nbsp;# if(posted_trip_type == "Round"){ # #= route_arr.route_show_round # # } # # } #</div>'+
															'</div>',
												attributes: { style: 'padding-left: 0px;padding-right:0px'},
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "flight_route_departure_date", 
												width: 150,		
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?>",
												template: '<div class="table_column_box_3" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_2_3_4 : \'\' #>'+
															  '<div class="table_column_box_3_first_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="border-bottom:none;height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ # #= filed_departuretime_format # # } #</div>'+
															  '# if(posted_trip_type == "Multi City"){ #'+
															  	 '# $.each(search_result, function(search_result_key, search_result_arr){ #'+																
																	  '# var style = (search_result_key == 0) ? \'style="border-top:none;"\' : \'\' #'+
																	  '<div class="table_column_box_2_middle_row text-center" #= style #>'+
																		  "#= search_result_arr.flight_route_departure_time_format #"+
																	  '</div>'+
																  '# }); #'+
															  '# } #'+
															  '<div class="table_column_box_3_second_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ # # if(posted_trip_type == "Round"){ # #= route_arr.filed_departuretime_round_format # # } # # } #</div>'+
														  '</div>',
												attributes: { style: 'padding-left: 0px;padding-right:0px' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "flight_route_arrival_date", 
												width: 150,		
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?>",
												template: '<div class="table_column_box_4" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_2_3_4 : \'\' #>'+
																'<div class="table_column_box_4_first_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="border-bottom:none;height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ # #= filed_arrivaltime_format # # } #</div>'+
																'# if(posted_trip_type == "Multi City"){ #'+
																	 '# $.each(search_result, function(search_result_key, search_result_arr){ #'+																
																		  '# var style = (search_result_key == 0) ? \'style="border-top:none;"\' : \'\' #'+
																		  '<div class="table_column_box_2_middle_row text-center" #= style #>'+
																			  "#= search_result_arr.flight_route_arrival_time_format #"+
																		  '</div>'+
																	  '# }); #'+
																'# } #'+
																'<div class="table_column_box_4_second_row text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? \'style="height:0;"\' : \'\' #># if(posted_trip_type != "Multi City"){ # # if(posted_trip_type == "Round"){ # #= route_arr.filed_arrivaltime_round_format # # } # # } #</div>'+
															'</div>',
												attributes: { style: 'padding-left: 0px;padding-right:0px' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "flight_adult_fair", 	
												width: 150,	
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_price'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_price'); ?>",
												template: '<div class="table_column_box_5 text-right" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_1_5_6 : \'\' #> #= total_price_value #<br /><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_tax_label"), ENT_QUOTES, 'UTF-8')." ".$this->currency->getShortName(); ?> #= total_tax_format #<br/><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_total_amount_label"), ENT_QUOTES, 'UTF-8')." ".$this->currency->getShortName(); ?> #= grand_total_format #</div>',
												attributes: { style: 'padding-left: 0px;padding-right:0px' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "flight_route_way_type", 
												width: 150,		
												headerTemplate: "<center><?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_book'); ?></center>",
												title:	"<?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_book'); ?>",
												template: '<div class="table_column_box_6 text-center" #= (posted_trip_type == "Multi City" && count_sub_row > 3) ? extra_row_style_1_5_6 : \'\' #>'+
																'#= book_now # &nbsp;<a href="javascript:void(0);" class="show_details btn btn-details" rel="#= id #"><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_details_label"), ENT_QUOTES, 'UTF-8'); ?></a>'+
																'<div class="table_column_box_6_details" id="table_column_box_6_details#= id #">'+
																	'# if(posted_trip_type != "Multi City"){  # '+
																		'<div class="details_main">'+
																			'<div class="alert alert-info">'+
																				"<?php echo html_entity_decode($this->translator->translator("flight_front_page_search_details_going_title"), ENT_QUOTES, 'UTF-8'); ?>"+ ' #= flight_route_one_departure_date.format_date # #= flight_code_no #'+
																			'</div>'+
																			'<div class="details_main_going_body">'+
																				'<figure><div class="thumb">'+
																					'#= airline_only_logo #'+
																				'</div></figure>'+
																				'<h5>'+
																					'#= airlines #'+
																				'</h5>'+
																				'<div class="details_main_going_body_column_3">'+
																					'#= flight_route_one_way_details_show #'+
																				'</div>'+
																				'<div class="details_main_going_body_column_4">'+
																					'<span class="label label-success">#= flight_travel_class #</span>'+
																				'</div>'+
																			'</div>'+
																		'</div><hr>'+
																		
																	  '#	if(posted_trip_type == "Round"){ #'+
																		'<div class="details_main">'+
																			'<div class="alert alert-info">'+
																				"<?php echo html_entity_decode($this->translator->translator("flight_front_page_search_details_come_title"), ENT_QUOTES, 'UTF-8'); ?>"+ ' #= flight_route_round_arrival_date.format_date # #= flight_code_no #'+
																			'</div>'+
																			'<div class="details_main_going_body">'+
																				'<figure><div class="thumb">'+
																					'#= airline_only_logo #'+
																				'</div></figure>'+
																				'<h5>'+
																					'#= airlines #'+
																				'</h5>'+
																				'<div class="details_main_going_body_column_3">'+
																					'#= flight_route_round_way_details_show #'+
																				'</div>'+
																				'<div class="details_main_going_body_column_4">'+
																					'<span class="label label-success">#= flight_travel_class #</span>'+
																				'</div>'+
																			'</div>'+
																		'</div><hr>'+
																	  '# } #'+
																	'# }else{ #'+
																  		'# $.each(search_result, function(search_result_key, search_result_arr){ #'+												  
																			  '<div class="details_main">'+
																				  '<div class="alert alert-info">'+
																						'<b>#= search_result_arr.flight_route_departure # - #= search_result_arr.flight_route_arrival # :</b> '+ ' #= search_result_arr.flight_route_departure_time_format # #= flight_code_no #'+
																					'</div>'+
																					'<div class="details_main_going_body">'+
																						'<figure><div class="thumb">'+
																							'#= airline_only_logo #'+
																						'</div></figure>'+
																						'<h5>'+
																							'#= airlines #'+
																						'</h5>'+
																						'<div class="details_main_going_body_column_3">'+
																							'#= search_result_arr.flight_route_multi_details_show #'+
																						'</div>'+
																						'<div class="details_main_going_body_column_4">'+
																							'<span class="label label-success">#= search_result_arr.flight_travel_class #</span>'+
																						'</div>'+
																					'</div>'+
																			  '</div><hr>'+
																		  '# }); #'+
																  	'# } #'+
																'</div>'+
															'</div>',
												attributes: { style: 'padding-left:0px'},
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
		commonGrid(settingObj);	
	
	
		var route_field = $('#route_field').val();	
		
		for(var i = 0; i <= route_field; i++)
		{	
			checkSameData('flight_route_departure', 'flight_route_arrival', i);
		}
		autoFill('flight_route_departure', 'flight_route_arrival');
		<?php if($this->posted_data['trip_type'] == 'Multi City'){ ?>
			addMoreField(route_field);			
		<?php } ?>
		
		$("input[name='trip_type']").click(function() {
			var val = $(this).val();
			
			switch(val)
			{
				case 'One way':
					$('div.flight_route_arrival_date_box').css('display','none');
					$('a.flight_route_add_more_btn').css('display','none');
					removeBox();
				 break;
				 case 'Round':
					$('div.flight_route_arrival_date_box').css('display','');
					$('a.flight_route_add_more_btn').css('display','none');
					removeBox();
				 break;
				 case 'Multi City':
				 	$('div.flight_route_arrival_date_box').css('display','none');
					$('a.flight_route_add_more_btn').css('display','');
					addMoreField(route_field);
				 break;
			}
		});
		
		/****************************Qtip Details Start*********************/	
	
});

function showDetails()
{
	$('a.show_details').click(function(){	
		
			var msg = $('#table_column_box_6_details'+$(this).attr('rel')).html();
			
			$('#dialog_details').html(msg).dialog({
				autoOpen: true,
				width: 'auto',
				title : "<?php echo html_entity_decode($this->translator->translator('flight_front_page_search_details_dialog_title'), ENT_QUOTES, 'UTF-8'); ?>",
				modal: true,
				show: 'explode',
				resizable: true,				
				buttons: [{ text: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>", click: function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } } ]
				
			});			
		});	
}

function isCheckBoxValue(id,filename)
{
	var val_arr = [];
	var filevalue = false;
	$('input[name="'+filename+id+'[]"]:checkbox:checked').each(function(i){
	 val_arr[i] = $(this).val();
	});
	filevalue = (val_arr[0] != null) ? true : false;
	return filevalue;
}

function removeError()
{		
	var filename = '';
	var filevalue = '';		
	$.each($('form').serializeArray(), function(i, field) {	
			if(field.name.match(/\[\]$/))
			{
				var filearr = field.name.split('[]');
				filename = filearr[0];					
			}
			else
			{
				filename 	= 	field.name;
			} 			
			$('input[name="'+filename+'[]"]').removeClass('ui-state-error');												
	});				
}

function checkRouteFieldValue()
{
	var check = true;
	var attr_id = '';
	var id_no_arr = [];
	removeError();
	for(var i=0; i < $('input.flight_route_departure').length; i++)
	{	
		attr_id  =	$('input.flight_route_departure:eq('+i+')').attr('id');
		id_no_arr = attr_id.split('flight_route_departure');		
		if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '' || ( $('input[name="trip_type"]:checked').val() == 'Round' && jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '' ) )
		{	
			if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure_date:eq('+i+')').addClass('ui-state-error');
			}
			
			if($('input[name="trip_type"]:checked').val() == 'Round' && jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival_date:eq('+i+')').addClass('ui-state-error');
			}
				
			check = false;
		}
	}
	if(check == false)
	{
		msg = '<?php echo $this->translator->translator("flight_front_page_fields_empty"); ?>';
		commonMsgDialog(settingObj, msg);
	}
	return 	check;	
}

function checkSameData(from_id, to_id, id_no)
{
	$('#'+from_id+id_no).blur(function() {		
		if( ($('#'+from_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+from_id+id_no).val('');
			$('#'+from_id+id_no).focus();
		}
	});
	
	$('#'+to_id+id_no).blur(function() {		
		if( ($('#'+to_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+to_id+id_no).val('');
			$('#'+to_id+id_no).focus();
		}
	});	
	
	calendar(from_id+'_date'+id_no, to_id+'_date'+id_no);
	calendar(to_id+'_date'+id_no, from_id+'_date'+id_no);
	autoList(from_id+id_no);
	autoList(to_id+id_no);
	deleteRouteFields();
	autoFill(from_id, to_id);
}

function deleteRouteFields()
{
	$('a.delete_route_fields_btn').click(function() {
		var self = this;
		$(self).parents('div:first').parents('div:first').remove();
	});
}

function autoList(id)
{
	autoSuggestion(id, "<?php echo $this->url( array('module'=> 'Flight', 'controller' => 'frontend', 'action'     => 'iata' ), 'adminrout',    true) ?>", {'datas': ''}, ['iata_code', 'iata_code', 'flight_label', 'flight_value', 'flight_location'], '', 3);
}

function addMoreField(route_field)
{	
	$('a.flight_route_add_more_btn').unbind('click');
	$('a.flight_route_add_more_btn').click(function() {
		route_field++;
		var hr = '';
		var mn = '';
		var field_html = '<div>'+						
						'<div class="clearfix"><a href="javascript:void(0)" class="delete_route_fields_btn btn btn-danger delete pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></div>'+
                        '<div class="callout green">'+
							'<div class="row">'+
                            	'<div class="col-md-9">'+
									'<div class="form-group">'+
										'<label for="flight_route_departure'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_departure_label"); ?></label>'+
										'<input type="text" name="flight_route_departure[]" id="flight_route_departure'+route_field+'" class="flight_route_departure form-control" value="" />'+
									'</div>'+
								'</div>'+
								'<div class="col-md-3">'+
									'<div class="form-group">'+
										'<label for="flight_route_departure_date'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_departure_date_label"); ?></label><br>'+
										'<input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date'+route_field+'" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_departure_date'][0])){ echo $this->post_data['flight_route_departure_date'][0]; } ?>" />'+
									'</div>'+
								'</div>'+
							'</div>'+
                       '</div>'+                       
                       '<div class="callout orange">'+ 
					   		'<div class="row">'+
                            	'<div class="col-md-9">'+
									'<div class="form-group">'+
										'<label for="flight_route_arrival'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_arrival_label"); ?></label>'+
										'<input type="text" name="flight_route_arrival[]" id="flight_route_arrival'+route_field+'" class="flight_route_arrival form-control" value="" />'+
									'</div>'+
								'</div>'+
								'<div class="col-md-3">'+
									'<div class="form-group flight_route_arrival_date_box" <?php if($this->posted_data['trip_type'] != 'Round'){ ?>style="display:none"<?php } ?>>'+
										'<label for="flight_route_arrival_date'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_arrival_date_label"); ?></label><br>'+
										'<input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date'+route_field+'" class="flight_route_arrival_date form-control check-date" value="" />'+
									'</div>'+
								'</div>'
							'</div>'+
                        '</div>'+
                	'</div>';
			$('#route_fields').append(field_html);
			checkSameData('flight_route_departure', 'flight_route_arrival', route_field);
	});
}

function removeBox()
{
	for(var i = ($('div.route_fields').children('div').length -1 ); i >= 0 ; i--)
	{
		if(i != 0)
		{
			$('div.route_fields').children('div').eq(i).remove();
		}
	}
}

function toTimestamp(strDate){
	 var datum = Date.parse(strDate);
	 return datum/1000;
}

function calendar(id, second_id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_flight_img/calendar.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		onSelect: function(dateText, inst) {
			var id_type_arr = id.split('_');			
			var currentTime = new Date()
			var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
			var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;				
			if(id_type_arr[2] == 'departure')
			{				
				if( (dateText != '') && ( (toTimestamp(dateText) >= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_departure_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
			else if(id_type_arr[2] == 'arrival')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) <= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_arrival_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
		},
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}

function autoFill(field1, field2)
{
	$('input.'+field1).unbind('click');
	$('input.'+field1).click(function(){
		var self = this;
		var id = $(self).attr('id');
		var id_no_arr = id.split(field1);
		
		if(id_no_arr[1] != '0')
		{
			for(var i = (id_no_arr[1] - 1); i >= 0; i--)
			{				
				if($('#'+field2+i).length > 0)
				{
					if($('#'+field2+i).val())
					{
						$(self).val($('#'+field2+i).val());
					}
					break;
				}
			}
		}
	});
}

/************************************************IMAGE THUMBNIL************************************************/


</script>



<div class="mod flight">
	<h1><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_name'); ?></h1>

    <div class="well block-search block-flight-search">
   		<form id="searchForm" name="searchForm" method="post" role="form">
        	<div class="form-group">
            	<div class="radio-inline">
                	<label><input type="radio" name="trip_type" id="trip_type" value="One way" <?php if(empty($this->posted_data['trip_type']) || ($this->posted_data['trip_type'] == 'One way')){ ?>checked="checked"<?php } ?>  /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_one'); ?></label>
                </div>
                
            	<div class="radio-inline">
                    <label><input type="radio" name="trip_type" id="trip_type" value="Round" <?php if(!empty($this->posted_data['trip_type']) && ($this->posted_data['trip_type'] == 'Round')){ ?>checked="checked"<?php } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_round'); ?></label>
                </div>
                
                <div class="radio-inline">
                	<label><input type="radio" name="trip_type" id="trip_type" value="Multi City" <?php if(!empty($this->posted_data['trip_type']) && ($this->posted_data['trip_type'] == 'Multi City')){ ?>checked="checked"<?php } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_multy'); ?></label>
                </div>
            </div>
            
            <div id="route_fields" class="route_fields">
				<?php
                if(empty($this->posted_data['flight_route_departure']))
                {
                    $common_key = 0;
                ?>
                	<div>
                        <div class="callout green">
                        	<div class="row">
                            	<div class="col-md-9">
                                	<div class="form-group">
                                        <label for="flight_route_departure0"><?php echo $this->translator->translator('flight_frontend_route_departure_label'); ?></label><br>
                                        <input type="text" name="flight_route_departure[]" id="flight_route_departure0" class="flight_route_departure form-control" value="<?php if(!empty($this->posted_data['flight_route_departure'][0])){ echo $this->posted_data['flight_route_departure'][0]; } ?>" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                	<div class="form-group">
                                        <label for="flight_route_departure_date0"><?php echo $this->translator->translator('flight_frontend_route_departure_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date0" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->posted_data['flight_route_departure_date'][0])){ echo $this->posted_data['flight_route_departure_date'][0]; } ?>" />
                                    </div>
                                </div>
                            </div> 
                        </div>
                        
                        <div class="callout orange">
                        	<div class="row">
                            	<div class="col-md-9">
                                	<div class="form-group">
                                        <label for="flight_route_arrival0"><?php echo $this->translator->translator('flight_frontend_route_arrival_label'); ?></label><br>
                                        <input type="text" name="flight_route_arrival[]" id="flight_route_arrival0" class="flight_route_arrival form-control" value="<?php if(!empty($this->posted_data['flight_route_arrival'][0])){ echo $this->posted_data['flight_route_arrival'][0]; } ?>" />
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                	<div class="form-group flight_route_arrival_date_box" <?php if($this->posted_data['trip_type'] != 'Round'){ ?>style="display:none"<?php } ?>>
                                        <label for="flight_route_arrival_date0"><?php echo $this->translator->translator('flight_frontend_route_arrival_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date0" class="flight_route_arrival_date form-control check-date" value="<?php if(!empty($this->posted_data['flight_route_arrival_date'][0])){ echo $this->posted_data['flight_route_arrival_date'][0]; } ?>" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><a href="javascript: void(0);" class="flight_route_add_more_btn btn btn-sm btn-add" <?php if($this->posted_data['trip_type'] != 'Multi City'){ ?>style="display:none"<?php } ?>><span class="glyphicon glyphicon-plus"></span> <?php echo $this->translator->translator('flight_route_add_more'); ?></a></div>
                     </div>
                <?php
                }
                else
                {
                    foreach($this->posted_data['flight_route_departure'] as $common_key=>$common_value)
                    {
                ?>
                	<div>
                	<div class="callout green">
                        <div class="form-group">
                            <label for="flight_route_departure<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_departure_label'); ?></label>
                            <input type="text" name="flight_route_departure[]" id="flight_route_departure<?php echo $common_key; ?>" class="flight_route_departure form-control" value="<?php if(!empty($this->posted_data['flight_route_departure'][$common_key])){ echo $this->posted_data['flight_route_departure'][$common_key]; } ?>" />
                        </div>
                        
                        <div class="form-group">
                            <label for="flight_route_departure_date<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_departure_date_label'); ?></label><br>
                            <input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date<?php echo $common_key; ?>" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->posted_data['flight_route_departure_date'][$common_key])){ echo $this->posted_data['flight_route_departure_date'][$common_key]; } ?>" />
                        </div>
                 	</div>
                    
                    <div class="callout orange"> 
                        <div class="form-group">
                            <label for="flight_route_arrival<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_arrival_label'); ?></label>
                            <input type="text" name="flight_route_arrival[]" id="flight_route_arrival<?php echo $common_key; ?>" class="flight_route_arrival form-control" value="<?php if(!empty($this->posted_data['flight_route_arrival'][$common_key])){ echo $this->posted_data['flight_route_arrival'][$common_key]; } ?>" />
                        </div>
                        
                        <div class="form-group flight_route_arrival_date_box"  <?php if($this->posted_data['trip_type'] != 'Round'){ ?>style="display:none"<?php } ?>>
                            <label for="flight_route_arrival_date<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_arrival_date_label'); ?></label><br>
                            <input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date<?php echo $common_key; ?>" class="flight_route_arrival_date form-control check-date" value="<?php if(!empty($this->posted_data['flight_route_arrival_date'][$common_key])){ echo $this->posted_data['flight_route_arrival_date'][$common_key]; } ?>" />
                        </div>
                    </div>
                 	
                    <?php if($common_key == '0'){ ?><div class="form-group"><a href="javascript: void(0);" class="flight_route_add_more_btn btn btn-sm btn-add"><span class="glyphicon glyphicon-plus"></span><?php echo $this->translator->translator('flight_route_add_more'); ?></a></div><?php }else{ ?><div class="clearfix"><a href="javascript:void(0)" class="delete_route_fields_btn btn btn-danger delete pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></div><?php } ?>
                   </div> 
                <?php	
                    }
                }
                ?>	
                <input type="hidden" name="route_field" id="route_field" value="<?php echo $common_key; ?>" />				
           	</div>
            
            <div class="row">
            	<div class="col-md-2">
                	<div class="form-group">
                    	<label for="adult_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_adult_no'); ?></label>
                        <select name="adult_no" id="adult_no" class="form-control">
                            <?php for($i = 1; $i <= 12; $i++){ 
                            $selected = (!empty($this->posted_data['adult_no']) && ($this->posted_data['adult_no'] == $i)) ? 'selected="selected"' : '';
                            ?>
                            <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                            <?php } ?>										
                        </select>
                    </div>
                </div>
                
                <div class="col-md-2">
                	<div class="form-group">
                    	<label for="child_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_child_no'); ?></label>
                        <select name="child_no" id="child_no" class="form-control">
                            <?php for($i = 0; $i <= 12; $i++){ 
                            $selected = (!empty($this->posted_data['child_no']) && ($this->posted_data['child_no'] == $i)) ? 'selected="selected"' : '';
                            ?>
                            <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                            <?php } ?>										
                        </select>
                    </div>
                </div>
                
                <div class="col-md-2">
                	<div class="form-group">
                        <label for="infant_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_infant_no'); ?></label>
                        <select name="infant_no" id="infant_no" class="form-control">
                            <?php for($i = 0; $i <= 12; $i++){ 
                            $selected = (!empty($this->posted_data['infant_no']) && ($this->posted_data['infant_no'] == $i)) ? 'selected="selected"' : '';
                            ?>
                            <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                            <?php } ?>										
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6">
                	<div class="form-group">
                        <label for="class_type"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_type'); ?></label>
                        <select name="class_type" id="class_type" class="form-control">
                            <option value="Economy" <?php if(!empty($this->posted_data['class_type']) && ($this->posted_data['class_type'] == 'Economy')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_1'); ?></option>
                            <option value="Premium Economy" <?php if(!empty($this->posted_data['class_type']) && ($this->posted_data['class_type'] == 'Premium Economy')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_4'); ?></option>
                            <option value="Business" <?php if(!empty($this->posted_data['class_type']) && ($this->posted_data['class_type'] == 'Business')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_2'); ?></option>
                            <option value="First" <?php if(!empty($this->posted_data['class_type']) && ($this->posted_data['class_type'] == 'First')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_3'); ?></option>											
                        </select>
                    </div>
                </div>
          	</div>
           	<br>
           	<div class="text-center">
            	<a href="javascript: void(0);" class="search_btn btn"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('flight_front_page_search_btn'); ?></a>
            </div>
        </form>
    </div>
    
    <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        <div class="grid-puller">
            <div id="grid"></div>
        </div>
    </div>
</div>

<div id="dialog_details"></div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('flight_front_page_AirlineFlightSchedules_name')); ?>"></div>