<?php
$this->headMeta()->setName('keywords',$this->escape($this->flight_info['flight_route_name']));
$this->headMeta()->setName('description',$this->escape($this->flight_info['flight_route_desc']));
$this->headTitle()->headTitle($this->escape($this->flight_info['flight_route_name']),'SET');
$vote = new Vote_Controller_Helper_ShowVoteButton('plus_minus','flight_flights' );
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod flight details">
	<h1><?php echo $this->escape($this->flight_info['flight_route_name']); ?></h1>
    <br><br>
	<div class="row">
    	<div class="col-md-4">
        	<img src="data/frontImages/flight/airlines/<?php echo $this->escape($this->flight_info['primary_image']); ?>" width="300" border="0" class="img-thumbnail img-responsive" />
        </div>
        
        <div class="col-md-5">
        	<ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_airlines_list_code'). ' : '; ?> <?php echo $this->escape($this->flight_info['airlines_code']); ?>
                </li>
                <?php
                if($this->hotels_db != null && !empty($this->flight_info['hotels_id']))
                {
                    $hotels_info = $this->hotels_db->getHotelsInfo($this->flight_info['hotels_id']);
                ?>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-cutlery"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_front_page_details_include_hotel'); ?></span> <?php echo $this->escape($hotels_info['hotels_name']); ?></span>
                </li>
                <?php
                }
                ?>
                
                <?php
                if($this->tours_db != null && !empty($this->flight_info['tours_id']))
                {
                    $tours_info = $this->tours_db->getToursInfo($this->flight_info['tours_id']);
                ?>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-plane"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_front_page_details_include_tour'); ?> <?php echo $this->escape($tours_info['tours_name']); ?>
                </li>
                <?php
                }
                ?>
                
                <?php
                if($this->vacationrentals_db != null && !empty($this->flight_info['vacationrentals_id']))
                {
                    $vacationrentals_info = $this->vacationrentals_db->getVacationrentalsInfo($this->flight_info['vacationrentals_id']);
                ?>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_front_page_details_include_vacationrental'); ?> <?php echo $this->escape($vacationrentals_info['vacationrentals_name']); ?>
                </li>
                <?php
                }
                ?>
                
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-bookmark"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_front_page_details_class'); ?> <span class="label label-success"><?php echo $this->escape($this->flight_info['flight_travel_class']); ?></span>
                </li>
                
                <?php
                if(!empty($this->flight_info['flight_route_desc']))
                {
                ?>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                    <?php echo $this->translator->translator('flight_front_page_details_description'); ?> <?php echo $this->escape($this->flight_info['flight_route_desc']); ?>
                </li>
                <?php
                }
                ?>
            </ul>
        </div>
        
        <div class="col-md-3 text-center">
        	<span class="label label-primary">
				<?php echo strtoupper($this->translator->translator('partial_poll_vote_title')); ?>
            </span>
            <br><br>
            <?php  $vote->showButton($this->flight_info['id'] , $this->escape($this->flight_info['flight_route_name'])); ?>
        </div>
    </div>
	<br><br>
    
    <!-- Home Tab Start -->
    <div id="usual" class="usual">
        <ul>
            <li><a class="selected" href="#tab1"> &nbsp; <span class="glyphicon glyphicon-arrow-up"></span> <?php echo $this->translator->translator('flight_front_page_details_one_way'); ?>&nbsp; </a></li>
            <?php
				if($this->flight_info['flight_journey_type'] == 'Round')
				{
			?>
            <li><a class="" href="#tab2"> &nbsp; <span class="glyphicon glyphicon-arrow-up"></span><span class="glyphicon glyphicon-arrow-down"></span> <?php echo $this->translator->translator('flight_front_page_details_round'); ?> &nbsp; </a></li>
            <?php
				}
			?>
        </ul>
    </div>
    <div class="usual-content">
        <!-- One Way Trip Start -->
        <div style="display: block;" id="tab1">
            <table class="table table-striped table-bordered table-hover">
                <?php
                     if(!empty($this->flight_info['flight_route_terminal']))
                     {
                ?>
                <tr>
                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_terminal'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_route_terminal']); ?></td>
                </tr>
                <?php
                    }
                ?> 
                <tr>
                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_adult_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_adult_fair']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_child_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_child_fair']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_infant_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_infant_fair']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_tax'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_tax']).'%'; ?></td>
                </tr>
            </table>
    
            <?php
                $route_helper = new Flight_View_Helper_Route();
                $route_info = $route_helper->getRoute($this->flight_info['id']);		
                foreach($route_info as $route_key => $routes)
                {
                    if($routes['route_way_type'] != 'Round')
                    {
            ?>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?></h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_city']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_airport']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_iata']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                    <td><?php echo str_replace(',',', ',$this->escape($routes['departure_date'])); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_time']); ?></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-import"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?></h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_city']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_airport']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_iata']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td>j<?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                    <td><?php echo str_replace(',',', ',$this->escape($routes['arrival_date'])); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_time']); ?></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <?php
                    }
                }
            ?>
        </div>
        <!-- One Way Trip End -->
        
        <?php
			if($this->flight_info['flight_journey_type'] == 'Round')
			{
		?>
        <!-- Round Trip Start -->
        <div style="display: none;" id="tab2">
            <table class="table table-striped table-bordered table-hover">
                <?php
                if(!empty($this->flight_info['flight_route_terminal']))
                    {
                ?>
                <tr>
                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_terminal'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_route_terminal_round']); ?></td>
                </tr>
                <?php
                    }
                ?> 
                <tr>
                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_adult_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_adult_fair_round']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_child_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_child_fair_round']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_infant_fair'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_infant_fair_round']).$this->currency->getSymbol(); ?></td>
                </tr>
                
                <tr>
                    <td><?php echo $this->translator->translator('flight_front_page_details_tax'); ?></td>
                    <td><?php echo $this->escape($this->flight_info['flight_tax_round']).'%'; ?></td>
                </tr>
            </table>
            <?php				
                foreach($route_info as $route_key => $routes)
                {
                    if($routes['route_way_type'] == 'Round')
                    {
            ?>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?></h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_city']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_airport']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_iata']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                    <td><?php echo str_replace(',',', ',$this->escape($routes['departure_date'])); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                    <td><?php echo $this->escape($routes['departure_time']); ?></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?></h4>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_city']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_airport']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_iata']); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                    <td><?php echo str_replace(',',', ',$this->escape($routes['arrival_date'])); ?></td>
                                </tr>
                                
                                <tr>
                                    <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                    <td><?php echo $this->escape($routes['arrival_time']); ?></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <?php
                    }
                }
            ?>
        </div>
        <!-- Round Trip End -->
        <?php
			}
		?>
    </div>
    <script type="text/javascript">
        $("#usual ul").idTabs();
    </script>
    <!-- Home Tab End -->
</div>