<?php
$this->headMeta()->setName('keywords',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_keywords'));
$this->headMeta()->setName('description',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_desc'));
$this->headTitle()->headTitle($this->translator->translator('flight_AirlineFlightSchedules_page_meta_title'),'SET');
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/accordion.css');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$auth = Zend_Auth::getInstance ();
Eicra_Global_Variable::getSession()->returnLink = ($auth->hasIdentity ()) ? '' : $this->url(array('module'=> 'Flight','controller'=>'route', 'action'=>'add'),'adminrout',true);
$url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Flight','controller'=>'route', 'action'=>'add'),'adminrout',true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';

$route_db = new Flight_View_Helper_Route();

function flight_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}

?>

<script type="text/javascript">
var settingObj = {};
$(document).ready(function() {
	
		settingObj = {				
						common_action: {
								toolbar_button_loader		:	'<span class="icon loader"></span>',
                                 ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            		
							},					
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},						
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('flight_front_page_search_btn'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true,
							search_validator: true,
							search_validator_function : function(){
								//return 	checkRouteFieldValue();
							}
						},						
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
		
	
		var route_field = $('#route_field').val();	
		
		for(var i = 0; i <= route_field; i++)
		{	
			checkSameData('flight_route_departure', 'flight_route_arrival', i);
		}
		autoFill('flight_route_departure', 'flight_route_arrival');
		<?php if($this->post_data['trip_type'] == 'Multi City'){ ?>
			addMoreField(route_field);			
		<?php } ?>
		
		$("input[name='trip_type']").click(function() {
			var val = $(this).val();
			
			switch(val)
			{
				case 'One way':					
					$('div.flight_route_arrival_date_box').css('display','none');
					$('a.flight_route_add_more_btn').css('display','none');
					removeBox();
				 break;
				 case 'Round':				 	
					$('div.flight_route_arrival_date_box').css('display', '');
					$('a.flight_route_add_more_btn').css('display','none');
					removeBox();
				 break;
				 case 'Multi City':
				 	$('div.flight_route_arrival_date_box').css('display','none');
					$('a.flight_route_add_more_btn').css('display', '');
					addMoreField(route_field);
				 break;
			}
		});		
	
});

function isCheckBoxValue(id,filename)
{
	var val_arr = [];
	var filevalue = false;
	$('input[name="'+filename+id+'[]"]:checkbox:checked').each(function(i){
	 val_arr[i] = $(this).val();
	});
	filevalue = (val_arr[0] != null) ? true : false;
	return filevalue;
}

function removeError()
{		
	var filename = '';
	var filevalue = '';		
	$.each($('form').serializeArray(), function(i, field) {	
			if(field.name.match(/\[\]$/))
			{
				var filearr = field.name.split('[]');
				filename = filearr[0];					
			}
			else
			{
				filename 	= 	field.name;
			} 			
			$('input[name="'+filename+'[]"]').removeClass('ui-state-error');												
	});				
}

function checkRouteFieldValue()
{
	var check = true;
	var attr_id = '';
	var id_no_arr = [];
	removeError();
	for(var i=0; i < $('input.flight_route_departure').length; i++)
	{	
		attr_id  =	$('input.flight_route_departure:eq('+i+')').attr('id');
		id_no_arr = attr_id.split('flight_route_departure');		
		if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '' || ( $('input[name="trip_type"]:checked').val() == 'Round' && jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '' ) )
		{	
			if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure_date:eq('+i+')').addClass('ui-state-error');
			}
			
			if($('input[name="trip_type"]:checked').val() == 'Round' && jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival_date:eq('+i+')').addClass('ui-state-error');
			}
				
			check = false;
		}
	}
	if(check == false)
	{
		msg = '<?php echo $this->translator->translator("flight_front_page_fields_empty"); ?>';
		commonMsgDialog(settingObj, msg);
	}
	return 	check;	
}

function checkSameData(from_id, to_id, id_no)
{
	$('#'+from_id+id_no).blur(function() {		
		if( ($('#'+from_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+from_id+id_no).val('');
			$('#'+from_id+id_no).focus();
		}
	});
	
	$('#'+to_id+id_no).blur(function() {		
		if( ($('#'+to_id+id_no).val() != '') && ($('#'+from_id+id_no).val() == $('#'+to_id+id_no).val()) )
		{
			var msg = "<?php echo $this->translator->translator('flight_route_same_err'); ?>";
			commonMsgDialog(settingObj, msg);
			$('#'+to_id+id_no).val('');
			$('#'+to_id+id_no).focus();
		}
	});	
	
	calendar(from_id+'_date'+id_no, to_id+'_date'+id_no);
	calendar(to_id+'_date'+id_no, from_id+'_date'+id_no);
	
	autoList(from_id+id_no);
	autoList(to_id+id_no);
	deleteRouteFields();
	autoFill(from_id, to_id);
}

function deleteRouteFields()
{
	$('a.delete_route_fields_btn').click(function() {
		var self = this;		
		$(self).parents('div:first').parents('div:first').remove();
	});
}

function autoList(id)
{
	autoSuggestion(id, "<?php echo $this->url( array('module'=> 'Flight', 'controller' => 'frontend', 'action'     => 'iata' ), 'adminrout',    true) ?>", {'datas': ''}, ['iata_code', 'iata_code', 'flight_label', 'flight_value', 'flight_location'], '', 3);
}

function addMoreField(route_field)
{	
	$('a.flight_route_add_more_btn').unbind('click');
	$('a.flight_route_add_more_btn').click(function() {
		route_field++;
		var hr = '';
		var mn = '';
		var field_html = '<div>'+	
						'<div class="clearfix"><a href="javascript:void(0)" class="delete_route_fields_btn btn btn-danger delete pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></div>'+					
                        '<div class="callout green">'+
                            '<div class="form-group">'+
                                '<label for="flight_route_departure'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_departure_label"); ?></label>'+
                                '<input type="text" name="flight_route_departure[]" id="flight_route_departure'+route_field+'" class="flight_route_departure form-control" value="" />'+
                            '</div>'+                            
                            '<div class="form-group clearfix">'+
                                '<label for="flight_route_departure_date'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_departure_date_label"); ?></label><br>'+
                                '<input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date'+route_field+'" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_departure_date'][0])){ echo $this->post_data['flight_route_departure_date'][0]; } ?>" />'+
                            '</div>'+
                       '</div>'+                       
                       '<div class="callout orange">'+     
                            '<div class="form-group">'+
                                '<label for="flight_route_arrival'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_arrival_label"); ?></label>'+
                                '<input type="text" name="flight_route_arrival[]" id="flight_route_arrival'+route_field+'" class="flight_route_arrival form-control" value="" />'+
                            '</div>'+                            
                            '<div class="form-group clearfix flight_route_arrival_date_box" <?php if($this->posted_data['trip_type'] != 'Round'){ ?>style="display:none"<?php } ?>>'+
                                '<label for="flight_route_arrival_date'+route_field+'"><?php echo $this->translator->translator("flight_frontend_route_arrival_date_label"); ?></label><br>'+
                                '<input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date'+route_field+'" class="flight_route_arrival_date form-control check-date" value="" />'+
                            '</div>'+
                        '</div>'+
                	'</div>';
			$('#route_fields').append(field_html);
			checkSameData('flight_route_departure', 'flight_route_arrival', route_field);
	});
}

function removeBox()
{
	for(var i = ($('div.route_fields').children('div').length -1 ); i >= 0 ; i--)
	{
		if(i != 0)
		{
			$('div.route_fields').children('div').eq(i).remove();
		}
	}
}

function toTimestamp(strDate){
	 var datum = Date.parse(strDate);
	 return datum/1000;
}

function calendar(id, second_id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/calendar.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		onSelect: function(dateText, inst) {
			var id_type_arr = id.split('_');			
			var currentTime = new Date()
			var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
			var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;				
			if(id_type_arr[2] == 'departure')
			{				
				if( (dateText != '') && ( (toTimestamp(dateText) >= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_departure_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
			else if(id_type_arr[2] == 'arrival')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) <= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_arrival_date_err'); ?>";
					commonMsgDialog(settingObj, msg);
					$('#'+id).val('');
				}
			}
		},
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}

function autoFill(field1, field2)
{
	$('input.'+field1).unbind('click');
	$('input.'+field1).click(function(){
		var self = this;
		var id = $(self).attr('id');
		var id_no_arr = id.split(field1);
		
		if(id_no_arr[1] != '0')
		{
			for(var i = (id_no_arr[1] - 1); i >= 0; i--)
			{				
				if($('#'+field2+i).length > 0)
				{
					if($('#'+field2+i).val())
					{
						$(self).val($('#'+field2+i).val());
					}
					break;
				}
			}
		}
	});
}

/************************************************IMAGE THUMBNIL************************************************/
function imageThumbnil()
{	
	$("span.thumb").hover(function() {
		$(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
		$(this).find('img').addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
			.animate({
				marginTop: '-110px', /* The next 4 lines will vertically align this image */ 
				marginLeft: '-40px',
				top: '50%',
				left: '50%',
				width: '174px', /* Set new width */
				height: '174px', /* Set new height */
				padding: '20px'
			}, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
	
		} , function() {
		$(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
		$(this).find('img').removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
			.animate({
				marginTop: '0', /* Set alignment back to default */
				marginLeft: '0',
				top: '0',
				left: '0',
				width: '70px', /* Set width back to default */
				height: '60px', /* Set height back to default */
				padding: '2px'
			}, 400);
	});
}
</script>

<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 4000,
		stopOnHover: true,
		autoHeight: false,
        items : 3,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>

<style type="text/css">
#owl-demo .item{
	margin: 3px;
}

#owl-demo .item a > img{
	display: block;
	/*width: 95%;*/
	height:80px;
	/*margin-bottom:15px;*/
}


</style>

<div class="mod flight">
	<h1><?php echo $this->translator->translator('flight_front_page_home_search_label','', '', $front_template['theme_folder']); ?></h1>
    <div class="row">
    	<div class="col-md-4">
            <!-- Flight Search Start -->
            <div class="well block-search block-flight-search">
                <form action="<?php echo $this->url( array('module' => 'Flight', 'controller' => 'frontend', 'action'     => 'airlineflightschedules' , 'block_search' => 'search'), 'AirlineFlightSchedules/*',    true); ?>" method="post" onsubmit="return checkRouteFieldValue();" role="form">
                    <div class="form-group">
                        <div class="radio-inline">
                            <label><input type="radio" name="trip_type" id="trip_type" value="One way" <?php if(empty($this->post_data['trip_type']) || ($this->post_data['trip_type'] == 'One way')){ ?>checked="checked"<?php } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_one'); ?></label>
                        </div>
                        
                        <div class="radio-inline">
                            <label><input type="radio" name="trip_type" id="trip_type" value="Round" <?php if(!empty($this->post_data['trip_type']) && ($this->post_data['trip_type'] == 'Round')){ ?>checked="checked"<?php } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_round');?></label>
                        </div>
                        
                        <div class="radio-inline">
                            <label><input type="radio" name="trip_type" id="trip_type" value="Multi City" <?php if(!empty($this->post_data['trip_type']) && ($this->post_data['trip_type'] == 'Multi City')){ ?>checked="checked"<?php } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_multy'); ?></label>
                        </div>
                    </div>
                    
                    <div id="route_fields" class="route_fields">
                        <?php
                        
                        if(empty($this->post_data['flight_route_departure']))
                        {
                            $common_key = 0;
                        ?>
                            <div>
                               <div class="callout green">
                                    <div class="form-group">
                                        <label for="flight_route_departure0"><?php echo $this->translator->translator('flight_frontend_route_departure_label'); ?></label>
                                        <input type="text" name="flight_route_departure[]" id="flight_route_departure0" class="flight_route_departure form-control" value="<?php if(!empty($this->post_data['flight_route_departure'][0])){ echo $this->post_data['flight_route_departure'][0]; } ?>" />
                                    </div>
                                    
                                    <div class="form-group clearfix">
                                        <label for="flight_route_departure_date0"><?php echo $this->translator->translator('flight_frontend_route_departure_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date0" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_departure_date'][0])){ echo $this->post_data['flight_route_departure_date'][0]; } ?>" />
                                    </div>
                               </div>
                               
                               <div class="callout orange">     
                                    <div class="form-group">
                                        <label for="flight_route_arrival0"><?php echo $this->translator->translator('flight_frontend_route_arrival_label'); ?></label>
                                        <input type="text" name="flight_route_arrival[]" id="flight_route_arrival0" class="flight_route_arrival form-control" value="<?php if(!empty($this->post_data['flight_route_arrival'][0])){ echo $this->post_data['flight_route_arrival'][0]; } ?>" />
                                    </div>
                                    
                                    <div class="form-group clearfix flight_route_arrival_date_box" <?php if($this->posted_data['trip_type'] != 'Round'){ ?>style="display:none"<?php } ?>>
                                        <label for="flight_route_arrival_date0"><?php echo $this->translator->translator('flight_frontend_route_arrival_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date0" class="flight_route_arrival_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_arrival_date'][0])){ echo $this->post_data['flight_route_arrival_date'][0]; } ?>" />
                                    </div>
                                </div>
                                <div class="form-group"><a href="javascript: void(0);" class="flight_route_add_more_btn btn btn-sm btn-add" <?php if($this->posted_data['trip_type'] != 'Multi City'){ ?>style="display:none"<?php } ?>><span class="glyphicon glyphicon-plus"></span> <?php echo $this->translator->translator('flight_route_add_more'); ?></a></div>
                            </div>
                        <?php
                        }
                        else
                        {
                            foreach($this->post_data['flight_route_departure'] as $common_key=>$common_value)
                            {
                        ?>
                            <div>
                                <div class="callout green">
                                    <div class="form-group">
                                        <label for="flight_route_departure<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_departure_label'); ?></label>
                                        <input name="flight_route_departure[]" id="flight_route_departure<?php echo $common_key; ?>" class="flight_route_departure form-control" value="<?php if(!empty($this->post_data['flight_route_departure'][$common_key])){ echo $this->post_data['flight_route_departure'][$common_key]; } ?>" />	
                                    </div>
                                    
                                    <div class="form-group clearfix">	  					  	
                                        <label for="flight_route_departure_date<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_departure_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_departure_date[]" id="flight_route_departure_date<?php echo $common_key; ?>" class="flight_route_departure_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_departure_date'][$common_key])){ echo $this->post_data['flight_route_departure_date'][$common_key]; } ?>" />					 
                                    </div>
                                </div>
                                
                                <div class="callout orange">      
                                    <div class="form-group">
                                        <label for="flight_route_arrival<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_arrival_label'); ?></label>
                                        <input name="flight_route_arrival[]" id="flight_route_arrival<?php echo $common_key; ?>" class="flight_route_arrival form-control" value="<?php if(!empty($this->post_data['flight_route_arrival'][$common_key])){ echo $this->post_data['flight_route_arrival'][$common_key]; } ?>" />
                                    </div>
                                    
                                    <div class="form-group clearfix">
                                        <label for="flight_route_arrival_date<?php echo $common_key; ?>"><?php echo $this->translator->translator('flight_frontend_route_arrival_date_label'); ?></label><br>
                                        <input type="text" name="flight_route_arrival_date[]" id="flight_route_arrival_date<?php echo $common_key; ?>" class="flight_route_arrival_date form-control check-date" value="<?php if(!empty($this->post_data['flight_route_arrival_date'][$common_key])){ echo $this->post_data['flight_route_arrival_date'][$common_key]; } ?>" />
                                    </div>
                                </div>  
                                <?php if($common_key == '0'){ ?><div class="form-group"><a href="javascript: void(0);" class="flight_route_add_more_btn btn btn-sm btn-add"><span class="glyphicon glyphicon-plus"></span><?php echo $this->translator->translator('flight_route_add_more'); ?></a></div><?php }else{ ?><div class="clearfix"><a href="javascript:void(0)" class="delete_route_fields_btn btn btn-danger delete pull-right" role="button"><span class="glyphicon glyphicon-remove"></span></a></div><?php } ?>
                            </div>
                        <?php	
                            }
                        }
                        ?>	
                        <input type="hidden" name="route_field" id="route_field" value="<?php echo $common_key; ?>"/>				
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="adult_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_adult_no'); ?></label>
                                <select name="adult_no" id="adult_no" class="form-control">
                                    <?php for($i = 1; $i <= 12; $i++){ 
                                    $selected = (!empty($this->post_data['adult_no']) && ($this->post_data['adult_no'] == $i)) ? 'selected="selected"' : '';
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                                    <?php } ?>										
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="child_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_child_no'); ?></label>
                                <select name="child_no" id="child_no" class="form-control">
                                    <?php for($i = 0; $i <= 12; $i++){ 
                                    $selected = (!empty($this->post_data['child_no']) && ($this->post_data['child_no'] == $i)) ? 'selected="selected"' : '';
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                                    <?php } ?>										
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="infant_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_infant_no'); ?></label>
                                <select name="infant_no" id="infant_no" class="form-control">
                                    <?php for($i = 0; $i <= 12; $i++){ 
                                    $selected = (!empty($this->post_data['infant_no']) && ($this->post_data['infant_no'] == $i)) ? 'selected="selected"' : '';
                                    ?>
                                    <option value="<?php echo $i; ?>" <?php echo $selected; ?>><?php echo $i; ?></option>
                                    <?php } ?>										
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="class_type"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_type'); ?></label>
                        <select name="class_type" id="class_type" class="form-control">
                            <option value="Economy" <?php if(!empty($this->post_data['class_type']) && ($this->post_data['class_type'] == 'Economy')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_1'); ?></option>
                            <option value="Premium Economy" <?php if(!empty($this->post_data['class_type']) && ($this->post_data['class_type'] == 'Premium Economy')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_4'); ?></option>
                            <option value="Business" <?php if(!empty($this->post_data['class_type']) && ($this->post_data['class_type'] == 'Business')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_2'); ?></option>
                            <option value="First" <?php if(!empty($this->post_data['class_type']) && ($this->post_data['class_type'] == 'First')){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_3'); ?></option>											
                        </select>
                    </div>
                    
                    <input type="submit" name="submit" value="<?php echo $this->translator->translator('flight_front_page_search_btn','', '', $front_template['theme_folder']); ?>" class="btn btn-block" />
                </form>
            </div>
            <!-- Flight Search End -->
            
            <?php $this->ad(57); ?>
            
            <!-- Partner ADD Start-->
            <div class="block block-count">
            	<div class="panel panel-default">
                	<div class="panel-heading">
                    	<h3><?php echo $this->translator->translator('flight_front_page_home_add_btn_label','', '', $front_template['theme_folder']); ?></h3>
                    </div>
                    
                    <div class="panel-body text-center">
                        <h1><?php echo $this->translator->translator('flight_front_page_home_add_btn_head','', '', $front_template['theme_folder']); ?></h1>
                        <?php echo $this->translator->translator('flight_front_page_home_add_btn_desc','', '', $front_template['theme_folder']); ?>
                        <hr>
                        <a href="<?php echo $url; ?>" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> <?php echo $this->translator->translator('flight_front_page_home_add_btn_link'); ?></a>
                    </div>
                </div>                         
            </div>
            <!--Partner ADD End-->
            
            <?php echo $this->partial('blocks/sidebar_social.phtml'); ?>
            <?php echo $this->partial('blocks/news_content_latest.phtml'); ?>
    	</div>
        
        <div class="col-md-8">
        	<?php $this->ad(185); ?>
            
        	<!-- Featured Flight Start -->
            <div class="block block-featured">
            	<h3><?php echo $this->translator->translator('flight_front_page_home_featured_flight_title','', '', $front_template['theme_folder']); ?></h3>
                <div id="owl-demo" class="block-featured">
                    <?php
                    if($this->featured_datas)
                    {
                        foreach($this->featured_datas as $entry)
                        {
                            $primary_image_path = $this->escape($entry['image_path']).$this->escape($entry['primary_image']);
                            $other_image_arr = explode(',', $this->escape($entry['other_images']));
                            $flight_image_no = ($other_image_arr[0]) ? count($other_image_arr) : '0';
                            $total_price = ($entry['flight_journey_type'] != 'Round') ? ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) + ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) * ($entry['flight_tax'] / 100 ) ) ) 
                                                                                      : ( ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) + ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) * ($entry['flight_tax'] / 100 ) ) )            +                 ( ($entry['flight_adult_fair_round'] + $entry['flight_child_fair_round'] + $entry['flight_infant_fair_round']) + ( ($entry['flight_adult_fair_round'] + $entry['flight_child_fair_round'] + $entry['flight_infant_fair_round']) * ($entry['flight_tax_round'] / 100 ) ) ) );
                            $route_info = $route_db->getRoute($entry['id']);
                            $routes = $route_db->getAbsoluteRoute($route_info, array('trip_type' => $entry['flight_journey_type']));
                    ?>
                    
                    <div class="item">
                        <figure class="text-center">
                            <h6><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']); ?>"><?php echo $this->escape($entry['flight_route_name']); ?></a></h6>
                            <div class="text-center">
                                <div class="thumb">
                                    <a class="preview" link="<?php echo $primary_image_path;  ?>" title="<?php echo $this->escape($entry['flight_route_name']); ?>" href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" width="250"><img src="<?php echo $primary_image_path;  ?>" height="60" border="0" class="img-responsive"/></a>
                                    <div class="photo-count-container">
                                        <div class="photo-count"><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('flight_front_page_home_photo_no',$flight_image_no); ?></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="details text-center">
                                <div class="price"> <?php echo $this->translator->translator('flight_front_page_home_price_label'); ?> <?php echo $currency->getSymbol().$total_price ;?></div>
                                <span class="label label-success"><?php echo $this->translator->translator('flight_front_page_home_trip_type',$entry['flight_journey_type']); ?></span><hr>
                                <span class="glyphicon glyphicon-plane"></span> <?php echo $this->translator->translator('flight_front_page_home_localion_label'); ?> <a class="preview" link="" title="<?php echo $routes['route_show']; ?>"><?php echo flight_truncate($routes['route_show'], 0, 5); ?></a>
                            </div>
                        </figure>
                    </div>
                    <?php
                        }
                    }
                    ?>           
                </div>	
            </div>
            <!-- Featured Flight End -->
            
            <!-- Home Tab Start -->
            <div id="usual" class="usual">
                <ul>
                    <li><a class="selected" href="#tab1"><?php echo $this->translator->translator('flight_front_page_home_tab1_label','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a class="" href="#tab2"><?php echo $this->translator->translator('flight_front_page_home_tab2_label','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a class="" href="#tab3"><?php echo $this->translator->translator('flight_front_page_home_tab3_label','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a class="" href="#tab4"><?php echo $this->translator->translator('flight_front_page_home_tab4_label','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
            </div>
            <div class="usual-content">
                <!-- Tab 1 Start -->
                <div style="display: block;" id="tab1">
                	<table class="table table-striped table-bordered table-hover">
                    	<tr class="text-center">
                        	<td><?php echo $this->translator->translator('flight_front_page_home_tab_title1'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title2'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title3'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title4'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title5'); ?></td>
                        </tr>
                    
						<?php
                          if($this->top_destination)
                          {
                            foreach($this->top_destination as $top_destination_key => $entry)
                            {
                                if($entry['id'])
                                {
                                    $route_info = $route_db->getRoute($entry['id']);	
                                    $only_flight_price = ($entry['flight_journey_type'] != 'Round') ?  ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) 
                                                                                      : ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair'])           +                 ($entry['flight_adult_fair_round'] + $entry['flight_child_fair_round'] + $entry['flight_infant_fair_round']) );
                                    $total_price = ($entry['flight_journey_type'] != 'Round') ? ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) + ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) * ($entry['flight_tax'] / 100 ) ) ) 
                                                                                      : ( ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) + ( ($entry['flight_adult_fair'] + $entry['flight_child_fair'] + $entry['flight_infant_fair']) * ($entry['flight_tax'] / 100 ) ) )            +                 ( ($entry['flight_adult_fair_round'] + $entry['flight_child_fair_round'] + $entry['flight_infant_fair_round']) + ( ($entry['flight_adult_fair_round'] + $entry['flight_child_fair_round'] + $entry['flight_infant_fair_round']) * ($entry['flight_tax_round'] / 100 ) ) ) );
                                    
                                    $hotel_text = (empty($entry['hotels_id'])) ? '' : ' + '.$this->translator->translator('flight_front_page_home_tab_hotel');
                                    $tour_text = (empty($entry['tours_id'])) ? '' : ' + '.$this->translator->translator('flight_front_page_home_tab_tour');
                                    $vacation_text = (empty($entry['vacationrentals_id'])) ? '' : ' + '.$this->translator->translator('flight_front_page_home_tab_vacationrental');
                                    $include_with_flight = (!empty($entry['hotels_id']) || !empty($entry['tours_id']) || !empty($entry['vacationrentals_id'])) ? $this->translator->translator('flight_front_page_home_tab_flight').$hotel_text.$tour_text.$vacation_text  : $this->translator->translator('flight_front_page_home_tab_title4');
                                    
                                    foreach($route_info as $route_info_arr)
                                    {
                                        if($route_info_arr['journey_type'] == '0' && $route_info_arr['route_way_type'] != 'Round')
                                        {
                                            $start_route_info = $route_info_arr;
                                        }
                                        if($route_info_arr['journey_type'] == '1' && $route_info_arr['route_way_type'] != 'Round')
                                        {
                                            $end_route_info = $route_info_arr;
                                        }
                                    }
                                    $end_route_info = (empty($$end_route_info)) ? $start_route_info : $end_route_info;							
                                    $departure_date_arr = explode(',', $start_route_info['departure_date']);
                                    $arrival_date_arr = explode(',', $end_route_info['arrival_date']);
                                    $next_start_date = $route_db->getJustNextDate(date("Y-m-d"), $departure_date_arr[0]);
                                    $next_end_date =   $route_db->getJustNextDate($next_start_date, $arrival_date_arr[0]);
                                    $this->top_destination[$top_destination_key]['next_start_date'] = strtotime($next_start_date);
                                    $this->top_destination[$top_destination_key]['next_end_date'] = strtotime($next_end_date);
                                    $this->top_destination[$top_destination_key]['departure_iata'] = $start_route_info['departure_iata'];
                                    $this->top_destination[$top_destination_key]['arrival_city'] = $end_route_info['arrival_city'];
                                    $this->top_destination[$top_destination_key]['only_flight_price'] = $only_flight_price;
                                    $this->top_destination[$top_destination_key]['total_price'] = $total_price;
                                    $this->top_destination[$top_destination_key]['include_with_flight'] = $include_with_flight;
                                    if($start_route_info['departure_iata'])
                                    {
                        ?>
                        <tr class="text-center">
                            <td><?php echo $this->escape($start_route_info['departure_iata']); ?></td>
                            <td><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']); ?>"><?php echo $this->escape($end_route_info['arrival_city']); ?></a></td>
                            <td><?php echo strftime("%d %b",strtotime($next_start_date)); ?> - <?php echo strftime("%d %b",strtotime($next_end_date)); ?></td>
                            <td><span class="price actual"><?php echo $currency->getSymbol().$only_flight_price; ?></span></td>
                            <td><span class="price"><?php echo $currency->getSymbol().$total_price; ?></span><br><span class="label label-success"><?php echo $include_with_flight; ?></span></td>
                        </tr>
                        <?php
                                    }
                              }
                            }
                          }
                        ?>    
                    </table>
                </div>
                <!-- Tab 1 End -->
                
                <!-- Tab 2 Start -->
                <div style="display: none;" id="tab2">
                	<table class="table table-striped table-bordered table-hover">
                    	<tr class="text-center">
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title1'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title2'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title3'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title4'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title5'); ?></td>
                        </tr>
                        <?php
                              if($this->top_destination)
                              {
                                $last_minute_deal = $route_db->sortByOneKey($this->top_destination, 'next_start_date', true); 					  		
                                foreach($last_minute_deal as $entry)
                                {
                                    if($entry['departure_iata'])
                                    {
                        ?>
                    
                        <tr class="text-center">
                        	<td><?php echo $this->escape($entry['departure_iata']); ?></td>
                            <td><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']); ?>"><?php echo $this->escape($entry['arrival_city']); ?></a></td>
                            <td><?php echo strftime("%d %b", $entry['next_start_date']); ?> - <?php echo strftime("%d %b", $entry['next_end_date']); ?></td>
                            <td><span class="price actual"><?php echo $currency->getSymbol().$entry['only_flight_price']; ?></span></td>
                            <td><span class="price"><?php echo $currency->getSymbol().$entry['total_price']; ?></span><br><span class="label label-success"><?php echo $entry['include_with_flight']; ?></span></td>
                        </tr>
                        <?php
                                    }
                                }
                              }
                        ?>
                    </table>
                </div>
                <!-- Tab 2 End -->
                
                <!-- Tab 3 Start -->
                <div style="display: none;" id="tab3">
                	<table class="table table-striped table-bordered table-hover">
                    	<tr class="text-center">
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title1'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title2'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title3'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title4'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title5'); ?></td>
                        </tr>
                        <?php
                          if($this->top_destination)
                          {
                            $last_minute_deal = $route_db->sortByOneKey($this->top_destination, 'next_start_date', true); 					  		
                            foreach($last_minute_deal as $entry)
                            {
                                if($entry['airlines_name'])
                                {
                        ?>
                        <tr class="text-center">
                        	<td><?php echo $this->escape($entry['airlines_name']); ?></td>
                            <td><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']); ?>"><?php echo $this->escape($entry['arrival_city']); ?></a></td>
                            <td><?php echo strftime("%d %b", $entry['next_start_date']); ?> - <?php echo strftime("%d %b", $entry['next_end_date']); ?></td>
                            <td><span class="price actual"><?php echo $currency->getSymbol().$entry['only_flight_price']; ?></span></td>
                            <td><span class="price"><?php echo $currency->getSymbol().$entry['total_price']; ?></span><br><span class="label label-success"><?php echo $entry['include_with_flight']; ?></span></td>
                        </tr>
                        <?php
                                }
                            }
                          }
                        ?>
                    </table>
                </div>
                <!-- Tab 3 End -->
                
                <!-- Tab 4 Start -->
                <div style="display: none;" id="tab4">
                	<table class="table table-striped table-bordered table-hover">
                        <tr class="text-center">
                        	<td><?php echo $this->translator->translator('flight_front_page_home_tab_title1'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title2'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title3'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title4'); ?></td>
                            <td><?php echo $this->translator->translator('flight_front_page_home_tab_title5'); ?></td>
                        </tr>
                        <?php
                          if($this->top_destination)
                          {
                            $last_minute_deal = $route_db->sortByOneKey($this->top_destination, 'next_start_date', true); 					  		
                            foreach($last_minute_deal as $entry)
                            {
                                if($entry['departure_iata'])
                                {
                        ?>
                        <tr class="text-center">
                            <td><?php echo $this->escape($entry['departure_iata']); ?></td>
                            <td><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']); ?>"><?php echo $this->escape($entry['arrival_city']); ?></a></td>
                            <td><?php echo strftime("%d %b", $entry['next_start_date']); ?> - <?php echo strftime("%d %b", $entry['next_end_date']); ?></td>
                            <td><span class="price actual"><?php echo $currency->getSymbol().$entry['only_flight_price']; ?></span></td>
                            <td><span class="price"><?php echo $currency->getSymbol().$entry['total_price']; ?></span><br><span class="label label-success"><?php echo $entry['include_with_flight']; ?></span></td>
                        </tr>
                        <?php
                                }
                            }
                          }
                        ?>
                    </table>
                </div>
                <!-- Tab 4 End -->
            </div>
            <script type="text/javascript">
                $("#usual ul").idTabs();
            </script>
            <!-- Home Tab End -->
            
            <div class="block block-list">
            	<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><?php echo $this->translator->translator('flight_front_page_home_cheap_flight_title','', '', $front_template['theme_folder']); ?></h3>
                    </div>
                    
                    <div class="panel-body">
                    	<?php
						if($this->cheap_destination)
						{
						?>
							<ul>
								<?php						
								foreach($this->cheap_destination as $cheap_destination_key => $entry)
								{
								?>
									<div class="col-md-4"><li><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']).' - '.$currency->getSymbol().$this->escape($entry['total_price']); ?>"><?php echo flight_truncate($this->escape($entry['flight_route_name']), 0, 5); ?></a></li></div>
								<?php
									/*
									if(($cheap_destination_key + 1) % 5 == 0)
									{
										echo '</ul><ul>';
									}
									*/							
								}
								?>
							</ul>	
						<?php
						}
						?>
                    </div>
             	</div>            
        	</div>
        
        	<div class="block block-list">
            	<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><?php echo $this->translator->translator('flight_front_page_home_world_wide_flight_title','', '', $front_template['theme_folder']); ?></h3>
                    </div>
                    
                    <div class="panel-body">
                    	<?php
						if($this->world_destination)
						{
						?>
						
                            <ul>
                                <?php						
                                foreach($this->world_destination as $world_destination_key => $entry)
                                {
                                ?>
                                	<div class="col-md-4"><li><a href="<?php echo $this->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['flight_route_name']).' - '.$currency->getSymbol().$this->escape($entry['total_price']); ?>"><?php echo flight_truncate($this->escape($entry['flight_route_name']),0 ,5); ?></a></li></div>
                                <?php
                                    if(($world_destination_key + 1) % 5 == 0)
                                    {
                                        echo '</ul><ul>';
                                    }							
                                }
                                ?>
                            </ul>	
						
						<?php
						}
						?>
                    </div>
             	</div>          
        	</div>
        </div>
    </div> 
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('flight_front_page_AirlineFlightSchedules_name')); ?>"></div>