/* ___________________________________________________________________________________
   
   CSS Framework for Azuwa B2B Script [Global Modules]
   ___________________________________________________________________________________ */

@charset "utf-8";

/* Global CMS Module Style ---------------------------------------------------------- */

.mod h1{
	font-size:17px;
	font-weight:bold;
	line-height:26px;
	margin-bottom:15px;
	text-transform:uppercase;
}

.mod h4 a{
	font-size:16px;
}

.mod .date{
	color: #FF6600;
	font-size: 14px;
	font-style: italic;
}

.mod .desc{
	color: #555555;
}

.mod #slickbox ul li{
	padding: 5px 0;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading h4{
	margin-bottom:0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-body .details{
	line-height:20px;
}

.mod .panel .panel-body .details h1{
	font-size:22px;
}

.mod .panel .panel-body .details h2{
	font-size:20px;
}

.mod .panel .panel-body .details h3{
	font-size:18px;
}

.mod .panel .label{
	unicode-bidi:embed;
}

.mod .panel.gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.mod .panel-body table tr td.title{
	width:35%;
}

.mod .k-treeview{
	white-space:normal;
}

.mod form .k-input{
	height:30px !important;
}

.mod form .k-dropdown,
.mod form .k-combobox{
	width:100%;
}

.mod .img-thumbnail{
	border-radius:0;
	padding:8px;
}

.mod.feedback .thumb,
.mod.news .thumb,
.mod.search .thumb,
.mod.review .thumb{
	border-radius:0;
	padding:5px;
	margin:0 10px 0 0;
	float:left;
}

.mod.contact dt{
	color: #FF7B24;
}

.mod.contact dd{
	margin-bottom:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery Thumb -------------------------------------------------------------------- */

.upload-img{
	float:left;
	text-align:center;
	padding:5px;
	margin:5px 15px 15px 0;
}

.upload-img.box{	
	border:1px solid #DDDDDD;
}

.upload-img.box:hover{
	background-color:#FCF8E3;
}

.upload-img span.glyphicon{
	font-size:17px;
	color:#999;
}

/* ---------------------------------------------------------------------------------- */

/* Search --------------------------------------------------------------------------- */

.mod.search .btn{
	height:34px;
}

/* ---------------------------------------------------------------------------------- */

/* Site Map ------------------------------------------------------------------------- */

.mod.sitemap ul.parent-item{
	margin:0;
	padding:0;
}

.mod.sitemap ul.parent-item li{
	background-image:url(../../images/mod_img/arrow-small.png);
	background-position:0 9px;
	background-repeat:no-repeat;
	list-style:none;
	padding:4px 0 4px 15px;
	line-height:22px;
	border-bottom:1px dotted #CCCCCC;
}

.mod.sitemap ul.parent-item li:last-child{
	border-bottom:0;
}

.mod.sitemap ul.parent-item li a{
	font-size:15px;
	text-decoration:none;
	display:block;
}

.mod.sitemap ul.parent-item li a:hover{
	text-decoration:none;
	color:#999;
}

.mod.sitemap ul.parent-item ul li a{
	color: #F29200;
}

.mod.sitemap ul.parent-item ul li ul li a{
	color: #666;
}

/* ---------------------------------------------------------------------------------- */

/* Membership Packages -------------------------------------------------------------- */

.mod.packages .label{
	margin:6px 5px 0 0;
}

.mod.packages .price{
	color: #0099FF;
    font-size: 20px;
	font-weight:bold;
	padding:0;
}

.mod.packages .ac-container label:hover{
	background-color: #D9EDF7;
}

.mod.packages .ac-container input:checked + label,
.mod.packages .ac-container input:checked + label:hover{
	background-color: #0896FF;
}

.mod.packages .btn.btn-upgrade{
	background-color:#F4AB00;
	border-bottom-color:#FE7602;
}

.mod.packages .btn.btn-upgrade:hover{
	background-color:#FB9700;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.mod .login-box{
	padding:10px;
	box-shadow: 0 0 5px #CCC;
	border:1px solid #D4D4D4;
}

.mod .login-box h5{
	font-size:17px;
	margin-bottom:20px;
}

.mod .login-box .input-group{
	margin-bottom:10px
}

.mod .login-box .input-group .input-group-addon{
	border-radius:0;
}

.mod .login-box .input-group input[type="text"],
.mod .login-box .input-group input[type="password"]{
	font-size:16px !important;
	height:45px;
}

.mod .login-box .captcha img{
	float:left;
	margin-right:5px;
}

.mod .login-box input[type="button"].btn{
	font-size:15px;
	padding:15px;
}

.mod .login-box #logout_box input[type="button"].btn{
	background-color:#2DCB73;
	color:#FFF;
	padding: 15px 25px;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery Module ------------------------------------------------------------------- */

.mod.gallery .gallery-container{
	border:1px solid #DDDDDD;
	padding: 15px;
	margin:0 auto 15px auto;
}

.mod.gallery .gallery-container .image-box{
	background-color:#F3F3F5;
    padding: 5px;
	margin-bottom:15px;
	min-height:210px;
}

.mod.gallery .gallery-container .image-box:hover{
	background-color:#EEEEF0;
}

.mod.gallery .gallery-container .image-box .gallery-thumb{
	vertical-align:middle;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}

.mod.gallery .gallery-container .image-box.more{
	min-height:80px;
	margin-bottom:0;
}

.mod.gallery .gallery-container .image-box .gallery-thumb .more a{
	background: url(../../images/mod_img/right-arrow.png) no-repeat;
	width:64px;
	height:64px;
	display:block;
	margin:auto;
}

.mod.gallery .gallery-container .image-box .gallery-thumb .thumb-img{
	border:1px solid #DDDDDD;
	background:#FFF;
	padding:8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.mod.gallery .gallery-container .image-box .icon{
	width:40%;
	text-align:center;
	overflow:hidden;
	margin: 10px auto;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg{
	background: url(../../images/mod_img/preview-bg.gif) repeat-x;
	border:1px solid #BBBBBB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg span.big-view a{
	background: url(../../images/mod_img/preview.png) no-repeat;
	width:34px;
	height:31px;
	display:inline-block;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg span.img-details a{
	background: url(../../images/mod_img/img-details.png) no-repeat;
	width:34px;
	height:31px;
	display:inline-block;
}

.mod.gallery .gallery-container .info-container{
	width:70%;
	margin: 0 auto 15px auto;
	line-height:25px;
}

.mod.gallery .gallery-container .img-label{
	width:42%;
	color:#595959;
	float:left;
	clear:left;
	text-align:right;
}

.mod.gallery .gallery-container .img-value{
	width:54%;
	color:#595959;
	margin: 0 0 0 6px;
	float:left;
}

.mod.gallery .gallery-container .product-label{
	color:#595959;
}

.mod.gallery .gallery-container .product-label span{
	color:#595959;
	font-weight:bold;
}

.mod.gallery .gallery-container.gallery-details{
	padding:20px 10px;
}

.mod.gallery .gallery-container .product-details{
	color:#515151;
	margin:auto;
	padding:20px;
	background:#FFF;
	border:1px solid #E1E1E1;
	box-shadow: 1px 1px 3px #CDCDCD inset;
}

.mod.gallery .gallery-container.related{
	border:2px solid #DDDDDD;
	background:#F5F5F5;
	padding:15px;
}

.mod.gallery .related .image-box{
	border:1px solid #CCC;
	background:#FFF;
	min-height:100%;
}

.mod.gallery .related .image-box.active{
	background:#E9E9E9;
}

/* ---------------------------------------------------------------------------------- */

/* News Module ---------------------------------------------------------------------- */

.mod.news fieldset legend a:hover{
	color:#FFF;
}

.mod.news .calendar{
	background:url(../../images/mod_img/calendar.png);
	width:85px;
	height:76px;
	margin: 0 0 0 15px;
	float:right;
	position:relative;
}

.mod.news .calendar .month{
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	margin: 12px 0 0 0;
}

.mod.news .calendar h1{
	margin: 3px 0 0 24px;
}

.mod.news .calendar .year{
	font-size:11px;
	font-weight:bold;
	color:#0066CC;
	position:absolute;
	bottom:7px;
	left:44px;
}

.mod.news .news_border {
	background-color:#FFF;
	height:260px;
	overflow:auto;
	border: 1px solid #CCC;
	padding:5px;
}

.mod.news .buttondiv{
	position: absolute;
	padding: 5px;
	background-color:#FFF;
	border: 1px solid #CCC;
	border-top:none;
	top:326px !important;
}

.mod.news .news-title-scroll{
	color:#006666;
	padding: 5px 0px 5px 5px;
	margin:35px 0 20px 0;
	background-color: #F2FECD;
	border: 1px solid #AEE800;
}

.mod.news .archive .rows{
	border-bottom:1px solid #ddd;
}

.mod.news .archive span.year,
.mod.news .archive span.month{
	font-size:17px;
}

.mod.news .archive  .year_name,
.mod.news .archive .month_name{
	width:30px;
	padding:4px;
	color:#FFF;
	text-align:center;
	margin: 10px 10px  10px 0;
	cursor:pointer;
	border:1px solid #0088DD;
	background-color:#0088DD;
	display:inline-block;
}

.mod.news .archive .month_list{
	margin-left:20px;	
}

.mod.news .archive .month_list .cat_list ul li a{
	text-decoration: none;
	color: #0066FF;
	border-bottom:1px dotted #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
	display:block;
}

.mod.news .archive .month_list .cat_list ul li a:hover{
	color:#666;
	text-decoration:underline;
}

.mod.news .archive .month_list .cat_list ul li:last-child a{
	border-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Featured News Scroll ------------------------------------------------------------- */

.news_style{
	display:none;
}

.news_show{
	background-color: white;
	color:black;
	/*height:180px;*/
	font: normal 100% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	overflow: auto;	
}

.news_mark{
	background-color:white ;
	font: normal 70% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	border: 0px solid gray;
	width:90%;
	height:35px;
	color:black;
	text-align:center;
}

.news_title{
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#1E1E1E;
	border: 0px solid gray;
	padding: 5px 0px 9px 5px;
	color:black;
}

.news_show img{
	margin-left: 5px;
	margin-right: 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Polls ---------------------------------------------------------------------------- */

.mod.polls h4{
	font-size:17px;
	color:#F60;
	border:1px solid #FAEAC9;
	background-color:#FCF8E0;
	padding: 10px;
}

.mod.polls .result-block{
	border:1px solid #0088DD;
	margin: 0 0 10px 0;	
}

.mod.polls .result-block h5{
	background-color:#0088DD;
	color:#FFF;
	text-align:center;
	line-height:30px;
	margin:0;	
}

.mod.polls .result-block .total{
	background-color:#0088DD;
	color:#FFF;
	line-height:20px;
}

.mod.polls .checkbox label,
.mod.polls .radio label{
	display:inline-block;
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery & News Category Toggle Panel Start --------------------------------------- */

.cat-panel{
	background-color:#F7F7F9;
	border:1px solid #DDDDDD;
	margin-bottom:20px;
}

.cat-panel a img{
	float:left;
	margin:8px 10px 0 8px;
}

.cat-panel .toggle{
	display:block;
	padding:10px;
}

.cat-panel .toggle:hover{
	background-color:#F2DEDE;
}

.cat-panel a.toggle-link{
	font-size:17px;
	color:#CC0000;
	text-decoration:none;
}

.cat-panel a.toggle-link:hover,
.cat-panel a.toggle-link:active{
	text-decoration:none;
}

.cat-panel .well{
	width:95%;
	margin:15px auto;
	background-color:#FFF;
}

.cat-list ul{
	margin:0 0 0 0;
	padding:0;
}

.cat-list ul li{
	background-image:url(../../images/mod_img/category-list.png);
	background-repeat:no-repeat;
	background-position:5px 7px;
	list-style:none;
	margin:0;
	padding:4px 0 4px 24px;
	line-height:21px;
}

.cat-list ul li a{
	color:#0087E1;
	text-decoration:none;
	display:block;
}

.cat-list ul li a:hover{
	color:#666;
	text-decoration: underline;
}

.cat-list ul li a .count{
	color:#C00
}

/* ---------------------------------------------------------------------------------- */

/* Article -------------------------------------------------------------------------- */

.mod.article article{
	color: #555555;
	word-spacing: 1px;
	line-height:22px;
	text-align:justify;
}

.mod.article article h1{
	font-size: 20px;
	color: #6C6C6C;
	letter-spacing: normal;
}

.mod.article article h2{
	font-size:17px;
	color:#F90;
	line-height:24px;
}

/* ---------------------------------------------------------------------------------- */

/* Article Frontend Editor ---------------------------------------------------------- */

.CodeMirror,
.article-textarea{
	width: 850px;
	height:800px;
}

.article-textarea{
	height:500px;
}

/* ---------------------------------------------------------------------------------- */

/* Form ----------------------------------------------------------------------------- */

.input-errors{
	font-style:italic;
	color:#F00;
	margin-bottom:10px;
	display:block;
}

.star_class{
	color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.star_class.reg-star{
	color:#FF0;
}

input[type="radio"].radio_style{
	margin:0 !important;
}

/* ---------------------------------------------------------------------------------- */

/* Loader --------------------------------------------------------------------------- */

.ui-autocomplete-loading{ 
	background-image: url("../../images/loader/ui-anim_basic_16x16.gif");
	background-position:right center;
	background-repeat: no-repeat;
}

a span.loader{
	background-image: url("../images/btn-loader.gif");
	width:17px;
	height:17px;
	padding:0;
	display:inline-block;
	vertical-align:middle;
}

a span.loader.blue{
	background-image: url("../../images/loader/btn-loader.gif");
	height:17px;
}

/* ---------------------------------------------------------------------------------- */

/* Error Pagge ---------------------------------------------------------------------- */

.error-page h1{
	font-weight:bold;
	font-size:40px;
	letter-spacing:-1px;
	color: #C1C1C1;
	text-align:center;
	margin-top:20px;
}

.error-page .alert .glyphicon{
	font-size:50px;
	margin-bottom:20px;
}

.error-page .well{
	word-break:break-all;
}

.error-page .well span u{
	color:#B94A48;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Others --------------------------------------------------------------------------- */

.dataTables_empty{
	padding:15px;
	margin: 10px auto;
	display:block;
	background-color:#FCF8E3;
	border:1px solid #faebcc;
	color:#8a6d3b;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* Bootstrap Customization ---------------------------------------------------------- */

h1,h2,h3,h4,h5,h6{
	font-family:Arial, Helvetica, sans-serif;
}

label,
dt{
	font-weight:normal;
}

.progress{
	margin-top:35px;
}

.progress-bar{
	background-color:#428bca !important;
}

.btn:hover,
.btn:active,
.btn:focus{
	outline: 0 none;
}

.well,
.btn,
.form-control,
.img-thumbnail,
.list-group-item:first-child,
.list-group-item:last-child{
	border-radius:0;
}

.label{
	font-size:12px;
}

.checkbox label,
.radio label{
	display:inline-block;
	margin-bottom:0;
}

.radio-inline{
	margin: 0 10px 0 0 !important;
}

/* ---------------------------------------------------------------------------------- */

/* Kendo UI Customiation ------------------------------------------------------------ */

.k-widget.form-control{
	padding:0;
}

.k-datetimepicker{
	width:100% !important;
}

.k-state-default,
.k-input{
	border-radius:0 !important;
}

.k-dropzone{
	border:1px dashed #ddd !important;
	border-radius:0 !important;
}

.mod.details .k-events-container{ /* */
	line-height:37px !important;
}

.mod .k-widget *{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#treeview .k-sprite {
	background-image: url("../../../../../../vendor/scripts/kendo/content/web/treeview/coloricons-sprite.png");
}

#treeview li{
	white-space:normal;
}

.rootfolder {
	background-position: 0 0;
}
.folder {
	background-position: 0 -16px;
}
.pdf {
	background-position: 0 -32px;
}
.html {
	background-position: 0 -48px;
}
.image {
	background-position: 0 -64px;
}

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

