/* ___________________________________________________________________________________
   
   CSS Framework for Azuwa B2B Script [Global Modules]
   ___________________________________________________________________________________ */

@charset "utf-8";

/* Global CMS Module Style ---------------------------------------------------------- */

.mod.feedback .thumb,
.mod.news .thumb,
.mod.search .thumb,
.mod.review .thumb{
	margin-right:0;
	margin-left:10px;
	float:right;
}

.mod.contact dt{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery Thumb -------------------------------------------------------------------- */

.upload-img{
	float:right;
	margin-right:0;
	margin-left:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Site Map ------------------------------------------------------------------------- */

.mod.sitemap ul.parent-item li{
	background-image:url(../../images/mod_img/arrow-small-rtl.png);
	background-position:right 10px;
	padding-right:15px;
	padding-left:0;
}

.mod.sitemap ul.parent-item li ul{
	padding-right:20px;
}

/* ---------------------------------------------------------------------------------- */

/* Membership Packahges ------------------------------------------------------------- */

.mod.packages .label{
	margin-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.mod .login-box .captcha img{
	float:right;
	margin-right:0;
	margin-left:5px;
}

.mod .login-box .input-group-addon{
	border-right:1px solid #CCCCCC;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery Module ------------------------------------------------------------------- */

.mod.gallery .gallery-container .image-box .gallery-thumb .more a{
	background: url(../../images/mod_img/right-arrow-rtl.png) no-repeat;
}

.mod.gallery .gallery-container .img-label{
	float:right;
	clear:right;
	text-align:left;
}

.mod.gallery .gallery-container .img-value{
	margin-right:6px;
	margin-left:0;
	float:right;
}

.mod.gallery #owl-demo{
	direction:ltr;
}

/* ---------------------------------------------------------------------------------- */

/* News Module ---------------------------------------------------------------------- */

.mod.news .calendar{
	margin-right:15px;
	margin-left:0;
	float:left;
}

.mod.news .calendar h1{
	margin-right:44px;
	margin-left:0;
}

.mod-news .calendar .year{
	left:0;
	right:44px;
}

.mod.news .news-title-scroll{
	padding-right:5px;
	padding-left:0;
}

.mod.news .archive .month_list{
	margin-right:20px;
	margin-left:0;
}

.mod.news .archive  .year_name,
.mod.news .archive .month_name{
	margin-right:0;
	margin-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Featured News Scroll ------------------------------------------------------------- */

.news_title{
	padding-right:5px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery & News Category Toggle Panel Start --------------------------------------- */

.cat-panel a img{
	float:right;
	margin-right:8px;
	margin-left:10px;
}

.cat-list ul li{
	background-position:98% 7px;
	padding-right:24px;
}

.cat-list ul li a .count{
	unicode-bidi:embed;
}

/* ---------------------------------------------------------------------------------- */

/* Loader --------------------------------------------------------------------------- */

.ui-autocomplete-loading{ 
	background-position:left center;
}

/* ---------------------------------------------------------------------------------- */


/* ********************************************************************************** */

/* Bootstrap Customization ---------------------------------------------------------- */

.form-control,
		.well{
	border-radius:0;
}

dt,
label{
	font-weight:normal;
}

.btn{
	border-radius:0;
}

.well,
.btn,
.form-control,
.img-thumbnail,
.list-group-item:first-child,
.list-group-item:last-child{
	border-radius:0;
}

.radio-inline{
	margin: 0 0 0 10px !important;
}

/* ---------------------------------------------------------------------------------- */

/* Kendo UI Customiation ------------------------------------------------------------ */

.k-treeview .k-item{
	padding:0 10px 0 0;
}

.k-treeview .k-plus, .k-treeview .k-minus, .k-treeview .k-plus-disabled, .k-treeview .k-minus-disabled{
	margin-left:0;
}

/* ********************************************************************************** */

/* Others --------------------------------------------------------------------------- */

.jetmenu .indicator{
	right:5px !important;
	left:0 !important;
}

.resp-arrow{
	float:left !important;
}

.packages .ac-container label,
.packages .ac-container input:checked + label,
.packages .ac-container input:checked + label:hover{
	background-position: 100% 14px !important;
}

.packages .ac-container label:hover:after,
.packages .ac-container input:checked + label:hover:after{
	background-image:none !important;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

