nav.company {
	/*height: 40px;*/
	width: 100%;
	background: #6FBA36;
	font-size: 14px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #59952D;
}
nav.company ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 40px;
}
nav.company li {
	display: inline;
	float: left;
}
nav.company a {
	color: #fff;
	display: inline-block;
	width:auto;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	/*text-shadow: 1px 1px 0px #283744;*/
	padding:0 10px;
}

nav.company li a {
	border-right: 1px solid #59952D;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav.company li:last-child a {
	border-right: 0;
}
nav.company a:hover, nav a:active {
	background-color: #F4B525;
}
nav.company a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav.company { 
  		height: auto;
  	}
  	nav.company ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav.company li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav.company li a {
		border-bottom: 1px solid #59952D;
		border-right: 1px solid #59952D;
	}
  	nav.company a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav.company {
		border-bottom: 0;
	}
	nav.company ul {
		display: none;
		height: auto;
	}
	
	nav.company li {
		display: block;
		float: none;
		width: 100%;
	}
	
	nav.company a#pull {
		display: block;
		background-color: #64A831;
		width: 100%;
		position: relative;
	}
	nav.company a#pull:after {
		content:"";
		background: url('../images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav.company li {
		display: block;
		float: none;
		width: 100%;
	}
	nav.company li a {
		border-bottom: 1px solid #59952D;
	}
}