/* ___________________________________________________________________________________
   
   CSS Framework for Azuwa B2B Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#0660B8;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color:#0088DD;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #0062D9;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#0066DD;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

.top-bar{
	background-color:#F7F7F9;
	text-align:center;
}

.user-link{
	border-bottom:1px solid #DDDDDD;	
}

.user-link a{
	text-decoration:underline;
}

.user-link a:hover{
	text-decoration:underline;
}

.top-links a{
	display:inline-block;
}

.top-links a:hover{
}

.user-link,
.top-links{
	padding-top:10px;
	padding-bottom:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
	padding:10px 0;
	text-align:center;
}

#header img.logo{
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
	display:inline-block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:17px;
	color:#0099FF;
	letter-spacing:normal;
	display:block;
	text-align:center;
}

.block h6 a:hover{
	color:#F60;
}

.block .btn{
}

.block .panel{
	border-radius:0;
	margin-bottom:15px;
}

.block .panel .panel-heading h3{
	margin-bottom:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
}

.block .panel .price,
	   .panel .price,
	       li .price{
	color: #0099FF;
    font-size: 20px;
	font-weight:bold;
    padding: 8px 0;
}

.block .panel .price-previous,
	   .panel .price-previous,
	       li .price-previous{
	color: #999999;
    padding: 5px 0;
	text-decoration:line-through;	
}

.block .panel .label{
	font-size:13px;
	font-weight:normal;
}

.block .panel .label a{
	color:#FF0;
}

.block .panel .qty{
	color: #F29200;
	padding-top:8px;
	padding-bottom:8px;
	display:inline-block;
}

.block figure{
	margin-top:10px;
	text-align:center;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin-bottom:10px;
	display:inline-block;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
	position:absolute;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
    background: rgba(16, 132, 248, 0.8);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
}

.block figure .photo-count-container .photo-count a,
	   figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover,
	   figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .thumb img,
	   figure .thumb img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .details{
	color: #788081
}

.block .details .ratings{
	margin: 5px 0 10px 0;
	text-align:center;
}

.block .details hr{
	margin:10px  0;
}

.block .btn.btn-cart,
	   .btn.btn-cart{
	background-color:#E43A3A;
	margin:12px 0 5px 0;
	color:#FFF;
	text-decoration:none;
}

.block .btn.btn-cart:hover,
	   .btn.btn-cart:hover{
	background-color:#E01F1F;
}

.block .more{
	text-align:center;
	margin:15px 0;
}

.block .more a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 6px 22px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
}

.block .more a:hover{
	background-color:#258DD3;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	background-color:#F7F7F9;
	padding:20px 0;
	margin-top:15px;
}

#footer hr{
	margin-top:10px;
	margin-bottom:10px;
	border-top:0px;
	border-bottom: 1px solid #DDD;
}

#footer span{
}

#footer ul li a{
	line-height:30px;
}

#footer ul li a:hover{
	text-decoration:underline;
}

#footer .copyright a{
	text-decoration:underline;
	margin-bottom:10px;
}

#footer .copyright a:hover{
	text-decoration:underline;
}

#footer .social{
	text-align: center;
}

#footer .social a {
	margin: 0;
	display: inline-block;
}

#footer ul.index{
	margin-top:10px;
}

#footer ul.index li a{
	background-color:#1996E6;
	color:#FFF;
	width:34px;
	line-height:34px;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	margin-bottom:12px;
	padding-right:0;
}

#footer ul.index a:hover{
	background-color:#1581C8
}

.go-top a{
	font-size:18px;
	background:#00A7D7;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:-40px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
	margin-top:-4px;
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe{
	background-color:#F5F5F5;
	padding:10px;
}

.block-subscribe h1{
	padding: 0 0 10px 0;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe img.trade-alert{
	margin-bottom:5px;
}

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe input[type="button"]{
	padding-top:8px;
	padding-bottom:8px;
	background-color:#F4AB00;
	border-bottom-color:#FE7602;
}

.block-subscribe input[type="button"]:hover{
	background-color:#FB9700;
}

.block-subscribe .newsletter_arr{
	color:#F00;
	font-style:italic;
	line-height:22px;
	display:block;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* Home Search ---------------------------------------------------------------------- */

.block-search{
	background-color:#F7F7F9;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:15px;
}

.block-search .k-combobox{
	width:100%;
}

.block-search .k-input.form-control{
	height:30px;
}

.block-search .k-i-arrow-s{
	height:11px;
}

.block-search input[type="submit"]{
	color: #525252;
	background: #FFDD1C;
	padding: 14px;
	margin: 5px 0 15px 0;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	border: 0;
}

.block-search input[type="submit"]:hover{
	background-color:#FACF05;
}

.block-search .btn-adv-search {
	font-size:16px;
	color:#FFF;
	background-color:#E43A3A;
	padding:14px 8px;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
}

.block-search .btn-adv-search:hover{
	color:#FFF;
	background-color:#E01F1F;
	text-decoration:none;
}

.btn-leads a{
	padding:11px;
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	display:inline-block;
}

.btn-leads a:hover{
	text-decoration:none;
	color:#FFF;
}

.btn-leads a.trade{
	background-color:#82C241;
}

.btn-leads a.trade:hover{
	background-color:#71AA37;
}

.btn-leads a.buying{
	background-color:#1996E6;
	margin-bottom:15px;
}

.btn-leads a.buying:hover{
	background-color:#1581C8;
}

/* ---------------------------------------------------------------------------------- */

/* Breadcrumbs ---------------------------------------------------------------------- */

.block-breadcrumbs{
	margin-top:15px;
}

.block-breadcrumbs li{
	display:inline;
}

/* ---------------------------------------------------------------------------------- */

/* Block Category Menu -------------------------------------------------------------- */

.mm-menu .glyphicon{
	width:20px;
}

.mm-ismenu{
	color: rgba(255, 255, 255, 0.8);
}

.mm-ismenu .count{
	color:#FF0;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map{
	margin-bottom:35px;
}

.block-map a{
	color: #616161;
	padding:8px 0 8px 3px;
	display: block;
	border-bottom: 1px dotted #CCC;
}

.block-map a:hover{
	text-decoration:none;
	color:#019EDD;
	background-color:#F4F4F4;
}

.block-map a span{
	color:#F90;
}

.block-map .btn{
	background-color:#0896FF;
	border:0;
	color:#FFF;
	padding:6px;
}

.block-map .btn:hover{
	color:#FFF;
}

.block-map .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-map .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-map .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-map .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Trading Stats & Latest Company --------------------------------------------------- */

.block-list ul {
	margin: 0;
	padding: 0;
}

.block-list ul li {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 5px 0 5px;
	line-height: 25px;
	border-bottom: 1px dotted #CCCCCC;
}

.block-list ul li.last-child {
	border-bottom: 0;
}

.block-list ul li a {
	color: #0099FF;
	text-decoration: none;
	padding: 7px 0;
	width: 100%;
	display: block;
}

.block-list ul li a:hover {
	color: #F60;
	text-decoration: none;
}

.block-list ul li:hover {
	background-color: #EEE;
}

.block-list ul li a span.glyphicon{
	color:#666666;
}

.block-list ul li a span.label,
					span.label{
	font-size:12px;
	font-weight:bold;
}

.block-list ul li a span.label{
	float:right;
	margin-top:3px;
}

/* ---------------------------------------------------------------------------------- */

/* Premium Suppliers Profile -------------------------------------------------------- */

.block.block-supplier figure{
	text-align:left;
}

.block.block-supplier figure .thumb{
	display:inline;
}

.block.block-supplier .cbp-qtcontent{
	min-height:230px;
	padding:2px;
}

/* ---------------------------------------------------------------------------------- */

/* Success Story -------------------------------------------------------------------- */

.block-success-story .block-body{
	min-height:270px;
}

.block-success-story .block-title{
	margin-top:16px;
	display:inline-block;
}

.block-success-story .callout{
	padding:15px;
	margin-bottom:1px;
	text-align:justify;
	border-radius:5px;
	background-color:#3498DB;
	position: relative;
	margin-bottom:30px;
}

.block-success-story .callout:after {
    border-style: solid;
	border-color: rgba(0, 0, 0, 0) #3498DB rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 25px ;
    bottom: -12px;
    content: " ";
    height: 0;
    left: 20px;
    position: absolute;
    width: 0;
	/*z-index:-1;*/
	border-top-width:0;
	border-left-width:0;
}

.block-success-story .callout a{
	font-style:italic;
	color:#FFF;
	line-height:20px;
}

.block.block-success-story figure{
	text-align:left;
}

.block.block-success-story figure .thumb{
	float:left;
	margin:0 10px 0 0;
}

.block-success-story .btn.post-story,
.block-success-story .btn.more-story{
	color:#FFF;
	margin-bottom:4px;
}

.block-success-story .btn.post-story{
	background-color: #1BA3F7;
}

.block-success-story .btn.post-story:hover{
	background-color: #1581C8;
}

.block-success-story .btn.more-story{
	background-color: #FF9918;
}

.block-success-story .btn.more-story:hover{
	background-color:#FE7602;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
	border-bottom:1px solid #E9E9E9;
	text-align:left;
}

.block-news figure .thumb{
	float:left;
	margin:0 10px 0 0;
}

.block-news h6 a{
	font-size: 17px;
	text-transform: none;
	letter-spacing:normal;
	text-align:left;
}

.block-news .date{
	padding: 2px 4px;
	color: #F60;
	margin: 6px 0;
	display: inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Company or Business Page Header -------------------------------------------------- */

.company #header{
	color:#FFF;
	background-color:#0099FF;
	margin: 0 0 8px 0;
	padding: 20px 10px;
}

.company #header .company-name{
	font-weight: bold;
	color:#FFF;
	font-size: 20px;
	text-transform: uppercase;
	margin:10px 0;
}

.company #header hr{
	margin:5px 0;
	border-top:0;
	border-bottom:1px dotted #0087E1;
}

.company #header .year{
	font-size:15px;
	background-color: #82C241;
	padding: 3px 10px;
	margin: 5px 0;
	display: inline-block;
}

.company #header .priorty{
	background-color: #FC0;
	font-size: 15px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .ratings{
	text-align:center;
	margin:12px 0;
}

.mod .price{
	font-size: 22px;
	font-weight: bold;
	color: #0099FF;
	letter-spacing: -1px;
	text-align: center;
	padding: 0 0 15px 0;
}

.mod .count{
	color:#C00;
}

.mod .call{
	color:#F90;
	font-size:20px;
	font-weight:bold;
}

.mod .deals .label{
	font-size:14px;
	margin-bottom:15px;
	display:inline-block;
	border-radius:0;
	padding:5px;
}

.mod .text-title{
	color:#F60;
}

.mod .panel-default.featured-content{
	background: #FFFCEA;
	border: 2px solid #FFC062;
}

.mod span.label a{
	color:#FFF;
}

.mod .category-list ul{
	margin-bottom:0;
}

.mod .category-list ul ul{
	margin:0 0 0 20px;
}

.mod .category-list li{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px dotted #CCCCCC;
}

.mod .category-list li .glyphicon{
	margin-right:5px;
}

.mod .category-list li .glyphicon-folder-open{
	color:#F90;
}

.mod .category-list li .glyphicon-tag{
	color: #919191;
}

.mod .category-list li:last-child{
	border:0;
}

.mod .category-list li a{
	line-height:22px;
}

.mod .search a.btn-seo,
.mod .search a.btn-search{
	margin-bottom:5px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#82C241;
	color:#FFF;
}

.mod .search a.btn-search:hover{
	background-color:#71AA37;
	text-decoration:none;
}

.mod .search a.btn-seo{
	background-color: #1996E6;
	color:#FFF;	
}

.mod .search a.btn-seo:hover{
	background-color: #1581C8;
}

.mod .search .k-combobox,
.mod .search .k-timepicker,
.mod .search .k-datepicker{
	width:100%;
}

.mod .search .k-input{
	height:30px;
}

.mod .search .ui-button{
	border-radius:0;
	width:50%;
	font-size:15px;
}

.mod .search .list .ui-button{
	width:100%;
}

.mod .search .glyphicon-cat{
	font-size:24px;
}

.mod .search .ui-buttonset{
	margin:10px 0 8px 0;
	display:inline;
}

.mod img.certification{
	margin:4px 1px;
}

.mod .panel .label,
.mod.details .label{
	font-size:13px;
	font-weight:normal;
}

.mod .grid-puller{
	/*margin:0 0 0 0px*/
}

.mod .grid-puller .km-pane-wrapper,
.mod .grid-puller .k-content{
	position:relative;
}

.mod .k-pager-wrap{
	/*margin-bottom:15px;*/
}

.mod figure{
	text-align:center;
}

.mod figure .thumb{
	margin-bottom:0;
	position:relative;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading p{
	margin:0 0 8px 0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-body a.preview{
	text-decoration:none !important;
}

.mod .panel .panel-footer .btn{
	font-size:15px;
	border-radius:0;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:3px solid;
}

.mod .panel .panel-footer .btn.save{
	border-bottom-color:#2F6DA6;
}

.mod .panel .panel-footer .btn.book{
	color:#FFF;
	border-bottom-color:#EA8C00;
}

.mod .panel .panel-footer .btn.details{
	border-bottom-color:#3F8F3F;
}

.mod .list-group{
	font-size:14px;
}

.mod .list-group li,
.mod .list-group a{
	border-radius:0;
}

.mod.details h1{
	display:inline;
}

.mod.details .btn{
	white-space:normal;
	border-radius:0;
}

.mod.details h4{
	margin:4px 0;
}

.mod.details .gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.mod.details dl dt{
	font-weight:normal;
	color:#F60;
}

.mod.details iframe{
	width:100%;
}

.vote > span{
	display:inline-block;
}

.vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 2px 0px !important;
	border:0;
	width:21px !important;
	float:left;
}

.vote .result{
	line-height:normal !important;
	position:relative !important;
}

.vote .label{
	padding:5px;
}

.vote *,
.vote *:after,
.vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.ribbons {
	margin-left: auto;
	margin-right: auto;
}

#ribbons {
	font-size:13px;
	color:#FFF;
	text-align: center;
	text-transform:uppercase;
	width: 34px;
	height:46px;
	line-height: 69px;
	padding:15px 0;
	background-color: rgba(204, 0, 0, 0.9);
	z-index:1;
	left:12px;
	top:0;
	position:absolute;
}

#ribbons::after{
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 17px solid rgba(204, 0, 0, 0.9);;
	left: 0;
	border-bottom-color: transparent;
}

#ribbons, 
#ribbons:before, 
#ribbons:after{
	box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	-khtml-box-sizing:content-box !important;
}

#ribbons div{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top:10px;
}

.review-count a span{
	color:#FF0;
	font-size:17px;
}

.review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.write-review a{
	color:#F60;
	text-decoration:underline;
}

.write-review a:hover{
	color:#999;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow{
	background-color:#F9F9F9;
	border:1px solid #DDDDDD;
	padding:15px;
}

.products-slideshow #gallery {
	background: #F9F9F9;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 200px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #1084F8;
}

.products-slideshow .ad-gallery .ad-image-wrapper{
	height:200px;
}

.products-slideshow .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{
	width:100% !important;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

