/* ___________________________________________________________________________________
   
   CSS Framework for Azuwa B2B Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   
@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:0 !important;
	margin-left:8px !important;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

/* ********************************************************************************** */

/* Global Block Style --------------------------------------------------------------- */

.block figure .photo-count-container,
	   figure .photo-count-container{
    left:inherit;
	right:9px;
}

.block .panel .price-previous,
	   .panel .price-previous,
	       li .price-previous,
		 .block .panel .label{
	unicode-bidi:embed;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags .dropdown dl{ 
	float:left;
}

.dropdown dd ul{ 
	right:-145px; 
}

.dropdown dd ul li{
	border-left:0;
	text-align:left;
}

.dropdown span.flag{
	float:left;
}

.dropdown span.flag span.glyphicon{
	margin-right:10px;
	margin-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Popular Products ----------------------------------------------------------------- */

.block-type #owl-demo{
	direction:ltr;
}

/* ---------------------------------------------------------------------------------- */

/* Breadcrumbs ---------------------------------------------------------------------- */

.block-breadcrumbs li{
	display:inline;
}

/* ---------------------------------------------------------------------------------- */

/* Block Category Menu -------------------------------------------------------------- */

.mm-ismenu .count{
	unicode-bidi:embed;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map a{
	padding-right:3px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Trading Stats & Latest Company --------------------------------------------------- */

.block-list ul li a span.label{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Premium Suppliers Profile -------------------------------------------------------- */

.block.block-supplier figure{
	text-align:right;
}

.block.block-supplier .cbp-qtcontent img{
	float:right;
    margin-right: 0;
	margin-left: 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Success Story -------------------------------------------------------------------- */

.block-success-story .callout:after {
    left: 20px;
	border-left-width:0;
}

.block.block-success-story figure{
	text-align:right;
}

.block.block-success-story figure .thumb{
	float:right;
	margin-right:0;
	margin-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	text-align:right;
}

.block-news figure .thumb{
	float:right;
	margin-right:0;
	margin-left:10px;
}

.block-news h6 a{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .category-list ul ul{
	margin-right:20px;
	margin-left:0;
}

.mod .category-list li .glyphicon{
	margin-right:0;
	margin-left:5px;
}

.mod .search .ui-button{
	width:auto;
	margin:0 0 5px 0;
}

.mod .ratings .label,
.mod.details .label{
	unicode-bidi:embed;
}

.vote span input[type="button_btn"]{
	margin-right:0 !important;
	margin-left:2px !important;
	float:right;
}

#ribbons {
	right:-78%;
	left:0;
	line-height:3px !important;
}

#ribbons div{
	margin-top:8px;
}

#ribbons::after{
	right: 0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */



#breadcrumb, #breadcrumb2 { float:right !important;}
#breadcrumb ul, #breadcrumb2 ul { margin-left:0 !important; margin-right:7px !important; padding-left:0 !important; padding-right:6px !important; }

#breadcrumb .crumbs li div{ margin:-1px -9px 0 5px; }

.crumbs li{ background-image:url("../../images/b2b_img/bg-crumbs-rtl.png") !important; background-position: 0% 0 !important;  }
.crumbs li a{ background-image:url("../../images/b2b_img/bg-crumbs-rtl.png") !important; background-position: 0% 0 !important;  }
.crumbs li.first { padding-left: 0px !important; /*padding-right: 8px !important;*/ background-position: 0% -144px !important; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited{ float:right !important; margin-left: -0px !important; margin-right: -13px !important; padding: 7px 25px 11px 17px !important;}
.crumbs li a:hover{ background-position: 0% -48px !important; }
.crumbs li a:active{background-position: 0% -96px !important; }
.crumbs li.first a span{ border-left:0 !important; border-right: 1px solid #d9d9d9 !important; right: 0px; !important }

.crumbs li{ float:right !important; margin-left: -0 !important; margin-right: -13px !important; padding: 7px 25px 11px 17px !important;}
.crumbs li { background-image: url('../../images/b2b_img/bg-crumbs-rtl.png'); background-position: 0% 0;}
.crumbs li.active {background-position: 0% -144px;}
.crumbs li.active span{ border-left:0; border-right:1px solid #0140A6; }
.crumbs li div{ margin:-1px -9px 0 5px; }