<?php
		
$image_value = $this->sStoryForm->b2b_images->getValue();
if($image_value)
{
	$image_arr = explode(',',$image_value);
	foreach($image_arr as $key=>$value)
	{
		$checked = ($value == $this->sStoryForm->b2b_images->getValue()) ? ' checked="checked" ' : '';
		$img_type = ($value == $this->sStoryForm->b2b_images->getValue()) ? '<span class="main">'.$this->translator->translator('b2b_company_img_directory', '', 'B2b').'</span>' : '<span class="related">'.$this->translator->translator('b2b_company_img_directory', '', 'B2b').'</span>';
		$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
		if($value)
		{
			$assign_banner_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/b2b/b2b_images/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="others_images" file_name="'.$value.'" file_path="data/frontImages/b2b/b2b_images" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('buying_images_primary').'" />&nbsp;</span></div>';
		}
	}
} 
?>

<script language="javascript" type="application/javascript">


var settingObj = {
						form_action : {
											form_id: 'sStoryForm',
											hasTinyMCE: false,
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [],
											extra_function_for_reset: function(){

											},

									},

						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
						
$(document).ready(function() { 

 commonImageThumbnil();
 deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
 
	/*********************************** Adding Event for "Reset Button"  ***************************************/
	$('a.reset_btn').click(function() {		 
		// Reset Button				  
		  commonResetFormFields(settingObj); 
		  setScroller();
     
	});
	/*********************************** Start of Form Submission ***************************************/
	$('a.submit_btn').click(function() { 			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
				
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'members', 'action'     => 'story' ), 'adminrout',    true) ?>",
					type: 'POST',
					data: formData,
					beforeSend: function(){						
							commonRemoveFormError(settingObj);
							commonOpenLoaderDialog(settingObj);					
						 },
					success: function(response){
						try 
							{
							//alert(response);					
							var json_arr = eval("("+response+")");					
							commonCloseLoaderDialog(settingObj);				
							if(json_arr.status == 'ok')
							{
								$('#actionMessage').html(succMsgDesign(json_arr.msg));	
								setScroller();												
							}
							else if(json_arr.status == 'errV')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									addError(json_arr.msg[i].key,json_arr.msg[i].value);							
								}
							}
							else
							{
								$('#actionMessage').html(errMsgDesign(json_arr.msg));
							}
						}
						catch(error)
						{
							var error_arr = 	[error, response];
							var msg = commonErrMsgException(error_arr);				
							$('#actionMessage').html(errMsgDesign(msg));
						}	
					},
					error: function(xhr, status, error){
						closeLoaderDialog();
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));
					}
			});
		
		});
	
/*********************************** End of Form Submission ***************************************/

	
/*********************************** Start of Enabling Social Links ***************************************/
	
	$('#sStoryForm :checkbox').click(function(){
		var checkboxName = $(this).attr("name").split('_');
		var belongingTexField = checkboxName[0]  + '_login';
		var checkBoxID= $(this).attr("id");
			if ($(this).is(':checked')){				 
			 	var txtValue = $('#'+belongingTexField).val() ;			 
			 	if(jQuery.trim(txtValue).length == 0)
				{
				   commonMsgDialog(settingObj, checkboxName[0]  + ' <?php echo $this->translator->translator("common_value_empty_error"); ?>');	
				   $('input[id=' +checkBoxID+ ']').attr('checked', false);
				} 			  
			} 		
		});
		
/*********************************** End of Enabling Social Links  ***************************************/




/******************************************Upload Action Start************************************************/
	
	$("#upload-form").dialog({
			autoOpen: false,
			width: 760,
			height: 610,
			show: 'fade',			
			modal: true
		});	
	
		$('a.upload_btn').click(function() {
			var self = this;
			var src = $("#i-upload-form").attr("src");
			$("#i-upload-form").attr("src", '');
			
			var group_id = '1'; //$("#group_id").val();
			$('input[name="primary_id_field_value"]').val(group_id);
			
			var rel = $(self).attr('rel');		
			var file_suffix = rel;	
			var file_content = $('#'+file_suffix).val();
			
			$('input[name="file_path_field"]').val('file_path_'+rel);
			$('input[name="file_content"]').val(file_content);		
			$('input[name="primary_file_field"]').val(file_suffix);		
			
			if(group_id != null && group_id != "")
			{
				$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
				$('#upload-form').dialog('open');
				$('#popupForm').submit();
			}
			else
			{
				msg = "<?php echo $this->translator->translator('group_id_selected_err'); ?>";
				commonMsgDialog(settingObj, msg);
			}
		});	
		
		$('a.select_file_btn').click(function() {		 
			
				var currentIFrame = $('#i-upload-form');
				var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
				var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
				var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
				var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
				if(selected_files_arr.length == '0')
				{
					var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
					commonMsgDialog(settingObj, msg);
				}
				else
				{
					var img_code = '';
					var file_name = '';
					for(var i=0;i < selected_files_arr.length;i++)
					{
						var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
						var ext = getCommonFileExtension(selected_files_arr[i]);
						var img_path = commonFilePath(file_path, selected_files_arr[i]);					
						var checked = (i == 0)? ' checked="checked" ' : '';
						var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
																	
						var fileObj = { extension : '.' + ext };
						var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
						var primary = '<input class="radio_style" type="radio" name="'+primary_file_field+'_primary" id="'+primary_file_field+'_primary" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
												
						var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
						img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
						file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];	
								
						break ;		
					}			
					var file_suffix = primary_file_field;		
					$('#selected_file_'+file_suffix).html(img_code);		
					$('#'+file_suffix).val(file_name);		
					$("#i-upload-form").attr("src", ''); 						
					$("#upload-form").dialog('option','hide','explode').dialog('close');				
					deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
					commonImageThumbnil();
				}
			});
		
		$('a.close_dialog_btn').click(function() {				
			$("#i-upload-form").attr("src", ''); 
			$("#upload-form").dialog('option','hide','explode').dialog('close');			
		});

/******************************************Upload Action End****************************************************/
});



	
/*********************************** Error Management Starts ***************************************/

	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'fade',
					resizable: 'false',				
					open: function(event, ui)
						 {
							$("#progressbar").progressbar({
								value:100
				
							});							
						  }
				});
	}
	
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
		$('#feature_facilities_err').html('');
		$('#feature_sports_recreations_err').html('');
		$('#room_type_id_err').html('');
		$('#room_type_id').removeClass('ui-state-error');
		
		var filename = '';
		var filevalue = '';		
		$.each($('form').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];					
				}
				else
				{
					filename 	= 	field.name;
				} 			
				$('#'+filename).removeClass('ui-state-error');
				$('#'+filename+'_err').html('');									
		});				
	}
	
	
	
/*********************************************************************** Error Management Ends *******************************************************/
	
/***********************************************************************UPLOAD FUNCTIONS START********************************************************/
	
	function uploadSettingsStart(json_arr)
	{
		uploadSettingsEnd();
			
		$('#b2b_images_block').prepend('<input type="file" name="b2b_images_upload" id="b2b_images_upload" />');	
		var thumb_setting_param = json_arr.param_fields;
		thumb_setting_param['file_path_field'] = 'file_path_b2b_images';	
		var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
		dynamicUploader('b2b_images_upload', 'b2b_images', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
		
		$('#b2b_images_err').html("");
	}
	
	function uploadSettingsEnd()
	{	
		$('#b2b_images_upload').parents('div.k-upload').remove();	
		$('#b2b_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
	}
	
	function languageArray()
	{
		var language_array = [];
		language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
		language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
		language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
		return language_array;
	}
	
	
	function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
	{
			var extension = fileObj.extension;
			var ext = extension.replace('.','');	
			
			var img_path = commonFilePath(serverData.file_path, fileObj.name);		
			var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
			var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
			 
			var checked = '';
			var primary = '&nbsp;&nbsp;&nbsp;';	
			var block = 'selected_file_'+upload_value_field;
			var img_type = '';	
			var primary_file_field_radio = '';		
			switch(upload_value_field)
			{
				case 'b2b_images':	
						checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
						primary_file_field_radio =	 'b2b_images';						
						img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
						primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("b2b_images_primary"); ?>" />';
					break;
				
			}
			
			var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
			
			if(serverData.multi)
			{		
				$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
				var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
			}
			else
			{
				$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
				var file_val = fileObj.name;
			}
			$('#'+upload_value_field).val(file_val);
			deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
			commonImageThumbnil();	
	}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
	
	
	function setScroller (){		
		$('html, body').animate({ scrollTop: $('#startOfForm').offset().top }, 'slow');	
	}
	
	function onComplete(e) {
				
	}
	
	function onCancel(e) {
		
	}
	
	function onProgress(e) {
						
	}
	
	
</script>

<div id="startOfForm">&nbsp;</div>

<div class="mod form-element">

    <div class="list-icon">
        <h1><?php  echo html_entity_decode($this->translator->translator('menu_members_success_story'), ENT_QUOTES, "UTF-8") ?></h1>
    </div>
	
	<div class="clr">&nbsp;</div> 
    <div class="clear">&nbsp;</div> 
    
    <form name="sStoryForm" id="sStoryForm" method="post" enctype="multipart/form-data"> 
        <div class="mod account-setting form-element">
            
            <div id="actionMessage"></div>

            <div id=navigation class="btn-container right">
                <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
                <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
            </div>
            
                	<div class="clear">&nbsp;</div> 
                    
                     <div id="tab-1">
                        <fieldset>
                            <legend><?php  echo  $this->translator->translator('menu_members_success_story'); ?></legend>
                            
                            <div class="group">
                                <label for="<?php echo $this->sStoryForm->b2b_images->getId(); ?>">
                                    <?php echo $this->sStoryForm->b2b_images->getLabel();  if($this->sStoryForm->b2b_images->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                
									<?php	
                                        if($this->auth->getIdentity()->access_file_image_manager == '1')
                                        {
                                    ?>
                                          <div class="left-float">
                                              <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="b2b_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                          </div>
                                    <?php
                                          }
                                          else
                                          {	 						
                                    ?>
                                            <script type="text/javascript">
                                              $(function(){
                                                  /**************************FILE UPLOAD START******************************/																					
                                                  dynamicUploader("b2b_images_upload", "b2b_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", false);
                                                  /**************************FILE UPLOAD END*********************************/
                                              });
                                             </script>
                                    <?php							  
                                          }
                                      ?>

                       				<div id="b2b_images_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="b2b_images_upload" id="b2b_images_upload" /><?php } echo $this->sStoryForm->b2b_images ; ?></div>
                                    
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->sStoryForm->b2b_images->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="b2b_images_err"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <div class="control-element">
                                    <span id="selected_file_b2b_images"><?php echo $assign_banner_image; ?></span>
                                </div>
                            </div>
                            
                            <div class="clear">&nbsp;</div> 

                            <div class="group">
                                <label for="<?php echo $this->sStoryForm->name->getId(); ?>">
                                    <?php echo $this->sStoryForm->name->getLabel();  if($this->sStoryForm->name->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->sStoryForm->name; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->sStoryForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="name_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->sStoryForm->title->getId(); ?>">
                                    <?php echo $this->sStoryForm->title->getLabel();  if($this->sStoryForm->title->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->sStoryForm->title; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->sStoryForm->title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="title_err"></span>
                                </div>
                            </div>
                            
                            
                            <div class="group">
                                <label for="<?php echo $this->sStoryForm->description->getId(); ?>">
                                    <?php echo $this->sStoryForm->description->getLabel();  if($this->sStoryForm->description->isRequired()){ ?> <span class="star_class">*</span><?php } ?>
                                </label>
                                <div class="control-element">
                                    <?php echo $this->sStoryForm->description; ?>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->sStoryForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div> 
                                    <span class="input-errors" id="description_err"></span>
                                </div>
                            </div>
                            
                            
                        </fieldset>
                    </div>
                    
                    
            <div class="clear">&nbsp;</div> 
            <div class="group" > <?php echo $this->sStoryForm->id; ?> </div>
		</div>
    </form>

	<div class="btn-container right">
		<span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
        <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
    </div>
     
    <div id="upload-form" title="<?php echo $this->translator->translator('common_dialog_msg' , $this->translator->translator("member_account_preferences")); ?>">
            <div>
                <form id="popupForm" target="i-upload-form" method="post" action="" >
                    <input type="hidden" name="table_name" value="b2b_group"/>
                    <input type="hidden" name="primary_id_field" value="id"/>
                    <input type="hidden" name="primary_id_field_value" value="1"/>   
                    <input type="hidden" name="primary_file_field" value=""/> 
                    <input type="hidden" name="file_content"  value=""/>
                    <input type="hidden" name="file_path_field" value="file_path_b2b_image"/>
                    <input type="hidden" name="file_extension_field" value="file_type"/>
                    <input type="hidden" name="file_max_size_field" value="file_size_max"/>
                </form>
                <iframe id="i-upload-form" name="i-upload-form" src="" class="iframe-img-upload"></iframe>       
            </div>
            <div class="button-container">
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
                <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
            </div> 
        </div>
</div>    

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
