<?php	
	if (!$this->allow() ) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

$this->headTitle()->headTitle($this->translator->translator('menu_members_upgrade_membership'),'SET');  
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script>
var settingObj = {						
						form_action : {
											form_id: 'upgradeForm',
											go_message_id: 'actionMessage',
											hasTinyMCE: false,
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [],
											extra_function_for_reset: function(){
												 
											}											
									},			
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
$(document).ready(function() { 

	/*********************************** Adding Event for "Reset Button"  ***************************************/
	$('a.reset_btn').click(function() {		 
		// Reset Button				  
		  commonResetFormFields(settingObj); 
		  commonRemoveFormError(settingObj);
     	  commonGoMessage(settingObj);
	});
	
	/*********************************** Loading Date Time  Object  ***************************************/
	
	

/*********************************** Start of Form Submission ***************************************/
	$('a.upgrade_btn').click(function() {			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);		
		formData['addtional_value'] =  $('#customRowSet :input').serialize();		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'members', 'action'     => 'upgrade' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);	
					try
					{		
						var json_arr = eval("("+response+")");					
						commonCloseLoaderDialog(settingObj);					
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));							
							commonGoMessage(settingObj);
							document.location.href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/Create-Invoice"	;										
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}						
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
							commonGoMessage(settingObj);	
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
		
	});
	
/*********************************** End of Form Submission ***************************************/


});
</script>
<div class="form-element">
    <div class="mod">
        <div class="list-icon">
            <h1><?php echo $this->translator->translator('menu_members_upgrade_membership'); ?></h1>
        </div>
        
        <div class="clear"></div>
        <div id="actionMessage"></div>
    	
        <div class="btn-container right">
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="upgrade_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>                
        </div>
    
        <form name="upgradeForm" id="upgradeForm" method="post" enctype="multipart/form-data">
        <div id="tab-1">
            <fieldset>
                <legend><?php  echo  $this->translator->translator('menu_members_upgrade_membership_label'); ?></legend>
                
                <div class="group">
                    <label for="upgrade_id">
                        <?php  echo  $this->translator->translator('b2b_front_membership_pkg_select'); ?> <span class="star_class">*</span>
                    </label>
                    <div class="control-element">
                    	<?php
						if($this->package_info)
						{
						?>
                        <select name="upgrade_id" id="upgrade_id">
                        		<option value=""><?php echo  $this->translator->translator('common_select'); ?></option>
                        	<?php
                            	foreach($this->package_info as $key => $package_arr)
								{
									$paid_price = ($this->owner_package_info && $this->owner_package_info['price']) ? ($package_arr['price'] - $this->owner_package_info['price']) : $package_arr['price'];
									if($paid_price > 0 || ($this->auth->getIdentity()->allow_change_user_packages == '1'))
									{
										$selected = ($this->upgrade_id && $this->upgrade_id == $package_arr['id']) ? 'selected="selected"' : '';
							?>
                            		<option value="<?php echo $this->escape($package_arr['id']).','.$this->auth->user_id; ?>" <?php echo $selected; ?>><?php echo $this->escape($package_arr['name']).' ---> '.$currency->getSymbol().' '.$paid_price; ?></option>
                            <?php
									}
								}
                            ?>
                        </select>
                        <?php
						}
						?>
                        <div class="form-field-info">
                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php  echo  $this->translator->translator('b2b_front_membership_pkg_info'); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                        </div> 
                        
                        <span class="input-errors" id="upgrade_id_err"></span>
                    </div>
                </div>
            </fieldset>
        </div>        
        </form>
    
        <div class="btn-container right">
           <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php  echo  $this->translator->translator('b2b_reset'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="upgrade_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
        </div>
        
    </div>
</div>

<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<?php endif; ?>