<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get('global_conf');
$site_name = $global_conf ['site_name'];
$site_title = $global_conf ['site_title'];

echo $this->headScript()->setFile($this->baseUrl() . '/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/' . $front_template['theme_folder'] . '/css/category-link.css');

if (!empty($this->companyDetails['keywords'])) {
    $this->headMeta()->setName('keywords', $this->companyDetails['keywords']);
}
if (!empty($this->companyDetails['meta_desc'])) {
    $this->headMeta()->setName('description', $this->companyDetails['meta_desc']);
}
if (!empty($this->companyDetails['company_name'])) {
    $meta_title = $this->translator->translator('b2b_meta_title_prefix_profile') . ' ' . $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] . ' | ' . $site_name . ' : ' . $site_title;
    $this->headTitle($meta_title, 'SET');
}


$imageDir = $this->companyDetails['images_path'];
$banner_img = ($this->companyDetails['banner_img']) ? $this->companyDetails['banner_img'] : $this->companyDetails['preferance_images'];
$gallery_img = ($this->companyDetails['profile_image']) ? ($this->companyDetails['profile_image']) : 'avatar.png';
$galleryArray = explode(',', $gallery_img);
$companyImage = ($banner_img) ? $banner_img : $galleryArray [0];

if ($global_conf['googlemaps_api_key']) :
    echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key=' . $global_conf['googlemaps_api_key'] . '&v=3.exp&sensor=false');
else :
    echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
endif;
?>
<style>
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }	
</style>
<script>
    var settingObj = {
        googleMap: {
            canvas_id: 'map-canvas',
            address_id: 'address',
            setCenter: true,
            propertyAddress: true,
            propertyAddressField: ['company_name', 'company_street', 'company_city', 'company_country_name'],
            pin_img_url: '<?php echo $global_conf['googlemaps_pin_logo']; ?>',
            loader_id: 'map_loader',
            loader_img_url: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/search-loader.gif',
            loader_language: "<?php echo $this->translator->translator("partial_quick_contact_loader"); ?>",
            allAddresses: <?php echo Zend_Json_Encoder::encode(array(0 => $this->companyDetails)); ?>,
            initializeOptions: {
                zoom: <?php echo $global_conf['googlemaps_zoom_single']; ?>,
                mapTypeId: google.maps.MapTypeId.<?php echo $global_conf['googlemaps_maptypes']; ?>,
                center: new google.maps.LatLng(<?php echo $global_conf['googlemaps_latitude']; ?>, <?php echo $global_conf['googlemaps_longitude']; ?>),
            },
            pin_template: function(address, lat, lng, obj_arr) {
                var html = "<div style='width:200px;'>"
                        + "<div class='block-title'> " + obj_arr.company_name + "</div>"
                        + '<a href="Company-Homepage/' + obj_arr.seo_title + '" class="preview" link="data/frontImages/b2b/profile_image/' + obj_arr.profile_image_primary + '" title="' + obj_arr.company_name + '"><img src="data/frontImages/b2b/profile_image/' + obj_arr.profile_image_primary + '" height="40" class="thumb"/></a>'
                        + "<?php echo $this->translator->translator("front_tradeshow_address"); ?>: " + obj_arr.company_street + ", " + obj_arr.company_city + ", " + obj_arr.company_country_name + "<br/>"
                        + "<a href='Company-Homepage/" + obj_arr.seo_title + "' class='details'><?php echo $this->translator->translator("common_click_here_language"); ?></a><br />"
                        + "<span class='add'>" + address + "</span>"
                        + "</div>";
                return html;
            },
            title_template: function(address, lat, lng, obj_arr) {
                var html = obj_arr.hotels_name + " ( " + address + " ) ";
                return html;
            }
        }
    };
    $(document).ready(function() {
        function text_truncate()
        {
            $('span.jTruncate').jTruncate({
                length: 300,
                minTrail: 0,
                moreText: "common_see_all",
                lessText: "common_hide",
                ellipsisText: "",
                moreAni: "fast",
                lessAni: 2000
            });
        }

    });

</script>

<div class="mod">

    <div class="clear"></div>

    <div class="company-details">

        <h1><?php echo $this->translator->translator('b2b_company_profile_profile') . ' ' . $this->escape($this->companyDetails['company_name']);
echo ($this->companyDetails['store_name']) ? ' ( ' . $this->escape($this->companyDetails['store_name']) . ' ) ' : '' ?>  </h1>

        <br />
        <div class="info">
            <div class="desc">
                <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_front_company_profile_contact_info') ?>  </div></div>
                <div class="desc-body">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
<?php
if ($this->companyDetails['company_name']):
    ?>
                            <tr>
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_name') ?> </th>
                                <td width="69%"><?php echo $this->escape($this->companyDetails['company_name']) ?></td>
                            </tr>
    <?php
endif;
if ($this->companyDetails['company_street'] || $this->companyDetails['company_city']):
    ?>    

                            <tr>    
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_contact_info') ?> </th>
                                <td width="69%">

                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_street') ?> : </strong>  <?php echo $this->escape($this->companyDetails['company_street']) ?> <br />
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_city') ?> : </strong>  <?php echo $this->escape($this->companyDetails['company_city']) ?> <br />
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_zipcode') ?> : </strong>  <?php echo $this->escape($this->companyDetails['company_postal_code']) ?> <br />                            
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_country') ?> : </strong>  <?php echo $this->escape($this->companyDetails['company_country_name']) ?> 
                                    <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['company_country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['company_country_name'] ?>" /> <br />

                                </td>
                            </tr>
    <?php
endif;
if ($this->companyDetails['company_name']):
    ?>    

                            <tr>    
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></th>
                                <td width="69%"><?php echo $this->escape($this->companyDetails['company_postal_code']) ?></td>
                            </tr>
                            <?php
                        endif;

                        if ($this->companyDetails['is_telephone'] == 'YES' && !empty($this->preferences_data['show_phone'])) {
                            if ($this->companyDetails['phone']):
                                ?>                            
                                <tr>      
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_telephone') ?></th>
                                    <td width="69%"><?php echo $this->escape($this->companyDetails['phone']) . ' - ' . $this->escape($this->companyDetails['phone_part2']) . ' - ' . $this->escape($this->companyDetails['phone_part3']) ?></td>
                                </tr>
                                <?php
                            endif;
                        }
                        if (!empty($this->preferences_data['show_fax'])) {
                            if ($this->companyDetails['fax']):
                                ?>    

                                <tr>
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_fax') ?></th>
                                    <td width="69%"><?php echo $this->escape($this->companyDetails['fax']) . ' - ' . $this->escape($this->companyDetails['fax_part2']) . ' - ' . $this->escape($this->companyDetails['fax_part3']) ?></td>
                                </tr>

                                <?php
                            endif;
                        }
                        if ($this->companyDetails['is_telephone'] == 'YES' && !empty($this->preferences_data['show_phone'])) {
                            if ($this->companyDetails['mobile']):
                                ?>    

                                <tr>    
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_mobile') ?></th>
                                    <td width="69%"><?php echo $this->escape($this->companyDetails['mobile']) . ' - ' . $this->escape($this->companyDetails['mobile_part2']) . ' - ' . $this->escape($this->companyDetails['mobile_part3']) ?></td>
                                </tr>    
                                <?php
                            endif;
                        }
                        if ($this->companyDetails['is_website'] == 'YES' && !empty($this->preferences_data['show_website'])) {
                            if ($this->companyDetails['website']):
                                ?>    
                                <tr>                       
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_website') ?></th>
                                    <td width="69%"><a href="<?php echo $this->escape($this->companyDetails['website']) ?>" target="_blank"><?php echo $this->escape($this->companyDetails['website']) ?></a></td>
        <?php
    endif;
}
?>    
                        </tr>

                    </table>
                </div>    
            </div>
        </div>

        <div class="info right">
            <div class="desc">
                <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_represented_by') ?></div></div>
                <div class="desc-body">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

<?php
if ($this->companyDetails['full_name']):
    ?>    
                            <tr>
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_person') ?></th>
                                <td width="69%"><?php echo $this->escape($this->companyDetails['full_name']) ?></td>
                            </tr>
    <?php
endif;
if ($this->companyDetails['usr_address']):
    ?>    
                            <tr>    
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_address') ?></th>
                                <td width="69%">
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_street') ?> : </strong> <?php echo $this->escape($this->companyDetails['usr_address']) ?> <br />
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_city') ?> :  </strong>  <?php echo $this->escape($this->companyDetails['city']) ?> <br />
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_state') ?> : </strong>  <?php echo $this->escape($this->companyDetails['state']) ?> <br />                            
                                    <strong> <?php echo $this->translator->translator('b2b_front_company_profile_country') ?> : </strong>  <?php echo $this->escape($this->companyDetails['country_name']) ?> 
                                    <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['country_name'] ?>" /> <br />
                                </td>
                            </tr>
    <?php
endif;
if ($this->companyDetails['user_zip']):
    ?>    
                            <tr>    
                                <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></th>
                                <td width="69%"><?php echo $this->escape($this->companyDetails['user_zip']) ?></td>
                            </tr>
                            <?php
                        endif;
                        if ($this->companyDetails['is_telephone'] == 'YES' && !empty($this->preferences_data['show_phone'])) {
                            if ($this->companyDetails['usr_phone']):
                                ?>    
                               	<tr>     
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_telephone') ?></th>
                                    <td width="69%"><?php echo $this->escape($this->companyDetails['usr_phone']) ?></td>
                                </tr>
                                <?php
                            endif;
                        }
                        if (!empty($this->preferences_data['show_fax'])) {
                            if ($this->companyDetails['usr_fax']):
                                ?>    
                                <tr>
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_fax') ?></th>
                                    <td width="69%"><?php echo $this->escape($this->companyDetails['usr_fax']) ?></td>
                                </tr>
                                <?php
                            endif;
                        }
                        if ($this->companyDetails['is_telephone'] == 'YES' && !empty($this->preferences_data['show_phone'])) {
                            if ($this->companyDetails['usr_mobile']):
                                ?>    
                                <tr>    
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_mobile') ?></th>
                                    <td width="69%"> <?php echo $this->escape($this->companyDetails['usr_mobile']) ?> </td>
                                </tr>    
                                <?php
                            endif;
                        }
                        if ($this->companyDetails['is_website'] == 'YES' && !empty($this->preferences_data['show_website'])) {
                            if ($this->companyDetails['usr_website']):
                                ?>   
                                <tr>  
                                    <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_website') ?></th>
                                    <td width="69%"><a href="" target="_blank"><?php echo $this->escape($this->companyDetails['usr_website']) ?></a></td>
                                </tr>
        <?php
    endif;
}
?>   

                    </table>
                </div>    
            </div>
        </div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('common_google_map_view') ?></div></div>
            <div class="desc-body">           					

                <script>
                    runGoogleMap(settingObj);
                </script>
                <div style="width:813px;height:400px;"><div id="map-canvas"></div></div>        
                <div>
                    <input id="address" type="text" value="<?php echo $this->companyDetails['company_street'] . ',' . $this->companyDetails['company_city'] . ',' . $this->companyDetails['company_country_name']; ?>">
                    <input type="button" value="<?php echo $this->translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(settingObj)">
                    <input type="button" value="<?php echo $this->translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(settingObj)">
                </div>

            </div>    
        </div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_production') ?></div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

<?php
if ($this->companyDetails['production_capacity']):
    ?>                   
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_capacity') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['production_capacity']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['factory_location']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_factory_location') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['factory_location']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['factory_size']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_factory_size') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['factory_size']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['number_of_employees']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_employees') ?></th>
                            <td width="69%"><?php echo $this->escape(str_replace('_', ' ', $this->companyDetails['number_of_employees'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['nearest_ports']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_nearest_ports') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['nearest_ports']) ?></td>
                        </tr>
    <?php
endif;
?>                      

                </table>
            </div>    
        </div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_trade_market') ?></div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
<?php
if ($this->companyDetails['main_markets']):
    ?>                                      
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_main_markets') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['main_markets']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['selling_categories']):
    ?>                    
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_major_selling'); ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['selling_categories']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['buying_categories']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_major_buying') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['buying_categories']) ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['annual_revenue']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_revenue') ?></th>
                            <td width="69%"><?php echo $this->escape(str_replace('_', ' ', $this->companyDetails['annual_revenue'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['export_market']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_export_market') ?></th>
                            <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['export_market'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['annual_sales']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_revenue') ?></th>
                            <td width="69%"><?php echo $this->escape(str_replace('_', ' ', $this->companyDetails['annual_revenue'])); ?></td>
                        </tr>
<?php
endif;
if ($this->companyDetails['registered_in']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_keywords_operating_since') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['registered_in']); ?></td>
                        </tr>                                       
    <?php
endif;
if ($this->companyDetails['overseas_office']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_overseas_office') ?></th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['overseas_office']) ?></td>
                        </tr>
    <?php
endif;
?>                      

                </table>
            </div>    
        </div>

        <div class="clear">&nbsp;</div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('permisson_b2b_frontend_company_details') ?> </div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

<?php
if ($this->companyDetails['store_name']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_store_name') ?> :</th>
                            <td width="69%"><a href="Company-Store/<?php echo $this->companyDetails['seo_title']; ?>"><?php echo $this->escape($this->companyDetails['store_name']); ?></a></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['main_products']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_main_product') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['main_products']) . '<br />' . $this->escape($this->companyDetails['main_products_part1']) . '<br />' . $this->escape($this->companyDetails['main_products_part2']) . '<br />' . $this->escape($this->companyDetails['main_products_part3']); ?></td>
                        </tr>

    <?php
endif;
if ($this->companyDetails['company_category']):
    ?>                      

                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_company_category') ?> :</th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['company_category']); ?></td>
                        </tr>

    <?php
endif;
if ($this->companyDetails['legal_owner']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_person') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['legal_owner']); ?></td>
                        </tr>
    <?php
endif;

if ($this->companyDetails['office_size']):
    ?>                      
                        <tr>    
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_office_size') ?></th>
                            <td width="69%"><?php echo $this->escape(str_replace('_', ' ', $this->companyDetails['office_size'])); ?></td>
                        </tr>          


    <?php
endif;

if ($this->companyDetails['establishing_year']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_establishment') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['establishing_year']); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['nearest_ports']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_nearest_ports') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['nearest_ports']); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['main_customers']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_main_customers') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['main_customers']); ?></td>
                        </tr>

    <?php
endif;
if ($this->companyDetails['delivery_terms']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_delivery_terms') ?> : </th>
                            <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['delivery_terms'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['avg_lead_time']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_leadtime') ?> : </th>
                            <td width="69%"><?php echo $this->escape($this->companyDetails['avg_lead_time']); ?></td>
                        </tr>

    <?php
endif;
if ($this->companyDetails['payment_currency']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_payment_currency') ?> : </th>
                            <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['payment_currency'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['payment_type']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_export_escrow') ?> : </th>
                            <td width="69%">
                                <?php
                                if ($this->escape($this->companyDetails['escrow']) == 1):
                                    echo $this->translator->translator('b2b_company_profile_export_escrow_yes');
                                else:
                                    echo $this->translator->translator('b2b_company_profile_export_escrow_no');
                                endif;
                                ?></td>
                        </tr>
    <?php
endif;
//                        if ($this->companyDetails['payment_type']):
?>
                    <tr>
                        <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_payment_type') ?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['payment_type'])); ?></td>
                    </tr>
<?php
//                    	endif;	
if ($this->companyDetails['language']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_language') ?> : </th>
                            <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['language'])); ?></td>
                        </tr>
    <?php
endif;
if ($this->companyDetails['export_percentage']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_export_percentage') ?> : </th>
                            <td width="69%"><?php echo $this->escape(str_replace('-', ' to ', $this->companyDetails['export_percentage'])); ?></td>
                        </tr>
 
    <?php
endif;
if ($this->companyDetails['certification']):
    ?>
                        <tr>
                            <th width="31%"><?php echo $this->translator->translator('b2b_company_profile_company_certification_new') ?> : </th>
                            <td width="69%"><?php echo $this->escape(str_replace(',', ' <br /> ', $this->companyDetails['certification'])); ?></td>
                        </tr>
    <?php
endif;
?>
                </table>
            </div>    
        </div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_company_gallery') ?></div></div>
            <div class="desc-body">

                <?php for ($i = 0; $i < count($galleryArray); $i++) { ?>
                    <div class="block-body">
                        <div class="block-content">
                            <a href="<?php echo $imageDir . '/' . $galleryArray[$i] ?>"><img src="<?php echo $imageDir . '/' . $galleryArray[$i] ?>" border="0" width="100" height="100" class="thumb" /></a>
                        </div>			
                    </div>
<?php } ?>
            </div>    
        </div>

        <div class="clear">&nbsp;</div>

        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_company_certification') ?></div></div>
            <div class="desc-body">

<?php
$compliance_img = $this->companyDetails['compliance_img'];

foreach ($compliance_img as $id => $compliance) {
    ?>
                    <div class="block-body">
                        <div class=""> 
                            <img src="application/layouts/scripts/b2b_default/images/b2b_img/<?php echo $compliance; ?>" alt="<?php echo $this->companyDetails['compliance_name'][$id]; ?>" title="<?php echo $this->companyDetails['compliance_name'][$id]; ?>" border="0" width="40" height="40" class="thumb" />
                        </div>			
                    </div>
<?php } ?>
            </div>    
        </div>

        <div class="clear">&nbsp;</div>

        <div class="desc form-element">
            <div class="desc-heading"><div class="symbol"><?php echo $this->translator->translator('b2b_company_profile_company_terms') ?></div></div>
            <div class="desc-body">
                <div class="clear">&nbsp;</div> 

                <div class="infoMess"><strong> <?php echo $this->translator->translator('b2b_company_profile_company_policies') ?> </strong> </div> <br />
                <p><blockquote><?php echo $this->escape($this->companyDetails['policy']); ?> </blockquote> </p> <br />

                <div class="infoMess"><strong> <?php echo $this->translator->translator('b2b_company_profile_company_tos') ?> </strong> </div> <br />
                <p><blockquote><?php echo $this->escape($this->companyDetails['terms_condition']); ?> </blockquote>  </p> <br />

                <div class="infoMess"><strong> <?php echo $this->translator->translator('b2b_company_profile_company_payment_terms') ?> </strong> </div> <br />
                <p><blockquote><?php echo $this->escape($this->companyDetails['payment_method']); ?> </blockquote> </p> <br />

                <div class="infoMess"><strong> <?php echo $this->translator->translator('b2b_company_profile_company_qa') ?> </strong> </div> <br />
                <p><blockquote><?php echo $this->escape($this->companyDetails['QA_policy']); ?>  </blockquote>  </p> <br />

            </div>    
        </div>

    </div>
</div>