<?php 
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;
$per =  $this->translator->translator('b2b_product_per_unit');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_buying_leads' );

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;


if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title = $this->translator->translator('b2b_meta_title_prefix_buy') . ' '. $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	
	
if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }

?>
<script type="text/javascript">
    $(document).ready(function() {
		extraFunctions ();
        var settingObj = {
                            grid_id : 'grid',
                            dest_url : "<?php echo $this->url(); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},							
                            search_action: {
								search_form_id : 'searchForm',
								search_form_btn : 'search_btn',
								hasTinyMCE 	: false,
								show_loader_on_search_button: true,
								setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
											var filters = [];										
											var i = 0;
											$.each(form_data, function(key,value){		
												var stringObj = {};																				
												if($.trim(value) != "" && value.toLowerCase() != "any")
												{												
													var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
													switch(key)
													{
													  case 'advkeywords':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];																			
																			  var filter_keyword_1_arr = [];																			
																			  var filter_keyword_2_arr = [];																			
																			  var filter_keyword_3_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'keyword', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_1_arr[key_count] = { field: 'keyword_1', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_2_arr[key_count] = { field: 'keyword_2', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_3_arr[key_count] = { field: 'keyword_3', operator: operator, value: $.trim(filter_value_arr_value) };
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr },
																										  { logic: form_data.advword, filters: filter_keyword_1_arr },
																										  { logic: form_data.advword, filters: filter_keyword_2_arr },
																										  { logic: form_data.advword, filters: filter_keyword_3_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'name', 	operator: operator, value: $.trim(value) },
																										  {field: 'keyword', 	operator: operator, value: $.trim(value) },
																										  {field: 'keyword_1',operator: operator, value: $.trim(value) },
																										  {field: 'keyword_2',operator: operator, value: $.trim(value) },
																										  {field: 'keyword_3',operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'name', 		operator: operator, value: $.trim(value) },
																								{field: 'keyword', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_1', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_2', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_3', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break;	
														 case 'description':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'description', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'description', 	operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'description', 		operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break; 	
														case 'advcategory_input':
															break;
														case 'advcategory':													
																var combobox = $("#advcategory").data("kendoComboBox");	
																if(combobox)
																{
																	var category_id_val = combobox.value();																
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'category', operator: operator, value: category_id_val },
																								{ field: 'category_name', operator: 'contains', value: category_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
																}
															break;
														case 'advcountry_input':
															break;	
														case 'advcountry':
																var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
																if(advcountry_combobox)
																{
																	var advcountry_id_val = advcountry_combobox.value();
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																								{  field: 'user_country_name', operator: 'contains', value: advcountry_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'user_country_name', operator: 'contains', value: $("#advcountry").val() };																
																}															
															break;
														case 'advpremium':
																stringObj = {field: 'priority', operator: operator, value: "YES" };
															break;
														case 'priceopt':
															break;	
														case 'price':
																operator = $('#priceopt').val();
																stringObj = {field: 'price', operator: operator, value: $.trim(value) };
															break;	
														default:
															stringObj = {field: key, operator: operator, value: $.trim(value) };	
														 break;								
													}
													filters[i] = stringObj;												
													i++;
												}
											});
											//alert(filters.toSource());
											return filters;
										}
							},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
    });
    function text_truncate()
    {
        $('div.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
	
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});	
	}	
	
	
    </script>
	<script type="text/x-kendo-template" id="view_template">
	
	 # if(seo_title) { # 
	 
            <div class="list-view">
                <div class="img-wrapper">
                    <a href="Buyoffer-Details/#=company_title#/#=seo_title#"><img src="#= primary_file_field_format #" border="0" class="thumb"  height="100" width="100"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count">
                            <a href="Buyoffer-Details/#=company_title#/#=seo_title#" title="#= name #">#= others_images_num_format  #</a>
                        </div>
                    </div>
                </div> 
				<div class="details">
                    <h3><a href="Buyoffer-Details/#=company_title#/#=seo_title#">#= name #</a></h3>

					#
				 		if(description){ 
			  		#
						<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8"); ?></span> : #= commonStripslashes (description) # <br /> 
                    # 
						} 
						if(price){
					#	
						# var currencyType = price_currency.split("-"); #
                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_fontend_buying_price'), ENT_QUOTES, "UTF-8");  ?> : #= currencyType[0] #  #= price # <?php echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8"); ?> #= price_per_unit #</div>
					# 
						} 
						if(shipping){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, "UTF-8"); ?> </span>  :  #= shipping # <br />
										
					# 
						} 
						if(validity){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, "UTF-8"); ?> </span> :  #= validity # <br />
					# 
						} 
						if(delivery){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_delivery_leadtime'), ENT_QUOTES, "UTF-8"); ?> </span> :  #= delivery #  #= delivery_leadtime # <br />					
					# 
						} 
						if(buying_capacity){
					#	

                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_capacity'), ENT_QUOTES, "UTF-8"); ?> </span>  :  #= buying_capacity #  #= max_buying_unit #   <br />
							
					# 
						} 
						if(quantity){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_quantity'), ENT_QUOTES, "UTF-8"); ?> </span> :  #= quantity #  #= qty_per_unit #    <br />
							
					# 
						} 
						if(payment_type){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, "UTF-8"); ?></span> :  #= payment_type #   <br />
							
					# 
						} 
						if(category_name){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, "UTF-8"); ?>  </span> : #= category_name # <br />

					# 
						} 
						if(business_type){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8"); ?>  </span>  :
					  
					  #= business_type # <br />
												
					# 
						} 
						if(added_on){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, "UTF-8"); ?>  </span> : #= added_on # <br />
							
					# 
						} 

					#	
				</div>
				
				 <div class="info">
				  	<span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, "UTF-8");?> :</span><hr />
				  	#
					if(is_voting === 'YES'){
					#	
					  <div class="products-vote">
						  <p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
						  <span>#= buying_vote_format #</span>
					  </div>   
					#
					} 
					#				  
				<div class="header-right"> 
					# if(review_id){ #                                         
    	            <span class="products-review-count"><a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/3"> #= review_no_format # </a> </span> &nbsp; |
					&nbsp; <span class="products-write-review"> <a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span>  
					
					# } #
				</div>				  
					# 
						if(buying_categories){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_buying'), ENT_QUOTES, "UTF-8")?> </span> :   #= buying_categories #  <br />

					# 
						} 
						if(registered_in){
					#

                    	<span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8")?> </span>  :  #= registered_in # <br />                    

					#	
						}
						<?php if ($this->preferences_data['show_phone']) {?>
						if(phone && is_telephone === 'YES'){
					#
						
                   	 		<div class="call"> #= phone # - #= phone_part2 # - #= phone_part3 #  </div>

					# 
						} 
						<?php } if ($this->preferences_data['show_inquiry_btn']) {?>
						if(is_feedback === 'YES'){
					#	
					
                    		<div class="inquire"><a href="Inquiry/#= company_title #"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>

					#
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){
					#
                    <span class="contact"><a href="Company-Contact/#= company_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8");?></a></span>
					#
						}
						<?php } ?>	
					#
					
					
					
				 </div>	
                 
                <hr /> 
                <span class="review-count"><a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/3"> #= review_no_format # </a> </span>
				&nbsp; <span class="write-review"> <a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; | 
				<a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/2"><?php  echo   html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8");?></a> | 
				<a href="Buyoffer-Details/#=company_title#/#=seo_title#/"><?php  echo   html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8");?></a> | 

            </div>
			
			# } #
    </script>
    <div class="mod">
           
        <div class="cat-container">
            <div class="list-icon">
                <h1> <?php echo $this->translator->translator('b2b_front_buying_offer_list_of') . ' ' . $this->escape($this->companyDetails['company_name']) ;  echo ($this->companyDetails['store_name']) ? ' ( '. $this->escape($this->companyDetails['store_name']) . ' ) ': ''?></h1>
            </div>

            <div class="clear"></div>
            
            <br />
			
            <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a></div>
           
            <div id="slickbox" class="toggle-container">
                <form name="searchForm" id="searchForm">
                    <div class="toggle-search">
                        <!-- Row 1 Start -->
                        <div class="toggle-row">
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_name_of_buying_product'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input type="text" class="ui-widget-content ui-corner-all" name="name" id="name" operator="contains" value="" size="30" />
                            </div>
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_price_label'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <select name="priceopt" id="priceopt">
                                    <option value="eq"><?php echo $this->translator->translator('b2b_advanced_search_common_equal_label'); ?></option>
                                    <option value="lte"><?php echo $this->translator->translator('b2b_advanced_search_price_maximum_label'); ?></option>
                                    <option value="gte"><?php echo $this->translator->translator('b2b_advanced_search_price_minimum_label'); ?></option>
                                </select>
                                &nbsp; &nbsp;
                               <input type="text" name="price" id="price" operator="contains" class="ui-widget-content ui-corner-all" value="" size="10" />                        
                            </div>
    
                        </div>
                        <!-- Row 1 End -->
                        
                        
                        <!-- Row 2 Start -->
                        <div class="toggle-row">
             
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                            </div>
                            
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                            
                               <input type="text" name="description" id="description" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                          
                            </div>
                            
                        </div>
                        <!-- Row 2 End -->
                        
                    </div>
                    <hr />
                    <div class="clr form-button-container">
                        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                    </div>
                </form>
            </div>

			<div class="clear"></div>
            
            
        </div>
    
    
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			<div id="grid"></div>  
       	</div>
    </div>
    