<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'];

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title = $this->translator->translator('b2b_meta_title_prefix_contact') . ' '. $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	
	
if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }

if ($global_conf['googlemaps_api_key']) :
	echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false');
 else  :
	echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
 endif; 
?>
<style>
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }	
</style>
<script>
var settingObj = {  							
							googleMap : {
										canvas_id			: 'map-canvas',
										address_id			: 'address',
										setCenter			: true,
										propertyAddress		: true,
										propertyAddressField:	['company_name', 'company_street', 'company_city', 'company_country_name'],
										pin_img_url 		: '<?php echo $global_conf['googlemaps_pin_logo'];?>',
										loader_id			: 'map_loader',
										loader_img_url		: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/search-loader.gif',
										loader_language		: "<?php echo $this->translator->translator("partial_quick_contact_loader"); ?>",
										allAddresses 		: <?php echo Zend_Json_Encoder::encode(array(0 => $this->companyDetails)); ?>,
										initializeOptions : {
																zoom: <?php echo $global_conf['googlemaps_zoom_single']; ?>,
																mapTypeId: google.maps.MapTypeId.<?php echo $global_conf['googlemaps_maptypes'];?>,
																center: new google.maps.LatLng(<?php echo $global_conf['googlemaps_latitude'];?>, <?php echo $global_conf['googlemaps_longitude'];?>),	
										},
										pin_template: function(address,lat,lng, obj_arr){
														  var html = "<div style='width:200px;'>" 																		
																		  +"<div class='block-title'> " + obj_arr.company_name + "</div>" 
																		  +'<a href="Company-Homepage/' + obj_arr.seo_title + '" class="preview" link="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" title="'+obj_arr.company_name+'"><img src="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" height="40" class="thumb"/></a>'
																		  + "<?php echo $this->translator->translator("front_tradeshow_address"); ?>: "+obj_arr.company_street+", "+obj_arr.company_city+", "+obj_arr.company_country_name+"<br/>"
																		  + "<a href='Company-Homepage/" + obj_arr.seo_title + "' class='details'><?php echo $this->translator->translator("common_click_here_language"); ?></a><br />"
																		  + "<span class='add'>" + address + "</span>" 
																		  + "</div>";
														  return html;
													  },
										title_template: function(address,lat,lng, obj_arr){
															var html = obj_arr.hotels_name + " ( " + address + " ) ";
															return html;
														}
								}
                        };
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

});
 
</script>

<div class="mod">
    
	<div class="clear"></div>

    <div class="company-details">
    
        <h1><?php echo $this->translator->translator('b2b_company_profile_contact_us'); ?> </h1>

        <br />
        <div class="info">
        	<div class="desc">
            	<div class="desc-heading"><div class="symbol"><?php  echo $this->translator->translator('b2b_front_company_profile_contact_info')  ?>  </div></div>
                <div class="desc-body">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    	<?php
							if ($this->companyDetails['company_name']):
								$this->headTitle()->headTitle($this->companyDetails['company_name'] , 'SET'); 
						?>
                    	<tr>
                            <th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_name') ?> </th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['company_name'])?></td>
                        </tr>
						<?php
                            endif;	
                            if ($this->companyDetails['company_street'] || $this->companyDetails['company_city'] ):
                        ?>    
                        
                        <tr>    
                        	<th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_contact_info') ?> </th>
                            <td width="69%">
                            
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_street') ?> : </strong>  <?php echo  $this->escape($this->companyDetails['company_street'])?> <br />
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_city') ?> : </strong>  <?php echo  $this->escape($this->companyDetails['company_city'])?> <br />
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?> : </strong>  <?php  echo $this->escape($this->companyDetails['company_postal_code'])?> <br />                            
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_country') ?> : </strong>  <?php  echo $this->escape($this->companyDetails['company_country_name'])?> 
                                <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['company_country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['company_country_name'] ?>" /> <br />

                            </td>
                        </tr>
						<?php
                            endif;	
                            if ($this->companyDetails['company_name']):
                        ?>    

                        <tr>    
                            <th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['company_postal_code'])?></td>
                      	</tr>
						<?php
                            endif;	
							
						if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {
                            if ($this->companyDetails['phone']):
							?>                            
							<tr>      
								<th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_telephone') ?></th>
								<td width="69%"><?php  echo  $this->escape($this->companyDetails['phone']).' - ' .  $this->escape($this->companyDetails['phone_part2']).' - ' .  $this->escape($this->companyDetails['phone_part3'])?></td>
							</tr>
							<?php
								endif;	
						}
						if (!empty( $this->preferences_data['show_fax']))  {
                            if ($this->companyDetails['fax']):
                        ?>    
                        
                            <tr>
                                <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_fax') ?></th>
                                <td width="69%"><?php  echo $this->escape($this->companyDetails['fax']).' - ' . $this->escape($this->companyDetails['fax_part2']).' - ' .  $this->escape($this->companyDetails['fax_part3'])?></td>
                            </tr>
                            
						<?php
                            endif;
						}							
						if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {	
								if ($this->companyDetails['mobile']):
							?>    
							
							<tr>    
								<th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_mobile') ?></th>
								<td width="69%"><?php  echo $this->escape($this->companyDetails['mobile']).' - ' .  $this->escape($this->companyDetails['mobile_part2']).' - ' .  $this->escape($this->companyDetails['mobile_part3'])?></td>
							</tr>    
							<?php
							endif;	
						}
						if ($this->companyDetails['is_website']  == 'YES'  &&  ! empty( $this->preferences_data['show_website']))   {
                            if ($this->companyDetails['website']):
							?>    
							 <tr>                       
								<th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_website') ?></th>
								<td width="69%"><a href="<?php  echo $this->escape($this->companyDetails['website'])?>" target="_blank"><?php  echo $this->escape($this->companyDetails['website'])?></a></td>
							<?php
							endif;	
						}
                        ?>    
                        
                    </table>
                </div>    
        	</div>
        </div>
        
        <div class="info right">
        	<div class="desc">
            	<div class="desc-heading"><div class="symbol"><?php  echo $this->translator->translator('b2b_company_profile_represented_by') ?></div></div>
                <div class="desc-body">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

						<?php
                            if ($this->companyDetails['full_name']):
                        ?>    
                    	<tr>
                            <th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_person') ?></th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['full_name'])?></td>
                        </tr>
						<?php
                            endif;	
                            if ($this->companyDetails['usr_address']):
                        ?>    
                        <tr>    
                        	<th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_address') ?></th>
                            <td width="69%">
							    <strong> <?php  echo $this->translator->translator('b2b_front_company_profile_street') ?> : </strong> <?php echo $this->escape($this->companyDetails['usr_address'])?> <br />
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_city') ?> :  </strong>  <?php echo  $this->escape($this->companyDetails['city'])?> <br />
                            	<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_state') ?> : </strong>  <?php  echo $this->escape($this->companyDetails['state'])?> <br />                            
								<strong> <?php  echo $this->translator->translator('b2b_front_company_profile_country') ?> : </strong>  <?php  echo $this->escape($this->companyDetails['country_name'])?> 
                                <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['country_name'] ?>" /> <br />
                            </td>
                        </tr>
						<?php
                            endif;	
                            if ($this->companyDetails['user_zip']):
                        ?>    
                        <tr>    
                            <th width="31%"><?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['user_zip'])?></td>
                      	</tr>
						<?php
                            endif;	
						if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {	
                            if ($this->companyDetails['usr_phone']):
                        ?>    
                       	<tr>     
                            <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_telephone') ?></th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['usr_phone'])?></td>
                    	</tr>
						<?php
                            endif;	
						}
						if (!empty( $this->preferences_data['show_fax']))  {
                            if ($this->companyDetails['usr_fax']):
                        ?>    
                        <tr>
                            <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_fax') ?></th>
                            <td width="69%"><?php  echo $this->escape($this->companyDetails['usr_fax'])?></td>
                      	</tr>
						<?php
                            endif;	
						}
						if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {
                            if ($this->companyDetails['usr_mobile']):
                        ?>    
                        <tr>    
                            <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_mobile') ?></th>
                            <td width="69%"> <?php  echo $this->escape($this->companyDetails['usr_mobile'])?> </td>
                        </tr>    
						<?php
                            endif;	
						}
						if ($this->companyDetails['is_website']  == 'YES'  &&  ! empty( $this->preferences_data['show_website']))   {
                            if ($this->companyDetails['usr_website']):
                        ?>   
                        <tr>  
                            <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_website') ?></th>
                            <td width="69%"><a href="" target="_blank"><?php  echo $this->escape($this->companyDetails['usr_website'])?></a></td>
                        </tr>
						<?php
                            endif;	
						}
                        ?>   
                                               
                    </table>
                </div>    
        	</div>
        </div>
        
        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo $this->translator->translator('common_google_map_view') ?></div></div>
            <div class="desc-body">           					
					
				<script>
                    runGoogleMap(settingObj);
                </script>
                <div style="width:813px;height:400px;"><div id="map-canvas"></div></div>        
                <div>
                    <input id="address" type="text" value="<?php echo $this->companyDetails['company_street'].','.$this->companyDetails['company_city'].','.$this->companyDetails['company_country_name']; ?>">
                    <input type="button" value="<?php echo $this->translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(settingObj)">
                    <input type="button" value="<?php echo $this->translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(settingObj)">
                  </div>
						
            </div>    
        </div>
        
    	<div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo $this->translator->translator('b2b_company_profile_production') ?></div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

                    <?php
                        if ($this->companyDetails['production_capacity']):
                    ?>                   
                    <tr>
                        <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_capacity') ?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['production_capacity'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['factory_location']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_factory_location') ?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['factory_location'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['factory_size']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_factory_size') ?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['factory_size'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['number_of_employees']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_employees') ?></th>
                        <td width="69%"><?php  echo $this->escape( str_replace('_' , ' ', $this->companyDetails['number_of_employees'])) ;?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['nearest_ports']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo $this->translator->translator('b2b_company_profile_nearest_ports') ?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['nearest_ports'])?></td>
                    </tr>
					<?php
                        endif;	
                    ?>                      
                                                            
                </table>
            </div>    
        </div>
        
        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo $this->translator->translator('b2b_company_profile_trade_market') ?></div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
					<?php
                        if ($this->companyDetails['main_markets']):
                    ?>                                      
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_main_markets')?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['main_markets'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['selling_categories']):
                    ?>                    
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_major_selling');?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['selling_categories'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['buying_categories']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_major_buying')?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['buying_categories'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['annual_revenue']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?></th>
                        <td width="69%"><?php  echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['export_market']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_export_market')?></th>
                        <td width="69%"><?php  echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['export_market'])) ; ?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['annual_sales']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?></th>
                        <td width="69%"><?php  echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
                    </tr>

					<?php
                        endif;	
                        if ($this->companyDetails['establishing_year']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_establishment')?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['establishing_year']) ;?></td>
                    </tr>           

					<?php
                        endif;	
                        if ($this->companyDetails['registered_in']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_keywords_operating_since')?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['registered_in']) ;?></td>
                    </tr>                                       
					<?php
                        endif;	
                        if ($this->companyDetails['overseas_office']):
                    ?>                      
                    <tr>    
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_overseas_office')?></th>
                        <td width="69%"><?php  echo $this->escape($this->companyDetails['overseas_office'])?></td>
                    </tr>
					<?php
                        endif;	
                    ?>
                </table>
            </div>    
        </div>
        
        <div class="clear">&nbsp;</div>

    </div>
</div>