<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
?>

<script>
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

 });
 
</script>

<div class="mod">

	<div class="clear"></div>

    <div class="product-details">
        <h1><a href="#"><?php echo $this->companyDetails['company_name'] ?> GPS Tracker, TK-102, Mini Global Real Time 4 bands...</a></h1>
        <br /> 
        2012 NEW arrival HD 7 inch GPS navigation with Sirf 800MHZ + Microsoft Windows CE 6.0+ Bluetooth+ AV-IN+4GB flashroom...<br />
        
        <div class="slideshow-container">
            <!-- Slideshow Start -->
            <div class="slideshow">
                Slideshow will appear here...
            </div>
            <!-- Slideshow End -->
        
            <!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5178ebc55086e7f7"></script>
			<!-- AddThis Button END -->
        </div>
        
        <div class="details">
            <div class="products-stars">
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-active.png" border="0"/>
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-active.png" border="0"/>
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-active.png" border="0"/>
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-active.png" border="0"/>
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/star-inactive.png" border="0"/>
            </div>
            
            <div class="price">US $ 700</div> &nbsp;&nbsp; <span class="previous-price">US $850</span><br />
            <span class="order-btn"><a href="">Place Order</a></span>
            
            <div class="product-catalog">
                <ul>
                	<li>
                    	<p>Pieces</p>
                        <span>1000</span>
                    </li>
                    <li>
                    	<p>FOB (Trade Term)</p>
                        <span>Hong Kong</span>
					</li>
                    <li class="last">
                    	<p>Products Status</p>
                        <span>Stock</span>
                    </li>
                </ul>
            </div>
            
            <div class="certificate">
            	Supplier: <a href="">Vector Technology Ltd.</a>
                <ul>
                	<li><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/gold.png" border="0"/>Gold Member</li>
                    <li><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/gold.png" border="0"/>Gold Member</li>
                    <li><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/gold.png" border="0"/>Gold Member</li>
                    <li><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/gold.png" border="0"/>Gold Member</li>
                    <li><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/gold.png" border="0"/>Gold Member</li>
                </ul>
            </div>
            <hr />
            <span>Post Date:</span> Oct 04, 2012<br />
            <span>Product ID :</span> 594866098<br />
            <span>Country Of Origin/Manufacture :</span> United States of America<br />
            <span>Minimum Order Quantity :</span> 1000 Piece<br />
            <span>Postage :</span> See Item Description<br />
            <span>Payment Type:</span> T/T, Western Union, Money Gram<br />
            <span>Keywords :</span> TRACTOR,USED AGRICULTURAL MACHINERY<br />
            <span class="contact"><a href="#">Contact Seller</a></span> &nbsp;
            <span class="inquire"><a href="#"><span class="icon">Send Inquiry Now</span></a></span>
        </div>
        
        <div class="desc">
            <div class="desc-heading"><div class="symbol">Product Description</div></div>
            <div class="desc-body">
                <strong>Composition of peanut</strong><br /><br />
                <strong>Lowering Cholesterol level</strong> <br />
                In peanut, there are a lot of unsaturated fatty acids, oleic acids and linoleic acids and it has the efficacy of lowering cholesterol level and preventing arteriosclerosis.<br /><br />
                <strong>Anti-Aging</strong><br />
                Vitamin E in peanut acts as a anti-oxidants and shows excellent effect for skin care and anti-aging.<br /><br />
                <strong>Diabetes Prevention and Treatment</strong><br />
                <a href="" class="more">More Details...</a>
            </div>    
        </div>
        
        <!-- Tab Start-->	          
        <div id="usual" class="usual">
            <ul>
                <li><a class="selected" href="#tab1">More Details</a></li>
                <li><a class="" href="#tab2">More Photos (10)</a></li>
                <li><a class="" href="#tab3">Brochure</a></li>
                <li><a class="" href="#tab4">Map</a></li>
                <li><a class="" href="#tab5">Company Profile</a></li>
                <li><a class="" href="#tab6">Policies</a></li>
                <li><a class="" href="#tab7">Reviews</a></li>
                <li><a class="" href="#tab8">Contact Details</a></li>
            </ul>
        </div>
        <div class="usual-content">
        	<div style="display: block;" id="tab1">        		
                Peanut is a kind of nut having low glycemic index and it suppresses the increase of blood sugar. Taking a small amount after eating can give helps to prevent diabetes.<br /><br />
                <strong>Brain development promotion</strong><br />
                Peanuts contains a lot of lecithin, B vitamins and if it is taken by the children in growing stage, it shows efficacy to maintain clear head.<br /><br />
                In addition to this, peanuts has excellent efficacy in constipation prevention, blood pressure adjustment, heart disease prevention, liver disease prevention.<br /><br />
                <strong>What is WOODO Peanut?</strong><br />
                WOODO peanut is a peanut which can be seen only in WOODO, island in island, in Jeju island representing clean area in Korea.<br /><br />
                WOODO peanut is a product made by the combination of nature and man produced by the WOODO's unique soil where water is not stagnating well, a rough sea breeze and strong sunlight and pesticide-free farming and it is boasting deep flavor which cannot be tasted in the peanuts produced in other region. In addition, it has exotic look and small and rounded shape which makes it be separated from other peanuts and clear distinction is possible with the naked eye.<br /><br />
                <strong>What is the WOODO Golden Peanut?</strong><br />
                is the peanuts produced by 'Gold organic-modification technology' which fertilizes water, the gold water, which was purified by electroplating gold into particle smaller than nanoparticle on WOODO peanut for three times.<br /><br />
                Gold is a kind of metal and it cannot be absorbed in human body. So, the large gold particle as large as the common edible gold is emitted from the body immediately after it enters into the human body where as the gold ingredient in WOODO peanut which is smaller than nanoparticle stays in human body for long time and it shows the efficacy such as anti-oxidation, immunity strengthening, etc.
			</div>
            
            <div style="display: block;" id="tab8">
           		<h2>Contact Information</h2>
                <hr />
                <div class="list-chart">
                	<ul>
                    	<li><span>Company :</span><strong>Huiye Hardware & Electrical Equipment Company Ltd</strong></li>
                    	<li><span>Contact Person :</span><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="100" border="0" class="" />Azuwa B2B  / Marketing Manager</li>
                        <li><span>Street Add :</span>Room 7017-7019, Mordern city, Changzhou, Jiangsu, China</li>
                        <li><span>Postcode :</span>213003</li>
                        <li><span>Enterprise Address:</span>Room 7017-7019,Mordern city, Changzhou, Jiangsu, China , changzhou , jiangsu </li>
                        <li><span>Phone :</span>86 - 0750 - 3823809</li>
                        <li><span>Fax :</span>86 - 0750 - 3823819</li>
                        <li><span>Email :</span><a href="mailto:you@yourmail.com">you@yourmail.com</a></li>
                        <li><span>Skype :</span><a href="callto://skypeId">skypeId</a></li>
                        <li><span>Website :</span><a href="http://yourdomain.com" target="_blank">yourdomain.com</a></li>
                    </ul>
                </div>
                
               	<div class="clear">&nbsp;</div>
                <div class="desc form-element">
            		<div class="desc-heading"><div class="symbol">Please send your message to us</div></div>
                    <div class="desc-body">
                   		<div class="infoMess"><span class="star_class">*</span> We will reply your inquiry to this Email as soon as we see it. (All fields are required.)</div>
                        <div class="clear">&nbsp;</div> 
                        <div id="actionMessage"></div>
                        <form name="contactForm" id="contactForm" method="post" enctype="multipart/form-data">
                            <div class="group">
                                <label for="email">
                                    Your E-mail
                                </label>
                                <div class="control-element">
                                    <input name="email" id="email" type="text" class="input-large" placeholder="Write E-mail in correct format"/>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        
                            <div class="group">
                                <label for="name">
                                    Your Name
                                </label>
                                <div class="control-element">
                                    <input name="name" id="name" type="text" class="input-large"/>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        
                            <div class="group">
                                <label for="phone_part1">
                                    Phone Number
                                </label>
                                <div class="control-element">
                                    <input name="mobile" id="phone_part1" type="text" class="input-mini"/> - 
                                    <input name="mobile" id="phone_part2" type="text" class="input-mini"/> - 
                                    <input name="mobile" id="phone_part3" type="text" class="input-medium"/>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        
                            <div class="group">
                                <label for="title">
                                    Title
                                </label>
                                <div class="control-element">
                                    <input name="title" id="title" type="text" class="input-xxlarge"/>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        
                            <div class="group">
                                <label for="message">
                                    Message
                                </label>
                                <div class="control-element">
                                    <textarea name="message" id="message" cols="" rows="5" class="input-xxlarge"></textarea>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        
                            <div class="group">
                                <div class="control-element">
                                    <label for="terms" class="inline">
                                        <input name="terms" type="checkbox" id="terms" value="" checked="checked"/><a href="">Agree to use terms of service</a>
                                    </label>
                                    <div class="form-field-info">
                                        <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php //echo $this->escape($this->productForm->category_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <span class="input-errors" id="company_name_err"></span>
                                </div>
                            </div>
                        </form>
                        
                        <div class="clear btn-container">
                            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>      
                        </div>
                    </div>    
        		</div>
            </div>
        </div>
                
        <script type="text/javascript">
            $("#usual ul").idTabs();
        </script>
        <!-- Tab End-->
    </div>
</div>