<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;


echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

$imageDir = $this->companyDetails['images_path'];
$banner_img = ($this->companyDetails['banner_img']) ? $this->companyDetails['banner_img'] : $this->companyDetails['preferance_images'];
$gallery_img = ($this->companyDetails['profile_image']) ? ($this->companyDetails['profile_image']) : 'avatar.png';
$galleryArray = explode(',', $gallery_img);
$companyImage = ($banner_img) ? $banner_img : $galleryArray [0]; 


if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }
if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title =  $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	

?>

<script>
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

 });
 
</script>

<div class="mod">
	<div class="clear"></div>
 
    <div class="company-details">
        <h1><?php echo $this->translator->translator('b2b_company_profile_welcome_note') . $this->escape($this->companyDetails['company_name']) ;  echo ($this->companyDetails['store_name']) ? ' ( '. $this->escape($this->companyDetails['store_name']) . ' ) ': ''?>  </h1>
        <br />
        <img src="<?php echo $imageDir .'/'. $companyImage ?>" alt="<?php echo $this->companyDetails['company_name'] ?>" border="0" height="100" class="thumb"/>
        <p>
            <?php  echo $this->escape($this->companyDetails['company_information']) ?>   
        </p>
        <br />
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <?php if ($this->companyDetails['is_social']  == 'YES')  {?>
        <!-- AddThis Button END -->
      	<div class="desc">
       		<div class="desc-heading"><div class="symbol"><?php  echo  $this->translator->translator('b2b_company_profile_company_social_link')?></div></div>
            <div class="desc-body">
                <div class="social">
                    <?php
                        if (strtoupper( $this->companyDetails['facebook_display']) == 'YES'):
                    ?>
                    <a href="https://www.facebook.com/<?php  echo $this->escape($this->companyDetails['facebook']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/facebook.png" width="41" height="41" border="0" title="Facebook"></a>
                    <?php
                        endif;	
                        if (strtoupper( $this->companyDetails['twitter_display']) == 'YES'):
                    ?>    
                    <a href="https://www.twitter.com/<?php  echo $this->escape($this->companyDetails['twitter']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/twitter.png" width="41" height="41" border="0" title="Twitter"></a>
                    <?php
                        endif;	
                        if (strtoupper( $this->companyDetails['googleplus_display']) == 'YES'):
                    ?>
                    <a href="https://plus.google.com/<?php  echo $this->escape($this->companyDetails['googleplus']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/google-plus.png" width="41" height="41" border="0" title="Google Plus"></a>
                    <?php
                        endif;	
                        if (strtoupper( $this->companyDetails['flickr_display']) == 'YES'):
                    ?>
                    <a href="https://www.flickr.com/<?php  echo $this->escape($this->companyDetails['flickr']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/rss.png" width="41" height="41" border="0" title="RSS"></a>
                    <?php
                        endif;	
                        if (strtoupper( $this->companyDetails['youtube_display']) == 'YES'):
                    ?>
                    <a href="https://www.youtube.com/<?php  echo $this->escape($this->companyDetails['youtube']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/youtube.png" width="41" height="41" border="0" title="You Tube"></a>
                    <?php
                        endif;	
                    ?>	
                </div>
            </div>
		</div>
        <?php } ?>
        
        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo  $this->translator->translator('permisson_b2b_frontend_company_details')?> </div></div>
            <div class="desc-body">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                
               		<?php
						if ($this->companyDetails['store_name']):
					?>
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_store_name')?> :</th>
                        <td width="69%"><a href="Company-Store/<?php echo $this->escape($this->companyDetails['seo_title']) ;?>"><?php echo $this->escape($this->companyDetails['store_name']) ;?></a></td>
                    </tr>
                	<?php
                    	endif;	
						if ($this->companyDetails['main_products']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_main_product')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['main_products']) . '<br />'. $this->escape($this->companyDetails['main_products_part1']) . '<br />'. $this->escape($this->companyDetails['main_products_part2']) . '<br />'. $this->escape($this->companyDetails['main_products_part3']) ;?></td>
                    </tr>
                	<?php
						endif;	
						if ($this->companyDetails['other_products']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_other_products')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['other_products']) ;?></td>
                    </tr>
                	<?php
						endif;	
						if ($this->companyDetails['selling_categories']):
					?>
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_major_selling');?> :</th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['selling_categories']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['buying_categories']):
					?>
                    
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_major_buying')?> :</th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['buying_categories']) ;?></td>
                    </tr>
                    
                    <?php
                    	endif;	
						if ($this->companyDetails['number_of_employees']):
					?>                    
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_employees')?> :</th>
                        <td width="69%"><?php echo $this->escape( str_replace('_' , ' ', $this->companyDetails['number_of_employees'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['company_category']):
					?>                      
                    
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_company_category')?> :</th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['company_category']) ;?></td>
                    </tr>
                    
                    <?php
                    	endif;	
						if ($this->companyDetails['legal_owner']):
					?>
                    <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_front_company_profile_person')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['legal_owner']) ;?></td>
                    </tr>
                    
 					<?php
                    	endif;
						if ($this->companyDetails['office_size']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_office_size')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace('_', ' ', $this->companyDetails['office_size'])); ?></td>
                    </tr>
					<?php
                    	endif;	
						if ($this->companyDetails['establishing_year']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_establishment')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['establishing_year']) ;?></td>
                    </tr>
                   
                    <?php
                    	endif;	
						if ($this->companyDetails['nearest_ports']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_nearest_ports')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['nearest_ports']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['avg_lead_time']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_leadtime')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['avg_lead_time']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['main_customers']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_main_customers')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['main_customers']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['annual_revenue']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
                    </tr>
                    
                    <?php
                    	endif;	
						if ($this->companyDetails['delivery_terms']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_delivery_terms')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['delivery_terms'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['avg_lead_time']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_leadtime')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['avg_lead_time']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['export_market']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_export_market')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['export_market'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['payment_currency']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_payment_currency')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['payment_currency'] ));?></td>
                    </tr>
                 	 <?php
                    	endif;	
						if ($this->companyDetails['payment_type']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_payment_type')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['payment_type'] ));?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['language']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_language')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['language'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['export_percentage']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_export_percentage')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace('-' , ' to ' ,$this->companyDetails['export_percentage'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
//						if ($this->companyDetails['escrow']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_export_escrow')?> : </th>
                        <td width="69%">
                            <?php if($this->escape($this->companyDetails['escrow']) == 1):  
                                    echo  $this->translator->translator('b2b_company_profile_export_escrow_yes'); 
                                else: 
                                    echo  $this->translator->translator('b2b_company_profile_export_escrow_no'); 
                                endif;?></td>
                    </tr>
                    <?php
//                    	endif;	
						if ($this->companyDetails['production_capacity']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_production_capacity')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['production_capacity']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['factory_location']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_factory_location')?> : </th>
                        <td width="69%"><?php echo $this->escape($this->companyDetails['factory_location']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['certification']):
					?>
                     <tr>
                        <th width="31%"><?php  echo  $this->translator->translator('b2b_company_profile_company_certification_new')?> : </th>
                        <td width="69%"><?php echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['certification'])) ;?></td>
                    </tr>
                  	 <?php
					 endif;
					?>
                </table>
            </div>    
        </div>
        
        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo  $this->translator->translator('b2b_company_profile_company_gallery')?></div></div>
            <div class="desc-body">
            	
                <?php for ($i=0; $i < count($galleryArray) ; $i++ ) {?>
                <div class="block-body">
                        <div class="block-content">
                            <a href="<?php echo $imageDir .'/'. $galleryArray[$i] ?>"><img src="<?php echo $imageDir .'/'. $galleryArray[$i] ?>" border="0" width="100" height="100" class="thumb" /></a>
                        </div>			
                </div>
                <?php }?>
                
            </div>    
      
        </div>
      
        <div class="desc">
            <div class="desc-heading"><div class="symbol"><?php  echo  $this->translator->translator('b2b_company_profile_company_certification')?></div></div>
            <div class="desc-body">
            	
                <?php 
				
				$compliance_img = $this->companyDetails['compliance_img'] ;

				foreach ($compliance_img as  $id => $compliance) {?>
                <div class="block-body">
                    <div class=""> 
                       <img src="application/layouts/scripts/b2b_default/images/b2b_img/<?php echo $compliance;?>" alt="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" title="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" border="0" width="40" height="40" class="thumb" />
                    </div>			
                </div>
                <?php }?>
                
            </div>    
      
        </div>
        
        <div class="desc form-element">
            <div class="desc-heading"><div class="symbol"><?php  echo  $this->translator->translator('b2b_company_profile_company_terms')?></div></div>
            <div class="desc-body">
                <div class="clear"></div> 
             
                <div class="infoMess"><strong> <?php  echo  $this->translator->translator('b2b_company_profile_company_policies')?> </strong> </div>
                <div class="desc"><?php echo $this->escape($this->companyDetails['policy']) ;?></div><br />

                <br />
                <div class="infoMess"><strong> <?php  echo  $this->translator->translator('b2b_company_profile_company_tos')?> </strong> </div>
                <div class="desc"><?php echo $this->escape($this->companyDetails['terms_condition']) ;?></div> <br />
				
                <br />
                <div class="infoMess"><strong> <?php  echo  $this->translator->translator('b2b_company_profile_company_payment_terms')?> </strong> </div>
                <div class="desc"><?php echo $this->escape($this->companyDetails['payment_method']) ;?></div> <br />

				<br />
                <div class="infoMess"><strong> <?php echo  $this->translator->translator('b2b_company_profile_company_qa')?> </strong> </div>
                <div class="desc"><?php echo $this->escape($this->companyDetails['QA_policy']) ;?></div> <br />
            </div>    
        </div>
    </div>
</div>