<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;
$per =  html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8");

$products_vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_products' );
$buying_vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_buying_leads' );
$selling_vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_selling_leads' );

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title = $this->translator->translator('b2b_meta_title_prefix_store') . ' '. $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	
	
	

if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }
	
?>
<script type="text/javascript">
    $(document).ready(function() {
        var productSettingObj = {
                            grid_id : 'grid',
                            height : '400',
							dest_url : "<?php echo $this->url( array('module' => 'B2b', 'controller' => 'company', 'action' => 'products' ,'company_title' => $this->company_title, 'browser_url' => 'no', 'request_from' => 'widget'), 'Company-Products/:company_title/*', true); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [ { field: "id" } ],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };						
					
						
        var sellingSettingObj = {

                            grid_id : 'sellingGrid',
							height : '400',
                            dest_url : "<?php echo $this->url( array('module' => 'B2b', 'controller' => 'company', 'action' => 'selling' ,'company_title' => $this->company_title, 'browser_url' => 'no', 'request_from' => 'widget'), 'Company-Selloffers/:company_title/*', true); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template_selling").html()),
                            model: {},					
                            column_fields: [{ field: "id" }],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        			
			
			};
						
						
        var buyingSettingObj = {
                            grid_id : 'buyingGrid',
							height : '400',
                            dest_url : "<?php echo $this->url( array('module' => 'B2b', 'controller' => 'company', 'action' => 'buying' ,'company_title' => $this->company_title, 'browser_url' => 'no', 'request_from' => 'widget'), 'Company-Buyoffers/:company_title/*', true); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template_buying").html()),
                            model: {},					
                            column_fields: [{ field: "id" }],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
								
						
        commonGrid(productSettingObj);
		commonGrid(sellingSettingObj);
		commonGrid(buyingSettingObj);
    });
    function text_truncate()
    {
        $('div.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
    </script>
	<script type="text/x-kendo-template" id="view_template">
	
	 # if(seo_title) { # 
	 
            <div class="list-view">
                <div class="img-wrapper">
                    <a href="Product-Details/#=company_title#/#=seo_title#"><img src="#= product_images_primary_format #" border="0" class="thumb"  height="100" width="100"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count">
                            <a href="\\#" title="">#= product_images_num_format  #</a>
                        </div>
                    </div>
                </div>
				<div class="details">
                    <h3><a href="Product-Details/#=company_title#/#=seo_title#">#= name #</a></h3>

					#
				 		if(short_description){ 
			  		#
						<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, 'UTF-8'); ?></span> : #= commonStripslashes (short_description) # <br /> 
                    # 
						} 
						if(price){
					#	
						# var currencyType = price_currency.split("-"); #
                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_front_product_price'), ENT_QUOTES, 'UTF-8');  ?> : #= currencyType[0] #  #= price # #if (strikethrough_price) {#  (<strike> #= strikethrough_price # </strike>) #}# <?php echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, 'UTF-8'); ?>    #= price_per_unit #</div>
					# 
						} 
						if(brand_name){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, 'UTF-8'); ?> </span>  :  #= brand_name # <br />
										
					# 
						} 
						if(time_of_expiry){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_product_time_of_expiry'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= time_of_expiry # <br />
					# 
						} 
						if(delivery_leadtime){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_delivery_leadtime'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= delivery_leadtime # <br />					

					# 
						} 
						if(specifications){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_product_specifications'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= specifications # <br />					


					# 
						} 
						if(min_quantity){
					#	

                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_product_min_quantity'), ENT_QUOTES, 'UTF-8'); ?> </span>  :  #= min_quantity # <?php echo $per ?> #= min_unit_type #  <br />

					# 
						} 
						if(payment_terms){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, 'UTF-8'); ?></span> :  #= payment_terms #   <br />
							
					# 
						} 
						if(category_name){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_offer_category'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= category_name # <br />

												
					# 
						} 
						if(model_num){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_product_model_num'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= model_num # <br />
							
					# 
						} 

					#	
				</div>
				
				 <div class="info">
				  	<span><?php echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, 'UTF-8'); ?></span><hr />

                    <div class="products-vote">
                        <p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
                        <span>#= product_vote_format #</span>
                    </div>

					<div class="header-right"> 
						# if(review_id){ #     
		                <span class="products-review-count"><a href="Product-Details/#=company_title#/#=seo_title#/tab/5"><span>10</span> reviews</a></span> &nbsp; 
						<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">Write a review</a></span> 
						# } #
					</div>				  
								
					# 
						if(buying_categories){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_buying'), ENT_QUOTES, 'UTF-8'); ?> </span> :   #= buying_categories #  <br />

					# 
						} 
						if(registered_in){
					#

                    	<span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, 'UTF-8');?> </span>  :  #= registered_in # <br />                    

					# 
						}
						<?php if ($this->preferences_data['show_phone']) {?> 
						if(phone && user_id && is_telephone === 'YES'){
					#
						
                   	 <div class="call"> #= phone # - #= phone_part2 # - #= phone_part3 #  </div>

					# 
						}
						<?php } if ($this->preferences_data['show_inquiry_btn']) {?>
						if(is_feedback === 'YES'){ 
					#	
					
                    <div class="inquire"><a href="Inquiry/#= company_title #"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
					# 
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){
					#
                    <span class="contact"><a href="Company-Contact/#= company_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8")?></a></span>
					# 
						}
						<?php } ?> 
					# 
				 </div>	
                 
                <hr /> 
                <span class="review-count"><a href="Product-Details/#=company_title#/#=seo_title#/tab/5"><span>#= review_no_format #</span> reviews</a></span> &nbsp; 
				<span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">Write a review</a></span> &nbsp; | 
				<a href="Product-Details/#=company_title#/#=seo_title#/tab/2"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8"); ?></a> | 

				<a href="Product-Details/#=company_title#/#=seo_title#"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8"); ?></a> |
            </div>
			
			# } #
    </script>
    
    
    
    <script type="text/x-kendo-template" id="view_template_selling">
	
	 # if(seo_title) { #
	 
            <div class="list-view">
                <div class="img-wrapper">
                    <a href="Selloffer-Details/#=company_title#/#=seo_title#"><img src="#= primary_file_field_format #" border="0" class="thumb"  height="100" width="100"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count">
                            <a href="\\#" title="">#= others_images_num_format  #</a>
                        </div>
                    </div>
                </div> 
				<div class="details">
                    <h3><a href="Selloffer-Details/#=company_title#/#=seo_title#">#= name #</a></h3>
					
					#
				 		if(description){ 
			  		#
						<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, 'UTF-8'); ?></span> : #= commonStripslashes (description) # <br /> 
                    # 
						} 
						if(price){
					#	
						# var currencyType = price_currency.split("-"); #
                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_fontend_buying_price'), ENT_QUOTES, 'UTF-8');  ?> : # if (currencyType[0] != 0 ) { #  #= currencyType[0]#  #}#  #= price # #if (strikethrough_price) {#  (<strike> #= strikethrough_price # </strike>) #}#  <?php echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8"); ?> #= price_per_unit #</div>
					# 
						} 
						if(shipping){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, 'UTF-8'); ?> </span>  :  #= shipping # <br />
										
					# 
						} 
						if(validity){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= validity # <br />
					# 
						} 
						if(delivery){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_delivery_leadtime'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= delivery #  #= delivery_leadtime # <br />					
					# 
						} 
						if(place_of_origin){
					#	

                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_selling_offer_madein'), ENT_QUOTES, 'UTF-8'); ?> </span>  :  #= place_of_origin #  <br />
							
					# 
						} 
						if(quantity){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_minimum_order_qty'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= quantity #  #= qty_per_unit #   <br />
							
					# 
						} 
						if(payment_type){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, 'UTF-8'); ?></span> :  #= payment_type #   <br />
							
					# 
						} 
						if(category_name){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= category_name # <br />
	
																
					# 					
						} 
						if(added_on){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= added_on # <br />
							
					# 
						} 

					#	
				</div>
				
				 <div class="info">
				  	<span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, 'UTF-8');?></span><hr />

                    <div class="products-vote">
                        <p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
                        <span>#= selling_vote_format #</span>
                    </div>

					<div class="header-right"> 
						# if(review_id){ #                                         
						<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
						<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${company_title}/10">#= review_no_format #</a></span>
						# } #
					</div>	

					# 
						if(selling_categories){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_selling'), ENT_QUOTES, 'UTF-8');?> </span> :   #= selling_categories #  <br />

					# 
						} 
						if(registered_in){
					#

                    	<span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, 'UTF-8');?> </span>  :  #= registered_in # <br />                    

					# 
						} 
						<?php if ($this->preferences_data['show_phone']) {?>
						if(phone && user_id && is_telephone === 'YES'){
					#
						
                   	 <div class="call"> #= phone # - #= phone_part2 # - #= phone_part3 #  </div>

					# 
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){	
					#	
					
                    <div class="inquire"><a href="Inquiry/#= company_title #"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
					#
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){
					#
                    <span class="contact"><a href="Company-Contact/#= company_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8")?></a></span>
					#
						}
						<?php } ?>	
					#
				 </div>	
                 
                <hr /> 
                <span class="review-count"><a href="Selloffer-Details/#=company_title#/#=seo_title#/tab/3">#= review_no_format #</a>
				</span> &nbsp; <span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a> |
				</span> &nbsp; | <a href="Selloffer-Details/#=company_title#/#=seo_title#/tab/2"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8"); ?></a> | 
				<a href="Selloffer-Details/#=company_title#/#=seo_title#"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8"); ?></a>

            </div>
			
			# } #
    </script>
    
    <script type="text/x-kendo-template" id="view_template_buying">
	
	 # if(seo_title) { # 
	 
            <div class="list-view">
                <div class="img-wrapper">
                    <a href="Buyoffer-Details/#=company_title#/#=seo_title#"><img src="#= primary_file_field_format #" border="0" class="thumb"  height="100" width="100"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count">
                            <a href="\\#" title="">#= others_images_num_format  #</a>
                        </div>
                    </div>
                </div>
				<div class="details">
                    <h3><a href="Buyoffer-Details/#=company_title#/#=seo_title#">#= name #</a></h3>

					#
				 		if(description){ 
			  		#
						<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, 'UTF-8'); ?></span> : #= commonStripslashes (description) # <br /> 
                    # 
						} 
						if(price){
					#	
						# var currencyType = price_currency.split("-"); #
                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_fontend_buying_price'), ENT_QUOTES, 'UTF-8');  ?> : #= currencyType[0] #  #= price # <?php echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8"); ?> #= price_per_unit #</div>
					# 
						} 
						if(shipping){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, 'UTF-8'); ?> </span>  :  #= shipping # <br />
										
					# 
						} 
						if(validity){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= validity # <br />
					# 
						} 
						if(delivery){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_delivery_leadtime'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= delivery #  #= delivery_leadtime # <br />					
												
					# 
						} 
						if(quantity){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_quantity'), ENT_QUOTES, 'UTF-8'); ?> </span> :  #= quantity #  #= qty_per_unit #   <br />
							
					# 
						} 
						if(payment_type){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, 'UTF-8'); ?></span> :  #= payment_type #   <br />
							
					# 
						} 
						if(category_name){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= category_name # <br />

												
					# 
						} 
						if(added_on){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, 'UTF-8'); ?>  </span> : #= added_on # <br />
							
					# 
						} 

					#	
				</div>
				
				 <div class="info">
				  	<span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, 'UTF-8');?></span><hr />

                    <div class="products-vote">
                        <p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
                        <span>#= buying_vote_format #</span>
                    </div>

					<div class="header-right"> 
						# if(review_id){ #                                         
			                <span class="products-review-count"> <a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/3"><span>10</span> reviews</a> &nbsp; </span>
							<span class="products-write-review"> <a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; |
						# } #
					</div>	
					# 
						if(buying_categories){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_buying'), ENT_QUOTES, 'UTF-8');?> </span> :   #= buying_categories #  <br />

					# 
						} 
						if(registered_in){
					#

                    	<span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, 'UTF-8');?> </span>  :  #= registered_in # <br />                    

					# 
						} 
						<?php if ($this->preferences_data['show_phone']) {?>
						if(phone && is_telephone === 'YES'){
					#
                   	 <div class="call"> #= phone # - #= phone_part2 # - #= phone_part3 #  </div>
					# 
						} 
						<?php } if ($this->preferences_data['show_inquiry_btn']) {?>
						if(is_feedback === 'YES'){
					#	
						<div class="inquire"><a href="Inquiry/#= company_title #"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
                    #
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){
					#
						<span class="contact"><a href="Company-Contact/#= company_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8")?></a></span>
					#
						}
						<?php } ?>	
					#
				 </div>	
                 
                <hr /> 
                <span class="review-count"><a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/3"><span>10</span> reviews</a> </span>
				&nbsp; <span class="write-review"> <a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; | 
				<a href="Buyoffer-Details/#=company_title#/#=seo_title#/tab/2"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8"); ?></a> &nbsp; | 
				<a href="Buyoffer-Details/#=company_title#/#=seo_title#/"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8"); ?></a> &nbsp; | 
            </div>
			
			# } #
    </script>
    <div class="mod">
           
        <div class="cat-container">
            <div class="list-icon">
            	
                <h1> 
				<?php 
				$storeName = ($this->companyDetails['store_name'])	? $this->companyDetails['store_name'] : $this->escape($this->companyDetails['company_name']);
				echo $this->translator->translator('b2b_company_profile_welcome_note') . ' ' . $storeName  . ' ' . $this->translator->translator('b2b_front_product_store') ; 
				?>
                </h1>
            </div>
            <div class="clear"></div>
            <hr/>
            
        </div>
    
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        <h3>
			<?php 
            	echo html_entity_decode($this->translator->translator('b2b_company_profile_product_list'), ENT_QUOTES, 'UTF-8'); 
            ?>
         </h3>            
			<div id="grid"></div>  
            
         <div> &nbsp; </div>
            
            <h3>
			<?php 
            	echo html_entity_decode($this->translator->translator('b2b_front_selling_offer_list'), ENT_QUOTES, 'UTF-8'); 
            ?>
         </h3>   
			<div id="sellingGrid"></div>  
            
         <div> &nbsp; </div>            
            <h3>
			<?php 
            	echo html_entity_decode($this->translator->translator('b2b_front_buying_offer_list'), ENT_QUOTES, 'UTF-8'); 
            ?>
         </h3>   
			<div id="buyingGrid"></div>  

       	</div>
        
    </div>
    