<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/accordion.css');

function rating($rate) {
    $r = '';
    for ($i = 0; $i < $rate; $i++) {
        $r.='<span class="glyphicon glyphicon-star"></span> ';
    }
    return $r;
}

$available_hotels = array();
$cancelPolicy = array();
$available_hotels = $this->view_datas['availableHotels'];
$cancelPolicy = $this->cancelPolicy; 
?>
<div class="mod details">
    <h1> <?php echo $this->info['name']; ?></h1><br><br>
    <span class='glyphicon glyphicon-map-marker'></span> <?php echo $this->info['address']; ?><br>
    <div class="ratings"><?php echo rating($this->info['rating']); ?></div>
    <p class="text-justify"><?php echo $this->info['info']; ?></p>
    <hr>
    <div class="call"><span class="glyphicon glyphicon-phone"></span> Cell: <?php echo $this->info['phone']; ?></div>
    <hr>
    <?php
    $imgs = explode(",", $this->info['image']);
    ?>
    <img class="img-thumbnail center-block" src="<?php echo $imgs[0]; ?>" alt="<?php echo $this->info['name']; ?>"> <hr>
    <?php
    foreach ($imgs as $img) {
        ?>
        <img src="<?php echo $img; ?>" alt="<?php echo $this->info['name']; ?>" height="100" width="100" class="img-thumbnail">
	<?php } ?>
    <br>
    <section class="ac-container">
    <?php
		//print_r($available_hotels);
		
    ?>
    <?php for($i = 0; $i < count($available_hotels); $i++): ?>
    <?php 

    $availableRooms = $available_hotels[$i]['rooms']; 
    $currency = $available_hotels[$i]['currency'];
    $totalAmount = $available_hotels[$i]['totalSalePrice'];
	$checked_data = ($i == '0') ? 'checked="checked"' : '';
    ?>
        <div>
            <input id="ac-<?php echo $i; ?>-0" name="accordion-0" type="radio" <?php echo $checked_data ?>>
            <label for="ac-<?php echo $i; ?>-0"><a class="preview" link="" title="<?php echo $availableRooms[0]['roomCategory']; ?>"><?php echo $availableRooms[0]['roomCategory']; ?></a></label>
            <article class="ac-auto">
                <ul class="list-group">								
                    <li class="list-group-item text-center">
                    	Board Type: <span class="label label-success"><?php echo $available_hotels[$i]['boardType']; ?></span>
                    </li>
                    
                    <li class="list-group-item text-center">
                        <a class="preview" link="" title="<b>Max People :</b> 2 per room"></a>
                        <div class="text-center">
                            <?php $adult = 0; $child = 0; ?>
                            <?php foreach($availableRooms[0]['paxes'] AS $paxType): ?>
                                <?php if($paxType['paxType'] == "Adult"): ?>
                                <img src="data/frontImages/hotels/adult.png" border="0" height="30" title="<?php echo '1 ' . $paxType['paxType']; ?>">
                                <?php else: //if($paxType['paxType'] == "Adult"): ?>
                                <img src="data/frontImages/hotels/child.png" border="0" height="20" title="<?php echo '1 ' . $paxType['paxType']; ?>">
                                <?php endif; //if($paxType['paxType'] == "Adult"): ?>
                            <?php endforeach; ?>
                        </div>
                    </li>
                    
                    <li class="list-group-item text-center">
                    	<ul class="list-group">
                        <?php foreach($availableRooms[0]['ratesPerNight'] AS $rate): ?>
                        	<li class="list-group-item">Rate for <?php echo date("d M", strtotime($rate['date'])); ?> is <span class="label label-warning"><?php echo $currency . ' ' . number_format($rate['amount'],2); ?></span></li>
                        <?php endforeach; ?>
                        </ul>
                        <span class="price">Total Price: <?php echo $currency . ' ' . $totalAmount; ?></span>
                        <!--<span class="hotel-price">  </span>-->
                       	<!--<a class="text-right chart-link" href="javascript:void(0)" onclick="showrate(0);">View fee details</a>-->
                        <br><br>
                        <?php
                        foreach($cancelPolicy['cancellationPolicy'] AS $canPolicy):
                            if($canPolicy['cancellationDay'] > 250):
                            ?>
                                <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> Non-refundable Policy (Applicable Charge: <?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                            <?php
                            elseif($canPolicy['cancellationDay'] == 0):
                                ?>
                                <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> No-show Policy (Applicable Charge: <?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                                <?php
                            else:
                                ?>
                                <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> Cancellation Policy (Applicable Charge: <?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                                <?php
                            endif;
                        endforeach;
                        ?>
                        <!-- PRICE END -->
                        <?php $arrRoom = base64_encode(Zend_Json_Encoder::encode ($available_hotels[$i])); ?>
                    </li>
                    
                    <li class="list-group-item text-center">
                        <?php // $book_link = $this->url(array('module' => 'Hotels', 'controller' => 'hotelspro', 'action' => 'book', 'hotel_code' => $this->info['hotel_code'], 'process_id' => $single['processId']), 'Hotelspro-book/*', true); ?>
                        <a href="Hotelspro-book/<?php echo $this->info['hotel_code']; ?>/<?php echo $this->view_datas['availableHotels'][0]['processId']; ?>/<?php echo $this->search_id; ?>/<?php echo $arrRoom; ?>/<?php echo $this->country; ?>" target="_blank" class="btn btn-global"><span class="glyphicon glyphicon-shopping-cart"></span> Book Now</a>
                    </li>
                </ul>
            </article>
        </div>
    <?php endfor; //for($i = 0; $i < count($available_hotels['rooms']); $i++): ?>
    </section>
</div>