<?php
$this->headMeta()->setName('keywords', $this->translator->translator('hotels_front_page_api_search'));
$this->headMeta()->setName('description', $this->translator->translator('hotels_front_page_api_search'));
$this->headTitle()->headTitle($this->translator->translator('hotels_front_page_api_search'), 'SET');

echo $this->headScript()->setFile($this->baseUrl() . '/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl() . '/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet($this->baseUrl() . '/css/jqueryCSS/table-sorter/pagination_table.css');

$version = Zend_Registry::get('version');
$front_template = Zend_Registry::get('front_template');

function hotels_truncate($phrase, $start_words, $max_words) {
    $phrase_array = explode(' ', $phrase);
    if (count($phrase_array) > $max_words && $max_words > 0)
        $phrase = implode(' ', array_slice($phrase_array, $start_words, $max_words)) . '...';
    return $phrase;
}

$global_conf = Zend_Registry::get('global_conf');
?>


<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('hotels_front_page_dialog_name')); ?>"></div>
<?php
$allow_obj = new Hotels_View_Helper_Allow();
if (!$allow_obj->allowRule('view', null, null, $this->group_datas['role_id'])) :
    ?>

    <?php echo $this->translator->translator('Member_Access_deny_desc'); ?>

<?php else : ?>
<script>
    
    var settingObj = {};
        $(document).ready(function() {
            settingObj = {
                form_action: {
                    form_id: 'formHotelsPro',
                    hasTinyMCE: false,
                    // currency_symbol: "<?php //echo $currency->getSymbol();   ?>",
                    common_msg_field_id: 'actionMessage',
                    dialog_container_id: 'dialog_container',
                    dialog_progressbar_id: 'progressbar',
                    extra_field_for_reset: []
                },
                        messages: {
                            common_msg_dialog_id: 'dialog_msg',
                            common_confirn_dialog_id: 'dialog-confirm',
                            common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                            common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                            common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                         
                        }
            }
        });
    
        
    //    Ajax request for submitting form
        $(document).ready(function() {
                        $('#btnHotelepro').click(function() {

                            var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
                            $.ajax({
                                url: "<?php echo $this->url(array('module' => 'Hotels', 'controller' => 'hotelsprofront', 'action' => 'items'), 'adminrout', true) ?>",
                                type: 'POST',
                                data: formData,
                                beforeSend: function() {
                                    commonRemoveFormError(settingObj);
                                    commonOpenLoaderDialog(settingObj);
                                },
                                success: function(response) {
                                    //alert(response);	
                                    try
                                    {
                                        commonCloseLoaderDialog(settingObj);
                                        var json_arr = $.parseJSON(response);
                                        if (json_arr.status == 'ok'){
                                            $('#actionMessage').html(succMsgDesign(json_arr.msg));
                                            var count = json_arr.dataArr.availableHotels.length;
                                            var hotelHtml = '';
                                            hotelHtml += "<div class='row'>";
                                            if(count > 0){
                                                for(var i = 0; i < count; i++){
													hotelHtml += "<div class='col-md-6'>";
                                                    hotelHtml += "<div class='panel panel-default'>";
                                                    hotelHtml += "<div class='panel-heading'>";
													hotelHtml += "<a href='Hotelspro-details/" + json_arr.dataArr.availableHotels[i].hotelCode + "/"+ json_arr.dataArr.searchId +"/"+ json_arr.dataArr.clientCountry +"'>" + json_arr.dataArr.availableHotels[i].hotelInfoDb.name + "</a><br><em class='text-muted'>" + json_arr.dataArr.availableHotels[i].hotelInfoDb.address + "</em>";
													hotelHtml += "</div>";
													hotelHtml += "<div class='panel-body'>";
													hotelHtml += "<div class='row'>";
													hotelHtml += "<div class='col-md-4'>";
                                                    hotelHtml += "<figure class='text-center'><div class='img-thumbnail'><img class='img-responsive' src='" + json_arr.dataArr.availableHotels[i].hotelInfoDb.image + "'/></div></figure>";
													hotelHtml += "</div>";
													hotelHtml += "<div class='col-md-8 clearfix'>";
													hotelHtml += "<ul class='list-group'>";
                                                    hotelHtml += "<li class='list-group-item'><span class='glyphicon glyphicon-tag'></span> Hotel Code: " + json_arr.dataArr.availableHotels[i].hotelCode + "</li>";
                                                    hotelHtml += "<li class='list-group-item'><span class='glyphicon glyphicon-bookmark'></span> Hotel Name: <a href='Hotelspro-details/" + json_arr.dataArr.availableHotels[i].hotelCode + "/"+ json_arr.dataArr.searchId +"/"+ json_arr.dataArr.clientCountry +"'>" + json_arr.dataArr.availableHotels[i].hotelInfoDb.name + "</a></li>";
                                                    hotelHtml += "<li class='list-group-item'><span class='glyphicon glyphicon-map-marker'></span> Hotel Location: " + json_arr.dataArr.availableHotels[i].hotelInfoDb.address + "</li>";
													hotelHtml += "</ul>";
													hotelHtml += "</div>";
													hotelHtml += "</div>";
                                                    hotelHtml += "</div>";
													hotelHtml += "</div>";
													hotelHtml += "</div>";
                                                }
												hotelHtml += "</div>";
                                            } else {
                                                hotelHtml += "<div class='alert alert-danger'><span class='glyphicon glyphicon-exclamation-sign'></span> No result found matching your parameters. Please try again with different parameters.</div>";
                                            }
                                            
                                            $("#showHotels").html(hotelHtml);
                                        }
                                    }
                                    catch (error)
                                    {
                                        commonCloseLoaderDialog(settingObj);
                                        var error_arr = [error, response];
                                        var msg = commonErrMsgException(error_arr);
                                        $('#actionMessage').html(errMsgDesign(msg));
                                    }
                                },
                                error: function(xhr, status, error) {
                                    commonCloseLoaderDialog(settingObj);
                                    var msg = "Error! " + xhr.status + " " + error;
                                    $('#actionMessage').html(errMsgDesign(msg));
                                }
                            });
                        });
                    });



    //    Ajax request for submitting form

        
    
    
    $(document).ready(function() {
        autoSuggestion('location_for_search', "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'city': ''}, ['location_for_search', 'state_name', 'city', 'city', 'value'], '', 2);
        calender('check_in_search', 'check_out_search');
        calender('check_out_search', 'check_in_search');
    });
    
    function text_truncate()
    {
        $('div.jTruncate').jTruncate({
            length: 300,
            minTrail: 0,
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",
            ellipsisText: "",
            moreAni: "fast",
            lessAni: 2000
        });
    }
    function stripslashes(str)
    {
        str = str.replace(/\\'/g, '\'');
        str = str.replace(/\\"/g, '"');
        str = str.replace(/\\0/g, '\0');
        str = str.replace(/\\\\/g, '\\');
        return str;
    }
    function calender(id, second_id)
    {
        $("#" + id).datepicker({
            showOn: 'button',
            buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/calendar.png',
            buttonImageOnly: true,
            monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
            monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
            dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
            showAnim: 'slide',
            buttonText: 'Calender',
            dateFormat: 'yy-mm-dd',
            autoSize: false,
            showButtonPanel: false,
            changeMonth: true,
            changeYear: true,
            onSelect: function(dateText, inst) {
                var id_type_arr = id.split('_');
                var true_id = id_type_arr[0] + id_type_arr[1];
                var currentTime = new Date();
                var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
                var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
                var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;
                if (true_id == 'checkin')
                {
                    if ((dateText != '') && ((toTimestamp(dateText) >= toTimestamp($('#' + second_id).val())) || (toTimestamp(dateText) < toTimestamp(today))))
                    {
                        var msg = "<?php echo $this->translator->translator('hotels_front_page_checkin_date_err'); ?>";
                        openMsgDialog(msg);
                        $('#' + id).val('');
                    }
                    if (!is_30dayDiff(dateText, $('#' + second_id).val()))
                    {
                        var msg = "<?php echo $this->translator->translator('hotels_front_page_date_difference_err'); ?>";
                        openMsgDialog(msg);
                        $('#' + id).val('');
                    }
                }
                else if (true_id == 'checkout')
                {
                    if ((dateText != '') && ((toTimestamp(dateText) <= toTimestamp($('#' + second_id).val())) || (toTimestamp(dateText) < toTimestamp(today))))
                    {
                        var msg = "<?php echo $this->translator->translator('hotels_front_page_checkout_date_err'); ?>";
                        openMsgDialog(msg);
                        $('#' + id).val('');
                    }
                    if (!is_30dayDiff($('#' + second_id).val(), dateText))
                    {
                        var msg = "<?php echo $this->translator->translator('hotels_front_page_date_difference_err'); ?>";
                        openMsgDialog(msg);
                        $('#' + id).val('');
                    }
                }
            }
        });
        $("img[class='ui-datepicker-trigger']").each(function() {
            $(this).attr('style', 'float: none !important; margin-left: 10px !important;');
        });
    }
    function toTimestamp(strDate) {
        var datum = Date.parse(strDate);
        return datum / 1000;
    }
    function is_30dayDiff(checkin, checkout)
    {
        if (checkin != '' && checkout != '')
        {
            var checkin_arr = checkin.split('-');
            var checkout_arr = checkout.split('-');
            var checkin_obj = new Date(checkin_arr[0], (checkin_arr[1] - 1), checkin_arr[2]);
            var checkout_obj = new Date(checkout_arr[0], (checkout_arr[1] - 1), checkout_arr[2]);
            var one_day = 1000 * 60 * 60 * 24;
            var diff = Math.ceil((checkout_obj.getTime() - checkin_obj.getTime()) / (one_day));
            if (diff > 30)
            {
                return false;
            }
        }
        return true;
    }
    
    
    function openMsgDialog(msg)
    {
        $('#dialog_container').html(msg).dialog({
            autoOpen: true,
            modal: false,
            show: 'explode',
            resizable: true,
            buttons: [{text: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>", click: function() {
                        $(this).dialog('option', 'hide', 'explode').dialog("close");
                    }}],
            open: function(event, ui)
            {
                setTimeout(function()
                {
                    if ($('#' + event.target.id).dialog('isOpen'))
                    {
                        $('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');
                    }
                }, 10000);
            }
        });
    }

    

    function removeErrorExpedia()
    {
        var filename = '';
        var filevalue = '';
        $.each($('#expediaForm').serializeArray(), function(i, field) {
            if (field.name.match(/\[\]$/))
            {
                var filearr = field.name.split('[]');
                filename = filearr[0];
            }
            else
            {
                filename = field.name;
            }
            $('input[name="' + filename + '"]').removeClass('ui-state-error');
        });
    }
    
    
    function generateAgeDiv(count,id){
        var childHtml = '';
        
                            
        for(var i = 0; i < count; i++){
            childHtml += '<div class="col-md-2">';
            childHtml += '<div class="form-group">';
            childHtml += '<label for="child_age">';
            childHtml += '<?php echo $this->translator->translator('hotels_api_expedia_search_box_age_label'); ?>';
            childHtml += '</label><br>';
            childHtml += '<select name="child-age-'+ id +'['+ i +']" class="form-control">';
            childHtml += '<option value="">---</option>';
            for(var a = 1; a < 18; a++){
                childHtml += '<option value="'+ a +'">'+ a +'</option>';
            }
            childHtml += '</select>';
            childHtml += '</div>';
            childHtml += '</div>';
        }
        
        $("#child-age-" + id).html(childHtml);
    }
    
    
    function generateRoomDiv(){
        var count = $('div.booking-room-div').length;
        var roomDivHtml = '';
        if(count+1 >= 6){
            
        } else {
            roomDivHtml += '<div class="row"><div class="col-md-12"><div class="booking-room-div callout orange clearfix">';
            roomDivHtml += '<div class="row">';
            roomDivHtml += '<div class="col-md-12">';
            roomDivHtml += '<div class="room-no">';
            roomDivHtml += '<span><strong><?php echo $this->translator->translator('hotels_api_expedia_search_room'); ?>-'+ (count+1) +'</strong></span>';
            roomDivHtml += '<button type="button" id="remove-room-8" class="remove_btn close" aria-hidden="true">&times;</button>';
            roomDivHtml += '</div>';
            roomDivHtml += '</div>';
            roomDivHtml += '</div>';
            roomDivHtml += '<div class="row">';
            roomDivHtml += '<div class="col-md-3">';
            roomDivHtml += '<div class="form-group">';
            roomDivHtml += '<label for="adult"><?php echo $this->translator->translator('hotels_api_expedia_search_box_adult_label'); ?><span class="star_class">*</span></label><br>';
            roomDivHtml += '<select class="form-control" name="adult-select-'+ (count) +'">';
            roomDivHtml += '<option value="">-- Adult --</option>';
            roomDivHtml += '<option value="1">1</option>';
            roomDivHtml += '<option value="2">2</option>';
            roomDivHtml += '<option value="3">3</option>';
            roomDivHtml += '</select>';
            roomDivHtml += '</div>';
            roomDivHtml += '</div>';
            roomDivHtml += '<div class="col-md-3">';
            roomDivHtml += '<div class="form-group">';
            roomDivHtml += '<label for="child"><?php echo $this->translator->translator('hotels_api_expedia_search_box_child_label'); ?></label><br>';
            roomDivHtml += '<select name="child-select-'+ (count) +'" class="form-control" onchange="javascript:generateAgeDiv(this.value,'+ count +')">';
            roomDivHtml += '<option value="">-- Child --</option>';
            roomDivHtml += '<option value="1">1</option>';
            roomDivHtml += '<option value="2">2</option>';
            roomDivHtml += '<option value="3">3</option>';
            roomDivHtml += '</select>';
            roomDivHtml += '</div>';
            roomDivHtml += '</div>';
            roomDivHtml += '<div id="child-age-'+ (count) +'">';
            roomDivHtml += '&nbsp;';
            roomDivHtml += '</div>';
            roomDivHtml += '</div></div></div></div>';
        }
        
        $("#span-total-rooms").append(roomDivHtml);
    }
</script>

<div class="mod hotelspro">
    <h1><?php echo $this->translator->translator('hotels_front_page_api_search'); ?></h1>

    <div class="well well-lg block-search">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form id="formHotelsPro" name="formWegoHotelsSearch" method="post" action="<?php echo $this->url(array('module' => 'Hotels', 'controller' => 'wego', 'action' => 'items'), 'Search-Wego-Hotels', true); ?>" onsubmit="return checkFieldValue()" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="location_for_search"><?php echo $this->translator->translator('hotels_list_page_api_search_where'); ?></label> <span class="text-muted"><em><?php echo $this->translator->translator('( e.g. Bali, Bangkok or Brisbane )'); ?></em></span>
                                <select class="form-control" name="destination">
                                    <option value="">-- Select Destination --</option>
                                    <?php foreach($this->destinations AS $destination): ?>
                                    <option value="<?php echo $destination['DestinationId']; ?>"><?php echo $destination['City']; ?>, <?php if($destination['State']){ echo $destination['State'] . ','; } ?> <?php echo $destination['Country']; ?></option>
                                    <?php endforeach; ?>
                                </select>
            <!--                    <input name="location_for_search_LIKE" type="text" id="location_for_search" value="<?php if ($this->postValue['location_for_search_LIKE']) {
                    echo $this->postValue['location_for_search_LIKE'];
                } ?>" placeholder="<?php echo $this->translator->translator('common_any_language'); ?>" class="form-control"/>-->
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">    
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="check_in_search"><?php echo $this->translator->translator('hotels_list_page_search_check_in'); ?> <span class="star_class">*</span></label><br>
                                <input name="<?php echo Eicra_File_Constants::HOTELS_CHECK_IN; ?>" type="text" id="check_in_search" value="<?php echo $this->postValue['check_in']; ?>" class="form-control check-date" />
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="check_out_search"><?php echo $this->translator->translator('hotels_list_page_search_check_out'); ?></label><br>
                                <input name="<?php echo Eicra_File_Constants::HOTELS_CHECK_OUT; ?>" class="<?php echo Eicra_File_Constants::HOTELS_CHECK_OUT; ?> form-control check-date" type="text" id="check_out_search" value="<?php echo $this->postValue['check_out']; ?>" />
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country"><?php echo $this->translator->translator('hotels_api_expedia_search_box_country_label'); ?></label><br>
                                <select name="country" class="form-control">
                                    <option value="">-- Select Country --</option>
                                    <?php foreach($this->arrCountry AS $country): ?>
                                    <option value="<?php echo $country['code']; ?>"><?php echo $country['country_name']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <span id="span-total-rooms">
                                <!--First Room Div-->
                                <div class="callout blue booking-room-div clearfix">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="room-no">
                                                <span><strong><?php echo $this->translator->translator('hotels_api_expedia_search_room'); ?>-1</strong></span>
                                                <button type="button" id="remove-room-8" class="remove_btn close" aria-hidden="true">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="adult"><?php echo $this->translator->translator('hotels_api_expedia_search_box_adult_label'); ?><span class="star_class">*</span></label><br>
                                                <select class="form-control" name="adult-select-0">
                                                    <option value="">-- Adult --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="child"><?php echo $this->translator->translator('hotels_api_expedia_search_box_child_label'); ?></label><br>
                                                <select name="child-select-0" class="form-control" onchange="javascript:generateAgeDiv(this.value,0)">
                                                    <option value="">-- Child --</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div id="child-age-0">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!--//First Room Div-->
                            </span>
                        </div>
                    </div>
                    
                    <input onclick="javascript:generateRoomDiv();" type="button" name="button" id="button" value="<?php echo $this->translator->translator('hotels_api_expedia_search_room_add'); ?>" class="btn btn-sm btn-add"/>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="rating"><?php echo $this->translator->translator('hotels_api_expedia_search_box_star_label'); ?></label><br>
                                <select name="rating" class="form-control">
                                    <option value="">-- Select Rating --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <input type="button" name="button" id="btnHotelepro" value="<?php echo $this->translator->translator('hotels_front_page_search_button'); ?>" class="btn btn-global btn-block"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="showHotels"></div>

    <?php
        endif;
    ?>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', 'Message'); ?>"></div>
<div id="dialog_container" title="<?php echo $this->translator->translator('common_processing_language'); ?>" style="display:none">
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
</div>