<?php
$version = Zend_Registry::get('version');
$this->pollForm->setEditor(Zend_Registry::get('config')->eicra->params->domain.$this->baseUrl());
$this->pollForm->getEditor();
echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery/tree/javascripts/jquery.treeTable.js');	


$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$frontController = Zend_Controller_Front::getInstance();
$param_group_id = $frontController->getRequest()->getParam('group_id');
?>

<script type="text/javascript">
function calender(id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
		buttonImageOnly: true,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}
$(document).ready(function() {	
	calender('start_date');
	calender('end_date');
	floatingbar('#floatingbar',"#button_top_bar",null);
	addDynamicField();
	
	
	$("#upload-form").dialog({
		autoOpen: false,
		width: 750,
		height: 610,
		show: 'fade',			
		modal: true
	});	
	
	$('a.upload_btn').click(function() {
		$("#i-upload-form").attr("src", '');
		$("#i-upload-form").html('');
		
		var group_id = $("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
				
		var file_content = $('input[name="thumb"]').val();
		$('input[name="file_content"]').val(file_content);	
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{
			msg = '<?php echo $this->translator->translator("group_id_selected_err"); ?>';
			openMsgDialog(msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {		 
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				openMsgDialog(msg);
			}
			else
			{
				var img_path = file_path +'/'+ selected_files_arr[0]; 	
				var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[0]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>';						
				var img_code = '<div class="upload-img box"><span><div class="thumb"><img src="'+img_path+'" width="45" height="35" class="bdr" /></div><br /><br />'+del_link+'&nbsp;&nbsp;&nbsp;&nbsp;</span></div>';
				$('#selected_file_thumb').html(img_code);
				$('input[name="thumb"]').val(selected_files_arr[0]);
				$("#i-upload-form").attr("src", '');
				$("#i-upload-form").html('');
				$("#upload-form").dialog('option','hide','explode').dialog('close');
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main','', 'gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related','', 'gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				imageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {		 
		$("#i-upload-form").attr("src", '');	 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});
		
	$('a.reset_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});
	
	function resetFields()
	{
		$( "form" )[ 0 ].reset();		
		$('#selected_file_thumb').html('');				
		$('#categoryTree').html('');
		$('#category_id').val('0');
		$('#thumb').val('');
		$('#dataId').html('<?php echo $this->translator->translator("poll_cat_tree_root"); ?> (0)');		
		$('a.back_btn_link').attr('href','<?php echo $this->url( array("module" => "Poll","controller" => "backendpoll", "action"  => "list"), "adminrout",    true) ?>');
		$("#add_more").html();
		$("#add_more").html('<span class="select-btn" id="addMoreTitle"><a href="javascript:void(0)" class="add_ans_btn" rel="6"><span class="icon add"><?php echo $this->translator->translator("poll_answer_add_new"); ?></span></a></span><span id="add_data">&nbsp;</span></span>');
		var never_end = $("#end_date").attr('rel');
		if(never_end)
		{
			$("#end_date").attr('disabled','disabled');
		}
		else
		{
			$("#end_date").removeAttr('disabled');
		}
	}
	
	function removeError()
	{
		$('#actionMessage').html('');
		
		var filename = '';
		var filevalue = '';		
		$.each($('form').serializeArray(), function(i, field) {	
				if(field.name.match(/\[\]$/))
				{
					var filearr = field.name.split('[]');
					filename = filearr[0];					
				}
				else
				{
					filename 	= 	field.name;
				} 			
				$('#'+filename).removeClass('ui-state-error');
				$('#'+filename+'_err').html('');									
		});				
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_err';
		var field_name = key;
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function openLoaderDialog()
	{
		$('#dialog_container').dialog({
					autoOpen: true,
					modal: true,
					show: 'explode',
					resizable: false,				
					open: function(event, ui)
						 {
						 	$("#progressbar").progressbar({
								value:100
				
							});							
						  }
				});
	}
	
	function closeLoaderDialog()
	{
		$('#dialog_container').dialog('option','hide','explode').dialog('close');
	}
	
	function getFormData()
	{
		var fieldObj = {};
		var filename = '';
		var filevalue = '';
		var poll_answer	= new Array(1);
		$.each($('form').serializeArray(), function(i, field) {	
			var count = 0;
			if(field.name.match(/\[\]$/) && count == 0)
			{
				$("input[name='poll_answer[]']").each(function(id,field) { 				
					poll_answer[id] 		= field.value;
				});
				var filename	= 	field.name.split('[]');
				fieldObj[filename[0]] = poll_answer;
				count++;
			}
			else
			{
				filename 	= 	field.name;
				filevalue 	= 	field.value;
				fieldObj[filename] = (tinyMCE.get(filename)) ? tinyMCE.get(filename).getContent() : filevalue;			
			}	
		});
		return fieldObj;
	}
	
	$('a.add_poll_btn').click(function() {			
			
		var formData = getFormData();
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Poll','controller' => 'backendpoll', 'action'     => 'add' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						removeError();
						openLoaderDialog();				
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					closeLoaderDialog();					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));						
						resetFields();							
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					closeLoaderDialog();
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
	$('input.never_end').click(function() {			
		var disable = $('input#end_date').attr('disabled');
		if(disable)
		{
			$('input#end_date').removeAttr("disabled");
		}
		else
		{
			$('input#end_date').attr('disabled','disabled');
		}
	});
	
/***********************************Get Poll Group***************************************/
	$('select.poll_select_group').change(function() {		
		$('#group_id_loader').html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" border="0" height="15" class="left-float"/>');
		var group_id = $('#group_id').val();
		if(group_id != '')
		{
			$('a.back_btn_link').attr('href','Poll/backendpoll/list/group_id/'+group_id);
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'Poll','controller' => 'Backend', 'action'     => 'pollgroup' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: { grp_id: group_id },
				success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					if(json_arr.status == 'ok')
					{
						var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("poll_cat_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
							tree += json_arr.pollGroup+'</tbody></table>';
						$('#categoryTree').html(tree);
						categoryTreeGen();
					}
					else
					{
						var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("poll_cat_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
							tree += '</tbody></table>';
						$('#categoryTree').html(tree);
						categoryTreeGen();						
					}
					$('#group_id_err').html('');
					$('#group_id_loader').html('');
				}
			});
		}
		else
		{
			var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("poll_cat_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
				tree += '</tbody></table>';
			$('#categoryTree').html(tree);
			categoryTreeGen();
			$('#group_id_err').html('');
			$('#group_id_loader').html('');
			$('a.back_btn_link').attr('href','Poll/backendpoll/list');
		}		
	});
	
	
});

function openMsgDialog(msg)
	{
		$('#dialog_msg').html(msg).dialog({
			autoOpen: true,
			modal: true,
			show: 'explode',
			resizable: true,				
			buttons: [{ text: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>", click: function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } } ],
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
	}
/********************************Category Tree Function*******************************************/
function categoryTreeGen()
{
	$(".example").treeTable({
	  initialState: "expanded"
	});
	
	// Drag & Drop Example Code
	$("#dnd-example .file, #dnd-example .folder").draggable({
	  helper: "clone",
	  opacity: .75,
	  refreshPositions: true,
	  revert: "invalid",
	  revertDuration: 300,
	  scroll: true
	});
	
	
	$("#dnd-example .folder").each(function() {
	  $($(this).parents("tr")[0]).droppable({
		accept: ".file, .folder",
		drop: function(e, ui) { 
		  $($(ui.draggable).parents("tr")[0]).appendBranchTo(this);
		  
		  // Issue a POST call to send the new location (this) of the 
		  // node (ui.draggable) to the server.
		  if($(ui.draggable).parents("tr")[0].id != this.id)
		  {
		  $.post("<?php echo $this->url( array('module' => 'Poll','controller' => 'Backend', 'action'     => 'parent' ), 'adminrout',    true) ?>", {id: $(ui.draggable).parents("tr")[0].id, to: this.id});
		  }
		},
		hoverClass: "accept",
		over: function(e, ui) {
		  if(this.id != $(ui.draggable.parents("tr.parent")[0]).id && !$(this).is(".expanded")) {
			$(this).expand();
		  }
		}
	  });
	});
	
	 $("#dnd-example .file").each(function() {
	  $($(this).parents("tr")[0]).droppable({
		accept: ".file, .folder",
		drop: function(e, ui) { 
		  $($(ui.draggable).parents("tr")[0]).appendBranchTo(this);
		  
		  // Issue a POST call to send the new location (this) of the 
		  // node (ui.draggable) to the server.
		  if($(ui.draggable).parents("tr")[0].id != this.id)
		  {
		  $.post("<?php echo $this->url( array('module' => 'Poll','controller' => 'Backend', 'action'     => 'parent' ), 'adminrout',    true) ?>", {id: $(ui.draggable).parents("tr")[0].id, to: this.id});
		  }
		},
		hoverClass: "accept",
		over: function(e, ui) {
		  if(this.id != $(ui.draggable.parents("tr.parent")[0]).id && !$(this).is(".expanded")) {
			$(this).expand();
		  }
		}
	  });
	});
	
	// Make visible that a row is clicked
	$("table#dnd-example tbody tr").mousedown(function() {
	  $("tr.selected").removeClass("selected"); // Deselect currently selected rows
	  $(this).addClass("selected");
	});
	
	// Make sure row is selected when span is clicked
	$("table#dnd-example tbody tr span").mousedown(function() {
		var node_id = $(this).parents("tr")[0].id.substr(5);
		var node_name = $(this).html()+' ('+node_id+')';
		$('#category_id').val(node_id);
		$('#dataId').html(node_name);
	  $($(this).parents("tr")[0]).trigger("mousedown");
	});
}

/************************************************IMAGE THUMBNIL************************************************/
function imageThumbnil()
{	
	$("span.thumb").hover(function() {
		$(this).css({'z-index' : '10'}); /*Add a higher z-index value so this image stays on top*/ 
		$(this).find('img').addClass("hover").stop() /* Add class of "hover", then stop animation queue buildup*/
			.animate({
				marginTop: '-110px', /* The next 4 lines will vertically align this image */ 
				marginLeft: '-110px',
				top: '50%',
				left: '50%',
				width: '174px', /* Set new width */
				height: '174px', /* Set new height */
				padding: '20px'
			}, 200); /* this value of "200" is the speed of how fast/slow this hover animates */
	
		} , function() {
		$(this).css({'z-index' : '0'}); /* Set z-index back to 0 */
		$(this).find('img').removeClass("hover").stop()  /* Remove the "hover" class , then stop animation queue buildup*/
			.animate({
				marginTop: '4px', /* Set alignment back to default */
				marginLeft: '0',
				top: '0',
				left: '0',
				width: '30px', /* Set width back to default */
				height: '20px', /* Set height back to default */
				padding: '5px'
			}, 400);
	});
}
function getFileExtension(filename)
{
	return filename.replace(/^.*?\.([a-zA-Z0-9]+)$/, "$1");
}

function addDynamicField()
{
	$('a.add_ans_btn').unbind('click');
	$('a.add_ans_btn').click(function() {
		var self = this;
		var spanId = parseInt($(self).attr('rel'));
		var prevAddMore = (spanId - 1);
		$(self).parents("span:first").remove();		
		var nextId = (spanId+1);
		var spanIdHtml = '<span>'+spanId+'.</span>&nbsp;';
		if(spanId > 9)
		{
			spanIdHtml = '<span>'+spanId+'.</span>';
		}
		var row = '<div class="left-float">'+spanIdHtml+'<input name="poll_answer[]" id="poll_answer'+spanId+'" value="" size="50" type="text" />';
		$("#add_data").append('<span class="select-btn">'+row+'<span id="addMoreTitle'+spanId+'"><a href="javascript:void(0)" class="add_ans_btn" rel="'+nextId+'"><span class="icon add"><?php echo $this->translator->translator("poll_answer_add_new"); ?></span></a></span><span id="add_no_'+nextId+'">&nbsp;</span></span></div>');
		addDynamicField();
	});
}
</script>
<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<div class="title-container">
	<div class="polls-list-add"><h1><?php echo $this->translator->translator('poll_add_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Poll','controller' => 'Backendpoll', 'action'     => 'list'), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_poll_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<div id="nav">
    		<div class="nav-header"><div class="nav-title"><?php echo $this->translator->translator('poll_cat_tree'); ?></div></div>
    		<div id="categoryTree" class="nav-body treebody" >
           		&nbsp;	
            </div>
       	</div>
    </div>
    
    <div id="content-inner">
    	<div id="actionMessage"></div>
        <div id="button_top_bar"></div>
        
        <form name="formPoll" id="formPoll" method="post">
        	<div id="generalInfo">
            <fieldset class="fieldset">
                <legend class="legend"><?php echo $this->translator->translator('poll_add_page_info'); ?></legend>
                <div class="form">
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->question->getLabel();  if($this->pollForm->question->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->question; ?>
                            <div class="input-errors" id="question_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->question_title->getLabel();  if($this->pollForm->question_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->question_title; ?>
                            <div class="input-errors" id="question_title_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->group_id->getLabel();  if($this->pollForm->group_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <div class="left-float"><?php echo $this->pollForm->group_id; ?></div><span id="group_id_loader"></span>
                            <div class="input-errors" id="group_id_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->category_id->getLabel(); ?>
                        </div>
                        
                        <div class="field">
                            <span id="dataId"><?php echo $this->translator->translator("poll_cat_tree_root"); ?> (0)</span><?php echo $this->pollForm->category_id; ?>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->thumb->getLabel();  if($this->pollForm->thumb->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                        	<div class="upload-img">
                            	<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="file"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                            	<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->pollForm->thumb->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            </div>
                            <?php echo $this->pollForm->thumb; ?>&nbsp;&nbsp;<span id="selected_file_thumb">&nbsp;&nbsp;</span>
                           	<div class="input-errors" id="thumb_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->start_date->getLabel();  if($this->pollForm->start_date->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php $this->pollForm->start_date->setValue(date('Y-m-d'));
							echo $this->pollForm->start_date;
						  	?>
                            <div class="input-errors" id="start_date_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->end_date->getLabel();  if($this->pollForm->end_date->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php 					  
							echo $this->pollForm->end_date;
						 	echo ' &nbsp;&nbsp; '.$this->pollForm->never_end; echo $this->pollForm->never_end->getLabel();
							?>
                            <div class="input-errors" id="end_date_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->multiple_option->getLabel();  if($this->pollForm->multiple_option->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->multiple_option; ?>
                            <div class="input-errors" id="multiple_option_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->translator->translator('poll_answer_label');?>
                        </div>
                        
                      	<div class="field">
                            <div class="left-float"><span>1.</span>&nbsp;<input name="poll_answer[]" id="poll_answer1" value="" size="50" type="text" /></div>
                            <div class="left-float"><span>2.</span>&nbsp;<input name="poll_answer[]" id="poll_answer2" value="" size="50" type="text" /></div>
                            <div class="left-float"><span>3.</span>&nbsp;<input name="poll_answer[]" id="poll_answer3" value="" size="50" type="text" /></div>
                            <div class="left-float"><span>4.</span>&nbsp;<input name="poll_answer[]" id="poll_answer4" value="" size="50" type="text" /></div>
                            <div class="left-float"><span>5.</span>&nbsp;<input name="poll_answer[]" id="poll_answer5" value="" size="50" type="text" />
                                 <span id="add_more">
                                    <span class="select-btn" id="addMoreTitle"><a href="javascript:void(0)" class="add_ans_btn" rel="6">&nbsp;<span class="icon add"><?php echo $this->translator->translator("poll_answer_add_new"); ?></span></a></span>
                                 </span>
                             </div>
                             <span id="add_data">&nbsp;</span>                                                      
                        </div>
                         
                    </div>
				</div>
			</fieldset>
			</div>
            
            <fieldset class="fieldset last">
                <legend class="legend"><?php echo $this->translator->translator('common_metainfo_title'); ?></legend>
                <div class="form">
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->meta_title->getLabel();  if($this->pollForm->meta_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->meta_title; ?>
                            <div class="input-errors" id="meta_title_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->meta_keywords->getLabel();  if($this->pollForm->meta_keywords->isRequired()){ ?><span class="required">*</span><?php }?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->meta_keywords; ?>
                            <div class="input-errors" id="meta_keywords_err"></div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->pollForm->meta_desc->getLabel();  if($this->pollForm->meta_desc->isRequired()){ ?><span class="required">*</span><?php }?>
                        </div>
                        
                        <div class="field">
                            <?php echo $this->pollForm->meta_desc; ?>
                            <div class="input-errors" id="meta_desc_err"></div>
                        </div>
                    </div>
                    
             	</div>
			</fieldset>
		</form>
	</div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Poll','controller' => 'Backendpoll', 'action'     => 'list'), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_poll_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
    
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('poll_add_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Poll','controller' => 'Backendpoll', 'action'     => 'list'), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_poll_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('poll_add_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="upload-form" title="<?php echo $this->translator->translator('poll_page_dialog'); ?>">	
	<div>
    	<form id="popupForm" target="i-upload-form" method="post" action="" >
            <input type="hidden" name="table_name" value="poll_group"/>
            <input type="hidden" name="primary_id_field" value="id"/>
            <input type="hidden" name="primary_id_field_value" value=""/>   
            <input type="hidden" name="primary_file_field" value="thumb"/> 
           	<input type="hidden" name="file_content"  value=""/>       
            <input type="hidden" name="file_path_field" value="file_path_thumb"/>
            <input type="hidden" name="file_extension_field" value="file_type"/>
            <input type="hidden" name="file_max_size_field" value="file_size_max"/>
    	</form>
		<iframe id="i-upload-form" name="i-upload-form" src="" class="iframe-img-upload"></iframe>
	</div>        
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('poll_page_insert'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
    </div>
</div>
</div>