/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Realestate Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

body{
	background-color:#FFF !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px;
	color: #555555;
	margin:0px;
	padding:0px;
}

a{
	color:#458218;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#F46200;
	text-decoration:underline;
}

a:visited { 
	/*color:#458218;*/
}

a:hover, a:active, a:focus,
	  input[type="button"],
	  input[type="submit"]{ 
	outline: 0 !important;
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="checkbox"],
input[type="radio"]{
	margin:3px 8px 15px 0;
	min-height:100%;
}

textarea, input[type="text"], input[type="password"], select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px !important;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#518C1C;
	margin: 2px 0 10px 0;
}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #79AD2E;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#83B931;
	border:1px solid #79AD2E;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

.btn.btn-global{
	background-color:#4DB34D;
	color:#FFF;
	padding-left:35px;
	padding-right:35px;
	border-radius:3px;
	border-bottom:3px solid #30963D;
	outline: 0 none;
}

.btn.btn-global:hover{
	background-color:#47A447;
	color:#FFF;
}

/* ********************************************************************************** */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#414849;
	min-height:29px;
	padding:10px 0;
	color:#D6DEE0;
	text-align:center;
}

.user-link{
	border-bottom:1px solid #34393A;
	padding-bottom:8px;
	margin-bottom:5px;
}

.user-link a{
	color:#D6DEE0;
	text-decoration:underline;
}

.user-link a:hover{
	color:#D6DEE0;
	text-decoration:none;
}

.top-links a{
	color:#D6DEE0;
	display:inline-block;
}

.top-links a:hover{
	color:#D6DEE0;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
	padding-top:15px;
	padding-bottom:15px;
}

#header .logo img{
	display:inline-block;
}

.listing-btn a.btn{
	margin-top:15px;
	margin-bottom:10px;
}

.listing-btn .btn{
	padding-top:10px;
	padding-bottom:10px;
	border-radius:0;
	border-bottom:3px solid;
}

.listing-btn .btn-success{
	border-bottom-color:#409540;
}

.listing-btn .btn-warning{
	border-bottom-color:#DF8D13;
}

/* ---------------------------------------------------------------------------------- */

/* Global Block Style --------------------------------------------------------------- */

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
	display:inline-block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:17px;
	color:#4B5252;
	letter-spacing:normal;
}

.block h6 a:hover{
	color:#289B66;
}

.block .btn{
	border-radius:0;
}

.block .panel,
.block .panel-heading{
	border-radius:0;
}

.block .panel .panel-body h6{
	display:inline;
	margin-bottom:4px;
}

.block .panel a.btn{
	border-radius:0;
}

.block .panel .price{
	background-color: #ED9C28;
	color:#FFF;
	font-size:17px;
	padding:4px 0px;
	width:205px;
	text-align:center;
	display:block;
	margin:auto;
}

.block .panel .location a{
	font-size:12px;
	color:#F90;
	text-decoration:underline;
	display:inline-block;
	margin-bottom:10px;
}

.block .panel .location a:hover{
	color:#999;
}

.block .panel .details{
	min-height:165px;
}

.block figure{
	margin-top:10px;
	text-align:center;
}

.block figure .thumb,
	   figure .thumb{
	position:relative;
	margin-bottom:15px;
	display:inline-block;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
	position:absolute;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
    background: rgba(92, 184, 92, 0.7);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
	/*width: 70px;*/
}

.block figure .photo-count-container .photo-count a,
	   figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover,
	   figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .type{
	font-size:12px;
	color:#FFF;
	background-color:rgba(37, 42, 43, 0.8);
    position: absolute;
    text-align: center;
	top:9px;
	left:9px;
	padding: 4px 10px;
}

.block figure img,
	   figure img{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .details{
	font-size:12px;
	color:#8B9293;
}

.block .details .ratings{
	margin: 5px 0;
	text-align:center;
}

.block .details p{
	margin: 12px 0;
}

.block .panel-footer{
	font-size:13px;
	color:#666;
	padding:0 15px;
}

.block .panel-footer span{
	padding:10px 13px;
	display:block;
	border-bottom:1px solid #DEDEDE;
}

.block .panel-footer span.no-b-bdr{
	border-bottom:0;
	float:none;
}

.block .panel-footer span.no-r-bdr{
	border-right:0;
}

.block .property-icon,
	   .property-icon{
    display: inline-block;
	width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: -5px;
	background-repeat:no-repeat;
	background-position:left center;
}

.block .property-icon.icon-area,
	   .property-icon.icon-area {
    background-image: url("../../images/mod_property_img/icon-size.png");
}

.block .property-icon.icon-room {
    background-image: url("../../images/mod_property_img/icon-bed.png");
}

.block .property-icon.icon-bath,
	   .property-icon.icon-bath{
    background-image: url("../../images/mod_property_img/icon-bath.png");
}

.block .property-icon.icon-garage,
	   .property-icon.icon-garage {
    background-image: url("../../images/mod_property_img/icon-garage.png");
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .top-row{
	background-color:#227F6A;
	margin: 10px 0 0 0;
	padding:10px 0 5px 0;
	color:#F5F5F5;
}

#footer .bottom-row{
	background-color:#333;
	padding:10px 0;
	text-align:center;
}

#footer h3{
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#F5F5F5;
}

#footer .block .block-body{
	border:0;
	padding:0;
}

#footer .block hr{
	margin:0;
}

#footer .block a.btn-link{
	color:#CCC;
}

#footer .block a.btn-link:hover{
	color:#5CB85C;
}

#footer ul{
	margin-left:25px;
	padding-left:25px;
}

#footer ul li {
	margin:0;
	line-height:22px; 
	list-style:disc;
}

#footer ul li a{
	color:#FFF; 
}

#footer ul li a:hover{
	color:#FF9;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

#footer .copyright{
	color: #797979;
	margin-bottom:10px;
}

#footer .copyright a{
	color: #797979;
	text-decoration:underline;
	line-height:20px;
}

#footer .copyright a:hover{
	color: #797979;
}

.go-top a{
	font-size:18px;
	background:#1FA67A;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:10px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#F0AD4E;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#content{
	margin: 0 0 15px 0;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ********************************************************************************** */

/* OTHER BLOCKS STYLE *************************************************************** */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	color:#D6DEE0; !important;
	display:block; 
}

.dropdown dt a span{
	cursor:pointer; 
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:30px; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3)
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
	text-align:right;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	float:right;
}

.dropdown span.flag span.glyphicon{
	font-size:10px;
	margin-left:10px;
}

.dropdown span.flag img{
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Realestate Home Search ----------------------------------------------------------- */

.block-search{
	margin:10px 0;
}

.block-search h2{
	margin:0;
	padding:12px 2px;
	margin-bottom:8px;
	font-size:16px;
	background-color:#464E4F;
	color:#FFF;
	text-align:center;
}

.block-search h2:hover{
	background-color:#FB9700;
}

.block-search h2.active{
	background-color:#464E4F;
}

.block-search a.slick-searchtoggle{
	text-decoration:none;
}

.block-search #searchtoggle{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding-bottom:15px;
}

.block-search .switch-button-label{
	display:block;
}

.block-search .switch-button-background{
	margin-top:13px;
	margin-bottom:13px;
}

.block-search label{
	font-weight:normal;
}

.block-search input[type="text"],
.block-search select{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.block-search a.btn,
.block-search input[type="submit"]{
	border-radius:0;
	font-size:13px;
}

.block-search .ui-combobox-input,
.block-sidebar-search .ui-combobox-input{
	padding: 0.70em;
	background:none;
	border-radius:0;
	position:absolute;
	width:90%;
}

.block-search .ui-combobox-toggle,
.block-sidebar-search .ui-combobox-toggle{
	padding: 0.9em;
    right: -2px;
    vertical-align: top;
	/*support: IE7 */
	*height: 1.7em;
}

.block-search .ui-button,
.block-sidebar-search .ui-button{
	border-radius:0;
	float:right;
}

.block-search .ui-autocomplete-loading,
.block-sidebar-search .ui-autocomplete-loading{ 
	background-image: url("../images/ui-anim_basic_16x16.gif");
	width:100%;
}

/* ---------------------------------------------------------------------------------- */

/* Realestate Sidebar Search -------------------------------------------------------- */

.block-sidebar-search{
	padding:10px;
}

.block-sidebar-search .k-label,
.block-sidebar-search .form-group{
	color:#FFF;
}

.block-sidebar-search select,
.block-sidebar-search input[type="text"]{
	border-radius:0;
	border:1px solid #FFF;
}

.block-sidebar-search h1{
	color:#FFF;
	font-weight:bold;
	letter-spacing:-2px;
	text-align:center;
	font-size:23px;
}

.block-sidebar-search .ui-combobox{
	width:100%;
}

.block-sidebar-search .ui-combobox-input{
	background-color:#FFF;
}

.block-sidebar-search .block-content-2 .k-label{
	color:#FFF;
}

.block-sidebar-search .btn{
	background-color:#FB9700;
	color:#FFF;
	font-size:17px;
	padding-left:35px;
	padding-right:35px;
	border-radius:0px;
	border-bottom:0px solid #D78100;
	outline: 0 none;
}

.block-sidebar-search .btn:hover{
	background-color:#FF5024;
	color:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Property ---------------------------------------------------------------- */

.block-featured .block-body{
	background-color:#EAF4EA;
	padding:10px;
	margin-bottom:15px;
}

.block-featured .details{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Property Gallery -------------------------------------------------------- */

.block-featured-gallery .block-body{
	padding:5px 0;
	border:0;
}

.block-featured-gallery figure{
}

.block-featured-gallery figure h3{
	display:block;
}

.block-featured-gallery figure h3 a{
	color:#FFF;
	font-size:12px;
	letter-spacing:normal;
}

.block-featured-gallery figure img{
	border:0;
	padding:6px;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul li{
	background-image:url(../../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .ratings{
	text-align:center;
	margin:12px 0;
}

.mod .price{
	font-size: 22px;
	font-weight: bold;
	color: #FF9900;
	padding: 0 0 5px 0;
	letter-spacing: -1px;
	text-align: center;
}

.mod .grid-puller{
	/*margin:0 0 0 0px*/
}

.mod .grid-puller .km-pane-wrapper{
	position:relative;
}

.mod figure{
	text-align:center;
}

.mod figure .thumb{
	margin-bottom:0;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading p{
	margin:0 0 8px 0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-footer .btn{
	font-size:17px;
	border-radius:0;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:3px solid;
}

.mod .panel .panel-footer .btn.save{
	border-bottom-color:#2F6DA6;
}

.mod .panel .panel-footer .btn.details{
	border-bottom-color:#46A446;
}

.mod .list-group{
	font-size:14px;
}

.mod .list-group li,
.mod .list-group a{
	border-radius:0;
}

.mod .text-title{
	color:#F60;
}

.mod .k-pager-wrap{
	/*margin-bottom:15px;*/
}

.mod .property-icon.icon-kitchen {
	background-image: url("../../images/mod_property_img/pot.png");
}

.mod .property-icon.icon-garden {
	background-image: url("../../images/mod_property_img/flower.png");
}

.mod .glyphicon.calendar {
	font-size:17px;
	width:20px;
	margin-right:4px;
	text-align:center;
}

.mod.details h1{
	display:inline;
}

.mod.details .btn{
	white-space:normal;
	border-radius:0;
}

.mod.details .map input[type="text"]{
	border-radius:0;
	margin-bottom:4px;
}

.mod.details #map-canvas,
.mod.details iframe{
	width:100%; 
	height:200px;
	margin-bottom:15px;
}

.mod.details h4{
	margin:4px 0;
}

.mod.details .gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.products-vote > span{
	display:inline-block;
}

.products-vote span input[type="button_btn"]{
	padding:5px;
	margin: -1px 2px 0px !important;
	border:0;
	width:21px !important;
	float:left;
}

.products-vote .result{
	line-height:normal !important;
	position:relative !important;
}

.products-vote .label{
	padding:5px;
}

.products-vote *,
.products-vote *:after,
.products-vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.ribbons {
	margin-left: auto;
	margin-right: auto;
}

#ribbons {
	font-size:13px;
	color:#FFF;
	text-align: center;
	text-transform:uppercase;
	width: 34px;
	height:46px;
	line-height: 69px;
	padding:15px 0;
	background-color: rgba(204, 0, 0, 0.9);
	z-index:1;
	left:12px;
	top:0;
	position:absolute;
}

#ribbons::after{
	content:"";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	border: 17px solid rgba(204, 0, 0, 0.9);;
	left: 0;
	border-bottom-color: transparent;
}

#ribbons, 
#ribbons:before, 
#ribbons:after{
	box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	-khtml-box-sizing:content-box !important;
}

#ribbons div{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top:10px;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow{
	background-color:#F9F9F9;
	border:1px solid #DDDDDD;
	padding:15px;
}

.products-slideshow #gallery {
	background: #F9F9F9;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 200px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #417F17;
}

.products-slideshow .ad-gallery .ad-image-wrapper{
	height:200px;
}

.products-slideshow .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{
	width:100% !important;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

.mod.details .review .review-box,
.mod.details .review .review-box2{
	padding:10px 5px;
}

.mod.details .review .review-box{
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#F9F9F9;
}

.mod.details .review .review-box2{
	background:#FFF;
}

.mod.details .review .rating{
	font-size: 13px;
	color: #F90;
	padding: 3px 0;
}

.mod.details .review .desc{
	font-size:14px;
	font-style:italic;
	margin:10px 0 5px 0;
}

.mod.details .review .date{
	color: #069;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container{
	border:1px solid #DDD;
	padding:5px;
}

.match-container:hover{
	background-color:#FFFEDF;
}

.match-container ul li{
	list-style:disc;
}

.match-container img{
	border-radius:0;
}

.match-container hr{
	margin:10px 0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */



