<div id="container">
<?php if (!$this->allow('')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$permission_arr = array('add_enable' => $this->allow('add','currency','Paymentgateway'), 
						'delete_enable' => $this->allow('deleteall','currency','Paymentgateway'), 
						'publish_enable' => $this->allow('publish','currency','Paymentgateway'));	

$create = ($this->posted_data['create']) ? $this->posted_data['create'] : null;
?>

<script type="text/javascript">
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);	
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
						form_action : {											
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},						
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'group_name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'group_name'],							
								
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},						
						detailInit_action: {},
						search_data : {},
						batch:		true,
						toolbar: [
									<?php if ($permission_arr['add_enable']) : ?>{ name: "create", text: "<?php echo $this->translator->translator('common_add'); ?>" },<?php endif; ?> 
									{ name: "save", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?>" },
									{ name: "cancel", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?>" }
								  ],	
						editable:	{
										mode: 'incell',
										confirmation: false
									},
						scrollable: false, //{ virtual: false },
						saveChanges: function(e){							
							kendo.ui.progress(e.sender.element, true);	
						},
						dataSource_transport_read_complete : function(e)
						{
							<?php
								if($create == 'new' && $permission_arr['add_enable']){
							?>
								$('a.k-grid-add').trigger('click');
							<?php
								}
							?>	
						},
						dataSource_transport_create: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'add' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());								  
								  if(json.status == 'ok')
								  {
									 //commonMsgDialog(settingObj, json.msg);
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = '';
									  $.each(json.msg, function(key, obj){										
										 err_msg += obj.key + ' => ' + obj.value + '<br />';
									  });
									  commonMsgDialog(settingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {
									 commonMsgDialog(settingObj, json.msg);
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},
						dataSource_transport_update: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action'     => 'edit' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());								  
								  if(json.status == 'ok')
								  {
									 //commonMsgDialog(settingObj, json.msg);
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = '';
									  $.each(json.msg, function(key, obj){										
										 err_msg += obj.key + ' => ' + obj.value + '<br />';
									  });
									  commonMsgDialog(settingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {
									 commonMsgDialog(settingObj, json.msg);
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},
						dataSource_transport_parameterMap: function(options, operation) {																		
                                    if (operation !== "read" && options.models) {								
                                        return {models: options.models};
                                    }
									else
									{
										return options;
									}
                                },
						detailInit:	false,
						dataBound: function(e) {	
								var self = this;
								gridAction(settingObj);																				                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
									id: "id",
                                    fields: {
										mismatch: {  editable: false },
										checkAll: {  editable: false },
                                        id: { type: "number", editable: false, nullable: true },
										base_currency: { type: "string", defaultValue: '<?php echo $this->default_currency ?>', editable: false},
										base_unit: { type: "number", editable: false, defaultValue : '1' },
                                        equals_field: { type: "string", editable: false, defaultValue: '=' },
                                        target_unit: { type: "number", editable: true, validation: { required: true } },
                                        target_currency: {  type: "string", editable: true, validation: { required: true } },	
										target_currency_field: { type: "enums",  defaultValue: { target_currency_id: '<?php echo $this->default_local ?>', target_currency_name: "<?php echo $this->default_local ?>"} },									
										target_currency_code: {  editable: false, nullable: true },
										edit_enable: {  editable: false },
										common_action: {  editable: false }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('currency_converter_list_page_id'); ?>", 
												attributes:{ 'align' : 'center', 'style' : 'height:30px;' },
												width: 50, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											}, 
											{ 	
												field: "base_unit", 
												width: 50, 
												title: 	"<?php echo $this->translator->translator('currency_converter_list_base_unit'); ?>", 
												headerTemplate: "<center><?php echo $this->translator->translator('currency_converter_list_base_unit'); ?></center>", 
												attributes: { title: '<?php echo html_entity_decode($this->translator->translator('currency_converter_list_base_unit'), ENT_QUOTES, 'UTF-8'); ?>', 'align' : 'center'},
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},		
											{ 	field: "base_currency",
												 width: 225, 
												 attributes:{ 'align' : 'center' }, 
												 title: 	"<?php echo $this->translator->translator('currency_converter_default_code'); ?>",
												 headerTemplate: "<center><?php echo $this->translator->translator('currency_converter_default_code'); ?></center>", 
												 filterable: false, 
												 sortable: false,
												 columnMenu: false 
											},									
											 
											{ 	field: "equals_field", 
												width: 100, 
												template: "#= (mismatch) ? '<span class=\"invoice-satus unpaid\"><?php echo html_entity_decode($this->translator->translator('currency_rate_mismatch'), ENT_QUOTES, 'UTF-8'); ?></span>' : equals_field # ", 
												attributes:{ 'align' : 'center' }, 
												title: 	"<?php echo $this->translator->translator('currency_converter_equals'); ?>" ,
												 headerTemplate: "<center><?php echo $this->translator->translator('currency_converter_equals'); ?></center>",
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},									
											{ 
												field: "target_unit", 	
												title:	"<?php echo $this->translator->translator('currency_converter_list_target_unit'); ?>",																						
												width: 150, 
												attributes:{ 'align' : 'center' },
												filterable: { 
															ui: function(element) {
																element.kendoNumericTextBox({
																	culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
																	format: "0",
																	min: 0,															
																	placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																});
															}
														} 
											},
											{ 	
												field: "target_currency_field", 	
												title:	"<?php echo $this->translator->translator('currency_converter_target_code'); ?>", 												
												template: '#= (target_currency_field.target_currency_name) ? target_currency_field.target_currency_name :  target_currency   #',
												width: 150, 
												attributes:{ 'align' : 'center' },
												filterable: {  
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: {
																				type: "json",
																				schema: {
																					  data:	'data_result'
																				  },  
																				transport: {
																						read: {
																							type: "POST",
																							dataType: "json",
																							url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action' => 'local' ), 'adminrout',    true); ?>"
																						}
																					}
																	},
															dataTextField: "target_currency_name",
    														dataValueField: "target_currency_id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												},
												editor: function(container, options)
														{
															$('<input required  data-bind="value:' + options.field + '"/>')
																.appendTo(container)
																.kendoDropDownList({
																	autoBind: false,
																	dataTextField: "target_currency_name",
																	dataValueField: "target_currency_id",																	
																	//template:	'#= (state && state.state_name) ? state.state_name : state_name #',
																	dataSource: {
																				type: "json",
																				schema: {
																					  data:	'data_result'
																				  },  
																				transport: {
																						read: {
																							type: "POST",
																							dataType: "json",
																							//data: {pageSize: 10000000, country_id: options.model.state.country_id, request_from : 'widget'},	
																							url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action' => 'local' ), 'adminrout',    true); ?>"
																						}
																					}
																	},
																	change: function(e) {
																			var currency_locale	= 	e.sender.element.val();	
																			var self = 	e.sender.element;																	
																			if(currency_locale && currency_locale != null)
																			{
																				$.ajax({
																						url: "<?php echo $this->url( array('module' => 'Paymentgateway', 'controller' => 'currency', 'action' => 'localetocurrency' ), 'adminrout',    true) ?>",
																							type: 'POST',
																							data: {currency_locale : currency_locale},
																							beforeSend: function(){						
																										$(self).closest("tr").children('td:nth-child(8)').html('<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>');			
																								 },
																							success: function(response){
																								try
																								{
																									//alert(response);			
																									var json_arr = eval("("+response+")");					
																														
																									if(json_arr.status == 'ok')
																									{
																										var currency_format = 	(json_arr.data_result && json_arr.data_result.currency_short_name) ? json_arr.data_result.currency_short_name : '';	
																											if(json_arr.data_result && json_arr.data_result.currency_name)
																											{
																												currency_format += 	' - ';
																												currency_format += 	(json_arr.data_result && json_arr.data_result.currency_name) ? json_arr.data_result.currency_name : '';	
																											}
																											$(self).closest("tr").children('td:nth-child(8)').html(currency_format);	
																											
																											//var kgrid = $('#'+settingObj.grid_id).data('kendoGrid');
																											//kgrid.dataSource.data()[0].set('target_currency_code', currency_format);
																											//alert(kgriddata.toSource());					
																									}
																									else
																									{
																										$('#actionMessage').html(errMsgDesign(json_arr.msg));	
																										$(self).closest("tr").children('td:nth-child(8)').html('');																
																									}
																									
																								}
																								catch(error)
																								{
																									var error_arr = 	[error, response];
																									var msg = commonErrMsgException(error_arr);				
																									$('#actionMessage').html(errMsgDesign(msg));
																									$(self).closest("tr").children('td:nth-child(8)').html('');
																								}
																							},
																							error: function(xhr, status, error){															
																								var msg = "Error! " + xhr.status + " " + error;
																								$('#actionMessage').html(errMsgDesign(msg));
																								$(self).closest("tr").children('td:nth-child(8)').html('');
																							}
																					});
																			}
																			else
																			{
																				$(self).closest("tr").children('td:nth-child(8)').html('');
																			}
																	}
																});
														}
											},	
											{ 	
												field: "target_currency_code", 	
												title:	"<?php echo $this->translator->translator('currency_converter_target_currency'); ?>",																						
												attributes:{ 'align' : 'center' }
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												headerTemplate: "<center><?php echo $this->translator->translator('common_action'); ?></center>",
												width: 70, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['delete_enable']) : ?><a href="javascript:void(0);" class="delete_btn"  rel="${id}_${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("menu_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("menu_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);
	
	$('a.add_new').click(function(e){			
			$('a.k-grid-add').trigger('click');
		});
	$('a.save_btn').click(function(e){			
			$('a.k-grid-save-changes').trigger('click');
		});
	$('a.cancel_btn').click(function(e){			
			$('a.k-grid-cancel-changes').trigger('click');
		});
});
</script>
<div class="title-container">
	<div class="currency-converter"><h1><?php echo $this->translator->translator('currency_converter_list'); ?></h1></div>
    
    <div class="button-container">
    	<?php if ($permission_arr['add_enable']) : ?>        
    	<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="add_new"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
       	<?php endif; ?>
        
		<?php if ($permission_arr['add_enable'] || $permission_arr['edit_enable']) : ?> 
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?></span></a></span>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="cancel_btn"><span class="icon close"><?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
        <br />
	<div id="sidebar-inner">
    	<?php echo $this->partial('backendgateway/nav_menu.phtml');  ?>
    </div>   
    
    <div id="content-inner">        
        <div class="chart">
        	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
		</div>    
	</div>
</div>

<div  id="floatingbar">
	<h1><?php echo $this->translator->translator('currency_converter_list'); ?></h1>
    
    <div class="button-container">
    	<?php if ($permission_arr['add_enable']) : ?>        
    	<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="add_new"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
       	<?php endif; ?>
        
		<?php if ($permission_arr['add_enable'] || $permission_arr['edit_enable']) : ?> 
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?></span></a></span>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="cancel_btn"><span class="icon close"><?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
        
    </div>
</div>
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('currency_converter_list')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
</div>