<?php
 $modules_license = new Administrator_Controller_Helper_ModuleLoader();
 $auth = Zend_Auth::getInstance ();
   if ($auth->hasIdentity ())
	{
		$globalIdentity = $auth->getIdentity ();
		$role_id = $globalIdentity->role_id;			
		$role = $globalIdentity->role_name;;
	}	
	$global_conf = Zend_Registry::get('global_conf');
	$license = new Zend_Session_Namespace('License');
	$validation_data = $license->license_data; 	
?>

<?php
	if ($auth->hasIdentity ())
	{
?>
<script type="text/javascript">
$(document).ready(function() {
	
	//Variable que almacena el arreglo que se mostrara en el dropdown
	var ddData = [
		{
			text: "<i class='fa fa-user'></i> <?php echo $this->translator->translator('admin_header_menu_user_profile'); ?>",
			value: 0,
			link_value: "<?php echo $this->url(array('module' => 'Members','controller'=>'index', 'action'=>'profile'), 'adminrout',    true);?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/user.png"
		}
		<?php if ($this->allow('update','global','Settings')) : ?>,
		{
			text: "<i class='fa fa-wrench'></i> <?php echo $this->translator->translator('admin_header_menu_global_settings'); ?>",
			value: 1,
			link_value: "<?php echo $this->url(array('module' => 'Settings','controller'=>'global', 'action'=>'update'), 'adminrout',    true);?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/global-setting.png"
		}
		<?php endif;  ?>
		<?php if ($this->allow('update','backend','Contact') && $modules_license->checkModulesLicense('Contact')) : ?>,
		{
			text: "<i class='fa fa-phone-square'></i> <?php echo $this->translator->translator('admin_header_menu_update_contact'); ?>",
			value: 2,
			link_value: "<?php echo $this->url(array('module' => 'Contact','controller'=>'backend', 'action'=>'update'), 'adminrout',    true);?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/contact.png"
		}
		<?php endif;  ?>
		<?php if ($this->allow('language','backend','Editors')) : ?>,
		{
			text: "<i class='fa fa-flag'></i> <?php echo $this->translator->translator('admin_menu_language'); ?>",
			value: 3,
			link_value: "<?php echo $this->url(array('module' => 'Editors','controller'=>'backend', 'action'=>'language'), 'adminrout',    true);?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/flag.png"
		}
		<?php endif;  ?>
		<?php if ($this->allow('template','backend','Editors')) : ?>,
		{
			text: "<i class='fa fa-desktop'></i> <?php echo $this->translator->translator('admin_menu_template'); ?>",
			value: 4,
			link_value: "<?php echo $this->url( array('module'=> 'Editors', 'controller' => 'backend', 'action'     => 'template' ), 'adminrout',    true) ?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/editor.png"
		}
		<?php endif;  ?>
		<?php if ($this->allow('css','backend','Editors')) : ?>,
		{
			text: "<i class='fa fa-edit'></i> <?php echo $this->translator->translator('admin_menu_css'); ?>",
			value: 5,
			link_value: "<?php echo $this->url( array('module'=> 'Editors', 'controller' => 'backend', 'action'     => 'css' ), 'adminrout',    true) ?>",
			//description: "",
			//imageSrc: "application/modules/Administrator/layouts/scripts/images/tools/css.png"
		}
		<?php endif;  ?>
	];
	
	var dIndex = null;
	
	for(var i = 0; i < ddData.length; i++)
	{
		var dLink = ddData[i].link_value;
		var cLink	=	"<?php echo $this->url(); ?>";
		var rgxp = new RegExp(dLink, "g");
		if(cLink.match(rgxp) != null)
		{
			dIndex = ddData[i].value;					
			break;
		}
	}
	
	//Dropdown Básico
	$('#dropdownBasico').ddslick({
		data: ddData,
		width: 220,		
		selectText: "<i class='fa fa-cog'></i> <?php echo $this->translator->translator('administrator_header_menu_default', '', 'Administrator'); ?>",
		defaultSelectedIndex: dIndex,
		truncateDescription: true,
		imagePosition: "left",
		showSelectedHTML: true,
		clickOffToClose: true,
		onSelected: function(data){
			//Llama función que hace algo
			//console.log(data);
			window.location.href = data.selectedData.link_value;
		}
	});
});
</script>
<?php 
}        	
?>

<div id="user-nav"> 
	<div class="col-lg-8">
		<ul class="btn-group">    	
			<?php
                if ($auth->hasIdentity ())
                {
            ?>
                <li class="btn active"><i class="fa fa-globe"></i> <span class="text"><?php if ($auth->hasIdentity ()){ echo $this->translator->translator('admin_header_welcome_language')." ".$globalIdentity->username; } ?></span></li>
                <li class="btn"><i class="fa fa-user"></i> <span class="text"><?php echo $this->translator->translator('admin_header_login_language'); ?>&nbsp;<a href="<?php echo $this->url(array('module' => 'Members','controller'=>'index', 'action'=>'profile'), 'adminrout', true);?>"><?php echo $role; ?></a></span></li>
                <li class="btn"><i class="fa fa-eye"></i> <span class="text"><a href="<?php echo $this->serverUrl().$this->baseUrl(); ?>" target="_blank"><?php echo $this->translator->translator('admin_header_frontend_link'); ?></a></span></li>
                <li class="btn"><i class="fa fa-power-off"></i> <span class="text"><a href="<?php echo $this->url( array('module'=> 'Administrator', 'controller' => 'login', 'action'     => 'logout' ), 'adminrout',    true) ?>"><?php echo $this->translator->translator('admin_header_logout_link'); ?></a></span></li>
            <?php 
            	}        	
            ?>
		</ul>   
    </div>
    
    <div class="col-lg-4">
    	<?php echo $this->partial('partial/change_lang.phtml'); ?>
    </div>
</div>

<header id="header">
	<div class="col-lg-8">
		<div class="logo"><img src="<?php if(empty($global_conf['admin_header_logo'])){ echo $validation_data['vendor_logo']; }else{ echo $global_conf['admin_header_logo']; } ?>" height="60"/><h1><?php if ($auth->hasIdentity ()){ echo $this->translator->translator('administrator_controls_title',$role); }else{ echo $this->translator->translator('administrator_control_title'); } ?></h1></div>
    </div>
    <div class="col-lg-4">
    	<?php
            if ($auth->hasIdentity ())
            {
        ?>
    	<div id="dropdownBasico"></div>
        <?php 
			}        	
		?>
    </div>
</header>

<?php	
	if ($auth->hasIdentity ())
	{
?>

<div class="col-lg-12">
	<?php echo $this->layout()->render('top-menu'); ?>
</div>

<?php
	}		  
?>