/* ___________________________________________________________________________________
   
   CSS Framework for PHP Vacationrental Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
	background-color:#FDECCE;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:15px;
	margin-left:8px !important;
}

select option{
	padding-right:4px;
	padding-left:0px;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #67AE34;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:14px;
	background:#67AE34;
	border:1px solid #67AE34;
    color: #FFFFFF;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

.left-float {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.right-float {
	float:left;
	margin-right:10px;
	margin-left:0;
}

/* ********************************************************************************** */

/* Top Links ------------------------------------------------------------------------ */

.top-links .flags{
	border-right-width:0;
	border-left-width:1px;
	border-radius:4px 0 0 4px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

.go-top a{
	right:0;
	left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* BLOCKS STYLE ********************************************************************* */

/* Block Box Model ------------------------------------------------------------------ */

.block figure .label{
	unicode-bidi:embed;
}

.block figure .thumb,
	   figure .thumb{
   	margin-right:0;
   	margin-left:10px;
	float:right;
}

.block figure .photo-count-container,
	   figure .photo-count-container{
	right:9px;
	left:inherit;
}

.block figure .type{
	right:9px;
	left:inherit;
}

/* ---------------------------------------------------------------------------------- */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
	margin:0 0 0 0;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown dd ul{ 
	left:-3px;
	right:-17px;
}

.dropdown dd ul li{
	border-left:0;
}

.dropdown span.flag{
	margin-left:0px;
	margin-right:10px;
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0 -1px 0 4px;
}

.usual-content{
  	clear:right;
}

/* ---------------------------------------------------------------------------------- */

/* Block Featured ------------------------------------------------------------------- */

.block-featured .panel{
	padding:10px;
}

.block-featured figure{
	background-color:#F7F7F9;
}

.block-featured figure .thumb{
	float:none;
}

.block-featured .owl-carousel{
	direction:ltr;
}

/* ---------------------------------------------------------------------------------- */

/* Block List ----------------------------------------------------------------------- */

.block-list ul{
	margin-right:0;
	padding-right:0;
}

.block-list ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position: right 9px;
	padding-right:10px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .panel .label,
.mod.details .label{
	unicode-bidi:embed;
}

.mod.details .col-md-offset-3{
	float:left;
	margin-left:0;
}

.mod figure .photo-count-container{
	right:5px;
	left:inherit;
}

.mod figure .thumb{
	margin-right:0;
	margin-left:10px;
	float:right;
}

.mod .vacation-icon{
    margin-right: 0;
	margin-left: 4px;
}

.products-write-review a{
	background-repeat:no-repeat;
	background-position:right 0;
	padding:0 20px 2px 0;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

.ribbon:after, .ribbon:before {
    border: 1.5em solid #C33333;
    float:right;
}

.ribbon:after {
    border-left-color: rgba(0, 0, 0, 0);
}

.ribbon a:link, .ribbon a:visited {
    float:right;
}

.ribbon span:before {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    right: 0;
}

.ribbon span:after {
    border-bottom: 0.5em solid #FFFFFF;
    border-left: 0.5em solid #9B8651;
    left: 0;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details Middle Tab ------------------------------------------------------- */

.products-middle-tab li { 
	float:right;
}

.products-middle-tab ul a {
	margin:0 -1px 0 4px;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.match-container ul{
	margin-right:0;
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow .switch {
	padding-right:5px;
	padding-left:0;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:0;
	border-right:1px solid #D6D6D6;
}

.invoice .item-title{
	padding:10px 5px 10px 0;
}

.invoice .due-balance{
	padding:10px 0 10px 5px;
	text-align:left;
}

.invoice a.remove-btn{
	float:left;
	padding:1px 18px 0 5px;
	background-repeat:no-repeat;
	background-position: 94% center;
}

.invoice-login-area{
	margin: 20px 20px 0 0;
}

.invoice-btn-container{
	padding:10px 15px 5px 0;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	text-align:right;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body_block_clild_body_box2_child1{
	padding-left: 0;
	padding-right: 10px;
}
			
.itinerary-header{
	margin-left:0;
	margin-right:5px;
}
				
.itinerary-price{
	text-align:left;
	padding-right:0;
	padding-left:10px;
}

/* ---------------------------------------------------------------------------------- */

/* Top Nav -------------------------------------------------------------------------- */

.jetmenu li{float:right !important;}

.jetmenu > li.right{float:left !important;}

.jetmenu .megamenu .col2{float:right !important;}

.jetmenu .indicator{ left:0; right:5px}

.jetmenu ul li .indicator{right:10px; left:0;}

.jetmenu li > .megamenu ul{float:right !important;}

.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6{ float:right !important};

/* ---------------------------------------------------------------------------------- */

/* Accordion ------------------------------------------------------------------------ */

.ac-container label,
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background-position: 100% 13px !important;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	background-image:none !important;
}

.ac-container-sidebar > div > label,
.ac-container-sidebar input:checked + label,
.ac-container-sidebar input:checked + label:hover{
	background-image: url(../images/list-arrow-rtl.gif) !important;
	background-position: 98% center !important;
}

.ac-container-sidebar .checkbox, .ac-container-sidebar .radio{
	padding-right:0;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

