<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

$per =  $this->translator->translator('b2b_product_per_unit');

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_products' );
function subCategory($view, $parent_id)
{
	$search_params['filter']['filters'][0] = array('field' => 'parent_id', 'operator' => 'eq', 'value' => $parent_id);
	$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
			
	$search_params['filter']['filters'][2] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
	
	$category_info = $view->category_db->getListInfo ('1', $search_params, false);
	
	if($category_info)
	{
		echo '<ul>';
		foreach($category_info as $info)
		{
			$link = $view->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'productslist', 'category' => $view->escape($info['url_portion'])), 'All-b2b-Seo-Product-list/*', true);
			$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$view->escape($info['b2b_images']) : '';
			echo '<li>';
				if($view->category_db->checkSubCategory ($info['id']))
				{
					echo '<span class="k-sprite image"></span><a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.$view->numbers($view->escape($info['product_num'])).')</span>';
					subCategory($view, $info['id']);
				}
				else
				{
					echo '<span class="k-sprite image"></span><a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.$view->numbers($view->escape($info['product_num'])).')</span>';
				}
			echo '</li>';
		}
		echo '</ul>';
	}
}
?>
<script>
$(document).ready(function() {	
	$("#treeview").kendoTreeView();
	
	$( "#radio" ).buttonset();	
	
	$("#radio :radio").click(function() {
			var self = this;
			var value = $(self).val();	
			window.location.href=value;		 
		});  	
});
function text_truncate()
{
	$('div.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script> 

<div class="mod">
	<h1><?php echo  $this->translator->translator('b2b_fontend_product_ist')?></h1>
    <div class="search">
    	<a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontend','action' => $this->getAction),'All-b2b-Product-list/*',true); ?>" class="btn btn-block btn-search"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('common_user_friendly_link'); ?></a>
        <hr>
        <div class="row">
        	<div class="col-xs-3">
            	<a href="#menu" class="a btn btn-warning"><span class="glyphicon glyphicon-align-justify glyphicon-cat"></span></a>
            </div>
            
            <div class="col-xs-9">
            	<div id="radio" class="list text-center">
                	<div id="radio" class="list text-center">
                    	<input type="radio" id="radio1" name="radio" value="Company-Directories" /><label for="radio1"><?php echo $this->translator->translator('b2b_front_company_list'); ?></label>
                      	<input type="radio" id="radio2" name="radio" value="Product-Directories" checked="checked" /><label for="radio2"><?php echo $this->translator->translator('b2b_fontend_product_ist'); ?></label>
                      	<input type="radio" id="radio3" name="radio" value="Buying-Leads-Directories" /><label for="radio3"><?php echo $this->translator->translator('b2b_fontend_buying_ist'); ?></label>
                      	<input type="radio" id="radio4" name="radio" value="Selling-Leads-Directories" /><label for="radio4"><?php echo $this->translator->translator('b2b_fontend_selling_ist'); ?></label>
                  	</div>
                </div>
          	</div>
     	</div>
       	<hr>
	</div>
   	
    <div id="example" class="k-content">
    	<nav id="menu">
            <div class="demo-section <?php if($locale_direction == 'rtl'){ ?>k-rtl<?php } ?>">
                <ul id="treeview">
                    <li data-expanded="true">
                        <span class="k-sprite rootfolder"></span>
                        <?php echo $this->translator->translator('common_tree_root'); ?>
                        
                        <?php
							if($this->category_info)
                			{
						?>
                        		<ul>
                        <?php								
								foreach($this->category_info as $info)
								{
									$link = $this->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'productslist', 'category' => $this->escape($info['url_portion'])), 'All-b2b-Seo-Product-list/*', true);
									$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
								?>						
									<li data-expanded="true">
                                    	<span class="k-sprite image"></span>
                                    	<a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span>(<?php echo $this->numbers($this->escape($info['product_num'])); ?>)</span>
										<?php subCategory($this, $info['id']); ?> 						  
									</li>							
								<?php									
								}
								?>
                                </ul>
						<?php
							}
						?>                        
                    </li>
                </ul>
            </div>
            <ul><li></li></ul>
        </nav>
    
        <?php			
            if($this->json_arr && $this->json_arr['status'] == 'ok')
            {
                if($this->json_arr['data_result'])
                {
        ?>
				<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'directory/productlist-pagination-flickr.phtml'); ?>
        <?php
		foreach($this->json_arr['data_result'] as $key => $entry)
		{
			if($entry['company_title']) { 
			$featured_class = ($entry['priority'] == 'YES' || $entry['featured'] == '1') ? 'featured-content' : '';
			$featured_spacer_class  = (!empty($featured_class)) ? 'spacer' : '';
     	?>
		<script>
        $(document).ready(function() {
            try{ 
                var item_array = <?php echo Zend_Json_Encoder::encode($entry); ?>;		
                var indexCartModel = kendo.observable({  			
                    addToCart: function(e) {					
                        $.each(item_array, function(key, value){
                                e.data[key] = value;
                            });						
                        cart.add(e.data);
                    }
                });
                kendo.bind($("#productlist-cart-info-<?php echo $entry['id']; ?>"), indexCartModel); 
            }catch(e){};
        });
        </script> 
        
        <div class="panel panel-default <?php echo $featured_class; ?>">
        	<div class="panel-body">
            	<?php
				if(!empty($featured_spacer_class))
				{
				?>
					<div class="ribbons" id="ribbons"><div><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></div></div>
				<?php
					}
				?>
                <h4 class="text-center"><a href="Product-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>" title="<?php echo $this->escape($entry['name']); ?>"><?php echo $this->escape($entry['name']); ?></a></h4>
                
                <figure>
                	<div class="thumb">
                        <a href="Product-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>" link="<?php echo $entry['primary_file_field_format']; ?>" title="<?php echo $entry['product_images_num_format']; ?>" /><img src="<?php echo $entry['primary_file_field_format']; ?>" border="0" width="150"/></a>
                        <div class="photo-count-container">
                            <div class="photo-count">
                                <a href="Product-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>/tab/2"><span class="glyphicon glyphicon-camera"></span> <?php echo $entry['product_images_num_format']; ?></a>
                            </div> 
                        </div>
                    </div>
                </figure>
                <br>
                <?php 
					if($entry['price']){
					 $currencyType = explode("-", $entry['price_currency']); 
				?>
					<div class="price"><?php echo html_entity_decode($this->translator->translator('members_area_product_tbl_price'), ENT_QUOTES, "UTF-8")  ?> : <?php echo $currencyType[0] .' '. $entry['original_price']; if ($entry['strikethrough_price']) {   echo ' <span class="price-previous">('.$entry['strikethrough_price'].')</span>'; } echo ' '. html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8") .' '.$entry['price_per_unit']; ?></div>
				<?php 
					}
				?>
                <div class="details">
                	<?php
                    if($entry['short_description']){ 
					?>
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <?php echo $this->escape($entry['short_description']); ?><br> 
					<?php 
						} 
						if($entry['size']){
					?>
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('front_tradeshow_size'), ENT_QUOTES, "UTF-8") ?> </span>  :  <?php echo $entry['size'] .' '. $entry['unit_size']; ?><br>
					<?php 
						} 
						if($entry['time_of_expiry']){
					?>
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo $entry['time_of_expiry']; ?><br>
					<?php
						} 
						if($entry['delivery_leadtime']){
					?>	
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_delivery_leadtime'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo $entry['delivery_leadtime']; ?><br>
					<?php 
						} 
						if($entry['min_quantity']){
					?>	
		
						<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_capacity'), ENT_QUOTES, "UTF-8") ?> </span>  :  <?php echo $entry['min_quantity'] .' '. $entry['min_unit_type']; ?>  <br>
					<?php 
						} 
						if($entry['specifications']){
					?>	
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_specifications'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo $this->escape($entry['specifications']); ?>   <br>							
					<?php
						} 
						if($entry['payment_terms']){
					?>	
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_company_payment_terms'), ENT_QUOTES, "UTF-8") ?></span> :  <?php echo $this->escape($entry['payment_terms']); ?><br>
							
					<?php
						} 
						if($entry['category_name']){
					?>
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, "UTF-8") ?>  </span> : <?php echo $this->escape($entry['category_name']); ?><br>		
					<?php
						} 
						if($entry['model_num']){
					?>						
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_front_product_model_num'), ENT_QUOTES, "UTF-8") ?>  </span>  : <?php echo $this->escape($entry['model_num']); ?><br>
					<?php
						} 
						if($entry['business_type'] !=0 ){
					?>
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8") ?>  </span>  : <?php echo $this->escape($entry['business_type']); ?><br>												
					<?php
						} 
						if($entry['added_on']){
					?>
						
					  	<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, "UTF-8") ?>  </span> : <?php echo $this->escape($entry['added_on']); ?> <br>							
					<?php
						} 
						if($entry['keywords'] || $entry['keyword_1'] || $entry['keyword_2'] || $entry['keyword_3'])
						{
					?>
						<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $entry['keyword'] ; if($entry['keyword_1']){ echo ', '.$entry['keyword_1']; } if($entry['keyword_2']){ echo ', '.$entry['keyword_2']; }  if($entry['keyword_3']){ echo ', '.$entry['keyword_3']; } ?><br>
					<?php
						}
					?>
                </div>
                <br>
                <ul class="list-group">
                	<li class="list-group-item">
                    	<?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_profile_overview'), ENT_QUOTES, "UTF-8")?> :
                    </li>
                    
                    <?php
                    if($entry['company_name'] && $entry['is_profile'] === 'YES'){
					?>
                    <li class="list-group-item">
						<a href="Company-Homepage/<?php echo $entry['company_title']; ?>"><?php echo $entry['company_name']; ?></a><br>	
                  	</li>
					<?php
						}
					?>
                    
					<?php
                      if($entry['establishing_year'])
                      {
                          $yyyy = date("Y");					
                          $year_of_est  = $entry['establishing_year'];
                          $company_age = (int)$yyyy - $year_of_est;
                          $number_of_years = ( $company_age >= 1 ) ?  $company_age : null;	
                      }
                      else
                      {
                          $number_of_years =  null;	
                      }
                     ?>				  
            
                    <?php if($number_of_years){?>
                    <li class="list-group-item">
                    	<?php echo html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, "UTF-8") .' '. $number_of_years  .' '.   html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8"); ?>
					</li>
					<?php } ?>
                                                
					<?php  
                     if($entry['category_isShowProfile'] == 1 || $entry['category_id'] == 0){
                        if($entry['country_code']){
                    ?>
                    <li class="list-group-item">
                    	<?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8"); ?> : <img src="data/adminImages/flagsImage/<?php echo $entry['country_code']; ?>.gif" border="0" /> &nbsp; <?php echo $this->escape($entry['state']); ?> / <?php echo $this->escape($entry['city']); ?>
                  	</li>
                    <?php 
                        } 
                        if($entry['brand_name']){
                    ?>
                    <li class="list-group-item">
                    	<?php echo html_entity_decode($this->translator->translator('b2b_company_profile_buying'), ENT_QUOTES, "UTF-8"); ?> :  <?php echo $entry['brand_name']; ?>
                 	</li>
                    <?php  
                        } 
                        if($entry['registered_in']){
                    ?>
                    <li class="list-group-item">
                    	<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8"); ?> :  <?php echo $entry['registered_in']; ?>
                	</li>
                    <?php 
                        } 
                        if ($this->preferences_data['show_phone']) {
                            if($entry['phone'] && $entry['user_id'] &&  $entry['is_telephone'] === 'YES'){
                    ?>
                    <li class="list-group-item">
                        <div class="call"><span class="glyphicon glyphicon-phone"></span> <?php echo $entry['phone'] .' - '.$entry['phone_part2'] .' - '. $entry['phone_part3']; ?></div>
                 	</li>
                    <?php 
						} 
					} 
					if ($this->preferences_data['show_inquiry_btn']) 
					{
						if($entry['is_feedback'] === 'YES')
						{
                    ?>
                    <li class="list-group-item">
                    	<a href="Inquiry/<?php echo $entry['company_title']; ?>" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> <?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a>
                 	</li>
                    <?php
                    	} 
                 	} if ($this->preferences_data['show_contact_btn']) {									   
                            if($entry['is_profile'] === 'YES'){
                    ?>
                    <li class="list-group-item">
                        <a href="Company-Contact/<?php echo $entry['company_title']; ?>" class="btn btn-success"><span class="glyphicon glyphicon-phone-alt"></span> <?php echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8"); ?></a>
                 	</li>
                    <?php
                            } 
                        } 						
                    }
                    if($entry['is_voting'] === 'YES'){
                    ?>
                    <li class="list-group-item">
                    	<div class="vote">
                        	<span class="label label-primary"><?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?></span>
                          	<span><?php echo $entry['profile_vote_format']; ?></span>
                    	</div>
                    </li>
                    <?php
                    }
                    ?>
                    
               		<?php if($entry['package_name']){ ?>
                    <li class="list-group-item">
                    	<img src="<?php echo $entry['file_path_b2b_images'].'/'.$entry['package_logo']; ?>" border="0" width="40"/>
                        <?php if($entry['package_name']){ ?> &nbsp; <span class="label label-primary"><a href="Product-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>"><?php echo $entry['package_name']; ?></a></span><?php } ?>
                  	</li>
					<?php } ?>
                    
                	<?php if($entry['package_name'] && $entry['priority_flag']){ ?>
                    <li class="list-group-item">
                    	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="40"/> &nbsp; <span class="label label-success"><?php echo $entry['priority_flag']; ?></span>
					</li>
					<?php } ?>
                    <li class="list-group-item">
                    	<span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/<?php echo $entry['review_id']; ?>/<?php echo $entry['id']; ?>"><span class="glyphicon glyphicon-pencil"></span> <?php echo  html_entity_decode($this->translator->translator('b2b_write_a_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; 
                    	<span class="review-count"><a href="Product-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>/tab/5"><?php echo $entry['review_no_format']; ?></a></span>
                  	</li>
           		</ul>
                
                <?php if($entry['shopping_cart_enable']){ ?> <span id="productlist-cart-info-<?php echo $entry['id']; ?>"><a href="javascript:void(0)" data-bind="click: addToCart" class="btn btn-block btn-cart"><span class="glyphicon glyphicon-shopping-cart"></span><?php echo  html_entity_decode($this->translator->translator('common_add_to_cart_btn'), ENT_QUOTES, "UTF-8"); ?></a></span><?php } ?>
            </div>
        </div>
		<?php
        	} 
        }
        ?>
			<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'directory/productlist-pagination-flickr.phtml'); ?>
        <?php
			}
		}
        ?>
	</div>
</div>

<div id="dialog_msg"></div>