<?php
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array( 'add_enable' => $this->allow('add','successstories','B2b'),
				  'edit_enable' => $this->allow('edit','successstories','B2b'), 
				  'publish_enable' => $this->allow('publish','successstories','B2b'), 
				  'delete_enable' => $this->allow('delete','successstories','B2b'), 
				  'displayable_enable' => $this->allow('displayable','successstories','B2b'), 'export_enable' => ( $this->allow('export','csv','Database') && $this->allow('list','csv','Database') ), 'import_enable' => ( $this->allow('import','csv','Database') && $this->allow('upload','csv','Database') ));

$headTitle = $this->translator->translator('story_list_manage_all_stories'); 
?>

<script type="text/javascript">
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);		
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',						
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',
										displayable_enable	:	'<?php echo $permission_arr['displayable_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'name'],
								
								default_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'primary' ), 'adminrout',    true); ?>",
								default_dest_data_field 	: 	['id', 'name'],
								default_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/default.gif",
								default_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/undefault.gif",
								
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: [
														{
															multi_action_caller_id				:	"a.displayable_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'displayable' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'name', 'paction'],
															multi_action_data_return_field 		: 	['displayable'],
															multi_action_data_permission_field 	: 	['displayable_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_show_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/block.png"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_hide_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/activate.png"}
																									]															
														}
														
													]
						},
						
						
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						//detailInit:	function(e) { detailInit(e, settingObj); },
						dataBound: function(e) {	
								var self = this;
								self.tbody.find("tr").children('td:nth-child(4)').css({'overflow' : 'visible'});	
								commonImageThumbnil();						
								//Get All grid rows
								var model = self.dataSource.data();	
								$.each( model, function(i, obj){
									if(obj.has_child == false)
									{										
										self.tbody.find("tr.k-master-row[data-uid='"+obj.uid+"']>.k-hierarchy-cell>a").remove();
									}
								});	
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');  
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								self.thead.find("th[data-field='order']").unbind('click');
								self.thead.find("th[data-field='order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
                                        full_name: { type: "string" },
										name: { type: "string" },
										title: { type: "string" },
										added_on: { type: "string" },
                                        active: { type: "enums"},
										common_action: { editable: false }
                                    }
                                },		
						<?php if ($permission_arr['add_enable'] || $permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),
						<?php endif; ?>													
						column_fields: [
											{ field:"checkAll", 		headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('b2b_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ field: "full_name", 		title: 	"<?php echo $this->translator->translator('story_list_page_fullname'); ?>", width: 200},
											{ 
												field: "b2b_images", 		
												title:	"<?php echo $this->translator->translator('b2b_thumbnail'); ?>",
												width: 80,
												template: '# if(b2b_images){ # <div class="thumb"><img src="#= commonFilePath(\'data/frontImages/b2b/b2b_images\', b2b_images) #" width="30" height="20" /></div> # } #',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{  field: "name", title:	"<?php echo $this->translator->translator('story_list_page_title' ); ?>" , width: 200},											
											{  field: "title", title:	"<?php echo $this->translator->translator('story_list_page_name'); ?>" , width: 200},										
											{  field: "added_on", 
											    
											   title:	"<?php echo $this->translator->translator('list_page_added_on'); ?>",  
											   format: "{0:MM/dd/yyyy}", 
											   template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${added_on_format}<br /><strong><?php echo html_entity_decode($this->translator->translator('common_entry'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${username}">#= kendo.toString(added_on,\'dd/MM/yyyy\') #</div>',
											   attributes:{ 'align' : 'center' },
											   width: 80, 
											   filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},

											{ 	
												field: "active",
												optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",												
												//values: [ {text: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>", value: 0 }, {text: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>", value: 1 } ],	
												title:	"<?php echo $this->translator->translator('common_status'); ?>", 
												width: 80,
												template: '<a href="javascript:void(0);" class="publish_btn"  rel="${id}_${publish_status_page_name}_#= (active == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (active == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({	
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",														
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 110, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'successstories', 'action'     => 'edit', 'id' => '' ), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?> <a href="javascript:void(0);" class="delete_btn"  rel="${id}_${publish_status_page_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);"  rel="${id}_${publish_status_page_name}_#= (displayable == 1) ? 0 : 1 #" class="displayable_btn"><img src="#= (displayable == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/activate.png\' : \'application/modules/Administrator/layouts/scripts/images/tools/block.png\' #" border="0" title="#= (displayable == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_undisplayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_displayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (displayable == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_undisplayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_displayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a>',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_delete_item"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("category_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);	
	
});
</script>

<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<script type="text/x-kendo-template" id="detail_template"> 
	<div class='tabstrip'>            
		<ul>
			<li class='k-state-active'>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
		</ul>

		<div class="row-details">
			# if(primary_file_field_format){ # <img src="${primary_file_field_format}" width="80" /> # } #
			<div class="col1">
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_name"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= name #<br />
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= full_name #<br />
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= name #<br />
			</div>
			
			<div class="col2">
				<strong><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_price"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= price # #= price_currency #<br />
			</div>

			<div class="col3">
				<img src="application/modules/Administrator/layouts/scripts/images/tools/product-details.png" border="0" alt="<?php echo $this->translator->translator('common_product_details'); ?>" title="<?php echo $this->translator->translator('common_product_details'); ?>" />
				<img src="application/modules/Administrator/layouts/scripts/images/tools/membership.png" border="0" alt="<?php echo $this->translator->translator('common_membership_details'); ?>" title="<?php echo $this->translator->translator('common_membership_details'); ?>" />
			</div>
		</div>

	</div>
</script>

<div id="button_top_bar"></div>

<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['export_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'b2b_success_stories'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
			<?php endif; ?>
			
			<?php if ($permission_arr['import_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'b2b_success_stories', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
			<?php endif; ?>
			
			<?php if ($permission_arr['add_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'B2b','controller'=>'successstories', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			<?php if ($permission_arr['publish_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('common_publish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('common_unpublish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		
			<?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		</div>
	</div>
</script>

<!-- Content Start-->
<div class="title-container">
	<div class="b2b-success"><h1><?php echo $headTitle ?></h1></div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>

    <div id="content-inner">
        
        <div id="member_list" >
        	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                 <div id="grid"></div>
            </div>
     	</div>

	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('menu_b2b_manage_products'); ?></h1>

    <div class="button-container">
		<?php if ($permission_arr['export_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'b2b_success_stories'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['import_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'b2b_success_stories', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'B2b','controller'=>'successstories', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>

       	<?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="publish"><span class="icon publish"><?php echo $this->translator->translator('b2b_activate'); ?></span></a></span>

     	<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="unpublish"><span class="icon unpublish"><?php echo $this->translator->translator('b2b_deactivate'); ?></span></a></span>
        <?php endif; ?>

        <?php  if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<!-- Content End -->
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
</div>