<script>
    var userType = '';
    $(document).ready(function() {
        $(".add_user_btn").click(function(){
            userType = $("input[name=User_type]:checked").val();
            
            //redirecting based on user type
            if(userType == "vendor"){
                window.location.replace("<?php echo $this->url( array('module' => 'Userinfo','controller' => 'frontend', 'action' => 'regvendor' ), 'Register/vendor',    true) ?>");
            } else {
                window.location.replace("<?php echo $this->url( array('module' => 'Userinfo','controller' => 'frontend', 'action' => 'reguser' ), 'Register/client',    true) ?>");
            }
        });
    });    
</script>
<div class="mod">
    <div class="registration-icon">
        <h1><?php
//            if (!empty($this->role_info)) {
//                echo $this->role_info['role_name'] . ' ' . $this->translator->translator('Member_frontend_register_title');
//            } else {
//                echo $this->translator->translator('Member_frontend_register_title');
//            }
            echo "Select User Type";
            ?></h1>
    </div>

    <div class="clear"></div>

    <div id="actionMessage">&nbsp;</div>

    <div id="memberFormDiv">
        <div id="actionMessage">&nbsp;</div>
        <form name="MemberForm" id="MemberForm">

            <fieldset>
                <legend>Select User Type</legend>

                <div>
                    <div class="form-label-container">
                        <div class="label_class label_class" style="">
                            <!--declearing label name-->
                            <?php echo $this->selectUserType->User_type->getLabel(); ?>
                            <!--checking if required or not-->
                            <?php if ($this->selectUserType->User_type->isRequired()): ?>
                                &nbsp;<span class="members-star star_class">*</span>
                            <?php endif; ?>
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-field-container">
                        <div class="form-field">
                            <?php echo $this->selectUserType->User_type; ?><br>
                            <span class="input-errors" id="User_type_err"></span>                                              
                        </div>
                        <div class="form-field-info"></div>                                              
                    </div>
                </div>
                
                
                
                
                <div class="clear">&nbsp;</div>
            </fieldset>
        </form>

        <div class="clear btn-container">
            <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><?php echo $this->translator->translator('common_reset'); ?></a></span>
            <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="add_user_btn"><?php echo $this->translator->translator('common_submit'); ?></a></span>
        </div>
    </div>

    <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', 'Message'); ?>"></div>
    <div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
        <div id="progressbar"></div>	
    </div>
</div>






