<?php
if($this->business_type_info)
{
if(!empty($this->business_type_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->business_type_info['meta_keywords']);}
if(!empty($this->business_type_info['meta_desc'])) { $this->headMeta()->setName('description',$this->business_type_info['meta_desc']); }
if(!empty($this->business_type_info['business_type'])) { $this->headTitle()->headTitle($this->business_type_info['business_type'],'SET')->setSeparator(' - ')->headTitle($this->business_type_info['meta_title']); }

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get('global_conf');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','autos_page' );

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
?>

<?php 
$allow_obj = new Autos_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->business_type_info['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>
<script type="text/javascript">
$(document).ready(function() {
		var settingObj = {
                            grid_id : 'autos-grid',
                            dest_url : "<?php echo $this->url(); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							saveItem: {
								link_id : 'a.save_autos_btn',
								server_url: "<?php echo $this->url( array('module' =>'Autos','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},
                            search_action: {},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    text_truncate();
                                    commonVoting();
									itemSave(settingObj);
									<?php if($global_conf['payment_system'] == 'On' && $global_conf['marchent_payment_system'] == 'On'){ ?>
									commonCartButtonFunction(self, 'productlist-cart-info-');   //Shopping Cart
									<?php } ?>									
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("autos_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("autos_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);	
		//try { kendo.bind($("#grid-autos"), indexModel); } catch(e){};		
});

function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  70,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]", 
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]", 
		ellipsisText: "",
		moreAni: "fast",  
		lessAni: 2000  
	});

}
</script>
<script type="text/x-kendo-template" id="view_template">
		<div class="products-list">
			<!-- List Header Start -->
			<div class="list-header">
				<div class="header-row">
					<div class="header-left">
						<span class="title-small"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title',true); ?>/${autos_model_title}">#= autos_model_name_format #</a></span><br />
						<span class="info">
							# if(feature_mileage){ # #= feature_mileage_format # #= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_mileage'), ENT_QUOTES, "UTF-8"); ?>' # #} #
							# if(feature_doors){ # #= ', ' # #= feature_doors_format # #= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_doors'), ENT_QUOTES, "UTF-8"); ?>' # #} #
						</span>  
					</div>
				
					<div class="header-middle">
						<span class="products-mark"></span>&nbsp;<span class="products-type">#= business_type #</span>
					</div>
				
					<div class="header-right"> 
						# if(review_id){ #                                         
						<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= '<?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>' #</a></span> &nbsp; 
						<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/${autos_model_title}/8">#= review_no_format #</a></span>
						# } #
					</div>
				</div>
			</div>
			<!-- List Header End -->
			
			<!-- List Body Start -->
			  <div class="body-container #= (featured == '1') ? 'products-featured' : '' #">
				   <div class="left-content">
						  <div class="img-wrapper">
							  <a href="<?php echo $this->url(array('module' => 'autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/${autos_model_title}" class="preview" link="#= autos_image_format #" title="#= autos_model_name #"><img src="#= autos_image_format #" border="0" #= thumb_width # #= thumb_height # class="thumb" /></a>
							  <div class="photo-count-container">
								  <div class="photo-count">
									  <a href="<?php echo $this->url(array('module' => 'autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/${autos_model_title}/1" title="#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_click_view_photos'), ENT_QUOTES, "UTF-8"); ?>' #">#= autos_image_no_format #</a>
								  </div>
							  </div>                                            
						  </div>
						  
						  <h2>
							  <a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/${autos_model_title}" class="preview" link="" title="#= autos_model_name #">#= autos_model_name_format #</a>
						  </h2>
						  
						  <div class="products-stars">
							  #= list_stars_format #
						  </div>
						  
						  <div class="products-desc">
						  		<div class="options-col-1">
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_mileage'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_mileage_format #<br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_exterior_color'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_exterior_color #<br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_drive_type'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_drive_type # <br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_transmission'), ENT_QUOTES, "UTF-8"); ?> :</p> #= feature_transmission #<br />
								</div>
								
								<div class="options-col-2">
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_engine'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_engine #<br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_interior_color'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_interior_color #<br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_fuel_type'), ENT_QUOTES, "UTF-8"); ?></p> #= feature_fuel_type # <br />
									<p><?php echo html_entity_decode($this->translator->translator('autos_front_page_bodystyle'), ENT_QUOTES, "UTF-8"); ?> :</p> #= feature_bodystyle #<br />
								</div>
						  </div>
						  
				   </div>
				   
				   <div class="right-content">
				   
				   	<div class="price-wrap"> <span class="tag-head">&nbsp;</span>
				   		<span class="products-price"># if(autos_price){ # # if(autos_strickthrow_price && autos_strickthrow_price != 0){ # (<span style="text-decoration:line-through">#= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= autos_strickthrow_price_format #</span>) # } # #= '<?php  echo $this->currency->getSymbol().' '; ?>' # #= autos_price_format # # } #</span>
					</div>	
					
					# if(showroom_phone){ #
					<div class="products-call">
						#= showroom_phone #
					</div>
					# } #
									  
					<div class="products-vote">
						<p>#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
						<span>#= vote_format #</span>
					</div>
				   </div>				   				   
		  	</div>
		  	<!-- List Body End -->
			 
		
		<!-- List footer start -->
			<div class="list-footer">
				<div class="footer-left">
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/5">#= '<?php echo html_entity_decode($this->translator->translator('autos_page_equipment'), ENT_QUOTES, "UTF-8"); ?>' #</a> | 
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/2">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_fpan'), ENT_QUOTES, "UTF-8"); ?>' #</a> |
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/3">#= '<?php echo html_entity_decode($this->translator->translator('autos_page_body'), ENT_QUOTES, "UTF-8"); ?>' #</a>  | 											 
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '','tab' => '' ),'Autos-details/:autos_model_title/:tab',true); ?>/#= autos_model_title #/1">#= '<?php echo html_entity_decode(ucfirst(strtolower($this->translator->translator('autos_front_page_autos_photo'))), ENT_QUOTES, "UTF-8"); ?>' #</a>  |
					<a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'emails', 'action' => 'details','autos_model_title' => '', 'form_id' => '' ),'Autos-Email-Your-Friend/:autos_model_title/:form_id',true); ?>/#= autos_model_title #/<?php echo $this->translator->translator('email_to_friend_form_id'); ?>">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_email_friend'), ENT_QUOTES, "UTF-8"); ?>' #</a>
				</div>
			
				<div class="footer-right">
					<span class="products-save-btn"><a  href="javascript:void(0);" class="save_autos_btn" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("autos_front_page_save_autos"), ENT_QUOTES, "UTF-8"); ?></a></span>&nbsp;
					# if(shopping_cart_enable){ #<span class="products-book-btn" id="productlist-cart-info-#= id #"><a  href="javascript:void(0)" data-bind="click: addToCart">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_add_to_cart'), ENT_QUOTES, "UTF-8"); ?>' #</a></span># } #
					
					<span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => '' ),'Autos-details/:autos_model_title',true); ?>/#= autos_model_title #">#= '<?php echo html_entity_decode($this->translator->translator('autos_front_page_autos_more'), ENT_QUOTES, "UTF-8"); ?>' #</a></span>
				</div>                                
			</div>
		<!-- List footer end -->
		</div>		
</script>
<div class="mod">
	<div class="list-icon">
        <h1><?php echo $this->translator->translator('autos_front_page_list').' ('.$this->escape($this->business_type_info['business_type']).')'; ?></h1>
    </div>
    
	<div class="social">
      	<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
    	<!-- AddThis Button END -->
    </div>
    
    <div class="clear"></div>
  	<div id="grid-autos" <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="autos-grid" data-bind="source: autos"></div>  
     </div>
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('autos_page_list_page_name')); ?>"></div>

<?php endif;
}
else
{
?>
	<div class="mod">
    	<div class="list-icon">
            <h1><?php echo $this->translator->translator('autos_front_page_business_type_not_found'); ?></h1>
        </div> 
    </div>
<?php	
}
?>