/* ___________________________________________________________________________________
   
   CSS Framework for Eicra Realestate Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

* {
	margin: 0;
    padding: 0;
}

body{
	background-color:#F5F5F5 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	color: #272727;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

header, hgroup, nav, article, section, footer, aside, address{ 
	display:block;
}

a{
	color:#458218;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#F46200;
	text-decoration:underline;
}

a:visited { 
	/*color:#458218;*/
}

a:hover, a:active, a:focus{ 
	outline: 0; 
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	border: 1px solid #C1C1C1;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#3C3C3C;
	padding:5px;
	margin:0 10px 0 0;
	/*width:auto;*/
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 8px 5px 0;
	vertical-align:middle;
}

input,select,textarea,button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	color:#518C1C;
	margin: 2px 0 10px 0;
	letter-spacing: -1px;
}

h1{font-size:23px;}

h2{font-size:20px;}

h3{font-size:18px;}

h4{font-size:16px;}

h5{font-size:14px;}

h6{font-size:12px;}

form{ 
	margin-bottom:0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #79AD2E;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#83B931;
	border:1px solid #79AD2E;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

ul, ol{ 
	list-style:none; 
}

hr{
	padding:0;
	margin:10px 0;
	width: 100%;
	clear: both;
	border: none;
	border-top:1px solid #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	display:inline-block;
	position: relative;
}

hr.dashed{
	padding:5px 0 0 0;
	border-top:0;
	border-bottom:1px solid #CCC;
	border-bottom-style:dashed;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#wrapper{ 
	width:100%;
}

#main-container{ 
	width:998px;
	padding:0;
	margin:5px auto;
}

#main{
	border:1px solid #D7D7D7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
	margin: 5px 0 0 0;
	padding:5px;
	min-height:530px;
}

#content{	
	width:715px;
	float:left;
	overflow:hidden;
}

.content-container{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:10px;
	overflow:hidden;
}

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#414849;
	height:29px;
	color:#D6DEE0;
}

.user-link{
	margin:6px 0 0 0;
}

.user-link a{
	color:#D6DEE0;
	text-decoration:underline;
}

.user-link a:hover{
	color:#D6DEE0;
	text-decoration:none;
}

.quick-access{
	padding: 0;
}

.top-links{
	text-align:right;
}

.top-links a{
	color:#D6DEE0;
	margin: 6px 0 0 0;
	display:inline-block;
}

.top-links a:hover{
	color:#D6DEE0;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header{
	background-color:#FFF;
}

#header .container{
}

#header .logo{
	padding: 8px 0;
	float:left;
}

#header .support{
	padding: 7px 0 0 0;
	float:right;
	text-align:right;
}

.listing-add{
	background-color:#74A442;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 2px 15px;
	margin: 13px 0 0 0;
	display:inline-block;
	text-align:center;
	float:right;
}

.listing-add:hover{
	background-color:#63932F;
}

.listing-add span{
	font-size:30px;
}

.listing-add a{
	color:#FFF;
	text-decoration:none;
}

.listing-add a:hover{
	color:#FF9;
	text-decoration:none;
}

#header .listing-count{
	background-color:#289B66;
	padding: 2px 15px;
	color:#FFF;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin: 13px 10px 0 0;
	display:inline-block;
	text-align:center;
	float:right;
}

#header .listing-count .no{
	font-size:30px;
	margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:38px;
	display:block;
}

/* ---------------------------------------------------------------------------------- */

/* Side Bar ------------------------------------------------------------------------- */

#sidebar{
	width:250px;
	float:right;
	border:1px solid #CCC;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
	padding:5px 5px 5px 5px;
	margin:0 0 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	width:998px;
	margin-bottom:15px;
	border-top:3px solid #1F640B;
	overflow:hidden;
}

#banner .left-bg{
	background:url(../images/search-left.jpg) no-repeat;
	height:363px;
	width:10px;
	float:left;
}

#banner .right-bg{
	background:url(../images/search-right.jpg) no-repeat;
	height:363px;
	width:10px;
	float:right;
}

#banner .bg{
	background:url(../images/search-bg.jpg) repeat-x;
	height:363px;
	width:978px;
	float:left;
}

#banner-inner{
	background:url(../images/banner-inner.jpg) center;
	height:180px;
	margin-bottom:10px;
}

#banner-inner h1{
	background-color:rgba(0, 0, 0, 0.5);
	border:1px solid #333333;
	color:#E8E8E8;
	font-weight:bold;
	display:inline-block;
	margin-top:65px;
	padding:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Bootstrap Customization ---------------------------------------------------------- */

.block h3{
	margin-top:0;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#394041;
	display:inline-block;
}

.block h6{
	margin-top: 0px;
	display:inline;
}

.block h6 a{
	font-size:17px;
	color:#4B5252;
	letter-spacing:normal;
}

.block h6 a:hover{
	color:#289B66;
}

.block .btn{
	border-radius:0;
}

.block .panel{
	border-radius:0;
}

.block .panel .panel-body h6{
	height:20px;
	display:block;
	height:37px;
	margin-bottom:4px;
}

.block .panel a.btn{
	border-radius:0;
}

.block .panel .price{
	background-color:/*#EE9864*/#ED9C28;
	color:#FFF;
	font-size:16px;
	padding:4px 0px;
	display:block;
}

.block .panel .location a{
	font-size:12px;
	color:#F90;
	text-decoration:underline;
	display:inline-block;
	margin-bottom:10px;
}

.block .panel .location a:hover{
	color:#999;
}

.block .panel .details{
	min-height:205px;
}

.block figure{
	float:left;
	position:relative;
}

.block figure .photo-count-container{
	position:absolute;
}

.block figure .photo-count-container{
    background: rgba(92, 184, 92, 0.7);
    position: absolute;
    text-align: center;
	left:9px;
	bottom:9px;
	padding: 2px 10px;
	/*width: 70px;*/
}

.block figure .photo-count-container .photo-count a{
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
}

.block figure .photo-count-container a:hover{
	color:#FF9;
	text-decoration:none;
}

.block figure .type{
	font-size:12px;
	color:#FFF;
	background-color:rgba(37, 42, 43, 0.8);
    position: absolute;
    text-align: center;
	top:9px;
	left:9px;
	padding: 4px 10px;
}

.block figure img{
	margin:0 10px 0 0;
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:8px;
}

.block .details{
	font-size:12px;
	color:#8B9293;
}

.block .details .ratings{
	margin: 5px 0;
}

.block .panel-footer{
	font-size:13px;
	color:#666;
	padding:0 15px;
}

.block .panel-footer span{
	width:50%;
	float:left;
	padding:10px 13px;
	display:inline-block;
	border-bottom:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
}

.block .panel-footer span.no-b-bdr{
	border-bottom:0;
	float:none;
}

.block .panel-footer span.no-r-bdr{
	border-right:0;
}

.block .property-icon{
    display: inline-block;
	width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: -5px;
	background-repeat:no-repeat;
	background-position:left center;
}

.block .property-icon.icon-area {
    background-image: url("../images/mod_property_img/icon-size.png");
}

.block .property-icon.icon-room {
    background-image: url("../images/mod_property_img/icon-bed.png");
}

.block .property-icon.icon-bath {
    background-image: url("../images/mod_property_img/icon-bath.png");
}

.block i.property-icon.icon-garage {
    background-image: url("../images/mod_property_img/icon-garage.png");
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 0 auto;
}

.block .block-heading{
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	color:#FFF;
	padding:0px 0;
	background-color: #289B66;
}

.block .block-heading .symbol{
	padding:10px;
}

.block .block-body{
	border:1px solid #DEDEDE;
	margin:0 0 15px 0;
	padding:5px 5px 5px 5px;
	clear:both;
	overflow:hidden;
}

.block .block-content{	
	margin:0 auto 5px auto;
	padding:5px;
	overflow:hidden;
}

.block .block-title{
	font-weight:bold;
	color:#458218;
}

.block .block-title a{
	font-weight:bold;
	cursor:pointer;
}

.block .block-title a:hover{
	font-weight:bold;
	color:#666;
	text-decoration:underline;
}

.block .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 2px 4px 2px 0px;
	float:left;
}

.block .price{
	font-size:15px;
	color:#FF9900;
	padding:13px 0;
}

.block .price-big{
	font-size:26px;
}

.block .info{
	color: #666666;
	font-style:italic;
}

.block .img-wrapper,
	   .img-wrapper{
	float:left;
	position:relative;
}

.block .img-wrapper .photo-count-container,
	   .img-wrapper .photo-count-container{
	border:1px solid #FFF;
    background-color:#78A00E;
    line-height: 20px;
    position: absolute;
    text-align: center;
	left:5px;
	top:102px;
	padding: 0 10px;
	width: 70px;
}

.block .photo-count-container .photo-count a,
	   .photo-count-container .photo-count a{
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

.block .photo-count-container .photo-count a:hover,
	   .photo-count-container .photo-count a:hover{
	color:#FF9;
	text-decoration:none;
}

.block .date{
	color:#F60;
}

.block .link-btn a{
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	padding: 6px 10px 6px 10px;
	font-weight:bold;
	color:#FFF;
	box-shadow: 0 1px 1px #AFF420 inset;
	border:1px solid #719502;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	float:right;
}

.block .link-btn a:hover{	
	background: #EC8D00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#EC8D00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBA00), to(#EC8D00));
	background: -moz-linear-gradient(top, #FFBA00, #EC8D00);
	color:#FFF;
	box-shadow: 0 1px 1px #FEE849 inset;
	border:1px solid #F09100;
	text-decoration:none;
}

.block .seperator{
	background:url(../images/dot_border.gif) repeat-x;
	width:100%;
	display:inline-block;
	padding:10px 0 0 0;
	margin:10px 0 0 0;	
}

.block .more{
	text-align:right;
}

.block .more a {
	font-weight:bold;
}

.block .more a:hover{
}

.block .list{
	width:30%;
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.block .list ul{
	margin:0;
	padding:0;
}

.block .list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.block .list a{
	color:#538D1D;
	text-decoration:none;
	width:100%;
}

.block .list a:hover{
	color:#FF9900;
	text-decoration: underline;
}

.clear{
	clear:both;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .top-row{
	background-color:#227F6A;
	margin: 10px 0 0 0;
	padding:10px 0 0 0;
	color:#F5F5F5;
}

#footer .bottom-row{
	background-color:#333;
	padding:10px 0;
}

#footer h3{
	margin-top:0;
	margin-bottom:15px;
	text-transform:uppercase;
	font-size:17px;
	font-weight:bold;
	color:#F5F5F5;
}

#footer .block .block-body{
	border:0;
	padding:0;
}

#footer .block hr{
	margin:0;
}

#footer .block a.btn-link{
	color:#CCC;
}

#footer .block a.btn-link:hover{
	color:#5CB85C;
}

#footer ul{
	margin-left:25px;
	padding-left:25px;
}

#footer ul li {
	margin:0;
	line-height:22px; 
	list-style:disc;
}

#footer ul li a{
	color:#FFF; 
}

#footer ul li a:hover{
	color:#FF9;
}

#footer .social{
	text-align:right;
}

#footer .social a {
	margin: 0 0 0 0;
	display: inline-block;
}

#footer .copyright{
	color: #797979;
}

#footer .copyright a{
	color: #797979;
	text-decoration:underline;
	line-height:20px;
}

#footer .copyright a:hover{
	color: #797979;
}

.go-top a{
	background: url(../images/top.png) no-repeat;
	width:49px;
	height:49px;
	display:block;
	position:fixed;
	bottom:10px;
	right:30px;
	z-index:100;
	text-align:center;
	padding: 25px 0 0 0;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner{
	float:left;
	width:210px;
}

#content-inner{
	width:75%;
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:right;
	margin:0 0 0 5px;
}

.flags .dropdown dl{ 
	float:right;
	margin:0;
}

.dropdown dd, .dropdown dt, .dropdown ul{
	margin:0px 0 0 0; 
	padding:0px;
}

.dropdown dd{ 
	position:relative; 
}

.dropdown a, .dropdown a:visited{ 
	color:#0080D5;
	text-decoration:none; 
	outline:none;
}

.dropdown a:hover{
	color:#06C;
}

.dropdown dt a:hover{
	color:#D6DEE0;
}

.dropdown dt a{
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/
	color:#D6DEE0; !important;
	display:block; 
	padding-right:20px;
	/*width:220px;*/
}

.dropdown dt a span{
	display: inline-block;
}

.dropdown dd ul{ 
	background:#FFF none repeat scroll 0 0;
	border:1px solid #DBDBDB;
	color:#C5C0B0;
	display:none;
	right:0px; 
	padding:5px 0px; 
	position:absolute; 
	top:0; 
	width:auto; 
	min-width:240px;
	list-style:none;
	z-index:99999;
}

.dropdown span.value{
	display:none;
}

.dropdown dd ul li{
	border-right:0;
	padding:0;
}

.dropdown dd ul li a{ 
	padding:5px; 
	display:block;
}

.dropdown dd ul li a:hover{ 
	background-color:#F2F2F2;
}

.dropdown span.flag{
	border:none; 
	vertical-align:middle; 
	margin-left:10px;
	float:right;
}

.dropdown span.flag img{
	display: inline-block;
}

.flagvisibility{
	display:none;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.top-nav{
	background-color:#238B5C;
	height:40px;	
}

/* ---------------------------------------------------------------------------------- */

/* Banner AD ------------------------------------------------------------------------ */


.block-property-feature figure{
	padding:10px;
	color:#FFF;
	overflow:hidden;
}

.block-property-feature figure a{
	color:#FFF;
	text-decoration:none;
}

.block-property-feature figure a:hover{
	text-decoration:underline;
}

.block-property-feature .first{
	background-color:#47A447;
}

.block-property-feature .second{
	background-color:#FFB429;
}

.block-property-feature .third{
	background-color:#EB4B29;
}

.block-property-feature figure img{
	float:left;
	margin-right:10px;
}

.block-property-feature figure strong{
	font-size:17px;
	letter-spacing:-1px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer AD ------------------------------------------------------------------------ */

.block-ad-footer{
	background-color:#72A22B;
	margin-bottom:20px;
	padding:7px;
	float:left;
	overflow:hidden;
}

/* ---------------------------------------------------------------------------------- */

/* Sidebar AD ----------------------------------------------------------------------- */

.block-ad-sidebar .block-body{
	background-color:#F5F5F5;
    color: #999999;
    font-size: 11px;
    padding: 10px 0 15 0px;
	margin:0;
    text-align: center;
}

/* ---------------------------------------------------------------------------------- */

/* Property Agent AD ---------------------------------------------------------------- */

.block-ad-agent .block-body{
	float:right;
	width:430px;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px 1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	font-weight:bold;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#F39B11;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #47A447;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  clear:left;
  background:#FBFBFB;
  border:1px solid #E7E7E7; 
  overflow:hidden;
}			

/* ---------------------------------------------------------------------------------- */

/* Realestate Banner Search --------------------------------------------------------- */

.block-search{
	background-color:#FFF;
	border:1px solid #DEDEDE;
	padding:10px;
	margin:10px 0;
}

.block-search h2{
	margin:0;
	padding:8px 12px;
	font-size:20px;
	font-weight:bold;
	background-color:#464E4F;
	color:#FFF;
	display:inline-block;
	vertical-align:top;
	line-height:25px;
}

.block-search span.glyphicon-search{
	background-color:#2E3536;
	font-size:25px;
	color:#FFF;
	padding:8px 12px;
	top:0;
	line-height:25px;
}

.block-search .slogan{
	color:#F60;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
}

.block-search label{
	font-weight:normal;
}

.block-search input[type="text"],
.block-search select{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.block-search input[type="submit"]{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	font-weight:bold;
	font-size:13px;
}

.block-search .ui-combobox-input{
	padding: 0.70em;
	background:none;
	border-radius:0;
}
.block-search .ui-button{
	border-radius:0;
}


.block-search .ui-autocomplete-loading{ 
	background-image: url("../images/loader/search-field.gif");
	width:100%;
}

/* ---------------------------------------------------------------------------------- */

/* Realestate Agent Search ---------------------------------------------------------- */

.block-agent-search .block-content{
	width:285px;
	padding:5px 0 0 5px;
}

.block-agent-search h4{
	font-weight:normal;
	color:#FFFF66;
 	padding: 0 0 5px 0;
}

.block-agent-search .block-content .agent-bg{
	background:url(../images/reslestate.png) no-repeat;
	background-position: 0 5px;
	width:280px;
	height:300px;
	margin:10px 0 0 0;
	padding: 10px 0 0 10px;
}

.block-agent-search .block-content input[type="text"].city{
	width:200px;
}

/* ---------------------------------------------------------------------------------- */

/* Realestate Sidebar Search -------------------------------------------------------- */

.block-sidebar-search .block-body{
	width:210px;
	padding:0;
	border:0;
}

.block-sidebar-search a.advance{
	background-color:#EEA433;
	padding:10px;
	margin:10px 0;
	color:#FFF;
	display:block;
	font-weight:bold;
	text-decoration:none;
}

.block-sidebar-search a.advance:hover{
	background-color:#EC9717;
}

.block-sidebar-search .block-body select,
.block-sidebar-search .block-body input[type="text"]{
	border-radius:0;
	padding:2px;
}

.block-sidebar-search .block-heading {
	border:0px solid #006600;
}

.block-sidebar-search .block-heading h1{
	color:#FFF;
	font-style:normal;
	text-shadow: 0 1px 0 #003;
	text-align:center;
	word-spacing:-2px;
	padding:13px 0;
	margin:0;
}

.block-sidebar-search .block-content-1,
.block-sidebar-search .block-content-2,
.block-sidebar-search .block-content-3{
	background-color:#289B66;
	border-top:1px solid #289B66;
	padding:8px;
	color:#FFF;
	overflow:hidden;
}

.block-sidebar-search .block-content-1 input[type="text"].code{
	float:right;
	border:0;
	margin:0;
	padding:4px;
	width:90px;
}

.block-sidebar-search .block-content-1 input[type="text"]{
	width:100%;
	border:1px solid #006600;
}

.block-sidebar-search .block-content-1 select{
	width:100%;
	border: 1px solid #006600;
	margin: 4px 0;
}

.block-sidebar-search .block-content-1 .ui-combobox{
	margin:5px 0;
}

.block-sidebar-search .block-content-1 .ui-combobox .ui-autocomplete-input{
	width:169px;
}

.block-sidebar-search .block-content-2{
	background-color:#64BB64;
}

.block-sidebar-search .block-content-2 .k-label{
	color:#FFF;
}

.block-sidebar-search .block-content-2 .block-title{
	color:#FFF;
}

.block-sidebar-search .block-content-2 select{
	width:49%;
	border:1px solid #438318;
	margin: 4px 0;
	float:left;
}

.block-sidebar-search .block-content-2 select.last{
	float:right;
}

.block-sidebar-search .block-content-3{
	background-color:#DAEFDA;
}

.block-sidebar-search .block-content-3 select{
	width:100%;
	border: 1px solid #99CC00;
	margin: 4px 0;
}

.block-sidebar-search .block-content-3 .button a{
	background-color:#EEA433;
	border:0;
	padding:8px 10px;
	font-size:15px;
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	white-space: normal;
	text-decoration:none;
	margin:8px 0;
	width:100%;
}

.block-sidebar-search .button a:hover{
	background-color: #F49411;
}

.block-sidebar-search .block-content-3 a{
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-body{
	background-color:#DAEFDA;
}

.block-search-filter .block-content{
	display:block;
	color:#666;
	overflow:visible;
}

.block-search-filter .block-content .block-title{
	margin:5px 0;
}

.block-search-filter .block-content input[type="checkbox"]{
	margin:5px 4px 5px 0;
}

.block-search-filter .block-content input[type="radio"]{
	margin:3px 4px 5px 0;
}

.block-search-filter .block-content img{
	vertical-align:middle;
}

.block-search-filter label{
	font-weight:normal;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Property ---------------------------------------------------------------- */

.block-featured{
	margin-top:30px;
}

.block-featured .block-body{
	background-color:#EAF4EA;
}

.block-featured .col{
	width:96%;
	margin: 5px 30px 12px 10px;
	float:left;
	overflow:hidden;
}

.block-featured .col h6 a{
	margin-bottom:5px;
	display:inline-block;
}

.block-featured .price{
	background-color:#ED9C28;
	color:#FFF;
	font-size:16px;
	padding:3px 8px;
	display:inline-block;
	margin: 4px 0;
}

.block-featured .details{
	line-height:19px;
	overflow:hidden;
	clear:both;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Property Gallery -------------------------------------------------------- */

.block-featured-gallery .block-body{
	padding:5px 0;
	border:0;
}

.block-featured-gallery figure{
	float:left;
	margin:0 12px 8px 0px;
	text-align:center;
}

.block-featured-gallery figure img{
	border:0;
	padding:6px;
}

.block-featured-gallery figure h3 a{
	color:#CCC;
	font-size:13px;
}

/* ---------------------------------------------------------------------------------- */

/* Recently Added Property ---------------------------------------------------------- */

/*.block-recent .block-content{
	border:1px solid #A3D706;
	background-color:#FFFFDD;
	line-height:19px;
}*/

/*.block-recent .price{
	color: #2E2E2E;
}*/

/*.block-recent .img-wrapper .photo-count-container{
    top: 67px;
}
*/

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news .block-body{
	margin-bottom:0;
}

.block-news figure{
	border-bottom:1px solid #289B66;
	margin-bottom:10px;
}

.block-news h3{
	display:block;
}

.block-news h3 a{
	color:#FDCA00;
	text-transform:none;
}

.block-news .date{
	background-color:#FFAA2B;
	font-size:12px;
	padding:2px;
	color:#F5F5F5;
	margin:6px 0;
	display:inline-block;
}

/* ---------------------------------------------------------------------------------- */

/* Newsletter ----------------------------------------------------------------------- */

.block-subscribe .block-body{
	border:0;
	min-height:178px;
	background-color:#9AC8FA;
	background-image:url(../images/grass.png);
	background-position: bottom  center;
	background-repeat:repeat-x;
	margin-bottom:15px;
}

.block-subscribe .info {
	color:#FFF;
	font-size:25px;
	font-weight:bold;
	letter-spacing:-1px;
	font-style:normal;
}

.block-subscribe p {
	margin: 10px 0 0 0;
	font-weight: bold;
}

.block-subscribe form{
	width:70%;
	float:left;
}

.block-subscribe input[type="text"] {
	border:0;
	background: #FFF;
	width: 200px;
	margin:5px 0;
	padding:7px;
	border-radius:0;
}

.block-subscribe input[type="button"] {
	background-color: #EB4B29;
	margin: 10px 0;
	padding: 8px;
	font-weight: bold;
	color: #FFF;
	border:0;
}

.block-subscribe input[type="button"]:hover {
	background: #EA3A15;
}

.block-subscribe img.green-home{
	float:right;
}

.block-subscribe img.loader {
	padding: 30px 0 30px 47%;
	vertical-align: middle;
}

.block-subscribe .newsletter_arr {
	color: #F00;
	font-size: 11px;
	line-height: 22px
	clear: both;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error,  .block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success {
	margin: 0 0 10px 0;
	overflow: hidden;
}

.block-subscribe #actionMessage_newsletter .ui-widget p {
	width: 100%;
	font-weight: normal;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success p {
	color: #009900;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error p {
	color: #C00;
}

/* ---------------------------------------------------------------------------------- */

/* Advertisement -------------------------------------------------------------------- */

.block-ad{
	text-align:center;
}

.block-ad img,
.block-ad-text{
	margin-bottom: 15px;
	vertical-align: top;
}

.block-ad .block-body {
	padding: 0;
	border: 0;
}

.block-ad .block-body img {
	display: block;
}

.block-ad.home-content-ad{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Social ---------------------------------------------------------------------------- */

.block-social .block-body{
	min-height:72px;
}

.block-social .block-body .info{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	font-style:italic;
	padding:0 0 15px 0;
}

.block-social .block-body h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	letter-spacing: 0;
	text-align: left;
	color: #F60;
	display:inline-block;
	padding-bottom:10px;
}

.block-social *,
.block-social *:before,
.block-social *:after{
	box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-moz-box-sizing:content-box !important;
}

/* ---------------------------------------------------------------------------------- */

/* Map View ------------------------------------------------------------------------- */

.block-map iframe{
	width:100%;
	height:285px;
}

.block-map .form-element{
	margin-top:6px;
	text-align:center;
}

.block-map .form-element input[type="textbox"]{
	font-size:13px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px;
	margin:0;
	border:1px solid #CCC;
}

.block-map .form-element input[type="button"]{
	background-color:#47A447;
	border:0;
	color:#FFF;
	padding:6px;
	height:28px;
	vertical-align:top;
}

.block-map .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-map .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-map .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-map .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .mod-container, .mod .mod-content{
	background-color:#FBFBFB;
    border: 1px solid #CCC;
	overflow:hidden;
    margin: 10px 0 20px 0;
    padding: 10px;
	text-align:justify;
}

.mod .mod-content{
	margin:0 auto;
}

.mod .col{
	padding: 0 12px 3px 0;
	float:left;
}

.mod form .col p{
	font-weight: bold;
	color: #287C0E;
}

.mod input[type="text"],
.mod input[type="password"],
.mod select,
.mod textarea{
	border:1px solid #CCC;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-size:13px;
	padding:6px;
	margin:0 0 2px 0;
	box-shadow: 1px 1px 2px #E6E6E6 inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.mod input[type="text"]:focus,
.mod input[type="password"]:focus,
.mod select:focus,
.mod textarea:focus{
	border:1px solid #4D90FE;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.mod input[type="text"]{
	padding:7px;
}

.mod .btn-container{
	margin:auto;
	padding:10px 0 5px 0;
	width:auto;
	text-align:center;
}

.mod input[type="submit"],
.mod input[type="button"],
.mod .form-button a,
.button a{
	background-color: #5CB85C;
	border:0;
	padding:8px 45px;
	font-size:15px;
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	text-decoration:none;
	margin:8px 0;
}

.mod input[type="submit"]:hover,
.mod input[type="button"]:hover,
.mod .form-button a:hover,
.button a:hover{
	background-color: #47A447;
}

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	background: #F49610;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC106', endColorstr='#F49610');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC106), to(#F49610));
	background: -moz-linear-gradient(top,  #FFC106, #F49610);
	border:1px solid #FF6600;
	box-shadow: 0 1px 1px #FEEB81 inset;
	padding: 5px 25px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	float:right;
}

.other-btn a:hover{	
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	border:1px solid #6B8C23;
	box-shadow: 0 1px 1px #C7FF1C inset;
	color:#FFF;
	text-decoration:none;
}

.mod .img-wrapper{
}

.mod .img-wrapper .photo-count-container{
	top: 91px;
	left:5px;
}

.mod .social{
	float:right;
	text-align:right;
	margin: 12px 0 0 0;
}

.mod .list{
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.mod .list ul{
	margin:0;
	padding:0;
}

.mod .list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.mod .list a{
	color:#538D1D;
	text-decoration:none;
	width:100%;
}

.mod .list a:hover{
	color:#FF9900;
	text-decoration: underline;
}

.mod .form-desc{
	text-align:justify;
	margin:5px 0 30px 0;
}

.mod .mod-title{
	font-weight:bold;
	color:#458218;
}

.mod .mod-title a{
	font-weight:bold;
}

.mod .mod-title a:hover{
	color:#666;
}

.mod .date{
	color:#F60;
}

.mod .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 0 10px 0 0;
	float:left;
}

.mod .more a {
	background: url(../images/arrow-2.gif);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:15px;
	float:left;
	color:#F60;
	margin: 10px 0 0  0;
	padding: 0 0 0 15px;
	clear:left;
}

.mod .chart{
	width:100%;
	margin:auto;
	overflow:hidden;
}

.mod .chart .label{
	width:50%;
	font-weight:bold;
	color:#287C0E;
	float:left;
	background-color:#F1FBDD;
	border-bottom:1px solid #99CC00;
	text-indent:8px;
	padding:9px 0;
	font-size:12px;
	line-height:normal;
	text-align:left;
	border-radius:0;
	clear:right;
}

.mod .chart .value{
	width:50%;
	float:right;
	background:#F8F8F8;
	border-bottom:1px solid #D8D8D8;
	text-indent:8px;
	padding:8px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Product Advance Search ----------------------------------------------------------- */

.mod-advance-search form p{
	margin:4px 0;
}

.mod-advance-search input[type="text"]{
	width:150px;
}

.mod-advance-search select{
	width:164px;
}

.mod-advance-search input[type="text"].name{
	width:350px;
}

.mod-advance-search select.category{
	width:193px;
}

.mod-advance-search select.country,
.mod-advance-search select.state,
.mod-advance-search select.area{
	width:232px;
}

.mod-advance-search input[type="button"]{
	width:50%
}

.mod-advance-search .ui-combobox-input{
	padding: 0.63em;
	width:310px;
}

.mod-advance-search .ui-autocomplete-loading{
	background-image: url("../images/loader/ui-anim_basic_16x16.gif");
}

/* ---------------------------------------------------------------------------------- */

/* Product Agent Search ------------------------------------------------------------- */

.mod-agent-search{
	width:40%;
	height:200px;
	border:2px solid #93C403;
	background-color:#71A628;
	padding:10px;
	color:#FFF;
	font-size:17px;
	float:left;
}

.mod-agent-search h2{
	color:#FFFF66;
	text-shadow: 1px 1px 1px #006600;
	margin: 5px 0 20px 0;
}

.mod-agent-search input[type="text"]{
    border: 1px solid #4F8828;
}

.mod-agent-search-result .list{
	float:left;
	width:32%;
	border:1px solid #9C0;
	border-style:dotted;
	margin:0 5px 5px 0;
}

.mod-agent-search-result .list a{
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Product Booking ------------------------------------------------------------------ */

.mod-booking h3{
	margin:0 0 20px 0;
	font-size:22px;
}

.mod-booking input[type="text"]{
	width:110px;
}

.mod-booking input[type="button"]{
	margin:25px 0 0 0;
	padding: 8px 30px;
}

/* ---------------------------------------------------------------------------------- */

/* Product List --------------------------------------------------------------------- */

.products-list{
	background-color:#FFF;
	border:1px solid #D9DFE3; 
	margin:15px auto;
	overflow:hidden;
}

.products-list .list-header{
	width:100%;
	background-color:#FAF4F8;
	border-bottom:1px solid #D9DFE3;
	display:table;
	overflow:hidden;
	clear:both;
}

.products-list .list-header .header-row{
	display:table-row;
}

.products-list .list-header .header-row .header-left{
	width:35%;
	padding:2px 0 2px 5px;
	margin: 0 5px 0 5px;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-middle{
	width:28%;
	padding:2px 0 2px 0;
	margin:0;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-right{
	width:32%;
	padding:2px 5px 2px 0;
	text-align:right;
	margin: 0 5px 0 0;
	display:table-cell;
	vertical-align:middle;
}

.products-list .list-header .header-row .header-left .title-small a{
	font-weight:bold;
}

.products-list .list-header .header-row .header-left .info{
	color:#616161;
}

.products-list .body-container{
	padding: 15px 5px;
	overflow:hidden;
}

.products-list .left-content{
	width:78%;
	float:left;
}

.products-list .right-content{
	width:20%;
	float:right;
}

.products-list .list-footer{
	background:#F0F0F0;
	padding:5px 0;
	overflow:hidden;
}

.products-list .list-footer .footer-left{
	margin: 12px 0 10px 5px;
	float:left;
}

.products-list .list-footer .footer-right{
	float:right;
	text-align:right;
	padding: 0 5px 0 10px;
	overflow:hidden;
}

.products-options li{
	list-style:none;
	height:18px;
	color:#F60;
	background-repeat:no-repeat;
	background-position: 1px 4px;
	padding:7px 0 2px 27px;
	margin: 0 0 1px 0;
}

.products-options li a{
	font-weight:bold;
}

.availability{
	background:url(../images/mod_property_img/check-availability.png);
}

.bathroom{
	background:url(../images/mod_property_img/bathoom.png);
}

.kitchen{
	background:url(../images/mod_property_img/kitchen.png);
}

.garden{
	background:url(../images/mod_property_img/garden.png);
}

.garage{
	background:url(../images/mod_property_img/garage.png);
}

.products-mark{
	color:#458218;
	font-weight:bold;
}

.products-type{
	color:#F60;
	font-weight:bold;
	background-color:#FFFFCC;
	border:1px solid #FFAA2B;
	padding: 2px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:inline-block;
}

.products-desc{
	color:#333;
	line-height:18px;
	padding:10px;
	text-align:justify;
}

.products-desc p{
	font-weight:bold;
	color:#333;
	display:inline;
}

.products-stars{
	padding: 5px 0 5px 0;
}

.products-featured{
	background:url(../images/mod_property_img/featured.png) no-repeat;
	background-position:75% -7px;
	background-color:#FFFFD9;
	z-index:10;
}

.products-price{
	background:#EAF8BE;
	font-size:15px;
	color:#3F7601;
	font-weight:bold;
	padding: 3px 8px;
	display:inline-block;
	margin-bottom:15px;
	border:1px solid #79AD2E;
}

.products-available,
.products-not-available{
	color:#00AE00;
	font-weight:bold;
	background-image:url(../images/mod_property_img/available.png);
	background-repeat:no-repeat;
	background-position: 1px center;
	padding-left:20px;
}

.products-not-available{
	color:#D00;
	background-image:url(../images/mod_property_img/not-available.png);
}

.products-vote p{
	padding:2px;
	margin:12px 0 0 0;
	font-size:13px;
	font-weight:bold;
	color:#0896FF;
	display:inline-block;
	border:1px solid #0896FF;
	background-color:#FFF;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.products-vote span{
	display:inline-block;
}

.products-vote span input[type="button"]{
	padding:5px;
	margin: 0 4px -5px 0;
	border:0;
	float:left;
}

.products-vote *,
.products-vote *:after,
.products-vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.products-book-btn a{
	background-color: #EEA433;
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:inline-block;
}

.products-book-btn a:hover{
	background-color: #EC9717;
	color:#FF6;
	text-decoration:none;
}

.products-details-btn a{
	background-color: #5CB85C;
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	border-radius:0px;
	display:inline-block;
}

.products-details-btn a:hover{
	background-color: #47A447;
	text-decoration:none;
}

.products-save-btn a{
	background-color:#FFF;
	border:1px solid #EAEAEA;
	color:#09C;
	padding: 6px 10px;
	margin: 5px 0 2px 0;
	text-decoration:none;
}

.products-save-btn a:hover{	
	color:#47A447;
	background-color:#E4F3E4;
	border:1px solid #95D095;
}

.products-review-count a span{
	color:#FF0;
	font-size:17px;
}

.products-review-count a{
	background:#F49411;
	font-size:14px;
	color:#FFF;
	padding: 3px 8px;
	border:3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin:4px 0 4px 0;
}

.products-review-count a:hover{
	color:#FF0;
	text-decoration:none;
}

.products-write-review a{
	background:url(../images/mod_img/write-review.gif) no-repeat 0 0;
	padding:0 0 2px 20px;
	color:#F60;
	text-decoration:underline;
}

.products-write-review a:hover{
	color:#999;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Product Details ------------------------------------------------------------------ */

.mod-details .nav-bar{
	border:1px solid #D9DFE3;
	display:table;
	border-spacing:0;
	width:100%;
}

.mod-details .nav-bar .nav-row{
	background-color:#FAF4F8;
	display:table-row;
}

.mod-details .nav-bar .nav-row .nav-col{
	width:25%;
	padding:12px 3px;
	display:table-cell;
	text-align:center;
}

.mod-details .nav-bar .nav-row .nav-col.first{
	text-align:left;
}

.mod-details .nav-bar .nav-row .nav-col.last{
	text-align:right;
}

.mod-details .nav-bar.bottom{
	margin-top:20px;
}

.mod-details .nav-bar .no-link{
	font-weight:bold;
	color:#999;
	background:url(../images/mod_img/nolink.png);
	background-repeat:no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar a {
	font-weight:bold;
}

.mod-details .nav-bar .prev a{
	background:url(../images/mod_img/prev.png) no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar .next a{
	background:url(../images/mod_img/next.png) no-repeat right;
	padding-right:20px;		
}

.mod-details .nav-bar .search a{
	background:url(../images/mod_img/search-small.png) no-repeat;
	padding-left:20px;		
}

.mod-details .nav-bar .save a{
	background:url(../images/mod_img/save.png) no-repeat;
	padding-left:20px;		
}

.mod-details h1{
	float:left;
	margin: 10px 20px 10px 0;
	display:inline;
}

.mod-details .products-type{
	float:left;
	margin:15px 0 0 0;
}

.mod-details .products-info{
	float:left;
	width:49%;
	margin: 15px 0;
}

.mod-details .products-info.right{
	float:right;
	text-align:right;
}

.mod-details .products-info.right .products-price{
	font-size:20px;
}

.mod-details .products-info.right .products-vote span{
	padding-right:18px;
}

.mod-details .products-info.right .form-button a{
	margin:20px 0 0 0;
	padding: 12px 45px;
}

.mod-details .products-feature{
	width:49%;
	margin: 10px 0;
	float:left;
}

.mod-details .products-details{
	border:1px solid #CCC;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	margin:0 0 15px 0;
	overflow:hidden;
	clear:both;
}

.mod-details .products-details .content{
	padding:10px;
}

.mod-details .products-details .content .details-info{
	 color: #437D0F;
	 font-size:14px;
	 line-height:22px;
	 text-align:justify;
}

.mod-details .products-details .content .details-info li,
.mod-details .products-details .content .details-info ul li {
	list-style:disc;
	margin-left:10px !important;
	padding-left:10px !important;
}

.mod-details .products-details-header{
	background-color:#F0F0F0;
	border-bottom:1px solid #D9DFE3;
	text-transform:uppercase;
}

.mod-details .products-details-header h4.icon{
	background:url(../images/mod_img/symbol.png) 8px center no-repeat;
	padding: 8px 0 8px 30px;
}

.mod-details .products-feature .content.feature-content{
	line-height:22px;
}

.mod-details .products-feature .label{
	width:46%;
	float:left;
	font-weight:bold;
	clear:both;
	margin-right:2px;
	margin-bottom:8px;
	font-size:12px;
	color:#222222;
	text-align:left;
}

.mod-details .products-feature .value{
	width:53%;
	float:left;
	margin-bottom:8px;
}

.mod-details .ui-tabs .ui-tabs-panel h2{
	margin: 5px 0 15px 0;
}

.mod-details .additional-thumb{
	margin: 0 0  18px 18px;
}

.mod-details .products-map iframe{
	width:100%;
	margin:auto;
	text-align:center;
}

.mod-details .products-legend{
	width:54%;
	float:right;
	overflow:hidden;
	margin:15px 0 0 0;
	padding:55px 0 0 0;
}

.mod-details .products-legend .legend-icon{
	float:left;
	padding:0 0 0 10px;
}

.mod-details .products-features{
	float:left;
	width:23%;
	margin-right:10px;
	line-height:20px;
	text-align:left;
}

.mod-details .tab-element,
.mod-details .tab-value{
	width:25%;
	float:left;
	line-height:22px;
	border-bottom:1px solid #CCC;
	border-bottom-style:dashed;
}

.mod-details .tab-value{
	width:73%;
	margin-left:10px;
}

.mod-details .photo-no{
    background-color: #7FA600;
    border: 1px solid #99CC00;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#FFF;
	font-weight:bold;
	padding: 1px 3px;
}

div.realestate_dialog_calendar{
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	margin: 20px auto 0 auto;
	clear:both;
}

/* Box Chart Start -- */

.products-chart{
	width:100%;
	margin: 10px 0 5px 0;	
}

.products-chart .chart-desc{
	line-height:25px;
	margin:auto;
	overflow:hidden;
}

.products-chart .chart-desc .label{
	width:50%;
	float:left;
	text-align:left;
	font-weight:bold;
	background-color:#79AD2E;
	color:#FFF;
	padding:inherit;
	line-height:inherit;
	text-indent:5px;
	border-bottom:1px solid #FFF;
	clear:both;
	border-radius:0;
	font-size:12px;
}

.products-chart .chart-desc .value{
	width:50%;
	float:right;
	background-color:#F0F0F0;
	text-indent:5px;
}

/* Box Chart End -- */

/* Box Chart Settings for Other Chart -- */

.products-chart.summary-chart{
	width:49%;
	float:right;
}

.products-chart.products-availability{
	width:45%;
	float:left;
}

.products-availability .chart-desc .label{
	width:68%;
}

.products-availability .chart-desc .value{
	width:32%;
	text-align:center;
}

/* Agent Box Start -- */

.products-agent{
	width:49%;
	margin: 0 0 5px 0;
	float:right;
	clear:right;
}

.products-agent .avatar{
	border:1px solid #CCC;
	padding:5px;
	margin-right:15px;
	float:left;
}

.products-agent .label,
.products-agent .value{
	font-weight:bold;
	color:#458218;
	line-height:25px;
}

.products-agent .value{
	color:#F90;
}

.products-agent .pkg-title {
	color:#F90;
	font-size:15px;
	font-weight:bold;
	font-family:Tahoma, Genea, sans-serif;
	text-transform:uppercase;
}

.products-agent .pkg-img{
	float:right;
}

.products-agent .company-logo{
	float:left;
	border:1px solid #CCC;
	padding:5px;
	width:75px;
	margin:6px 15px 0 0;
}

.products-agent .certificate{
	margin:15px 0;
	text-align:center
}

.products-agent .certificate p{
	font-weight:bold;
}

.products-agent .company-info{
	float:left;	
}

.products-agent a.agent-email{
	font-weight:bold;
	color:#0099FF;
	background:url(../images/mod_img/email.png) no-repeat 0 4px;
	padding-left:25px;
	line-height:25px;
	display:inline-block;
}

.products-agent a.agent-email:hover{
	text-decoration:underline;
}

.products-agent a.agent-web{
	font-weight:bold;
	color:#0099FF;
}

.products-agent a.agent-web:hover{
	text-decoration:underline;
}

/* Agent Box End -- */

/* ----------------------------------------------------------------------------------- */

/* Product Details Middle Tab -------------------------------------------------------- */

.products-middle-tab{
	color:#111;
	padding:20px 1px 0 1px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab li { 
	list-style:none; 
	float:left; 
}

.products-middle-tab ul a {
	margin:0 4px 0 -1px;
	border:1px solid #D9DFE3;
	border-bottom:0;
  	background-color: #F0F0F0;
	padding: 8px;
	font-weight:bold;
	color:#458218;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0; 
	display:inline-block;
  	text-decoration:none!important;
}

.products-middle-tab ul a:hover {
  	color:#FFF;
	border:1px solid #47A447;
 	background-color:#47A447;
	border-bottom:0;
}

.products-middle-tab-area{
	border:1px solid #CCC;
	padding:5px;
	margin-bottom:20px;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	overflow:hidden;
	clear:both;
}

.products-middle-tab-area .products-slideshow{
	background-color:#F3F3F3;
	border:1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
}

.products-middle-tab-area .match-container{
	float:right;
	overflow:hidden;
	width:50%;
}

.products-middle-tab-area .match-container .match-tab-container{
	height:399px; 
	font-size:12px; 
	overflow:auto;
}

.match-container{
	margin:15px auto;
}

/* ---------------------------------------------------------------------------------- */

/* Product Match -------------------------------------------------------------------- */

.products-match{
	margin: 10px 0 0 8px;
	padding: 5px;
	border:1px solid #E4E4E4;
	width:47%;
	min-height:195px;
	float:left;
}

.products-match:hover{
	background-color:#FFFEDF;
}

.products-match span a{
	font-weight:bold;
	color:#458218;
	border:0;
}

.products-match .products-star{
	margin:6px 0;
}

.products-match .products-desc{
	width:38%;
	font-size:11px;
	line-height:normal;
	padding:0;
	margin: 8px 0 0 0;
	overflow:hidden;
	display:block;
}

.products-match .products-review{
	width:32%;
	float:right;
	text-align:right;
}

.products-match .products-review .products-write-review{
	text-align:right;
	margin: 4px 2px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Slideshow ----------------------------------------------------------- */

.products-slideshow #gallery {
	background: #F3F3F3;
}

.products-slideshow .ad-gallery {
  	width:92%;
}

.products-slideshow .ad-gallery .ad-image-wrapper{ 
	height: 300px;
}

.products-slideshow .ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #417F17;
}

.products-slideshow .switch select{
	padding:3px;
	font-size:11px;
}

.products-slideshow .switch {
    padding: 16px 0 5px 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Itinerary List ------------------------------------------------------------------- */

div.itinerary_main_body{
	width:98%;
	margin:auto;
}
	div.itinerary_main_body_block{		
		border:1px solid #328213;
		margin-bottom:25px;
		background-color:#FBFBFB;
	}
		div.itinerary_main_body_block_clild_header{
			width:100%;
			text-align:center;
			font-weight:bold;
			color:#FFF;
			text-transform:uppercase;
			background-color:#328213;
			padding: 8px 0 8px 0;
		}
		
		div.itinerary_main_body_block_clild_body{
			width:100%;
		}
			div.itinerary_main_body_block_clild_body_box1{
				width:100%;
				text-transform:uppercase;
				line-height:35px;
				text-align:center;
				border-top:1px solid #77A82D;
				background-color:#FFFFCA;
				font-weight:bold;				
			}
			
			div.itinerary_main_body_block_clild_body_box2{
				width:100%;
				border-top:1px solid #77A82D;
				overflow:hidden;
				margin:auto;
				padding: 8px 0 8px 0px;				
			}
			
				div.itinerary_main_body_block_clild_body_box2_child1{
					padding-left: 10px;
				}
			
			div.itinerary_main_body_block_clild_body_box3{
				width:100%;
				border-top:1px solid #77A82D;
				overflow:hidden;
				margin:auto;
				padding: 8px 0 8px 0;
			}				
				.itinerary-header{
					width:98%;
					margin:auto;
					margin-left:5px;
					font-size:13px;
					text-align:center;
				}
				.itinerary-body-container{
					padding: 0px 10px 0px 10px;
					overflow:hidden;
				}
				
				.itinerary-price{
					text-align:right;
					padding-right:10px;
				}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

div.review-box{
	width:100%;			
	overflow:hidden;
	margin:auto;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#F5F5F5;
}

div.review-box-img{
	float:left;
	margin:5px 12px 5px 5px;
	border: 4px solid #FFFFFF;
	box-shadow: 1px 1px 2px #666666;
}

div.review-box-title{
	width:18%;
	float:left;
	margin: 10px 0;
}

div.review-box-title span{
	font:1.6em/1.2em Georgia,'Times New Roman',serif;
	letter-spacing:-1px;
	color:#458218;
	text-transform:capitalize;
}

div.review-box-rate{
	font: italic 1.3em/1.2em Georgia,'Times New Roman',serif;
	line-height:30px;
	color:#F60;
}

div.review-box-star{
	padding:5px 0px;
}

div.review-box-desc{
	font: italic 1.3em/1.2em Georgia,'Times New Roman',serif;
	color:#458218;
	width:55%;
	overflow:hidden;
	margin:10px 5px;
	float:right;
	background: #E9FDCE;
	border: 1px solid #B3E701;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:4px;
}

div.review-box-date{
	font-size:12px;
	color:#666;
	font-style:italic;
}

div.review-box2 span{
	width:100%;			
	overflow:hidden;
	margin:auto;
	background:#FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice-container{
	border:1px solid #D6D6D6;
}

.invoice .invoice-chart{
	width:100%;
	display:table;
	margin:auto;
	border-spacing:0;
}

.invoice .invoice-chart .div-head,
.invoice .invoice-chart .div-hr{
	display:table-row;
	background:#F4F4F4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#E5E5E5');
	background: -moz-linear-gradient(top, #F4F4F4, #E5E5E5);
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E5E5E5));
	box-shadow: 0 1px 1px #FFFFFF inset;
}

.invoice .invoice-chart .div-head{
	text-align:center;
	font-weight:bold;
	font-size:13px;
	color:#272727;
	text-shadow:1px 1px 1px #FFF;
}

.invoice .invoice-chart .div-hr{
	background:none;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	display:table-cell;
	padding:10px;
}


.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2{
	border-bottom:1px solid #D6D6D6;
	padding:15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-1{
	width:65%;
}
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-2{
	width:35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2{
	border-left:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr.amount-hr{
	text-align:right;
	background-color:#EFEFEF;
	font-size:13px;
}

.invoice .item-title{
	font-size:17px;
	margin:10px auto 2px auto;
	padding:10px 0px 10px 5px;
	background-color:#FFC;
	border-top:1px solid #FC0;
	border-bottom:1px solid #FC0;
}

.invoice .product-title{
	color:#F60;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

.invoice .amount-label,
.invoice .amount-total{
	font-weight:bold;
	line-height:22px;
}

.invoice .amount-total{
	color:#F60;
}

.invoice .advance{
	background-color:#E7FFDA;
	color:#090;
	font-weight:bold;
}

.invoice .due-balance{
	font-weight:bold;
	padding:10px 5px 10px 0px;
	background-color:#FDCEA4;
	border-top:1px solid #FF9900;
	border-bottom:1px solid #FF9900;
	text-align:right;
}

.invoice a.remove-btn{
	color:#C00;
	float:right;
	padding:1px 5px 0 18px;
	margin-top:10px;
	background: #FFECEC url(../images/mod_img/delete.png) no-repeat;
	background-position: 2px center;
	border:1px solid #FF6F6F;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-decoration:none;
}

.customer-details{
	width:95%;
	display:table;
	margin:10px auto 10px auto;
	border:1px solid #CCC;
	border-bottom:none;
}

.customer-details .chart-row{
	display:table-row;
}

.customer-details .chart-row .chart-label,
.customer-details .chart-row .chart-value{
	width:35%;
	padding:5px;
	display:table-cell;
	border-bottom: 1px solid #B8DD80;
	background-color:#EDF7DF;
}

.customer-details .chart-row .chart-value{
	width:65%;
	border-bottom:1px solid #D8D8D8;
	background-color:#F8F8F8;
}

.invoice-login-area{
	margin: 20px 0 0 20px;
}

.invoice-btn-container{
	padding:10px 0 5px 15px;
}

h1.status-paid,
h1.status-unpaid,
h1.status-calcel{
	font-weight:bold;
	font-size:55px;
	text-align:left;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 20px;
	float:left;
}

h1.status-paid{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
}

h1.status-unpaid{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
}

h1.status-cancel{
	border:1px solid #E4D949;
	background-color:#FFFBCC;
}

.invoice-section{
	width:48%; 
	float:right;
}

.invoice-tab-section{
	width:48%; 
	float:left;
}

.invoice-tab-section .login-box{
	width:90% !important;
}

.invoice-tab-section .field-area{
	width:50% !important;
}

.invoice-tab-section.ui-corner-all{
	border-radius:0;
}

/* ---------------------------------------------------------------------------------- */

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	background: #F49610;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC106', endColorstr='#F49610');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC106), to(#F49610));
	background: -moz-linear-gradient(top,  #FFC106, #F49610);
	border:1px solid #FF6600;
	box-shadow: 0 1px 1px #FEEB81 inset;
	padding: 5px 25px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	float:right;
}

.other-btn a:hover{	
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	border:1px solid #6B8C23;
	box-shadow: 0 1px 1px #C7FF1C inset;
	color:#FFF;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */


@media (min-width: 1025x) { 
	#content-inner{
		width:75%;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
	#content-inner{
		width:65%;
	}
	
	#sidebar-inner{
	width:200px;
	}
}