<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else :  
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$permission_arr = array('city_list_enable' => $this->allow('list','city','Geo'), 'city_add_enable' => $this->allow('add','city','Geo'), 'city_edit_enable' => $this->allow('edit','city','Geo'), 'city_delete_enable' => $this->allow('delete','city','Geo'), 'export_enable' => ( $this->allow('export','csv','Database') && $this->allow('list','csv','Database') ), 'import_enable' => ( $this->allow('import','csv','Database') && $this->allow('upload','csv','Database') ));	
$create = ($this->posted_data['create']) ? $this->posted_data['create'] : null;
?>
<script type="text/javascript">
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	var citySettingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
						form_action : {											
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},						
						common_action : {
								permission_arr : {
										delete_enable	:	'<?php echo $permission_arr['city_delete_enable']; ?>'
								},								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['city_id', 'city'],							
								
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},						
						detailInit_action: {},
						search_data : {},
						batch:		true,
						toolbar: [
							<?php if ($permission_arr['city_add_enable']) : ?>{ name: "create", text: "<?php echo $this->translator->translator('common_add'); ?>" },<?php endif; ?> 
							<?php if ($permission_arr['city_add_enable'] || $permission_arr['city_edit_enable']) : ?>{ name: "save", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?>" },
							{ name: "cancel", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?>" }<?php endif; ?> 
							<?php if ($permission_arr['city_delete_enable']) : ?>,{ template: '<a href="javascript: void(0)" class="k-button k-button-icontext delete_all"><span class="k-icon k-delete"></span><?php echo $this->translator->translator("common_delete"); ?></a>' }<?php endif; ?> 
						  ],							
						editable:	{
										mode: 'incell',
										confirmation: false
									},
						scrollable: false, //{ virtual: false },
						saveChanges: function(e){
							kendo.ui.progress(e.sender.element, true);	
						},
						dataSource_transport_read_complete : function(e){},
						dataSource_transport_create: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'add' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);	
								  //alert(json.toSource());						 								  
								  if(json.status == 'ok')
								  {
									 //commonMsgDialog(countrySettingObj, json.msg);
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = '';
									  $.each(json.msg, function(key, obj){										
										 err_msg += obj.key + ' => ' + obj.value + '<br />';
									  });
									  commonMsgDialog(countrySettingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {
									 commonMsgDialog(countrySettingObj, json.msg);
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},
						dataSource_transport_update: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'city', 'action'     => 'edit' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());								  
								  if(json.status == 'ok')
								  {
									 //commonMsgDialog(countrySettingObj, json.msg);
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = '';
									  $.each(json.msg, function(key, obj){										
										 err_msg += obj.key + ' => ' + obj.value + '<br />';
									  });
									  commonMsgDialog(countrySettingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {
									 commonMsgDialog(countrySettingObj, json.msg);
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},						
						dataSource_transport_parameterMap: function(options, operation) {										
									//alert(options.toSource()+' '+citySettingObj.detailInit_action.detailInit_dest_url);																	
                                    if (operation !== "read" && options.models) {								
                                        return {models: options.models};
                                    }
									else
									{
										return options;
									}
                                },
						detailInit:	false,
						dataBound: function(e) {	
								var self = this;
								gridAction(citySettingObj);																				                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
									id: "city_id",
                                    fields: {
										checkAll: {  editable: false },
                                        city_id: { type: "number", editable: false, nullable: true },
										city: { type: "string", validation: { required: true } },	
										state: { defaultValue: <?php echo $this->state_info; ?>  },                                       
										publish_status_city: {  editable: false },	
										country_id: {  editable: false },
										code: {  editable: false },
										value: { type: "string", editable: false },	
										hasImg:	{  editable: false },								
										common_action: {  editable: false }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${city_id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "city_id", 		
												title: 	"<?php echo $this->translator->translator('geo_city_list_page_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 	field: "city" , template: '#= city #', title: 	"<?php echo $this->translator->translator('geo_city_list_city_name'); ?>", attributes: { title: '<?php echo html_entity_decode($this->translator->translator('portfolio_batch_edit_info', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>'} },		
											{ 
												field: "state", 													
												title:	"<?php echo $this->translator->translator('geo_city_list_state_name'); ?>",																																			
												template: '#= (state.state_name) ? state.state_name : state_name #',
												width: 250,
												filterable: true,
												sortable: true,
												editor: function(container, options)
														{
															$('<input required  data-bind="value:' + options.field + '"/>')
																.appendTo(container)
																.kendoDropDownList({
																	autoBind: false,
																	dataTextField: "state_name",
																	dataValueField: "state_id",																	
																	template:	'#= state.state_name #',
																	dataSource: {
																				type: "json",
																				schema: {
																					  data:	'data_result'
																				  },  
																				transport: {
																						read: {
																							type: "POST",
																							dataType: "json",
																							data: {pageSize: 10000000, country_id: options.model.state.country_id, request_from : 'widget'},	
																							url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'state', 'action' => 'list' ), 'adminrout',    true); ?>"
																						}
																					}
																	}
																});
														}
											},																																
											{ 	field: "value" , template: '<img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;&nbsp;#= value #', title: "<?php echo $this->translator->translator('geo_state_list_country_name'); ?>", width: 250 },		
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 100, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['city_delete_enable']) : ?><a href="javascript:void(0);" class="delete_btn"  rel="${city_id}_${publish_status_city}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("geo_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("geo_selected_err"); ?>"
									}
					};
					
	commonGrid(citySettingObj);
	
	$('a.add_new_dialog_btn').click(function(e){			
			$('a.k-grid-add').trigger('click');
		});
	$('a.save_dialog_btn').click(function(e){			
			$('a.k-grid-save-changes').trigger('click');
		});
	$('a.cancel_dialog_btn').click(function(e){			
			$('a.k-grid-cancel-changes').trigger('click');
		});
			
});
</script>

<div class="title-container">
	<div class="city-list"><h1><?php echo $this->translator->translator('geo_city_list_page_name'); if($this->state_id  && !empty($datas)){  echo " ( ".$this->escape($datas->state_name)." ) "; } ?></h1></div>
    
    <div class="button-container">
    	<?php if ($permission_arr['export_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'cities'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['import_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'cities', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_add_enable'] || $permission_arr['city_edit_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="save_dialog_btn"><span class="icon save"><?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?></span></a></span>
        
		<span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="cancel_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>   
    
    <div id="content-inner">
    	<div class="chart">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
		</div>
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('geo_city_list_page_name'); if($this->state_id  && !empty($datas)){  echo " ( ".$this->escape($datas->state_name)." ) "; } ?></h1>
    
    <div class="button-container">
    	<?php if ($permission_arr['export_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'list','table_name' => 'cities'),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['import_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Database','controller'=>'csv', 'action'=>'upload','table_name' => 'cities', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction ),'adminrout',true);?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_add_enable'] || $permission_arr['city_edit_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="save_dialog_btn"><span class="icon save"><?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?></span></a></span>
        
		<span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="cancel_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?></span></a></span>
        <?php endif; ?>
        
        <?php if ($permission_arr['city_delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Geo Message'); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation','Delete'); ?>"></div>	
<div id="dialog_loader" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<?php endif; ?>
</div>