<?php
$menu_db_class = new Menu_Model_DbTable_Menu(); $menu_name = ($this->menu_id)? $menu_db_class->getMenuName($this->menu_id) : null; 
if($menu_name)
{
	$this->headTitle()->headTitle($menu_name,'SET');
}
else if(!empty($this->role_info))
{
	$this->headTitle()->headTitle($this->role_info['role_name'].' '.$this->translator->translator('common_registration_title'),'SET');
}
else
{
	$this->headTitle()->headTitle($this->translator->translator('common_registration_title'),'SET');
}
if(!empty($this->form_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->form_info['meta_keywords']);}
if(!empty($this->form_info['meta_desc'])) { $this->headMeta()->setName('description',$this->form_info['meta_desc']); }
 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

function hasFields($elementsObj)
{
	$cnt = 0;
	foreach($elementsObj as $element)
	{
		if($element->getAttrib('frontend') == '1')
		{
				$cnt++;
		}
	}
	return ($cnt > 0) ? true : false;
}
?>
<style>
.mod .thumb {
	border:0;
	background-color:transparent;
}
</style>
<script type="text/javascript">
var settingObj = {
						form_action : {
											form_id: 'MemberForm',
											hasTinyMCE: false,
											go_message_id		: 'actionMessage',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},
						calendar:	{	
										calendar_include_time: true,
										calendar_img_link: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>"
						},
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("product_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("product_selected_err"); ?>"
									}
					};
$(document).ready(function() {
	
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
		 commonGoMessage(settingObj);	
	});
	
	
	$('a.add_user_btn').click(function() {
			var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
			if(!formData.role_id){ 	formData.role_id = '<?php echo $this->selected_role_id; ?>'; }		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Members','controller' => 'Frontend', 'action'     => 'register' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){
					commonOpenLoaderDialog(settingObj);
					commonRemoveFormError(settingObj);	
				 },
				success: function(response){
					//alert(response);
					try
					{					
						var json_arr = eval("("+response+")");					
						commonRefreshCaptcha(json_arr, 'span');					
									
						if(json_arr.status == 'ok')
						{
							if(json_arr.package_msg == 'ok')
							{
								var package_name = json_arr.package_info[0].field_value;
								var package_price	=	parseFloat(json_arr.package_info[1].field_value);
								if(package_price != 0)
								{
									if(json_arr.gateway_info)
									{
										gateWayList(json_arr.gateway_info, json_arr.member_id);
									}
									//document.location.href = "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=<?php echo $global_conf['payment_email']; ?>&item_name="+package_name+"&item_number=1&amount="+package_price+"&no_shipping=0&no_note=1&currency_code=<?php echo $currency->getShortName(); ?>&bn=PP%2dBuyNowBF&charset=UTF%2d8 target=_blank";
								}
								
								commonCloseLoaderDialog(settingObj);							
							}
							else if(json_arr.package_msg == 'invoice')
							{
								document.location.href = "<?php echo $this->serverUrl().$this->baseUrl().'/Create-Invoice' ?>";
							}
							else
							{
								commonCloseLoaderDialog(settingObj);
							}
							$('#actionMessage').html(succMsgDesign(json_arr.msg));						
							commonResetFormFields(settingObj);	
							commonGoMessage(settingObj);							
						}
						else if(json_arr.status == 'errV')
						{
							commonCloseLoaderDialog(settingObj);
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else if(json_arr.status == 'errP')
						{
							commonCloseLoaderDialog(settingObj);
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
							commonAddFormError('confirmPassword',json_arr.msg);
						}
						else
						{
							commonCloseLoaderDialog(settingObj);
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
							commonGoMessage(settingObj);
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));	
						commonGoMessage(settingObj);
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
});

function gateWayList(info, member_id)
{
	var payment_method = '<div><span class="mod-label"><?php echo $this->translator->translator('invoice_setting_pay_to', '', 'Invoice'); ?></span> <select name="full_payment" id="full_payment" >'+
							'<option value=""><?php echo $this->translator->translator('common_select', '', 'Invoice'); ?></option>';
	$.each(info, function(index, obj){
		payment_method += '<option value="' + obj['id'] + '_' + member_id+'">'+obj['name']+'</option>';
	});
	
	payment_method += '</select></div><div id="full_payment_link"></div>';
	$('#memberFormDiv').html(payment_method);
	paymentAction();
}

function paymentAction()
{
	$('#full_payment').change(function() {
			var self = this;
			if($(self).val() != null && $(self).val() != '')
			{
				var data = 	$(self).val();
				var data_arr = 		data.split('_');	
				$.ajax({
						url: "<?php echo $this->url( array('module'=> 'Members', 'controller' => 'frontend', 'action'     => 'frontpay' ), 'adminrout',    true) ?>",
						type: 'POST',
						data: { payment_id: data_arr[0], member_id: data_arr[1]},
						beforeSend: function(){
							$('#full_payment_link').html('<img src="application/layouts/scripts/<?php echo $front_template["theme_folder"]; ?>/images/loader/ajax-loader-email.gif" height="16"  border="0" />');
						 },
						success: function(response) 
						{
							//alert(response);
							var json_arr = eval("("+response+")");
							if(json_arr.status == 'ok')
							{
								var payment_link	=	json_arr.payment_data;
								var payment_logo	=	json_arr.payment_info.logo;
								var input_type		=	json_arr.input_type;
								//alert(payment_logo);
								var	html_data	=	(input_type == 'link') ? '<a href="'+payment_link+'"><img src="data/frontImages/gateway/gateway_logo/'+payment_logo+'" width="140" border="0" /></a>' : payment_link;
								$('#full_payment_link').html(html_data);
							}
							else
							{
								commonMsgDialog(settingObj, json_arr.msg);
								$('#full_payment_link').html('');
							}							
						},
						error: function(xhr, status, error){
							commonCloseLoaderDialog(settingObj);
							$('#full_payment_link').html('');
							var msg = "Error! " + xhr.status + " " + error;
							commonMsgDialog(settingObj, msg);
						}
				});			
			}
			else
			{
				$('#full_payment_link').html('');
			}
			
		});	
}

function calender(id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}

/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);
			
		
		var img_code =  '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>'
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';			
		switch(upload_value_field)
		{
			case 'product_thumb':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="product_thumb_primary" id="product_thumb_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
			case 'product_file':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="product_file_primary" id="product_file_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary+down_link;
				
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'</span></div>');				 
			var file_val = fileObj.name;	
		}		
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/

</script>

<div class="mod">
	<div class="registration-icon">
        <h1><?php if(!empty($this->role_info)){ echo $this->role_info['role_name'].' '.$this->translator->translator('Member_frontend_register_title'); }else{ echo $this->translator->translator('Member_frontend_register_title'); } ?></h1>
    </div>
	
    <div class="clear"></div>

	<div id="actionMessage">&nbsp;</div>
    
    <div id="memberFormDiv">

    <form name="MemberForm" id="MemberForm">
        <?php 
            $file_type_arr = explode(',',$this->form_info['attach_file_type']);
            $j= 0;
            foreach($file_type_arr as $key => $value)
            {
                $file_type_arr[$j] = '*.'.$value;
                $j++;
            } 
            $file_format = implode(';',$file_type_arr);	
            $staticGroupsObj = $this->registrationForm->getDisplayGroups(); 
            $sorted_group_arr = array();
            foreach($staticGroupsObj as $staticGroup)
            {
                $sorted_group_arr[$staticGroup->getOrder()] = $staticGroup;
            }
            ksort($sorted_group_arr);																		
            $i=1;									
            foreach($sorted_group_arr as $staticGroup)
            {
                $elementsObj = $staticGroup->getElements();
				if(hasFields($elementsObj))
				{
        ?>
        <fieldset>
            <legend><?php echo $this->translator->translator($staticGroup->getLegend());  ?></legend>
                
                <div>
				  <?php	
                      $new_file_info = new Portfolio_Controller_Helper_File();															
                      foreach($elementsObj as $element)
                      {
                          if($element->getAttrib('frontend') == '1')
                          {	
                              $e_name_arr = explode('_',$element->getName());																				
                              $sumbol = (in_array(Eicra_File_Constants::PRICE,$e_name_arr,true)) ? '&nbsp;'.$currency->getSymbol() : '';							  
                              switch($element->getType())
                              {
                                  case 'Zend_Form_Element_File':                                                    
                                              $image_file_arr = array();                                                                                                
                                          ?>
                                          
                                              <div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                               </div>
                                      
                                               <div class="form-field-container">
                                                  <div class="form-field">
                                                      <script type="text/javascript">
                                                      $(function(){
                                                          /**************************FILE UPLOAD START******************************/																					
                                                          dynamicUploader("<?php echo $element->getName().'_upload'; ?>", "<?php echo $element->getName(); ?>", <?php echo $this->settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", false);
                                                          /**************************FILE UPLOAD END*********************************/
                                                      });
                                                      </script>
                                                      <span class="ui-widget"><input type="file" name="<?php echo $element->getName(); ?>_upload" id="<?php echo $element->getName(); ?>_upload" /><input type="hidden" name="<?php echo $element->getName(); ?>" id="<?php echo $element->getName(); ?>" class="<?php echo $element->getName(); ?>_class empty_class" value="<?php echo $this->productInfo[$element->getName()]; ?>" /></span>
                                                      <br /><span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                   </div>
                                                   <div class="form-field-info">
                                                      <?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?>
                                                   </div>                                                      									
                                               </div>
                                          
                                          		<div class="form-label-container">
                                                  <div class="label_class">&nbsp;</div>
                                                </div>
                                               
                                               <div class="form-field-container">
                                                  <div class="form-field">
                                                      <span id="selected_file_<?php echo $element->getName(); ?>">
                                                              <?php
                                                                  $dynamic_image_view = '';
                                                                  if(!empty($image_file_arr[0]))
                                                                  {													
                                                                      foreach($image_file_arr as $key => $value)
                                                                      {	
                                                                          $show_file_path  =		$new_file_info->getFilePath($value, $this->settings_info);																												
                                                                          $img_code = '<div class="thumb"><img src="'.$show_file_path.'" title="'.$value.'" width="20" height="10" /></div>';
                                                                          $down_link = (!$new_file_info->isImage($value)) ? '<br /><a href="'.$this->settings_info[$this->settings_info['file_path_field']].'/'.$value.'">'.$this->translator->translator("common_download", "", "Projects").'</a>' : '';
                                                                          $del_link	=	'<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'.$element->getName().'" file_name="'.$value.'" file_path="'.$this->settings_info[$this->settings_info['file_path_field']].'">'.$this->translator->translator("common_delete_title").'</a>'.$down_link;
                                                                          $dynamic_image_view .= '<div class="upload-img box"><span>'.$img_code.'<br /><br />&nbsp;&nbsp;'.$del_link.'&nbsp;&nbsp;&nbsp;</span></div>';
                                                                      }															
                                                                  }
                                                                  echo $dynamic_image_view;
                                                              ?>
                                                        </span>&nbsp;
                                                   </div>                                                     									
                                               </div>
                                          <?php	
                                      break;
                                  case 'Zend_Form_Element_MultiCheckbox':
                                  case 'Zend_Form_Element_Radio':
                                          
                                      ?>
                                              <div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                      		  </div>
                                              
                                              <div class="form-field-container">
                                                  <div class="form-field">
                                                      <span class="ui-widget"><div class="products-features"><?php  echo $element; ?></div></span>
                                                      <br /><span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                  </div>
                                                  <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>
                                              </div>
                                              
                                      <?php                                         
                                      break;									
                                  case 'Zend_Form_Element_Captcha':
								  	  ?>
                                      		<div class="form-label-container">
                                                  <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>">
                                                      <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>
                                                  </div>
                                      		  </div>
                                              
                                              <div class="form-field-container">
                                                  <div class="form-field">
                                                      <div class="captcha">
                                                          <span class="ui-widget"><?php  echo $element; ?></span><br />
                                                          <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>
                                                      </div>
                                                  </div>
                                                  <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>
                                              </div>
                                      <?php	
								  	  break;
                                  default:
                                                                                                      
                                      ?>
                                      
                                      <div class="form-label-container">
                                          <div class="label_class <?php echo $this->escape($this->form_info['label_class']); ?>" style="<?php echo $this->escape($this->form_info['label_style']); ?>" >
                                              <?php echo $element->getLabel(); if($element->isRequired() ){ ?><span class="star_class <?php echo $this->escape($this->form_info['star_class']); ?>" style="<?php echo $this->escape($this->form_info['star_style']); ?>">*</span><?php } ?>&nbsp;
                                          </div>
                                      </div>
                              
                              		  <div class="form-field-container">
                                          <div class="form-field">
                                              <?php 										
                                                      $id_f = $element->getAttrib('id');
                                                      $id_arr = explode('_',$id_f);
                                                      if(in_array(Eicra_File_Constants::DATE,$id_arr))
                                                      {
                                                      ?>
                                                      <script type="text/javascript">
                                                          $(function() {
                                                              calender('<?php echo $id_f; ?>');
                                                          });
                                                      </script>
                                                      <?php
                                                      }
                                                      if($element->getType() == 'Zend_Form_Element_MultiCheckbox')
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }
                                                      else
                                                      {
                                                          echo '<span class="ui-widget">'.$element.$sumbol.'</span>';
                                                      }															
                                              ?><br />
                                          	  <span class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></span>                                              
                                          </div>
                                          <div class="form-field-info"><?php if($element->getAttrib('info')){ ?><div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('info')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div><?php } ?></div>                                              
                                       </div>                                     
                                      <?php                                                 
                                      break;										
                              }
                          }
                      }
                  ?>
                  </div>
                <div class="clear">&nbsp;</div>
        </fieldset>     
        <?php
            	$group_no = ($this->escape($this->form_info['group_no'])) ? (int)$this->escape($this->form_info['group_no']) : 1;
				}
            }
        ?>    
    </form>

        <div class="text-center">
            <a href="javascript:  void(0);" class="reset_btn btn btn-global"><?php echo $this->translator->translator('common_reset'); ?></a>
            <a href="javascript: void(0);" class="add_user_btn btn btn-global"><?php echo $this->translator->translator('common_submit'); ?></a>
        </div>
   </div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Message'); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar"></div>	
</div>
</div>