<?php
$front_template = Zend_Registry::get('front_template');

/*This function has been used 
* to get total company number 
* including child category 
* under a certain parent category*/


function checkCompanyCount($arrCompany, $catID, $allCompID) {
    if($arrCompany)
    {
        foreach ($arrCompany AS $company) {
            if ($company['category_id'] == $catID) {
                $allCompID[] = $company['id'];
            }
        }
    //    $allCompID = array_unique($allCompID);
        return $allCompID;
    } else {
        return 0;
    }
}


function getAllDeepChild($arrCategory, $parentID, $valReturn){
    
    for($i = 0; $i < count($arrCategory); $i++){
        if($arrCategory[$i]['parent_id'] == $parentID){
            $valReturn[] = $arrCategory[$i]['id'];
            $valReturn = getAllDeepChild($arrCategory, $arrCategory[$i]['id'],$valReturn);
        }
    }
    return $valReturn;
}

function getAllChildArray($arrCategory, $parentID, $CompanyArr){
    $arrAllCat = array();
    $arrAllCat[] = $parentID;
    $allCompID = array();
    
    for($i = 0; $i < count($arrCategory); $i++){
        if($arrCategory[$i]['parent_id'] == $parentID){
            $arrAllCat[] = $arrCategory[$i]['id'];
            $arrAllCat = getAllDeepChild($arrCategory, $arrCategory[$i]['id'],$arrAllCat);
        }
    }
    $arrAllCat = array_unique($arrAllCat);
    foreach($arrAllCat AS $Key => $Val){
        $allCompID = checkCompanyCount($CompanyArr, $Val, $allCompID);
    }
    $allCompID = array_unique($allCompID);
    return count($allCompID);

}

$catArr = $this->arrCategory;
$comArr = $this->arrCompany;


if($this->category_info)
{
	function subCategory($view, $parent_id, $catArr, $comArr)
	{
		$search_params['filter']['filters'][0] = array('field' => 'parent_id', 'operator' => 'eq', 'value' => $parent_id);
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
				
		$search_params['filter']['filters'][2] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
		
		$category_info = $view->category_db->getListInfo ('1', $search_params, false);
		
		if($category_info)
		{
			echo '<ul>';
			foreach($category_info as $info)
			{
				$link = $view->url(array('module'=> 'B2b', 'controller' => 'frontend','action' => 'classifieds', 'category' => $view->escape($info['url_portion'])), 'All-Classified-list/*', true);
				$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$view->escape($info['b2b_images']) : '';
				if($info['login'] == '0' || ($info['login'] == '1' && $view->auth->hasIdentity()))
				{
					echo '<li>';
						if($view->category_db->checkSubCategory ($info['id']))
						{
							echo '<p><a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.getAllChildArray($catArr,$info['id'],$comArr).')</span></p>';
							subCategory($view, $info['id'], $catArr, $comArr);
						}
						else
						{
							echo '<a href="'.$link.'" link="'.$thumb_image.'" title="'.$view->escape($info['description']).'">'.$view->escape($info['name']).'</a> <span>('.$view->numbers($view->escape($info['company_num'])).')</span>';
						}
					echo '</li>';
				}
			}
			echo '</ul>';
		}
	}
	
	if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
	if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
	if(!empty($this->group_datas['gallery_name'])) { $this->headTitle()->headTitle($this->group_datas['gallery_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }
	
	$global_conf = Zend_Registry::get('global_conf');
	$currency = new Zend_Currency($global_conf['default_locale']);
?>
<div class="mod">
    <div class="block-ad"><?php $this->ad(218); ?></div>
    <div class="cat-container">
        <div class="list-icon">
        	<h1><?php if($this->parent_category_info){ echo $this->translator->translator('b2b_category_list_title', $this->escape($this->parent_category_info['name'])); }else{ echo $this->translator->translator('b2b_category_list_all_title'); } ?></h1>
		</div>
        <div class="clear"></div>
        <div class="cat-columns">
        	<?php
                	foreach($this->category_info as $info)
			{
				$link = $this->url(array('module'=> 'B2b', 'controller' => 'frontend','action' => 'classifieds', 'category' => $this->escape($info['url_portion'])), 'All-Classified-list/*', true);
				$thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
			?>
            <?php
				if($info['login'] == '0' || ($info['login'] == '1' && $this->auth->hasIdentity()))
				{
			?>
                      <div class="cat-list column-list">
                          <ul>
                              
                              <li>
                                  <p><a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span>(<?php echo getAllChildArray($catArr,$info['id'],$comArr); ?>)</span></p>
                                  <?php subCategory($this, $info['id'], $catArr, $comArr); ?>                          
                              </li>                        
                          </ul>
                      </div>
			<?php
                }
            ?>
            <?php
			}
			?>
            
            
        
           <!-- <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
      
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                    </li>
                </ul>
            </div>
        
            <div class="cat-list column-list">
                <ul>
                    <li>
                        <p><a href="#">Samsung Galaxy S3</a> <span>(240)</span></p>
                        <ul>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                            <li><a href="#">Tractors</a> <span>(69)</span></li>
                            <li><a href="#">Other Farm Machinery</a> <span>(69)</span></li>
                            <li><a href="#">Seeders</a> <span>(35)</span></li>
                            <li><a href="#">Cultivators</a> <span>(28)</span></li>
                            <li><a href="#">Oil Pressers</a> <span>(15)</span></li>
                            <li><a href="#">Harvesters</a> <span>(10)</span></li>
                            <li><a href="#">Balers</a> <span>(3)</span></li>
                            <li><a href="#">Shellers</a> <span>(3)</span></li>
                            <li><a href="#">Milking Machines</a> <span>(2)</span></li>
                            <li><a href="3">UTV</a> <span>(1)</span></li>
                        </ul>
                    </li>
                </ul>
            </div>-->
        </div>
        <div>
				<?php echo $this->paginationControl($this->category_info, 'Sliding', 'frontend/categorylist-pagination-flickr.phtml'); ?>
            </div>
    </div>
</div>
<?php
}
else
{
?>
<div class="mod">
	 <div class="cat-container">
     	<div class="list-icon">
			<?php echo $this->err_msg; ?>
        </div>
      </div>
</div>
<?php	
}
?>