<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
?>

<div class="mod-form">
	<h1>Manage Company Information</h1>
    <p><strong>Business Type Selected:</strong> Other</p>
    <div id="breadcrumb">
        <ul class="crumbs">
            <li style="z-index:9;" class="first active"><span></span><div>1</div>Basic Company Details</li>
            <li style="z-index:8;" class=""><div>2</div>Trade Information</li>
            <li style="z-index:7;" class=""><div>3</div>Partner Factories</li>
            <li style="z-index:5;" class=""><div>4</div>Company Introduction & Images</li>
        </ul>
    </div>

	<div class="clear">&nbsp;</div>

    <form action="" method="post" enctype="multipart/form-data">
        <!-- Form Group 1 -->
        <div class="form-label-container">
            <div class="label_class">Company Name:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field"><input type="text" size="40" /></div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter the full name of your company"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Location of Registration:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">Bangladesh</div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Company Operational Address:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">Street: <input type="text" size="20" /></div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter your company address，e.g. street name & number, building number."><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
            <div class="clear"></div>
            
            <div class="form-field">City: &nbsp;&nbsp; <input type="text" size="20" /></div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter your company address，e.g. street name & number, building number."><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
            <div class="clear"></div>
            
            <div class="form-field">Country/Region:&nbsp;
              <select name="select" id="select">
                <option>Bangladesh</option>
              </select>
              <span class="input-errors" id=""></span>
            </div>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter your company address，e.g. street name & number, building number."><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
            
            <div class="clear"></div>
            
            <div class="form-field">Zip/Postal Code:
              <input type="text" size="20" />
              <span class="input-errors" id=""></span>
            </div>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter your company address，e.g. street name & number, building number."><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Main Products:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field"><input type="text" size="40" /></div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter the full name of your company"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Company Name:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" /><br /><br />
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" />
                <input type="text" size="6" />
            </div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter the full name of your company"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Company Certification:
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
            </div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter the full name of your company"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        <!-- Form Group 1 -->
    
        <!-- Form Group 2 -->
        <div class="form-label-container">
            <div class="label_class"> Total Annual Sales Volume:
            </div>
        </div>
        
        <div class="form-field-container">
            <select name="select" id="select">
                <option>Please Select</option>
            </select>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Main Markets:
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="form-field">
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
            </div>
            <span class="input-errors" id=""></span>
            <div class="form-field-info">
                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="Please enter the full name of your company"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
            </div>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Main Customer(s):
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <input type="text" size="15" /> <input type="text" size="15" /> <input type="text" size="15" />
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Are you able to source across multiple industries?:
                <span class="star_class">*</span>
            </div>
        </div>
        
        <div class="form-field-container">
            <input name="" type="radio" value="" />Yes &nbsp;&nbsp; <input name="" type="radio" value="" />No
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Minimum Order Value:
            </div>
        </div>
        
        <div class="form-field-container">
            <select name="select" id="select">
                <option>Please Select</option>
            </select>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Accepted Delivery Terms
            </div>
        </div>
        
        <div class="form-field-container">
            <div class="field-col">
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
            </div>
            
            <div class="field-col">
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
                <input name="" type="checkbox" value="" /> HACCP<br />
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <!-- Form Group 2 -->
    
        <!-- Form Group 3 -->
        <div class="form-label-container">
            <div class="label_class">Company Logo:
            </div>
        </div>
        
        <div class="form-field-container">
            <label for="fileField"></label>
          <input type="file" name="fileField" id="fileField" />
        </div>
        
        <div class="form-label-container">
            <div class="label_class">Detailed Company Introduction:
            </div>
        </div>
        
        <div class="form-field-container">
        <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
        </div>
        
        <div class="form-label-container">
            <div class="label_class">&nbsp;
            </div>
        </div>
        
        <div class="form-field-container">
        &nbsp;
        </div>
        <!-- Form Group 3 -->
        
		<div class="clear form-btn-container">
       		<span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn">Back</a></span>
			<span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="add_user_btn">Next</a></span>
        </div>
    </form>
</div>