<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );

$per =  html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8");

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_selling_leads' );
switch($this->deal_operator)
{
	case 'deal_hour':
			$deal_lang = html_entity_decode($this->translator->translator('b2b_last_deal_hour_left'), ENT_QUOTES, "UTF-8");
		break;
	case 'deal_day':
			$deal_lang = html_entity_decode($this->translator->translator('b2b_last_deal_day_left'), ENT_QUOTES, "UTF-8");
		break;
	case 'deal_month':
			$deal_lang = html_entity_decode($this->translator->translator('b2b_last_deal_month_left'), ENT_QUOTES, "UTF-8");
		break;
	case 'deal_year':
			$deal_lang = html_entity_decode($this->translator->translator('b2b_last_deal_year_left'), ENT_QUOTES, "UTF-8");
		break;
}
?>

<script type="text/javascript">
    $(document).ready(function() {
		extraFunctions ();
        var settingObj = {
                            grid_id : 'selling-leads-grid',
                            dest_url : "<?php echo $this->url(array('module' => $this->getModule, 'controller' => $this->getController, 'action' => 'sellist', 'menu_id' => $this->posted_data['menu_id']), 'adminrout', true); ?>",
                            pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							no_browse_url: false,
							dataSource_sort : [ {field: '<?php echo $this->deal_order; ?>',  dir: '<?php echo $this->deal_dir; ?>'} ],
							dataSource_filter : [
								<?php if(trim($this->posted_data['category_id'])) : ?>{field: 'category_id', operator: "eq", value: <?php echo $this->posted_data['category_id']; ?>},<?php endif; ?>
								{field: 'category_displayble', operator: "eq", value: '1'},
								{field: 'validity', operator: "<?php echo $this->deal_operator; ?>", value: '<?php echo $this->deal; ?>'}
							],
                            dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},
 										
							search_action: {
								search_form_id : 'searchForm',
								search_form_btn : 'search_btn',
								hasTinyMCE 	: false,
								show_loader_on_search_button: true,
								setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
											var filters = [];										
											var i = 0;
											$.each(form_data, function(key,value){		
												var stringObj = {};																				
												if($.trim(value) != "" && value.toLowerCase() != "any")
												{												
													var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
													switch(key)
													{
													  case 'advkeywords':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];																			
																			  var filter_keyword_1_arr = [];																			
																			  var filter_keyword_2_arr = [];																			
																			  var filter_keyword_3_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'keyword', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_1_arr[key_count] = { field: 'keyword_1', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_2_arr[key_count] = { field: 'keyword_2', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_3_arr[key_count] = { field: 'keyword_3', operator: operator, value: $.trim(filter_value_arr_value) };
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr },
																										  { logic: form_data.advword, filters: filter_keyword_1_arr },
																										  { logic: form_data.advword, filters: filter_keyword_2_arr },
																										  { logic: form_data.advword, filters: filter_keyword_3_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'name', 	operator: operator, value: $.trim(value) },
																										  {field: 'keyword', 	operator: operator, value: $.trim(value) },
																										  {field: 'keyword_1',operator: operator, value: $.trim(value) },
																										  {field: 'keyword_2',operator: operator, value: $.trim(value) },
																										  {field: 'keyword_3',operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'name', 		operator: operator, value: $.trim(value) },
																								{field: 'keyword', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_1', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_2', 	operator: operator, value: $.trim(value) },
																								{field: 'keyword_3', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break;	
														 case 'description':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'short_description', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'detail_description', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'short_description', 	operator: operator, value: $.trim(value) },
																										  {field: 'detail_description', 	operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'short_description', 		operator: operator, value: $.trim(value) },
																								{field: 'detail_description', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break; 	
														case 'advcategory_input':
															break;
														case 'advcategory':													
																var combobox = $("#advcategory").data("kendoComboBox");	
																if(combobox)
																{
																	var category_id_val = combobox.value();																
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'category', operator: operator, value: category_id_val },
																								{ field: 'category_name', operator: 'contains', value: category_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
																}
															break;
														case 'advcountry_input':
															break;	
														case 'advcountry':
																var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
																if(advcountry_combobox)
																{
																	var advcountry_id_val = advcountry_combobox.value();
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																								{  field: 'user_country_name', operator: 'contains', value: advcountry_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'user_country_name', operator: 'contains', value: $("#advcountry").val() };																
																}															
															break;
														case 'advpremium':
																stringObj = {field: 'priority', operator: operator, value: "YES" };
															break;
														case 'priceopt':
															break;	
														case 'price':
																operator = $('#priceopt').val();
																stringObj = {field: 'price', operator: operator, value: $.trim(value) };
															break;	
														default:
															stringObj = {field: key, operator: operator, value: $.trim(value) };	
														 break;								
													}
													filters[i] = stringObj;												
													i++;
												}
											});
											//alert(filters.toSource());
											filters[i] = {field: 'validity', operator: "<?php echo $this->deal_operator; ?>", value: '<?php echo $this->deal; ?>'};
											return filters;
										}
							},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {'sqlFunction' : 'getFontendLastMinDeal'},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    //text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
		try { kendo.bind($("#grid-selling"), indexModel); } catch(e){};	
    });
    function text_truncate()
    {
        $('div.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});	
	}	
    </script>
	<script type="text/x-kendo-template" id="view_template">
	
	 # if(company_title) {
		 	var featured_class = (priority == 'YES' || featured == '1') ? 'featured' : '';
			var featured_spacer_class  = (featured_class != '') ? 'spacer-deals' : '';
		  #	 		
            <div class="list-view #= featured_class # deal">
				#
				if(featured_spacer_class != '')
				{
				#
				<div class="ribbon-container deals">
					<span id="ribbon"><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></span>
			  	</div>
				#
				}
				#
                <div class="img-wrapper">
                    <a href="Selloffer-Details/#=company_title#/#=seo_title#"  link="#= primary_file_field_format #" title="#= name #"><img src="#= primary_file_field_format #" border="0" class="thumb"  height="100" width="100"/></a>
                    <div class="photo-count-container">
                        <div class="photo-count"> 
                            <a href="Selloffer-Details/#=company_title#/#=seo_title#" title="#=company_name#">#= others_images_num_format  #</a>
                        </div>
                    </div>
					#if(package_name){ # <img src="#= file_path_b2b_images #/#= package_logo #" border="0" width="40" class="pkg"/> # } #
					
					# if(package_name){ #<div class="membership"><a href="Selloffer-Details/#=company_title#/#=seo_title#">#= package_name #</a><br /> </div># } #
					<div class="separator"></div>
					#if(package_name && priority_flag){ # <br /><br /><div class="trusted"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="50"/><br />#= priority_flag #</div> # } #
                </div> 
				<div class="details">
                    <h3><a href="Selloffer-Details/#=company_title#/#=seo_title#">#= name #</a></h3>
					
					#
				 		if(description){ 
			  		#
						<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : #= commonStripslashes (description) # <br /> 
                    # 
						} 
						if(price){
					#	
						# var currencyType = (price_currency) ? price_currency.split("-") : ['<?php echo html_entity_decode($this->translator->translator('b2b_fontend_price_currency_unknown'), ENT_QUOTES, "UTF-8")  ?>']; #
                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_front_product_price'), ENT_QUOTES, "UTF-8")  ?> : # if (currencyType[0] != 0 ) { #  #= currencyType[0]#  #}#  #= original_price # #if (strikethrough_price) {#  (<strike> #= strikethrough_price # </strike>) #}#  <?php echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8") ?> #= price_per_unit #</div>
					# 
						} 
						if(shipping){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, "UTF-8") ?> </span>  :  #= shipping # <br />
										
					# 
						} 
						if(validity){
					#
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_product_time_of_expiry'), ENT_QUOTES, "UTF-8") ?> </span> :  #= validity # <br />
					# 
						} 
						if(delivery){
					#	
                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_selling_offer_delivery'), ENT_QUOTES, "UTF-8") ?> </span> :  #= delivery #  #= delivery_leadtime # <br />					
					# 
						} 
						if(place_of_origin){
					#	

                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_selling_offer_madein'), ENT_QUOTES, "UTF-8") ?> </span>  :  #= place_of_origin #  <br />
							
					# 
						} 
						if(quantity){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_minimum_order_qty'), ENT_QUOTES, "UTF-8") ?> </span> :  #= quantity #  #= qty_per_unit #    <br />
							
					# 
						} 
						if(payment_type){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, "UTF-8") ?></span> :  #= payment_type #   <br />
							
					# 
						} 
						if(category_name){
					#	
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, "UTF-8") ?>  </span> : #= category_name # <br />

					# 
						} 
						if(business_type){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8") ?>  </span>  :
					  
					  #= business_type # <br />
							
					#
						} 
						if(category_name){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_selling'), ENT_QUOTES, "UTF-8")?> </span> :   #= category_name #  <br />
												
					# 					
						} 
						if(added_on){
					#
						
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, "UTF-8") ?>  </span> : #= added_on # <br />
							
					# 
						} 
						if(keywords || keyword_1 || keyword_2 || keyword_3)
						{
					# 
					<span><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keyword # # if(keyword_1){ #, ${keyword_1} # } # # if(keyword_2){ #, ${keyword_2} # } # # if(keyword_3){ #, ${keyword_3} # } #<br />
					#
						}
					#	
				</div>
				
				 <div class="info #= featured_spacer_class #">
				 	# 
						var deal_num = <?php echo $this->deal_operator.'_num'; ?>; 
						if(deal_num)
						{
					#
				 	<div class="last-minute-deal">#= deal_num # <?php echo $deal_lang; ?></div><div class="corner"></div><br /><br /><hr>
					# 
						}
					#
				  	<span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_profile_overview'), ENT_QUOTES, "UTF-8")?> :</span><br /><br /> 
										
						#
						if(establishing_year)
						  {
							  var today = new Date();
							  var yyyy = today.getFullYear();					
							  var year_of_est  = establishing_year;
							  var company_age = parseInt(yyyy) - year_of_est;
							  var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
						  }
						  else
						  {
							  var number_of_years =  null;	
						  }
						#
						
						#if(number_of_years){#<?php  echo  html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, "UTF-8")?> #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8"); ?># } #

					<hr>
					#
						if(company_name){
					#
					  	<a href="Company-Homepage/#= company_title #"> #= company_name # </a><br />	

					#
						}
					if(category_isShowProfile == 1 || category_id == 0){
						if(country_code){
					#

	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8")?> </span> : <img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp; #= state # / #= city # <br />
					# 
						} 
						if(selling_categories){
					#
	                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_selling'), ENT_QUOTES, "UTF-8")?> </span> :   #= selling_categories #  <br />

					# 
						} 
						if(registered_in){
					#

                    	<span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8")?> </span>  :  #= registered_in # <br />                    

					# 
						} 
					#

					#	
						<?php if ($this->preferences_data['show_phone']) {?>
						if(phone && user_id && is_telephone === 'YES'){
					#
						
                   	 		<div class="call"> #= phone # - #= phone_part2 # - #= phone_part3 #  </div>

					# 
						} 
						<?php } if ($this->preferences_data['show_inquiry_btn']) {?>
						if(is_feedback === 'YES'){
					#	
					
                    		<div class="inquire"><a href="Inquiry/#= company_title #"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>

					#
						} 
						<?php } if ($this->preferences_data['show_contact_btn']) {?>
						if(is_profile === 'YES'){
					#
                    <span class="contact"><a href="Company-Contact/#= company_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8")?></a></span>
					#
						}
						<?php } ?>	
					}
					if(is_voting === 'YES'){
					#
					
						<div class="products-vote">
							<hr>
							<p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
							<span>#= profile_vote_format #</span>
						</div>						
					#}#
					<hr>
					# if(shopping_cart_enable){ # <span class="link-btn cart-btn"><a href="javascript:void(0)" data-bind="click: addToCart"><span class="icon"></span><?php echo  html_entity_decode($this->translator->translator('common_add_to_cart_btn'), ENT_QUOTES, "UTF-8"); ?></a></span># } #
					 
				 </div>	
                 
                <hr /> 
                <span class="review-count"><a href="Selloffer-Details/#=company_title#/#=seo_title#/tab/3">#= review_no_format #</a>
				</span>  <span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a>
				</span> &nbsp; | <a href="Selloffer-Details/#=company_title#/#=seo_title#/tab/2"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8"); ?></a> | 
				<a href="Selloffer-Details/#=company_title#/#=seo_title#"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8"); ?></a>   
            </div>
			
			# } #
    </script>
    <div class="mod">
           
        <div class="cat-container">
            <div class="list-icon">
                <h1><?php echo  $this->translator->translator('b2b_last_deal_selling_header_title')?></h1>
            </div>
            <div class="clear"></div>
            <br />
           
            <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a></div>
           
            
            <div id="slickbox" class="toggle-container">
                <form name="searchForm" id="searchForm">
                    <div class="toggle-search">
                        <!-- Row 1 Start -->
                        <div class="toggle-row">
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_name_of_buying_product'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input type="text" class="ui-widget-content ui-corner-all" name="name" id="name" operator="contains" value="" size="30" />
                            </div>
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_user_name'); ?></span>
                            </div>
                            
                            <div class="toggle-field">                        	
                                <input type="text" name="full_name" id="full_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                            </div>
    
                        </div>
                        <!-- Row 1 End -->
                        
                        
                        <!-- Row 2 Start -->
                        <div class="toggle-row">
             
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                            </div>
                            
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                            
                               <input type="text" name="description" id="description" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                          
                            </div>
                            
                        </div>
                        <!-- Row 2 End -->
                        
                        <!-- Row 3 Start -->
                        <div class="toggle-row">
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('package_list_page_name'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <select name="package_id" id="package_id" class="ui-widget-content ui-corner-all" operator="eq">
                                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                    <?php
									if($this->packagesArray)
									{
										foreach($this->packagesArray as $packages_info)
										{
									?>
                                    <option value="<?php echo $packages_info['id']; ?>"><?php echo $this->escape($packages_info['name']); ?></option>
                                	<?php
										}
									}
									?>
                                </select>                               
                            </div>
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_hidden_show_only'); ?></span>
                            </div>
                            
                            <div class="toggle-field">                        	
                                <select name="displayble" id="displayble" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                    <option value="1" <?php if($this->read == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_show_listing_only'); ?></option>
                                    <option value="0" <?php if($this->read == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_hidden_listing_only'); ?></option>
                                </select>
                            </div>
                        </div>
                        <!-- Row 3 End -->
                        
                        <!-- Row 4 Start -->
                        <div class="toggle-row">
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_featured_lising_only'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <select name="featured" id="featured" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                    <option value="1" <?php if($this->flag == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_featured_listing_only'); ?></option>
                                    <option value="0" <?php if($this->flag == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_unfeatured_listing_only'); ?></option>
                                </select>
                            </div>
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_price_label'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <select name="priceopt" id="priceopt">
                                    <option value="eq"><?php echo $this->translator->translator('b2b_advanced_search_common_equal_label'); ?></option>
                                    <option value="lte"><?php echo $this->translator->translator('b2b_advanced_search_price_maximum_label'); ?></option>
                                    <option value="gte"><?php echo $this->translator->translator('b2b_advanced_search_price_minimum_label'); ?></option>
                                </select>
                               <input type="text" name="price" id="price" operator="contains" class="ui-widget-content ui-corner-all" value="" size="10" />
                                                          
                            </div>
                        </div>
                        <!-- Row 4 End -->
                        
                        <!-- Row 5 Start -->
                        <div class="toggle-row">
             
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_category_label'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input name="advcategory" id="advcategory" operator="eq" />
                            </div>
                            
                            
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                            
                               <input name="advcountry" id="advcountry" operator="eq" />
                                                          
                            </div>
                            
                        </div>
                        <!-- Row 5 End -->
                    </div>
                    <hr />
                    <div class="clr form-button-container">
                        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                    </div>
                </form>
            </div>
    
        </div>
    
    
        <div id="grid-selling" <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			<div id="selling-leads-grid" data-bind="source: selling"></div>  
       	</div>
    </div>
    <div id="dialog_msg"></div>