<?php
$version = Zend_Registry::get('version');
$front_template = Zend_Registry::get('front_template');
$templateDir = $front_template['theme_folder'];
$this->headTitle()->headTitle($this->translator->translator('front_membership_package'),'SET'); 
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
//echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');


function showColumn($view, $i)
{
	$showCols = (!$view->auth->hasIdentity() || ($view->auth->getIdentity()->allow_change_user_packages == '1') || ($view->owner_package_info && $view->owner_package_info['price'] && ($view->owner_package_info['price'] < $view->packagesArray[$i]['price'] )) ) ? true : false;
	return $showCols;
}

function checkValue ($value , $templateDir)
{				
	$data = strtolower(trim($value));
	if ( $data == 'yes')
	{
		return "<img src='application/layouts/scripts/" . $templateDir ."/images/b2b_img/yes.png' width='32'/></td>";
	}	
	elseif ($data == 'no')
	{
		return "<img src='application/layouts/scripts/" . $templateDir ."/images/b2b_img/no.png' width='32'/></td>";				
	}	
	else 
	{
		return $data;
	}	
}
?>

<script type="text/javascript">
$(document).ready(function() {
	$("table th tr:nth-child(odd)").addClass("odd");
	$("table tr:nth-child(even)").addClass("even");
    $("table tr:nth-child(odd)").addClass("odd");
});
</script>

<div class="mod membership-pkgs form-element">
    <div class="clear"> &nbsp; </div>
    
	<div class="list-icon">
    	<h1><?php echo $this->translator->translator('front_membership_package') ?></h1>
    </div>
    <div class="clear"></div>    
    	<?php 
			if ($this->packagesArray)
			{		
				$cols = count($this->packagesArray);
				$has_package = false;
				for ($i = 0 ; $i < $cols ; $i++) 
				{	
					if(showColumn($this, $i))	
					{				
						$has_package = true;
					}
				}
				if($has_package === true)
				{										
		?>     
                    <div class="mod-container">
                        <?php echo $this->translator->translator('front_membership_package_desc') ?>
                    </div>
                    <table width="100%" cellpadding="0" cellspacing="1">                           
                            
                            <thead>
                            <tr>
                                <th width="20%" class="off">&nbsp;</th>
                                
                                <?php 
                                    for ($i = 0 ; $i < $cols ; $i++) {	
                                        if(showColumn($this, $i))	
                                        {				
                                            echo "<th> ".  $this->packagesArray[$i]['name'] ."</th>";
                                        }
                                    }
                                ?>
                
                            </tr>
                        </thead>
                        
                        <tbody>
                            
                             <tr class="cost">
                                <td class='feature'><?php echo $this->translator->translator('front_membership_package_price'); ?> </td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) {
                                        $price = $this->packagesArray[$i]['price'] ;
                                        if(showColumn($this, $i))	
                                        {
                                            if (trim($price)){
												$strikethrough = (!empty($this->packagesArray[$i]['strikethrough_price']) && $this->packagesArray[$i]['strikethrough_price'] > $this->packagesArray[$i]['price'] ) ? '<strike>'.$currency->getSymbol() .$this->packagesArray[$i]['strikethrough_price'].'</strike>' : '';
                                                echo "<td  class='cost'>".  $currency->getSymbol(). ' ' .$this->packagesArray[$i]['price']	.'&nbsp;&nbsp;'. $strikethrough ."</td>";						
                    
                                            }
                                            else {
                                                echo "<td  class='cost'>".  $this->translator->translator('b2b_package_member_free') ."</td>";	
                                            }
                                        }
                                    }
                                 ?>
                            </tr>
                                
                           <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_product'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {							
                                        if(showColumn($this, $i))	
                                        {
                                            $products = $this->packagesArray[$i]['products'] ;			
                                            if (trim($products)){
                                                
                                                echo "<td>".  $this->packagesArray[$i]['products']	."</td>"; 						
                    
                                            }
                                            else {
                                                echo "<td>".  $this->translator->translator('b2b_package_member_unlimited') ."</td>";	
                                            }									
                                        }							
                                    }
                                 ?>
                            </tr>
                            
                                 
                           <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_buying'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) {
                                        if(showColumn($this, $i))	
                                        {	
                                            $buying = $this->packagesArray[$i]['buying'] ;								
                                            if (trim($buying)){							
                                                echo "<td >".  $this->packagesArray[$i]['buying']	."</td>"; 			
                                            }
                                            else {
                                                echo "<td>".  $this->translator->translator('b2b_package_member_unlimited') ."</td>";	
                                            }
                                        }
                                    }
                                 ?>
                            </tr>
                                 
                          
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_selling'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) {							
                                        if(showColumn($this, $i))	
                                        {
                                            $selling = $this->packagesArray[$i]['selling'];				
                                            if (trim($selling))
                                            {							
                                                echo "<td >".  $this->packagesArray[$i]['selling']	."</td>"; 				
                                            }
                                            else 
                                            {
                                                echo "<td>".  $this->translator->translator('b2b_package_member_unlimited') ."</td>";	
                                            }																		
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_renewable'); ?></td> 
                                <?php  
                                    
                                    for ($i = 0 ; $i < $cols ; $i++) { 
                                        if(showColumn($this, $i))	
                                        {
                                            $renewable = $this->packagesArray[$i]['renewable'] ;						
                                            if (trim($renewable))
                                            {							
                                                echo "<td >".  $this->packagesArray[$i]['renewable'] . '  ' . $this->translator->translator('b2b_days')."</td>"; 					
                                            }
                                            else 
                                            {
                                                echo "<td>".  $this->translator->translator('b2b_package_member_forever') ."</td>";	
                                            }
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_priority_flag'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) {	
                                        if(showColumn($this, $i))	
                                        {
                                            $priority_flag = $this->packagesArray[$i]['priority_flag'] ;						
                                            if (trim($priority_flag))
                                            {							
                                                echo "<td >".  checkValue($this->packagesArray[$i]['priority_flag'] , $templateDir)	."</td>"; 					
                                            }
                                            else 
                                            {
                                                echo "<td>".  $this->translator->translator('front_membership_package_flag') ."</td>";	
                                            }
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_profile'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['profile'] , $templateDir)	."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_voting'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['voting'] , $templateDir)	."</td>";
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_feedback'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['feedback'] , $templateDir)	."</td>"; 	
                                        }
                                    }
                                 ?>
                            </tr>
                                       
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_telephone'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['telephone'] , $templateDir)	."</td>";
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_social_network'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['social_network'] , $templateDir)	."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_massage'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['massage'] , $templateDir)	."</td>"; 	
                                        }
                                    }
                                 ?>
                            </tr>
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_gallery'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {		
                                        if(showColumn($this, $i))	
                                        {					
                                            echo "<td >".  checkValue($this->packagesArray[$i]['gallery']	 , $templateDir)."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_directory'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {		
                                        if(showColumn($this, $i))	
                                        {					
                                            echo "<td >".  checkValue($this->packagesArray[$i]['directory']  , $templateDir)."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                                         
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_website'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {		
                                        if(showColumn($this, $i))	
                                        {					
                                            echo "<td >".  checkValue($this->packagesArray[$i]['website'] , $templateDir)	."</td>"; 	
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_tradeshow'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {		
                                        if(showColumn($this, $i))	
                                        {					
                                            echo "<td >".  checkValue($this->packagesArray[$i]['tradeshow'] , $templateDir)	."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_buyers_profile'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {		
                                        if(showColumn($this, $i))	
                                        {					
                                            echo "<td >".  checkValue($this->packagesArray[$i]['buyers_profile'] , $templateDir)	."</td>";
                                        }
                                    }
                                 ?>
                            </tr>
                                        
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_priority'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {						
                                            echo "<td >".  checkValue($this->packagesArray[$i]['priority'] , $templateDir)	."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                             <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_spotlight'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {
                                        if(showColumn($this, $i))	
                                        {							
                                            echo "<td >".  checkValue($this->packagesArray[$i]['spotlight']	 , $templateDir)."</td>"; 
                                        }
                                    }
                                 ?>
                            </tr>
                            
                            <tr>
                                <td class='feature'> <?php echo $this->translator->translator('front_membership_package_ecommerce'); ?></td> 
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {
                                        if(showColumn($this, $i))	
                                        {							
                                            echo "<td >".  checkValue($this->packagesArray[$i]['eCommerce']	 , $templateDir)."</td>";
                                        }
                                    }
                                 ?>
                            </tr>
                             
                             <tr>
                                <td class="feature">&nbsp;</td>
                                <?php  
                                    for ($i = 0 ; $i < $cols ; $i++) 
                                    {	
                                        if(showColumn($this, $i))	
                                        {	
                                            if($this->auth->hasIdentity())
                                            {
                                                echo "<td class='form-button'> <a href='Upgrade-B2b-Membership/upgrade_id/".$this->packagesArray[$i]['id']."'>".  $this->translator->translator('menu_members_edit_membership_upgrade')	."</a></td>"; 
                                            }
                                            else
                                            {
                                                echo "<td class='form-button'> <a href='Registration/104'>".  $this->translator->translator('front_membership_package_register')	."</a></td>"; 
                                            }
                                        }
                                    }
                                 ?>
                            </tr>
                                        
                         
                        </tbody> 
                    </table>
    	<?php 
				}
				else 
				{
				
					echo '<div class="mod-container">'.$this->translator->translator('b2b_membership_pkg_not_found').'</div>';	
				}
			}			
			else 
			{
			
				echo '<pre>'.$this->translator->translator('b2b_membership_pkg_not_found').'</pre>';	
			}
		?>    
</div>