<?php
$front_template = Zend_Registry::get('front_template');
?>
<div class="mod">
    <?php 
		$fullStory = $this->fullStory[0] ;
		if (!empty ($fullStory) &&  count($fullStory) > 0){
		
		
		$b2bImages = ($fullStory['b2b_images']) ? ($fullStory['b2b_images']) : 'avatar.png';	
				
	?>
    <div class="cat-container">
        <div class="list-icon clear">
            <h1> <?php echo  $this->translator->translator('front_success_story_full_story') ?></h1>
        </div>
    </div>
    <div class="clear"></div>
    <div class="story-details">
        <h2><a href="Company-Details/<?php echo $fullStory['company_title'] ?>"><?php echo  $this->escape ($fullStory['name']) . ' (' . $fullStory['company_name']  . ')'?> </a></h2>
        <hr />
        <div class="img-wrapper">
            <a href="#"><img src="<?php echo $fullStory['images_path'].'/'.$b2bImages?>" width="100" border="0" class="thumb" /></a>
        </div>
        
        <div class="info">
        	<?php if($fullStory['full_name']){ ?><p class="mod-title"><?php echo $this->escape($fullStory['full_name']); ?></p><?php } ?>
            <img src="data/adminImages/flagsImage/<?php echo $fullStory['code']; ?>.gif" border="0" class="flag"/>&nbsp; <?php echo $this->escape($fullStory['city'].', '.$fullStory['country_name']); ?>
            <div class="membership">
            	<?php  
            		if ($fullStory['package_name']){						
                ?>                
                	<a class="gold" href="Premium-Membership"><?php echo $fullStory['package_name']?></a>
                
                <?php  
					} 
					
				$establishing_year = $fullStory['establishing_year'];
				$main_products = $fullStory['main_products'];
				$trade_type = $fullStory['trade_type'];
				
				if ( !empty($trade_type) && is_numeric($trade_type)) {
						
						switch ($trade_type){
							
						case '1':	echo '<br /><span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_sellers') . '<br />';
						
									break;
						case '2':	echo '<span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_buyers') . '<br />';						
									break;
						 case '3':	echo '<span> '. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_both') . '<br />';
						 
						 default:	break;	
						 
						}
							
				}
				
				if ( !empty($establishing_year)) {
						
						echo '<span>  '. $this->translator->translator('b2b_keywords_operating_since').'</span>: ' .$establishing_year . '<br />';
				}
				
				if ( !empty($main_products)) {
						
						echo '<span>  '. $this->translator->translator('b2b_keywords_main_products').'</span>: '.$main_products . '<br />';
				}
				
				?>	
            </div>
            <div>&nbsp;</div>
            <strong><?php echo $this->translator->translator('b2b_registered_category_name') ?> :</strong> <?php echo $fullStory['category_name'] ?>
        </div>
        <hr/>
        <div class="desc">
        	<strong><?php  echo $this->escape ($fullStory['name'])?></strong><br />
        	 <?php echo $this->escape ($fullStory['description'])?>
    	</div>
        <hr />
        <span class="link">
        	<a href="Company-Selloffers/<?php echo $fullStory['company_title'] ?>"><?php echo $this->translator->translator('front_success_story_leads') ?></a> &nbsp;  &nbsp;   &nbsp;   &nbsp; <a href="Company-Products/<?php echo $fullStory['company_title'] ?>"><?php echo $this->translator->translator('front_success_story_products') ?></a>
		</span>
               	
      	<a href="Success-Stories" class="all"><?php echo $this->translator->translator('front_success_story_view_all') ?></a>
		
        <hr />
	</div>
    
    <?php 
			}
			
			else 
			{
				echo $this->translator->translator('b2b_front_common');
			}
	?>
</div>