<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );
$company_sort_arr = ($this->preferences_data['suppliers_sortby'] && $this->preferences_data['suppliers_sortby'] != '_') ? explode('-', $this->preferences_data['suppliers_sortby']) : null;
?>
<script type="text/javascript">
    $(document).ready(function() {
		extraFunctions ();
        var settingObj = {
                            grid_id : 'grid',
                            dest_url : "<?php echo $this->url(); ?>",
                            pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['suppliers_list']) ? $this->preferences_data['suppliers_list'] : 30); ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							dataSource_sort: [
													<?php if($company_sort_arr && $company_sort_arr[0]): ?>{field: '<?php echo $company_sort_arr[0]; ?>',  dir: '<?php echo $company_sort_arr[1]; ?>'}<?php endif; ?>
												],
                            dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},
							search_action: {
								search_form_id : 'searchForm',
								search_form_btn : 'search_btn',
								hasTinyMCE 	: false,
								show_loader_on_search_button: true,
								setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
											var filters = [];										
											var i = 0;
											$.each(form_data, function(key,value){		
												var stringObj = {};																				
												if($.trim(value) != "" && value.toLowerCase() != "any")
												{												
													var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
													switch(key)
													{
													  case 'advkeywords':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];																			
																			  var filter_keyword_1_arr = [];																			
																			  var filter_keyword_2_arr = [];																			
																			  var filter_keyword_3_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'company_name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'keywords', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_1_arr[key_count] = { field: 'main_products', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_2_arr[key_count] = { field: 'main_products_part1', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_3_arr[key_count] = { field: 'other_products', operator: operator, value: $.trim(filter_value_arr_value) };
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr },
																										  { logic: form_data.advword, filters: filter_keyword_1_arr },
																										  { logic: form_data.advword, filters: filter_keyword_2_arr },
																										  { logic: form_data.advword, filters: filter_keyword_3_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'company_name', 	operator: operator, value: $.trim(value) },
																										  {field: 'keywords', 	operator: operator, value: $.trim(value) },
																										  {field: 'main_products',operator: operator, value: $.trim(value) },
																										  {field: 'main_products_part1',operator: operator, value: $.trim(value) },
																										  {field: 'other_products',operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'company_name', 		operator: operator, value: $.trim(value) },
																								{field: 'keywords', 	operator: operator, value: $.trim(value) },
																								{field: 'main_products', 	operator: operator, value: $.trim(value) },
																								{field: 'main_products_part1', 	operator: operator, value: $.trim(value) },
																								{field: 'other_products', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break;	
														 case 'description':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'company_information', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'meta_desc', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'company_information', 	operator: operator, value: $.trim(value) },
																										  {field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'company_information', 		operator: operator, value: $.trim(value) },
																								{field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break; 	
														case 'advcategory_input':
															break;
														case 'advcategory':													
																var combobox = $("#advcategory").data("kendoComboBox");	
																if(combobox)
																{
																	var category_id_val = combobox.value();																
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'category_id', operator: operator, value: category_id_val },
																								{ field: 'category_name', operator: 'contains', value: category_id_val }
																							]
																		 };
																}
																else 
																{
																	stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
																}
															break;
														case 'advcountry_input':
															break;	
															
														case 'advcountry':
																var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
																if(advcountry_combobox)
																{
																	var advcountry_id_val = advcountry_combobox.value();
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																								{  field: 'country', operator: 'contains', value: advcountry_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'country', operator: 'contains', value: $("#advcountry").val() };																
																}															
															break;
														case 'advtype_input':
														case 'advtype':
															var advtype_combobox = $("#advtype").data("kendoComboBox");	
															if(advtype_combobox)
															{
																var advtype_id_val = advtype_combobox.value();
																stringObj = {field: 'advtype_input', operator: operator, value: advtype_id_val };
															}
															else
															{
																stringObj = {field: 'advtype_input', operator: operator, value: $("#advtype").val() };
															}
														break;
														case 'advpremium':
																stringObj = {field: 'priority', operator: operator, value: "YES" };
															break;
														case 'priceopt':
															break;	
														case 'price':
																operator = $('#priceopt').val();
																stringObj = {field: 'price', operator: operator, value: $.trim(value) };
															break;	
														default:
															stringObj = {field: key, operator: operator, value: $.trim(value) };	
														 break;								
													}
													filters[i] = stringObj;												
													i++;
												}
											});
											//alert(filters.toSource());
											return filters;
										}
							},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();
                                    text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});	
		
		$("#advtype").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "business_type",
			dataValueField: "id",
			filter: "contains",
			autoBind: false,
			minLength: 1,		
			dataSource: {
				type: "json",
				schema: {
					  data:	'type_arr'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'businesstype'),'adminrout', true); ?>",
					}
				}
			}
		});
	}
</script>
    
    <script type="text/x-kendo-template" id="view_template">	
		# 
	 		var featured_class = (priority == 'YES') ? 'featured' : '';
		 # 
		<div class="list-view #= featured_class #">
			
				#
				if(featured_class != ''){
				#
				<div class="ribbon-container">
					<span id="ribbon"><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></span>
				</div>
				#
				}
				#
			
			<div class="img-wrapper">
				<a href="Company-Homepage/#= seo_title #" link="#= profile_image_primary_format #" title="#= company_name #"><img src="#= profile_image_primary_format #" border="0" class="thumb"  height="100" width="100"/></a>
				<div class="photo-count-container">
					<div class="photo-count">
						<a href="Company-Homepage/#= seo_title #" title="#= company_name #">#= profile_image_num_format  #</a> 
					</div>
				</div>
				
				#if(package_name){ # <img src="#= file_path_b2b_images #/#= package_logo #" border="0" width="40" class="pkg"/> # } #
				# if(package_name){ #<div class="membership"><a href="Company-Homepage/#= seo_title #" >#= package_name #</a><br /> <div class="separator"></div></div># } #
				#if(package_name && priority_flag){ # <br /><br /><div class="trusted">#= priority_flag #<br /><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="50"/></div> # } #
			</div>
			<div class="details">
				<h3><a href="Company-Homepage/#= seo_title #">#= company_name #</a></h3>
	
				#
					if(company_information){ 
				#
	
					<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <span class="jTruncate"> #=  commonStripslashes (company_information) # </span><br /> 
	
				# 
					} 
					if(company_name){
				#
					<span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= company_name # <br />
				
				
				# 
					} 
					if(business_type){
				#
							
					  <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8")  ?>  </span>  : #= business_type # <br />
				# 
					} 
					if(trade_type){
						var trade  = '';
						
						switch (trade_type){
							case '1': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_buyers'), ENT_QUOTES, "UTF-8")  ?>"
								 break;
							case '2': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_sellers'), ENT_QUOTES, "UTF-8")  ?>"
								 break;
							case '3': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_both'), ENT_QUOTES, "UTF-8")  ?>"
								 break;
								
						}
				#
	
                    <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_trade_type'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= trade # <br />
				
				
				# 
					} 
					if(establishing_year){
				#		
                    <span><?php  echo html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= establishing_year #	
				# 
					}
					if(keywords)
					{
				#
					<br /><span><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keywords #
				#
					}
				#	
					<br /><br />
				# 					
					if (compliance_name){
						compliance = compliance_name.split(",")
						compliance_image = compliance_img.split(",")
						$.each(compliance, function(key, value){
							
							if ((compliance_image[key]).trim() != 0) {
				#	
								<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']?>/images/b2b_img/#= (compliance_image[key]).trim() # " width='36' height='36' border='0' title='#= value #' > &nbsp;  
												 
				# 
							}
						});
					} 
					//if(establishing_year){
				#	
		</div>
		
		<div class="info spacer">
			<span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, "UTF-8") ?> :</span><hr />

			  <div class="header-right"> 				
				<div class="products-vote">
				  <p>#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</p>
				  &nbsp; <span>#= profile_vote_format #</span> <br />
			  	</div>
			</div>
				
				# 
				if(category_isShowProfile == 1 || category_id == 0){
					if(country_code){
				#
					<span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8") ?> </span> :   
					<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp; (#= state #  #= city# ) <br /><br />

				# 
					} 
					
					if(profile_image != 'undefined' && profile_image.length > 0){
				#
						<hr><br /><span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_company_certification'), ENT_QUOTES, "UTF-8") ?> </span> <br /> <hr />
				#		
						certificates_arr = profile_image.split(",")
						$.each(certificates_arr, function(key, value){
							if ((value.trim()) != profile_image_primary.trim()) {
							
				#
								<img src="#= images_path#/#= value.trim()#"  width='40' height='40' border='0' class="thumb" />
				# 
							}
						});
					} 
				}
					//if(registered_in){
				#

				<hr />
				
				#
				  if(establishing_year)
				  {
					  var today = new Date();
					  var yyyy = today.getFullYear();					
					  var year_of_est  = establishing_year;
					  var company_age = parseInt(yyyy) - year_of_est;
					  var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
				  }
				  else
				  {
					  var number_of_years =  null;	
				  }
			  #			
			  			  
			#if(number_of_years){#<?php  echo  html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, "UTF-8") ?> #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8"); ?># } #
				
		</div>	
		
		<hr /> 
		<span class="review-count"><a href="Company-Homepage/#= seo_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_homepage'), ENT_QUOTES, "UTF-8") ?></a> </span>
		&nbsp;  
		<a href="Company-AboutUs/#= seo_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_profile'), ENT_QUOTES, "UTF-8") ?></a> | 
		<a href="Company-Selloffers/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_sell_offers'), ENT_QUOTES, "UTF-8") ?></a> | 
		<a href="Company-Products/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_products'), ENT_QUOTES, "UTF-8") ?></a> | 
		<a href="Company-Store/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_store_page'), ENT_QUOTES, "UTF-8") ?></a>  
	</div>			
</script>
	    
<div class="mod">

    <div class="cat-container">
        <div class="list-icon">
            <h1><?php echo $this->translator->translator('permisson_b2b_front_supplierslist') ; ?></h1>
        </div>
        <div class="clear"></div>
        <br />       
        <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a></div>
        
        
        <div id="slickbox" class="toggle-container">
         	<form name="searchForm" id="searchForm">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('front_company_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="company_name" id="company_name" operator="contains" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_user_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
	                        <input type="text" name="full_name" id="full_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                       	</div>

                 	</div>
                    <!-- Row 1 End -->
                    
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
	                        <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input type="text" name="description" id="description" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('package_list_page_name'); ?>:</span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="package_id" id="package_id" class="ui-widget-content ui-corner-all" operator="eq">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
                                if($this->packagesArray)
                                {
                                    foreach($this->packagesArray as $packages_info)
                                    {
                                ?>
                                <option value="<?php echo $packages_info['id']; ?>"><?php echo $this->escape($packages_info['name']); ?></option>
                                <?php
                                    }
                                }
                                ?>
                            </select> 
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_fontend_buying_trade_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="trade_type" id="trade_type" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="2" <?php if($this->trade_type == '2'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_sellers'); ?></option>
                                <option value="3" <?php if($this->trade_type == '3'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_both'); ?></option>
						 	</select>
                        </div>
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_company_package_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
	                        <input type="text" name="package_name" id="package_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_search_company_email'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	
	                        <input type="text" name="username" id="username" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                           
                       	</div>
                 	</div>
                    <!-- Row 4 End -->
                    
                    <!-- Row 5 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_category_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input name="advcategory" id="advcategory" operator="eq" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input name="advcountry" id="advcountry" operator="eq" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 5 End -->
                    
                    <!-- Row 6 Start -->
                        <div class="toggle-row">
             
                            <div class="toggle-label">
                                <span class="label"><?php echo $this->translator->translator('b2b_list_company_business_type'); ?></span>
                            </div>
                            
                            <div class="toggle-field">
                                <input name="advtype" id="advtype" operator="eq" />                          
                            </div>
                            
                            
                            <div class="toggle-label">
                                
                            </div>
                            
                            <div class="toggle-field">
                                                       
                            </div>
                            
                        </div>
                        <!-- Row 6 End -->
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                </div>
        	</form>
     	</div>
	</div>
    
    <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
        <div id="grid"></div>  
    </div>
</div><div id="dialog_msg"></div>