<?php
$front_template = Zend_Registry::get('front_template');

?>

<div class="mod tradeshows tradeshows-details">
	<div class="cat-container">
        <div class="list-icon">
            <h1><?php echo $this->translator->translator('front_tradeshow_details');?></h1>
        </div>
    </div>
    <div class="clear"></div>
    <?php
	$tradeShow = $this->tradeshow;
	if ( is_array($tradeShow) && !empty($tradeShow)){
		
	?>
    <h2><?php echo $tradeShow['title']?></h2>
    <hr />
    
	<div class="img-wrapper">
   		<img src="<?php echo $tradeShow['images_path'].'/'.$tradeShow['b2b_images']?>" width="65" border="0" class="thumb" />
    </div>
    
    <?php echo $this->escape($tradeShow['description']); ?>
    
    <div class="clear">&nbsp;</div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
      <?php if($tradeShow['name']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_name'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['name']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['start_date']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_start_date'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['start_date']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['timepicker']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_time'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['timepicker']); ?></td>
      </tr>
      <?php endif; ?>
      
      
      <?php if($tradeShow['end_date']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_end_date'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['end_date']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['venue']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_venue'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['venue']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['address']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_address'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['address']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['country']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('b2b_front_company_profile_country'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['country_name']); ?> ( <img src="data/adminImages/flagsImage/<?php echo $tradeShow['country_code']?>.gif" border="0" /> ) &nbsp; </td>
      </tr>
      <?php endif; ?>
      
      
      <?php if($tradeShow['size']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_size'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['size']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['exhibitors']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_exhibitors'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['exhibitors']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['attendees']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_attendees'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['attendees']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['floor']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_floor'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['floor']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['phone']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_phone'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['phone'] .'-'. $tradeShow['phone_part2'] . '-' .$tradeShow['phone_part3']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['fax']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_fax'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['fax'] .'-'. $tradeShow['fax_part2'] . '-' .$tradeShow['fax_part3']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['website']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('b2b_front_tradeshow_website'); ?></th>
        <td width="69%"><a href="<?php echo $this->escape($tradeShow['website']); ?>"><?php echo $this->escape($tradeShow['website']); ?> </a></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['focus']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_focus'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['focus']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['product_service']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_product_service'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['product_service']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['attendee_info']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_attendee_info'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['attendee_info']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['exhibitor_info']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_exhibitor_info'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['exhibitor_info']); ?></td>
      </tr>
      <?php endif; ?>
      
      <?php if($tradeShow['description']) : ?>
      <tr>
        <th width="31%"><?php echo $this->translator->translator('front_tradeshow_description'); ?></th>
        <td width="69%"><?php echo $this->escape($tradeShow['description']); ?></td>
      </tr>
      <?php endif; ?>
    </table>
   
   	<div class="clear">&nbsp;</div>
    <hr />
    <div class="cat-container">
        <div class="list-icon">
            <h1><?php echo $this->translator->translator('front_tradeshow_organizer_contact_info');?></h1>
        </div>
        
        <div class="clear">&nbsp;</div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
          
          
		  <?php if($tradeShow['logo']) : ?>
          <tr>
            <th width="31%"><?php echo $this->translator->translator('front_tradeshow_logo'); ?></th>
            <td width="69%"><img src="<?php echo $this->escape($tradeShow['logo']); ?>"> </td>
          </tr>
          <?php endif; ?>
      
		  <?php if($tradeShow['organizer']) : ?>
          <tr>
            <th width="31%"><?php echo $this->translator->translator('front_tradeshow_organizer'); ?></th>
            <td width="69%"><?php echo $this->escape($tradeShow['organizer']); ?></td>
          </tr>
          <?php endif; ?>
                    
		  <?php if($tradeShow['theme']) : ?>
          <tr>
            <th width="31%"><?php echo $this->translator->translator('front_tradeshow_theme'); ?></th>
            <td width="69%"><?php echo $this->escape($tradeShow['theme']); ?></td>
          </tr>
          <?php endif; ?>

      
		  <?php if($tradeShow['homepage']) : ?>
          <tr>
            <th width="31%"><?php echo $this->translator->translator('front_tradeshow_description'); ?></th>
            <td width="69%"><a href="<?php echo $this->escape($tradeShow['homepage']); ?>"><?php echo $this->escape($tradeShow['homepage']); ?></a></td>
          </tr>
          <?php endif; ?>
                    
        </table>
    </div>
    <?php 
 	}
	
	else {
		
		echo $this->translator->translator('b2b_front_404_not_found');
	}
	?>
</div>