<?php $version = Zend_Registry::get('version'); $tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); ?>

<script type="text/javascript">
$(document).ready(function() {

	floatingbar('#floatingbar',"#button_top_bar",null);
	var settingObj = {
						form_action : {
										form_id: 'formGroup',
										hasTinyMCE: false,
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',
										extra_field_for_reset: [],
										extra_function_for_reset: function(){},										
								},					
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};	
	
	$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
		
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);		
		 commonRemoveFormError(settingObj);	
	});
	
	$('a.edit_news_group_btn').click(function() {			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
		formData.id		= '<?php echo $this->id; ?>';		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'News','controller' => 'Backendgrp', 'action'     => 'editgrp' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				data: formData,
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					commonCloseLoaderDialog(settingObj);					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));														
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}						
						openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});	
});
</script>
<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<div class="title-container">
	<div class="group-edit"><h1><?php echo $this->translator->translator('news_group_edit_page_name', $this->newsGroupForm->news_name->getValue()); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendgrp', 'action'     => 'listgrp' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_news_group_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>        
    </div>
</div>

<div class="content-container">
	<div id="actionMessage"></div>
    <form name="formGroup" id="formGroup" method="post">
    	<div id="button_top_bar"></div>
        <div id="generalInfo">
        	<div id="tabs">
            	<ul>
                    <li><a href="<?php echo $tab_base_link; ?>#tabs-1"><?php echo $this->translator->translator('news_group_page_tab1'); ?></a></li>
                    <li><a href="<?php echo $tab_base_link; ?>#tabs-2"><?php echo $this->translator->translator('news_group_page_tab2'); ?></a></li>
                    <li><a href="<?php echo $tab_base_link; ?>#tabs-3"><?php echo $this->translator->translator('news_group_page_tab3'); ?></a></li>
                    <li><a href="<?php echo $tab_base_link; ?>#tabs-4"><?php echo $this->translator->translator('news_group_page_tab4'); ?></a></li>
               	</ul>
                
             	<div id="tabs-1">
                    <fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_general_info'); ?></legend>
                        <div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_name->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->news_name; ?>
                                    <div class="input-errors" id="news_name_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->role_id->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->role_id; ?>
                                    <div class="input-errors" id="role_id_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_type->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->news_type; ?>
                                    <div class="input-errors" id="news_type_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->calendar_on_off->getLabel(); if($this->newsGroupForm->calendar_on_off->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->calendar_on_off; ?>
                                    <div class="input-errors" id="calendar_on_off_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->category_on_off->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->category_on_off; ?>
                                    <div class="input-errors" id="category_on_off_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->dynamic_form->getLabel(); if($this->newsGroupForm->dynamic_form->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->dynamic_form; ?>
                                    <div class="input-errors" id="dynamic_form_err"></div>
                                </div>
                            </div>
                            
                        </div>
                    </fieldset>
                                
                    <fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_meta'); ?></legend>
                        <div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->meta_title->getLabel(); if($this->newsGroupForm->meta_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->meta_title; ?>
                                    <div class="input-errors" id="meta_title_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->meta_keywords->getLabel(); if($this->newsGroupForm->meta_keywords->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->meta_keywords; ?>
                                    <div class="input-errors" id="meta_keywords_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->meta_desc->getLabel(); if($this->newsGroupForm->meta_desc->isRequired()){ ?><span class="required">*</span><?php } ?>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->meta_desc; ?>
                                    <div class="input-errors" id="news_desc_truncate_err"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
				</div>
                
                <div id="tabs-2">
                	<fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_cat_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->cat_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->cat_num_per_page; ?>
                                    <div class="input-errors" id="cat_num_per_page_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->cat_col_num->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->cat_col_num; ?>
                                    <div class="input-errors" id="cat_col_num_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->cat_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->cat_sort; ?>
                                    <div class="input-errors" id="cat_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->cat_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                    <?php echo $this->newsGroupForm->cat_order; ?>
                                    <div class="input-errors" id="cat_order_err"></div>
                                </div>
                            </div>
                     	</div>
					</fieldset>
                    
                    <fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_latest_cat_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_cat_on->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_cat_on; ?>
                                    <div class="input-errors" id="latest_cat_on_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_cat_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_cat_num_per_page; ?>
                                    <div class="input-errors" id="latest_cat_num_per_page_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_cat_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_cat_sort; ?>
                                    <div class="input-errors" id="latest_cat_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_cat_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_cat_order; ?>
                                    <div class="input-errors" id="latest_cat_order_err"></div>
                                </div>
                            </div>
                      	</div>
               		</fieldset>
                    
                    <fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_featured_cat_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->fearured_cat_on->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->fearured_cat_on; ?>
                                    <div class="input-errors" id="fearured_cat_on_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->fearured_cat_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->fearured_cat_num_per_page; ?>
                                    <div class="input-errors" id="fearured_cat_num_per_page_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->fearured_cat_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->fearured_cat_sort; ?>
                                    <div class="input-errors" id="fearured_cat_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->fearured_cat_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->fearured_cat_order; ?>
                                    <div class="input-errors" id="fearured_cat_order_err"></div>
                                </div>
                            </div>
						</div>
					</fieldset>
                </div>
                
                <div id="tabs-3">
                	<fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_page_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_num_per_page; ?>
                                    <div class="input-errors" id="news_num_per_page_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_col_num->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_col_num; ?>
                                    <div class="input-errors" id="news_col_num_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_sort; ?>
                                    <div class="input-errors" id="news_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_order; ?>
                                    <div class="input-errors" id="news_order_err"></div>
                                </div>
                            </div>
						</div>
                 	</fieldset>
                    
                    <fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_latest_page_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_news_on->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_news_on; ?>
                                    <div class="input-errors" id="latest_news_on_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_news_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_news_num_per_page; ?>
                                    <div class="input-errors" id="latest_news_num_per_page_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_news_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_news_sort; ?>
                                    <div class="input-errors" id="latest_news_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->latest_news_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->latest_news_order; ?>
                                    <div class="input-errors" id="latest_news_order_err"></div>
                                </div>
                            </div>
                      	</div>
                 	</fieldset>
                    
                    <fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_featured_page_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->featured_news_on->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->featured_news_on; ?>
                                    <div class="input-errors" id="featured_news_on_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->featured_news_num_per_page->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->featured_news_num_per_page; ?>
                                    <div class="input-errors" id="featured_news_num_per_page_err"></div>
                                </div>
                            </div>
                            
                             <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->featured_news_sort->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->featured_news_sort; ?>
                                    <div class="input-errors" id="featured_news_sort_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->featured_news_order->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->featured_news_order; ?>
                                    <div class="input-errors" id="featured_news_order_err"></div>
                                </div>
                            </div>
                      	</div>
                 	</fieldset>
                </div>
                
                <div id="tabs-4">
                	<fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_file_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->img_type->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->img_type; ?>
                                    <div class="input-errors" id="img_type_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->file_size_max->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->file_size_max; ?>&nbsp;<?php echo $this->translator->translator('zero_file_size'); ?>
                                    <div class="input-errors" id="file_size_max_err"></div>
                                </div>
                            </div>
                    	</div>
					</fieldset>
                    
                    <fieldset class="fieldset">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_thumb_file_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_cat_thumb_width->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_cat_thumb_width; ?>
                                    <div class="input-errors" id="news_cat_thumb_width_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_cat_thumb_height->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_cat_thumb_height; ?>
                                    <div class="input-errors" id="news_cat_thumb_height_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_cat_thumb_resize_func->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_cat_thumb_resize_func; ?>
                                    <div class="input-errors" id="news_cat_thumb_resize_func_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_thumb_width->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_thumb_width; ?>
                                    <div class="input-errors" id="news_thumb_width_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_thumb_height->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_thumb_height; ?>
                                    <div class="input-errors" id="news_thumb_height_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_thumb_resize_func->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_thumb_resize_func; ?>
                                    <div class="input-errors" id="news_thumb_resize_func_err"></div>
                                </div>
                            </div>
                      	</div>
					</fieldset>
                    
                    <fieldset class="fieldset last">
                        <legend class="legend"><?php echo $this->translator->translator('news_group_page_only_file_info'); ?></legend>
                       	<div class="form">
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->num_breaking_news->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->num_breaking_news; ?>
                                    <div class="input-errors" id="num_breaking_news_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->num_category_box_string->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->num_category_box_string; ?>
                                    <div class="input-errors" id="num_category_box_string_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->num_news_each_block->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->num_news_each_block; ?>
                                    <div class="input-errors" id="num_news_each_block_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->category_panel->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->category_panel; ?>
                                    <div class="input-errors" id="category_panel_err"></div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="label">
                                    <?php echo $this->newsGroupForm->news_desc_truncate->getLabel(); ?><span class="required">*</span>
                                </div>
                                
                                <div class="field">
                                   	<?php echo $this->newsGroupForm->news_desc_truncate; ?>
                                    <div class="input-errors" id="news_desc_truncate_err"></div>
                                </div>
                            </div>
						</div>
					</fieldset>
                </div>
			</div>
		</div>
	</form>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendgrp', 'action'     => 'listgrp' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_news_group_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>        
    </div>
    
</div>

<div  id="floatingbar">
	<h1><?php echo $this->translator->translator('news_group_edit_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'News','controller' => 'Backendgrp', 'action'     => 'listgrp' ), 'adminrout',    true) ?>"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_news_group_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>        
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('news_group_edit_page_name')); ?>"></div> 
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>