<?php if (!$this->allow()) : ?>
		<h1><?php echo $this->translator->translator('Member_Access_deny_desc'); ?></h1>
<?php else :
$param_group_id = ($this->vacationrentalsInfo) ? $this->vacationrentalsInfo['group_id'] : null;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
//$locale_arr = explode('_', $locale);
//echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/kendo/js/cultures/kendo.culture.'.$locale_arr[0].'.min.js', '');
//echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/kendo/js/cultures/kendo.culture.'.implode('-', $locale_arr).'.min.js', '');
$allConfig = Zend_Registry::get('allConfig');
?>
<script>
$(function() {
	
	var settingObj = {
						scheduler :{
								scheduler_id : 'scheduler',
								scheduler_settings : {
									date: new Date("<?php echo date("Y/m/d"); ?>"),
									startTime: new Date("<?php echo date("Y/m/d H:i A"); ?>"),		
									height: 'auto',
									views: [
										
										{ type: "month", selected: true },
										"day",
										{ type: "workWeek" },
										"week",
										"agenda"
									   
									],
									//timezone: "<?php echo $allConfig->datetime->eicra->timezone; ?>",
									editable: {
										template: kendo.template($("#schedulerTemplate").html())
									},
									dataSource: {
										type: "json",			
										batch: true,
										transport: {
											read: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Vacationrentals','controller' => 'members', 'action'     => 'scheduler', 'id' => $this->id), 'Members-Vacationrental-Scheduler/*',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);		
																					
													if(json.status == 'ok')
													{
													   if(settingObj.dataSource_transport_read_complete)
													   {
														   settingObj.dataSource_transport_read_complete(json);
													   }
													}
													else
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},
											update: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Vacationrentals','controller' => 'backendpro', 'action'     => 'schedulerupdate'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},
											create: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Vacationrentals','controller' => 'backendpro', 'action'  => 'schedulerupdate'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},
											destroy: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Vacationrentals','controller' => 'backendpro', 'action'  => 'schedulerdelete'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},                
											parameterMap: function(options, operation) {
												if (operation !== "read" && options.models) {
													return {models: kendo.stringify(options.models)};
												}
											}
										},
										schema: {
											data:	function(response){ 					  
												  return response.data_result; 
											  },
											model: {
												id: "id",
												fields: {
													id: { from: "id", type: "number" },
													vacationrentals_id: { from: "vacationrentals_id", type: "number", defaultValue: "<?php echo $this->id; ?>" },
													title: { from: "vacationrentals_name", defaultValue: "<?php echo $this->escape($this->vacationrentalsInfo['vacationrentals_name']); ?>", validation: { required: true } },
													start: { type: "date", from: "start" },
													end: { type: "date", from: "end"},													
													available_status: { from: "available_status", defaultValue: 1 }                        
												}
											}
										},
										error: function (e) {						
													commonMsgDialog(settingObj, e.xhr.responseText);
												  },
										/*filter: {
											logic: "or",
											filters: [
												{ field: "available_status", operator: "eq", value: 1 }
											]
										},*/			
									},
									resources: [
											{
												field: "available_status",
												title: "<?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_status_label"), ENT_QUOTES, 'UTF-8'); ?>",
												dataSource: [
													{ text: "<?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_status_available"), ENT_QUOTES, 'UTF-8'); ?>", value: 1, color: "#66CC00", selected: true },
													{ text: "<?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_status_booked"), ENT_QUOTES, 'UTF-8'); ?>", value: 2, color: "#FF9900" },
													{ text: "<?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_status_not_available"), ENT_QUOTES, 'UTF-8'); ?>", value: 3, color: "#FF0000" }
												]
											}
										],
									messages : {
										allDay				: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_all_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										cancel				:	"<?php echo html_entity_decode($this->translator->translator('common_cancel'), ENT_QUOTES, 'UTF-8'); ?>",
										date				:	"<?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?>",	
										deleteWindowTitle	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_delete_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										destroy				:	"<?php echo html_entity_decode($this->translator->translator('common_delete'), ENT_QUOTES, 'UTF-8'); ?>",
										event				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_event', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										save				:	"<?php echo html_entity_decode($this->translator->translator('common_save'), ENT_QUOTES, 'UTF-8'); ?>",
										showFullDay			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_show_full_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										showWorkDay			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_show_work_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										time				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_time', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										today				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_today', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										editor				:	{
																	allDayEvent 			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_all_day_event', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	description 			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_description', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editorTitle				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_editor_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	end						:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_end', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	endTimezone				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_end_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	repeat					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_repeat', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	separateTimezones		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_separate_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	start					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_start', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezone				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezoneEditorButton	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone_button', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezoneEditorTitle		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	title					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																},
										recurrenceEditor	:	{
																	daily					:	{
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_daily_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_daily_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	monthly					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	yearly					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_of', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	weekly					:	{
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	weekdays					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekday 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_weekday', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekend					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_weekend', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	end						:	{
																									after					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_after', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									occurrence				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									label					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_label', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									never					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_never', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									on						:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	frequencies				:	{
																									daily					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_daily', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									monthly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_monthly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									never					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_never', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_weekly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									yearly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_yearly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	offsetPositions			:	{
																									first					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_first', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									second					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_second', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									third					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_third', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									fourth					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_fourth', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									last					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_last', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								}
																},
										recurrenceMessages	: 	{
																	deleteRecurring			: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_recurring', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowOccurrence	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowSeries		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_series', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowTitle		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editRecurring			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_recurring', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowOccurrence	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowSeries		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_series', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowTitle			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																},
										views				: 	{
																	day						: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	week					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_week', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	workWeek				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_work_week', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	month					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_month', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	agenda					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_agenda', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																}
									}
								}
							},						
						messages: {										
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("vacationrentals_list_delete_confirm"); ?>",
										common_save_btn_text		:	"<?php echo html_entity_decode($this->translator->translator("vacationrentals_date_add_page_save"), ENT_QUOTES, 'UTF-8'); ?>",
										common_field_must_not_empty	:	"<?php echo html_entity_decode($this->translator->translator("common_field_must_not_empty"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("vacationrentals_selected_err"); ?>"
									}
					};
					
	commonKendoScheduler(settingObj);
   
    $("#people :checkbox").change(function(e) {
        var checked = $.map($("#people :checked"), function(checkbox) {
            return parseInt($(checkbox).val());
        });

        var filter = {
            logic: "or",
            filters: $.map(checked, function(value) {
                return {
                    operator: "eq",
                    field: "ownerId",
                    value: value
                };
            })
        };

        var scheduler = $("#scheduler").data("kendoScheduler");

        scheduler.dataSource.filter(filter);
    });
});
</script>
<!-- CUSTOM EDITOR TEMPLATE START -->
  <script type="text/x-kendo-template" id="schedulerTemplate">
  <div class="k-edit-form-container">
  	<div class="k-edit-label">
    	<label for="title"><?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_title_label"), ENT_QUOTES, 'UTF-8'); ?></label>
     </div>
	 <div data-container-for="title" class="k-edit-field" >
     		<input data-bind="value:title" required="required" readonly="readonly" name="title" class="k-input" style="width:60%" type="text"  />
     </div>
	 <div class="k-edit-label">
      	<label for="start"><?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_start_label"), ENT_QUOTES, 'UTF-8'); ?></label>
      </div>
	<div data-container-for="start" class="k-edit-field">
    	<input name="start" type="text" required  data-type="date" data-role="datetimepicker" data-bind="value: start" />
	</div>
    <div class="k-edit-label"><label for="end"><?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_end_label"), ENT_QUOTES, 'UTF-8'); ?></label></div>
    <div data-container-for="end" class="k-edit-field">
    	<input name="end" type="text" required data-type="date" data-role="datetimepicker" data-bind="value: end" data-datecompare-msg="<?php echo html_entity_decode($this->translator->translator("portfolio_pagination_messages_scheduler_data_datecompare_msg", '', "Portfolio"), ENT_QUOTES, 'UTF-8'); ?>" />   
    </div>
	<div class="k-edit-label">
      	<label for="start"><?php echo html_entity_decode($this->translator->translator("vacationrentals_scheduler_status_label"), ENT_QUOTES, 'UTF-8'); ?></label>
      </div>
	<div id="resourcesContainer" class="k-edit-field"></div> 
	<script>
       jQuery(function() {
            var container = $("\#resourcesContainer");
            var resources = $("\#scheduler").data("kendoScheduler").resources;            
            for( resource = 0; resource<resources.length; resource++) 
            { 
                if(resources[resource].multiple)
                {
                   $(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
                     .appendTo(container)
                     .kendoMultiSelect({
                         dataTextField: resources[resource].dataTextField,
                         dataValueField: resources[resource].dataValueField,
                         dataSource: resources[resource].dataSource,
                         valuePrimitive: resources[resource].valuePrimitive,
                         itemTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField),
                         tagTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)
                     });
            
                } else {
                   $(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
                    .appendTo(container)
                    .kendoDropDownList({
                        dataTextField: resources[resource].dataTextField,
                        dataValueField: resources[resource].dataValueField,
                        dataSource: resources[resource].dataSource,
                        valuePrimitive: resources[resource].valuePrimitive,
                        //optionLabel: "None",
                        template: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)
                     }); 
                }
            }     
        })        
    <\/script> 
	   
  </div>  
   
 </script>
<!-- CUSTOM EDITOR TEMPLATE END -->



<!-- Content Start-->
<article class="member-dashboard">	
  	<h1><?php echo $headTitle; ?></h1>
    <br />
    <div class="member-block block-control-panel">
        <div class="block-heading">
            <div class="symbol"><?php echo $this->translator->translator('vacationrentals_page_scheduler_page_name'); ?></div>
        </div>        
        <div class="block-body">       		 
            <div class="warning ssl-link"><?php echo $this->translator->translator('vacationrentals_page_scheduler_add_edit_info'); ?></div>
      		<br />
             <div id="example" class="k-content">    
                <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>        
                    <div id="scheduler"></div>
                </div>
            </div>
             
             
                          
        </div>
    </div>    
</article>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<div id="add-date-confirm" title="<?php echo $this->translator->translator('vacationrentals_add_available_date'); ?>"></div>
<!-- Content End -->
<?php endif; ?>