/* ___________________________________________________________________________________
   
   CSS Framework for Eicra CMS Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

html{
	direction:rtl; 
}

body{
	direction:rtl;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	margin:0 0 0 10px;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0 0 5px 8px;
}

select option{
	padding:0 4px 0 0;
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */


/* Header --------------------------------------------------------------------------- */

#header .right {
	text-align:left;
}

/* ---------------------------------------------------------------------------------- */

/* Top Nav -------------------------------------------------------------------------- */

.jetmenu li{float:right !important;}

.jetmenu > li.right{float:left !important;}

.jetmenu .megamenu .col2{float:right !important;}

.jetmenu .indicator{ left:0; right:5px}

.jetmenu ul li .indicator{right:10px; left:0;}

.jetmenu li > .megamenu ul{float:right !important;}

.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6{ float:right !important};

/* ---------------------------------------------------------------------------------- */

/* Top Bar -------------------------------------------------------------------------- */

.top-links {
	text-align:left;
}

.top-links ul li {
	margin-right: 0;
	padding: 0 2px 0 5px;
	border-right: 0;
	border-left: 1px solid #B4B4B4;
}

.top-links ul li.first {
	margin-right: 0;
	border-right: none;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner img{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 25px auto;
}

.block .block-heading .symbol{
	background-position: 98% center;
	padding:10px 35px 10px 0;
}

.block .thumb{
	margin: 2px 0 2px 4px;
	float:right;
}

.block .more{
	text-align:left;
}

.block .list{
	margin:5px 10px 5px 0;
	float:right;
}

.block .list ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position:98% 7px;
	background-repeat:no-repeat;
	padding:0 20px 0 0;
}

.left-float {
	float:right;
	margin: 0 0 5px 10px;
}

.right-float {
	float:left;
	margin: 0 10px 5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .links ul li {
	padding: 0 5px 0 1px; 
	border-left: 0;
	border-right: 1px solid #A8AAAC;
}
			
#footer .links ul li.first{ 
	border-right:0;
	padding-right:0;
}

.go-top a{
	right:0;
	left:30px;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#content-inner{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags{
	float:left;
}

.flags .dropdown dl{ 
	float:left;
}

.dropdown dt a{
	background-repeat:no-repeat;
	background-position: left center;
	padding-right:0;
	padding-left:20px;
}

.dropdown dt a span{
	line-height:15px;
}

.dropdown dd ul{ 
	right:0px;
}

.dropdown span.flag{
	margin-left:0;
	margin-right:10px;
	float:left;
}

.dropdown dd ul li{
	border-left:0;
}
.dropdown dd ul li a{
	display: inline-block;
	width:100%;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual ul li{ 
	float:right;
}

.usual ul li a{
	margin:0px -1px 0 4px;
}

.usual-content{
  clear:right;
  border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
}			

/* ---------------------------------------------------------------------------------- */

/* Breadcrumb ----------------------------------------------------------------------- */

.block-breadcrumb{
	margin: 0 10px 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Mini Search Block----------------------------------------------------------------- */

.block-mini-search{
	float:left;
}

.block-mini-search input[type="text"]{
	background-position:99% center;
	margin:0 0 0 -2px;
	padding: 8px 25px 8px 8px;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Products ---------------------------------------------------------------- */

.block-featured-gallery figure{
	float:right;
	margin:0 0 16px 12px;
}

/* ---------------------------------------------------------------------------------- */

/* Clients Review ------------------------------------------------------------------- */

.block-review .desc :after {
    right: 20px;
}

.block-review .cbp-qtrotator .cbp-qtcontent img{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Quick Contact -------------------------------------------------------------------- */

.block-contact p{
	float:right;
	clear:right;
}

.block-contact input[type="text"], .block-contact textarea{
	float:left;
}

.block-contact a{
	float:left;
	clear:left;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.block-login #signin_frm img{
	float:right;
}

.block-login a.reg{
	background-position:right 0;
	background-repeat:no-repeat;
	padding: 2px 25px 0 0;
	margin: 18px 0 0 2px;
}

.block-login .seccMess{
	padding-left:0;
	padding-right:3px;
}

/* ---------------------------------------------------------------------------------- */

/* Advertisement -------------------------------------------------------------------- */

.block-ad.home-content-ad{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* Social ---------------------------------------------------------------------------- */

.block-social .block-body h2{
	text-align:right;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod .col{
	padding: 0 0 3px 12px;
	float:right;
}

.mod .list{
	margin:5px 10px 5px 0;
	float:right;
}

.mod .list ul li{
	background-image:url(../images/list-arrow-rtl.gif);
	background-position:98% 7px;
	background-repeat:no-repeat;
	padding:0 20px 0 0;
}

.mod .thumb{
	margin: 0 0 0 10px;
	float:right;
}

.mod .more a {
	background: url(../images/arrow-2-rtl.gif);
	background-repeat:no-repeat;
	background-position:right center;
	float:right;
	padding: 0 15px 0 0;
	clear:right;
}
.mod .chart .label{
	float:right;
	clear:left;
}

.mod .chart .value{
	float:left;
}

/* ---------------------------------------------------------------------------------- */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

