/* ___________________________________________________________________________________
   
   CSS Framework for Eicra CMS Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */
   

/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

* {
	margin: 0;
    padding: 0;
}

body{
	background-color:#F3F3F3;
	font-family:Arial, Helvetica, sans-serif;
	color: #272727;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

header, hgroup, nav, article, section, footer, aside, address{ 
	display:block;
}

a{
	color:#0099FF;
	text-decoration:none;
	font-weight:normal;
}

a:hover {
	color:#535353;
	text-decoration:underline;
}

a:visited { 
	/*color:#0099FF;*/
}

a:hover, a:active, a:focus{ 
	outline: 0; 
}

button::-moz-focus-inner,						
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}

input[type="text"],
input[type="password"], select, textarea,
select.ui-widget-content, textarea.ui-widget-content{
	border: 1px solid #C1C1C1;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#3C3C3C;
	padding:5px;
	margin:0 10px 0 0;
	width:auto;
}

input[type="checkbox"],
input[type="radio"]{
	margin:0px 8px 5px 0;
	vertical-align:middle;
}

input,select,textarea,button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

select option{
	padding:0 0 0 4px;
}

h1,h2,h3,h4,h5,h6{
	font-family:Arial, Helvetica, sans-serif;
	color:#0660B8;
	margin: 2px 0;
	letter-spacing: -1px;
}

h1{font-size:35px;}

h2{font-size:30px;}

h3{font-size:25px;}

h4{font-size:20px;}

h5{font-size:15px;}

h6{font-size:10px;}

form{ 
	margin-bottom:0; 
}

fieldset{
	background:#FCFCFC;
	border:1px solid #0074CA;
	margin:0 0 25px 0;
	padding:0 15px 5px 15px;
	position:relative;
}

legend{
	font-size:12px;
	background:#0896FF;
	border:1px solid #0074CA;
    color: #FFFFFF;
	font-weight:bold;
	padding: 7px 20px;
	margin:0 0 10px 0;
	width:auto;
	word-spacing:normal;
}

legend + * {
    -webkit-margin-top-collapse : separate;
	margin-top                  : 10px;
}

legend a{
	color:#FFF;
	font-weight:bold;
}

ul, ol{ 
	list-style:none; 
}

hr{
	padding:0;
	margin:10px 0;
	width: 100%;
	clear: both;
	border: none;
	border-top:1px solid #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	display:inline-block;
	position: relative;
}

hr.dashed{
	padding:5px 0 0 0;
	border-top:0;
	border-bottom:1px solid #CCC;
	border-bottom-style:dashed;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#main-container{
	background-color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
}

#content{
	font-size: 12px;
	color: #555555;
	word-spacing: 1px;
	line-height:22px;
}

#content h1{
	font-size: 20px;
	color: #6C6C6C;
	letter-spacing: normal;
}

#content h2{
	font-size:17px;
	color:#F90;
	line-height:24px;
}

/* Header --------------------------------------------------------------------------- */

#header {
	padding: 20px 0;
	background-color:#FFF;
}

#header .logo img {
	vertical-align: middle;
}

#header .logo h1 {			/* Text logo instead of image logo */
	color: #004FA6;
	font-size: 35px;
	padding: 11px 0 5px 0;
	letter-spacing: -2px;
	text-shadow: 1px 1px 0px #000;
}

#header .right {
	text-align: right;
}

/* ---------------------------------------------------------------------------------- */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar{
	background-color:#21262E;
	height:39px;
}

.welcome {
	color: #B4B4B4;
	font-weight: bold;
}

.user-link{
	margin-top:10px;
}

.user-link a {
	color: #B4B4B4;
	text-decoration: underline;
}

.user-link a:hover {
	color: #EFEFEF;
	text-decoration: underline;
}

.top-links {
	display:inline-block;
	margin-top: 2px;
	text-align:right;
}

.top-links ul {
	margin:0;
	display: inline;
}

.top-links ul li {
	margin-left: 0;
	padding: 0 5px 0 2px;
	border-right: 1px solid #B4B4B4;
	list-style: none;
	display: inline;
}

.top-links ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.top-links ul li a {
	color: #B4B4B4;
}

.top-links ul li a:hover {
	color: #EFEFEF;
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner{
	background:url(../images/bg.jpg) top center no-repeat;
	min-height:300px;
	padding:20px 0;
}

#banner h1{
	font-size:40px;
	font-weight:bold;
	color:#FFF;
	margin-top:40px;
}

#banner .content{
	color:#FFF;
	font-size:17px;
	width:47%;
	display:inline-block;
}

#banner img{
	float:right;
}

#banner a.btn{
	font-size:17px;
	color:#FFF;
	text-transform:uppercase;
	background-color:#2DCB73;
	border-bottom:3px solid #239E5A;
	padding:10px 35px;
	text-decoration:none;
	display:inline-block;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;	
}

#banner a.btn:hover{
	background-color:#2BBB6B;
}

#banner-inner{
	background:url(../images/bg.jpg) center center no-repeat;
	height:180px;
}

#banner-inner h1{
	font-size:30px;
	font-weight:bold;
	color:#FFF;
	margin-top:75px;
	text-transform:uppercase;
}

/* ---------------------------------------------------------------------------------- */

/* Middle Bar ----------------------------------------------------------------------- */

#middle-bar{
	background-color:#0088DD;
	margin-top:1px;
	padding:20px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block{
	margin:0 auto 25px auto;
}

.block h3{
	font-size:17px;
	color:#454545;
	margin-bottom:15px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.block .block-heading{
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	color:#FFF;
	padding:0px 0;
	background: #00387D;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076EC', endColorstr='#00387D');
	background: -webkit-gradient(linear, left top, left bottom, from(#0076EC), to(#00387D));
	background: -moz-linear-gradient(top,  #0076EC,  #00387D);
	border:1px solid #0562BB;

	box-shadow: 0 1px 1px #4AB7FF inset;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.block .block-heading .symbol{
	background:url(../images/title-arrow.png);
	background-position: 4px center;
	background-repeat:no-repeat;
	padding:10px 0 10px 35px;
}

.block .block-body{
	margin:0 0 15px 0;
	padding:5px;
	background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}

.block .block-content{	
	margin:0 auto 5px auto;
	padding:5px;
}

.block .block-title{
	font-weight:bold;
	color:#0066CC;
}

.block .block-title a{
	font-weight:bold;
	cursor:pointer;
}

.block .block-title a:hover{
	font-weight:bold;
	color:#666;
	text-decoration:underline;
}

.block .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 2px 4px 2px 0px;
	float:left;
}

.block .info{
	color: #666666;
	font-style:italic;
}

.block .date{
	color:#F60;
}

.block .link-btn{
	
}

.block .link-btn a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 6px 22px;
	border-radius:27.5px;
	-moz-border-radius:27.5px;
	-webkit-border-radius:27.5px;
	text-decoration:none;
	display:inline;
	margin-bottom:10px;
}

.block .link-btn a:hover{
	background-color:#258DD3;
}

.block .seperator{
	background:url(../images/dot_border.gif) repeat-x;
	width:100%;
	display:block;
	padding:2px 0 0 0;
	margin:0 0 0 0;	
}

.block .more{
	text-align:right;
	margin:15px 0;
}

.block .more a{
	background-color:#3498DB;
	border-bottom:3px solid #207AB7;
	color:#FFF;
	padding: 6px 22px;
	border-radius:27.5px;
	-moz-border-radius:27.5px;
	-webkit-border-radius:27.5px;
	text-decoration:none;
}

.block .more a:hover{
	background-color:#258DD3;
}

.block .list{
	width:23%;
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.block .list ul{
	margin:0;
	padding:0;
}

.block .list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.block .list a{
	color:#0665AA;
	text-decoration:none;
	width:100%;
}

.block .list a:hover{
	color:#FF9900;
	text-decoration: underline;
}

.clear{
	clear:both;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer .top-row{
	background-color:#363F4B;
	min-height:300px;
	padding:20px 0;
}

#footer .bottom-row{
	background-color: #21262E;
	padding: 20px 0;
}

#footer .block{
	margin-bottom:0;
}

#footer .block-body{
	color:#EFEFEF;
	background-color:transparent;
	background:none;
	border-radius:0;
	border:0;
	box-shadow:none;
	padding:0;
}

#footer .block h3{
	color: #CCC;
	font-size: 17px;
	text-transform: uppercase;
	padding-bottom:5px;
	margin-bottom:15px;
	border-bottom:1px solid #424953;
}

#footer .block h4{
	color: #CCC;
}

#footer .social{
	color:#FFF;
	font-weight:bold;
}

#footer .social a{
	margin-right:2px;
}

#footer .links{
	border-bottom:0px solid #0064A6;
}

#footer .links span{
	font-weight:bold;
	color:#A8AAAC;
}

#footer .links ul{
	margin:0 0 0 0;
	padding:3px 0 0 0; 
	display: inline;
}

#footer .links ul li {
	margin:0; 
	padding: 0 1px 0 5px; 
	border-left: 1px solid #A8AAAC;
	list-style: none; 
	display: inline; 
}
			
#footer .links ul li.first{ 
	border-left:0;
	padding-left:0;
}

#footer .links ul li a{
	color:#A8AAAC;
	font-size:14px; 
}

#footer .links ul li a:hover{
	color:#0099FF;
}

#footer .copyright{
	color:#A8AAAC;
	padding: 10px 0 0 0;
}

#footer .copyright a{
	color:#A8AAAC;
	text-decoration:underline;
	font-weight:bold;
	line-height:20px;
}

#footer .copyright a:hover{
	color: #0CF;
}

.go-top a{
	font-size:18px;
	background:#1FA67A;
	width:45px;
	line-height:45px;
	display:block;
	z-index:100;
	transition:all 0.9s;
	position:fixed;
	bottom:10px;
	right:20px;
	color:#FFF;
	outline:0;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.go-top a:hover{
	transition:all 0.9s;
	color:#FFF;
	background-color:#00A7D7;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner{
	float:left;
	width:210px;
	margin:5px 0;
}

#content-inner{
	width:78%;
	float:right;
	margin:5px 0;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */

/* Language Flag -------------------------------------------------------------------- */

.flags {
	float: right;
	margin: 0 0 0 5px;
}

.flags .dropdown dl {
	float: right;
	margin: 0;
}

.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0 0 0 0;
	padding: 0px;
}

.dropdown dd {
	position: relative;
}

.dropdown a, .dropdown a:visited {
	color: #0080D5;
	text-decoration: none;
	outline: none;
}

.dropdown a:hover {
	color: #EFEFEF;
}

.dropdown dt a:hover {
/*color:#33ADFF;*/

}

.dropdown dt a {
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/
	color: #B4B4B4;
	display: block;
	padding-right: 20px;/*width:220px;*/

}

.dropdown dt a span {
	cursor: pointer;
	display: inline-block;
	/*line-height: 20px;*/
	padding: 1px;
}

.dropdown dd ul {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #DBDBDB;
	display: none;
	right: 0px;
	padding: 5px 0px;
	margin-top: 8px;
	position: absolute;
	top: 0;
	width: auto;
	min-width: 240px;
	list-style: none;
	z-index: 99999;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li {
	border-right: 0;
	padding: 0;
}

.dropdown dd ul li a {
	color: #6A6A6A;
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #F2F2F2;
	color:#666;
}

.dropdown span.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
	float: right;
}

.dropdown span.flag img {
	display: block;
}

.flagvisibility {
	display: none;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px 1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	font-weight:bold;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#82C241;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #0088DD;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  clear:left;
  border:1px solid #E7E7E7; 
  overflow:hidden;
}

.usual-content .block .block-body{
	margin-bottom:0;
	border:0;
}

.usual-content .block .block-content{
	background-color:#FFF;
}

.usual div a {
	color: #000;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */

/* Breadcrumb ----------------------------------------------------------------------- */

.block-breadcrumb{
	display:inline-block;
	margin: 0 0 0 10px;
}

.block-breadcrumb p{
	font-weight:bold;
	color:#FFF;
	display:inline-block;
}

.block-breadcrumb a{
	color:#FFF;
	text-decoration:none;
}

.block-breadcrumb a:hover{
	text-decoration:underline;
}

.block-breadcrumb .arrow{
	color:#0CF;
}

/* ---------------------------------------------------------------------------------- */

/* Bookmark ------------------------------------------------------------------------- */

.bookmark{
	display:inline-block;
}

.bookmark a.btn{
	background-color: #F7A011;
	border-bottom:2px solid #C47D09;
	padding: 5px 10px;
	color: #FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Mini Search Block----------------------------------------------------------------- */

.block-mini-search{
	float:right;
	margin-top:2px;
}

.block-mini-search input[type="text"]{
	color:#5C5C5C;
	border:0;
	border-spacing:0;
	margin:0;
	background: #FFF url(../images/search-bg.gif) 4px center no-repeat;
	/*border-color: #CCCCCC;
  	border-style: solid;
  	border-width: 1px 1px 1px 1px;*/
	border:0;
	margin:0 -2px 0 0;
	width:210px;
	display:inline-block;
	padding: 8px 8px 8px 25px;
	box-shadow: 1px 1px 3px #999 inset;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

.block-mini-search input[type="submit"]{
	background: #2DCB73;
	border:0;
	color:#FFF;
	padding:8px 12px;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	margin:0;
}

.block-mini-search input[type="submit"]:hover{
	background-color:#28B969;
}


/* ---------------------------------------------------------------------------------- */

/* Recent Products ------------------------------------------------------------------ */

.block-recent-product{
	height:135px;
	overflow:hidden;
}
	
.block-recent-product img{
	margin:10px;
	padding:8px;
	border:1px solid #EDEDED;
	background-color:#F9F9F9;
}

.block-recent-product .block-title{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Products ---------------------------------------------------------------- */

.block-featured-gallery .block-body{
	padding:5px 0;
	border:0;
}

.block-featured-gallery figure{
	float:left;
	margin:0 12px 16px 0px;
	text-align:center;
}

.block-featured-gallery figure img{
	border:0;
	padding:6px;
}

.block-featured-gallery figure p.block-title{
	color: #EFEFEF;
	font-size: 12px;
	font-weight: normal;
}

.block-featured-gallery hr{
	border-top:1px solid #424953;
	border-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Article by ID -------------------------------------------------------------------- */

.block-article{
	text-align:justify;
	line-height:22px;
	word-spacing:1px;
}

/* ---------------------------------------------------------------------------------- */

/* Latest News ---------------------------------------------------------------------- */

.block-news figure{
	margin-bottom:10px;
	border-bottom:1px solid #424953;
}

.block-news h4 a{
	font-size: 17px;
	color: #47B1E4;
	text-transform: none;
	letter-spacing:normal;
}

.block-news .date{
	padding: 2px 4px;
	color: #FFCC00;
	margin: 6px 0;
	display: inline-block;
	font-style: italic;
}

/* ---------------------------------------------------------------------------------- */

/* Upcomming Event ------------------------------------------------------------------ */

.block-event .block-content{
	overflow:hidden;
}

/* ---------------------------------------------------------------------------------- */

/* Clients Review ------------------------------------------------------------------- */

.block-review .block-body{
	min-height:270px;
}

.block-review .block-title{
	margin-top:16px;
	display:inline-block;
}

.block-review .desc{
	padding:15px;
	margin-bottom:1px;
	text-align:justify;
	border-radius:5px;
	background-color:#3498DB;
	position: relative;
	margin-bottom:30px;
}

.block-review a{
	font-style:italic;
	font-size:13px;
	color:#FFF;
	line-height:20px;
}

.block-review a:hover{
	text-decoration:none;
}

.block-review .desc :after {
    border-style: solid dotted;
	border-color: rgba(0, 0, 0, 0) #3498DB rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 25px ;
    bottom: -12px;
    content: " ";
    height: 0;
    left: 20px;
    position: absolute;
    width: 0;
	z-index:-1;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad .block-body{
	border:1px solid #E7E7E7;
	height:200px;
	overflow:hidden;
}

.block-scrolling-ad img {
	margin:10px;
	padding:8px;
	border:1px solid #EDEDED;
	background-color:#F9F9F9;
}

.block-scrolling-ad .block-body .simply-scroll .simply-scroll-list li{
	width: 160px;						/* Scroll image width settings */
	/*height: 200px;*/
	margin:15px 0 0 0;
}

/* ---------------------------------------------------------------------------------- */

/* Event Calendar ------------------------------------------------------------------- */

.block-calendar{
}

.calendar-block .ui-datepicker{ 
	width: 260px; border:0; 
}

/* ---------------------------------------------------------------------------------- */

/* Video ---------------------------------------------------------------------------- */

.block-video .block-content{
	width:250px; /* keep same width for video block $_width */
	padding: 5px;
	margin:auto;
	text-align:center;
	background-color:#0071D8;
}

.block-video p{
	padding-top:5px;
	color:#CCC;
	font-weight:bold;
}

.block-video .media_box{
	/*background:#030303 !important;*/
	background:url(../images/video.jpg) no-repeat;
}

/* ---------------------------------------------------------------------------------- */

/* Quick Contact -------------------------------------------------------------------- */

.block-contact{
	overflow:hidden;
}

.block-contact .block-body{
	background:none;
	border:0;
	box-shadow:none;
}

.block-contact p{
	width:45%;
	float:left;
	padding:7px 0;
	font-weight:bold;
	clear:left; 
}

.block-contact input[type="text"], .block-contact textarea{
	border:1px solid #00ACD7;
	background:#1681D3;
	color:#FFF;
	width:45%;
	margin:0 0 5px 0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	float:right;
}

.block-contact a{
	width:41%;
	float:right;
	text-align:center;
	text-transform:uppercase;
	padding: 7px 10px 5px 10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #FFF;
	white-space:normal;
	cursor:pointer;
	text-decoration:none;
	color:#000;
	box-shadow: 0 1px 1px #FFF inset;
	border:1px solid #FC0;
	background: #FFCC00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top,  #FFFF33,  #FFCC00);
	clear:right;
}

.block-contact a:hover{
	background: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#000000');
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000000));
	background: -moz-linear-gradient(top,  #404040,  #000000);
	box-shadow: 0 1px 1px #5B5B5B inset;
	border:1px solid #000;
	text-shadow:none;
	color:#FFF;
}

.block-contact .input-errors{
	display: inline-block;
	font-style:italic;
	color:#FFFF33;
}

.block-contact #actionMessageBox .ui-widget .ui-state-error,
.block-contact #actionMessageBox .ui-widget .ui-state-success{
	margin:0 0 10px 0;
	overflow:hidden;
}

.block-contact .ui-widget .ui-state-success p,
.block-contact .ui-widget .ui-state-error p{
	width:100%;
	font-weight:normal;
	float:none;
	display:inline-block;
}

.block-contact p .star_class{
	color:#FFFF33;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.block-login .block-body{
	background-color:#F6F6F6;
}

.block-login input[type="text"],
.block-login input[type="password"]{
	background:#FFF;
	margin:0 0 5px 0;
	border-radius:0;
	width:100%;
}

.block-login #signin_frm img{
	width:120px;
	height:35px;
	float:left;
}

.block-login .btn-container{
	margin:auto;
	text-align:center;
}

.block-login input[type="button"]{
	color:#FFF;
	font-weight:bold;
	padding:12px 25px;
	background:#0088DD;
	white-space:normal;
	display:inline-block;
	border:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.block-login input[type="button"]:hover{
	background:#0066DD;
}

.block-login input[type="button"].logout-btn{
	background:#44D06A;
	float:none;
}

.block-login #username_box_err,
.block-login #password_box_err,
.block-login #login_captcha_box_err{
	font-style:italic;
	color:#F00;
	margin:0 0 5px 0;
}

.block-login a.reg{
	color: #5E8D19;
	background: url(../images/member.png) 0 center no-repeat;
	text-decoration: underline;
	height: 16px;
	display: block;
	padding: 2px 0 0 25px;
	margin: 18px 2px 0 0;
}

.block-login .seccMess{
	padding-left:3px;
}

.login-loader{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Email Newsletter ----------------------------------------------------------------- */

.block-subscribe h1{
	padding: 0 0 10px 0;
	color:#FFF;
	text-shadow: 1px 1px 1px #333;
}

.block-subscribe .info{
	color:#FFF;
	font-style:italic;
	padding-bottom:10px;
}

.block-subscribe form p{
	width:45%;
	color:#FFF;
	padding:10px 0 0px 0;
	font-weight:bold;
}

.block-subscribe input[type="text"]{
	border:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background: #242931;
	color:#FFF;
	width:70%;
	margin:0 0 5px 0;
	padding:8px;
}

.block-subscribe input[type="button"]{
	margin-top:14px;
	padding:8px 15px;
}

/*.block-subscribe input[type="button"]{
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-transform:uppercase;
	padding: 7px 20px;
	font-weight:bold;
	text-shadow: 1px 1px 1px #FFF;
	white-space:normal;
	cursor:pointer;
	text-decoration:none;
	color:#000;
	box-shadow: 0 1px 1px #FFF inset;
	border:1px solid #FC0;
	background: #FFCC00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top,  #FFFF33,  #FFCC00);
}

.block-subscribe input[type="button"]:hover{
	background: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#000000');
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#000000));
	background: -moz-linear-gradient(top,  #404040,  #000000);
	box-shadow: 0 1px 1px #5B5B5B inset;
	border:1px solid #000;
	text-shadow:none;
	color:#FFF;
}*/

.block-subscribe .loader{
	padding:50px 0 10px 0;
	display:block;
	text-align:center;
}

.block-subscribe .newsletter_arr{
	color:#FF6;
	font-size:11px;
	line-height:22px;
	display:block;
	clear:both;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error,
.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success{
	margin:0 0 10px 0;
	overflow:hidden;
}

.block-subscribe #actionMessage_newsletter .ui-widget p{
	padding:6px;
	width:100%;
	font-weight:normal;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success p{
	color:#009900;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error p{
	/*color:#C00;*/
}

/* ---------------------------------------------------------------------------------- */

/* Polls ---------------------------------------------------------------------------- */

.block-polls .polls-bg{
	background:#FFFFA6;
}

.block-polls .block-title{
	font-weight:normal;
	font-size:15px;
	color:#FFF;
	background-color:#7CC46A;
	padding:5px;
}

.block-polls .poll-options{
	border:1px solid #CCC;
	overflow:hidden;
	background:#F4F4F4;
	margin: 0 0 10px 0;
	padding: 10px;
}

.block-polls .poll-err{
	color:#C00;
}

.block-polls .result-block{
	border:1px solid #0775E1;
	margin: 0 0 10px 0;	
}

.block-polls .result-block h4{
	background-color:#0775E1;
	color:#FFF;
	text-align:center;
	line-height:25px;
	margin:0;	
}

.block-polls .result-block .total{
	background-color:#85B000;
	color:#FFF;
	line-height:20px;
}

.block-polls .link-btn a{
	background-color:#DD6262;
	border-bottom:3px solid #D33232;
	border-radius:27.5px;
	-moz-border-radius:27.5px;
	-webkit-border-radius:27.5px;
}

.block-polls .link-btn a:hover{
	background-color:#DA5252;
}

.block-polls .more{
	text-align:center;
}

/* ---------------------------------------------------------------------------------- */

/* Advertisement -------------------------------------------------------------------- */

.block-ad{
	text-align:center;
}

.block-ad img,
.block-ad-text{
	margin-bottom: 15px;
	vertical-align: top;
}

.block-ad .block-body {
	padding: 0;
	border: 0;
}

.block-ad .block-body img {
	display: block;
}

.block-ad.home-content-ad{
	float:right;
}

/* ---------------------------------------------------------------------------------- */

/* Social ---------------------------------------------------------------------------- */

.block-social .block-body{
	min-height:72px;
}

.block-social .block-body .info{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	font-style:italic;
	padding:0 0 15px 0;
}

.block-social .block-body h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	letter-spacing: 0;
	text-align: left;
	color: #F60;
	display:inline-block;
	padding-bottom:10px;
}

.block-social *,
.block-social *:before,
.block-social *:after{
	box-sizing:content-box !important;
	-webkit-box-sizing:content-box !important;
	-moz-box-sizing:content-box !important;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */


/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod h1{
	font-size:25px;
	font-weight:bold;
}

.mod .mod-container, .mod .mod-content{
	background-color:#FBFBFB;
    border: 1px solid #CCC;
	overflow:hidden;
    margin: 10px 0 20px 0;
    padding: 10px;
	text-align:justify;
}

.mod .mod-content{
	margin:0 auto;
}

.mod .col{
	padding: 0 12px 3px 0;
	float:left;
}

.mod form .col p{
	font-weight: bold;
	color: #0066CC;
}

.mod input[type="text"],
.mod input[type="password"],
.mod select,
.mod textarea{
	border:1px solid #CCC;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-size:13px;
	padding:6px;
	margin:0 0 2px 0;
	box-shadow: 1px 1px 2px #E6E6E6 inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.mod input[type="text"]:focus,
.mod input[type="password"]:focus,
.mod select:focus,
.mod textarea:focus{
	border:1px solid #4D90FE;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.mod input[type="text"]{
	padding:7px;
}

.mod .btn-container{
	margin:auto;
	padding:10px 0 5px 0;
	width:auto;
	text-align:center;
}

.mod input[type="submit"],
.mod input[type="button"],
.mod .form-button a,
.button a{
	color:#FFF;
	font-weight:bold;
	padding:12px 45px;
	background:#0088DD;
	white-space:normal;
	display:inline-block;
	border:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin:8px 0;
}

.mod input[type="submit"]:hover,
.mod input[type="button"]:hover,
.mod .form-button a:hover,
.button a:hover{
	background:#0066DD;
	text-decoration:none;
}

.mod .list{
	margin:5px 0 5px 10px;
	float:left;
	overflow:hidden;
}

.mod .list ul{
	margin:0;
	padding:0;
}

.mod .list ul li{
	background-image:url(../images/list-arrow.gif);
	list-style:none;
	background-position:10px 7px;
	background-repeat:no-repeat;
	margin:0 0 0 0;
	padding:0 0 0 20px;
	line-height:24px;
}

.mod .list a{
	color:#0066CC;
	text-decoration:none;
	width:100%;
}

.mod .list a:hover{
	color:#FF9900;
	text-decoration: underline;
}

.mod .form-desc{
	text-align:justify;
	margin:5px 0 30px 0;
}

.mod .mod-title{
	font-weight:bold;
	color:#0066CC;
}

.mod .mod-title a{
	font-weight:bold;
}

.mod .mod-title a:hover{
	color:#666;
}

.mod .date{
	color:#F60;
}

.mod .thumb{
	border:1px solid #DFDFDF;
	background-color:#FFF;
	padding:5px;
	margin: 0 10px 0 0;
	float:left;
}

.mod .more a {
	background: url(../images/arrow-2.gif);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:15px;
	float:left;
	color:#F60;
	margin: 10px 0 0  0;
	padding: 0 0 0 15px;
	clear:left;
}

.mod .chart{
	width:100%;
	margin:auto;
	overflow:hidden;
}

.mod .chart .label{
	width:50%;
	font-weight:bold;
	color:#0066CC;
	float:left;
	background-color:#E3E8F9;
	border-bottom:1px solid #59ACFF;
	text-indent:8px;
	padding:8px 0;
	clear:right;
}

.mod .chart .value{
	width:50%;
	float:right;
	background:#F8F8F8;
	border-bottom:1px solid #D8D8D8;
	text-indent:8px;
	padding:8px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Other Button --------------------------------------------------------------------- */

.other-btn a{
	background: #F49610;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC106', endColorstr='#F49610');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC106), to(#F49610));
	background: -moz-linear-gradient(top,  #FFC106, #F49610);
	border:1px solid #FF6600;
	box-shadow: 0 1px 1px #FEEB81 inset;
	padding: 5px 25px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	float:right;
}

.other-btn a:hover{	
	background: #6B8C23;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top,  #99CC00,  #6B8C23);
	border:1px solid #6B8C23;
	box-shadow: 0 1px 1px #C7FF1C inset;
	color:#FFF;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */


/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

