<?php
$version = new Eicra_License_Version();
$front_template = Zend_Registry::get('front_template');
$this->headTitle()->headTitle($this->translator->translator('tracker_tracking_meta_title'),'SET');
$this->headMeta()->setName('description',$this->translator->translator('tracker_tracking_meta_keywords'));
$this->headTitle()->headTitle($this->translator->translator('tracker_tracking_meta_description'),'SET');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script type="text/javascript">

$(document).ready(function() {		
	
	
	
	$('a.tracking_check_btn').click(function() {			
		$('#formSettings').submit();
	});		
});
</script>

<div class="mod mod-tracker">
	<div class="tracker-icon">
		<h1><?php echo $this->translator->translator('tracker_tracking_status_page_title'); ?></h1>
	</div>
	<div class="clear">&nbsp;</div>
	<form name="formSettings" id="formSettings" method="post" action="<?php echo $this->url( array('module' => 'Tracker','controller' => 'frontend', 'action'     => 'tracking' ), 'Track-Shipment',    true) ?>">
    	<div id="actionMessage">
        	<?php
				if(!empty($this->info))
				{
					echo '<div class="ui-widget">
							<div class="ui-state-error ui-corner-all">
								<p><span class="ui-icon ui-icon-alert"></span>'.$this->translator->translator('tracker_tracking_no_not_found')
								.'</p>
								</div>
							</div>';
				}	
			?>
        </div>
        
        <div class="clear"></div>
        
        <div id="generalInfo">
        	<div class="tracker-container">
            		<p><?php echo $this->trackingForm->tracking_number->getLabel();  if($this->trackingForm->tracking_number->isRequired()){ ?>&nbsp;<span class="star_class tracker-star">*</span></p><?php } ?>
                	
                    <select name="track_reference">
                      <option <?php if($this->track_reference == 'containers'){ ?>selected="selected"<?php } ?> value="containers"><?php echo $this->translator->translator('logistics_blocks_tracker_reference_no_title','', '', $front_template['theme_folder']); ?></option>
                      <option <?php if($this->track_reference == 'HWB'){ ?>selected="selected"<?php } ?> value="HWB"><?php echo $this->translator->translator('logistics_blocks_tracker_HWB_no_title','', '', $front_template['theme_folder']); ?></option>
                    </select> 
					<div style="display:inline-block; vertical-align:middle">
                		<?php echo $this->trackingForm->tracking_number; ?>
					</div>
                	<div class="form-field-info"><div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->trackingForm->tracking_number->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div></div>
					<a href="javascript: void(0);" class="tracking_check_btn tracking-button"><?php echo $this->translator->translator('tracker_tracking_status_btn'); ?></a>
                	
                    
                    <div class="clear">
						<?php
                        if($this->msg_arr)
                        {
                            if($this->msg_arr['status'] == 'err')
                            {
                                $print_msg = '';
                                foreach($this->msg_arr['msg'] as $key => $msg)
                                {
                                    if($msg['key'] == 'tracking_number')
                                    {
                                        $print_msg .= $msg['value'];
                                    }
                                }
                                echo '<span class="tracking-msg">'.$print_msg.'</span>';
                            }
                        }
                        ?>
                    </div>   
            </div>
            
            <div id="display_status">
					<?php
                    if(empty($this->info))
                    {
                        if($this->trackInfo)
                        {
                            foreach($this->trackInfo as $track)
                            {
                                $last_report = $track['details'];	
                                $last_date = $track['status_date'];	
                                $last_time_hour = $track['status_time_hour'];
                                $last_time_minute = $track['status_time_minute'];
                                break;										
                            }
                            if($this->airwaybillInfo)
                            {
					?>
                	
                    <div class="tracker-status">
                    	<div class="tracker-status-row">
                        	<div class="tracker-status-col-1">
								<span class="mod-label"><?php echo $this->translator->translator('tracker_tracking_status_waybill'); ?></span> <span class="tracking-no"><?php echo $this->airwaybillInfo['airwaybill_number']; ?></span><br /><br />
                                <?php if(!empty($last_report)){ if($this->airwaybillInfo['delivered'] == '1') {  $classes = 'delivered'; }else{ $style = $classes = 'undelivered'; } echo '<span  class="'.$classes.'">'.$last_report.'</span>'; } ?>
                            </div>
                            
                            <div class="tracker-status-col-1 col-2">
                            	<?php
								if(!empty($last_date) && $last_date != '0000-00-00')
								{
								?>
								<span class="mod-label"><?php echo date("l, F d, Y", strtotime($last_date)); ?><?php echo $this->translator->translator('tracker_status_at_title').$last_time_hour.':'.$last_time_minute; ?></span><br />
                                <?php 
								}
								if(!empty($this->airwaybillInfo['origin']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_origin'); ?></span> <?php echo $this->airwaybillInfo['origin']; ?><br />
                                <?php
								}
								if(!empty($this->airwaybillInfo['destination']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_destination'); ?></span> <?php echo $this->airwaybillInfo['destination']; ?>
                            	<?php
								}
								?>
							</div>
                        </div>
                    </div> 
                    
                    <?php															
							}
						}
					}	
					if($this->trackInfo)
					{
					?>
					
					<div class="clear">&nbsp;</div>
					<div class="tracker-chart">
						<?php	
						$count = count($this->trackInfo);
						foreach($this->trackInfo as $track)
						{
							if($prev_date != $track['status_date'])
							{
						?>
						<div class="tracker-chart-row">
							<div class="tracker-chart-header-col-1"><?php echo $this->translator->translator('tracker_status_sl'); ?></div>
							<div class="tracker-chart-header-col-1 col-2"><?php echo strftime('%A, %B %d, %Y',strtotime($track['status_date'])); ?></div>
							<div class="tracker-chart-header-col-1 col-3"><?php echo $this->translator->translator('tracker_tracking_status_location'); ?></div>
							<div class="tracker-chart-header-col-1 col-4"><?php echo $this->translator->translator('tracker_tracking_status_time'); ?></div>
						</div>
						<?php
							}
							$prev_date = $track['status_date'];
						?>
						<div class="tracker-chart-row2">
							<div class="row2-col sl"><?php echo $count--; ?></div>
							<div class="row2-col"><?php echo $track['details']; ?></div>
							<div class="row2-col"><?php echo $track['location']; ?></div>
							<div class="row2-col time"><?php echo $track['status_time_hour'].':'.$track['status_time_minute']; ?></div>
						</div>
						
						<?php															
						}
						?>
						
					</div>
					<?php	
						}																								
					?> 
					<div class="clear">&nbsp;</div>
					<?php
						if($this->airwaybillInfo)
                     	{
                     ?>
                	
                    <div class="tracker-status">
                    	<div class="tracker-status-row">
                        	<div class="tracker-status-col-1">
								<span class="mod-label"><?php echo $this->translator->translator('tracker_tracking_status_waybill'); ?></span> <span class="tracking-no"><?php echo $this->airwaybillInfo['airwaybill_number']; ?></span><br /><br />
                               	<?php
								if(!empty($this->airwaybillInfo['container_id']))
								{
								?>
							   	<span class="mod-label"><?php echo $this->translator->translator('tracker_status_container_no'); ?></span> <span class="tracking-no"><?php echo $this->airwaybillInfo['container_id']; ?></span><br /><br />
							    <?php
								}
								?>
								<?php if(!empty($last_report)){ if($this->airwaybillInfo['delivered'] == '1') {  $classes = 'delivered'; }else{ $style = $classes = 'undelivered'; } echo '<span  class="'.$classes.'">'.$last_report.'</span>'; } ?>
                            </div>
                            
                            <div class="tracker-status-col-1 col-2">
                            	<?php
								if(!empty($last_date) && $last_date != '0000-00-00')
								{
								?>
								<span class="mod-label"><?php echo date("l, F d, Y", strtotime($last_date)); ?><?php echo $this->translator->translator('tracker_status_at_title').$last_time_hour.':'.$last_time_minute; ?></span><br />
                                 <?php 
								}
								if(!empty($this->airwaybillInfo['origin']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_origin'); ?></span> <?php echo $this->airwaybillInfo['origin']; ?><br />
                                 <?php 
								}
								if(!empty($this->airwaybillInfo['destination']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_destination'); ?></span> <?php echo $this->airwaybillInfo['destination']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['bill_of_lading']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_bill_of_lading'); ?></span> <?php echo $this->airwaybillInfo['bill_of_lading']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['shipper']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_shipper'); ?></span> <?php echo $this->airwaybillInfo['shipper']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['consignee']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_consignee'); ?></span> <?php echo $this->airwaybillInfo['consignee']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['consignor']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_consignor'); ?></span> <?php echo $this->airwaybillInfo['consignor']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['containers_no']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_no_of_containers'); ?></span> <?php echo $this->airwaybillInfo['containers_no']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['weight']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_weight'); ?></span> <?php echo $this->airwaybillInfo['weight']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['rar']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_rar'); ?></span> <?php echo $this->airwaybillInfo['rar']; ?><br />
								<?php 
								}
								if(!empty($this->airwaybillInfo['duty']))
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_duty'); ?></span> <?php echo $this->airwaybillInfo['duty'].' '.$currency->getSymbol(); ?><br />
                            	<?php 
								}
								if(!empty($this->airwaybillInfo['edd']) && $this->airwaybillInfo['edd'] != '0000-00-00')
								{
								?>
								<span class="mod-label"><?php echo $this->translator->translator('tracker_status_edd'); ?></span> <?php echo date("l, F d, Y", strtotime($this->airwaybillInfo['edd'])); ?>
                            	<?php
								}
								?>
							</div>
                            
                        </div>
                    </div> 
                    
                    <?php															
						} 
					?> 
			</div>
        </div>
    </form>
</div>