<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link =  'Members-Dashboard';
//$booking_link = ($auth->hasIdentity ()) ? 'Hotel-Itinerary-List' : 'Frontend-Login';
$sign_in_out = ($auth->hasIdentity()) ? $this->translator->translator('hotel_header_signout','', '', $front_template['theme_folder']) : $this->translator->translator('hotel_header_signin','', '', $front_template['theme_folder']);
?>

<header id="header">
	<!-- Top Panel Start -->
    <div id="toppanel">
        <div id="panel">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <?php echo $this->partial('blocks/article_home_byId.phtml'); ?>
                    </div>
                    
                    <div class="col-md-4">
                        <?php echo $this->partial('blocks/members_login.phtml'); ?>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="block block-login-info">
                            <h3><span class="glyphicon glyphicon-info-sign"></span> <?php echo $this->translator->translator('block_memberlogin_info_title','', '', $front_template['theme_folder']); ?></h3>
                            <ul class="list-unstyled">
                                <li><span class="glyphicon glyphicon-ok"></span> <?php echo $this->translator->translator('block_memberlogin_info1','', '', $front_template['theme_folder']); ?></li>
                                <li><span class="glyphicon glyphicon-ok"></span> <?php echo $this->translator->translator('block_memberlogin_info2','', '', $front_template['theme_folder']); ?></li>
                                <li><span class="glyphicon glyphicon-ok"></span> <?php echo $this->translator->translator('block_memberlogin_info3','', '', $front_template['theme_folder']); ?></li>
                                <li><span class="glyphicon glyphicon-ok"></span> <?php echo $this->translator->translator('block_memberlogin_info4','', '', $front_template['theme_folder']); ?></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab">
        	<div class="container">
            	<div class="row">
                    <div class="col-md-5"></div>
                    
                    <div class="col-md-7">
                    	<ul class="login user-link">
                            <li class="left">&nbsp;</li>
                            <li class="welcome"><?php echo $this->translator->translator('common_front_header_welcome', '', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?></li>
                            <li id="toggle">
                                <a id="open" class="open" href="javascript:void(0)"><?php echo $sign_in_out; ?></a>
                                <a id="close" style="display: none;" class="close" href="javascript:void(0)"><?php echo $this->translator->translator('common_front_header_close_panel','', '', $front_template['theme_folder']); ?></a>			
                            </li>
                            <?php if(!$auth->hasIdentity()) : ?>
                            <li>| &nbsp;<a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a></li>
                            <?php endif; ?>
                            <li class="right">&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <!-- Top Panel End -->
   	<div id="top-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                    <ul class="list-unstyled list-inline top-links">
                        <li><a href="<?php echo $acount_link; ?>"><?php echo $this->translator->translator('header_account','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a href="Register"><?php echo $this->translator->translator('header_agent_registration','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a href="Feedback"><?php echo $this->translator->translator('header_feedback','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a href="Site-Map"><?php echo $this->translator->translator('header_sitemap','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a href="Contact-Us"><?php echo $this->translator->translator('header_contact','', '', $front_template['theme_folder']); ?></a></li>
                    </ul>
                </div>
        	</div>
        </div>
    </div>
   	<div class="container">
    	<div class="row">
        	<div class="col-md-5">
            	<div class="logo">
                	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" height="83" border="0" /></a>
                </div>
            </div>   
              
            <div class="col-md-7 text-right">
            	<div class="flags">
					<?php echo $this->partial('blocks/header_language.phtml'); ?>
                </div>
                    
                <div class="support">
                   <?php $this->ad(201); ?>
                </div>
                <?php echo $this->partial('blocks/header_count.phtml'); ?>
            </div>
    	</div>
    </div>
</header>