<?php
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend(); 
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
$this->translator = Zend_Registry::get('translator'); 
$version = new Eicra_License_Version();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard';

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');

?>

<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->

<!-- Top Navigation Start-->
<nav class="top-nav">
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
            	<?php echo $this->partial('blocks/top-menu.phtml'); ?>
            </div>
        </div>
    </div>
</nav>
<!-- Top Navigation End-->

<?php
if($is_frontend->isFrontend())
	{
?>
<!-- Banner Start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="banner">
                <?php echo $this->partial('blocks/banner_slideshow.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Content Area Start -->
<div class="container">
	<div class="body-container">
        <div class="row">
            <!-- Content Area Start -->
            <div class="col-md-9">
            	<?php echo $this->partial('blocks/phpholidays_home_search.phtml'); ?>
                
                <!-- Home Tab Start -->
                <div id="usual" class="usual">
                    <ul>
                        <li><a class="selected" href="#tab1"><?php echo $this->translator->translator('hotels_block_popular_list_title','','',$front_template['theme_folder']); ?></a></li>
                        <li><a class="" href="#tab2"><?php echo $this->translator->translator('vacationrentals_block_popular_list_title','','',$front_template['theme_folder']); ?></a></li>
                        <li><a class="" href="#tab3"><?php echo $this->translator->translator('tours_block_popular_list_title','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a class="" href="#tab4"><?php echo $this->translator->translator('tab_latest_flight_package','', '', $front_template['theme_folder']); ?></a></li>
                        <li><a class="" href="#tab5"><?php echo $this->translator->translator('block_news_title','', '', $front_template['theme_folder']); ?></a></li>
                    </ul>
                </div>
                <div class="usual-content">
                    <div style="display:block;" id="tab1"><?php echo $this->partial('blocks/hotels/hotels_home_content_popular.phtml'); ?></div>
                    <div style="display: none;" id="tab2"><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popular.phtml'); ?></div>
                    <div style="display: none;" id="tab3"><?php echo $this->partial('blocks/tours/tours_content_popular.phtml'); ?></div>
                    <div style="display: none;" id="tab4"><?php echo $this->partial('blocks/flights/flight_home_content_packages.phtml'); ?></div>
                    <div style="display: none;" id="tab5"><?php echo $this->partial('blocks/news_content_latest.phtml'); ?></div>
                </div>
                <script type="text/javascript">
                    $("#usual ul").idTabs();
                </script>
                <!-- Home Tab End -->
                <?php $this->ad(203); ?>
                <!-- List Tab Start -->
                <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/responsive-tabs.js'); ?>
				<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/responsive-tabs.css'); ?>
                <div id="demoTab">          
                    <ul class="resp-tabs-list">
                        <li><?php echo $this->translator->translator('hotels_block_latest_list_title','','',$front_template['theme_folder']); ?></li>
                    	<li><?php echo $this->translator->translator('vacationrentals_block_popular_title','','',$front_template['theme_folder']); ?></li>
                    	<li><?php echo $this->translator->translator('tours_block_popular_destination_title','', '', $front_template['theme_folder']); ?></li>
                    	<li><?php echo $this->translator->translator('flight_front_page_home_world_wide_flight_title','', '', $front_template['theme_folder']); ?></li>
                    </ul>
                
                    <div class="resp-tabs-container">
                        <div><?php echo $this->partial('blocks/hotels/hotels_home_content_recent_listview.phtml'); ?></div>
                    	<div><?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_popularGateways.phtml'); ?></div>
                    	<div><?php echo $this->partial('blocks/tours/tours_home_content_popularDestinations.phtml'); ?></div>
                    	<div><?php echo $this->partial('blocks/flights/flights_home_content_worldDestinations.phtml'); ?></div>
                  	</div>
                </div>
                <script>
                    $("#demoTab").easyResponsiveTabs({
                        type: 'accordion', //Types: default, vertical, accordion           
                        width: 'auto', //auto or any custom width
                        fit: true   // 100% fits in a container
                    });
                </script>
                <!-- List Tab End -->
                
                <?php echo $this->partial('blocks/newsletter.phtml'); ?>
            </div>
            <!-- Content Area End -->
            
            <!-- Home Sidebar Start -->
            <div class="col-md-3">
                <?php $this->ad(202); ?>
                <?php echo $this->partial('blocks/hotels/hotels_topDestinations.phtml'); ?>
                <?php echo $this->partial('blocks/flights/flights_home_sidebar_fare.phtml'); ?>
            	<?php echo $this->partial('blocks/sidebar_social.phtml'); ?>
            </div>
            <!-- Home Sidebar End -->
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <?php echo $this->partial('blocks/home_travel_packages.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- Content Area End -->  
<?php
	}
	else if(strtolower($frontController->getRequest()->getParam('menu_id')) == 'special-offers')
	{					
		$this->headTitle()->headTitle($frontController->getRequest()->getParam('menu_id'),'SET');
?>

<!-- Special Offer Tab Start -->
<div class="container">
	<div class="body-container">
		<?php echo $this->partial('blocks/vacationrentals/vacationrentals_content_featuredSpecial.phtml'); ?>
    	<?php echo $this->partial('blocks/tours/tours_content_featuredSpecial.phtml'); ?>
    	<?php echo $this->partial('blocks/flights/flight_content_featuredSpecial.phtml'); ?>
    </div>
</div>
<!-- Special Offer Tab End -->

<?php
	}
	else
	{		
?>

<!-- Inner Page Layout Start -->
<div class="container">
    <div class="inner-content">
    	<div class="row">
        	<?php 
              $innter_page_content_width = 'col-md-12';
              if(!empty($moduleName) && $actionName != 'home' && $actionName != 'homepage'  && $actionName != 'detailspage')
              {
                  switch($moduleName)
                  {	
                      case 'vacationrentals':	                                    
                      case 'tours':
                      if($actionName != 'confirm')
                      {
                      if( strtolower($controllerName) != 'wego'){ 
                          $innter_page_content_width = 'col-md-9';
        ?>
            <!-- Inner Sidebar Start -->
            <div class="col-md-3">				
                <?php echo $this->partial('blocks/'.$moduleName.'_inner_sidebar_search.phtml');   ?>                  	
                <?php //echo $this->partial('blocks/ad_inner_leftsidebar.phtml'); ?>
            </div>
            <?php
                     }
                        }
                  break;
                  case 'hotels':
                  if($actionName != 'confirm')
                  {    
                      if($actionName != 'index' && !(strtolower($controllerName) == 'expedia') && strtolower($controllerName) != 'wego')
                      {
                       $innter_page_content_width = 'col-md-9';
            ?>
            <div class="col-md-3">
                <?php if( strtolower($controllerName) == 'expedia'){ /*echo $this->partial('blocks/'.$moduleName.'_inner_sidebar_travelNow_search.phtml');*/ }else{ echo $this->partial('blocks/'.$moduleName.'_inner_sidebar_search.phtml'); } ?>
                <?php //echo $this->partial('blocks/ad_inner_leftsidebar.phtml'); ?>
            </div>
            <!-- Inner Sidebar End -->
			<?php
                  }
                     }
                  break;	
                  
                     }
                  }
            ?>
            <!-- Inner Content Start -->
            <div class="<?php echo $innter_page_content_width; ?>"> 
            	<?php echo $this->layout()->content ?>
            </div>
            <!-- Inner Content End -->
        </div>
    </div>
</div>  
<!-- Inner Page Layout End -->

<?php
	}
?>
<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End --> 