<?php
$front_template = Zend_Registry::get('front_template'); 
$is_frontend = new Eicra_Model_DbTable_Frontend(); 
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
$this->translator = Zend_Registry::get('translator'); 
$version = new Eicra_License_Version();
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link =  'Members-Dashboard';
$booking_link =  'Members-Invoice-Item-List';
$add_url = $this->url(array('module'=> 'Vacationrentals','controller'=>'members', 'action'=>'add'), 'Members-Vacationrental-Add/*', true) ;
$vacationrentals_DB 	= new Vacationrentals_Model_DbTable_Vacationrentals();
$num_vacationrentals	= $vacationrentals_DB->getNumOfProduct();
?>

<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->
    
<!-- Top Navigation Start-->
<nav class="top-nav">
    <div class="container"><?php echo $this->partial('blocks/top-menu.phtml'); ?></div>
</nav>
<!-- Top Navigation End-->

<!-- Content Area Start -->
<div class="container">
	<div class="body-container">
    	<!-- Banner Start -->
        <div id="banner">
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/vacationrentals-banner.jpg" alt="" class="img-responsive">
            <?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_banner_search.phtml'); ?>
        </div>
        <!-- Banner End -->
        
        <div class="row">
            <div class="col-md-6">
            	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_content_popular.phtml'); ?>
                <?php echo $this->partial('blocks/sidebar_social.phtml'); ?>
            </div>
            
            <div class="col-md-6">
            	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_content_recent.phtml'); ?>
                <?php echo $this->partial('blocks/vacationrentals/vacationrentals_count.phtml'); ?>
            </div>
        </div>
        <?php echo $this->partial('blocks/vacationrentals/vacationrentals_content_popularGateways.phtml'); ?>
		<?php echo $this->partial('blocks/vacationrentals/vacationrentals_home_content_featured.phtml'); ?>
       	<?php echo $this->partial('blocks/vacationrentals/vacationrentals_mapView.phtml'); ?>
    </div>
</div>
<!-- Content Area End -->  

<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End -->