<div id="fb-root-block"></div>
<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template');
$this->loginForm = new Members_Form_LoginForm();
$returnLink = Eicra_Global_Variable::getSession()->returnLink;
$redirect_msg = $translator->translator("member_loggin_redirecting");
$global_conf = Zend_Registry::get('global_conf');
$auto_generated_password = 	substr(md5(rand(100000, 999999)), 0, 8);
$fb_api_id=$global_conf['fb_api_app_id'];
?>
<script type="text/javascript">

(function() {
	var e = document.createElement('script');
	e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	e.async = true;
	document.getElementById('fb-root-block').appendChild(e);

	this.fb_config_block = function() {
		{
			FB.init({
				appId   : <?php echo "'".$fb_api_id. "'"; ?>,
				oauth   : true,
				status  : true, 
				cookie  : true, 
				xfbml   : true 

			});
		};
	}
}).call(this);

$(document).ready(function() {

	$('a.btn-facebook').click(function() {
		<?php	
		if($fb_api_id == "00" && !empty($fb_api_id))
		{
	?>
		$('#actionMessage_partial').html(errMsgDesign("<?php echo strip_tags($translator->translator('members_fb_api_setting_error','','Members')); ?>"));
	<?php	
		}
		else
		{
	?>
		fb_config_block();
		var self = this;		
		fb_login_block(self);	
		<?php } ?>
	});
	
	/*$.ajax({
		url: "<?php echo $this->url( array('module' => 'Members','controller' => 'frontend', 'action'     => 'token' ), 'adminrout',    false) ?>",
			type: 'POST',
			
			success: function(response){
				//alert(response);					
				var json_arr = eval("("+response+")");										
				if(json_arr.status == 'ok')
				{
					$('#token_box').val(json_arr.token);						
					$('#token').val(json_arr.token);						
				}
			}
	});*/


	$('a.reset_btn').click(function() {			
		 resetFields();	
		 removeError();	
	});	
	
	
	function resetFields()
	{
		$( "#login_box_frm" )[ 0 ].reset();
	}
	
	function removeError()
	{
		$('#actionMessage_partial').attr('class','none');
		$('#actionMessage_partial').html('&nbsp;');
				
		$.each($('#login_box_frm').serializeArray(), function(i, field) {				
				$('#'+field.name).removeClass('ui-state-error');
				$('#'+field.name+'_err').html('');									
		});			
	}
	
	function addError(key,errMsg)
	{
		var err_id = key+'_box_err';
		var field_name = key+'_box';
		$('#'+field_name).addClass('ui-state-error');
		$('#'+err_id).append(errMsg);
	}
	
	function getFormData()
	{
		var fieldObj = {};
		$.each($('#login_box_frm').serializeArray(), function(i, field) {	
				fieldname = field.name.split('_box');
				fieldObj[fieldname[0]] = field.value;										
		});
		return fieldObj;
	}
	
	function fb_login_block(self){
		FB.login(function(response){		
			if (response.authResponse) {
				
				access_token = response.authResponse.accessToken; 
				user_id = response.authResponse.userID; 
				FB.api('/me', function(response) {

					var sex= response.gender;
					if(sex=='male'){
						var title = 'Mr.';
					}
					else
					{
						var title = 'Ms.';
					}
					var first_ame= response.first_name;

					if(response.middle_name){
						first_ame=first_ame+' '+response.middle_name;
					}
					var email;
					if(response.email){
						email=response.email;
					}
					else{
						email='';
					}
					var country,city;
					if(response.location)
					{
						countryName = response.location.name;
						var countryName = countryName.split(","); 
						city=countryName[0];
						county=countryName[1];

					}
					else{
						city=' ';
						county=' ';                	
					}
					var roleId = '<?php echo $global_conf["role_id"]; ?>';
					var generated_pass = '<?php echo $auto_generated_password; ?>';
					
					var infoFromFb = {firstName: first_ame, lastName: response.last_name, title:title, gender: sex, username: email,password:generated_pass,state:county,country:county,city:city,role_id:roleId,status:1};

					var previous = $(self).html();
					$.ajax({
						type: 'post',
						url: "<?php echo $this->url(array('module' => 'Members','controller' => 'frontend', 'action' => 'fbauth' ), 'default', false) ?>",
						data: infoFromFb,
						beforeSend: function(){	
							removeError();
							$('#signout_frm').css('display','none');
							$('#signin_frm').css('display','none');	
							$('#loader_process').css('display','');	
						},
						success: function(response) {	
								try
								{						
									$(self).html(previous);
									var json_arr =jQuery.parseJSON(response);
									$('#loader_process').css('display','none');	
									if(json_arr.status == 'err'){
										$('#actionMessage').html(errMsgDesign(json_arr.msg));	
										$('#actionMessage_partial').html(errMsgDesign(json_arr.msg));					
									}
									else
									{
										$('#actionMessage_partial').html(succMsgDesign(json_arr.msg));	
										$('#signin_frm').css('display','none');	
										$('#signout_frm').css('display','');
										resetFields();
										
										$('#actionMessage').html(succMsgDesign(json_arr.msg));
										var mem_link = 'Members-Dashboard';
										$('#mem_link').attr('href',mem_link);	
										$('#login_box').css('display','none');	
										$('#logout_box').css('display','');	
										<?php if(!empty($returnLink)){	?>
											$('#actionMessage').html(succMsgDesign(json_arr.msg+'<?php echo $redirect_msg; ?>'));	
											document.location.href='<?php echo $returnLink;  ?>';
											<?php } ?>	
										}
								}
								catch(error)
								{
									$(self).html(previous);		
									var error_arr = 	[error, response];
									var msg = commonErrMsgException(error_arr);				
									$('#actionMessage').html(errMsgDesign(msg));
									$('#actionMessage_partial').html(errMsgDesign(msg));
								}	
							},
							error: function(xhr, status, error){
								$(self).html(previous);								
								var msg = "Error! " + xhr.status + " " + error;
								$('#actionMessage').html(errMsgDesign(msg));
								$('#actionMessage_partial').html(errMsgDesign(msg));
							}
						});
				});
} 
			else {

	console.log('User cancelled login or did not fully authorize.');
}
}, {
	scope: 'public_profile,email,user_location'
});}
	
	$('input.login_btns').click(function() {
				
		var formData = getFormData();
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Members','controller' => 'frontend', 'action'     => 'auth' ), 'adminrout',    false) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						removeError();
						$('#signout_frm').css('display','none');
						$('#signin_frm').css('display','none');	
						$('#loader_process').css('display','');			
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");			
					refreshCaptchaBox(json_arr);							
					if(json_arr.status == 'ok')
					{						
						$('#actionMessage_partial').html(succMsgDesign(json_arr.msg));	
						$('#signin_frm').css('display','none');	
						$('#signout_frm').css('display','');
						resetFields();
						
						$('#actionMessage').html(succMsgDesign(json_arr.msg));	
						var mem_link = 'Members-Dashboard';
						$('#mem_link').attr('href',mem_link);	
						$('#login_box').css('display','none');	
						$('#logout_box').css('display','');	
						<?php if(!empty($returnLink)){	?>
							$('#actionMessage').html(succMsgDesign(json_arr.msg+'<?php echo $redirect_msg; ?>'));	
							document.location.href='<?php echo $returnLink;  ?>';
							<?php } ?>																							
					}
					else if(json_arr.status == 'errV')
					{					
						$('#actionMessage_partial').html(errMsgDesign("<?php echo strip_tags($translator->translator('common_err','', '', $front_template['theme_folder'])); ?>"));
						$('#signin_frm').css('display','');	
						$('#signout_frm').css('display','none');
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#signin_frm').css('display','');	
						$('#signout_frm').css('display','none');					
						$('#actionMessage_partial').html(errMsgDesign(json_arr.msg));
					}
					$('#loader_process').css('display','none');	
				}
		});
	});	
	
	$('input.logout_btns').click(function() {
		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Members','controller' => 'frontend', 'action'     => 'logout' ), 'adminrout',    false) ?>",
			  	type: 'POST',
				beforeSend: function(){						
						removeError();
						$('#signout_frm').css('display','none');
						$('#loader_process').css('display','');			
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");										
					if(json_arr.status == 'ok')
					{	
						$('#signin_frm').css('display','');	
						$('#signout_frm').css('display','none');
						
						$('#actionMessage_partial').html(succMsgDesign(json_arr.msg));	
						
						$('#actionMessage').html(succMsgDesign(json_arr.msg));	
						$('#login_box').css('display','');	
						$('#logout_box').css('display','none');																																		
					}
					else if(json_arr.status == 'errV')
					{		
						$('#signin_frm').css('display','');	
						$('#signout_frm').css('display','none');				
						
						$('#actionMessage_partial').html(errMsgDesign("<?php echo $translator->translator('common_err','', '', $front_template['theme_folder']); ?>"));												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							addError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{		
						$('#signin_frm').css('display','');	
						$('#signout_frm').css('display','none');				
					
						$('#actionMessage_partial').html(errMsgDesign(json_arr.msg));						
					}	
					$('#loader_process').css('display','none');	
					refreshCaptchaBox(json_arr);					
				}
		});
	});

	$('a.refresh_tokens').click(function() {		
		var self = this;	
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Members','controller' => 'frontend', 'action'     => 'token' ), 'adminrout',    false) ?>",
			  	type: 'POST',
				beforeSend: function(){	
						var option = '<img src="data/adminImages/loginImages/token_ani.gif" border="0" width="15" height="15"  title="Refreshing Token" />';						
						$(self).html(option);			
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");										
					if(json_arr.status == 'ok')
					{
						$('#token_box').val(json_arr.token);						
						$(self).html('<img src="data/adminImages/loginImages/token.png" border="0" width="15" height="15"  title="Click To Refresh Token" />');
					}
				}
		});
	});	
		
});

function refreshCaptchaBox(json_arr)
{
	if(json_arr.captcha && json_arr.captcha.status && json_arr.captcha.status == 'ok')
	{
		var captcha_name = json_arr.captcha.captcha_name;
		$('input[name="'+captcha_name+'[id]"]').prev('img').attr('src', json_arr.captcha.ImgUrl+json_arr.captcha.id+json_arr.captcha.Suffix);
		$('input[name="'+captcha_name+'[id]"]').val(json_arr.captcha.id);
		$('#'+captcha_name+'_box_err').html('');		
	}
}
</script>

<form name="login_box_frm" id="login_box_frm" method="post" action="" role="form">
	<div class="block block-login">
		<h3><span class="glyphicon glyphicon-user"></span> <?php echo $translator->translator('block_memberlogin_title','','', $front_template['theme_folder']); ?></h3>
        
        <div id="signin_frm" style="display:<?php if(Zend_Auth::getInstance()->hasIdentity()){	?>none;<?php }?>">
            <div id="actionMessage_partial"></div>
            <div class="form-group">
                <input name="username_box" type="text" id="username_box" class="form-control" placeholder="<?php echo $translator->translator('block_memberlogin_user','','', $front_template['theme_folder']); ?>">
                <span id="username_box_err" class="signin_arr"></span>
            </div>
            
            <div class="form-group">
                <input name="password_box" type="password" id="password_box" class="form-control" placeholder="<?php echo $translator->translator('block_memberlogin_password','','', $front_template['theme_folder']); ?>">
                <span id="password_box_err" class="signin_arr"></span>
            </div>
            
            <?php
            if($this->loginForm->login_captcha)
            {
                $this->loginForm->login_captcha->getCaptcha()->setWidth('140');
            ?>                    
            <div class="form-group">   
            	<?php $this->loginForm->login_captcha->setAttrib('class', 'captcha form-control'); $this->loginForm->login_captcha->setAttrib('style', ''); echo $this->loginForm->login_captcha; ?>
            	<span id="login_captcha_box_err" class="signin_arr"></span>
          	</div>
            <?php
            }
            ?>
            <input type="hidden" name="token_box" id="token_box" value="" />
            <span id="token_box_err"></span>
            
            <input type="button" name="Submit2" value="<?php echo $translator->translator('block_memberlogin_button','','', $front_template['theme_folder']); ?>" class="btn login_btns">
           	
            <!--<input name="Input" type="checkbox" value="" />-->
            <?php //echo $translator->translator('block_memberlogin_remember','','', $front_template['theme_folder']); ?>
            
            <div class="checkbox">
            	<label>
                	<input name="Input" type="checkbox" value="" /> <?php echo $translator->translator('block_memberlogin_remember','','', $front_template['theme_folder']); ?>
                </label>
                &nbsp; <a href="Forget-Password"><span class="glyphicon glyphicon-asterisk"></span> <?php echo $translator->translator('block_memberlogin_forget','','', $front_template['theme_folder']); ?></a>
            </div>
            <hr>
          	<?php if($global_conf["fb_login"] == "yes" && !empty($fb_api_id)){ ?>
           		<a href="javascript:void(0)" id="fb_login_btn_block" class="btn btn-facebook"><i class="icon-facebook"></i><div></div><?php echo $translator->translator('members_login_with_facebook_button_label', '', 'Members'); ?></a>
           	<?php } ?>
        </div>
                
        <div id="signout_frm" style="display:<?php if(!Zend_Auth::getInstance()->hasIdentity()){ ?>none;<?php }?>">
          	<br>
            <input type="button" name="login" value="<?php echo $translator->translator('block_memberlogout_button','','', $front_template['theme_folder']); ?>" class="btn btn-logout logout_btns" />
        </div>
        
        <div id="loader_process" style="display:none;">
            <div class="login-loader"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/login-loader.gif" border="0" /></div>
        </div>
	</div>
</form>