<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 

$this->headTitle()->headTitle($this->translator->translator('hotels_price_plan_add_page_name'),'SET');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$list_page_route = 'Members-Hotel-Price-List/*';
?>

<script type="text/javascript">
$(document).ready(function() {	
	
	var settingObj = {
						calendar: {
							calendar_include_time: false,
							calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
							monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
							monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
							dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
							buttonText:		'calendar',
							dateFormat:		'yy-mm-dd',
							dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						form_action : {
										form_id: 'formPrice',
										hasTinyMCE: false,
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',
										extra_field_for_reset: [
											{field_id : 'selected_file_room_type_image', field_value: '' , field_type : 'html'},
											{field_id : 'primary_image', field_value: '' , field_type : 'val'},
											{field_id : 'room_type_image', field_value: '' , field_type : 'val'}
										],
										extra_function_for_reset: function(){},										
								},					
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};
					
		
	commonCalendar('season_start_date', settingObj, false);
	commonCalendar('season_end_date', settingObj, false);
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
	});	
	
	$('a.add_price_plan_btn').click(function() {			
		if(commonCheckGreater('price_per_night', 'price_after_discount'))
		{	
			var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);	
						
			$.ajax({
					url: "<?php echo $this->url( array('module' => 'Hotels','controller' => 'members', 'action' => 'addprice' ), 'Members-Hotel-Price-List-Add/*',    true) ?>",
					type: 'POST',
					beforeSend: function(){						
							commonRemoveFormError(settingObj);
							commonOpenLoaderDialog(settingObj);				
						 },
					data: formData,
					success: function(response){
						//alert(response);					
						try
						{				
							var json_arr = eval("("+response+")");					
							commonCloseLoaderDialog(settingObj);					
							if(json_arr.status == 'ok')
							{
								$('#actionMessage').html(succMsgDesign(json_arr.msg));						
								commonResetFormFields(settingObj);							
							}
							else if(json_arr.status == 'errV')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
									commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
								}
							}
							else
							{
								$('#actionMessage').html(errMsgDesign(json_arr.msg));
							}
						}
						catch(e)
						{
							commonCloseLoaderDialog(settingObj);
							$('#actionMessage').html(errMsgDesign(e+' : '+response));
						}
					},
					error: function(xhr, status, error){
						commonCloseLoaderDialog(settingObj);
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));
					}
			});
		}
		else
		{
			var	msg = "<span class='ui-icon ui-icon-alert' style='float:left; margin:0 0px 0px 0;'></span><?php echo $this->translator->translator("hotels_strickthrow_price_input_error"); ?>";
			commonMsgDialog(settingObj, msg);			
		}
	});	
	
});
</script>


<div class="title-container">
	<div class="products-add"><h1><?php echo $this->translator->translator('hotels_price_plan_add_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'members', 'action'     => 'listprice'), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_price_plan_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
    <div class="clr"></div>
</div>

<div class="content-container" id="topGo">
	
    
    <div>
    	<div id="actionMessage"></div>
        <form name="formPrice" id="formPrice" method="post"> 
        <?php
			$groupsObj = $this->priceForm->getDisplayGroups();
			
			foreach($groupsObj as $group_key => $staticGroup)
            {
			?>           
            <div id="generalInfo">
                <fieldset class="fieldset last">
                    <legend class="legend"><?php echo $this->translator->translator($staticGroup->getLegend()); ?></legend> 
                    <div>
                        <?php												
                            $elements = $staticGroup->getElements();
                            foreach($elements as $element)
                            {
								if($element->getName() != 'minimum_stay_night' && $element->getName() != 'room_tax_type')
                                {
									if($element->getName() == 'room_type_image')
									{
							?>
							<div class="form-label-container">
								<div class="label_class">
									<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="star_class">*</span><?php } ?>
								</div>
							 </div> 
							 <div class="form-field-container">    
								<div class="form-field">                        	
									<div class="upload-img">
										<?php	
											if($this->auth->getIdentity()->access_file_image_manager == '1')
											{
										?>
											<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
										<?php
											}
											else
											{
										?>
											<script type="text/javascript">
												$(function(){
													/**************************FILE UPLOAD START******************************/																					
													dynamicUploader("<?php echo $element->getName(); ?>_upload", "<?php echo $element->getName(); ?>", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
													/**************************FILE UPLOAD END*********************************/
												});
											</script>
											<input type="file" name="<?php echo $element->getName(); ?>_upload" id="<?php echo $element->getName(); ?>_upload" />
										<?php } ?>
									</div>                            
									<?php echo $element; ?>                                
									<div class="clr"><span id="selected_file_<?php echo $element->getName(); ?>"></span></div>
									<div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>                                    
								</div>
								<?php if($element->getAttrib('title')) : ?>
								<div class="form-field-info">
									<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
								</div>
								<?php endif; ?>
							</div>
							<?php
									}
									else if($element->getName() == 'primary_image')
									{
							?>
							<div class="form-label-container">
								<div class="label_class">&nbsp;</div>
							 </div> 
							 <div class="form-field-container">    
								<div class="form-field"> &nbsp;                           
									<div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
								</div>
							</div>
							<?php
									}
									else
									{
							?>
							<div class="form-label-container">
								<div class="label_class">
									<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="star_class">*</span><?php } if($element->getName() == 'room_type_id'){ echo '  <a href="'.$this->url(array('module' => 'Hotels','controller' => 'members', 'action'     => 'addroomtype' ), 'Members-Hotel-Room-Type-List-Add/*',    true).'" target="_blank">('.$this->translator->translator('common_add').')</a>'; } ?>
								</div>
							</div> 
							 <div class="form-field-container">     
								<div class="form-field">
									<?php echo $element; if($element->getName() == 'price_per_night' || $element->getName() == 'price_after_discount' || $element->getName() == 'seasonal_price_per_night') { echo ' '.$currency->getSymbol(); }?>
									<?php if($element->getName() == 'minimum_stay'){ $staticElement = $staticGroup->getElement('minimum_stay_night'); echo ' '.$staticElement; if($staticElement->getAttrib('right_label')){ echo' '. $staticElement->getAttrib('right_label'); }  } ?>
									<?php if($element->getName() == 'room_tax'){ $staticElement = $staticGroup->getElement('room_tax_type'); echo ' '.$staticElement; if($staticElement->getAttrib('right_label')){ echo' '. $staticElement->getAttrib('right_label'); }  } ?>
									<div id="<?php echo $element->getName().'_link'; ?>"></div>
								</div>
								<?php if($element->getAttrib('title')) : ?>
								<div class="form-field-info">
									<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
								</div>
								<?php endif; ?>
                                <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
							</div>
							<?php
									}
								}
                            }
                        ?>
                    </div>
                </fieldset>
            </div>
            <?php
			}
			?>
        </form>
	</div>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'members', 'action'     => 'listprice' ), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_price_plan_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_price_plan_add_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>