<div id="container">
<?php 
$u_user_id = ($this->auth->hasIdentity ()) ? $this->auth->getIdentity()->user_id : '' ;
if (!$this->allow() || ($this->auth->getIdentity()->access_other_user_article != '1' && $u_user_id != $this->entry_by)) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 

$this->headTitle()->headTitle($this->translator->translator('hotels_page_scheduler_page_name'),'SET');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$list_page_route = 'Members-Hotel-Room-List/*';

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

echo $this->headScript()->setFile('http://cdn.kendostatic.com/2013.2.918/js/kendo.timezones.min.js', '');
$allConfig = Zend_Registry::get('allConfig');
?>

<script type="text/javascript">
$(function() {
	
	var settingObj = {
						scheduler :{
								scheduler_id : 'scheduler',
								scheduler_settings : {
									date: new Date("<?php echo date("Y/m/d"); ?>"),
									startTime: new Date("<?php echo date("Y/m/d H:i A"); ?>"),		
									height: 'auto',
									views: [
										
										{ type: "month", selected: true, dayTemplate: kendo.template("<strong>#= kendo.toString(date, 'dd') #</strong><br /><?php echo html_entity_decode($this->translator->translator("hotels_front_page_list_available_type_yes"), ENT_QUOTES, 'UTF-8'); ?>") },
										"day",
										{ type: "workWeek" },
										"week",
										"agenda"
									   
									],
									resize: function(e) {
										if (roomIsOccupied(e.start, e.end, e.event, e.resources)) {
											this.wrapper.find(".k-marquee-color").addClass("invalid-slot");
											e.preventDefault();
										}
									},
									resizeEnd: function(e) {
										if (!checkAvailability(e.start, e.end, e.events)) {
											e.preventDefault();
										}
									},
									move: function(e) {
										if (roomIsOccupied(e.start, e.end, e.event, e.resources)) {
											this.wrapper.find(".k-event-drag-hint").addClass("invalid-slot");
										}
									},
									moveEnd: function(e) {
										if (!checkAvailability(e.start, e.end, e.event, e.resources)) {
											e.preventDefault();
										}
									},
									add: function(e) {										
										if (!checkAvailability(e.event.start, e.event.end, e.event)) {
											e.preventDefault();
										}
									},
									save: function(e) {
										if (!checkAvailability(e.event.start, e.event.end, e.event)) {
											e.preventDefault();
										}
									},
									timezone: "<?php echo $allConfig->datetime->eicra->timezone; ?>",
									eventTemplate: $("#event-template").html(),
									editable: {
										template: kendo.template($("#schedulerTemplate").html())
									},
									
									dataSource: {
										type: "json",			
										batch: true,
										transport: {
											read: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Hotels','controller' => 'members', 'action'     => 'scheduler', 'id' => $this->id), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);		
																					
													if(json.status == 'ok')
													{
													   if(settingObj.dataSource_transport_read_complete)
													   {
														   settingObj.dataSource_transport_read_complete(json);
													   }
													}
													else
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},
											create: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Hotels','controller' => 'Backendrooms', 'action'  => 'schedulercreate'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},
											update: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Hotels','controller' => 'Backendrooms', 'action'     => 'schedulerupdate'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},											
											destroy: {
												type: "POST",
												url: "<?php echo $this->url(array('module' => 'Hotels','controller' => 'Backendrooms', 'action'  => 'schedulerdelete'), 'adminrout',    true); ?>",
												dataType: "json",
												complete: function(e) {
													var json = $.parseJSON(e.responseText);														
													if(json.status == 'err')
													{
													   commonMsgDialog(settingObj, json.msg);
													}
												}
											},  										        
											parameterMap: function(options, operation) {
												
												if (operation !== "read" && options.models) {
													return {models: kendo.stringify(options.models)};
												}
											}
										},
										schema: {
											data:	function(response){ 					  
												  return response.data_result; 
											  },
											model: {
												id: "id",
												fields: {														
													 	id: { from: "id", type: "number" },
														room_id: { from: "room_id", type: "number", defaultValue: "<?php echo $this->id; ?>"  },
														title: { from: "Title", defaultValue: "<?php echo $this->escape($this->roomInfo['room_name']); ?>", validation: { required: true } },
														start: { type: "date", from: "Start" },
														end: { type: "date", from: "End" },
														startTimezone: { from: "StartTimezone" },
														endTimezone: { from: "EndTimezone" },
														description: { from: "Description" },
														recurrenceId: { from: "RecurrenceID" },
														recurrenceRule: { from: "RecurrenceRule" },
														recurrenceException: { from: "RecurrenceException" },
														book_status: { from: "book_status", defaultValue: 2 },
														isAllDay: { type: "boolean", from: "IsAllDay" }                      
												}
											}
										},
										error: function (e) {						
													commonMsgDialog(settingObj, e.xhr.responseText);
												  },
										filter: {
											logic: "or",
											filters: [
												{ field: "room_id", operator: "eq", value: <?php echo $this->id; ?> }
											]
										},			
									},
									group: {
										resources: [ "room" ]
									},
									resources: [
											{
												field: "book_status",
												title: "<?php echo html_entity_decode($this->translator->translator("hotels_status"), ENT_QUOTES, 'UTF-8'); ?>",
												dataSource: [
													{ text: "<?php echo html_entity_decode($this->translator->translator("hotels_front_page_list_available_type_book"), ENT_QUOTES, 'UTF-8'); ?>", value: 2, color: "#FF9900" },
													{ text: "<?php echo html_entity_decode($this->translator->translator("hotels_front_page_list_head_not_available_room"), ENT_QUOTES, 'UTF-8'); ?>", value: 3, color: "#FF0000" }
												]
											},											
											{
												field: "room_id",
												title: "<?php echo html_entity_decode($this->translator->translator("hotels_invoice_room_no_chose"), ENT_QUOTES, 'UTF-8'); ?>",
												name : 'room',
												dataSource: [
													{ text: "<?php echo $this->escape($this->roomInfo['room_name']); ?>", value: <?php echo $this->id; ?>}
												]
											}											
										],
									messages : {
										allDay				: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_all_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										cancel				:	"<?php echo html_entity_decode($this->translator->translator('common_cancel'), ENT_QUOTES, 'UTF-8'); ?>",
										date				:	"<?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?>",	
										deleteWindowTitle	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_delete_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										destroy				:	"<?php echo html_entity_decode($this->translator->translator('common_delete'), ENT_QUOTES, 'UTF-8'); ?>",
										event				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_event', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										save				:	"<?php echo html_entity_decode($this->translator->translator('common_save'), ENT_QUOTES, 'UTF-8'); ?>",
										showFullDay			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_show_full_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										showWorkDay			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_show_work_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										time				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_time', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										today				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_today', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
										editor				:	{
																	allDayEvent 			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_all_day_event', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	description 			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_description', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editorTitle				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_editor_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	end						:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_end', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	endTimezone				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_end_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	repeat					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_repeat', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	separateTimezones		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_separate_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	start					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_start', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezone				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezoneEditorButton	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone_button', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	timezoneEditorTitle		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_timezone_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	title					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_editor_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																},
										recurrenceEditor	:	{
																	daily					:	{
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_daily_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_daily_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	monthly					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_monthly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	yearly					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_of', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_yearly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	weekly					:	{
																									interval 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_interval', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatEvery				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_repeat_every', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									repeatOn				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekly_repeat_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	weekdays					:	{
																									day		 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekday 				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_weekday', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekend					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_weekdays_weekend', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	end						:	{
																									after					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_after', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									occurrence				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									label					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_label', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									never					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_never', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									on						:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_end_on', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	frequencies				:	{
																									daily					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_daily', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									monthly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_monthly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									never					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_never', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									weekly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_weekly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									yearly					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_frequencies_yearly', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								},
																	offsetPositions			:	{
																									first					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_first', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									second					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_second', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									third					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_third', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									fourth					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_fourth', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																									last					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_editor_offset_positions_last', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																								}
																},
										recurrenceMessages	: 	{
																	deleteRecurring			: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_recurring', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowOccurrence	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowSeries		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_series', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	deleteWindowTitle		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_delete_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editRecurring			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_recurring', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowOccurrence	:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_occurrence', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowSeries		:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_series', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	editWindowTitle			:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_messages_edit_window_title', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																},
										views				: 	{
																	day						: 	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_day', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	week					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_week', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	workWeek				:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_work_week', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	month					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_month', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	agenda					:	"<?php echo html_entity_decode($this->translator->translator('portfolio_pagination_messages_scheduler_recurrence_views_agenda', '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
																}
									}
								}
							},						
						messages: {										
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_save_btn_text		:	"<?php echo html_entity_decode($this->translator->translator("hotels_date_add_page_save"), ENT_QUOTES, 'UTF-8'); ?>",
										common_field_must_not_empty	:	"<?php echo html_entity_decode($this->translator->translator("common_field_must_not_empty"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
					
	commonKendoScheduler(settingObj);
   
    function occurrencesInRangeByResource(start, end, resourceFieldName, event, resources) 
	{
			var scheduler = $("#scheduler").getKendoScheduler();
	
			var occurrences = scheduler.occurrencesInRange(start, end);
	
			var idx = occurrences.indexOf(event);
			if (idx > -1) {
			   occurrences.splice(idx, 1);
			}
	
			event = $.extend({}, event, resources);	
			
			return filterByResource(occurrences, resourceFieldName, event[resourceFieldName]);
	}
	
	function filterByResource(occurrences, resourceFieldName, value) 
	{
			var result = [];
			var occurrence;
	
			for(var idx = 0, length = occurrences.length; idx < length; idx++) {
				occurrence = occurrences[idx];	
				if (occurrence[resourceFieldName] === value) {
					result.push(occurrence);
				}
			}
			return result;
	}
	
	function roomIsOccupied(start, end, event, resources) 
	{
			var occurrences = occurrencesInRangeByResource(start, end, "room_id", event, resources);
			if (occurrences.length > 0) {
				return true;
			}
			return false;
	}
	
	function checkAvailability(start, end, event, resources) 
	{
			if (roomIsOccupied(start, end, event, resources)) {
				commonMsgDialog(settingObj, "<?php echo $this->translator->translator("hotels_scheduler_duplicate_entry_err"); ?>");
				return false;
			}
	
			return true;
	}
});
</script>
<script id="event-template" type="text/x-kendo-template">
	<div style="font-size:18px;">
    #= (book_status == 2)  ? "<?php echo html_entity_decode($this->translator->translator("hotels_front_page_list_available_type_book"), ENT_QUOTES, 'UTF-8'); ?>" : "<?php echo html_entity_decode($this->translator->translator("hotels_front_page_list_head_not_available_room"), ENT_QUOTES, 'UTF-8'); ?>" #
	</div>
</script>
<!-- CUSTOM EDITOR TEMPLATE START -->
  <script type="text/x-kendo-template" id="schedulerTemplate">
  <div class="k-edit-form-container">  	
	 <div class="k-edit-label">
      	<label for="start"><?php echo html_entity_decode($this->translator->translator("hotels_scheduler_start_label"), ENT_QUOTES, 'UTF-8'); ?></label>
      </div>
	<div data-container-for="start" class="k-edit-field">
    	<input name="start" type="text" required  data-type="date" data-role="datetimepicker" data-bind="value: start" />
	</div>
    <div class="k-edit-label"><label for="end"><?php echo html_entity_decode($this->translator->translator("hotels_scheduler_end_label"), ENT_QUOTES, 'UTF-8'); ?></label></div>
    <div data-container-for="end" class="k-edit-field">
    	<input name="end" type="text" required data-type="date" data-role="datetimepicker" data-bind="value: end" data-datecompare-msg="<?php echo html_entity_decode($this->translator->translator("portfolio_pagination_messages_scheduler_data_datecompare_msg", '', "Portfolio"), ENT_QUOTES, 'UTF-8'); ?>" />   
    </div>
	
	
	<div id="resourcesContainer"></div> 
	<script>
       jQuery(function() {
            var container = $("\#resourcesContainer");
            var resources = $("\#scheduler").data("kendoScheduler").resources;            
            for( resource = 0; resource<resources.length; resource++) 
            { 				
				$('<div class="k-edit-label"><label for="'+resources[resource].field+'">'+resources[resource].title+'</label></div><div class="k-edit-field" id="resourcesContainer'+resources[resource].field+'"></div>').appendTo(container);
               var fieldContainer = $("\#resourcesContainer"+resources[resource].field);
			    if(resources[resource].multiple)
                {
                   $(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
                     .appendTo(fieldContainer)
                     .kendoMultiSelect({
                         dataTextField: resources[resource].dataTextField,
                         dataValueField: resources[resource].dataValueField,
                         dataSource: resources[resource].dataSource,
                         valuePrimitive: resources[resource].valuePrimitive,
                         itemTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField),
                         tagTemplate: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)
                     });
            
                } else {
                   $(kendo.format('<select data-bind="value: {0}" name="{0}">', resources[resource].field))
                    .appendTo(fieldContainer)
                    .kendoDropDownList({
                        dataTextField: resources[resource].dataTextField,
                        dataValueField: resources[resource].dataValueField,
                        dataSource: resources[resource].dataSource,
                        valuePrimitive: resources[resource].valuePrimitive,
                        //optionLabel: "None",
                        template: kendo.format('<span class="k-scheduler-mark" style="background-color:\#= data.{0}?{0}:"none" \#"></span>\#={1}\#', resources[resource].dataColorField, resources[resource].dataTextField)
                     }); 
                }				
            }     
        })        
    <\/script> 
	   
  </div>  
   
 </script>
<!-- CUSTOM EDITOR TEMPLATE END -->

<div class="title-container">
	<div class="products-add"><h1><?php echo $this->translator->translator('hotels_page_scheduler_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'members', 'action'     => 'listroom'), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
       
    </div>
    <div class="clr"></div>
</div>

<div class="content-container" id="topGo">
    
    <div>
    	<div class="warning ssl-link"><?php echo $this->translator->translator('hotels_page_scheduler_add_edit_info'); ?></div>
      	<br />
        <div id="example" class="k-content">    
        	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>        
            	<div id="scheduler"></div>
            </div>
        </div>
	</div>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Hotels','controller' => 'members', 'action'     => 'listroom' ), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_page_scheduler_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
</div>