

<?php
if(isset($this->feedback)){
    if($this->feedback['type'] == 'err'){
        echo '<h3>ERROR: ' . $this->feedback['message'] . '</h3>';
    } elseif($this->feedback['type'] == 'msg') {
        echo '<h3>SUCCESS: ' . $this->feedback['message'] . '</h3>';
    }
}
?>