<?php

function rating($rate) {
    $r = '';
    for ($i = 0; $i < $rate; $i++) {
        $r.='<span class="glyphicon glyphicon-star"></span> ';
    }
    return $r;
}

$available_hotels = array();
$cancelPolicy = array();
$available_hotels = $this->view_datas['availableHotels'];
$cancelPolicy = $this->cancelPolicy;
//echo "<pre>";
//print_r($this->info);
//echo "</pre>";
?>
<div class="mod details">
    <?php if($this->info['name']): ?>
    <h1> <?php echo $this->info['name']; ?></h1>
    <?php else: ?>
    <h1> <?php echo $this->translator->translator('hotels_hotelspro_unknown_hotel'); ?> </h1>
    <?php endif; ?>
    <br><br>
    <span class='glyphicon glyphicon-map-marker'></span> 
        <?php if($this->info['address']){ echo $this->info['address']; }else{ echo $this->translator->translator('hotels_hotelspro_unknown_address'); } ?><br>
    <div class="ratings"><?php echo rating($this->info['rating']); ?></div>
    <p class="text-justify"><?php echo $this->info['info']; ?></p>
    <hr>
    <div class="call"><span class="glyphicon glyphicon-phone"></span> Cell: <?php if($this->info['phone']){ echo $this->info['phone']; }else{ echo $this->translator->translator('hotels_hotelspro_unknown_phone'); } ?></div>
    <hr>
    <?php
    $imgs = explode(",", $this->view_datas['image']);
    ?>
    <?php if($this->view_datas['image']): ?>
    <img class="img-thumbnail center-block" src="<?php echo $imgs[0]; ?>" alt="<?php echo $this->info['name']; ?>"> <hr>
    <?php
    foreach ($imgs as $img) {
    ?>
    <img src="<?php echo $img; ?>" alt="<?php echo $this->info['name']; ?>" height="100" width="100" class="img-thumbnail">
    <?php } ?>
    <?php else: ?>
    <img class="center-block" height='110' src="data/frontImages/hotels/no_image.png" alt="<?php echo $this->info['name']; ?>"> <hr>
    <img src="data/frontImages/hotels/no_image.png" alt="<?php echo $this->info['name']; ?>" height="70" width="70" class="img-thumbnail">
    <?php endif; ?>
    
    <br>
    <br>

    <div class="room-chart">
        <div class="room-chart-row">
            <div class="room-chart-header-col-1 details-header-col-1">
                <?php echo $this->translator->translator('hotels_hotelspro_available_room_types'); ?>                                  
            </div>

            <div class="room-chart-header-col-1 room-chart-header-col-2">
                <?php echo $this->translator->translator('hotels_hotelspro_people'); ?>                                
            </div>

            <div class="room-chart-header-col-1 room-chart-header-col-3 details-header-col-3">
                <?php echo $this->translator->translator('hotels_hotelspro_total_payable'); ?>                                
            </div>

            <div class="room-chart-header-col-1 room-chart-header-col-4 details-header-col-4">
                <?php echo $this->translator->translator('hotels_hotelspro_action'); ?>                              
            </div> 
        </div>
    </div>
    
    <?php 
    
    
    ?>
    <?php for($i = 0; $i < count($available_hotels); $i++): ?>
    <?php 
    $availableRooms = $available_hotels[$i]['rooms']; 
    $currency = $available_hotels[$i]['currency'];
    $totalAmount = $available_hotels[$i]['totalSalePrice'];
    ?>
    <div class="room-chart chart-border">
        <!-- Row-2 & Row-3 Start -->
        <div class="room-chart-row2 room-chart-row3">
            <div class="room-chart-c1 details-col-1">
                <span><a href="javascript: void(0);" class="toggle_desc preview chart-link" rel="<?php echo $availableRooms[0]['roomCategory']; ?>" link="" title="<?php echo $availableRooms[0]['roomCategory']; ?>"><?php echo $availableRooms[0]['roomCategory']; ?></a></span>
                <br><br>
                <p>Board Type: <?php echo $available_hotels[$i]['boardType']; ?></p>            
            </div>

            <div class="room-chart-c1 room-chart-c2">
                <a class="preview" link="" title="<b>Max People :</b> 2 per room"></a>
                <div class="text-center">
                    <?php $adult = 0; $child = 0; ?>
                    <?php foreach($availableRooms[0]['paxes'] AS $paxType): ?>
                        <?php if($paxType['paxType'] == "Adult"): ?>
                        <img src="data/frontImages/hotels/adult.png" border="0" height="30" title="<?php echo '1 ' . $paxType['paxType']; ?>">
                        <?php else: //if($paxType['paxType'] == "Adult"): ?>
                        <img src="data/frontImages/hotels/child.png" border="0" height="20" title="<?php echo '1 ' . $paxType['paxType']; ?>">
                        <?php endif; //if($paxType['paxType'] == "Adult"): ?>
                    <?php endforeach; ?>
                </div>
            </div>

            <div class="room-chart-c1 room-chart-c3 details-col-3">
                <!-- PRICE START -->
                
                <?php foreach($availableRooms[0]['ratesPerNight'] AS $rate): ?>
                <p>Rate for <?php echo date("d M", strtotime($rate['date'])); ?> is <span class="label label-warning"><?php echo $currency . ' ' . number_format($rate['amount'],2); ?></span></p>
                <?php endforeach; ?>
                <br>
                <span class="hotel-price">Total Price: <?php echo $currency . ' ' . $totalAmount; ?></span>
                <!--<span class="hotel-price">  </span>-->
                <br>
                    <!--<a class="text-right chart-link" href="javascript:void(0)" onclick="showrate(0);">View fee details</a>-->

                <br><br>
                <?php
                if(is_array($cancelPolicy['cancellationPolicy'])){
                    foreach($cancelPolicy['cancellationPolicy'] AS $canPolicy):
                        if($canPolicy['cancellationDay'] > 250):
                        ?>
                            <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> <?php echo $this->translator->translator('hotels_hotelspro_non_refund_policy'); ?><?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                        <?php
                        elseif($canPolicy['cancellationDay'] == 0):
                            ?>
                            <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> <?php echo $this->translator->translator('hotels_hotelspro_no_show_policy'); ?><?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                            <?php
                        else:
                            ?>
                            <a title="<?php echo $canPolicy['remarks']; ?>" href="javascript:void(0)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-book"></span> <?php echo $this->translator->translator('hotels_hotelspro_cancellation_policy'); ?><?php echo $canPolicy['feeAmount'] . ' ' . $canPolicy['feeType']; ?>)</a><br><br>
                            <?php
                        endif;
                    endforeach;
                }
                ?>
                <!-- PRICE END -->
                <?php $arrRoom = base64_encode(Zend_Json_Encoder::encode ($available_hotels[$i])); ?>
            </div>
            <!-- BOOK BUTTON STARTS -->
            <div class="room-chart-c1 room-chart-c4 details-col-4">
                <div class="room-chart book-btn-area">
                    <?php if($this->condition): ?>
                    <a href="Hotelspro-book/<?php echo $this->info['hotel_code']; ?>/<?php echo $this->view_datas['availableHotels'][0]['processId']; ?>/<?php echo $this->search_id; ?>/<?php echo $arrRoom; ?>/<?php echo $this->country; ?>" target="_blank" class="btn btn-book btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> Book Now</a>
                    <?php endif; ?>
                </div>

                <!-- BOOK BUTTON END -->
            </div>                                                                       
        </div>

    </div>
    
    
    <?php endfor; //for($i = 0; $i < count($available_hotels['rooms']); $i++): ?>
    
</div>