<?php
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jquery.scrollTo-min.js');
$this->proForm->setEditor($this->serverUrl().$this->baseUrl());
$this->proForm->getEditor();

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$auth = Zend_Auth::getInstance ();	
$u_role_id = ($auth->hasIdentity ()) ? $auth->getIdentity()->role_id : '' ;
$u_user_id = ($auth->hasIdentity ()) ? $auth->getIdentity()->user_id : '' ;

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$frontController = Zend_Controller_Front::getInstance();
$param_group_id = $frontController->getRequest()->getParam('group_id');
?>

<script type="text/javascript">
var settingObj = {
						tab_base_link: '',
						form_action : {
											form_id: 'formItem',
											hasTinyMCE: true,											
											currency_symbol:	"<?php echo $currency->getSymbol(); ?>",
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [
												{field_id : 'categoryTree', field_value: '' , field_type : 'html'},
												{field_id : 'product_parent', field_value: '0' , field_type : 'val'},
												{field_id : 'product_thumb', field_value: '' , field_type : 'val'},
												{field_id : 'product_file', field_value: '' , field_type : 'val'},
												{field_id : 'dataId', field_value: '<?php echo $this->translator->translator("gallery_tree_root"); ?> (0)' , field_type : 'html'}
											],
											extra_function_for_reset: function(){
												$('a.back_btn_link').attr('href','<?php echo $this->url( array("module" => "Gallery","controller" => "backendpro", "action"  => "list" ,"group_id" => $param_group_id), "adminrout",    true) ?>');
												commonRemoveTabs(settingObj);
											},
											category_tree:{
												category_tree_id: 'categoryTree',
												category_tree_input_field_id : 'product_parent',
												category_tree_input_html_id : 'dataId',
												category_tree_dest_url: "<?php echo $this->url( array('module' => 'Gallery','controller' => 'backend', 'action'     => 'parent' ), 'adminrout',    true) ?>",
												tree_view: {
													dragAndDrop : true,
													template: "<label><input type=\"radio\" name=\"radio\" />#= item.text #</label>",
													dataBound	: function(obj){
															try
															{															
																var treeView = $("#"+settingObj.form_action.category_tree.category_tree_id).data('kendoTreeView');
																var getitem = treeView.dataSource.get("<?php echo (!empty($this->category_info['id'])) ? $this->category_info['id'] : '0'; ?>");
																if(getitem)
																{
																	var selectitem = treeView.findByUid(getitem.uid);
																	treeView.select(selectitem);
																}
															}
															catch(e)
															{
																
															}
													},
													dataSource :  {
														transport: {
																read: {
																	url: "<?php echo $this->url( array('module' => 'Gallery','controller' => 'backend', 'action'     => 'gallerygroup' ), 'adminrout',    true) ?>",
																	dataType: "json",
																	type: "POST",
																	data : {expanded : null}, // true is enable null is disable
																	complete: function(e) {																		
																		var json_arr = $.parseJSON(e.responseText);	
																		if(json_arr.status == 'ok')
																		{																			
																			$.each(json_arr.TreeDataSource, function(key, arr_obj){
																				if(arr_obj['id'] == '0')
																				{																					
																					if(json_arr.group_info)
																					{
																						if(json_arr.group_info.gallery_type)
																						{
																							switch(json_arr.group_info.gallery_type)
																							{
																								case 'image':
																								case 'chart':
																									$('#product_file_upload_btn').attr('rel', 'product_image');
																								break;
																								case 'video':
																									$('#product_file_upload_btn').attr('rel', 'product_video');
																								break;
																								case 'music':
																									$('#product_file_upload_btn').attr('rel', 'product_audio');
																								break;
																								default:
																									$('#product_file_upload_btn').attr('rel', 'product_image');
																								break;
																							}
																						}
																					}
																					commonDynamicFieldGenrator(json_arr.dynamic_field_arr, settingObj);
																					<?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
																						uploadSettingsStart(json_arr);
																					<?php } ?>
																				}
																			});
																		}
																		else
																		{
																		   commonMsgDialog(settingObj, json.msg);
																		   <?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
																				uploadSettingsEnd();			
																			<?php } ?>
																		}
																	}
																}
															},
															schema: {
																data: 'TreeDataSource',
																model: {
																	id : 'id',
																	text : 'text' ,
																	hasChildren: 'hasChildren'  
																}
															}	
													}
												}
											},
											dynamic_field_generator: {
												has_tab	: false,
												tab_id	: 'tabs',
												html_input_id: 'dynamic_fields',												
												uploader_upload_url: '<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>',
												uploader_remove_url: '<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>',
												constants: {
														DYNAMIC_FIELD_GROUP_TITLE 		: 	'<?php echo Eicra_File_Constants::DYNAMIC_FIELD_GROUP_TITLE; ?>',
														DYNAMIC_FIELD_GROUP_ELEMENTS	:	'<?php echo Eicra_File_Constants::DYNAMIC_FIELD_GROUP_ELEMENTS; ?>',
														DATE							:	'<?php echo Eicra_File_Constants::DATE; ?>',
														PRICE							:	'<?php echo Eicra_File_Constants::PRICE; ?>'
												},
												langueges:{
													common_go_top_title: "<?php echo html_entity_decode($this->translator->translator('common_go_top_title'), ENT_QUOTES, 'UTF-8'); ?>",
												},
												after_add_function : function(){
													//qToolTipFunctions();
												}
											}
									},
						calendar:	{
										calendar_include_time: true,	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'yy-mm-dd',
										dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: ''
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
$(document).ready(function() {	
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	/**********Scrolling Tools Start****************/
	$.easing.elasout = function(x, t, b, c, d) {
		var s=1.70158;var p=0;var a=c;
		if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		if (a < Math.abs(c)) { a=c; var s=p/4; }
		else var s = p/(2*Math.PI) * Math.asin (c/a);
		return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	};
	
	$('#toc a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		$.scrollTo( this.hash, 1500, { easing:'swing' });
		$(this.hash).find('span.message').text( this.title );
		return false;
	});
	
	$('span.top-go a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		$.scrollTo( this.hash, 1500, { easing:'swing' });		
		return false;
	});	
	/**********Scrolling Tools END****************/
	
	$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		var group_id = $("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
		var rel = $(self).attr('rel');	
		$('input[name="file_path_field"]').val('file_path_'+rel);	
		var file_suffix = (rel == 'product_thumb') ? rel : 'product_file';	
		var file_extension_field = (rel == 'product_thumb') ? 'file_thumb_type' : 'file_type';	
		var file_content = $('#'+file_suffix).val();		
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);	
		$('input[name="file_extension_field"]').val(file_extension_field);				
		var product_code = $("#product_code").val();
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{
			msg = '<?php echo $this->translator->translator("group_id_selected_err"); ?>';
			commonMsgDialog(settingObj, msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {		 
		
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				commonMsgDialog(settingObj, msg);
			}
			else
			{
				var img_code = '';
				var file_name = '';
				for(var i=0;i < selected_files_arr.length;i++)
				{
					//var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
					var ext = getCommonFileExtension(selected_files_arr[i]);
					var img_path = commonFilePath(file_path, selected_files_arr[i]);					
					var checked = (i == 0)? ' checked="checked" ' : '';
					var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related'); ?></span>";
																
					var fileObj = { extension : '.' + ext };
					var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
					var primary = '<input class="radio_style" type="radio" name="'+primary_file_field+'_primary" id="'+primary_file_field+'_primary" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
											
					var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
					img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
					file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];					
				}			
				var file_suffix = (primary_file_field == 'product_thumb') ? primary_file_field : 'product_file';		
				$('#selected_file_'+file_suffix).html(img_code);		
				$('#'+file_suffix).val(file_name);		
				$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
				$("#upload-form").dialog('option','hide','explode').dialog('close');				
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main'); ?>", "<?php echo $this->translator->translator('gallery_img_related'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				commonImageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {				
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});
		
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
		<?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
			uploadSettingsEnd();			
		<?php } ?>	
	});
		
	$('a.add_product_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
			
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Gallery','controller' => 'Backendpro', 'action'     => 'add' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);					
					var json_arr = eval("("+response+")");					
					commonCloseLoaderDialog(settingObj);					
					if(json_arr.status == 'ok')
					{
						$('#actionMessage').html(succMsgDesign(json_arr.msg));						
						commonResetFormFields(settingObj);							
					}
					else if(json_arr.status == 'errV')
					{
						$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
												
						for(var i= 0; i < json_arr.msg.length; i++)
						{
							focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
							commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
						}
					}
					else
					{
						$('#actionMessage').html(errMsgDesign(json_arr.msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
	
	/***********************************Get Gallery Group***************************************/
	$('select[name="group_id"]').change(function() {		
		var group_id = $('#group_id').val();
		$("#"+settingObj.form_action.category_tree.category_tree_input_html_id).html('<?php echo $this->translator->translator("common_tree_root"); ?> (0)');
		$("#"+settingObj.form_action.category_tree.category_tree_input_field_id).val('0');
		commonRemoveTabs(settingObj);
		if(group_id != '')
		{
			settingObj.form_action.category_tree.tree_view.dataSource.transport.read.data['grp_id'] = group_id; 
			//settingObj.form_action.category_tree.tree_view.dataSource.transport.read.data['id'] = '35'; 
			$('a.back_btn_link').attr('href','Gallery/backendpro/list/group_id/'+group_id);
			commonKendoTreeGen(settingObj);
		}
		else
		{
			<?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
				uploadSettingsEnd();			
			<?php } ?>	
			commonDestroyKendoTreeGen(settingObj);					
			$('a.back_btn_link').attr('href','Gallery/backendpro/list');
		}		
		$('#group_id_err').html('');		
	});	
	
	/*$('select.product_select_group1').change(function() {			
		var group_id = $('#group_id').val();
		commonRemoveTabs(settingObj);
		if(group_id != '')
		{
			$('a.back_btn_link').attr('href','Gallery/backendpro/list/group_id/'+group_id);
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'Gallery','controller' => 'Backend', 'action'     => 'gallerygroup' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: { grp_id: group_id },
				beforeSend: function(){						
						$('#group_id_loader').html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" border="0" height="15" class="left-float"/>');
				},
				success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					if(json_arr.status == 'ok')
					{
						var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("gallery_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
							tree += json_arr.galleryGroup+'</tbody></table>';						
						$("#"+settingObj.form_action.category_tree.category_tree_id).html(tree);
						commonCategoryTreeGen(settingObj);						
					}
					else
					{
						var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("gallery_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
							tree += '</tbody></table>';
						$("#"+settingObj.form_action.category_tree.category_tree_id).html(tree);
						commonCategoryTreeGen(settingObj);						
					}
					if(json_arr.group_info)
					{
						if(json_arr.group_info.gallery_type)
						{
							switch(json_arr.group_info.gallery_type)
							{
								case 'image':
								case 'chart':
									$('#product_file_upload_btn').attr('rel', 'product_image');
								break;
								case 'video':
									$('#product_file_upload_btn').attr('rel', 'product_video');
								break;
								case 'music':
									$('#product_file_upload_btn').attr('rel', 'product_audio');
								break;
								default:
									$('#product_file_upload_btn').attr('rel', 'product_image');
								break;
							}
						}
					}
					commonDynamicFieldGenrator(json_arr.dynamic_field_arr, settingObj);
					$('#group_id_err').html('');
					$('#group_id_loader').html('');
					<?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
						uploadSettingsStart(json_arr);
					<?php } ?>
				}
			});
		}
		else
		{
			var tree = '<table class="example" id="dnd-example">'+
										'<tbody ><tr id="node-0">'+
										 '<td>'+
											'<span class="folder"><?php echo $this->translator->translator("gallery_tree_root"); ?></span>'+
										'</td>'+
									'</tr>';
				tree += '</tbody></table>';
			$("#"+settingObj.form_action.category_tree.category_tree_id).html(tree);
			commonCategoryTreeGen(settingObj);
			$('#group_id_err').html('');
			$('#group_id_loader').html('');
			$('a.back_btn_link').attr('href','Gallery/backendpro/list');
			<?php if($auth->getIdentity()->access_file_image_manager != '1'){ ?>
				uploadSettingsEnd();			
			<?php } ?>
		}		
	});	*/
	
});


/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#product_thumb_block').prepend('<input type="file" name="product_thumb_upload" id="product_thumb_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	thumb_setting_param['file_path_field'] = 'file_path_product_thumb';
	thumb_setting_param['file_extension_field'] = 'file_thumb_type';
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('product_thumb_upload', 'product_thumb', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#product_file_block').prepend('<input type="file" name="product_file_upload" id="product_file_upload" />');	
	var file_setting_param = json_arr.param_fields;
	file_setting_param['file_extension_field'] = 'file_type';
	switch(json_arr.group_info['gallery_type'])
	{
		case 'image':
		case 'chart':
			file_setting_param['file_path_field'] = 'file_path_product_image';
		break;
		case 'video':
			file_setting_param['file_path_field'] = 'file_path_product_video';
		break;
		case 'music':
			file_setting_param['file_path_field'] = 'file_path_product_audio';
		break;
		default:
			file_setting_param['file_path_field'] = 'file_path_product_image';
		break;
	}	
	var file_setting_info = getSettingInfo(json_arr.group_info, file_setting_param);							
	dynamicUploader('product_file_upload', 'product_file', file_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#product_thumb_err').html("");
	$('#product_file_err').html("");
}

function uploadSettingsEnd()
{	
	$('#product_thumb_upload').parents('div.k-upload').remove();	
	$('#product_file_upload').parents('div.k-upload').remove();	
	$('#product_thumb_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
	$('#product_file_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}

function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);			
		
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';			
		switch(upload_value_field)
		{
			case 'product_thumb':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="product_thumb_primary" id="product_thumb_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
				break;
			case 'product_file':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="product_file_primary" id="product_file_primary" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("gallery_primary"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();	
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
</script>
<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : ?>

<div class="title-container">
	<div class="products-add"><h1><?php echo $this->translator->translator('gallery_product_add_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Gallery','controller' => 'Backendpro', 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_product_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div class="content-container" id="topGo">
	<div id="sidebar-inner">
    	<div id="nav" <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
    		<div class="nav-header"><div class="nav-title"><?php echo $this->translator->translator('gallery_tree'); ?></div></div>
    		<div id="categoryTree" class="nav-body treebody" >
           		&nbsp;	
            </div>
       	</div>
    </div>
    
    <div id="content-inner">
    	<div id="actionMessage"></div>
        <div id="button_top_bar"></div>
        <form name="formItem" id="formItem" method="post">
        	<div id="generalInfo">
            	<fieldset class="fieldset">
                	<legend class="legend"><?php echo $this->translator->translator('gallery_product_page_info'); ?></legend>
                    <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                    <div class="form">
                    	<div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_name->getLabel();  if($this->proForm->product_name->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php  echo $this->proForm->product_name;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="product_name_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_title->getLabel();  if($this->proForm->product_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php  echo $this->proForm->product_title;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="product_title_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_code->getLabel();  if($this->proForm->product_code->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->proForm->product_code; ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_code->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="product_code_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_price->getLabel();  if($this->proForm->product_price->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->proForm->product_price.'&nbsp;'.$currency->getSymbol(); ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="product_price_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->group_id->getLabel();  if($this->proForm->group_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<div class="left-float"><?php echo $this->proForm->group_id; ?></div><span id="group_id_loader"></span>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->group_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="group_id_err"></div>                                
                            </div>
                    	</div> 
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->category_id->getLabel(); ?>
                          	</div>
                            
                          	<div class="field">
                            	<span id="dataId"><?php echo $this->translator->translator("gallery_tree_root"); ?> (0)</span><?php echo $this->proForm->category_id; ?>
                            </div>
                    	</div>
                        
                        <?php if($this->proForm->product_thumb->isRequired()){ ?>
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_thumb->getLabel();  if($this->proForm->product_thumb->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php	
									if($auth->getIdentity()->access_file_image_manager == '1')
									{
								?>
                                    <div class="upload-img">
                                        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="product_thumb"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                        <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_thumb->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    </div>
                                    <?php echo $this->proForm->product_thumb; ?>
                                    <div class="input-errors" id="product_thumb_err"></div>
                                <?php
									}
									else
									{
								?>
                                	<div class="upload-img">
                                		<div id="product_thumb_block"><?php echo $this->proForm->product_thumb; ?></div>
                                    </div>                                   
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_thumb->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="product_thumb_err"><?php echo $this->escape($this->translator->translator("group_id_selected_err")); ?></div>
                                <?php
									}
								?>
                            </div>                           
                    	</div>
                        <div class="form-row">
                            <div class="label">
                                &nbsp;
                            </div>
                
                            <div class="field">
                                <span id="selected_file_product_thumb"></span>
                            </div>
                        </div>
                        <?php }else{ ?>
                        <div>
                        	<?php echo $this->proForm->product_thumb; ?>
                        </div>
                        <?php } ?>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_file->getLabel();  if($this->proForm->product_file->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php	
									if($auth->getIdentity()->access_file_image_manager == '1')
									{
								?>
                            	<div class="upload-img">
                                	<span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" id="product_file_upload_btn" rel="product_image"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_file->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                </div>
                            	<?php echo $this->proForm->product_file; ?>&nbsp;&nbsp;
                                <div class="input-errors" id="product_file_err"></div>
                                <?php
									}
									else
									{
								?>
                                	<div class="upload-img">
                                		<div id="product_file_block"><?php echo $this->proForm->product_file; ?></div>
                                    </div>                                   
                                    <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_file->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                    <div class="input-errors" id="product_file_err"><?php echo $this->escape($this->translator->translator("group_id_selected_err")); ?></div>
                                <?php
									}
								?>
                            </div>                         
                    	</div>
                        
                        <div class="form-row">
                            <div class="label">
                                &nbsp;
                            </div>
                
                            <div class="field">
                                <span id="selected_file_product_file"></span>
                            </div>
                        </div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->product_desc->getLabel();  if($this->proForm->product_desc->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<div class="editor"><?php echo $this->proForm->product_desc; ?></div>
                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->product_desc->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <span id="loaderLink"><a href="javascript:void(0);" onClick="loadTinyMCE('product_desc');"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif"  border="0" title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" ></a></span>
                                <div class="input-errors" id="product_desc_err"></div>
                            </div>
                       	</div>
                  	</div>
             	</fieldset>
                
                <fieldset class="fieldset">
                	<legend class="legend"><?php echo $this->translator->translator('gallery_product_page_related_items'); ?></legend>
                    <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                    <div class="form">
                    	<div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->related_items->getLabel();  if($this->proForm->related_items->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php  echo $this->proForm->related_items;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->meta_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="related_items_err"></div>
                            </div>
                    	</div>
                  	</div>
               	</fieldset>
                
                <fieldset class="fieldset">
                	<legend class="legend"><?php echo $this->translator->translator('gallery_product_page_meta'); ?></legend>
                    <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                    <div class="form">
                    	<div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->meta_title->getLabel();  if($this->proForm->meta_title->isRequired()){ ?><span class="required">*</span><?php } ?>
                          	</div>
                            
                          	<div class="field">
                            	<?php  echo $this->proForm->meta_title;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->meta_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="meta_title_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->meta_keywords->getLabel();  if($this->proForm->meta_keywords->isRequired()){ ?><span class="required">*</span><?php }?>
                          	</div>
                            
                          	<div class="field">
                            	<?php  echo $this->proForm->meta_keywords;  ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->meta_keywords->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="meta_keywords_err"></div>
                            </div>
                    	</div>
                        
                        <div class="form-row">
                        	<div class="label">
                           		<?php echo $this->proForm->meta_desc->getLabel();  if($this->proForm->meta_desc->isRequired()){ ?><span class="required">*</span><?php }?>
                          	</div>
                            
                          	<div class="field">
                            	<?php echo $this->proForm->meta_desc; ?>
								<div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->proForm->meta_keywords->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                <div class="input-errors" id="meta_desc_err"></div>
                            </div>
                    	</div>
                  	</div>
               	</fieldset>
                
                <span id="dynamic_fields">
                
                </span>
          	</div>
		</form>
	</div>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Gallery','controller' => 'Backendpro', 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_product_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<div  id="floatingbar">
	<h1><?php echo $this->translator->translator('gallery_product_add_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Gallery','controller' => 'Backendpro', 'action'     => 'list' ,'group_id' => $param_group_id), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_product_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('gallery_product_add_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="upload-form" title="<?php echo $this->translator->translator('gallery_product_page_dialog'); ?>">	
	<div>
    	<form id="popupForm" target="i-upload-form" method="post" action="" >
            <input type="hidden" name="table_name" value="gallery_group"/>
            <input type="hidden" name="primary_id_field" value="id"/>
            <input type="hidden" name="primary_id_field_value" value=""/>   
            <input type="hidden" name="primary_file_field" value=""/> 
           	<input type="hidden" name="file_content"  value=""/>       
            <input type="hidden" name="file_path_field" value=""/>
            <input type="hidden" name="file_extension_field" value="file_type"/>
            <input type="hidden" name="file_max_size_field" value="file_size_max"/>
    	</form>
    	<iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>
    </div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('gallery_category_page_insert'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
    </div>
</div>
</div>