<?php if (!$this->allow()) : ?>
		<h1><?php echo $this->translator->translator('Member_Access_deny_desc'); ?></h1>
<?php else :
$headTitle = $this->translator->translator('b2b_members_messages_list');
$this->headTitle()->headTitle($headTitle,'SET'); 

if($this->send_message):

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$global_conf = Zend_Registry::get('global_conf');

$permission_arr = array('flag_enable' => $this->allow('flag','messageboards','B2b'), 
						'flagall_enable' => $this->allow('flagall','messageboards','B2b'), 
						'trash_enable' => $this->allow('trash','messageboards','B2b'), 
						'trashall_enable' => $this->allow('trashall','messageboards','B2b'), 
						'delete_enable' => $this->allow('delete','messageboards','B2b'),
						'deleteall_enable' => $this->allow('deleteall','messageboards','B2b'), 
						'read_enable' => $this->allow('read','messageboards','B2b'),
						'search_enable' => $this->allow('messages','messageboards','B2b'),
						'readall_enable' => $this->allow('readall','messageboards','B2b'),
						'reply_enable' => $this->allow('reply','members','B2b'));	
						
$add_page_route = 'My-Messages/*';



?>
<script type="text/javascript">
$(document).ready(function() {	
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						toggle_btn: ['a.expand_btn'],						
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},

						dataSource_transport_read_complete : function (responce_data){															
											$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
										},								
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true
						},
						common_action : {
								permission_arr : {
										trash_enable : 	'<?php echo $permission_arr['trash_enable']; ?>',
										read_enable	:	'<?php echo $permission_arr['read_enable']; ?>',
										readall_enable	:	'<?php echo $permission_arr['readall_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',
										flag_enable	:	'<?php echo $permission_arr['flag_enable']; ?>',
										flagall_enable	:	'<?php echo $permission_arr['flagall_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'active' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'name', 'paction'],

								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'group_id'],
																
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'activateall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_toolbar_action		:	[ 
																	{
																		multi_toolbar_action_caller_id				:	"a.flag_all",
																		multi_toolbar_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'flagall' ), 'adminrout',    true) ?>",
																		multi_toolbar_action_dest_data_field 		: 	['id_st', 'paction'],
																		multi_toolbar_action_data_return_field 		: 	['flag'],
																		multi_toolbar_action_data_permission_field 	: 	['flagall_enable'],
																		multi_toolbar_action_dest_data_paction 		: 	[
																															
																															{
																																'paction' : '0', 'cols'	: [	
																																									{
																																										'num': 6, 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_message_set_flagged"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unflagged.png", 'children' : "a:nth-child(4)", 
																																										'action'	: function(checkObj, col_arr){
																																												//$(checkObj).parents("tr:first").children("td:nth-child("+(col_arr.num+1)+")").html('<input class="full_payment" />');
																																												var action_path = (col_arr.children) ? $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")").find(col_arr.children) : $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")");
																																												var rel = action_path.attr('rel');
																																												var rel_arr = rel.split('_');
																																												rel_arr[2] = '1';
																																												rel = rel_arr.join('_');
																																												action_path.attr('rel', rel);
																																											} 
																																									}
																																								  ]
																															},
																															{
																																'paction' : '1', 'cols'		: [
																																									//{'num': 9, 'title' : "<?php echo html_entity_decode($this->translator->translator("common_paid_language"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "", 'children' : ''},
																																									{
																																										'num': 6, 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_message_set_unflag"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/flagged.png", 'children' : "a:nth-child(4)", 
																																										'action'	: function(checkObj, col_arr){	
																																												//var action_path = 	$(checkObj).parents("tr:first").children("td:nth-child("+(col_arr.num+1)+")");																																										
																																												var action_path = (col_arr.children) ? $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")").find(col_arr.children) : $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")");
																																												var rel = action_path.attr('rel');
																																												var rel_arr = rel.split('_');
																																												rel_arr[2] = '0';
																																												rel = rel_arr.join('_');
																																												action_path.attr('rel', rel);
																																											}
																																									}
																																							  	  ]																																					
																															}
																														]															
																	},
																	{
																		multi_toolbar_action_caller_id				:	"a.read_all",
																		multi_toolbar_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'readall' ), 'adminrout',    true) ?>",
																		multi_toolbar_action_dest_data_field 		: 	['id_st', 'paction'],
																		multi_toolbar_action_data_return_field 		: 	['read'],
																		multi_toolbar_action_data_permission_field 	: 	['readall_enable'],
																		multi_toolbar_action_dest_data_paction 		: 	[
																															
																															{
																																'paction' : '0', 'cols'	: [	
																																									{
																																										'num': 6, 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_set_read_massage"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unread.png", 'children' : "a:nth-child(3)", 
																																										'action'	: function(checkObj, col_arr){
																																												var action_path = (col_arr.children) ? $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")").find(col_arr.children) : $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")");
																																												var rel = action_path.attr('rel');
																																												var rel_arr = rel.split('_');
																																												rel_arr[2] = '1';
																																												rel = rel_arr.join('_');
																																												action_path.attr('rel', rel);
																																											} 
																																									}
																																								  ]
																															},
																															{
																																'paction' : '1', 'cols'		: [
																																									{
																																										'num': 6, 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_set_unread_massage"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/read.png", 'children' : "a:nth-child(3)", 
																																										'action'	: function(checkObj, col_arr){	
																																												//var action_path = 	$(checkObj).parents("tr:first").children("td:nth-child("+(col_arr.num+1)+")");																																										
																																												var action_path = (col_arr.children) ? $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")").find(col_arr.children) : $(checkObj).parents("tr:first").children("td:nth-child("+col_arr.num+")");
																																												var rel = action_path.attr('rel');
																																												var rel_arr = rel.split('_');
																																												rel_arr[2] = '0';
																																												rel = rel_arr.join('_');
																																												action_path.attr('rel', rel);
																																											}
																																									}
																																							  	  ]																																					
																															}
																														]															
																	}																	
																	
																],								
								multi_action				: 	[
														{
															multi_action_caller_id				:	"a.read_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'read' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'name', 'paction'],
															multi_action_data_return_field 		: 	['read'],
															multi_action_data_permission_field 	: 	['read_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_set_read_massage"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unread.png"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_set_unread_massage"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/read.png"}
																									]

														},
														{
															multi_action_caller_id				:	"a.flag_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'flag' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'name', 'paction'],
															multi_action_data_return_field 		: 	['flag'],
															multi_action_data_permission_field 	: 	['flag_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_message_set_flagged"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unflagged.png"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_message_set_unflag"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/flagged.png"}
																									]															
														},
														{
															multi_action_caller_id				:	"a.trash_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'messageboards', 'action'     => 'trash' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'id' , 'paction'],
															multi_action_data_return_field 		: 	['trash'],
															multi_action_data_permission_field 	: 	['trash_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_members_message_set_unflag"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/flagged.png"}
																									],															
															success_func : function(this_row, response_data){
																var grid =  $("#"+settingObj.grid_id).data("kendoGrid");
																grid.removeRow($(this_row).parents('tr:first'));	
																gridAction(settingObj);															
															}
														}
													]
						},
						
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: true,
						detailTemplate: kendo.template($("#detail_template").html()), 
						detailInit:	function(e){
								var detailRow = e.detailRow;
								detailRow.find(".tabstrip").kendoTabStrip({
									animation: {
										open: { effects: "fadeIn" }
									}
								});
								<?php if($this->auth->getIdentity()->access_other_user_article == '1'){ ?>
								settingObj.grid_id = 'replied-grid-'+e.data['id'];
								settingObj.dataSource_filter = {field: 'parent', operator: "eq", value: e.data['id']};
								settingObj.checkbox_id	= e.data.uid;
								settingObj.column_fields[0].headerTemplate = '<input type="checkbox" name="checkAll" id="checkAll'+e.data.uid+'" class="checkAll_btn'+e.data.uid+'" />';
								commonGrid(settingObj);
								<?php } ?>
							},
						dataBound: function(e) {									
								var self = this;		
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');  															
								self.tbody.find("tr").children('td:nth-child(4)').css({'overflow' : 'visible'});
								commonImageThumbnil();
								toggleKendoGridRow(self, settingObj);								
						                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        date: { type: "date" },
                                        full_name: { type: "string" },
                                        subject: { type: "string" },									
										common_action: { editable: false }
                                    }
                                },	
						<?php if ($permission_arr['add_enable'] || $permission_arr['trashall_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											
											{ 
												field: "date", 		
												title:	"<?php echo $this->translator->translator('b2b_members_message_date'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												template: '#= date_format #',
												attributes:{ 
																'align' : 'center',
																'title'	: '<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong> #= posted_date_format #'
																
															},
												width: 100, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											
											{ 
												field: "full_name", 		
												title:	"<?php echo $this->translator->translator('b2b_members_message_sender'); ?>",
												width: 150,
												template: '#if (full_name) {# #= full_name #  # } else if (name)  { #  #= name # # } else { #  <?php echo html_entity_decode($this->translator->translator('b2b_members_message_no_sender'), ENT_QUOTES, 'UTF-8'); ?> # } #',

											},
											{ 
												field: "subject", 		
												title:	"<?php echo $this->translator->translator('b2b_members_message_subject'); ?>",
												//width: 80, 
												template: '#if (subject) {# #= subject # # } else { #  <?php echo html_entity_decode($this->translator->translator('b2b_members_message_no_subject'), ENT_QUOTES, 'UTF-8'); ?>  # } if(parent_subject_name){ # <br /> <?php echo html_entity_decode($this->translator->translator('b2b_members_message_replied_from'), ENT_QUOTES, 'UTF-8'); ?> #= parent_subject_name # # } #',
											},																					
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												headerTemplate: "<center><?php echo $this->translator->translator('common_action'); ?></center>",
												width: 180, 
												attributes: {'align' : 'center'},
												template:	'&nbsp;<a href="javascript:void(0);" class="expand_btn"  rel="${id}_${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/read-more.png" title="<?php echo html_entity_decode($this->translator->translator('b2b_members_veiw_message_details'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('b2b_members_veiw_message_details'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a>'+															
															'<?php if ($permission_arr['reply_enable']) : ?> &nbsp; <a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'members', 'action'     => 'reply', 'id' => '' ), 'Reply-Message/*',    true) ?>/${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/reply.png" border="0" title="<?php echo html_entity_decode($this->translator->translator('menu_b2b_manage_reply'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('menu_b2b_manage_reply'), ENT_QUOTES, 'UTF-8'); ?>" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['read_enable']) : ?> &nbsp; <a href="javascript:void(0);"  rel="${id}_${id}_#= (read == 1) ? 0 : 1 #" class="read_btn"><img src="#= (read == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/read.png\' : \'application/modules/Administrator/layouts/scripts/images/tools/unread.png\' #" border="0" title="#= (read == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_members_set_unread_massage'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_members_set_read_massage'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (read == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_members_set_unread_massage'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_members_set_read_massage'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['flag_enable']) : ?> &nbsp;<a href="javascript:void(0);"  rel="${id}_${id}_#= (flag == 1) ? 0 : 1 #" class="flag_btn"><img src="#= (flag == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/flagged.png\' : \'application/modules/Administrator/layouts/scripts/images/tools/unflagged.png\' #" border="0" title="#= (flag == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_members_message_set_unflag'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_members_message_set_flagged'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (flag == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_members_message_set_unflag'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_members_message_set_flagged'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['trash_enable']) : ?> &nbsp;<a href="javascript:void(0);" class="trash_btn"  rel="${id}_${id}_0"><img src="application/modules/Administrator/layouts/scripts/images/tools/trash.png" title="<?php echo html_entity_decode($this->translator->translator('b2b_members_message_trash'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('b2b_members_message_trash'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a> <?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?> &nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${id}_0"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('b2b_members_delete_massage'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('b2b_members_delete_massage'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a> <?php endif; ?>',
															
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("b2b_selected_err"); ?>"
									}
					};
	
	commonGrid(settingObj);	
});
</script>

<script type="text/x-kendo-template" id="detail_template"> 
	<div class='tabstrip'>            
		<ul>
			<li class='k-state-active'>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("b2b_members_message_details"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
			<?php if($this->auth->getIdentity()->access_other_user_article == '1'){ ?>
			<li>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("b2b_members_message_replied"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
			<?php } ?>
		</ul>
		  
		#if (sender_id !=0) {# 
			<div class="row-details">
				 
				<div class="col1">

					#if(full_name){# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_name"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= full_name # <br /> #}#

					#if( user_phone){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_phone"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_phone #    <br />#}
					 else if (cp_phone && cp_phone != 0) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_phone"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_phone # - #= cp_phone_part2 #  - #= cp_phone_part3 #  <br />  #}#

					#if( user_mobile){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_mobile"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_mobile #    <br />#}
					 else if (cp_mobile && cp_mobile != 0) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_mobile"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_mobile # - #= cp_mobile_part2 # - #= cp_mobile_part3 # <br />  #}#

					#if( user_fax){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_fax"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_fax #    <br />#}
					 else if (cp_fax && cp_fax != 0) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_fax"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_fax # - #= cp_fax_part2 # - #= cp_fax_part3 # <br />  #}#

					#if( feedbacks){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_feedbacks"), ENT_QUOTES, "UTF-8"); ?> : </strong>  <br># var feedback = feedbacks.replace(/,/gi , '<br /> &nbsp;&nbsp;') # #=  feedback #   <br />	#}#										
					#if( country_code){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_country"), ENT_QUOTES, "UTF-8"); ?> : </strong> <img src="data/adminImages/flagsImage/#=country_code#.gif" border="0" title="#=country_name#"   alt="#=country_name#" />  <br /> #}#													
					
				</div>
				

				<div class="col2">
					# if( user_website){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_website"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_website #  <br />#}
					 else if (website) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_website"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= website #  <br />  #}#
					
					# if( address){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_address"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= address #  <br />#}
					 else if (cp_street) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_address"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_street # , #= cp_state # <br />  #}#
					
					# if( user_city){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_city"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_city #  <br />#}
					 else if (cp_city) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_city"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_city # <br />  #}#
													
					# if( user_postcode){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_postalcode"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_postcode #  <br />#}
					 else if (cp_postal_code) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_postalcode"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_postal_code # <br />  #}#

					# if( profile_since){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_member_since"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= profile_since #  <br />#}#
					#if( date){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_posted_on"), ENT_QUOTES, "UTF-8"); ?> : </strong> #=  posted_date_format #<br />  #}#
					#if( reply_with ){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_reply_with"), ENT_QUOTES, "UTF-8"); ?> : </strong> #=  reply_with #<br />  #}#									

				</div>
				<hr />
				
				<div class="clr">&nbsp;</div>						
				<div>	
						# if( user_company){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_company"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= user_company #  <br />#}
					 	else if (cp_company_name){# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_company"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= cp_company_name #  <br />  #}#
					
						#if(ip){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_ip"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= ip #<br />  #}#
					
						<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_profile"), ENT_QUOTES, "UTF-8"); ?> : </strong>  # if(company_title){ # <a href="Company-Homepage/#=company_title#" target="_blank"><?php echo html_entity_decode($this->translator->translator("b2b_message_view_sender_profile"), ENT_QUOTES, "UTF-8"); ?></a># } else { # <?php echo html_entity_decode($this->translator->translator("b2b_company_profile_not_found"), ENT_QUOTES, "UTF-8"); ?> # } #<br /> 		

						# if( user_email){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_email"), ENT_QUOTES, "UTF-8"); ?> : </strong>  #=  user_email #   <br />  #}
						 else if (email) {# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_email"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= email # <br />  #}#
				
						<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_details"), ENT_QUOTES, "UTF-8"); ?> : </strong> <br /><hr />  #=  message #   <br /> <hr />
				</div>
	
			</div>
		#}

		else {
		#
			<div class="row-details">
			
				<div class="col1">
					#if(name){# <strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_name"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= name # <br /> #}#				
					#if(phone && phone != 0){# <phone><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_phone"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= phone # - #= phone_part2 # - #= phone_part2 #<br /> #}#
					#if(fax && fax != 0){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_fax"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= fax # - #= fax_part2 # - #= fax_part3 #<br />  #}#
					#if(country){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_company"), ENT_QUOTES, "UTF-8"); ?> : </strong> #=  country #<br />  #}#
					#if(feedbacks){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_feedbacks"), ENT_QUOTES, "UTF-8"); ?> : </strong>  # var feedback = feedbacks.replace(/,/gi , '<br />') # #=  feedback #   <br />	#}#										
				</div> 
				
				<div class="col2">
					#if( website){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_website"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= website #  <br />#}#
					#if( street){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_street"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= street #    <br />#}#
					#if( state){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_state"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= state #  <br />#}#
					#if( city){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_city"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= city #    <br />#}#
					#if( postal_code){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_postalcode"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= postal_code #  <br />#}#
					#if( date){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_posted_on"), ENT_QUOTES, "UTF-8"); ?> : </strong> #=  posted_date_format #<br />  #}#
					#if( reply_with ){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_reply_with"), ENT_QUOTES, "UTF-8"); ?> : </strong> #=  reply_with #<br />  #}#
					
				</div>
				<hr />
				
				<div class="clr">&nbsp;</div>						
				<div>	

						#if(ip){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_ip"), ENT_QUOTES, "UTF-8"); ?> : </strong> #= ip #<br />  #}#					
						#if(email){#<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_sender_email"), ENT_QUOTES, "UTF-8"); ?> : </strong>  #=  email #   <br /># } #				
						<strong><?php echo html_entity_decode($this->translator->translator("b2b_message_details"), ENT_QUOTES, "UTF-8"); ?> : </strong> <br /><hr />  #=  message #   <br /> <hr />

				</div>
			</div>
		#}#
		
		<div>	
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
			   <div id="replied-grid-#= id #"></div>  
		   </div>	   
		</div>
	</div>
</script>

<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['flagall_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="1" class="flag_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('b2b_members_message_flagged'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="0" class="flag_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("b2b_members_message_unflagged"), ENT_QUOTES, "UTF-8"); ?></span></a></span>				
			<?php endif; ?>
			
			<?php if ($permission_arr['readall_enable']) : ?>					
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="1" class="read_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('b2b_message_multi_select_read_btn'), ENT_QUOTES, "UTF-8"); ?></span></a></span>			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="0" class="read_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('b2b_message_multi_select_unread_btn'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			
			<?php if ($permission_arr['deleteall_enable']) : ?>					
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			
			
		</div>
	</div>
</script>



<!-- Content Start-->
<article class="member-dashboard">

    <br />
<?php if ($permission_arr['search_enable']) : ?>
        	<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php echo $this->translator->translator('b2b_message_search_title'); ?></a></div>
		<?php endif; ?>
        
        <div id="slickbox" class="toggle-container">
         	<form name="searchForm" id="searchForm">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_sender_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="full_name" id="full_name" operator="contains" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_sender_company'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" name="company_name" id="company_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                 	</div>
                    <!-- Row 1 End -->
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_current_status'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="active" id="active" class="ui-widget-content ui-corner-all" operator="eq" <?php if($this->active != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->active == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_message_multi_select_inbox_btn'); ?></option>
                                <option value="0" <?php if($this->active == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_message_multi_select_trash_btn'); ?></option>
                          	</select>
                            
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_read_status'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="read" id="read" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->read == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_message_multi_select_read_btn'); ?></option>
                                <option value="0" <?php if($this->read == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_message_multi_select_unread_btn'); ?></option>
						 	</select>
                        </div>
                 	</div>
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_members_message_flag_status'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
							<select name="flag" id="flag" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->flag == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_members_message_flagged'); ?></option>
                                <option value="0" <?php if($this->flag == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_members_message_unflagged'); ?></option>
						 	</select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_sender_email'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input type="text" name="email" id="email" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                      
                       	</div>
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                    <div class="toggle-row">

                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_members_message_subject'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
	                        <input type="text" name="subject" id="subject" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                       	</div>

                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_message_search_contents'); ?></span>
                        </div>
                        
                   		 <div class="toggle-field">                        	
	                        <input type="text" name="message" id="message" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                       	</div>
                 	</div>
                    <!-- Row 4 End -->
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                </div>
        	</form>
     	</div>
        
  
    <br /><br />
    <div class="member-block block-control-panel">
        <div class="block-heading">
            <div class="symbol"><?php echo $this->translator->translator('b2b_members_messages_list'); ?></div>
        </div>        
        <div class="block-body">                        	  
        	 <div id="example">
             	<div <?php if($locale_direction == 'rtl'){ ?>class="k-rtl"<?php } ?>>
   					 <div id="grid"></div>  
                 </div> 
             </div>                         
        </div>
    </div>    
</article>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<!-- Content End -->
<?php else: ?>
<!-- Content Start-->
<article class="member-dashboard">
		<h1><?php echo $this->translator->translator('Member_package_support_send_receive_message_err'); ?></h1>
</article>
<!-- Content End -->
<?php endif; ?>
<?php endif; ?>