<div id="container">
<?php if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array('add_enable' => $this->allow('add','backendspareparts','Autos'), 'edit_enable' => $this->allow('edit','backendspareparts','Autos'), 'publish_enable' => $this->allow('publish','backendspareparts','Autos'), 'delete_enable' => $this->allow('delete','backendspareparts','Autos'), 'featured_enable' => $this->allow('featured','backendspareparts','Autos'), 'search_enable' => $this->allow('search','backendspareparts','Autos'));


$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
?>
<script type="text/javascript">
<?php
if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
{
?>
$(function() {
	$( "#autos_agent" ).combobox();	
})
<?php
}
?>
$(function() {
	//$('#brand_id').combobox();
	//autoSuggestion('spare_parts_name', "<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'spare_parts_name': ''}, ['autos_primary_image', 'autos_image', 'spare_parts_name', 'spare_parts_name', 'owner_name', 'autos_mileage', 'spare_parts_base_price', 'autos_location'], 'data/frontImages/autos/autos_image', 2);
	//autoSuggestion('spare_parts_base_price', "<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'spare_parts_base_price': ''}, ['autos_primary_image', 'autos_image', 'spare_parts_name', 'price', 'owner_name', 'autos_mileage', 'spare_parts_base_price', 'autos_location'], 'data/frontImages/autos/autos_image', 2);		
})
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							calendar_include_time: false,
							calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
							monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
							monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
							dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
							buttonText:		'calendar',
							dateFormat:		'yy-mm-dd',
							dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						dynamic_list_action: [
									{
										list_id:'country_id',
										sub_list: {
											list_id:'state_id',
											list_dest_url: '<?php echo $this->url( array('module' =>'Autos','controller' => 'backendspareparts', 'action' => 'states' ), 'adminrout',    true) ?>',
											list_any_value: '<?php echo html_entity_decode($this->translator->translator("autos_select_state"), ENT_QUOTES, 'UTF-8'); ?>',
											list_input_value_field: 'state_id',
											list_input_option_field: 'state_name',
											list_return_field: 'states',
											list_loader_info : {
														loader_id : 'state_id_err',
														loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
														on_loading : [
																		{id : 'state_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("autos_select_state"), ENT_QUOTES, 'UTF-8'); ?>'},
																		{id : 'area_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("autos_select_area"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("autos_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
																	]
												},
											sub_list:{
												list_id:'area_id',
												list_dest_url: '<?php echo $this->url( array('module' =>'Autos','controller' => 'backendspareparts', 'action' => 'areas' ), 'adminrout',    true) ?>',
												list_any_value: '<?php echo html_entity_decode($this->translator->translator("autos_select_area"), ENT_QUOTES, 'UTF-8'); ?>',
												list_input_value_field: 'city_id',
												list_input_option_field: 'city',
												list_return_field: 'cities',
												list_loader_info : {
															loader_id : 'area_id_err',
															loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
															on_loading : [
																			{id : 'area_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("autos_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
																		]
													}
											}
										}
									}
						],
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('prperty_list_page_search_button'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',
										featured_enable	:	'<?php echo $permission_arr['featured_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'spare_parts_name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'spare_parts_name'],
																
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: [
														{
															multi_action_caller_id				:	"a.featured_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'featured' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'spare_parts_name', 'paction'],
															multi_action_data_return_field 		: 	['featured'],
															multi_action_data_permission_field 	: 	['featured_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : 'featured', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
																										{'paction' : 'unfeatured', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
																									]															
														}
													]
						},
						/*order_action: {
								order_dest_data_field		:	['id', 'autos_order'],
								
								order_up_dest_url			:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'up' ), 'adminrout',    true) ?>",
								order_up_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
								order_down_dest_url			:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'down' ), 'adminrout',    true) ?>",
								order_down_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
								
								order_all_dest_data_field	:	['id_arr', 'autos_order_arr'],
								order_all_dest_url			:	"<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'orderall' ), 'adminrout',    true) ?>",
								order_all_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
						},*/
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;		
																							
								self.tbody.find("tr").children('td:nth-child(3)').css({'overflow' : 'visible'});
								commonImageThumbnil();
																
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								//self.thead.find("th[data-field='autos_order']").unbind('click');
								//self.thead.find("th[data-field='autos_order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },										
                                        spare_parts_name: { type: "string" },
                                        spare_parts_base_price: { type: "number", editable: false },
                                        spare_parts_promotion_price: { type: "number", editable: false },
                                        entry_date: { type: "date" },
										active: { type: "enums", editable: false },
										common_action: { editable: false }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn" <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable'] && !$permission_arr['featured_enable']) : ?>disabled="disabled"<?php endif; ?>  />',	template: '<input type="checkbox" value="${id}" class="check_btn" <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable'] && !$permission_arr['featured_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 
												template: '#= id_format #',		
												title: 	"<?php echo $this->translator->translator('autos_page_list_page_id'); ?>", 
												width: 50, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "spare_parts_image", 		
												title:	"<?php echo $this->translator->translator('autos_page_list_page_thumb'); ?>",
												width: 50,
												template: '# if(spare_parts_image_format){ # <div class="thumb"><img src="${spare_parts_image_format}" width="30" height="20" /></div> # } #',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "spare_parts_name", 		
												title:	"<?php echo $this->translator->translator('autos_spare_part_name_title'); ?>",
												template: '#= spare_parts_name #',
												attributes: {
													title: 	'<strong>#= spare_parts_name #</strong><br /># if(owner_name){ # #= \'<strong><?php echo html_entity_decode($this->translator->translator('autos_agent'), ENT_QUOTES, 'UTF-8'); ?> : </strong>\' # #= owner_name # # } ' +
															' if(spare_parts_base_price){ #<br /><strong><?php echo html_entity_decode($this->translator->translator('autos_spare_part_base_price_title'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= spare_parts_base_price_format # #= \'<?php echo " ".$currency->getSymbol(); ?>\' # # } '+
															' if(spare_parts_promotion_price){ #&nbsp;&nbsp;<strong><?php echo html_entity_decode($this->translator->translator('autos_spare_part_promotion_price_title'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= spare_parts_promotion_price # #= \'<?php echo " ".$currency->getSymbol(); ?>\' # # } '+
															' if(spare_parts_type){ #<br /><strong><?php echo html_entity_decode($this->translator->translator('autos_spare_part_type_title'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= spare_parts_type #  # } '+
															' if(spare_parts_order_qty_min){ #&nbsp;&nbsp;<strong><?php echo html_entity_decode($this->translator->translator('autos_spare_parts_order_qty_min_title'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= spare_parts_order_qty_min_format #  # } #'
												}
											},
											{ 
												field: "spare_parts_order_qty_min", 
												template: '#= spare_parts_order_qty_min_format #',		
												title: 	"<?php echo $this->translator->translator('autos_spare_parts_order_qty_min_title'); ?>", 
												width: 80, 
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "spare_parts_base_price", 		
												title:	"<?php echo $this->translator->translator('autos_spare_part_base_price_title'); ?>", 
												width: 120,												
												template: '<?php echo $currency->getSymbol() ?> #= spare_parts_base_price_format #',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $global_conf['default_locale']); ?>",
															format: "c",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},
											{ 
												field: "spare_parts_promotion_price", 		
												title:	"<?php echo $this->translator->translator('autos_spare_part_promotion_price_title'); ?>", 
												width: 120,												
												template: '<?php echo $currency->getSymbol() ?> #= spare_parts_promotion_price_format #',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $global_conf['default_locale']); ?>",
															format: "c",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},
											{ 
												field: "entry_date", 	
												title:	"<?php echo $this->translator->translator('common_date'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												template: '#= entry_date_lang_format #',
												attributes:{ 
																'align' : 'center' ,
																'title'	: '<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${entry_date_format}<br /><strong><?php echo html_entity_decode($this->translator->translator('common_entry'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${username}'
															},
												width: 80, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											{ 	
												field: "active", 	
												title:	"<?php echo $this->translator->translator('common_status'); ?>", 
												width: 75,
												template: '<a href="javascript:void(0);" class="publish_btn"  rel="${id}_${publish_status_spare_parts_name}_#= (active == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (active == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												headerTemplate: "<center><?php echo $this->translator->translator('common_action'); ?></center>",
												width: 100, 
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'Autos', 'controller' => 'backendspareparts', 'action'     => 'edit', 'id' => '' ), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${publish_status_spare_parts_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);"  rel="${id}_${publish_status_spare_parts_name}_#= (featured == 1) ? \'unfeatured\' : \'featured\' #" class="featured_btn"><img src="#= (featured == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/featured.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif\' #" border="0" title="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a>', 
												attributes:{ 'align' : 'center' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("autos_list_delete_confirm"); ?>",
										common_save_btn_text		:	"<?php echo html_entity_decode($this->translator->translator("autos_date_add_page_save"), ENT_QUOTES, 'UTF-8'); ?>",
										common_field_must_not_empty	:	"<?php echo html_entity_decode($this->translator->translator("common_field_must_not_empty"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("autos_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);				
});

</script>

<div class="title-container">
	<div class="autos-list"><h1><?php echo $this->translator->translator('autos_page_list_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Autos','controller'=>'backendspareparts', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>
        <?php endif; ?>
      	<?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>   
    
    <div id="content-inner">
    	<?php if ($permission_arr['search_enable']) : ?>
        	<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="autos-icon"><?php echo $this->translator->translator('autos_list_page_search'); ?></a></div>
            <div id="slickbox" class="toggle-container">
            <form name="searchForm" id="searchForm">
            	<div class="toggle-search">
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<input type="text" name="spare_parts_name" id="spare_parts_name" value="" size="50" operator="contains" class="ui-widget-content ui-corner-all" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_brand'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<span class="ui-widget">
                        	<select name="brand_id" id="brand_id" class="ui-widget-content ui-corner-all">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php 
								if($this->brand_info)
								{                                  
                                    foreach($this->brand_info as $key=>$value)
                                    {
                                        echo '<option value="'.$key.'">'.$value.'</option>';
                                    }
								}
                                ?>
                            </select>
                          	</span>
                        </div>  
                 	</div>
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_price'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<input type="text" name="spare_parts_base_price" id="spare_parts_base_price" value="" class="ui-widget-content ui-corner-all" /><span class="label"><?php echo $currency->getSymbol(); ?></span>&nbsp;&nbsp;&nbsp;
                        	<span class="label"><?php echo $this->translator->translator('autos_list_page_search_status'); ?></span>
                            <select name="active" id="active" class="ui-widget-content ui-corner-all" operator="eq" <?php if($this->approve != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                            	<option value="1" <?php if($this->approve == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_published_language'); ?></option>
                            	<option value="0" <?php if($this->approve == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_unpublished_language'); ?></option>
                            </select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_pro_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="autos_type" id="autos_type" class="ui-widget-content ui-corner-all">
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							  	<?php
									if($this->type_info)
									{	
										foreach($this->type_info as $info)
										{
								?>
							  	<option value="<?php echo $info['id']; ?>"><?php echo $this->escape($info['business_type']); ?></option>
							  	<?php
										}
									}
							  	?>
							</select>
                                                                    
                        	<span class="label"><?php echo $this->translator->translator('autos_list_page_search_category'); ?></span>
                            <select name="category_id" id="category_id" class="ui-widget-content ui-corner-all" operator="eq" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							  	<?php
									if($this->cat_data)
									{	
										foreach($this->cat_data as $info)
										{
											$selected = ($this->category_id == $info['id']) ? 'selected="selected"' : '';
								?>
							  <option value="<?php echo $info['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($info['category_name']); ?></option>
							  <?php
										}
									}
							  ?>
							</select>
                        </div>
                 	</div>
                    
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_country'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="country_id" id="country_id" class="country_id ui-widget-content ui-corner-all">
							<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							<?php
							if($this->country_data)
							{	
								foreach($this->country_data as $key=>$value)
								{
							?>
								<option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
							<?php
								}
							}
							?>
							</select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_state'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<select name="state_id" id="state_id" class="state_id ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('autos_select_state'); ?></option>																			
                            </select><span class="input-errors" id="state_id_err"></span>
                            
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_area'); ?></span>
                            <select name="area_id" id="area_id" class="area_id ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('autos_select_area'); ?></option>																			
                            </select><span class="input-errors" id="area_id_err"></span>   
                        </div>   
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start  -->
                     <div class="toggle-row">
					 	<?php
						if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
						{
						?>
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_agent'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<span class="ui-widget"><select name="autos_agent" id="autos_agent">
							<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
							<?php
							if($this->mem_data)
							{	
								foreach($this->mem_data as $key=>$value)
								{
							?>
								<option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
							<?php
								}	
							}
							?>
							</select>
                            </span>
                        </div>
                        <?php
						}
						?>
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('autos_list_page_search_mileage'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
                            <select name="feature_mileage" id="feature_mileage" class="ui-widget-content ui-corner-all">
                            <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                            <?php
                              if($this->mileage_info)
							  {  
                                foreach($this->mileage_info as $key=>$value)
                                {
                            ?>
                                <option value="<?php echo $value['feature_mileage']; ?>"><?php echo $this->escape($value['feature_mileage']); ?></option>
                            <?php
                                }
							  }
                            ?>
                            </select>
                            <span id="loader_img"></span>
                        </div>
                  	</div>                    	
                    <!-- Row 4 End -->
             	</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('prperty_list_page_search_button'); ?></span></a></span>
                </div>
            </form>
       		</div>
        <?php endif; ?>
               
        <div class="chart">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
      	</div>
	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('autos_page_list_page_name'); ?></h1>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Autos','controller'=>'backendspareparts', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>
        <?php endif; ?>
      	<?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div> 
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('autos_page_list_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<div id="add-date-confirm" title="<?php echo $this->translator->translator('autos_add_available_date'); ?>"></div>
<?php endif; ?>
</div>