<?php
$frontController = Zend_Controller_Front::getInstance();	
$getController = $frontController->getRequest()->getControllerName();
$getAction = $frontController->getRequest()->getActionName();
$translator = Zend_Registry::get('translator'); 
?>

<div id="nav">
	<div class="nav-header"><div class="nav-title"><?php echo $translator->translator('b2b_Left_Side_menu_title'); ?></div></div>
    <div class="nav-body">
    	<ul>
        	<?php if ($this->allow('list','api','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'api'){ ?> class="b2b-group-add selected"<?php }else{ ?>class="b2b-group-add"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'api', 'action'=>'list'),'adminrout',true);?>" ><?php echo $translator->translator('b2b_Left_Side_menu19'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('addgrp','backendgrp','B2b')) : ?>
			
            <li <?php if($getAction == 'addgrp' && strtolower($getController) == 'backendgrp'){ ?> class="b2b-group-add-nav selected"<?php }else{ ?>class="b2b-group-add-nav"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'backendgrp', 'action'=>'addgrp'),'adminrout',true);?>" ><?php echo $translator->translator('b2b_Left_Side_add_grp'); ?></a>
			</li>
			<?php endif; ?>
            
            <?php if ($this->allow('listgrp','backendgrp','B2b')) : ?>
            <li <?php if($getAction == 'listgrp' && strtolower($getController) == 'backendgrp'){ ?> class="b2b-group-nav selected"<?php }else{ ?>class="b2b-group-nav"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'backendgrp', 'action'=>'listgrp'),'adminrout',true);?>" ><?php echo $translator->translator('b2b_Left_Side_manage_grp'); ?></a>
			</li>
			<?php endif; ?>
			           
            
            <?php if ($this->allow('list','backendtype','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendtype'){ ?> class="b2b-type-nav selected"<?php }else{ ?>class="b2b-type-nav"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'backendtype', 'action'=>'list'),'adminrout',true);?>"><?php echo $translator->translator('b2b_Left_Side_manage_bizType'); ?></a>
			</li>
			<?php endif; ?>
            
            
            <?php if ($this->allow('list','backendcategory','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendcategory'){ ?> class="b2b-type-cat-nav selected"<?php }else{ ?>class="b2b-type-cat-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendcategory', 'action'     => 'list'  ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_title_category_management'); ?></a>
			</li>
			<?php endif; ?>  
            
            
            <?php if ($this->allow('list','backendpackage','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendpackage'){ ?> class="b2b-pkgs-nav selected"<?php }else{ ?>class="b2b-pkgs-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendpackage', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_Left_Side_manage_package'); ?></a>
			</li>
			<?php endif; ?>
            

            <?php if ($this->allow('list','companies','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'companies'){ ?> class="b2b-company-nav selected"<?php }else{ ?>class="b2b-company-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'companies', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_Left_Side_manage_companies'); ?></a>
			</li>
			<?php endif; ?>
			
			<?php if ($this->allow('list','products','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'products'){ ?> class="b2b-product-nav selected"<?php }else{ ?>class="b2b-product-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'products', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_Left_Side_manage_products'); ?></a>
			</li>
			<?php endif; ?>
			

			<?php if ($this->allow('list','backendsellleads','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendsellleads'){ ?> class="b2b-selling-nav selected"<?php }else{ ?>class="b2b-selling-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendsellleads', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('menu_members_selling_manage'); ?></a>
			</li>
			<?php endif; ?>


			<?php if ($this->allow('list','backendbuyleads','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendbuyleads'){ ?> class="b2b-buying-nav selected"<?php }else{ ?>class="b2b-buying-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('menu_members_buying_manage'); ?></a>
			</li>
			<?php endif; ?>


            <?php if ($this->allow('list','tradeshow','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'tradeshow'){ ?> class="b2b-trade-nav selected"<?php }else{ ?>class="b2b-trade-nav"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'tradeshow', 'action'     => 'list' ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_Left_Side_manage_tradeshow'); ?></a>
			</li>
			<?php endif; ?>


            <?php if ($this->allow('list','successstories','B2b')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'successstories'){ ?> class="b2b-success-nav selected"<?php }else{ ?>class="b2b-success-nav"<?php } ?>>
			<a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'successstories', 'action'=>'list'),'adminrout',true);?>"><?php echo $translator->translator('b2b_Left_Side_manage_stories'); ?></a>
           	</li>
			<?php endif; ?>
            
           
           <?php if ($this->allow('list','backendvote','Vote')) : ?>
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected"<?php }else{ ?>class="vote"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'b2b_products'  ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_vote_menu1'); ?></a>
			</li>
			
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected"<?php }else{ ?>class="vote"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'b2b_selling_leads'  ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_vote_menu2'); ?></a>
			</li>
			
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected"<?php }else{ ?>class="vote"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'b2b_buying_leads'  ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_vote_menu3'); ?></a>
			</li>
			
			<li <?php if($getAction == 'list' && strtolower($getController) == 'backendvote'){ ?> class="vote selected last"<?php }else{ ?>class="vote last"<?php } ?>>
			<a href="<?php echo $this->url( array('module'=> 'Vote', 'controller' => 'backendvote', 'action'     => 'list', 'group_id' => 'b2b_company_profile'  ),'adminrout',true) ?>"><?php echo $translator->translator('b2b_vote_menu4'); ?></a>
			</li>
			<?php endif; ?>
        </ul>
  	</div>
</div>