<?php 
class b2b_content_featured
{
	protected	$_front_template;
	protected	$_view;
	protected	$_group_id = 1;
	protected	$_limit = 3;
	protected	$_order = 'added_on';
	protected	$_dir = 'DESC';	
	protected	$_translator;
	protected	$_product_db;
	protected	$_currency;
	protected	$_preferences_db;
	protected	$_preferences;
	
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$this->_product_db = new B2b_Model_DbTable_Products();	
		$this->_preferences_db = new B2b_Model_DbTable_Preferences();
		$this->_preferences	=	$this->_preferences_db->getOptions();
		$this->_limit = ($this->_preferences && !empty($this->_preferences['product_on_home'])) ? $this->_preferences['product_on_home'] : $this->_limit;
		if($this->_preferences && !empty($this->_preferences['product_home_sortby']))
		{
			$product_home_sortby_arr = explode('-', $this->_preferences['product_home_sortby']);
			$this->_order = (!empty($product_home_sortby_arr[0]) && $product_home_sortby_arr[0] != '_') ? $product_home_sortby_arr[0] : $this->_order;
			$this->_dir = (!empty($product_home_sortby_arr[1]) && $product_home_sortby_arr[1] != '_') ? $product_home_sortby_arr[1] : $this->_dir;
		}
	}
	
	public function truncate($phrase,$start_words, $max_words, $char = false, $charset = null)
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{
		//$search_params['filter']['filters'][0] = array('field' => 'group_id', 'operator' => 'eq', 'value' => $this->_group_id);
        $search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
		$search_params['filter']['filters'][1] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][2] = array('field' => 'status', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][3] = array('field' => 'cpy_active', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][4] = array( 'logic' => 'or', 'filters' => array(array('field' => 'priority', 'operator' => 'eq', 'value' => 'YES'), array('field' => 'featured', 'operator' => 'eq', 'value' => '1')));
		
		$search_params['sort'][0]	=	 array('field' => $this->_order, 'dir' => $this->_dir);
				
		$sql_class	=	new B2b_Controller_Helper_ProductSql();
		$tableColumns = $sql_class->getB2bContentFeaturedList (array('dataLimit' => $this->_limit));
		$product_info = $this->_product_db->getListInfo ('1', $search_params, $tableColumns);	
		if($product_info)
		{	
			$global_conf = Zend_Registry::get('global_conf');
			$currency_converter_helper = new Paymentgateway_Controller_Helper_Currency($global_conf);					
?>

<div class="block block-featured">
    <!--<h3><?php echo $this->_translator->translator('block_featured_title','','', $this->_front_template['theme_folder']); ?></h3> -->
	<?php
    foreach($product_info as $product_key => $info)
    {	
        $info = (!is_array($info)) ? $info->toArray() : $info;	
        $currency_arr 	= ($info['price_currency']) ? explode('-', $info['price_currency']) : array();
        $currency_symbol 		= (!empty($currency_arr[0])) ? trim($currency_arr[0]) : '';				
        $img_thumb_arr = explode(',', $info['product_images']);
        $primary_file_field_format = ($this->_view->escape(
                            
                            $info['product_images_primary'])) ? $info['images_path'] .

                         '/' .

                         $this->_view->escape(

                                $info['product_images_primary']) : $info['images_path'] .

                         '/' . $img_thumb_arr[0];									 
            
    $info['table_name']		=	'b2b_products';
    $info['original_price'] = $info['price'];
    $info['price'] = $currency_converter_helper->convert ($info['price_currency_locale'], $info['original_price']);
    $info['shopping_cart_enable'] = (($global_conf['payment_system'] == 'On') && ($global_conf['marchent_payment_system'] == 'On') &&  ($info['eCommerce'] == 'YES') && ($currency_converter_helper->checkCurrency ($info['price_currency_locale']) == true) ) ? true : false;
    $info['primary_file_field_format']	=	$primary_file_field_format;	
    ?> 
	<script>
    $(document).ready(function() {
        try{ 
            var item_array = <?php echo Zend_Json_Encoder::encode($info); ?>;		
            var indexCartModel = kendo.observable({  			
                addToCart: function(e) {					
                    $.each(item_array, function(key, value){
                            e.data[key] = value;
                        });						
                    cart.add(e.data);
                }
            });
            kendo.bind($("#product-featured-cart-info-<?php echo $info['id']; ?>"), indexCartModel); 
        }catch(e){};
    });
    </script>
    
    <div class="panel panel-default">
        <div class="panel-body">
        	<h6><a href="<?php echo $this->_view->url(array('module' => 'B2b', 'controller' => 'details', 'action' => 'products', 'company_title' => $this->_view->escape($info['company_title']), 'title' => $this->_view->escape($info['seo_title'])), 'Product-Details/:company_title/:title/*', true); ?>" title="<?php echo $this->_view->escape($info['name']); ?>"><?php echo $this->truncate($this->_view->escape($info['name']), 0, 20, true, 'UTF-8'); ?></a></h6>
            
            <figure>
                <div class="thumb">
                    <a href="<?php echo $this->_view->url(array('module' => 'B2b', 'controller' => 'details', 'action' => 'products', 'company_title' => $this->_view->escape($info['company_title']), 'title' => $this->_view->escape($info['seo_title'])), 'Product-Details/:company_title/:title/*', true); ?>" link="<?php echo $primary_file_field_format; ?>" title="<?php echo $this->_view->escape($info['name']); ?>"><img src="<?php echo $primary_file_field_format; ?>" border="0" width="200" class="img-responsive" /></a>
                </div>
            </figure>
            
            <div class="details text-center">
                <div class="ratings">
                	<?php	
                        $total_votes = (empty($info['voter_count'])) ? 0 : ceil((($info['total_votes'] / $info['voter_count']) * 5));
                        for($i = 1; $i <= 5; $i++)
                        {
                            $star_img = ($i <= $total_votes) ? 'star-small-active.png' : 'star-small-inactive.png';
                    ?>                        
                    <img src="application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/b2b_img/<?php echo $star_img; ?>" border="0" />
                    <?php
                        }
                    ?>
                </div>
                <span class="price-previous"><?php echo $currency_symbol. ' ' . $this->_view->numbers($this->_view->escape($info['strikethrough_price'])); ?></span> &nbsp; <span class="price"><?php echo $currency_symbol. ' ' . $this->_view->numbers($this->_view->escape($info['original_price'])); ?></span><br>
                <?php echo $this->truncate($this->_view->escape($info['short_description']), 0, 50, true, 'UTF-8'); ?><br>
                <?php if($info['shopping_cart_enable']) { ?>
                	<div id="product-featured-cart-info-<?php echo $info['id']; ?>"><a href="javascript:void(0)" data-bind="click: addToCart" class="btn btn-cart"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo  $this->_translator->translator('common_add_to_cart_btn', '', 'B2b'); ?></a></div>
                <?php } ?>
        	</div>    
        </div>
 	</div>
	<?php				
    	}
    ?>                
</div>
<?php
		}
	}
}

try
{
	$b2b_content_featured_class = new b2b_content_featured($this);
	$b2b_content_featured_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();	
}
?>