<?php
class b2b_mapView
{
	protected	$_group = 1;
	protected	$_limit = 5;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$company_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		$this->_limit = ($this->_global_conf['googlemaps_maxmarker']) ? $this->_global_conf['googlemaps_maxmarker'] : $this->_limit;
				
		$this->company_db = new B2b_Model_DbTable_CompanyProfile();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');	
		$mem_db = new Members_Model_DbTable_MemberList();
		if(!empty($this->_global_conf['payment_user_id']))
		{
			$mem_info = $mem_db->getMemberInfo($this->_global_conf['payment_user_id']) ;
			$mem_address = $this->_view->escape(strip_tags($mem_info['address']));
		}
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';	
		$search_params['filter']['filters'][1] = array('field' => 'active', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][2] = array('field' => 'status', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][3] = array('field' => 'spotlight', 'operator' => 'eq', 'value' => 'YES');
		$search_params['sort'][0] = array('field' => 'RAND()', 'dir' => 'exp');	
		
		$sql_class	=	new B2b_Controller_Helper_CompanySql();
		$tableColumns = $sql_class->getB2bPremiumCompanyProfileList (array('dataLimit' => $this->_limit));
		$tableColumns['b2b_company_profile'] = 	array('company_name' => 'cpy.company_name', 'seo_title' => 'cpy.seo_title', 'street' => 'cpy.street', 'company_city' => 'cpy.city',  'profile_image_primary' => 'cpy.profile_image_primary' );
		$tableColumns['company_countries'] = 	array('company_country' => 'cpycunt.value', 'company_country_code' => 'cpycunt.code');
		$company_info = $this->company_db->getListInfo('1', $search_params,  $tableColumns); 
		$company_info_array = ($company_info) ? $company_info->toArray() : array();
		
		/*echo '<pre>';
		print_r($company_info_array);
		echo '</pre>';*/
?>
<style>
#map-canvas{height:100%;margin:0 0 10px 0;padding:0px;}
</style>
<?php 	
	if ($this->_global_conf['googlemaps_api_key']) :
		echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$this->_global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false');
	 else  :
	 	echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
	 endif; 
?>

<script>
	// This example adds a marker to indicate the position 
	var mapSettingObj = {
							googleMap : {
										canvas_id			: 'map-canvas',
										address_id			: 'address',
										scrollwheel			: false,
										propertyAddress		: true,
										propertyAddressField:	['company_name', 'street', 'company_city', 'company_country'],
										pin_img_url 		: '<?php echo $this->_global_conf['googlemaps_pin_logo'];?>',
										loader_id			: 'map_loader',
										loader_img_url		: 'application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/loader/search-loader.gif',
										loader_language		: "<?php echo $translator->translator("partial_quick_contact_loader"); ?>",
										allAddresses 		: <?php echo Zend_Json_Encoder::encode($company_info_array); ?>,
										initializeOptions : {
																zoom: <?php echo $this->_global_conf['googlemaps_zoom'];?>,
																mapTypeId: google.maps.MapTypeId.<?php echo $this->_global_conf['googlemaps_maptypes'];?>,
																center: new google.maps.LatLng(<?php echo $this->_global_conf['googlemaps_latitude'];?>, <?php echo $this->_global_conf['googlemaps_longitude'];?>),
																zoomControlOptions: {
																				style : google.maps.ZoomControlStyle.SMALL	
																}
										},
										pin_template: function(address,lat,lng, obj_arr){
														  var html = "<div class='desc-container' style='width:200px'>" 
																		  +"<div class='block-title'> " + obj_arr.company_name + "</div>" 
																		  +'<a href="Company-Homepage/' + obj_arr.seo_title + '" class="preview" link="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" title="'+obj_arr.company_name+'"><img src="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" height="40" class="thumb"/></a>'
																		  + "<?php echo $translator->translator("front_tradeshow_address",'','B2b'); ?>: "+obj_arr.street+", "+obj_arr.company_city+", "+obj_arr.company_country+"<br/>"
																		  + "<a href='Company-Homepage/" + obj_arr.seo_title + "' class='details'><?php echo $translator->translator("common_click_here_language"); ?></a>"
																		  + "<span class='add'>" + address + "</span>" 
																		  + "</div>";
														  return html;
													  },
										title_template: function(address,lat,lng, obj_arr){
															var html = obj_arr.company_name + " ( " + address + " ) ";
															return html;
														}
								}
	};  
  
  	runGoogleMap(mapSettingObj);
</script>

<div class="block block-map">
	<span class="glyphicon glyphicon-map-marker"></span> <h3><?php echo $translator->translator('block_country_title','','', $this->_front_template['theme_folder']); ?> &nbsp; <span id="map_loader"></span></h3>
    <div style="height:250px;">
    	<div id="map-canvas"></div>
    </div>
    <br>
    <div class="form-group">
    	<input id="address" type="textbox" value="<?php echo $mem_address; ?>" class="form-control">
    </div>
    
    <div class="text-center">
    	<input type="button" value="<?php echo $translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(mapSettingObj)" class="btn">
    	<input type="button" value="<?php echo $translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(mapSettingObj)" class="btn">
    </div>
    <hr>
	<?php
    if($company_info_array)
    {
        $c = 1;
        foreach($company_info_array as $key => $entry)
        {
    ?>
    <div class="row">
        <div class="col-xs-12">
            <a href="Company-Homepage/<?php echo $this->_view->escape($entry['seo_title']); ?>"><span class="glyphicon glyphicon-map-marker"></span> <?php echo $this->_view->escape($entry['street']).', '.$this->_view->escape($entry['company_city']).'<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'.$this->_view->escape($entry['company_country']); ?></a>
        </div>
    </div>
    <?php
            /*
            if($c % 2 == 0)
            {
                echo '</div><div class="col-xs-12">';
            }
            $c++;
            */
        }
    }
    ?>
</div>

<?php
	}
}
try
{
	$b2b_mapView_class = new b2b_mapView($this);
	$b2b_mapView_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>