<?php
class members_content_profile
{
	protected	$_front_template;
	protected	$_view;
	protected	$_group_id = 1;
	protected	$_limit = 12;
	protected	$_order = 'added_on';
	protected	$_dir = 'DESC';		
	protected	$_translator;
	protected	$_company_profile_db;
	protected	$_currency;
	protected	$_preferences_db;
	protected	$_preferences;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$this->_company_profile_db = new B2b_Model_DbTable_CompanyProfile();	
		$this->_preferences_db = new B2b_Model_DbTable_Preferences();
		$this->_preferences	=	$this->_preferences_db->getOptions();
		$this->_limit = ($this->_preferences && !empty($this->_preferences['suppliers_on_home'])) ? $this->_preferences['suppliers_on_home'] : $this->_limit;
		if($this->_preferences && !empty($this->_preferences['suppliers_home_sortby']))
		{
			$suppliers_home_sortby_arr = explode('-', $this->_preferences['suppliers_home_sortby']);
			$this->_order = (!empty($suppliers_home_sortby_arr[0]) && $suppliers_home_sortby_arr[0] != '_') ? $suppliers_home_sortby_arr[0] : $this->_order;
			$this->_dir = (!empty($suppliers_home_sortby_arr[1]) && $suppliers_home_sortby_arr[1] != '_') ? $suppliers_home_sortby_arr[1] : $this->_dir;
		}
	}
	
	public function truncate($phrase,$start_words, $max_words, $char = false, $charset = null)
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{
		
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/modernizr.custom.js');
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery-rotator.js');
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/jquery-rotator.css');
        
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';
		//$search_params['filter']['filters'][0] = array('field' => 'displayble', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][1] = array('field' => 'active', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][2] = array('field' => 'status', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][3] = array('field' => 'spotlight', 'operator' => 'eq', 'value' => 'YES');
		
		$search_params['sort'][0]	=	array('field' => $this->_order, 'dir' => $this->_dir);
		
		$sql_class	=	new B2b_Controller_Helper_CompanySql();
		$tableColumns = $sql_class->getB2bPremiumCompanyProfileList (array('dataLimit' => $this->_limit));
		$company_profile_info = $this->_company_profile_db->getListInfo ('1', $search_params, $tableColumns);	
		if($company_profile_info)
		{			
?>		
		
<div class="block block-supplier">
	<!--<h3><?php //echo $this->_translator->translator('block_suppliers_title','','', $this->_front_template['theme_folder']); ?></h3>-->
    
    <div id="cbp-qtrotator" class="cbp-qtrotator">						
        <?php
        
        foreach($company_profile_info as $company_profile_key => $info)
        {
            $profile_image_primary_format = ($this->_view->escape( $info['profile_image_primary'])) ? $info['images_path'] . '/' . $info['profile_image_primary'] : '';
            
        ?>
        <div class="cbp-qtcontent">
        	<figure>
            	<div class="thumb"><a href="<?php echo $this->_view->url(array('module' => 'B2b', 'controller' => 'company', 'action' => 'home', 'company_title'  => $this->_view->escape($info['company_title'])), 'Company-Homepage/:company_title/*', true); ?>"><img src="<?php echo $profile_image_primary_format; ?>" title="<?php echo $this->_view->escape($info['company_name']); ?>" border="0" width="80" class="img-responsive"/></a></div>
           		<a href="<?php echo $this->_view->url(array('module' => 'B2b', 'controller' => 'company', 'action' => 'home', 'company_title'  => $this->_view->escape($info['company_title'])), 'Company-Homepage/:company_title/*', true); ?>"><?php echo $this->truncate($this->_view->escape($info['company_name']), 0, 25, true, 'UTF-8'); ?></a><br>
            	<?php echo $this->truncate($this->_view->escape($info['company_information']), 0, 280, true, 'UTF-8'); ?>						
            </figure>
        </div>
        <?php   
        }
        ?>
    </div>
    
   	<div class="more">
		<a href="All-Company-List"><?php echo $this->_translator->translator('block_suppliers_more','','', $this->_front_template['theme_folder']); ?> <span class="glyphicon glyphicon-share-alt"></span></a> 
	</div>
</div>
<?php			
		}
	}
}
try
{
	$members_content_profile_class = new members_content_profile($this);
	$members_content_profile_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}	
?>

<script>
	$( function() {
		$( '#cbp-qtrotator' ).cbpQTRotator();
	} );
</script>   