<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
$helper_path = $this->getHelpers();
$doc_view = $helper_path[Doctype]->view;
$translator = Zend_Registry::get('translator');
$imageDir = $doc_view->companyDetails['images_path'];
$avatar_img = ($doc_view->companyDetails['avatar_img']) ? ($doc_view->companyDetails['avatar_img']) : 'avatar.png';

?>

<div class="panel pael-default">
	<?php //echo $translator->translator('block_contact_title','','', $front_template['theme_folder']); ?>
    
	<table class="table table-striped table-hover table-bordered">
    	<?php  
        	if ($doc_view->companyDetails['payment_type'] || $doc_view->companyDetails['language']){						
        ?>  

   		<tr class="info">
        	<td colspan="2"><?php  echo  $translator->translator('b2b_front_company_profile_overview')?> :</td>
      	</tr>
        
        <tr>
			<td><?php echo ($doc_view->companyDetails['category_name']) ? ''. $translator->translator('b2b_front_company_profile_category')  .':  ' . $doc_view->companyDetails['category_name']  : '' ?></td>
            <td><?php echo ($doc_view->companyDetails['language']) ? '' .$translator->translator('b2b_front_company_profile_language')  .':  ' . str_replace (',' ,', ' ,$doc_view->companyDetails['language']) : '' ?></td>
        </tr>
        
		<?php  
			}
        	if ($doc_view->companyDetails['business_type'] || $doc_view->companyDetails['registered_on'] ){						
         ?>  
   
        <tr class="info">
        	<td colspan="2"><?php  echo  $translator->translator('b2b_front_company_profile_biztype')?> :</td>
      	</tr>
        <tr>
    		<td><?php echo ($doc_view->companyDetails['business_type']) ? '' .$translator->translator('b2b_front_company_profile_scope')  .':  ' . implode (", ",$doc_view->companyDetails['business_type']) : '' ?></td>
            <td><?php echo ($doc_view->companyDetails['registered_on']) ? '' .$translator->translator('b2b_front_company_profile_registered')  .':  ' . $doc_view->companyDetails['registered_on']  : '' ?> </td>
        </tr>

		<?php  
			}
        	if ($doc_view->companyDetails['full_name']){						
         ?>  

        <tr class="info">
    		<td colspan="2"><?php  echo  $translator->translator('b2b_front_company_profile_name')?>:</td>
		</tr>
        <tr>
        	<td><img src="<?php echo $imageDir .'/'. $avatar_img; ?>" border="0" width="85" class="img-thumbnail"/></td>
           	<td>
            <?php echo $doc_view->companyDetails['full_name'] ?>
            <br>
			<?php
			$trade_type = $doc_view->companyDetails['trade_type'] ;	
			if  ($trade_type) :  
			?>
            
           	(<?php if ($trade_type == '1') { echo  $translator->translator('b2b_keywords_buyers') ;} elseif ($trade_type == '2') { echo  $translator->translator('b2b_keywords_sellers');} elseif ($trade_type == '3') { echo  $translator->translator('b2b_keywords_both');}?>)

            <?php  
				endif ;
			?> 
            </td>
		</tr>

		<?php  
			}				
       	?>  
        <tr class="info">
        	<td colspan="2"><?php  echo  $translator->translator('b2b_front_company_profile_country_orgin')?> :</td>
		</tr>
        <tr>
        	<td colspan="2"><img src="data/adminImages/flagsImage/<?php echo $doc_view->companyDetails['country_code'] ?>.gif" border="0" alt="<?php echo $doc_view->companyDetails['country_name'] ?>" /> &nbsp; (<?php echo $doc_view->companyDetails['state'].' , '. $doc_view->companyDetails['city']?> )</td>
      	</tr>
       
		<?php
		$phone = $doc_view->companyDetails['phone'] ;	
		$company_street = $doc_view->companyDetails['company_street'] ;	
		$company_city = $doc_view->companyDetails['company_city'] ;
		$company_country_code = $doc_view->companyDetails['company_country_code'] ;
		?>
        <tr class="info">
            <td colspan="2"><?php  echo  $translator->translator('b2b_front_company_profile_contact_info')?> :</td>
        </tr>
        <tr>
            <td>	
                <?php if  ($company_street) : ?>
                <?php  echo  $translator->translator('b2b_front_company_profile_street')?> :
                <?php  echo ($company_street ) ? $company_street : ''?> 
            </td> 
            <td>
                <?php  endif ; 
                    if  ($company_city || $company_country_code) : ?>
                
                    <?php  echo  $translator->translator('b2b_front_company_profile_country')?> :
                    <?php  echo ($company_country_code ) ? "<img src='data/adminImages/flagsImage/".$company_country_code .".gif' border='0'  alt='" . $doc_view->companyDetails['company_country_name'] . "'/>" : ''?>
                    <?php  echo ($company_city ) ? '(' . $company_city .')': ''?>                         
                
                <?php  endif ;  ?> 
             </td>
        </tr>
    </table>
</div>
