<?php 
class menu_successStory_MemberPackage
{
	protected	$_front_template;
	protected	$_view;
	protected	$_group_id = 1;
	protected	$_limit = 0;
	protected	$_order = 'package_order';
	protected	$_dir = 'ASC';	
	protected	$_translator;
	protected	$_success_story_db;
	protected	$_currency;
	protected	$_preferences_db;
	protected	$_preferences;
	protected	$_global_conf;
	
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_global_conf = Zend_Registry::get('global_conf');
		$this->_currency = new Zend_Currency($this->_global_conf['default_locale']);	
		$this->_translator = Zend_Registry::get('translator');	
		$this->_packages_db = new B2b_Model_DbTable_Package();	
		$this->_preferences_db = new B2b_Model_DbTable_Preferences();
		$this->_preferences	=	$this->_preferences_db->getOptions();
		$this->_limit = ($this->_preferences && !empty($this->_preferences['pMembers_on_home'])) ? $this->_preferences['pMembers_on_home'] : $this->_limit;	
		if($this->_preferences && !empty($this->_preferences['pMembers_home_sortby']))
		{
			$pMembers_home_sortby_arr = explode('-', $this->_preferences['pMembers_home_sortby']);
			$this->_order = (!empty($pMembers_home_sortby_arr[0]) && $pMembers_home_sortby_arr[0] != '_') ? (($pMembers_home_sortby_arr[0] == 'deal') ? $this->_deal_operator.'_num' : $pMembers_home_sortby_arr[0]) : $this->_order;
			$this->_dir = (!empty($pMembers_home_sortby_arr[1]) && $pMembers_home_sortby_arr[1] != '_') ? $pMembers_home_sortby_arr[1] : $this->_dir;
		}
	}
	
	public function truncate($phrase,$start_words, $max_words, $char = false, $charset = null)
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{
		$search_params['filter']['logic'] = ($search_params['filter']['logic']) ? $search_params['filter']['logic'] : 'and';		
		$search_params['filter']['filters'][0] = array('field' => 'active', 'operator' => 'eq', 'value' => '1');
		$search_params['filter']['filters'][1] = array('field' => 'displayable', 'operator' => 'eq', 'value' => '1');
		
		$search_params['sort'][0]	=	 array('field' => $this->_order, 'dir' => $this->_dir);	
		
		$search_params['dataLimit']		=	$this->_limit;	
						
		$package_info = $this->_packages_db->getListInfo ('1', $search_params);				
?>
            <div class="block block-success-story text-center">
           		<!--<h3><span class="glyphicon glyphicon-comment"></span> <?php //echo $this->_translator->translator('block_menu_success_story_title','','', $this->_front_template['theme_folder']); ?></h3>-->
                <a href="Success-Stories" class="btn more-story"><span class="glyphicon glyphicon-comment"></span> <?php echo $this->_translator->translator('block_menu_success_story_list_1','','', $this->_front_template['theme_folder']); ?></a>
                <a href="Success-Story" class="btn post-story"><span class="glyphicon glyphicon-pencil"></span> <?php echo $this->_translator->translator('block_menu_success_story_list_2','','', $this->_front_template['theme_folder']); ?></a>
			</div>
		  	<?php	  
          	if($package_info)
          	{
            	$currenceSymbol = $this->_currency->getSymbol();
          	?>
<?php
		}
	}
}
try
{
	$menu_successStory_MemberPackage_class = new menu_successStory_MemberPackage($this);
	$menu_successStory_MemberPackage_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>