<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
$frontController = Zend_Controller_Front::getInstance();
$params = $frontController->getRequest()->getParams();

$product_db = new B2b_Model_DbTable_Products();
$tableColumns = array(
                'b2b_products' => array( 'product_num' =>  'COUNT(pro.id)', 'user_num' =>  'COUNT(DISTINCT pro.user_id)'),
				'userChecking' => false
				);
$product_info = $product_db->getListInfo('1', null, $tableColumns);
if($product_info)
{
	$product_info = (is_array($product_info)) ? $product_info->toArray() : $product_info;
	if($product_info[0])
	{
		$product_num	=	$this->numbers(number_format($product_info[0]['product_num']));
		$user_num	=	$this->numbers(number_format($product_info[0]['user_num']));
	}
}

?>
<script>
	$(document).ready(function() {
		$("#categories").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($params['category_id'] && $params['categories_input']) ? $params['categories_input'] : ''; ?>",
			value: "<?php echo ($params['category_id'] && $params['categories_input']) ? $params['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # # } # ${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});		
	});
	function checkData()
	{
		var combobox = $("#categories").data("kendoComboBox");		
		if(combobox)
		{
			$('#category_id').val(combobox.value());				
		}
		return true;
	}
</script>
<div class="block block-search">
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form id="shortSearchform" name="shortSearchform" method="post" action="Search-Results" onsubmit="return checkData();" role="form">
                    <div class="form-group">
                        <input name="categories" id="categories" class="form-control" /><input type="hidden" name="category_id" id="category_id" value="<?php echo ($params['category_id'] && $params['categories_input']) ? $params['category_id'] : ''; ?>" />
                    </div>
                    
                    <div class="form-group">
                        <input name="keywords" type="text" id="keywords" value="<?php echo $params['keywords']; ?>" placeholder="<?php echo $translator->translator('block_search_placeholder','','', $front_template['theme_folder']); ?>" class="form-control" />
                    </div>
                    
                    <div class="form-group">
                    	<input type="submit" name="short_search_btn" id="short_search_btn" value="<?php echo $translator->translator('permisson_b2b_front_search', '', 'B2b'); ?>" class="btn btn-search btn-block"/>
                 	</div>
                    
                    <a href="<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=>'search'),'Search-Results/*', true); ?>" class="btn btn-block btn-adv-search"><span class="glyphicon glyphicon-search"></span> <?php echo $translator->translator('block_search_advanced','','', $front_template['theme_folder']); ?></a>
                </form>
            </div>
        </div>
    </div>
</div>