<?php
if($this->last > 1)
{
$helper_path = $this->getHelpers();
$doc_view = $helper_path[Doctype]->view;

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');

foreach($doc_view->view_datas as $main_datas)
{
	$get_cat_id = $main_datas['parent'];	
}

$cat_id = ( $doc_view->group_datas['category_on_off'] == '0') ? '0' : $get_cat_id;
if($cat_id != '0')
{
	$cat_db  = new Gallery_Model_DbTable_Category();
	$cat_info = $cat_db->getCategoryInfo($cat_id);
	$category_title = $cat_info['category_title'];
}
else
{
	$category_title = '0';
}

$parent	= ($frontController->getRequest()->getParam('parent'))? $frontController->getRequest()->getParam('parent') : $category_title;
$translator = Zend_Registry::get('translator');
?>

<div class="text-center">
    <ul class="pagination">
        <!-- Previous page link -->		
        <?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'page' => $this->previous),'Chart-Category/:menu_id/:parent/:page',true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_previous'); ?>&laquo;</a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'page' => $page),'Chart-Category/:menu_id/:parent/:page',true); ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $page; ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
           	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'page' => $this->next),'Chart-Category/:menu_id/:parent/:page',true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>
</div>
<?php
}
?>