<?php
$front_template = Zend_Registry::get('front_template');

echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');
/*
echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/slider-pro/css/slider/advanced-slider-base.css');
echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/slider-pro/css/slider/prettyPhoto.css');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/excanvas.compiled.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/jquery.mousewheel.min.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/jquery.prettyPhoto.custom.min.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/jquery.easing.1.3.js');   
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/froogaloop.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/video.js'); 
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/jquery.videoController.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/jquery.touchSwipe.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/slider-pro/js/slider/dev/jquery.advancedSlider.js'); 
*/

/*******MUST BE DYNAMIC*************************/
//echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/slider-pro/skins/slider/curved-square/curved-square.css');
//echo $this->headLink()->setStylesheet($this->baseUrl().'/vendor/scripts/slider-pro/skins/scrollbar/scrollbar-7-light/scrollbar-7-light.css');


$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

if(!empty($this->view_datas['meta_keywords'])){ $this->headMeta()->setName('keywords',$this->view_datas['meta_keywords']); }
if(!empty($this->view_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->view_datas['meta_desc']); }
if(!empty($this->view_datas['product_name'])) { $this->headTitle()->headTitle($this->escape($this->view_datas['product_name']),'SET')->setSeparator(' - ')->headTitle($this->view_datas['meta_title']); }
?>

<script type="text/javascript">	
	$(function() {
		$('#pro_list').hide('slow');
		$('a.toggle_pro').click(function() {
			var self = this;
			$('#pro_list').slideToggle(500,function () {
				var src = $(self).children("img").attr('src');
				var input = (src == 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/minus.png') ? 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/plus.png' : 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/minus.png';
				$(self).children("img").attr('src',input);
			});
			return false;
		  });
		  
	});
</script>

<style>
#owl-demo .item{
	margin: 3px;
}

#owl-demo .item > img{
	display: block;
	width: 100%;
	/*height:200px;*/
	margin-bottom:15px;
}
</style>

<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 4000,
		stopOnHover: true,
		autoHeight: false,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>

<div class="mod gallery">
	<h1><?php $menu_db_class = new Menu_Model_DbTable_Menu(); $menu_name = $menu_db_class->getMenuName($this->menu_id); echo $this->escape($this->view_datas['product_name']); ?></h1>

    <!-- Category Panel Start -->
    <?php
    if($this->group_datas['category_panel'] == '1')
    {
            $categoryPanel = new Gallery_View_Helper_CategoryPanel();
            
    ?>
    <div class="cat-panel clearfix">
    	<a href="javascript:void(0);" class="toggle_pro toggle-link"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/plus.png" border="0" /><div class="toggle"><?php echo $this->translator->translator('gallery_frontend_common_category_list_title'); ?></div></a>
    	<div id="pro_list" class="well">
            <?php echo $categoryPanel->getCategories('0',$this,$this->group_datas['id'],null,$this->menu_id, $this->translator); ?>            
        </div>
    </div>
    <?php
        }
    ?>
    <!-- Category Panel End -->
    
    <div class="well">
		<?php if($this->group_datas['horizontal_panel'] == '1') { echo $this->partial('blocks/pathway.phtml'); } ?>
    </div>
    
    <div class="gallery-container gallery-details">
        <?php
        if($this->group_datas['gallery_type'] == 'video' || $this->group_datas['gallery_type'] == 'music')
        {
            //echo $this->headScript()->appendFile($this->baseUrl().'/js/jquery/media/jquery.metadata.js');
            echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/media/jquery.media.js');
            
            $product_file_val_arr = explode(',',$this->view_datas['product_file']);	
                            
        ?>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.media_gallery').media({
                        width:		'<?php echo $this->escape($this->group_datas["img_big_width"]);?>',
                        height:		'<?php echo $this->escape($this->group_datas["img_big_height"]);?>',
                        flvPlayer:     'js/jquery/media/player.swf', 
                        mp3Player:     'js/jquery/media/player.swf'
                    });
                });						
            </script>
            
            <table width="100%">
                <tr>
                    <?php
                    if(!empty($this->view_datas['product_file']))
                    {
                        $cnt = 1;
                        foreach($product_file_val_arr as $key=>$value)
                        {
                                $file_ext = Eicra_File_Utility::getExtension($this->escape($value));		
                                $light_box_image = $this->baseUrl().'/data/frontImages/gallery/video_file/'.$this->escape($value); 
                                switch($file_ext)
                                {
                                    case 'swf':
                                    case 'flv':
                                    case 'mp3':
                                        $href = 'js/jquery/media/mediaplayer.swf?file='.$light_box_image;
                                        break;
                                    case 'wmv':
                                    case 'avi':
                                    case 'mpg':
                                    case '3g2':
                                    case 'ram':										
                                        $href = $light_box_image;
                                        break;
                                    default:
                                        $href = $light_box_image;
                                        break;
                                }
                        ?>
                        <td align="center" >
                            <a class="media_gallery" href="<?php echo $href; ?>"><?php echo $this->escape($value); ?></a>															
                        </td>
                        <?php
                            if($cnt % $this->escape($this->group_datas["file_col_num"]) == 0)
                            {
                                echo '</tr><tr>';
                            }
                            $cnt++;
                        }
                     }
                     else
                     {
                    ?>
                        <td align="center">
                            <?php echo stripslashes($this->view_datas['product_desc']); ?>
                        </td>
                    <?php
                     }
                    ?>
                </tr>
            </table>
        <?php
        }
        else
        {
        ?>
            <?php
                $product_file_val_arr = explode(',',$this->view_datas['product_file']);
                if($this->escape($this->view_datas['product_thumb_primary']))
                { 
                    $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($this->view_datas['product_thumb_primary']); 
                }
                else
                { 
                    if($this->escape($this->view_datas['product_thumb']))
                    {
                        $product_thumb_val_arr = explode(',',$this->view_datas['product_thumb']);
                        $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($product_thumb_val_arr[0]); 
                    }
                    else
                    {
                        if($this->escape($this->view_datas['product_file_primary']))
                        {
                            $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($this->view_datas['product_file_primary']); 
                        }
                        else
                        {
                            $product_file_val_arr = explode(',',$this->view_datas['product_file']);
                            $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($product_file_val_arr[0]); 
                        }
                    }		
                }
                 
                if($this->escape($this->view_datas['product_file_primary']))
                {
                    $light_box_image = 'data/frontImages/gallery/product_image/'.$this->escape($this->view_datas['product_file_primary']); 
                }
                else
                {
                    
                    $light_box_image = 'data/frontImages/gallery/product_image/'.$this->escape($product_file_val_arr[0]); 
                }
                
                 $title_data = ''.$this->translator->translator('gallery_common_name').' '.$this->escape($this->view_datas['product_name']); 
                 if($this->escape($this->view_datas['product_code']))
                 { 
                    $title_data .= '<br />'.$this->translator->translator('gallery_common_code').' '.$this->escape($this->view_datas['product_code']); 
                 } 
                 if($this->escape($this->view_datas['product_price']))
                 { 
                    $title_data .= '<br />'.$this->translator->translator('gallery_common_price').' '.$this->escape($this->view_datas['product_price']).' '.$currency->getSymbol(); 
                 }
                // if($this->escape($this->view_datas['product_desc']))
                // {  
                   // $title_data .= '<br /><b>'.$this->translator->translator('gallery_common_desc').' </b>'.$this->escape(strip_tags($this->view_datas['product_desc']));
                // }
            ?>
            <?php 						
                if($this->group_datas['img_big_resize_func'] != 'OriginalSize')
                {
                    if($this->group_datas['img_big_width'] && ($this->group_datas['img_big_resize_func'] == 'resizeToWidth' || $this->group_datas['img_big_resize_func'] == 'resize'))
                    { 
                        $width = 'width="'.$this->escape($this->group_datas['img_big_width']).'"'; 
                        $widthStyle = 'width:"'.$this->escape($this->group_datas['img_big_width']).'px;"'; 
                    } 
                    if($this->group_datas['img_big_height'] && ($this->group_datas['img_big_resize_func'] == 'resizeToHeight' || $this->group_datas['img_big_resize_func'] == 'resize'))
                    { 
                        $height = 'height="'.$this->escape($this->group_datas['img_big_height']).'"';
                        $heightStyle = 'height:"'.$this->escape($this->group_datas['img_big_height']).'px;"'; 
                    } 
                }
            ?>
            
            <!-- Begin content -->
            <div id="owl-demo">
				<?php
                    foreach($product_file_val_arr as $product_file_val_key => $product_file)
                    {
                ?>
                
                	<figure>
                        <div class="thumb">
                            <div class="item">
                                <img src="data/frontImages/gallery/product_image/<?php echo $product_file;?>"  alt="<?php echo html_entity_decode($this->escape($this->view_datas['product_name'])) ?>" border="0" class="img-responsive"/>
                                <div class="text-center">
                                	<?php //echo html_entity_decode($this->escape($this->view_datas['product_name'])) ?>
                                </div>
                            </div>
                        </div>
                    </figure>
                <?php
                    }
                ?>
			</div>
            <br>
            <?php echo html_entity_decode($this->escape($title_data)); ?>
            <!-- End content -->		
        <?php
        }
        ?>
    </div>
    
    <?php if($this->related_products){ ?>
    <div class="gallery-container related">
        <h1><span class="glyphicon glyphicon-camera"></span> <?php echo $this->translator->translator('gallery_frontend_details_related_pictures'); ?></h1>
       	<div class="row">
			<?php			
                foreach($this->related_products as $related_products_key => $related_items)
                {
                    $active_class = ($related_items['id'] == $this->view_datas['id']) ? 'active' : '';
                    if($this->escape($related_items['product_thumb_primary']))
                    { 
                        $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($related_items['product_thumb_primary']); 
                    }
                    else
                    { 
                        if($this->escape($related_items['product_thumb']))
                        {
                            $product_thumb_val_arr = explode(',',$related_items['product_thumb']);
                            $thumb_image = 'data/frontImages/gallery/product_thumb/'.$this->escape($product_thumb_val_arr[0]); 
                        }
                        else
                        {
                            if($this->escape($related_items['product_file_primary']))
                            {
                                $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($related_items['product_file_primary']); 
                            }
                            else
                            {
                                $product_file_val_arr = explode(',',$related_items['product_file']);
                                $thumb_image = 'data/frontImages/gallery/product_image/'.$this->escape($product_file_val_arr[0]); 
                            }
                        }		
                    }
                    $link = $this->url( array('module' => 'Gallery','controller' =>'frontend','action' => 'productdetails','menu_id' => $this->escape($this->menu_id),'product_title' => $this->escape($related_items['product_title']) ), 'Details/:menu_id/:product_title',    false);
            ?>
            <div class="col-xs-6">
                <div class="image-box <?php echo $active_class; ?>">
                	<div class="gallery-thumb related-thumb"><a class="preview" href="<?php echo $link; ?>" title="<?php echo $this->escape($related_items['product_name']); ?>" link="<?php echo $thumb_image; ?>" width="200"><img src="<?php echo $thumb_image; ?>" width="80" border="0" class="thumb-img" title=""></a></div>
                </div>
            </div>
            <?php
                }			
            ?>
       	</div>
    </div>
    <?php } ?>
    <!-- Getting All Comments from Comment Module and Add Comment Form -->
    <?php 
        $allCommentObj = new Comment_View_Helper_RepliedCommentMobile($this);
        echo $allCommentObj->getAllActiveComments('gallery_product',$this->escape($this->view_datas['id']));		
    ?>
    <!-- End of Getting All Comments from Comment Module Add Comment Form -->
</div>