<?php
if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}
if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }
if(!empty($this->group_datas['gallery_name'])) { $this->headTitle()->headTitle($this->group_datas['gallery_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$front_template = Zend_Registry::get('front_template');
?>
<?php 
$allow_obj = new Gallery_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<div class="mod gallery">
	<h1><?php $menu_db_class = new Menu_Model_DbTable_Menu(); $menu_name = $menu_db_class->getMenuName($this->menu_id); echo $this->escape($menu_name); ?></h1>
  	
    <?php
		$i =1 ;
		$check_child = new Gallery_View_Helper_SubCategory();
		foreach ($this->view_datas as $entry=>$value): 			
		if($this->group_datas['category_on_off'] == '1')
		{
			$col_num =  $this->escape($this->group_datas['cat_col_num']);
			if($check_child->checkChild($value['id'],$value['group_id']))
			{
				$link = $this->url( array('module' => 'Gallery','controller' =>'chart','action' => 'categories','menu_id' => $this->escape($this->menu_id),'parent' => $this->escape($value['category_title'])), 'Chart-Category/:menu_id/:parent',    false);
			}
			else
			{
				$link = $this->url( array('module' => 'Gallery','controller' =>'chart','action' => 'viewproduct','menu_id' => $this->escape($this->menu_id),'parent' => $this->escape($value['category_title']),'group_id' => $this->escape($value['group_id']) ), 'Chart-Product/:menu_id/:parent/:group_id',    false);
			}
		}
		else
		{
			$col_num =  $this->escape($this->group_datas['file_col_num']);
		}
		
		if($value['featured'] == '1')
		{
			$style = 'style="background: #FF0000;"';
		}
		else
		{
			$style = "";
		}
		$row_class = ($i % 2 == 0) ? 'chart-bg' : '';
	?>
	<div class="panel panel-default">
		<div class="panel-heading"><span class="glyphicon glyphicon-link"></span> <a href="<?php echo $link; ?>" title="<?php echo $this->escape($value['category_title']); ?>" class="preview" link=""><?php echo $this->escape($value['category_name']); ?></a></div>
      	<div class="panel-body">
        	<table class="table table-hover table-striped table-bordered">
            	<tr>
                    <td colspan="2" class="text-center">
                    	<?php
							if($this->escape($value['category_thumb']))
							{
							?>
							<a href="<?php echo $link; ?>" alt="<?php echo $this->escape($value['category_title']); ?>" class="preview" link=""><img src="data/frontImages/gallery/category_thumb/<?php echo $this->escape($value['category_thumb']); ?>" width="180" class="img-thumbnail img-responsive"/></a>
							<?php
							}
							else
							{
							?>
							<img src="application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_property_img/no_image.png" class="img-thumbnail img-responsive"/>
							<?php
							}
						?>
                    </td>
                </tr>
                <tr>
                	<td class="title">
                    	<span class="glyphicon glyphicon-bookmark"></span> <?php echo $this->translator->translator('gallery_chart_product_menu_items'); ?>
                    </td>
                    <td>
                    	<?php echo truncate($this->escape($value['category_desc']), 0, 40); ?>
                    </td>
                </tr>
                <tr>
                	<td class="title">
                    	<span class="glyphicon glyphicon-barcode"></span> <?php echo $this->translator->translator('gallery_chart_product_code'); ?>
                    </td>
                    <td>
                    	<?php echo $this->escape($value['category_code']); ?>
                    </td>
                </tr>
                <tr>
                	<td class="title">
                    	<span class="glyphicon glyphicon-tag"></span> <?php echo $this->translator->translator('gallery_chart_product_price'); ?>
                    </td>
                    <td>
                    	<span class="price"><?php echo $currency->getSymbol().''.$this->escape($value['category_price']); ?></span>
                    </td>
                </tr>
            </table>
      	</div>
    </div>
	<?php
		$i++;
		endforeach;		  
	?>
                
    <?php echo $this->paginationControl($this->view_datas, 'Sliding', 'chart/view-pagination-flickr.phtml'); ?>
</div>
<?php endif; ?>