<?php
if($this->last > 1)
{
$helper_path = $this->getHelpers();
$doc_view = $helper_path[Doctype]->view;

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');
$parent = ($frontController->getRequest()->getParam('parent'))? $frontController->getRequest()->getParam('parent') : '0';
$group_id = ($frontController->getRequest()->getParam('group_id')) ? $frontController->getRequest()->getParam('group_id') : $doc_view->group_datas['id'];
$translator = Zend_Registry::get('translator');
?>

<div class="text-center">
    <ul class="pagination">
        <!-- Previous page link -->		
        <?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'group_id' => $group_id,'page' => $this->previous),'Chart-Product/:menu_id/:parent/:group_id/:page',true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'group_id' => $group_id,'page' => $page),'Chart-Product/:menu_id/:parent/:group_id/:page',true); ?>"><?php echo $page; ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $page; ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
              <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id,'parent' => $parent,'group_id' => $group_id,'page' => $this->next),'Chart-Product/:menu_id/:parent/:group_id/:page',true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>
</div>
<?php
}
?>