<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />
<?php  echo $this->headMeta(); ?>

<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$acount_link = 'Members-Dashboard' ;
$my_account = 'Members-Dashboard' ;
$add_url = ($auth->hasIdentity ()) ? $this->url(array('module'=> 'Autos','controller'=>'Backendpro', 'action'=>'add'), 'adminrout', true)  : $this->serverUrl().$this->baseUrl().'/Frontend-Login';
?>

</head>
<body>
<div id="slide-in-content">
    
<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->

<!-- Top Navigation Start-->
<nav class="top-nav">
    <div class="container">
        <?php echo $this->partial('blocks/menu_header.phtml'); ?>
    </div>
</nav>
<!-- Top Navigation End-->

<!-- Banner Start-->
	<?php  
		if($is_frontend->isFrontend()) 
		{
	?>
    
    <div id="banner">
    	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/slide-1.jpg" alt="" title="" border="0" class="img-responsive">
		<div class="container">
			<?php echo $this->partial('blocks/autos_home_banner_search.phtml'); ?>
        </div>
    </div>
    <?php //echo $this->partial('blocks/home_banner_slideshow.phtml'); ?>
    <?php
		}
		else{
	?>
    <div id="banner-inner">
    	<div class="container">            
            <h1><?php echo $this->translator->translator('banner_inner_slogan','', '', $front_template['theme_folder']); ?></h1>
        </div>
    </div>
    <?php  
	}
	?>
    
<!-- Banner End-->

<!-- Main Body Start -->
<section class="container">
    <?php if($is_frontend->isFrontend()){ ?>
    
    	<div class="content-container">
        	<!-- Content Start -->
            <article>
                <!-- Featured Tab Starts-->	
                <div id="usual" class="usual">
                    <ul>
                      <li><a class="selected" href="#tab1"><?php echo $this->translator->translator('autos_front_page_block_tab1', '', '', $front_template['theme_folder']) ?></a></li>
                      <li><a class="" href="#tab2"><?php echo $this->translator->translator('autos_front_page_block_tab2', '', '', $front_template['theme_folder']) ?></a></li>
                      <li><a class="" href="#tab3"><?php echo $this->translator->translator('autos_front_page_block_tab3', '', '', $front_template['theme_folder']) ?></a></li>
                      <li><a class="" href="#tab4"><?php echo $this->translator->translator('autos_front_page_block_tab4', '', '', $front_template['theme_folder']) ?></a></li>
                      <li><a class="" href="#tab5"><?php echo $this->translator->translator('autos_front_page_block_tab5', '', '', $front_template['theme_folder']) ?></a></li> 
                    </ul>
                </div>
                <div class="usual-content">
                    <div style="display:block;" id="tab1"><?php echo $this->partial('blocks/autos_home_content_featured.phtml'); ?></div>
                    <div style="display: none;" id="tab2"><?php echo $this->partial('blocks/autos_home_content_latest.phtml'); ?></div>
                    <div style="display: none;" id="tab3"><?php echo $this->partial('blocks/autos_home_content_popular_brand.phtml'); ?></div>
                    <div style="display: none;" id="tab4"><?php echo $this->partial('blocks/autos_home_content_used_car.phtml'); ?></div>
                    <div style="display: none;" id="tab5"><?php echo $this->partial('blocks/autos_home_content_new_car.phtml'); ?></div>
                </div>
                    
                <script type="text/javascript">
                    $("#usual ul").idTabs();
                </script>
                <!-- Featured Tab Ends-->
                
                <?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
                
                <div class="row">
                    <div class="col-md-6">
                    	<?php echo $this->partial('blocks/autos_home_content_brand.phtml'); ?>
                    </div>
                    
                    <div class="col-md-6">
                    	<?php echo $this->partial('blocks/autos_home_content_model.phtml'); ?>
                    </div>
             	</div>
            
                <div class="row">
                    <div class="col-md-4">
                        <?php echo $this->partial('blocks/autos_home_sidebar_recent.phtml'); ?>
                    </div>
                    
                    <div class="col-md-4">
                        <?php echo $this->partial('blocks/news_home_content_latest.phtml'); ?>
                    </div>
                    
                    <div class="col-md-4">
                        <?php echo $this->partial('blocks/newsletter_sidebar.phtml'); ?>
                    </div>
                </div>
            </article>
    		<!-- Content End -->
        </div>
    
    
    <?php
        }
        else
        {
    ?>
    <div class="content-container">
    <!-- Inner Layout Start -->
        <?php
            $innter_page_content_width = 'style="width:100%"';
            if(!empty($moduleName) && $actionName != 'home' && $actionName != 'details')
            {
                switch($moduleName)
                {
                    case 'autos':
					if($actionName != 'confirm')
					{
                    $innter_page_content_width = '';
        ?>
            <!-- Inner Sidebar Start -->
            <div id="sidebar-inner">
                <?php echo (strtolower($controllerName) == 'frontendspareparts') ? $this->partial('blocks/autos_spare_parts_inner_sidebar_search.phtml') : $this->partial('blocks/autos_inner_sidebar_search.phtml'); ?>  
                
                
            </div>
            <!-- Inner Sidebar End -->
        <?php
					}
                    break;
                }
            }
        ?>
        
        <div id="content-inner" <?php echo $innter_page_content_width; ?> > 
            <?php echo $this->layout()->content; ?>
        </div> 
    <!-- Inner Layout End -->
    </div>
    <?php
        }
    ?>
</section>
<!-- Main Body End -->
    
<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End -->
<?php if($global_conf['payment_system'] == 'On' && $global_conf['marchent_payment_system'] == 'On'){ echo $this->partial('shopping-cart.phtml'); } ?>
</div>    
<div class="go-top"><a href="#top" id="scroll-top"><?php echo $this->translator->translator('footer_top','', '', $front_template['theme_folder']); ?></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>