<?php
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array('userlist_edit_enable' => $this->allow('settingslist', 'backend', 'Shipping'),
        'add_enable' => $this->allow('settings', 'backend', 'Shipping'),
        'edit_enable' => $this->allow('settings', 'backend', 'Shipping'),
    'publish_enable' => $this->allow('publish', 'backend', 'Shipping'),
    'delete_enable' => $this->allow('delete', 'backend', 'Shipping'));
?> 

<script type="text/javascript">
        $(document).ready(function() {
            floatingbar('#floatingbar', "#button_top_bar", null);
            /****************************Sorting Table Start*********************/
            var settingObj = {
                grid_id: 'grid',
                dest_url: "<?php echo $this->url(); ?>",
                pageSize: '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
                toggle_btn: ['a.expand_btn'],
                calendar: {
                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                    value: ''
                },
                common_action: {
                        permission_arr: {
                            publish_enable: '<?php echo $permission_arr['publish_enable']; ?>',
                            delete_enable: '<?php echo $permission_arr['delete_enable']; ?>',
                            featured_enable: '<?php echo $permission_arr['featured_enable']; ?>'
                        },
                        publish_dest_url: "<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'publish'), 'adminrout', true); ?>",
                        publish_dest_data_field: ['id', 'id', 'paction'],
                        publish_active_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/published.gif",
                        publish_deactive_icon_link: "application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
                        delete_dest_url: "<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'delete'), 'adminrout', true); ?>",
                        delete_dest_data_field: ['id', 'category_name'],
                        publish_multi_dest_url: "<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'publishall'), 'adminrout', true); ?>",
                        delete_multi_dest_url: "<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'deleteall'), 'adminrout', true); ?>",
                        toolbar_button_loader: '<span class="icon loader"></span>',
                        ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
//                        multi_action: [
//                            {
//                                multi_action_caller_id: "a.featured_btn",
//                                multi_action_dest_url: "<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'featured'), 'adminrout', true) ?>",
//                                multi_action_dest_data_field: ['id', 'id', 'paction'],
//                                multi_action_data_return_field: ['featured'],
//                                multi_action_data_permission_field: ['featured_enable'],
//                                multi_action_dest_data_paction: [
//                                    {'paction': 'featured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
//                                    {'paction': 'unfeatured', 'title': "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link": "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
//                                ]
//                            }
//                        ]
                },
//                    order_action: {
//                        order_dest_data_field: ['id', 'category_order'],
//                        order_up_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'up'), 'adminrout', true) ?>",
//                        order_up_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
//                        order_down_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'down'), 'adminrout', true) ?>",
//                        order_down_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
//                        order_all_dest_data_field: ['id_arr', 'category_order_arr'],
//                        order_all_dest_url: "<?php echo $this->url(array('module' => 'Autos', 'controller' => 'backend', 'action' => 'orderall'), 'adminrout', true) ?>",
//                        order_all_ajax_loader_link: "application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
//                    },
//                    detailInit_action: {
//                        detailInit_dest_url: "<?php echo $this->url(); ?>",
//                        detailInit_filter_field_name: "parent",
//                        detailInit_filter_field_id: "id"
//                    },
                search_data: {},
                batch: false,
                editable: false,
                scrollable: false, //{ virtual: false },
//                detailInit: function(e) {
//                    detailInit(e, settingObj);
//                },
                dataBound: function(e) {
                    var self = this;
                    self.tbody.find("tr").children('td:nth-child(5)').css({'overflow': 'visible'});
                    toggleKendoGridRow(self, settingObj);
                    commonImageThumbnil();
                    //Get All grid rows
                    var model = self.dataSource.data();
                    $.each(model, function(i, obj) {
                        if (obj.has_child == false)
                        {
                            self.tbody.find("tr.k-master-row[data-uid='" + obj.uid + "']>.k-hierarchy-cell>a").remove();
                        }
                    });
                    self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');
<?php if ($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
                        self.thead.find("th[data-field='category_order']").unbind('click');
                        self.thead.find("th[data-field='category_order']>a").attr('href', 'javascript:void(0)');
<?php endif; ?>
                },
                filterable: {
                    extra: true,
                    messages: {
                        info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
                        filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
                        clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
                        isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
                        or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
                    },
                    operators: {
                        string: {
                            startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
                            contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
                            doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
                            endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
                        },
                        date: {
                            gte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
                            gt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
                            lte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
                            lt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
                        },
                        number: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
                            gte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
                            gt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
                            lte: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
                            lt: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
                        },
                        enums: {
                            eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
                            neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
                        }
                    }
                },
                model: {
                    fields: {
                        id: {type: "number"},
                        shipping_name: {type: "string"},
                        param_condition: {type: "string"},
                        default_rate: {type: "number"},
                        updated: {type: "date"},
                        status: { type: "enums", editable: false },
                        common_action: { editable: true }
                    }
                },
                column_fields: [
                    {
                        field: "checkAll",
                        headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        template: '<input type="checkbox" value="${id}" class="check_btn" <?php if (!$permission_arr['delete_enable'] && !$permission_arr['publish_enable']) : ?>disabled="disabled"<?php endif; ?> />',
                        width: 28,
                        filterable: false,
                        sortable: false,
                        columnMenu: false}, // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
                    {
                        field: "id",
                        template: '#= id_format #',
                        title: "Settings ID",
                        width: 30,
                        filterable: {
                            ui: function(element) {
                                element.kendoNumericTextBox({
                                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                    format: "0",
                                    min: 1,
                                    placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                                });
                            }
                        }
                    },
                    {
                        field: "shipping_name",
                        title: "Settings Name",
                        width: 150},
                    {
                        field: "param_condition",
                        title: "Calc. Condition",
                        width: 150},
                    {
                        field: "default_rate",
                        template: '#= Default_Rate #',
                        title: "Default Rate",
                        width: 30,
                        filterable: {
                            ui: function(element) {
                                element.kendoNumericTextBox({
                                    culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                    format: "0",
                                    min: 1,
                                    placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                                    downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                                });
                            }
                        }
                    },    
                    {
                        field: "updated",
                        title: "<?php echo $this->translator->translator('common_date'); ?>",
                        format: "{0:MM/dd/yyyy}",
                        template: '#= updated_lang_format #',
                        width: 80,
                        attributes: {
                                                'align': 'center',
                                                'title': '<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${updated_date_format}'
                                                        
                                            },
                        filterable: {
                            ui: function(element) {
                                kendoDateTimeCalendar(element, settingObj);
                            }
                        }
                    },
                    {
                        field: "status",
                        title: "Status",
                        template: '<a href="javascript:void(0);" class="publish_btn"  rel="${id}_${id}_#= (status == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (status == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
                        attributes: {'align': 'center'},
                        filterable: {
                            ui: function(element) {
                                element.kendoDropDownList({
                                    dataSource: [{Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>"}, {Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>"}],
                                    dataTextField: "Title",
                                    dataValueField: "Id",
                                    optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
                                });
                            }
                        },
                        width: 100},
                    {
                        field: "common_action",
                        title:	"<?php echo $this->translator->translator('common_action'); ?>",
                        width: 100,
                        template:	'<?php if ($permission_arr['edit_enable']) : ?><a href="<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'settings', 'id' => ''), 'adminrout', true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a><?php endif; ?>' +
                                        '<?php if ($permission_arr['delete_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>' ,
                                                                attributes:{ 'align' : 'center' },
                                                                filterable: false,
                                                                sortable: false,
                                                                columnMenu: false
                                                        }        
                ],
                columnMenu: {
                    columns: true,
                    messages: {
                        sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
                        columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
                    }
                },
                messages: {
                    display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                    empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                    page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                    of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                    itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                    first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                    previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                    next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                    last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                    refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                    common_msg_dialog_id: 'dialog_msg',
                    common_confirn_dialog_id: 'dialog-confirm',
                    common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_title: "<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                    common_delete_confirm: "<?php echo $this->translator->translator("shipping_settings_delete_confirm"); ?>",
                    common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                    common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                    common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                    common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                    common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>",
                    common_perm_err: "<?php echo $this->translator->translator("common_perm_err"); ?>",
                    common_selected_err: "<?php echo $this->translator->translator("shipping_selected_err"); ?>"
                }
            };
            commonGrid(settingObj);
        });
    </script>

<div id="container">
    <?php if (!$this->allow('settingslist')) : ?>
        <?php echo $this->translator->translator('Shipping_Access_deny_desc'); ?>
<?php else : ?>

        

        <div id="button_top_bar"></div>

        


        <!-- Content Start-->

        <div class="title-container">
            <div class="b2b-buying-leads"><h1><?php echo $this->translator->translator('shipping_settings_phtnl_title'); ?></h1></div>
        
            <div class="button-container">
                <?php if ($permission_arr['export_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Database', 'controller' => 'csv', 'action' => 'list', 'table_name' => 'b2b_buying_leads'), 'adminrout', true); ?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['import_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Database', 'controller' => 'csv', 'action' => 'upload', 'table_name' => 'b2b_buying_leads', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction), 'adminrout', true); ?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['add_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'settings'), 'adminrout', true); ?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
                <?php endif; ?>

    <?php if ($permission_arr['publish_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="publish"><span class="icon publish"><?php echo $this->translator->translator('shipping_activate'); ?></span></a></span>

                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="unpublish"><span class="icon unpublish"><?php echo $this->translator->translator('shipping_deactivate'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['delete_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
    <?php endif; ?>
            </div>
        
        </div>
        

        <div class="content-container">

            <div id="sidebar-inner">
            <?php echo $this->partial('nav_menu.phtml'); ?>
            </div>

            <div id="content-inner">	
                
                <div id="offer_wise_search">


                    
                </div>


                <div id="member_list" >
                    <div <?php if ($locale_direction == 'rtl') { ?> class="k-rtl" <?php } ?>>
                        <div id="grid"></div>
                    </div>
                </div>


            </div>
        </div>

        <div id="floatingbar">
            <h1><?php echo $this->translator->translator('shipping_settings_phtnl_title'); ?></h1>

            <div class="button-container">
                <?php if ($permission_arr['export_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Database', 'controller' => 'csv', 'action' => 'list', 'table_name' => 'b2b_buying_leads'), 'adminrout', true); ?>"><span class="icon submit"><?php echo $this->translator->translator('common_export_csv_btn'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['import_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Database', 'controller' => 'csv', 'action' => 'upload', 'table_name' => 'b2b_buying_leads', 'b_module' => $this->getModule, 'b_controller' => $this->getController, 'b_action' => $this->getAction), 'adminrout', true); ?>"><span class="icon submit"><?php echo $this->translator->translator('common_import_csv_btn'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['add_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module' => 'Shipping', 'controller' => 'backend', 'action' => 'settings'), 'adminrout', true); ?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
                <?php endif; ?>

    <?php if ($permission_arr['publish_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="publish"><span class="icon publish"><?php echo $this->translator->translator('shipping_activate'); ?></span></a></span>

                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="unpublish"><span class="icon unpublish"><?php echo $this->translator->translator('shipping_deactivate'); ?></span></a></span>
                <?php endif; ?>

                <?php if ($permission_arr['delete_enable']) : ?>
                    <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
    <?php endif; ?>
            </div>
        </div>

        <!-- Content End -->
<?php endif; ?>

    <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', $this->translator->translator('shipping_settings_phtnl_title')); ?>"></div>
    <div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>
</div>