<?php if (!$this->allow()) : ?>
    <?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php
else :
    $headTitle = $this->translator->translator('members_frontend_b2b_add_buying_lead');
    $this->headTitle()->headTitle($headTitle, 'SET');

    if ($this->resource_exceeded) :
        ?> 

        <div class="content-container">
            <div id="content-inner">
                <div class="error-content">
                    <div class="title">
                        <h6>
                            <p class="error"><?php echo $this->resource_exceeded; ?></p></h6>
                    </div>
                </div>
            </div>
        </div>
        <?php
    else :
        ?>

        <script language="javascript">
            var settingObj = {};
            $(document).ready(function() {

                settingObj = {
                    form_action: {
                        form_id: 'formBuying',
                        hasTinyMCE: false,
                        go_message_id: 'navigation',
                        common_msg_field_id: 'actionMessage',
                        dialog_container_id: 'dialog_container',
                        dialog_progressbar_id: 'progressbar',
                        extra_field_for_reset: [
                            {field_id: 'others_images', field_value: '', field_type: 'val'},
                            {field_id: 'selected_file_others_images', field_value: '', field_type: 'html'},
                            {field_id: 'categoryTree', field_value: '', field_type: 'html'},
                            {field_id: 'category', field_value: '0', field_type: 'val'},
                            {field_id: 'dataId', field_value: "<?php echo $this->translator->translator("common_tree_root") . '(' . $this->numbers(0) . ')'; ?>", field_type: 'html'}
                        ],
                        extra_function_for_reset: function() {
                            refreshKendoTreeView($('#group_id').val(), $('#' + settingObj.form_action.category_tree.category_tree_input_field_id).val(), settingObj);
                            $('#primary_file_field_err').html('');
                        },
                        category_tree: {
                            category_tree_id: 'categoryTree',
                            category_tree_input_field_id: 'category',
                            category_tree_input_html_id: 'dataId',
                            category_tree_dest_url: "<?php echo $this->url(array('module' => 'B2b', 'controller' => 'backend', 'action' => 'parent'), 'adminrout', true) ?>",
                            tree_view: {
                                dragAndDrop: false,
                                dataBound: function(obj) {

                                    var treeView = $("#" + settingObj.form_action.category_tree.category_tree_id).data('kendoTreeView');
                                    var getitem = treeView.dataSource.get("<?php echo (!empty($this->category_info['id'])) ? $this->category_info['id'] : '0'; ?>");
                                    if (getitem)
                                    {
                                        var selectitem = treeView.findByUid(getitem.uid);
                                        treeView.select(selectitem);
                                    }
                                },
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: "<?php echo $this->url(array('module' => 'B2b', 'controller' => 'backendcategory', 'action' => 'group'), 'adminrout', true) ?>",
                                            dataType: "json",
                                            type: "POST",
                                            data: {grp_id: $('#group_id').val()}, // Change Here
                                            complete: function(e) {
                                                var json = $.parseJSON(e.responseText);
                                                if (json.status != 'ok')
                                                {
                                                    commonMsgDialog(settingObj, json.msg);
                                                }
                                            }
                                        }
                                    },
                                    schema: {
                                        data: 'TreeDataSource',
                                        model: {
                                            id: 'id',
                                            text: 'text',
                                            hasChildren: 'hasChildren'
                                        }
                                    }
                                }
                            }
                        }
                    },
                    calendar: {
                        calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
                        monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
                        monthNames: <?php echo $this->translator->translator("common_calender_monthNames"); ?>,
                        dayNamesMin: <?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
                        buttonText: 'calendar',
                        dateFormat: 'dddd, MMMM dd, yyyy',
                        dateTimeFormat: "dddd, MMMM dd, yyyy HH:mm:ss tt",
                        culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                        value: '<?php if ($this->buyingForm->validity->getValue()) {
            echo $this->buyingForm->validity->getValue();
        } ?>'
                    },
                    combobox: {
                        combobox_id: '#price_currency_locale',
                        combobox_settings: {
                            autoBind: false,
                            dataTextField: "target_currency_name",
                            dataValueField: "target_currency_id",
                            optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",
                            //template: '',
                            dataSource: {
                                type: "json",
                                schema: {
                                    data: 'data_result'
                                },
                                transport: {
                                    read: {
                                        type: "POST",
                                        dataType: "json",
                                        url: "<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'currency', 'action' => 'local'), 'adminrout', true); ?>"
                                    }
                                }
                            },
                            value: '',
                            change: function(e) {
                                var currency_locale = e.sender.element.val();
                                if (currency_locale && currency_locale != null)
                                {
                                    $.ajax({
                                        url: "<?php echo $this->url(array('module' => 'Paymentgateway', 'controller' => 'currency', 'action' => 'localetocurrency'), 'adminrout', true) ?>",
                                        type: 'POST',
                                        data: {currency_locale: currency_locale},
                                        beforeSend: function() {
                                            $('#price_currency').val('<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>');
                                        },
                                        success: function(response) {
                                            try
                                            {
                                                //alert(response);			
                                                var json_arr = eval("(" + response + ")");

                                                if (json_arr.status == 'ok')
                                                {
                                                    var currency_format = (json_arr.data_result && json_arr.data_result.currency_short_name) ? json_arr.data_result.currency_short_name : '';
                                                    if (json_arr.data_result && json_arr.data_result.currency_name)
                                                    {
                                                        currency_format += ' - ';
                                                        currency_format += (json_arr.data_result && json_arr.data_result.currency_name) ? json_arr.data_result.currency_name : '';
                                                    }
                                                    $('#price_currency').val(currency_format);
                                                }
                                                else
                                                {
                                                    $('#actionMessage').html(errMsgDesign(json_arr.msg));
                                                    $('#price_currency').val('');
                                                }

                                            }
                                            catch (error)
                                            {
                                                var error_arr = [error, response];
                                                var msg = commonErrMsgException(error_arr);
                                                $('#actionMessage').html(errMsgDesign(msg));
                                                $('#price_currency_err').html('');
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            var msg = "Error! " + xhr.status + " " + error;
                                            $('#actionMessage').html(errMsgDesign(msg));
                                            $('#price_currency').val('');
                                        }
                                    });
                                }
                                else
                                {
                                    $('#price_currency').val('');
                                }
                            }
                        }
                    },
                    messages: {
                        display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                        empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                        page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                        of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                        itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                        first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                        previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                        next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                        last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                        refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                        common_msg_dialog_id: 'dialog_msg',
                        common_confirn_dialog_id: 'dialog-confirm',
                        common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                        common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                        common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                        common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                        common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                        common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                        common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                        common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>"
                    }
                };



                commonKendoTreeGen(settingObj);
                kendoComboBox(settingObj);
                commonImageThumbnil();
                deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'remove'), 'adminrout', true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
                commonCalendar('validity', settingObj, true);
                totalNavigation = $("#navigation li").length;
                lineNum = $("#navigation li.active").length;
                dataInit('1');

                /*********************************** Adding Event for "Next Button"  ***************************************/

                $('a.next_btn').click(function() {
                    // next 
                    if (totalNavigation > lineNum) {
                        $("#navigation li").eq(lineNum).addClass('first active');
                        var num_id = $("#navigation li").eq(lineNum).attr('rel');
                        dataInit(num_id);
                        lineNum++;
                    }
                    commonGoMessage(settingObj);
                });
                /*********************************** Adding Event for "Back Button"  ***************************************/
                $('a.back_btn').click(function() {
                    // previous					  
                    if (lineNum > 1) {
                        lineNum--;
                        $("#navigation li").eq(lineNum).removeClass('first active')
                        var num_id = $("#navigation li").eq((lineNum - 1)).attr('rel');
                        dataInit(num_id);
                    }
                    commonGoMessage(settingObj);
                });

                /*********************************** Adding Event for "Reset Button"  ***************************************/

                $('a.reset_btn').click(function() {
                    // Reset Button		  
                    commonGoMessage(settingObj);
                    commonResetFormFields(settingObj);
                    commonRemoveFormError(settingObj);
                });


                /******************************************Upload Action Start************************************************/

                $("#upload-form").dialog({
                    autoOpen: false,
                    width: 760,
                    height: 610,
                    show: 'fade',
                    modal: true
                });

                $('a.upload_btn').click(function() {
                    var self = this;
                    var src = $("#i-upload-form").attr("src");
                    $("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');

                    var group_id = $("#group_id").val();
                    $('input[name="primary_id_field_value"]').val(group_id);

                    var rel = $(self).attr('rel');
                    var file_suffix = rel;
                    var file_content = $('#' + file_suffix).val();

                    if ($('input[name="file_path_field"]').val() == '') {
                        $('input[name="file_path_field"]').val('file_path_' + rel)
                    }
                    ;
                    $('input[name="file_content"]').val(file_content);
                    $('input[name="primary_file_field"]').val(file_suffix);

                    if (group_id != null && group_id != "")
                    {
                        $("#popupForm").attr("action", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'manager'), 'adminrout', true) ?>");
                        $('#upload-form').dialog('open');
                        $('#popupForm').submit();
                    }
                    else
                    {
                        msg = "<?php echo $this->translator->translator('group_id_selected_err'); ?>";
                        commonMsgDialog(settingObj, msg);
                    }
                });

                $('a.select_file_btn').click(function() {

                    var currentIFrame = $('#i-upload-form');
                    var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
                    var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
                    var file_path = currentIFrame.contents().find("input[name='file_path']").val();

                    var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();
                    if (selected_files_arr.length == '0')
                    {
                        var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';
                        commonMsgDialog(settingObj, msg);
                    }
                    else
                    {
                        var img_code = '';
                        var file_name = '';
                        for (var i = 0; i < selected_files_arr.length; i++)
                        {
                            //var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
                            var ext = getCommonFileExtension(selected_files_arr[i]);
                            var img_path = commonFilePath(file_path, selected_files_arr[i]);
                            var checked = (i == 0) ? ' checked="checked" ' : '';
                            var img_type = (i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";

                            var fileObj = {extension: '.' + ext};
                            var down_link = (!isImage(fileObj)) ? '<br /><a href="' + file_path + '/' + selected_files_arr[i] + '"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
                            var primary = '<input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" ' + checked + ' value="' + selected_files_arr[i] + '" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
                            var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="' + selected_files_arr[i] + '"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>' + primary + down_link;
                            img_code += '<div class="upload-img box">' + img_type + '<br /><span><div class="thumb"><img src="' + img_path + '" width="30" height="20" class="bdr" /></div><br />' + del_link + '&nbsp;</span></div>';
                            file_name = (i == 0) ? selected_files_arr[i] : file_name + ',' + selected_files_arr[i];
                        }
                        var file_suffix = primary_file_field;
                        $('#selected_file_' + file_suffix).html(img_code);
                        $('#' + file_suffix).val(file_name);
                        $("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
                        $("#upload-form").dialog('option', 'hide', 'explode').dialog('close');
                        deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'remove'), 'adminrout', true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
                        commonImageThumbnil();
                    }
                });

                $('a.close_dialog_btn').click(function() {
                    $("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
                    $("#upload-form").dialog('option', 'hide', 'explode').dialog('close');
                });

                /******************************************Upload Action End****************************************************/


                /*********************************** Start of Form Submission ***************************************/
                $('a.submit_btn').click(function() {
                    var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
                    formData['addtional_value'] = $('#customRowSet :input').serialize();
                    $.ajax({
                        url: "<?php echo $this->url(array('module' => 'B2b', 'controller' => 'buyingleads', 'action' => 'add'), 'adminrout', true) ?>",
                        type: 'POST',
                        data: formData,
                        beforeSend: function() {
                            commonRemoveFormError(settingObj);
                            commonOpenLoaderDialog(settingObj);
                        },
                        success: function(response) {

                            try
                            {
                                //alert(response);			
                                var json_arr = eval("(" + response + ")");
                                commonCloseLoaderDialog(settingObj);
                                if (json_arr.status == 'ok')
                                {
                                    $('#actionMessage').html(succMsgDesign(json_arr.msg));
                                    commonResetFormFields(settingObj);
                                    commonGoMessage(settingObj);
                                }
                                else if (json_arr.status == 'errV')
                                {
                                    $('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));

                                    for (var i = 0; i < json_arr.msg.length; i++)
                                    {
                                        commonAddFormError(json_arr.msg[i].key, json_arr.msg[i].value);
                                    }
                                    openPerfectTab(json_arr.msg);
                                }
                                else
                                {
                                    $('#actionMessage').html(errMsgDesign(json_arr.msg));
                                    commonGoMessage(settingObj);
                                }
                            }
                            catch (error)
                            {
                                var error_arr = [error, response];
                                var msg = commonErrMsgException(error_arr);
                                $('#actionMessage').html(errMsgDesign(msg));
                            }
                        },
                        error: function(xhr, status, error) {
                            commonCloseLoaderDialog(settingObj);
                            var msg = "Error! " + xhr.status + " " + error;
                            $('#actionMessage').html(errMsgDesign(msg));
                            commonGoMessage(settingObj);
                        }
                    });


                });

                /*********************************** End of Form Submission ***************************************/



                /*********************************** Appending More Custom Field(s) ***************************************/


                $('a.addmore_btn').click(function() {
                    var intId = $("#customFields div").length + 1;
                    var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\">");
                    var fName = $("<input type=text class=fieldname name=key" + intId + " id=key" + intId + "/>");
                    var fType = $("<input type=text class=fieldname  name=value" + intId + " id=value" + intId + "/>");
                    var removeButton = $("<input type=button class=remove value=X /> </div>");

                    removeButton.click(function() {

                        $(this).parent().remove();

                    });

                    fieldWrapper.append(fName);
                    fieldWrapper.append(fType);
                    fieldWrapper.append(removeButton);
                    $("#customFields").append(fieldWrapper);


                });

                /*********************************** Appending More Custom Field(s) Ends ***************************************/

            });

            function dataInit(init_num)
            {
                $("#navigation li").each(function(index) {
                    var num_id = $(this).attr("rel");
                    if (init_num == num_id)
                    {
                        $('#tab-' + num_id).show();
                    }
                    else
                    {
                        $('#tab-' + num_id).hide();
                    }
                });
            }



            function openPerfectTab(key_arr)
            {
                var err_id = '';
                var sel = null;
                var getTab = false;

                for (var i = 1; i <= $('ul#navigation').children('li').length; i++)
                {
                    for (var j = 0; j < key_arr.length; j++)
                    {
                        err_id = '#' + key_arr[j].key + '_err';
                        if ($('#tab-' + i + ':has(' + err_id + ')').html())
                        {
                            sel = i;
                            dataInit(sel);
                            $("ul#navigation li").removeClass('active');
                            $("ul#navigation li").removeClass('first');
                            lineNum = sel;
                            for (var k = 0; k < sel; k++)
                            {
                                $("ul#navigation li").eq(k).addClass('first active');
                            }
                            //$("#tabs").tabs({ selected: sel }).find(".ui-tabs-nav").sortable({axis:'xy'});	
                            if ($('#' + key_arr[j].key)[0])
                            {
                                $('#' + key_arr[j].key)[0].focus();
                            }
                            else
                            {
                                $('#' + key_arr[j].key).focus();
                            }
                            getTab = true;
                            break;
                        }
                    }
                    if (getTab == true)
                    {
                        break;
                    }
                }
            }




            /***********************************************************************UPLOAD FUNCTIONS START********************************************************/

            function uploadSettingsStart(json_arr)
            {
                uploadSettingsEnd();

                $('#others_images_block').prepend('<input type="file" name="others_images_upload" id="others_images_upload" />');
                var thumb_setting_param = json_arr.param_fields;
                thumb_setting_param['file_path_field'] = 'file_path_buying_images';
                var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);
                dynamicUploader('others_images_upload', 'others_images', thumb_setting_info, languageArray(), "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'upload'), 'adminrout', true) ?>", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'remove'), 'adminrout', true) ?>", true);

                $('#others_images_err').html("");
            }

            function uploadSettingsEnd()
            {
                $('#others_images_upload').parents('div.k-upload').remove();
                $('#others_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
            }

            function languageArray()
            {
                var language_array = [];
                language_array['portfolio_upload_dy_text_select'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_cancel'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_dropFilesHere'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_remove'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_retry'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_statusFailed'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_statusUploaded'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_statusUploading'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_upload_text_uploadSelectedFiles'] = "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
                language_array['portfolio_file_extension_dy_support'] = "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
                language_array['portfolio_file_no_ext_dy_support'] = "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
                language_array['portfolio_file_extension_dy_not_supportable_ext1'] = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
                language_array['portfolio_file_extension_dy_not_supportable_ext2'] = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
                language_array['portfolio_file_size_dy_support'] = "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
                language_array['portfolio_file_upload_err'] = "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
                return language_array;
            }


            function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
            {
                var extension = fileObj.extension;
                var ext = extension.replace('.', '');

                var img_path = commonFilePath(serverData.file_path, fileObj.name);
                var img_code = '<div class="thumb"><img src="' + img_path + '" title="' + fileObj.name + '" width="30" height="20" /></div>';
                var down_link = (!isImage(fileObj)) ? '<br /><a href="' + serverData.file_path + '/' + fileObj.name + '"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';

                var checked = '';
                var primary = '&nbsp;&nbsp;&nbsp;';
                var block = 'selected_file_' + upload_value_field;
                var img_type = '';
                var primary_file_field_radio = '';
                switch (upload_value_field)
                {
                    case 'others_images':
                        checked = ($('#' + upload_value_field).val() == '') ? ' checked="checked" ' : '';
                        primary_file_field_radio = 'primary_file_field';
                        img_type = ($('#' + upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";
                        primary = '<input class="radio_style" type="radio" name="' + primary_file_field_radio + '" id="' + primary_file_field_radio + '" ' + checked + ' value="' + fileObj.name + '" title="<?php echo $this->translator->translator("buying_images_primary"); ?>" />';
                        break;
                }

                var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="' + upload_value_field + '" file_name="' + fileObj.name + '" file_path="' + serverData.file_path + '"><?php echo $this->translator->translator("common_delete_title"); ?></a>' + primary + down_link;

                if (serverData.multi)
                {
                    $('#' + block).append('<div class="upload-img box">' + img_type + '<span>' + img_code + '<br />&nbsp;' + del_link + '&nbsp;</span></div>');
                    var file_val = ($('#' + upload_value_field).val() == '') ? fileObj.name : $('#' + upload_value_field).val() + ',' + fileObj.name;
                }
                else
                {
                    $('#' + block).html('<div class="upload-img box">' + img_type + '<span>' + img_code + '<br />&nbsp;' + del_link + '&nbsp;</span></div>');
                    var file_val = fileObj.name;
                }
                $('#' + upload_value_field).val(file_val);
                deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'remove'), 'adminrout', true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
                commonImageThumbnil();
            }

            function onComplete(e) {

            }

            function onCancel(e) {

            }

            function onProgress(e) {

            }
            /***********************************************************************UPLOAD FUNCTIONS END********************************************************/

        </script>



        <div class="form-element">
            <div class="mod">
                <div class="list-icon">
                    <h1><?php echo $this->translator->translator('menu_members_buying_add'); ?></h1>
                </div>

                <div class="clr">&nbsp;</div> 

                <div id="breadcrumb">
                    <ul class="crumbs" id="navigation">
                        <li style="z-index:9;" class="first active" rel="1"><div><?php echo $this->numbers(1); ?></div><?php echo $this->translator->translator('members_control_product_form_categories'); ?></li>
                        <li style="z-index:8;" class="" rel="2"><div><?php echo $this->numbers(2); ?></div><?php echo $this->translator->translator('members_control_buying_offer_details'); ?></li>
                        <li style="z-index:7;" class="" rel="3"><div><?php echo $this->numbers(3); ?></div><?php echo $this->translator->translator('members_control_buying_offer_rfp'); ?></li>
                        <?php
                        if (!$this->auth->hasIdentity()) {
                            ?>
                            <li style="z-index:6;" class="" rel="4"><div><?php echo $this->numbers(4); ?></div><?php echo $this->translator->translator('members_control_buying_company_details'); ?></li>                
                            <li style="z-index:5;" class="" rel="5"><div><?php echo $this->numbers(5); ?></div><?php echo $this->translator->translator('members_control_buying_preferences'); ?></li>
                            <?php
                        } else {
                            ?>                
                            <li style="z-index:5;" class="" rel="5"><div>4</div><?php echo $this->translator->translator('members_control_buying_preferences'); ?></li>
                            <?php
                        }
                        ?>

                    </ul>
                </div>

                <div class="clr">&nbsp;</div> 	

                <div id="actionMessage"></div>

                <div class="clr btn-container right">
                    <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="back_btn"><?php echo $this->translator->translator('b2b_type_list_page_back'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="next_btn"><?php echo $this->translator->translator('b2b_type_list_page_next'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php echo $this->translator->translator('b2b_reset'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
                </div>

                <form name="formBuying" id="formBuying" method="post">    	
                    <div id="generalInfo">
                        <div id="tab-1">
                            <fieldset>
                                <legend><?php echo $this->translator->translator('member_company_product_step1'); ?></legend>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->category->getId(); ?>">
                                        <?php echo $this->buyingForm->category->getLabel();
                                        if ($this->buyingForm->category->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>

                                    <div class="control-element">

                                        <span id="dataId">
                                            <?php
                                            if ($this->buyingForm->category->getValue() == null || $this->buyingForm->category->getValue() == '' || $this->buyingForm->category->getValue() == '0') {
                                                echo $this->translator->translator("common_tree_root") . ' (0)';
                                            } else {
                                                echo $this->escape($this->category_info['name']) . ' (' . $this->category_info['id'] . ')';
                                            }
                                            ?>
                                        </span>
                                        <?php echo $this->buyingForm->category; ?>
                                        <input type="hidden" name="group_id" id="group_id" value="<?php echo $this->buyingForm->group_id->getValue(); ?>" /> 

                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->category->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <div id="categoryTree"></div>
                                        <span class="input-errors" id="category_err"></span>
                                        <span class="input-errors" id="group_id_err"></span>
                                    </div>

                                </div>
                            </fieldset>    
                        </div>

                        <div id="tab-2">          
                            <fieldset>
                                <legend><?php echo $this->translator->translator('menu_members_add_buy_offers'); ?></legend>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->name->getId(); ?>">
                                        <?php echo $this->buyingForm->name->getLabel();
                                        if ($this->buyingForm->name->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
                                        <?php echo $this->buyingForm->name; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="name_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->subject->getId(); ?>">
                                        <?php echo $this->buyingForm->subject->getLabel();
                                        if ($this->buyingForm->subject->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->subject; ?>   
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->subject->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="subject_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->keyword->getId(); ?>">
        <?php echo $this->buyingForm->keyword->getLabel();
        if ($this->buyingForm->keyword->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->keyword; ?> - <?php echo $this->buyingForm->keyword_1; ?> - <?php echo $this->buyingForm->keyword_2; ?> -&nbsp;<?php echo $this->buyingForm->keyword_3; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->keyword->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="keyword_err"></span><span class="input-errors" id="keyword_1_err"></span><span class="input-errors" id="keyword_2_err"></span><span class="input-errors" id="keyword_3_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->primary_file_field->getId(); ?>">
        <?php echo $this->buyingForm->primary_file_field->getLabel();
        if ($this->buyingForm->primary_file_field->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">

                                        <?php
                                        if ($this->auth->getIdentity()->access_file_image_manager == '1') {
                                            ?>
                                            <div class="left-float">
                                                <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="others_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                            </div>
                                            <?php
                                        } else {
                                            ?>
                                            <script type="text/javascript">
                                                $(function() {
                                                    /**************************FILE UPLOAD START******************************/
                                                    dynamicUploader("others_images_upload", "others_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'upload'), 'adminrout', true) ?>", "<?php echo $this->url(array('module' => 'Portfolio', 'controller' => 'frontend', 'action' => 'remove'), 'adminrout', true) ?>", true);
                                                    /**************************FILE UPLOAD END*********************************/
                                                });
                                            </script>
                                            <?php
                                        }
                                        ?>

                                        <div id="others_images_block"><?php if ($this->auth->getIdentity()->access_file_image_manager != '1') { ?><input type="file" name="others_images_upload" id="others_images_upload" /><?php } echo $this->buyingForm->others_images; ?> </div>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->primary_file_field->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="primary_file_field_err"></span>
                                        <span class="input-errors" id="others_images_err"></span>
                                    </div>
                                </div> 

                                <div class="group">
                                    <div class="control-element">
                                        <span id="selected_file_others_images"></span>
                                    </div>
                                </div> 


                                <div class="group clr">
                                    <label for="<?php echo $this->buyingForm->description->getId(); ?>">
                                        <?php echo $this->buyingForm->description->getLabel();
                                        if ($this->buyingForm->description->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->description; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="description_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->validity->getId(); ?>">
        <?php echo $this->buyingForm->validity->getLabel();
        if ($this->buyingForm->validity->isRequired()) { ?><span class="star_class">*</span><?php } ?>
                                    </label>

                                    <div class="control-element">					
        <?php echo $this->buyingForm->validity; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->validity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>                   	
                                        <span class="input-errors" id="validity_err"></span>
                                    </div>
                                </div>

                            </fieldset>    

                        </div>

                        <div id="tab-3">  
                            <fieldset>
                                <legend><?php echo $this->translator->translator('menu_members_add_RFQ'); ?></legend>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->price_currency_locale->getId(); ?>">
                                        <?php echo $this->buyingForm->price_currency_locale->getLabel();
                                        if ($this->buyingForm->price_currency_locale->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->price_currency_locale; ?>&nbsp;&nbsp;&nbsp; <?php echo $this->buyingForm->price_currency; ?>   
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->price_currency_locale->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="price_currency_locale_err"></span>
                                        <span class="input-errors" id="price_currency_err"></span>
                                    </div>
                                </div> 

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->price->getId(); ?>">
                                        <?php echo $this->buyingForm->price->getLabel();
                                        if ($this->buyingForm->price->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->price; ?> &nbsp;&nbsp;&nbsp; <?php echo $this->buyingForm->price_per_unit->getLabel(); ?> &nbsp;&nbsp;&nbsp; <?php echo $this->buyingForm->price_per_unit; ?> 
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="price_err"></span>
                                        <span class="input-errors" id="price_per_unit_err"></span>
                                    </div>
                                </div>


                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->quantity->getId(); ?>">
        <?php echo $this->buyingForm->quantity->getLabel();
        if ($this->buyingForm->quantity->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->quantity; ?> &nbsp;&nbsp;&nbsp;   <?php echo $this->buyingForm->qty_per_unit; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->quantity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="quantity_err"></span>
                                        <span class="input-errors" id="qty_per_unit_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->specifications->getId(); ?>">
        <?php echo $this->buyingForm->specifications->getLabel();
        if ($this->buyingForm->specifications->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->specifications; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->specifications->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="specifications_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->packaging->getId(); ?>">
        <?php echo $this->buyingForm->packaging->getLabel();
        if ($this->buyingForm->packaging->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->packaging; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->packaging->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="packaging_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->delivery->getId(); ?>">
        <?php echo $this->buyingForm->delivery->getLabel();
        if ($this->buyingForm->delivery->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->delivery; ?> <?php echo $this->buyingForm->delivery_leadtime->getLabel(); ?>  <?php echo $this->buyingForm->delivery_leadtime; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->delivery->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="delivery_err"></span>
                                        <span class="input-errors" id="delivery_leadtime_err"></span>
                                    </div>
                                </div>


                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->buying_capacity->getId(); ?>">
        <?php echo $this->buyingForm->buying_capacity->getLabel();
        if ($this->buyingForm->buying_capacity->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->buying_capacity; ?> <?php echo $this->buyingForm->max_buying_unit; ?>  
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->buying_capacity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="buying_capacity_err"></span>
                                        <span class="input-errors" id="max_buying_unit_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->shipping->getId(); ?>">
        <?php echo $this->buyingForm->shipping->getLabel();
        if ($this->buyingForm->shipping->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
                                        <?php echo $this->buyingForm->shipping; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->shipping->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="shipping_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->shipping_price->getId(); ?>">
        <?php echo $this->buyingForm->shipping_price->getLabel();
        if ($this->buyingForm->shipping_price->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->shipping_price; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->shipping_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="shipping_price_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->payment_type->getId(); ?>">
        <?php echo $this->buyingForm->payment_type->getLabel();
        if ($this->buyingForm->payment_type->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
                        <?php echo $this->buyingForm->payment_type; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->payment_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="payment_type_err"></span>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

        <?php if (!$this->auth->hasIdentity()) { ?>

                            <div id="tab-4">  

                                <fieldset>
                                    <legend><?php echo $this->translator->translator('menu_members_add_buyers_contact'); ?></legend>

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->company_name->getId(); ?>">
            <?php echo $this->buyingForm->company_name->getLabel();
            if ($this->buyingForm->company_name->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
            <?php echo $this->buyingForm->company_name; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->company_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="company_name_err"></span>
                                        </div>
                                    </div>

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->business_type->getId(); ?>">
            <?php echo $this->buyingForm->business_type->getLabel();
            if ($this->buyingForm->business_type->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
                                            <?php echo $this->buyingForm->business_type; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->business_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="business_type_err"></span>
                                        </div>
                                    </div>                           

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->email->getId(); ?>">
                                            <?php echo $this->buyingForm->email->getLabel();
                                            if ($this->buyingForm->email->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
                                            <?php echo $this->buyingForm->email; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->email->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="email_err"></span>
                                        </div>
                                    </div>

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->country->getId(); ?>">
                                            <?php echo $this->buyingForm->country->getLabel();
                                            if ($this->buyingForm->country->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
            <?php echo $this->buyingForm->country; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->country->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="country_err"></span>
                                        </div>
                                    </div>

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->address->getId(); ?>">
            <?php echo $this->buyingForm->address->getLabel();
            if ($this->buyingForm->address->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
            <?php echo $this->buyingForm->address; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->address->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="address_err"></span>
                                        </div>
                                    </div>

                                    <div class="group">
                                        <label for="<?php echo $this->buyingForm->website->getId(); ?>">
                            <?php echo $this->buyingForm->website->getLabel();
                            if ($this->buyingForm->website->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                        </label>
                                        <div class="control-element">
            <?php echo $this->buyingForm->website; ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->website->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span class="input-errors" id="website_err"></span>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>


        <?php } ?>

                        <div id="tab-5"> 

                            <fieldset>
                                <legend><?php echo $this->translator->translator('members_control_buying_preferences'); ?></legend>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->preference->getId(); ?>">
                                        <?php echo $this->buyingForm->preference->getLabel();
                                        if ($this->buyingForm->preference->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->preference; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->preference->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="preference_err"></span>
                                    </div>
                                </div>

                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->displayble->getId(); ?>">
        <?php echo $this->buyingForm->displayble->getLabel();
        if ($this->buyingForm->displayble->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->displayble; ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->displayble->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="displayble_err"></span>
                                    </div>
                                </div>
                                
                                <div class="group">
                                    <label for="<?php echo $this->buyingForm->accept->getId(); ?>">
        <?php echo $this->buyingForm->accept->getLabel();
        if ($this->buyingForm->accept->isRequired()) { ?> <span class="star_class">*</span><?php } ?>
                                    </label>
                                    <div class="control-element">
        <?php echo $this->buyingForm->accept; ?>&nbsp;&nbsp;<?php echo $this->translator->translator("b2b_terms_condition_accepted"); ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix"><div class="ui-state-default ui-corner-all info-class" title="<?php echo $this->escape($this->buyingForm->accept->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <span class="input-errors" id="accept_err"></span>
                                    </div>
                                </div>
                                
                            </fieldset>
                        </div>
                    </div>
                </form>
                <div class="clr btn-container right">
                    <span class="form-button ui-widget-content-1"><a href="javascript:  void(0);" class="back_btn"><?php echo $this->translator->translator('b2b_type_list_page_back'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="next_btn"><?php echo $this->translator->translator('b2b_type_list_page_next'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="reset_btn"><?php echo $this->translator->translator('b2b_reset'); ?></a></span>
                    <span class="form-button ui-widget-content-1"><a href="javascript: void(0);" class="submit_btn"><?php echo $this->translator->translator('b2b_type_list_page_submit'); ?></a></span>            
                </div>

                <div id="upload-form" title="<?php echo $this->translator->translator('Product', 'common_dialog_msg'); ?>">
                    <div>
                        <form id="popupForm" target="i-upload-form" method="post" action="" >
                            <input type="hidden" name="table_name" value="b2b_group"/>
                            <input type="hidden" name="primary_id_field" value="id"/>
                            <input type="hidden" name="primary_id_field_value" value="<?php echo ($this->buyingForm->group_id->getValue()) ? $this->buyingForm->group_id->getValue() : '1'; ?>"/>   
                            <input type="hidden" name="primary_file_field" value=""/> 
                            <input type="hidden" name="file_content"  value=""/>       
                            <input type="hidden" name="file_path_field" value="file_path_buying_images"/>
                            <input type="hidden" name="file_extension_field" value="file_type"/>
                            <input type="hidden" name="file_max_size_field" value="file_size_max"/>
                        </form>
                        <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>       
                    </div>
                    <div class="button-container">
                        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
                        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
                    </div> 
                </div> 
            </div>
        </div>
        <div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg', 'Message'); ?>"></div>
        <div id="dialog_container" style="display:none;" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
            <div id="progressbar" ></div>	
        </div>
    <?php endif; ?>
<?php endif; ?>
