<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
echo $this->headLink()->setStylesheet($this->baseUrl().'/application/modules/Settings/css/admin.css');
echo $this->headScript()->setFile($this->baseUrl().'/application/modules/Settings/js/jquery.tipsy.js');
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$permission_arr = array(  
						  'add_enable' => $this->allow('addip','global','Settings'), 
						  'ban_enable' => $this->allow('banip','global','Settings'), 
						  'delete_enable' => $this->allow('deleteip','global','Settings'));
?>
<script type="text/javascript">
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);	
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},											
						search_action: {},
						common_action : {
								permission_arr : {
										ban_enable 		: 	'<?php echo $permission_arr['ban_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
																
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'deleteip' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'ip'],
																
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'removebanall' ), 'adminrout',    true); ?>",
								delete_multi_dest_btn		:	"a.remove_all",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_class			:	"<span class='spinner'></span>",
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: [
														{
															multi_action_caller_id				:	"a.ban_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'banip' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'ip', 'paction'],
															multi_action_data_return_field 		: 	['active'],
															multi_action_data_permission_field 	: 	['ban_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '0', 'title' : "", "icon_link" : ""},
																										{
																											'paction' : '1', 
																											'title' : "<?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_trust"), ENT_QUOTES, 'UTF-8'); ?>", 
																											"icon_link" : ""
																										},
																										{
																											'paction' : '2', 
																											'title' : "<?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_ban"), ENT_QUOTES, 'UTF-8'); ?>", 
																											"icon_link" : ""
																										}
																									],
															success_func: function(self, json_arr){
																
																if(json_arr.active == '1')
																{
																	$(self).removeClass('ban_btn');
																	$(self).css('opacity', '0.3');																							
																	$(self).text('<?php echo html_entity_decode(strtoupper($this->translator->translator("common_unpublish_title")), ENT_QUOTES, 'UTF-8'); ?>');
																	$(self).parents("span:first").next().children("a:first").css('opacity', '1');
																	$(self).parents("span:first").next().children("a:first").addClass('ban_btn');
																	$(self).parents('td:first').parents('tr:first').children('td:nth-child(4)').html("<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_trust"), ENT_QUOTES, 'UTF-8'); ?></center>");
																	$(self).unbind('click');
																}
																else
																{
																	$(self).removeClass('ban_btn');
																	$(self).css('opacity', '0.3');							
																	$(self).text('<?php echo html_entity_decode(strtoupper($this->translator->translator("common_publish_title")), ENT_QUOTES, 'UTF-8'); ?>');
																	$(self).parents("span:first").prev().children("a:first").css('opacity', '1');
																	$(self).parents("span:first").prev().children("a:first").addClass('ban_btn');
																	$(self).parents('td:first').parents('tr:first').children('td:nth-child(4)').html("<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_ban"), ENT_QUOTES, 'UTF-8'); ?></center>");
																	$(self).unbind('click');
																}
																commonMultipleAction(settingObj);
															}															
														}								
								]
						},						
						search_data : {},
						batch:		true,
						toolbar: [
									<?php if ($permission_arr['add_enable']) : ?>{ name: "create", text: "<?php echo $this->translator->translator("common_add"); ?>"/*, className: "action_button ban"*/ },
									{ name: "save", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?>"/*, className: "action_button ban"*/ },
									{ name: "cancel", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?>"/*, className: "action_button ban"*/ }<?php endif; ?> 
								  ],	
						editable:	{
										mode: 'incell',
										confirmation: false
									},
						scrollable: false,
						saveChanges: function(e){											
							kendo.ui.progress(e.sender.element, true);	
						},
						dataSource_transport_read_complete : function(e)
						{
							<?php
								if($create == 'new' && $permission_arr['add_enable']){
							?>
								$('a.k-grid-add').trigger('click');
							<?php
								}
							?>	
						},
						dataSource_transport_create: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'addip' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {									
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());
								  $(".action_button.trust").next("span.spinner").remove();								  
								  if(json.status == 'ok')
								  {
									  $(".action_button.trust").after("&nbsp;<span class='success'>"+json.msg+"</span>");
									  $(".action_button.trust").next("span.success").fadeOut(10000);									 
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = json.msg;									  
									  commonMsgDialog(settingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {	
								  	 var err_msg = json.msg;									  
									 commonMsgDialog(settingObj, err_msg);
									 $(".action_button.trust").after("&nbsp;<span class='error'>"+json.msg+"</span>");
									 $(".action_button.trust").next("span.error").fadeOut(10000);								 
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},
						dataSource_transport_update: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'addip' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());								  
								  $(".action_button.trust").next("span.spinner").remove();								  
								  if(json.status == 'ok')
								  {
									  $(".action_button.trust").after("&nbsp;<span class='success'>"+json.msg+"</span>");
									  $(".action_button.trust").next("span.success").fadeOut(10000);									 
								  }								  
								  else
								  {	
								  	 var err_msg = errMsgDesign(json.msg);									  
									 commonMsgDialog(settingObj, err_msg);
									 $(".action_button.trust").after("&nbsp;<span class='error'>"+json.msg+"</span>");
									 $(".action_button.trust").next("span.error").fadeOut(10000);								 
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},												
						dataSource_transport_parameterMap: function(options, operation) {																		
                                   if (operation !== "read" && options.models) 
								   {	
								   		$(".action_button.trust").next("span.spinner").remove();										
										$(".action_button.trust").after('<span class="spinner">&nbsp;</span>');	
                                        return {models: options.models};
                                    }
									else
									{									
										return options;
									}
                                },						
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;	
								gridAction(settingObj);														                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>",
							  
							  selectValue: "<?php echo $this->translator->translator("common_select"); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
									id: "id",
                                    fields: { 
										checkAll: {  editable: false },                             
										id: { type: "number", editable: false, nullable: true },
										id_format: { editable: false },
                                        ip: { 
												type: "string", 
												editable: true,
												parse: function(val){													
													return val;
												}, 
												validation: { 
																required: true, 
																custom: function (input) {																																
																	var isValid = validateIp(input.val(), $("input[name='ip_type']:checked").val());
																	if(!isValid)
																	{
																		input.attr("data-custom-msg", "<?php echo html_entity_decode($this->translator->translator('settings_banned_ip_invalid', '', 'Settings'), ENT_QUOTES, 'UTF-8').' '.html_entity_decode($this->translator->translator("settings_banned_enter_ip"), ENT_QUOTES, 'UTF-8'); ?>");
																	}
																	return isValid;
																},
																unique: true
										 					}
										 	},
										status: { type: "enums", validation: { required: true },  defaultValue: "<?php echo ($this->auth->hasIdentity() && $this->auth->getIdentity()->auto_publish_article == '1') ? '1' : '2'; ?>" },											
										created_date: { type: "date", editable: false },	
										publish_status_ip: { editable: false },	
										created_date_lang_format: { editable: false, nullable: false,  defaultValue: '<?php echo $this->numbers(date('dS F, Y h:i:s A')); ?>' },															
										common_action: { editable: false }
                                    }
                                },											
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('settings_setting_bannedlist_page_id'); ?>", 
												width: 50,
												template: '#= id_format #', 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "ip", 		
												title:	"<?php echo $this->translator->translator('settings_setting_bannedlist_ip'); ?>"											
											},
											{ 
												field: "status", 		
												title:	"<?php echo $this->translator->translator('common_status'); ?>",
												width: 200, 
												values: [ 
															{	text: "<?php echo html_entity_decode(strip_tags($this->translator->translator("settings_banned_ip_status_ban")), ENT_QUOTES, 'UTF-8'); ?>", value: 2	},
															{	text: "<?php echo html_entity_decode(strip_tags($this->translator->translator("settings_banned_ip_status_trust")), ENT_QUOTES, 'UTF-8'); ?>", value: 1	}
														],
												template: "#= (status == 1) ? \"<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_trust"), ENT_QUOTES, 'UTF-8'); ?></center>\" : \"<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_ban"), ENT_QUOTES, 'UTF-8'); ?></center>\" #"	,
												//attributes:{ 'align' : 'center'}										
											},
											{ 
												field: "created_date", 	
												title:	"<?php echo $this->translator->translator('settings_setting_bannedlist_created'); ?>",  
												format: "{0:MMMM dd, yyyy}", 
												template: '#= created_date_lang_format #',
												width: 250,
												attributes:{ 'style' : 'height:35px;' }, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},											
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												headerTemplate: "<center><?php echo $this->translator->translator('common_action'); ?></center>",
												width: 200, 
												template:'<?php if ($permission_arr['ban_enable']) : ?><span class="trust-btn"><a href="javascript:void(0);" #  if(status == 2){ #class="ban_btn"# }else{ #style="opacity:0.3"# } # rel="${id}_${ip}_1"><?php echo html_entity_decode(strtoupper($this->translator->translator('common_unpublish_title')), ENT_QUOTES, 'UTF-8'); ?></a></span><span class="block-btn"><a href="javascript:void(0);" # if(status == 1){ #class="ban_btn"# }else{ #style="opacity:0.3"# } # rel="${id}_${ip}_2"><?php echo html_entity_decode(strtoupper($this->translator->translator('common_publish_title')), ENT_QUOTES, 'UTF-8'); ?></a></span><?php endif; ?>'+
														 '<?php if ($permission_arr['delete_enable']) : ?><a href="javascript:void(0);" class="delete_btn"  rel="${id}_${publish_status_ip}"><img src="application/modules/Administrator/layouts/scripts/images/tools/trash.png" title="<?php echo html_entity_decode($this->translator->translator('settings_remove_banned_ip'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('settings_remove_banned_ip'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" class="ip-trash" /></a><?php endif; ?>', 
												attributes:{ 'align' :  'center' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo html_entity_decode($this->translator->translator("vote_setting_delete_confirm", '', 'Vote'), ENT_QUOTES, 'UTF-8'); ?>",																				
										common_publish_title		:	"<?php echo html_entity_decode($this->translator->translator("vote_setting_enable_title_all"), ENT_QUOTES, 'UTF-8'); ?>",
										common_unpublish_title		:	"<?php echo html_entity_decode($this->translator->translator("vote_setting_disable_title_all"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_selected		:	"<?php echo html_entity_decode($this->translator->translator("vote_setting_enable_title_all"), ENT_QUOTES, 'UTF-8'); ?>",
										common_unpublish_selected	:	"<?php echo html_entity_decode($this->translator->translator("vote_setting_disable_title_all"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_perm	 		:	"<?php echo html_entity_decode($this->translator->translator("common_publish_perm"), ENT_QUOTES, 'UTF-8'); ?>",
										common_perm_err				:	"<?php echo html_entity_decode($this->translator->translator("common_perm_err"), ENT_QUOTES, 'UTF-8'); ?>",
										common_selected_err	 		:	"<?php echo html_entity_decode($this->translator->translator("item_selected_err"), ENT_QUOTES, 'UTF-8'); ?>"
									}
					};
	commonGrid(settingObj);
	
	
	$('.action_button.ban').click(function(e){			
			$('a.k-grid-add').trigger('click');
			var firstItem = $('#'+settingObj.grid_id).data().kendoGrid.dataSource.data()[0];
			firstItem.set('status','2');	
			$('#'+settingObj.grid_id).data().kendoGrid.dataSource.data()[0].status = '2';
			$('#'+settingObj.grid_id).data().kendoGrid.tbody.find('tr:first').children('td:nth-child(4)').html("<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_ban"), ENT_QUOTES, 'UTF-8'); ?></center>");
		});
	$('.action_button.trust').click(function(e){			
			$('a.k-grid-add').trigger('click');
			var firstItem = $('#'+settingObj.grid_id).data().kendoGrid.dataSource.data()[0];
			firstItem.set('status','1');	
			$('#'+settingObj.grid_id).data().kendoGrid.dataSource.data()[0].status = '1';
			$('#'+settingObj.grid_id).data().kendoGrid.tbody.find('tr:first').children('td:nth-child(4)').html("<center><?php echo html_entity_decode($this->translator->translator("settings_banned_ip_status_trust"), ENT_QUOTES, 'UTF-8'); ?></center>");
		});
});
</script>


<div id="button_top_bar"></div>
<div class="title-container">
	<div class="ip-banned"><h1><?php echo $this->translator->translator('settings_setting_bannedlist_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($this->allow('deleteip','global','Settings')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="remove_all"><span class="icon delete"><?php echo $this->translator->translator('settings_bannedlist_remove_all_title'); ?></span></a></span>
        <?php endif; ?>
	</div>
</div>

<div class="content-container">
		<?php if ($this->allow('addip')) : ?>		
     	<div class="banned-ip-container clr">              
			<h4><?php echo $this->translator->translator('settings_banned_ip_title'); ?></h4>
            
           	<?php echo $this->translator->translator("settings_banned_enter_ip"); ?>
            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->translator->translator("settings_banned_enter_ip_help"); ?>"><p><span class="ui-icon ui-icon-help"></span></p></div></div>
            
			<input type="radio" name="ip_type" id="ip_type" value="4" checked="checked" /><?php echo $this->translator->translator("settings_banned_radio_ip_4"); ?> &nbsp;&nbsp;&nbsp;<input type="radio" name="ip_type" id="ip_type" value="6" /><?php echo $this->translator->translator("settings_banned_radio_ip_6"); ?> &nbsp; &nbsp;
            <button class="action_button ban"><?php echo strtoupper($this->translator->translator("settings_banned_create_ban")); ?></button>
			<button class="action_button trust"><?php echo strtoupper($this->translator->translator("settings_banned_create_trust")); ?></button>
			<span id="ip_err"></span>
     	</div>
            
         	
        <?php endif; ?>
            
        <div class="chart">            
            	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                     <div id="grid"></div>
                 </div>           
        </div>
	
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('settings_setting_bannedlist_page_name'); ?></h1>
    
    <div class="button-container">
        <?php if ($this->allow('deleteip','global','Settings')) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="remove_all"><span class="icon delete"><?php echo $this->translator->translator('settings_bannedlist_remove_all_title'); ?></span></a></span>
        <?php endif; ?>
	</div>
</div>
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('settings_setting_bannedlist_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
</div>