<div id="container">
<?php  if (!$this->allow('price')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
function state_truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
   return $phrase;
}

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;

$permission_arr = array('add_enable' => $this->allow('add','global','Settings'), 'edit_enable' => $this->allow('edit','global','Settings'), 'delete_enable' => $this->allow('delete','global','Settings'), 'report_enable' => $this->allow('report','global','Settings'));
$commission_enable = (!empty($global_conf['price_margine_arr']) && ((!empty($global_conf['price_margine_arr'][0]) && !empty($global_conf['price_margine_arr'][0]['id']) && ($global_conf['price_margine_arr'][0]['id'] == '2')) || (!empty($global_conf['price_margine_arr'][1]) && !empty($global_conf['price_margine_arr'][1]['id']) && ($global_conf['price_margine_arr'][1]['id'] == '2')) )) ? true : false;


?>
<script type="text/javascript">

$(document).ready(function() {
	kendo.culture("<?php echo str_ireplace('_', '-', $global_conf['default_locale']); ?>");
	floatingbar('#floatingbar',"#button_top_bar",null);
	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : "30"; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
						dataSource_autoSync: false,
						groupable: false,
						form_action : {											
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar'
									},						
						common_action : {
								permission_arr : {
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendtype', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'business_type'],							
								
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Hotels', 'controller' => 'backendtype', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
								
								multi_action	: []
						},						
						detailInit_action: {},
						search_data : {},
						batch:		true,
						toolbar: [
									<?php if ($permission_arr['add_enable']) : ?>{ name: "create", text: "<?php echo $this->translator->translator('common_add'); ?>" },<?php endif; ?> 
									{ name: "save", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_save_changes', '', 'Portfolio'); ?>" },
									{ name: "cancel", text: "<?php echo $this->translator->translator('portfolio_toolbar_btn_cancel_changes', '', 'Portfolio'); ?>" }
								  ],	
						editable:	{
										mode: 'incell',
										confirmation: false
									},
						scrollable: false, 
						saveChanges: function(e){							
							kendo.ui.progress(e.sender.element, true);	
						},
						dataSource_transport_read_complete : function(e)
						{
						},
						dataSource_transport_create: {},
						dataSource_transport_update: {
								type: "POST",
								url: "<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'edit' ), 'adminrout',    true); ?>",
								dataType: "json",
								complete: function(e) {
								  var json = $.parseJSON(e.responseText);								
								  //alert(json.toSource());								  
								  if(json.status == 'ok')
								  {
									 //commonMsgDialog(settingObj, json.msg);
								  }
								  else if(json.status == 'errV')
								  {
									  var err_msg = '';
									  $.each(json.msg, function(key, obj){										
										 err_msg += obj.key + ' => ' + obj.value + '<br />';
									  });
									  commonMsgDialog(settingObj, err_msg);
									  $('.k-i-refresh').trigger('click');
								  }
								  else
								  {
									 commonMsgDialog(settingObj, json.msg);
									 $('.k-i-refresh').trigger('click');
								  }								 
							  }
							},
						dataSource_transport_parameterMap: function(options, operation) {																		
                                    if (operation !== "read" && options.models) {								
                                        return {models: options.models};
                                    }
									else
									{
										return options;
									}
                                },
						detailInit:	false,
						dataBound: function(e) {	
								var self = this;
								self.tbody.find("tr").children('td:nth-child(4)').css({'overflow' : 'visible'});
								gridAction(settingObj);																				                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>",
							  
							  //The text of the dropdownlist displayed in the filter menu for columns whose values option is set.
							  selectValue: "<?php echo $this->translator->translator("common_select"); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
									id: "id",
                                    fields: {
										id: { type: "number", editable: false, nullable: true },
										id_format: { type: "string", editable: false },
										amount: { type: "number", editable: true, validation: { min: 0, required: true } },
										short_desc: { type: "string", validation: { required: true }, editable: true },
                                        amount_type_arr: { defaultValue: { name: "<?php echo html_entity_decode($this->translator->translator("common_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>", id: '1'}, validation: { required: true } },
                                        publish_short_desc: {  editable: false },
										amount_type: {  editable: false }
                                    }
                                },					
						column_fields: [
											{ 
												field: "id", 
												template: '#= id_format #',		
												title: 	"<?php echo $this->translator->translator('settings_price_list_page_id'); ?>", 
												width: 50, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 	
													field: "short_desc", 													
													title: "<?php echo $this->translator->translator('settings_price_list_short_desc'); ?>", 
													template: '#= short_desc # <?php if($commission_enable == true && $permission_arr['report_enable']){ ?> # if(id == 2){ # <a href="<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action'     => 'report', 'id' => '' ), 'adminrout',    true) ?>#= id #" target="_blank"><?php echo html_entity_decode($this->translator->translator('settings_price_list_view_report'), ENT_QUOTES, 'UTF-8'); ?></a># } #<?php } ?>',
													attributes: { title: '<?php echo html_entity_decode($this->translator->translator('menu_group_list_page_info', '', 'Menu'), ENT_QUOTES, 'UTF-8'); ?>'} 
											},		
											{ 	field: "amount",  title: 	"<?php echo $this->translator->translator('settings_price_list_amount').' ('.$currency->getSymbol().')'; ?>", width: 200/*, attributes: { title: '<?php echo html_entity_decode($this->translator->translator('menu_group_list_page_info', '', 'Menu'), ENT_QUOTES, 'UTF-8'); ?>'}*/  },									
											{ 
												field: "amount_type_arr", 	
												title:	"<?php echo $this->translator->translator('settings_price_list_amount_type'); ?>",	
												attributes: { title: '<?php echo html_entity_decode($this->translator->translator('menu_group_list_page_info', '', 'Menu'), ENT_QUOTES, 'UTF-8'); ?>'} ,
												template: '#= (amount_type_arr.name) ? amount_type_arr.name : name #',							
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
																  autoBind: false,
																  dataTextField: "name",
																  dataValueField: "id",																	
																  template:	'#= name #',
																  optionLabel: {
																	 name: 	"<?php echo html_entity_decode($this->translator->translator("common_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	 id: 		""
																  },
																  dataSource: {
																			  type: "json",
																			  schema: {
																					data:	'data_result'
																				},  
																			  transport: {
																					  read: {
																						  type: "POST",
																						  dataType: "json",
																						  data: {id : 1},	
																						  url: "<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action' => 'type' ), 'adminrout',    true); ?>"
																					  }
																				  }
																  }
															  });
													}
												},																						
												width: 160,
												editor: function(container, options)
														{
															$('<input required  data-bind="value:' + options.field + '"/>')
																.appendTo(container)
																.kendoDropDownList({
																	autoBind: false,
																	dataTextField: "name",
																	dataValueField: "id",																	
																	template:	'#= name #',
																	optionLabel: {
																	   name: 	"<?php echo html_entity_decode($this->translator->translator("common_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
																	   id: 		""
																	},
																	dataSource: {
																				type: "json",
																				schema: {
																					  data:	'data_result'
																				  },  
																				transport: {
																						read: {
																							type: "POST",
																							dataType: "json",
																							data: {id : options.model.id},	
																							url: "<?php echo $this->url( array('module'=> 'Settings', 'controller' => 'global', 'action' => 'type' ), 'adminrout',    true); ?>"
																						}
																					}
																	}
																});
														}										
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);
	
});


</script>

<div id="button_top_bar"></div>
<div class="title-container">
	<div class="price-margin"><h1><?php echo $this->translator->translator('settings_price_list_page_name'); ?></h1></div>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('settings_price_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<div class="content-container">
    
    <div class="chart">
			<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>
       	</div>
    
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('settings_price_list_page_name'); if($this->short_desc ){  echo " ( ".$country_name." ) "; } ?></h1>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript:void(0)" class="add_new_dialog_btn"><span class="icon add"><?php echo $this->translator->translator('settings_price_list_page_new'); ?></span></a></span>
        <?php endif; ?>
        
		<?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg','Price Margine Message'); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation', $this->translator->translator('common_delete')); ?>"></div>	
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<?php endif; ?>
</div>