<?php 
class tours_content_toursByType
{
	protected	$_group = 1;
	protected	$_limit = 15;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected	$translator;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		$this->translator = Zend_Registry::get('translator');	
		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{	
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.bxslider.js');
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.fitvids.js');
		echo $this->_view->headScript()->setFile('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/vendor/scripts/js/jquery.easing.1.3.js');
		echo $this->_view->headLink()->setStylesheet('application/layouts/scripts/'.$this->_front_template['theme_folder'].'/css/jquery.bxslider.css');	
		/***********************************NEW CHANGE START*****************************************/
		$selectBT = $this->_DBconn->select()
						->from(array('tbt' => Zend_Registry::get('dbPrefix').'tours_business_type'), array('tbt.*', '(SELECT COUNT(tp.id) FROM '.Zend_Registry::get('dbPrefix').'tours_page as tp WHERE tbt.id = tp.tours_type) AS tours_num', '(SELECT tps.traveler_photos  FROM '.Zend_Registry::get('dbPrefix').'tours_page as tps WHERE tbt.id = tps.tours_type ORDER BY tps.id DESC LIMIT 1) AS traveler_photos'));						
						
		/***********************************NEW CHANGE END*****************************************/
		$tours_info =  $selectBT->query()->fetchAll();
		?>
        <script type="text/javascript">
			$(document).ready(function(){
			  $('.slider4').bxSlider({
				slideWidth: 282,
				minSlides: 2,
				maxSlides: 3,
				moveSlides: 1,
				slideMargin: 35
			  });
			});
		</script>
        <div class="block block-type">
            <div class="block-body">
                <h2><?php echo $this->translator->translator('tours_front_page_home_by_type_title','','',$this->_front_template['theme_folder']); ?></h2><br />
                <div class="slider4">
                <?php
					if($tours_info)
					{
						foreach($tours_info as $key => $info)
						{
							if($info['tours_num'] > '0')
							{
					?>
						<div class="slide">
							<div class="col">
								<div class="box-header"><p><?php echo $this->_view->escape($info['business_type']); ?></p></div>
								<div class="left-col">
									<p><?php echo $this->_view->numbers($this->_view->escape($info['tours_num'])); ?></p>
									<span><?php echo $this->translator->translator('tours_block_package','','',$this->_front_template['theme_folder']); ?></span>
									<a href="<?php echo $this->_view->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'view', 'type'  => $this->_view->escape($info['id']) ),'Tours-List-Type/*',true); ?>"><?php echo $this->translator->translator('tours_front_page_view_all','','',$this->_front_template['theme_folder']); ?></a></span>
								</div>
								<img src="data/frontImages/tours/tours_image/<?php echo $this->_view->escape($info['traveler_photos']); ?>" border="0" width="140" height="120"/>
							</div>
						</div>
					  <?php
							}
						}
					}
				  ?>                     
                </div>
            </div>
        </div>
        <?php
	}
}
try
{
	$tours_content_toursByType_class = new tours_content_toursByType($this);
	$tours_content_toursByType_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>