<div class="block block-messages-menu">
	<div class="block-body">
        <ul class="main-manu">
            <li class="messages selected"><a href="">Messages</a></li>
            <li class="contacts"><a href="">Contacts</a></li>
            <div class="ui-panel">
            	<a href="" class="ui-btn"><span class="refresh"></span>Refresh</a> <a href="" class="ui-btn"><span class="add-new"></span>New</a>
			</div>
        </ul>
        <hr />
        <ul>
            <li class="inbox selected"><a href="">Inbox</a></li>
            <li class="send"><a href="">Send Box</a></li>
            <li class="spam"><a href="">Spam</a></li>
            <li class="trash last"><a href="">Trash</a></li>
        </ul>
    </div>
</div>

<div class="block">
	<div class="block-body">
    <div id='jqxWidget'>
            <div id='jqxExpander'>
                <div><strong>All Messages</strong></div><br />
                <div id='jqxTree'>
                    <ul>
                        <li item-expanded='true'>
                            <img style='float: left; margin-right: 5px;' src='../../images/mailIcon.png' /><span item-title="true">By Messages Type</span>
                            <ul>
                                <li item-expanded='true'>
                                    <img style='float: left; margin-right: 5px;' src='../../images/calendarIcon.png' /><span item-title="true">Product Messages</span><span style='color: Blue;'> (3)</span></li>
                                <li>
                                    <img style='float: left; margin-right: 5px;' src='../../images/contactsIcon.png' /><span item-title="true">Company Messages</span><span style='color: Blue;'> (3)</span></li>
                                <li>
                                    <img style='float: left; margin-right: 5px;' src='../../images/folder.png' /><span item-title="true"> <span>Reply to RFQs</span><span style='color: Blue;'> (3)</span></span>
                                </li>
                                <li>
                                    <img style='float: left; margin-right: 5px;' src='../../images/folder.png' /><span item-title="true"> <span>Buying Leads Subscription</span><span style='color: Blue;'> (3)</span></span>
                                </li>
                                
                                <li>
                                    <img style='float: left; margin-right: 5px;' src='../../images/folder.png' /><span item-title="true"> <span>Quotations</span><span style='color: Blue;'> (3)</span></span>
                                </li>
                                
                                <li>
                                    <img style='float: left; margin-right: 5px;' src='../../images/folder.png' /><span item-title="true"> <span>Other Messages</span><span style='color: Blue;'> (3)</span></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</div>