  <?php echo $this->paginationControl($this->list_info, 'Sliding', 'list/pagination-flickr.phtml'); ?>
  <?php if($this->list_info){
  /*
  echo '<pre>';
  print_r($this->list_info);
  echo '</pre>'; 
  
  */ 
?>
    <div class="profile_container">
    <?php 
  
  	foreach($this->list_info as $entry)
  	{ 
echo '<a href="'.$this->url( array('module'=> 'Members', 'controller' => 'list', 'action'     => 'details', 'id' => $entry['id']), 'Dynamic-Form-List-details/*',    true).'">';
    ?>
      <div class="profile_info">
      <div class="id_container"> <?php echo $entry['id']; ?></div>
      <div class="position"><?php echo $entry['position'];?> </div>
      <div class="details">
     
      <?php  if(!empty($entry['g_date'])){ ?>
       <div class="title"><?php echo $this->translator->translator('members_list_submite_date_label'); ?>  </div>
       <div class="value"><?php $date= explode(" ", $entry['g_date']); echo $date[0]; ?></div>
       
      <?php } 
      if(!empty($entry['country_location'])){ ?>
      	 <div class="title"><?php echo $this->translator->translator('members_list_location_label'); ?> </div>
      	<div class="value"><?php echo $entry['country_location'];?> </div>
     
   
      	
     <?php }
      if(!empty($entry['nationality_country'])){ ?>
        <div class="title"> <?php echo $this->translator->translator('members_list_nationality_label'); ?></div>
      	<div class="value"><?php echo $entry['nationality_country'];?> </div>
      <?php } 
         if(!empty($entry['age'])){ ?>
        <div class="title"> <?php echo $this->translator->translator('members_list_age_label'); ?></div>
      	<div class="value"><?php echo $entry['age'];?> </div>
      <?php } 
       if(!empty($entry['gander'])){ ?>
        <div class="title"><?php echo $this->translator->translator('members_list_gender_label'); ?></div>
      	<div class="value"><?php echo $entry['gander'];?> </div>
      <?php } ?>
      

   
      </div> <!-- end of profile_info -->
       
       <div class="profile_img">
       
        <div class="employee_img">
        <?php echo '<img src="data/frontImages/attachFiles/'.$entry['image'].'" alt="'.$entry['full_name'].'" height="79" width="59">'; ?>
       </div>
        <div class="flag_img">
        </div>
         </div>  <!-- end of profile_img -->
        </a>
       
  	<?php } //end of foreach ?>
    </div> <!-- of profile_container -->
    
  <?php } ?>


  <?php echo $this->paginationControl($this->list_info, 'Sliding', 'list/pagination-flickr.phtml'); ?>