<div class="row alert alert-warning">
	<h1><?php echo $this->translator->translator('members_list_personal_details_label'); ?></h1>
    <hr />
    <div class="col-md-9">
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_id_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['id']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_location_label');?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['country_location']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_name_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['full_name']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_nationality_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['nationality_country']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_gender_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['gander']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_age_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['age']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_dob_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['dob_date']; ?></div>
        </div>
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_status_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['status']; ?></div>
        </div>
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_religion_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['religion']; ?></div>
        </div>
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_physical_fitness_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['physical_fitness']; ?></div>
        </div>
        
        <h1><?php echo $this->translator->translator('members_list_professional_details_label'); ?></h1>
        <hr />
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_seeking_position_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['position']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_experienced_in_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['experience_in']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_dress_making_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['dress_making']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_total_experienced_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['total_experience']; ?></div>
        </div>
        
        <h1><?php echo $this->translator->translator('members_list_education_language_label'); ?></h1>
        <hr />
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_education_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['education']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_language_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['language']; ?></div>
        </div>   
        
        <h1> <?php echo $this->translator->translator('members_list_gulf_experience_status_label'); ?> </h1>
        <hr />
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_gulf_experience_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['gulf_experience']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_gulf_country_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['gulf_country']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_total_gulf_years_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['total_gulf_years']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_present_working_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['country_working']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_visa_status_label'); ?> </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['visa_status']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_visa_transferable_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['visa_transferable']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_present_employer_from_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['country_present_employer']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_total_Co-workers_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['total_coworkers']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_presentl_salary_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['salary_presently_price']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_have_passport_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['have_passport']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_passport_expire_date_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['passport_expire_date']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_reason_changing_present_Job_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['reason_changing_job']; ?></div>
        </div> 
        
        <h1><?php echo $this->translator->translator('members_list_job_expectation_label'); ?></h1>
        <hr />
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_want_to_Join_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['want_to__join_date']; ?></div>
        </div>
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_salary_expectation_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['salary_expectation_price']; ?></div>
        </div>  
        <div class="row alert alert-danger">
            <div class="col-md-12"><?php echo $this->translator->translator('members_list_location_priority_label'); ?></div>
            <hr />
            
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_country_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['location_priority_country']; ?></div><br>
            
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_city_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['city']; ?></div>
            
        </div> 
        
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_accommodation_prefer_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['accommodation_prefer']; ?></div>
        </div> 
        <div class="row alert alert-danger">
            <div class="col-md-5"><?php echo $this->translator->translator('members_list_contact_now_label'); ?></div>
            <div class="col-md-1">:</div>
            <div class="col-md-6"><?php echo $this->list_info[0]['ready_to_sign']; ?></div>
        </div> 
        
        
    </div>
    
    <div class="col-md-3">
      <div class="img-thumbnail">
         <?php 
         if(!empty($this->list_info[0]['image'])){
          echo '<img src="data/frontImages/attachFiles/'.$this->list_info[0]['image'].'" alt="'.$entry['full_name'].'" height="210" width="190">';}
          else{
              echo '<img src="data/frontImages/'.'no-image.png'.'" alt="'.$entry['full_name'].'" height="210" width="190">';
          }
          ?>
      </div>
  </div>
</div>