  <?php echo $this->paginationControl($this->list_info, 'Sliding', 'list/pagination-flickr.phtml'); ?>
  <?php if($this->list_info){
    
    ?>
    <div class="alert alert-warning">
     <h1><?php echo $this->translator->translator('members_list_cvlist_label'); ?></h1>
     <hr />
     <?php 
     
     foreach($this->list_info as $entry)
     { 

      echo '<a href="'.$this->url( array('module'=> 'Members', 'controller' => 'list', 'action'     => 'details', 'id' => $entry['id']), 'Dynamic-Form-List-details/*',    true).'">';
      ?>
      <div class="col-md-9">
        <div class="col-md-5"><strong><?php echo $this->translator->translator('members_list_id_label'); ?></strong></div>
      </a>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['id']; ?></div>
      
      <div class="col-md-5"><?php echo $this->translator->translator('members_list_catagory_label'); ?></div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['position'];?></div>
      
      <?php  if(!empty($entry['g_date'])){ ?>
      <div class="col-md-5"><?php echo $this->translator->translator('members_list_submite_date_label'); ?></div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php $date= explode(" ", $entry['g_date']); echo $date[0]; ?></div>
      <?php } 
      
      if(!empty($entry['country_location'])){ ?>
      <div class="col-md-5"><?php echo $this->translator->translator('members_list_location_label'); ?> </div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['country_location'];?> </div>
      <?php }
      
      if(!empty($entry['nationality_country'])){ ?>
      <div class="col-md-5"> <?php echo $this->translator->translator('members_list_nationality_label'); ?></div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['nationality_country'];?> </div>
      <?php } 
      
      if(!empty($entry['age'])){ ?>
      <div class="col-md-5"> <?php echo $this->translator->translator('members_list_age_label'); ?></div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['age'];?> </div>
      <?php }
      
      if(!empty($entry['gander'])){ ?>
      <div class="col-md-5"><?php echo $this->translator->translator('members_list_gender_label'); ?></div>
      <div class="col-md-1">:</div>
      <div class="col-md-6"><?php echo $entry['gander'];?> </div>
      <?php } ?>
      
    </div> <!-- end of profile_info -->
    
    <div class="col-md-3">
      <center>
        <div class="img-thumbnail">
          <?php 
          if(!empty($entry['image'])){
            echo '<img src="data/frontImages/attachFiles/'.$entry['image'].'" alt="'.$entry['full_name'].'" height="100" width="90">';}
            else{
              echo '<img src="data/frontImages/'.'no-image.png'.'" alt="'.$entry['full_name'].'" height="100" width="90">';
            }
            
            ?>
          </div>
          
          <br /><br />
          <?php echo '<a href="'.$this->url( array('module'=> 'Members', 'controller' => 'list', 'action'     => 'details', 'id' => $entry['id']), 'Dynamic-Form-List-details/*',    true).'">';?>
          <div class="btn btn-danger"><?php echo $this->translator->translator('members_list_detailbtn_label'); ?> </div> 
        </a>
      </center>
    </div>  <!-- end of profile_img -->
    
    
    <hr />
    <?php 

       } // end of foreach
       ?>
     </div> <!-- of profile_container -->
     
     <?php
     
     
      } //end of 'if($this->list_info)'
      
      ?>


      <?php echo $this->paginationControl($this->list_info, 'Sliding', 'list/pagination-flickr.phtml'); ?>