<?php
$front_template = Zend_Registry::get('front_template');
?>
<div class="mod details">
    <?php 
		$fullStory = $this->fullStory[0] ;
		if (!empty ($fullStory) &&  count($fullStory) > 0){
		
		$b2bImages = ($fullStory['b2b_images']) ? ($fullStory['b2b_images']) : 'avatar.png';	
				
	?>
 	<h1><?php echo  $this->translator->translator('front_success_story_full_story') ?></h1>

	<h4><a href="Company-Details/<?php echo $fullStory['company_title'] ?>"><?php echo  $this->escape ($fullStory['name']) . ' (' . $fullStory['company_name']  . ')'?> </a></h4>
   	<br>
    <figure>
        <div class="thumb">
            <a href="#"><img src="<?php echo $fullStory['images_path'].'/'.$b2bImages?>" width="150" border="0" /></a>
        </div>
    </figure>
   	<br>
    
    <ul class="list-group">
    	<?php if($fullStory['full_name']){ ?>
    	<li class="list-group-item">
        	<?php echo $this->escape($fullStory['full_name']); ?>
        </li>
        <?php } ?>
        <li class="list-group-item">
        	<img src="data/adminImages/flagsImage/<?php echo $fullStory['code']; ?>.gif" border="0" class="flag"/>&nbsp; <?php echo $this->escape($fullStory['city'].', '.$fullStory['country_name']); ?>
        </li>
        
		<?php  
            if ($fullStory['package_name']){						
        ?>
        <li class="list-group-item">
            <span class="label label-primary"><a class="gold" href="Premium-Membership"><?php echo $fullStory['package_name']?></a></span>
        </li>
        <?php  
        } 
            
        $establishing_year = $fullStory['establishing_year'];
        $main_products = $fullStory['main_products'];
        $trade_type = $fullStory['trade_type'];
        
        if ( !empty($trade_type) && is_numeric($trade_type)) {
                
                switch ($trade_type){
                    
                case '1':	echo '<li class="list-group-item"><span class="text-title">'. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_sellers') . '</li>';
                
                            break;
                case '2':	echo '<li class="list-group-item"><span class="text-title">'. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_buyers') . '</li>';
                            break;
                 case '3':	echo '<li class="list-group-item"><span class="text-title">'. $this->translator->translator('b2b_keywords_business_type') . '</span> : ' .  $this->translator->translator('b2b_keywords_both') . '</li>';
                 
                 default:	break;	
                 
                }      
        }
        
        if ( !empty($establishing_year)) {
                
                echo '<li class="list-group-item"><span class="text-title">'. $this->translator->translator('b2b_keywords_operating_since').'</span>: ' .$establishing_year . '</li>';
        }
        
        if ( !empty($main_products)) {
                
                echo '<li class="list-group-item"><span class="text-title">'. $this->translator->translator('b2b_keywords_main_products').'</span>: '.$main_products . '</li>';
        }
        ?>
       	<li class="list-group-item"><span class="text-title"> <?php echo $this->translator->translator('b2b_registered_category_name') ?> :</span> <?php echo $fullStory['category_name'] ?>
    </ul>
    <br>
    <div class="details">
        <h4><?php  echo $this->escape ($fullStory['name'])?></h4>
        <?php echo $this->escape ($fullStory['description'])?>
    </div>
    <hr>
    <a href="Company-Selloffers/<?php echo $fullStory['company_title'] ?>" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-bookmark"></span> <?php echo $this->translator->translator('front_success_story_leads') ?></a>
    <a href="Company-Products/<?php echo $fullStory['company_title'] ?>" class="btn btn-success btn-block"><span class="glyphicon glyphicon-tag"></span> <?php echo $this->translator->translator('front_success_story_products') ?></a>
    <a href="Success-Stories" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-comment"></span> <?php echo $this->translator->translator('front_success_story_view_all') ?></a>    
    <?php 
	}
	else 
	{
		echo $this->translator->translator('b2b_front_common');
	}
	?>
</div>