<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );
$company_sort_arr = ($this->preferences_data['suppliers_sortby'] && $this->preferences_data['suppliers_sortby'] != '_') ? explode('-', $this->preferences_data['suppliers_sortby']) : null;
?>
<script type="text/javascript">
    $(document).ready(function() {
		extraFunctions ();
        var settingObj = {
                            grid_id : 'grid',
							mobile: 'phone',
                            dest_url : "<?php echo $this->url(); ?>",
							pageSize : '5',
							height:		"38em",
                            //pageSize : '<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['suppliers_list']) ? $this->preferences_data['suppliers_list'] : 30); ?>',
							pageable : { buttonCount: 2 },
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							dataSource_sort: [
													<?php if($company_sort_arr && $company_sort_arr[0]): ?>{field: '<?php echo $company_sort_arr[0]; ?>',  dir: '<?php echo $company_sort_arr[1]; ?>'}<?php endif; ?>
												],
                            dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},
							search_action: {
								search_form_id : 'searchForm',
								search_form_btn : 'search_btn',
								hasTinyMCE 	: false,
								show_loader_on_search_button: true,
								setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
											var filters = [];										
											var i = 0;
											$.each(form_data, function(key,value){		
												var stringObj = {};																				
												if($.trim(value) != "" && value.toLowerCase() != "any")
												{												
													var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
													switch(key)
													{
													  case 'advkeywords':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];																			
																			  var filter_keyword_1_arr = [];																			
																			  var filter_keyword_2_arr = [];																			
																			  var filter_keyword_3_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'company_name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'keywords', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_1_arr[key_count] = { field: 'main_products', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_2_arr[key_count] = { field: 'main_products_part1', operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_3_arr[key_count] = { field: 'other_products', operator: operator, value: $.trim(filter_value_arr_value) };
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr },
																										  { logic: form_data.advword, filters: filter_keyword_1_arr },
																										  { logic: form_data.advword, filters: filter_keyword_2_arr },
																										  { logic: form_data.advword, filters: filter_keyword_3_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'company_name', 	operator: operator, value: $.trim(value) },
																										  {field: 'keywords', 	operator: operator, value: $.trim(value) },
																										  {field: 'main_products',operator: operator, value: $.trim(value) },
																										  {field: 'main_products_part1',operator: operator, value: $.trim(value) },
																										  {field: 'other_products',operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'company_name', 		operator: operator, value: $.trim(value) },
																								{field: 'keywords', 	operator: operator, value: $.trim(value) },
																								{field: 'main_products', 	operator: operator, value: $.trim(value) },
																								{field: 'main_products_part1', 	operator: operator, value: $.trim(value) },
																								{field: 'other_products', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break;	
														 case 'description':		
															  if(form_data.advword)
															  {												
																  switch(form_data.advword)
																  {
																	  case 'and':
																	  case 'or':
																			  var filter_value_arr = value.split(' ');
																			  var filter_name_arr = [];
																			  var filter_keyword_arr = [];
																			  var key_count = 0;
																			  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																				  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																				  {
																					  filter_name_arr[key_count] 		= { field: 'company_information', 		operator: operator, value: $.trim(filter_value_arr_value) };
																					  filter_keyword_arr[key_count] 	= { field: 'meta_desc', 	operator: operator, value: $.trim(filter_value_arr_value) };
																					  
																					  key_count++;
																				  }
																			  });
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  { logic: form_data.advword, filters: filter_name_arr },
																										  { logic: form_data.advword, filters: filter_keyword_arr }
																									  ]
																						  };																
																		  break;
																	  case 'exact':
																			  stringObj = {
																							  logic: 'or',
																							  filters: [
																										  {field: 'company_information', 	operator: operator, value: $.trim(value) },
																										  {field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																									  ]
																						  };																		
																		  break;
																  }
															  }
															  else
															  {
																  stringObj = {
																					logic: 'or',
																					filters: [
																								{field: 'company_information', 		operator: operator, value: $.trim(value) },
																								{field: 'meta_desc', 	operator: operator, value: $.trim(value) }
																							]
																				};
															  }
														  break; 	
														case 'advcategory_input':
															break;
														case 'advcategory':													
																var combobox = $("#advcategory").data("kendoComboBox");	
																if(combobox)
																{
																	var category_id_val = combobox.value();																
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'category_id', operator: operator, value: category_id_val },
																								{ field: 'category_name', operator: 'contains', value: category_id_val }
																							]
																		 };
																}
																else 
																{
																	stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
																}
															break;
														case 'advcountry_input':
															break;	
															
														case 'advcountry':
																var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
																if(advcountry_combobox)
																{
																	var advcountry_id_val = advcountry_combobox.value();
																	stringObj = {
																					logic: 'or',
																					filters: [
																								{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																								{  field: 'country', operator: 'contains', value: advcountry_id_val }
																							]
																		 };
																}
																else
																{
																	stringObj = {field: 'country', operator: 'contains', value: $("#advcountry").val() };																
																}															
															break;
														case 'advtype_input':
														case 'advtype':
															var advtype_combobox = $("#advtype").data("kendoComboBox");	
															if(advtype_combobox)
															{
																var advtype_id_val = advtype_combobox.value();
																stringObj = {field: 'advtype_input', operator: operator, value: advtype_id_val };
															}
															else
															{
																stringObj = {field: 'advtype_input', operator: operator, value: $("#advtype").val() };
															}
														break;
														case 'advpremium':
																stringObj = {field: 'priority', operator: operator, value: "YES" };
															break;
														case 'priceopt':
															break;	
														case 'price':
																operator = $('#priceopt').val();
																stringObj = {field: 'price', operator: operator, value: $.trim(value) };
															break;	
														default:
															stringObj = {field: key, operator: operator, value: $.trim(value) };	
														 break;								
													}
													filters[i] = stringObj;												
													i++;
												}
											});
											//alert(filters.toSource());
											return filters;
										}
							},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="icon loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
                            
                                    multi_action	: []
                            },
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: true,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-header").remove();
									self.element.height("").find(".k-grid-content").css("height", "442px");
                                    self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    $('input.p_button').attr('type', 'button_btn');
                                    //self.thead.remove();
                                    text_truncate();
                                    commonVoting();													                      
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_template").html()),
                            //model: {},					
                            column_fields: ['group_id'],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
                                            common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
                                        }
                        };
        commonGrid(settingObj);
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});	
		
		$("#advtype").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "business_type",
			dataValueField: "id",
			filter: "contains",
			autoBind: false,
			minLength: 1,		
			dataSource: {
				type: "json",
				schema: {
					  data:	'type_arr'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'businesstype'),'adminrout', true); ?>",
					}
				}
			}
		});
	}
</script>
    
<script type="text/x-kendo-template" id="view_template">	
		# 
	 		var featured_class = (priority == 'YES') ? 'featured-content' : '';
		#
		<div class="panel panel-default #= featured_class #">
			<div class="panel-body">
				#
				if(featured_class != ''){
				#
				<div class="ribbons" id="ribbons"><div><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></a></div></div>
				#
				}
				#
				<h4 class="text-center"><a href="Company-Homepage/#= seo_title #">#= company_name #</a></h4>
				
				<figure>
					<div class="thumb">
						<a href="Company-Homepage/#= seo_title #" link="#= profile_image_primary_format #" title="#= company_name #"><img src="#= profile_image_primary_format #" border="0" width="150"/></a>
						<div class="photo-count-container">
							<div class="photo-count">
								<a href="Company-Homepage/#= seo_title #" title="#= company_name #"><span class="glyphicon glyphicon-camera"></span> #= profile_image_num_format  #</a> 
							</div>
						</div>
					</div>
				</figure>
				<br>
				<div class="details">
					#
						if(company_information){ 
					#
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <span class="jTruncate"> #=  commonStripslashes (company_information) # </span><br> 
					# 
						} 
						if(company_name){
					#
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_validity'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= company_name # <br>
					# 
						} 
						if(business_type){
					#
								
						<span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8")  ?>  </span>  : #= business_type # <br>
					# 
						} 
						if(trade_type){
							var trade  = '';
							
							switch (trade_type){
								case '1': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_buyers'), ENT_QUOTES, "UTF-8")  ?>"
									 break;
								case '2': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_sellers'), ENT_QUOTES, "UTF-8")  ?>"
									 break;
								case '3': trade = "<?php echo  html_entity_decode($this->translator->translator('b2b_keywords_both'), ENT_QUOTES, "UTF-8")  ?>"
									 break;
									
							}
					#
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_buying_trade_type'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= trade # <br>
					# 
						} 
						if(establishing_year){
					#		
						<span class="text-title"><?php  echo html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8")  ?> </span> :  #= establishing_year #
					# 
						}
						if(keywords)
						{
					#
						<br><span class="text-title"><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> #= keywords #
					#
						}
					#	
						<hr>
					# 					
						if (compliance_name){
							compliance = compliance_name.split(",")
							compliance_image = compliance_img.split(",")
							$.each(compliance, function(key, value){
								if ((compliance_image[key]).trim() != 0) {
					#	
									<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']?>/images/b2b_img/#= (compliance_image[key]).trim() # " width='36' height='36' border='0' title='#= value #' > &nbsp;  													 
					# 
								}
							});
					#
							<hr />
					#
						}
					#	
				</div>
				<br>
				
				<ul class="list-group">
					<li class="list-group-item">
						<?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_get_involved'), ENT_QUOTES, "UTF-8") ?> :
					</li>
					#
					if(establishing_year)
					{
						 var today = new Date();
						 var yyyy = today.getFullYear();					
						 var year_of_est  = establishing_year;
						 var company_age = parseInt(yyyy) - year_of_est;
						 var number_of_years = ( company_age >= 1 ) ?  company_age : null;	
					 }
					 else
					 {
						 var number_of_years =  null;	
					 }
				 	 #			
			  			  
					#if(number_of_years){#
					<li class="list-group-item">
						<?php  echo  html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, "UTF-8") ?> #= number_of_years # <?php  echo  html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8"); ?>
					</li>
					# } #
					
					# 
					if(category_isShowProfile == 1 || category_id == 0){
					#
					<li class="list-group-item">
						#
						if(country_code){
						#
						<?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8") ?>:
						<img src="data/adminImages/flagsImage/#= country_code #.gif" border="0" /> &nbsp; (#= state #  #= city# )
					</li>
					
					# 
					} 
					if(profile_image != 'undefined' && profile_image.length > 0){
					#
							
					<li class="list-group-item">
						<ins><?php echo html_entity_decode($this->translator->translator('b2b_company_profile_company_certification'), ENT_QUOTES, 'UTF-8')?>: </ins><br><br>
						<div class="text-center">
						#		
						certificates_arr = profile_image.split(",")
						$.each(certificates_arr, function(key, value){
							if ((value.trim()) != profile_image_primary.trim()) {
						#
						<img src="#= images_path#/#= value.trim()#" border='0' width="60" class="img-thumbnail certification" />
						#
								}
							});
						}
						#
						</div>
					</li>
					#
					}
					#
					
					#if(package_name){ #
					<li class="list-group-item">
						<img src="#= file_path_b2b_images #/#= package_logo #" border="0" width="40"/> 
						# if(package_name){ #&nbsp; <span class="label label-primary"><a href="Company-Homepage/#= seo_title #" class="gold">#= package_name #</a></span># } #
					</li>
					# } #
					
					#if(package_name && priority_flag){ #
					<li class="list-group-item">
						<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="40"/> &nbsp; <span class="label label-success">#= priority_flag #</span>
					</li>
					# } #
					
					<li class="list-group-item">
						<div class="vote">
				  			<span class="label label-primary">#= '<?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?>' #</span>
				  			<span>#= profile_vote_format #</span>
			  			</div>
					</li>
                <ul>
			</div>
			
			<div class="panel-footer">
				<a href="Company-Homepage/#= seo_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_homepage'), ENT_QUOTES, "UTF-8") ?></a> |
				<a href="Company-AboutUs/#= seo_title #"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_profile'), ENT_QUOTES, "UTF-8") ?></a> | 
				<a href="Company-Selloffers/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_sell_offers'), ENT_QUOTES, "UTF-8") ?></a> | 
				<a href="Company-Products/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_products'), ENT_QUOTES, "UTF-8") ?></a> | 
				<a href="Company-Store/#= seo_title #/"><?php  echo  html_entity_decode($this->translator->translator('b2b_view_comopany_store_page'), ENT_QUOTES, "UTF-8") ?></a>  				
			</div>
		</div>
</script>
	    
<div class="mod">
	<h1><?php echo $this->translator->translator('permisson_b2b_front_supplierslist') ; ?></h1>
    <div class="search">
   		<a href="#" id="slick-slidetoggle" class="btn btn-block btn-search"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        
        <div id="slickbox" class="well">
         	<form name="searchForm" id="searchForm" role="form">
            	<div class="form-group">
                	<label for="company_name"><?php echo $this->translator->translator('front_company_name'); ?></label>
                    <input type="text" class="form-control" name="company_name" id="company_name" operator="contains" value="" size="30" />
                </div>
                
                <div class="form-group">
               		<label for="full_name"><?php echo $this->translator->translator('b2b_list_find_by_user_name'); ?></label>
                    <input type="text" name="full_name" id="full_name" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="advkeywords"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></label>
                    <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="description"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></label>
                    <input type="text" name="description" id="description" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="package_id"><?php echo $this->translator->translator('package_list_page_name'); ?>:</label>
                    <select name="package_id" id="package_id" class="form-control" operator="eq">
                        <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                        <?php
                        if($this->packagesArray)
                        {
                            foreach($this->packagesArray as $packages_info)
                            {
                        ?>
                        <option value="<?php echo $packages_info['id']; ?>"><?php echo $this->escape($packages_info['name']); ?></option>
                        <?php
                            }
                        }
                        ?>
                    </select> 
                </div>
                
                <div class="form-group">
                	<label for="trade_type"><?php echo $this->translator->translator('b2b_fontend_buying_trade_type'); ?></label>
                    <select name="trade_type" id="trade_type" operator="eq" class="form-control" <?php if(!empty($this->category_id)){ ?>disabled="disabled" <?php } ?>>
                        <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                        <option value="2" <?php if($this->trade_type == '2'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_sellers'); ?></option>
                        <option value="3" <?php if($this->trade_type == '3'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_keywords_both'); ?></option>
                    </select>
                </div>
                
                <div class="form-group">
                	<label for="package_name"><?php echo $this->translator->translator('b2b_list_company_package_name'); ?></label>
                    <input type="text" name="package_name" id="package_name" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="username"><?php echo $this->translator->translator('b2b_list_search_company_email'); ?></label>
                    <input type="text" name="username" id="username" operator="contains" class="form-control" value="" size="30" />
                </div>
                
                <div class="form-group">
                	<label for="advcategory"><?php echo $this->translator->translator('b2b_advanced_search_category_label'); ?></label>
                    <input name="advcategory" id="advcategory" operator="eq" />
                </div>
                
                <div class="form-group">
                	<label for="advcountry"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></label>
                    <input name="advcountry" id="advcountry" operator="eq" />
                </div>
                
                <div class="form-group">
                	<label for="advtype"><?php echo $this->translator->translator('b2b_list_company_business_type'); ?></label>
                    <input name="advtype" id="advtype" operator="eq" />
                </div>
                
              	<a href="javascript: void(0);" class="search_btn btn btn btn-block btn-global"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        	</form>
     	</div>
    </div>
    
    <div class="grid-puller">
        <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
            <div id="grid"></div>  
        </div>
	</div>
</div>

<div id="dialog_msg"></div>