<?php
class flight_packages
{
	protected	$_group = 1;
	protected	$_limit = 9;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected 	$currency;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$global_conf = Zend_Registry::get('global_conf');
		$this->currency = new Zend_Currency($global_conf['default_locale']);
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		$phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');	
		$selectFL = $this->_DBconn->select()
						->from(array('fl' => Zend_Registry::get('dbPrefix').'flight_flights'), array('flight_id' => 'fl.id', 'flight_route_name' => 'fl.flight_route_name', 'flight_route_title' => 'fl.flight_route_title', 'flight_adult_fair' => 'fl.flight_adult_fair', 'flight_child_fair' => 'fl.flight_child_fair', 'flight_infant_fair' => 'fl.flight_infant_fair', 'airlines_id' => 'fl.airlines_id', 'airlines_name' => 'fa.airlines_name', 'primary_image' => 'fa.primary_image'))						
						->order("fl.entry_date DESC")
						->limit($this->_limit)
						->joinLeft(array('fa' => Zend_Registry::get('dbPrefix').'flight_airlines'), 'fa.id = fl.airlines_id');
		
		$flight_info =  $selectFL->query()->fetchAll();
		if($flight_info)
		{
?>
		<div class="block block-flight-pkg">    
    		<div class="block-body">
            	<h3><?php echo $translator->translator('tab_latest_flight_package','', '', $this->_front_template['theme_folder']); ?></h3>
				<?php
				foreach($flight_info as $entry)
					{
				?>
                    <figure>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="thumb">
                                    <a class="preview" link="data/frontImages/flight/airlines/<?php echo $this->_view->escape($entry['primary_image']); ?>" width="174"><img src="data/frontImages/flight/airlines/<?php echo $this->_view->escape($entry['primary_image']); ?>" border="0" width="100" class="img-responsive" /></a>
                                </div>
                            </div>
                            
                            <div class="col-md-7">
                                <div class="details text-center">
                                    <br>
                                    <?php echo '<span class="info"><span class="glyphicon glyphicon-plane"></span> '.$this->_view->escape($entry['flight_route_name']).'</span>. <br><hr><span class="price">'.$translator->translator('flight_AirlineFlightSchedules_page_table_adult','', '', $this->_front_template['theme_folder']).' - '.$this->currency->getSymbol().$this->_view->escape($entry['flight_adult_fair']).', '.$translator->translator('flight_AirlineFlightSchedules_page_table_child','', '', $this->_front_template['theme_folder']).' - '.$this->currency->getSymbol().$this->_view->escape($entry['flight_child_fair']).', '.$translator->translator('flight_AirlineFlightSchedules_page_table_infant','', '', $this->_front_template['theme_folder']).' - '.$this->currency->getSymbol().$this->_view->escape($entry['flight_infant_fair']).'</span>'; ?>
                                </div>
                            </div>
                            
                            <div class="col-md-3 text-center more">
                                <a href="<?php echo $this->_view->url(array('module' => 'Flight','controller' =>'frontend', 'action' => 'flightdetails','flight_title' => $this->_view->escape($entry['flight_route_title']) ),'Flight-Details/:flight_title',true); ?>"><?php echo $translator->translator('common_see_details','', '', $this->_front_template['theme_folder']); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                    </figure>

				<?php
					}
				?>
			</div>
		</div>
<?php
}
?>
       
<?php
	}
}
try
{
	$flight_packages_class = new flight_packages($this);
	$flight_packages_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>