<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_company_profile' );

$per =  $this->translator->translator('b2b_product_per_unit');

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','b2b_selling_leads' );

?>
    <div class="mod">
           
        <div class="cat-container">
            <div class="list-icon">
                <h1><?php echo  $this->translator->translator('b2b_fontend_selling_ist')?></h1>
            </div>
            <span  class="seo-link"><a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontend','action' => $this->getAction),'All-Selling-list/*',true); ?>"><?php echo $this->translator->translator('common_user_friendly_link'); ?></a></span>
            <div class="clear"></div>
            <br />
           
            <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php if($this->parent_category_info){ echo $this->translator->translator('b2b_category_list_title', $this->escape($this->parent_category_info['name'])); }else{ echo $this->translator->translator('b2b_category_list_all_title'); } ?></a></div>
           
            
            <div id="slickbox" class="toggle-container">
                <?php
				if($this->category_info)
				{
				?>
                <div class="cat-columns">
                    <div class="cat-list column-list">
                        <ul>
                    <?php
                        $i = 1;
                        foreach($this->category_info as $info)
                        {
                            $link = $this->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'sellist', 'category' => $this->escape($info['url_portion'])), 'All-b2b-Seo-Selling-list/*', true);
                            $thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
                        ?>						
                            <li>
                                <p><a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span>(<?php echo $this->numbers($this->escape($info['selling_leads_num'])); ?>)</span></p>
                                                          
                            </li>							
                        <?php
                            if($i % 2 == 0)
                            {
                                echo '</ul></div><div class="cat-list column-list"><ul>';
                            }
                            $i++;
                        }
                    ?>
                        </ul>
                    </div>
                </div>
                <?php
				}
				?>
            </div>
    
        </div>
    
    
        <div>
			<?php			
				if($this->json_arr && $this->json_arr['status'] == 'ok')
				{
					if($this->json_arr['data_result'])
					{
			?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/sellist-pagination-flickr.phtml'); ?>
                        </div>
           	<?php
						foreach($this->json_arr['data_result'] as $key => $entry)
						{
							if($entry['seo_title']) { 
							$featured_class = ($entry['priority'] == 'YES' || $entry['featured'] == '1') ? 'featured' : '';
							$featured_spacer_class  = (!empty($featured_class)) ? 'spacer' : '';
				?>
					 		<script>
								$(document).ready(function() {
									try{ 
										var item_array = <?php echo Zend_Json_Encoder::encode($entry); ?>;		
										var indexCartModel = kendo.observable({  			
											addToCart: function(e) {					
												$.each(item_array, function(key, value){
														e.data[key] = value;
													});						
												cart.add(e.data);
											}
										});
										kendo.bind($("#sellist-cart-info-<?php echo $entry['id']; ?>"), indexCartModel); 
									}catch(e){};
								});
								</script> 
							<div class="list-view <?php echo $featured_class; ?>">
                            	<?php
									if(!empty($featured_spacer_class))
									{
									?>
									  <div class="ribbon-container">
										<span id="ribbon"><?php  echo html_entity_decode($this->translator->translator('common_featured_language'), ENT_QUOTES, "UTF-8") ?></span>
									  </div>
									 <?php
										}
									 ?>
								<div class="img-wrapper">
                                    <a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>"  link="<?php echo $entry['primary_file_field_format']; ?>" title="<?php echo $this->escape($entry['name']); ?>"><img src="<?php echo $entry['primary_file_field_format']; ?>" border="0" class="thumb"  height="100" width="100"/></a>
                                    <div class="photo-count-container">
                                        <div class="photo-count"> 
                                            <a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>" title="<?php echo $this->escape($entry['company_name']); ?>"><?php echo $entry['others_images_num_format']; ?></a>
                                        </div>
                                    </div>
                                    <?php if($entry['package_name']){ ?> <img src="<?php echo $entry['file_path_b2b_images'].'/'.$entry['package_logo']; ?>" border="0" width="40" class="pkg"/> <?php } ?>
                                    <?php if($entry['package_name']){ ?><div class="membership"><a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>"><?php echo $entry['package_name']; ?></a><br /> </div><?php } ?>
                                    <div class="separator"></div>
                                    <?php if($entry['package_name'] && $entry['priority_flag']){ ?> <br /><br /><div class="trusted"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="50"/><br /> <?php echo $entry['priority_flag']; ?></div> <?php } ?>
                                </div> 
                                <div class="details">
                                    <h3><a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>"><?php echo $this->escape($entry['name']); ?></a></h3>
                                    
                                    <?php
                                        if($entry['description']){  
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <?php echo $this->escape($entry['description']); ?> <br /> 
                                    <?php 
                                        } 
                                        if($entry['price']){
											  $currencyType = explode("-", $entry['price_currency']);
									?>
                                        <div class="price"><?php echo html_entity_decode($this->translator->translator('b2b_front_product_price'), ENT_QUOTES, "UTF-8")  ?> : <?php if ($currencyType[0] != 0 ) { echo $currencyType[0]; } echo $entry['original_price']; if ($entry['strikethrough_price']) {   echo ' (<strike> '.$entry['strikethrough_price'].' </strike>)'; }  echo html_entity_decode($this->translator->translator('b2b_product_per_unit'), ENT_QUOTES, "UTF-8").' '. $entry['price_per_unit']; ?></div>
                                    <?php
                                        } 
                                        if($entry['shipping']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('members_area_product_tbl_shipping'), ENT_QUOTES, "UTF-8") ?> </span>  :  <?php echo $entry['shipping']; ?> <br />
                                                        
                                    <?php 
                                        } 
                                        if($entry['validity']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_product_time_of_expiry'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo $entry['validity']; ?> <br />
                                    <?php
                                        } 
                                        if($entry['delivery']){
                                    ?>	
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_selling_offer_delivery'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo $entry['delivery']; ?> <br />					
                                    <?php 
                                        } 
                                        if($entry['place_of_origin']){
                                    ?>
                
                                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_selling_offer_madein'), ENT_QUOTES, "UTF-8") ?> </span>  :  <?php echo $entry['place_of_origin']; ?>  <br />
                                            
                                    <?php 
                                        } 
                                        if($entry['quantity']){
                                    ?>	
                                      <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_minimum_order_qty'), ENT_QUOTES, "UTF-8") ?> </span> :  <?php echo  $entry['quantity'] .' '. $entry['qty_per_unit']; ?>     <br />
                                            
                                    <?php 
                                        } 
                                        if($entry['payment_type']){
                                    ?>	
                                      <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_payment_type'), ENT_QUOTES, "UTF-8") ?></span> :  <?php echo  $entry['payment_type']; ?>   <br />
                                            
                                    <?php 
                                        } 
                                        if($entry['category_name']){
                                    ?>	
                                      <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_category'), ENT_QUOTES, "UTF-8") ?>  </span> : <?php echo  $entry['category_name']; ?> <br />
                
                                    <?php 
                                        } 
                                        if($entry['business_type']){
                                    ?>                                        
                                      <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_business_types'), ENT_QUOTES, "UTF-8") ?>  </span>  : <?php echo  $entry['business_type']; ?> <br />
                                            
                                    <?php 					
                                        } 
                                        if($entry['added_on']){
                                    ?>                                        
                                      <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_buying_offer_date'), ENT_QUOTES, "UTF-8") ?>  </span> : <?php echo  $entry['added_on']; ?> <br />
                                    <?php 
                                        } 
                                        if($entry['keywords'] || $entry['keyword_1'] || $entry['keyword_2'] || $entry['keyword_3'])
                                        {
                                    ?>
                                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_keywords_title'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $entry['keyword'] ; if($entry['keyword_1']){ echo ', '.$entry['keyword_1']; } if($entry['keyword_2']){ echo ', '.$entry['keyword_2']; }  if($entry['keyword_3']){ echo ', '.$entry['keyword_3']; } ?><br />
                                    <?php
                                        }
                                    ?>	
                                </div>
                                
                                 <div class="info <?php echo $featured_spacer_class ?>">
                                    <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_profile_overview'), ENT_QUOTES, "UTF-8")?> :</span><br /><br /> 
                                                        
                                        <?php
										  if($entry['establishing_year'])
										  {
											  $yyyy = date("Y");					
											  $year_of_est  = $entry['establishing_year'];
											  $company_age = (int)$yyyy - $year_of_est;
											  $number_of_years = ( $company_age >= 1 ) ?  $company_age : null;	
										  }
										  else
										  {
											  $number_of_years =  null;	
										  }
										?>
                
                                        <?php if($number_of_years){  echo  html_entity_decode($this->translator->translator('b2b_with'), ENT_QUOTES, "UTF-8") .' '. $number_of_years  .' '.   html_entity_decode($this->translator->translator('b2b_years') . ' ' .  $this->translator->translator('b2b_of')   . ' ' .$this->translator->translator('b2b_experience') , ENT_QUOTES, "UTF-8");  } ?> 
                                        
                                    <hr>
                                    <?php
                                        if($entry['company_name']){
                                   ?>
                                        <a href="Company-Homepage/<?php echo $entry['company_title']; ?>"> <?php echo $entry['company_name']; ?> </a><br />	
                
                                    <?php
                                        }
                                    if($entry['category_isShowProfile'] == 1 || $entry['category_id'] == 0){
										if($entry['country_code']){
                                    ?>
                
                                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8")?> </span> : <img src="data/adminImages/flagsImage/<?php echo $entry['country_code']; ?>.gif" border="0" /> &nbsp; <?php echo $this->escape($entry['state']); ?> / <?php echo $this->escape($entry['city']); ?> <br />
                                    <?php
                                        } 
                                        if($entry['selling_categories']){
                                    ?>
                                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_company_profile_selling'), ENT_QUOTES, "UTF-8")?> </span> :   <?php echo $entry['selling_categories']; ?>  <br />
                
                                    <?php 
                                        } 
                                        if($entry['registered_in']){
                                    ?>
                
                                        <span> <?php echo  html_entity_decode($this->translator->translator('b2b_keywords_operating_since'), ENT_QUOTES, "UTF-8")?> </span>  :  <?php echo $entry['registered_in']; ?> <br />                    
                
                                    <?php
                                        } 
                                   	
                                        if ($this->preferences_data['show_phone']) {
                                        if($entry['phone'] && $entry['user_id'] && $entry['is_telephone'] === 'YES'){
                                    ?>
                                        
                                            <div class="call"> <?php echo $entry['phone'] .' - '.$entry['phone_part2'] .' - '. $entry['phone_part3']; ?>  </div>
                
                                    <?php
                                        } 
                                         } if ($this->preferences_data['show_inquiry_btn']) {
                                        if($entry['is_feedback'] === 'YES'){
                                    ?>	
                                    
                                            <div class="inquire"><a href="Inquiry/<?php echo $entry['company_title']; ?>"><?php echo  html_entity_decode($this->translator->translator('b2b_send_an_inquires_now'), ENT_QUOTES, "UTF-8"); ?></a></div>
                
                                    <?php
                                        } 
                                         } if ($this->preferences_data['show_contact_btn']) {
                                        if($entry['is_profile'] === 'YES'){
                                    ?>
                                    <span class="contact"><a href="Company-Contact/<?php echo $entry['company_title']; ?>"><?php  echo  html_entity_decode($this->translator->translator('b2b_contact_with_seller'), ENT_QUOTES, "UTF-8")?></a></span>
                                    <?php
                                        }
                                         } 
                                    }
                                        if($entry['is_voting'] === 'YES'){
                                    ?>
                                    
                                        <div class="products-vote">
                                            <hr>
                                            <p><?php echo html_entity_decode($this->translator->translator('b2b_front_product_voting'), ENT_QUOTES, "UTF-8"); ?></p>
                                            <span><?php echo $entry['profile_vote_format']; ?></span>
                                        </div>					 
                                    <?php } ?>
                                    <hr>	
                                    <?php if($entry['shopping_cart_enable']){ ?> <span class="link-btn cart-btn" id="sellist-cart-info-<?php echo $entry['id']; ?>"><a href="javascript:void(0)" data-bind="click: addToCart"><span class="icon"></span><?php echo  html_entity_decode($this->translator->translator('common_add_to_cart_btn'), ENT_QUOTES, "UTF-8"); ?></a></span><?php } ?>
                                 </div>	
                                 
                                <hr /> 
                                <span class="review-count"><a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>/tab/3"><?php echo $entry['review_no_format']; ?></a>
                                </span>  <span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', Eicra_File_Constants::ITEM_ID => '', 'group_id' => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/<?php echo $entry['review_id']; ?>/<?php echo $entry['id']; ?>"><?php  echo  html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a>
                                </span> &nbsp; | <a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>/tab/2"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_photos'), ENT_QUOTES, "UTF-8"); ?></a> | 
                                <a href="Selloffer-Details/<?php echo $entry['company_title'].'/'.$entry['seo_title']; ?>"><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_tab_more_details'), ENT_QUOTES, "UTF-8"); ?></a>  
							</div>
							<?php
							 } 
						}
			?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/sellist-pagination-flickr.phtml'); ?>
                        </div>
            <?php
            		}
            	}
            ?>
       	</div>
    </div>
    <div id="dialog_msg"></div>