<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$headTitle = $this->translator->translator('front_tradeshow_list');
$this->headTitle()->headTitle($headTitle,'SET'); 

function truncate($phrase,$start_words, $max_words)
{
   $phrase_array = explode(' ',$phrase);
   if(count($phrase_array) > $max_words && $max_words > 0)
	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'....';  
   return htmlentities ($phrase);
}
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;


?>
<script type="text/javascript">
    $(document).ready(function() {
		text_truncate();
    });
	
	
	
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  300,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>
    <div class="mod">
           
        <div class="cat-container">
            <div class="list-icon">
                <h1><?php echo  $this->translator->translator('front_tradeshow_list')?></h1>
            </div>
            <span  class="seo-link"><a href="<?php  echo $this->url(array('module'=>$this->getModule,'controller' => 'frontend','action' => $this->getAction),'Trade-Shows/*',true); ?>"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('common_user_friendly_link'); ?></a></span>
            <div class="clear"></div>
            <br />
           
            <!--<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="b2b-icon"><?php //if($this->parent_category_info){ echo $this->translator->translator('b2b_category_list_title', $this->escape($this->parent_category_info['name'])); }else{ echo $this->translator->translator('b2b_category_list_all_title'); } ?></a></div>-->
           
            
            <div id="slickbox" class="toggle-container" style="display:inline;">
                <?php
				if($this->category_info)
				{
				?>
                <div class="cat-columns">
                    <div class="cat-list column-list">
                        <ul>
                    <?php
                        $i = 1;
                        foreach($this->category_info as $info)
                        {
                            $link = $this->url(array('module'=> 'B2b', 'controller' => 'frontendseo','action' => 'sellist', 'category' => $this->escape($info['url_portion'])), 'All-b2b-Seo-Selling-list/*', true);
                            $thumb_image = ($info['b2b_images']) ? 'data/frontImages/b2b/b2b_images/'.$this->escape($info['b2b_images']) : '';
                        ?>						
                            <li>
                                <p><a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['description']); ?>"><?php echo $this->escape($info['name']); ?></a> <span>(<?php echo $this->numbers($this->escape($info['selling_leads_num'])); ?>)</span></p>
                                                          
                            </li>							
                        <?php
                            if($i % 2 == 0)
                            {
                                echo '</ul></div><div class="cat-list column-list"><ul>';
                            }
                            $i++;
                        }
                    ?>
                        </ul>
                    </div>
                </div>
                <?php
				}
				?>
            </div>
    
        </div>
    
    
        <div>
			<?php			
				if($this->json_arr && $this->json_arr['status'] == 'ok')
				{
					if($this->json_arr['data_result'])
					{
			?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/tradeshowslist-pagination-flickr.phtml'); ?>
                        </div>
           	<?php
						foreach($this->json_arr['data_result'] as $key => $entry)
						{
							if($entry['seo_title']) { 
							//$featured_class = ($entry['priority'] == 'YES' || $entry['featured'] == '1') ? 'featured' : '';							
				?>                          
                            <div class="list-view tradeshows">
                                <div class="img-wrapper">
                                    <a href="TradeShow-Details/<?php echo $entry['seo_title']; ?>">  
                                    <?php if ($entry['profile_image_primary_format'] != 0) { ?> 
                                        <img src="<?php echo $entry['profile_image_primary_format']; ?>" width="100" border="0" class="thumb" /> 
                                    <?php
                                        } 
                                    else 
                                        {  
                                    ?>
                                    <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/avatar.png" width="100" border="0" class="thumb" /> 				
                                    <?php	
                                        }
                                    ?>				
                                    </a>
                                    
                                </div>
                                <div class="details">
                                    <span class="trade-title"> <h3><a href="TradeShow-Details/<?php echo $entry['seo_title']; ?>"><?php echo $this->escape($entry['title']); ?></a></h3> </span> 
                        			<?php
                                        if($entry['description']){ 
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_short_description'), ENT_QUOTES, "UTF-8") ?></span> : <span class="jTruncate"><?php echo $this->escape($entry['description']); ?></span><br /> 
                                    <?php
                                        } 
                                        if($entry['address']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_tradeshow_address'), ENT_QUOTES, "UTF-8") ?> </span>  : <?php echo $this->escape($entry['address']); ?>  <br />
                        
                                    <?php 
                                        } 
                                        if($entry['venue']){
                                   ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_tradeshow_venue'), ENT_QUOTES, "UTF-8") ?> </span>  :   <?php echo $this->escape($entry['venue']); ?>  <br />					
                                    <?php 
                                        } 
                                        if($entry['start_date']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_tradeshow_date'), ENT_QUOTES, "UTF-8") ?> </span>  : <?php echo $this->escape($entry['start_date']); ?>  <br />													
                    
                                    <?php
                                        } 
                                        if($entry['city']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_company_profile_city'), ENT_QUOTES, "UTF-8") ?> </span>  : <?php echo $this->escape($entry['city']); ?>  <br />													
                    
                                    <?php 
                                        } 
                                        if($entry['state']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_company_profile_state'), ENT_QUOTES, "UTF-8") ?> </span>  : <?php echo $this->escape($entry['state']); ?>  <br />													
                    				<?php 
                                        } 
                                        if($entry['country_name']){
                                    ?>
                                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_front_company_profile_country'), ENT_QUOTES, "UTF-8") ?> </span> :   
                                        <img src="data/adminImages/flagsImage/<?php echo $this->escape($entry['country_code']); ?>.gif" border="0"  title="<?php echo $this->escape($entry['country_name']); ?>"/> <br />											
                    				<?php 
                                        } 
                                    ?>
                            </div>
                            
                            <div class="info">
                                <span><?php  echo  html_entity_decode($this->translator->translator('b2b_tradeshow_added_by'), ENT_QUOTES, "UTF-8") ?> :</span><hr />
                    
                                <div class="membership"> 
                                    <?php
                                        if($entry['package_name']){
                                    ?>
                                        <a class="gold" href="Premium-Membership"> <?php echo $this->escape($entry['package_name']); ?>  </a> <br />  
                                    <?php 
                                        } 
                                    ?>
                                </div>
                                    <?php
                                    if($entry['full_name']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_fontend_posted_by'), ENT_QUOTES, "UTF-8") ?> </span>  : <?php echo $this->escape($entry['full_name']); ?>  <br />				
                                     <?php		
                                        }
                                    if($entry['company_name']){
                                    ?>
                                        <span> <a href="Company-Details/<?php echo $this->escape($entry['company_title']); ?>">  <?php echo $this->escape($entry['company_name']); ?>  </a> </span>  <br />				
                                    <?php
                                        }
                                    if($entry['establishing_year']){
                                    ?>
                                        <span><?php  echo html_entity_decode($this->translator->translator('b2b_front_company_profile_since'), ENT_QUOTES, "UTF-8") ?> </span>  :   <?php echo $this->escape($entry['establishing_year']); ?>  <br />
                                    <?php 
                                        } 
                                    if($entry['user_country_name']){
                                    ?>
                                        <span><?php  echo  html_entity_decode($this->translator->translator('b2b_fontend_country_of_orgin'), ENT_QUOTES, "UTF-8") ?> </span> :   
                                        <img src="data/adminImages/flagsImage/<?php echo $this->escape($entry['user_country_code']); ?>.gif" border="0" title="<?php echo $this->escape($entry['user_country_name']); ?>" /> &nbsp; ( <?php echo $this->escape($entry['usr_state']).' '.$this->escape($entry['usr_city']); ?> ) <br />
                    
                                    <?php
                                        }
                                         if ($this->preferences_data['show_inquiry_btn']) {
                                        if($entry['is_feedback'] === 'YES'){
                                    ?>
                                    
                                    
                                     <div class="inquire"><a href="Inquiry/<?php echo $this->escape($entry['company_title']); ?>"><?php  echo  html_entity_decode($this->translator->translator('permisson_b2b_frontend_company_inquires'), ENT_QUOTES, "UTF-8") ?></a></div>
                    
                                    <?php
                                        }
                                         } if ($this->preferences_data['show_contact_btn']) {
                                        if($entry['is_profile'] === 'YES'){
                                    ?>
                                     <span class="contact"><a href="Company-AboutUs/<?php echo $this->escape($entry['company_title']); ?>"><?php  echo  html_entity_decode($this->translator->translator('menu_members_view_business_profile'), ENT_QUOTES, "UTF-8") ?></a></span>
                    
                                    <?php
                                        }
                                       } 
									?>	                                 
                            </div>	
                        </div>                        
                       
							<?php
							 } 
						}
			?>
                        <div class="clear">
                            <?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendseo/tradeshowslist-pagination-flickr.phtml'); ?>
                        </div>
            <?php
            		}
            	}
				else
				{
					echo 	$this->json_arr['msg'];
				}
            ?>
       	</div>
    </div>
    <div id="dialog_msg"></div>