<?php
if($this->json_arr['status'] == 'ok'):	
	if($this->json_arr['data_result'] && $this->json_arr['data_result'][0]):
	
		if(!empty($this->json_arr['data_result'][0]['category_meta_keywords'])) : $this->headMeta()->setName('keywords',$this->json_arr['data_result'][0]['category_meta_keywords']); endif;
		if(!empty($this->json_arr['data_result'][0]['category_meta_desc'])) : $this->headMeta()->setName('description',$this->json_arr['data_result'][0]['category_meta_desc']); endif;
		if(!empty($this->json_arr['data_result'][0]['category_meta_title'])) : $this->headTitle()->headTitle($this->json_arr['data_result'][0]['category_meta_title'],'SET'); endif;
		
		echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
		$front_template = Zend_Registry::get('front_template');		
		$global_conf = Zend_Registry::get('global_conf');
		
		// 1ist param options are : like, inline, plus_minus, horizontal, triangle
		$vote = new Vote_Controller_Helper_ShowVoteButton('inline','tours_page' );	
?>

<script type="text/javascript">
    $(document).ready(function() {
       	var settingObj = {  
							saveItem: {
								link_id : 'a.save_tours_btn',
								server_url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
								image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
							},                          
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>"
                                        }
                        };
		itemSave(settingObj);
		text_truncate();
    });
    function text_truncate()
    {
        $('span.jTruncate').jTruncate({  
            length:  100,  
            minTrail: 0,  
            moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
            lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
            ellipsisText: "",  
            moreAni: "fast",  
            lessAni: 2000  
        });
    }
</script>

<div class="mod">
	<h1><?php   echo $this->translator->translator('tours_front_page_list'); if(count($this->page_id_arr) < 2){ echo ' ('.$this->escape($this->json_arr['data_result'][0]['category_name']).')'; } ?></h1>
	<a href="#" id="slick-slidetoggle" class="btn btn-block btn-global"><span class="glyphicon glyphicon-th-large"></span> <?php echo $this->translator->translator('tours_category_list_page_name');  ?></a>
    <br>    
    <div id="slickbox" class="well well-lg">
        <?php
        if($this->category_info)
        {
        ?>
        <div class="container">
        	<div class="col-xs-12">
           		<ul>
					<?php
                        //$i = 1;
                        foreach($this->category_info as $info)
                        {
                            $link = $this->url(array('module'=> 'Tours', 'controller' => 'frontendbiz','action' => 'category', 'category' => $this->escape($info['category_title'])), 'Classified-Tour-Category-List/*', true);
                            $thumb_image = ($info['category_thumb']) ? 'data/frontImages/tours/category_thumb/'.$this->escape($info['category_thumb']) : '';
                        ?>						
                            <li>
                            	<a href="<?php echo $link; ?>" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($info['category_desc']); ?>"><?php echo $this->escape($info['category_name']); ?></a> <span class="count">(<?php echo $this->numbers($this->escape($info['tours_num'])); ?>)</span>
                            </li>							
                        <?php
                            /*if($i % 2 == 0)
                            {
                                echo '</ul></div><div class="col-xs-12"><ul>';
                            }
                            $i++;*/
                        }
                    ?>
                </ul>
           	</div>
        </div>
        <?php
        }
        ?>
    </div>
          
  	<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendbiz/pagination-flickr.phtml'); ?>

	<?php
        foreach($this->json_arr['data_result'] as $key => $entry)
        {
    ?>
    
    	<div class="panel panel-default">
			<div class="panel-heading">
            	<p>
                	<a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['tours_name']); ?>"><?php echo $this->escape($entry['tours_name_format']); ?></a>
                    &nbsp;<span class="label label-success"><?php echo $this->escape($entry['business_type']); ?></span>
                </p>
                
                <span class="text-muted">
                    <em>
                        <?php if($entry['duration']){ echo $this->escape($entry['duration_format']) .' '.  html_entity_decode($this->translator->translator('tours_duration'), ENT_QUOTES, "UTF-8"); } 
                       	if($entry['num_of_days']){ echo ', '.$this->escape($entry['num_of_days_format']) .' '.  html_entity_decode($this->translator->translator('tours_num_of_days'), ENT_QUOTES, "UTF-8");  } 
                        if($entry['num_of_nights']){ echo ', '.$this->escape($entry['num_of_nights_format']) .' '. html_entity_decode($this->translator->translator('tours_num_of_nights'), ENT_QUOTES, "UTF-8"); } ?>
                    </em>
                </span>
        	</div>
            
            <div class="panel-body">
                <?php if($entry['featured'] == '1'): ?><div class="ribbons" id="ribbons"><div><?php echo $this->translator->translator('common_featured_language'); ?></div></div><?php endif; ?>
                <figure>
                    <div class="thumb">
                        <a href="<?php echo $this->url(array('module' => 'tours','controller' =>'frontend', 'action' => 'details','tours_title' =>  $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="<?php echo $this->escape($entry['tours_image_format']); ?>" title="<?php echo $this->escape($entry['tours_name']); ?>"><img src="<?php echo $this->escape($entry['tours_image_format']); ?>" border="0" <?php echo $this->escape($entry['thumb_width']).' '.$this->escape($entry['thumb_height']); ?> /></a>
                        <div class="photo-count-container">
                            <div class="photo-count">
                                <a href="<?php echo $this->url(array('module' => 'tours','controller' =>'frontend', 'action' => 'details','tours_title' =>  $this->escape($entry['tours_title']),'tab' => 2 ),'Tours-details/:tours_title/:tab',true); ?>" title="<?php echo html_entity_decode($this->translator->translator('tours_front_page_tours_click_view_listing'), ENT_QUOTES, "UTF-8"); ?>"><span class="glyphicon glyphicon-camera"></span> <?php echo $this->escape($entry['tours_image_no_format']); ?></a>
                            </div>
                        </div>
                    </div>
                </figure>
            
                <div class="details">
                    <div class="ratings">
                        <?php echo $this->escape($entry['list_stars_format']); ?>
                    </div>
                    <div class="text-center">	
                        <div class="price"><?php if($entry['tours_price']){ echo $this->currency->getSymbol().' '.$entry['tours_price_format']; } ?></div>
                    </div>
                
                    <ul class="list-group">
                        <?php
                          $feature_facilities_arr = ($entry['inclusions']) ? explode(',', $entry['inclusions']) : array();															
                          if(in_array('Complimentary Breakfast', $feature_facilities_arr))
                          {
                        ?>
                        <li class="list-group-item">
                            <i class="tours-icon icon-breakfast"></i>
                            <?php echo html_entity_decode($this->translator->translator('tours_front_page_list_allow_breakfast'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                          }
                          if(in_array('Cab Facilities', $feature_facilities_arr))
                          {
                        ?>
                        <li class="list-group-item">
                            <i class="tours-icon icon-cab"></i>
                            <?php echo html_entity_decode($this->translator->translator('tours_front_page_list_cab_availability'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                          }
                          if(in_array('Guides / Assistance', $feature_facilities_arr))
                          {
                        ?>
                        <li class="list-group-item">
                            <i class="tours-icon icon-guides"></i>
                            <?php echo html_entity_decode($this->translator->translator('tours_front_page_list_assist_allow'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php
                          }
                          if(in_array('Snacks / Drinkse', $feature_facilities_arr))
                          {
                        ?>
                        <li class="list-group-item">
                            <i class="tours-icon icon-snacks"></i>
                            <?php echo html_entity_decode($this->translator->translator('tours_front_page_list_hot_snacks_availability'), ENT_QUOTES, "UTF-8"); ?>
                        </li>
                        <?php } ?>
                    </ul>
            
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('tours_front_page_label_start_city'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $this->escape($entry['starting_city']); ?><br />
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('tours_front_page_label_end_city'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $this->escape($entry['ending_city']); ?><br />
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('tours_front_page_label_scheduled'), ENT_QUOTES, "UTF-8"); ?></span> <?php echo $this->escape($entry['scheduled_on']); ?><br />
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('tours_front_page_Title_additional_features'), ENT_QUOTES, "UTF-8"); ?> :</span> <span class="jTruncate"><?php echo $this->escape($entry['tour_highlights_format']); ?></span><br />
                    <span class="text-title"><?php echo html_entity_decode($this->translator->translator('tours_front_page_tours_desc'), ENT_QUOTES, "UTF-8"); ?></span>
                    <span class="jTruncate"><?php echo $this->escape($entry['tours_desc_format']); ?></span>       
                </div>
                <hr>
                <div class="text-center">
                    <?php  if($entry['review_id']){ ?>
                    <span class="write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $entry['review_id'], Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id', true); ?>"><span class="glyphicon glyphicon-pencil"></span> <?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?></a></span> &nbsp; 
                    <span class="review-count"><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 9 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->escape($entry['review_no_format']); ?></a></span>
                    <?php } ?>
                </div>
                
                <hr>
                <div class="vote text-center">
                    <span class="label label-primary"><?php echo html_entity_decode($this->translator->translator('tours_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?></span>
                    <span><?php echo $this->escape($entry['vote_format']); ?></span>
                </div>
       		</div>
            
            <div class="panel-footer text-center">
            	<a  href="javascript:void(0);" class="save_tours_btn btn btn-block btn-primary save" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("tours_front_page_save_tours"), ENT_QUOTES, "UTF-8"); ?></a>
               	<!--<?php //if($global_conf['payment_system'] == 'On') : ?><a href="<?php //echo $this->url(array('module' => 'Tours','controller' =>'book', 'action' => 'booking','tours_title' => $this->escape($entry['tours_title']) ),'Book-Tours/:tours_title',true) ?>" class="btn btn-block btn-warning book"><span class="glyphicon glyphicon glyphicon-bookmark"></span> <?php //echo html_entity_decode($this->translator->translator('tours_front_page_tours_book'), ENT_QUOTES, "UTF-8"); ?></a><?php //endif; ?>-->
                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="btn btn-block btn-success details"><?php echo html_entity_decode($this->translator->translator('tours_front_page_tours_more'), ENT_QUOTES, "UTF-8"); ?> <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
      	</div>
	<?php
        }
    ?>
            
	<?php echo $this->paginationControl($this->json_arr['paginator'], 'Sliding', 'frontendbiz/pagination-flickr.phtml'); ?>            
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('tours_front_page_list')); ?>"></div>
<?php	
	else:
	?>
    <div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
		<?php echo $this->translator->translator('tours_front_page_category_not_found'); ?>
   	</div>
    <?php
	endif;
else:
?>
<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
	<?php echo $this->json_arr['msg'] ; ?>
</div>
<?php
endif;
?>