<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;
?>

<footer id="footer">
    <div class="container">
    	<div class="row">
            <div class="col-xs-12">
                <ins><?php echo $this->translator->translator('block_footerlink_title3','', '', $front_template['theme_folder']); ?></ins><br>
                <ul class="list-inline index">
                    <?php for ($i = 'A'; $i != 'AA'; $i++){ ?>
                        <li><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'frontend', 'action'  => 'companylist', 'company_name' => $i ), 'All-Company-List/*',    true); ?>"><?php echo $i; ?></a> <?php if($i != 'Z'){ ?><?php } ?></li>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <hr>
    	<div class="row">
            <div class="col-xs-12">
                <ins><?php echo $this->translator->translator('block_footerlink_title1', $global_conf['site_name'], '', $front_template['theme_folder']); ?></ins>
                <ul class="list-inline">
                    <li><a href="#"><?php echo $this->translator->translator('front_footer_home','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="About-Our-Company"><?php echo $this->translator->translator('front_footer_about_us','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="SellLeads"><?php echo $this->translator->translator('front_footer_selling_leads','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="BuyLeads"><?php echo $this->translator->translator('front_footer_buying_leads','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Products"><?php echo $this->translator->translator('front_footer_all_products','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Companies"><?php echo $this->translator->translator('front_footer_companies','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
                <hr>
                
                <ins><?php echo $this->translator->translator('block_footerlink_title2', $global_conf['site_name'], '', $front_template['theme_folder']); ?></ins>
                <ul class="list-inline">
                    <li><a href="Classifieds"><?php echo $this->translator->translator('front_footer_classifieds','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="BizDirectory"><?php echo $this->translator->translator('front_footer_biz_directory','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Suppliers"><?php echo $this->translator->translator('front_footer_suppliers','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Buyers"><?php echo $this->translator->translator('front_footer_buyers','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Trade-Shows"><?php echo $this->translator->translator('front_footer_trade_shows','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Success-Stories"><?php echo $this->translator->translator('front_footer_success_stories','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
                <hr>
                
                <ins><?php echo $this->translator->translator('block_footerlink_title3','', '', $front_template['theme_folder']); ?></ins>
                <ul class="list-inline">
                    <li><a href="Members-Dashboard"><?php echo $this->translator->translator('front_footer_my_account','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Premium-Membership"><?php echo $this->translator->translator('front_footer_premium_membership','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Trade-Guidelines"><?php echo $this->translator->translator('front_footer_buyers_sellers_guide','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Privacy-Statement"><?php echo $this->translator->translator('front_footer_private_policy','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="FAQ"><?php echo $this->translator->translator('front_footer_faq','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Site-Map"><?php echo $this->translator->translator('front_footer_sitemap','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
                <hr>
                
                <div class="social">
                    <?php echo $this->translator->translator('front_footer_social','', '', $front_template['theme_folder']); ?><br><br>
                    <a href="http://www.facebook.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/facebook.png" width="41" border="0" title="Facebook"></a>
                    <a href="http://www.twitter.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/twitter.png" width="41" border="0" title="Twitter"></a>
                    <a href="https://plus.google.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/google-plus.png" width="41" border="0" title="Google Plus"></a>
                    <a href="http://feeds.feedburner.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/rss.png" width="41" border="0" title="RSS"></a>
                    <a href="http://www.youtube.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/youtube.png" width="41" border="0" title="You Tube"></a>
                </div>
            </div>  
      	</div>
        <hr>
        
        <div class="row">
            <div class="col-xs-12">
            	<div class="copyright">            	
                	<?php echo $this->translator->translator('front_footer_copy','', '', $front_template['theme_folder']); ?> <?php echo $this->numbers(date("Y")); ?> <?php echo $this->translator->translator('front_footer_company', $global_conf['site_name'], '', $front_template['theme_folder']); ?> <?php echo $this->translator->translator('front_footer_rights','', '', $front_template['theme_folder']); ?> &nbsp;<a href="http://www.<?php if(!empty($global_conf['frontend_footer_url'])){ echo $global_conf['frontend_footer_url']; }else if(!empty($validation_data['vendor_domain'])){  echo $validation_data['vendor_domain']; }else{ echo 'eicra.com'; } ?>" target="_blank" title="<?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>"><?php echo $this->translator->translator('front_footer_powered','', '', $front_template['theme_folder']); ?></a>
                	<?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>                      
                	<?php echo $this->translator->translator('front_footer_version','', '', $front_template['theme_folder']); ?> <?php echo $this->numbers(Eicra_License_Version::getVersion()); ?>
				</div>
                <!-- <div class="alert alert-warning"><?php //echo $this->translator->translator('front_footer_disclaimer', $global_conf['site_name'], '', $front_template['theme_folder']); ?></div> -->
            </div>
        </div>
    </div>
</footer>