<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('front_topbar_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('front_topbar_signin','', '', $front_template['theme_folder']).'</a>';
?>
<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '&nbsp;', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>

<div class="top-bar">
	<a href="#menu" class="a"><span class="glyphicon glyphicon-align-justify"></span></a>
    <div class="container">
        <div class="row">    	
            <div class="col-xs-12 user-link">
            	<?php echo ($auth->hasIdentity()) ? $this->translator->translator('front_topbar_welcome_user',$auth->getIdentity()->firstName.' '.$auth->getIdentity()->lastName, '', $front_template['theme_folder']) : $this->translator->translator('front_topbar_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> : <?php echo $sugnIn_link; ?> <?php if(!$auth->hasIdentity()){ ?><?php } ?>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-links">
            	<?php if(!$auth->hasIdentity()){ ?>
           		<a href="Registration/104"><?php echo $this->translator->translator('front_topbar_register','', '', $front_template['theme_folder']); ?></a> |
                <?php } ?>
                <a href="Premium-Membership"><?php echo $this->translator->translator('front_topbar_membership','', '', $front_template['theme_folder']); ?></a> |
                <a href="Trade-Shows"><?php echo $this->translator->translator('front_topbar_tradeshows','', '', $front_template['theme_folder']); ?></a> |
                <a href="Success-Stories"><?php echo $this->translator->translator('front_success_story','', '', $front_template['theme_folder']); ?></a> &nbsp; 

                <div class="flags">
                    <?php echo $this->partial('blocks/global/header_language.phtml'); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header">
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
            	<a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="<?php echo $this->escape($global_conf['site_title']); ?>" title="<?php echo $this->escape($global_conf['site_title']); ?>" border="0" class="logo img-responsive"></a>
            </div>
        </div>
    </div>
</div>