<?php echo $this->doctype(); ?> 
<html> 
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <base href="<?php echo $this->serverUrl().$this->baseUrl().'/'; ?>" />
  <?php echo $this->headMeta(); ?>
  <?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
   <?php    		
   	$version = Zend_Registry::get('version');
	echo $this->headLink()->setStylesheet('css/installer/window.css'); 	
	echo $this->headLink()->setStylesheet('css/installer/setup.css'); 
	echo $this->headScript()->setFile('application/layouts/scripts/default/js/jquery/jui-1.7.1/default/jquery-1.7.1.min.js'); 
  ?>
	
</head> 
<body  bgcolor="#f4f4f4">			
		<?php echo $this->layout()->content ?>		
</body>
</html>