<!DOCTYPE html>
<?php if (ob_get_level() == 0) ob_start(); $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$frontController = Zend_Controller_Front::getInstance();
$moduleName = $frontController->getRequest()->getModuleName();	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$translator = Zend_Registry::get('translator');
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 

<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />

<?php 
	echo $this->headMeta(); 
	echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); 
?>

<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$acount_link = ($auth->hasIdentity ()) ? 'Dashboard' : 'Frontend-Login';
function showRightPanel($diff_arr = array())
{
	$show_array = array(
							array('Gallery', 'frontend', 'details'),
							array('Members', 'frontend', 'login'),
							array('B2b', 'directory', 'productslist'),
							array('B2b', 'directory', 'sellist'),
							array('B2b', 'directory', 'buylist'),
							array('B2b', 'directory', 'companylist')
						);
	$return = false;
	foreach($show_array as $s_array)
	{
		if(count(array_diff($diff_arr, $s_array)) === 0)
		{
			$return = true;
			break;
		}
	}
	return $return;
}
?>
</head>
<body>
<div id="page">
	<div id="slide-in-content">
        <!-- Header Start -->
        <?php echo $this->layout()->render('header'); ob_flush(); flush(); ?>
        <!-- Header End -->
        
        <!-- Top Navigation Start-->
        <nav class="top-nav">
            <div class="container">
                <div class="row">
                	<?php echo $this->partial('blocks/global/top-menu.phtml'); ?>
                </div>
            </div>
        </nav>
        <!-- Top Navigation End-->
		
        <?php
 		if($is_frontend->isFrontend())
			{	
		?>
        
        <!-- Search Panel Start-->
        <?php echo $this->partial('blocks/global/top_search.phtml'); ?>
        <!-- Search Panel End-->
        
        <!-- Content Area Start-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                	<?php echo $this->partial('blocks/global/country_deals.phtml'); ob_flush(); flush(); ?>
                	<?php echo $this->partial('blocks/global/b2b_content_products_popular.phtml'); ob_flush(); flush(); ?>
                    
                	<div class="btn-leads">
                        <a href="Trade-Leads" class="btn btn-block trade"><span class="glyphicon glyphicon-tags"></span> <?php echo $translator->translator('front_trad_leads_btn','', '', $front_template['theme_folder']); ?></a>
                        <a href="Want-To-Buy" class="btn btn-block buying"><span class="glyphicon glyphicon-link"></span> <?php echo $translator->translator('front_post_leads','', '', $front_template['theme_folder']); ?></a>
                    </div>
                         
                    <!-- Home Tab Start-->
                    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
                    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                    <div id="demoTab">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('block_selling_leads_latest_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_buying_leads_latest_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_product_latest_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_selling_featured_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_selling_lastmindeal_title','', '', $front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_featured_title','', '', $front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container">                                                        
                            <div><?php echo $this->partial('blocks/global/b2b_content_selling_latest.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/b2b_content_buying_latest.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/b2b_content_products_latest.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/b2b_content_selling_featured.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/b2b_content_lastmindeal.phtml'); ob_flush(); flush(); ?></div>
                            <?php echo $this->partial('blocks/global/b2b_content_products_featured.phtml'); ob_flush(); flush(); ?>
                        </div>
                    </div>
                    <script>
                        $("#demoTab").easyResponsiveTabs({
                            type: 'accordion',
                            width: 'auto',
                            fit: true
                        });
                    </script>
                    <!-- Home Tab End-->
                    
                    <?php echo $this->partial('blocks/global/trading_stats.phtml'); ob_flush(); flush(); ?>
                    
                    <!-- Home Tab 2 Start -->
                    <div id="demoTab2">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('block_suppliers_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_success_story_title','','',$front_template['theme_folder']); ?></li>
                            <li><?php echo $this->translator->translator('block_news_title','', '', $front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container list-tab">
                            <div><?php echo $this->partial('blocks/global/members_content_profile.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/successStory.phtml'); ob_flush(); flush(); ?></div>
                            <div><?php echo $this->partial('blocks/global/news_content_latest.phtml'); ob_flush(); flush(); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab2").easyResponsiveTabs({
                            type: 'accordion', //Types: default, vertical, accordion           
                            width: 'auto', //auto or any custom width
                            fit: true   // 100% fits in a container
                        });
                    </script>
                    <!-- Home Tab 2 End -->
                    <?php echo $this->partial('blocks/global/newsletter.phtml'); ob_flush(); flush(); ?>
                </div>
          	</div>
    	</div>
        <!-- Content Area End-->
    	
        <?php
			}
		else
			{			
				if(($moduleName == 'B2b') && ($controllerName == 'company'  || $controllerName == 'details' ))
				{
					$helper_path = $this->getHelpers();
					$doc_view = $helper_path[Doctype]->view;
					$year_of_est  =$doc_view->companyDetails['establishing_year'];
					$company_age = date('Y') - $year_of_est;
					$number_of_years = ( $company_age >= 1 ) ?  $company_age : null;
					$translator = Zend_Registry::get('translator');
		
					$imageDir = $doc_view->companyDetails['images_path'];
					$logo_img = ($doc_view->companyDetails['profile_image_primary']) ? ($doc_view->companyDetails['profile_image_primary']) : 'avatar.png';				
		?>
        <!-- Inner Layout for Company Details with Profile Start -->
        <div class="company">
        	<!-- Company Header Start -->
            <div id="header"> 
                <img src="<?php echo $imageDir .'/'. $logo_img; ?>" alt="<?php echo $doc_view->companyDetails['store_name'] ?>" border="0" height="60" class="logo">
                <div class="company-name"><?php echo strtoupper($doc_view->companyDetails['company_name']) ?></div>
                <hr>
                <img src="<?php echo $doc_view->companyDetails['default_img_path'].'/'.$doc_view->companyDetails['package_logo'] ?>"/> &nbsp; <?php  echo ($doc_view->companyDetails['package_name']) ? $doc_view->companyDetails['package_name'] : html_entity_decode($this->translator->translator('b2b_anonymous_member'), ENT_QUOTES, "UTF-8");?><br>
                <hr>
               	<span class="year"><span class="glyphicon glyphicon-bookmark"></span> <?php  echo  ($number_of_years) ? '' . $number_of_years  . ' ' . $translator->translator('b2b_years'). '' : null ?></span>
                <hr>
                <?php if ($doc_view->companyDetails[priority_flag]) {?>
                <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/b2b_img/trusted.png" border="0" width="40"/> &nbsp; <span class="priority"><?php  echo $doc_view->companyDetails[priority_flag]?></span>
                <hr>
                <?php } ?>                
                <img src="data/adminImages/flagsImage/<?php echo $doc_view->companyDetails['country_code'] ?>.gif" border="0" alt="<?php echo $doc_view->companyDetails['country_name'] ?>" /> &nbsp; (<?php echo $doc_view->companyDetails['state'].' , '. $doc_view->companyDetails['city']?>)
            </div>
       		<!-- Company Header End -->
            <div class="container">
                <!-- Company Menu Start -->
                <?php echo $this->partial('blocks/global/menu_company.phtml'); ?>
                <!-- Company Menu End -->

				<?php
                    $body_content_style = (showRightPanel(array($moduleName, $controllerName, $actionName)) ) ? 'style="width:100%"' : '';
                ?>
            	<!-- Details Page Content Start -->
                <?php if($actionName != 'login' && $moduleName != 'Articles'){ echo $this->partial('blocks/global/breadcrumb.phtml'); } ?>
                <?php echo $this->layout()->content ?>
            	<!-- Details Page Content End -->
                
                <?php
            	if(!showRightPanel(array($moduleName, $controllerName, $actionName)) )
            		{
            	?>
            		<!-- Details Page Tab 2 Start -->
                    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
                    <?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                    <div id="demoTab2">          
                        <ul class="resp-tabs-list">
                            <li><?php echo $this->translator->translator('block_contact_title','','',$front_template['theme_folder']); ?></li>
                        </ul>
                    
                        <div class="resp-tabs-container list-tab">
                            <div><?php echo $this->partial('blocks/global/members_sidebar_contact.phtml'); ?></div>
                        </div>
                    </div>
                    <script>
                        $("#demoTab2").easyResponsiveTabs({
                            type: 'accordion',
                            width: 'auto',
                            fit: true
                        });
                    </script>
                    <!-- Details Page Tab 2 End -->
				<?php
                	}
                ?>
            </div>
        </div>    
        <!-- Inner Layout for Company Details with Profile End -->
        
        <?php
			}	
		else
		{
		?>
        <!-- Inner Layout Start -->
        <div class="container">
            <?php
                //$body_content_style = (showRightPanel(array($moduleName, $controllerName, $actionName)) ) ? 'style="width:100%"' : '';
            ?>
            
            <!-- Inner Content Start -->
            <div <?php //echo $body_content_style; ?> class="">
                <?php if($actionName != 'login' && $moduleName != 'Articles'){ echo $this->partial('blocks/global/breadcrumb.phtml'); } ?>
                <?php echo $this->layout()->content ?>
            </div>
            <!-- Inner Content End -->
            
            <?php					
            if(!showRightPanel(array($moduleName, $controllerName, $actionName)) )
            {
            ?>
            	
                <!-- Innter Tab Start -->
                <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
              	<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
                <div id="demoTab">          
                    <ul class="resp-tabs-list">
                        <li><?php echo $this->translator->translator('block_menu_success_story_title','','',$front_template['theme_folder']); ?></li>
                        <li><?php echo $this->translator->translator('block_trade_show_title','','',$front_template['theme_folder']); ?></li>
                    </ul>
                	<!--
                    <div class="resp-tabs-container">
                        <div><?php //echo $this->partial('blocks/global/menu_successstory.phtml'); ob_flush(); flush(); ?></div>
                        <div><?php //echo $this->partial('blocks/global/menu_tradeshow.phtml'); ob_flush(); flush(); ?></div>
                    </div>
                    -->
                </div>
                <script>
					$("#demoTab").easyResponsiveTabs({
						type: 'accordion',
						width: 'auto',
						fit: true
					});
				</script>
                <!-- Innter Tab End -->

            <?php
            }
            ?>
        </div>
        <!-- Inner Layout End -->
		<?php
			}
		}
		?>
        <!-- Footer Start -->
        <?php echo $this->layout()->render('footer'); ?>
        <!-- Footer End -->
	</div>
    
    <?php
	if($controllerName != 'directory')
	{
	?>
    <!-- Slide Panel Start -->
    <nav id="menu">
    	<?php echo $this->partial('blocks/global/menu_category.phtml'); ?>
    </nav>
    <!-- Slide Panel End -->
    <?php
	}
	?>
</div>
<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
<?php echo $this->escape($global_conf['analytics_code']); ?>
</body>
</html>