<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;

echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }
if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title = $this->translator->translator('b2b_meta_title_prefix_profile') . ' '. $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	


$imageDir = $this->companyDetails['images_path'];
$banner_img = ($this->companyDetails['banner_img']) ? $this->companyDetails['banner_img'] : $this->companyDetails['preferance_images'];
$gallery_img = ($this->companyDetails['profile_image']) ? ($this->companyDetails['profile_image']) : 'avatar.png';
$galleryArray = explode(',', $gallery_img);
$companyImage = ($banner_img) ? $banner_img : $galleryArray [0]; 

if ($global_conf['googlemaps_api_key']) :
	echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false');
 else  :
	echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
 endif; 
?>
<style>
#map-canvas{height: 100%;margin: 0px;padding: 0px;}
iframe{width:100%; height:255px;}
</style>

<script>
var settingObj = {  							
							googleMap : {
										canvas_id			: 'map-canvas',
										address_id			: 'address',
										setCenter			: true,
										propertyAddress		: true,
										scrollwheel			: false,
										propertyAddressField:	['company_name', 'company_street', 'company_city', 'company_country_name'],
										pin_img_url 		: '<?php echo $global_conf['googlemaps_pin_logo'];?>',
										loader_id			: 'map_loader',
										loader_img_url		: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/search-loader.gif',
										loader_language		: "<?php echo $this->translator->translator("partial_quick_contact_loader"); ?>",
										allAddresses 		: <?php echo Zend_Json_Encoder::encode(array(0 => $this->companyDetails)); ?>,
										initializeOptions : {
																zoom: <?php echo $global_conf['googlemaps_zoom_single']; ?>,
																mapTypeId: google.maps.MapTypeId.<?php echo $global_conf['googlemaps_maptypes'];?>,
																center: new google.maps.LatLng(<?php echo $global_conf['googlemaps_latitude'];?>, <?php echo $global_conf['googlemaps_longitude'];?>),	
										},
										pin_template: function(address,lat,lng, obj_arr){
														  var html = "<div style='width:200px;'>" 																		
																		  +"<div class='block-title'> " + obj_arr.company_name + "</div>" 
																		  +'<a href="Company-Homepage/' + obj_arr.seo_title + '" class="preview" link="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" title="'+obj_arr.company_name+'"><img src="data/frontImages/b2b/profile_image/'+obj_arr.profile_image_primary+'" height="40" class="thumb"/></a>'
																		  + "<?php echo $this->translator->translator("front_tradeshow_address"); ?>: "+obj_arr.company_street+", "+obj_arr.company_city+", "+obj_arr.company_country_name+"<br/>"
																		  + "<a href='Company-Homepage/" + obj_arr.seo_title + "' class='details'><?php echo $this->translator->translator("common_click_here_language"); ?></a><br />"
																		  + "<span class='add'>" + address + "</span>" 
																		  + "</div>";
														  return html;
													  },
										title_template: function(address,lat,lng, obj_arr){
															var html = obj_arr.hotels_name + " ( " + address + " ) ";
															return html;
														}
								}
                        };
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

});
 
</script>

<div class="mod details">
	<h1><?php echo $this->translator->translator('b2b_company_profile_profile') .' '. $this->escape($this->companyDetails['company_name']) ;  echo ($this->companyDetails['store_name']) ? ' ( '. $this->escape($this->companyDetails['store_name']) . ' ) ': ''?></h1>
    <br><br>
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><span class="glyphicon glyphicon-map-marker"></span> <?php  echo $this->translator->translator('b2b_front_company_profile_contact_info')  ?></h4>
        </div>
   		<div class="panel-body">
        	<table class="table table-striped table-bordered table-hover">
				<?php
               		if ($this->companyDetails['company_name']):
                ?>
                <tr>
                	<td><?php  echo $this->translator->translator('b2b_front_company_profile_name') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['company_name'])?></td>
                </tr>
                <?php
                    endif;	
                    if ($this->companyDetails['company_street'] || $this->companyDetails['company_city'] ):
                ?>
                
                <tr>    
                    <td><?php  echo $this->translator->translator('b2b_front_company_profile_contact_info') ?> </td>
                    <td>
						<?php  echo $this->translator->translator('b2b_front_company_profile_street') ?> : <?php echo  $this->escape($this->companyDetails['company_street'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_city') ?> : <?php echo  $this->escape($this->companyDetails['company_city'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?> : <?php  echo $this->escape($this->companyDetails['company_postal_code'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_country') ?> : <?php  echo $this->escape($this->companyDetails['company_country_name'])?> 
                        <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['company_country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['company_country_name'] ?>" /> <br>
                    </td>
                </tr>
                <?php
                    endif;	
                    if ($this->companyDetails['company_name']):
                ?>    
                <tr>    
                    <td><?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['company_postal_code'])?></td>
                </tr>
                <?php
               		endif;	
                	if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {
                    if ($this->companyDetails['phone']):
              	?>                            
              	<tr>      
                    <td><?php  echo $this->translator->translator('b2b_company_profile_telephone') ?></td>
                    <td><?php  echo  $this->escape($this->companyDetails['phone']) .' - ' . $this->escape($this->companyDetails['phone_part2']) .' - ' . $this->escape($this->companyDetails['phone_part3'])?></td>
                </tr>
                <?php
                    endif;	
                }
                if (!empty( $this->preferences_data['show_fax']))  {
                    if ($this->companyDetails['fax']):
                ?>    
                <tr>
                    <td><?php  echo $this->translator->translator('b2b_company_profile_fax') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['fax']) .' - ' . $this->escape($this->companyDetails['fax_part2']) .' - ' . $this->escape($this->companyDetails['fax_part3'])?></td>
                </tr>
                    
                <?php
                	endif;
                }							
                if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {	
					if ($this->companyDetails['mobile']):
				?>    
				
				<tr>    
					<td width="31%"><?php  echo $this->translator->translator('b2b_company_profile_mobile') ?></td>
					<td width="69%"><?php  echo $this->escape($this->companyDetails['mobile']) .' - ' . $this->escape($this->companyDetails['mobile_part2']) .' - ' . $this->escape($this->companyDetails['mobile_part3'])?></td>
				</tr>    
				<?php
				endif;	
                }
                if ($this->companyDetails['is_website']  == 'YES'  &&  ! empty( $this->preferences_data['show_website']))   {
                    if ($this->companyDetails['website']):
				?>    
				<tr>                       
					<td colspan="2"><?php  echo $this->translator->translator('b2b_company_profile_website') ?><br>
					<a href="<?php  echo $this->escape($this->companyDetails['website'])?>" target="_blank"><?php  echo $this->escape($this->companyDetails['website'])?></a></td>
				<?php
				endif;	
                }
                ?>    
                </tr>            
          	</table>
        </div>
	</div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><span class="glyphicon glyphicon-user"></span> <?php  echo $this->translator->translator('b2b_company_profile_represented_by') ?></h4>
        </div>
   		<div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
				<?php
                    if ($this->companyDetails['full_name']):
                ?>    
                <tr>
                    <td><?php  echo $this->translator->translator('b2b_front_company_profile_person') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['full_name'])?></td>
                </tr>
                <?php
                    endif;	
                    if ($this->companyDetails['usr_address']):
                ?>    
                <tr>    
                    <td><?php  echo $this->translator->translator('b2b_front_company_profile_address') ?></td>
                    <td>
                    	<?php  echo $this->translator->translator('b2b_front_company_profile_street') ?> : <?php echo $this->escape($this->companyDetails['usr_address'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_city') ?> : <?php echo  $this->escape($this->companyDetails['city'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_state') ?> : <?php  echo $this->escape($this->companyDetails['state'])?> <br>
                        <?php  echo $this->translator->translator('b2b_front_company_profile_country') ?> : <?php  echo $this->escape($this->companyDetails['country_name'])?> 
                        <img src="data/adminImages/flagsImage/<?php echo $this->companyDetails['country_code'] ?>.gif" border="0" alt="<?php echo $this->companyDetails['country_name'] ?>" /> <br>
                    </td>
                </tr>
                <?php
                    endif;	
                    if ($this->companyDetails['user_zip']):
                ?>    
                <tr>    
                    <td><?php  echo $this->translator->translator('b2b_front_company_profile_zipcode') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['user_zip'])?></td>
                </tr>
                <?php
              		endif;	
                	if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {	
                    if ($this->companyDetails['usr_phone']):
                ?>    
                <tr>     
                    <td><?php  echo $this->translator->translator('b2b_company_profile_telephone') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['usr_phone'])?></td>
                </tr>
                <?php
                    endif;	
                }
                	if (!empty( $this->preferences_data['show_fax']))  {
                    if ($this->companyDetails['usr_fax']):
                ?>    
                <tr>
                    <td><?php  echo $this->translator->translator('b2b_company_profile_fax') ?></td>
                    <td><?php  echo $this->escape($this->companyDetails['usr_fax'])?></td>
                </tr>
                <?php
                    endif;	
                }
                	if ($this->companyDetails['is_telephone']  == 'YES'  &&  ! empty( $this->preferences_data['show_phone']))   {
                    if ($this->companyDetails['usr_mobile']):
                ?>    
                <tr>    
                    <td><?php  echo $this->translator->translator('b2b_company_profile_mobile') ?></td>
                    <td> <?php  echo $this->escape($this->companyDetails['usr_mobile'])?> </td>
                </tr>    
                <?php
                    endif;	
                }
                	if ($this->companyDetails['is_website']  == 'YES'  &&  ! empty( $this->preferences_data['show_website']))   {
                    if ($this->companyDetails['usr_website']):
                ?>   
                <tr>  
                    <td><?php  echo $this->translator->translator('b2b_company_profile_website') ?></td>
                    <td><a href="" target="_blank"><?php  echo $this->escape($this->companyDetails['usr_website'])?></a></td>
                </tr>
                <?php
                    endif;	
                }
                ?>                
            </table>
        </div>
	</div>
    
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><span class="glyphicon glyphicon-globe"></span> <?php  echo $this->translator->translator('common_google_map_view') ?></h4>
        </div>
   		<div class="panel-body">
        	<script>
				runGoogleMap(settingObj);
			</script>
			<div style="height:250px;">
            	<div id="map-canvas"></div>
           	</div>
            <br>
           	<div class="form-group">
            	<input id="address" type="text" value="<?php echo $this->companyDetails['company_street'].','.$this->companyDetails['company_city'].','.$this->companyDetails['company_country_name']; ?>" class="form-control">
            </div>
            
			<div class="text-center">
				<input type="button" value="<?php echo $this->translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(settingObj)" class="btn btn-primary">
				<input type="button" value="<?php echo $this->translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(settingObj)" class="btn btn-primary">
			</div>
        </div>
	</div>
    
    <!-- Details Tab Start -->
    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
   	<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
    <div id="demoTab">
    	<ul class="resp-tabs-list">
       		<li><?php echo $this->translator->translator('b2b_company_profile_production'); ?></li>
        	<li><?php echo $this->translator->translator('b2b_company_profile_trade_market'); ?></li>
            <li><?php echo $this->translator->translator('permisson_b2b_frontend_company_details'); ?></li>
            <li><?php echo $this->translator->translator('b2b_company_profile_company_gallery'); ?></li>
            <li><?php echo $this->translator->translator('b2b_company_profile_company_certification'); ?></li>
            <li><?php echo $this->translator->translator('b2b_company_profile_company_terms'); ?></li>
        </ul>
        
        <div class="resp-tabs-container">
        	<!-- Tab Content 1 Start -->
            <div>
            	<table class="table table-striped table-bordered table-hover">
                    <?php
                        if ($this->companyDetails['production_capacity']):
                    ?>                   
                    <tr>
                        <td><?php  echo $this->translator->translator('b2b_company_profile_capacity') ?></td>
                        <td><?php  echo $this->escape($this->companyDetails['production_capacity'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['factory_location']):
                    ?>                      
                    <tr>    
                        <td><?php  echo $this->translator->translator('b2b_company_profile_factory_location') ?></td>
                        <td><?php  echo $this->escape($this->companyDetails['factory_location'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['factory_size']):
                    ?>                      
                    <tr>    
                        <td><?php  echo $this->translator->translator('b2b_company_profile_factory_size') ?></td>
                        <td><?php  echo $this->escape($this->companyDetails['factory_size'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['number_of_employees']):
                    ?>                      
                    <tr>    
                        <td><?php  echo $this->translator->translator('b2b_company_profile_employees') ?></td>
                        <td><?php  echo $this->escape( str_replace('_' , ' ', $this->companyDetails['number_of_employees'])) ;?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['nearest_ports']):
                    ?>                      
                    <tr>    
                        <td><?php  echo $this->translator->translator('b2b_company_profile_nearest_ports') ?></td>
                        <td><?php  echo $this->escape($this->companyDetails['nearest_ports'])?></td>
                    </tr>
					<?php
                        endif;	
                    ?> 
                </table>
           	</div>
            <!-- Tab Content 1 End -->
            
            <!-- Tab Content 2 Start -->
            <div>
           		<table class="table table-striped table-bordered table-hover">
					<?php
                        if ($this->companyDetails['main_markets']):
                    ?>                                      
                    <tr>
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_main_markets')?></td>
                        <td><?php  echo $this->escape($this->companyDetails['main_markets'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['selling_categories']):
                    ?>                    
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_major_selling');?></td>
                        <td><?php  echo $this->escape($this->companyDetails['selling_categories'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['buying_categories']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_major_buying')?></td>
                        <td><?php  echo $this->escape($this->companyDetails['buying_categories'])?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['annual_revenue']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?></td>
                        <td><?php  echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['export_market']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_export_market')?></td>
                        <td><?php  echo $this->escape(str_replace(',' , ' <br /> ' ,$this->companyDetails['export_market'])) ; ?></td>
                    </tr>
					<?php
                        endif;	
                        if ($this->companyDetails['annual_sales']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?></td>
                        <td><?php  echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
                    </tr>

					<?php
                        endif;	
                        if ($this->companyDetails['establishing_year']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_establishment')?></td>
                        <td><?php  echo $this->escape($this->companyDetails['establishing_year']) ;?></td>
                    </tr>           

					<?php
                        endif;	
                        if ($this->companyDetails['registered_in']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_keywords_operating_since')?></td>
                        <td><?php  echo $this->escape($this->companyDetails['registered_in']) ;?></td>
                    </tr>                                       
					<?php
                        endif;	
                        if ($this->companyDetails['overseas_office']):
                    ?>                      
                    <tr>    
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_overseas_office')?></td>
                        <td><?php  echo $this->escape($this->companyDetails['overseas_office'])?></td>
                    </tr>
					<?php
                        endif;	
                    ?>
                </table>
            </div>
            <!-- Tab Content 2 End -->
            
            <!-- Tab Content 3 Start -->
            <div>
            	<table class="table table-striped table-bordered table-hover">
               		<?php
						if ($this->companyDetails['store_name']):
					?>
                    <tr>
                        <td><?php  echo  $this->translator->translator('b2b_company_profile_store_name')?> :</td>
                        <td><a href="Company-Store/<?php echo $this->companyDetails['seo_title'] ;?>"><?php echo $this->escape($this->companyDetails['store_name']) ;?></a></td>
                    </tr>
                	<?php
                    	endif;	
						if ($this->companyDetails['main_products']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_main_product')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['main_products']) . '<br>'. $this->escape($this->companyDetails['main_products_part1']) . '<br />'. $this->escape($this->companyDetails['main_products_part2']) . '<br />'. $this->escape($this->companyDetails['main_products_part3']) ;?></td>
                    </tr>
                	
                    <?php
                    	endif;	
						if ($this->companyDetails['company_category']):
					?>                      
                    
                    <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_company_category')?> :</td>
                        <td><?php echo $this->escape($this->companyDetails['company_category']) ;?></td>
                    </tr>
                    
                    <?php
                    	endif;	
						if ($this->companyDetails['legal_owner']):
					?>
                    <tr>
                        <td><?php echo  $this->translator->translator('b2b_front_company_profile_person')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['legal_owner']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['establishing_year']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_establishment')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['establishing_year']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['nearest_ports']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_nearest_ports')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['nearest_ports']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['main_customers']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_main_customers')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['main_customers']) ;?></td>
                    </tr>

                    <?php
                    	endif;	
						if ($this->companyDetails['delivery_terms']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_delivery_terms')?> : </td>
                        <td><?php echo $this->escape(str_replace(',' , ' <br> ' ,$this->companyDetails['delivery_terms'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['avg_lead_time']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_leadtime')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['avg_lead_time']) ;?></td>
                    </tr>
                   
                    <?php
                    	endif;	
						if ($this->companyDetails['payment_currency']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_payment_currency')?> : </td>
                        <td><?php echo $this->escape(str_replace(',' , ' <br> ' ,$this->companyDetails['payment_currency'] ));?></td>
                    </tr>
                 	 <?php
                    	endif;	
						if ($this->companyDetails['payment_type']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_payment_type')?> : </td>
                        <td><?php echo $this->escape(str_replace(',' , ' <br> ' ,$this->companyDetails['payment_type'] ));?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['language']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_language')?> : </td>
                        <td><?php echo $this->escape(str_replace(',' , ' <br> ' ,$this->companyDetails['language'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['export_percentage']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_export_percentage')?> : </td>
                        <td><?php echo $this->escape(str_replace('-' , ' to ' ,$this->companyDetails['export_percentage'])) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['escrow']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_export_escrow')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['escrow']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['production_capacity']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_production_capacity')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['production_capacity']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['factory_location']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_factory_location')?> : </td>
                        <td><?php echo $this->escape($this->companyDetails['factory_location']) ;?></td>
                    </tr>
                    <?php
                    	endif;	
						if ($this->companyDetails['certification']):
					?>
                     <tr>
                        <td><?php echo  $this->translator->translator('b2b_company_profile_factory_location')?> : </td>
                        <td><?php echo $this->escape(str_replace(',' , ' <br> ' ,$this->companyDetails['certification'])) ;?></td>
                    </tr>
                 	<?php
						endif;
					?>
                </table>
            </div>
            <!-- Tab Content 3 End -->
            
            <!-- Tab Content 4 Start -->
            <div class="gallery clearfix">
            	<?php for ($i=0; $i < count($galleryArray) ; $i++ ) {?>
                <div class="col-xs-6 text-center">
                    <a href="<?php echo $imageDir .'/'. $galleryArray[$i] ?>"><img src="<?php echo $imageDir .'/'. $galleryArray[$i] ?>" border="0" class="img-thumbnail img-responsive" /></a>
                </div>			
                <?php }?>
            </div>
            <!-- Tab Content 4 End -->
            
            <!-- Tab Content 5 Start -->
            <div>
           		<?php 
				$compliance_img = $this->companyDetails['compliance_img'] ;
				foreach ($compliance_img as  $id => $compliance) {?>
                	<img src="application/layouts/scripts/b2b_default/images/b2b_img/<?php echo $compliance;?>" alt="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" title="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" border="0" width="36"/> &nbsp; 
                <?php }?>
            </div>
            <!-- Tab Content 5 End -->
            
            <!-- Tab Content 6 Start -->
            <div>
            	<table class="table table-striped">
                	<tr class="info">
                		<td><h4><?php  echo  $this->translator->translator('b2b_company_profile_company_policies')?></h4></td>
                    </tr>
                    
                    <tr>
						<td><p><?php echo $this->escape($this->companyDetails['policy']) ;?></p><br></td>
                  	</tr>
                    
                	<tr class="info">
						<td><h4><?php  echo  $this->translator->translator('b2b_company_profile_company_tos')?></h4></td>
                  	</tr>
                    
                    <tr>
                    	<td><p><?php echo $this->escape($this->companyDetails['terms_condition']) ;?></p><br></td>
                    </tr>

                	<tr class="info">
						<td><h4><?php  echo  $this->translator->translator('b2b_company_profile_company_payment_terms')?></h4></td>
                   	</tr>
                    
                    <tr>
                		<td><p><?php echo $this->escape($this->companyDetails['payment_method']) ;?></p><br></td>
                  	</tr>

                	<tr class="info">
						<td><h4><?php echo  $this->translator->translator('b2b_company_profile_company_qa')?></h4></td>
                    </tr>
                    
                    <tr>
                		<td><?php echo $this->escape($this->companyDetails['QA_policy']) ;?></td>
                  	</tr>
                </table>
            </div>
            <!-- Tab Content 6 End -->
        </div>
    </div>
    <script>
		$("#demoTab").easyResponsiveTabs({
			type: 'accordion',
			width: 'auto',
			fit: true
		});
	</script>
    <!-- Details Tab End -->
</div>