<?php
$front_template = Zend_Registry::get('front_template');
$global_conf = Zend_Registry::get ( 'global_conf' );
$site_name = $global_conf ['site_name'] ;
$site_title = $global_conf ['site_title'] ;


echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jtruncate/jquery.jtruncate.pack.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/category-link.css');

$imageDir = $this->companyDetails['images_path'];
$banner_img = ($this->companyDetails['banner_img']) ? $this->companyDetails['banner_img'] : $this->companyDetails['preferance_images'];
$gallery_img = ($this->companyDetails['profile_image']) ? ($this->companyDetails['profile_image']) : 'avatar.png';
$galleryArray = explode(',', $gallery_img);
$companyImage = ($banner_img) ? $banner_img : $galleryArray [0]; 


if(!empty($this->companyDetails['keywords'])){ $this->headMeta()->setName('keywords',$this->companyDetails['keywords']); }
if(!empty($this->companyDetails['meta_desc'])) { $this->headMeta()->setName('description',$this->companyDetails['meta_desc']); }
if(!empty($this->companyDetails['company_name'])) 
	{ 
		$meta_title =  $this->companyDetails['company_name'] . ' - ' . $this->companyDetails['meta_desc'] .' | ' .$site_name  .' : ' . $site_title ;
		$this->headTitle($meta_title , 'SET');
	}	

?>

<script>
$(document).ready(function() {
function text_truncate()
{
	$('span.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "common_see_all",  
		lessText: "common_hide",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}

 });
 
</script>

<div class="mod details">
	<h1><?php echo $this->translator->translator('b2b_company_profile_welcome_note') . $this->escape($this->companyDetails['company_name']) ;  echo ($this->companyDetails['store_name']) ? ' ( '. $this->escape($this->companyDetails['store_name']) . ' ) ': ''?></h1>
	<br><br>
    <div class="text-center">
		<img src="<?php echo $imageDir .'/'. $companyImage ?>" alt="<?php echo $this->companyDetails['company_name'] ?>" border="0" width="200" class="img-thumbnail"/>
 	</div>
    <br>
    <div class="details">
		<?php  echo $this->escape($this->companyDetails['company_information']) ?>   
    </div>
    <br>
  	<?php if ($this->companyDetails['is_social']  == 'YES')  {?>
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><div class="glyphicon glyphicon-link"></div> <?php echo $this->translator->translator('b2b_company_profile_company_social_link')?></h4>
        </div>
        
        <div class="panel-body">
        	<?php
				if (strtoupper( $this->companyDetails['facebook_display']) == 'YES'):
			?>
			<a href="https://www.facebook.com/<?php  echo $this->escape($this->companyDetails['facebook']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/facebook.png" width="41" height="41" border="0" title="Facebook"></a>
			<?php
				endif;	
				if (strtoupper( $this->companyDetails['twitter_display']) == 'YES'):
			?>    
			<a href="https://www.twitter.com/<?php  echo $this->escape($this->companyDetails['twitter']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/twitter.png" width="41" height="41" border="0" title="Twitter"></a>
			<?php
				endif;	
				if (strtoupper( $this->companyDetails['googleplus_display']) == 'YES'):
			?>
			<a href="https://plus.google.com/<?php  echo $this->escape($this->companyDetails['googleplus']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/google-plus.png" width="41" height="41" border="0" title="Google Plus"></a>
			<?php
				endif;	
				if (strtoupper( $this->companyDetails['flickr_display']) == 'YES'):
			?>
			<a href="https://www.flickr.com/<?php  echo $this->escape($this->companyDetails['flickr']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/rss.png" width="41" height="41" border="0" title="RSS"></a>
			<?php
				endif;	
				if (strtoupper( $this->companyDetails['youtube_display']) == 'YES'):
			?>
			<a href="https://www.youtube.com/<?php  echo $this->escape($this->companyDetails['youtube']) ?>" target="_blank"><img src="application/layouts/scripts/b2b_default/images/youtube.png" width="41" height="41" border="0" title="You Tube"></a>
			<?php
				endif;	
			?>	
        </div>
    </div>
  	<?php } ?>
   	
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><div class="glyphicon glyphicon-list-alt"></div> <?php echo $this->translator->translator('permisson_b2b_frontend_company_details')?></h4>
        </div>
        
        <div class="panel-body">
        	<table class="table table-striped table-bordered table-hover">
            	<?php
					if ($this->companyDetails['store_name']):
				?>
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_store_name')?> :</td>
					<td><a href="Company-Store/<?php echo $this->escape($this->companyDetails['seo_title']) ;?>"><?php echo $this->escape($this->companyDetails['store_name']) ;?></a></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['main_products']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_main_product')?> : </td>
					<td><?php echo '&bull; '.$this->escape($this->companyDetails['main_products']) . '<br>&bull; '. $this->escape($this->companyDetails['main_products_part1']) . '<br>&bull; '. $this->escape($this->companyDetails['main_products_part2']) . '<br>&bull; '. $this->escape($this->companyDetails['main_products_part3']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['selling_categories']):
				?>
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_major_selling');?> :</td>
					<td><?php echo $this->escape($this->companyDetails['selling_categories']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['buying_categories']):
				?>
				
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_major_buying')?> :</td>
					<td><?php echo $this->escape($this->companyDetails['buying_categories']) ;?></td>
				</tr>
				
				<?php
					endif;	
					if ($this->companyDetails['number_of_employees']):
				?>                    
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_employees')?> :</td>
					<td><?php echo $this->escape( str_replace('_' , ' ', $this->companyDetails['number_of_employees'])) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['company_category']):
				?>                      
				
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_company_category')?> :</td>
					<td><?php echo $this->escape($this->companyDetails['company_category']) ;?></td>
				</tr>
				
				<?php
					endif;	
					if ($this->companyDetails['legal_owner']):
				?>
				<tr>
					<td><?php  echo  $this->translator->translator('b2b_front_company_profile_person')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['legal_owner']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['establishing_year']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_establishment')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['establishing_year']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['nearest_ports']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_nearest_ports')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['nearest_ports']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['main_customers']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_main_customers')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['main_customers']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['annual_revenue']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_revenue')?> : </td>
					<td><?php echo $this->escape(str_replace('_' , ' ' ,$this->companyDetails['annual_revenue'])) ;?></td>
				</tr>
				
				<?php
					endif;	
					if ($this->companyDetails['delivery_terms']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_delivery_terms')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['delivery_terms'])) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['avg_lead_time']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_leadtime')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['avg_lead_time']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['export_market']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_export_market')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['export_market'])) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['payment_currency']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_payment_currency')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['payment_currency'] ));?></td>
				</tr>
				 <?php
					endif;	
					if ($this->companyDetails['payment_type']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_payment_type')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['payment_type'] ));?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['language']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_language')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['language'])) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['export_percentage']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_export_percentage')?> : </td>
					<td><?php echo $this->escape(str_replace('-' , ' to ' ,$this->companyDetails['export_percentage'])) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['escrow']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_export_escrow')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['escrow']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['production_capacity']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_production_capacity')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['production_capacity']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['factory_location']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_factory_location')?> : </td>
					<td><?php echo $this->escape($this->companyDetails['factory_location']) ;?></td>
				</tr>
				<?php
					endif;	
					if ($this->companyDetails['certification']):
				?>
				 <tr>
					<td><?php  echo  $this->translator->translator('b2b_company_profile_company_certification')?> : </td>
					<td><?php echo '&bull; '.$this->escape(str_replace(',' , '<br>&bull; ' ,$this->companyDetails['certification'])) ;?></td>
				</tr>
				 <?php
				 endif;
				?>
            </table>
        </div>
 	</div>
    
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><div class="glyphicon glyphicon-picture"></div> <?php echo $this->translator->translator('b2b_company_profile_company_gallery')?></h4>
        </div>
        
        <div class="panel-body gallery text-center">
        	<?php for ($i=0; $i < count($galleryArray) ; $i++ ) {?>
           		<a href="<?php echo $imageDir .'/'. $galleryArray[$i] ?>"><img src="<?php echo $imageDir .'/'. $galleryArray[$i] ?>" border="0" width="120" class="img-thumbnail" /></a> &nbsp; 
            <?php }?>
        </div>
 	</div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><div class="glyphicon glyphicon-bookmark"></div> <?php  echo  $this->translator->translator('b2b_company_profile_company_certification')?></h4>
        </div>
        
        <div class="panel-body">
        	<?php 				
			$compliance_img = $this->companyDetails['compliance_img'] ;
			foreach ($compliance_img as  $id => $compliance) {?>
				<img src="application/layouts/scripts/b2b_default/images/b2b_img/<?php echo $compliance;?>" alt="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" title="<?php echo $this->companyDetails['compliance_name'][$id] ;?>" border="0" width="36" />
			<?php } ?>
     	</div>
 	</div>
    
    <div class="panel panel-default">
    	<div class="panel-heading">
        	<h4><div class="glyphicon glyphicon-briefcase"></div> <?php echo $this->translator->translator('b2b_company_profile_company_terms')?></h4>
        </div>
        
        <div class="panel-body">
        	<table class="table table-striped">
           		<tr class="info">
					<td><h4><?php echo $this->translator->translator('b2b_company_profile_company_policies')?></h4></td>
             	</tr>
                
            	<tr>
					<td><p><?php echo $this->escape($this->companyDetails['policy']) ;?></p></td>
              	</tr>
                
                <tr class="info">
              		<td><h4><?php  echo  $this->translator->translator('b2b_company_profile_company_tos')?></h4></td>
                </tr>
                
                <tr>
					<td><p><?php echo $this->escape($this->companyDetails['terms_condition']) ;?></p></td>
                </tr>
                
            	<tr class="info">
                	<td><h4><?php  echo  $this->translator->translator('b2b_company_profile_company_payment_terms')?></h4></td>
              	</tr>
                
            	<tr>
                	<td><p><?php echo $this->escape($this->companyDetails['payment_method']) ;?></p></td>
             	</tr>

            	<tr class="info">
					<td><h4><?php echo  $this->translator->translator('b2b_company_profile_company_qa')?></h4></td>
              	</tr>
                
                <tr>
           			<td><?php echo $this->escape($this->companyDetails['QA_policy']) ;?></td>
             	</tr>
        	</table>
        </div>
	</div>
</div>