<script type="text/javascript">
var settingObj = {
						
						messages: {										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("product_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("product_selected_err"); ?>"
									}
					};
$(document).ready(function() 
{			
	$('a.add_user_btn').click(function() {
		var role_id = '';	
		$.each($('#GroupForm').serializeArray(), function(i, field) {			
			role_id = (field.name == 'role_id') ? field.value : '';			
		});				
		if(role_id == '')
		{
			commonMsgDialog(settingObj, "<?php echo $this->translator->translator('Member_group_page_select_err'); ?>");
		}
		else
		{
			var links = "<?php echo $this->serverUrl().$this->url(array('module' => 'Members','controller'=>'index', 'action'=>'add', 'role_id' => ''),'adminrout',true);?>";
			$(this).attr('href',links+role_id);
			document.location.href=links+role_id;
		}
	});
	
});
</script>
<div id="container">
<?php if (!$this->allow('add')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else :  ?>

<div class="title-container">
	<div class="role-option"><h1><?php echo $this->translator->translator('Member_group_page_name'); ?></h1></div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php  echo $this->partial('index/member_menu.phtml');  ?>	
    </div>
    
    <div id="content-inner">
    	<form name="GroupForm" id="GroupForm">
            <div id="actionMessage"></div>
            <fieldset class="fieldset">	
            	<legend class="legend"><?php echo $this->groupForm->role_id->getLabel(); if($this->groupForm->role_id->isRequired() ){ ?><span class="required">*</span><?php } ?></legend>
                <div class="form">
					<div class="form-row">
						<div class="label label-small">&nbsp;</div>
						<div class="field field-big">
							<?php echo $this->groupForm->role_id ; ?>
						</div>
					</div>
				</div>                 
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="add_user_btn"><span class="icon user"><?php echo $this->translator->translator('Member_go_to_add_user_page'); ?></span></a></span>
                </div>                
            </fieldset>
        </form>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('Member_group_page_name')); ?>">
</div>
<?php endif; ?>
</div>