<?php
	$global_conf = Zend_Registry::get('global_conf');
?>
    <style>
      html, body, #map-canvas-id {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    
    <?php if ($global_conf['googlemaps_api_key']) :
		echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false', '');
	 else  :
	 	echo $this->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false', '');
	 endif;  ?>
    <script>
// This example adds a marker to indicate the position
 
	var infowindow = new google.maps.InfoWindow();
	var geocoder = new google.maps.Geocoder();
	var mountPoint;
	var map ;
	var image = '/data/adminImages/flagsImage/BD.gif';
	function initialize() { 

		var mapOptions = {
			zoom: <?php echo $global_conf['googlemaps_zoom'];?>,
			mapTypeId: google.maps.MapTypeId.<?php echo $global_conf['googlemaps_maptypes'];?>,
			center: new google.maps.LatLng(<?php echo $global_conf['googlemaps_latitude'];?>, <?php echo $global_conf['googlemaps_longitude'];?>),
			mapTypeControl: true,
			zoomControl: true,
			mapTypeControl: true,
			mapTypeControlOptions: {
				style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
				position: google.maps.ControlPosition.BOTTOM_CENTER
			},
			panControl: true,
			panControlOptions: {
				position: google.maps.ControlPosition.TOP_RIGHT
			},
			zoomControl: true,
			zoomControlOptions: {
				style: google.maps.ZoomControlStyle.LARGE,
				position: google.maps.ControlPosition.LEFT_CENTER
			},
			scaleControl: true,
			scaleControlOptions: {
				position: google.maps.ControlPosition.TOP_LEFT
			},
			streetViewControl: true,
			streetViewControlOptions: {
				position: google.maps.ControlPosition.LEFT_TOP
			}
    	}; 
	
		map = new google.maps.Map(document.getElementById('map-canvas-id'),
                                mapOptions);	
			
		var allAddresses = <?php echo json_encode($this->allAddresses); ?>; 
		//var cnt = 0;
		$.each(allAddresses, function (key, hotel) {

			var address = hotel.city + ' , ' +  hotel.state_name  + ' , ' + hotel.country ;
			
			setTimeout(function(){
				mapLocation(address, hotel) ;				
			},key * 1000); 
			//cnt = 	key;
		});
		
		/*
		setTimeout(function(){
		  alert ('Hello Noman');
		  },cnt * 2000); */
		 //map.fitBounds(bounds);
}

function createinfowindow( text ) {
  	var myOptions = {
		content: text,
		disableAutoPan: false,
		maxWidth: 150,
		pixelOffset: new google.maps.Size(-140, 0),
		zIndex: null,
		boxStyle: {
					background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
					opacity: 0.75,
					width: "280px"
			},
		closeBoxMargin: "12px 4px 2px 2px",
		closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
		infoBoxClearance: new google.maps.Size(1, 1),
		isHidden: false,
		pane: "floatPane",
        //enableEventPropagation: false
    };
	infowindow.setOptions(myOptions);
}


function bindInfoWindow(marker, map, infowindow, html) { 
    google.maps.event.addListener(marker, 'mouseover', function() {
			//createinfowindow (html);
            infowindow.setContent(html); 
            infowindow.open(map, marker); 

    });

}

 function nearByAddress() {
    var address = document.getElementById("address").value;
	map.setZoom(15);
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
			icon: image,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
  
  
function mapLocation(address , hotel) {
	geocoder.geocode( { 'address': address}, function(results, status) {
	  if (status == google.maps.GeocoderStatus.OK) {
		var latlongResult = results[0].geometry.location ;
		var lat=latlongResult.lat();
		var lng=latlongResult.lng();	
		createMarker(address,lat,lng, hotel);	
	
		return latlongResult;
	  } else {
		alert("Geocode was not successful for the following reason: " + status);
		
	  }
	});
 }
  
  
  // ======= Function to create a marker
     function createMarker(address,lat,lng, hotel) {
       
	   var html = "<div style='width:400px;height:200px;'>" 
	   		+"<strong> " + hotel.hotels_name + "</strong><br/>" 
	   		+ "Address: "+hotel.hotels_address+"<br/>"
			+ "<a href='/Hotels-details/" + hotel.hotels_title + "'><img border='0' align='Left' src='/data/adminImages/defaultImages/default_user_image.gif' width='35' height='35'>  Click here </a> <br/>"
			+ "<br/> <br/>" + address + "<br/>" 
			+ "</div>";
	     
       var marker = new google.maps.Marker({
		    //icon: image,
			title: hotel.hotels_name + " ( " + hotel.hotels_address + " ) ",
         	position: new google.maps.LatLng(lat,lng),
         map: map,
         //zIndex: Math.round(latlng.lat()*-100000)<<5
       });
      google.maps.event.addListener(marker, 'click', function() {
         infowindow.setContent(html); 
         infowindow.open(map,marker);
       });
     }
   
   
function streetView() {
    var address = document.getElementById("address").value;
	
	//var fenway = getLocation(address);
	

	  
	  geocoder.geocode( { 'address': address}, function(results, status) {
	  if (status == google.maps.GeocoderStatus.OK) {
		var latlong  = results[0].geometry.location ;
		
		var panoOptions = {
				position: latlong,
				addressControlOptions: {
				  position: google.maps.ControlPosition.BOTTOM_CENTER
				},
				linksControl: false,
				panControl: false,
				zoomControlOptions: {
				  style: google.maps.ZoomControlStyle.SMALL
				},
				enableCloseButton: false
			  };
			  
 	 	 var panorama = new google.maps.StreetViewPanorama(
      		document.getElementById('map-canvas-id'), panoOptions);
	  		
	  } else {
		alert("Geocode was not successful for the following reason: " + status);
	  }
	});  
   /* geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
			icon: image,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });*/
  }

  
    
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  	<div style="width:700px;height:600px;">
    <div id="map-canvas-id"></div>
    </div>
    <div class="infobox-wrapper">
        <div id="infobox1">
            Infobox is very easy to customize because, well, it's your code
        </div>
    </div>

	<div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Near By" onClick="nearByAddress()">
    <input type="button" value="Street View" onClick="streetView()">
  </div>

<h1> <?php
	/*echo ('<pre>');
	print_r($this->allAddresses);
	echo ('</pre>');
	exit;
	exit;*/
	?> </h1>










