<?php
if($this->business_type_info)
{
if(!empty($this->business_type_info['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->business_type_info['meta_keywords']);}
if(!empty($this->business_type_info['meta_desc'])) { $this->headMeta()->setName('description',$this->business_type_info['meta_desc']); }
if(!empty($this->business_type_info['business_type'])) { $this->headTitle()->headTitle($this->escape($this->business_type_info['business_type']),'SET')->setSeparator(' - ')->headTitle($this->business_type_info['meta_title']); }

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

$front_template = Zend_Registry::get('front_template');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle
$vote = new Vote_Controller_Helper_ShowVoteButton('inline','hotels_page' );

$global_conf = Zend_Registry::get('global_conf');
 
$allow_obj = new Hotels_View_Helper_Allow();
if (!$allow_obj->allowRule('view',null,null,$this->business_type_info['role_id'])) : ?>

		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>

<?php else : ?>
<script type="text/javascript">
$(document).ready(function() {
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : "<?php echo (Eicra_Global_Variable::getSession()->viewPageNum) ? Eicra_Global_Variable::getSession()->viewPageNum : (($this->preferences_data['hotels_list_by_business_type_on_other_page']) ? $this->preferences_data['hotels_list_by_business_type_on_other_page'] : 30); ?>",
						page: "<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>",	
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						saveItem: {
							link_id : 'a.save_hotels_btn',
							server_url: "<?php echo $this->url( array('module' =>'Hotels','controller' => 'frontend', 'action'     => 'save' ), 'adminrout',    true) ?>",
							image_loader_url : "application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif"
						},
						search_action: {},
						common_action : {
								permission_arr : {},
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",						
								multi_action	: []
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;
								self.element.css("border", "none");
								self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
								$('input.p_button').attr('type', 'button_btn');
								self.thead.remove();
								text_truncate();
								commonVoting();		
								itemSave(settingObj);													                      
                        },
						filterable: false,
						rowTemplate: kendo.template($("#view_template").html()),
						model: {},					
						column_fields: [],
						columnMenu:	false,
						messages: {
										display				: 	"<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>",
										empty				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>",
										page				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>",
										of					:	"<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>",
										itemsPerPage		:	"<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>",
										first				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>",
										previous			:	"<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>",
										next				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>",
										last				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>",
										refresh				:	"<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>",
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);		
});
function text_truncate()
{
	$('div.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<script type="text/x-kendo-template" id="view_template">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-4">
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/${hotels_title}" class="preview" link="" title="#= hotels_name #">#= hotels_name_format #</a><br>
                   	<div class="text-muted">
						<em># if(feature_distance_from_airport){ # #= feature_distance_from_airport_format # #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_distance'), ENT_QUOTES, "UTF-8"); ?>" # #} #</em>
					</div>
				</div>
				
				<div class="col-md-4 text-center">
					<span class="label label-primary"><span class="glyphicon glyphicon-thumbs-up"></span> #= hotels_status #</span> <span class="label label-success">#= business_type #</span>
					<div class="ratings">
						 #= hotel_stars_format #
					</div>
				</div>
				
				<div class="col-md-4 text-right">
					# if(review_id){ #                                         
					<span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => '', Eicra_File_Constants::ITEM_ID => '' ), 'Review-Write/:group_id/:item_id',    true); ?>/${review_id}/${id}">#= "<?php echo html_entity_decode($this->translator->translator('common_write_review'), ENT_QUOTES, "UTF-8"); ?>" #</a></span> &nbsp; 
					<span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/10">#= review_no_format #</a></span>
					# } #
				</div>
			</div>
		</div>
		
		<div class="panel-body #= (featured == '1') ? 'featured-content' : '' #">
       		<div class="row">
				<div class="col-md-8">
					<figure>
						<div class="thumb">
							<a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/${hotels_title}" class="preview" link="#= hotels_image_format #" title="#= hotels_name #"><img src="#= hotels_image_format #" border="0" #= thumb_width # #= thumb_height # /></a>
							<div class="photo-count-container">
								<div class="photo-count">
									<a href="<?php echo $this->url(array('module' => 'hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/1" title="#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_click_view_listing'), ENT_QUOTES, "UTF-8"); ?>" #"><span class="glyphicon glyphicon-camera"></span> #= hotels_image_no_format #</a>
								</div>
							</div>
						</div>
					</figure>
					
					<div class="details">
						<h2><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/${hotels_title}" class="preview" link="" title="#= hotels_name #">#= hotels_name_format #</a></h2>
						<div class="jTruncate">
							#= hotels_desc_format #
					  	</div>
						<div class="clearfix"></div>
						# if(featured == '1'){ #
						<div class="ribbon"><a href="javascript:void(0);"><span><?php echo html_entity_decode(strtoupper($this->translator->translator('common_featured_language')), ENT_QUOTES, "UTF-8"); ?></span></a></div>
						# } #
						<hr>
						<a  href="javascript:void(0);" class="save_hotels_btn btn btn-success" rel="#= id #"><span class="glyphicon glyphicon-floppy-saved"></span> <?php echo html_entity_decode($this->translator->translator("hotels_front_page_save_hotels"), ENT_QUOTES, "UTF-8"); ?></a> &nbsp; 
						<div class="vote">
							<span class="label label-primary">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_label_voting'), ENT_QUOTES, "UTF-8"); ?>" #</span>
							<span>#= vote_format #</span>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<ul class="list-group">
						<li class="list-group-item">
							<i class="hotel-icon icon-calendar"></i>
							<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/${hotels_title}/9" title="<?php echo html_entity_decode($this->translator->translator("hotels_front_page_hotels_check_calendar"), ENT_QUOTES, "UTF-8"); ?>">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_check_availability'), ENT_QUOTES, "UTF-8"); ?>" #</a>
						</li>
						#
						  var feature_facilities_arr = (feature_facilities) ? feature_facilities.split(',') : [];															
						  if($.inArray('airport transfer', feature_facilities_arr) != -1)
						  {
						#
						<li class="list-group-item">
							<i class="hotel-icon icon-plane"></i>
							#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_airport_transfer'), ENT_QUOTES, "UTF-8"); ?>" #
						</li>
						#
						  }
						  var feature_sports_recreations_arr = (feature_sports_recreations) ? feature_sports_recreations.split(',') : [];															
						  if($.inArray('indoor pool', feature_sports_recreations_arr) != -1)
						  {
						#
						<li class="list-group-item">
							<i class="hotel-icon icon-swimming"></i>
							#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_swwimming_pool_availability'), ENT_QUOTES, "UTF-8"); ?>" #
						</li>
						#
						  }
						  if(feature_pet == 'Pets are allowed')
						  {
						#
						<li class="list-group-item">
							<i class="hotel-icon icon-pet"></i>
							#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_pet_allow'), ENT_QUOTES, "UTF-8"); ?>" #
						</li>
						#
						  }															
						  if($.inArray('Internet Available', feature_facilities_arr) != -1)
						  {
						#
						<li class="list-group-item">
							<i class="hotel-icon icon-internet"></i>
							#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_internet_availability'), ENT_QUOTES, "UTF-8"); ?>" #
						</li>
						#
						  }
						 if(hotels_phone){ 
						#
						<li class="list-group-item">
							<i class="hotel-icon icon-phone"></i>
							<span class="call"># if(hotels_phone){ #<span>#= hotels_phone_format #</span># } #</span>
						</li>
						# } #
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<!--  Availability Chart Start-->
					<div class="room-chart-container">
						<div class="room-chart">
						  # if(room_type_id && room_type_info){  #
						  <!-- Header Start -->
						  <div class="room-chart-row">
							  <div class="room-chart-header-col-1">
								  #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_room_type'), ENT_QUOTES, "UTF-8"); ?>" #
							  </div>
							  
							  <div class="room-chart-header-col-1 room-chart-header-col-2">
								  #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_people_per_room'), ENT_QUOTES, "UTF-8"); ?>" #
							  </div>
							  
							  <div class="room-chart-header-col-1 room-chart-header-col-3">
								  #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_available_room'), ENT_QUOTES, "UTF-8"); ?>" #
							  </div>
							  
							  <div class="room-chart-header-col-1 room-chart-header-col-4">
								  #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_price_per_room'), ENT_QUOTES, "UTF-8"); ?>" #
							  </div> 
						  </div>
						  <!-- Header End -->
							  #  $.each(room_type_info, function(room_type_key, room_type_arr){ #									  
									  # if(room_type_arr.show_room_type == true) { #
										  <!-- Row-2 & Row-3 Start -->
										  <div class="#= ( room_type_key % 2 == 0) ? 'room-chart-row2' :  'room-chart-row2 room-chart-row3' #">
											<div class="room-chart-c1">
												 <a class="preview" link="" title="#= room_type_arr.room_condition #">#= room_type_arr.room_type #</a> # if(room_type_arr.save_price > 0){ # #= room_type_arr.save_format # # } # # if(room_type_arr.just_booked){ # <?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_booked_today'), ENT_QUOTES, "UTF-8"); ?> # } #
											  </div>
											  
											   <div class="room-chart-c1 room-chart-c2">
												  <a class="preview" link="" title="#= room_type_arr.max_people_lang_format #">
												  # 
													  if(room_type_arr.max_people <= 4)
													  {
														  for(var i = 1; i <= room_type_arr.max_people; i++)
														  {
													#<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
														  }
													  } 
													  else
													  {
														  for(var i = 1; i <= 3; i++)
														  {
															  #<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />#
														  }
													  }
												  #<span class="person-count">#= room_type_arr.max_people_format #</span>
												  </a>
											  </div>
											  
											  <div class="room-chart-c1 room-chart-c3">
												  #
												  if(room_type_arr.room_info)
												  {
													if((room_type_arr.room_info.length == room_type_arr.room_num) && room_type_arr.room_num != 0)
													{
												  #	 
														<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_available_type_yes'), ENT_QUOTES, "UTF-8"); ?>
												  #
													}
													else if(room_type_arr.room_info.length == 0 || room_type_arr.room_num == 0)
													{
												  #	 
														<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_available_type_no'), ENT_QUOTES, "UTF-8"); ?>
												  #
													}
													else if(room_type_arr.room_info.length == 1)
													{
												  #	 
													  <a class="preview" link="" title="#= room_type_arr.room_info_count_format2 #">#= room_type_arr.room_info_count_format #</a>
												  # 
													}
													else if(room_type_arr.room_info.length > 1 && room_type_arr.room_info.length <= room_type_arr.room_num)
													{
												  # 
														#= room_type_arr.room_info_count_format1 #
												  #
													}
												  }
												  else
												  {
												  #
													<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_available_type_no'), ENT_QUOTES, "UTF-8"); ?>
												  #
												  }
												  #
											  </div>
											  
											  <div class="room-chart-c1 room-chart-c4">
												  # if(room_type_arr.basic_price != room_type_arr.descount_price){ #<span class="hotel-old-price"><?php echo $this->currency->getShortName().'&nbsp;'; ?>#= room_type_arr.basic_price_format #</span>&nbsp;# } #
												  <span class="hotel-price"><?php echo $this->currency->getShortName().'&nbsp;'; ?>#= room_type_arr.descount_price_format #</span>
											  </div>						  
										  </div>
										  <!-- Row-2 & Row-3 End -->
									# } #
							  # }); #						  
						  # } #						
						</div>
					</div>
					<!--  Availability Chart End-->
				</div>
			</div>
		</div>
		
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-7">
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/0">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_summary_booking'), ENT_QUOTES, "UTF-8"); ?>" #</a> | 
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/1">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_photo'), ENT_QUOTES, "UTF-8"); ?>" #</a> |
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/6">#= "<?php echo html_entity_decode(ucfirst(strtolower($this->translator->translator('hotels_front_page_hotels_map'))), ENT_QUOTES, "UTF-8"); ?>" #</a>  | 											 
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/3">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_facilities_eatures'), ENT_QUOTES, "UTF-8"); ?>" #</a>  |
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/8">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_policies'), ENT_QUOTES, "UTF-8"); ?>" #</a>  |
					<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '','tab' => '' ),'Hotels-details/:hotels_title/:tab',true); ?>/#= hotels_title #/4">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_profile'), ENT_QUOTES, "UTF-8"); ?>" #</a>
				</div>
				
				<div class="col-md-5 text-right">
                   	<?php if($global_conf['payment_system'] == 'On') : ?><a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'book', 'action' => 'booking','hotels_title' => '' ),'Book-Hotel/:hotels_title',true) ?>/#= hotels_title #" class="btn btn-book"><span class="glyphicon glyphicon-shopping-cart"></span> #= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_show_price'), ENT_QUOTES, "UTF-8"); ?>" #</a><?php endif; ?>
                  	<a href="<?php echo $this->url(array('module' => 'Hotels','controller' =>'frontend', 'action' => 'details','hotels_title' => '' ),'Hotels-details/:hotels_title',true); ?>/#= hotels_title #" class="btn btn-details">#= "<?php echo html_entity_decode($this->translator->translator('hotels_front_page_hotels_more'), ENT_QUOTES, "UTF-8"); ?>" # <span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('hotels_front_page_list').' ('.$this->escape($this->business_type_info['business_type']).')'; ?></h1>

  	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
		<div id="grid"></div>
  	</div>
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('hotels_front_page_list')); ?>"></div>
<?php endif;
}
else
{
?>
	<div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>
		<?php echo $this->translator->translator('hotels_front_page_business_type_not_found'); ?>
	</div>
<?php	
}
?>