<?php 
$is_frontend = new Eicra_Model_DbTable_Frontend();
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$license = new Zend_Session_Namespace('License'); 
$validation_data = $license->license_data;

?>
<footer id="footer">
	<?php
    if($is_frontend->isFrontend())
        {
    ?>
    
    <div class="top-row">
        <div class="container">
            <div class="col-md-4">
                <?php echo $this->partial('blocks/news_latest.phtml'); ?>
            </div>
            
            <div class="col-md-4">
            	<?php echo $this->partial('blocks/gallery_featured.phtml'); ?>
            </div>
            
            <div class="col-md-4">
            	<?php echo $this->partial('blocks/newsletter.phtml'); ?>
            </div>
        </div>
    </div>
    
    <?php
        }
    ?>
    <div class="bottom-row">
        <div class="container">
            <div class="col-md-8 links">
                <span><?php echo $this->translator->translator('front_footer_title','', '', $front_template['theme_folder']); ?></span>
                <ul>
                    <li class="first"><a href="<?php echo $this->serverUrl().$this->baseUrl(); ?>"><?php echo $this->translator->translator('front_footer_home','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="About-Us"><?php echo $this->translator->translator('front_footer_aboutus','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Gallery"><?php echo $this->translator->translator('front_footer_productsgallery','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Feedback"><?php echo $this->translator->translator('front_footer_feedback','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Sign-Up"><?php echo $this->translator->translator('front_footer_registration','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Sitemap"><?php echo $this->translator->translator('front_footer_sitemap','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Contact-Us"><?php echo $this->translator->translator('front_footer_contact','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
                
                <div class="copyright">
					<?php echo $this->translator->translator('common_footer_copy_right'); ?> <?php echo date("Y"); ?> <?php echo $this->translator->translator('common_footer_all_right'); ?> &nbsp;<a href="http://www.<?php if(!empty($global_conf['frontend_footer_url'])){ echo $global_conf['frontend_footer_url']; }else if(!empty($validation_data['vendor_domain'])){  echo $validation_data['vendor_domain']; }else{ echo 'eicra.com'; } ?>" target="_blank" title="<?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>"><?php echo $this->translator->translator('common_footer_web_develop_label'); ?></a>
                                  
                    <?php if(!empty($global_conf['frontend_footer'])){ echo $global_conf['frontend_footer']; }else if($validation_data['footer_name']){ echo $validation_data['footer_name']; }else{ echo 'Eicra Soft Ltd'; } ?>
                                          
                    <?php echo $this->translator->translator('common_vesrion_label'); ?> <?php echo $this->numbers(Eicra_License_Version::getVersion()); ?>
                </div>
            </div>
            
            <div class="col-md-4 social">
				<?php echo $this->translator->translator('front_footer_social','', '', $front_template['theme_folder']); ?><br><br>
                <a href="http://www.facebook.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/facebook.png" border="0" title="Facebook"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/twitter.png" border="0" title="Twitter"></a>
                <a href="https://plus.google.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/google-plus.png" border="0" title="Google Plus"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/linkedin.png" border="0" title="Linked In"></a>
                <a href="https://www.youtube.com" target="_blank"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/youtube.png" border="0" title="Yo Tube"></a>
            </div>
        </div>
    </div>
</footer>