<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 

<link rel="shortcut icon" href="<?php $global_conf = Zend_Registry::get('global_conf'); echo $global_conf['frontend_favicon']; ?>" />

<?php  echo $this->headMeta(); ?>

<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$auth = Zend_Auth::getInstance ();
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
$menu_title	=	$frontController->getRequest()->getParam('menu_id');
?>
</head>
<body>
<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->

<!-- Top Navigation Start-->
<nav class="top-nav">
	<div class="container">
		<div class="col-md-12">
        	<?php echo $this->partial('blocks/top-menu.phtml'); ?>
		</div>
	</div>
</nav>
<!-- Top Navigation End-->

<!-- Banner Start-->
<?php  
	if($is_frontend->isFrontend()) 
	{
?>
<div id="banner">
    <div class="container">
    	<div class="col-md-12">
   		  <span class="content">
            	<h1><?php echo $this->translator->translator('block_home_banner_header_title', '', '', $front_template['theme_folder']); ?></h1>
            	<?php echo $this->translator->translator('block_home_banner_body_title', '', '', $front_template['theme_folder']); ?>
                <br><br>
            	<a href="" class="btn"><?php echo $this->translator->translator('block_home_banner_button_title', '', '', $front_template['theme_folder']); ?></a>
            </span>
            <img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/banner-img.png" />
        </div>
    </div>
</div>
<?php
	}
	else{
?>
<div id="banner-inner">
    <div class="container">
    	<div class="col-md-12">          
        	<h1><?php echo str_replace('-', ' ', $menu_title); ?></h1>
        </div>
    </div>
</div>
<?php  
	}
?>
<!-- Banner End-->

<!-- Middle Bar Start-->
<?php echo $this->layout()->render('middlebar'); ?>
<!-- Middle Bar End -->

<div id="main-container" class="container">
	<?php
        if(!empty($moduleName) && (($actionName != 'productdetails') && ($actionName != 'login') ))
        {				
            $content_width = 'col-md-9';
    ?>
    <!-- Left Sidebar Start -->
    <div class="col-md-3">
        <?php echo $this->partial('blocks/members_sidebar_login.phtml'); ?>
        <?php echo $this->partial('blocks/social.phtml'); ?>
        <?php echo $this->partial('blocks/poll_sidebar_recent.phtml'); ?>
    </div>
    <!-- Left Sidebar End -->
    <?php
        }
        else
        {
            $content_width = 'col-md-12';
        }
    ?>

    <!-- Content Area Start-->
    <div class="<?php echo $content_width; ?>">
        <article id="content">
            <?php echo $this->layout()->content ?>
        </article>
        <?php
            if($is_frontend->isFrontend())
            {
				echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/jquery.idTabs.min.js', '');
        ?>
        <!-- Featured Tab Starts-->
        <div id="usual" class="usual">
            <ul>
              <li><a class="selected" href="#tab1"><?php echo $this->translator->translator('front_tab_recent','', '', $front_template['theme_folder']); ?></a></li>
              <li><a class="" href="#tab2"><?php echo $this->translator->translator('front_tab_article','', '', $front_template['theme_folder']); ?></a></li>
              <li><a class="" href="#tab3"><?php echo $this->translator->translator('front_tab_upcoming','', '', $front_template['theme_folder']); ?></a></li>
            </ul>
        </div>
        <div class="usual-content">
            <div style="display:block;" id="tab1"><?php echo $this->partial('blocks/gallery_home_content_recentProduct_scroll.phtml'); ?></div>
            <div style="display: none;" id="tab2"><?php echo $this->partial('blocks/article_home_content_byId.phtml'); ?></div>
            <div style="display: none;" id="tab3"><?php echo $this->partial('blocks/news_home_content_upcomingEvent.phtml'); ?></div>
        </div>
        <!-- Featured Tab Ends-->
        <script type="text/javascript">
            $("#usual ul").idTabs();
        </script>
        <div class="row">
            <div class="col-md-6">
                <?php echo $this->partial('blocks/review_home_content_clientsReview.phtml'); ?>
            </div>
            
            <div class="col-md-6">
                <div class="block">
                    <h3><span class="glyphicon glyphicon-facetime-video"></span> <?php echo $this->translator->translator('block_youtube_video_title','', '', $front_template['theme_folder']); ?></a></h3>
                    <script type="text/javascript" src="<?php echo $this->serverUrl().$this->baseUrl(); ?>/News/advertise/ad/id/225"></script>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="block block-ad">
                <script type="text/javascript" src="<?php echo $this->serverUrl().$this->baseUrl(); ?>/News/advertise/ad/id/224"></script>
            </div>
        </div>
        <?php
            }
        ?>
    </div>
    <!-- Content Area End-->

    <?php
		if($is_frontend->isFrontend())
		{
	?>
   	<div class="row">
    	<div class="container">
            <div class="col-md-12 clear">
                <?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
            </div>
        </div>
    </div>
    <?php
		}
	?>
</div>

<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End -->


<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html><?php echo $this->escape($global_conf['analytics_code']); ?>