<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
?>

<div id="middle-bar">
    <div class="container">
    	<div class="col-md-8">
        	<div class="bookmark">
                <a href="<?php echo $this->url(); ?>" class="btn" title="<?php echo strip_tags($this->headTitle()); ?>" rel="sidebar">
                    <span class="glyphicon glyphicon-star"></span> <?php echo $this->translator->translator('front_bookmark_btn','', '', $front_template['theme_folder']); ?>
                </a>
            </div>
        	<?php echo $this->partial('blocks/breadcrumb.phtml'); ?>
        </div>
        
        <div class="col-md-4">
        	<?php echo $this->partial('blocks/search_mini.phtml'); ?>
        </div>
    </div>
</div>