<?php
class tracking
{
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_view =	$view;
	}
	
	public function class_body()
	{
		$front_template = Zend_Registry::get('front_template');
		$translator = Zend_Registry::get('translator');	
	?>
    <div class="block block-tracker">
        <form action="<?php echo $this->_view->url( array('module' => 'Tracker','controller' => 'frontend', 'action'     => 'tracking' ), 'Track-Shipment',    false) ?>" method="post">
            <p><span class="glyphicon glyphicon-search"></span> <?php echo $translator->translator('block_tracker_title','', '', $front_template['theme_folder']); ?></p>
            <span class="info">Realtime online shipment tracking worldwide</span>
            <select name="track_reference">
                <option value="containers"><?php echo $translator->translator('block_tracker_reference_no_title','', '', $front_template['theme_folder']); ?></option>
                <option selected="selected" value="HWB"><?php echo $translator->translator('block_tracker_HWB_no_title','', '', $front_template['theme_folder']); ?></option>
            </select> 
            <input type="text" name="tracking_number" id="tracking_number" />
            <input type="submit" name="button" id="button" value="<?php echo $translator->translator('block_tracker_now_title','', '', $front_template['theme_folder']); ?>" />
        </form>
    </div>
	<?php
	}
}
try
{
	$tracking_class = new tracking($this);
	$tracking_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>