<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
?>

<div class="row block-mini-search">
    <form id="form1" name="form1" method="post" action="<?php echo $this->url(array('module' => 'Search','controller' => 'search','action' => 'list'),'Search',true); ?>" role="form">
    <div class="input-group">
        <input type="text" name="search_field" id="search_field" placeholder="<?php echo $translator->translator('block_search_text','', '', $front_template['theme_folder']); ?>" class="form-control"/>
        <span class="input-group-btn">
            <input type="submit" name="Submit" value="<?php echo $translator->translator('block_search_btn','', '', $front_template['theme_folder']); ?>" class="btn"/>
        </span>
    </div>
    </form>
</div>