<div id="container">
<?php if (!$this->allow()) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
?>

<script type="text/javascript">
var settingObj = {					
					form_action : {
										form_id: 'formAirport',
										hasTinyMCE: false,										
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',																			
										extra_field_for_reset: [],
										extra_function_for_reset: function(){
											
										}
								},					
					calendar:	{
									calendar_include_time: true,	
									calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
									monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
									monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
									dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
									buttonText:		'calendar',
									dateFormat:		'yy-mm-dd',
									dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
									culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
									value: ''
					},
					dynamic_list_action: [
									{
										list_id:'country_id',
										sub_list: {
											list_id:'state_id',
											list_dest_url: '<?php echo $this->url( array('module' =>'Flight','controller' => 'airport', 'action'     => 'states' ), 'adminrout',    true) ?>',
											list_any_value: '<?php echo html_entity_decode($this->translator->translator("common_select_state"), ENT_QUOTES, 'UTF-8'); ?>',
											list_input_value_field: 'state_id',
											list_input_option_field: 'state_name',
											list_return_field: 'states',
											list_loader_info : {
														loader_id : 'state_id_err',
														loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
														on_loading : [
																		{id : 'state_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("common_select_state"), ENT_QUOTES, 'UTF-8'); ?>'},
																		{id : 'city_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>'}
																	]
												},
											sub_list:{
												list_id:'city_id',
												list_dest_url: '<?php echo $this->url( array('module' => 'Flight', 'controller' => 'airport', 'action'     => 'areas' ), 'adminrout',    true) ?>',
												list_any_value: '<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>',
												list_input_value_field: 'city_id',
												list_input_option_field: 'city',
												list_return_field: 'cities',
												list_loader_info : {
															loader_id : 'city_id_err',
															loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
															on_loading : [
																			{id : 'city_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>'}
																		]
													}
											}
										}
									}
						],
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};
$(document).ready(function() {	
	floatingbar('#floatingbar',"#button_top_bar",null);
	commonDynamicListAction(settingObj);
			
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);	
	});
	
	$('a.add_airport_btn').click(function() {			
			
			var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
						
		$.ajax({
				url: "<?php echo $this->url( array('module' => 'Flight','controller' => 'airport', 'action'     => 'add' ), 'adminrout',    true) ?>",
			  	type: 'POST',
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
			  	data: formData,
				success: function(response){
					//alert(response);					
					try
					{
						commonCloseLoaderDialog(settingObj);				
						var json_arr = eval("("+response+")");					
									
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));						
							commonResetFormFields(settingObj);							
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								focusFirst(json_arr.msg[i].key, json_arr.msg[i].value, i);
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});	
});
</script>



<div class="title-container">
	<div class="airport-add"><h1><?php echo $this->translator->translator('flight_airport_add_page_name'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'airport', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_airport_btn"><span class="icon save"><?php echo $this->translator->translator('save'); ?></span></a></span>
    </div>
</div>

<div class="content-container">
	<form name="formAirport" id="formAirport" method="post">
    	<div id="button_top_bar"></div>
    	<div id="actionMessage"></div>
    	<div id="generalInfo">
        	<fieldset class="fieldset last">
                <legend class="legend"><?php echo $this->translator->translator('flight_airport_add_page_info'); ?></legend>
                <div class="form">
                	<?php												
						$elements = $this->airportForm->getElements();
						foreach($elements as $element)
						{								
					?>
                    <div class="form-row">
                        <div class="label">
                        	<?php echo $element->getLabel();  if($element->isRequired()){ ?><span class="required">*</span><?php } ?>
                        </div>
                        
                        <div class="field">
                            <?php echo $element;?>
                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($element->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            <div class="input-errors" id="<?php echo $element->getName().'_err'; ?>"></div>
                        </div>
                    </div>
                    <?php								
						}
					?>
                </div>
			</fieldset>
        </div>				
	</form>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'airport', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_airport_btn"><span class="icon save"><?php echo $this->translator->translator('save'); ?></span></a></span>
    </div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('flight_airport_add_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'airport', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_airport_btn"><span class="icon save"><?php echo $this->translator->translator('save'); ?></span></a></span>
    </div>
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('flight_airport_add_page_name')); ?>">
</div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<?php endif; ?>	
</div>