<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
?>


<div class="block">
	<div class="block-heading"><div class="symbol"><?php echo $translator->translator('menu_members_selling_title'); ?></div></div>
    <div class="block-body">
    	<ul class="stats">        	
            <li><a href="#"><?php echo $translator->translator ('menu_members_selling_add'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_selling_manage'); ?> </a></li>
            
		</ul>
    </div>
</div>



<div class="block">
	<div class="block-heading"><div class="symbol"><?php echo $translator->translator('menu_members_buying_title'); ?></div></div>
    <div class="block-body">
    	<ul class="stats">   
     	
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_add'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_manage'); ?> </a></li>
        
		</ul>
    </div>
</div>


<div class="block">
	<div class="block-heading"><div class="symbol"><?php echo $translator->translator('menu_members_quick_access_title'); ?></div></div>
    <div class="block-body">
    	<ul class="stats">        	
            <li><a href="#"><?php echo $translator->translator ('menu_members_account_settings'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_manage_profile'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_change_password'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_trade_alert'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_my_favorites'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_package_facilities'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_manage'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_manage'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_manage'); ?> </a></li>
            <li><a href="#"><?php echo $translator->translator ('menu_members_buying_manage'); ?> </a></li>

		</ul>
    </div>
</div>