<?php
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxcore.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxbuttons.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxscrollbar.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxpanel.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxtree.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jqwidgets/jqxexpander.js');

$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('vendor/scripts/jqwidgets/styles/jqx.base.css');
?>

<script type="text/javascript">
	$(document).ready(function () {
		var theme = getTheme();
		// Create jqxTree
		$('#jqxTree').jqxTree({ theme: theme });
		$('#jqxTree').jqxTree('collapseAll');
		// Create jqxExpander
		$('#jqxExpander').jqxExpander({ showArrow: false, toggleMode: 'none', width: '100%', height: 'auto', theme: theme });
	});
	
	function getTheme() {
		var theme =  $.data(document.body, 'theme');
		if (theme == null) {
			theme = '';
		}
		else {
			return theme;
		}
		var themestart = window.location.toString().indexOf('?');
		if (themestart == -1) {
			return '';
		}
	
		var theme = window.location.toString().substring(1 + themestart);
		var url = "../../jqwidgets/styles/jqx." + theme + '.css';
	
		if (document.createStyleSheet != undefined) {
			var hasStyle = false;
			$.each(document.styleSheets, function (index, value) {
				if (value.href != undefined && value.href.indexOf(theme) != -1) {
					hasStyle = true;
					return false;
				}
			});
			if (!hasStyle) {
				document.createStyleSheet(url);
			} 
		}
		else $(document).find('head').append('<link rel="stylesheet" href="' + url + '" media="screen" />');
	  
		return theme;
	};
</script>

<a href="http://demos.kendoui.com/web/menu/images.html">Kwndo UI Menu Need to used here</a>

<a href="">Move to</a> <a href="">Mark as</a> <a href="">Delete</a> <a href="">Report Spam</a> <a href="">Add Contacts</a>
<br />
<br />
Dynamic Grid will be plce here...
<br />
<br />
<br />
<br />
<br />
<a href="">Move to</a> <a href="">Mark as</a> <a href="">Delete</a> <a href="">Report Spam</a> <a href="">Add Contacts</a>