<div id="container">
<?php if (!$this->allow() || ($this->auth->getIdentity()->access_other_user_article != '1' && $this->auth->getIdentity()->user_id != $this->entry_by && $this->auth->getIdentity()->user_id != $this->autosInfo['autos_agent'])) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php else : 
$this->headTitle()->headTitle($this->translator->translator('autos_spare_part_page_edit_page_name'),'SET');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jquery.scrollTo.js');

$front_template = Zend_Registry::get('front_template');
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();

$this->SparePartsForm->setEditor($this->serverUrl().$this->baseUrl());
$this->SparePartsForm->getEditor();

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$frontController = Zend_Controller_Front::getInstance();
$list_page_route =  'Members-Auto-Spare-Parts-List/*';

$grp_file_type_arr = explode(',',$this->option['file_type']);
foreach($grp_file_type_arr as $key => $value)
{
	$grp_file_type_arr[$key] = '*.'.$value;	
} 
$grp_file_format = implode(';',$grp_file_type_arr);	

$image_value = $this->SparePartsForm->spare_parts_image->getValue();
if($image_value)
{
	$image_arr = explode(',',$image_value);
	foreach($image_arr as $key=>$value)
	{
		$checked = ($value == $this->spare_parts_image_primary) ? ' checked="checked" ' : '';
		$img_type = ($value == $this->spare_parts_image_primary) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
		$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
		if(!empty($value))
		{
			$assign_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/autos/spare_parts_image/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="spare_parts_image" file_name="'.$value.'" file_path="data/frontImages/autos/spare_parts_image" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="spare_parts_image_primary" id="spare_parts_image_primary" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('autos_primary_image').'" />&nbsp;</span></div>';
		}
	}
}
?>

<script type="text/javascript">
var settingObj = {
					tab_base_link: '<?php echo $tab_base_link; ?>',
					form_action : {
										form_id: 'formItem',
										hasTinyMCE: true,											
										currency_symbol:	"<?php echo $currency->getSymbol(); ?>",
										common_msg_field_id: 'actionMessage',
										dialog_container_id:	'dialog_container',
										dialog_progressbar_id:	'progressbar',																				
										extra_field_for_reset: [
											{field_id : 'selected_file_spare_parts_image', field_value: '<?php echo $assign_image; ?>' , field_type : 'html'},
											{field_id : 'spare_parts_image', field_value: '<?php echo $this->SparePartsForm->spare_parts_image->getValue(); ?>' , field_type : 'val'}
										],
										extra_function_for_reset: function(){																																
											$('a.back_btn_link').attr('href','<?php echo $this->url( array("module" => "Autos","controller" => "members", "action"  => "listspare" ), $list_page_route,    true) ?>');
										}
								},					
					calendar:	{
									calendar_include_time: true,	
									calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
									monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
									monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
									dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
									buttonText:		'calendar',
									dateFormat:		'yy-mm-dd',
									dateTimeFormat:     "yyyy-MM-dd HH:mm:ss tt",
									culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
									value: ''
					},
					messages: {
									display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
									empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
									page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
									of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
									itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
									first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
									previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
									next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
									last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
									refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
									
									common_msg_dialog_id 		:	'dialog_msg',
									common_confirn_dialog_id	:	'dialog-confirm',
									common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
									common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
									common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
									common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
									common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
									common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
									common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
									common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
								}
					};
<?php
if($this->auth->getIdentity()->allow_to_change_ownership == '1')
{
?>						
$(function() {
	$( "#autos_agent" ).combobox();		
})
<?php
}
?>	
$(function() {
		$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
	});

$(document).ready(function() {
		
	/**********Scrolling Tools Start****************/
	$.easing.elasout = function(x, t, b, c, d) {
		var s=1.70158;var p=0;var a=c;
		if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		if (a < Math.abs(c)) { a=c; var s=p/4; }
		else var s = p/(2*Math.PI) * Math.asin (c/a);
		return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	};
	
	$('#toc a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		$.scrollTo( this.hash, 1500, { easing:'swing' });
		$(this.hash).find('span.message').text( this.title );
		return false;
	});
	
	$('span.top-go a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		$.scrollTo( this.hash, 1500, { easing:'swing' });		
		return false;
	});	
	/**********Scrolling Tools END****************/
	
	
	commonImageThumbnil();
	deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
	
	
	$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		
		var group_id = $('input[name="primary_id_field_value"]').val();		
		
		var rel = $(self).attr('rel');		
		var file_suffix = rel;	
		var file_content = $('#'+file_suffix).val();
		
		$('input[name="file_path_field"]').val('file_path_'+rel);
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);		
		
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{
			msg = "<?php echo $this->translator->translator("group_id_selected_err"); ?>";
			commonMsgDialog(settingObj, msg);
		}
	});		
	
	$('a.select_file_btn').click(function() {

		var currentIFrame = $('#i-upload-form');
		var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
		var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
		var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
		var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
		if(selected_files_arr.length == '0')
		{
			var msg = "<?php echo $this->translator->translator("insert_selected_file_err"); ?>";				
			commonMsgDialog(settingObj, msg);
		}
		else
		{
			var img_code = '';
			var file_name = '';
			for(var i=0;i < selected_files_arr.length;i++)
			{
				var ext = getCommonFileExtension(selected_files_arr[i]);
				var img_path = commonFilePath(file_path, selected_files_arr[i]);
								
				var checked = (i == 0)? ' checked="checked" ' : '';
				var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
				var primary_file_field_radio =	(primary_file_field == 'spare_parts_image') ? 'spare_parts_image_primary'	: 'feature_primary_interior_image';						
				var primary =  '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("autos_primary_image"); ?>" />';
				var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary;
				
				img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
				file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];					
			}			
			var file_suffix = primary_file_field;		
			$('#selected_file_'+file_suffix).html(img_code);		
			$('#'+file_suffix).val(file_name);		
			$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
			$("#upload-form").dialog('option','hide','explode').dialog('close');				
			deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
			commonImageThumbnil();
		}
	});
	
	$('a.close_dialog_btn').click(function() {	
		$("#i-upload-form").attr("src", "application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif");
		$("#i-upload-form").html('');		 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});
	
	$('a.reset_btn').click(function() {			
		 commonResetFormFields(settingObj);	
		 commonRemoveFormError(settingObj);
		 commonImageThumbnil();
		 deleteFiles("<?php echo $this->translator->translator('gallery_img_main','', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related','', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");
	});
	
	$('a.edit_spare_parts_btn').click(function() {
		if(commonCheckGreater('spare_parts_base_price', 'spare_parts_promotion_price'))
		{			
			var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
			    formData.id  = '<?php echo $this->id ; ?>';							
			$.ajax({
				url: "<?php echo $this->url( array('module' => 'Autos','controller' => 'members', 'action' => 'editspare' ), 'Members-Auto-Spare-Parts-Edit/*',    true) ?>",
					type: 'POST',
					data: formData,
					beforeSend: function(){						
							commonRemoveFormError(settingObj);
							commonOpenLoaderDialog(settingObj);			
						 },
					success: function(response){
						try
						{
							commonCloseLoaderDialog(settingObj);
							//alert(response);					
							var json_arr = eval("("+response+")");										
							if(json_arr.status == 'ok')
							{
								$('#actionMessage').html(succMsgDesign(json_arr.msg));							
							}
							else if(json_arr.status == 'errV')
							{
								$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
														
								for(var i= 0; i < json_arr.msg.length; i++)
								{
									commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
								}						
								openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
							}
							else
							{
								$('#actionMessage').html(errMsgDesign(json_arr.msg));
							}						
						}
						catch(error)
						{
							var error_arr = 	[error, response];
							var msg = commonErrMsgException(error_arr);				
							$('#actionMessage').html(errMsgDesign(msg));
						}
					},
					error: function(xhr, status, error){
						commonCloseLoaderDialog(settingObj);
						var msg = "Error! " + xhr.status + " " + error;
						$('#actionMessage').html(errMsgDesign(msg));
					}
			});
		}
		else
		{
			var	msg = "<span class='ui-icon ui-icon-alert' style='float:left; margin:0 0px 0px 0;'></span><?php echo $this->translator->translator("autos_strickthrow_price_spare_input_error"); ?>";
			commonMsgDialog(settingObj, msg);
			$("#tabs").tabs({ active: 0 }).find(".ui-tabs-nav").sortable({axis:'xy'});	
		}
	});
	
	
	
});

/***********************************************************************UPLOAD FUNCTIONS START********************************************************/

function uploadSettingsStart(json_arr)
{
	uploadSettingsEnd();
		
	$('#spare_parts_image_block').prepend('<input type="file" name="spare_parts_image_upload" id="spare_parts_image_upload" />');	
	var thumb_setting_param = json_arr.param_fields;
	thumb_setting_param['file_path_field'] = 'file_path_spare_parts_image';	
	var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
	dynamicUploader('spare_parts_image_upload', 'spare_parts_image', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
	
	$('#spare_parts_image_err').html("");	
}

function uploadSettingsEnd()
{	
	$('#spare_parts_image_upload').parents('div.k-upload').remove();	
	$('#spare_parts_image_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
}

function languageArray()
{
	var language_array = [];
	language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
	language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
	language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
	language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
	language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
	return language_array;
}


function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
{
		var extension = fileObj.extension;
		var ext = extension.replace('.','');	
		
		var img_path = commonFilePath(serverData.file_path, fileObj.name);
				
		var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
		var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
		
		var checked = '';
		var primary = '&nbsp;&nbsp;&nbsp;';	
		var block = 'selected_file_'+upload_value_field;
		var img_type = '';	
		var primary_file_field_radio = '';		
		switch(upload_value_field)
		{
			case 'spare_parts_image':	
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
					primary_file_field_radio =	 'spare_parts_image_primary';						
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("autos_primary_image"); ?>" />';
				break;
			case 'feature_interior_plan_image':
					checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';		
					primary_file_field_radio =	'feature_primary_interior_image';	
					img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";		
					primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("autos_primary_image"); ?>" />';
				break;
		}
		
		var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
		
		if(serverData.multi)
		{		
			$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
		}
		else
		{
			$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
			var file_val = fileObj.name;
		}
		$('#'+upload_value_field).val(file_val);
		deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
		commonImageThumbnil();		
}

function onComplete(e) {
			
}

function onCancel(e) {
	
}

function onProgress(e) {
					
}

/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
</script>

<article class="member-dashboard">
    <div class="title-container">
        <div class="products-edit"><h1><?php echo $this->translator->translator('autos_spare_part_page_edit_page_name'); ?></h1></div>
        
        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Autos','controller' => 'members', 'action'     => 'listspare' ), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_spare_parts_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="content-container" id="topGo">    
        <div>
            <div id="actionMessage"></div>
            <div id="button_top_bar"></div>
            <form name="formItem" id="formItem" method="post">
                <div id="generalInfo">
                    <div id="tabs">
                        <ul>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-1"><?php echo $this->translator->translator('autos_general_info'); ?></a></li>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-2"><?php echo $this->translator->translator('autos_page_page_image'); ?></a></li>
                        </ul>
                        
                        <div id="tabs-1">
                                <fieldset class="fieldset">
                                    <legend class="legend"><?php echo $this->translator->translator('autos_page_page_info'); ?></legend>
                                    <span class="top-go right-float"><a href="#topGo"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                    <div>
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                 <?php echo $this->SparePartsForm->spare_parts_name->getLabel();  if($this->SparePartsForm->spare_parts_name->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->spare_parts_name; ?><br /><div class="input-errors" id="spare_parts_name_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_name->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                 <?php echo $this->SparePartsForm->spare_parts_title->getLabel();  if($this->SparePartsForm->spare_parts_title->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->spare_parts_title; ?><br /><div class="input-errors" id="spare_parts_title_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_title->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_number->getLabel();  if($this->SparePartsForm->spare_parts_number->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->spare_parts_number;  ?><br /><div class="input-errors" id="spare_parts_number_err"></div>	
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_number->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_number->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>  
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_manufacturer_number->getLabel();  if($this->SparePartsForm->spare_parts_manufacturer_number->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_manufacturer_number; ?><br /><div class="input-errors" id="spare_parts_manufacturer_number_err"></div>								
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_manufacturer_number->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_manufacturer_number->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>                   
                                        
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_item_condition->getLabel();  if($this->SparePartsForm->spare_parts_item_condition->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                        </div>
                                        <div class="form-field-container">  
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_item_condition;  ?><br /><div class="input-errors" id="spare_parts_item_condition_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_item_condition->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_item_condition->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>	
                                            <?php endif; ?>
                                        </div>
                                        
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_base_price->getLabel();  if($this->SparePartsForm->spare_parts_base_price->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">   
                                            <div class="form-field">
                                                <div class="left-float"><?php echo $this->SparePartsForm->spare_parts_base_price.'&nbsp;'.$currency->getSymbol(); ?></div><br /><div class="input-errors" id="spare_parts_base_price_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_base_price->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_base_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_promotion_price->getLabel();  if($this->SparePartsForm->spare_parts_promotion_price->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                         </div> 
                                        <div class="form-field-container">   
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_promotion_price.'&nbsp;'.$currency->getSymbol(); ?><br /><div class="input-errors" id="spare_parts_promotion_price_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_promotion_price->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_promotion_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div> 
                                        
                                        <?php
                                        if($this->auth->getIdentity()->allow_to_change_ownership == '1')
                                        {
                                        ?>
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->autos_agent->getLabel();  if($this->SparePartsForm->autos_agent->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                        </div>
                                        <div class="form-field-container">  
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->autos_agent;  ?><br /><div class="input-errors" id="autos_agent_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->autos_agent->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->autos_agent->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>	
                                            <?php endif; ?>
                                        </div>
                                        <?php
                                        }
                                        ?>                                
                                         
                                         <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_description->getLabel();  if($this->SparePartsForm->spare_parts_description->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <div class="editor"><?php echo $this->SparePartsForm->spare_parts_description; ?><br /><div class="input-errors" id="spare_parts_description_err"></div></div>
                                            </div>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span id="loaderLink1"><a href="javascript:void(0);" onClick="loadTinyMCE('spare_parts_description',1);"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif"  border="0" title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" ></a></span>
                                        </div>
                                    </div>
                                </fieldset>                        
                                                       
                                <fieldset class="fieldset">
                                    <legend class="legend"><?php echo $this->translator->translator('autos_spare_part_spec_info'); ?></legend>
                                    <span class="top-go right-float"><a href="#topGo"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                    <div>
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_delivery->getLabel();  if($this->SparePartsForm->spare_parts_delivery->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->spare_parts_delivery; ?><br /><div class="input-errors" id="spare_parts_delivery_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_delivery->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_delivery->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_payment_method->getLabel();  if($this->SparePartsForm->spare_parts_payment_method->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <div class="left-float"><?php  echo $this->SparePartsForm->spare_parts_payment_method;  ?></div><span id="spare_parts_payment_method_loader"></span><br /><div class="input-errors" id="spare_parts_payment_method_err"></div>	
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_payment_method->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_payment_method->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_returns_refund->getLabel();  if($this->SparePartsForm->spare_parts_returns_refund->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <div class="left-float"><?php echo $this->SparePartsForm->spare_parts_returns_refund; ?></div><span id="spare_parts_returns_refund_loader"></span><br /><div class="input-errors" id="spare_parts_returns_refund_err"></div>								
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_returns_refund->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_returns_refund->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_order_qty_min->getLabel();  if($this->SparePartsForm->spare_parts_order_qty_min->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_order_qty_min; ?><br /><div class="input-errors" id="spare_parts_order_qty_min_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_order_qty_min->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_order_qty_min->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_origin->getLabel();  if($this->SparePartsForm->spare_parts_origin->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                        </div>
                                        <div class="form-field-container">  
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_origin;  ?><br /><div class="input-errors" id="spare_parts_origin_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_origin->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_origin->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>	
                                            <?php endif; ?>
                                        </div>								
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_mechine_type->getLabel();  if($this->SparePartsForm->spare_parts_mechine_type->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">   
                                            <div class="form-field">
                                                <div class="left-float"><?php echo $this->SparePartsForm->spare_parts_mechine_type; ?></div><br /><div class="input-errors" id="spare_parts_mechine_type_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_mechine_type->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_mechine_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_brand_name->getLabel();  if($this->SparePartsForm->spare_parts_brand_name->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                         </div> 
                                        <div class="form-field-container">   
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_brand_name; ?><br /><div class="input-errors" id="spare_parts_brand_name_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_brand_name->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_brand_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div> 
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_material->getLabel();  if($this->SparePartsForm->spare_parts_material->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_material; ?><br /><div class="input-errors" id="spare_parts_material_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_material->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_material->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div> 
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_type->getLabel();  if($this->SparePartsForm->spare_parts_type->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_type; ?><br /><div class="input-errors" id="spare_parts_type_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_type->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>  
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_protection_guarantee->getLabel();  if($this->SparePartsForm->spare_parts_protection_guarantee->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->spare_parts_protection_guarantee; ?><br /><div class="input-errors" id="spare_parts_protection_guarantee_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->spare_parts_protection_guarantee->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_protection_guarantee->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div> 
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_specifications->getLabel();  if($this->SparePartsForm->spare_parts_specifications->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <div class="editor"><?php echo $this->SparePartsForm->spare_parts_specifications; ?><br /><div class="input-errors" id="spare_parts_specifications_err"></div></div>
                                            </div>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_specifications->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span id="loaderLink2"><a href="javascript:void(0);" onClick="loadTinyMCE('spare_parts_specifications',2);"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif"  border="0" title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" ></a></span>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->spare_parts_terms_condition->getLabel();  if($this->SparePartsForm->spare_parts_terms_condition->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <div class="editor"><?php echo $this->SparePartsForm->spare_parts_terms_condition; ?><br /><div class="input-errors" id="spare_parts_terms_condition_err"></div></div>
                                            </div>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_terms_condition->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <span id="loaderLink3"><a href="javascript:void(0);" onClick="loadTinyMCE('spare_parts_terms_condition',3);"><img src="application/modules/Administrator/layouts/scripts/images/common/editors.gif"  border="0" title="<?php echo $this->translator->translator('common_editor_open'); ?>" alt="<?php echo $this->translator->translator('common_editor_open'); ?>" ></a></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                        
                        <div id="tabs-2">
                            <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('autos_page_page_image'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class">
                                            <?php echo $this->SparePartsForm->spare_parts_image->getLabel();  if($this->SparePartsForm->spare_parts_image->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                        </div>
                                    </div> 
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <?php	
                                                if($this->auth->getIdentity()->access_file_image_manager == '1')
                                                {
                                            ?>
                                            <div class="upload-img">
                                                <span class="button  ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="spare_parts_image"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                            </div>										
                                            <?php echo $this->SparePartsForm->spare_parts_image; ?>
                                            <div class="input-errors" id="spare_parts_image_err"></div><div class="input-errors" id="spare_parts_image_primary_err"></div>
                                            
                                            <?php
                                                }
                                                else
                                                {
                                            ?>
                                            <script type="text/javascript">
                                            $(function(){
                                                /**************************FILE UPLOAD START******************************/																					
                                                dynamicUploader("spare_parts_image_upload", "spare_parts_image", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", true);
                                                /**************************FILE UPLOAD END*********************************/
                                            });
                                            </script>
                                            <div class="upload-img">
                                                <div id="spare_parts_image_block"><input type="file" name="spare_parts_image_upload" id="spare_parts_image_upload" /><?php echo $this->SparePartsForm->spare_parts_image; ?></div>
                                            </div>
                                            <div class="input-errors" id="spare_parts_image_err"></div><div class="input-errors" id="spare_parts_image_primary_err"></div>
                                            <?php
                                                }
                                            ?>
                                        </div>
                                        <?php if($this->SparePartsForm->spare_parts_image->getAttrib('title')) : ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->spare_parts_image->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <?php endif; ?>
                                    </div>
                                    
                                    <div class="form-label-container">
                                        <div class="label_class">&nbsp;</div>
                                    </div> 
                                    <div class="form-field-container">
                                        <div class="form-field">&nbsp;
                                            <span id="selected_file_spare_parts_image"><?php echo $assign_image; ?></span>
                                        </div>                                   
                                    </div>                                                   
                                    
                                </div>
                            </fieldset>
                            
                            <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('autos_spare_part_page_autos_id'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                <div>
                                    <div class="form-label-container">
                                        <div class="label_class">
                                            <?php echo $this->SparePartsForm->autos_id->getLabel();  if($this->SparePartsForm->autos_id->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                        </div>
                                    </div> 
                                    <div class="form-field-container">
                                        <div class="form-field">
                                            <?php  echo $this->SparePartsForm->autos_id; ?><br /><div class="input-errors" id="autos_id_err"></div>
                                        </div>
                                        <?php if($this->SparePartsForm->autos_id->getAttrib('title')) : ?>
                                        <div class="form-field-info">
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->autos_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                        </div>
                                        <?php endif; ?>
                                    </div>                               
                                </div>
                            </fieldset>
                            
                            <fieldset class="fieldset">
                                    <legend class="legend"><?php echo $this->translator->translator('autos_page_page_meta'); ?></legend>
                                    <span class="top-go right-float"><a href="#topGo"><img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                    <div>
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->meta_title->getLabel();  if($this->SparePartsForm->meta_title->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->meta_title; ?><br /><div class="input-errors" id="meta_title_err"></div>
                                            </div>
                                            <?php if($this->SparePartsForm->meta_title->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->meta_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->meta_keywords->getLabel();  if($this->SparePartsForm->meta_keywords->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">
                                            <div class="form-field">
                                                <?php  echo $this->SparePartsForm->meta_keywords;  ?><br /><div class="input-errors" id="meta_keywords_err"></div>	
                                            </div>
                                            <?php if($this->SparePartsForm->meta_keywords->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->meta_keywords->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                        
                                        <div class="form-label-container">
                                            <div class="label_class">
                                                <?php echo $this->SparePartsForm->meta_desc->getLabel();  if($this->SparePartsForm->meta_desc->isRequired()){ ?><span class="star_class">*</span><?php } ?>
                                            </div>
                                        </div> 
                                        <div class="form-field-container">    
                                            <div class="form-field">
                                                <?php echo $this->SparePartsForm->meta_desc; ?><br /><div class="input-errors" id="meta_desc_err"></div>								
                                            </div>
                                            <?php if($this->SparePartsForm->meta_desc->getAttrib('title')) : ?>
                                            <div class="form-field-info">
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->SparePartsForm->meta_desc->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
     	<div class="clear">&nbsp;</div>
        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Autos','controller' => 'members', 'action'     => 'listspare' ), $list_page_route,    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="edit_spare_parts_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
        </div>
    </div>
</article>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('autos_spare_part_page_edit_page_name')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>

<div id="upload-form" title="<?php echo $this->translator->translator('autos_page_page_dialog'); ?>">
    <div>
        <form id="popupForm" target="i-upload-form" method="post" action="" >
            <input type="hidden" name="table_name" value="autos_group"/>
            <input type="hidden" name="primary_id_field" value="id"/>
            <input type="hidden" name="primary_id_field_value" value="<?php echo ($this->first_group_id) ? $this->first_group_id : ''; ?>"/>   
            <input type="hidden" name="primary_file_field" value=""/> 
           	<input type="hidden" name="file_content"  value=""/>       
            <input type="hidden" name="file_path_field" value=""/>
            <input type="hidden" name="file_extension_field" value="file_type"/>
            <input type="hidden" name="file_max_size_field" value="file_size_max"/>
    	</form>
        <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>        
    </div>
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('autos_page_page_insert'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
</div>