<?php
class autos_home_banner_search
{
	protected	$_group = 1;
	protected	$_active =	1;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_translator;
	protected	$_view;
	protected	$postValue;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;	
		$this->_translator = Zend_Registry::get('translator');	
		$frontController = Zend_Controller_Front::getInstance();
		$this->postValue = $frontController->getRequest()->getPost();
	}
	
	public function class_body()
	{	
		$version = Zend_Registry::get('version');  
		
		$autos_db = new Autos_Model_DbTable_Autos();
		$brand_db = new Autos_Model_DbTable_Brand();
		$category_db = new Autos_Model_DbTable_Category();
		$global_conf = Zend_Registry::get('global_conf');
		$currency = new Zend_Currency($global_conf['default_locale']);
		
		$mileage_info = $autos_db->getMileage();
		$brand_info = $brand_db->getAllBrand();	
		
		$category_info = $category_db->getOptions();
		
		if($this->postValue['brand_id']  && $this->postValue['autos_model_name'])
		{ 	
			$model_info = $autos_db->getOptionsByCategory(null, $this->postValue['brand_id']);
		}
		$price_info = $autos_db->getPrice('ASC');
		$price_info_max = $autos_db->getPrice('DESC');
		$fuel_info = $autos_db->getFuelType();
		$ExteriorColor = $autos_db->getExteriorColor();
		$doorsInfo = $autos_db->getDoors();
		$bodystyle_info = $autos_db->getBodyStyle();
		$driveInfo = $autos_db->getDriveType();
		$engine_info = $autos_db->getEngineSize();
		$transmissionInfo = $autos_db->getTransmission();	
		
		$add_url =  $this->_view->url(array('module'=> 'Autos','controller'=>'members', 'action'=>'add'), 'Members-Auto-Add/*', true);

?>
<script type="text/javascript">
$(function() {
	autoSuggestion('post_code_simple_box', "<?php echo $this->_view->url( array('module'=> 'Autos', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['autos_primary_image', 'autos_image', 'autos_model_name', 'post_code', 'owner_name', 'autos_postcode', 'autos_price', 'autos_location'], 'data/frontImages/autos/autos_image', 2);				
	$('a.searchButton').click(function() {	
		$('#formBlockSearch').submit();
	});
		
	
	$('#brand_id_block').change(function() {	
		if($('#brand_id_block option:selected').val() == 'any' || $('#brand_id_block option:selected').val() =='')
		{				
			$('#autos_model_name_block').html('<option value="any"><?php echo $this->_translator->translator('autos_block_advanced_search_label_model', '', '', $this->_front_template['theme_folder']); ?></option>');
		}
		else
		{	
			$.ajax({
				  url: "<?php echo $this->_view->url( array('module' =>'Autos','controller' => 'frontend', 'action'     => 'models' ), 'adminrout',    true) ?>",
				  type: 'POST',
				  data: { brand_id: $('#brand_id_block option:selected').val() },
				  beforeSend: function(){						
							$('#autos_model_name_block').html('<option value="any"><?php echo $this->_translator->translator('common_loading_language'); ?></option>');							
						 },
				  success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					var option = '<option value="any"><?php echo $this->_translator->translator('autos_block_advanced_search_label_model', '', '', $this->_front_template['theme_folder']); ?></option>';				
					if(json_arr.status == 'ok')
					{
						for(var i = 0;i<json_arr.models.length;i++)
						{
							option += '<option value="'+json_arr.models[i].autos_model_name_raw+'" >'+commonStripslashes(json_arr.models[i].autos_model_name)+'</option>';
						}
						$('#autos_model_name_block').html(option);
					}
					else
					{
						$('#autos_model_name_block').html('<option value="any">'+json_arr.msg+'</option>');
					}						
				  }
			});
		}
	});
	
	/*$('#category_id_block').change(function() {	
		if($('#category_id_block option:selected').val() == 'any' || $('#category_id_block option:selected').val() =='')
		{				
			$('#autos_model_name_block').html('<option value="any"><?php echo $this->_translator->translator('autos_block_advanced_search_label_model', '', '', $this->_front_template['theme_folder']); ?></option>');
		}
		else
		{	
			$.ajax({
				  url: "<?php echo $this->_view->url( array('module' =>'Autos','controller' => 'frontend', 'action'     => 'models' ), 'adminrout',    true) ?>",
				  type: 'POST',
				  data: { category_id: $('#category_id_block option:selected').val(), brand_id: $('#brand_id_block option:selected').val() },
				  beforeSend: function(){						
							$('#autos_model_name_block').html('<option value="any"><?php echo $this->_translator->translator("common_loading_language", '', '', $this->_front_template['theme_folder']); ?></option>');								
						 },
				  success: function(response){
					//alert(response);
					var json_arr = eval("("+response+")");
					var option = '<option value="any"><?php echo $this->_translator->translator('autos_block_advanced_search_label_model', '', '', $this->_front_template['theme_folder']); ?></option>';				
					if(json_arr.status == 'ok')
					{
						for(var i = 0;i<json_arr.models.length;i++)
						{
							option += '<option value="'+json_arr.models[i].autos_model_name_raw+'" >'+stripslashes(json_arr.models[i].autos_model_name)+'</option>';
						}
						$('#autos_model_name_block').html(option);
					}
					else
					{
						$('#autos_model_name_block').html('<option value="any">'+json_arr.msg+'</option>');
					}						
				  }
			});
		}
	});*/
});
</script>
    
<form name="formBlockSearch" id="formBlockSearch" method="post" action="<?php echo $this->_view->url( array('module' => 'Autos', 'controller' => 'search', 'action' => 'search', 'block_search' => 'search' ), 'Search-Autos-List/*',    true); ?>">
	<div class="block-search">
    	<div class="block-content">
        	<div class="type">
   				<h2><?php echo $this->_translator->translator('autos_search_title', '', '', $this->_front_template['theme_folder']) ?></h2>
       			&nbsp; <input type="radio" name="autos_type" id="autos_type" value="1" /><span><?php echo $this->_translator->translator('autos_new', '', '', $this->_front_template['theme_folder']) ?></span>&nbsp; <input type="radio" name="autos_type" id="autos_type" value="2" /><span><?php echo $this->_translator->translator('autos_used', '', '', $this->_front_template['theme_folder']) ?></span>
			</div>
            
            <div class="field-container">
           		
                <select name="brand_id" id="brand_id_block">
                    <option value="any"><?php echo $this->_translator->translator('autos_block_simple_search_label_make', '', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
                     if($brand_info)
					 { 
                        foreach($brand_info as $key=>$value)
                        {							
                            $selected = ($this->postValue['brand_id'] == $key) ? ' selected="selected" ' : '';
                    ?>
                        	<option value="<?php echo $key; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value); ?></option>
                    <?php
                        }
					 }
                    ?>
              	</select>
                
            	
                
                <select name="autos_model_name" id="autos_model_name_block">
                    <option value=""><?php echo $this->_translator->translator('autos_block_simple_search_label_model', '', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
                     if($this->postValue['brand_id'] && $this->postValue['autos_model_name'] && $model_info)
                     {  
					 	if($model_info)
					   	{				    
							foreach($model_info as $key=>$value)
							{
								$selected = (trim(stripslashes($this->postValue['autos_model_name'])) == $value['autos_model_name']) ? ' selected="selected" ' : '';
					?>
								<option value="<?php echo $value['autos_model_name']; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value['autos_model_name']); ?></option>
					<?php
							}
						}
                     }
                    ?>
            	</select>
                
                <select name="category_id_arr[]" id="category_id_block">
                	<option value="any"><?php echo $this->_translator->translator('autos_category', '', '', $this->_front_template['theme_folder']); ?></option>
					<?php					  
					   	if($category_info)
					   	{
                            foreach($category_info as $key=>$value)
                            {							
                                $selected = ($this->postValue['category_id'] == $value['id']) ? ' selected="selected" ' : '';
                    ?>
                   				<option value="<?php echo $value['id']; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value['category_name']); ?></option>
					<?php
                            }
						}                      
                    ?>
          		</select>
                
                <select name="autos_price-gte" id="autos_price-gte" class="small">                            
                    <option value=""><?php echo $this->_translator->translator('autos_block_simple_search_label_price_min', '', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
						if($price_info)
						{						
							foreach($price_info as $key=>$value)
							{
								$selected = ($this->postValue['autos_price-gte'] == $value['autos_price']) ? ' selected="selected" ' : '';
					?>
								<option value="<?php echo $value['autos_price']; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value['autos_price']).' '.$currency->getSymbol(); ?></option>
					<?php
							}
						}
                    ?>
              	</select>
                  
                <select name="autos_price-lte" id="autos_price-lte" class="small">
                    <option value=""><?php echo $this->_translator->translator('autos_block_simple_search_label_price_max', '', '', $this->_front_template['theme_folder']); ?></option>
                    <?php
					if($price_info_max)
					{						
                        foreach($price_info_max as $key=>$value)
                        {
                            $selected = ($this->postValue['autos_price-lte'] == $value['autos_price']) ? ' selected="selected" ' : '';
                    ?>
                        	<option value="<?php echo $value['autos_price']; ?>"<?php echo $selected; ?>><?php echo $this->_view->escape($value['autos_price']).' '.$currency->getSymbol(); ?></option>
                    <?php
                        }
					}
                    ?>
               	</select>
                
                <input name="post_code" type="text" id="post_code_simple_box" placeholder="<?php echo $this->_translator->translator('autos_block_simple_search_postcode_value', '', '', $this->_front_template['theme_folder']); ?>" value="" class="input-text field-postcode">
                <div class="clear">        
                    <div class="clr form-button-container">
                        <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="searchButton"><span class="icon search"><?php echo $this->_translator->translator('autos_block_simple_search_label_btn','','', $this->_front_template['theme_folder']); ?></span></a></span><br />
                    </div>
                </div>
                
                <a href="Search-Autos-List"><?php echo $this->_translator->translator('autos_block_simple_search_link_advance_search', '', '', $this->_front_template['theme_folder']); ?></a>
          	</div>
		</div>
	</div>
</form>

<?php
	}
}
	
	try
	{
		$simple_search_class = new autos_home_banner_search($this);
		$simple_search_class->class_body();
	}
	catch(Exception $e)
	{
		echo $e->getMessage();
	}	
?>