<?php
class autos_home_sidebar_recent
{
	protected	$_group = 1;
	protected	$_limit = 3;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	protected	$_business_type_db;
	protected	$_currency;
	protected	$_cat_Info;
	protected	$_mem_db;
	protected	$_country_db;
	protected	$_area_db;
	protected	$_group_db;
	protected	$translator;
	protected	$shopping_cart_enable;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->translator  = Zend_Registry::get('translator');
		
		//DD Class
		$global_conf 				= Zend_Registry::get('global_conf');
		$this->_currency 			= new Zend_Currency($global_conf['default_locale']);
		$this->_business_type_db 	= new Autos_Model_DbTable_BusinessType();
		$this->_cat_Info 			= new Autos_Model_DbTable_Category();
		$this->_area_db	 			= new Autos_Model_DbTable_Area();
		$this->_mem_db 				= new Members_Model_DbTable_MemberList();
		$this->_country_db 			= new Autos_Model_DbTable_Country();
		$this->_group_db 			= new Autos_Model_DbTable_AutosGroup();
		
		$preferences_db 			= new Autos_Model_DbTable_Preferences();
		$preferences_data 			= $preferences_db->getOptions();
		$this->shopping_cart_enable = (($global_conf['payment_system'] == 'On') && ($global_conf['marchent_payment_system'] == 'On') &&  ($preferences_data['eCommerce'] == 'YES' && $preferences_data['eCommerce_autos'] == 'YES')) ? true : false;
	}
	
	public function truncate($phrase, $start_words, $max_words, $char = false, $charset = 'UTF-8')
	{
		if($char)
		{
			if(mb_strlen($phrase, $charset) > $length) {
				  $dot = (strlen($phrase) > ($max_words - $start_words)) ? '...' : '';
				  $phrase = mb_substr($phrase, $start_words, $max_words, $charset) . $dot;
				}
		}
		else
		{
		   $phrase_array = explode(' ',$phrase);
		   if(count($phrase_array) > $max_words && $max_words > 0)
			  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
		}
	   return $phrase;
	}
	
	public function class_body()
	{
			$groupInfo	=	$this->_group_db->getGroupName($this->_group);
			$this->_limit = $groupInfo['latest_file_num_per_page'];
			$select = $this->_DBconn->select()
						->from(array('pp' => Zend_Registry::get('dbPrefix').'autos_page'), array('*'))
						->where('pp.active = ?', '1')
						->where('pp.group_id = ?', $this->_group)
						->order("pp.".$groupInfo['latest_file_sort']." ".$groupInfo['latest_file_order'])
						->joinLeft(array('ct' => Zend_Registry::get('dbPrefix').'cities'), 'pp.area_id = ct.city_id', array('city' => 'ct.city'))
						->limit($this->_limit);
			$autos_info =  $select->query()->fetchAll();
			$maximum_stars_digit = $this->translator->translator('maximum_stars_digit', '', '', $this->_front_template['theme_folder']);	
?>
<script type="text/javascript">	
$(function() {
	$('a.toggle_recent_pro').click(function() {
		var self = this;
		$('#recent_pro_list').slideToggle(500,function () {
			var src = $(self).children("img").attr('src');
			var input = (src == 'application/layouts/scripts/<?php echo $this->_front_template["theme_folder"]; ?>/images/round_arrow_down.gif') ? 'application/layouts/scripts/<?php echo $this->_front_template["theme_folder"]; ?>/images/round_arrow.gif' : 'application/layouts/scripts/<?php echo $this->_front_template["theme_folder"]; ?>/images/round_arrow_down.gif';
			$(self).children("img").attr('src',input);
		});
		return false;
	  });			
});
</script>
		
<div class="block block-recent">
    <div class="block-heading">
        <div class="symbol"><?php echo $this->translator->translator('autos_recently_added','','', $this->_front_template['theme_folder']); ?></div>
    </div>
      
    <div class="block-body">
         <?php
		 if($autos_info)
		 {
           foreach($autos_info as $key => $entry)
           {
                $autos_image_val_arr = explode(',',$entry['autos_image']);
                $autos_image_no = (!empty($autos_image_val_arr[0])) ? count($autos_image_val_arr) : '0';
                if($this->_view->escape($entry['autos_primary_image']))
                { 
                    $thumb_image = 'data/frontImages/autos/autos_image/'.$this->_view->escape($entry['autos_primary_image']); 
                }
                else
                { 
                    if($this->_view->escape($entry['autos_image']))
                    {					
                        $thumb_image = 'data/frontImages/autos/autos_image/'.$this->_view->escape($autos_image_val_arr[0]); 
                    }
                    else
                    {
                        $thumb_image = 'application/layouts/scripts/'.$this->_front_template['theme_folder'].'/images/mod_autos_img/no_image.png'; 
                    }		
                }
                if($groupInfo['file_thumb_width'] && $groupInfo['file_thumb_resize_func'] != 'resizeToHeight')
                { 
                    $width = 'width="'.$this->_view->escape($groupInfo['file_thumb_width']).'"'; 
                }
                else
                {
                    $width = '';
                } 
                if($groupInfo['file_thumb_height'] && $groupInfo['file_thumb_resize_func'] != 'resizeToWidth')
                { 
                    $height = 'height="'.$this->_view->escape($groupInfo['file_thumb_height']).'"'; 
                } 
                else
                {
                    $height = '';
                }
			   $cart_array = array(
											'id'  							=>	$entry['id'],
											'price' 						=>	$entry['autos_price'] ,
											'name'  						=>	$entry['autos_model_name'] ,
											'primary_file_field_format'  	=>	$thumb_image,
											'table_name'  					=>	'autos_page'					
							);
		?>
				<script>
					$(document).ready(function() {
						try{ 
							var item_array = <?php echo Zend_Json_Encoder::encode($cart_array); ?>;		
							var indexCartModel = kendo.observable({  			
								addToCart: function(e) {					
									$.each(item_array, function(key, value){
											e.data[key] = value;
										});						
									cart.add(e.data);
								}
							});
							kendo.bind($("#productlist-recent-cart-info-<?php echo $entry['id']; ?>"), indexCartModel); 
						}catch(e){};
					});
				</script>

            <div class="block-content block-recent">
                <div class="block-title"><a href="<?php echo $this->_view->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->_view->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" title="<?php echo $this->_view->escape($entry['autos_model_name']); ?>" link="" class="preview"><?php echo $this->truncate($this->_view->escape( $entry['autos_model_name']), 0, 30, true); ?></a></div>
                <div class="rating">
                   <?php
                        for($i = 1; $i < $maximum_stars_digit; $i++)
                        {
                            $autos_stars = ($i <= $this->_view->escape($entry['stars'])) ? '<img src="application/layouts/scripts/'.$this->_front_template['theme_folder'].'/images/mod_autos_img/star-small-active.png" border="0"/>' : '<img src="application/layouts/scripts/'.$this->_front_template['theme_folder'].'/images/mod_autos_img/star-small-inactive.png" border="0"/>';
                            echo $autos_stars.'&nbsp;';
                        }
                    ?>
              	</div>
                <div class="details"><?php echo $this->truncate($this->_view->escape( strip_tags($entry['autos_desc'])), 0, 60, true); ?></div>
                <div class="img-wrapper">
                	<a href="<?php echo $this->_view->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->_view->escape($entry['autos_model_title']) ),'Autos-details/:autos_model_title',true); ?>" title="<?php echo $this->_view->escape($entry['autos_model_name']); ?>" link="<?php echo $thumb_image; ?>" class="preview" width="250"><img src="<?php echo $thumb_image; ?>" height="80" border="0" class="thumb" /></a>
                    <div class="photo-count-container">
              			<div class="photo-count"><a href="<?php echo $this->_view->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'details','autos_model_title' => $this->_view->escape($entry['autos_model_title']), 'tab' => '1' ),'Autos-details/:autos_model_title/:tab',true); ?>"><?php echo $this->translator->translator('autos_front_page_block_photo_no', $autos_image_no, '', $this->_front_template['theme_folder']); ?></a></div>
                    </div>
                </div>
                <span class="price"><?php echo $this->translator->translator('autos_front_page_block_price', '', '', $this->_front_template['theme_folder']).' '.$this->_currency->getSymbol() . number_format($this->_view->price($entry['autos_price'])); ?></span>
                <br>
                <?php if($this->shopping_cart_enable === true){ ?><div class="details"><span class="products-book-btn" id="productlist-recent-cart-info-<?php echo $entry['id']; ?>"><a  href="javascript:void(0)" data-bind="click: addToCart"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo html_entity_decode($this->translator->translator('autos_front_page_add_to_cart', '', 'Autos'), ENT_QUOTES, "UTF-8"); ?></a></span></div><?php } ?>
            </div>
            <div class="seperator"></div>
		<?php
       		}
		 }
       	?>
   	</div>     
</div>
            
<?php
	}
}


try
{
	$autos_home_sidebar_recent_class = new autos_home_sidebar_recent($this);
	$autos_home_sidebar_recent_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>
