<?php
class autos_home_content_brand
{
	protected	$_group = 1;
	protected	$_limit = 25;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_view;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');			
		$selectBrand = $this->_DBconn->select()
						->from(array('ap' => Zend_Registry::get('dbPrefix').'autos_page'), array('id' => 'ap.id', 'brand_id' => 'ap.brand_id', 'autos_model_name' => 'ap.autos_model_name' , 'num' => 'COUNT(*)'))					   						   
					   	->order('br.brand_name ASC')
						->joinLeft(array('br' => Zend_Registry::get('dbPrefix').'autos_brand'), 'ap.brand_id = br.id', array('brand_name' => 'br.brand_name'))
					   	->group('ap.brand_id')
						->where('ap.group_id = ?',$this->_group)
					   	->limit($this->_limit);
		
		$autos_info =  $selectBrand->query()->fetchAll();	
?>

<div class="block">
	<div class="block-heading">
		<div class="symbol"><?php echo $translator->translator('autos_brand_title','','', $this->_front_template['theme_folder']); ?></div>
	</div>
    
    <div class="block-body">
        <div class="list">
            <ul>
                <?php
                    if($autos_info)
                    {
                        foreach($autos_info as $key => $entry)
                        {
                ?>
                            <li><a  href="<?php echo $this->_view->url(array('module' => 'Autos','controller' =>'frontend', 'action' => 'brand','brand_id' => $this->_view->escape($entry['brand_id']) ),'Autos-Brand/:brand_id',true); ?>" title="<?php echo $this->_view->escape($entry['brand_name']).' ('.$this->_view->escape($entry['num']).')'; ?>" link="" class="preview"><?php echo $this->_view->escape($entry['brand_name']); ?> (<?php echo $this->_view->escape($entry['num']); ?>)</a></li>
                <?php
                            if(($key + 1) % 5 == 0)
                            {
                                echo '</ul></div><div class="list"><ul>';
                            }
                        }
                    }
                ?>                        
            </ul>	
        </div>
    </div>
</div>
                  
<?php
	}
}
try
{
	$autos_home_content_brand_class = new autos_home_content_brand($this);
	$autos_home_content_brand_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>