<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
?>
<script type="text/javascript">
$(document).ready(function() {
	$('input.search_field_cs').click(function(){
		var newVal = ($(this).val() == '<?php echo  html_entity_decode($translator->translator("block_search_text",'', '', $front_template['theme_folder']), ENT_QUOTES, "UTF-8"); ?>')? '' : $(this).val();
		$(this).val(newVal);
	});
	$('input.search_field_cs').blur(function(){
		var newVal = ($(this).val() == '')? '<?php echo html_entity_decode($translator->translator("block_search_text",'', '', $front_template['theme_folder']), ENT_QUOTES, "UTF-8"); ?>' : $(this).val();
		$(this).val(newVal);
	});
});
</script>

<form id="form1" name="form1" method="post" action="<?php echo $this->url(array('module' => 'Search','controller' => 'search','action' => 'list'),'Search',true); ?>" >
<div class="block-mini-search">
    <div id="search-btn">
    	<input type="submit" name="Submit" value="<?php echo $translator->translator('block_search_btn','', '', $front_template['theme_folder']); ?>" />
    </div>
    
    <div class="icon">
    	<input type="text" name="search_field" id="search_field" class="search_field_cs" value="<?php echo $translator->translator('block_search_text','', '', $front_template['theme_folder']); ?>" />
    </div>
</div>
</form>