.ac-container-sidebar{
	/*width: 400px;*/
	margin: 10px auto 0 auto;
}

.ac-container-sidebar > div > label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #6A6A6A;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 25px;
	font-size: 14px;
	background-image: url(../../images/list-arrow.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: #ffffff;
	/*background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );*/
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container-sidebar > div > label:hover{
	background-color: #F7F7F7;
}
.ac-container-sidebar input:checked + label,
.ac-container-sidebar input:checked + label:hover{
	background-color: #B0DEFF;
	background-image: url(../../images/arrow-down.gif);
	background-repeat: no-repeat;
	background-position: 8px center;
	color: #006699;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container-sidebar label:hover:after,
.ac-container-sidebar input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	/*background: transparent url(../images/arrow_down.png) no-repeat center center;	*/
}
.ac-container-sidebar input:checked + label:hover:after{
	/*background-image: url(../images/arrow_up.png);*/
}

.ac-container-sidebar > div > input[type="checkbox"],
.ac-container-sidebar > div > input[type="radio"]{
	display: none;
	margin:0;
}

.ac-container-sidebar > div > .checkbox input[type="checkbox"],
.ac-container-sidebar > div > .radio input[type="radio"],
.ac-container-sidebar > div > .checkbox,
.ac-container-sidebar > div > .radio{
	display:inline-block;
	margin:0;
}

.ac-container-sidebar .checkbox,
.ac-container-sidebar .radio{
	padding-left:0;
}

.ac-container-sidebar .checkbox label,
.ac-container-sidebar .radio label{
	display:inline-block;
	margin-bottom:0;
}

.ac-container-sidebar article{
	background:#FFF !important;
	padding:0 10px;
	color:#777777;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

/*.ac-container-sidebar article{
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 10px 5px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}*/
.ac-container-sidebar input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container-sidebar input:checked ~ article.ac-small{
	height:100%;
}
.ac-container-sidebar input:checked ~ article.ac-medium{
	height:100%;
}
.ac-container-sidebar input:checked ~ article.ac-large{
	height:100%;
}

.ac-container-sidebar input:checked ~ article.ac-xl-large{
	height:100%;
}