.search .ac-container{
	margin: 10px auto 15px auto;
}

.search .ac-container label.ac-label{
	padding: 6px 25px;
	margin-bottom:2px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #333333;
	font-size:15px;
	font-weight: normal;
	line-height: 30px;
	background-color: #FFE24E;
	background-image: url(../../mobile/images/inactive-arrow.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.search .ac-container label..ac-label :hover{
}

.search .ac-container input:checked + label.ac-label{
	background: #FFF;
	background-image: url(../../mobile/images/active-arrow.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.search .ac-container label:hover:after,
.search .ac-container input:checked + label:hover:after{
}
.search .ac-container input:checked + label:hover:after{

}

.search .ac-container input:checked + label sup{
	color:#FF0 !important;
}

.search .ac-container input[type="radio"].radio-tab{
	display: none;
}
.search .ac-container article{
	background:#FFF;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.search .ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.search .ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, /*box-shadow 0.1s linear*/;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	/*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
}
.search .ac-container input:checked ~ article.ac-hotel{
	height:485px;
}

.search .ac-container input:checked ~ article.ac-flight{
	height:650px;
}

.search .ac-container input:checked ~ article.ac-vacation{
	height:600px;
}

.search .ac-container input:checked ~ article.ac-tour{
	height:590px;
}

.search .ac-container input:checked ~ article.ac-car{
	height:420px;
}

.search .ac-container input:checked ~ article.ac-todo{
	height:350px;
}

.search .ac-container input:checked ~ article.ac-find{
	height:auto;
}