/* ___________________________________________________________________________________
   
   CSS Framework for Eicra CMS Script [Modules]
   ___________________________________________________________________________________ */

@charset "utf-8";

/* Global CMS Module Style ---------------------------------------------------------- */

.mod h1{
	font-size:17px;
	font-weight:bold;
	line-height:26px;
	margin-bottom:15px;
	text-transform:uppercase;
}

.mod h4 a{
	font-size:16px;
}

.mod .date{
	color: #FF6600;
	font-size: 14px;
	font-style: italic;
}

.mod .desc{
	color: #555555;
}

.mod #slickbox ul li{
	padding: 5px 0;
}

.mod .panel{
	border-radius:0;
}

.mod .panel .panel-heading a{
	font-size:15px;
	line-height:25px;
}

.mod .panel .panel-heading h4{
	margin-bottom:0;
}

.mod .panel .panel-body{
	position:relative;
}

.mod .panel .panel-body .details{
	line-height:20px;
}

.mod .panel .panel-body .details h1{
	font-size:22px;
}

.mod .panel .panel-body .details h2{
	font-size:20px;
}

.mod .panel .panel-body .details h3{
	font-size:18px;
}

.mod .panel .label{
	unicode-bidi:embed;
}

.mod .panel.gallery img{
	margin-bottom:15px;
	border-radius:0;
	padding:8px;
}

.mod .panel-body table tr td.title{
	width:35%;
}

.mod .img-thumbnail{
	border-radius:0;
	padding:8px;
}

.mod.feedback .thumb,
.mod.news .thumb,
.mod.search .thumb,
.mod.review .thumb{
	border-radius:0;
	padding:5px;
	margin:0 10px 0 0;
	float:left;
}

.mod.contact dt{
	color: #FF7B24;
}

.mod.contact dd{
	margin-bottom:10px;
}


/* ---------------------------------------------------------------------------------- */

/* Gallery Thumb -------------------------------------------------------------------- */

.upload-img{
	float:left;
	text-align:center;
	padding:5px;
	margin:5px 15px 15px 0;
}

.upload-img.box{	
	border:1px solid #DDDDDD;
}

.upload-img.box:hover{
	background-color:#FCF8E3;
}

.upload-img span.glyphicon{
	font-size:17px;
	color:#999;
}

/* ---------------------------------------------------------------------------------- */

/* Search --------------------------------------------------------------------------- */

.mod.search .btn{
	height:34px;
}

/* ---------------------------------------------------------------------------------- */

/* Site Map ------------------------------------------------------------------------- */

.mod.sitemap ul.parent-item{
	margin:0;
	padding:0;
}

.mod.sitemap ul.parent-item li{
	background-image:url(../../images/mod_img/arrow-small.png);
	background-position:0 9px;
	background-repeat:no-repeat;
	list-style:none;
	padding:4px 0 4px 15px;
	line-height:22px;
	border-bottom:1px dotted #CCCCCC;
}

.mod.sitemap ul.parent-item li:last-child{
	border-bottom:0;
}

.mod.sitemap ul.parent-item li a{
	font-size:15px;
	text-decoration:none;
	display:block;
}

.mod.sitemap ul.parent-item li a:hover{
	text-decoration:none;
	color:#999;
}

.mod.sitemap ul.parent-item ul li a{
	color: #F29200;
}

.mod.sitemap ul.parent-item ul li ul li a{
	color: #666;
}

/* ---------------------------------------------------------------------------------- */

/* Membership Packahges ------------------------------------------------------------- */

.mod.packages .label{
	margin:6px 5px 0 0;
}

.mod.packages .price{
	color: #0099FF;
    font-size: 20px;
	font-weight:bold;
	padding:0;
}

.mod.packages .ac-container label:hover{
	background-color: #D9EDF7;
}

.mod.packages .ac-container input:checked + label,
.mod.packages .ac-container input:checked + label:hover{
	background-color: #0896FF;
}

/* ---------------------------------------------------------------------------------- */

/* Member Login --------------------------------------------------------------------- */

.mod .login-box{
	padding:10px;
	box-shadow: 0 0 5px #CCC;
	border:1px solid #D4D4D4;
}

.mod .login-box h5{
	font-size:17px;
	margin-bottom:20px;
}

.mod .login-box .input-group{
	margin-bottom:10px
}

.mod .login-box .input-group .input-group-addon{
	border-radius:0;
}

.mod .login-box .input-group input[type="text"],
.mod .login-box .input-group input[type="password"]{
	font-size:16px !important;
	height:45px;
}

.mod .login-box .captcha img{
	float:left;
	margin-right:5px;
}

.mod .login-box input[type="button"].btn{
	font-size:15px;
	padding:15px;
}

.mod .login-box #logout_box input[type="button"].btn{
	background-color:#2DCB73;
	color:#FFF;
	padding: 15px 25px;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery Module ------------------------------------------------------------------- */

.mod.gallery .gallery-container{
	border:1px solid #DDDDDD;
	padding: 15px;
	margin:0 auto 15px auto;
}

.mod.gallery .gallery-container .image-box{
	background-color:#F3F3F5;
    padding: 5px;
	margin-bottom:15px;
	min-height:210px;
}

.mod.gallery .gallery-container .image-box:hover{
	background-color:#EEEEF0;
}

.mod.gallery .gallery-container .image-box .gallery-thumb{
	vertical-align:middle;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
}

.mod.gallery .gallery-container .image-box.more{
	min-height:80px;
	margin-bottom:0;
}

.mod.gallery .gallery-container .image-box .gallery-thumb .more a{
	background: url(../../images/mod_img/right-arrow.png) no-repeat;
	width:64px;
	height:64px;
	display:block;
	margin:auto;
}

.mod.gallery .gallery-container .image-box .gallery-thumb .thumb-img{
	border:1px solid #DDDDDD;
	background:#FFF;
	padding:8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.mod.gallery .gallery-container .image-box .icon{
	width:40%;
	text-align:center;
	overflow:hidden;
	margin: 10px auto;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg{
	background: url(../../images/mod_img/preview-bg.gif) repeat-x;
	border:1px solid #BBBBBB;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg span.big-view a{
	background: url(../../images/mod_img/preview.png) no-repeat;
	width:34px;
	height:31px;
	display:inline-block;
}

.mod.gallery .gallery-container .image-box .icon .icon-bg span.img-details a{
	background: url(../../images/mod_img/img-details.png) no-repeat;
	width:34px;
	height:31px;
	display:inline-block;
}

.mod.gallery .gallery-container .info-container{
	width:70%;
	margin: 0 auto 15px auto;
	line-height:25px;
}

.mod.gallery .gallery-container .img-label{
	width:42%;
	color:#595959;
	float:left;
	clear:left;
	text-align:right;
}

.mod.gallery .gallery-container .img-value{
	width:54%;
	color:#595959;
	margin: 0 0 0 6px;
	float:left;
}

.mod.gallery .gallery-container .product-label{
	color:#595959;
}

.mod.gallery .gallery-container .product-label span{
	color:#595959;
	font-weight:bold;
}

.mod.gallery .gallery-container.gallery-details{
	padding:20px 10px;
}

.mod.gallery .gallery-container .product-details{
	color:#515151;
	margin:auto;
	padding:20px;
	background:#FFF;
	border:1px solid #E1E1E1;
	box-shadow: 1px 1px 3px #CDCDCD inset;
}

.mod.gallery .gallery-container.related{
	border:2px solid #DDDDDD;
	background:#F5F5F5;
	padding:15px;
}

.mod.gallery .related .image-box{
	border:1px solid #CCC;
	background:#FFF;
	min-height:100%;
}

.mod.gallery .related .image-box.active{
	background:#E9E9E9;
}

/* ---------------------------------------------------------------------------------- */

/* News Module ---------------------------------------------------------------------- */

.mod.news fieldset legend a:hover{
	color:#FFF;
}

.mod.news .calendar{
	background:url(../../images/mod_img/calendar.png);
	width:85px;
	height:76px;
	margin: 0 0 0 15px;
	float:right;
	position:relative;
}

.mod.news .calendar .month{
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	margin: 12px 0 0 0;
}

.mod.news .calendar h1{
	margin: 3px 0 0 24px;
}

.mod.news .calendar .year{
	font-size:11px;
	font-weight:bold;
	color:#0066CC;
	position:absolute;
	bottom:7px;
	left:44px;
}

.mod.news .news_border {
	background-color:#FFF;
	height:260px;
	overflow:auto;
	border: 1px solid #CCC;
	padding:5px;
}

.mod.news .buttondiv{
	position: absolute;
	padding: 5px;
	background-color:#FFF;
	border: 1px solid #CCC;
	border-top:none;
	top:326px !important;
}

.mod.news .news-title-scroll{
	color:#006666;
	padding: 5px 0px 5px 5px;
	margin:35px 0 20px 0;
	background-color: #F2FECD;
	border: 1px solid #AEE800;
}

.mod.news .archive .rows{
	border-bottom:1px solid #ddd;
}

.mod.news .archive span.year,
.mod.news .archive span.month{
	font-size:17px;
}

.mod.news .archive  .year_name,
.mod.news .archive .month_name{
	width:30px;
	padding:4px;
	color:#FFF;
	text-align:center;
	margin: 10px 10px  10px 0;
	cursor:pointer;
	border:1px solid #0088DD;
	background-color:#0088DD;
	display:inline-block;
}

.mod.news .archive .month_list{
	margin-left:20px;	
}

.mod.news .archive .month_list .cat_list ul li a{
	text-decoration: none;
	color: #0066FF;
	border-bottom:1px dotted #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
	display:block;
}

.mod.news .archive .month_list .cat_list ul li a:hover{
	color:#666;
	text-decoration:underline;
}

.mod.news .archive .month_list .cat_list ul li:last-child a{
	border-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Featured News Scroll ------------------------------------------------------------- */

.news_style{
	display:none;
}

.news_show{
	background-color: white;
	color:black;
	/*height:180px;*/
	font: normal 100% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	overflow: auto;	
}

.news_mark{
	background-color:white ;
	font: normal 70% "Arial", "Lucida Grande",Verdana,  Sans-Serif;
	border: 0px solid gray;
	width:90%;
	height:35px;
	color:black;
	text-align:center;
}

.news_title{
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#1E1E1E;
	border: 0px solid gray;
	padding: 5px 0px 9px 5px;
	color:black;
}

.news_show img{
	margin-left: 5px;
	margin-right: 5px;
}

/* ---------------------------------------------------------------------------------- */

/* Polls ---------------------------------------------------------------------------- */

.mod.polls h4{
	font-size:17px;
	color:#F60;
	border:1px solid #FAEAC9;
	background-color:#FCF8E0;
	padding: 10px;
}

.mod.polls .result-block{
	border:1px solid #0088DD;
	margin: 0 0 10px 0;	
}

.mod.polls .result-block h5{
	background-color:#0088DD;
	color:#FFF;
	text-align:center;
	line-height:30px;
	margin:0;	
}

.mod.polls .result-block .total{
	background-color:#0088DD;
	color:#FFF;
	line-height:20px;
}

.mod.polls .checkbox label,
.mod.polls .radio label{
	display:inline-block;
	margin-bottom:0;
}

/* ---------------------------------------------------------------------------------- */

/* Gallery & News Category Toggle Panel Start --------------------------------------- */

.cat-panel{
	background-color:#F7F7F9;
	border:1px solid #DDDDDD;
	margin-bottom:20px;
}

.cat-panel a img{
	float:left;
	margin:8px 10px 0 8px;
}

.cat-panel .toggle{
	display:block;
	padding:10px;
}

.cat-panel .toggle:hover{
	background-color:#F2DEDE;
}

.cat-panel a.toggle-link{
	font-size:17px;
	color:#CC0000;
	text-decoration:none;
}

.cat-panel a.toggle-link:hover,
.cat-panel a.toggle-link:active{
	text-decoration:none;
}

.cat-panel .well{
	width:95%;
	margin:15px auto;
	background-color:#FFF;
}

.cat-list ul{
	margin:0 0 0 0;
	padding:0;
}

.cat-list ul li{
	background-image:url(../../images/mod_img/category-list.png);
	background-repeat:no-repeat;
	background-position:5px 7px;
	list-style:none;
	margin:0;
	padding:4px 0 4px 24px;
	line-height:21px;
}

.cat-list ul li a{
	color:#0087E1;
	text-decoration:none;
	display:block;
}

.cat-list ul li a:hover{
	color:#666;
	text-decoration: underline;
}

.cat-list ul li a .count{
	color:#C00
}

/* ---------------------------------------------------------------------------------- */

/* Article -------------------------------------------------------------------------- */

.mod.article article{
	color: #555555;
	word-spacing: 1px;
	line-height:22px;
	text-align:justify;
}

.mod.article article h1{
	font-size: 20px;
	color: #6C6C6C;
	letter-spacing: normal;
}

.mod.article article h2{
	font-size:17px;
	color:#F90;
	line-height:24px;
}

/* ---------------------------------------------------------------------------------- */

/* Article Frontend Editor ---------------------------------------------------------- */

.CodeMirror,
.article-textarea{
	width: 850px;
	height:800px;
}

.article-textarea{
	height:500px;
}

/* ---------------------------------------------------------------------------------- */

/* Cost Calculator ------------------------------------------------------------------ */

.mod.calculator .block,
.mod.calculator #banner{
	margin-bottom:0;
}

.mod.calculator .block-search .k-input{
	height:30px;
	margin:0;
}

.mod.calculator .block-search .k-dropdown,
.mod.calculator .block-search .k-datetimepicker{
	width:100%;
}

.mod.calculator .block-search .k-dropdown .k-input{
	height:35px;
	line-height:32px;
}

.mod.calculator .block-search .dropdown-header .k-header{
	padding:20px;
}

.label.label-resp{
	white-space:normal;
	display:inline-block;
}

.img-thumbnail.car-img{
	margin-top:5px;
	border-radius:0;
}

.mod.calculator .invoice-container{
	width:100%;
	margin-bottom:15px;
	overflow:auto;
}

/* ---------------------------------------------------------------------------------- */

/* Form ----------------------------------------------------------------------------- */

.input-errors{
	font-style:italic;
	color:#F00;
	margin-bottom:10px;
	display:block;
}

.star_class{
	color: #FF0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.star_class.reg-star{
	color:#FF0;
}

/* ---------------------------------------------------------------------------------- */

/* Loader --------------------------------------------------------------------------- */

.ui-autocomplete-loading{ 
	background-image: url("../../images/loader/ui-anim_basic_16x16.gif");
	background-position:right center;
	background-repeat: no-repeat;
}

a span.loader{
	background-image: url("../../images/btn-loader.gif");
	width:17px;
	height:17px;
	padding:0;
	display:inline-block;
	vertical-align:middle;
}

a span.loader.blue{
	background-image: url("../../images/loader/btn-loader.gif");
	height:17px;

}

/* ---------------------------------------------------------------------------------- */

/* Error Pagge ---------------------------------------------------------------------- */

.error-page h1{
	font-weight:bold;
	font-size:40px;
	letter-spacing:-1px;
	color: #C1C1C1;
	text-align:center;
	margin-top:20px;
}

.error-page .alert .glyphicon{
	font-size:50px;
	margin-bottom:20px;
}

.error-page .well{
	word-break:break-all;
}

.error-page .well span u{
	color:#B94A48;
	text-decoration:underline;
}

/* ---------------------------------------------------------------------------------- */

/* Others --------------------------------------------------------------------------- */

.dataTables_empty{
	padding:15px;
	margin: 10px auto;
	display:block;
	background-color:#FCF8E3;
	border:1px solid #faebcc;
	color:#8a6d3b;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */

/* Bootstrap Customization ---------------------------------------------------------- */

h1,h2,h3,h4,h5,h6{
	font-family:Arial, Helvetica, sans-serif;
}

label,
dt{
	font-weight:normal;
}

.progress{
	margin-top:35px;
}

.progress-bar{
	background-color:#428bca !important;
}

button, input, optgroup, select, textarea{
	color: #555555;
	font-weight:normal;
}

.btn:hover,
.btn:active,
.btn:focus{
	outline: 0 none;
}

.well,
.btn,
.form-control{
	border-radius:0;
}

.label{
	font-size:12px;
}

/* ---------------------------------------------------------------------------------- */

/* Kendo UI Customiation ------------------------------------------------------------ */

.k-animation-container *{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.mod .k-widget *{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.k-widget.form-control{
	padding:0;
}

.k-datetimepicker{
	width:100% !important;
}

.k-state-default,
.k-input{
	border-radius:0 !important;
}

.k-dropzone{
	border:1px dashed #ddd !important;
	border-radius:0 !important;
}

.mod.details .k-events-container{
	line-height:37px !important;
}

/* ********************************************************************************** */

/* ___________________________________________________________________________________
   
   New CSS used by Developer
   ___________________________________________________________________________________ */

























/* ===================================              ====================================


/* ********************************************************************************** */



/* Member's Layout ****************************************************************** */

.member-block .block-heading{
	font-size: 13px;
	font-weight: bold;
	color: #202020;
	padding: 0px 0;
	background: #DFDFDF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #CCCCCC;
	border-bottom: 0;
	box-shadow: 0 1px 1px #FFFFFF inset;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.member-block .block-heading .symbol{
	background:url(../images/mod_img/round-arrow.png);
	background-position: 4px center;
	background-repeat:no-repeat;
	padding:11px 0 10px 35px;
}

.member-block .block-body{
	margin:0 0 15px 0;
	padding:5px;
	background-color: #FFFFFF;
	border-top:0;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom:15px;
	width:auto;
    overflow: hidden;
}

.member-block .block-body .thumb{
	background-color:#FFF;
	padding:5px;
	margin: 2px 4px 2px 0px;
	float:left;
}

.member-block .block-body .block-content{	
	margin:0 auto 5px auto;
	padding:5px;
	overflow:hidden;
}

.member-block .seperator{
	background:url(../images/dot_border.gif) repeat-x;
	width:100%;
	display:inline-block;
	padding:2px 0 0 0;
	margin:0 0 0 0;	
}

.member-block .more a {
	background: url(../images/arrow-2.gif);
	background-repeat:no-repeat;
	background-position:4px 2px;
	color:#FF6600;
	font-weight:bold;
	padding: 0 0 0 15px;
	margin:8px 0;
	float:left;
	clear:left;
}

.member-block .block-body.last{
	margin:0 0 0 0;
}

.member-block.block-news{
	float:none;
	width:100%;
}

.member-block.block-news .block-content .thumb{
	border:1px solid #DFDFDF;
}

/* ---------------------------------------------------------------------------------- */

/* Account Informations ------------------------------------------------------------- */

.block-my-account{
	border:1px solid #E6DB55;
	background-color:#FFFFE8;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:10px;
	margin:0 0 15px 0;
	overflow:hidden;
}

.block-my-account .avatar{
	float:left;
	background-color:#FFF;
	border:1px solid #dddddd;
	padding:5px;
	margin:0 10px 0 0;
}

.block-my-account .info{
	display:inline-block;
	line-height:20px;
	float:left;
}

.block-my-account .info span{
	font-weight: bold;
	color: #333333;
}

.block-my-account strong{
	color: #06F;
}

.block-my-account .calendar{
	background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/calendar.png");
	width:80px;
	height:80px;
	margin:1px 0 0 15px;
	text-align:center;
	font-size:20px;
	float:right;
	position:relative;
}

.block-my-account .calendar .month{
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	margin: 2px 0 0 0;
}

.block-my-account .calendar h1{
	margin: 2px 0 0 0;
	padding: 0 0 0 0;
	width:100%;
	color:#FFF;
	font-size: 2em;
	text-shadow: 0 1px 1px #039;
}

.block-my-account .calendar .year{
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	position:absolute;
	bottom:1px;
	left:26px;
}

/* ---------------------------------------------------------------------------------- */

/* Member Account Overview ---------------------------------------------------------- */

.block-account-overview ul li a div{
	width:75%;
	display:inline-block;
}

.block-account-overview ul li a{
	border-bottom: 1px dotted #CCCCCC;
	list-style: none;
	color:#333;
	padding: 10px 4px;
	display: block;
}

.block-account-overview ul li a:hover{
	background-color:#F8F8F8;
	color:#F60;
}

.block-account-overview ul li.last a{
	border-bottom:0;
}

.block-account-overview ul li span{
	color:#06F;
	font-size: 13px;
	float: right;
	text-align: right;
}

/* ---------------------------------------------------------------------------------- */

/* User Control Panel --------------------------------------------------------------- */

.block-control-panel .block-heading .symbol a{
	color: #4B4B4B;
	background: #C7C7C7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#C7C7C7');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#C7C7C7));
	background: -moz-linear-gradient(top, #F7F7F7, #C7C7C7);
	border: 1px solid #B2B2B2;
	text-shadow: 0 1px 1px #FFFFFF;
	box-shadow: 0 1px 1px #FFFFFF inset;
	padding: 5px 15px;
	margin: -6px 10px 0 0;
	border-radius: 4px;
	text-decoration: none;
	float: right;
}

.block-control-panel .block-heading .symbol a:hover{
	background: #DFDFDF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #C1C1C1;	
}

.block-control-panel .block-heading .symbol a .cp-icon{
	background:url(../../../../modules/Administrator/layouts/scripts/images/tools/cp-icon.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding:0 0 0 25px;
	width:16px;
	height:16px;
}

.block-control-panel fieldset {
    background: none repeat scroll 0 0 transparent;
	border:1px solid #D5D5D5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.block-control-panel fieldset legend {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-weight: bold;
    margin: 0;
    padding: 8px 5px;
	color:#0158C2;
}

.block-control-panel .tools-nav{
	float:left;
	margin:0 0 15px 8px;
}

.block-control-panel .tools-nav a{
	text-decoration:none;
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	width:100px;
	height:100px;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	color:#09C;
	float:left;
}

.block-control-panel .tools-nav a:hover{
	background-color:#F5F5F5;
	border:1px solid #AAAAAA;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	box-shadow: 0px 0px 8px #999;
	text-decoration:none;
}

.block-control-panel .tools-nav a p.tools-tip{
	vertical-align:bottom;
	display:block;
	text-align:center;
	line-height:15px;
	font-size:11px;
}

.block-control-panel .tools-nav a p.tools-tip{
	margin:68px 2px 0 2px;
}

.block-control-panel .tools-nav a div.icon{
	background-repeat:no-repeat;
	position:absolute;
	width:60px;
	height:60px;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.block-control-panel .tools-nav a:hover div.icon{
	margin:15px 0 0 27px;
}

.block-control-panel .tools-nav div.icon{
	margin:15px 0 0 27px;
}

.block-control-panel .tools-nav div.icon.user-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-add.png"); }

.block-control-panel .tools-nav div.icon.user-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-manage.png"); }

.block-control-panel .tools-nav div.icon.user-search-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-search.png"); }

.block-control-panel .tools-nav div.icon.password-change-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/password-change.png"); }

.block-control-panel .tools-nav div.icon.user-profile-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-profile.png"); }

.block-control-panel .tools-nav div.icon.user-policy-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-policy.png"); }

.block-control-panel .tools-nav div.icon.user-privilege-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-privilege.png"); }

.block-control-panel .tools-nav div.icon.pkg-palns-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/pkg-palns.png"); }

.block-control-panel .tools-nav div.icon.article-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-add.png"); }

.block-control-panel .tools-nav div.icon.article-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-manage.png"); }

.block-control-panel .tools-nav div.icon.menu-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-add.png"); }

.block-control-panel .tools-nav div.icon.menu-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-manage.png"); }

.block-control-panel .tools-nav div.icon.form-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/form-manage.png"); }

.block-control-panel .tools-nav div.icon.form-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/form-add.png"); }

.block-control-panel .tools-nav div.icon.article-link-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-link.png"); }

.block-control-panel .tools-nav div.icon.menu-link-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-link.png"); }

.block-control-panel .tools-nav div.icon.pending-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/pending.png"); }

.block-control-panel .tools-nav div.icon.api-settings-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/api-settings.png"); }

.block-control-panel .tools-nav div.icon.cat-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/category.png"); }

.block-control-panel .tools-nav div.icon.cat-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/category-add.png"); }

.block-control-panel .tools-nav div.icon.business-manage-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/business-type.png"); }

.block-control-panel .tools-nav div.icon.business-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/business-type-add.png"); }

.block-control-panel .tools-nav div.icon.photo-gallery-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/photo-gallery.png"); }

.block-control-panel .tools-nav div.icon.photo-gallery-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/photo-gallery-add.png"); }

.block-control-panel .tools-nav div.icon.news-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/news.png"); }

.block-control-panel .tools-nav div.icon.news-add-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/news-add.png"); }

.block-control-panel .tools-nav div.icon.ad-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/ad.png"); }

.block-control-panel .tools-nav div.icon.project-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/project.png"); }

.block-control-panel .tools-nav div.icon.feedback-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/feedback.png"); }

.block-control-panel .tools-nav div.icon.comment-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/comment.png"); }

.block-control-panel .tools-nav div.icon.review-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/review.png"); }

.block-control-panel .tools-nav div.icon.pools-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/poll.png"); }

.block-control-panel .tools-nav div.icon.newsletter-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/newsletter.png"); }

.block-control-panel .tools-nav div.icon.billing-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/billing.png"); }
	
.block-control-panel .tools-nav div.icon.comment-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/comment.png"); }

.block-control-panel .tools-nav div.icon.visitor-comment-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/visitor-comments.png"); }

.block-control-panel .tools-nav div.icon.geo-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/geo.png"); }

.block-control-panel .tools-nav div.icon.settings-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/settings.png"); }

.block-control-panel .tools-nav div.icon.template-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/template.png"); }

.block-control-panel .tools-nav div.icon.email-template-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/email-template.png"); }

.block-control-panel .tools-nav div.icon.contact-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/contact.png"); }

.block-control-panel .tools-nav div.icon.editor-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/editor.png"); }

.block-control-panel .tools-nav div.icon.css-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/css.png"); }

.block-control-panel .tools-nav div.icon.js-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/js.png"); }

.block-control-panel .tools-nav div.icon.language-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/language.png"); }

.block-control-panel .tools-nav div.icon.payment-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/payment.png"); }

.block-control-panel .tools-nav div.icon.database-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/database.png"); }

.block-control-panel .tools-nav div.icon.cache-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/cache.png"); }

.block-control-panel .tools-nav div.icon.log-tools{ background-image:url("../../../../modules/Administrator/layouts/scripts/images/dashboard/log.png"); }

.form-button-container{
	margin:auto;
	padding:5px 0px;
	width:98%;
	text-align:center;
}

.button-container{
	float:right;
	width:auto;
	padding:0;
	margin:8px 2px 0 0;
}

.button-container .button a,
.button-container .form-button a,
.form-field .button a{
	padding:8px 20px;
}

.button span.icon.loader{
	background-image: url("../images/loader/btn-loader.gif");
	width:17px;
	height:17px;
	display:inline-block;
	padding:0;
}

.button span.icon.loader:after{
	content:'..';
	visibility:hidden;
}

.clr{
	clear:both;
}

.editor{
	width:90%;
	float:left;
}

.editor img{
	float:left;
}

.upload-img span.main{
	color:#060;
}

.upload-img span.related{
	color:#F60;
}

/* ---------------------------------------------------------------------------------- */

/* Tree Table ----------------------------------------------------------------------- */

.treeTable tr td .expander{
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander{
  background-image: url(../../../../../js/jquery/tree/images/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander{
  background-image: url(../../../../../js/jquery/tree/images/toggle-collapse-dark.png);
}

.treeTable tr.selected, .treeTable tr.accept{
  background-color: #3875d7;
  color: #fff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander{
  background-image: url(../../../../../js/jquery/tree/images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander{
  background-image: url(../../../../../js/jquery/tree/images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging{
  color: #000;
  z-index: 1;
}

table.example span{
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}

table.example span.file{
  background-image: url(../../../../../js/jquery/tree/images/page_white_text.png);
}

table.example span.folder{
  background-image:url(../../../../../js/jquery/tree/images/folder.png);
}

/* ---------------------------------------------------------------------------------- */

/* Toggle Search Form --------------------------------------------------------------- */

.toggle-container{
	background-color:#FFFFE8;
	border:1px solid #E6DB55;
	border-radius: 5px;
	-mox-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:0 auto 10px auto;
}

.toggle-search{
	width:100%;
	display:table;
	padding:5px;
	margin:auto;
}

.toggle-search .toggle-row{
	display:table-row;
}

.toggle-search .toggle-row .toggle-label,
.toggle-search .toggle-row .toggle-field{
	display:table-cell;
	padding:5px;
	width:auto;
}

.toggle-link a{	
	font-weight:bold;
	line-height:30px;
	border:1px solid #E6DB55;
	border-radius:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding: 2px 4px 0 30px;
	margin: 0 0 10px 0;
	display:inline-block;
}

.toggle-link a.user{
	background-color:#FEFADE;
}

.toggle-link a.user-icon{
	background: #FFFFE8 url(../images/mod_img/user-search.gif) 2px center no-repeat;
}

.toggle-button-container{
	width:99%;
	margin:5px auto 15px auto;
	padding-top:15px;
	text-align:center;
	border-top:1px solid #9EC9E9;
}

.highlighted{
	background-color:#FFF5D7;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
}

/* ---------------------------------------------------------------------------------- */

/* Member Menu ---------------------------------------------------------------------- */

.block-member-menu .block-body{
	padding:0;
	border-radius: 0 0 5px 5px;
	display:inline-block;
	overflow:visible;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* ---------------------------------------------------------------------------------- */

/* IFrame Settings ------------------------------------------------------------------ */

#container.dialog-container{
	padding:5px;
}

.iframe-img-manager,
.iframe-img-upload,
.iframe-thumb-img-upload,
.iframe-container,
.iframe-article,
.iframe-php-info{
	background-color:#FFF;
	width:100%;
	height:480px;
	border:0;
	margin: 0 0 10px 0;
}

.iframe-article{
	height:460px;
}

.iframe-img-manager{
	height:355px;
}

.iframe-thumb-img-upload{
	height:455px;  
}

.iframe-php-info{
	height:900px;
}

/* ---------------------------------------------------------------------------------- */
