<div id="container">
<?php  if (!$this->allow()) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

if ($this->resource_exceeded) :
?> 

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>
    <div id="content-inner">
    	<div class="error-content">
            <div class="title">
                <h6>
                <p class="error"><?php echo $this->resource_exceeded;?></p></h6>
            </div>
    	</div>
    </div>
</div>

<?php
else :	

	echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/jquery.scrollTo.js');
	$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri();
	$image_value = $this->buyingForm->others_images->getValue();
	if($image_value)
	{
		$image_arr = explode(',',$image_value);
		foreach($image_arr as $key=>$value)
		{
			$checked = ($value == $this->buyingForm->primary_file_field->getValue()) ? ' checked="checked" ' : '';
			$img_type = ($value == $this->buyingForm->primary_file_field->getValue()) ? '<span class="main">'.$this->translator->translator('gallery_img_main', '', 'Gallery').'</span>' : '<span class="related">'.$this->translator->translator('gallery_img_related', '', 'Gallery').'</span>';
			$class_link = ($this->auth->getIdentity()->access_file_image_manager == '1') ? 'delete_image_lnk' : 'delete_uploaded_image_link';
			if($value)
			{
				$assign_image .=  '<div class="upload-img box">'.$img_type.'<br /><span><div class="thumb"><img src="data/frontImages/b2b/buying_images/'.$value.'" width="30" height="20" class="bdr" /></div><br /><a href="javascript:void(0)" class="'.$class_link.'" field_name="others_images" file_name="'.$value.'" file_path="data/frontImages/b2b/buying_images" rel="'.$value.'">'.$this->translator->translator('common_delete_title').'</a><input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '.$checked.' value="'.$value.'" title="'.$this->translator->translator('buying_images_primary').'" />&nbsp;</span></div>';
			}
		}
	}
?>

<script language="javascript">	
$(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);
	$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
});	
<?php
if($this->auth->getIdentity()->allow_to_change_ownership == '1')
{
?>
$(function() {
	$( "#user_id" ).combobox();		
});
<?php
}
?>				
var settingObj = '';						
$(document).ready(function() {
	
	 settingObj = {
						form_action : {
											form_id: 'buyingForm',
											hasTinyMCE: false,
											go_message_id		: 'topGo',
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: [
											{field_id : 'others_images', field_value: "<?php echo $this->buyingForm->others_images->getValue(); ?>" , field_type : 'val'},
											{field_id : 'selected_file_others_images', field_value: "<?php echo addslashes($assign_image); ?>" , field_type : 'html'},
											{field_id : 'category', field_value: "<?php echo $this->buyingForm->category->getValue(); ?>" , field_type : 'val'}, 
											{field_id : 'dataId', field_value: '<?php echo $this->escape($this->category_name).' ('.$this->numbers($this->buyingForm->category->getValue()).')'; ?>' , field_type : 'html'}
											],
											extra_function_for_reset: function(){
												refreshKendoTreeView($('#group_id').val(), $('#'+settingObj.form_action.category_tree.category_tree_input_field_id).val(), settingObj);
											   	var group_id = $('#group_id').val();
											   	var back_btn_link = (group_id == '') ? 'B2b/backendbuyleads/list' : 'B2b/backendbuyleads/list/group_id/'+group_id;
											   	$('a.back_btn_link').attr('href', back_btn_link);
											   	kendoComboBox(settingObj);
											},
											category_tree:{
												category_tree_id: 'categoryTree',
												category_tree_input_field_id : 'category',
												category_tree_input_html_id : 'dataId',
												category_tree_dest_url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backend', 'action'     => 'parent' ), 'adminrout',    true) ?>",
												tree_view: {
													dragAndDrop : false,
													template: "<label><input type=\"radio\" name=\"radio\" #= (item.id ==  $('input[name=\"category\"]').val())? 'checked' : '' # />#= item.text #</label>",													
													dataBound	: function(obj){
																														
																var treeView = $("#"+settingObj.form_action.category_tree.category_tree_id).data('kendoTreeView');
																var getitem = treeView.dataSource.get("<?php echo (!empty($this->category_info['id'])) ? $this->category_info['id'] : $this->numbers(0); ?>");
																if(getitem)
																{
																	var selectitem = treeView.findByUid(getitem.uid);
																	treeView.select(selectitem);
																}
													},
													dataSource :  {
														transport: {
																read: {
																	url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendcategory', 'action'     => 'group' ), 'adminrout',    true) ?>",
																	dataType: "json",
																	type: "POST",
																	data : { grp_id : $('#group_id').val(), expanded : null }, // Change Here
																	complete: function(e) {																		
																		var json = $.parseJSON(e.responseText);																								
																		if(json.status == 'ok')
																		{
																			$.each(json.TreeDataSource, function(key, arr_obj){
																				if(arr_obj['id'] == '0')
																				{																		
																					<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
																						uploadSettingsStart(json);
																					<?php } ?>																					
																				}
																			});	
																		}
																		else
																		{
																		   commonMsgDialog(settingObj, json.msg);
																		}
																	}
																}
															},
															schema: {
																data: 'TreeDataSource',
																model: {
																	id : 'id',
																	text : 'text' ,
																	hasChildren: 'hasChildren'  
																}
															}	
													}
												}
											},
											dynamic_field_generator: { has_tab : false }
									},
						calendar:	{	
										calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
										monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
										monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
										dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
										buttonText:		'calendar',
										dateFormat:		'dddd, MMMM dd, yyyy',
										dateTimeFormat:     "dddd, MMMM dd, yyyy HH:mm:ss tt",
										culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
										value: '<?php if($this->buyingForm->validity->getValue()){  echo $this->buyingForm->validity->getValue(); 
                                                                                
                                                                                } ?>'
						},
						combobox: {
							combobox_id: '#price_currency_locale',
							combobox_settings:{
									autoBind: true,
								 	dataTextField: "target_currency_name",
									dataValueField: "target_currency_id",
									optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>",
									//template: '',
									dataSource: {
												type: "json",
												schema: {
													  data:	'data_result'
												  },  
												transport: {
														read:{
															type: "POST",
							  								dataType: "json",
															url: "<?php echo $this->url( array('module'=> 'Paymentgateway', 'controller' => 'currency', 'action' => 'local' ), 'adminrout',    true); ?>"
														}
													}
									},
									value: '<?php echo $this->buyingForm->price_currency_locale->getValue();  ?>',
									change: function(e) {
											var currency_locale	= 	e.sender.element.val();
											if(currency_locale && currency_locale != null)
											{
												$.ajax({
														url: "<?php echo $this->url( array('module' => 'Paymentgateway', 'controller' => 'currency', 'action' => 'localetocurrency' ), 'adminrout',    true) ?>",
															type: 'POST',
															data: {currency_locale : currency_locale},
															beforeSend: function(){						
																		$('#price_currency').val('<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>');			
																 },
															success: function(response){
																try
																{
																	//alert(response);			
																	var json_arr = eval("("+response+")");					
																						
																	if(json_arr.status == 'ok')
																	{
																		var currency_format = 	(json_arr.data_result && json_arr.data_result.currency_short_name) ? json_arr.data_result.currency_short_name : '';	
																			if(json_arr.data_result && json_arr.data_result.currency_name)
																			{
																				currency_format += 	' - ';
																				currency_format += 	(json_arr.data_result && json_arr.data_result.currency_name) ? json_arr.data_result.currency_name : '';	
																			}
																			$('#price_currency').val(currency_format);						
																	}
																	else
																	{
																		$('#actionMessage').html(errMsgDesign(json_arr.msg));	
																		$('#price_currency').val('');																
																	}
																	
																}
																catch(error)
																{
																	var error_arr = 	[error, response];
																	var msg = commonErrMsgException(error_arr);				
																	$('#actionMessage').html(errMsgDesign(msg));
																	$('#price_currency_err').html('');
																}
															},
															error: function(xhr, status, error){															
																var msg = "Error! " + xhr.status + " " + error;
																$('#actionMessage').html(errMsgDesign(msg));
																$('#price_currency').val('');
															}
													});
											}
											else
											{
												$('#price_currency').val('');
											}
									}
							}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};

	commonKendoTreeGen(settingObj);
	kendoComboBox(settingObj)
	commonImageThumbnil();
 	deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
 	commonCalendar('validity', settingObj, true); 
	totalNavigation = $("#navigation li").length;
 	lineNum = $("#navigation li.active").length;
	dataInit('1');
	
	/**********Scrolling Tools Start****************/
	  $.easing.elasout = function(x, t, b, c, d) {
		  var s=1.70158;var p=0;var a=c;
		  if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
		  if (a < Math.abs(c)) { a=c; var s=p/4; }
		  else var s = p/(2*Math.PI) * Math.asin (c/a);
		  return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	  };
	  
	  $('#toc a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		  $.scrollTo( this.hash, 1500, { easing:'swing' });
		  $(this.hash).find('span.message').text( this.title );
		  return false;
	  });
	  
	  $('span.top-go a').click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
		  $.scrollTo( this.hash, 1500, { easing:'swing' });		
		  return false;
	  });	  
	 /**********Scrolling Tools END****************/
	
	$('a.reset_btn').click(function() {		 
	   commonResetFormFields(settingObj);	
	   commonRemoveFormError(settingObj);
	   commonImageThumbnil();
	   deleteFiles("<?php echo $this->translator->translator('gallery_img_main','', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related','', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");      
	});
	
	
/******************************************Upload Action Start************************************************/

	$("#upload-form").dialog({
		autoOpen: false,
		width: 760,
		height: 610,
		show: 'fade',			
		modal: true
	});	

	$('a.upload_btn').click(function() {
		
		var self = this;
		var src = $("#i-upload-form").attr("src");
		$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif');
		
		var group_id = $("#group_id").val();
		$('input[name="primary_id_field_value"]').val(group_id);
		
		var rel = $(self).attr('rel');		
		var file_suffix = rel;	
		var file_content = $('#'+file_suffix).val();
		
		if($('input[name="file_path_field"]').val() == ''){ $('input[name="file_path_field"]').val('file_path_'+rel) };
		$('input[name="file_content"]').val(file_content);		
		$('input[name="primary_file_field"]').val(file_suffix);		
		
		if(group_id != null && group_id != "")
		{
			$("#popupForm").attr("action", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action' => 'manager' ), 'adminrout',    true) ?>");			
			$('#upload-form').dialog('open');
			$('#popupForm').submit();
		}
		else
		{			
			var msg = "<?php echo $this->translator->translator('group_id_selected_err'); ?>";
			//$(“:input:text:visible:first”).focus();	
			$("input[id='group_id']").focus()
			commonMsgDialog(settingObj, msg);
		}
	});	
	
	$('a.select_file_btn').click(function() {		 
		
			var currentIFrame = $('#i-upload-form');
			var selected_files = currentIFrame.contents().find("input[name='selected_files']").val();
			var primary_file_field = currentIFrame.contents().find("input[name='primary_file_field']").val();
			var file_path	=	currentIFrame.contents().find("input[name='file_path']").val();
			
			var selected_files_arr = (selected_files != '') ? selected_files.split(',') : new Array();	
			if(selected_files_arr.length == '0')
			{
				var msg = '<?php echo $this->translator->translator("insert_selected_file_err"); ?>';				
				commonMsgDialog(settingObj, msg);
			}
			else
			{
				var img_code = '';
				var file_name = '';
				for(var i=0;i < selected_files_arr.length;i++)
				{
					//var vd = currentIFrame.contents().find("input.check_btn:checked:eq("+i+")").val();
					var ext = getCommonFileExtension(selected_files_arr[i]);
					var img_path = commonFilePath(file_path, selected_files_arr[i]);					
					var checked = (i == 0)? ' checked="checked" ' : '';
					var img_type = 	(i == 0) ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span>" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span>";
																
					var fileObj = { extension : '.' + ext };
					var down_link = (!isImage(fileObj)) ? '<br /><a href="'+file_path+'/'+selected_files_arr[i]+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';											
					var primary = '<input class="radio_style" type="radio" name="primary_file_field" id="primary_file_field" '+checked+' value="'+selected_files_arr[i]+'" title="<?php echo $this->translator->translator("gallery_primary", '', 'Gallery'); ?>" />';
					var del_link = '<a href="javascript:void(0)" class="delete_image_lnk" rel="'+selected_files_arr[i]+'"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></a>'+primary+down_link;
					img_code += '<div class="upload-img box">'+img_type+'<br /><span><div class="thumb"><img src="'+img_path+'" width="30" height="20" class="bdr" /></div><br />'+del_link+'&nbsp;</span></div>';
					file_name = (i == 0)? selected_files_arr[i] : file_name+','+selected_files_arr[i];					
				}			
				var file_suffix = primary_file_field;		
				$('#selected_file_'+file_suffix).html(img_code);		
				$('#'+file_suffix).val(file_name);		
				$("#i-upload-form").attr("src", 'application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif'); 						
				$("#upload-form").dialog('option','hide','explode').dialog('close');				
				deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
				commonImageThumbnil();
			}
		});
	
	$('a.close_dialog_btn').click(function() {				
		$("#i-upload-form").attr("src", ''); 
		$("#upload-form").dialog('option','hide','explode').dialog('close');			
	});

/******************************************Upload Action End****************************************************/


/*********************************** Start of Form Submission ***************************************/
	$('a.save_btn').click(function() {			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);
		formData['addtional_value'] =  $('#customRowSet :input').serialize();		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'B2b','controller' => 'backendbuyleads', 'action'     => 'edit' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){

					try
					{						
						//alert(response);			
						var json_arr = eval("("+response+")");					
						commonCloseLoaderDialog(settingObj);					
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));	
							commonGoMessage(settingObj); 																		
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
							
							openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
							commonGoMessage(settingObj);  
						}
					
					}
					catch(error)
					{
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
						commonGoMessage(settingObj); 
					}
					
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
					commonGoMessage(settingObj); 
				}
		});
				
	});

/***********************************Get News Group***************************************/
	$('select[name="group_id"]').change(function() {		
			var group_id = $('#group_id').val();			
			$("#"+settingObj.form_action.category_tree.category_tree_input_html_id).html('<?php echo $this->translator->translator("common_tree_root").'('.$this->numbers(0).')'; ?>');
			$("#"+settingObj.form_action.category_tree.category_tree_input_field_id).val('0');
			commonRemoveTabs(settingObj);
			if(group_id != null && group_id != '')
			{
				settingObj.form_action.category_tree.tree_view.dataSource.transport.read.data['grp_id'] = group_id;
				$('a.back_btn_link').attr('href','B2b/backendbuyleads/list/group_id/'+group_id);
				commonKendoTreeGen(settingObj);
			}
			else
			{	
				<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
					uploadSettingsEnd();			
				<?php } ?>	
				commonDestroyKendoTreeGen(settingObj);					
				$('a.back_btn_link').attr('href','B2b/backendbuyleads/list');
			}		
			$('#group_id_err').html('');					
		});
/*********************************** Appending More Custom Field(s) ***************************************/

	
	$('a.addmore_btn').click(function() {
		var intId = $("#customFields div").length + 1;
        var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\">");
        var fName = $(  "<input type=text class=fieldname name=key" + intId   + " id=key"+ intId +"/>");
        var fType = $(  "<input type=text class=fieldname  name=value" + intId  +" id=value" +  intId +"/>");
        var removeButton = $("<input type=button class=remove value='' /> </div>");

        removeButton.click(function() {
            $(this).parent().remove();
        });  

        fieldWrapper.append(fName);
        fieldWrapper.append(fType);
        fieldWrapper.append(removeButton);
        $("#customFields").append(fieldWrapper);
		

	 });		

/*********************************** Appending More Custom Field(s) Ends ***************************************/

});
	
	function dataInit(init_num)
	{
		$("#navigation li").each(function(index) {
			var num_id = $(this).attr("rel");
			if( init_num == num_id)
			{
				$('#tab-'+num_id).show();
			}
			else
			{
				$('#tab-'+num_id).hide();
			}
		});	
	}
	
	
/***********************************************************************UPLOAD FUNCTIONS START********************************************************/
	
	function uploadSettingsStart(json_arr)
	{
		uploadSettingsEnd();
		
		$('#others_images_block').prepend('<input type="file" name="others_images_upload" id="others_images_upload" />');	
		var thumb_setting_param = json_arr.param_fields;
		thumb_setting_param['file_path_field'] = 'file_path_buying_images';	
		var thumb_setting_info = getSettingInfo(json_arr.group_info, thumb_setting_param);							
		dynamicUploader('others_images_upload', 'others_images', thumb_setting_info, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove'), 'adminrout',    true) ?>", true);
		
		$('#others_images_err').html("");
	}
	
	function uploadSettingsEnd()
	{	
		$('#others_images_upload').parents('div.k-upload').remove();	
		$('#others_images_err').html("<?php echo $this->translator->translator("group_id_selected_err"); ?>");
	}
	
	function languageArray()
	{
		var language_array = [];
		language_array['portfolio_upload_dy_text_select'] 					= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_dy_text_select", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_cancel'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_cancel", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_dropFilesHere'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_dropFilesHere", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_remove'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_remove", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_retry'] 						= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_retry", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusFailed'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusFailed", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusUploaded'] 				= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploaded", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_statusUploading'] 			= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_statusUploading", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_upload_text_uploadSelectedFiles'] 		= "<?php echo html_entity_decode($this->translator->translator("portfolio_upload_text_uploadSelectedFiles", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>";
		language_array['portfolio_file_extension_dy_support'] 				= "<?php echo $this->translator->translator("portfolio_file_extension_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_no_ext_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_no_ext_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_extension_dy_not_supportable_ext1'] 	= "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext1", '', 'Portfolio'); ?>";
		language_array['portfolio_file_extension_dy_not_supportable_ext2']  = "<?php echo $this->translator->translator("portfolio_file_extension_dy_not_supportable_ext2", '', 'Portfolio'); ?>";
		language_array['portfolio_file_size_dy_support'] 					= "<?php echo $this->translator->translator("portfolio_file_size_dy_support", '', 'Portfolio'); ?>";
		language_array['portfolio_file_upload_err'] 						= "<?php echo $this->translator->translator("portfolio_file_upload_err", '', 'Portfolio'); ?>";
		return language_array;
	}
	
	
	function successFileDecoretion(fileObj, serverData, upload_field, upload_value_field)
	{
			var extension = fileObj.extension;
			var ext = extension.replace('.','');	
			
			var img_path = commonFilePath(serverData.file_path, fileObj.name);		
			var img_code = '<div class="thumb"><img src="'+img_path+'" title="'+fileObj.name+'" width="30" height="20" /></div>';		 
			var down_link = (!isImage(fileObj)) ? '<br /><a href="'+serverData.file_path+'/'+fileObj.name+'"><?php echo $this->translator->translator("common_download", "", "Projects"); ?></a>' : '';
			
			var checked = '';
			var primary = '&nbsp;&nbsp;&nbsp;';	
			var block = 'selected_file_'+upload_value_field;
			var img_type = '';	
			var primary_file_field_radio = '';		
			switch(upload_value_field)
			{
				case 'others_images':	
						checked = ($('#'+upload_value_field).val() == '') ? ' checked="checked" ' : '';	
						primary_file_field_radio =	 'primary_file_field';						
						img_type = 	($('#'+upload_value_field).val() == '') ? "<span class='main'><?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?></span><br />" : "<span class='related'><?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?></span><br />";				
						primary = '<input class="radio_style" type="radio" name="'+primary_file_field_radio+'" id="'+primary_file_field_radio+'" '+checked+' value="'+fileObj.name+'" title="<?php echo $this->translator->translator("buying_images_primary"); ?>" />';
					break;
			}
			
			var del_link = '<a href="javascript:void(0)" class="delete_uploaded_image_link" field_name="'+upload_value_field+'" file_name="'+fileObj.name+'" file_path="'+serverData.file_path+'"><?php echo $this->translator->translator("common_delete_title"); ?></a>'+primary +  down_link;
			
			if(serverData.multi)
			{		
				$('#'+block).append('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
				var file_val = ($('#'+upload_value_field).val() == '') ? fileObj.name :  $('#'+upload_value_field).val()+','+fileObj.name;	
			}
			else
			{
				$('#'+block).html('<div class="upload-img box">'+img_type+'<span>'+img_code+'<br />&nbsp;'+del_link+'&nbsp;</span></div>');				 
				var file_val = fileObj.name;
			}
			$('#'+upload_value_field).val(file_val);
			deleteFiles("<?php echo $this->translator->translator('gallery_img_main', '', 'Gallery'); ?>", "<?php echo $this->translator->translator('gallery_img_related', '', 'Gallery'); ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'remove' ), 'adminrout',    true) ?>", "<?php echo $this->translator->translator('common_delete_title'); ?>");	
			commonImageThumbnil();	
	}
	
	

	function addTab(tab_title,tab_content,tab_counter)
	{	
			$( "#tabs" ).append( "<div id='tabs-"+tab_counter+"'>" + tab_content + "</div>" );
			$( "<li><a href='<?php echo $tab_base_link; ?>#tabs-"+tab_counter+"' rel='tabs-"+tab_counter+"'>"+tab_title+"</a></li>" ).appendTo( "#tabs .ui-tabs-nav" );
			$( "#tabs" ).tabs( "refresh" );
				
	}
	function removeTabs()
	{	
		$.each($( "#tabs" ).find( ".ui-tabs-nav li" ), function(i, element){
			
			if($(element).children('a:first').attr('rel') != null && $(element).children('a:first').attr('rel') != '')
			{
				var panelId = $(element).children('a:first').attr('rel');
				$(this).remove();
				$( "#" + panelId ).remove();
			}
			$( "#tabs" ).tabs( "refresh" );
		});
	}
/***********************************************************************UPLOAD FUNCTIONS END********************************************************/
	function onComplete(e) {
				
	}
	
	function onCancel(e) {
		
	}
	
	function onProgress(e) {
						
	}
</script>


<div id="button_top_bar"></div>
<div class="title-container" id="topGo">
	<div class="b2b-buying-leads-edit"><h1><?php echo $this->translator->translator('members_frontend_b2b_edit_buying_lead'); ?></h1></div>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendbuyleads', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>  

<div class="content-container form-element">


	<div id="sidebar-inner">
    	<div id="nav">
    		<div class="nav-header"><div class="nav-title"><?php echo $this->translator->translator('common_category_tree'); ?></div></div>
    		<div id="categoryTree" class="nav-body treebody" >
           		&nbsp;	
            </div>
       	</div>
    </div>

        
        
	<div id="content-inner">
        <div id="actionMessage"></div>
        <form name="buyingForm" id="buyingForm" method="post">    	
            <div id="generalInfo">
                <div id="tabs">
                        <ul>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-1"><?php echo $this->translator->translator('members_control_product_form_categories'); ?></a></li>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-2"><?php echo $this->translator->translator('members_control_buying_offer_details'); ?></a></li>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-3"><?php echo $this->translator->translator('members_control_buying_offer_rfp'); ?></a></li>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-4"><?php echo $this->translator->translator('menu_members_add_buyers_contact'); ?></a></li>
                            <li><a href="<?php echo $tab_base_link; ?>#tabs-5"><?php echo $this->translator->translator('members_control_buying_preferences'); ?></a></li>
                        </ul>
                        
                        <div id="tabs-1">
                            <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('member_company_product_step1'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                <div class="form">
                                
                                                         
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->group_id->getLabel();  if($this->buyingForm->group_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <div class="left-float">
                                            <?php 										
                                            echo $this->buyingForm->group_id; 
                                            ?>
                                            </div><span id="group_id_loader"></span>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->group_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="group_id_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->category->getLabel(); if($this->buyingForm->category->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <span id="dataId">
                                                  <?php 
												  if($this->buyingForm->category->getValue() == null || $this->buyingForm->category->getValue() == '' || $this->buyingForm->category->getValue() == '0')
												  {
													  	echo $this->translator->translator("common_tree_root").' ('. $this->numbers(0) .')'; 
												  }
												  else{ 
														echo $this->escape($this->category_info['name']).' ('.$this->numbers($this->buyingForm->category->getValue()).')'; 
												  } 
                                                    ?>                                                        
                                            </span>											
											
											<?php echo $this->buyingForm->category; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->category->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="category_err"></div>
                                        </div>
                                    </div>
                                    
									<?php 			
									if($this->auth->getIdentity()->allow_to_change_ownership == '1')
										{
									?>                                        
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->user_id->getLabel(); if($this->buyingForm->user_id->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                         
                                            <?php 
                                                echo $this->buyingForm->user_id ; 											
                                            ?>
                                             
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->user_id->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="user_id_err"></div>
                                        </div>
                                    </div>
									<?php
                                        }
                                    ?>                                    
                                                                               
                                     
                                </div>     
                            </fieldset>
                        </div>
                            
                        <div id="tabs-2">   
                                <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('member_company_product_step2'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                <div class="form">
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->name->getLabel(); if($this->buyingForm->name->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->name; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="name_err"></div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->subject->getLabel(); if($this->buyingForm->subject->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->subject; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->subject->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="subject_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->keyword->getLabel(); if($this->buyingForm->keyword->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->keyword; ?> - <?php echo $this->buyingForm->keyword_1; ?> - <?php echo $this->buyingForm->keyword_2; ?> -&nbsp;<?php echo $this->buyingForm->keyword_3; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->keyword->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="keyword_err"></div>
                                            <div class="input-errors" id="keyword_1_err"></div>
                                            <div class="input-errors" id="keyword_2_err"></div>
                                            <div class="input-errors" id="keyword_3_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->primary_file_field->getLabel(); if($this->buyingForm->primary_file_field->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
    
                                        <div class="field">
                                        	<div class="left-float">
                                            <?php	
                                                if($this->auth->getIdentity()->access_file_image_manager == '1')
                                                {
                                            ?>
                                                <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="upload_btn" rel="others_images"><span class="icon upload"><?php echo $this->translator->translator('common_upload'); ?></span></a></span>
                                            <?php
                                                  }
                                                  else
                                                  {	 						
                                            ?>
                                                    <script type="text/javascript">
                                                      $(function(){
                                                          /**************************FILE UPLOAD START******************************/																					
                                                          dynamicUploader("others_images_upload", "others_images", <?php echo $this->primary_settings_json_info; ?>, languageArray(), "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'     => 'upload'), 'adminrout',    true) ?>", "<?php echo $this->url( array('module' => 'Portfolio','controller' => 'frontend', 'action'  => 'remove'), 'adminrout',    true) ?>", true);
                                                          /**************************FILE UPLOAD END*********************************/
                                                      });
                                                     </script>
                                            <?php							  
                                                  } 
                                              ?>
                                        		<div id="others_images_block"><?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?><input type="file" name="others_images_upload" id="others_images_upload" /><?php } echo $this->buyingForm->others_images ; ?> </div> 
                                            </div>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->primary_file_field->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="others_images_err"></div>
                                            <div class="input-errors" id="primary_file_field_err"></div>
                                        
                                            <div class="upload-img">
                                                <span id="selected_file_others_images"> <?php echo	$assign_image  ?></span>
                                            </div>                                            
                                        </div>                                        
                                    </div>
                                        
                                    
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->description->getLabel(); if($this->buyingForm->description->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->description; ?>   
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->description->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="description_err"></div>
                                        </div>
                                    </div>
        
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->validity->getLabel(); if($this->buyingForm->validity->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
    
											<div class="field">
                                                <?php echo $this->buyingForm->validity; ?>                                                                
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->validity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <div class="input-errors" id="validity_err"></div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                </fieldset>   
                        </div>
                        
                        <div id="tabs-3">   
                                <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('member_company_product_step4'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                <div class="form">
                                       <div class="form-row">
                                            <div class="label">
                                                <?php echo $this->buyingForm->price_currency->getLabel(); if($this->buyingForm->price_currency->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                            
                                            <div class="field">
                                                <?php echo $this->buyingForm->price_currency_locale; ?> &nbsp; &nbsp; &nbsp; <?php echo $this->buyingForm->price_currency; ?>                                                   
    
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->price_currency->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <div class="input-errors" id="price_currency_err"></div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-row">
                                            <div class="label">
                                                <?php echo $this->buyingForm->price->getLabel(); if($this->buyingForm->price->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                            
                                            <div class="field">
                                                <?php echo $this->buyingForm->price; ?> &nbsp; <?php echo $this->buyingForm->price_per_unit->getLabel(); ?> &nbsp;&nbsp; <?php echo $this->buyingForm->price_per_unit; ?>
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <div class="input-errors" id="price_currency_err"></div>
                                                <div class="input-errors" id="price_err"></div>
                                                <div class="input-errors" id="price_per_unit_err"></div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="label">
                                                <?php echo $this->buyingForm->quantity->getLabel(); if($this->buyingForm->quantity->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                            
                                            <div class="field">
                                                <?php echo $this->buyingForm->quantity; ?>   <?php echo $this->buyingForm->qty_per_unit; ?>
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->quantity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <div class="input-errors" id="quantity_err"></div>
                                                <span class="input-errors" id="qty_per_unit_err"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="label">
                                                <?php echo $this->buyingForm->specifications->getLabel(); if($this->buyingForm->specifications->isRequired()){ ?><span class="required">*</span><?php } ?>
                                            </div>
                                            
                                            <div class="field">
                                                <?php echo $this->buyingForm->specifications   ;?>  
                                                <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->specifications->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                                <div class="input-errors" id="specifications_err"></div>
                                                
                                            </div>
                                        </div>
                                
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->packaging->getLabel(); if($this->buyingForm->packaging->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->packaging; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->packaging->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="packaging_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->delivery->getLabel(); if($this->buyingForm->delivery->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field"> 
                                            <?php echo $this->buyingForm->delivery; ?> &nbsp;  &nbsp;<?php echo $this->buyingForm->delivery_leadtime; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->delivery->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="delivery_err"></div>
                                            <div class="input-errors" id="delivery_leadtime_err"></div>
                                        </div>
                                    </div>
                                    
                                     <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->buying_capacity->getLabel(); if($this->buyingForm->buying_capacity->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field"> 
                                            <?php echo $this->buyingForm->buying_capacity; ?> &nbsp;  &nbsp;<?php echo $this->buyingForm->max_buying_unit; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->buying_capacity->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="buying_capacity_err"></div>
                                            <div class="input-errors" id="max_buying_unit_err"></div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->shipping->getLabel(); if($this->buyingForm->shipping->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->shipping   ;?>  
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->shipping->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="shipping_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->shipping_price->getLabel(); if($this->buyingForm->shipping_price->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->shipping_price; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->shipping_price->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>                                        
                                            <div class="input-errors" id="shipping_price_err"></div>
                                        </div>
                                    </div>
                                     
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->payment_type->getLabel(); if($this->buyingForm->payment_type->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                             <?php 
                                                echo $this->buyingForm->payment_type ;  
                                            ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->payment_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="payment_type_err"></div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                </fieldset>           
                        </div>
                        
                        
                        <div id="tabs-4">   
                                <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('menu_members_add_buyers_contact'); ?></legend>
                                  <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                  <div class="form">
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->company_name->getLabel(); if($this->buyingForm->company_name->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->company_name  ;?> 
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->company_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <span class="input-errors" id="company_name_err"></span>                                     
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->business_type->getLabel(); if($this->buyingForm->business_type->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->business_type; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->business_type->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="business_type_err"></div>
                                        </div>
                                    </div>                                   
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->email->getLabel(); if($this->buyingForm->email->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->email; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->email->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="email_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->country->getLabel(); if($this->buyingForm->country->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->country; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->country->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="country_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->address->getLabel(); if($this->buyingForm->address->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->address; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->address->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="address_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->website->getLabel(); if($this->buyingForm->website->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->website; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->website->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="website_err"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">  
                                        <div class="label">                                    
                                        </div>        
                                                                                                          
                                        <div class="field">
                                            <?php echo $this->buyingForm->id; ?>
                                        </div>
                                    </div>
                                    
                                </div>
                                </fieldset>    
                        </div>
                        
                        <div id="tabs-5">   
                                <fieldset class="fieldset">
                                <legend class="legend"><?php echo $this->translator->translator('member_company_product_step6'); ?></legend>
                                <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                                  <div class="form">
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->preference->getLabel(); if($this->buyingForm->preference->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->preference  ;?> 
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->preference->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <span class="input-errors" id="preference_err"></span>                                     
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-row">
                                        <div class="label">
                                            <?php echo $this->buyingForm->displayble->getLabel(); if($this->buyingForm->displayble->isRequired()){ ?><span class="required">*</span><?php } ?>
                                        </div>
                                        
                                        <div class="field">
                                            <?php echo $this->buyingForm->displayble; ?>
                                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all" title="<?php echo $this->escape($this->buyingForm->displayble->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                                            <div class="input-errors" id="displayble_err"></div>
                                        </div>
                                    </div>
                                    
                                    
                             </div>
                            </fieldset>       
                          </div>   
                             
                        
                    </div>
            </div>
        </form>
     
    </div>
        
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendbuyleads', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link">
        <span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

	<div id="upload-form" title="<?php echo $this->translator->translator('common_dialog_msg' , $this->translator->translator("menu_members_add_buying_leads")); ?>">
        <div>
            <form id="popupForm" target="i-upload-form" method="post" action="" >
                <input type="hidden" name="table_name" value="b2b_group"/>
                <input type="hidden" name="primary_id_field" value="id"/>
                <input type="hidden" name="primary_id_field_value" value="<?php echo ($this->buyingForm->group_id->getValue()) ? $this->buyingForm->group_id->getValue() : '1'; ?>"/>   
                <input type="hidden" name="primary_file_field" value=""/> 
                <input type="hidden" name="file_content"  value=""/>       
                <input type="hidden" name="file_path_field" value="file_path_buying_images"/>
                <input type="hidden" name="file_extension_field" value="file_type"/>
                <input type="hidden" name="file_max_size_field" value="file_size_max"/>
            </form>
            <iframe id="i-upload-form" name="i-upload-form" src="application/modules/Administrator/layouts/scripts/images/loader/manager_loader.gif" class="iframe-img-upload"></iframe>       
        </div>
        <div class="button-container">
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="select_file_btn"><span class="icon insert"><?php echo $this->translator->translator('b2b_page_page_insert'); ?></span></a></span>
            <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="close_dialog_btn"><span class="icon close"><?php echo $this->translator->translator('common_close'); ?></span></a></span>
        </div> 
    </div>
    
<div id="floatingbar">
	<h1><?php echo $this->translator->translator('members_frontend_b2b_edit_buying_lead'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'B2b','controller' => 'backendbuyleads', 'action'     => 'list' ), 'adminrout',    true) ?>" class="back_btn_link">
        <span class="icon back"><?php echo $this->translator->translator('b2b_back'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('b2b_reset'); ?></span></a></span>
        <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="save_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
    </div>
</div>

<?php endif; ?>	
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('members_frontend_b2b_edit_buying_lead')); ?>"></div>
<div id="dialog_container" style="display:none" title="<?php echo $this->translator->translator('common_processing_language'); ?>">
	<div id="progressbar" ></div>	
</div>
<?php endif; ?>	
</div>