/* ___________________________________________________________________________________

   CSS Framework for Azuwa B2B Script [Templates, Blocks & Product Modules] 
   ___________________________________________________________________________________ */

   
/*	GLOBAL STYLES ******************************************************************** */

@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #272727;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

header, hgroup, nav, article, section, footer, aside, address {
	display: block;
}

a {
	color: #0073E6;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #535353;
	text-decoration: underline;
}

a:visited {
/*color: #0073E6;*/

}

a:hover, a:active, a:focus {
	outline: 0;
}

 button::-moz-focus-inner,  input[type="reset"]::-moz-focus-inner,  input[type="button"]::-moz-focus-inner,  input[type="submit"]::-moz-focus-inner,  input[type="file"] > input[type="button"]::-moz-focus-inner {
 border: none;
}

input[type="text"],  input[type="password"], select, textarea,  select.ui-widget-content, textarea.ui-widget-content {
	border: 1px solid #C1C1C1;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	color: #3C3C3C;
	padding: 5px;
	margin: 0 10px 0 0;
	width: auto;
}

input[type="checkbox"],  input[type="radio"] {
	margin: 0px 8px 5px 0;
	vertical-align: middle;
}

input, select, textarea, button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

select option {
	padding: 0 0 0 4px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #0660B8;
	margin: 2px 0;
	letter-spacing: -1px;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

form {
	margin-bottom: 0;
}

fieldset {
	background: #FCFCFC;
	border: 1px solid #0074CA;
	margin: 0 0 25px 0;
	padding: 0 15px 5px 15px;
	position: relative;
}

legend {
	width:auto;
	background: #0896FF;
	border: 1px solid #0074CA;
	color: #FFFFFF;
	font-size:12px;
	font-weight: bold;
	padding: 7px 20px;
	margin: 0 0 10px 0;
}

legend + * {
	-webkit-margin-top-collapse : separate;
	margin-top : 10px;
}

legend a {
	color: #FFF;
	font-weight: bold;
}

ul, ol {
	list-style: none;
}

hr {
	padding: 0;
	margin: 10px 0;
	width: 100%;
	clear: both;
	border: none;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #FFFFFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	display: inline-block;
	position: relative;
}

hr.dashed {
	padding: 5px 0 0 0;
	border-top: 0;
	border-bottom: 1px solid #CCC;
	border-bottom-style: dashed;
}

/* ********************************************************************************** */

/* LAYOUT STYLES ******************************************************************** */

#wrapper {
	width: 995px;
	margin: auto;
}

#main-container {
	background-color: #FFF;
	padding: 0 0 0 0;
	margin: 0 auto 10px auto;
	min-height: 500px;
	overflow: hidden;
}

/* Main Content --------------------------------------------------------------------- */

#content {
	width: 535px;
	float: left;
	margin: 0 0 8px 10px;
	overflow: hidden;
}

#content-list-page {
	width: 77%;
	float: left;
}

#content-details-page {
	width: 77%;
	float: right;
	margin: 0 0 8px 0;
}

#content-members-area {
	width: 77%;
	float: right;
	margin: 0 0 8px 0;
}

#content-full-width {
	margin: 0 0 8px 0;
	overflow: hidden;
}

/* ---------------------------------------------------------------------------------- */

/* Top Bar -------------------------------------------------------------------------- */

#top-bar {
	background-color: #F0F0F0;
	height: 40px;
}

.welcome {
	color: #555;
	font-weight: bold;
}

.user-link{
	margin-top:10px;
}

.user-link a {
	color: #0066CC;
	text-decoration: underline;
}

.user-link a:hover {
	color: #FF6600;
	text-decoration: none;
}

.top-links {
	margin-top: 10px;
	text-align:right;
}

.top-links ul {
	margin:0;
	display: inline;
}

.top-links ul li {
	margin-left: 0;
	padding: 0 5px 0 5px;
	border-right: 1px solid #C0C0C0;
	list-style: none;
	display: inline;
}

.top-links ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.top-links ul li a {
	color: #666;
}

.top-links ul li a:hover {
	color: #06C;
}

/* ---------------------------------------------------------------------------------- */

/* Header --------------------------------------------------------------------------- */

#header {
	padding: 20px 0;
}

#header .logo img {
	vertical-align: middle;
}

#header .logo h1 {			/* Text logo instead of image logo */
	color: #004FA6;
	font-size: 35px;
	padding: 11px 0 5px 0;
	letter-spacing: -2px;
	text-shadow: 1px 1px 0px #000;
}

#header .right {
	text-align: right;
}

/* Company or Business Page Header */


#header-company {
	/*background: #CDDDF3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ECF2FB), to(#CDDDF3));
	background: -webkit-linear-gradient(top, #ECF2FB, #CDDDF3);
	background: -moz-linear-gradient(top, #ECF2FB, #CDDDF3);
	background: -o-linear-gradient(top, #ECF2FB, #CDDDF3);
	background: -ms-linear-gradient(top, #ECF2FB, #CDDDF3);
	background: linear-gradient(top, #ECF2FB, #CDDDF3);*/
	background-color:#1996E6;
	background-image: url(../images/company-header-bg.jpg);
	background-repeat:no-repeat;
	background-position: right center;
	margin: 0 0 8px 0;
	padding: 20px 10px;
	overflow: hidden;
	position: relative;
}

#header-company .logo {
	vertical-align: middle;
	padding: 5px;
	margin: 14px 10px 0 0;
}

#header-company .company-name {
	font-weight: bold;
	color:#FFF;
	font-size: 25px;
	letter-spacing: -2px;
	text-transform: uppercase;
	vertical-align: middle;
	padding-top:15px;
}

#header-company .membership-pkgs {
	float: right;
	width: 220px;
	text-align: center;
	font-size: 15px;
}

#header-company .membership-pkgs .pkgs {
	width: 55%;
	min-height: 34px;
	padding: 5px 2px;
	float: left;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	background: #D8D8D8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);
	border: 1px solid #79AF3B;
	border-right: 0;
}

#header-company .membership-pkgs .pkgs img {
	height: 34px;
	float: left;
}

#header-company .trusted {
	width: 70px;
	float: right;
	margin: 0 15px 0 0;
	text-align: center;
	font-weight: bold;
	border: 1px solid #79AF3B;
	border-radius: 3px;
	padding: 2px;
	background: #F0F9CC;
}

#header-company .trusted img {
	width: 30px;
}

#header-company .membership-pkgs .membership {
	width: 45%;
	min-height: 34px;
	padding: 5px 2px;
	float: right;
	background-color: #FC6;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	background: #669932;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DC444', endColorstr='#669932');
	background: -webkit-gradient(linear, left top, left bottom, from(#8DC444), to(#669932));
	background: -moz-linear-gradient(top, #8DC444, #669932);
	color: #FFF;
	border: 1px solid #79AF3B;
}

#header-company .flag {
	float: right;
	clear: right;
	font-weight: bold;
	vertical-align: middle;
	margin: 15px 0 0 0;
}

#header-company .flag img {
	border: 1px solid #FFF;
	vertical-align: middle;
}

#header-company .membership span {
	margin-top: 85px;
	display: inline-block;
	line-height: 10px;
	font-style: italic;
	font-size: 11px;
}

/* Company or Business Page Header */


/* ---------------------------------------------------------------------------------- */

/* Side Bar ------------------------------------------------------------------------- */

#sidebar-left {
	width: 220px;
	float: left;
}

#sidebar-right {
	width: 220px;
	float: right;
}

#sidebar-list-page {
	width: 220px;
	float: right;
}

#sidebar-details-page {
	width: 220px;
	float: left;
}

#left-sidebar-members-area {
	width: 220px;
	float: left;
}

#right-sidebar-members-area {
}

/* ---------------------------------------------------------------------------------- */

/* Banner --------------------------------------------------------------------------- */

#banner {
}

/* ---------------------------------------------------------------------------------- */

/* Footer --------------------------------------------------------------------------- */

#footer{
	background-color: #F5F5F5;
	border-top:1px solid #DDDDDD;
	padding: 10px 0 0 0;
	margin-top:15px;
}

#footer span.title {
	font-size:15px;
	color:#3F3F3F;
	border-bottom:1px solid #CCC;
	display:block;
}

#footer ul {
	margin: 10px 0 0 0;
	padding: 0;
}

#footer ul li {
	background-image: url(../images/list-arrow.png);
	background-position: 12px 9px;
	background-repeat: no-repeat;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 25px;
}

#footer ul li a {
	font-size:13px;
	color:#535353;
	text-decoration: none;
	line-height: 25px;
}

#footer ul li a:hover {
	color:#000;
	text-decoration: underline;
}

#footer .social a {
	margin: 10px 0;
	display: block;
	color:#535353;
	display:block;
	text-decoration:none;
}

#footer .social a:hover{
	color:#1897E6
}

#footer .social a img{
	margin-top:-2px;
}

#footer .index {
	color:#FFF;
	font-size:14px;
	width: 100%;
	background-color: #1897E6;
	text-align: center;
	padding: 7px 0;
	margin: 20px auto 5px auto;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#footer .index a {
	padding: 0 3px;
	display:inline-block;
	color: #FFF;
	text-decoration: none;
}

#footer .index a:hover {
	color:#0FF;
	text-decoration: underline;
}

#footer .bottom {
	background-color:#E3E4E6;
	padding:10px 0;
	color: #575757;
}

#footer .bottom a {
	color: #06F;
	text-decoration: underline;
	font-weight: bold;
	line-height: 20px;
}

#footer .bottom a:hover {
	color:#333;
}

#footer .disclaimer {
	color: #868686;
	font-size: 12px;
	text-align: justify;
}

.go-top a {
	background: url(../images/top.png) no-repeat;
	width: 49px;
	height: 49px;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 30px;
	z-index: 100;
	text-align: center;
	padding: 25px 0 0 0;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

/* ---------------------------------------------------------------------------------- */

/* Inner Page Layout ---------------------------------------------------------------- */

#sidebar-inner {
	float: left;
	width: 210px;
}

#content-inner {
	width: 78%;
	float: right;
}

/* ---------------------------------------------------------------------------------- */


/* ********************************************************************************** */


/* BLOCKS STYLE ********************************************************************* */


/* Language Flag -------------------------------------------------------------------- */

.flags {
	float: right;
	margin: 0 0 0 5px;
}

.flags .dropdown dl {
	float: right;
	margin: 0;
}

.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0 0 0 0;
	padding: 0px;
}

.dropdown dd {
	position: relative;
}

.dropdown a, .dropdown a:visited {
	color: #0080D5;
	text-decoration: none;
	outline: none;
}

.dropdown a:hover {
	color: #06C;
}

.dropdown dt a:hover {
/*color:#33ADFF;*/

}

.dropdown dt a {
	background: url(../images/arrow.png) no-repeat right center;
	/*border:1px solid #09F;*/

	color: #666;
	display: block;
	padding-right: 20px;/*width:220px;*/

}

.dropdown dt a span {
	cursor: pointer;
	display: inline-block;
	/*line-height: 20px;*/
	padding: 1px;
}

.dropdown dd ul {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #DBDBDB;
	color: #C5C0B0;
	display: none;
	right: 0px;
	padding: 5px 0px;
	position: absolute;
	top: 0;
	width: auto;
	min-width: 240px;
	list-style: none;
	z-index: 99999;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li {
	border-right: 0;
	padding: 0;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #F2F2F2;
}

.dropdown span.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
	float: right;
}

.dropdown span.flag img {
	display: block;
}

.flagvisibility {
	display: none;
}

/* ---------------------------------------------------------------------------------- */

/* Top Navigation ------------------------------------------------------------------- */

.top-nav{
	background-color:#1996E6;
	height:40px;	
}

.company-top-menu{
	background-color:#74AA42;
	overflow:hidden;
	margin-bottom:15px;
}

.member-top-menu{
	background-color:#1996E6;
	overflow:hidden;
	margin-bottom:15px;
}

/* ---------------------------------------------------------------------------------- */

/* Block Box Model ------------------------------------------------------------------ */

.block {
	margin: 0 auto 0 auto;
}

.block .block-heading {
	font-size: 17px;
	color: #ffffff;
	line-height: 35px;
	text-shadow: 0px 1px 1px #000;
	background-color: #F4F4F4;
}

.block .block-heading.silver {
	color: #292929;
	text-shadow: 0px 1px 1px #FFF;
	background-color: #F4F4F4;
	border: 1px solid #D5D5D5;
	border-bottom: 0;
}

.block .block-heading .symbol {
	background-image: url(../images/round-arrow.png);
	background-position: 3px center;
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
}

.block h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:19px;
	line-height:28px;
	font-weight:bold;
	color:#333;
	border-bottom:2px solid #1996E6;
	margin-bottom:18px;
}

.block .block-body {
	border: 1px solid #E1E1E1;
	margin-bottom: 15px;
	padding: 5px;
	overflow: hidden;
}

.block .block-body.last {
	margin-bottom: 0;
}

.block .block-content {
	overflow: hidden;
	padding: 5px;
}

.block .block-content.last {
	border-bottom: 0;
}

.block .even {
	background-color: #F5F5F5;
}

.block .block-title {
	font-size:14px;
	color: #006BB3;
	line-height: 17px;
}

.block .block-title a {
	color: #0073E6;
	cursor: pointer;
}

.block .block-title a:hover {
	color: #666;
	text-decoration: underline;
}

.block .thumb {
	border: 1px solid #DFDFDF;
	background-color: #FFF;
	padding: 5px;
	margin: 2px 4px 2px 0px;
	float: left;
}

.block .avatar {
	float: left;
	border: 1px solid #dddddd;
	padding: 5px;
	margin: 0 10px 10px 0;
}

.block .img-wrapper,  .img-wrapper {
	float: left;
	position: relative;
	text-align: center;
}

.block .img-wrapper .photo-count-container,  .img-wrapper .photo-count-container {
	background-color: #0896FF;
	border: 1px solid #FFFFFF;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: 85px;
	left: 5px;
	width: 70px;
}

.block .photo-count-container .photo-count a,  .photo-count-container .photo-count a {
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.block .photo-count-container .photo-count a:hover,  .photo-count-container .photo-count a:hover {
	color: #FF9;
	text-decoration: underline;
}

.block .price {
	font-size: 13px;
	font-weight: bold;
	color: #CC0000;
	padding: 5px 0;
	display: inline;
}

.block .price-previous {
	font-size: 12px;
	color: #999;
	padding: 5px 0;
	text-decoration: line-through;
}

.block .qty {
	color: #F90;
}

.block .date {
	color: #666;
}

.block .rating {
	width: 90px;
	display:inline-block;
	margin: 6px 0;
}

.block .rating-big {
	width: 110px;
	margin-left: 15px;
}

.block hr {
	margin: 8px 0 5px 0;
	padding: 0;
}

.block .link-btn a {
	background: #699736;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4C811', endColorstr='#699736');
	background: -webkit-gradient(linear, left top, left bottom, from(#A4C811), to(#699736));
	background: -moz-linear-gradient(top, #A4C811, #699736);
	box-shadow: 0 1px 1px #B3FF40 inset;
	border: 1px solid #060;
	padding: 5px 8px 4px 8px;
	font-weight: bold;
	color: #FFF;
	box-shadow: 0 1px 1px #AFF420 inset;
	border: 1px solid #719502;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}

.block .link-btn a:hover {
	background: #EC8D00;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#EC8D00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBA00), to(#EC8D00));
	background: -moz-linear-gradient(top, #FFBA00, #EC8D00);
	color: #FFF;
	box-shadow: 0 1px 1px #FEE849 inset;
	border: 1px solid #F09100;
	text-decoration: none;
}

/*.block .cart-btn a,
	   .cart-btn a,
	    #cart-info a{
	background: #B6231F;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED5641', endColorstr='#B6231F');
	background: -webkit-gradient(linear, left top, left bottom, from(#ED5641), to(#B6231F));
	background: -moz-linear-gradient(top, #ED5641, #B6231F);
	box-shadow: 0 1px 1px #FF5555 inset;
	border: 1px solid #990000;
	margin-top:10px;
	color:#FFF !important;
	padding: 3px 12px;
	display: inline-block;
	border-radius: 3px;
	font-weight:bold;
}

.block .cart-btn a:hover,
	   .cart-btn a:hover,
	   #cart-info a:hover{
	background: #A90000;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E65954', endColorstr='#A90000');
	background: -webkit-gradient(linear, left top, left bottom, from(#E65954), to(#A90000));
	background: -moz-linear-gradient(top, #E65954, #A90000);
	box-shadow: 0 1px 1px #F17E7B inset;
	border: 1px solid #AC312B;
	text-decoration: none;
}

.cart-btn a span.icon {
	background-image: url("../images/b2b_img/cart.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
	color: #FF9;
}*/


.block .seperator {
	background: url(../images/dot_border.gif) repeat-x;
	width: 100%;
	display: block;
	padding: 2px 0 0 0;
	margin: 0 0 0 0;
}

.block .more a {
	background-image: url(../images/arrow-2.gif);
	background-repeat: no-repeat;
	background-position: 4px 3px;
	color: #FF6600;
	font-weight: bold;
	padding: 0 0 0 15px;
	margin: 4px 0;
	float: left;
	clear: left;
}

.block .more a:hover {
	color: #666;
}

.block .list {
	width: 23%;
	margin: 5px 0 5px 10px;
	float: left;
	overflow: hidden;
}

.block .list ul {
	margin: 0;
	padding: 0;
}

.block .list ul li {
	background-image: url(../images/list-arrow.gif);
	list-style: none;
	background-position: 10px 7px;
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	line-height: 24px;
}

.block .list a {
	color: #0665AA;
	text-decoration: none;
	width: 100%;
}

.block .list a:hover {
	color: #FF9900;
	text-decoration: underline;
}

.clear {
	clear: both;
}

.left-float {
	float: left;
	margin: 0 10px 5px 0;
}

.right-float {
	float: right;
	margin: 0 0 5px 10px;
}

/* ---------------------------------------------------------------------------------- */

/* Block Grid View ------------------------------------------------------------------ */

.block-grid .block-body{
	background:none;
	padding:0;
}

.block-grid .col{
	width:18%;
	padding:5px;
	margin:15px 0 15px 15px;
	min-height:296px;
	border:1px solid #E9E9E9;
	float:left;
}

.block-grid .col:hover{
	box-shadow:2px 2px 4px rgba(177, 177, 177, 0.6);
}

.block-grid .block-title a{
	font-size:14px;
	font-weight:normal;
	margin:10px 0 4px 0;
	display:inline-block;
}

.block-grid .block-title a:hover{
	font-weight:normal;
}

.block-grid .img-wrapper{
	margin:auto;
	float:none;
}

.block-grid .thumb{
	float:none;
	margin:5px 0 0 0;
}

.block-grid .details{
	line-height:19px;
	overflow:hidden;
	clear:both;
}

/* MOD HOME */

.mod-home .block-grid .col{
	width: 23%;
	min-height: 280px;
}

/* ---------------------------------------------------------------------------------- */

/* B2B Search Block------------------------------------------------------------------ */

.block-search {
	background-color: #F0F0F0;
	padding: 10px 0;
	margin-bottom:15px;
}

.block-search form {
	display:inline-block;
	border:2px solid #1996E6;
	background-color:#1996E6;
	padding:2px;
}

.block-search input[type="text"], .block-search select {
	color: #3C3C3C;
	padding: 9px 0px;
	margin: 0px 1px 0 0;
	font-size: 16px;
	border:0;
}

.block-search .keywords {
	width: 250px;
	height:39px;
	padding: 10px;
	vertical-align:top;
}

.block-search input[type="submit"] {
	background: #FFE13B;
	height:39px;
	border:0;
	color:#585858;
	font-size: 16px;
	padding: 9px 25px;
	cursor: pointer;
	display: inline-block;
}

.block-search .k-input {
	line-height: 2.5em;
	height:1.68em !important;
	padding: 6px 0 !important;
}

.block-search .k-combobox {
	width: 200px;
	vertical-align: top;
}

.block-search .k-select {
	line-height: 2.57em !important;
	height:340px;
}

.block-search .k-dropdown-wrap{
	border-radius:0;
	border:0;
}

.block-search a {
	color:#6C6C6C;
	text-decoration:none;
	font-size:14px;
}

.block-search a:hover {
	color:#EC8D00;
	text-decoration:underline;
}

.block-search p{
	font-size:15px;
	color:#4B4B4B;
	display:inline-block;
	padding-top:10px;
}

.leads-btn{
	text-align:right;
}

.leads-btn a{
	background-color:#82C241;
	padding:14px 18px;
	color:#FFF;
	font-size:15px;
	text-decoration:none;
	display:inline-block;
}

.leads-btn a:hover{
	text-decoration:none;
	color:#FFF;
}

.leads-btn a.trade{
	background-color:#82C241;
}

.leads-btn a.trade:hover{
	background-color:#71AA37;
}

.leads-btn a.buying{
	background-color:#1996E6;
	margin-left:4px;
}

.leads-btn a.buying:hover{
	background-color:#1581C8;
	margin-left:4px;
}

.cart-btn{
	text-align:center;
	margin:12px 0 5px 0;
}

.cart-btn a{
	background-color:#E64545;
	padding:5px 10px;
	color:#FFF !important;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
}

.cart-btn a:hover{
	background-color:#E12626;
}

.cart-btn a span.glyphicon{
	color:#FFF;
	font-weight:normal;
}

.adv-search-btn a{
	color:#FFF;
	font-size:13px;
	background-color:#E43A3A;
	padding:14px 8px;
	text-decoration:none;
	display:inline-block;
	vertical-align:top;
}

.adv-search-btn a:hover{
	color:#FFF;
	background-color:#E01F1F;
	text-decoration:none;
}

/* ---------------------------------------------------------------------------------- */

/* Category Menu -------------------------------------------------------------------- */

.block-cat-menu .block-body{
	overflow:visible;
}

.block-cat-menu .block-heading {
	color:#FFF;
	text-shadow:none;
	background-color:#1581C8;
	border-bottom: 0;
}



/*#sidebar-left .side_nav ul a img {
	padding: 1px;
	background-color: #FFF;
	border: 1px solid #CCC;
	vertical-align: top;
}

.block-mega-menu .block-body {
	padding: 0;
	border: 1px solid #7FA7D1;
	overflow: visible;
}
*/
/* ---------------------------------------------------------------------------------- */

/* Top Rated Products --------------------------------------------------------------- */

/*.block-top-rated .block-body {
	padding: 0px;
}

.block-top-rated .block-content {
	border-bottom: 1px solid #E8E8E8;
}
*/
/* ---------------------------------------------------------------------------------- */

/* Super Deal ----------------------------------------------------------------------- */

.block-super-deal .block-body {
	padding: 0px;
}

.block-super-deal .block-content {
	border-bottom: 1px solid #E8E8E8;
}

/* ---------------------------------------------------------------------------------- */

/* Tabs Login ----------------------------------------------------------------------- */

.block-tab-login .block-content {
	text-align: center;
	padding: 0;
}

.block-tab-login p {
	padding: 10px 0 8px 0;
	color: #666;
	display: inline-block;
}

.block-tab-login a {
	font-weight: bold;
	text-decoration: underline;
	color: #0073E6;
}

.block-tab-login a:hover {
	color: #F60;
}

.block-tab-login a.join,  a.join {
	background-color: #3FB374;
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	padding: 12px 25px;
	margin: 10px 0;
	cursor: pointer;
	display: inline-block;
}

.block-tab-login a.join:hover,  a.join:hover {
	color:#FFF;
	background-color:#38A067;
	text-decoration: none;
}

.block-tab-login .block-title{
	font-size:17px;
}

.block-tab-suppliers li{
	color:#666666;
	padding:5px 0 5px 4px;
	border-bottom:1px dotted #CCC;
}

/* ---------------------------------------------------------------------------------- */

/* Newsletter ----------------------------------------------------------------------- */

.block-subscribe .info {
	color: #666666;
}

.block-subscribe p {
	margin: 10px 0 0 0;
	font-weight: bold;
}

.block-subscribe input[type="text"] {
	border: 1px solid #D7D7D7;
	background: #FFF;
	width: 200px;
	margin:5px 0;
}

.block-subscribe input[type="button"] {
	background-color: #FF9918;
	margin: 10px 0;
	padding: 8px 12px;
	font-weight: bold;
	color: #FFF;
	border:0;
}

.block-subscribe input[type="button"]:hover {
	background: #FE7602;
}

.block-subscribe img.trade-alert{
	margin-bottom:5px;
}
.block-subscribe img.loader {
	padding: 30px 0 30px 80px;
	vertical-align: middle;
}

.block-subscribe .newsletter_arr {
	color: #F00;
	font-size: 11px;
	line-height: 22px;
	display: block;
	clear: both;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error,  .block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success {
	margin: 0 0 10px 0;
	overflow: hidden;
}

.block-subscribe #actionMessage_newsletter .ui-widget p {
	width: 100%;
	font-weight: normal;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-success p {
	color: #009900;
}

.block-subscribe #actionMessage_newsletter .ui-widget .ui-state-error p {
	color: #C00;
}

/* ---------------------------------------------------------------------------------- */

/* Trading Stats & Latest Company --------------------------------------------------- */

.block-list ul {
	margin: 0;
	padding: 0;
}

.block-list ul li {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 5px 0 5px;
	line-height: 25px;
	border-bottom: 1px dotted #CCCCCC;
}

.block-list ul li.last-child {
	border-bottom: 0;
}

.block-list ul li a {
	font-size:13px;
	color: #0066CC;
	text-decoration: none;
	padding: 7px 0;
	width: 100%;
	display: block;
}

.block-list ul li a:hover {
	color: #F60;
	text-decoration: none;
}

.block-list ul li:hover {
	background-color: #EEE;
}

.block-list ul li a span.glyphicon{
	color:#666666;
}

.block-list ul li a span.label,
					span.label{
	font-size:12px;
	font-weight:bold;
}

.block-list ul li a span.label{
	float:right;
	margin-top:3px;
}

/* ---------------------------------------------------------------------------------- */

/* Success Story -------------------------------------------------------------------- */

.block-success-story .block-body {
	overflow: hidden;
}

.block-success-story .block-title {
	color: #C00;
}

.block-success-story .callout {
	color: #333;
	border: 1px solid #CCCCCC;
	background-color: #FEFCDE;
	border-radius: 5px;
	-mox-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	margin: 12px auto;
	position: relative;
	display: inline-block;
	clear: both;
}

.block-success-story .callout a {
	color: #404040;
}

.block-success-story .callout .notch {
	position: absolute;
	top: -10px;
	left: 20px;
	margin: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FEFCDE;
	padding: 0;
	width: 0;
	height: 0;
	/* ie6 height fix */

	font-size: 0;
	line-height: 0;
	/* ie6 transparent fix */

	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color=pink);
}

.block-success-story a.post-story,
.block-success-story a.more-story{
	padding: 6px 10px;
	color: #FFF;
	text-decoration: none;
	float:right;
}

.block-success-story a.post-story{
	background-color: #1BA3F7;
	margin-left:5px;
}

.block-success-story a.more-story{
	background-color: #FF9918;
}

.block-success-story a.post-story:hover{
	background-color: #1581C8;
}

.block-success-story a.more-story:hover{
	background-color:#FE7602;
}
/* ---------------------------------------------------------------------------------- */

/* Advertisement -------------------------------------------------------------------- */

.block-ad{
	text-align:center;
}

.block-ad img,
.block-ad-text{
	margin-bottom: 15px;
	vertical-align: top;
}

.block-ad .block-body {
	padding: 0;
	border: 0;
}

.block-ad .block-body img {
	display: block;
}

.block-story-ad .block-body {
	border: 2px solid #8DB8E7;
	background-color: #F2F6FC;
}

.block-story-ad h3 {
	text-align: center;
}

.block-story-ad .membership-pkg {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: #DDDDDD;
	text-align: center;
	margin: 10px auto;
	padding: 5px 2px;
	font-weight: bold;
	display: in inline-block;
	clear: both;
}

.block-story-ad a {
	font-weight: bold;
	line-height: 22px;
}

/* ---------------------------------------------------------------------------------- */

/* Premium Suppliers Profile -------------------------------------------------------- */

.block-supplier .block-body {
	overflow: visible;
	display: block;
}

.block-supplier .block-heading .more {
	float: right;
	margin: 1px 2px 0 0;
}

.block-supplier .block-heading .more a {
	background-image:none;
	text-shadow: 1px 1px 0 rgba(255, 175, 43, 0.9);
	line-height:normal;
	background-color:#FFB935;
	padding: 5px;
	margin: 4px 2px 0 0;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	font-size: 12px;
	color:#FFF;
	font-weight: normal;
}

.block-supplier .block-body #content-roll {
	overflow: hidden;
}

.block-supplier .contentbox-wrapper {
	position: relative;
	left: 0;
	width: 3000px;
	height: 100%;
}

.block-supplier .contentbox {
	width: 518px;
	height: 100%;
	float: left;
	padding: 2px;
	background: #fff;
}

.block-supplier .contentbox .col-1 {
	width: 49%;
	float: left;
}

.block-supplier .contentbox .col-2 {
	width: 49%;
	float: right;
}

.block-supplier .contentbox .col-1 p,  .block-supplier .contentbox .col-2 p {
	border: 1px solid #FFF;
	padding: 0 0 0 2px;
	margin: 0;
	overflow: hidden;
}

.block-supplier .contentbox .col-1 p:hover,  .block-supplier .contentbox .col-2 p:hover {
	background-color: #FFFCE1;
	border: 1px solid #FFE658;
	margin: 0;
	overflow: hidden;
	padding: 0 0 0 2px;
}

.block-supplier .contentbox hr {
	border-top: 1px solid #F0F0F0;
	border-bottom: 0;
	padding: 0;
	margin: 5px 0;
}

.block-supplier #nav {
	margin-top: 0;
	padding: 0px 2px;
	float: right;
}

.block-supplier #nav ul li {
	display: inline;
	margin-right: 4px;
}

.block-supplier #nav ul li a {
	font-size: 12px;
	color: #09C;
	border: 1px solid #007AF4;
	background-color: #0061B9;
	padding: 1px 5px;
	text-decoration: none;
	text-shadow: none;
}

.block-supplier #nav ul li a.active {
	border: 1px solid #FEC150;
	background-color: #E68A00;
	padding: 1px 5px;
	color: #FF0;
}

/* ---------------------------------------------------------------------------------- */

/* Account Stats -------------------------------------------------------------------- */

.block-account-stats .stat-info {
	border: 1px solid #CCC;
	background-color: #EFEFEF;
	border-style: dashed;
	padding: 8px 5px;
	margin: 0 0 4px 0;
	clear: both;
}

.block-account-stats .stat-info span {
	font-weight: bold;
	color: #06C;
}

.block-account-stats .stat-info a {
	color: #009900;
	float: right;
}

/* ---------------------------------------------------------------------------------- */

/* Trade Alert ---------------------------------------------------------------------- */

.block-trade-alert .block-body {
	overflow: hidden;
}

.block-trade-alert p {
	background-image: url(../images/trade-alert.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 5px 0 0 52px;
	height: 46px;
	float: left;
}

.block-trade-alert a {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

/* ---------------------------------------------------------------------------------- */

/* Contact Info --------------------------------------------------------------------- */

.block-contact-info .block-body {
	overflow: hidden;
}

.block-contact-info .info {
	margin: 0 0 5px 0;
}

.block-contact-info .info p {
	padding: 10px 0;
}

.block-contact-info .info .type {
	font-weight: bold;
	color: #F30;
	text-transform: uppercase;
}

.block-contact-info .info .avatar {
	float: left;
	border: 1px solid #dddddd;
	padding: 5px;
	margin: 0 10px 10px 0;
}

.block-contact-info .info img {
	vertical-align: top;
}

.block-contact-info .info .title {
	border: 1px solid #CCC;
	background-color: #EFEFEF;
	border-style: dashed;
	padding: 8px 5px;
	font-weight: bold;
	color: #06C;
	clear: both;
}

/* ---------------------------------------------------------------------------------- */

/* Currency Exchange ---------------------------------------------------------------- */

.block-country a{
	color: #616161;
	font-weight:bold;
	padding:8px 0 8px 3px;
	display: block;
	border-bottom: 1px dotted #CCC;
}

.block-country a:hover{
	text-decoration:none;
	color:#019EDD;
	background-color:#F4F4F4;
}

.block-country a span{
	color:#F90;
}

.block-country iframe{
	width:100%;
}

.block-country .form-element{
	margin-top:6px;
	text-align:center;
}

.block-country .form-element input[type="textbox"]{
	font-size:13px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:5px;
	margin:0;
	border:1px solid #CCC;
}

.block-country .form-element input[type="button"]{
	background-color:#0896FF;
	border:0;
	color:#FFF;
	padding:6px;
}

.block-country .desc-container{
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	height:200px;
}

.block-country .desc-container .block-title{
	margin-bottom:10px;
	font-weight:bold !important;
}

.block-country .desc-container .details a{
	padding:4px 6px;
	color:#FFF;
	background-color:#0896FF;
	border-radius:3px;
}

.block-country .desc-container .add{
	color:#F60;
	font-size:12px;
	font-weight:bold;
}

/* ---------------------------------------------------------------------------------- */

/* Currency Exchange ---------------------------------------------------------------- */

.block-currency .block-body {
	min-height: 231px;
}

.block-currency .block-body #cc_xxDIV div {
	width: 195px !important;
	border: 0 !important;
}

.block-currency .block-body #cc_xxDIV select,  .block-currency .block-body #xxvalue {
	margin-bottom:5px;
	padding: 5px;
	border: 1px solid #C1C1C1;
}

/* ---------------------------------------------------------------------------------- */

/* Scrolling AD Block  -------------------------------------------------------------- */

.block-scrolling-ad{
	margin-bottom:0;
}

.block-scrolling-ad .block-content {
	background: #FFF;
	border: 1px solid #CCC;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 5px;
	height: 135px;
	display: block;
}

.block-scrolling-ad .block-content .simply-scroll .simply-scroll-list li {
	margin-top: 10px;
	width: 160px;						/* Scroll image width settings *//*height: 60px;*/

}

.block-scrolling-ad .block-content .simply-scroll .simply-scroll-list li img {
	border: 1px solid #E6E6E6;
	margin: 4px;
	padding: 2px;
}

/* ---------------------------------------------------------------------------------- */

/* Popular Products ----------------------------------------------------------------- */

.block-popular .block-body {
	height: 380px;
}

.block-popular .col {
	width: 162px;
	min-height:290px;
	padding: 5px;
	margin: 10px 0 10px 10px;
	border:1px solid #fff;
	float: left;
}

.block-popular .col:hover {
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	box-shadow:2px 2px 4px rgba(177, 177, 177, 0.7);
}

.block-popular .img-wrapper {
	width: 100%;
	margin-bottom:5px;
	text-align: center;
}

.block-popular .img-wrapper img.thumb {
	float: none;
}

.block-popular .details {
	line-height: 19px;
	overflow: hidden;
	clear: both;
}

/* ---------------------------------------------------------------------------------- */

/* Featured Products ---------------------------------------------------------------- */

.block-featured .ribbon{
	background-image: url("../images/b2b_img/block-featured.png");
	background-repeat:no-repeat;
	position:absolute;
	width:63px;
	height:63px;
	top:0;
	left:0;
}

.block-featured .col{
	position:relative;
}

/*.block-featured .block-content {
	border:1px solid #E9E9E9;
	width: 150px;
	min-height: 240px;
	margin: 0 0 10px 10px;
	float: left;
	text-align:center;
}

.block-featured .block-content:hover{
	box-shadow:0 0 5px #8F8F8F;
	border:1px solid #B0B0B0;
}

.block-featured .block-content .img-wrapper{
	width:100%;
	text-align:center;
}

.block-featured .block-content .thumb{
	float:none;
}*/

.company-details .block-content {
	width: 130px;
	margin: 0 0 10px 8px;
	float: left;
}

/* ---------------------------------------------------------------------------------- */

/* Search Filter -------------------------------------------------------------------- */

.block-search-filter .block-content{
	display:block;
	color:#666;
	border-bottom:1px solid #DDDDDD;
}

.block-search-filter .block-content .block-title{
	font-size:17px;
	margin:5px 0;
}

.block-search-filter .block-content input[type="checkbox"]{
	margin:5px 4px 5px 0;
}

.block-search-filter .block-content input[type="radio"]{
	margin:3px 4px 5px 0;
}

.block-search-filter .block-content img{
	vertical-align:middle;
}

/* ---------------------------------------------------------------------------------- */

/* Tab Panel ------------------------------------------------------------------------ */

.usual{
	color:#111;
	padding:1px 1px;
  	margin: 0 0 10px 0;  
}

.usual ul li{ 
	list-style:none; 
	float:left;
}

.usual ul li a{
	display:block;
  	text-decoration:none!important;
	margin:0px 4px 0 -1px;
  	background-color: #EEEEEE;
	padding: 12px 5px;
	font-weight:bold;
	color:#333;
	border-bottom:0;
	text-decoration:none;
}

.usual ul li a:hover{
  	color:#FFF;
 	background-color:#82C241;
	border-bottom:0;
}

.usual ul li a.selected{
	cursor:default;
 	background-color: #1996E6;
	color:#FFF;
	border-bottom:0;
}

.usual-content{
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  margin-bottom:15px;
  clear:left;
  border:1px solid #E7E7E7; 
  overflow:hidden;
}

.usual-content .block .block-body{
	margin-bottom:0;
	border:0;
}

.usual-content .block .block-content{
	background-color:#FFF;
}

.usual div a {
	color: #000;
	font-weight: bold;
}

/*#usual2 {
	background: #0A0A0A;
	border: 1px solid #1A1A1A;
}

#usual2 a {
	background: #222;
}

#usual2 a:hover {
	background: #000;
}

#usual2 a.selected {
	background: snow;
}*/

#tabs3 {
	background: #FF9;
}

/* ---------------------------------------------------------------------------------- */

/* ********************************************************************************** */



/* PRODUCT MODULES ****************************************************************** */

/* Global Module Style -------------------------------------------------------------- */

.mod h1 {
	/*font-weight: normal;*/
}

.mod .mod-container, .mod .mod-content {
	background-color: #FBFBFB;
	border: 1px solid #CCC;
	overflow: hidden;
	margin: 10px 0 20px 0;
	padding: 10px;
	text-align: justify;
}

.mod .mod-content {
	margin: 0 auto;
}

.mod .mod-label {
	font-weight: bold;
	color: #CC0000;
	line-height: 20px;
}

.mod input[type="text"],  .mod input[type="password"],  .mod select,  .mod textarea {
	border: 1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 13px;
	padding: 6px;
	margin: 0 0 2px 0;
	box-shadow: 1px 1px 2px #E6E6E6 inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.mod input[type="text"]:focus,  .mod input[type="password"]:focus,  .mod select:focus,  .mod textarea:focus {
	border: 1px solid #4D90FE;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

.mod .col {
	color: #646464;
	font-weight: bold;
	padding: 0 12px 15px 0;
	float: left;
}

.mod input[type="text"] {
	padding: 7px;
}

.mod .btn-container {
	margin: auto;
	padding: 10px 0 5px 0;
	width: auto;
	text-align: center;
}

.mod .btn-container.right {
	text-align: right;
}

.mod input[type="submit"],  .mod input[type="button"],  .mod .form-button a,  .button a {
	background-color: #1996E6;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076EC', endColorstr='#00387D');
	background: -webkit-gradient(linear, left top, left bottom, from(#0076EC), to(#00387D));
	background: -moz-linear-gradient(top, #0076EC, #00387D);
	border: 1px solid #0562BB;
	box-shadow: 0 1px 1px #4AB7FF inset;*/
	padding: 8px 45px;
	font-size: 15px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	margin: 8px 0;
}

.mod input[type="submit"]:hover,  .mod input[type="button"]:hover,  .mod .form-button a:hover,  .button a:hover {
	background: #1375B7;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top, #FFFF33, #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFFFF inset;
	border: 1px solid #F90;*/
}

.mod .social {
	margin: 12px 0 10px 0;
}

.mod .thumb {
	border: 1px solid #DFDFDF;
	background-color: #FFFFFF;
	padding: 5px;
	margin: 0 10px 0 0;
	float: left;
}

.mod .thumb {
}

.mod.form-element .thumb {
	border: 0 !important;
}

.mod .review-count > a > span {
	color: #FF0;
	font-weight: normal!important;
}

.mod .review-count a {
	background: #F49411;
	font-size: 14px;
	color: #FFF !important;
	padding: 3px 8px 3px 8px;
	margin: 0 0 5px 0;
	border: 3px solid #FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.mod .review-count a:hover {
	color: #FF0;
	text-decoration: none;
}

.mod .write-review a {
	background: url(../images/mod_img/write-review.gif) no-repeat 0 0;
	padding-left: 20px;
	padding-bottom: 2px;
	color: #E65B00 !important;
	text-decoration: underline;
}

.mod .write-review a:hover {
	color: #919191;
	text-decoration: underline;
}

.mod .link a {
	background: url(../images/b2b_img/arrow.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0 8px;
	font-weight: bold;
	color: #06F;
	text-decoration: none;
}

.mod .link a:hover {
	color: #F60;
	text-decoration: underline;
}

.mod .list-chart ul {
	display: inline-block;
	width: 100%;
}

.mod .list-chart ul li {
	padding: 2px 0 2px 32%;
	line-height: 22px;
}

.mod .list-chart ul li span {
	width: 43%;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 -43%;
}

.mod .list-chart ul li img {
	border: 1px solid #DFDFDF;
	background-color: #FFF;
	padding: 5px;
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.mod img.flag {
	vertical-align: middle;
}

/* ---------------------------------------------------------------------------------- */

/* B2B Advance Search --------------------------------------------------------------- */

.mod-advance-search h3 {
	display: inline-block;
}

.mod-advance-search .info {
	font-weight: bold;
	font-style: italic;
	color: #666666;
}

.mod-advance-search .keyword {
	width: 480px;
}

.mod-advance-search .k-input {
	line-height: 1.5em;
	padding: 3px 0 !important;
}

.mod-advance-search .k-combobox {
	width: 230px;
	vertical-align: middle;
}

.mod-advance-search .k-combobox input[type="text"] {
	border: 0;
}

.mod-advance-search .k-select {
	line-height: 1.85em !important;
}

/* ---------------------------------------------------------------------------------- */

/* Category List -------------------------------------------------------------------- */

.cat-container {
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	position: relative;
}

.cat-container h1 {
	/*font-weight: normal;*/
}

.cat-columns {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	/*-moz-column-fill: auto;*/

	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	column-count: 2;
	column-gap: 10px;
	column-fill: auto;
}

.cat-columns.sub-cat {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

.cat-columns.sub-cat p {
	line-height: 25px;
}

.cat-list.column-list {
	padding: 10px;
	width: 90%;
	float: none;
	background: #FEFEFE;
	margin: 18px 0 0 13px;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	display: inline-block;
}

.cat-list p,  .cat-list p a {
	color: #1D1D1D;
	font-size: 15px;
	margin: 5px 0;
}

.sub-cat span,  .cat-list ul li span {
	color: #CC0000;
}

/* ---------------------------------------------------------------------------------- */

/* List View & Details -------------------------------------------------------------- */

.list-view {
	border: 1px solid #DDDDDD;
	margin: 10px 0 20px 0;
	padding: 5px;
	position:relative;
}

.list-view:hover {
	background-color: #F2F6FC;
	border: 1px solid #8DB8E7;
}

.list-view.featured {
	background: #FFFCEA;
	border: 2px solid #FFC062;
}

.list-view .details {
	width: 54%;
	float: left;
	padding: 0 10px 0 0;
	border-right: 1px solid #dddddd;
}

.list-view .details.search {
	width: 53%;
}

.list-view .price,  .product-details .price {
	color: #C00;
	line-height: 35px;
	font-size: 17px;
}

.list-view .products-stars,  .product-details .products-stars {
	padding: 4px 0;
	display: block;
}

.list-view .call,  .call {
	background: url(../images/b2b_img/phone.png) no-repeat scroll 4px 4px #FFFFCC;
	border: 1px solid #FFCC00;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding: 2px 4px 2px 26px;
	margin: 5px 0;
}

.list-view .info {
	width: 26%;
	float: right;
	padding: 0 5px 0 12px;
}

.list-view .info.spacer{
	margin-top:60px;
}

.list-view .info.spacer-deals{
	margin-top:75px;
}

.list-view .info span,  .list-view .details span,  .product-details .details span {
	color: #333;
	font-weight: bold;
	line-height: 25px;
}

.list-view .details span.jTruncate,  .list-view .details span.truncate_more {
	font-weight: normal;
	color: inherit;
}

.list-view .info a {
	color: #090;
}

.list-view .info img {
	display: inline;
	vertical-align: middle;
	margin-bottom: 5px;
}

.list-view .contact a,  .contact a {
	background: #78B63A;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77DC02', endColorstr='#368800');
	background: -webkit-gradient(linear, left top, left bottom, from(#77DC02), to(#368800));
	background: -moz-linear-gradient(top, #77DC02, #368800);
	box-shadow: 0 1px 1px #B3FF40 inset;
	border: 1px solid #060;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	line-height: 25px;
	margin: 10px 0;
	padding: 3px 12px;
	font-weight: bold;
	color: #FFF;
	display: inline-block;
}

.list-view .contact a:hover,  .contact a:hover {
	background: #FF9918;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEBA2E', endColorstr='#E76F01');
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBA2E), to(#E76F01));
	background: -moz-linear-gradient(top, #FEBA2E, #E76F01);
	box-shadow: 0 1px 1px #FFFF33 inset;
	border: 1px solid #FF6600;*/
	color: #FF9;
	text-decoration: none;
}

.list-view .contact a span.icon {
	background-image: url("../images/b2b_img/inquire.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	color: #FF9;
}

.list-view .inquire a {
	background: url(../images/b2b_img/email.png) no-repeat;
	padding: 1px 0 0 22px;
	margin: 5px 0;
	font-weight: bold;
	color: #06F;
	display: inline-block;
}

.list-view .story a {
	color: #FF6600;
	line-height: 20px;
}

.list-view .company a {
	color: #06F;
	font-weight: bold;
	margin: 10px 0;
	display: inline-block;
}

.list-view .membership,  .membership {
	/*color:#C00;
	font-weight:bold; off for success story check later*/
}

.list-view .membership a,  .membership a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	padding: 6px 4px 6px 4px;
	display: inline-block;
	margin: 0 0 5px 0;
	width: 92px;
	background: #FFFFCC;
	border: 1px solid #FFBB33;
	color: #F60
}

.list-view img.pkg {
	margin: 120px auto 5px auto;
	display:block;
}

.list-view .certificate img {
	margin: 0 0 5px 0;
	border: 1px solid #E1E1E1;
	padding: 1px;
}

.list-view .trusted {
	background: #F0F9CC;
	border: 1px solid #BED651;
	color: #F60;
	color: #489F00;
	font-weight: bold;
	width: 76%;
	margin: auto;
	padding: 4px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.list-view.tradeshows,
.list-view.success-story{
	overflow:hidden;
}

.list-view .separator {
	width: 114px;
	border-top: 1px solid #D3D3D3;
	margin: 24px auto 0 auto;
}

.list-view.deal {
	position: relative;
	overflow: visible;
}

.last-minute-deal {
	background: url(../images/b2b_img/tag.png) no-repeat;
	background-position: 10px center;
	position: absolute;
	top: 8px;
	right: -10px;
	padding: 5px 20px 5px 30px;
	color: #F06000;
	font-weight: bold;
	background-color: #FFFFA8;
	border: 1px solid #FF7200;
	border-radius: 4px 4px 0 4px;
	-webkit-border-radius: 4px 4px 0 4px;
	-moz-border-radius: 4px 4px 0 4px;
	z-index: 1;
}

.list-view .cart-btn{
	text-align:left;
}

.list-icon h1{
	font-size:20px;
}

.list-icon{
	margin-bottom:10px;
}

form .label{
	color:#333;
	font-size:12px;
}

.addthis_toolbox *,
.addthis_toolbox .addthis_toolbox *,
.addthis_toolbox *:after{
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.ribbon-container *,
.ribbon-container *:after,
.ribbon-container *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.ribbon-container {
	position: absolute;
	top: 10px;
	right: -17px;
	overflow: visible;
	font-size: 13px;
	line-height: 3px;
	font-weight:bold;
	text-transform:uppercase;
	z-index:1;
}

.ribbon-container.deals{
	top:55px;
}

.ribbon-container:before {
	content:"";
	height: 0;
	width: 0;
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	border-top: 20px solid rgba(0,0,0,.3);
	border-bottom: 20px solid rgba(0,0,0,.3); 
	border-right: 20px solid rgba(0,0,0,.3);
	border-left: 20px solid transparent;
}

.ribbon-container:after {
	content:"";
	height: 3px;
	background: rgba(0,0,0,.3);
	display: block;
	position: absolute;
	bottom: -3px;
	left: 40px;
	right:3px;
}

.ribbon-container span {
	display:block;
	padding:20px 60px;
	position:relative;
	background:#E12626;
	overflow:visible;
	height:40px;
	margin-left:23px;
	color:#fff;
	text-decoration:none;
}

.ribbon-container span:after { /* folded part */
	content:""; 
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	bottom:-15px;
	right:0;
	border-top: 15px solid #990000; 
	border-right: 15px solid transparent;
}

.ribbon-container span:before { /* forked part */
	content:"";
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	top:0;
	left:-20px;
	border-top: 20px solid #E12626; 
	border-bottom: 20px solid #E12626; 
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-style: solid dotted;
}

.ribbon-container span:hover {
	background:#E12626;
}

.ribbon-container span:hover:before {
	border-top: 20px solid #E12626; 
	border-bottom: 20px solid #E12626;
}

.corner:before {
	border-top: 10px solid #FF7200;
	border-bottom: medium none;
	border-right: 10px solid transparent;
	content: " ";
	position: absolute;
	top: 34px;
	z-index: 0;
	right: -10px;
}

.promotional {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #F30;
	font-size: 18px;
	display: block;
}

.products-vote {
	clear: both;
}

.products-vote p {
	padding: 2px;
	margin: 12px 0 12px 0;
	font-size: 13px;
	font-weight: bold;
	color: #0896FF;
	display: inline-block;
	border: 1px solid #0896FF;
	background-color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.products-vote span {
	display: inline-block;
}

.products-vote span input[type="button"] {
	padding: 5px;
	margin: 0 4px -5px 0;
	border: 0;
	float: left;
}

.products-vote *,
.products-vote *:after,
.products-vote *:before{
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
}

.product-details .price {
	font-size: 25px;
	font-weight: bold;
}

.product-details .details span.previous-price {
	font-size: 17px;
	font-weight: normal;
	text-decoration: line-through;
	color: #8C8C8C;
}

.product-details .order-btn a {
	background: #E76F01;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEBA2E', endColorstr='#E76F01');
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBA2E), to(#E76F01));
	background: -moz-linear-gradient(top, #FEBA2E, #E76F01);
	border: 2px solid #FF6600;
	color: #FFF;
	font-size: 17px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0 1px 1px #EF8C12;
	padding: 10px 30px;
	margin: 10px 0;
	cursor: pointer;
	box-shadow: 0 1px 1px #FFFF33 inset;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
}

.product-details .order-btn a:hover {
	background: #F59C1C;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEBA2E', endColorstr='#F59C1C');
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBA2E), to(#F59C1C));
	background: -moz-linear-gradient(top, #FEBA2E, #F59C1C);
}

.product-details .product-catalog ul {
	border-top: 1px solid #CCC;
	margin: 10px 0 0 0;
	padding: 0 0 0 5px;
	display: inline-block;
}

.product-details .product-catalog ul li {
	display: inline;
	float: left;
	border-right: 1px solid #CCC;
	padding: 5px;
	text-align: center;
}

.product-details .product-catalog ul li.first {
	width: 160px
}

.product-details .product-catalog ul li.middle {
	width: 60px
}

.product-details .product-catalog ul li.last {
	border-right: 0;
	width: 114px
}

.product-details .product-catalog ul li p {
	font-weight: bold;
	color: #F60;
	padding: 5px 0;
}

.product-details .product-catalog ul li span {
	font-size: 16px;
}

.product-details .certificate {
	background-color: #F3F3F3;
	border: 1px solid #CCC;
	display: inline-block;
	width: 45%;
	margin: 10px 0;
	padding: 10px;
}

.product-details .certificate ul {
	margin: 10px 0;
}

.product-details .certificate ul li {
	display: inline-block;
	margin: 5px 2px;
}

.product-details .certificate ul li img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.product-details .details {
	margin: 15px 0 0 0;
}

.product-details h3 {
	margin: 5px 0 15px 0;
}

.product-details .price {
	display: inline;
}

.product-details .slideshow-container {
	float: left;
	width: 50%;
	margin: 20px 10px 0 0;
	overflow: hidden;
}

.product-details .slideshow {
	/*height:327px;*/

	margin: 0 0 10px 0;
	padding: 10px;
	background-color: #F7F7F7;
	border: 1px solid #dddddd;
}

.product-details .slideshow select {
	padding: 4px;
	margin-top: 8px;
	font-size: 11px;
	width: 112px;
	border-radius: 0;
}

.product-details .inquire a {
	background: #FF9918;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEBA2E', endColorstr='#E76F01');
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBA2E), to(#E76F01));
	background: -moz-linear-gradient(top, #FEBA2E, #E76F01);
	box-shadow: 0 1px 1px #FFFF33 inset;
	border: 1px solid #FF6600;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	line-height: 25px;
	margin: 10px 0;
	padding: 3px 12px;
	font-weight: bold;
	display: inline-block;
}

.product-details .inquire a:hover {
	background: #FE7602;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77DC02', endColorstr='#368800');
	background: -webkit-gradient(linear, left top, left bottom, from(#77DC02), to(#368800));
	background: -moz-linear-gradient(top, #77DC02, #368800);
	box-shadow: 0 1px 1px #B3FF40 inset;
	border: 1px solid #060;*/
	color: #FFF;
	text-decoration: none;
}

.product-details .inquire a span.icon {
	background-image: url("../images/b2b_img/inquire.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
	color: #FF9;
}

.product-details .desc,  .company-details .desc {
	margin: 20px 0 15px 0;
	width: 100%;
	clear: both;
	display: inline-block;
}

.product-details .desc-heading,  .company-details .desc-heading {
	font-size: 17px;
	color: #039;
	line-height: 35px;
	border: 1px solid #cccccc;
	background: #F4F4F4;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);*/
}

.product-details .desc-heading .symbol,  .company-details .desc-heading .symbol {
	background-image: url(../images/round-arrow.png);
	background-position: 3px center;
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
}

.product-details .desc-body,  .company-details .desc-body {
	border: 1px solid #E1E1E1;
	border-top: 0;
	padding: 5px;
	overflow: hidden;
}

.product-details .desc-content {
	text-align: justify;
	border-bottom: 1px solid #E8E8E8;
	overflow: hidden;
	padding: 5px;
}

.product-details a.more {
	font-size: 17px;
	line-height: 30px;
	display: inline-block;
}

.product-details .usual {
	margin: 10px 0 0 0;
}

.product-details .usual ul a {
	background: #EEEEEE;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);
	box-shadow: 0 1px 1px #FFFFFF inset;*/
	margin: 1px 4px 0px -1px;
	clear: both;
	color: #06C;
	text-decoration: none;
}

.product-details .usual ul a.selected {
	background-color:#1996E6;
	/*border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 2px solid #0F7AC8;*/
	color:#FFF;
}

.product-details .usual-content {
	border: 1px solid #CCCCCC;
	margin-top: -2px;
}

.product-details .usual-content .thumb {
	margin-bottom: 15px;
}

.story-details a.gold {
	float: right;
}

.story-details .info span {
	line-height: 20px;
	font-weight: bold;
}

.story-details .desc {
	text-align: justify;
	line-height: 20px;
}

.story-details a.all {
	border: 1px solid #CFCFCF;
	background: #D8D8D8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: #06F;
	padding: 6px 12px;
	text-decoration: none;
	float: right;
}

.story-details a.all:hover {
	color: #F60;
	background: #EAEAEA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA));
	background: -webkit-linear-gradient(top, #FFFFFF, #EAEAEA);
	background: -moz-linear-gradient(top, #FFFFFF, #EAEAEA);
	background: -o-linear-gradient(top, #FFFFFF, #EAEAEA);
	background: -ms-linear-gradient(top, #FFFFFF, #EAEAEA);
	background: linear-gradient(top, #FFFFFF, #EAEAEA);
}

.story-details .link a {
	marign-top: 10px;
 	border:1px solid:#000000;
}

.company-details > p,  .company-details .desc {
	text-align: justify;
	line-height: 22px;
}

.company-details .link-btn a {
	float: left;
	margin-left: 10px;
}

.company-details .info {
	width: 49%;
	float: left;
}

.company-details .info.right {
	float: right;
}

.company-details .info .desc-body {
	padding: 0;
}

/* Company List Start */



.company-list h4 {
	letter-spacing: 0;
}

.company-list .certificate {
	margin: 12px 0 0 0;
}

.company-list .compliance {
	margin: 10px 0 0 0;
}

/* Company List End */

/* Account Settings ----------------------------------------------------------------- */

.account-setting ul {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}

.account-setting ul li {
	list-style: disc;
	font-weight: bold;
	color: #06C;
	line-height: 22px;
}

.account-setting .preference-list {
	border: 1px solid #CCCCCC;
	background-repeat: no-repeat;
	background-position: right 47px;
	min-height: 276px;
	padding: 2px;
	margin: 0 0 25px 0;
}

.account-setting .preference-list.facebook-view {
	background-image: url(../images/b2b_img/facebook-page.png);
}

.account-setting .preference-list.twitter-view {
	background-image: url(../images/b2b_img/twitter-page.png);
}

.account-setting .preference-list.paypal-view {
	background-image: url(../images/b2b_img/paypal-page.png);
}

.account-setting .preference-list.googleplus-view {
	background-image: url(../images/b2b_img/googleplus-page.png);
}

.account-setting .preference-list.youtube-view {
	background-image: url(../images/b2b_img/youtube-page.png);
}

.account-setting .preference-list.flickr-view {
	background-image: url(../images/b2b_img/flickr-page.png);
}

.account-setting .preference-list.co-view {
	background-image: url(../images/b2b_img/2co-page.png);
}

.account-setting .preference-list.moneybookers-view {
	background-image: url(../images/b2b_img/moneybookers-page.png);
}

.account-setting .preference-list .head {
	height: 40px;
	background-position: left center;
	background-repeat: no-repeat;
}

.account-setting .preference-list .head.facebook {
	background-image: url(../images/b2b_img/facebook.png);
	background-color: #003E8A;
}

.account-setting .preference-list .head.twitter {
	background-image: url(../images/b2b_img/twitter.png);
	background-color: #00ACED;
}

.account-setting .preference-list .head.paypal {
	background-image: url(../images/b2b_img/paypal.png);
	background-color: #FFDF87;
}

.account-setting .preference-list .head.google-plus {
	background-image: url(../images/b2b_img/google-plus.png);
	background-color: #D95333;
}

.account-setting .preference-list .head.youtube {
	background-image: url(../images/b2b_img/youtube.png);
	background-color: #353535;
}

.account-setting .preference-list .head.flickr {
	background-image: url(../images/b2b_img/flickr.png);
	background-color: #ffffff;
}

.account-setting .preference-list .head.co {
	background-image: url(../images/b2b_img/2checkout.png);
	background-color: #6A6B9B;
}

.account-setting .preference-list .head.moneybookers {
	background-image: url(../images/b2b_img/moneybookers.png);
	background-color: #812065;
}

.account-setting .preference-list table table {
	background-color: #CCCCCC;
	border-top: 3px solid #CCCCCC;
	margin: 4px 0 0 0;
	background-repeat: no-repeat;
	background-position: right top;
}

.account-setting .preference-list table table tr td {
	background-color: #FFFFFF;
	height: 40px;
	vertical-align: middle;
	padding: 0 0 0 10px;
}

.account-setting .preference-list table table tr td.setting-head {
	background-color: #F7F7F7;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */

/* Trade Shows Start ---------------------------------------------------------------- */

.tradeshows .info {
	width: 26%;
}

.tradeshows select {
	float: right;
	width: 130px;
}

.tradeshows ul {
	display: inline-block;
	width: 64%;
}

.tradeshows ul li {
	padding: 0 0 0 30%;
	line-height: 22px;
}

.tradeshows ul li.trade-title {
	font-size: 17px;
	color: #009900;
	padding: 0 0 8px 0;
	margin: 0;
	border-bottom: 1px solid #CCC;
}

.tradeshows ul li span {
	width: 43%;
	font-weight: bold;
	display: inline-block;
	margin: 0 0 0 -43%;
}

.tradeshows ul li img {
	vertical-align: middle;
}

.tradeshows .by-month p {
	font-size: 13px;
	font-weight: bold;
	color: #F60;
	display: inline-block;
}

.tradeshows .by-month ul {
	margin: 10px 5px 0 0;
	padding: 2px 0 0 0;
	display: inline;
}

.tradeshows .by-month ul li {
	margin-left: 0;
	padding: 0px 1px 0 5px;
	border-left: 1px solid #CDCDCD;
	list-style: none;
	display: inline;
}

.tradeshows .by-month ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.tradeshows .by-month ul li a {
	color: #06F;
}

.tradeshows .by-month ul li a:hover {
	color: #FF6600;
}

.tradeshows .by-location .col {
	width: 15%;
	padding: 0 0 0 8px;
	float: left;
}

.tradeshows .by-location .col span {
	font-weight: bold;
	padding: 5px 0;
	display: block;
}

.tradeshows .by-location .col ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: auto;
}

.tradeshows .by-location .col li {
	background: url(../images/b2b_img/arrow.png) no-repeat;
	background-position: left center;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
}

.tradeshows .by-location .col li a {
	color: #06C;
	text-decoration: none;
	line-height: 20px;
	display: block;
	width: 100%;
}

.tradeshows .by-location .col a:hover {
	color: #F60;
	text-decoration: underline;
}

.tradeshows-details p {
	font-weight: bold;
	padding: 25px 0 10px 0;
}

.tradeshows-details .details {
}

.tradeshows-details table tr th,  .company-details table tr th {
	background-color: #F2F6FC;
	color: #0066CC;
	text-align: left;
}

.tradeshows-details table tr th,  .tradeshows-details table tr td,  .company-details table tr th,  .company-details table tr td {
	border: 1px solid #8DB8E7;
	border-bottom: 0;
	padding: 10px 5px;
}

.tradeshows-details table tr th,  .company-details table tr th {
	border-left: 0;
	border-right: 0;
}

.tradeshows-details table tr td,  .company-details table tr td {
	background-color: #F9F9F9;
	border-right: 0;
}

.tradeshows-details table tr td img,  .company-details table tr td img {
	vertical-align: top;
}

.tradeshows hr {
	margin: 10px 0;
	border: 1px dashed #C5C5C5;
	border-bottom: 0;
}

/* ---------------------------------------------------------------------------------- */

/* Biz Directory -------------------------------------------------------------------- */

.dir-list {
	border: 2px solid #E0E0E0;
	margin: 10px 0 20px;
	overflow: hidden;
	padding: 5px;
	background-color: #F2F2F2;
	background: -moz-linear-gradient(top, #ffffff 1%, #F2F2F2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #F2F2F2));
	background: -webkit-linear-gradient(top, #ffffff 1%, #F2F2F2 100%);
	background: -o-linear-gradient(top, #ffffff 1%, #F2F2F2 100%);
	background: -ms-linear-gradient(top, #ffffff 1%, #F2F2F2 100%);
	background: linear-gradient(top, #ffffff 1%, #F2F2F2 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F2F2F2', GradientType=0 );
}

.dir-list h3 a {
	color: #656565;
	font-size: 16px;
	font-weight: bold;
}

.dir-list .left-col {
	width: 75%;
	float: left;
}

.dir-list .left-col .type {
	color: #F60;
}

.dir-list .left-col p {
	margin: 12px 0 6px 0;
}

.dir-list .right-col {
	width: 24%;
	text-align: right;
	float: right;
}

.dir-list .right-col img {
	vertical-align: middle;
}

.mod .more a {
	background-image: url(../images/arrow-2.gif);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	color: #FF6600;
	font-weight: bold;
	padding: 0 0 0 15px;
	margin: 8px 0;
	float: right;
	clear: both;
}

.seo-link{
	float:right;
	font-weight:bold;
}

.seo-link a {
	background: #DFDFDF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #C1C1C1;
	font-weight:bold;
	color:#666;
	padding:5px 10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
}

/* ---------------------------------------------------------------------------------- */

/* Details Page Member Menu --------------------------------------------------------- */

#nav-inner .block-body {
	padding: 0;
}

#nav-inner ul li {
	background: url(../images/menu-bg-2.jpg) repeat-x top;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #D7D7D7;
}

#nav-inner ul li a {
	font-weight: bold;
	color: #0158C2;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 22px;
	line-height: 30px;
	background-position: 3px center;
	background-repeat: no-repeat;
}

#nav-inner ul li a:hover {
	color: #F90;
	background-color: #00408A;
}

#nav-inner ul li a {
	background-image: url("../images/nav-arrow.png");
	background-position: 10px center;
}

#nav-inner ul li.selected {
	color: #F60;
}

#nav-inner ul li.selected a {
	color: #F60;
}

#nav-inner ul li.selected a:hover {
	color: #F60;
	background-color: transparent;
}

#nav-inner ul li.last {
	border-bottom: none;
}

#nav-inner ul li ul li {
	border: 0;
}

#nav-inner ul li li a {
	color: #444;
	line-height: 30px;
	background-color: #FFFFFF;
	background-image: none;
	border-top: 1px solid #DDDDDD;
	padding-left: 25px;
}

#nav-inner ul li li a:hover {
	background-color: #0896FF;
	color: #FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Send Inquiry --------------------------------------------------------------------- */

.member-signin {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.member-signin p.heading {
	background: #E2E2E2;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E2E2E2');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E2E2E2));
	background: -moz-linear-gradient(top, #FFFFFF, #E2E2E2);
	box-shadow: 0 1px 1px #FFFFFF inset, 0px 0px 2px #CCC;
	border: 1px solid #C6C6C6;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	color: #63AB27;
	font-weight: bold;
}

.member-signin .body-container {
	border: 1px solid #CCC;
	border-top: 0;
	box-shadow: 0 1px 1px #FFFFFF inset, 0px 0px 2px #CCC;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	padding: 10px;
	text-align: left;
	min-height: 245px
}

.member-signin.non-member {
	float: left;
	width: 48%;
	font-size: 17px;
	background-image: url(../images/b2b_img/downarrow.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.member-signin.existing-member {
	float: right;
	width: 48%;
}

.member-signin.existing-member .input-errors {
	line-height: 15px;
}

.member-signin.existing-member p.heading {
	color: #FF9900;
}

.member-signin label {
	width: 28%;
	display: inline-block;
	font-weight: bold;
	padding: 15px 0 5px 0;
}

.member-signin .form-content {
	margin: 0 0 0 35px;
}

.member-signin input[type="button"].logout-btn {
	background: #FFCC00;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top, #FFFF33, #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFF00 inset;
	border: 1px solid #F90;
	color: #000;
	margin: 0px 0 10px 0;
}

.member-signin a.forgot {
	font-weight: bold;
	color: #090;
	line-height: 25px;
	display: block;
}

/* ---------------------------------------------------------------------------------- */

/* Review Tab ----------------------------------------------------------------------- */

div.review-box {
	width: 100%;
	overflow: hidden;
	margin: auto;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #F5F5F5;
}

div.review-box-img {
	float: left;
	margin: 5px 12px 5px 5px;
	border: 4px solid #FFFFFF;
	box-shadow: 1px 1px 2px #666666;
}

div.review-box-img img {
	vertical-align: top;
}

div.review-box-title {
	width: 18%;
	float: left;
	margin: 10px 0;
}

div.review-box-title span {
	font: 1.4em/1em Georgia, 'Times New Roman', serif !important;
	letter-spacing: -1px;
	color: #006AB0 !important;
	text-transform: capitalize;
}

div.review-box-rate {
	font: italic 1.3em/1.2em Georgia, 'Times New Roman', serif;
	line-height: 30px;
	color: #F60;
}

div.review-box-star {
	padding: 5px 0px;
}

div.review-box-desc {
	font: italic 1.1em/1.4em Georgia, 'Times New Roman', serif;
	color: #333;
	width: 55%;
	overflow: hidden;
	margin: 10px 5px;
	float: right;
	border: 1px solid #B5C8E1;
	background-color: #F1F5FA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 4px;
}

div.review-box-date {
	font-size: 12px;
	color: #666;
	font-style: italic;
}

div.review-box2 span {
	width: 100%;
	overflow: hidden;
	margin: auto;
	background: #FFF;
}

/* ---------------------------------------------------------------------------------- */

/* Invoice Module ------------------------------------------------------------------- */

.invoice-container {
	border: 1px solid #D6D6D6;
}

.invoice .invoice-chart {
	width: 100%;
	display: table;
	margin: auto;
	border-spacing: 0;
}

.invoice .invoice-chart .div-head,  .invoice .invoice-chart .div-hr {
	display: table-row;
	background: #F4F4F4;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#E5E5E5');
	background: -moz-linear-gradient(top, #F4F4F4, #E5E5E5);
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E5E5E5));
	box-shadow: 0 1px 1px #FFFFFF inset;
}

.invoice .invoice-chart .div-head {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #272727;
	text-shadow: 1px 1px 1px #FFF;
}

.invoice .invoice-chart .div-hr {
	background: none;
}

.invoice .invoice-chart .div-head .div-vr-1,  .invoice .invoice-chart .div-head .div-vr-2,  .invoice .invoice-chart .div-hr .div-vr-1,  .invoice .invoice-chart .div-hr .div-vr-2 {
	display: table-cell;
	padding: 10px;
}

.invoice .invoice-chart .div-head .div-vr-1,  .invoice .invoice-chart .div-head .div-vr-2 {
	border-bottom: 1px solid #D6D6D6;
	padding: 15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,  .invoice .invoice-chart .div-hr .div-vr-1 {
	width: 65%;
}

.invoice .invoice-chart .div-head .div-vr-2,  .invoice .invoice-chart .div-hr .div-vr-2 {
	width: 35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,  .invoice .invoice-chart .div-hr .div-vr-2 {
	border-bottom: 1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2 {
	border-left: 1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr.amount-hr {
	text-align: right;
	background-color: #EFEFEF;
	font-size: 13px;
}

.invoice .item-title {
	font-size: 17px;
	margin: 10px auto 2px auto;
	padding: 10px 0px 10px 5px;
	background-color: #FFC;
	border-top: 1px solid #FC0;
	border-bottom: 1px solid #FC0;
	overflow: hidden;
}

.invoice .product-title {
	color: #F60;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.invoice .amount-label,  .invoice .amount-total {
	font-weight: bold;
	line-height: 22px;
}

.invoice .amount-total {
	color: #F60;
}

.invoice .advance {
	background-color: #E7FFDA;
	color: #090;
	font-weight: bold;
}

.invoice .due-balance {
	font-weight: bold;
	padding: 10px 5px 10px 0px;
	background-color: #FDCEA4;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	text-align: right;
}

.invoice a.remove-btn {
	color: #C00;
	float: right;
	padding: 1px 5px 0 18px;
	margin-top: 10px;
	background: #FFECEC url(../images/mod_img/delete.png) no-repeat;
	background-position: 2px center;
	border: 1px solid #FF6F6F;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
}

.customer-details {
	width: 95%;
	display: table;
	margin: 10px auto 10px auto;
	border: 1px solid #CCC;
	border-bottom: none;
}

.customer-details .chart-row {
	display: table-row;
}

.customer-details .chart-row .chart-label,  .customer-details .chart-row .chart-value {
	width: 35%;
	padding: 5px;
	display: table-cell;
	border-bottom: 1px solid #59ACFF;
	background-color: #E3E8F9;
}

.customer-details .chart-row .chart-value {
	width: 65%;
	border-bottom: 1px solid #D8D8D8;
	background-color: #F8F8F8;
}

.invoice-login-area {
	margin: 20px 0 0 20px;
}

.invoice-btn-container {
	padding: 10px 0 5px 15px;
}

h1.status-paid,  h1.status-unpaid,  h1.status-calcel {
	font-weight: bold;
	font-size: 55px;
	text-align: left;
	text-transform: uppercase;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px 20px;
	float: left;
}

h1.status-paid {
	border: 1px solid #87D97B;
	background-color: #D5FFCE;
}

h1.status-unpaid {
	border: 1px solid #DF8F8F;
	background-color: #FFCECE;
}

h1.status-cancel {
	border: 1px solid #E4D949;
	background-color: #FFFBCC;
}

/* ---------------------------------------------------------------------------------- */

/* PRODUCT MODULES ****************************************************************** */


/* Global Module Style -------------------------------------------------------------- */

.mod .mod-container, .mod .mod-content {
	background-color: #FBFBFB;
	border: 1px solid #CCC;
	overflow: hidden;
	margin: 10px 0 20px 0;
	padding: 10px;
	text-align: justify;
}

.mod .mod-content {
	margin: 0 auto;
}

.mod .col {
	padding: 0 12px 3px 0;
	float: left;
}

.mod form .col p {
	font-weight: bold;
	color: #0066CC;
}

.mod input[type="text"],  .mod input[type="password"],  .mod select,  .mod textarea {
	border: 1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 13px;
	padding: 6px;
	margin: 0 0 2px 0;
	box-shadow: 1px 1px 2px #E6E6E6 inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.mod input[type="text"]:focus,  .mod input[type="password"]:focus,  .mod select:focus,  .mod textarea:focus {
	border: 1px solid #4D90FE;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

.mod input[type="text"] {
	padding: 7px;
}

.mod .btn-container {
	margin: auto;
	padding: 10px 0 5px 0;
	width: auto;
	text-align: center;
}

.mod input[type="submit"],  .mod input[type="button"],  .mod .form-button a,  .button a {
	/*background-color: #00387D;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076EC', endColorstr='#00387D');
	background: -webkit-gradient(linear, left top, left bottom, from(#0076EC), to(#00387D));
	background: -moz-linear-gradient(top, #0076EC, #00387D);
	box-shadow: 0 1px 1px #4AB7FF inset;*/
	border: 0px solid #0562BB;
	padding: 8px 45px;
	font-size: 15px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	margin: 8px 0;
}

.mod input[type="submit"]:hover,  .mod input[type="button"]:hover,  .mod .form-button a:hover,  .button a:hover {
	background: #1375B7;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top, #FFFF33, #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFFFF inset;
	border: 1px solid #F90;*/
}

.mod .img-wrapper {
	float:left;
}

.mod .img-wrapper .photo-count-container {
	top: 73px;
	left: 5px;
}

.mod .social {
	float: right;
	text-align: right;
	margin: 12px 0 0 0;
}

.mod .list {
	margin: 5px 0 5px 10px;
	float: left;
	overflow: hidden;
}

.mod .list ul {
	margin: 0;
	padding: 0;
}

.mod .list ul li {
	background-image: url(../images/list-arrow.gif);
	list-style: none;
	background-position: 10px 7px;
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
	line-height: 24px;
}

.mod .list a {
	color: #0066CC;
	text-decoration: none;
	width: 100%;
}

.mod .list a:hover {
	color: #FF9900;
	text-decoration: underline;
}

.mod .form-desc {
	text-align: justify;
	margin: 5px 0 30px 0;
}

.mod .mod-title {
	font-weight: bold;
	color: #0066CC;
}

.mod .mod-title a {
	font-weight: bold;
}

.mod .mod-title a:hover {
	color: #666;
}

.mod .date {
	color: #F60;
}

.mod .thumb {
	border: 1px solid #DFDFDF;
	background-color: #FFF;
	padding: 5px;
	margin: 0 10px 0 0;
	float: left;
}

.mod .more a {
	background: url(../images/arrow-2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 15px;
	float: left;
	color: #F60;
	margin: 10px 0 0 0;
	padding: 0 0 0 15px;
	clear: left;
}

.mod .chart {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.mod .chart .label {
	width: 50%;
	font-weight: bold;
	color: #0066CC;
	float: left;
	background-color: #E3E8F9;
	border-bottom: 1px solid #59ACFF;
	text-indent: 8px;
	padding: 8px 0;
	clear: right;
}

.mod .chart .value {
	width: 50%;
	float: right;
	background: #F8F8F8;
	border-bottom: 1px solid #D8D8D8;
	text-indent: 8px;
	padding: 8px 0;
}

/* ---------------------------------------------------------------------------------- */

/* Other Styles --------------------------------------------------------------------- */

.demo-section {
	width: 22%;
	border:1px  dotted #CCCCCC;
	margin-top:10px;
}	
	
#treeview .k-sprite {
	background-image: url("vendor/scripts/kendo/content/web/treeview/coloricons-sprite.png");
}

.rootfolder { background-position: 0 0; }
.folder { background-position: 0 -16px; }
.pdf { background-position: 0 -32px; }
.html { background-position: 0 -48px; }
.image { background-position: 0 -64px; }

/* ---------------------------------------------------------------------------------- */
	
/* ___________________________________________________________________________________
   

   New CSS used by Developer
   ___________________________________________________________________________________ */

