/* ___________________________________________________________________________________

   CSS Framework for Azuwa B2B Script [Modules]
   ___________________________________________________________________________________ */


@charset "utf-8";
/* GLOBAL MODULES ******************************************************************* */


/* Module Titles -------------------------------------------------------------------- */

.search-icon, .email-icon, .user-reg-icon, .packages-icon, .registration-icon, .users-icon, .password-icon, .feedback-icon, .send-feedback-icon, .sitemap-icon, .contact-icon, .news-icon, .gallery-icon, .chart-icon, .form-icon, .poll-icon, .comments-icon, .article-icon, 

/* B2B Icon Start */

.list-icon, .invoice-icon {
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-position: left center;
	background-repeat: no-repeat;
	padding: 5px 0 0 55px;/*margin:0 0 20px 0;*/

}
.search-icon, .email-icon, .user-reg-icon, .packages-icon, .registration-icon, .users-icon, .password-icon, .feedback-icon, .send-feedback-icon, .sitemap-icon, .contact-icon, .news-icon, .gallery-icon, .chart-icon, .form-icon, .poll-icon, .comments-icon, .article-icon {
	line-height: 40px;
}
/* B2B Icon End */



.search-icon {
	background-image: url("../images/mod_img/search.png");
}
.user-reg-icon {
	background-image: url("../images/mod_img/user-registration.png");
}
.packages-icon {
	background-image: url("../images/mod_img/packages.png");
}
.registration-icon {
	background-image: url("../images/mod_img/user-registration.png");
}
.users-icon {
	background-image: url("../images/mod_img/user-group.png");
}
.password-icon {
	background-image: url("../images/mod_img/password.png");
}
.feedback-icon {
	background-image: url("../images/mod_img/feedback.png");
}
.send-feedback-icon {
	background-image: url("../images/mod_img/write-review.png");
}
.sitemap-icon {
	background-image: url("../images/mod_img/sitemap.png");
}
.contact-icon {
	background-image: url("../images/mod_img/contact.png");
}
.news-icon {
	background-image: url("../images/mod_img/news.png");
}
.gallery-icon {
	background-image: url("../images/mod_img/gallery.png");
}
.chart-icon {
	background-image: url("../images/mod_img/chart.png");
}
.form-icon {
	background-image: url("../images/mod_img/form.png");
}
.poll-icon {
	background-image: url("../images/mod_img/polls.png");
}
.comments-icon {
	background-image: url("../images/mod_img/comments.png");
}
.article-icon {
	background-image: url("../images/mod_img/article.png");
	padding-left: 35px;
}
/* B2B Title Start */



.list-icon {
	background-image: url("../images/b2b_img/round-arrow.png");
	padding: 1px 0 0 35px;
}
.form-icon {
	background-image: url("../images/b2b_img/round-arrow.png");
}
.email-icon {
	background-image: url("../images/mod_tour_img/email-friend.png");
}
.contact-owner-icon {
	background-image: url("../images/mod_tour_img/owner.png");
}
.appointment-icon {
	background-image: url("../images/mod_tour_img/appointment.png");
}
.itinerary-icon {
	background-image: url("../images/mod_tour_img/itinerary.png");
}
.booking-icon {
	background-image: url("../images/mod_tour_img/booking.png");
}
.cart-icon {
	background-image: url("../images/mod_tour_img/cart.png");
}
.invoice-icon {
	background-image: url("../images/mod_img/invoice.png");
}
/* B2B Title End */



/* ********************************************************************************** */


/* Gallery & News Category Panel Start ---------------------------------------------- */


.category-panel,  .topbar {
	background-color: #E6E6E6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
	background: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: linear-gradient(top, #FFFFFF, #E6E6E6);
	border: 1px solid #E1E1E1;
	padding: 10px;
	margin: 10px 0 15px 0;
	overflow: hidden;
}
.category-panel a img {
	float: left;
}
.category-panel a div.toggle {
	float: left;
	padding: 4px 0 0 10px;
}
.category-panel a.toggle-link {
	font-size: 17px;
	color: #CC0000;
}
.cat-list {
	width: 47%;
	margin: 20px 0 0 10px;
	float: left;
	border: 2px solid #E9E9E9;
	background: #F8F8F8;
	overflow: hidden;
}
.cat-list ul {
	margin: 0;
	padding: 0;
}
.cat-list ul li {
	background: url(../images/mod_img/category-list.png) 5px 4px no-repeat;
	list-style: none;
	margin: 0;
	padding: 0 0 0 24px;
	line-height: 21px;
}
.cat-list li a {
	color: #0087E1;
	text-decoration: none;
	width: 100%;
}
.cat-list a:hover {
	color: #666;
	text-decoration: underline;
}
.cat-list .count {
	color: #C00
}
/* ---------------------------------------------------------------------------------- */



/* Gallery Module ------------------------------------------------------------------- */



.mod-gallery {
	margin: auto;
}
.mod-gallery .topbar .browse-link {
	vertical-align: middle;
	padding: 2px 5px 2px 5px;
	font-size: 15px;
	line-height: 18px;
}
.mod-gallery .topbar .browse-link a {
	color: #005BCA;
}
.mod-gallery .topbar .topbar-content .browse-link a:hover {
	color: #666;
}
.mod-gallery .topbar.chart-topbar {
	width: 100%;
}
.mod-gallery .gallery-container {
	border: 1px solid #DDDDDD;
	background-color: #F5F5F5;
	padding: 0 0 15px 0;
	margin: 0 auto 0 auto;
	overflow: hidden;
}
.mod-gallery .gallery-container .image-box {
	background: #E9E9E9;
	float: left;
	margin: 15px 0 0 31px;					/* Gallery image column space settings */
	padding: 5px;
}
.mod-gallery .gallery-container .image-box:hover {
	background-color: #E1E1E1;
}
.mod-gallery .gallery-container .image-box .gallery-thumb {
	width: 195px;							/* Gallery image column size settings */
	height: 230px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.mod-gallery .gallery-container .image-box .gallery-thumb.more {
	width: 100px;
	height: 285px;							/* Arrow box height settings - Category */
}
.mod-gallery .gallery-container .image-box .gallery-thumb.more.more-product {
	height: 403px;							/* Arrow box height settings - Product */
}
.mod-gallery .gallery-container .image-box .gallery-thumb .more a {
	background: url(../images/mod_img/right-arrow.png) no-repeat;
	width: 64px;
	height: 64px;
	display: block;
	margin: auto;
}
.mod-gallery .gallery-container .image-box .gallery-thumb .thumb-img {
	border: 1px solid #DDDDDD;
	background: #FFF;
	padding: 8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.mod-gallery .gallery-container .image-box .icon {
	width: 40%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
.mod-gallery .gallery-container .image-box .icon .icon-bg {
	background: url(../images/mod_img/preview-bg.gif) repeat-x;
	border: 1px solid #BBBBBB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}
.mod-gallery .gallery-container .image-box .icon .icon-bg span.big-view a {
	background: url(../images/mod_img/preview.png) no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
}
.mod-gallery .gallery-container .image-box .icon .icon-bg span.img-details a {
	background: url(../images/mod_img/img-details.png) no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
}
.mod-gallery .gallery-container .info-container {
	margin: 0 0 15px 0;
	overflow: hidden;
	line-height: 20px;
}
.mod-gallery .gallery-container .info-container.product-info {
	height: 110px;
}
.mod-gallery .gallery-container .img-label {
	width: 38%;
	font-weight: bold;
	color: #595959;
	float: left;
	clear: left;
	text-align: right;
}
.mod-gallery .gallery-container .img-value {
	width: 58%;
	color: #595959;
	margin: 0 0 0 6px;
	float: left;
}
.mod-gallery .gallery-container .product-label {
	color: #595959;
}
.mod-gallery .gallery-container .product-label span {
	color: #595959;
	font-weight: bold;
}
.mod-gallery .gallery-container.gallery-details {
	padding: 20px 10px;
}
.mod-gallery .gallery-container .product-details {
	width: 90%;
	color: #515151;
	margin: auto;
	padding: 20px;
	background: #FFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 3px #CDCDCD inset;
}
.mod-gallery .gallery-container .advanced-slider {
	margin: auto;
}
.mod-gallery .login-bar {
	background: #FFFFA6;
	border: 1px solid #FC6;
	padding: 10px 0px;
	margin: 10px 0;
}
.mod-gallery .login-bar a {
	background: url(../images/mod_img/bullet.png) 5px 2px no-repeat;
	color: #F60;
	font-weight: bold;
	padding: 3px 0 1px 25px;
}
.mod-gallery .gallery-container.related {
	border: 2px solid #DDDDDD;
	background: #F5F5F5;
	padding: 15px;
}
.mod-gallery .related .related-title {
	font-size: 17px;
	font-weight: bold;
	color: #5C5C5C;
	text-shadow: 1px 1px 1px #FFF;
	background: url(../images/mod_img/related-img.png) 0 0 no-repeat;
	padding: 4px 0 5px 38px;
	margin: 0 0 10px 0;
}
.mod-gallery .related .image-box {
	border: 1px solid #CCC;
	background: #FFF;
}
.mod-gallery .related .image-box.active {
	background: #E9E9E9;
}
.mod-gallery .related .image-box .gallery-thumb.related-thumb {
	width: 130px;							/* Related image box settings */
	height: 130px;
}
/* Gallery Chart Start */



.mod-gallery .gallery-chart {
	width: 100%;
	overflow: hidden;
	border-spacing: 0;
	border: 1px solid #DDDDDD;
	display: table;
	margin: auto;
}
.mod-gallery .gallery-chart .chart-header {
	background-color: #E6E6E6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
	background: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: linear-gradient(top, #FFFFFF, #E6E6E6);
	border: 1px solid #E1E1E1;
	font-weight: bold;
	color: #4B4B4B;
	display: table-row;
	line-height: 30px;
}
.mod-gallery .gallery-chart .chart-col-1 {
	width: 15%;
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
}
.mod-gallery .gallery-chart .chart-col-1.col-2 {
	width: 52%;
	text-align: justify;
	padding-right: 20px;
	margin-left: 0;
}
.mod-gallery .gallery-chart .chart-col-1.col-3 {
	width: 15%;
}
.mod-gallery .gallery-chart .chart-col-1.col-4 {
	width: 18%;
	text-align: right;
	font-weight: bold;
	border-right: none;
}
.mod-gallery .gallery-chart .chart-col-1 a {
	font-weight: bold;
}
.mod-gallery .gallery-chart .chart-body {
	display: table-row;
}
.mod-gallery .gallery-chart .chart-body.chart-bg {
	background: #F2F2F2;
}
.mod-gallery .back-btn a {
	font-size: 17px;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: #F2F2F2;
	float: right;
	display: block;
	padding: 5px;
	margin: 10px -2px 0 0;
}
/* Gallery Chart End */



.mod-gallery select,  .mod-gallery input[type="text"] {
	width: 165px;
}
.mod-gallery .col p {
	padding: 0 0 5px 0;
}
.mod-gallery .result-title {
	font-style: italic;
	font-weight: bold;
	color: #666;
	padding: 20px 0 0 15px;
}
/* ---------------------------------------------------------------------------------- */



/* News Module ---------------------------------------------------------------------- */



.mod-news .news-desc {
	width: 100%;
}
.mod-news .news-desc .date {
	font-style: italic;
	color: #8C8C8C;
	margin: 8px 0px;
}
.mod-news .news-desc fieldset legend a:hover {
	color: #FFF;
}
.mod-news .calendar {
	background: url(../images/mod_img/calendar.png);
	width: 85px;
	height: 76px;
	margin: 0 0 0 15px;
	float: right;
	position: relative;
}
.mod-news .calendar .month {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin: 12px 0 0 0;
}
.mod-news .calendar h1 {
	margin: 3px 0 0 16px;
}
.mod-news .calendar .year {
	font-size: 11px;
	font-weight: bold;
	color: #0660B8;
	position: absolute;
	bottom: 9px;
	left: 44px;
}
.mod-news .news_border {
	background-color: #FFF;
	height: 260px;
	overflow: auto;
	border: 1px solid #CCC;
	padding: 5px;
}
.mod-news .buttondiv {
	position: absolute;
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	height: 20px;
}
.mod-news .news-title-scroll {
	color: #006666;
	font-weight: bold;
	padding: 5px 0px 5px 5px;
	margin: 35px 0 20px 0;
	background-color: #F2FECD;
	border: 1px solid #AEE800;
}
.mod-news .archive {
	width: 100%;
	margin: auto;
	display: table;
	border: 1px solid #cccccc;
}
.mod-news .archive .row {
	display: table-row;
}
.mod-news .archive .row .col {
	width: 50%;
	display: table-cell;
	padding: 0;
	vertical-align: top;
	float: none;
}
.mod-news .archive .row .col p {
	font-size: 17px;
	text-align: center;
	background: #E6E6E6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
	background: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
	background: linear-gradient(top, #FFFFFF, #E6E6E6);
	padding: 10px 0;
	margin: 0;
}
.mod-news .archive .row .col p.border {
	border-right: 1px solid #CCC;
}
.mod-news .archive .list span.year,  .mod-news .archive .list span.month {
	font-size: 15px;
}
.mod-news .archive .list .year_name,  .mod-news .archive .list .month_name {
	width: 14px;
	height: 14px;
	color: #FFF;
	text-align: center;
	margin: 5px 10px 5px 0;
	cursor: pointer;
	border: 1px solid #127211;
	background-color: #0660B8;
	display: inline-block;
}
.mod-news .archive .list .month_list {
	margin-left: 20px;
}
.mod-news .archive .month_list .cat_list a {
	text-decoration: none;
	color: #0066FF;
	margin-left: 25px;
	line-height: 20px;
}
.mod-news .archive .month_list .cat_list a:hover {
	color: #666;
	text-decoration: underline;
}
.mod-news .col p {
	padding: 0 0 5px 0;
}
.mod-news select,  .mod-news input[type="text"] {
	width: 175px;
}
/* ---------------------------------------------------------------------------------- */



/* Dynamic Form --------------------------------------------------------------------- */



.mod-form img {
	vertical-align: middle;
}
/* ---------------------------------------------------------------------------------- */



/* Search --------------------------------------------------------------------------- */



.mod .mod-container.simple-container {
	text-align: center;
}
.mod .simple-container input[type="text"].big-field {
	width: 50%;
	padding: 9px;
}
/* ---------------------------------------------------------------------------------- */



/* Polls ---------------------------------------------------------------------------- */



.mod-polls .polls-bg {
	background: #FFFFA6;
}
.mod-polls .poll-title {
	font-weight: normal;
	font-size: 17px;
	color: #F60;
	background: url(../images/mod_img/bullet.png) 0 7px no-repeat;
	border: 1px solid #FC6;
	padding: 5px 0px;
	text-indent: 20px;
}
.mod-polls .btn a {
	background: #F49610;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC106', endColorstr='#F49610');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC106), to(#F49610));
	background: -moz-linear-gradient(top, #FFC106, #F49610);
	border: 1px solid #FF6600;
	box-shadow: 0 1px 1px #FEEB81 inset;
	padding: 5px 25px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	float: right;
}
.mod-polls .btn a:hover {
	background: #6B8C23;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top, #99CC00, #6B8C23);
	border: 1px solid #6B8C23;
	box-shadow: 0 1px 1px #C7FF1C inset;
	color: #FFF;
	text-decoration: none;
}
.mod-polls .result-block {
	border: 1px solid #0775E1;
	margin: 0 0 10px 0;
}
.mod-polls .result-block h4 {
	background-color: #0775E1;
	color: #FFF;
	text-align: center;
	line-height: 25px;
	margin: 0;
}
.mod-polls .result-block .total {
	background-color: #85B000;
	color: #FFF;
	line-height: 20px;
}
/* ---------------------------------------------------------------------------------- */



/* Review  -------------------------------------------------------------------------- */



.mod-review .review-details {
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 15px 0;
	overflow: hidden;
}
.mod-review .review-details .content {
	padding: 10px;
}
.mod-review .review-header {
	background: #D8D8D8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
}
.mod-review .review-header h4.icon {
	background: url(../images/mod_img/symbol.png) 8px center no-repeat;
	padding: 8px 0 8px 30px;
}
.mod-review .element {
	width: 25%;
	font-weight: bold;
	color: #F27300;
	text-align: left;
	float: left;
	clear: right;
	margin: 0 0 10px 0;
}
.mod-review .value {
	width: 70%;
	float: right;
	margin: 0 0 10px 10px;
	border-bottom: 1px solid #CCC;
	border-bottom-style: dashed;
}
.mod-review .review-img {
	border: 1px solid #DFDFDF;
	background-color: #FFF;
	padding: 5px;
	margin: 5px 5px 16px 0;
}
/* ---------------------------------------------------------------------------------- */



/* Site Map ------------------------------------------------------------------------- */



.mod-sitemap {
	width: 23%;
	margin: 10px 0 0 15px;
	float: left;
	overflow: hidden;
}
.mod-sitemap .parent-item ul {
	margin: 0;
	padding: 0;
}
.mod-sitemap .parent-item li {
	background: url(../images/mod_img/arrow.gif) 0 6px no-repeat;
	list-style: none;
	margin: 0;
	padding: 0 0 0 15px;
	line-height: 22px;
}
.mod-sitemap .parent-item li a {
	text-decoration: none;
	width: 100%;
}
.mod-sitemap .parent-item li a:hover {
	text-decoration: underline;
}
.mod-sitemap .child-item ul {
	margin: 0;
	padding: 0;
}
.mod-sitemap .child-item li {
	background: url(../images/mod_img/arrow-small.png) 0 6px no-repeat;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 15px;
	line-height: 22px;
}
.mod-sitemap .child-item li a {
	color: #F60;
	width: 100%;
}
.mod-sitemap .child-item li a:hover {
	color: #999999;
}
/* ---------------------------------------------------------------------------------- */



/* Member Resigtration -------------------------------------------------------------- */



.mod-reg .type {
	padding-left: 20%;
	line-height: 25px;
	font-size: 17px;
}
.mod-reg .type input[type="radio"] {
	margin: 0 10px 0 0;
}
.mod-reg .star_class {
	color: #FF6;
}
/* ---------------------------------------------------------------------------------- */



/* Member Signup Layout ------------------------------------------------------------- */



.member-signup .signup-header {
	background: url(../images/mod_img/signup-header-bg.gif);
	background-repeat: repeat-x;
	position: relative;
	margin: 20px 0 0 0;
}
.member-signup .signup-header h1 {
	font-weight: bold;
	font-size: 32px;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
	padding: 20px 10px;
	margin: 0;
}
.member-signup .signup-bottom-bar {
	border: 1px solid #A9CEED;
	border-top: 0;
	background: #E0F1FC;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ACDCF7));
	background: -webkit-linear-gradient(top, #FFFFFF, #ACDCF7);
	background: -moz-linear-gradient(top, #FFFFFF, #ACDCF7);
	background: -o-linear-gradient(top, #FFFFFF, #ACDCF7);
	background: -ms-linear-gradient(top, #FFFFFF, #ACDCF7);
	background: linear-gradient(top, #FFFFFF, #ACDCF7);*/
	padding: 10px;
	margin: 0 0 8px 0;
}
.member-signup .signup-bottom-bar span {
	width: 66%;
	font-weight: bold;
	display: block;
}
.member-signup .info {
	color: #004F9D;
	line-height: 20px;
	width: 38%;
	min-height:460px;
	margin: 0 0 0 10px;
	display: inline-block;
}
.member-signup .info ul {
	margin: 0;
	padding: 0;
}
.member-signup .info ul li {
	background: url(../images/mod_img/arrow-right.png) left 5px no-repeat;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0px 0px 0px 15px;
	line-height: 20px;
}
.member-signup .info p {
	font-weight: bold;
	text-decoration: underline;
}
.member-signup .lock {
	float: left;
	padding: 0 20px 0 0;
}
.member-signup .login-box {
	width: 28%;
	border: 12px solid #79AE42;
	background: #D8D8D8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
	background: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
	background: linear-gradient(top, #FFFFFF, #D8D8D8);
	box-shadow: 1px 1px 4px rgba(0,0,0, 0.5);
	padding:10px;
	position: absolute;
	top: -20px;
	right: 10px;
}
.member-signup input[type="button"].logout-btn {
	background: #FFEE17;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top, #FFFF33, #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFF00 inset;*/
	border: 1px solid #F90;
	color: #000;
	margin: 0px 0 10px 0;
}
.member-signup .login-box form p {
	/*padding: 5px 0;*/
	font-weight: bold;
}
.member-signup .login-box input[type="text"],  .member-signup .login-box input[type="password"] {
	width: 80%;
	margin: 0 0 5px 0;
}
.member-signup a.join {
	background: #FF9918;
 	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEBA2E', endColorstr='#E76F01');
	background: -webkit-gradient(linear, left top, left bottom, from(#FEBA2E), to(#E76F01));
	background: -moz-linear-gradient(top, #FEBA2E, #E76F01);
	border: 2px solid #FF6600;
	box-shadow: 0 1px 1px #FFFF33 inset;*/
	color: #FFF;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	padding: 12px 25px;
	margin: 10px 0;
	cursor: pointer;
	/*border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;*/
}
.member-signup a.join:hover {
	background-color:#FE7602;
	text-decoration: none;
	color: #FF3;
}
.member-signup .login-box em {
	font-size: 11px;
	color: #737373;
}
/* ---------------------------------------------------------------------------------- */



/* Member Login --------------------------------------------------------------------- */



.mod-login .login-box {
	width: 80%;
	margin: 50px auto;
	padding: 10px;
	box-shadow: 0 0 5px #CCC;
	border: 3px solid #D4D4D4;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-wekit-border-radius: 8px;
	overflow: hidden;
}
.mod-login .login-box h1 {
	background: url(../images/mod_img/lock.png) 8px center no-repeat;
	margin: 0 0 5px 0;
	text-indent: 35px;
	font-weight: normal;
	clear: both;
}
.mod-login .login-img {
	background: url(../images/mod_img/login.png) 0 0 no-repeat;
	width: 160px;
	height: 130px;
	margin: 10px 38px 10px 0;
	float: left;
}
.mod-login .field-area {
	width: 65%;
	float: left;
}
.mod-login .field-area p.label {
	color: #4D4D4D;
	font-weight: bold;
	padding: 5px 0;
}
.mod-login .field-area input[type="text"],  .mod-login .field-area input[type="password"] {
	width: 80%;
	margin: 0 0 5px 0;
}
.mod-login .icon {
	background-position: 5px center;
	background-repeat: no-repeat;
	text-indent: 22px;
}
.mod-login .icon.user-icon {
	background-image: url(../images/mod_img/login-user.png);
}
.mod-login .icon.pass-icon {
	background-image: url(../images/mod_img/login-pass.png);
}
.mod-login .signup a {
	color: #06F;
	font-weight: bold;
	margin: 20px 0 0 0;
	display: inline-block;
}
.mod-login a.reg {
	background: url(../images/mod_img/member.png) 0 0 no-repeat;
	padding: 5px 0 5px 28px;
}
.mod-login input[type="button"].logout-btn {
	background: #FFCC00;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33', endColorstr='#FFCC00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF33), to(#FFCC00));
	background: -moz-linear-gradient(top, #FFFF33, #FFCC00);
	text-shadow: 1px 1px 1px #FFF;
	box-shadow: 0 1px 1px #FFFF00 inset;
	border: 1px solid #F90;
	color: #000;
	margin: 40px 0 10px 0;
}
.mod-login #logout_box a {
	/*font-weight:bold;*/

	padding-top: 10px;/*display:block;*/

}
/* ---------------------------------------------------------------------------------- */



/* Membership Packages -------------------------------------------------------------- */



.mod-packages .package-info {
	text-align: justify;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mod-packages .price {
	font-weight: bold;
	color: #F60;
}
/* ---------------------------------------------------------------------------------- */



/* Article -------------------------------------------------------------------------- */



.mod-article {
	text-align: justify;
	padding: 5px;
	margin: 5px auto 10px auto;
}
.mod-article .edit {
	float: right;
	margin: 0 0 10px 10px;
}
/* ---------------------------------------------------------------------------------- */



/* Article Frontend Editor ---------------------------------------------------------- */



.CodeMirror,  .article-textarea {
	width: 850px;
	height: 800px;
}
.article-textarea {
	height: 500px;
}
/* ---------------------------------------------------------------------------------- */



/* Forms ---------------------------------------------------------------------------- */



.star_class {
	color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.label_class {
	font-weight: bold;
}
.form-label-container {
	width: 35%;
	float: left;
	line-height: 20px;
}
.form-field-container {
	width: 59%;
	float: left;
}
.form-field {
	margin-bottom: 10px;
	float: left;
}
.form-field-info {
	display: inline-block;
	padding: 1px 0 0 10px;
}
.form-field-info p {
	margin: 0;
}
.captcha img {
	vertical-align: middle;
}
/* ---------------------------------------------------------------------------------- */



/* Messages ------------------------------------------------------------------------- */



.error {
	padding: 3px 3px 3px 45px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #D97B7B;
	margin: 50px auto 20px auto;
	width: 50%;
	color: #FF3535;
	background-image: url(../../../../modules/Administrator/layouts/scripts/images/title/error.png);
	background-color: #FFDFDF;
	background-position: 4px center;
	background-repeat: no-repeat;
	line-height: 28px;
}
.errors, .seccMess, .warning, .infoMess, .not-found, .dataTables_empty {
	padding: 3px 3px 3px 30px;
	margin: 2px 0 5px 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.input-errors {
	width: auto;
	font-style: italic;
	color: #F00;
	line-height: 30px;
	clear: left;
	display: block;
}
.infoMess {
	background: #D3ECFE url(../images/mod_img/information.png) no-repeat scroll 4px center;
	border: 1px solid #A3B9E9;
}
.warning,  .dataTables_empty {
	background: #FFFBCC url(../images/mod_img/warning.png) no-repeat scroll 4px center;
	border: 1px solid #E6DB55;
	color: #4B4B4B;
	display: block;
}
.not-found {
	font-size: 18px;
	font-weight: bold;
	color: #F93340;
	border: 1px solid #FD8C8C;
	background: #FFE6E6 url(../images/mod_img/error.png) no-repeat 4px center;
	line-height: 40px;
	letter-spacing: -1px;
	text-indent: 15px;
}
.invalid ul {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	display: inline-block;
}
.invalid ul li {
	list-style: disc;
	line-height: 22px;
}
.dataTables_empty {
	color: #F30;
	margin: 30px 0;
	padding: 10px 10px 10px 30px;
	text-align: left !important;
}
/* ---------------------------------------------------------------------------------- */



/* JQuery Customized Style ---------------------------------------------------------- */



.ui-icon {
	float: left;
}
.ui-widgetinput-medium {
	font-size: 12px;
}
.ui-widget img {
}
#actionMessage .ui-corner-all {
	padding: 6px;
	margin: 0 0 10px 0;
}
.form-field-info .ui-corner-all {
	padding: 2px;
	margin-bottom: 1px;
	overflow: hidden;
}
.ui-icon-alert {
	background-position: 0 -143px !important;
}
.ui-state-success, .ui-widget-content .ui-state-success, .ui-widget-header .ui-state-success {
	background: #D5FFCE url(../images/mod_img/tick.png) no-repeat 4px center;
	border: 1px solid #9ADF8F;
	color: #009900;
}
.ui-state-success a, .ui-widget-content .ui-state-success a, .ui-widget-header .ui-state-success a {
	color: #009900;
}
.ui-state-success-text, .ui-widget-content .ui-state-success-text, .ui-widget-header .ui-state-success-text {
	color: #009900;
}
.ui-button-text {
	padding: 12px 22px !important;
}
input[type="text"].ui-state-error,  input[type="password"].ui-state-error,  select.ui-state-error,  textarea.ui-state-error {
	border: 1px solid #DB8282;
}
.ui-state-success .ui-icon {
	background-image: none !important;
}
.ui-state-success .ui-icon-check {
	background-image: none !important;
}
.ui-tabs .ui-tabs-panel {
	padding: 5px;
	overflow: hidden;
}
.ui-datepicker-trigger {
	position: relative;
	margin: 1px 0 0 10px;
	float: left;
}
.ui-combobox {
	position: relative;
	display: inline-block;
	margin: 0 40px 0 0;
}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;

	/*support: IE7 */

	*height: 1.7em;
 *top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}
.hasDatepicker {
	float: left;
}
.demo-section {
	width: 21%;
	border: 1px dotted #CCCCCC;
	margin-top: 10px;
}
.demo-section.left-float {
	margin-right: 0;
}
#treeview .k-sprite {
	background-image: url("../../../../../vendor/scripts/kendo/content/web/treeview/coloricons-sprite.png");
}
.rootfolder {
	background-position: 0 0;
}
.folder {
	background-position: 0 -16px;
}
.pdf {
	background-position: 0 -32px;
}
.html {
	background-position: 0 -48px;
}
.image {
	background-position: 0 -64px;
}
/* ---------------------------------------------------------------------------------- */



/* Uploadify ------------------------------------------------------------------------ */



.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
/* ---------------------------------------------------------------------------------- */



/* Loader --------------------------------------------------------------------------- */



.ui-progressbar-value {
	background-image: url("../images/loader/pbar-ani.gif");
}
.ui-autocomplete-loading {
	background-image: url("../images/loader/ui-anim_basic_16x16.gif");
	background-position: right center;
	background-repeat: no-repeat;
	width: 17px;
}
#progressbar,  #progressbar_comment {
	height: 22px !important;
	margin-top: 44px !important;
}
#check_result img {
	vertical-align: middle;
	margin-top: -5px;
}
#full_payment_link {
	padding: 5px 5px 0 0;
}
.save_hotels_btn img {
	vertical-align: middle;
	margin: 0 5px 0 0;
	height: 13px;
}
/* ---------------------------------------------------------------------------------- */



/* Thumb Upload --------------------------------------------------------------------- */



span.thumbnail {
	margin: 0 0 1px 5px;
	padding: 5px;
	float: left;
	position: relative;
	width: 25px;
	height: 15px;
	clear: right;
}
span.thumbnail img {
	width: 30px;
	height: 20px;
	-ms-interpolation-mode: bicubic;
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0;
	top: 0;
}
span.thumbnail img.hover {
	background: url(../images/mod_img/thumb-bg.png) no-repeat center center;
	border: 1px solid #ddd;
}
/* ---------------------------------------------------------------------------------- */



/* Gallery Thumb -------------------------------------------------------------------- */



.upload-img {
	float: left;
	text-align: center;
	padding: 5px;
	margin: 5px 5px 0 0;
}
.upload-img.box {
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 5px;
}
.upload-img a {
	margin: 5px 0 0 0;
	display: inline-block;
	text-align: center;
}
.upload-img.box .thumb {
	float: none;
	width: 30px;
	height: 10px;
	margin: auto;
}
.upload-img.box .thumb img {
	border: 1px solid #D7D7D7;
	padding: 1px;
	background-color: #FFF;
}
.k-grid td .thumb img {
	margin-top: -7px !important;
	border: 1px solid #D7D7D7;
	padding: 1px;
	background-color: #FFF;
}
/* ---------------------------------------------------------------------------------- */



/* Featured News Scroll ------------------------------------------------------------- */



.news_style {
	display: none;
}
.news_show {
	background-color: white;
	color: black;
	/*height:180px;*/

	font: normal 100% "Arial", "Lucida Grande", Verdana, Sans-Serif;
	overflow: auto;
}
.news_mark {
	background-color: white;
	font: normal 70% "Arial", "Lucida Grande", Verdana, Sans-Serif;
	border: 0px solid gray;
	width: 90%;
	height: 35px;
	color: black;
	text-align: center;
}
.news_title {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #1E1E1E;
	border: 0px solid gray;
	padding: 5px 0px 9px 5px;
	color: black;
}
.news_show img {
	margin-left: 5px;
	margin-right: 5px;
}
/* ---------------------------------------------------------------------------------- */



/* Error Pagge ---------------------------------------------------------------------- */



.error-page {
	background: #FFF url(../images/error_img/bg.jpg) repeat;
}
.error-page .container {
	width: 85%;
	position: relative;
	margin: 50px auto;
	border: 1px solid #D1D1D1;
	background: #FFF;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.error-page .container .error-content {
	width: 95%;
	margin: 50px auto 20px auto;
}
.error-page .container .error-content .title {
	background: #FFF url(../images/error_img/warning.png) 25px 22px no-repeat;
	width: 80%;
	margin: auto;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: -1px;
	padding: 12px 0 10px 120px;
	color: #C1C1C1;
	text-shadow: 0 1px 1px #666;
}
.error-page .container .error-content .title p {
	font-size: 20px;
	color: #666;
	text-shadow: none;
	margin: 0;
}
.error-page .container .error-content .btn {
	background: #9ED254;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ED254', endColorstr='#649719');
	background: -webkit-gradient(linear, left top, left bottom, from(#9ED254), to(#649719));
	background: -moz-linear-gradient(top, #9ED254, #649719);
	border: 1px solid #619230;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 10px 28px;
	display: inline-block;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
.error-page .container .error-content a.icon {
	background: url(../images/error_img/back.png) 100% 2px no-repeat;
	padding-right: 20px;
	width: 14px;
	height: 12px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 0;
	color: #FFF;
}
.error-page .container .error-content a.icon:hover {
	color: #FF6;
	text-decoration: none;
}
.error-page .container .label {
	background: url(../images/error_img/404.png) no-repeat;
	width: 181px;
	height: 181px;
	position: absolute;
	top: -8px;
	left: -8px;
	display: block;
}
.error-page .container .error-content span {
	color: #C00;
	font-size: 17px;
}
/* ---------------------------------------------------------------------------------- */



/* ********************************************************************************** */





/* Member's Layout ****************************************************************** */



.member-block .block-heading {
	font-size: 13px;
	font-weight: bold;
	color: #202020;
	padding: 0px 0;
	background: #DFDFDF;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #CCCCCC;
	border-bottom: 0;
	box-shadow: 0 1px 1px #FFFFFF inset;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
.member-block .block-heading .symbol {
	background: url(../images/mod_img/round-arrow.png);
	background-position: 4px center;
	background-repeat: no-repeat;
	padding: 11px 0 10px 35px;
}
.member-block .block-body {
	margin: 0 0 15px 0;
	padding: 5px;
	background-color: #FFFFFF;
	border-top: 0;
	border: 1px solid #CCCCCC;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	width: auto;
	overflow: hidden;
}
.member-block .block-body .thumb {
	background-color: #FFF;
	padding: 5px;
	margin: 2px 4px 2px 0px;
	float: left;
}
.member-block .block-body .block-content {
	margin: 0 auto 5px auto;
	padding: 5px;
	overflow: hidden;
}
.member-block .seperator {
	background: url(../images/dot_border.gif) repeat-x;
	width: 100%;
	display: inline-block;
	padding: 2px 0 0 0;
	margin: 0 0 0 0;
}
.member-block .more a {
	background: url(../images/arrow-2.gif);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	color: #FF6600;
	font-weight: bold;
	padding: 0 0 0 15px;
	margin: 8px 0;
	float: left;
	clear: left;
}
.member-block .block-body.last {
	margin: 0 0 0 0;
}
.member-block.block-news {
	float: none;
	width: 100%;
}
.member-block.block-news .block-content .thumb {
	border: 1px solid #DFDFDF;
}
/* ---------------------------------------------------------------------------------- */



/* Account Informations ------------------------------------------------------------- */



.block-my-account {
	border: 1px solid #E6DB55;
	background-color: #FFFFE8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px;
	margin: 0 0 15px 0;
	overflow: hidden;
}
.block-my-account .avatar {
	float: left;
	background-color: #FFF;
	border: 1px solid #dddddd;
	padding: 5px;
	margin: 0 10px 0 0;
}
.block-my-account .info {
	display: inline-block;
	line-height: 20px;
	float: left;
}
.block-my-account .info span {
	font-weight: bold;
	color: #333333;
}
.block-my-account strong {
	color: #06F;
}
.block-my-account .calendar {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/calendar.png");
	width: 80px;
	height: 80px;
	margin: 1px 0 0 15px;
	text-align: center;
	font-size: 20px;
	float: right;
	position: relative;
}
.block-my-account .calendar .month {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	margin: 2px 0 0 0;
}
.block-my-account .calendar h1 {
	margin: 2px 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	color: #FFF;
	font-size: 2em;
	text-shadow: 0 1px 1px #039;
}
.block-my-account .calendar .year {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	position: absolute;
	bottom: 1px;
	left: 26px;
}
/* ---------------------------------------------------------------------------------- */



/* Member Account Overview ---------------------------------------------------------- */



.block-account-overview ul li a div {
	width: 75%;
	display: inline-block;
}
.block-account-overview ul li a {
	border-bottom: 1px dotted #CCCCCC;
	list-style: none;
	color: #333;
	padding: 10px 4px;
	display: block;
}
.block-account-overview ul li a:hover {
	background-color: #F8F8F8;
	color: #F60;
}
.block-account-overview ul li.last a {
	border-bottom: 0;
}
.block-account-overview ul li span {
	color: #06F;
	font-size: 13px;
	float: right;
	text-align: right;
}

.block-account-overview span.label{
	color:#FFF;
}
/* ---------------------------------------------------------------------------------- */



/* Member Package ------------------------------------------------------------------- */



.block-membership-pkgs .block-content .membership-pkg {
	border: 1px solid #FFCC00;
	background-color: #FFFFDF;
	font-weight: bold;
	padding: 5px;
	border-radius: 25px;
	text-align: center;
}
.block-membership-pkgs .block-content img {
	margin: 15px auto;
	display: block;
}
.block-membership-pkgs .link-btn {
	text-align: center;
}
.block-membership-pkgs .link-btn a {
	background: #6B8C23;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CC00', endColorstr='#6B8C23');
	background: -webkit-gradient(linear, left top, left bottom, from(#99CC00), to(#6B8C23));
	background: -moz-linear-gradient(top, #99CC00, #6B8C23);
	padding: 6px 10px 6px 10px;
	font-weight: bold;
	color: #FFF;
	box-shadow: 0 1px 1px #AFF420 inset;
	border: 1px solid #719502;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align: center
}
.block-membership-pkgs .link-btn a:hover {
	background: #EC8D00;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA00', endColorstr='#EC8D00');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBA00), to(#EC8D00));
	background: -moz-linear-gradient(top, #FFBA00, #EC8D00);
	color: #FFF;
	box-shadow: 0 1px 1px #FEE849 inset;
	border: 1px solid #F09100;
	text-decoration: none;
}
/* ---------------------------------------------------------------------------------- */



/* User Control Panel --------------------------------------------------------------- */



.block-control-panel .block-heading .symbol a {
	color: #4B4B4B;
	background: #C7C7C7;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#C7C7C7');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#C7C7C7));
	background: -moz-linear-gradient(top, #F7F7F7, #C7C7C7);
	border: 1px solid #B2B2B2;
	text-shadow: 0 1px 1px #FFFFFF;
	box-shadow: 0 1px 1px #FFFFFF inset;
	padding: 5px 15px;
	margin: -6px 10px 0 0;
	border-radius: 4px;
	text-decoration: none;
	float: right;
}
.block-control-panel .block-heading .symbol a:hover {
	background: #DFDFDF;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#DFDFDF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#DFDFDF));
	background: -moz-linear-gradient(top, #F7F7F7, #DFDFDF);
	border: 1px solid #C1C1C1;
}
.block-control-panel .block-heading .symbol a .cp-icon {
	background: url(../../../../modules/Administrator/layouts/scripts/images/tools/cp-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	width: 16px;
	height: 16px;
}
.block-control-panel fieldset {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.block-control-panel fieldset legend {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size:12px;
	font-weight: bold;
	margin: 0;
	padding: 8px 5px;
	color: #0158C2;
}
.block-control-panel .tools-nav {
	float: left;
	margin: 0 0 15px 8px;
}
.block-control-panel .tools-nav a {
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 100px;
	height: 100px;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	color: #09C;
	float: left;
}
.block-control-panel .tools-nav a:hover {
	background-color: #F5F5F5;
	border: 1px solid #AAAAAA;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
	box-shadow: 0px 0px 8px #999;
	text-decoration: none;
}
.block-control-panel .tools-nav a p.tools-tip {
	vertical-align: bottom;
	display: block;
	text-align: center;
	line-height: 15px;
	font-size: 11px;
}
.block-control-panel .tools-nav a p.tools-tip {
	margin: 68px 2px 0 2px;
}
.block-control-panel .tools-nav a div.icon {
	background-repeat: no-repeat;
	position: absolute;
	width: 60px;
	height: 60px;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.block-control-panel .tools-nav a:hover div.icon {
	margin: 15px 0 0 27px;
}
.block-control-panel .tools-nav div.icon {
	margin: 15px 0 0 27px;
}
.block-control-panel .tools-nav div.icon.user-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-add.png");
}
.block-control-panel .tools-nav div.icon.user-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-manage.png");
}
.block-control-panel .tools-nav div.icon.user-search-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-search.png");
}
.block-control-panel .tools-nav div.icon.password-change-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/password-change.png");
}
.block-control-panel .tools-nav div.icon.user-profile-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-profile.png");
}
.block-control-panel .tools-nav div.icon.user-policy-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-policy.png");
}
.block-control-panel .tools-nav div.icon.user-privilege-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/user-privilege.png");
}
.block-control-panel .tools-nav div.icon.pkg-palns-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/pkg-palns.png");
}
.block-control-panel .tools-nav div.icon.article-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-add.png");
}
.block-control-panel .tools-nav div.icon.article-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-manage.png");
}
.block-control-panel .tools-nav div.icon.menu-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-add.png");
}
.block-control-panel .tools-nav div.icon.menu-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-manage.png");
}
.block-control-panel .tools-nav div.icon.form-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/form-manage.png");
}
.block-control-panel .tools-nav div.icon.form-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/form-add.png");
}
.block-control-panel .tools-nav div.icon.article-link-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/article-link.png");
}
.block-control-panel .tools-nav div.icon.menu-link-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/menu-link.png");
}
.block-control-panel .tools-nav div.icon.pending-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/pending.png");
}
.block-control-panel .tools-nav div.icon.api-settings-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/api-settings.png");
}
.block-control-panel .tools-nav div.icon.cat-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/category.png");
}
.block-control-panel .tools-nav div.icon.cat-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/category-add.png");
}
.block-control-panel .tools-nav div.icon.business-manage-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/business-type.png");
}
.block-control-panel .tools-nav div.icon.business-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/business-type-add.png");
}
.block-control-panel .tools-nav div.icon.photo-gallery-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/photo-gallery.png");
}
.block-control-panel .tools-nav div.icon.photo-gallery-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/photo-gallery-add.png");
}
.block-control-panel .tools-nav div.icon.news-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/news.png");
}
.block-control-panel .tools-nav div.icon.news-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/news-add.png");
}
.block-control-panel .tools-nav div.icon.ad-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/ad.png");
}
.block-control-panel .tools-nav div.icon.project-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/project.png");
}
.block-control-panel .tools-nav div.icon.feedback-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/feedback.png");
}
.block-control-panel .tools-nav div.icon.comment-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/comment.png");
}
.block-control-panel .tools-nav div.icon.review-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/review.png");
}
.block-control-panel .tools-nav div.icon.pools-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/poll.png");
}
.block-control-panel .tools-nav div.icon.newsletter-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/newsletter.png");
}
.block-control-panel .tools-nav div.icon.billing-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/billing.png");
}
.block-control-panel .tools-nav div.icon.comment-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/comment.png");
}
.block-control-panel .tools-nav div.icon.visitor-comment-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/visitor-comments.png");
}
.block-control-panel .tools-nav div.icon.geo-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/geo.png");
}
.block-control-panel .tools-nav div.icon.settings-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/settings.png");
}
.block-control-panel .tools-nav div.icon.template-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/template.png");
}
.block-control-panel .tools-nav div.icon.email-template-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/email-template.png");
}
.block-control-panel .tools-nav div.icon.contact-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/contact.png");
}
.block-control-panel .tools-nav div.icon.editor-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/editor.png");
}
.block-control-panel .tools-nav div.icon.css-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/css.png");
}
.block-control-panel .tools-nav div.icon.js-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/js.png");
}
.block-control-panel .tools-nav div.icon.language-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/language.png");
}
.block-control-panel .tools-nav div.icon.payment-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/payment.png");
}
.block-control-panel .tools-nav div.icon.database-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/database.png");
}
.block-control-panel .tools-nav div.icon.cache-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/cache.png");
}
.block-control-panel .tools-nav div.icon.log-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/log.png");
}
/* Dashboard B2B icon Start */



.block-control-panel .tools-nav div.icon.b2b-grp-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-manage-group.png");
}
.block-control-panel .tools-nav div.icon.b2b-grp-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-group-add.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-company-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-company.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-massages-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-messages.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-product-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-products.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-product-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-products-add.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-buyleads-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-buying-leads.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-buyleads-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-buying-leads-add.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-sellleads-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-selling-leads.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-sellleads-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-selling-leads-add.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-tradeshow-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-tradeshow.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-tradeshow-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-tradeshow-add.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-story-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-success.png");
}
.block-control-panel .tools-nav div.icon.b2b-listing-story-add-tools {
	background-image: url("../../../../modules/Administrator/layouts/scripts/images/dashboard/b2b-success-add.png");
}
/* Dashboard B2B icon End */



.form-button-container {
	margin: auto;
	padding: 5px 0px;
	width: 98%;
	text-align: center;
}
.button-container {
	float: right;
	width: auto;
	padding: 0;
	margin: 8px 2px 0 0;
}
.button-container .button a,  .button-container .form-button a,  .form-field .button a {
	padding: 8px 20px;
}
.button span.icon.loader {
	background-image: url("../images/loader/btn-loader.gif");
	width: 17px;
	height: 17px;
	display: inline-block;
	padding: 0;
}
.button span.icon.loader:after {
	content: '..';
	visibility: hidden;
}
.clr {
	clear: both;
}
.editor {
	width: 90%;
	float: left;
}
.editor img {
	float: left;
}
.upload-img span.main {
	color: #060;
}
.upload-img span.related {
	color: #F60;
}
/* ---------------------------------------------------------------------------------- */



/* Tree Table ----------------------------------------------------------------------- */



.treeTable tr td .expander {
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0;
	zoom: 1; /* IE7 Hack */
}
.treeTable tr.collapsed td .expander {
	background-image: url(../../../../../js/jquery/tree/images/toggle-expand-dark.png);
}
.treeTable tr.expanded td .expander {
	background-image: url(../../../../../js/jquery/tree/images/toggle-collapse-dark.png);
}
.treeTable tr.selected, .treeTable tr.accept {
	background-color: #3875d7;
	color: #fff;
}
.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
	background-image: url(../../../../../js/jquery/tree/images/toggle-expand-light.png);
}
.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
	background-image: url(../../../../../js/jquery/tree/images/toggle-collapse-light.png);
}
.treeTable .ui-draggable-dragging {
	color: #000;
	z-index: 1;
}
table.example span {
	background-position: center left;
	background-repeat: no-repeat;
	padding: .2em 0 .2em 1.5em;
}
table.example span.file {
	background-image: url(../../../../../js/jquery/tree/images/page_white_text.png);
}
table.example span.folder {
	background-image: url(../../../../../js/jquery/tree/images/folder.png);
}
/* ---------------------------------------------------------------------------------- */



/* Toggle Search Form --------------------------------------------------------------- */



.toggle-container {
	background-color: #FFFFE8;
	border: 1px solid #E6DB55;
	border-radius: 5px;
	-mox-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto 10px auto;
}
.toggle-search {
	width: 100%;
	display: table;
	padding: 5px;
	margin: auto;
}
.toggle-search .toggle-row {
	display: table-row;
}
.toggle-search .toggle-row .toggle-label,  .toggle-search .toggle-row .toggle-field {
	display: table-cell;
	padding: 5px;
	width: auto;
}
.toggle-search .large input[type="text"],  .toggle-search input[type="text"] {
	width: 170px;
}
.toggle-search .k-input {
	line-height: 1.5em;
	padding: 3px 0 !important;
}
.toggle-search .k-combobox {
	width: 184px;
	vertical-align: middle;
}
.toggle-search .k-combobox input[type="text"] {
	border: 0;
}
.toggle-search .k-select {
	line-height: 1.85em !important;
}
.toggle-link a {
	font-weight: bold;
	line-height: 30px;
	border: 1px solid #E6DB55;
	border-radius: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px 4px 0 30px;
	margin: 0 0 10px 0;
	display: inline-block;
}
.toggle-link a.user {
	background-color: #FEFADE;
}
.toggle-link a.user-icon {
	background: #FFFFE8 url(../images/mod_img/user-search.gif) 2px center no-repeat;
}
.toggle-link a.b2b-icon {
	background: #FFFFE8 url(../../../../modules/Administrator/layouts/scripts/images/tools/search.png) 2px center no-repeat;
}
.toggle-button-container {
	width: 99%;
	margin: 5px auto 15px auto;
	padding-top: 15px;
	text-align: center;
	border-top: 1px solid #9EC9E9;
}
.highlighted {
	background-color: #FFF5D7;
	-moz-transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	-ms-transition: all 0.9s ease;
}
/* ---------------------------------------------------------------------------------- */



/* Member Menu ---------------------------------------------------------------------- */



.block-member-menu .block-body {
	padding: 0;
	border-radius: 0 0 5px 5px;
	display: inline-block;
	overflow: visible;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* ---------------------------------------------------------------------------------- */



/* IFrame Settings ------------------------------------------------------------------ */



#container.dialog-container {
	padding: 5px;
}
.iframe-img-manager,  .iframe-img-upload,  .iframe-thumb-img-upload,  .iframe-container,  .iframe-article,  .iframe-php-info {
	background-color: #FFF;
	width: 100%;
	height: 480px;
	border: 0;
	margin: 0 0 10px 0;
}
.iframe-article {
	height: 460px;
}
.iframe-img-manager {
	height: 355px;
}
.iframe-thumb-img-upload {
	height: 455px;
}
.iframe-php-info {
	height: 900px;
}
/* ---------------------------------------------------------------------------------- */



/* ********************************************************************************** */





/* FRONTEND MAMBERS AREA ************************************************************ */



/* Grid Row Details */



.tabstrip .row-details {
	overflow: hidden;
}
.tabstrip .row-details img.thumb {
	border: 1px solid #cccccc;
	padding: 5px;
	margin: 4px 0 0 0;
	float: left;
}
.tabstrip .row-details .col1,  .tabstrip .row-details .col2,  .tabstrip .row-details .col3 {
	width: 40%;
	line-height: 22px;
	float: left;
	margin: 0 0 0 10px;
}
.tabstrip .row-details .col2 {
	float: right;
}
/* Membership Packages -------------------------------------------------------------- */



.membership-pkgs table {
}
.membership-pkgs table tr th,  .membership-pkgs table tr td {
	padding: 10px 4px;
	text-align: center;
}
.membership-pkgs table tr.odd {
	background-color: #FFFFFF;
}
.membership-pkgs table tr.even {
	background-color: #F7F7F7;
}
.membership-pkgs table tr th {
	color: #FFF;
	background: #59942A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#83C932), to(#59942A));
	background: -webkit-linear-gradient(top, #83C932, #59942A);
	background: -moz-linear-gradient(top, #83C932, #59942A);
	background: -o-linear-gradient(top, #83C932, #59942A);
	background: -ms-linear-gradient(top, #83C932, #59942A);
	background: linear-gradient(top, #83C932, #59942A);
	height: 100px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 1px #006600;
	border: 1px solid #65AD30;
	box-shadow: 0 1px 1px #D9FF42 inset;
	/*border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;*/
}
.membership-pkgs table tr.off,  .membership-pkgs table tr th.off,  .membership-pkgs table thead tr:hover {
	background-color: transparent;
	background: none;
	border: 0;
	box-shadow: none;
}
.membership-pkgs table tr td.feature {
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	background-color: #1370B5;
	cursor: pointer;
}
.membership-pkgs table tr td.cost {
	font-size: 18px;
	font-weight: bold;
	color: #F60 !important;
	display: table-cell !important;
}
.membership-pkgs table tr td,  .membership-pkgs table tr.last {
	border-bottom: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
}
.membership-pkgs table tr:hover {
	background-color: #F2FFCC;
}
.membership-pkgs table tr td.form-button a {
	padding: 8px 10px;
}
/* ---------------------------------------------------------------------------------- */



/* Forms ---------------------------------------------------------------------------- */



.form-element input[type="submit"],  .form-element input[type="button"],  .form-element .form-button a {
	padding: 8px 30px;
	margin: 0;
	font-size: 12px;
}
 .form-element input:-moz-placeholder {
 color: #7F7F7F;
 font-family: Georgia, serif;
 font-style: italic;
}
.form-element a.addmore_btn {
	background: -moz-linear-gradient(center top, #B0D630, #75A80B) repeat scroll 0 0 transparent;
	border: 1px solid #7A991E;
	box-shadow: 0 1px 1px #CCFF00 inset;
	color: #FFFFFF;
	padding: 6px 20px;
	text-shadow: 0 1px 1px #006600;
}
.form-element .group label {
	width: 33%;
	float: left;
	font-weight: bold;
	padding: 10px 0 0 0;
}
.form-element .input-mini {
	width: 50px;
}
.form-element .select-midi {
	width: 150px;
}
.form-element .input-small {
	width: 80px;
}
.form-element .input-medium {
	width: 150px;
}
.form-element .input-large {
	width: 220px;
}
.form-element .input-xlarge {
	width: 300px;
}
.form-element .input-xxlarge {
	width: 400px;
}
.form-element .select-mini {
	width: 96px;
}
.form-element .select-small {
	width: 180px;
}
.form-element .select-medium {
	width: 260px;
}
.form-element .select-large {
	width: 300px;
}
.form-element .select-xlarge {
	width: 418px;
}
.form-element .control-element {
	margin: 0 0 0 35%;
}
.form-element .group {
	margin: 20px 0;
}
.form-element .group:after {
	clear: both;
}
.form-element .control-element label {
	width: 84%;
	font-weight: normal;
}
.form-element .control-element label.inline {
	width: auto;
	margin: 0 20px 0 0;
	clear: none;
	vertical-align: middle;
}
.form-element .control-element label.column {
	width: 30%;
	clear: none;
}
.form-element .control-element .input-errors {
	width: auto;
	font-style: italic;
	color: #F00;
	line-height: 30px;
	clear: left;
	display: block;
}
.form-element .field-highlighter {
	border: 1px solid #B3D3FF;
	background-color: #E8F2FF;
	padding: 10px;
}
.form-element input[type="text"].k-input {
	padding: 5px 0;
}
.form-element #categoryTree {
	background-color: #FFF;
	border: 1px dotted #666666;
	margin: 5px 0;
	padding: 5px;
	overflow: auto;
	max-width: 400px;
	max-height: 350px;
	clear: left;
}
.form-element #dataId {
	background-color: #FFFFE8;
	border: 1px solid #E6DB55;
	display: inline-block;
	float: left;
	font-weight: bold;
	padding: 5px;
	margin: 0 0 5px 0;
	border-radius: 3px;
}
.form-element .mod .thumb {
	border: 0;
	padding: 0;
}
/* Form Elements Settings for B2B Script Start*/



.form-element .control-element .country {
	padding: 9px 0 0 0;
}
.form-element .control-element label.child-label {
	width: 25%;
	clear: none;
}
.form-element fieldset fieldset {
	border: 1px solid #D4D4D4;
	margin: 2px 0;
}
.form-element fieldset fieldset legend {
	border: 0;
	font-weight: normal;
	background: none;
	color: #272727;
	padding: 0;
}
.form-element fieldset fieldset .fieldwrapper input[type="text"] {
	width: 150px;
	padding: 5px;
	margin: 2px 5px 2px 0;
}
.form-element fieldset fieldset .fieldwrapper input[type="button"].remove {
	background: url(../images/b2b_img/remove.png) no-repeat;
	border: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	box-shadow: none;
}
.form-element fieldset #customRowSet {
	width: 92%;
	float: left;
}
.form-element span#getNextWeek,  .form-element span#getNextMonth,  .form-element span#getNextYear {
	color: #FF8000;
	cursor: pointer;
	font-weight: bold;
}
.form-element .k-datetimepicker input[type="text"] {
	border: 0;
}
.form-element .k-datetimepicker .k-select {
	min-height: 2.4em !important;
}
.form-element .k-dropdown-wrap {
	height: 30px;
	margin-top: -3px;
}
.jq-grid .form-button a,  .jq-grid input[type="button"] {
	padding: 5px 8px;
	font-size: 12px !important;
}



/* Form Elements Settings for B2B Script End */



/* ---------------------------------------------------------------------------------- */



/* ********************************************************************************** */





/* ___________________________________________________________________________________

   

   New CSS used by Developer

   ___________________________________________________________________________________ */
