
/*** ESSENTIAL STYLES ***/
.dm-menu, .dm-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.dm-menu {
	line-height: 1.3;
}
.dm-menu ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
	margin-top:3px;
}
.dm-menu ul li {
	width:			100%;
}
.dm-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.dm-menu li {
	float:			left;
	position:		relative;
}
.dm-menu a {
	display:		block;
	position:		relative;
}
.dm-menu li:hover ul,
.dm-menu li.sfHover ul {
	left:			0;
	top:			3.0em; /* match top ul list item height */
	z-index:		99;
	border-bottom:0px solid #000;
	border-top:0px solid #000;
}
ul.dm-menu li:hover li ul,
ul.dm-menu li.sfHover li ul {
	top:			-999em;
}
ul.dm-menu li li:hover ul,
ul.dm-menu li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			-4px;
}
ul.dm-menu li li:hover li ul,
ul.dm-menu li li.sfHover li ul {
	top:			-999em;
}
ul.dm-menu li li li:hover ul,
ul.dm-menu li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			-4px;
}

/*** DEMO SKIN ***/
.dm-menu {
	float:			left;
	margin-bottom:	0;
}
.dm-menu a {
	border-right:	1px solid #157DC4;
	border-top:		0px solid #157DC4;
	
	padding: 		1em 1em;
	text-decoration:none;

}
.dm-menu a, .dm-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.dm-menu li {
	/*background:		#ff0000; */       /* Main Menu Color*/
	/*background:url(../images/nav_bg.jpg) repeat-x;*/
}
.dm-menu li li {
	background:		#1996E6;
	
}
.dm-menu li li li {
	background:		#1996E6;
}
.dm-menu li:hover, .dm-menu li.sfHover,
.dm-menu a:focus, .dm-menu a:hover, .dm-menu a:active {
	background-color:#82C241;
	/*background:		#1B1B1B;*/
	outline:		0;
}

/*** arrows **/
.dm-menu a.dm-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.dm-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../../../../../data/adminImages/commonImages/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .dm-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .dm-sub-indicator,
a:hover > .dm-sub-indicator,
a:active > .dm-sub-indicator,
li:hover > a > .dm-sub-indicator,
li.sfHover > a > .dm-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.dm-menu ul .dm-sub-indicator { background-position:  -10px 0; }
.dm-menu ul a > .dm-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.dm-menu ul a:focus > .dm-sub-indicator,
.dm-menu ul a:hover > .dm-sub-indicator,
.dm-menu ul a:active > .dm-sub-indicator,
.dm-menu ul li:hover > a > .dm-sub-indicator,
.dm-menu ul li.sfHover > a > .dm-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/

}

/*** shadows for all but IE6 ***/
.dm-shadow ul {
	background:	url('../../../../../data/adminImages/commonImages/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;

}
.dm-shadow ul.dm-shadow-off {
	background: transparent;
}

.current{
background-color:#82C241;
	/*background:		#1B1B1B;*/
	outline:		0;
}
