<div id="container">
<?php if (!$this->allow('list')) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php 
else : 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$permission_arr = array('add_enable' => $this->allow('add','backend','Menu'), 'edit_enable' => $this->allow('edit','backend','Menu'), 'publish_enable' => $this->allow('publish','backend','Menu'), 'delete_enable' => $this->allow('delete','backend','Menu'), 'primary_enable' => $this->allow('primary','backend','Menu'));
?>
<script type="text/javascript">
$(document).ready(function() {
	floatingbar('#floatingbar',"#button_top_bar",null);	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						toggle_btn: ['a.expand_btn'],
						dataSource_transport_read_complete : function (responce_data){															
							$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('menu_list_page_search_button'), ENT_QUOTES, 'UTF-8'); ?></span>');
						},					
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['menu_id', 'menu_name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['menu_id', 'menu_name'],
								
								default_dest_url			:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'primary' ), 'adminrout',    true); ?>",
								default_dest_data_field 	: 	['menu_id', 'menu_name'],
								default_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/default.gif",
								default_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/undefault.gif",
								
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif"
						},
						order_action: {
								order_dest_data_field		:	['menu_id', 'menu_order'],
								
								order_up_dest_url			:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'up' ), 'adminrout',    true) ?>",
								order_up_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
								order_down_dest_url			:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'down' ), 'adminrout',    true) ?>",
								order_down_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
								
								order_all_dest_data_field	:	['menu_id_arr', 'menu_order_arr'],
								order_all_dest_url			:	"<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'orderall' ), 'adminrout',    true) ?>",
								order_all_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
						},
						detailInit_action: {
								detailInit_dest_url			:	"<?php echo $this->url(); ?>",
								detailInit_filter_field_name:	"parent",
								detailInit_filter_field_id	:	"menu_id"
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false, //{ virtual: false },
						detailInit:	function(e) { detailInit(e, settingObj); },
						dataBound: function(e) {	
								var self = this;							
								//Get All grid rows
								var model = self.dataSource.data();	
								$.each( model, function(i, obj){
									if(obj.has_child == false)
									{
										//alert(obj.EmployeeID+' = '+obj.uid);
										self.tbody.find("tr.k-master-row[data-uid='"+obj.uid+"']>.k-hierarchy-cell>a").remove();
									}
								});	
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');  
								toggleKendoGridRow(self, settingObj);
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								self.thead.find("th[data-field='menu_order']").unbind('click');
								self.thead.find("th[data-field='menu_order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        menu_id: { type: "number" },
                                        menu_name: { type: "string" },
                                        group_name: { type: "string" },
                                        menu_order: { type: "number" },
                                        menu_status: { type: "enums" }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"  <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?> />',	template: '<input type="checkbox" value="${menu_id}" class="check_btn" <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "menu_id", 		
												title: 	"<?php echo $this->translator->translator('menu_list_page_id'); ?>", 
												width: 48, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "menu_name", 		
												title:	"<?php echo $this->translator->translator('menu_list_page_menu_name'); ?>",
												template: '# if(has_child == true){ #<a href="javascript: void(0)" title="<?php echo html_entity_decode($this->translator->translator("menu_click_view_sub_menu"), ENT_QUOTES, 'UTF-8'); ?>" class="expand_btn"># } #${menu_name}# if(has_child == true){ #</a># } #'
											},
											{ field: "group_name", 		title: 	"<?php echo $this->translator->translator('menu_list_page_grp'); ?>"},
											{ 
												field: "menu_order", 		
												title:	"<?php echo $this->translator->translator('common_order'); ?>", 
												width: 110,												
												headerTemplate: '<?php echo html_entity_decode($this->translator->translator('common_order'), ENT_QUOTES, 'UTF-8'); if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>&nbsp;&nbsp;<a href="javascript: void(0);" class="all_order_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/save.png" border="0" /></a><?php endif; ?>',
												template: '<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?><input type="text" size="1" name="menu_order" id="menu_order" class="order_text" value="${menu_order}" />&nbsp;<a href="javascript: void(0);" rel="${menu_id}" class="up_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/up-arrow.gif" border="0" /></a>&nbsp;<a href="javascript: void(0);" rel="${menu_id}" class="down_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/down-arrow.gif" border="0" /></a><?php else : ?>${menu_order}<?php endif; ?>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 	
												field: "menu_status", 	
												title:	"<?php echo $this->translator->translator('common_status'); ?>", 
												width: 80,
												template: '<a href="javascript:void(0);" class="publish_btn"  rel="${menu_id}_${publish_status_menu_name}_#= (menu_status == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (menu_status == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (menu_status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (menu_status == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 100, 
												attributes:{ 'align' : 'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'Menu', 'controller' => 'backend', 'action'     => 'edit', 'menu_id' => '' ), 'adminrout',    true) ?>${menu_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?> <a href="javascript:void(0);" class="delete_btn"  rel="${menu_id}_${publish_status_menu_name}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['primary_enable']) : ?> <a # if(menu_default != 1){ # href="javascript:void(0);" # } # rel="${menu_id}_${publish_status_menu_name}" class="dafault_btn"><img src="#= (menu_default == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/default.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/undefault.gif\' #" border="0" title="#= (menu_default == 1) ? \'<?php echo html_entity_decode($this->translator->translator('menu_defaulted_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('menu_default_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (menu_default == 1) ? \'<?php echo html_entity_decode($this->translator->translator('menu_defaulted_title'), ENT_QUOTES, 'UTF-8'); ?>\' :\' <?php echo html_entity_decode($this->translator->translator('menu_default_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a><?php endif; ?>'+
															' <a href="${preview_link}" target="_blank" ><img src="application/modules/Administrator/layouts/scripts/images/tools/preview.gif" border="0" title="<?php echo html_entity_decode($this->translator->translator('common_preview_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_preview_title'), ENT_QUOTES, 'UTF-8'); ?>" /></a>', 
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("menu_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("menu_selected_err"); ?>",
										
										menu_default_title			:	"<?php echo html_entity_decode($this->translator->translator('menu_default_title'), ENT_QUOTES, 'UTF-8'); ?>",
										menu_defaulted_title		:	"<?php echo html_entity_decode($this->translator->translator('menu_defaulted_title'), ENT_QUOTES, 'UTF-8'); ?>"
									}
					};
	commonGrid(settingObj);	
});
</script>
<div class="title-container">
	<div class="menu"><h1><?php if($this->draft != null){  echo $this->translator->translator('menu_list_draft_page_name'); }else{ echo $this->translator->translator('menu_list_page_name'); } ?></h1></div>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Menu','controller'=>'Backend', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>
<div id="button_top_bar"></div>
<div class="content-container">
	<p>
		<?php echo $this->translator->translator('menu_list_tips_desc'); ?>
    </p>
    <br />
	<div id="sidebar-inner">
    	<?php echo $this->partial('backend/nav_menu.phtml');  ?>
    </div>
    
    
    <div id="content-inner">    	
    	<div class="toggle-container">
         	<form name="searchForm" id="searchForm" action="<?php echo $this->url( array('module' => 'Menu','controller' => 'backend', 'action'     => 'list' ), 'adminrout',    true) ?>" method="get">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('menu_list_page_search_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" operator="startswith" name="menu_name" id="menu_name" value="<?php echo $this->postData['menu_name']; ?>" size="50" maxlength="100" />
                        </div>
                         
                 	</div>
                    <!-- Row 1 End -->
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('menu_list_page_menu_group'); ?></span>
                        </div>
                       
                        <div class="toggle-field">                            
                            <select name="group_id" id="group_id" class="ui-widget-content ui-corner-all" <?php if($this->posted_data['group_id']): ?>disabled="disabled"<?php endif; ?>>
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                   <?php $selected = ($this->postData['group_id'] == '0') ? 'selected="selected"' : ''; ?>                               
								   <?php
                                   if($this->group_info)
                                   { 
                                        foreach($this->group_info as $key=>$value_arr)
                                        {  
											$selected = ($this->posted_data['group_id'] == $value_arr['id']) ? 'selected="selected"' : '';                                          
                                    ?>
                                        <option value="<?php echo $value_arr['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($value_arr['group_name']); ?></option>
                                   <?php
                                        }
                                   }
                                   ?>
                            </select>                  
                        </div>
                        
                        <?php
						if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
						{
						?>
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('menu_list_page_entry_by'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
                            <select name="entry_by" id="entry_by" class="ui-widget-content ui-corner-all">
                            	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php 
								if($this->mem_info)
								{
									foreach($this->mem_info as $key=>$value)
                                    {										
                                ?>
                                    <option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
                                <?php
                                    }
								}
                                ?>
                            </select>
                        </div>
                        <?php
						}
						?>
                        
                 	</div>
                    <!-- Row 2 End -->                                      
                   
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('menu_list_page_search_button'); ?></span></a></span>
                </div>
        	</form>
     	</div>
        
    	
        
        <div class="chart">        	
          <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
               <div id="grid"></div>  
           </div>             
		</div>
        
       
  	</div>
</div>

<div  id="floatingbar">
	<h1><?php if($this->draft != null){  echo $this->translator->translator('menu_list_draft_page_name'); }else{ echo $this->translator->translator('menu_list_page_name'); } ?></h1>
    
    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Menu','controller'=>'Backend', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo $this->translator->translator('common_publish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo $this->translator->translator('common_unpublish_selected'); ?></span></a></span>
        <?php endif; ?>
        <?php if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('menu_list_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<?php endif; ?>
</div>