﻿ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
	color:#0074A2;
    font-size: 15px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-list li i{
	color: #6B6B6B;
	font-size: 18px;
	width: 25px;
}

.resp-tabs-list li:hover,
.resp-tabs-list li:hover i{
	color: #3A3A3A;
	background-color: #FFF;
}

.resp-tabs-container {
    padding: 0px;
	margin-bottom:15px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #DEDEDE;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-tab-item{
	border-bottom:1px solid #DDDDDD
}

.resp-tab-item.resp-tab-active,
.resp-tab-item.resp-tab-active i{
	color: #3A3A3A;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #DEDEDE;
}

h2.resp-accordion {
    font-size: 14px;
    border: 1px solid #DEDEDE;
    border-top: 0px solid #DEDEDE;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #DEDEDE !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #DEDEDE !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 25%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    float: left;
    width: 75%;
    min-height: 250px;
	margin-bottom:28px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #DDDDDD;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-vtabs li.resp-tab-active:nth-child(2),
.resp-vtabs li.resp-tab-active:nth-child(3),
.resp-vtabs li.resp-tab-active:nth-child(4),
.resp-vtabs li.resp-tab-active:nth-child(5),
.resp-vtabs li.resp-tab-active:nth-child(6),
.resp-vtabs li.resp-tab-active:nth-child(7){
	border-top:0;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #9B9797;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #F5F5F5;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #DEDEDE;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #DEDEDE !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #DEDEDE !important;
}


.resp-tabs-list.match-list li {
	color:#FFF;
}

.resp-tabs-container.match-tab h2.resp-accordion {
	background:#1084F8;
	color:#FFF;
}

.resp-tabs-container.match-tab h2.resp-accordion.resp-tab-active {
	background:#FFB500;
}

.resp-tabs-container.match-tab h2.resp-accordion .resp-arrow{
    border-top: 7px solid #FFF;
}

.resp-tabs-container.match-tab h2.resp-accordion.resp-tab-active .resp-arrow{
	border-top:0;
	border-bottom-color:#FFF;
}



/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #DEDEDE;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #DEDEDE !important;
    }
}
