<?php 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$permission_arr = array(  'userlist_edit_enable' => $this->allow('edit','index','Members'), 
						  'add_enable' => $this->allow('add','backendbuyleads','B2b'), 
						  'edit_enable' => $this->allow('edit','backendbuyleads','B2b'), 
						  'publish_enable' => $this->allow('publish','backendbuyleads','B2b'), 
						  'delete_enable' => $this->allow('delete','backendbuyleads','B2b'),
						  'featured_enable' => $this->allow('featured','backendbuyleads','B2b'),
						  'displayable_enable' => $this->allow('displayable','backendbuyleads','B2b'));					  
?> 

<script type="text/javascript">
<?php
if($this->auth->getIdentity()->allow_to_change_ownership == '1')
{
?>
$(function() {
	$( "#user_id" ).combobox();		
});
<?php
}
?>
$(document).ready(function() {
	extraFunctions ();
	floatingbar('#floatingbar',"#button_top_bar",null);	
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},		
						dataSource_transport_read_complete : function (responce_data){															
															$('a.'+settingObj.search_action.search_form_btn).html('<span class="icon search"><?php echo html_entity_decode($this->translator->translator('b2b_message_search_filter'), ENT_QUOTES, 'UTF-8'); ?></span>');
														},
 																			
						search_action: {
							search_form_id : 'searchForm',
							search_form_btn : 'search_btn',
							hasTinyMCE 	: false,
							show_loader_on_search_button: true,
							setCustomFilters: function(setting_obj, form_data, filter_data, last_index){									
										var filters = [];										
										var i = 0;
										$.each(form_data, function(key,value){		
											var stringObj = {};																				
											if($.trim(value) != "" && value.toLowerCase() != "any")
											{												
												var operator = ($('#'+key).attr('operator') !== undefined) ? $('#'+key).attr('operator') : 'eq';
												switch(key)
												{
												  case 'advkeywords':		
														  if(form_data.advword)
														  {												
															  switch(form_data.advword)
															  {
																  case 'and':
																  case 'or':
																		  var filter_value_arr = value.split(' ');
																		  var filter_name_arr = [];
																		  var filter_keyword_arr = [];																			
																		  var filter_keyword_1_arr = [];																			
																		  var filter_keyword_2_arr = [];																			
																		  var filter_keyword_3_arr = [];
																		  var key_count = 0;
																		  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																			  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																			  {
																				  filter_name_arr[key_count] 		= { field: 'name', 		operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_arr[key_count] 	= { field: 'keyword', 	operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_1_arr[key_count] = { field: 'keyword_1', operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_2_arr[key_count] = { field: 'keyword_2', operator: operator, value: $.trim(filter_value_arr_value) };
																				  filter_keyword_3_arr[key_count] = { field: 'keyword_3', operator: operator, value: $.trim(filter_value_arr_value) };
																				  key_count++;
																			  }
																		  });
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  { logic: form_data.advword, filters: filter_name_arr },
																									  { logic: form_data.advword, filters: filter_keyword_arr },
																									  { logic: form_data.advword, filters: filter_keyword_1_arr },
																									  { logic: form_data.advword, filters: filter_keyword_2_arr },
																									  { logic: form_data.advword, filters: filter_keyword_3_arr }
																								  ]
																					  };																
																	  break;
																  case 'exact':
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  {field: 'name', 	operator: operator, value: $.trim(value) },
																									  {field: 'keyword', 	operator: operator, value: $.trim(value) },
																									  {field: 'keyword_1',operator: operator, value: $.trim(value) },
																									  {field: 'keyword_2',operator: operator, value: $.trim(value) },
																									  {field: 'keyword_3',operator: operator, value: $.trim(value) }
																								  ]
																					  };																		
																	  break;
															  }
														  }
														  else
														  {
															  stringObj = {
																				logic: 'or',
																				filters: [
																							{field: 'name', 		operator: operator, value: $.trim(value) },
																							{field: 'keyword', 	operator: operator, value: $.trim(value) },
																							{field: 'keyword_1', 	operator: operator, value: $.trim(value) },
																							{field: 'keyword_2', 	operator: operator, value: $.trim(value) },
																							{field: 'keyword_3', 	operator: operator, value: $.trim(value) }
																						]
																			};
														  }
													  break;	
													 case 'description':		
														  if(form_data.advword)
														  {												
															  switch(form_data.advword)
															  {
																  case 'and':
																  case 'or':
																		  var filter_value_arr = value.split(' ');
																		  var filter_name_arr = [];
																		  var filter_keyword_arr = [];
																		  var key_count = 0;
																		  $.each(filter_value_arr, function(filter_value_arr_key, filter_value_arr_value){
																			  if($.trim(filter_value_arr_value) != '' && $.trim(filter_value_arr_value) != null)
																			  {
																				  filter_name_arr[key_count] 		= { field: 'description', 		operator: operator, value: $.trim(filter_value_arr_value) };
																				  
																				  key_count++;
																			  }
																		  });
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  { logic: form_data.advword, filters: filter_name_arr },
																									  { logic: form_data.advword, filters: filter_keyword_arr }
																								  ]
																					  };																
																	  break;
																  case 'exact':
																		  stringObj = {
																						  logic: 'or',
																						  filters: [
																									  {field: 'description', 	operator: operator, value: $.trim(value) },
																									  
																								  ]
																					  };																		
																	  break;
															  }
														  }
														  else
														  {
															  stringObj = {
																				logic: 'or',
																				filters: [
																							{field: 'description', 		operator: operator, value: $.trim(value) },
																						
																						]
																			};
														  }
													  break; 	
													case 'advcategory_input':
														break;
													case 'advcategory':													
															var combobox = $("#advcategory").data("kendoComboBox");	
															if(combobox)
															{
																var category_id_val = combobox.value();																
																stringObj = {
																				logic: 'or',
																				filters: [
																							{ field: 'category', operator: operator, value: category_id_val },
																							{ field: 'category_name', operator: 'contains', value: category_id_val }
																						]
																	 };
															}
															else
															{
																stringObj = {field: 'category_name', operator: 'contains', value: $("#advcategory").val() };
															}
														break;
													case 'advcountry_input':
														break;	
													case 'advcountry':
															var advcountry_combobox = $("#advcountry").data("kendoComboBox");	
															if(advcountry_combobox)
															{
																var advcountry_id_val = advcountry_combobox.value();
																stringObj = {
																				logic: 'or',
																				filters: [
																							{ field: 'user_country_id', operator: operator, value: advcountry_id_val },
																							{  field: 'user_country_name', operator: 'contains', value: advcountry_id_val }
																						]
																	 };
															}
															else
															{
																stringObj = {field: 'user_country_name', operator: 'contains', value: $("#advcountry").val() };																
															}															
														break;
													case 'advpremium':
															stringObj = {field: 'priority', operator: operator, value: "YES" };
														break;
													case 'priceopt':
														break;	
													case 'price':
															operator = $('#priceopt').val();
															stringObj = {field: 'price', operator: operator, value: $.trim(value) };
														break;	
													default:
														stringObj = {field: key, operator: operator, value: $.trim(value) };	
													 break;								
												}
												filters[i] = stringObj;												
												i++;
											}
										});
										//alert(filters.toSource());
										return filters;
									}
									
																
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',										
										featured_enable	:	'<?php echo $permission_arr['featured_enable']; ?>',
										displayable_enable :'<?php echo $permission_arr['displayable_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'active' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'group_id'],
																
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'activateall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: [
														{
															multi_action_caller_id				:	"a.displayable_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'displayable' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'product_name', 'paction'],
															multi_action_data_return_field 		: 	['displayable'],
															multi_action_data_permission_field 	: 	['displayable_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_displayble_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/block.png"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("b2b_undisplayble_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/activate.png"}
																									]															
														}, 
														{
															multi_action_caller_id				:	"a.featured_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'featured' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'product_name', 'paction'],
															multi_action_data_return_field 		: 	['featured'],
															multi_action_data_permission_field 	: 	['featured_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
																									]															
														}
													]
						},
						order_action: {
								order_dest_data_field		:	['id', 'buying_order'],
								
								order_up_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'up' ), 'adminrout',    true) ?>",
								order_up_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
								order_down_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'down' ), 'adminrout',    true) ?>",
								order_down_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
								
								order_all_dest_data_field	:	['id_arr', 'buying_order_arr'],
								order_all_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'orderall' ), 'adminrout',    true) ?>",
								order_all_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
							
						dataSource_transport_parameterMap: function(options, operation) {																		
                                    
									//alert (options.toSource());
									if (operation !== "read" && options.models) {										
										commonOpenLoaderDialog(settingObj);
                                        return {models: options.models};
                                    }
									else
									{
										return options;
									}
                                },
						detailTemplate: kendo.template($("#detail_template").html()), 
						
						detailInit_action: {
								detailInit_dest_url			:	"<?php echo $this->url(); ?>",
								detailInit_filter_field_name:	"user_id",
								detailInit_filter_field_id	:	"user_id"
						},	
							
						detailInit:	function(e){
								var detailRow = e.detailRow;
								detailRow.find(".tabstrip").kendoTabStrip({
									animation: {
										open: { effects: "fadeIn" } 
									}
								});
							},
						dataBound: function(e) {									
								var self = this;		
								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');  															
								self.tbody.find("tr").children('td:nth-child(4)').css({'overflow' : 'visible'});
								commonImageThumbnil();
																
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								self.thead.find("th[data-field='buying_order']").unbind('click');
								self.thead.find("th[data-field='buying_order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
                                        buying_order: { type: "number" },
                                        name: { type: "string" },
                                        price_per_unit: { type: "string" },
										price: { type: "number" },	
										active: { type: "enums" },										
										common_action: { editable: false }
                                    }
                                },	
						<?php if ($permission_arr['add_enable'] || $permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn"   />',	template: '<input type="checkbox" value="${id}" class="check_btn" />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 		
												title: 	"<?php echo $this->translator->translator('members_area_product_tbl_id'); ?>", 
												width: 50, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											{ 
												field: "primary_file_field", 		
												title:	"<?php echo $this->translator->translator('members_area_product_tbl_image'); ?>",
												width: 50,
												template: '# if(primary_file_field_format){ # <div class="thumb"><img src="${primary_file_field_format}" width="30" height="20" /></div> # } #',
												filterable: false, 
												sortable: false,
												columnMenu: false
											},
											{ 
												field: "name", 		
												title:	"<?php echo $this->translator->translator('members_area_product_tbl_name'); ?>",
												/*width: 195,*/
												attributes:{
													'title' :  "<?php echo html_entity_decode($this->translator->translator('common_entry_by'), ENT_QUOTES, 'UTF-8').': '; ?>#= full_name #" 
												}
											},
											{ 
												field: "price", 		
												title:	"<?php echo $this->translator->translator('members_area_product_tbl_price'); ?>",
												template: '#= price #', 
												attributes:{ 'title' : '#= price # # if(price_currency){ # ( #= price_currency # ) # } #' },
												width: 90, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $global_conf['default_locale']); ?>",
															format: "0.00",
															min: 0,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ field: "price_per_unit", title: "<?php echo $this->translator->translator('members_area_product_tbl_unit'); ?>", width: 100},
											{ 
												field: "buying_order", 		
												title:	"<?php echo $this->translator->translator('common_order'); ?>", 
												width: 110,												
												headerTemplate: '<?php echo html_entity_decode($this->translator->translator('common_order'), ENT_QUOTES, 'UTF-8'); if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>&nbsp;&nbsp;<a href="javascript: void(0);" class="all_order_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/save.png" border="0" /></a><?php endif; ?>',
												template: '<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?><input type="text" size="1" name="buying_order" id="buying_order" class="order_text" value="${buying_order}" />&nbsp;<a href="javascript: void(0);" rel="${id}" class="up_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/up-arrow.gif" border="0" /></a>&nbsp;<a href="javascript: void(0);" rel="${id}" class="down_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/down-arrow.gif" border="0" /></a><?php else : ?>${buying_order}<?php endif; ?>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},
											{ 	
												field: "active", 	
												title:	"<?php echo $this->translator->translator('common_status'); ?>", 
												width: 100,
												template: '<a href="javascript:void(0);" class="publish_btn"  rel="${id}_${publish_status_page_name}_#= (active == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (active == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_deactivate'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_activate'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_deactivate'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_activate'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
												attributes:{ 'align' :  'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("b2b_deactivate"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("b2b_activate"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},											
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 120,
												attributes:{ 'align' :  'center' },
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'edit', 'id' => '' ), 'adminrout',    true) ?>${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?>&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${group_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['displayable_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);"  rel="${id}_${publish_status_page_name}_#= (displayble == 1) ? 0 : 1 #" class="displayable_btn"><img src="#= (displayble == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/activate.png\' : \'application/modules/Administrator/layouts/scripts/images/tools/block.png\' #" border="0" title="#= (displayble == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_undisplayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_displayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (displayble == 1) ? \'<?php echo html_entity_decode($this->translator->translator('b2b_undisplayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('b2b_displayble_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a> <?php endif; ?>'+
															'<?php if ($permission_arr['featured_enable']) : ?>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);"  rel="${id}_${publish_status_page_name}_#= (featured == 1) ? 0 : 1 #" class="featured_btn"><img src="#= (featured == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/featured.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif\' #" border="0" title="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a> <?php endif; ?>',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("b2b_list_delete_confirm"); ?>",
										b2b_activate				:	"<?php echo $this->translator->translator("b2b_activate"); ?>",
										b2b_deactivate				:	"<?php echo $this->translator->translator("b2b_deactivate"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("b2b_selected_err"); ?>"
									}
					};
					
	
	<?php
				
		if($this->auth->getIdentity()->allow_to_change_ownership == '1' && $this->allow('list', 'index', 'Members'))
			{
	?>  				
					
	var settingMemberObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(array('module'=> 'B2b','controller'=>'backendbuyleads', 'action'=>'memlist'),'adminrout',true); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'active' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'name', 'paction'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",

								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'group_id'],

								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'activateall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",

								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",

								multi_action	: [
														{
															multi_action_caller_id				:	"a.displayable_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'B2b', 'controller' => 'backendbuyleads', 'action'     => 'displayable' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'product_name', 'paction'],
															multi_action_data_return_field 		: 	['displayable'],
															multi_action_data_permission_field 	: 	['displayable_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : '1', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_displayable_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
																										{'paction' : '0', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_undisplayable_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
																									]
														}
													]
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	function(e){ detailInit(e, settingObj); } ,
						dataBound: function(e){
								var self = this;
								//Get All grid rows
								var model = self.dataSource.data();
								$.each( model, function(i, obj){
									if(obj.buying_product_num == '0')
									{
										self.tbody.find("tr.k-master-row[data-uid='"+obj.uid+"']>.k-hierarchy-cell>a").remove();
									}
								});

								self.tbody.find("tr.k-master-row>.k-hierarchy-cell>a").attr('href', 'javascript:void(0)');
							 },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button

							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button

							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        user_id: { type: "number" },
                                        username: { type: "string" },
                                        full_name: { type: "string" },
                                        role_name: { type: "string" },
										buying_product_num: { type: "number" },
                                        last_access: { type: "date" },
                                        register_date: { type: "date" }
                                    }
                                },
						<?php if ($permission_arr['add_enable'] || $permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>									
						column_fields: [
											{
												field: "user_id",
												title: 	"<?php echo $this->translator->translator('Member_list_page_user_id', '', 'Members'); ?>",
												width: 48,
												filterable: {
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ field: "username", 		title: 	"<?php echo stripslashes($this->translator->translator('Member_list_page_username', '', 'Members')); ?>", width: 190},
											{ field: "full_name", 		title:	"<?php echo $this->translator->translator('members_frontend_list_page_user_full_name', '', 'Members'); ?>" },
											{ field: "role_name", 		title:	"<?php echo $this->translator->translator('Member_menu_user_group', '', 'Members'); ?>", width: 150 },
											{
												field: "buying_product_num",
												title: 	"<?php echo $this->translator->translator('b2b_products'); ?>",
												width: 80,
												attributes:{
													'align' :   'center'
												},
												filterable: {  
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 0,
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{
												field: "last_access",
												title:	"<?php echo $this->translator->translator('members_frontend_list_page_user_last_access', '', 'Members'); ?>",
												format: "{0:MM/dd/yyyy}",
												template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${last_access_format}">#= kendo.toString(last_access,\'dd/MM/yyyy\') #</div>',
												width: 90,
												filterable: {
													ui: function(element) {
														kendoDateTimeCalendar(element, settingMemberObj);
													}
												}
											},
											{
												field: "register_date",
												title:	"<?php echo $this->translator->translator('Member_list_page_user_register_date', '', 'Members'); ?>",
												format: "{0:MM/dd/yyyy}",
												template: '<div title="<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${register_date_format}">#= kendo.toString(register_date,\'dd/MM/yyyy\') #</div>',
												width: 110,
												filterable: {
													ui: function(element) {
														kendoDateTimeCalendar(element, settingMemberObj);
													}
												}
											},
											{
												field: "common_action",
												title:	"<?php echo $this->translator->translator('Member_list_page_user_action', '', 'Members'); ?>",
												width: 40,
												template:	'<?php if ($permission_arr['userlist_edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module' => 'Members','controller' => 'index', 'action'  => 'edit','user_id' => '' ), 'adminrout',    true) ?>${user_id}" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>"><img src="application/modules/Administrator/layouts/scripts/images/tools/user-edit.gif" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>',
												attributes:{
													'align' :   'center'
												},
												filterable: false,
												sortable: false,
												columnMenu: false
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',

										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("member_list_delete_confirm", '', 'Members'); ?>",
										b2b_activate				:	"<?php echo $this->translator->translator("b2b_activate"); ?>",
										b2b_deactivate				:	"<?php echo $this->translator->translator("b2b_deactivate"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("member_selected_err", '', 'Members'); ?>"
									}
					};
		
	$( "#radio" ).buttonset({
		  create: function( event, ui ) {
				commonGrid(settingObj);
			  }
		});

	<?php }
	
	else {
	?>
			commonGrid(settingObj);
	<?php				
		}
	 ?>
	

		
		$("#radio :radio").click(function() {
			var self = this;
			var value = $(self).val();
			 switch(value)
			 {
				case 'leads':
						var grid = $("#"+settingObj.grid_id).data("kendoGrid");
							grid.destroy();
							$("#"+settingObj.grid_id).html('');
						commonGrid(settingObj);
						$('#offer_wise_search').show();
					break;
				case 'user':
						var grid = $("#"+settingMemberObj.grid_id).data("kendoGrid");
							grid.destroy();
							$("#"+settingMemberObj.grid_id).html('');
						commonGrid(settingMemberObj);
						$('#offer_wise_search').hide();
					break;
			 }
		});
		
		
	function extraFunctions()
	{
		$("#advcategory").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_tree_root'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "name",
			dataValueField: "id",
			text: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['categories_input'] : ''; ?>",
			value: "<?php echo ($this->posted_data['category_id'] && $this->posted_data['categories_input']) ? $this->posted_data['category_id'] : ''; ?>",
			filter: "contains",
			autoBind: false,
			minLength: 3,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_tree_root"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ if(data.b2b_images){ # <img style=\"padding:1.5px;border:1px solid \\#E2E2E2;\" src=\"data/frontImages/b2b/b2b_images/${data.b2b_images}\" width=\"20\" height=\"20\" alt=\"${data.name}\" title=\"${data.name}\" border=\"0\" /># } #&nbsp;&nbsp;${data.name} # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'categories'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",
						url: "<?php echo $this->url(array('module' => 'B2b','controller'=>'frontend', 'action'=> 'categories'),'adminrout', true); ?>",
					}
				}
			}
		});	
		
		$("#advcountry").kendoComboBox({
			placeholder: "<?php echo html_entity_decode($this->translator->translator('common_select_country'), ENT_QUOTES, 'UTF-8'); ?>",
			dataTextField: "value",
			dataValueField: "id",
			filter: "startswith",
			autoBind: false,
			minLength: 1,
			optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select_country"), ENT_QUOTES, 'UTF-8'); ?>",
			template: '# if(data.id){ # <img src="data/adminImages/flagsImage/#= (hasImg) ? code : \'no-flag\' #.gif" />&nbsp;#= value # # } #',
			dataSource: {
				type: "json",
				schema: {
					  data:	'data_result'
				  }, 
				serverFiltering: true,
				transport: {
					read: {
						type: "POST",
						dataType: "json",						
						url: "<?php echo $this->url( array('module'=> 'Geo', 'controller' => 'frontend', 'action' => 'countrylist' ), 'adminrout',    true); ?>",
					}
				} 
			}
		});	
	}		
});
</script>

<div id="container">
<?php  if (!$this->allow('list')) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : ?>

<script type="text/x-kendo-template" id="detail_template"> 
	<div class='tabstrip'>            
		<ul>
			<li class='k-state-active'>
			   <strong><u><?php echo html_entity_decode($this->translator->translator("members_area_product_tbl_shipping"), ENT_QUOTES, "UTF-8"); ?></u></strong>
			</li>
		</ul>

		
		<div class="row-details">
			# if(primary_file_field_format){ # <img src="${primary_file_field_format}" width="80" class="thumb"/> # } #
			<div class="col1">
				
				# if(company_name){ # <strong><?php echo html_entity_decode($this->translator->translator("front_company_name"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= company_name #  - <img src='data/adminImages/flagsImage/#= country_code #.gif' border='0' title='#= country_name #'   alt='#= country_name #'/> <br /> # } # 
				# if(full_name){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_company_profile_represented_by"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= full_name #<br />  # } #
				# if(phone){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_company_profile_telephone"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= phone # - #= phone_part2 # - #= phone_part3 #<br />  # } #
				# if(establishing_year){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_company_profile_establishment"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= establishing_year # <br />  # } #				
				# if(package_name){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_manage_list_package_name"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= package_name #<br />  # } #
				# if(category_name){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_fontend_offer_category"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= category_name #<br />  # } #
				# if(registered_in){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_front_company_profile_registered"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= registered_in #<br />  # } #
				# if(payment_type){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_fontend_buying_offer_payment_type"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= payment_type #<br />	  # } #	
				# if(company_title){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_storefront_url"), ENT_QUOTES, "UTF-8"); ?>:</strong> <a href= "Company-Homepage/#= company_title #" target="_blank" title ="#=subject#"> #= company_name # </a><br />	  # } #	
				
			</div>

	 
			<div class="col2">
				# if(package_name){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_manage_list_package_name"), ENT_QUOTES, "UTF-8"); ?>:</strong>  #= package_name # <br />  # } #
				# if(added_on){ # <strong><?php echo html_entity_decode($this->translator->translator("list_page_added_on"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= added_on #  <br />  # } #
				# if(validity){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_fontend_buying_offer_validity"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= validity #  <br />  # } #
				# if(packaging){ # <strong><?php echo html_entity_decode($this->translator->translator("members_control_product_form_packaging_shipment"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= packaging #  <br />  # } #
				# if(shipping){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_shipping_mode"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= shipping #  <br />  # } #			
				# if(shipping_price){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_advanced_search_shipping_price_label"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= shipping_price #  <br />  # } #							
				# if(delivery){ # <strong><?php echo html_entity_decode($this->translator->translator("b2b_advanced_search_size_label"), ENT_QUOTES, "UTF-8"); ?>:</strong> #= delivery # / #= delivery_leadtime #<br />  # } #
				
			</div> 
			<hr/>
			<div>
				<br />
				# if(description){ # 
					<strong><?php echo html_entity_decode($this->translator->translator("b2b_fontend_short_description"), ENT_QUOTES, "UTF-8"); ?>:</strong> <br /> 
					#= description # 
				# } #
				
				 <br /> <br />
				# if(packaging){ # 
					<strong><?php echo html_entity_decode($this->translator->translator("members_control_product_form_packaging_shipment"), ENT_QUOTES, "UTF-8"); ?>:</strong> <br />  
					#= packaging # 					
				# } #
				
					
			</div>
		</div>
		

	</div>
</script>

<div id="button_top_bar"></div>

<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['add_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'B2b','controller'=>'backendbuyleads', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			<?php if ($permission_arr['publish_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('common_publish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('common_unpublish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		
			<?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		</div>
	</div>
</script>


<!-- Content Start-->

<div class="title-container">
	<div class="b2b-buying-leads"><h1><?php echo $this->translator->translator('b2b_admin_buying_leads'); ?></h1></div>
</div>

<div class="content-container">
	<div id="sidebar-inner">
    	<?php echo $this->partial('nav_menu.phtml');  ?>
    </div>


    <div id="content-inner">	
	<?php
				
		if($this->auth->getIdentity()->allow_to_change_ownership == '1' && $this->allow('list', 'index', 'Members'))
			{
	?>  	
        <div id="radio" style="text-align:center">
          <input type="radio" id="radio1" name="radio" value="leads" checked="checked" /><label for="radio1"><?php echo $this->translator->translator('b2b_admin_view_leads_wise'); ?></label>
          <input type="radio" id="radio2" name="radio" value="user" /><label for="radio2"><?php echo $this->translator->translator('b2b_admin_view_user_wise'); ?></label>
        </div>        
        <br />
        
	<?php } ?> 
        <br />
		<div id="offer_wise_search">
        	<div class="toggle-link"><a href="#" id="slick-slidetoggle" class="hotel-icon"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></a>
        </div>
        <br />
		
		<div id="slickbox" class="toggle-container">
         	<form name="searchForm" id="searchForm">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_name_of_buying_product'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="name" id="name" operator="contains" value="" size="30" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_user_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
	                        <input type="text" name="full_name" id="full_name" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                       	</div>

                 	</div>
                    <!-- Row 1 End -->
                    
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_keywords'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
	                        <input type="text" name="advkeywords" id="advkeywords" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_find_by_description'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input type="text" name="description" id="description" operator="contains" class="ui-widget-content ui-corner-all" value="" size="30" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_active_inactive_listings'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="active" id="active" class="ui-widget-content ui-corner-all" operator="eq" <?php if($this->active != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->active == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_active_listing_only'); ?></option>
                                <option value="0" <?php if($this->active == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_inactive_listing_only'); ?></option>
                          	</select>
                            
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_hidden_show_only'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="displayble" id="displayble" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->read == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_show_listing_only'); ?></option>
                                <option value="0" <?php if($this->read == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_hidden_listing_only'); ?></option>
						 	</select>
                        </div>
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_list_featured_lising_only'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
							<select name="featured" id="featured" operator="eq" class="ui-widget-content ui-corner-all" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
								<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->flag == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_featured_listing_only'); ?></option>
                                <option value="0" <?php if($this->flag == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('b2b_list_unfeatured_listing_only'); ?></option>
						 	</select>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_price_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        	<select name="priceopt" id="priceopt" class="ui-widget-content ui-corner-all">
								<option value="eq"><?php echo $this->translator->translator('b2b_advanced_search_common_equal_label'); ?></option>
								<option value="lte"><?php echo $this->translator->translator('b2b_advanced_search_price_maximum_label'); ?></option>
								<option value="gte"><?php echo $this->translator->translator('b2b_advanced_search_price_minimum_label'); ?></option>
							</select>
                           <input type="text" name="price" id="price" operator="contains" class="ui-widget-content ui-corner-all" value="" size="10" />
                                                      
                       	</div>
                 	</div>
                    <!-- Row 4 End -->
                    
                    <!-- Row 5 Start -->
                    <div class="toggle-row">
         
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_category_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input name="advcategory" id="advcategory" operator="eq" />
                        </div>
                        
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('b2b_advanced_search_country_label'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                        
                           <input name="advcountry" id="advcountry" operator="eq" />
                                                      
                       	</div>
                        
                 	</div>
                    <!-- Row 5 End -->
					
					<!-- Row 6 Start -->
                    <div class="toggle-row">
					<?php
						if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
						{
						?>
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('common_entry_by'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<span class="ui-widget">
                                <select name="user_id" id="user_id" operator="eq" class="ui-widget-content ui-corner-all">
                                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php 
									foreach($this->mem_data as $key=>$value)
                                    {
                                ?>
                                    <option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
                                <?php
                                    }
                                ?>
                                </select>
                            </span>
                       	</div>
                        <?php
						  }
						  ?> 
                        <div class="toggle-label">
                            
                        </div>
                        
                        <div class="toggle-field">                        	
                            
                        </div>
                 	</div>
                    <!-- Row 6 End -->
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="search_btn"><span class="icon search"><?php echo $this->translator->translator('b2b_message_search_filter'); ?></span></a></span>
                </div>
        	</form>
     	</div>

		<br /> </hr>
		
		</div>
	        
        
        <div id="member_list" >
        	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                <div id="grid"></div>
            </div>
     	</div>


	</div>
</div>

<div id="floatingbar">
	<h1><?php echo $this->translator->translator('b2b_admin_buying_leads'); ?></h1>

    <div class="button-container">
        <?php if ($permission_arr['add_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'B2b','controller'=>'backendbuyleads', 'action'=>'add'),'adminrout',true);?>"><span class="icon add"><?php echo $this->translator->translator('common_add'); ?></span></a></span>
        <?php endif; ?>

       	<?php if ($permission_arr['publish_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="publish"><span class="icon publish"><?php echo $this->translator->translator('b2b_activate'); ?></span></a></span>

     	<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="publish_all" rel="unpublish"><span class="icon unpublish"><?php echo $this->translator->translator('b2b_deactivate'); ?></span></a></span>
        <?php endif; ?>

        <?php  if ($permission_arr['delete_enable']) : ?>
        <span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
        <?php endif; ?>
    </div>
</div>

<!-- Content End -->
<?php endif; ?>

<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
</div>