<?php 
$this->headTitle()->headTitle($this->translator->translator('invoice_details_invoice_page_name'),'SET');
$tab_base_link = Zend_Controller_Front::getInstance()->getRequest()->getRequestUri(); 
?>
<script type="text/javascript">
var settingObj = {
						tab_base_link: '',
						form_action : {
											form_id: 'formInvoice',
											hasTinyMCE: false,
											common_msg_field_id: 'actionMessage',
											dialog_container_id:	'dialog_container',
											dialog_progressbar_id:	'progressbar',
											extra_field_for_reset: []
									},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",										
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>"
									}
						};
$(function() {
		$("#tabs").tabs().find(".ui-tabs-nav").sortable({axis:'xy'});
		
		$('a.print_btn').click(function (event){
	
			var width = 1200;
    		var height = 700;
			var left = parseInt((screen.availWidth/2) - (width/2));
   			var top = parseInt((screen.availHeight/2) - (height/2));
			var windowSizeArray = [ "width="+width+",height="+height+",left="+left+",top="+top+"screenX=" + left + ",screenY=" + top + ",scrollbars=yes",
									"width="+width+",height="+height+",scrollbars=yes" ];
			var url = "<?php echo $this->url( array('module'=> 'Invoice', 'controller' => 'invoice', 'action'     => 'print' , 'invoice_id' => '' ), 'adminrout',    true) ?>"+$(this).attr('rel');
			var windowName = "popUp";
			var windowSize = windowSizeArray[0];

			window.open(url, windowName, windowSize);

			event.preventDefault();

		});
		
		$('#full_payment').change(function() {
			var self = this;
			if($(self).val() != null && $(self).val() != '')
			{
				var data = 	$(self).val();
				var data_arr = 		data.split('_');	
				$.ajax({
						url: "<?php echo $this->url( array('module'=> 'Invoice', 'controller' => 'backend', 'action'     => 'fullpay' ), 'adminrout',    true) ?>",
						type: 'POST',
						data: { payment_id: data_arr[0], invoice_id: data_arr[1]},
						beforeSend: function(){
							$('#full_payment_link').html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
						 },
						success: function(response) 
						{
							//alert(response);
							var json_arr = eval("("+response+")");
							if(json_arr.status == 'ok')
							{
								var payment_link	=	json_arr.payment_data;
								var payment_logo	=	json_arr.payment_info.logo;
								var input_type		=	json_arr.input_type;
								//alert(payment_logo);
								var	html_data	=	(input_type == 'link') ? '<a href="'+payment_link+'" target="_blank"><img src="data/frontImages/gateway/gateway_logo/'+payment_logo+'" width="140" /></a>' : payment_link;
								$('#full_payment_link').html(html_data);
								UPay_Pay();
							}
							else
							{
								commonMsgDialog(settingObj, json_arr.msg);
								$('#full_payment_link').html('');
							}							
						},
						error: function(xhr, status, error){							
							$('#full_payment_link').html('');
							var msg = "Error! " + xhr.status + " " + error;
							commonMsgDialog(settingObj, msg);
						}
				});			
			}
			else
			{
				$('#full_payment_link').html('');
			}
			
		});
		
		
		$('#now_payment').change(function() {
			var self = this;
			if($(self).val() != null && $(self).val() != '')
			{
				var data = 	$(self).val();
				var data_arr = 		data.split('_');	
				$.ajax({
						url: "<?php echo $this->url( array('module'=> 'Invoice', 'controller' => 'backend', 'action'     => 'nowpay' ), 'adminrout',    true) ?>",
						type: 'POST',
						data: { payment_id: data_arr[0], invoice_id: data_arr[1]},
						beforeSend: function(){
							$('#now_payment_link').html('<img src="application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif" height="16" border="0" />');
						 },
						success: function(response) 
						{
							//alert(response);
							var json_arr = eval("("+response+")");
							if(json_arr.status == 'ok')
							{
								var payment_link	=	json_arr.payment_data;
								var payment_logo	=	json_arr.payment_info.logo;
								var input_type		=	json_arr.input_type;
								//alert(payment_logo);
								var	html_data	=	(input_type == 'link') ? '<a href="'+payment_link+'" target="_blank"><img src="data/frontImages/gateway/gateway_logo/'+payment_logo+'" width="140" /></a>' : payment_link;
								$('#now_payment_link').html(html_data);
								UPay_Pay();
							}
							else
							{
								commonMsgDialog(settingObj, json_arr.msg);
								$('#now_payment_link').html('');
							}							
						},
						error: function(xhr, status, error){							
							$('#now_payment_link').html('');
							var msg = "Error! " + xhr.status + " " + error;
							commonMsgDialog(settingObj, msg);
						}
				});			
			}
			else
			{
				$('#now_payment_link').html('');
			}
			
		});
		
		
	});

</script>
<style>
/* INVOICE START ******************************************************************** */

.first-payment .paid{
	font-weight:bold;
	color:#090;
}

.first-payment .due{
	font-weight:bold;
	color:#F00;
}

.invoice-satus{
	display:block;
}

.invoice-satus.paid{
	border:1px solid #93DD88;
	background-color:#D5FFCE;
	color:#009900;
}

.invoice-satus.unpaid{
	border:1px solid #FF8A8A;
	background-color:#FFCECE;
	color:#FA1919;
}

.invoice-satus.cancel{
	border:1px solid #FFCC33;
	background-color:#FFFFB0;
	color:#FF6600;
}




 .amount-payable,
 .amount-payable{
	font-weight:bold;
	color:#F60;
}

#invoice_status{
	display:inline-block;
	margin: 30px 0 30px 0;
}

 .btn-spacer{
	margin: 20px 0;
	display:inline-block;
}

.payable-later,
.invoice-info .payable-later{
	font-weight:bold;
	font-style:italic;
	color:#090;
}

.invoice-info .invoice-satus{
	display:inline-block;
	padding:2px 10px;
}

 .grand-total,
.invoice-info .grand-total{
	font-weight:bold;
}

.invoice-container{
	border:1px solid #D6D6D6;
}

.invoice .invoice-chart{
	width:100%;
	display:table;
	margin:auto;
	border-spacing:0;
}

.invoice .invoice-chart .div-head,
.invoice .invoice-chart .div-hr{
	display:table-row;
	background:#F4F4F4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#E5E5E5');
	background: -moz-linear-gradient(top, #F4F4F4, #E5E5E5);
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#E5E5E5));
	box-shadow: 0 1px 1px #FFFFFF inset;
}

.invoice .invoice-chart .div-head{
	text-align:center;
	font-weight:bold;
	font-size:13px;
	color:#272727;
	text-shadow:1px 1px 1px #FFF;
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr{
	background:none;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	display:table-cell;
	padding:10px;
}


.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-head .div-vr-2{
	border-bottom:1px solid #D6D6D6;
	padding:15px 0;
}

.invoice .invoice-chart .div-head .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-1{
	width:65%;
}
.invoice .invoice-chart .div-head .div-vr-2,
.invoice .invoice-chart .div-hr .div-vr-2{
	width:35%;
}

.invoice .invoice-chart .div-hr .div-vr-1,
.invoice .invoice-chart .div-hr .div-vr-2{
	border-bottom:1px solid #D6D6D6;
}

.invoice .invoice-chart .div-hr .div-vr-2{
	text-align:right;
}

.invoice .invoice-chart .div-hr.amount-hr{
	text-align:right;
	background-color:#EFEFEF;
	font-size:13px;
}

.invoice .invoice-chart .div-hr.amount-hr .div-vr-1,
.invoice .invoice-chart .div-hr.amount-hr .div-vr-2{
	border-top:1px solid #D6D6D6;
	border-bottom:none
}

.invoice .item-title{
	font-size:17px;
	margin:10px auto 2px auto;
	padding:10px 0px 10px 5px;
	background-color:#FFC;
	border-top:1px solid #FC0;
	border-bottom:1px solid #FC0;
}

.invoice .product-title{
	color:#F60;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
}

.invoice .amount-label{
	font-weight:bold;
}

h1.status-paid,
h1.status-unpaid,
h1.status-cancelled{
	font-weight:bold;
	font-size:55px;
	text-align:left;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 20px;
	float:left;
}

h1.status-paid .invoice-satus.paid,
h1.status-unpaid .invoice-satus.unpaid,
h1.status-cancelled .invoice-satus.cancel{
	border:0;
}

h1.status-paid{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
}

h1.status-unpaid{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
}

h1.status-cancelled{
	border:1px solid #E4D949;
	background-color:#FFFBCC;
}

/* Invoice Preview Box -------------------------------------------------------------- */
	
.ui-tooltip-wiki{
	max-width: 850px; 
}
 
.ui-tooltip-wiki .ui-tooltip-content{
	padding: 10px;
  	line-height: 12.5px;
  	width: 828px;
  	height:500px;
  	overflow:auto;
}

.ui-tooltip-wiki h1{
	margin: 0 0 7px;
	font-size: 1.5em;
	line-height: 1em;
}

.ui-tooltip-wiki img{ 
	padding: 0 10px 0 0; 
}

.ui-tooltip-wiki p{
	margin-bottom: 9px; 
}

.ui-tooltip-wiki .note{
	margin-bottom: 0; 
	font-style: italic; 
	color: #888; 
}

.itinerary-price{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #06C;
	padding:10px 10px;
	position:absolute;
	letter-spacing:-1px;
	font-size:24px;
	font-weight:bold;
	color:#06C;
	top:13px;
	right:20px;	
}

.itinerary-status-cont{
	position:absolute;
	top:13px;
	right:45%;	
}

h3.itinerary-status{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:25px;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:2px 20px;
}

h3.itinerary-status.active{
	border:1px solid #87D97B;
	background-color:#D5FFCE;
	color:#009900;
}

h3.itinerary-status.inactive{
	border:1px solid #DF8F8F;
	background-color:#FFCECE;
	color:#FA1919;
}

/* INVOICE END ********************************************************************** */
</style>
<div id="container">
<?php if (!$this->allow() || ($this->auth->getIdentity()->access_other_user_article != '1' && $this->auth->getIdentity()->user_id != $this->invoice_arr['user_id'])) : ?>
	<div class="grid_12 t_a_bottom">
		<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
	</div>
<?php 
	else : 
	//print_r($this->invoice_arr);
	$mem_db = new Members_Model_DbTable_MemberList();
	$country_db = new Eicra_Model_DbTable_Country();
	$mem_info = $mem_db->getMemberInfo($this->invoice_arr['user_id']);
	$global_conf = Zend_Registry::get('global_conf');
	$currency = new Zend_Currency($global_conf['default_locale']);
	$currencySymbol = $currency->getSymbol();
	$currencyShort = $currency->getShortName();
	$permission_arr = array('edit_enable' => $this->allow('edit','members','Invoice'));
?>
<div class="title-container">
	<h1><?php echo $this->translator->translator('invoice_details_invoice_page_name'); ?></h1>
    
    <div class="button-container">
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Invoice','controller' => 'members', 'action'     => 'list' ), 'Members-Invoice-Item-List/*',    true) ?>" class="back_btn_link"><span class="icon back"><?php echo $this->translator->translator('common_back'); ?></span></a></span>
        
        <?php if ($permission_arr['edit_enable']) : ?>
        <span class="button ui-widget-content-1"><a href="<?php echo $this->url( array('module' => 'Invoice','controller' => 'members', 'action'     => 'edit', 'id' => $this->invoice_arr['id'] ), 'Members-Invoice-Item-List-Edit/*',    true) ?>" class="back_btn_link"><span class="icon edit"><?php echo $this->translator->translator('common_edit_title'); ?></span></a></span>
        <?php endif; ?>
        
         <span class="button ui-widget-content-1"><a href="javascript:void(0);" class="print_btn" rel="<?php echo $this->invoice_arr['id']; ?>"><span class="icon save"><?php echo $this->translator->translator('common_print'); ?></span></a></span>
    </div>
</div>
<br /><br /><br /><br /><br />
<div class="content-container">
	<div id="actionMessage"></div>    
	    	
        <div id="tabs">
        	<ul>
                <li><a href="<?php echo $tab_base_link; ?>#tabs-1"><?php echo $this->translator->translator('Invoice_details_client_info'); ?></a></li>
                <li><a href="<?php echo $tab_base_link; ?>#tabs-2"><?php echo $this->translator->translator('Invoice_details_invoice_info'); ?></a></li>
            </ul>
            
            <div id="tabs-1">
            	<!-- Client Info Srart -->
                <div>
                    <fieldset class="fieldset">
                    <legend class="legend"><?php echo $this->translator->translator('Invoice_details_client_info'); ?></legend>
                    <div>
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_first_name_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                               	<?php echo $this->escape($mem_info['firstName']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_last_name_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['lastName']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_company_name_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['companyName']); ?>&nbsp;
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_email_address_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['username']); ?>	
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_address_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['address']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_postalCode_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['postalCode']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_city_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['city']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_state_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($mem_info['state']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_country_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php $country_info = $country_db->getInfo($mem_info['country']); echo $this->escape($country_info['value']); ?>
                            </div>
                        </div>
                        
                        <?php
						if($this->invoice_arr['status'] != '1')
							{
						?>
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('invoice_list_invoice_payment'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php 
									$gateway_db = new Paymentgateway_Model_DbTable_Gateway();
									$gateway_info	=	$gateway_db->getAllActiveGateway('ASC', $this->invoice_arr['payment_user_id']);
								?>
								<select name="full_payment" id="full_payment">
									<option value=""><?php echo $this->translator->translator('common_select'); ?></option>
								<?php
									foreach($gateway_info as $key => $value)
									{
								?>
									<option value="<?php echo $this->escape($value['id']).'_'.$this->escape($this->invoice_arr['id']); ?>"><?php echo $this->escape($value['name']); ?></option>
								<?php
									}
								 ?>
								 </select>&nbsp;
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                            	&nbsp;
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<span id="full_payment_link"></span>
                            </div>
                        </div>
                        <?php
							}
						?>
                    </div>
                    </fieldset>
                </div>
                <!-- Client Info End -->
                
                <!-- Invoice Info Srart -->
                <div>
                    <fieldset class="fieldset last">
                    <legend class="legend"><?php echo $this->translator->translator('Invoice_details_client_billing_info'); ?></legend>
                    <div>
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('Invoice_details_client_invoice_id_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                               	<span class="label"><?php echo '#'.$this->escape($this->invoice_arr['id']); ?></span>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('payment_status'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                            	<span class="label">
								<?php 
									switch($this->invoice_arr['status'])
									{
										case '0' :
											echo $this->translator->translator('common_cancelled_language');	
										break;
										case '1' :
											echo $this->translator->translator('common_paid_language');	
										break;
										case '2' :
											echo $this->translator->translator('common_unpaid_language');	
										break;
									}
								?>
                                </span>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('invoice_send_email_total_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                               	<span class="label"><?php echo $this->escape($this->invoice_arr['total']); ?></span>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('invoice_total_tax_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php 					  
									$billing_tax = (!empty($this->invoice_arr['tax'])) ? $this->invoice_arr['tax'] : '00.00' ; 
									echo $currencySymbol.$billing_tax.$currencyShort;
								?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                                <?php echo $this->translator->translator('invoice_send_email_service_charge'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php 
									$service_charge = (!empty($this->invoice_arr['service_charge'])) ? $this->invoice_arr['service_charge'] : '00.00' ; 
									echo $currencySymbol.$service_charge.$currencyShort;
								?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                              	<?php echo $this->translator->translator('invoice_send_email_deposit_charge', Settings_Service_Price::getMargine('5')); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php 
									$deposit_charge = (!empty($this->invoice_arr['deposit_charge'])) ? $this->invoice_arr['deposit_charge'] : '00.00' ; 
									echo $currencySymbol.$deposit_charge.$currencyShort; 
								?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                              	<?php echo $this->translator->translator('invoice_send_email_deposit_payable'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<span class="amount-payable">
								<?php 
									$now_payable = (!empty($this->invoice_arr['now_payable'])) ? $this->invoice_arr['now_payable'] : '00.00' ; 
									echo $currencySymbol.$now_payable.$currencyShort; 
									if(!empty($this->invoice_arr['now_payable']))
									{
								?>
                                </span>
                                &nbsp;(<span id="now_payable_status"><?php if($this->escape($this->invoice_arr['now_payable_paid_status']) == '1'){ echo $this->translator->translator('invoice_list_invoice_now_payable_paid_language'); }else { echo $this->translator->translator('invoice_list_invoice_now_payable_unpaid_language'); }  ?></span>)
								<?php
								if($this->escape($this->invoice_arr['now_payable_paid_status']) != '1')
								{
								?>
								<select name="now_payment" id="now_payment">
									<option value=""><?php echo $this->translator->translator('common_select'); ?></option>
								<?php
									foreach($gateway_info as $key => $value)
									{
								?>
									<option value="<?php echo $this->escape($value['id']).'_'.$this->escape($this->invoice_arr['id']); ?>"><?php echo $this->escape($value['name']); ?></option>
								<?php
									}
								 ?>
								 </select>
								 <?php
								 }
								 ?>
								 <div class="payable-later"><?php echo $this->translator->translator("invoice_send_email_later_payable", $currencySymbol.(($this->invoice_arr['total']+$this->invoice_arr['tax']+$this->invoice_arr['service_charge']) - $this->invoice_arr['now_payable']).$currencyShort); ?></div>
								<?php
									}
								?>
                            </div>
                        </div>
                        
                        <?php
						if($this->escape($this->invoice_arr['now_payable_paid_status']) != '1')
							{
						?>
                        <div class="form-label-container">
                            <div class="label_class">
                              	&nbsp;
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">&nbsp;
                              	<span id="now_payment_link"></span>
                            </div>
                        </div>
                        <?php
							}
						?>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                            	<?php echo $this->translator->translator('invoice_send_email_grand_total'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<span class="grand-total"><?php echo $currencySymbol.($this->invoice_arr['total']+$this->invoice_arr['tax']+$this->invoice_arr['service_charge']).$currencyShort; ?></span>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                            	<?php echo $this->translator->translator('Invoice_details_client_invoice_create_date_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($this->invoice_arr['invoice_create_date']); ?>
                            </div>
                        </div>
                        
                        <div class="form-label-container">
                            <div class="label_class">
                            	<?php echo $this->translator->translator('Invoice_details_client_invoice_updated_date_title'); ?>
                            </div>
                        </div> 
                        <div class="form-field-container">
                            <div class="form-field">
                              	<?php echo $this->escape($this->invoice_arr['invoice_update_date']); ?>
                            </div>
                        </div>
                        
                   	</div>
                    </fieldset>
             	</div>
                <!-- Invoice Info End-->
                <form name="formInvoice" id="formInvoice" method="post">
                <!-- Invoice Items Start -->
                <div class="clr"></div>
            
            	<fieldset class="fieldset last">
                <legend class="legend"><?php echo $this->translator->translator('Invoice_details_client_invoice_items'); ?></legend>
                <div class="invoice-container">
                	<?php												
						$invoiceItems_db = new Invoice_Model_DbTable_InvoiceItems();
						$invoiceItems_info = $invoiceItems_db->getInvoiceItemsInfo($this->invoice_arr['user_id'],$this->invoice_arr['id']);
						if($this->escape($this->invoice_arr['status']) != '0')
						{
					?>
                    <div class="invoice">
                    	<div class="invoice-chart">
                            <div class="div-hr">
                                <div class="div-vr-1">
                                    <?php echo '<b>'.$this->translator->translator("invoice_id_title").'</b>: #'.$this->invoice_arr['id']; ?>
                                </div>
                                <div class="div-vr-2">
                                    <?php echo '<b>'.$this->translator->translator("invoice_date_title").'</b>: '.$this->invoice_arr['invoice_create_date']; ?>
                                </div>
                            </div>
                            
                            <div class="div-head">
                                <div class="div-vr-1">
                                    <?php echo '<b>'.$this->translator->translator("invoice_desc_title").'</b>'; ?>
                                </div>
                                <div class="div-vr-2">
                                    <?php echo '<b>'.$this->translator->translator("invoice_amount_title").'</b>'; ?>
                                </div>
                            </div>
						</div>
						<div class="invoice-chart">
							<div>
								<table  border="0" width="100%" cellspacing="0" align="center" cellpadding="5">
									<tbody>
								<?php
									$total_amount = 0;
									$total_tax = 0;		
									foreach($invoiceItems_info as $invoiceItems)
									{
									  echo $this->escape($invoiceItems['item_details']);		
											
									}
								?>
									</tbody>
								</table>								
							</div>          
                     	</div>
						<div class="invoice-chart">
							<div class="div-hr amount-hr">
								<div class="div-vr-1">
									<span class="label"><?php echo $this->translator->translator("invoice_total_title"); ?></span>
								</div>
								<div class="div-vr-2">
									<span class="label"><?php echo $currencySymbol.' '.number_format($this->invoice_arr['total'], 2, '.', ',').' '.$currencyShort; ?></span>
								</div>
							</div>
						</div>
                    </div>
                    <?php
						}							
					?>
                </div>
          		</fieldset>
            	<!-- Invoice Items End -->
                </form>
          	</div>
            
            <div id="tabs-2">
            	<fieldset class="fieldset last">
                	<legend class="legend"><?php echo $this->translator->translator('Invoice_details_client_invoice_detail_preview'); ?></legend>
                    <?php $invoice_desc =  str_replace('%invoice_id%',$this->invoice_arr['invoice_id'], str_replace('%payment_status%', '<h1 class="status-'.strtolower(strip_tags($this->invoice_arr['payment_status'])).'">'.$this->invoice_arr['payment_status'].'</h1>', $this->invoice_arr['invoice_desc'])); echo $this->escape($invoice_desc); ?>
               	</fieldset>
          	</div>
        </div>
  	    
</div>

<div id="dialog_container" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('invoice_details_invoice_page_name')); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<?php endif; ?>
</div>