<?php 
$front_template = Zend_Registry::get('front_template'); 
$translator = Zend_Registry::get('translator');
?>

<div class="block block-dashboard-ad">
    <div class="block-content">
    	AD will place here
		<ul>
            <li>22x more buyer inquiries</li>
            <li>Top-tier priority listing</li>
            <li>Instant access to buyers</li>
        </ul>
	</div>
</div>