<?php
$version = Zend_Registry::get('version');
$this->headTitle()->headTitle($this->translator->translator('Member_group_page_name'),'SET');
?>
<script type="text/javascript">
$(document).ready(function() 
{	
	function openMsgDialog(msg)
	{
		$('#dialog_msg').html(msg).dialog({
			autoOpen: true,
			modal: true,
			show: 'fade',
			resizable: 'false',				
			buttons: { "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>": function() { $(this).dialog('option', 'hide', 'explode').dialog("close"); } },
			open: function(event, ui)
				 {
					setTimeout(function() 
					{									
						if($('#' + event.target.id).dialog('isOpen'))
						{
							$('#' + event.target.id).dialog('option', 'hide', 'explode').dialog('close');										
						}
					}, 10000);
				  }
		});
	}
	
	$('a.add_user_btn').click(function() {
		var role_id = '';			
		$.each($('#GroupForm').serializeArray(), function(i, field) {			
			role_id = (field.name == 'role_id') ? field.value : '';			
		});					
		if(role_id == '')
		{
			openMsgDialog("<?php echo $this->translator->translator('Member_group_page_select_err'); ?>");
		}
		else
		{
			var links = "<?php echo $this->serverUrl().$this->url(array('module' => 'Members','controller'=>'frontend', 'action'=>'register',  role_id => ''),'Registration/:role_id',true);?>";
			$(this).attr('href',links+'/'+role_id);
			document.location.href=links+role_id;
		}
	});
	
});
</script>

<div class="mod">
	<h1><?php echo $this->translator->translator('Member_group_page_name'); ?></h1>

    <form name="GroupForm" id="GroupForm" role="form">
        <fieldset>
            <legend><?php echo $this->groupForm->role_id->getLabel(); if($this->groupForm->role_id->isRequired() ){ ?>&nbsp;<span class="reg-star star_class">*</span><?php } ?></legend>
            <div id="actionMessage"></div>
            
            <?php echo $this->groupForm->role_id ; ?>
            <span id="role_id_err"></span>
        </fieldset>
       	<a href="javascript: void(0);" class="add_user_btn btn btn-block btn-global"><span class="glyphicon glyphicon-user"></span> <?php echo $this->translator->translator('Member_go_to_register_page'); ?></a>
    </form>
	<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('Member_group_page_name')); ?>"></div>
</div>