<!DOCTYPE html>
<?php $front_template = Zend_Registry::get('front_template'); $is_frontend = new Eicra_Model_DbTable_Frontend(); $license = new Zend_Session_Namespace('License'); $validation_data = $license->license_data;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$locale_arr = explode('_', $locale);
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$global_conf = Zend_Registry::get('global_conf');
?> 
<html dir="<?php echo $locale_direction; ?>" lang="<?php echo $locale_arr[0]; ?>"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="<?php echo $this->serverUrl().$this->baseUrl(); ?>/" /> 
<link rel="shortcut icon" href="<?php echo $global_conf['frontend_favicon']; ?>" type="image/x-icon" />
<?php  echo $this->headMeta(); ?>
<?php echo html_entity_decode($this->headTitle(), ENT_QUOTES ,"UTF-8"); ?>
<?php
$version = new Eicra_License_Version();
echo $this->partial('head/headscript.phtml');
$frontController = Zend_Controller_Front::getInstance();
$moduleName = strtolower($frontController->getRequest()->getModuleName());	
$controllerName = strtolower($frontController->getRequest()->getControllerName());
$actionName = strtolower($frontController->getRequest()->getActionName());
?>
</head>
<body>
<!-- Header Start -->
<?php echo $this->layout()->render('header'); ?>
<!-- Header End -->
    
<!-- Top Navigation Start-->
<nav class="top-nav">
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
            	<?php echo $this->partial('blocks/top-menu.phtml'); ?>
            </div>
        </div>
    </div>
</nav>
<!-- Top Navigation End-->

<?php if($is_frontend->isFrontend()){ ?>
<!-- Banner Start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="banner">
                <?php echo $this->partial('blocks/banner_slideshow.phtml'); ?>
                <?php echo $this->partial('blocks/hotels_home_banner_search.phtml'); ?> 
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Main Body Start -->
<div class="container">
	<div class="row">
    	<!-- Home Sidebar Start -->
    	<div class="col-md-4">
        	<?php echo $this->partial('blocks/hotels_sidebar_topDestinations.phtml'); ?>
            <?php echo $this->partial('blocks/hotels_count.phtml'); ?>
            <?php echo $this->partial('blocks/hotels_sidebar_reviews.phtml'); ?>
            <?php echo $this->partial('blocks/why-book.phtml'); ?>
            <?php echo $this->partial('blocks/newsletter_sidebar.phtml'); ?>
            <?php echo $this->partial('blocks/sidebar_social.phtml'); ?>
        </div>
        <!-- Home Sidebar End -->
        
        <!-- Content Area Start -->
        <div class="col-md-8">
        	<?php echo $this->partial('blocks/hotels_mapView.phtml'); ?>	
            <?php echo $this->partial('blocks/hotels_home_content_popular.phtml'); ?>
            <?php echo $this->partial('blocks/hotels_home_businessType.phtml'); ?>
            
            <!-- Home Tab Start -->
            <div id="usual" class="usual">
                <ul>
                    <li><a class="selected" href="#tab1"><?php echo $this->translator->translator('hotels_block_featured_list_title','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a class="" href="#tab2"><?php echo $this->translator->translator('hotels_block_latest_list_title','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a class="" href="#tab3"><?php echo $this->translator->translator('tab_news_title','', '', $front_template['theme_folder']); ?></a></li>
                </ul>
            </div>
            <div class="usual-content">
                <div style="display:block;" id="tab1"><?php echo $this->partial('blocks/hotels_home_content_featured.phtml'); ?></div>
                <div style="display: none;" id="tab2"><?php echo $this->partial('blocks/hotels_home_content_recent.phtml'); ?></div>
                <div style="display: none;" id="tab3"><?php echo $this->partial('blocks/news_home_content_latest.phtml'); ?></div>
            </div>

            <script type="text/javascript">
                $("#usual ul").idTabs();
            </script>	
            <!-- Home Tab End -->
        </div>
        <!-- Content Area End -->
    </div>
	<div class="row">
    	<div class="col-md-12">
        	<div id="content">
        		<?php echo $this->partial('blocks/ad_home_content_scrolling.phtml'); ?>
            </div>
        </div>
    </div>
</div>
<!-- Main Body End-->

<?php 
	}
	else
	{
?>

<!-- Inner Page Layout Start -->
<div class="container inner-container">
	<div class="row">
    	<?php 
		$innter_page_content_width = 'col-md-12';
		if(!empty($moduleName) && $actionName != 'home')
		{
			switch($moduleName)
			{	
				case 'vacationrentals':	
				case 'hotels':
				if($actionName != 'confirm' && strtolower($controllerName) != 'wego' && strtolower($controllerName) != 'expedia' && strtolower($controllerName) != 'travelstart' && strtolower($controllerName) != 'hotelsprofront')
				{
					if($actionName != 'index' && !(strtolower($controllerName) == 'expedia' && strtolower($controllerName) == 'wego' && $actionName == 'details'))
					{
						$innter_page_content_width = 'col-md-9';
		?>
			<div class="col-md-3">
				<?php if( strtolower($controllerName) != 'expedia' && strtolower($controllerName) != 'wego' ){ echo $this->partial('blocks/'.$moduleName.'_inner_sidebar_search.phtml'); } ?>                  	
			</div>
		<?php
				}
			}
		break;
			}
		}
		?>
        		
		<div class="<?php echo $innter_page_content_width; ?>"> 
			<?php echo $this->layout()->content ?>
		</div>
    </div>
</div>
<!-- Inner Page Layout End -->
<?php
	}
?>

<!-- Footer Start -->
<?php echo $this->layout()->render('footer'); ?>
<!-- Footer End --> 

<div class="go-top"><a href="#top" id="scroll-top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
<?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/vendor/scripts/js/scroll.js'); ?>
</body>
</html>
<?php echo $this->escape($global_conf['analytics_code']); ?>