<?php
$translator = Zend_Registry::get('translator');
$front_template = Zend_Registry::get('front_template'); 
?>
<div class="block block-social">
	<div class="block-body">
    	<h2><?php echo $translator->translator('block_social_title','','', $front_template['theme_folder']); ?></h2>
        <span class="info"><?php echo $translator->translator('block_social_info','','', $front_template['theme_folder']); ?></span><br>
		<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <!--<a class="addthis_button_pinterest_pinit"></a>-->
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51629b7a7bec97f1"></script>
		<!-- AddThis Button END -->
	</div>
</div>