<?php
$this->headMeta()->setName('keywords',$this->translator->translator('hotels_itinerarylist_page_meta_keywords'));
$this->headMeta()->setName('description',$this->translator->translator('hotels_itinerarylist_page_meta_desc'));
$this->headTitle()->headTitle($this->translator->translator('hotels_itinerarylist_page_meta_title'),'SET');
$front_template = Zend_Registry::get('front_template');  
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;  
?>
<script type="text/javascript">
var it = 0;
$(document).ready(function() {
	var settingObj = {
						grid_id : 'grid',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						search_action: {},
						common_action : {
								permission_arr : {},
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: []
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: false,
						detailInit:	false,
						dataBound: function(e) {									
								var self = this;
								self.element.css("border", "none");
								self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
								self.thead.remove();
								//text_truncate();													                      
						},
						filterable: false,
						rowTemplate: kendo.template($("#view_template").html()),
						model: {},					
						column_fields: [],
						columnMenu:	false,
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("hotels_list_delete_confirm"); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("hotels_selected_err"); ?>"
									}
					};
	commonGrid(settingObj);
});
function text_truncate()
{
	$('div.jTruncate').jTruncate({  
		length:  300,  
		minTrail: 0,  
		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  
		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  
		ellipsisText: "",  
		moreAni: "fast",  
		lessAni: 2000  
	});
}
</script>
<script type="text/x-kendo-template" id="view_template">
	<div class="itinerary_main_body_block">
		<div class="itinerary_main_body_block_clild_header">
			<div class="itinerary-header">			
			#= ++it #.&nbsp;#= full_name #
			</div>
		</div>
		#
			if(invoice_items)
			{
				$.each(invoice_items, function(index, obj){
		#
						<div class="itinerary_main_body_block_clild_body">
                        <div class="itinerary_main_body_block_clild_body_box1">
                            #= invoice_status_format # &nbsp;&nbsp; #= obj.hotels_info.hotels_name #
                        </div>
                        <div class="itinerary_main_body_block_clild_body_box2">
                            <div class="itinerary_main_body_block_clild_body_box2_child1">
                                <span class="mod-title"><?php echo html_entity_decode($this->translator->translator('hotels_block_simple_search_label_check_in'), ENT_QUOTES, "UTF-8"); ?></span> #= obj.check_in # <br />
                                <span class="mod-title"><?php echo html_entity_decode($this->translator->translator('hotels_block_simple_search_label_check_out'), ENT_QUOTES, "UTF-8"); ?></span> #= obj.check_out #  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
								<span class="mod-title"><?php echo html_entity_decode($this->translator->translator('hotels_invoice_total_title'), ENT_QUOTES, "UTF-8"); ?> :</span> <?php echo $this->currency->getSymbol(); ?> #= total_amount # <?php echo $this->currency->getShortName(); ?> 
                            </div>												
                        </div>
                        <div class="itinerary_main_body_block_clild_body_box3">
                        	<div class="itinerary-body-container">
								<div class="room-chart-container">
									<div class="room-chart">
										#
											if(obj.room_type)
											{
										#
											<!-- Header Start -->
											<div class="room-chart-row">
												<div class="room-chart-header-col-1">
													<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_room_type'), ENT_QUOTES, "UTF-8"); ?>
												</div>
												<div class="room-chart-header-col-1 room-chart-header-col-2">
													<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_people_per_room'), ENT_QUOTES, "UTF-8"); ?>
												</div>
												<div class="room-chart-header-col-1 room-chart-header-col-4 itinerary-h-c4">
													<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_no_apartments'), ENT_QUOTES, "UTF-8"); ?>
												</div>
												<!--<div class="room-chart-header-col-1 room-chart-header-col-4 itinerary-h-c4">
													<?php echo html_entity_decode($this->translator->translator('hotels_front_page_list_head_price_per_room'), ENT_QUOTES, "UTF-8"); ?>
												</div>-->
											</div>
											<!-- Header End -->
												
											#
												$.each(obj.room_type, function(itinerary_room_type_info_key, itinerary_room_type_info){
												
													var row_class = (itinerary_room_type_info_key % 2 == 0) ? 'room-chart-row2' : 'room-chart-row2 room-chart-row3';
											#
											<!-- Row-2 & Row-3 Start -->
											<div class="#= row_class #">
												<div class="room-chart-c1">
													<span><a class="toggle_desc preview" rel="#= itinerary_room_type_info.room_type_info.id #" link=""  title="#= itinerary_room_type_info.room_type_info.room_condition #">#= itinerary_room_type_info.room_type_info.room_type #</a></span>
												</div>
												<div class="room-chart-c1 room-chart-c2">																
														<a class="preview" link="" title="#= itinerary_room_type_info.room_type_info.max_people_format #">
														# 
															if(itinerary_room_type_info.room_type_info.max_people <= 4)
															{
																for(var i = 1; i <= itinerary_room_type_info.room_type_info.max_people; i++)
																{
														#	
																	<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />
														#	
																}
															} 
															else
															{
																for(var i = 1; i <= 3; i++)
																{
														#
																<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_hotel_img/people.png" border="0" />
														#	
																}
														#
																<span class="person-count">#= itinerary_room_type_info.room_type_info.max_people #</span>
														#	
															}
														#
														</a>
												</div>						
												<div class="room-chart-c1 room-chart-c3 itinerary-r-c3">
													#
														if(itinerary_room_type_info.room_info)
														{
															$.each(itinerary_room_type_info.room_info, function(room_key, room_infos){
													#
																	#= room_infos.room_name # <br />
													#
																});
														}
													#																							
												</div>
												<!--<div class="room-chart-c1 room-chart-c4 itinerary-r-c4">
														<span class="hotel-price"><?php //echo $this->currency->getShortName().'&nbsp;'.$total_price; ?></span>
												</div>-->
											</div>
											<!-- Row-2 & Row-3 Start -->
										#
												});										
											}
										#
									</div>
								</div>
                            </div>
                        </div>
                      </div>
		#
					});
			}
		#
	</div>
</script>
<div class="mod">
	<div class="itinerary-icon">
        <h1><?php echo $this->translator->translator('hotels_itinerarylist_page_meta_title'); ?></h1>
    </div> 
    
    <div class="clear"></div>
   	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                 <div id="grid"></div>  
       </div>    
</div>