<?php if (!$this->allow()) : ?>
		<h1><?php echo $this->translator->translator('Member_Access_deny_desc'); ?></h1>
<?php else :
$front_template = Zend_Registry::get('front_template');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/BookingCalendar/js/jquery.dop.BookingCalendar.js');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/css/jquery.dop.BookingCalendar.css');
$headTitle = (!empty($this->group_id)) ? $this->translator->translator('property_frontend_list_page_name') . ' ('.$this->escape($this->group_info['property_name']).')' : $this->translator->translator('property_frontend_list_page_name');
$this->headTitle()->headTitle($headTitle,'SET'); 
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;
$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);
$permission_arr = array('add_enable' => $this->allow('add','members','Property'), 'edit_enable' => $this->allow('edit','members','Property'), 'publish_enable' => $this->allow('publish','backendpro','Property'), 'delete_enable' => $this->allow('delete','backendpro','Property'), 'featured_enable' => $this->allow('featured','backendpro','Property'), 'search_enable' => $this->allow('search','backendpro','Property'));	
$param_group_id = ($this->group_id) ? $this->group_id : null;
$add_page_route = 'Members-Property-Add/*';
?>
<script type="text/javascript">
<?php
if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
{
?>
$(function() {
	$( "#property_owner" ).combobox();	
})
<?php
}
?>
$(function() {
	autoSuggestion('property_name', "<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'property_name': ''}, ['property_primary_image', 'property_image', 'property_name', 'property_name', 'owner_name','property_postcode' ,'property_room', 'property_location'], 'data/frontImages/property/property_image', 2);	
	autoSuggestion('post_code', "<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['property_primary_image', 'property_image', 'property_name', 'post_code', 'owner_name', 'property_postcode', 'property_location'], 'data/frontImages/property/property_image', 2);
	autoSuggestion('property_price', "<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'property_price': ''}, ['property_primary_image', 'property_image', 'property_name', 'price', 'owner_name','property_postcode', 'property_price' ,'property_room', 'property_location'], 'data/frontImages/property/property_image', 2);	
});

 function availableCalendar()
 {
	$('a.calendar_btn').unbind('click');
	$('a.calendar_btn').click(function(){
		var self = this;
		var id = $(self).attr('rel');
		openCalendarDialog(id);
	 });
 }
 
function openCalendarDialog(id)
{
	$('#dialog_calendar_loader').dialog({
				autoOpen: true,
				width: 880,
				height:480,
				modal: false,
				show: 'fade',
				resizable: 'false',				
				open: function(event, ui){
						$('#dialog_calendar').html('');
						$('#dialog_calendar').DOPBookingCalendar({'Type':'BackEnd', 'DataURL':'<?php echo $this->url( array("module"=> "Property", "controller" => "backendpro", "action"     => "load", "id" => "" ), "adminrout",    true) ?>'+id, 'SaveURL':'<?php echo $this->url( array("module"=> "Property", "controller" => "backendpro", "action"     => "update", "id" => "" ), "adminrout",    true) ?>'+id,'Currency':'<?php echo $currency->getSymbol(); ?>'});						
					 },
				beforeClose: function(event, ui) { 
						$('#dialog_calendar').html('');
					 }
			});
}

$(document).ready(function() {	
	var settingObj =  {
						grid_id : 'grid',
						mobile: 'cellphone',
						dest_url : "<?php echo $this->url(); ?>",
						pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
						page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
						calendar: {
							calendar_include_time: false,
							calendar_img_link: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_img/calendar-small.png',
							monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
							monthNames:		<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
							dayNamesMin:		<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
							buttonText:		'calendar',
							dateFormat:		'yy-mm-dd',
							dateTimeFormat:     "yyyy-MM-dd hh:mm:ss tt",
							culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
							value: ''
						},
						dynamic_list_action: [
									{
										list_id:'group_id',
										sub_list: {
											list_id:'category_id',
											list_dest_url: '<?php echo $this->url( array('module' =>'Property','controller' => 'frontend', 'action' => 'categories' ), 'adminrout',    true) ?>',
											list_any_value: '<?php echo html_entity_decode($this->translator->translator("common_any_language"), ENT_QUOTES, 'UTF-8'); ?>',
											list_input_value_field: 'id',
											list_input_option_field: 'category_name',
											list_return_field: 'categories',
											list_loader_info : {
														loader_id : 'category_id_err',
														loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
														on_loading : [
																		{id : 'category_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("common_any_language"), ENT_QUOTES, 'UTF-8'); ?>'}
																	]
												}
										}
									},
									{
										list_id:'country_id',
										sub_list: {
											list_id:'state_id',
											list_dest_url: '<?php echo $this->url( array('module' =>'Property','controller' => 'backendpro', 'action' => 'states' ), 'adminrout',    true) ?>',
											list_any_value: '<?php echo html_entity_decode($this->translator->translator("property_select_state"), ENT_QUOTES, 'UTF-8'); ?>',
											list_input_value_field: 'state_id',
											list_input_option_field: 'state_name',
											list_return_field: 'states',
											list_loader_info : {
														loader_id : 'state_id_err',
														loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
														on_loading : [
																		{id : 'state_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("property_select_state"), ENT_QUOTES, 'UTF-8'); ?>'},
																		{id : 'area_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("property_select_area"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("property_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
																	]
												},
											sub_list:{
												list_id:'area_id',
												list_dest_url: '<?php echo $this->url( array('module' =>'Property','controller' => 'backendpro', 'action' => 'areas' ), 'adminrout',    true) ?>',
												list_any_value: '<?php echo html_entity_decode($this->translator->translator("property_select_area"), ENT_QUOTES, 'UTF-8'); ?>',
												list_input_value_field: 'city_id',
												list_input_option_field: 'city',
												list_return_field: 'cities',
												list_loader_info : {
															loader_id : 'area_id_err',
															loader_img : 'application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif',
															on_loading : [
																			{id : 'area_id', type:'html', loading_lang: '<?php echo html_entity_decode($this->translator->translator("common_loading_language"), ENT_QUOTES, 'UTF-8'); ?>', normal_lang: '<?php echo html_entity_decode($this->translator->translator("property_select_area"), ENT_QUOTES, 'UTF-8'); ?>'}
																		]
													}
											}
										}
									}
						],
						search_action: {
							search_form_id : 'propertySearchForm',
							search_form_btn : 'property_search_btn',
							hasTinyMCE 	: false
						},
						common_action : {
								permission_arr : {
										publish_enable 	: 	'<?php echo $permission_arr['publish_enable']; ?>',
										delete_enable	:	'<?php echo $permission_arr['delete_enable']; ?>',
										featured_enable	:	'<?php echo $permission_arr['featured_enable']; ?>'
								},
								publish_dest_url			:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'publish' ), 'adminrout',    true); ?>",
								publish_dest_data_field 	: 	['id', 'property_name', 'paction', 'activation_never', 'available_activation_date', 'available_expire_date'],
								publish_active_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/published.gif",
								publish_deactive_icon_link	:	"application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif",
								
								delete_dest_url				:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'delete' ), 'adminrout',    true); ?>",
								delete_dest_data_field 		: 	['id', 'group_id'],
																
								publish_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'publishall' ), 'adminrout',    true); ?>",
								delete_multi_dest_url		:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'deleteall' ), 'adminrout',    true); ?>",
								
								toolbar_button_loader		:	'<span class="icon loader"></span>',
								ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/ajax_loader.gif",
						
								multi_action	: [
														{
															multi_action_caller_id				:	"a.featured_btn",
															multi_action_dest_url				:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'featured' ), 'adminrout',    true) ?>",
															multi_action_dest_data_field 		: 	['id', 'property_name', 'paction'],
															multi_action_data_return_field 		: 	['featured'],
															multi_action_data_permission_field 	: 	['featured_enable'],
															multi_action_dest_data_paction 		: 	[
																										{'paction' : 'featured', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_feature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif"},
																										{'paction' : 'unfeatured', 'title' : "<?php echo html_entity_decode($this->translator->translator("common_unfeature_title"), ENT_QUOTES, 'UTF-8'); ?>", "icon_link" : "application/modules/Administrator/layouts/scripts/images/tools/featured.gif"}
																									]															
														}
													]
						},
						order_action: {
								order_dest_data_field		:	['id', 'property_order'],
								
								order_up_dest_url			:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'up' ), 'adminrout',    true) ?>",
								order_up_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/up-animation.gif",
								order_down_dest_url			:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'down' ), 'adminrout',    true) ?>",
								order_down_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/tools/down-animation.gif",
								
								order_all_dest_data_field	:	['id_arr', 'property_order_arr'],
								order_all_dest_url			:	"<?php echo $this->url( array('module'=> 'Property', 'controller' => 'backendpro', 'action'     => 'orderall' ), 'adminrout',    true) ?>",
								order_all_ajax_loader_link	:	"application/modules/Administrator/layouts/scripts/images/loader/order_all_loader.gif"
						},
						search_data : {},
						batch:		false,
						editable:	false,
						scrollable: true,
						detailInit:	false,
						<?php if ($permission_arr['add_enable'] || $permission_arr['publish_enable'] || $permission_arr['delete_enable']) : ?>					
						toolbar: kendo.template($("#toolbar_template").html()),	
						<?php endif; ?>	
						dataBound: function(e) {									
								var self = this;		
																							
								self.tbody.find("tr").children('td:nth-child(3)').css({'overflow' : 'visible'});
								commonImageThumbnil();
								availableCalendar();
																
								<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>
								self.thead.find("th[data-field='property_order']").unbind('click');
								self.thead.find("th[data-field='property_order']>a").attr('href', 'javascript:void(0)');
								<?php endif; ?>								                      
                        },
						filterable:{
						  extra: true,
						  messages: {
							  info: "<?php echo $this->translator->translator("portfolio_filter_messages_info", '', 'Portfolio'); ?>", // sets the text on top of the filter menu
							  filter: "<?php echo $this->translator->translator("portfolio_filter_messages_filter", '', 'Portfolio'); ?>", // sets the text for the "Filter" button
							  clear: "<?php echo $this->translator->translator("portfolio_filter_messages_clear", '', 'Portfolio'); ?>", // sets the text for the "Clear" button
					  
							  // when filtering boolean numbers
							  isTrue: "<?php echo $this->translator->translator("portfolio_filter_messages_isTrue", '', 'Portfolio'); ?>", // sets the text for "isTrue" radio button
							  isFalse: "<?php echo $this->translator->translator("portfolio_filter_messages_isFalse", '', 'Portfolio'); ?>", // sets the text for "isFalse" radio button
					  
							  //changes the text of the "And" and "Or" of the filter menu
							  and: "<?php echo $this->translator->translator("portfolio_filter_messages_and", '', 'Portfolio'); ?>",
							  or: "<?php echo $this->translator->translator("portfolio_filter_messages_or", '', 'Portfolio'); ?>"
						  },
						  operators: {
							  string: {
								  startswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_startswith", '', 'Portfolio'); ?>",
								  contains: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_contains", '', 'Portfolio'); ?>",
								  doesnotcontain: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_doesnotcontain", '', 'Portfolio'); ?>",
								  endswith: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_endswith", '', 'Portfolio'); ?>",
								  eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_eq", '', 'Portfolio'); ?>",
								  neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_string_neq", '', 'Portfolio'); ?>"
							  },
							  number: {
								  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_neq", '', 'Portfolio'); ?>",
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_number_lt", '', 'Portfolio'); ?>"
							  },
							  date: {
								  gte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gte", '', 'Portfolio'); ?>",
								  gt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_gt", '', 'Portfolio'); ?>",
								  lte:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lte", '', 'Portfolio'); ?>",
								  lt:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_lt", '', 'Portfolio'); ?>",
							  	  eq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_eq", '', 'Portfolio'); ?>",
								  neq:	"<?php echo $this->translator->translator("portfolio_filter_messages_operators_date_neq", '', 'Portfolio'); ?>"
							  },
							  enums: {
									eq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_eq", '', 'Portfolio'); ?>",
									neq: "<?php echo $this->translator->translator("portfolio_filter_messages_operators_enum_neq", '', 'Portfolio'); ?>"
							  }
						  }
						},
						model: {
                                    fields: {
                                        id: { type: "number" },
                                        category_name: { type: "string" },
                                        property_name: { type: "string" },
                                        property_order: { type: "number", editable: false },
                                        property_date: { type: "date" },
										active: { type: "enums", editable: false },
										common_action: { editable: false }
                                    }
                                },					
						column_fields: [
											{ field:"checkAll", headerTemplate: '<input type="checkbox" name="checkAll" id="checkAll" class="checkAll_btn" <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable'] && !$permission_arr['featured_enable']) : ?>disabled="disabled"<?php endif; ?>  />',	template: '<input type="checkbox" value="${id}" class="check_btn" <?php if(!$permission_arr['publish_enable'] && !$permission_arr['delete_enable'] && !$permission_arr['featured_enable']) : ?>disabled="disabled"<?php endif; ?> />' , width: 28, filterable: false, sortable: false, columnMenu: false},  // For Header : #= Selected ? checked="checked" : "" #       For Body :  # (checkAll) ? checked="checked" :  ""  #  # if(checkAll){ # checked # } #
											{ 
												field: "id", 
												template: '#= id_format #',		
												title: 	"<?php echo $this->translator->translator('property_page_list_page_id'); ?>", 
												width: 50, 
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}  
											},
											/*{ field: "category_name", title: "<?php echo $this->translator->translator('property_page_list_page_cat'); ?>", template: '#= (category_name) ? category_name : "<?php echo html_entity_decode($this->translator->translator('common_no_catagory'), ENT_QUOTES, 'UTF-8'); ?>" #', width: 90},*/
											{ 
												field: "property_image", 		
												title:	"<?php echo $this->translator->translator('property_page_list_page_thumb'); ?>",
												width: 50,
												template: '# if(property_image_format){ # <div class="thumb"><img src="${property_image_format}" width="30" height="20" /></div> # } #',
												filterable: false, 
												sortable: false,
												columnMenu: false 
											},
											{ 
												field: "property_name", 		
												title:	"<?php echo $this->translator->translator('property_page_list_page_pro_name'); ?>",
												template: '#= property_name #',
												attributes: {
													title: 	'<strong>#= property_name #</strong><br /># if(owner_name){ # #= \'<strong><?php echo html_entity_decode($this->translator->translator('property_owner'), ENT_QUOTES, 'UTF-8'); ?> : </strong>\' # #= owner_name # # } ' +
															' if(property_price){ #<br /><strong><?php echo html_entity_decode($this->translator->translator('property_price'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= property_price_format # #= \'<?php echo " ".$currency->getSymbol(); ?>\' # # } '+
															' if(feature_room_no){ #&nbsp;&nbsp;<strong><?php echo html_entity_decode($this->translator->translator('property_room'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= feature_room_no_format # # } '+
															' if(post_code){ #<br /><strong><?php echo html_entity_decode($this->translator->translator('property_post_code'), ENT_QUOTES, 'UTF-8'); ?> : </strong>#= post_code #  # } #'
												}
											},
											{ 
												field: "property_order", 		
												title:	"<?php echo $this->translator->translator('common_order'); ?>", 
												width: 110,												
												headerTemplate: '<?php echo html_entity_decode($this->translator->translator('common_order'), ENT_QUOTES, 'UTF-8'); if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?>&nbsp;&nbsp;<a href="javascript: void(0);" class="all_order_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/save.png" border="0" /></a><?php endif; ?>',
												template: '<?php if($this->auth->getIdentity()->allow_change_order_listing == '1') : ?><input type="text" size="1" name="property_order" id="property_order" class="order_text" value="${property_order}" />&nbsp;<a href="javascript: void(0);" rel="${id}" class="up_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/up-arrow.gif" border="0" /></a>&nbsp;<a href="javascript: void(0);" rel="${id}" class="down_btn"><img src="application/modules/Administrator/layouts/scripts/images/tools/down-arrow.gif" border="0" /></a><?php else : ?>${property_order}<?php endif; ?>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoNumericTextBox({
															culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
															format: "0",
															min: 1,															
															placeholder: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_placeholder", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															upArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_upArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
															downArrowText: "<?php echo html_entity_decode($this->translator->translator("portfolio_numeric_text_box_messages_downArrowText", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												} 
											},
											{ 
												field: "property_date", 	
												title:	"<?php echo $this->translator->translator('common_date'); ?>",  
												format: "{0:MM/dd/yyyy}", 
												template: '#= property_date_lang_format #',
												attributes:{ 
																'align' : 'center' ,
																'title'	: '<strong><?php echo html_entity_decode($this->translator->translator('common_date'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${property_date_format}<br /><strong><?php echo html_entity_decode($this->translator->translator('common_entry'), ENT_QUOTES, 'UTF-8'); ?> : </strong>${username}'
															},
												width: 80, 
												filterable: { 
													ui: function(element) {
														kendoDateTimeCalendar(element, settingObj);
													}
												}
											},
											{ 	
												field: "active", 	
												title:	"<?php echo $this->translator->translator('common_status'); ?>", 
												width: 75,
												template: '<a href="javascript:void(0);" class="publish_btn"  rel="${id}_${publish_status_property_name}_#= (active == 1) ? \'unpublish\' : \'publish\' #"><img src="#= (active == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/published.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unpublished.gif\' #" title="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (active == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unpublish_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_publish_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" border="0" /></a>',
												attributes:{ 'align' : 'center' },
												filterable: { 
													ui: function(element) {
														element.kendoDropDownList({
															dataSource: [ { Id: 0, Title: "<?php echo html_entity_decode($this->translator->translator("common_unpublished_language"), ENT_QUOTES, 'UTF-8'); ?>" }, { Id: 1, Title: "<?php echo html_entity_decode($this->translator->translator("common_published_language"), ENT_QUOTES, 'UTF-8'); ?>" } ],
															dataTextField: "Title",
    														dataValueField: "Id",
															optionLabel: "<?php echo html_entity_decode($this->translator->translator("common_select"), ENT_QUOTES, 'UTF-8'); ?>"
														});
													}
												}
											},
											{ 
												field: "common_action",	
												title:	"<?php echo $this->translator->translator('common_action'); ?>", 
												width: 100, 
												template:	'<?php if ($permission_arr['edit_enable']) : ?># if(edit_enable){ # <a href="<?php echo $this->url( array('module'=> 'Property', 'controller' => 'members', 'action' => 'edit', 'id' => '' ), 'Members-Property-Edit/*',    true) ?>/${id}/group_id/${group_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/edit.png" title="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_edit_title'), ENT_QUOTES, 'UTF-8'); ?>" border="0" /></a> # } #<?php endif; ?>'+
															'<?php if ($permission_arr['edit_enable']) : ?>&nbsp;<a href="javascript:void(0);" class="calendar_btn" rel="${id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/calendar.png" title="<?php echo html_entity_decode($this->translator->translator('common_booking_calendar_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_booking_calendar_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'<?php if ($permission_arr['delete_enable']) : ?>&nbsp;&nbsp;<a href="javascript:void(0);" class="delete_btn"  rel="${id}_${group_id}"><img src="application/modules/Administrator/layouts/scripts/images/tools/delete.png" title="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>" alt="<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>"  border="0" /></a><?php endif; ?>'+
															'&nbsp;<a href="javascript:void(0);"  rel="${id}_${publish_status_property_name}_#= (featured == 1) ? \'unfeatured\' : \'featured\' #" class="featured_btn"><img src="#= (featured == 1) ? \'application/modules/Administrator/layouts/scripts/images/tools/featured.gif\' : \'application/modules/Administrator/layouts/scripts/images/tools/unfeatured.gif\' #" border="0" title="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" alt="#= (featured == 1) ? \'<?php echo html_entity_decode($this->translator->translator('common_unfeature_title'), ENT_QUOTES, 'UTF-8'); ?>\' : \'<?php echo html_entity_decode($this->translator->translator('common_feature_title'), ENT_QUOTES, 'UTF-8'); ?>\' #" /></a>', 
												attributes:{ 'align' : 'center' },
												filterable: false, 
												sortable: false,
												columnMenu: false 
											}
										],
						columnMenu:	{
							columns: true,
							messages: {
									sortAscending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_ascending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									sortDescending: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_sort_descending", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									filter: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_filter", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>",
									columns: "<?php echo html_entity_decode($this->translator->translator("portfolio_column_menu_messages_columns", '', 'Portfolio'), ENT_QUOTES, 'UTF-8'); ?>"
								}
						},
						messages: {
										display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
										empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
										page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
										of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
										itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
										first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
										previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
										next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
										last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
										refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
										
										common_msg_dialog_id 		:	'dialog_msg',
										common_confirn_dialog_id	:	'dialog-confirm',
										common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
										common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
										common_delete_confirm		:	"<?php echo $this->translator->translator("property_list_delete_confirm"); ?>",
										common_save_btn_text		:	"<?php echo html_entity_decode($this->translator->translator("property_date_add_page_save"), ENT_QUOTES, 'UTF-8'); ?>",
										common_field_must_not_empty	:	"<?php echo html_entity_decode($this->translator->translator("common_field_must_not_empty"), ENT_QUOTES, 'UTF-8'); ?>",
										common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
										common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
										common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
										common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
										common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
										common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>",
										common_selected_err	 		:	"<?php echo $this->translator->translator("property_selected_err"); ?>"
									}
					};	 
	commonGrid(settingObj);	
});
function inputActivation()
{	
	var input = '<table width="95%" border="0" align="center" cellpadding="0" cellspacing="10">'+
					'<tr>'+
						'<td colspan="2" id="actionMessage"></td>'+
					'</tr>'+
					'<tr>'+
					  '<td width="40%"><?php echo addslashes($this->translator->translator("property_dialog_available_form_label")); ?></td>'+
					  '<td width="60%">'+
					  '<input type="text" size="20" name="available_activation_date" id="available_activation_date" />&nbsp;<span id="available_activation_date_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td><?php echo addslashes($this->translator->translator("property_dialog_available_to_label")); ?></td>'+
					  '<td>'+
					  '<input type="text" size="20" name="available_expire_date" id="available_expire_date" />&nbsp;<span id="available_expire_date_err"></span>'+					  
					  '</td>'+
					'</tr>'+
					'<tr>'+
					  '<td><?php echo addslashes($this->translator->translator("property_dialog_available_never_label")); ?></td>'+
					  '<td>'+
					  '<input type="checkbox"  name="activation_never" id="activation_never" />&nbsp;<span id="activation_never_err"></span>'+					  
					  '</td>'+
					'</tr>'+
				  '</table>';
	return input;
}
</script>

<script type="text/x-kendo-template" id="toolbar_template">	
	<div class="toolbar">
		<div class="button-container">
			<?php if ($permission_arr['add_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="<?php echo $this->url(array('module'=> 'Property','controller'=>'members', 'action'=>'add','group' => $param_group_id), $add_page_route, true);?>"><span class="icon add"><?php echo html_entity_decode($this->translator->translator('common_add'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
			<?php if ($permission_arr['publish_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="publish" class="publish_all"><span class="icon publish"><?php echo html_entity_decode($this->translator->translator('common_publish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" rel="unpublish" class="publish_all"><span class="icon unpublish"><?php echo html_entity_decode($this->translator->translator('common_unpublish_selected'), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		
			<?php if ($permission_arr['delete_enable']) : ?>
			<span class="button  ui-widget-content-1"><a href="javascript: void(0);" class="delete_all"><span class="icon delete"><?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, "UTF-8"); ?></span></a></span>
			<?php endif; ?>
		</div>
	</div>
</script>



<!-- Content Start-->
<article class="member-dashboard">	
  	<h1><?php echo $headTitle; ?></h1>
    <br />
    <div class="member-block block-control-panel">
        <div class="block-heading">
            <div class="symbol"><?php echo $this->translator->translator('members_dashboard_block_property_list_header_title'); ?></div>
        </div>        
        <div class="block-body">       		 
            <?php if ($permission_arr['search_enable']) : ?>
            <div class="toggle-link"><a href="#" id="slick-slidetoggle" class="property-icon"><?php echo $this->translator->translator('property_list_page_search'); ?></a></div>
            <div id="slickbox" class="toggle-container">
                <form name="propertySearchForm" id="propertySearchForm">
                <div class="toggle-search">
                	<!-- Row 1 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_name'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <input type="text" class="ui-widget-content ui-corner-all" name="property_name" id="property_name" operator="contains" value="" size="50" />
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_group'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="group_id" id="group_id" class = "ui-widget-content ui-corner-all" operator="eq" <?php if(!empty($this->group_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
								if($this->group_list)
								{
                                    foreach($this->group_list as $info)
                                    {
										$selected = ($this->group_id == $info['id']) ? 'selected="selected"' : '';
                                ?>
                                <option value="<?php echo $info['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($info['property_name']); ?></option>
                                <?php
                                    }
								}
                                ?>
                            </select> 
                         </div>
                 	</div>
                    <!-- Row 1 End -->
                    
                    <!-- Row 2 Start -->
                    <div class="toggle-row">
                    
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_category'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                            
                        	<select name="category_id" id="category_id" class = "ui-widget-content ui-corner-all" operator="eq" <?php if(!empty($this->category_id)){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
								if($this->cat_data)
								{
                                    foreach($this->cat_data as $info)
                                    {
										$selected = ($this->category_id == $info['id']) ? 'selected="selected"' : '';
                                ?>
                                <option value="<?php echo $info['id']; ?>" <?php echo $selected; ?>><?php echo $this->escape($info['category_name']); ?></option>
                                <?php
                                    }
								}
                                ?>
                            </select><span id="category_id_err"></span> 
                       	</div>                    	
						
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_status'); ?></span>
                        </div>
                        
                        <div class="toggle-field"> 
                            <select name="active" id="active" class = "ui-widget-content ui-corner-all" operator="eq" <?php if($this->approve != ''){ ?>disabled="disabled" style="background:#CCC;"<?php } ?>>
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <option value="1" <?php if($this->approve == '1'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_published_language'); ?></option>
                                <option value="0" <?php if($this->approve == '0'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('common_unpublished_language'); ?></option>
                            </select>                            
                       	</div>
                        
                       
                        
                                           
                 	</div>
                    <!-- Row 2 End -->
                    
                    <!-- Row 3 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_country'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="country_id" id="country_id" class="country_id ui-widget-content ui-corner-all" operator="eq">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
                                if($this->country_data)
                                {    
                                    foreach($this->country_data as $key=>$value)
                                    {
                                ?>
                                    <option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
                                <?php
                                    }
                                }
                                ?>
                            </select>                  
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_pro_type'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="property_type" id="property_type" class = "ui-widget-content ui-corner-all" operator="eq">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php	
								if($this->type_info)
								{
                                    foreach($this->type_info as $info)
                                    {
                                ?>
                                <option value="<?php echo $info['id']; ?>"><?php echo $this->escape($info['business_type']); ?></option>
                                <?php
                                    }
								}
                                ?>
                            </select>
                        </div>
                 	</div>
                    <!-- Row 3 End -->
                    
                    <!-- Row 4 Start -->
                    <div class="toggle-row">
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_state'); ?></span>
                        </div>
                        
                        <div class="toggle-field">                        	
							<select name="state_id" id="state_id" class="state_id ui-widget-content ui-corner-all" operator="eq">
                           		<option value="any"><?php echo $this->translator->translator('property_select_state'); ?></option>																			
                            </select><span id="state_id_err"></span>                           
                        </div> 
                        
                        <div class="toggle-label">
                        	<span class="label"><?php echo $this->translator->translator('property_list_page_search_price'); ?></span>
                        </div>
                         
                        <div class="toggle-field">    
							<input type="text" name="property_price" id="property_price" value="" class = "ui-widget-content ui-corner-all" operator="contains"/><?php echo $currency->getSymbol(); ?>  &nbsp;
                            
                        </div>                     
                 	</div>
                    <!-- Row 4 End -->
                    
                    <!-- Row 5 Start -->
                    <div class="toggle-row">
                    	<div class="toggle-label">
                        	<span class="label"><?php echo $this->translator->translator('property_list_page_search_area'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="area_id" id="area_id" class="area_id ui-widget-content ui-corner-all" operator="eq">
                            	<option value="any"><?php echo $this->translator->translator('property_select_area'); ?></option>																			
                            </select><span id="area_id_err"></span>
                        </div>
                        
                        <div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_postcode'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                             <input type="text" class="ui-widget-content ui-corner-all" name="post_code" id="post_code" operator="contains" />
                        </div>                
                        
                    </div>
                    <!-- Row 5 End -->
                    
                    <!-- Row 6 Start -->
                    <div class="toggle-row">
                    	<div class="toggle-label">
                            <span class="label"><?php echo $this->translator->translator('property_list_page_search_room'); ?></span>
                        </div>
                        
                        <div class="toggle-field">
                            <select name="feature_room_no" id="feature_room_no" class = "ui-widget-content ui-corner-all" operator="eq">
                                <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                                <?php
                                    
                                    for($i = 1; $i<=1000;$i++)
                                    {
                                ?>
                                    <option value="<?php echo $i; ?>"><?php echo $this->escape($i); ?></option>
                                <?php
                                    }
                                ?>
                            </select>
                        </div>              
                          
						<?php
                          if($this->auth->hasIdentity() && $this->auth->getIdentity()->access_other_user_article == '1')
                          {
                          ?>
                          <div class="toggle-label">
                              <span class="label"><?php echo $this->translator->translator('property_list_page_search_owner'); ?></span>
                          </div>
                          
                          <div class="toggle-field">
                              <span class="ui-widget">
                              <select name="property_owner" id="property_owner" operator="eq">
                              <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                              <?php
                               if($this->mem_data)
                               {   
                                  foreach($this->mem_data as $key=>$value)
                                  {
                              ?>
                                  <option value="<?php echo $key; ?>"><?php echo $this->escape($value); ?></option>
                              <?php
                                  }
                               }
                              ?>
                              </select>
                              </span>
                          </div>
                        <?php
                        }
                        ?>              
                        
                    </div>
                    <!-- Row 6 End -->
				</div>
                <hr />
                <div class="clr form-button-container">
                    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="property_search_btn"><span class="icon search"><?php echo $this->translator->translator('prperty_list_page_search_button'); ?></span></a></span>
                </div>
        	</form>
        	</div>	         	  
        	<?php endif; ?> 
             
             <div id="example">
             	<div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
   					 <div id="grid"></div>  
                 </div> 
             </div> 
             
             
                          
        </div>
    </div>    
</article>
<div id="dialog_calendar_loader" style="display:none;"><div id="dialog_calendar"></div></div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$headTitle); ?>"></div>
<div id="dialog-confirm" title="<?php echo $this->translator->translator('common_confirmation',$this->translator->translator('common_delete')); ?>"></div>
<div id="add-date-confirm" title="<?php echo $this->translator->translator('property_add_available_date'); ?>"></div>
<!-- Content End -->
<?php endif; ?>