<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

echo 'hello world';

//echo '<pre>';
//print_r($this->demotestform);
//echo '</pre>';
?>


 <script type="text/javascript">
        var settingObj = {            
            form_action: {
                form_id: 'formItem',
                hasTinyMCE: false,
               // currency_symbol: "<?php //echo $currency->getSymbol(); ?>",
                common_msg_field_id: 'actionMessage',
                dialog_container_id: 'dialog_container',
                dialog_progressbar_id: 'progressbar',                
                extra_field_for_reset: [],
                extra_function_for_reset: function() {
                   
                    $('a.back_btn_link').attr('href', '<?php echo $this->url(array("module" => "Hotels", "controller" => "backendpro", "action" => "list", "group_id" => $param_group_id), "adminrout", true) ?>');
                   // commonRemoveTabs(settingObj);
                }
            },

            calendar: {
                calendar_include_time: true,
                calendar_img_link: 'application/modules/Administrator/layouts/scripts/images/common/calendar.png',
                monthNamesShort: <?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
                monthNames: <?php echo $this->translator->translator("common_calender_monthNames"); ?>,
                dayNamesMin: <?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
                buttonText: 'calendar',
                dateFormat: 'yy-mm-dd',
                dateTimeFormat: "yyyy-MM-dd HH:mm:ss tt",
                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                value: ''
            },
            messages: {
                display: '<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                empty: '<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                page: '<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                of: '<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                itemsPerPage: '<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                first: '<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                previous: '<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                next: '<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                last: '<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                refresh: '<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                common_msg_dialog_id: 'dialog_msg',
                common_confirn_dialog_id: 'dialog-confirm',
                common_ok: "<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                common_delete_selected: "<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                common_cancel: "<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                common_publish_title: "<?php echo $this->translator->translator("common_publish_title"); ?>",
                common_unpublish_title: "<?php echo $this->translator->translator("common_unpublish_title"); ?>",
                common_publish_selected: "<?php echo $this->translator->translator("common_publish_selected"); ?>",
                common_unpublish_selected: "<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                common_publish_perm: "<?php echo $this->translator->translator("common_publish_perm"); ?>"
            }
        };
        
   $(document).ready(function() {	
        $('a.add_autos_btn').click(function() {			
			
		var formData = commonGetFormData(settingObj.form_action.form_id, settingObj.form_action.hasTinyMCE);		
		$.ajax({
			url: "<?php echo $this->url( array('module' => 'Hotels','controller' => 'demo', 'action'     => 'demo' ), 'adminrout',    true) ?>",
			  	type: 'POST',
			  	data: formData,
				beforeSend: function(){						
						commonRemoveFormError(settingObj);
						commonOpenLoaderDialog(settingObj);				
					 },
				success: function(response){
					//alert(response);	
					try
					{	
						commonCloseLoaderDialog(settingObj);			
						var json_arr = eval("("+response+")");			
						if(json_arr.status == 'ok')
						{
							$('#actionMessage').html(succMsgDesign(json_arr.msg));						
							commonResetFormFields(settingObj);	
							<?php if($this->auth->getIdentity()->access_file_image_manager != '1'){ ?>
								//uploadSettingsEnd();			
							<?php } ?>							
						}
						else if(json_arr.status == 'errV')
						{
							$('#actionMessage').html(errMsgDesign("<?php echo $this->translator->translator('common_err'); ?>"));
													
							for(var i= 0; i < json_arr.msg.length; i++)
							{
								commonAddFormError(json_arr.msg[i].key,json_arr.msg[i].value);							
							}
							//openFirstErrTab(json_arr.msg, 'tabs', 'tabs-');
						}
						else
						{
							$('#actionMessage').html(errMsgDesign(json_arr.msg));
						}
					}
					catch(error)
					{
						commonCloseLoaderDialog(settingObj);
						var error_arr = 	[error, response];
						var msg = commonErrMsgException(error_arr);				
						$('#actionMessage').html(errMsgDesign(msg));
					}
				},
				error: function(xhr, status, error){
					commonCloseLoaderDialog(settingObj);
					var msg = "Error! " + xhr.status + " " + error;
					$('#actionMessage').html(errMsgDesign(msg));
				}
		});
	});
    });
    </script>



<form name="formItem" id="formItem" method="post">
    <div id="generalInfo">
        <div id="tabs-1">
            <fieldset class="fieldset last">
                <legend class="legend"><?php echo $this->translator->translator('autos_page_address_info'); ?></legend>
                <span class="top-go right-float"><a href="#topGo"><img src="application/modules/Administrator/layouts/scripts/images/tools/top.png" border="0" alt="<?php echo $this->translator->translator('common_go_top_title'); ?>" title="<?php echo $this->translator->translator('common_go_top_title'); ?>" /></a></span>
                <div class="form">
                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->demotestform->demo_title->getLabel(); ?>
                            <?php if ($this->demotestform->demo_title->isRequired()): ?>
                                <span class="required">*</span>
                            <?php endif; ?>
                        </div>

                        <div class="field">
                            <?php echo $this->demotestform->demo_title; ?>
                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->demotestform->demo_title->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            <div class="input-errors" id="power_engine_others_err"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="label">
                            <?php echo $this->demotestform->demo_name->getLabel(); ?>
                            <?php if ($this->demotestform->demo_name->isRequired()): ?>
                                <span class="required">*</span>
                            <?php endif; ?>
                        </div>

                        <div class="field">
                            <?php echo $this->demotestform->demo_name; ?>
                            <div class="ui-widget ui-helper-clearfix info"><div class="ui-widget-header ui-corner-all ui-state-default" title="<?php echo $this->escape($this->demotestform->demo_name->getAttrib('title')); ?>"><p><span class="ui-icon ui-icon-info"></span></p></div></div>
                            <div class="input-errors" id="power_engine_others_err"></div>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>
</form>


<div class="button-container">
    <span class="button ui-widget-content-1"><a href="javascript:  void(0);" class="reset_btn"><span class="icon reset"><?php echo $this->translator->translator('common_reset'); ?></span></a></span>
    <span class="button ui-widget-content-1"><a href="javascript: void(0);" class="add_autos_btn"><span class="icon save"><?php echo $this->translator->translator('common_save'); ?></span></a></span>
</div>