<?php
if($this->last > 1)
{

$frontController = Zend_Controller_Front::getInstance();
$module = $frontController->getRequest()->getModuleName();
$controller = $frontController->getRequest()->getControllerName();
$action = $frontController->getRequest()->getActionName();
$menu_id = $frontController->getRequest()->getParam('menu_id');
$category = $frontController->getRequest()->getParam('category');
$translator = Zend_Registry::get('translator');
$routing_url = ($menu_id) ? $menu_id.'/:page' : 'All-b2b-Seo-Buying-list/*';
?>

<div class="text-center">
	<ul class="pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
        	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category,'page' => $this->previous), $routing_url,true); ?>">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);">&laquo;<?php //echo $translator->translator('pagination_previous'); ?></a></li>
        <?php endif; ?>
        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category,'page' => $page),$routing_url,true); ?>"><?php echo $this->numbers($page); ?></a></li>
            <?php else: ?>
                <li class="active"><span><?php echo $this->numbers($page); ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>
        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
           	<li><a href="<?php echo $this->url(array('module'=>$module,'controller' => $controller,'action' => $action,'menu_id' => $menu_id, 'category' => $category,'page' => $this->next),$routing_url,true); ?>"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php else: ?>
            <li class="disabled"><a href="javascript:void(0);"><?php //echo $translator->translator('pagination_next'); ?>&raquo;</a></li>
        <?php endif; ?>
	</ul>        
</div>
<?php
}
?>