<?php
class hotels_mapView
{
	protected	$_group = 1;
	protected	$_limit = 5;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$hotels_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		$this->_limit = ($this->_global_conf['googlemaps_maxmarker']) ? $this->_global_conf['googlemaps_maxmarker'] : $this->_limit;
				
		$this->hotels_db = new Hotels_Model_DbTable_Hotels();	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');	
		$mem_db = new Members_Model_DbTable_MemberList();
		if(!empty($this->_global_conf['payment_user_id']))
		{
			$mem_info = $mem_db->getMemberInfo($this->_global_conf['payment_user_id']) ;
			$mem_address = $this->_view->escape(strip_tags($mem_info['address']));
		}
		$search_params['sort'][0] = array('field' => 'RAND()', 'dir' => 'exp');		
		$hotels_info = $this->hotels_db->getListInfo('1', $search_params,  array('hotels_page' => array( 'hotels_name', 'hotels_title', 'hotels_address', 'hotels_primary_image', 'hotels_building_no', 'hotels_building_name', 'location_for_search' ), 'dataLimit' => $this->_limit,'userChecking' => false)); 
		$hotels_info_array = ($hotels_info) ? $hotels_info->toArray() : array();
		
?>
<style>
     #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }	 
    </style>
<?php 	
	if ($this->_global_conf['googlemaps_api_key']) :
		echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?key='.$this->_global_conf['googlemaps_api_key'].'&v=3.exp&sensor=false');
	 else  :
	 	echo $this->_view->headScript()->setFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false');
	 endif; 
?>


<script>
	// This example adds a marker to indicate the position 
	var mapSettingObj = {
							googleMap : {
										canvas_id			: 'map-canvas',
										address_id			: 'address',
										scrollwheel			: false,
										propertyAddress		: true,
										propertyAddressField:	['hotels_building_no', 'hotels_building_name', 'location_for_search', 'city', 'state_name', 'country_name'],
										pin_img_url 		: '<?php echo $this->_global_conf['googlemaps_pin_logo'];?>',
										loader_id			: 'map_loader',
										loader_img_url		: 'application/layouts/scripts/<?php echo $this->_front_template['theme_folder']; ?>/images/loader/search-loader.gif',
										loader_language		: "<?php echo $translator->translator("partial_quick_contact_loader"); ?>",
										allAddresses 		: <?php echo Zend_Json_Encoder::encode($hotels_info_array); ?>,
										initializeOptions : {
																zoom: <?php echo $this->_global_conf['googlemaps_zoom'];?>,
																mapTypeId: google.maps.MapTypeId.<?php echo $this->_global_conf['googlemaps_maptypes'];?>,
																center: new google.maps.LatLng(<?php echo $this->_global_conf['googlemaps_latitude'];?>, <?php echo $this->_global_conf['googlemaps_longitude'];?>),
																zoomControlOptions: {
																				style : google.maps.ZoomControlStyle.SMALL	
																}
										},
										pin_template: function(address,lat,lng, obj_arr){
														  var html = "<div class='desc-container'>" 
																		  +"<div class='block-title'> " + obj_arr.hotels_name + "</div>" 
																		  +'<a href="Hotels-details/' + obj_arr.hotels_title + '" class="preview" link="data/frontImages/hotels/hotels_image/'+obj_arr.hotels_primary_image+'" title="'+obj_arr.hotels_name+'"><img src="data/frontImages/hotels/hotels_image/'+obj_arr.hotels_primary_image+'" height="80" class="thumb"/></a>'
																		  + "Address: "+obj_arr.hotels_address+"<br/>"
																		  + "<a href='Hotels-details/" + obj_arr.hotels_title + "' class='details'><?php echo $translator->translator("common_click_here_language"); ?></a> <br/>"
																		  + "<br/> <br/><span class='add'>" + address + "</span><br/>" 
																		  + "</div>";
														  return html;
													  },
										title_template: function(address,lat,lng, obj_arr){
															var html = obj_arr.hotels_name + " ( " + obj_arr.hotels_address + " ) ";
															return html;
														}
								}
	};  
  
  	runGoogleMap(mapSettingObj);
</script>
<div class="block block-map">
	<div class="panel panel-default">
    	<div class="panel-heading">
        	<h3><span class="glyphicon glyphicon-map-marker"></span> <?php echo $translator->translator('block_map_view_title','','', $this->_front_template['theme_folder']); ?>&nbsp;&nbsp;<span id="map_loader"></span></h3>
        </div>
        <div class="panel-body">
        	<div style="height:400px;">
            	<div id="map-canvas"></div>
          	</div>
            <br>
    		<div class="form-group text-center">      
            	<input id="address" type="textbox" value="<?php echo $mem_address; ?>" class="form-control">
            	<input type="button" value="<?php echo $translator->translator('common_google_map_near_by_btn'); ?>" onClick="nearByAddress(mapSettingObj)" class="btn">
    			<input type="button" value="<?php echo $translator->translator('common_google_map_street_view_btn'); ?>" onClick="streetView(mapSettingObj)" class="btn">
          	</div>
     	</div>
    </div>
</div>
<?php
	}
}
try
{
	$hotels_mapView_class = new hotels_mapView($this);
	$hotels_mapView_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>