<?php
$front_template = Zend_Registry::get('front_template');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-carousel.css');
echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/resp-theme.css');
echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/resp-carousel.min.js');


class hotels_top_destination
{
	protected	$_group = 1;
	protected	$_limit = 5;
	protected	$_DBconn;
	protected	$_front_template;
	protected	$_global_conf;
	protected	$_view;
	protected	$area_db;
	protected 	$group_datas;
	
	public function __construct($view) 
	{
		$this->_front_template = Zend_Registry::get('front_template'); 
		$this->_global_conf 		= Zend_Registry::get('global_conf');
		$this->_view =	$view;
		//DB Connection
		$this->_DBconn = Zend_Registry::get('msqli_connection');
		$this->_DBconn->getConnection();
		
		$this->area_db = new Hotels_Model_DbTable_Area();	
		$group_db =  new Hotels_Model_DbTable_HotelsGroup();
		$this->group_datas = $group_db->getGroupName($this->_group);	
	}
	
	public function truncate($phrase,$start_words, $max_words)
	{
	   $phrase_array = explode(' ',$phrase);
	   if(count($phrase_array) > $max_words && $max_words > 0)
		  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  
	   return $phrase;
	}
	
	public function class_body()
	{
		$translator = Zend_Registry::get('translator');			
		
		
		$selectTD = $this->_DBconn->select()
						->from(array('cut' => Zend_Registry::get('dbPrefix').'countries'), array('cut.*','(SELECT hps.hotels_primary_image FROM '.Zend_Registry::get('dbPrefix').'hotels_page as hps WHERE hps.country_id = cut.id AND hps.active = "1" ORDER BY RAND() LIMIT 1) AS primary_image'))					   	
						->joinLeft(array('hp' => Zend_Registry::get('dbPrefix').'hotels_page'), 'hp.country_id = cut.id', array('hotel_num' => 'COUNT(hp.id)'))
					   	->group('cut.id')
						->where('hp.active = ?', '1')
					   	->limit($this->_limit)
						->order(new Zend_Db_Expr("RAND()"));
		
		$info =  $selectTD->query()->fetchAll();
?>

<style>
#owl-demo .item{
	margin: 3px;
}

#owl-demo .item a > img{
	display: inline-block;
	/*width: 100%;*/
	height:180px;
	margin-bottom:15px;
}
</style>

<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 4000,
		stopOnHover: true,
		autoHeight: false,
        items : 1,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>
        
<div class="block block-top-destinations">
	<div class="block-body">
        <h3><?php echo $translator->translator('block_top_destinations_title','','', $this->_front_template['theme_folder']); ?></h3>
        <div id="owl-demo">
            <?php
            if($info)
            {
                foreach($info as $key => $entry)
                {
            ?>
                <figure class="clearfix">
                	<div class="text-center">
                        <div class="thumb">
                            <div class="item">
                                <a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>"><img src="data/frontImages/hotels/hotels_image/<?php echo $entry['primary_image']; ?>" class="img-responsive"></a>
                                
                                <div class="text-center">
                                    <img src="data/adminImages/flagsImage/<?php echo $entry['code']; ?>.gif" class="flag">
                                    <a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>" class="btn btn-primary"><?php echo $this->_view->escape($entry['value']); ?></a>
                                    <a href="<?php echo $this->_view->url(array('module' => 'Hotels','controller' =>'frontendbiz', 'action' => 'category','country' => $this->_view->escape($entry['id']) ),'Biz-Hotel-Category-List/*',true); ?>" class="btn btn-success"><?php echo $this->_view->numbers($entry['hotel_num']); ?> <?php echo $translator->translator('block_top_destinations_hotel','','', $this->_front_template['theme_folder']); ?></a>
                                </div>
                            </div>
                        </div>
                   	</div>
                </figure>
            <?php
                }
            }
            ?>
        </div>
    </div>
</div>
<?php			
	}
}

try
{
	$hotels_top_destination_class = new hotels_top_destination($this);
	$hotels_top_destination_class->class_body();
}
catch(Exception $e)
{
	echo $e->getMessage();
}
?>
