<?php

if(!empty($this->group_datas['meta_keywords'])) { $this->headMeta()->setName('keywords',$this->group_datas['meta_keywords']);}

if(!empty($this->group_datas['meta_desc'])) { $this->headMeta()->setName('description',$this->group_datas['meta_desc']); }

if(!empty($this->group_datas['tours_name'])) { $this->headTitle()->headTitle($this->group_datas['tours_name'],'SET')->setSeparator(' - ')->headTitle($this->group_datas['meta_title']); }



echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');

echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');

echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');

$version = Zend_Registry::get('version'); 
$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');

$group_db = new Tours_Model_DbTable_ToursGroup();

$business_type_db = new Tours_Model_DbTable_BusinessType();

$cat_Info = new Tours_Model_DbTable_Category();

$mem_db = new Members_Model_DbTable_MemberList();

$state_db = new Tours_Model_DbTable_State();

$area_db = new Tours_Model_DbTable_Area();

$country_db = new Tours_Model_DbTable_Country();

$tours_db = new Tours_Model_DbTable_Tours();

$review_helper = new Review_View_Helper_Review();

$word_separator = ' / ';

$maximum_rating_digit = $this->translator->translator('maximum_rating_digit');

// 1ist param options are : like, inline, plus_minus, horizontal, triangle

$vote = new Vote_Controller_Helper_ShowVoteButton('inline','tours_page' );

function tours_truncate($phrase,$start_words, $max_words)
{

   $phrase_array = explode(' ',$phrase);

   if(count($phrase_array) > $max_words && $max_words > 0)

	  $phrase = implode(' ',array_slice($phrase_array, $start_words, $max_words)).'...';  

   return $phrase;
}

?>
<script type="text/javascript">

$(function() {
	$( "#tours_operator" ).combobox();		
	autoSuggestion('tours_name', "<?php echo $this->url( array('module'=> 'Tours', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'tours_name': ''}, ['tours_primary_image', 'tours_image', 'tours_name', 'tours_name', 'post_code', 'owner_name', 'num_of_days','tours_postcode' ,'ending_city', 'tours_location'], 'data/frontImages/tours/tours_image', 2);	
	autoSuggestion('post_code', "<?php echo $this->url( array('module'=> 'Tours', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['tours_primary_image', 'tours_image', 'tours_name', 'post_code', 'owner_name', 'num_of_days','tours_postcode' ,'ending_city', 'tours_location'], 'data/frontImages/tours/tours_image', 2);	
	autoSuggestion('tours_price', "<?php echo $this->url( array('module'=> 'Tours', 'controller' => 'frontend', 'action'     => 'searchname' ), 'adminrout',    true) ?>", {'post_code': ''}, ['tours_primary_image', 'tours_image', 'tours_name', 'price', 'owner_name', 'num_of_days','tours_postcode', 'tours_price', 'ending_city', 'tours_location'], 'data/frontImages/tours/tours_image', 2);
})

$(document).ready(function() {



		calender('time_date');

		text_truncate();

		/****************************Sorting Table Start*********************/

		var oTable = $("#sortTable").dataTable({

					"bPaginate": true,

					"aLengthMenu" : [ 10, 25, 50, 100 ],

					"sPaginationType": "full_numbers",

					"bDestroy":true,

					"bLengthChange": true,

					"bSearchable": true,

					"bFilter": false,

					"bSort": false,

					"bInfo": false,

					"bAutoWidth": true,

					"bProcessing": false,

					"bSortClasses": true,

					"bStateSave": false,

					"bServerSide": false,

					"aaSorting": [[ 0, "asc" ]],				

					"aoColumnDefs": [ 

						{ "bSortable": false, "bSortClasses": false,  "aTargets": [ 0 ] }

					],

					"oLanguage" : { "sSearch": "<?php echo $this->translator->translator('jquery_filter'); ?>" }

				});			

				

		/****************************Sorting Table End*********************/


		$('#country_id_H').change(function() {	

			if($('#country_id_H option:selected').val() == 'any' || $('#country_id_H option:selected').val() =='')

			{

				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');	

				$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>');

			}

			else

			{	

				$.ajax({

					  url: "<?php echo $this->url( array('module' =>'Tours','controller' => 'frontend', 'action'     => 'states' ), 'adminrout',    true) ?>",

					  type: 'POST',

					  data: { id: $('#country_id_H option:selected').val() },

					  beforeSend: function(){						

								$('#state_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');

								$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');			

								$('#state_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	

							 },

					  success: function(response){

						//alert(response);

						var json_arr = eval("("+response+")");

						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_state"); ?></option>';				

						if(json_arr.status == 'ok')

						{

							for(var i = 0;i<json_arr.states.length;i++)

							{

								option += '<option value="'+json_arr.states[i].state_id+'" >'+stripslashes(json_arr.states[i].state_name)+'</option>';

							}

							$('#state_id_H').html(option);

						}

						else

						{

							$('#state_id_H').html('<option value="any">'+json_arr.msg+'</option>');

						}

						$('#state_id_err').html('');

					  }

				});

			}

		});

		

		$('#state_id_H').change(function() {		

					

			if($('#state_id_H option:selected').val() == 'any' || $('#state_id_H option:selected').val() == '')

			{

				$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>');

			}

			else

			{

				$.ajax({

					  url: "<?php echo $this->url( array('module' => 'Tours', 'controller' => 'frontend', 'action'     => 'areas' ), 'adminrout',    true) ?>",

					  type: 'POST',

					  data: { id: $('#state_id_H option:selected').val() },

					  beforeSend: function(){						

							$('#area_id_H').html('<option value="any"><?php echo $this->translator->translator("common_loading_language"); ?></option>');

							$('#area_id_err').html('<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/mod-loader.gif" width="15" border="0" />');	

							},

					  success: function(response){

						//alert(response);

						var json_arr = eval("("+response+")");

						var option = '<option value="any"><?php echo $this->translator->translator("tours_select_area"); ?></option>';				

						if(json_arr.status == 'ok')

						{

							for(var i = 0;i<json_arr.cities.length;i++)

							{

								option += '<option value="'+json_arr.cities[i].city_id+'" >'+stripslashes(json_arr.cities[i].city)+'</option>';

							}

							$('#area_id_H').html(option);

						}

						else

						{

							$('#area_id_H').html('<option value="any">'+json_arr.msg+'</option>');

						}

						$('#area_id_err').html('');

					  }

				});

			}

		});	

			

		$('input.search_btn').click(function(){

			var self = this;

			$('#formSearch').submit();

		});

});

function text_truncate()

{

	$('span.jTruncate').jTruncate({  

		length:  70,  

		minTrail: 0,  

		moreText: "[<?php echo html_entity_decode($this->translator->translator('common_see_all'), ENT_QUOTES, "UTF-8"); ?>]",  

		lessText: "[<?php echo html_entity_decode($this->translator->translator('common_hide'), ENT_QUOTES, "UTF-8"); ?>]",  

		ellipsisText: "",  

		moreAni: "fast",  

		lessAni: 2000  

	});

}

function stripslashes(str) 

{

	str=str.replace(/\\'/g,'\'');

	str=str.replace(/\\"/g,'"');

	str=str.replace(/\\0/g,'\0');

	str=str.replace(/\\\\/g,'\\');

	return str;

}



function calender(id)

{

	$("#"+id).datepicker({

		showOn: 'button',

		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_tour_img/calendar.png',

		buttonImageOnly: true,

		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,

		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,

		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,

		showAnim: 'slide',

		buttonText: 'Calender',

		dateFormat:'yy-mm-dd',

		autoSize:false,

		showButtonPanel:false,

		changeMonth: true,

		changeYear: true

	});

	$("img[class='ui-datepicker-trigger']").each(function(){ 

			$(this).attr('style', '');

		 });
}
</script>

<?php 
$allow_obj = new Tours_View_Helper_Allow();

if (!$allow_obj->allowRule('items',null,null,$this->group_datas['role_id'])) : ?>
	<?php echo $this->translator->translator('Member_Access_deny_desc'); ?>
<?php else : 

?>

<div class="mod">
	<div class="search-icon">
        <h1><?php echo $this->translator->translator('tours_front_page_advanced_search'); ?></h1>
    </div>   
    
    <div class="social">
      	<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e89660c7edb029a"></script>
    	<!-- AddThis Button END -->
    </div>

	<div class="clear"></div>
    
	<div class="mod-container mod-advance-search">
		<form id="formSearch" name="formSearch" method="post" action="<?php echo $this->url( array('module' => 'Tours', 'controller' => 'search', 'action'     => 'items' ), 'Tours-Search',    true) ?>">
        	<div class="col clear">
				<p><?php echo $this->translator->translator('tours_list_page_search_name'); ?></p>
                <input type="text" name="tours_name_LIKE" id="tours_name" value="<?php if($this->postValue['tours_name_LIKE']){ echo $this->postValue['tours_name_LIKE']; }else{ echo $this->translator->translator("common_any_language"); } ?>" size="50"/>
			</div>
            
            <div class="col">
            	<p><?php echo $this->translator->translator('tours_type_list_group_name'). ' :'; ?></p>
                <select name="group_id_=" id="group_id">
			  	<?php
        			$group_list = $group_db->getGroupInfo();
            		foreach($group_list as $key => $value)
					{
						$selected = ($this->postValue['group_id_='] == $key) ? 'selected=""selected' : '';
					?>
						<option value="<?php echo $key; ?>" <?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
				 <?php	
               	 	}
    
            	 ?>
            	</select>    
            </div>
            
            <div class="col">
            	<p><?php echo $this->translator->translator('tours_list_page_search_price'); ?></p>
                <input type="text"  name="tours_price_=" id="tours_price" value="<?php if($this->postValue['tours_price_=']){ echo $this->postValue['tours_price_=']; }else{ echo $this->translator->translator("common_any_language"); } ?>" class="small"/>
               	<?php echo $this->currency->getSymbol(); ?>
                
                <input type="hidden" name="active_=" id="active" value="1" />
            </div>
            
            <div class="col clear">
            	<p><?php echo $this->translator->translator('tours_list_page_search_pro_type'); ?></p>
                <?php
					$type_info = $business_type_db->getOptions($this->group_datas['id']);
				?>
                <select name="tours_type_=" id="tours_type" class="small">
                  	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                  	<?php
                	foreach($type_info as $info)
                	{
                    $selected = ($this->postValue['tours_type_='] == $info['id']) ? ' selected="selected" ' : '';
            		?>
                  	<option value="<?php echo $info['id']; ?>"<?php echo $selected; ?>><?php echo $this->escape($info['business_type']); ?></option>
                  	<?php
                	}
            		?>
                </select>
            </div>
            
            <div class="col">
            	<p><?php echo $this->translator->translator('tours_list_page_search_category'); ?></p>
				<?php
					$cat_data = $cat_Info->getOptions($this->group_datas['id']);
				?>
				
                <select name="category_id_=" id="category_id">
                  	<option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                  	<?php
					foreach($cat_data as $info)
					{
					$selected = ($this->postValue['category_id_='] == $info['id']) ? ' selected="selected" ' : '';
					?>
					<option value="<?php echo $info['id']; ?>"<?php echo $selected; ?>><?php echo $this->escape($info['category_name']); ?></option>
					  <?php
					}
					?>
				</select>
            </div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_list_page_search_price_min'); ?></p>
                    
				<?php
                    $min_price_arr = $tours_db->getPrice('ASC');
                ?>
                <select name="tours_price_>=" id="tours_price_>=" class="small">
                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                    <?php
                        foreach($min_price_arr as $key=>$value)
                        {
                            if(!empty($value['tours_price']))
                            {
                            $selected = ($this->postValue['tours_price_>='] == $this->price($value['tours_price'])) ? ' selected="selected" ' : '';								
                     ?>
                  <option value="<?php echo $this->price($value['tours_price']); ?>"<?php echo $selected; ?>><?php echo $this->price($this->escape($value['tours_price'])).' '.$this->currency->getSymbol(); ?></option>
                    <?php
                            }
                        }
                    ?>
                </select>
            </div>
            
          	<div class="col">
				<p><?php echo $this->translator->translator('tours_list_page_search_price_max'); ?></p>
                
				<?php
                    $max_price_arr = $tours_db->getPrice('DESC');
                ?>
                <select name="tours_price_<=" id="tours_price" class="small">
                  <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                  <?php
                    foreach($max_price_arr as $key=>$value)
                    {
                        if(!empty($value['tours_price']))
                        {
                            $selected = ($this->postValue['tours_price_<='] == $this->price($value['tours_price'])) ? ' selected="selected" ' : '';
                    ?>
                          <option value="<?php echo $this->price($value['tours_price']); ?>"<?php echo $selected; ?>><?php echo $this->price($this->escape($value['tours_price'])).' '.$this->currency->getSymbol(); ?></option>
                          <?php
                            }
                        }
                    ?>
                </select>	
          	</div>
            
            <div class="col clear">
           		<p><?php echo $this->translator->translator('tours_list_page_search_postcode'); ?></p>
				<input type="text" name="post_code_=" id="post_code" value="<?php if($this->postValue['post_code_=']){ echo $this->postValue['post_code_=']; }else{ echo $this->translator->translator("common_any_language"); } ?>" class="small"/>
            </div>
            
            <div class="col">
            	<p><?php echo $this->translator->translator('tours_list_page_search_country'); ?></p>
                
                <?php						
					$country_data = $country_db->getCountryInfo();
					$selected_country_id = (empty($this->postValue['country_id_=']) || empty($this->postValue)) ? $global_conf['default_country'] : $this->postValue['country_id_='];
				?>
                <select name="country_id_=" id="country_id_H" class="country_id country">
                  <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                  <?php
	            	foreach($country_data as $key=>$value)
            		{
                	$selected = ($selected_country_id == $key) ? ' selected="selected" ' : '';
        			?>
                  	<option value="<?php echo $key; ?>"<?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
                  	<?php
            		}
        			?>
              	</select>
            </div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_list_page_search_state'); ?></p>
				<select name="state_id_=" id="state_id_H" class="state_id state">
              	<option value="any"><?php echo $this->translator->translator('tours_select_state'); ?></option>
              	<?php
					$state_info = $state_db->getAllStateInfo($selected_country_id);			
					foreach($state_info as $key=>$value)
					{
            		$selected = ($value['state_id'] == $this->postValue['state_id_=']) ? ' selected="selected" ' : '';

            		echo '<option value="'.$this->escape($value['state_id']).'"'.$selected.'>'.$this->escape($value['state_name']).'</option>';
        			}
      			?>
            	</select>
                <span id="state_id_err"></span>
            </div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_list_page_search_area'); ?></p>
				<select name="area_id_=" id="area_id_H" class="area_id area">
                  <option value="any"><?php echo $this->translator->translator('tours_select_area'); ?></option>
                </select>
                <span id="area_id_err"></span>
            </div>
           
           	<div class="col clear">
           		<p><?php echo $this->translator->translator('tours_list_page_search_operator'); ?></p>
				<?php
					$mem_data = $mem_db->getAllMembers();
				?>
				<span class="ui-widget">
                    <select name="tours_operator_=" id="tours_operator" class="">
                    <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
                      <?php
                		foreach($mem_data as $key=>$value)
                		{
                    	$selected = ($this->postValue['tours_operator_='] == $key) ? ' selected="selected" ' : '';
            			?>
                      	<option value="<?php echo $key; ?>"<?php echo $selected; ?>><?php echo $this->escape($value); ?></option>
                      	<?php
                		}
            			?>
                  	</select>
              	</span>
            </div>
            
            <div class="col">
            	<p><?php echo $this->translator->translator('tours_block_advanced_search_label_duration'); ?></p>
                <select name="duration_=" id="duration_=" class="medium">
                <option value=""><?php echo $this->translator->translator('tours_block_advanced_search_label_duration','','Tours'); ?></option>
                  <?php
                	$duration= $tours_db->getDuration();
                	foreach($duration as $key=>$value)
                	{
                    if(!empty($value['duration']))
                    	{
                    $selected = ($this->postValue['duration_='] == $value['duration']) ? ' selected="selected" ' : '';
            		?>
                  	<option value="<?php echo $value['duration']; ?>"<?php echo $selected; ?>><?php echo $value['duration']; ?></option>
                	<?php
                    	}
					}
					?>
                </select>
            </div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_block_advanced_search_label_start_city'); ?></p>
				<select name="starting_city_=" id="starting_city_=" class="medium">
              	<option value=""><?php echo $this->translator->translator('tours_block_advanced_search_label_start_city','','Tours'); ?></option>
              	<?php
                $startCity = $tours_db->getStartCity();
                foreach($startCity as $key=>$value)
                {
                    if(!empty($value['starting_city']))
                    {
                    $selected = ($this->postValue['starting_city_='] == $value['starting_city']) ? ' selected="selected" ' : '';
            	?>
              	<option value="<?php echo $value['starting_city']; ?>"<?php echo $selected; ?>><?php echo $value['starting_city']; ?></option>
              	<?php
                    }
                }
				?>
				</select>
     		</div>
            
            <div class="col clear">
           		<p><?php echo $this->translator->translator('tours_block_advanced_search_label_tour_code'); ?></p>
				<?php
				$tours_code = $tours_db->getToursCode();
				?>
				<span class="ui-widget">
					<select name="tours_code_=" id="tours_code" class="medium">
					  <option value="any"><?php echo $this->translator->translator('common_any_language'); ?></option>
					  	<?php						
						foreach($tours_code as $key=>$value)
						{
						$selected = ($this->postValue['tours_code_='] == $value['tours_code']) ? ' selected="selected" ' : '';
						?>
					  	<option value="<?php echo $value['tours_code']; ?>"<?php echo $selected; ?>><?php echo $this->escape($value['tours_code']); ?></option>
					  	<?php
						}
						?>
					</select>
          		</span>
            </div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_block_advanced_search_label_nights_max'); ?></p>
                <select name="num_of_nights_=" id="num_of_nights_=" class="medium">
                      <option value=""><?php echo $this->translator->translator('tours_block_advanced_search_label_nights_max','','Tours'); ?></option>
                      <?php
                    	$number_of_nights_max = $tours_db->getNights('DESC');
                  		foreach($number_of_nights_max as $key=>$value)
                    	{
                        if(!empty($value['num_of_nights']))
                        	{
                        $selected = ($this->postValue['num_of_nights_='] == $value['num_of_nights']) ? ' selected="selected" ' : '';
                		?>
                      	<option value="<?php echo $value['num_of_nights']; ?>"<?php echo $selected; ?>><?php echo $value['num_of_nights']; ?></option>
                      	<?php
                        	}
                    	}
                		?>
             	</select>
          	</div>
            
            <div class="col">
           		<p><?php echo $this->translator->translator('tours_block_advanced_search_label_nights_min'); ?></p>
                <select name="num_of_nights_=" id="num_of_nights_=" class="medium">
              	<option value=""><?php echo $this->translator->translator('tours_block_advanced_search_label_nights_min','','Tours'); ?></option>
              	<?php
                	$number_of_nights_min = $tours_db->getNights('ASC');
					foreach($number_of_nights_min as $key=>$value)
                	{
                    if(!empty($value['num_of_nights']))
                    	{
                    $selected = ($this->postValue['num_of_nights_='] == $value['num_of_nights']) ? ' selected="selected" ' : '';
            		?>
              		<option value="<?php echo $value['num_of_nights']; ?>"<?php echo $selected; ?>><?php echo $value['num_of_nights']; ?></option>
              		<?php
                    	}
                }

            	?>
            	</select>
       		</div>
            
            <div class="clear btn-container">
           		<input type="button" name="Submit" class="search_btn" value="<?php echo $this->translator->translator('tours_front_page_search_button'); ?>" />
          	</div>            	
        </form>
    </div>
    <?php
  	if($this->errorMessage)
  		{
  	?>
    	<?php if($this->errorMessage){	echo '<div class="infoMess">'.$this->errorMessage.'&nbsp;</div>';	} ?>
    <?php
  		}
  	if($this->view_datas)
  		{
  	?>
      	<table id="sortTable" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
          <tbody>
            <?php
				foreach($this->view_datas as $entry)
				{	
					$tours_image_val_arr = explode(',',$entry['tours_image']);
					$tours_image_no = count($tours_image_val_arr);
					if($this->escape($entry['traveler_photos']))
					{ 
						$thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($entry['traveler_photos']); 
					}
					else
					{ 
						if($this->escape($entry['tours_image']))
						{
							$thumb_image = 'data/frontImages/tours/tours_image/'.$this->escape($tours_image_val_arr[0]); 
						}
						else
						{
							$thumb_image = 'application/layouts/scripts/'.$front_template['theme_folder'].'/images/mod_tour_img/no_image.png'; 
						}		
					}
					if($this->group_datas['file_thumb_width'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToWidth' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
					{ 
						$width = 'width="'.$this->escape($this->group_datas['file_thumb_width']).'"'; 
					}
					else
					{
						$width = '';
					} 
					if($this->group_datas['file_thumb_height'] && ($this->group_datas['file_thumb_resize_func'] == 'resizeToHeight' || $this->group_datas['file_thumb_resize_func'] == 'resize'))
					{ 
					$height = 'height="'.$this->escape($this->group_datas['file_thumb_height']).'"'; 
					} 
					else
					{
						$height = '';
					}

					$featured_class = ($entry['featured'] == '1') ? 'products-featured' : '';
					?>
            <tr>
              <td>
              		<div class="products-list">
                    	<!-- list Header Start -->
                        <div class="list-header">
                        	<div class="header-row">
                            	<div class="header-left">
                                    <span class="title-small"><?php echo tours_truncate($this->escape($entry['tours_name']), 0, 7); ?></span><br />
                                    <span class="info">
                                        <?php echo $this->translator->translator('tours_page_list_page_tour_duration'); ?> <?php echo $entry ['duration']; ?>&nbsp; &nbsp;<?php echo $this->translator->translator('tours_page_list_page_tour_days'); ?> <?php echo $entry ['num_of_days']; ?> <?php echo $word_separator . $this->translator->translator('tours_page_list_page_tour_nights'); ?> <?php echo $entry ['num_of_nights']  ?>
                                    </span>  
                                </div>
                            
                                <div class="header-middle">
                                    <span class="products-mark"><?php $business_type_info = $business_type_db->getBusinessTypeInfo($entry['tours_type']); echo $this->translator->translator('tours_front_page_tours_type'); ?></span>&nbsp;<span class="products-type"><?php echo $this->escape($business_type_info['business_type']); ?></span>
                                </div>
                            
                            	<div class="header-right">                                                
									<?php 
                                        if(!empty($this->group_datas['review_id'])){ 
                                        $review_no = $review_helper->getNumOfReviews($entry['id'], $this->escape($this->group_datas['review_id']));
                                    ?><span class="products-write-review"><a href="<?php echo $this->url( array('module' => 'Review','controller' => 'frontend', 'action'     => 'write', 'group_id' => $this->escape($this->group_datas['review_id']), Eicra_File_Constants::ITEM_ID => $entry['id'] ), 'Review-Write/:group_id/:item_id',    true); ?>"><?php echo $this->translator->translator('common_write_review'); ?></a></span> &nbsp; <span class="products-review-count"><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 7 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('common_review_no',htmlentities($review_no)); ?></a></span> <?php } ?>
                                </div>
                           	</div>
                        </div>
                        <!-- list Header End -->
                        
                        <!-- list Body Start --> 
                        <div class="body-container <?php echo $featured_class; ?>">
                                 <div class="left-content"> 
                                        <div class="img-wrapper">
                                        <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="<?php echo $thumb_image; ?>" title="<?php echo $this->escape($entry['tours_name']); ?>" width="500"> <img src="<?php echo $thumb_image; ?>" <?php echo $width; ?> <?php echo $height; ?> border="0" class="thumb" /></a>
                                            <div class="photo-count-container">
                                                <div class="photo-count">
                                                    <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 1 ),'Tours-details/:tours_title/:tab',true); ?>" title="<?php echo $this->translator->translator('tours_front_page_tours_click_view_listing'); ?>"><?php echo $this->translator->translator('tours_front_page_tours_photo_no',$tours_image_no); ?></a>
                                                </div>
                                            </div>                                            
                                        </div>
                                        
                                        <h2>
                                            <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>" class="preview" link="" title="<?php echo $this->escape($entry['tours_name']); ?>"><?php echo tours_truncate($this->escape($entry['tours_name']), 0, 5); ?></a>
                                        </h2>
                                        
                                        <div class="products-stars">
                                         
                                         <?php
                                            $hotel_rating = (int) $entry['rating'];                                 
                                            for($i = 1; $i < $maximum_rating_digit ; $i++)
                                            {
                                                $print_rating = ($i <= $hotel_rating )  ? "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_tour_img/star-active.png' border='0' />" : "<img src='application/layouts/scripts/".$front_template['theme_folder']."/images/mod_tour_img/star-inactive.png' border='0' />";
                                                echo $print_rating.'&nbsp;';
                                            }
                                        ?> 
                                        </div>
                                        
                                        <div class="products-desc">
                                            <p><?php echo $this->translator->translator('tours_front_page_tours_location'); ?></p> <?php $states = $state_db->getStateInfo($entry['state_id']); $areas = $area_db->getAreaInfo($entry['area_id']); echo $this->escape($areas['city']).', '.$this->escape($states['state_name']).', '.$this->escape($entry['post_code']).'.'; ?><br />
                                            <p><?php echo $this->translator->translator('tours_front_page_tours_country'); ?></p> <?php $countries = $country_db->getCountryName($entry['country_id']); echo $this->escape($countries['value']); ?><br />
                                            <p><?php echo $this->translator->translator('tours_front_page_tours_desc'); ?></p> <span class="jTruncate"><?php echo $this->escape(strip_tags($entry['tours_desc'])); ?></span><br />
                                        </div>
                                 </div>
                                 
                                 <div class="right-content">
                                    <span class="products-price"><?php  if(!empty($entry['tours_price'])){ echo $this->currency->getSymbol().''.$this->price($this->escape($entry['tours_price'])); } ?></span>
                                    <ul class="products-options">	
                                        <?php 
                                            $feature_facilities_arr = explode(',', $entry['inclusions']); 
                                            if (in_array ('Complimentary Breakfast' , $feature_facilities_arr)){
                                        ?>	
                                        <li class="breakfast"><?php echo $this->translator->translator('tours_front_page_list_allow_breakfast'); ?></li>
                                        <?php }?>
                                        
                                        <?php 
                                            if (in_array ('Cab Facilities' , $feature_facilities_arr)){
                                        ?>	
                                        
                                        <li class="cab"><?php echo $this->translator->translator('tours_front_page_list_cab_availability'); ?></li>
    
                                        <?php }
                                               if (in_array ('Guides / Assistance' , $feature_facilities_arr)){
                                        ?>
                                        
                                        <li class="guide"><?php echo $this->translator->translator('tours_front_page_list_assist_allow'); ?></li>
    
                                        <?php
                                            }
                                               
                                            if (in_array ('Snacks / Drinks' , $feature_facilities_arr)){
                                        ?>
                                        
                                        <li class="snacks"><?php echo $this->translator->translator('tours_front_page_list_hot_snacks_availability'); ?></li>
                                        <?php } ?>
                                    </ul> 
                                    
                                    <div class="products-vote">
                                        <p><?php echo $this->translator->translator('tours_front_page_label_voting'); ?></p>
                                        <span><?php  $vote->showButton($entry['id'] , $this->escape($entry['tours_name'])); ?></span>
                                    </div>                             
                                 </div>
                        </div>
                        <!-- list Body End -->
                        
                        <!-- list footer start -->
                        <div class="list-footer">
                            <div class="footer-left">
                                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 0 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('tours_front_page_tours_view_details'); ?></a> | 
                                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 5 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('tours_front_page_itinerary'); ?></a>  | 
                                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 1 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('tours_front_page_tours_photo'); ?></a> |
                                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 6 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo ucfirst(strtolower($this->translator->translator('tours_front_page_Title_payment_process'))); ?></a>  | 
                                <a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']),'tab' => 3 ),'Tours-details/:tours_title/:tab',true); ?>"><?php echo $this->translator->translator('tours_front_page_tours_facilities_features'); ?></a>
                            </div>
                        
                            <div class="footer-right">
                            	<span class="products-save-btn"><a  href="javascript:void(0);" class="save_tours_btn" rel="#= id #"> <?php echo html_entity_decode($this->translator->translator("tours_front_page_save_tours"), ENT_QUOTES, "UTF-8"); ?></a></span>&nbsp;
                            	<?php
								if($global_conf['payment_system'] == 'On'){
								?> 
                                <span class="products-book-btn"><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'book', 'action' => 'booking','tours_title' => $this->escape($entry['tours_title']) ),'Book-Tours/:tours_title',true); ?>"><?php echo $this->translator->translator('tours_front_page_tours_book'); ?></a></span>
                                <?php } ?>
                                <span class="products-details-btn"><a href="<?php echo $this->url(array('module' => 'Tours','controller' =>'frontend', 'action' => 'details','tours_title' => $this->escape($entry['tours_title']) ),'Tours-details/:tours_title',true); ?>"><?php echo $this->translator->translator('tours_front_page_tours_more'); ?></a></span>
                            </div>
                        </div>
                        <!-- list footer end -->
                    </div>
                </td>
            </tr>
            <?php
				}
			  ?>
          </tbody>
        </table>
    <?php
  	}	
  ?>
</div>
<?php endif; ?>