<?php
$version = new Eicra_License_Version();

$this->headTitle()->headTitle($this->translator->translator('tracking_network_frontpage_title'),'SET');
$this->headMeta()->setName('description',$this->translator->translator('tracker_network_meta_keywords'));
$this->headTitle()->headTitle($this->translator->translator('tracker_tracking_network_description'),'SET');

$lang = $this->translator->getLangFile();
$lang = explode('_',$lang);
echo $this->headScript()->setFile("http://maps.google.com/maps/api/js?sensor=false&language=".$lang[0]);
?>
<script type="text/javascript">
$(document).ready(function() {		
	
	function stripslashes_big_network(str) 
	{
		str=str.replace(/\\'/g,'\'');
		str=str.replace(/\\"/g,'"');
		str=str.replace(/\\0/g,'\0');
		str=str.replace(/\\\\/g,'\\');
		return str;
	}
	var canvas = $('#map_canvas_big')[0];			
	var map = new google.maps.Map(canvas, {
								zoom: 2,
								center: new google.maps.LatLng(22.2,28.083), // for centering the map
								mapTypeId: google.maps.MapTypeId.TERRAIN
							});	
	var ev = '<?php echo $this->res_value; ?>';
	ev = ev.split(';;;');
	var ev2;
	var infowindow;	
	infowindow = new google.maps.InfoWindow({
			maxWidth: 400
		});
	for(var i = 0; i < ev.length; i++)
	{
		if(ev[i] == null || ev[i] == '')
		{	
			continue;
		}
		ev2 = ev[i].split(';;');
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(ev2[2],ev2[3]),
			map: map,
			title: ev2[0],
			html: '<p><strong>'+ev2[0]+'</strong></p>'+stripslashes_big_network(ev2[1])
			//icon:image
		  });		
		google.maps.event.addListener(marker, 'mouseover', function() {
		  infowindow.setContent(this.html);
		  infowindow.open(map,this);
		});
	}				
});
</script>
<div class="mod mod-network">
	<div id="map_canvas_big" style="width:100%; height:100%;"></div>
</div>