<?php
$menu_session_arr = (Eicra_Global_Variable::getSession()->admin_top_menu) ? Eicra_Global_Variable::getSession()->admin_top_menu : '';
$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$style_direction = ($locale_direction == 'rtl') ? '_'.$locale_direction : '';
echo $this->headLink()->setStylesheet($this->baseUrl().'/application/modules/Administrator/layouts/scripts/css/mega-menu.css', "screen", false);
echo $this->headLink()->setStylesheet($this->baseUrl().'/application/modules/Administrator/layouts/scripts/css/mega-menu-black.css', "screen", false);

$auth = Zend_Auth::getInstance ();
$globalIdentity = ($auth->hasIdentity ()) ? $auth->getIdentity () : null;

if($locale_direction == 'rtl')
{
	//echo $this->headLink()->setStylesheet($this->baseUrl().'/application/modules/Administrator/layouts/scripts/vendor/scripts/js/admin_menu/css/megamenu'.$style_direction.'.css');	
}
?>
<!--[if lt IE 9]>
<?php //echo $this->headLink()->setStylesheet($this->baseUrl().'/application/modules/Administrator/layouts/scripts/vendor/scripts/js/admin_menu/css/ie/ie.css', "screen", true); ?>
<![endif]-->
<?php
if(empty($menu_session_arr) || empty($menu_session_arr['complete']))
{
	$admin_menu_obj	=	new Administrator_View_Helper_Menu($this);
	$menu_session_arr	=	$admin_menu_obj->getMenu();
	unset($menu_session_arr['complete']);
}
else
{
	unset($menu_session_arr['complete']);
}
	
function printSubMenu($menus_arr, $view)
{
	$menu_code = '';
	if(!empty($menus_arr) && !empty($menus_arr[0]))
	{
		foreach($menus_arr as $menus_key => $menus)
		{
			$parent_class = (!empty($menus['sub_menu']) && !empty($menus['sub_menu'][0])) ? 'parent' : '';	
			$li_class = (!empty($menus['menu_li_class'])) ? $menus['menu_li_class'] : '';	
			$menu_target	=		(!empty($menus['menu_target'])) ? $menus['menu_target'] : '';
			if(preg_match('@^(?:http://)?([^/]+)@i', $menus['menu_link']))
			{
				$menu_link = $menus['menu_link'];
			}
			else
			{
				$menu_link = ($menus['menu_link'] == 'javascript:void(0);') ? 'javascript:void(0);' : $view->baseUrl().$menus['menu_link'];							
			}
				$menu_code .= '<li '.$li_class.'>';
					$menu_code .= '<a href="'.$menu_link.'" class="'.$parent_class.'" '.$menu_target.'>'.$menus['menu_name'].'</a>';
					if(!empty($menus['sub_menu']) && !empty($menus['sub_menu'][0]))
					{
						$menu_code .= '<ul>';
						$menu_code .= printSubMenu($menus['sub_menu'], $view);
						$menu_code .= '</ul>';
					}
				$menu_code .= '</li>';				
		}
	}
	return $menu_code;
}
?>

<!-- mega menu -->
<ul class="sky-mega-menu sky-mega-menu-anim-flip sky-mega-menu-response-to-icons">
    <!-- home -->
    <li>
        <a href="#"><i class="icon-single icon-home"></i></a>
    </li>
    <!--/ home -->
    
    <!-- about -->
    <li>
        <a href="#"><i class="icon-star"></i>About us</a>
        <div class="grid-container3">
            <ul>
                <li><a href="#"><i class="icon-globe"></i>Mission</a></li>
                <li>
                    <a href="#"><i class="icon-group"></i>Our Team <i class="text-right pull-right fa fa-angle-down"></i></a>
                    <div class="grid-container3">
                        <ul>
                            <li>
                                <a href="#"><i class="icon-user"></i>Markus Fisher</a>
                                <div class="grid-container3">
                                    <ul>
                                        <li><a href="#"><i class="icon-leaf"></i>About</a></li>
                                        <li><a href="#"><i class="icon-tasks"></i>Skills</a></li>
                                        <li><a href="#"><i class="icon-comments"></i>Contacts</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="icon-user"></i>Leyla Sparks <i class="text-right pull-right fa fa-angle-down"></i></a>
                                <div class="grid-container3">
                                    <ul>
                                        <li><a href="#"><i class="icon-leaf"></i>About</a></li>
                                        <li><a href="#"><i class="icon-tasks"></i>Skills</a></li>
                                        <li><a href="#"><i class="icon-comments"></i>Contacts</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="icon-user"></i>Gleb Ismailov</a>
                                <div class="grid-container3">
                                    <ul>
                                        <li><a href="#"><i class="icon-leaf"></i>About</a></li>
                                        <li><a href="#"><i class="icon-tasks"></i>Skills</a></li>
                                        <li><a href="#"><i class="icon-comments"></i>Contacts</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><i class="icon-user"></i>Viktoria Gibbers</a>
                        </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><i class="icon-trophy"></i>Rewards</a></a></li>
                <li><a href="#"><i class="icon-certificate"></i>Certificates</a></a></li>
            </ul>
        </div>
    </li>
    <!--/ about -->
    
    <!-- portfolio -->
    <li>
        <a href="#"><i class="icon-briefcase"></i>Portfolio</a>
        <div class="grid-container3">
            <ul>
                <li><a href="#"><i class="icon-lemon"></i>Logos</a></li>
                <li><a href="#"><i class="icon-globe"></i>Websites</a></li>
                <li><a href="#"><i class="icon-th-large"></i>Branding</a></li>
                <li><a href="#"><i class="icon-picture"></i>Illustrations</a></li>
            </ul>
        </div>
    </li>
    <!--/ portfolio -->
    
    <!-- blog -->
    <li>
        <a href="#"><i class="icon-edit"></i>Blog</a>
    </li>
    <!--/ blog -->
    
    <!-- share -->
    <li class="right">
        <a href="#"><i class="icon-bullhorn"></i>Share</a>
        <div class="grid-container3">
            <ul>
                <li><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
                <li><a href="#"><i class="icon-facebook-sign"></i>Facebook</a></li>
                <li><a href="#"><i class="icon-google-plus-sign"></i>Google Plus</a></li>
            </ul>
        </div>
    </li>
    <!--/ share -->
    
    <!-- contacts -->
    <li class="right">
        <a href="#"><i class="icon-phone"></i>Contacts</a>
    </li>
    <!--/ contacts -->
</ul>
<!--/ mega menu -->	