<?php 
$front_template = Zend_Registry::get('front_template'); 
$this->translator = Zend_Registry::get('translator');
$global_conf = Zend_Registry::get('global_conf');
$auth = Zend_Auth::getInstance ();
$acount_link =  'Members-Dashboard';
$booking_link =  'Members-Invoice-Item-List';
$sugnIn_link	=	($auth->hasIdentity()) ? '<a href="javascript:void(0);" class="topbar_logout_btn">'.$this->translator->translator('common_front_header_signout','', '', $front_template['theme_folder']).'</a>' : '<a href="Frontend-Login">'.$this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']).'</a>';
?>
<script type="text/javascript">
$(document).ready(function() {	
	logOut('a.topbar_logout_btn', '<img src="application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/loader/ajax-loader-email.gif" />', '', '<?php echo $this->translator->translator('common_front_header_signin','', '', $front_template['theme_folder']); ?>');
});
</script>
<header id="header">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="<?php if($global_conf['frontend_header_logo']){ echo $global_conf['frontend_header_logo']; }else{ ?>application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/logo.png<?php } ?>" alt="Best holiday vacation rental script" title="Vacation Rentals for Vacation Homes, Beach Houses, Villa Rentals, Condos, Cabins and Cottages" height="90" border="0" /></a>
            <!--<h1><?php //echo $this->translator->translator('header_logo','', '', $front_template['theme_folder']); ?></h1>-->
        </div>
        
        <div class="quick-access">
        	<div class="top-links">
                <ul>
                    <li class="first"><a href="Register"><?php echo $this->translator->translator('vacationrental_front_header_menu_registration','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="<?php echo $booking_link ?>"><?php echo $this->translator->translator('common_front_booking','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="<?php echo $acount_link ?>"><?php echo $this->translator->translator('common_front_account','', '', $front_template['theme_folder']); ?></a></li>
                    <li><a href="Site-Map"><?php echo $this->translator->translator('common_front_header_menu_sitemap','', '', $front_template['theme_folder']); ?></a></li>
                    <!--<li><a href="Contact-Us"><?php //echo $this->translator->translator('common_front_header_menu_contact','', '', $front_template['theme_folder']); ?></a></li>-->
                </ul>
                <div class="flags">
					<?php echo $this->partial('blocks/header_language.phtml'); ?>
                </div>
            </div>
            
            <div class="user-link">
                <span class="welcome"><?php echo $this->translator->translator('common_front_header_welcome','', '', $front_template['theme_folder']).' '.$global_conf['site_name']; ?> | <?php echo $sugnIn_link; ?> | <a href="Registration/104"><?php echo $this->translator->translator('common_front_header_register','', '', $front_template['theme_folder']); ?></a></span>
            </div>
            
            <div class="support">
                <div class="block-ad-header"><?php $this->ad(180); ?></div><?php //echo $this->partial('blocks/ad_header.phtml'); ?>
            </div>
        </div>
    </div>
</header>