<?php

$this->headMeta()->setName('keywords',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_keywords'));
$this->headMeta()->setName('description',$this->translator->translator('flight_AirlineFlightSchedules_page_meta_desc'));
$this->headTitle()->headTitle($this->translator->translator('flight_AirlineFlightSchedules_page_meta_title'),'SET');
echo $this->headScript()->setFile($this->baseUrl().'/js/jquery/table-sorter/jquery.dataTables.js');
echo $this->headScript()->setFile($this->baseUrl().'/vendor/scripts/jtruncate/jquery.jtruncate.pack.js');
echo $this->headScript()->setFile('http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js');

echo $this->headLink()->setStylesheet($this->baseUrl().'/css/jqueryCSS/table-sorter/pagination_table.css');

$locale_direction = Eicra_Global_Variable::getSession()->site_direction;
$locale = Eicra_Global_Variable::getSession()->sess_lang;

$front_template = Zend_Registry::get('front_template');

$global_conf = Zend_Registry::get('global_conf');
$currency = new Zend_Currency($global_conf['default_locale']);

$not_search_arr = array('block_search', 'module', 'controller', 'action', 'menu_id', 'page');
?>
<script type="text/javascript">
var settingSearchObj = {};
$(document).ready(function() {

	calender('startDate', 'endDate');
	calender('endDate', 'startDate');	
	autoList('origin');
	autoList('destination');
	
	settingSearchObj = {
                            grid_id : 'wego-grid',
                            dest_url : "<?php echo $this->url( array('module' => 'Flight', 'controller' => 'wego', 'action'  => 'airlineflightschedules' ), ($this->posted_data['menu_id']) ? $this->posted_data['menu_id'] : 'WegoAirlineFlightSchedules/*',    true); ?>",
							pageSize : '<?php echo Eicra_Global_Variable::getSession()->viewPageNum; ?>',
                            page: '<?php echo ($this->posted_data['page']) ? $this->posted_data['page'] : ''; ?>',	
							pageable : { buttonCount: 2 },
                            calendar: {
                                culture: "<?php echo str_ireplace('_', '-', $locale); ?>",
                                value: ''
                            },
							form_action : {
										form_id:  'formAirlineFlightSchedulesSearch'										
							},
							dataSource_transport_read_complete : function (responce_data){															
								$('a.'+settingSearchObj.search_action.search_form_btn).html('<span class="glyphicon glyphicon-search"></span> <?php echo html_entity_decode($this->translator->translator('flight_front_page_search_btn'), ENT_QUOTES, 'UTF-8'); ?>');
							},
                            search_action: {
									search_form_id : 'formAirlineFlightSchedulesSearch',
									search_form_btn : 'searchFlightSchedulesButton',
									search_validator : true,
									search_validator_function : function(){ return checkRouteFieldValue(); },
									hasTinyMCE 	: false,
									show_loader_on_search_button: true
								},
                            common_action : {
                                    permission_arr : {},
                                    toolbar_button_loader		:	'<span class="loader blue"></span>',
                                    ajax_loader_link			:	"application/modules/Administrator/layouts/scripts/images/loader/btn-loader.gif",
                            
                                    multi_action	: []
                            },
							dataSource_filter : [
													<?php
														foreach($this->posted_data as $key => $value)
														{
															$value = (is_array($value)) ? implode(',', $value) : $value;
															if(!in_array($key, $not_search_arr) && !(empty($value) || strtolower($value) == 'any'))
															{
													?>
																{field: "<?php echo $key; ?>", operator: $("#<?php echo $key; ?>").attr('operator'), value: "<?php echo $value; ?>"},
													<?php
															}
														}
													?>
												],
                            search_data : {},
                            batch:		false,
                            editable:	false,
                            scrollable: false,
                            detailInit:	false,
                            dataBound: function(e) {									
                                    var self = this;
                                    self.element.css("border", "none");
									self.element.height("").find(".k-grid-pager").css("border-width", "1px 1px 1px 1px");
                                    self.thead.remove();                                   
									try
									{
										blokSearchFunction(settingSearchObj);
									}
									catch(e){ }	
									
									$("div.tabstrip").kendoTabStrip({
										animation: {
											open: { effects: "fadeIn" }
										}
									});
										
									showHideDetails();
									
                            },
                            filterable: false,
                            rowTemplate: kendo.template($("#view_wego_template").html()),
                            model: {},					
                            column_fields: [],
                            columnMenu:	false,
                            messages: {
                                            display				: 	'<?php echo $this->translator->translator("portfolio_pagination_messages_display", '', 'Portfolio'); ?>',
                                            empty				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_empty", '', 'Portfolio'); ?>',
                                            page				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_page", '', 'Portfolio'); ?>',
                                            of					:	'<?php echo $this->translator->translator("portfolio_pagination_messages_of", '', 'Portfolio'); ?>',
                                            itemsPerPage		:	'<?php echo $this->translator->translator("portfolio_pagination_messages_items_per_page", '', 'Portfolio'); ?>',
                                            first				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_first", '', 'Portfolio'); ?>',
                                            previous			:	'<?php echo $this->translator->translator("portfolio_pagination_messages_previous", '', 'Portfolio'); ?>',
                                            next				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_next", '', 'Portfolio'); ?>',
                                            last				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_last", '', 'Portfolio'); ?>',
                                            refresh				:	'<?php echo $this->translator->translator("portfolio_pagination_messages_refresh", '', 'Portfolio'); ?>',
                                            
                                            common_msg_dialog_id 		:	'dialog_msg',
                                            common_confirn_dialog_id	:	'dialog-confirm',
                                            common_ok					:	"<?php echo html_entity_decode($this->translator->translator('common_ok'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_title			:	"<?php echo html_entity_decode($this->translator->translator('common_delete_title'), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_delete_selected		:	"<?php echo html_entity_decode($this->translator->translator("common_delete_selected"), ENT_QUOTES, 'UTF-8'); ?>",
                                            common_cancel				:	"<?php echo html_entity_decode($this->translator->translator("common_cancel"), ENT_QUOTES, 'UTF-8'); ?>",
                                            
                                            common_publish_title		:	"<?php echo $this->translator->translator("common_publish_title"); ?>",
                                            common_unpublish_title		:	"<?php echo $this->translator->translator("common_unpublish_title"); ?>",										
                                            common_publish_selected		:	"<?php echo $this->translator->translator("common_publish_selected"); ?>",
                                            common_unpublish_selected	:	"<?php echo $this->translator->translator("common_unpublish_selected"); ?>",
                                            common_publish_perm	 		:	"<?php echo $this->translator->translator("common_publish_perm"); ?>",
                                            common_perm_err				:	"<?php echo $this->translator->translator("common_perm_err"); ?>"
                                        }
                        };
	
	commonGrid(settingSearchObj);
	
	$("input[name='trip_type']").click(function() {
			var val = $(this).val();
			
			switch(val)
			{
				case 'One way':
					$('div.flight_route_arrival_date_box').css('display','none');
					
				 break;
				 case 'Round':
					$('div.flight_route_arrival_date_box').css('display','block');					
					
				 break;
			}
		});	


});


function toTimestamp(strDate){
	 var datum = Date.parse(strDate);
	 return datum/1000;
}

function calender(id, second_id)
{
	$("#"+id).datepicker({
		showOn: 'button',
		buttonImage: 'application/layouts/scripts/<?php echo $front_template['theme_folder']; ?>/images/mod_flight_img/calendar.png',
		buttonImageOnly: true,
		monthNamesShort:<?php echo $this->translator->translator("common_calender_monthNamesShort"); ?>,
		monthNames:<?php echo $this->translator->translator("common_calender_monthNames"); ?>,
		dayNamesMin:<?php echo $this->translator->translator("common_calender_dayNamesMin"); ?>,
		showAnim: 'slide',
		buttonText: 'Calender',
		dateFormat:'yy-mm-dd',
		onSelect: function(dateText, inst) {
			var id_type_arr = id;			
			var currentTime = new Date()
			var currentDay = (currentTime.getDate() < 10) ? '0' + currentTime.getDate() : currentTime.getDate();
			var currentMonth = ((currentTime.getMonth() + 1) < 10) ? '0' + (currentTime.getMonth() + 1) : (currentTime.getMonth() + 1);
			var today = currentTime.getFullYear() + '-' + currentMonth + '-' + currentDay;				
			if(id_type_arr == 'startDate')
			{								
				if( (dateText != '') && ( (toTimestamp(dateText) >= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_departure_date_err'); ?>";
					commonMsgDialog(settingSearchObj, msg);
					$('#'+id).val('');
				}
			}
			else if(id_type_arr == 'endDate')
			{
				if( (dateText != '') && ( (toTimestamp(dateText) <= toTimestamp($('#'+second_id).val())) || (toTimestamp(dateText) < toTimestamp(today)) )  )
				{
					var msg = "<?php echo $this->translator->translator('flight_route_arrival_date_err'); ?>";
					commonMsgDialog(settingSearchObj, msg);
					$('#'+id).val('');
				}
			}
		},
		autoSize:false,
		showButtonPanel:false,
		changeMonth: true,
		changeYear: true
	});
	
	$("img[class='ui-datepicker-trigger']").each(function()
	 { 
	  	$(this).attr('style', '');
	 });
}

function showHideDetails()
{	
	$('div.card-show-details').unbind('click');
	$('div.card-show-details').click(function(){
		var self = this;
				
		var id = $(self).attr('show-details-id');
		var data_alt_text = $(self).children('span:first').attr('data-alt-text');
		var data_original_text = $(self).children('span:first').attr('data-original-text');
		
		var tabStrip = $('div[data-route-id="'+id+'"]').children("div.tabstrip").kendoTabStrip().data("kendoTabStrip");	
		var getItem = function (target) { var itemIndex = (target - 1); return tabStrip.tabGroup.children("li").eq(itemIndex); };
		
		if( $(self).children('span:first').text() == data_original_text)
		{			
			$('div[data-route-id="'+id+'"]').slideDown();
			$(self).children('span:first').text(data_alt_text);
			tabStrip.select(getItem(1));
		}
		else
		{
			$('div[data-route-id="'+id+'"]').slideUp();
			$(self).children('span:first').text(data_original_text);
		}
	});
	
	$('div.show-fares').unbind('click');
	$('div.show-fares').click(function(){
		var self = this;
		
		var id = $(self).parents('div:first').children('div:first').attr('show-details-id');
		var data_alt_text = $(self).parents('div:first').children('div:first').children('span:first').attr('data-alt-text');
		var data_original_text = $(self).parents('div:first').children('div:first').children('span:first').attr('data-original-text');
		
		var tabStrip = $('div[data-route-id="'+id+'"]').children("div.tabstrip").kendoTabStrip().data("kendoTabStrip");	
		var getItem = function (target) { var itemIndex = (target - 1); return tabStrip.tabGroup.children("li").eq(itemIndex); };
		
		if( $(self).parents('div:first').children('div:first').children('span:first').text() == data_original_text)
		{
			$('div[data-route-id="'+id+'"]').slideDown();
			$(self).parents('div:first').children('div:first').children('span:first').text(data_alt_text);
			tabStrip.select(getItem(2));			
		}
		else
		{
			$('div[data-route-id="'+id+'"]').slideUp();
			$(self).parents('div:first').children('div:first').children('span:first').text(data_original_text);
		}
	});
}

function autoList(id)
{
	autoSuggestion(id, "<?php echo $this->url( array('module'=> 'Flight', 'controller' => 'frontend', 'action'     => 'iata' ), 'adminrout',    true) ?>", {'datas': ''}, ['iata_code', 'iata_code', 'flight_label', 'flight_value', 'flight_location'], '', 3);
}

function checkRouteFieldValue()
{
	var check = true;
	var attr_id = '';
	var id_no_arr = [];
	commonRemoveFormError(settingSearchObj);
	for(var i=0; i < $('input.flight_route_departure').length; i++)
	{	
		attr_id  =	$('input.flight_route_departure:eq('+i+')').attr('id');
		id_no_arr = attr_id.split('flight_route_departure');		
		if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '' || jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '' || ( $('input[name="trip_type"]:checked').val() == 'Round' && jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '' ) )
		{	
			if(jQuery.trim($('input.flight_route_departure:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_arrival:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_departure_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_departure_date:eq('+i+')').addClass('ui-state-error');
			}
			
			if(jQuery.trim($('input.flight_route_arrival_date:eq('+i+')').val()) == '')
			{	
				$('input.flight_route_arrival_date:eq('+i+')').addClass('ui-state-error');
			}
				
			check = false;
		}
	}
	if(check == false)
	{
		msg = "<?php echo $this->translator->translator("flight_front_page_fields_empty"); ?>";
		commonMsgDialog(settingSearchObj, msg);
	}	
	return 	check;	
}
</script>

<style>
.card-main{margin-left:0;margin-right:0;line-height:24px;width:100%;font-size:14px;font-weight:normal}
@media only screen and (min-width: 47.5em){.card-main{display:table-row}
}
@media only screen and (min-width: 63.75em){.card-main{font-weight:300}
}
.card-main .outbound-segment,.card-main .inbound-segment{display:block;clear:both;padding-top:1em;padding-right:0;padding-bottom:0;padding-left:1em;background:#fff;position:relative}
@media only screen and (min-width: 47.5em){.card-main .outbound-segment,.card-main .inbound-segment{display:table-cell;width:49.5%;padding-top:1.2em;padding-right:0;padding-bottom:0;padding-left:1.2em}
}
.card-main .outbound-segment{border-top-left-radius:3px;border-top-right-radius:3px}
@media only screen and (min-width: 47.5em){.card-main .inbound-segment{border-top:none}
}
.card-main .booking{padding:1em 1em 2.7em;position:relative;background:#eee;display:block;text-align:right;border-top:1px dotted #ccc;vertical-align:top}
@media only screen and (min-width: 47.5em){.card-main .booking{padding:1.2em 0.7em 1em;position:static;background:#f9f9f9;display:table-cell;text-align:center;background:none;border-top:none;min-width:175px}
}
.card-main .travel-time{*zoom:1;line-height:1.5;padding-bottom:0.8em}
.card-main .travel-time:before,.card-main .travel-time:after{content:" ";display:table}
.card-main .travel-time:after{clear:both}
.card-main .date-diff{font-size:12px}
.card-main .airline-logo-small{float:left;position:relative;top:0}
@media only screen and (min-width: 47.5em){.card-main .airline-logo-small{float:none;margin-bottom:0.8em}
}
.card-main .airline-code{font-size:12px;color:#21a024;font-weight:bold}
.card-main .duration{font-size:13px;font-style:italic;color:#999;display:inline-block}
.card-main .price{display:block;width:100%;height:3em;top:0;right:0;position:absolute;border-bottom:1px solid #DDD;background:#FFF}
@media only screen and (min-width: 47.5em){.card-main .price{width:auto;height:auto;position:static;border-bottom:none;background:none}
}
.card-main .price .rate{display:block;padding-top:0.5em;padding-right:1em}
@media only screen and (min-width: 47.5em){.card-main .price .rate{display:inline;padding:0}
}
.card-main .price del,.card-main .price ins{display:inline-block}
@media only screen and (min-width: 47.5em){.card-main .price del,.card-main .price ins{display:block}
}
.card-main .price ins{text-decoration:none}
.card-main .fare-deeplink{display:inline}
@media only screen and (min-width: 47.5em){.card-main .fare-deeplink{margin-left:1em;margin-right:1em;padding-top:0.3em;display:block}
}
.card-main .rate-currency{font-weight:300}
.card-main .provider{font-size:12px;display:block;position:absolute;top:.7em}
@media only screen and (min-width: 47.5em){.card-main .provider{display:block;position:relative;margin-top:0.5em;top:auto}
}
.card-bottom{margin-left:0;margin-right:0;padding:1em;border-top:1px dotted #CCCCCC;background:#F9F9F9}
.card-bottom:after,.card-bottom:before{content:"  ";display:table}
.route-and-dates{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;font-size:12px;color:#666;padding:0;background:#faf9f9;position:relative;padding-top:0.8em;padding-bottom:0.8em;padding-left:1.3em;padding-right:0;*zoom:1}
.route-and-dates:before,.route-and-dates:after{content:" ";display:table}
.route-and-dates:after{clear:both}
@media only screen and (min-width: 47.5em){.route-and-dates .route{display:block;position:absolute;right:1em}
}
.route-and-dates{line-height:1.4}
.flight-dates{font-weight:600;padding-left:10px}
.card-body:hover .flight-dates{color:#21a024}
.found-ago{float:right;font-style:italic;color:#999}
@media only screen and (min-width: 47.5em){.oneway .card-main .outbound-segment{width:90%}
}
.routes-depart,.routes-return{float:left;font-weight:300;width:39.5%}
.routes .route-sponsor .card{margin-bottom:0;padding-top:0.7em}
@media only screen and (min-width: 47.5em){.routes .route-sponsor .card{margin-bottom:0.9em;padding-top:0}
}
@media only screen and (min-width: 63.75em){.routes .route-sponsor .card{margin-bottom:0.8em}
}
.routes .route-sponsor .card-body{background:#fff;border-color:#2ba9ff;margin-bottom:0}
.routes .pagination.pagination-listings{margin-bottom:1.2em}
@media only screen and (min-width: 47.5em){.routes .pagination.pagination-listings{margin-bottom:0.5em}
}
.card-container section:first-child{padding-top:0.7em}
@media only screen and (min-width: 47.5em){.card-container section:first-child{padding-top:0}
}
.sponsor-logo,.sponsor-message{float:left;vertical-align:middle}
.sponsor-booking{float:right}
.sponsor-message{display:none}
@media only screen and (min-width: 47.5em){.sponsor-logo,.sponsor-message,.sponsor-booking{display:table-cell;float:none}
}
.sponsor-message{font-size:14px;width:66%}
.sponsor-message span{color:#999}
.sponsor-card-route{display:block;font-size:14px;position:relative}
@media only screen and (min-width: 47.5em){.sponsor-card-route{font-size:16px}
}
.sponsor-card-route .sponsor-logo{padding-top:0.8em;padding-right:1em;padding-bottom:0.8em;padding-left:1em}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-logo{width:16%;padding-top:2em;padding-right:0;padding-bottom:2em;padding-left:1.05em}
}
.sponsor-card-route .sponsor-message{padding:0 1em}
.sponsor-card-route .sponsor-booking{width:100%;position:relative;padding:0.8em 1em;background:#f1f1f1;border-top:1px solid #ddd;border-bottom-left-radius:3px;border-bottom-right-radius:3px}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-booking{border-top:none;background:none;border-bottom-left-radius:0;border-bottom-right-radius:0;padding:1em 0.5em;width:auto}
}
.sponsor-card-route .sponsor-booking .price{border-bottom:none;height:auto;width:auto;position:absolute;top:-47px}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-booking .price{position:relative;float:none;width:100%;top:auto}
}
.sponsor-card-route .sponsor-booking .fare-deeplink{width:100%;float:left}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-booking .fare-deeplink{float:none;width:auto}
}
.sponsor-card-route .sponsor-booking .fare-book-button{padding:0.8em;top:0}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-booking .fare-book-button{padding:0.6em}
}
.sponsor-card-route .sponsor-booking .fare-provider{display:none}
@media only screen and (min-width: 47.5em){.sponsor-card-route .sponsor-booking .fare-provider{display:block}
}
.sponsor-airlines{clear:both;font-size:14px;list-style:none;margin-bottom:0;overflow:hidden;border-top:1px dotted #ccc;background:#fff;padding:0.7em;border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.routes .sponsor-airlines{border-top:none;background:#f1f1f1;padding:0 1em 0.7em}
@media only screen and (min-width: 47.5em){.routes .sponsor-airlines{border-top:1px dotted #ccc;background:#fff;padding:0.7em 1.2em}
}
@media only screen and (min-width: 47.5em){.sponsor-airlines{padding:0.7em 1em}
}
.sponsor-airlines li{display:block;float:left;margin-right:2em}
.sponsor-airlines a{display:block}
.sponsor-airlines img{float:left;margin:0 0.5em 0 0}
@media only screen and (min-width: 47.5em){.sponsor-airlines img{margin-top:0.3em}
}
.sponsor-airlines .rate{line-height:20px}
.sponsor-airlines .rate-currency{font-size:12px}
.sponsor-airlines .rate-price{font-weight:normal;font-size:12px}
.sponsor-airlines img{margin-top:0}
.airline-book,.airline-select,.sponsor-book-button,.fare-book-button{padding:0.4em 1.2em 0.6em;font-size:15px;font-weight:normal;margin-left:0.2em}
.fare-book-button{width:100%;padding:0.8em;position:relative;top:2.6em;margin-left:0}
@media only screen and (min-width: 47.5em){.fare-book-button{top:auto;padding:0.5em 0.8em 0.7em}
}
.fare-provider-price{padding-left:0.3em}
.fare-provider-price strong{font-weight:normal}
.fare-provider,.fare-provider-code{color:#666}
.airlines .rate{font-size:1.3em}
.airlines.results{padding-top:0;padding-bottom:0}
@media only screen and (min-width: 47.5em){.airlines.results{padding-top:1em}
}
@media only screen and (min-width: 63.75em){.airlines.results{padding-top:0.8em}
}
.airlines.results section{padding:0;border-bottom:1px solid #EEE;margin:0}
.airlines.results section:last-child{border-bottom:none;padding-bottom:0}
.airlines.results .card-main{display:table}
.airlines.results .card-col-1,.airlines.results .card-col-2,.airlines.results .card-col-3{display:table-cell;vertical-align:middle;padding:1em 0.5em}
.airlines.results .card-col-1{width:110px;padding-left:0.7em}
@media only screen and (min-width: 47.5em){.airlines.results .card-col-1{padding:0.7em 0.5em;padding-left:1em;padding-right:0;width:14%}
}
.airlines.results .card-col-2{width:auto}
@media only screen and (min-width: 47.5em){.airlines.results .card-col-2{position:relative;width:100%;padding:1.25em 1em}
}
.airlines.results .card-col-3{width:74%;text-align:right;padding-right:0.7em}
@media only screen and (min-width: 47.5em){.airlines.results .card-col-3{width:34%;border-left:1px dotted #eee;padding-right:1em}
}
.airlines.results .airline-results{display:block;float:none}
@media only screen and (min-width: 47.5em){.airlines.results .airline-results{float:right}
}
.airlines.results .route-sponsor{border:none}
.airlines.results .route-sponsor section{border:1px solid #2ba9ff;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:0;margin-bottom:0.5em}
.airfares.index .card-list{background:#FFF;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;margin-bottom:2em}
.airfares.index h3{font-size:18px;font-weight:400;padding:0.6em 0 0.3em}
.airfares.index section{padding:0;border-bottom:1px dotted #ccc;margin:0}
.airfares.index section:last-child{border-bottom:none;padding-bottom:0}
.airfares.index .card-header{background-color:#EEE;padding:1em 0.8em;font-size:16px;font-weight:400;border-top-left-radius:3px;border-top-right-radius:3px;color:#666}
.airfares.index .card-main{display:table}
.airfares.index .card-col-1,.airfares.index .card-col-2{display:table-cell;vertical-align:middle;padding:1em 0.5em}
.airfares.index .card-col-1{width:auto;padding-left:0.7em}
@media only screen and (min-width: 47.5em){.airfares.index .card-col-1{padding-left:1em;width:59%}
}
.airfares.index .card-col-2{width:14%}
@media only screen and (min-width: 47.5em){.airfares.index .card-col-2{position:relative;width:30%;text-align:right}
}
.airfares.index .price-from{color:#ccc;font-size:12px;padding-right:0.25em}
.airfares.index .airline-select{float:right}
.found-ago,.show-fares,.card-show-details{display:inline-block;position:relative;padding:0;font-size:12px;line-height:19px;font-weight:normal}
.show-fares,.card-show-details{color:#06c;cursor:pointer}
.show-fares:hover,.card-show-details:hover{color:#0059b3}
.show-fares{bottom:0;right:0.1em;float:right;position:absolute}
@media only screen and (min-width: 47.5em){.show-fares{position:relative;right:0}
}
@media only screen and (min-width: 47.5em){.show-fares.is-hidden{display:none}
}
.fares-overview.is-hidden{opacity:0}
.fares-overview.is-hidden a:hover{cursor:default}
.card-show-details{text-transform:capitalize;/*float:left*/}
@media only screen and (min-width: 47.5em){.card-show-details:hover{color:#666}
}
.card-show-details .icon-down-open{display:none;font-size:8px}
@media only screen and (min-width: 47.5em){.card-show-details .icon-down-open{display:inline}
}
@media only screen and (min-width: 47.5em){.card-show-details{padding-left:1.3em;color:#666}
}
.card-drawer{background:none repeat scroll 0 0 #F7F7F7;display:block;font-size:12px;position:relative;top:-8px;opacity:0;-webkit-transition:opacity 0s ease-in;-moz-transition:opacity 0s ease-in;-ms-transition:opacity 0s ease-in;-o-transition:opacity 0s ease-in;transition:opacity 0s ease-in;max-height:0;overflow:hidden;}
.card-drawer.is-opened{margin:0 0 20px 0; max-height:9999px;opacity:1;-webkit-box-shadow:0 2px 3px -1px rgba(0,0,0,0.3) inset,0 1px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px -1px rgba(0,0,0,0.3) inset,0 1px 3px rgba(0,0,0,0.3);box-shadow:0 2px 3px -1px rgba(0,0,0,0.3) inset,0 1px 3px rgba(0,0,0,0.3);-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;overflow:hidden;-webkit-transition:max-height .3s ease-in-out, opacity .3s ease-in-out;-moz-transition:max-height .3s ease-in-out, opacity .3s ease-in-out;-ms-transition:max-height .3s ease-in-out, opacity .3s ease-in-out;-o-transition:max-height .3s ease-in-out, opacity .3s ease-in-out;transition:max-height .3s ease-in-out, opacity .3s ease-in-out}
@media only screen and (min-width: 47.5em){.card-drawer{top:0}
}
.card-drawer h4{font-size:14px;font-weight:300;margin-top:1em}
.flight-direction{padding-bottom:1em;margin-bottom:1em;overflow:hidden}
.flight-legs-2{width:100%}
.flight-legs-2 .flight-leg:last-of-type{border-right:none;border-bottom:none}
.flight-legs-2 .flight-leg{width:100%;border-bottom:1px dotted #ccc;border-right:none;display:inline-block;clear:both;padding-bottom:1em}
@media only screen and (min-width: 47.5em){.flight-legs-2 .flight-leg{width:49.5%;display:inline-block;min-height:25em;position:relative;border-bottom:none}
}
.flight-legs-3{width:100%}
.flight-legs-3 .flight-leg{width:100%;background:#fff;padding:0 0 2em 0;border-right:none;border-bottom:1px dotted #ccc;display:inline-block}
@media only screen and (min-width: 47.5em){.flight-legs-3 .flight-leg{width:33.3%;border-bottom:none;float:left}
}
.flight-legs-3 div.flight-leg:last-of-type{border-right:none;border-bottom:none}
.clear{clear:both;display:block}
.segment-airline{display:block;margin:1em 1.5em 0 0}
.segment-airline-designator{display:inline-block;float:left;margin-left:1em;position:relative;top:.7em;font-weight:600}
img.segment-airline-logo{display:inline-block;float:left}
.segment-flight-duration{float:left;font-style:italic;font-weight:200;position:relative;top:.7em;margin-left:1em}
.segment-depart,.segment-arrive{display:inline-block;width:48%;margin:1%;line-height:1.5em;float:left}
.segment-departure-date,.segment-departure-text,.segment-eta-arrival,.segment-arrival-text{display:block;margin:.5em;height:auto}
.segment-layover{color:red;display:block;position:relative;padding:.5em 1em;font-size:.9em !important}
.segment-overview{position:relative;width:100%;float:left;overflow:hidden;padding:2em 0}
.segment-overview .segment-departure,.segment-overview .segment-arrival,.segment-overview .segment-journey{float:left;height:70px;position:relative;font-size:11px}
.segment-overview .segment-departure,.segment-overview .segment-arrival{white-space:nowrap;min-width:30px;background:#fff url(http://1.w3g0.com/assets/plane-sprite-82c8f5e1f8eba08f14a9feee757d09a9.png) left 46px no-repeat}
.segment-overview .segment-duration{position:absolute;bottom:2em;font-size:12px;font-style:italic;color:#ccc;width:100%;text-align:center}
.segment-overview .segment-journey{width:100%;background:#fff url(http://1.w3g0.com/assets/flight-trail-sprite-bfa9d9771beb9fd3a14d2265edd2c11d.png) center -285px no-repeat;border-bottom:2px solid #CCC}
.segment-overview .segment-departure{text-align:left}
.segment-overview .segment-arrival{background-position:right bottom;float:right;text-align:right}
.segment-overview .segment-departure-code,.segment-overview .segment-arrival-code{text-align:center;font-weight:500;color:#337722}
.segment-overview .segment-departure-time{position:absolute;bottom:-2em;left:0;direction:ltr}
.segment-overview .segment-arrival-time{position:absolute;bottom:-2em;right:0;direction:ltr}
.segment-layover-duration{display:none}
@media only screen and (min-width: 47.5em){.segment-layover-duration{display:block;border-bottom:2px solid #CCC;text-align:center;padding-top:6em;font-style:italic;color:#F00;width:10%;float:left;height:94px;position:relative;font-size:11px;padding-bottom:2em}
}
.drawer-close{right:0;color:#ccc;font-size:24px;position:absolute;top:4px;z-index:2;line-height:38px;padding-left:0.6em;padding-right:0.6em}
.flight-direction-inbound{border-top:1px solid #CCC;padding-top:0.5em}
@media only screen and (min-width: 47.5em){.flight-direction-inbound{border-top:1px solid #CCC}
}
.fares-overview{float:right;padding:0.5em 0.975em 0.5em 0.1em}
.fares-overview ul{list-style-type:none;margin-bottom:0}
.fares-overview ul,.fares-overview ul li{margin:0px;padding:0px;display:inline}
.fares-overview ul li{margin-left:1em}
.fares-overview span{display:inline;font-size:12px}
.fares-overview span.rate-currency{vertical-align:0px}
.fares-overview a:hover span{color:#06c}
.is-visible{opacity:1}
.fare-options{display:table;width:100%}
.fare-option{display:table-row}
.fare-option .fare-section{display:table-cell;width:50%;vertical-align:middle;border-bottom:1px solid #eee;padding:1.5em 0.7em}
@media only screen and (min-width: 47.5em){.fare-option .fare-section{padding:1.5em 1em}
}
@media only screen and (min-width: 63.75em){.fare-option .fare-section{padding:1em}
}
.fare-option .fare-description{padding-left:0.5em;padding-top:0.5em;vertical-align:middle;display:inline-block}
@media only screen and (min-width: 47.5em){.fare-option .fare-description{padding-top:0}
}
.fare-option .rate{display:inline-block;padding-bottom:0.5em}
.fare-option .fare-partner-logo-description{width:28%}
@media only screen and (min-width: 47.5em){.fare-option .fare-partner-logo-description{width:50%}
}
.fare-option .fare-price-book{padding-left:0;text-align:right}
.airfare .card-drawer-details{box-shadow:0 2px 3px -1px rgba(0,0,0,0.3) inset}
.card-drawer-details,.card-drawer-fares,.card-drawer-promos{display:none}
.tabstrip .card-tab-fares a{background:#FFFFFF;color:#21a024}
.tabstrip .card-drawer-fares{display:block}
.tabs-promos .card-tab-promos a{background:#FFFFFF;color:#21a024}
.tabs-promos .card-drawer-promos{display:block}
.tabs-promos .card-drawer-promos{padding:1em 2em}
.tabs-promos .card-drawer-promos img{float:left;height:auto;margin-top:0.5em;width:50px}
@media only screen and (min-width: 47.5em){.tabs-promos .card-drawer-promos img{width:66px}
}
.tabs-promos .card-drawer-promos p{margin:0}
.tabs-promos .card-drawer-promos img+p{margin-bottom:0;margin-left:5em}
@media only screen and (min-width: 47.5em){.tabs-promos .card-drawer-promos img+p{margin-left:7em}
}
.tabs-promos .card-drawer-promos .promos-details{padding:0 0 1em}
.tabs-promos .card-drawer-promos .promos-footer{border-top:1px dotted #CCC;overflow:hidden;padding:1em 0 0}
.tabs-promos .card-drawer-promos .promos-footer .rate{float:left;font-size:14px;margin-top:0.5em}
.tabs-promos .card-drawer-promos .promos-footer .rate-discounted{float:left;margin-right:0.5em}
.tabs-promos .card-drawer-promos .promos-footer .rate-discounted .rate{text-decoration:line-through}
.tabs-promos .card-drawer-promos .promos-footer .button{float:right;font-size:14px;font-weight:normal}
@media only screen and (min-width: 63.75em){.tabs-promos .card-drawer-promos .promos-footer .button{font-size:12px;font-weight:bold}
}
.tabs-details .card-tab-details a{background:#FFFFFF;color:#21a024}
.tabs-details .card-drawer-details{display:block}
.tabs-details .card-drawer-details{padding:1em;position:relative}
@media only screen and (min-width: 47.5em){.tabs-details .card-drawer-details{padding:1em 2em}
}
.clear{clear:both}
.flight-leg2:nth-child(even){background:#fbfbfb}
.flight-leg2{display:inline-block;padding:1em;font-size:12px;text-align:left;line-height:1.5em;width:100%}
.fl-layover{font-style:italic;text-align:center;width:100%;padding:.5em 1em !important}
.fl-code{font-weight:700;color:#555}
.fl-header{display:none;background:#f0f0f0 !important;text-transform:capitalize;font-weight:600;color:#555;margin-top:1em}
@media only screen and (min-width: 47.5em){.fl-header{display:inline-block}
}
.flight-leg2>div{padding:0 .5em;display:inline-block;float:left;text-align:left}
@media only screen and (min-width: 47.5em){.flight-leg2>div{display:table-cell;float:none}
}
.fl-duration{width:80px}
.fl-carrier,.fl-flightno{margin-bottom:1em}
@media only screen and (min-width: 47.5em){.fl-carrier,.fl-flightno{width:80px;margin-bottom:auto;vertical-align:middle}
}
@media only screen and (min-width: 47.5em){.fl-carrier,.fl-flightno{width:80px;margin-bottom:auto}
}
.fl-carrier>img{max-width:60px;height:auto}
.fl-from,.fl-to{width:100%;margin-bottom:1em;display:block}
@media only screen and (min-width: 47.5em){.fl-from,.fl-to{width:193px;display:inline-block;margin-bottom:auto}
}
@media only screen and (min-width: 63.75em){.fl-from,.fl-to{width:200px;display:inline-block;margin-bottom:auto}
}
.fl-codeshare{border-top:1px solid #f0f0f0;margin:1em 0 -0.5em;padding:0.4em 0 0}
.flight-legs-5 #flight-segment2 .segment-overview{display:none;margin:0 auto 2em auto;width:12%}
@media only screen and (min-width: 47.5em){.flight-legs-5 #flight-segment2 .segment-overview{display:block}
}
.flight-legs-4 #flight-segment2 .segment-overview{display:none;margin:0 auto 2em auto;width:17.5%}
@media only screen and (min-width: 47.5em){.flight-legs-4 #flight-segment2 .segment-overview{display:block}
}
.flight-legs-4 #flight-segment2 .segment-overview .segment-journey{background-position:center 40px}
.flight-legs-4 #flight-segment2 .segment-overview .segment-duration{bottom:3em}
.flight-legs-3 #flight-segment2 .segment-overview{display:none;margin:0 auto 2em auto;width:26.6%}
@media only screen and (min-width: 47.5em){.flight-legs-3 #flight-segment2 .segment-overview{display:block}
}
.flight-legs-3 #flight-segment2 .segment-overview .segment-journey{background-position:center 20px}
.flight-legs-2 #flight-segment2 .segment-overview{display:none;margin:0 auto 2em auto;width:45%}
@media only screen and (min-width: 47.5em){.flight-legs-2 #flight-segment2 .segment-overview{display:block}
}
.flight-legs-2 #flight-segment2 .segment-overview .segment-journey{background-position:center -120px}
.card-bottom.route-fares-summary{height:0;padding:0;border-top:none}
@media only screen and (min-width: 47.5em){.card-bottom.route-fares-summary{border-top:1px solid #EEE}
}
.stops{display:none}
@media only screen and (min-width: 47.5em){.stops{display:inline-block}
}

.card-body{*zoom:1;background:#f1f1f1;position:relative;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;margin-bottom:0.5em;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.2)}
.card-body:before,.card-body:after{content:" ";display:table}
.card-body:after{clear:both}
@media only screen and (min-width: 47.5em){.card-body{background:none repeat scroll 0 0 #FFFFFF;margin-bottom:0;padding-bottom:0}
}
.card-body:hover{border-color:#009800;-webkit-box-shadow:0px 4px 10px 4px rgba(0,0,0,0.25);-moz-box-shadow:0px 4px 10px 4px rgba(0,0,0,0.25);box-shadow:0px 4px 10px 4px rgba(0,0,0,0.25)}
.card-body.is-expanded{border-color:#009800;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);box-shadow:0 1px 3px rgba(0,0,0,0.3)}
.card-body.is-expanded .show-fares,.card-body.is-expanded .icon-down-open{opacity:0;transition:opacity .3s ease-in-out}
@media only screen and (min-width: 47.5em){.card-body.is-expanded .show-fares{opacity:1;transition:none}
}
@media only screen and (min-width: 47.5em){.card-body.is-expanded{padding-bottom:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px}
}
.card-drawers-tab{*zoom:1;margin:0.5em 0 0;padding:0.5em 1em 0}
.card-drawers-tab:before,.card-drawers-tab:after{content:" ";display:table}
.card-drawers-tab:after{clear:both}
.card-drawers-tab li{list-style:none}
.card-drawers-tab li li{list-style-image:none;list-style-type:none;margin-left:0}
.card-drawers-tab li a{float:left;bottom:-1px;color:#666;font-size:14px;font-weight:400;padding:0.5em 1em;position:relative}
@media only screen and (min-width: 47.5em){.card-drawers-tab li a{padding:0.5em 1.5em}
}
.card-drawer-content{background:#fff}
.card-offer{float:right;padding:.3em .5em;background:#FFE;color:#999999;font-size:12px;transition:background .5s ease-in-out;cursor:pointer;margin:1em 1.3em}
.card-offer:hover{color:#666;background:#FFC}

.tabs-details{
	height:auto !important;
}

</style>
<script type="text/x-kendo-template" id="view_wego_template">
	#
		var book_now =  '<a href="'+ best_fare['deeplink'] + '" class="btn btn-warning book"><span class="glyphicon glyphicon-shopping-cart"></span> <?php echo html_entity_decode($this->translator->translator("flight_AirlineFlightSchedules_page_table_book"), ENT_QUOTES, "UTF-8"); ?></a>';
		var details_btn = '<a href="<?php echo $this->url( array('module' => 'Flight','controller' => 'frontend', 'action'   => 'flightdetails', 'instanceId' => $this->escape($params['instanceId']), 'itineraryId' => base64_encode($search_result['id']), 'outboundDate' => $this->escape($this->posted_data['flight_route_departure_date'][0]), 'inboundDate' => $this->escape($this->posted_data['flight_route_arrival_date'][0])), 'Flight-Details-Api/:instanceId/:itineraryId/:outboundDate/:inboundDate',    true); ?>" class="show_details btn btn-block btn-success details"><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_details_label"), ENT_QUOTES, "UTF-8"); ?></a>';
		
		var return_val = ((inbound_segments) && inbound_segments.length > 1) ? true : false ;
		
		var outboundStopOver = (outbound_segments) ? outbound_segments.length : 0;
		var outboundstopOverarr = (outboundStopOver == 0) ? null : (outboundStopOver - 1);

		var inboundStopOver = (inbound_segments) ? inbound_segments.length : 0;
		var inboundstopOverarr = (inboundStopOver == 0) ? null : (inboundStopOver - 1);
	#
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<img src="http://www.mediawego.com/images/partners/66x42/airlines/#= marketing_airline_code #.png" class="img-thumbnail center-block"/>
					<br>
					#= airlineName #
					<span class="stops"># var tripsBreak = (outboundStopOver % 2 )  + 1; # #=  (outboundStopOver == 1) ?  '<?php echo html_entity_decode($this->translator->translator("flight_wego_direct"), ENT_QUOTES, "UTF-8"); ?>' : Math.round(tripsBreak)  + ' <?php echo html_entity_decode($this->translator->translator("flight_wego_stop"), ENT_QUOTES, "UTF-8"); ?>' #</span> 
					<em class="text-muted">#= outbound_segments_flight_duration_format #</em>
					
					<div class="travel-time">
						<span> #= outbound_segments_first_departure_time_format #</span>
						<strong class="text-success">#= outbound_segments_first_departure_code #</strong>
						<span class="separator">-</span>
						<span>#= outbound_segments_last_arrival_time_format #</span>
						<!--<span class="date-diff">(+1)</span>-->
						<strong class="text-success">#= outbound_segments_last_arrival_code #</strong>
					</div>
				</div>
				
				<div class="col-md-4">
					#
					if(inbound_segments)
					{
					#
					<img src="http://www.mediawego.com/images/partners/66x42/airlines/#= marketing_airline_code #.png" class="img-thumbnail center-block">
					<br>
					#= airlineName #
					<span class="stops"># var inboundTripsBreak = (inboundStopOver % 2 )  + 1; # #=  (inboundStopOver == 1) ?  '<?php echo html_entity_decode($this->translator->translator("flight_wego_direct"), ENT_QUOTES, "UTF-8"); ?>' : Math.round(inboundTripsBreak)  + ' <?php echo html_entity_decode($this->translator->translator("flight_wego_stop"), ENT_QUOTES, "UTF-8"); ?>' #</span>
					<em class="text-muted">#= inbound_segments_flight_duration_format #</em>
					
					<div class="travel-time">
						<span>#= inbound_segments_first_departure_time_format #</span>
						<strong class="text-success">#= inbound_segments_first_departure_code #</strong>
						<span class="separator">-</span>
						<span> #= inbound_segments_last_arrival_time_format #</span>
						<span class="date-diff"></span>
						<strong class="text-success">#= inbound_segments_last_arrival_code #</strong>
					</div>
					#
					}
					#
				</div>
				
				<div class="col-md-4 text-center">
					<div class="price">#= currency['symbol'] # <span data-price-usd="#= best_fare['price'] #">#= best_fare['price'] #</span></div>
					#= book_now #<br><br>
					<span class="label label-success">#= best_fare ['provider_code'] #</span> 
				</div>
			</div>
		</div>
		
		<div class="panel-footer text-center">
			<div class="js-card-body is-expanded">
				<div class="row">
					<div class="col-md-2 card-show-details js-show-details" show-details-id="#= id #">
						<span data-alt-text="<?php echo html_entity_decode($this->translator->translator("flight_api_hide_details"), ENT_QUOTES, "UTF-8"); ?>" data-original-text="<?php echo html_entity_decode($this->translator->translator("flight_api_show_details"), ENT_QUOTES, "UTF-8"); ?>"><?php echo html_entity_decode($this->translator->translator("flight_api_show_details"), ENT_QUOTES, "UTF-8"); ?></span>
					</div>
					
					<div class="col-md-8 hide-for-small is-visible">
						<ul class="list-unstyled list-inline">
							#
								var f = 1;
								$.each(fares, function(index, fares_arr){
									if(best_fare ['provider_code'] != fares_arr.provider_code)
									{
							#
										<li>
											<a class="js-deeplink" target="_blank" href="http://www.wego.com/flights/continue?fare_id=#= fares_arr.deeplink_params.fare_id #&route=#= fares_arr.deeplink_params.route #&search_id=#= fares_arr.deeplink_params.search_id #&trip_id=#= fares_arr.deeplink_params.trip_id #">
												<span class="fare-provider-code">#= fares_arr.provider_code # </span>
												<span class="fare-provider-price">
													<span class="rate js-rate">
														<span class="js-rate-currency rate-currency">#= currency['symbol'] #</span>
														<strong class="js-rate-price rate-price" data-price-usd="#= fares_arr.price #">#= fares_arr.price #</strong>
													</span>
												</span>
											</a>
										</li>
							#
										if(f >= 2) return false;
										f++;
									}
								});
							#
						</ul>
					</div>
					
					<div class="col-md-2 js-show-fares show-fares is-visible">
						<span>#= flight_api_view_all_fares #</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="card-drawer js-card-drawer is-opened tabs-fares" data-route-id="#= id #" style="display: none;">
			<div class='tabstrip'>
				<ul>			
					<li class='k-state-active'>
					   <strong><u><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_details_dialog_title"), ENT_QUOTES, "UTF-8"); ?></u></strong>
					</li>
					<li>
					   <strong><u><?php echo html_entity_decode($this->translator->translator("flight_front_page_search_fare_option_dialog_title"), ENT_QUOTES, "UTF-8"); ?></u></strong>
					</li>
				</ul>
				
				<div class="tabs-details">					
					<div class="card-drawer-details card-drawer-content">
						<div class="flight-direction-outbound flight-direction flight-legs-2">	
							<h4><?php echo html_entity_decode($this->translator->translator("flight_front_page_itnerary_depart_label"), ENT_QUOTES, "UTF-8"); ?> 	#= outbound_segments_first_departure_name #  <?php echo html_entity_decode($this->translator->translator("flight_api_to_label"), ENT_QUOTES, "UTF-8"); ?> #= outbound_segments_last_arrival_name # <?php echo html_entity_decode($this->translator->translator("flight_api_via_label"), ENT_QUOTES, "UTF-8"); ?> #= departure_name_via #</h4>
							#
								if(outbound_segments)
								{
							#							
									<div id="flight-segment2">
										#
											$.each(outbound_segments, function(index, outbound_segments_arr){
										#
											#
											  if(outbound_segments_arr.interval_flight_duration_format)
											  {
											#
												<div class="segment-layover-duration">#= outbound_segments_arr.interval_flight_duration_format #</div>
											#
											  }
											#
											<div class="segment-overview">
												<div class="segment-journey">
													<div class="segment-departure">
														<div class="segment-departure-code">#= outbound_segments_arr.departure_code #</div>
														<div class="segment-departure-time"> #= outbound_segments_arr.departure_time_format #</div>
													</div>
													<div class="segment-duration">#= outbound_segments_arr.flight_duration_format #</div>
													<div class="segment-arrival">
														<div class="segment-arrival-code">#= outbound_segments_arr.arrival_code #</div>
														<div class="segment-arrival-time">#= outbound_segments_arr.arrival_time_format # </div>
													</div>
												</div>
											</div>									
										#
											});
										#
									</div>
									
									<div class="flight-leg2 fl-header">
											<div class="fl-carrier"><?php echo html_entity_decode($this->translator->translator("flight_airlines_list_page_name"), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-flightno"><?php echo html_entity_decode(str_replace(':', '.',$this->translator->translator("flight_route_flight_no")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-from"><?php echo html_entity_decode(strip_tags($this->translator->translator("flight_api_from_label")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-to"><?php echo html_entity_decode(ucfirst($this->translator->translator("flight_api_to_label")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-duration"><?php echo html_entity_decode($this->translator->translator("flight_api_duration_label"), ENT_QUOTES, "UTF-8"); ?></div>
											<span class="clear"></span>
									</div>
									
									#
										$.each(outbound_segments, function(index, outbound_segments_arr){
									#
										#
											if(outbound_segments_arr.interval_flight_duration_format)
											{
										#
												<div class="flight-leg2 fl-layover">#= outbound_segments_arr.interval_flight_duration_format # <?php echo html_entity_decode($this->translator->translator("flight_api_layover"), ENT_QUOTES, "UTF-8"); ?> #= outbound_segments_arr.departure_name #</div>
										#
											}
										#
												<div class="flight-leg2">
													<div class="fl-carrier">
														<img class="hide-for-small" src="http://www.mediawego.com/images/partners/66x42/airlines/#= outbound_segments_arr.airline_code #.png">
														<img class="hide-for-medium-up" src="http://www.mediawego.com/images/flights/airlines/27x23/#= outbound_segments_arr.airline_code #.gif">
													</div>
													<div class="fl-flightno">
														<strong>#= outbound_segments_arr.designator_code #</strong>
													</div>
													<div class="fl-from">
														<strong>#= outbound_segments_arr.departure_date_time_format #</strong>
														<br>
														<span class="fl-code">#= outbound_segments_arr.departure_code #</span>
														#= outbound_segments_arr.departure_name #
													</div>
													<div class="fl-to">
														<strong>#= outbound_segments_arr.arrival_date_time_format #</strong>
														<br>
														<span class="fl-code">#= outbound_segments_arr.arrival_code #</span>
														#= outbound_segments_arr.arrival_name #
													</div>
													<div class="fl-duration">#= outbound_segments_arr.flight_duration_format #</div>
													<span class="clear"></span>
												</div>
									#
										});
									#							
							#
								}
							#
						</div>	
						#
							if(inbound_segments)
							{
						#
						<div class="flight-direction-inbound flight-direction flight-legs-2">	
							<h4><?php echo html_entity_decode($this->translator->translator("flight_front_page_AirlineFlightSchedules_trip_type_return"), ENT_QUOTES, "UTF-8").':'; ?> 	#= inbound_segments_first_departure_name #  <?php echo html_entity_decode($this->translator->translator("flight_api_to_label"), ENT_QUOTES, "UTF-8"); ?> #= inbound_segments_last_arrival_name # <?php echo html_entity_decode($this->translator->translator("flight_api_via_label"), ENT_QUOTES, "UTF-8"); ?> #= departure_name_via #</h4>
														
									<div id="flight-segment2">
										#
											$.each(inbound_segments, function(index, inbound_segments_arr){
										#
											#
											  if(inbound_segments_arr.interval_flight_duration_format)
											  {
											#
												<div class="segment-layover-duration">#= inbound_segments_arr.interval_flight_duration_format #</div>
											#
											  }
											#
											<div class="segment-overview">
												<div class="segment-journey">
													<div class="segment-departure">
														<div class="segment-departure-code">#= inbound_segments_arr.departure_code #</div>
														<div class="segment-departure-time"> #= inbound_segments_arr.departure_time_format #</div>
													</div>
													<div class="segment-duration">#= inbound_segments_arr.flight_duration_format #</div>
													<div class="segment-arrival">
														<div class="segment-arrival-code">#= inbound_segments_arr.arrival_code #</div>
														<div class="segment-arrival-time">#= inbound_segments_arr.arrival_time_format # </div>
													</div>
												</div>
											</div>									
										#
											});
										#
									</div>
									
									<div class="flight-leg2 fl-header">
											<div class="fl-carrier"><?php echo html_entity_decode($this->translator->translator("flight_airlines_list_page_name"), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-flightno"><?php echo html_entity_decode(str_replace(':', '.',$this->translator->translator("flight_route_flight_no")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-from"><?php echo html_entity_decode(strip_tags($this->translator->translator("flight_api_from_label")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-to"><?php echo html_entity_decode(ucfirst($this->translator->translator("flight_api_to_label")), ENT_QUOTES, "UTF-8"); ?></div>
											<div class="fl-duration"><?php echo html_entity_decode($this->translator->translator("flight_api_duration_label"), ENT_QUOTES, "UTF-8"); ?></div>
											<span class="clear"></span>
									</div>
									
									#
										$.each(inbound_segments, function(index, inbound_segments_arr){
									#
										#
											if(inbound_segments_arr.interval_flight_duration_format)
											{
										#
												<div class="flight-leg2 fl-layover">#= inbound_segments_arr.interval_flight_duration_format # <?php echo html_entity_decode($this->translator->translator("flight_api_layover"), ENT_QUOTES, "UTF-8"); ?> #= inbound_segments_arr.departure_name #</div>
										#
											}
										#
												<div class="flight-leg2">
													<div class="fl-carrier">
														<img class="hide-for-small" src="http://www.mediawego.com/images/partners/66x42/airlines/#= inbound_segments_arr.airline_code #.png">
														<img class="hide-for-medium-up" src="http://www.mediawego.com/images/flights/airlines/27x23/#= inbound_segments_arr.airline_code #.gif">
													</div>
													<div class="fl-flightno">
														<strong>#= inbound_segments_arr.designator_code #</strong>
													</div>
													<div class="fl-from">
														<strong>#= inbound_segments_arr.departure_date_time_format #</strong>
														<br>
														<span class="fl-code">#= inbound_segments_arr.departure_code #</span>
														#= inbound_segments_arr.departure_name #
													</div>
													<div class="fl-to">
														<strong>#= inbound_segments_arr.arrival_date_time_format #</strong>
														<br>
														<span class="fl-code">#= inbound_segments_arr.arrival_code #</span>
														#= inbound_segments_arr.arrival_name #
													</div>
													<div class="fl-duration">#= inbound_segments_arr.flight_duration_format #</div>
													<span class="clear"></span>
												</div>
									#
										});
									#					
						</div>
						#
							}
						#
					</div>					
				</div>		
				<div class="tabs-details">
					#
						if(fares)
						{
					#	
					<div class="card-drawer-fares card-drawer-content">	
						<div class="fare-options">
						#
							$.each(fares, function(index, fares_arr){
						#
							<div class="fare-option">
								<div class="fare-partner-logo-description fare-section">
									<img src="http://www.mediawego.com/images/partners/80x24/#= fares_arr.provider_code #.gif">
									<span class="fare-description"> #= fares_arr.description # </span>
								</div>
								<div class="fare-price-book fare-section">
									<span class="rate js-rate">
									<span class="js-rate-currency rate-currency">#= currency.symbol #</span>
									<strong class="js-rate-price rate-price" data-price-usd="#= fares_arr.price #">#= fares_arr.price #</strong>
									</span>
									<a class="btn btn-success btn-sm js-deeplink" target="_blank" href="http://www.wego.com/flights/continue?fare_id=#= fares_arr.deeplink_params.fare_id #&route=#= fares_arr.deeplink_params.route #&search_id=#= fares_arr.deeplink_params.search_id #&trip_id=#= fares_arr.deeplink_params.trip_id #"><?php echo html_entity_decode($this->translator->translator("flight_api_view_deal_btn"), ENT_QUOTES, "UTF-8"); ?></a>
								</div>
							</div>
						#
							});
						#
						</div>	
					</div>	
					#
						}
					#
				</div>		
			</div>
		</div>
</script>

<div class="mod flight">
	<h1><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_name'); ?> </h1>
   	
    <div class="row">
    	<div class="col-md-4">
            <div class="well block-search block-flight-search">
                <form id="formAirlineFlightSchedulesSearch" name="formAirlineFlightSchedulesSearch" method="post" action="<?php echo $this->url( array('module'=> 'Flight', 'controller' => 'frontend', 'action'     => 'airlineflightschedules' ), 'AirlineFlightSchedules/*',    true) ?>" onsubmit="return checkRouteFieldValue();" role="form">
                    <div class="form-group"> 
                        <div class="radio-inline">
                            <label><input type="radio" name="trip_type" id="trip_type" value="One way" <?php if($this->posted_data['trip_type'] == 'One way' || empty($this->posted_data['trip_type'])){ echo 'checked="checked"'; } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_one'); ?></label>
                        </div>
                        
                        <div class="radio-inline">
                            <label><input type="radio" name="trip_type" id="trip_type" value="Round" <?php if($this->posted_data['trip_type'] == 'Round'){ echo 'checked="checked"'; } ?> /> <?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_trip_type_round'); ?></label>
                        </div>
                    </div>
                        
                    <div class="form-group"> 
                        <label for="origin"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_origin'); ?></label>
                        <input type="text" name="flight_route_departure[]" id="origin" size="50" value="<?php if(!empty($this->posted_data['flight_route_departure'][0])){ echo $this->posted_data['flight_route_departure'][0]; }else{ echo 'JFK'; } ?>"  class="flight_route_departure form-control"/>
                    </div>
                        
                    <div class="form-group"> 
                        <label for="destination"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_destination'); ?></label>
                        <input type="text" name="flight_route_arrival[]" id="destination" value="<?php if(!empty($this->posted_data['flight_route_arrival'][0])){ echo $this->posted_data['flight_route_arrival'][0]; }else{ echo 'LAX'; } ?>" class="flight_route_arrival form-control"/>
                    </div>
                          
                    <div class="form-group clearfix"> 
                        <label for="startDate"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_startDate'); ?></label><br>
                        <input name="flight_route_departure_date[]" type="text" id="startDate" value="<?php if(!empty($this->posted_data['flight_route_departure_date'][0])){ echo $this->posted_data['flight_route_departure_date'][0]; } ?>" size="15" class="flight_route_departure_date form-control check-date"/>
                    </div>
                        
                    <div class="form-group clearfix flight_route_arrival_date_box" <?php if($this->posted_data['trip_type'] == 'One way' || empty($this->posted_data['trip_type'])){ ?>style="display:none;"<?php } ?>>
                        <label for="endDate"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_endDate'); ?></label><br>
                        <input type="text" name="flight_route_arrival_date[]" id="endDate" value="<?php if(!empty($this->posted_data['flight_route_arrival_date'][0])){ echo $this->posted_data['flight_route_arrival_date'][0]; } ?>" size="15" class="flight_route_arrival_date form-control check-date"/>
                    </div>
                          
                    <div class="form-group"> 
                        <label for="class_type"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_type'); ?></label>
                        <select name="class_type" id="class_type" class="form-control">
                            <option value="Economy" <?php if($this->posted_data['class_type'] == 'Economy'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_1'); ?></option>
                            <option value="Business" <?php if($this->posted_data['class_type'] == 'Business'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_2'); ?></option>
                            <option value="First" <?php if($this->posted_data['class_type'] == 'First'){ ?>selected="selected"<?php } ?>><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_class_3'); ?></option>
                        </select>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                                <label for="adult_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_adult_no'); ?></label>
                                <select name="adult_no" id="adult_no" class="form-control" >
                                    <?php for($i = 1; $i <= 12; $i++){ ?>
                                    <option value="<?php echo $i; ?>" <?php if($this->posted_data['adult_no'] == $i){ ?>selected="selected"<?php } ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="child_no"><?php echo $this->translator->translator('flight_front_page_AirlineFlightSchedules_child_no'); ?></label>
                                <select name="child_no" id="child_no" class="form-control">
                                    <?php for($i = 0; $i <= 12; $i++){ ?>
                                    <option value="<?php echo $i; ?>" <?php if($this->posted_data['child_no'] == $i){ ?>selected="selected"<?php } ?>><?php echo $i; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <a href="javascript:void(0);" class="searchFlightSchedulesButton btn btn-block"><span class="glyphicon glyphicon-search"></span> <?php echo $this->translator->translator('flight_front_page_search_btn'); ?></a>
                </form>
            </div>
      	</div>
        
        <div class="col-md-8">
            <div <?php if($locale_direction == 'rtl'){ ?> class="k-rtl" <?php } ?>>
                <div id="wego-grid"></div>
            </div>
     	</div>
   	</div>
</div>
<div id="dialog_msg" title="<?php echo $this->translator->translator('common_dialog_msg',$this->translator->translator('flight_front_page_AirlineFlightSchedules_name')); ?>"></div>