<?php
$this->headMeta()->setName('keywords',$this->escape($this->flight_info['flight_route_name']));
$this->headMeta()->setName('description',$this->escape($this->flight_info['flight_route_desc']));
$this->headTitle()->headTitle($this->escape($this->flight_info['flight_route_name']),'SET');
$vote = new Vote_Controller_Helper_ShowVoteButton('plus_minus','flight_flights' );
$front_template = Zend_Registry::get('front_template');
?>

<div class="mod flight details">
	<h1><?php echo $this->escape($this->flight_info['flight_route_name']); ?></h1>
    <br><br>
	<div class="text-center">        
		<img src="data/frontImages/flight/airlines/<?php echo $this->escape($this->flight_info['primary_image']); ?>" width="80%" border="0" class="img-thumbnail img-responsive" />
	</div>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-qrcode"></span>&nbsp;
            <?php echo $this->translator->translator('flight_airlines_list_code'). ' : '; ?> <?php echo $this->escape($this->flight_info['airlines_code']); ?>
        </li>
        <?php
        if($this->hotels_db != null && !empty($this->flight_info['hotels_id']))
        {
            $hotels_info = $this->hotels_db->getHotelsInfo($this->flight_info['hotels_id']);
        ?>
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-cutlery"></span>&nbsp;
        	<?php echo $this->translator->translator('flight_front_page_details_include_hotel'); ?></span> <?php echo $this->escape($hotels_info['hotels_name']); ?></span>
        </li>
        <?php
        }
        ?>
        
        <?php
        if($this->tours_db != null && !empty($this->flight_info['tours_id']))
        {
            $tours_info = $this->tours_db->getToursInfo($this->flight_info['tours_id']);
        ?>
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-plane"></span>&nbsp;
            <?php echo $this->translator->translator('flight_front_page_details_include_tour'); ?> <?php echo $this->escape($tours_info['tours_name']); ?>
        </li>
        <?php
        }
        ?>
        
        <?php
        if($this->vacationrentals_db != null && !empty($this->flight_info['vacationrentals_id']))
        {
            $vacationrentals_info = $this->vacationrentals_db->getVacationrentalsInfo($this->flight_info['vacationrentals_id']);
        ?>
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-home"></span>&nbsp;
            <?php echo $this->translator->translator('flight_front_page_details_include_vacationrental'); ?> <?php echo $this->escape($vacationrentals_info['vacationrentals_name']); ?>
        </li>
        <?php
        }
        ?>
        
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-bookmark"></span>&nbsp;
            <?php echo $this->translator->translator('flight_front_page_details_class'); ?> <span class="label label-success"><?php echo $this->escape($this->flight_info['flight_travel_class']); ?></span>
        </li>
        
        <?php
        if(!empty($this->flight_info['flight_route_desc']))
        {
        ?>
        <li class="list-group-item">
        	<span class="glyphicon glyphicon-list-alt"></span>&nbsp;
            <?php echo $this->translator->translator('flight_front_page_details_description'); ?> <?php echo $this->escape($this->flight_info['flight_route_desc']); ?>
        </li>
        <?php
        }
        ?>
	</ul>
    <div class="text-center">
    	<span class="label label-primary">
        	<?php echo strtoupper($this->translator->translator('partial_poll_vote_title')); ?>
        </span>
        <br><br>
    	<?php  $vote->showButton($this->flight_info['id'] , $this->escape($this->flight_info['flight_route_name'])); ?>
    </div>
	<br><br>
    
    <!-- TAB Start -->
    <?php echo $this->headScript()->setFile('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/vendor/scripts/js/responsive-tabs.js'); ?>
	<?php echo $this->headLink()->setStylesheet('application/layouts/scripts/'.$front_template['theme_folder'].'/mobile/css/responsive-tabs.css'); ?>
	<div id="demoTab">
    	<ul class="resp-tabs-list">
            <li><?php echo $this->translator->translator('flight_front_page_details_one_way'); ?></li>
            <?php
				if($this->flight_info['flight_journey_type'] == 'Round')
				{
			?>
            <li><?php echo $this->translator->translator('flight_front_page_details_round'); ?></li>
            <?php
				}
			?>
        </ul>    
        <div class="resp-tabs-container flight-tab">
        	<!-- One Way Trip Start -->
        	<div>
            	<table class="table table-striped table-bordered table-hover">
					<?php
                         if(!empty($this->flight_info['flight_route_terminal']))
                         {
                    ?>
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_terminal'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_route_terminal']); ?></td>
                    </tr>
                    <?php
                        }
                    ?> 
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_adult_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_adult_fair']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_child_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_child_fair']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_infant_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_infant_fair']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_tax'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_tax']).'%'; ?></td>
                    </tr>
                </table>
        
				<?php
                    $route_helper = new Flight_View_Helper_Route();
                    $route_info = $route_helper->getRoute($this->flight_info['id']);		
                    foreach($route_info as $route_key => $routes)
                    {
                        if($routes['route_way_type'] != 'Round')
                        {
                ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                <td><?php echo $this->escape($routes['departure_city']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                <td><?php echo $this->escape($routes['departure_airport']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                <td><?php echo $this->escape($routes['departure_iata']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                <td><?php echo str_replace(',',', ',$this->escape($routes['departure_date'])); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                <td><?php echo $this->escape($routes['departure_time']); ?></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-import"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_city']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_airport']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_iata']); ?></td>
                            </tr>
                            
                            <tr>
                                <td>j<?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                <td><?php echo str_replace(',',', ',$this->escape($routes['arrival_date'])); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_time']); ?></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <?php
                        }
                    }
                ?>
            </div>
            <!-- One Way Trip End -->
            
            <!-- Round Trip Start -->
            <?php
				if($this->flight_info['flight_journey_type'] == 'Round')
				{
			?>
        	<div>
                <table class="table table-striped table-bordered table-hover">
                    <?php
                    if(!empty($this->flight_info['flight_route_terminal']))
                        {
                    ?>
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_terminal'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_route_terminal_round']); ?></td>
                    </tr>
                    <?php
                        }
                    ?> 
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_adult_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_adult_fair_round']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_child_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_child_fair_round']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_infant_fair'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_infant_fair_round']).$this->currency->getSymbol(); ?></td>
                    </tr>
                    
                    <tr>
                        <td><?php echo $this->translator->translator('flight_front_page_details_tax'); ?></td>
                        <td><?php echo $this->escape($this->flight_info['flight_tax_round']).'%'; ?></td>
                    </tr>
                </table>
                <?php				
                    foreach($route_info as $route_key => $routes)
                    {
                        if($routes['route_way_type'] == 'Round')
                        {
                ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_depart'); ?></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                <td><?php echo $this->escape($routes['departure_city']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                <td><?php echo $this->escape($routes['departure_airport']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                <td><?php echo $this->escape($routes['departure_iata']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                <td><?php echo str_replace(',',', ',$this->escape($routes['departure_date'])); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                <td><?php echo $this->escape($routes['departure_time']); ?></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-export"></span> <?php echo $this->translator->translator('flight_AirlineFlightSchedules_page_table_arive'); ?></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td class="title"><?php echo $this->translator->translator('flight_front_page_details_location'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_city']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_airport'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_airport']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_iata'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_iata']); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_days'); ?></td>
                                <td><?php echo str_replace(',',', ',$this->escape($routes['arrival_date'])); ?></td>
                            </tr>
                            
                            <tr>
                                <td><?php echo $this->translator->translator('flight_front_page_details_time'); ?></td>
                                <td><?php echo $this->escape($routes['arrival_time']); ?></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <?php
                        }
                    }
                ?>
            </div>
            <?php
				}
			?>
            <!-- Round Trip End -->
        </div>
	</div>
    <script>
        $("#demoTab").easyResponsiveTabs({
            type: 'accordion', //Types: default, vertical, accordion           
            width: 'auto', //auto or any custom width
            fit: true   // 100% fits in a container
        });
    </script>
    <!-- TAB End -->
</div>